@using IDB.Presentation.MVC4.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>IDB</title>
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    @Styles.Render("~/Scripts/pep/production/resources/styles")
    @Styles.Render("~/Content/NewConfluencePep")
    @Styles.Render("~/Content/Mainframe/bootstrap-3.3.7-dist/css/bootstrap.min.css")
    @Styles.Render("~/Content/loading.css")
    @Styles.Render("~/Content/pep/styles")
    @Styles.Render("~/Content/Messages/jquery_notification.css")

</head>
<body>
    <section class="container-fluid">
        <div id="header-section">
            @RenderSection("Header", required: false)
        </div>
    </section>
    <section class="container-fluid">
        @Confluence.Loader()
        @RenderBody()
    </section>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/NewConfluence")
    <script src="~/Scripts/jquery.resize/jquery.resize.js"></script>
    <script src="~/Scripts/Mainframe/fixIframe.js"></script>
    <script src="~/Scripts/Messages/jquery_notification.js"></script>

    @RenderSection("JS", false)
    @Html.WriteScriptBlocks()
    @Scripts.Render("~/Scripts/pep/production/scripts")
    @*<script id="microloader" data-app="6fefbf3f-eb9a-4218-81e3-37e65824dbfd" type="text/javascript" src="~/Scripts/SenchaWorkspace/appPep/bootstrap.js"></script>*@

    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
</body>
</html>