@using IDB.MW.Application.VMRModule.ViewModels
@model VmrCommentTabViewModel

@Confluence.InputHidden(Model.IsOpcAgreement.ToString().ToLower(), "isOpcAgreement")
@if (Model.IsVisibleInstructionContainer)
{
    <div class="mb15">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    @Confluence.Label(Localization.GetText("VER.GLOBAL.Instructions"))
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(Model.Instruction)
                </div>
                <div class="col-md-12 text-danger">
                    @Html.Raw(Model.NoteInstruction)
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("Partials/CommentPartial/CommentFilterPartial", Model.VmrFilterComments)

<div class="col-md-12 mt5">
    <div class="pull-left">
        @Confluence.Label(Localization.GetText("GLOBAL.RESUTLS.PER.PAGE"))
        @Confluence.InputDropDown("999999", "ddlPaginationComment",
            (List<SelectListItem>) ViewBag.ResultsPerPageList, placeholder: null, showEmptyOption: false,
            orderAsc: false, required: false)
    </div>
    <div class="pr10 row pull-right pb20">
        @ButtonColapseComment()
    </div>
</div>

@if (Model.IsVisibleGenerateMinutes)
{
    if (Model.SubmitInstanceId != 0)
    {
        @Confluence.InputHidden(Model.SubmitInstanceId.ToString(), "submitByMinute")
    }
    <div class="col-md-12 text-right">
        @Confluence.ButtonBlue(Localization.GetText("VMR.MM.MeetingRoom.GenerateMinute"),
                    "btnMinute",
                    action: "GenerateMinute")
    </div>
}

@if (Model.VmrNewComment != null && Model.VmrNewComment.IsVisibleSection)
{
    @Html.Partial("Partials/CommentPartial/AddCommentPartial", Model.VmrNewComment)
}

@Confluence.InputHidden(Model.CountRows.ToString(), "totalComments")
<div class="col-md-12 mb20 mt30" id="commentsDiv">
    @Html.Partial("Partials/CommentPartial/CommentList", Model.Comments)
</div>

<div id="PaginationComment" class="Pagination col-md-12">
</div>


@helper ButtonColapseComment()
{
    string expandText = Localization.GetText("GLOBAL.CONTROL.EXPANDALL");
    string collapseText = Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL");

    <div dd-exp="@expandText" dd-coll="@collapseText" class="btnCollapseAll buttonExpand" data-action="collapseComments">
        <span>
            <span></span>
        </span>
        <label>@expandText</label>
    </div>
}
