@using IDB.MW.Application.VMRModule.ViewModels
@model VmrCommentTabViewModel

<div class="col-md-12 mt5">
    <div class="pull-left">
        @Confluence.Label(Localization.GetText("GLOBAL.RESUTLS.PER.PAGE"))
        @Confluence.InputDropDown("999999", "ddlPaginationComment",
            (List<SelectListItem>)ViewBag.ResultsPerPageList, placeholder: null, showEmptyOption: false,
            orderAsc: false, required: false)
    </div>
</div>
@Confluence.InputHidden(Model.CountRows.ToString(), "totalComments")
<div id="remarksDiv" class="col-md-12 mt5">
    @if (!Model.Comments.Any())
    {
        <div class="pb10 pt15 sectionComment">
            <div>
                @Confluence.LabelSubTitleGroup(Localization.GetText("VMR.MM.MeetingRoom.TabComments.NoResult"))
            </div>
        </div>
    }
    else
    {
        @Html.Partial("Partials/CommentPartial/CommentList", Model.Comments)
    }
</div>
<div id="PaginationComment" class="Pagination col-md-12">
</div>