@using IDB.MW.Application.CPDModule.ViewModels.Annexes
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.General
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Architecture.DataTables.Common

@model IndicativePipelineTabViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
}

<div class="row">
    <div class="pl15 pr15 ftl">
        @Confluence.LabelsGroup(title: Localization.GetText("COMMON.LastUpdate"),
                                contentAlways: Confluence.LabelBold(FormatHelper.Format(Model.LastUpdate, formatDate)))
    </div>

    <div class="pl15 pr15 ftl space-username">
        @Confluence.LabelsGroup(title: Localization.GetText("COMMON.Username"),
                                contentAlways: Confluence.LabelBold(Model.UserName))
    </div>
    <div class="ftr pr15">
        @(Html.CollapseAll("CollapseAllAnnexesTable")
     .CollapseSingleSelector("[data-name=\"CollapseAnnexesTable\"]"))
    </div>
</div>

<div class="row row-header mb30 pl15">
    <div class=" subtitleGroup floatLeft">
        @Localization.GetText("CPD.Annexes.IndicativePipeline.Title")
    </div>
</div>

@Html.Partial("EditPartial/OperationDatatablePartial", Model.IICFinancialOperations)

