@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Architecture.DataTables.Common

@using IDB.MW.Application.CPDModule.ViewModels.Annexes

@model StrategicObjectiveRowViewModel

@{
    var attributes = new Dictionary<string, string>();
    if (Model.ObjectiveId == 0)
    {
        attributes.Add("id", "new-");
    }
    else
    {
        attributes.Add("id", Model.ObjectiveId.ToString());
    }
}
<div class="component-container" data-component-id="@Model.ObjectiveId">
    <span data-ordernumber class="component-order-number numberModified">@Model.OderNumber</span>
    @Confluence.InputText(Model.OderNumber.ToString(), "Component-OrderNumber", htmlClass: "hide", dataAttributes: attributes)
    @(Html.CollapseSingle("collapseComponent")
        .HtmlClass("component-collapse collpseMlmodified")
        .AsociatedCollapseAllSelector("[data-name=collapseAllComponent]")
        .TargetRegionSelector(string.Format("#Component-{0}", Model.ObjectiveId)))
    <div class="component-container-data componentModified" data-section-objective style="padding-bottom:30px;">
        <div class="lblcontent mb5">
            <label class="labelNormal" style="font-size: 14px; font-family: 'OpenSans-Regular'; color: rgb(112,119,131);">@Localization.GetText("CPD.Label.StrategicObjective")</label>
        </div>
        <div data-section-outcome>
            <div id="Component-@Model.ObjectiveId" class="component-outcome-container">
                <div class="lblvalue pr30 mb10">
                    <label class="labelNormal bold" style="font-size:13px !important;">@Model.Name</label>
                </div>
                @Html.Partial("EditPartial/EditCPDUCSOutcomes", Model.StrategicOutcomes)
            </div>
        </div>
    </div>
</div>