@using IDB.MW.Domain.Models.Architecture.Enumerations
@using IDB.Presentation.MVC4.Helpers
@model System.Collections.Generic.List<IDB.MW.Domain.Models.Signature.SignatureModel>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/modal/modal.js")"></script>
    <script src="@Url.Content("~/Scripts/Modules/Signature/Main.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Messages/jquery_notification.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.3.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/handlebars-v1.3.0.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>

  
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />   
    <link rel="stylesheet" type="text/css" href ="@Url.Content("~/Content/modulos.css")"  />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />   
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Messages/jquery_notification.css")" /> 
                    
<style type="text/css">
        
        #user{ width: 92.5%; 
               color: #000000; 
               background: #FFFFFF; 
               border-radius: 5px; 
               padding: 0 0.5em; 
               font-family: "OpenSans-Italic"; 
               min-height: 2.1875em; 
               margin-bottom: 2.1875em; 
               border: 1px solid #CCCCCC; }
      
    </style>


@Html.Hidden("hdnSearchPath", Url.Action("JsonSignatures", "Signatures", new { area = "Signatures" }))

@using (Html.BeginForm("IndexSignatures", "Signatures", FormMethod.Post))
{
    if (ViewData["Message"] != null)
        {
            @Html.ShowNotificationMessage((MessageConfiguration)ViewData["Message"]);
        }
   
    @Html.Hidden("rutasignature",@Url.Action("DeleteSignatureByUser", "Signatures", new { area = "SignaturesAndContacts"}))    

    @Html.Hidden("mensajeDelete",@Localization.GetText("This action cannot be undone, are you sure you wish to continue?"))
     @Html.Hidden("Delete",@Localization.GetText("Delete"))
     @Html.Hidden("Cancel",@Localization.GetText("Cancel"))
    @Html.Hidden("DeleteSignature",@Localization.GetText("Delete Signature"))
    
<body class="backgroundFFFFFF">
<form>
<section class="central"  id="sectBody">
    <style>
        td
        {
            position: relative; min-height: 60px; vertical-align: middle;
        }
    </style>

<div  class="mod_contenido_central impacts" >
       
        <div id="ui_fi_001_edit" class="padding20 everisWidth" style="width:95%;">
            
                <h3 class="headingh2" style="margin-left:4px">@Localization.GetText("Signatures")</h3>
                 <div class="editingButtonsEdit">                   
                     <input type="button"  class="btn-primary filter-clauses" value=" @Localization.GetText("Filter Signatures")" id="btnFilter" style="height:35px;"/>                       
                </div>
            
           
                 <div class="filter" style="display:none;margin-left:6px;width:98.5%;">
              <div class="cajaGeneralFilter2" style="margin: 2em 0;">
               <form class="filter2Content">
                <div id="searchBoxContainerUIRM023" class="contenidoFilter5" style="width:97.5%">
                                
                  <div class="relative h50px">
                     <div class="inputContainer w45 absolute">
                        <div class="verticalAlignMiddle">
                            <input id="user" type="text"  placeholder="@Localization.GetText("Username")" name="username">
                        </div>
                     </div>
                   </div>           
                        
                    <ul class="optionList">
                                <li class="smallFilter2">                                                         
                     <label for="FilterForm">
                        <input type="submit" class="btn-primary" id="filterBtn" value=" @Localization.GetText("Filter")" style="width:109px;height:35px;margin-left:31px">
                     </label>
                      <label for="FilterForm">
                        <input type="button" class="btn-primary" value=" @Localization.GetText("Clear All")" id="clearBtn" style="width:109px;height:35px;">
                    </label> 
                           </li>
                        </ul>           
                 </div>
             </form>
            </div>
            </div>

          @*Grilla*@

            <div class="mod_style mod_tabla_plegable mod_style_plegable"  style="width:99%;" >
                <div>
                <table id="tableAsignature" >
                    <thead>
                        <tr>                                                                                 
                            <th class="btn_azul_oscuro_flecha" style="width:30%">@Localization.GetText("Username")</th>
                            <th class="btn_azul_oscuro_flecha" style="width:25%">@Localization.GetText("Last Update")</th>
                            <th class="btn_azul_oscuro dato04" style="width:20%">@Localization.GetText("Signature")</th>
                            <th class="btn_azul_oscuro dato04" style="width:15%">@Localization.GetText("Action")</th>                                                                                                                  
                        </tr>
                    </thead>
                    <tbody >
                       
                       @foreach (var item in Model)
                       {

                           var base64 = item.image != null ? Convert.ToBase64String(item.image) : null;
                           var imgSrc = item.image != null ? String.Format("data:image/gif;base64,{0}", base64) : null;
                                            
                        <tr>                          
                            <td ><a  href="@(Url.Action("IndexViewSignatures", "Signatures", new { area = "SignaturesAndContacts", username = item.UserId }))" >@item.UserId</a></td>
                            
                             <td id="we" style="position: relative; min-height: 60px; vertical-align: middle;">@String.Format("{0:dd MMM yyy}", @item.Modified)</td>                                                                                                                      
                            <td>                                       
                                <div id="@string.Concat("dvhref", @item.UserSignatureId.ToString())">
                                   <a href="javascript:ViewImage('@item.DocumentReference','@string.Concat("img", @item.UserSignatureId.ToString())','@item.UserSignatureId.ToString()');" id=@string.Concat("href", @item.UserSignatureId.ToString()) >ViewSignature</a>
                                </div>
                            </td>                                        
                                                                    
                            <td>
                              
                                  @if (Html.HasPermission("Signature Write"))
                                  {
                                  <input type="button" value="" class="operationButton editIcon" onclick="@("window.location.href='" + @Url.Action("IndexEditSignatures", "Signatures", new { area = "SignaturesAndContacts", username = item.UserId }) + "'");" >
                                  }
                                    @{
                                        var secureUrl = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(item.DocumentReference);
                                    }
                                    <a href=@secureUrl target="_blank">
                                        <input type="button" class="noBorder operationButton documentSupportDownloadIcon cursorPointer" />
                                    </a>                                   
                                  @if (Html.HasPermission("Signature Write"))
                                  {
                                  <input type="button" value="" class="operationButton removeIcon" onclick="deleteSignature(this,@item.UserSignatureId.ToString());" >
                                 }
                            
                           </td>
                        </tr>   
                        
                       }
                    </tbody>
                  </table>    
                </div>

                <div class="k-toolbar">
                   <div class="addOneContainer w80 h100">
                       @if (Html.HasPermission("Signature Write"))
                       {
                         <a href="@Url.Action("IndexCreationSignatures", "Signatures")" title=" @Localization.GetText("New Signature")" class="k-button newIndicatorSig"><span class="k-button-">@Localization.GetText("New Signature")</span></a>
                       }
                 </div>
               </div>
                                          
            </div>                       
          </div>    
              
   </div>  
 </section>
    </form>
     </body>  
}
