
@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.Visualization.VisualizationPorfolio.VisualizationPorfolioSearch
@{
    ViewBag.Title = "Create";
}

<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/cl_ui_rt_001.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/VisualizationPorfolioCustom.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Reports/VisualizationPorfolioScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/CommonRuleReports.js")"></script>


<body class="backgroundFFFFFF">
    <div id="ContainerVisualizationPorfolioReport">

        <div class="verticalMargin20 w100">
            <h3 class="font2em AlingTitles">@Localization.GetText("Reports - Visualization")</h3>

        </div>
        <div class="relative h50px verticalMargin40">
            <h4 class="font1-5em absolute AlingTitles">@Localization.GetText("Visualization Summary Report")</h4>
            <input type="button" class="absolute absRight button blueButton alingFilterButtonRigth" id='showFilterButtonReportsRS001' value="@Localization.GetText("Filter")">
        </div>

        @using (@Html.BeginForm("Create", "VisualizationPorfolioReport", FormMethod.Post, new { @id = "FormVisualizationPorfolioReport" }))
        {
            @Html.HiddenFor(x => x.OperationID);
            @Html.HiddenFor(x => x.ExportType);
            <div id="searchBoxContainerReportsRS001" class="padding20 grayBackground font08em hideNI" style="display: block">

                <div class="centerContent w96 relative h50px">

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="CountryDepartment" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Country Department")</label>
                            @Html.ListBoxFor(x => x.CountryDepartment, new MultiSelectList(ViewBag.ListCountryDepartment, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                            <a id="LinkFilterCountryPorfolioVisualization" data-route="@Url.Action("FilterCountrys","VisualizationPorfolioReport")" class="noShow"></a>
                        </div>
                    </div>

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="SectorDepartment" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Sector Department")</label>
                            @Html.ListBoxFor(x => x.SectorDepartment, new MultiSelectList(ViewBag.ListSectorDepartment, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                            <a id="LinkFilterDivisionVisualizationPorfolio" data-route="@Url.Action("FilterDivision","VisualizationPorfolioReport")" class="noShow"></a>
                        </div>
                    </div>

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="VODeliveryStatus" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Visual Output Delivery Status Flag")</label>
                            @Html.ListBoxFor(x => x.VODeliveryStatus, new MultiSelectList(ViewBag.ListVisualOutputDeliveryStatus, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                        </div>
                    </div>

                </div>

                <div class="centerContent w96 relative h50px box2">

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="Country" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Country")</label>
                            @Html.ListBoxFor(x => x.Country, new MultiSelectList(ViewBag.ListCountry, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                        </div>
                    </div>

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="Division" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Division")</label>
                            @Html.ListBoxFor(x => x.Division, new MultiSelectList(ViewBag.ListDivision, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                        </div>
                    </div>

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="TeamMember" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Team Member")</label>
                            @Html.TextBoxFor(x => x.TeamMember, new { @class = "grayBorder textBoxCustom", @placeholder = "Team Member", @maxlength = "50" })
                        </div>
                    </div>

                </div>

                <div class="centerContent w96 relative h50px box3">

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="StartYear" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Start Year")</label>
                            @Html.ListBoxFor(x => x.StartYear, new SelectList(Model.ListStartYear), new { @class = "w100 kendoDropDown selectCustom" })
                        </div>
                    </div>

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="EndYear" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("End Year")</label>
                            @Html.ListBoxFor(x => x.EndYear, new SelectList(Model.ListEndYear), new { @class = "w100 kendoDropDown selectCustom" })
                        </div>
                    </div>

                    <div class="inline-block inputContainer w30">
                        <div class="inline-block inputContainer w30">
                            @Html.CheckBoxFor(x => x.ValidatedResultMatrix, new { @class = "fancy-checkbox" })
                            @Html.LabelFor(x => x.ValidatedResultMatrix,
                            new
                            {
                                @class = "fancy-label",
                                @id = "LabelForValidatedResultMatrix"
                            })
                        </div>
                    </div>

                </div>
                @{
                                              IEnumerable<SelectListItem> lista = new SelectList(new[]
                      {
                          new SelectListItem{ Value = "False", Text = "No" },
                          new SelectListItem{ Value = "True", Text = "Yes" }
                      }, "Value", "Text");

                                              ViewBag.ListESGTracking = lista;
                }

                <div class="centerContent w96 relative h50px box4">

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="ESGTracking" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("ESG Tracking")</label>
                            @Html.ListBoxFor(x => x.ESGTracking, new SelectList(ViewBag.ListESGTracking, "Value", "Text", ViewBag.Values), new { @class = "w100 kendoDropDown selectCustom" })
                        </div>
                    </div>

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="External_Internal_Map" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("External / Internal Map")</label>
                            @Html.ListBoxFor(x => x.External_Internal_Map, new SelectList(ViewBag.ListExternalInternalMap, "Value", "Text", ViewBag.Values), new { @class = "w100 kendoDropDown selectCustom" })
                        </div>
                    </div>

                </div>

                <div class="verticalMargin20 rightAlign w96 centerContent boxFilter">
                    <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad" id="AjaxLoadForVisualizationPorfolio" />
                    <input type="submit" class="button blueButton" value="@Localization.GetText("Submit")">
                </div>

            </div>

            <iframe id="frameReportVisualizationPorfolio" class="iframeReportsCustom"></iframe>

            <div id="ContentControlsExportVisualizationPorfolioReport">
                <div class="verticalMargin20 rightAlign w92-6">
                    <span class="alingImageRigth">
                        <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad AjaxExportRight" id="AjaxLoadForVisualizationPorfolioExport" />
                    </span>
                    <input id="Btn_ExportPDFVisualizationPorfolioReport" type="button" class="button blueButton" value="@Localization.GetText("Export PDF")">
                    <input id="Btn_ExportExcelVisualizationPorfolioReport" type="button" class="button blueButton" value="@Localization.GetText("Export Excel")">
                    <a id="LinkExportVisualizationPorfolioReport" class="noShow" data-route="@Url.Action("ExportVisualizationPorfolioSearchReport", "VisualizationPorfolioReport")"></a>
                </div>
            </div>
        }

    </div>
</body>
