@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers

@model IDB.Presentation.MVC4.Areas.TC.Models.TCHeaderP4ViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="row row-header font-header">
            <div class="col-md-4">
                @Localization.GetText("TC.Header.Instructions").HtmlEncode()
            </div>
            <div class="col-md-8">
                @Localization.GetText("TC.TCAbstract.BasicData.OperationNumber").HtmlEncode()
            </div>
        </div>
        <div class="row row-body-50 font-body">
            <div class="col-md-4">
                @Model.Instructions.HtmlEncode()
            </div>
            <div class="col-md-8">
                @Model.OperationNumber.HtmlEncode()
            </div>
        </div>
        <div class="row row-header font-header">
            <div class="col-md-4">
                @Localization.GetText("TC.HeaderP4.Fund").HtmlEncode()
            </div>
            <div class="col-md-8">
                @Localization.GetText("TC.HeaderP4.FundCoordinador").HtmlEncode()
            </div>
        </div>
        <div class="row row-body-40 font-body">
            <div class="col-md-4">
                @Model.Fund.HtmlEncode()
            </div>
            <div class="col-md-8">
                @Model.FundCoordinator.HtmlEncode()
            </div>
        </div>
    </div>
</div>
