@using IDB.Presentation.MVC4.Helpers

@{ MvcHelpers.ViewBag = ViewBag; }

<!DOCTYPE html>
<html>
<head>
    <title>IDB</title>
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    @Styles.Render("~/Content/cssBase")
    @Styles.Render("~/Content/Style/FundingProcess")
    @Styles.Render("~/Content/themes/base/cssBase")
    @Styles.Render("~/Content/cssPopups")
    @Styles.Render("~/Content/Confluence")
    @Styles.Render("~/Content/Tooltipster")
    @{Html.RenderPartial("~/Views/Shared/TrackingHeader.cshtml");}
</head>
<body>
    @Confluence.Loader(null, ViewBag.showLoader)
    <section class="container-fluid">
        <div id="header-section">
            @RenderSection("Header", required: false)
        </div>
    </section>
    <section class="container-fluid">
        @RenderBody()
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/scripts")
    <script type="text/javascript">
        idbg.config.basePath = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
        idbg.config.baseSharePointAddress = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
        idbg.config.language = '@Localization.CurrentLanguage';
        idbg.init();
    </script>
    @Scripts.Render("~/bundles/TooltipsterScripts")
    @Scripts.Render("~/Scripts/FundingProcess")
    @RenderSection("scripts", false)
    @Html.WriteScriptBlocks()
    <script type="text/javascript">
        ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
        BIDConfig.CreateValidatorOnEdit = true;

        registerCallback(function () {
            window.setInterval(function () {
                postUrl('@Url.Action("Heartbeat", "View", new { area="TC" })')
            }, 5 * 60 * 1000);
        }, true);
    </script>
    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <script type="text/javascript">
            registerCallback(function () {
                showMessage("@ViewBag.ErrorMessage", false);
            });

        </script>
    }
    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
</body>
</html>