@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers

@model IDB.MW.Application.TCAbstractModule.ViewModels.Shared.OperationStatusViewModel

<div class="modalBodyInformation lineheight">
    <p>
    @if (Model.Message != null)
    {
        <p>@Model.Message.HtmlEncode()</p>
    }
    @if (Model.FundName != null)
    {
        <p>@Localization.GetText("TC.FundingProcess.Fund") @Model.FundName.HtmlEncode()</p>
    }
    @if (Model.Date != null)
    {
        <p>@Localization.GetText("TC.FundingProcess.DateSent")  @Model.Date.HtmlEncode()</p>
    }
    @if (Model.Time != null)
    {
        <p>@Localization.GetText("TC.FundingProcess.TimeSent") @Model.Time.HtmlEncode()</p>
    }
    @if (Model.Version != null)
    {
        <p>@Localization.GetText("TC.FundingProcess.Version") @Model.Version.HtmlEncode()</p>
    }
    @if (Model.Status != null)
    {
        <p>@Localization.GetText("TC.FundingProcess.Status") @Model.Status.HtmlEncode()</p>
    }
    </p>
</div>
