@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.General.Helpers

@model IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.HeaderViewModel

@{
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;
}

<div class="header">
    <div class="row row-header font-header">
        <div class="col-md-4">
            @Localization.GetText("TC.Header.LastUpdate")
        </div>
        <div class="col-md-4">
            @Localization.GetText("TC.Header.TCAbstractVersion")
        </div>
        <div class="col-md-4">
            @Localization.GetText("TC.Header.TCAbstractStatus")
        </div>
    </div>
    <div class="row row-body-40 font-body">
        <div class="col-md-4">
            @FormatHelper.Format(Convert.ToDateTime(Model.LastUpdate), formatDate).HtmlEncode()
        </div>
        <div class="col-md-4">
            @FormatHelper.Format(Model.TCAbstractVersion, "#0.0").HtmlEncode()
        </div>
        <div class="col-md-4">
            <span id="status">@Model.TCAbstractStatus.HtmlEncode()</span>
        </div>
    </div>
</div>
