@section JavaScript {
   <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars-v1.3.0.js")"></script>
   <script type="text/javascript" src="@Url.Content("~/Scripts/Pagination/main.js")"></script>
   <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Administration/CloseOfPMRCycle/Edit.js")"></script>
}

@section CSS {

   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Pagination/main.css")" />
}
@{
   var HasOpenCycle = (bool)ViewBag.HasOpenCycle;
}

@Html.Hidden("SearchUrl", "", new { data_search_path = Url.Action("Search", "CloseOfPMRCycle", new { area = "Administration" }) })
<div id="mainPMRContent" class="mod_contenido_central">
   <h3 class="headingh2">@Localization.GetText("Close of PMR Cycle")</h3>

   @if (HasOpenCycle)
   {

      using (Html.BeginForm("CloseCycle", "CloseOfPMRCycle", FormMethod.Post, new { id = "CloseCycleForm" }))
      {         
      @Html.Hidden("CycleClosingDate", DateTime.Now)         
      }
      <div class="operationData">
         <table id="tableCycle" class="grid w100" style="width: 100%; font-size: 12px">
            <thead>
               <tr>
                  <td></td>
                  <td>
                     @Localization.GetText("Cycle")
                  </td>
                  <td>
                     @Localization.GetText("Status")
                  </td>
                  <td>
                     @Localization.GetText("Closing Date")
                  </td>
               </tr>
            </thead>
            <tbody id="grdPmrCycle" class="grayColor alignLeft">
            </tbody>
         </table>
      </div>
      <div id="customPaginator" class="marginLeft4Con7-f02" style="width: 97%; float: right;">
      </div>
      <div class="editingButtonsEdit bottom" style="float: right; vertical-align: central;">
         <a href="@(Url.Action("Index", "CloseOfPMRCycle", new { area = "Administration" }))" 
               style="padding-top:inherit;" class="cancel link12" title="@Localization.GetText("Cancel")">@Localization.GetText("Cancel")</a>
         <a href="javascript:void(0);" id="btnCloseCycle" class="btn btn-primary_2" style="width: auto;" title="Close">Close cycle</a>
      </div>        

   }
   else
   {
       using (Html.BeginForm("OpenCycle", "CloseOfPMRCycle", FormMethod.Post, new { id = "OpenCycleForm" }))
       {
       }

       <div class="operationData">

         <table id="tableCycle" class="grid w100" style="width: 100%; font-size: 12px">
            <thead>
               <tr>
                  <td></td>
                  <td>
                     @Localization.GetText("Cycle")
                  </td>
                  <td>
                     @Localization.GetText("Status")
                  </td>
                  <td>
                     @Localization.GetText("Closing Date")
                  </td>
               </tr>
            </thead>
            <tbody id="grdPmrCycle" class="grayColor alignLeft">
            </tbody>
         </table>
      </div>
      <div id="customPaginator" class="marginLeft4Con7-f02" style="width: 97%; float: right;">
      </div>

      <div class="editingButtonsEdit bottom" style="float: right; vertical-align: central;">
         <a href="@(Url.Action("Index", "CloseOfPMRCycle", new { area = "Administration" }))" 
               style="padding-top:inherit;" class="cancel link12" title="@Localization.GetText("Cancel")">@Localization.GetText("Cancel")</a>
         <a href="javascript:void(0);" id="btnOpenCycle" class="btn btn-primary_2" style="width: auto;" title="Open">@Localization.GetText("Open cycle")</a>
      </div>
   }
</div>

<div style="visibility: hidden;">
   <div id="closeWarning">
      <div style="padding: 20px;">
         @Localization.GetText("The action to be executed will not be able to be undone. Would you like to proceed with the close of the cycle?")
      </div>
      <div class="pie pieReassign">
         <div class="botones">
            <a title="Cancel" class="cancel" id="lnkCancelCloseCycle" href="javascript:void(0)">@Localization.GetText("Cancel")
            </a>
            <label for="btnCloseCycle">
               <input type="button" value="@Localization.GetText("Ok")" class="btn btn-primary" id="btnConfirmCloseCycle">
            </label>
         </div>
      </div>
   </div>

   <div id="openWarning">

      <div style="padding: 20px;">
         @Localization.GetText("The action to be executed will not be able to be undone. Would you like to proceed with the creation of a new cycle?")
      </div>
      <div class="pie pieReassign">
         <div class="botones">
            <a title="Cancel" class="cancel" id="lnkCancelOpenCycle" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
            <label for="btnCloseCycle">
               <input type="button" value="@Localization.GetText("OK")" class="btn btn-primary" id="btnConfirmOpenCycle">
            </label>
         </div>
      </div>

   </div>
</div>



@* Render GridRows HandleBar Template *@
@Html.Partial("CloseOfPMRCycleTemplate")

@* Render pagingFooter HandleBar Template *@
@Html.Partial("~/Views/Pagination/TemplatesJS/PagingFooterTemplate.cshtml")