
@model IDB.MW.Domain.Models.Administration.AdministrationModel

@section JavaScript {
   <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars-v1.3.0.js")"></script>
   <script type="text/javascript" src="@Url.Content("~/Scripts/Pagination/main.js")"></script>
   <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Administration/CloseOfPMRCycle/main.js")"></script>

}

@section CSS {

   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Pagination/main.css")" />
}

@Html.Hidden("SearchUrl", "", new { data_search_path = Url.Action("Search", "CloseOfPMRCycle", new { area = "Administration" }) })
<div class="mod_contenido_central">
   <h3 class="headingh2">@Localization.GetText("Close of PMR Cycle")</h3>
   <div class="operationData">

      <table id="tableCycle" class="grid w100">
            <thead>
               <tr>
                  <td>
                  </td>
                  <td>
                        @Localization.GetText("Cycle")
                  </td>

                  <td>
                        @Localization.GetText("Status")
                  </td>
                  <td>
                        @Localization.GetText("Closing Date")
                  </td>
               </tr>
            </thead>
         <tbody id="grdPmrCycle" class="grayColor alignLeft">
            </tbody>
         </table>
         </div>
   <div id="customPaginator" class="marginLeft4Con7-f02" style="width: 97%; float: right;">
   </div>

   <div class="editingButtonsEdit bottom" style="float: right;">
      <a id="btnEditCycle" href="javascript:void(0);" data-route="@Url.Action("Edit", "CloseOfPMRCycle", new { area = "Administration" })"  class="btn btn-secondary editPhysicalProgress" title="@Localization.GetText("Edit")">@Localization.GetText("Edit")</a>
   </div>
</div>


@* Render GridRows HandleBar Template *@
@Html.Partial("CloseOfPMRCycleTemplate")

@* Render pagingFooter HandleBar Template *@
@Html.Partial("~/Views/Pagination/TemplatesJS/PagingFooterTemplate.cshtml")

