<tr class="@ViewBag.clase" data-id="@DateTime.Now.ToString("ddMMyyyyHHmmsff")">
    <td class="hide">
        <span data-pagemode="edit">
            @Confluence.InputHidden("", "hdIncreaseId")
            @Confluence.InputHidden("", "hdSapCode")
            @Confluence.InputHidden("", "hdOCSpecialProgram")
            @Confluence.InputHidden("", "hdFundId")
            @Confluence.InputHidden("", "hdValidationStageId")
            @Confluence.InputHidden("False", "hdIsValidatedInLms")
            @Confluence.InputHidden("", "hdFinancingTypeId")
            @Confluence.InputHidden("USD", "fundCurrency")
            @Confluence.InputHidden("", "CurrentFinancingFund")
            @Confluence.InputHidden("", "hdIncreaseId")
            @Confluence.InputHidden("", "CurrentFinancingType")
            @Confluence.InputHidden("Status", "statusIncrease")
        </span>
    </td>
    <td class="CurrentFinancingApproval">
        <span data-pagemode="edit">
            @Confluence.InputDropDown(null, "FinancingTypeId", ViewBag.data, width: "100%")
        </span>
    </td>
    <td class="CurrentFinancingFundCurrency">
        <span data-pagemode="edit">
            @Confluence.InputHidden("USD", "fundCurrency")
        </span>
    </td>
    <td class="CurrentFinancingAmount text-right">
        <span data-pagemode="edit">
            @Confluence.InputDecimal(null, "Amount", false, minValue: "0.01", width: "100%", placeholder: "0.00")
        </span>
    </td>
    <td class="CurrentFinancingAmountUS text-right">
        @Confluence.LabelDecimal(Convert.ToDecimal("0.00"))
    </td>
    <td class="CurrentFinancingEffective">
        <span data-pagemode="edit">
            @Confluence.InputDatePicker(null, "EffectiveDate", width: "100%")
        </span>
    </td>
    <td class="CurrentFinancingStage"></td>
    <td class="CurrentFinancingActions text-center">
        <input type="hidden" name="registerIncreases" value="0" />
        <span data-pagemode="edit">
            <span>
                @Confluence.ButtonBlue(Localization.GetText("OP.FD.TabIncreases.Increases.RegisterIncrease"), "btnRegiterIncrease", "registerRowIncreases", width: "110px")
                @Confluence.ButtonTrash(null, action: "removeRowIncreases")
            </span>
        </span>
    </td>
</tr>