@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService.FundIncreasesViewModel

<div class="col-md-12">
    <div id="DataTableCurrentFunds_wrapper" class="dataTables_wrapper no-footer">
        <table id="DataTableCurrentFunds" class="tableNormal endSpacing" role="grid" style="border-bottom: 0">
            <thead>
                <tr role="row">
                    <th class="hide"></th>
                    <th class="w90">@Localization.GetText("OP.FD.TabIncreases.CurrentFunds.ApprovalNumber")</th>
                    <th>@Localization.GetText("OP.FD.TabIncreases.CurrentFunds.FinancingType")</th>
                    <th>@Localization.GetText("OP.FD.TabIncreases.CurrentFunds.Fund")</th>
                    <th class="w130">@Localization.GetText("OP.FD.TabIncreases.CurrentFunds.OriginalIDB")</th>
                    <th class="w130">@Localization.GetText("OP.FD.TabIncreases.CurrentFunds.CurrentIDB")</th>
                    <th class="w95">@Localization.GetText("OP.FD.TabIncreases.CurrentFunds.PercentDisbursed")</th>
                    <th class="w130">@Localization.GetText("OP.FD.TabIncreases.CurrentFunds.UndisbursedBalance")</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CurrentFunds.Count > 0)
                {
                    foreach (var dato in Model.CurrentFunds)
                    {
                        <tr data-id="@dato.RowId">
                            <td class="hide">
                                @Confluence.InputHidden(dato.SapCode, "SapCode")
                                @Confluence.InputHidden(dato.OCSpecialProgram, "OCSecialProgram")
                                @Confluence.InputHidden(dato.FundId, "FundId")
                                @Confluence.InputHidden(dato.FundCurrency, "CurrentFinancingFundCurrency")</td>
                            <td class="CurrentApprovalNumber" dd-value="@dato.ApprovalNumber">@dato.ApprovalNumber</td>
                            <td class="CurrentFinancingType">@dato.FinancingType</td>
                            <td class="CurrentFinancingFund">@dato.Fund</td>
                            <td class="text-right">@Confluence.LabelDecimal(dato.OriginalIDB)</td>
                            <td class="text-right">@Confluence.LabelDecimal(dato.CurrentIDB)</td>
                            <td class="text-right">@Confluence.LabelDecimal(dato.DisbursedPercentaje)%</td>
                            <td class="text-right">@Confluence.LabelDecimal(dato.UndisbursedBalance)</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="td">@Confluence.LabelBold(Localization.GetText("OP.FD.TabIncreases.CurrentFunds.Total"))</td>
                    <td></td>
                    <td></td>
                    <td style="display: none;"></td>
                    <td></td>
                    <td class="td text-right">@Confluence.LabelDecimal(Model.CurrentFundTotal, true)</td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>