@using System.Configuration

@using IDB.Presentation.MVC4.Areas.RisksMatrix.Models
@using IDB.Presentation.MVC4.Helpers

@model RiskMatrixViewModel

@{ 
    int k = Model.Documents.IndexOf(Model.Documents.LastOrDefault());
}

<tr data-id="@Model.Documents[k].DocumentId">
    <td>
        @Confluence.Label(Model.Documents[k].CreatedBy)
        @Html.HiddenFor(model => Model.Documents[k].CreatedBy)
    </td>
    <td>
        @Confluence.LabelGetDate(Model.Documents[k].Created)
        @Html.HiddenFor(model => Model.Documents[k].Created)
    </td>
    <td>
        @Confluence.Label(Model.Documents[k].DocumentReference)
        @Html.HiddenFor(model => Model.Documents[k].DocumentReference)
    </td>
    <td>
        @Html.TextBoxFor(model => model.Documents[k].Description, new { @class = "inputText w100" })
    </td>
    <td align="center">
        @Confluence.ButtonTrash(null, action: "deleteDocument", required: false)

        @{var secureDownload = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(Model.Documents[k].DocumentReference);}
        <a href="@Html.Encode(secureDownload)" target="_blank">
            <div class="buttonDownload documentDownloadSize">
                <span class="icon"></span>
                <span></span>
            </div>
        </a>

    </td>
</tr>