@using System.Web.Mvc.Html

@using IDB.Presentation.MVC4.Areas.RisksMatrix.Models

@model RiskMatrixViewModel

@{
    int i = Model.UserComments.IndexOf(Model.UserComments.Last());
}

<div class="col-md-12 pr0 pl0 textAreaNote">
    <div class="col-md-12 pl0 pr0 internalNote" id="riskmatrixUserCommentSection" data-id="@Model.UserComments[i].UserCommentId">
        <div class="col-md-4">
            @Confluence.Label(Model.UserComments[i].CreatedBy, htmlClass: "ml20")
            @Confluence.ButtonTrash(null, htmlClass: "ml20 mt0", required: false, action: "deleteNote")
        </div>
        <div class="col-md-2">
            @Confluence.LabelGetDate(Model.UserComments[i].Created)
        </div>
        <div class="col-md-6">
            @Confluence.InputCheckbox(Model.UserComments[i].IsRmgComment, string.Format("UserComments[{0}].IsRmgComment", i), string.Format("UserComments_{0}__IsRmgComment", i), Localization.GetText("RISK.RMG.COMMENT"), labelBold: true, value: true)
        </div>
        <br /><br />
        @Confluence.InputTextArea(Model.UserComments[i].Text,
                        width: "100%", height: "100px", htmlClass: "", disabled: false, required: true,
                        id: string.Format("UserComments_{0}__Text", i),
                        name: string.Format("UserComments[{0}].Text", i))
        <br /><br />
        @Html.HiddenFor(model => model.UserComments[i].Created)
        @Html.HiddenFor(model => model.UserComments[i].CreatedBy)
    </div>
</div>