@{
    Layout = null;
}
@model IDB.MW.Application.Contacts.ViewModels.OperationContactsViewModel
<div class="col-md-12 pb10 pl0">
    @Confluence.ButtonBlue(Localization.GetText("Filter"), "contactFilter", htmlClass: "pull-right")
</div>
<div class="col-md-12 pl0">            
    <div class="filterNormal " id="contactFilterContainer" name="searchInstitutionContent">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    @Confluence.InputText(null, "contactOperation", placeholder: Localization.GetText("CM.Alt.OperationNameNumber"), htmlClass: "w100percent mb20", required: false)
                </div>
            </div>
            <div class="col-md-6 pl0">
                @Confluence.InputText(null, "contactName", placeholder: Localization.GetText("CM.Alt.FirstAndLastName"), htmlClass: "w100percent", required: false)
            </div>
            <div class="col-md-6 mt10">
            </div>
        </div>
        <div class="col-md-12  marginAnnouncementMainSearch ">
            <div class="col-md-3 pl0">
                @Confluence.InputText(null, "contactTitle", placeholder: Localization.GetText("Title"), htmlClass: "w100percent", required: false)
            </div>
            <div class="col-md-3">
                @Confluence.InputText(null, "contactUserName", placeholder: Localization.GetText("User Name"), htmlClass: "w100percent", required: false)
            </div>
            <div class="col-md-3">
                @Confluence.InputDropDown(null, "eaRole", Model.EaRole.Select(o => new SelectListItem
                {
                    Text = o.Text,
                    Value = o.Value
                }), orderAsc: false, required: false, placeholder: "External User Role")
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 pl0 pr5">
                @Confluence.InputDropDownAsync(null, "contactsInstitution", Url.Action("GetInstitutionName", "ControlPanelContacts", new { area = "Contacts" }), width: "100%", placeholder: Localization.GetText("CM.Label.Institution"), required: false)
            </div>
            <div class="pull-right filter-buttons">
                @Confluence.ButtonBlue(Localization.GetText("CM.Button.Search"), "contactsSearch", action: "searchInstitutionFilter")
                @Confluence.ButtonBlue(Localization.GetText("CM.Button.ClearAll"), "controlPanelContactsClearAll", "controlPanelContactsClearAll")
            </div>
        </div>
    </div>
</div>
