@model IDB.MW.Application.Contacts.ViewModels.OperationContactsRowViewModel

@{
    Layout = null;
}

<div class="col-md-12">
    <div class="badge01a">
        <button id="backToContacts"><span class="left"></span></button>
        <h2 class="titlePrincipal">@Confluence.LabelMainTitle(Localization.GetText("CM.Label.Contact"))</h2>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-12">
        @Html.Partial("ReadPartial/ReadContactsButtonsPartial", Model)
    </div>
    <div class="col-md-12 mb5">
        <div class="col-md-6">
            @Confluence.Label(Localization.GetText("CM.Alt.Institution"))
            @Confluence.LabelAsterisk()
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            @Confluence.InputDropDownAsync(Model.InstitutionId.ToString(), "contactsInstitution", Url.Action("GetInstitutionName", "ControlPanelContacts", new { area = "Contacts" }), width: "100%", placeholder: "(" + Localization.GetText("CM.Label.Institution") + ")", disabled: true)
        </div >
    </div>
    <div class="col-md-12 mt20 mb20">
        <div class="groupColumn col-md-6">
            @Confluence.LabelTitleGroup(Localization.GetText("CM.Label.BasicInformation"), htmlClass: "bold pl0")

        </div>
        <div class="groupColumn col-md-6 pl0">
            @Confluence.LabelTitleGroup(Localization.GetText("CM.Label.AddressInformation"), htmlClass: "bold pl0")
        </div>
    </div>
    <div class="col-md-12">
        <div class="groupColumn col-md-6">
            <div class="display-block mb5">
                @Confluence.Label(Localization.GetText("CM.Label.FirstName"))
                @Confluence.LabelAsterisk()
            </div>
            <div class="display-block">
                @Confluence.InputText(Model.FirstName, "contactFirstName", htmlClass: "w70percent", disabled: true)
            </div>
            <div class="display-block mb5 mt10">
                @Confluence.Label(Localization.GetText("CM.Label.LastName"))
                @Confluence.LabelAsterisk()
            </div>
            <div class="display-block">
                @Confluence.InputText(Model.LastName, "contactLastName", htmlClass: "w70percent", disabled: true)
            </div>
            <div class="display-block mb5 mt10">
                @Confluence.Label(Localization.GetText("CM.Label.Title"))
                @Confluence.LabelAsterisk()
            </div>
            <div class="display-block">
                @Confluence.InputText(Model.Title, "contactTitle", htmlClass: "w70percent", disabled: true)
            </div>
            <div class="display-block mb5 mt10">
                @Confluence.Label(Localization.GetText("CM.Label.Telephone"))
                @Confluence.LabelAsterisk()
            </div>
            <div class="display-block">
                @Confluence.InputText(Model.Telephone, "contactPhone", htmlClass: "w70percent", disabled: true)
            </div>
            <div class="display-block mb5 mt10">
                @Confluence.Label(Localization.GetText("CM.Label.Fax"))
                @Confluence.LabelAsterisk()
            </div>
            <div class="display-block">
                @Confluence.InputText(Model.Fax, "contactFax", htmlClass: "w70percent", disabled: true)
            </div>
            <div class="display-block mb5 mt10">
                @Confluence.Label(Localization.GetText("CM.Label.Email"))
                @Confluence.LabelAsterisk()
            </div>
            <div class="display-block">
                @Confluence.InputText(Model.Email, "contactEmail", htmlClass: "w70percent", disabled: true)
            </div>
        </div>
        <div class="groupColumn col-md-6 pl0">
            <div class="display-block mb5">
                @Confluence.Label(Localization.GetText("CM.Label.Country"))
            </div>
            <div class="display-block">
                @Confluence.InputDropDown(Model.CountryId.ToString(), "country", Model.Country.Select(
               o => new SelectListItem
               {
                   Text = o.Text,
                   Value = o.Value
               }
               ), orderAsc: false, htmlClass: "w100percent", disabled: true, placeholder: "(" + Localization.GetText("CM.Label.Country")  + ")")
            </div>
            <div class="display-block mb5 mt10">
                @Confluence.Label(Localization.GetText("CM.Label.Address"))
            </div>
            <div class="display-block">
                @Confluence.InputText(Model.Address, "contactAddress", htmlClass: "w100percent", disabled: true)
            </div>
            <div class="display-block mb5 mt10">
                @Confluence.Label(Localization.GetText("CM.Label.City"))
            </div>
            <div class="display-block">
                @Confluence.InputText(Model.City, "contactCity", htmlClass: "w70percent", disabled: true)
            </div>
            <div class="display-block mb5 mt10">
                @Confluence.Label(Localization.GetText("CM.Label.ZipCode"))
            </div>
            <div class="display-block">
                @Confluence.InputText(Model.ZipCode, "contactZipCode", htmlClass: "w70percent", disabled: true)
            </div>
            <div class="display-block mb5 mt10">
                @Confluence.Label(Localization.GetText("CM.Label.State"))
            </div>
            <div class="display-block">
                @Confluence.InputText(Model.State, "contactState", htmlClass: "w70percent", disabled: true)
            </div>
        </div>
    </div>
    <div class="col-md-12 ml0">
        <div class="col-md-12">
            @Confluence.LabelTitleGroup(Localization.GetText("CM.Label.RoleInformation"), htmlClass: "bold pl0 mt20 mb20")
        </div>
        <div class="col-md-12">
            @Confluence.Label(Localization.GetText("CM.Label.Username"), htmlClass: "pl0")
        </div>
        <div class="col-md-12">
            <div class="col-md-6 pl0">
                @Confluence.InputDropDownAsync(Model.UserName, "contactUserName", null, placeholder: "(" + Localization.GetText("CM.Label.Username")  + ")", disabled: true)
            </div>
        </div>
        <div class="col-md-9 mt10 pr40 mb40">
            <table id="rolesTable" class="tableNormal mb20">
                <thead>
                    <tr>
                        <th class="w250">@Localization.GetText("CM.GridHeader.Operation")</th>
                        <th class="w300">@Localization.GetText("CM.GridHeader.EARole")</th>
                        <th class="w60"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.UserRole != null)
                    {
                        if (Model.UserRole.Count > 0)
                        {

                            foreach (var item in Model.UserRole)
                            {
                            <tr>
                                <td class="w250 pl0">@item.OperationNumber</td>
                                <td class="w300">
                                    @if (item.EaRoles != null)
                                    {
                                        @Confluence.InputDropDown(@item.EaRoleId.ToString(), "eaRoles",
                                         item.EaRoles.Select(x => new SelectListItem
                                         {
                                             Text = x.Text,
                                             Value = x.Value
                                         })
                                         , orderAsc: false, htmlClass: "w100percent", disabled: true, placeholder: "(External User Role)")
                                    }
                                    else
                                    {
                                        @Confluence.InputDropDown(@item.EaRoleId.ToString(), "eaRoles",
                                         null
                                         , orderAsc: false, htmlClass: "w100percent", disabled: true, placeholder: "(External User Role)")
                                    }
                                </td>
                                <td class="w60"></td>
                            </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="w250 pl0"></td>
                                <td class="w300">
                                    @Confluence.InputDropDown(null, "eaRoles",
                                    null
                                    , orderAsc: false, htmlClass: "w100percent", disabled: true, placeholder: "(External User Role)")
                                </td>
                                <td class="w60"></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 mb30">
        @Html.Partial("ReadPartial/ReadContactsButtonsPartial")
    </div>
</div>
<script>
    $(document).ready(function () {
        hideLoaderOptional();
        setTimeout(function () { bindHandlers(); }, 1000);
        $("input[name='contactsInstitution_text']").val("@Html.Raw(Model.InstitutionAcronym + " - " + Model.InstitutionName)");
        @if (Model.UserRole != null)
        {
            <text>
                $("input[name='contactUserName_text']").val("@Html.Raw(Model.UserRole.Select(x => x.User.FullName).FirstOrDefault())");
            </text>
        }
    });
    $("#backToContacts").on("click", function () {
        var container = $("#PageContent");
        showLoaderOptional();
        $.ajax({
            url: '@Url.Action("ControlPanelContacts", "Contacts", new { area = "Contacts" })',
            cache: false,
            contentType: false,
            processData: false,
            async: true,
            type: 'POST'
        }).done(function (data) {
            $(container).empty();
            $(container).append(data);
            bindHandlers();
            hideLoaderOptional();
        }).fail(function (jqXHR, textStatus) {
            hideLoaderOptional();
        });
    });

    function editContact() {
        showLoaderOptional();
        var container = $("#PageContent");
        $.ajax({
            url: '@Url.Action("GetControlPanelContact", "ControlPanelContacts", new { area = "Contacts" })',
            cache: false,
            data: {ExecutorContactId : @Model.ExecutorContactId, UserName: "@Model.UserName"},
            async: true,
            type: 'POST'
        }).done(function (data) {
            $(container).empty();
            $(container).append(data);
            hideLoaderOptional();
        }).fail(function (jqXHR, textStatus) {
            hideLoaderOptional();
        });
    }

    function removeContact() {
        var container = $("#PageContent");
        var msg = '@Localization.GetText("OP.OD.Delete.Msg")';
        var title = '@Localization.GetText("COMMON.Warning")';
        var cancel = '@Localization.GetText("CM.Button.Cancel")';
        Confirm.ShowWarning(msg, title, "Ok", cancel).done(function (answer) {
            if(answer)
            {
                showLoaderOptional();
                $.ajax({
                    type: "POST",
                    async: true,
                    url: "@Url.Action("RemoveContact", "ControlPanelContacts", new { area = "Contacts" })",
                    data: {executorContactId : @Model.ExecutorContactId}
                }).done(function (data) {
                    $(container).empty();
                    $(container).append(data);
                    bindHandlers();
                    hideLoaderOptional();
                }).fail(function (jqXHR, textStatus) {
                    hideLoaderOptional();
                });
            }
        });
    }

    $(".sort").on("click", function () {
        setTimeout(function () { bindHandlers(); }, 1000);
    });

</script>