@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

<div data-id-selector="add-form" class="row">
    <div class="col-md-12">
        <form method="POST" enctype="multipart/form-data" data-id="addForm"
              action="@Url.Action("IDBDocUploadDocument", "DocumentModal", new { area = "" })">
            
            <p>@Localization.GetText("OP.Document.Add.Instructions")</p>
            <p>@Localization.GetText("DM.Document.Add.Extensions")</p>
            <div class="uploadContainer">
                <input type="file" name="file" multiple="multiple" accept=".pdf, .xls, .xlsx, .pst, .ppt, .pptx, .mpp, .pub, .vsd, .vss, .vst, .vdx, .vsx, .vtx, .doc, .docx, .wpd, .msg">
                <ul class="parsley-errors-list filled hide" data-name="file-error">
                    <li>@Localization.GetText("DM.Document.Add.ExtensionError")</li>
                </ul>
                <ul class="parsley-errors-list filled hide" data-name="file-empty">
                    <li>@Localization.GetText("DM.Document.Add.EmptyFile")</li>
                </ul>
            </div>
        </form>
    </div>
</div>