@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
<div data-id-selector="search-form" class="row">
    <div class="col-md-6">
        <div class="field">
            <input placeholder="@Localization.GetText("Document.Filter.OperationNumber")" name="txtOperationNumber" class="modalInput">
        </div>
        <div class="field">
            <input placeholder="@Localization.GetText("Document.Filter.IDBDocNumber")" name="txtIDBDocsNumber" class="modalInput">
        </div>
        <div class="field">
            <input placeholder="@Localization.GetText("Document.Filter.DocumentId")" name="txtDocumentId" class="modalInput">
        </div>
        <div class="field">
            <input placeholder="@Localization.GetText("Document.Filter.DocumentContent")" name="txtDocumentContent" class="modalInput">
        </div>
        <div class="field">
            @ControlTemplates.InputCheckbox(false, "chkInputCorrespondence", forceValidation: false,
                                            label: Localization.GetText("Document.Filter.InputCorrespondence"))
            <div data-id-selector="inputCorrespondenceContainer" class="row hide">
                <div class="col-md-4">
                    <input placeholder="@Localization.GetText("Document.Filter.Number")" name="txtDocumentNumberInput" class="modalInputSmall">
                </div>
                <div class="col-md-4">
                    <select name="cboInputCorrespondenceYear" class="modalInputSmall">
                        <option value="">Year</option>
                        @for (var year = DateTime.Today.Year; year >= 2004; year--)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <input placeholder="@Localization.GetText("Document.Filter.AssignedTo")" name="txtAsignedToInput" class="modalInputSmall">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="field">
            <input placeholder="@Localization.GetText("Document.Filter.ContractNumber")" name="txtContractNumber" class="modalInput">
        </div>
        <div class="field">
            <input placeholder="@Localization.GetText("Document.Filter.DocumentName")" name="txtDocumentName" class="modalInput">
        </div>
        <div class="field">
            <input placeholder="@Localization.GetText("Document.Filter.IDBAuthorId")" name="txtIDBAuthorUserId" class="modalInput">
        </div>
        <div class="field" style="height: 32px;">
        </div>
        <div class="field">
            @ControlTemplates.InputCheckbox(false, "chkOutputCorrespondence", forceValidation: false,
                                            label: Localization.GetText("Document.Filter.OutputCorrespondence"))
            <div data-id-selector="outputCorrespondenceContainer" class="row hide">
                <div class="col-md-4">
                    <input placeholder="@Localization.GetText("Document.Filter.AssignedTo")" name="txtReference" class="modalInputSmall">
                </div>
                <div class="col-md-4">
                    <select name="cboOutputCorrespondenceYear" class="modalInputSmall">
                        <option value="">Year</option>
                        
                        @for (var year = DateTime.Today.Year; year >= 2004; year--)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <input placeholder="@Localization.GetText("Document.Filter.ReferenceNumber")" name="txtReferencesNumberOutput" class="modalInputSmall">
                </div>
            </div>
        </div>
    </div>
</div>