@using Newtonsoft.Json
@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@model List<IDB.MW.Infrastructure.Documents.Messages.SearchDocumentQuery>

<div data-id-selector="search-form-results">
    <div class="row documentToolbar">
        <div class="col-md-6 resultsContainer">
            <p></p>
        </div>
        <div class="col-md-6 text-right">
            <a href="#" data-id="clearFilters">@Localization.GetText("Common.ClearAll")</a>
        </div>
    </div>
    <div data-id-selector="result-container-main" class="row">
        <div class="col-md-7">
            <div data-id-selector="documents-container" class="row overflowContainer">
                @{
                    var i = 0;
                }
                @foreach (var document in Model)
                {
                    i++;

                    <div class="col-md-12 document-box" data-id="selectableDocument" data-json="@JsonConvert.SerializeObject(document, Formatting.None)">
                        <div class="documentLabel">
                            <span class="greenCheck"></span>
                            <p class="documentDate">
                                @document.CreationDate
                            </p>
                            <p class="documentNumber">@Localization.GetText("Document.Box.IDBDocNumber"): @document.DocumentNumber</p>
                            <p class="documentName">
                                @document.DocumentName
                            </p>
                        </div>
                    </div>

                    if (i % 3 == 0)
                    {
                    <div class="clearfix">
                    </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-5 documentPreview">
            <div class="documentData">
                <p data-id-selector="documentName" class="documentTitle"></p>
                <label data-id-selector="documentDate"></label>
            </div>
            <div>
                <label>@Localization.GetText("Document.Filter.IDBDocNumber")</label>
                <p data-id-selector="idbNumber"></p>
                <label>@Localization.GetText("Document.Filter.DocumentContent")</label>
                <p data-id-selector="docDescription"></p>
                <label>@Localization.GetText("Document.Filter.IDBAuthorId")</label>
                <p data-id-selector="docAuthor"></p>
                <label>@Localization.GetText("Document.Filter.OperationNumber")</label>
                <p data-id-selector="operationNumber"></p>
                <label>@Localization.GetText("Document.Filter.ContractNumber")</label>
                <p data-id-selector="contractNumber"></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.resultsContainer p').text('@Model.Count documents');
</script>
