@using IDB.MW.Application.SiscorModule.Enums;
@model IDB.MW.Application.SiscorModule.ViewModels.SiscorCorrespondenceViewModel



<div id="CorrespondenceFilter" class="filterNormal explain">
    <div class="row">
        <div class="col-md-6 ">
            @if (Model.CorrespondenceGridViewModel.OperationNumber == null) 
            { 
                @Confluence.InputText(value: "", name: "txtSearch", placeholder: Localization.GetText("SC.SC.Correspondence.Inputs.Placeholder.OperationNameNumberContract"), width: "100%", htmlClass: "js_txtFilter", required: false)
            }
        </div>
    </div>
    <div class="row mt20">
        <div class="col-md-3 ">
            @Confluence.Label(text: Localization.GetText("SC.SC.Correspondence.Labels.SubmissionDateFrom"))<br />
            @Confluence.InputDatePicker(value: null, name: "pkSubmissionDateFrom", htmlClass: "js_pkFilter", required: false)
        </div>
        <div class="col-md-3 ">
            @Confluence.Label(text: Localization.GetText("SC.SC.Correspondence.Labels.SubmissionDateTo"))<br />
            @Confluence.InputDatePicker(value: null, name: "pkSubmissionDateTo", htmlClass: "js_pkFilter", required: false)
        </div>
    </div>
    <div class="row mt20">
        <div class="col-md-3 ">
            @Confluence.Label(text: Localization.GetText("SC.SC.Correspondence.Labels.BusinessArea"))<br />
            @Confluence.InputDropDown(value: "", name: "cbBusinessArea", elements: Model.LsBusinessAreas, htmlClass: "js_cbFilter", required: false)
        </div>
        <div class="col-md-3 ">
            @Confluence.Label(text: Localization.GetText("SC.SC.Correspondence.Labels.DocumentNumber"))<br />
            @Confluence.InputText(value: "", name: "txtDocumentNumber", htmlClass: "js_txtFilter", required: false)
        </div>
        <div class="col-md-3 " id="toValidate" data-parsley-validate="data-parsley-validate">
            @Confluence.Label(text: Localization.GetText("SC.SC.Correspondence.Labels.SiscorNumber"))<br />
            @Confluence.InputText(value: "", name: "txtSISCORNumber", htmlClass: "js_txtFilter", required: false, placeholder: "I-ZZZ/ZZZ-999999/2016")
        </div>
    </div>
    <div class="row mt20">
        <div class="col-md-3 hidden">
            @Confluence.Label(text: Localization.GetText("SC.SC.Correspondence.Labels.DocumentStatus"))@Confluence.InputDropDown(value: SiscorEnums.STATUS_NOT_RESPONDED, name: "cbDocumentStatus", elements: Model.LsDocumentStatus, htmlClass: "js_cbFilter")
        </div>
        <div class="col-md-3 ">
            @Confluence.Label(text: Localization.GetText("SC.SC.Correspondence.Labels.DocumentType"))<br />
            @Confluence.InputDropDown(value: "", name: "cbDocumentType", elements: Model.DocumentType, htmlClass: "js_cbFilter", required: false)
        </div>
        <div class="col-md-3 ">
            @Confluence.Label(text: Localization.GetText("SC.SC.Correspondence.Labels.Subject"))<br />
            @Confluence.InputText(value: "", name: "txtSubject", width: "100%", maxLength:500, htmlClass: "js_txtFilter", required: false)
        </div>
    </div>

    <div class="row mt20">
        <div class="col-md-12 text-right">
            @Html.Partial("Partials/Controls/SiscorCorrespondenceFilterButtons", null)
        </div>
    </div>
</div>