@using IDB.Architecture.Language
@model IDB.MW.GenericWorkflow.Models.TaskDetailViewModel
<div class="row row-body-40">
    <div class="col-md-6">
        @Confluence.LabelSubTitleGroup(text: Localization.GetText("OP.MS.MissionWorkflowComments.Comments"), htmlClass: "bold")
    </div>
    <div data-pagemode="edit" class="pb20">
        <div class="col-md-6 text-right">
            @Confluence.ButtonBlue(text: Localization.GetText("OP.OD.TabBasicData.RelatedOperations.NewComments"),
            action: "newComment",
            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnNewComment" } })
        </div>
    </div>
</div>
<div class="row row-body-40">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" id="divWorkflowComments">
                @if (Model.Comments != null)
                {
                    var classSpan = "";

                    foreach (var comment in Model.Comments)
                    {
                        classSpan = "template dont-hide-at-edit";

                        if (Model.UserLogin.Equals(comment.CreatedBy))
                        {
                            classSpan = "data-pagemode=read";
                            <div data-pagemode="edit" class="pb20">
                                @Confluence.InputCommentBox(section1: Confluence.Label(comment.Created),
                                   section2: Confluence.Label(comment.CreatedBy),
                                   section3: null,
                                   value: comment.Text,
                                   name: "textComment",
                                   isReadOnly: true,
                                   dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtTextComment01" } })
                                @Confluence.InputHidden(value: Convert.ToString(comment.CommentId), name: "commentId")
                                @Confluence.ButtonTrash(text: "",
                               action: "deleteComment",
                               dataAttributes: new Dictionary<string, string> { { "commentId", Convert.ToString(comment.CommentId) }, { "idb-fieldname", "btnDeleteComment" } })
                            </div>
                        }

                        <span @classSpan>@Confluence.InputCommentBox(section1: Confluence.Label(comment.Created),
                                            section2: Confluence.Label(comment.CreatedBy),
                                            section3: null,
                                            value: comment.Text,
                                            name: "textComment",
                                            isReadOnly: true,
                                            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtTextComment02" } })
                        </span>
                    }
                }
            </div>

        </div>
        <span>@Confluence.InputHidden(value: "", name: "deleteComments", required: false)</span>
        <span>@Confluence.InputHidden(value:  Convert.ToString(Model.Comments.Count), name: "commentsCount", required: false)</span>
    </div>
</div>
