@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.CPDModule.ViewModels.CountryProgram

@model UseOfCountrySystemsTabViewModel


<div class="row mb20">
    <div class="col-md-12">
        @Confluence.Label(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.Diagnostics"))
    </div>
</div>

<div class="row mb10">
    <div class="col-md-6">
        @Confluence.Label(text: Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.FinancialManagement"))
    </div>

    <div class="col-md-6">
        @Confluence.Label(text: Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.Title.Procurement"))
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @foreach (var item in Model.DiagFinancialManagementsRO)
        {
            <div class="row mb10">
                <div class="col-md-8">
                    @Confluence.LabelBold(item.Item1)
                </div>
                <div class="col-md-4">
                    @Confluence.LabelBold(item.Item2.ToString())
                </div>
            </div>
        }
    </div>

    <div class="col-md-6">
        @foreach (var item in Model.DiagProcurementsRO)
        {
            <div class="row mb10">
                <div class="col-md-8">
                    @Confluence.LabelBold(item.Item1)
                </div>
                <div class="col-md-4">
                    @Confluence.LabelBold(item.Item2.ToString())
                </div>
            </div>
        }
    </div>
</div>

<div class="row">

    <div class="col-md-4 mt15">
        @Confluence.LabelBold(Model.FinancialManagementComment)
    </div>

    <div class="col-md-2">

    </div>

    <div class="col-md-4 mt15">
        @Confluence.LabelBold(Model.ProcurementComment)
    </div>

    <div class="col-md-2">

    </div>

</div>
