@using System.Globalization

@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Application.CPDModule.ViewModels.CountryProgram

@model UseOfCountrySystemsTableViewModel

@{
    var config = Html.RenderDataTable(Model.UseOfCountrySystemsList);
    config.TableClass = "tableNormal";
    config.Name(Model.TableName + "UCSystemsTable")
    .PrimaryKey(m => m.RowId.ToString(CultureInfo.InvariantCulture))
    .AddPrimaryKeyToName(false)
    .UseDataTableNet(false)
    .UsePageMode(false)
    .Columns(columns =>
    {
        columns.Bound(c => c.UserCountrySystem)
        .Header(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.PercentageOfBanckFinanced"))
        .CssHeaderClass("minw180")
        .Persistent();

        columns.Bound(c => c.BaseLineYear)
        .Header(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.BaselineYear"))
        .CssClass("text-right")
        .Persistent();


        columns.Template(c => FormatPercentage(c.BaseLinePercentage))
        .Header(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.BaselinePercentage"))
        .CssHeaderClass("")
        .CssClass("text-right")
        .Persistent();

        columns.Bound(c => c.ProgrammingYear)
        .Header(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.ProgrammingYear"))
        .CssHeaderClass("")
        .CssClass("text-right")
        .Persistent();

        columns.Bound(c => c.EstimatedUseYear)
        .Header(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.EstimatedUseYear"))
        .CssHeaderClass("")
        .CssClass("text-right")
        .Persistent();

        columns.Template(c =>  FormatPercentage(c.EstimateUsePercentage))
        .Header(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.EstimatedUse"))
        .CssHeaderClass("")
        .CssClass("text-right")
        .Persistent();

        columns.Template(DrawMultiDropdown)
        .HeaderTemplate(ForseenActionsHeaderTitle())
        .CssHeaderClass("minw400")
        .Persistent();


    });
}

@Html.Partial("Controls/DataTable", config)

@helper DrawMultiDropdown(UseOfCountrySystemsRowViewModel model)
{
    <ul class="list-without-style mb5">
        @foreach (var option in model.ForeseenActionNames)
        {
            <li>@Confluence.LabelBold(option)</li>
        }
    </ul>
}

@helper FormatPercentage(string percentage) 
{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatPercent = appSettings.FormatPercentWithoutSpace;

    if (percentage != null)
    {
        <label class="labelNormal">@percentage</label>
    }
    else
    {
        <span>@string.Empty</span>
    }   
}

@helper ForseenActionsHeaderTitle()
{
    @Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.ForseenActions")
    <br />
    @Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.TableHeader.ExpectedInterventions")
}