<div class="filter" style="display: none;">
    <div class="cajaGeneralFilter2">
        <form class="filter2Content" id="formulario2" name="fil">
            <div class="contenidoFilter5 grid">
                <div class="row row-body-50 font-body">

                    <div class="col-md-4">
                        @Localization.GetText("AG.ConditionType.Text")
                        @Confluence.InputDropDown(
                            value: Model.FilterTypeId.ToString(),
                            name: "ConditionType",
                            elements: Model.ClauseType,
                            width: "100%",
                            placeholder: Localization.GetText("AG.ConditionType.Text"))
                    </div>

                    <div class="col-md-4">
                        @Localization.GetText("AG.ConditionStatus.Text")
                        @Confluence.InputDropDown(
                            value: Model.FilterStatusId.ToString(),
                            name: "FilterConditionStatus",
                            elements: Model.ClauseStatus,
                            width: "100%",
                            placeholder: Localization.GetText("AG.ConditionStatus.Text"))
                    </div>

                    <div class="col-md-4">
                        @Localization.GetText("AG.ConditionCategory.Text")
                        @Confluence.InputDropDown(
                            value: Model.FilterCategoryId.ToString(),
                            name: "ConditionCategory",
                            elements: Model.ClauseCategories,
                            width: "100%",
                            placeholder: Localization.GetText("AG.ConditionCategory.Text"))
                    </div>

                </div>

                <div class="row row-body-50 font-body">

                    <div class="col-md-4">
                        @Localization.GetText("AG.ConditionNumber.Text")
                        @Confluence.InputText(
                            value: Model.FilterNumber,
                            name: "conditionNumber",
                            id: "conditionNumberFilter",
                            placeholder: Localization.GetText("AG.ConditionNumber.Text"),
                            width: "100%",
                            required: false)
                    </div>

                    <div class="col-md-4">
                        @Localization.GetText("Expiration date from")
                        @Confluence.InputDatePicker(
                            Model.FilterExpirationDateFrom,
                            "dateExpirationFrom",
                            placeholder: "DD MMM YY",
                            width: "100%")
                    </div>

                    <div class="col-md-4">
                        @Localization.GetText("To")
                        @Confluence.InputDatePicker(
                            Model.FilterExpirationDateTo,
                            "dateExpirationTo",
                            placeholder: "DD MMM YY",
                            width: "100%")
                    </div>

                </div>

                <div class="col-md-12 mb20">

                    <div class="float-right">
                        <button type="button" class="buttonWhite" name="clearBtn">@Localization.GetText("Clear All")</button>

                        <button type="button" class="buttonBlue" name="filterBtn"
                                data-route="@Url.Action("Index", "Agreements",
                                    new { area = "Agreements", operationNumber = Model.OperationNumber })">
                            @Localization.GetText("Filter")
                        </button>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>