@model List<IDB.MW.Application.AdministrationModule.ViewModels.Delegation.AssignAttributeViewModel>

<thead>
    <tr>
        <th class="tree icon pt15 w30">@Confluence.ButtonExpandTable()</th>
        <td>
            <h3 class="delegationTitle mt0 ml0 mb0">@Confluence.Label(Localization.GetText("R6.DEL.AuthorizationData.Subdelegation.Attributes"))</h3>
        </td>
    </tr>
</thead>
<tbody>

    @foreach (var item in Model.GroupBy(item => item.AttributeName))
    {
        <tr>
            <td></td>
            <td class="pl30">
                <table id="tablaTree" class="tableNormal mb20 reAttCollapsetable">
                    <thead>
                        <tr>
                            <th class="tree icon pt15">@Confluence.ButtonExpandTable()</th>
                            <td>
                                <h3 class="delegationTitle mt0 ml0 mb0">@Confluence.Label(item.Key)</h3>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td class="w400">
                                <ul class="delegationlistAttribute">
                                    @foreach (var itemdos in item)
                                    {
                                        <li class="ab delegationListAttribute">
                                            <div class="itemCheckDelegation delegationListAttributeValues" id="delegatePermissions">
                                                <div id="readDelegatePermissions" data-pagemode="read">
                                                    @Confluence.InputCheckbox(itemdos.AttributeSelected, itemdos.AttributeControlName, label: itemdos.AttributeDescription, labelBold: true, disabled: true)
                                                </div>
                                                <div id="editDelegatePermissions" data-pagemode="edit">
                                                    @Confluence.InputCheckbox(itemdos.AttributeSelected, itemdos.AttributeControlName, label: itemdos.AttributeDescription, labelBold: true, dataAttributes: new Dictionary<string, string> { { "children", "permission-Parent" } })
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    }
</tbody>

