@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.AdministrationModule.ViewModels.Delegation.DelegationViewModel
<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

<div id="PartialSearchContent">
    @Html.Partial("Partial/Delegation/FilterDelegation", Model.DelegationFilter)
</div>

<div class="col-md-12 mt20 mb30">
    <div class="pull-left">
        @Confluence.InputDropDown("5", "ddlPagination", Model.DisplayOptions != null ? Html.BuildSelectItemList(Model.DisplayOptions, m=>m.Text, m=>m.Value) : new List<SelectListItem>(), placeholder: null, showEmptyOption: false, orderAsc: false, required: false, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlPagination" } })
    </div>
</div>

<div id="tableDelegatorContent" class="mt10 mb20">
    @Html.Partial("Partial/Delegation/Tables/TableDelegator", Model.TableDelegator)
</div>

<div id="hideContentDelegation" class="hide">
    <div id="UserToAssignContent">
        @Html.Partial("Partial/Delegation/UserAssign", Model.UserToAssign)
    </div>

    <div id="assignPermissionContent">
        @Html.Partial("Partial/Delegation/AssignPermissionsTask", Model.AssignPermissionsTask)
    </div>

    <div id="CommentsContent" class="mt30">
        @Html.Partial("Partial/Delegation/CommentsDelegation", Model.CommentsDelegation)
    </div>

    <div id="tableDocumentContent" class="mt30" data-loadurl="@Url.Action("AddNewDocument", "DelegationView")">
        @Html.Partial("Partial/Document/TableDocuments", Model.TableDocument, new ViewDataDictionary { { "DisplayOptions", Model.DisplayOptions } })
    </div>
</div>