@using IDB.Presentation.MVC4.Areas.AdministrationSecondPhase.Models.Delegation
@model IDB.MW.Application.AdministrationModule.ViewModels.Delegation.UserToAssignViewModel

@{ 
    var data = Model.ConvertoToUsertToAssignViewModel();
}


<div class="row mt70">
    <div class="col-md-12">
        @Confluence.LabelMainSubTitle(Localization.GetText("OP.DE.SE.RE.SearchUser"),htmlClass:"ml0")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            @Confluence.LabelsGroup(Localization.GetText("OP.DE.SE.RE.SearchUser.Assigned"),
                Confluence.Label(Model.AssignedUserFullName),
                Confluence.InputDropDownAsync(Model.AssignedUserName, "SearchDelegateUser", Url.Action("GetUsersListNoSelf", "DelegationView", new { area = "AdministrationSecondPhase" }),textSelected:Model.AssignedUserFullName, width: "100%"),
                true)
        </div>
        <div class="col-md-3">
            @Confluence.LabelsGroup(Localization.GetText("OP.DE.SE.RE.SearchUser.Startate"),
                Confluence.LabelGetDate(Model.StartDate, true),
                Confluence.InputDatePicker(Model.StartDate ?? DateTime.Now, "startDate", htmlClass: "datepickerGuide mb20", format: "dd MMM yyyy"),
                true)
        </div>
        <div class="col-md-3">
            
            @Confluence.LabelsGroup(Localization.GetText("OP.DE.SE.RE.SearchUser.EndDate"),
                Confluence.LabelGetDate(Model.EndDate, true),
                         Confluence.InputDatePicker(Model.EndDate, "endDate", htmlClass: "datepickerGuide mb20", format: "dd MMM yyyy"),
                true)
        </div>
        <div class="col-md-3">
            @Confluence.LabelsGroup(Localization.GetText("OP.DE.SE.RE.SearchUser.Reason"),
                Confluence.Label(data.DisplayReason),
                Confluence.InputDropDown(Model.Reason.ToString(), "delegationReason", data.DisplayReasons),
                true)
        </div>
    </div>
    <div class="col-md-12 mt20">
        <div class="col-md-4 hide">
            @Confluence.LabelsGroup(Localization.GetText("OP.DE.SE.RE.SearchUser.Type"),
                Confluence.LabelGetDropDown(data.Type.ToString(), data.DisplayTypes.ToList()),
                Confluence.InputDropDown(data.Type.ToString(), "delegationType", data.DisplayTypes),
                true)
        </div>
    </div>
</div>



