@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.PCRModule.ViewModels.ChecklistService.EffectivenessGuidelinesViewModel

<div id="effectivenessGuidelines" data-parsley-validate="data-parsley-validate"
     data-loadurl="@Url.Action("PCREffectivenessGuidelines", "View", new { area = "PCR" })"
     data-url="@Url.Action("EffectivenessGuideLine", "Save", new { area = "PCR" })">

    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

    <div class="vex-close"></div>
    <h3>@Localization.GetText("PCR.Checklist.Guideline.Effectivenes")</h3>
    <div class="modalBody">
        <h4>@Localization.GetText("PCR.Checklist.Guideline.Effectivenes.SectorSpecialist")</h4>

        <div data-pagemode="read">
            <p>
                @Html.Raw(Model.EffectivenessGuidelinesSectorSpecialist)
            </p>
        </div>
        <div data-pagemode="edit">
            <textarea name="txtSectorGuidelines"
                      data-id="@Model.EffectivenessGuidelinesSectorSpecialistGuidelineId"
                      data-parsley-type="alphanum"
                      data-parsley-maxlength="5000"
                      data-parsley-required="true">
                @Model.EffectivenessGuidelinesSectorSpecialist
                </textarea>
                <br />
            </div>
            <br />
            <h4>@Localization.GetText("PCR.Checklist.Guideline.Effectivenes.SPD")</h4>
            <div data-pagemode="read">
                <p>
                    @Html.Raw(Model.EffectivenessGuidelinesSectorSpd)
            </p>
        </div>
        <div data-pagemode="edit">
            <textarea name="txtSPDGuidelines"
                      data-id="@Model.EffectivenessGuidelinesSectorSpdGuidelineId"
                      data-parsley-type="alphanum"
                      data-parsley-maxlength="5000"
                      data-parsley-required="true">
                @Model.EffectivenessGuidelinesSectorSpd
                </textarea>
                <br />
            </div>
            <br />
        </div>
    </div>
