@using IDB.Presentation.MVC4.Helpers

<div class="vex-close"></div>

<h3 class="h3-padding modalWarning modalTitle">@Localization.GetText("PCR.FollowUp.Warning")</h3>

<div class="modalBody modalBodyColor">
    <div class="margin-Verify">
        <div id="withoutDocuments">
            @Localization.GetText("PCR.FollowUp.ModalConfirmSaveEditFollowUp")
        </div>

        <div id="withDocuments">
            @Localization.GetText("PCR.FollowUp.DocumentsAdded.ModalConfirmSaveEdit")
        </div>
    </div>
    <hr />
    <div class="text-right">
        <button type="button" class="btn btn-link" data-action="cancelSaveFollowUp">@Localization.GetText("PCR.Cancel")</button>
        <button type="button" class="btn btn-warning" data-ismodal="true" data-action="saveFollowUp">@Localization.GetText("PCR.Save")</button>
    </div>
</div>
