@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.PCRModule.ViewModels.FollowUpService.PCRFollowUpVerifyViewModel

<div class="vex-close"></div>

<h3 class="h3-padding">@Localization.GetText("PCR.FollowUpService.Verify.Title")</h3>

<div class="modalBody modalBodyColor">
    <div class="margin-Verify">
        @if(Model.VerificationList != null)
        {            
            @Html.Partial("Partials/DataTables/PCRFollowUpVerify", @Model.VerificationList)
        }
    </div>

    <div class="row font-Verify">
        <div class="col-md-12 icon-Modal-Spacing">
            <span class="iconColumn icon-Modal-Complete"></span>@Localization.GetText("PCR.FollowUpService.Verify.Complete")
        </div>

        <div class="col-md-12 icon-Modal-Spacing">
            <span class="iconColumn icon-Modal-Warning"></span>@Localization.GetText("PCR.FollowUpService.Verify.Warning")
        </div>

        <div class="col-md-12 icon-Modal-Spacing">
            <span class="iconColumn icon-Modal-Critical"></span>@Localization.GetText("PCR.FollowUpService.Verify.Critical")
        </div>
    </div>

    <hr />
</div>
