@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.PCRModule.ViewModels.ChecklistService.GeneralGuidelinesViewModel

<div id="generalGuidelines" data-parsley-validate="data-parsley-validate"
     data-loadurl="@Url.Action("PCRGeneralGuidelines", "View", new
                   {
                       area = "PCR"
                   })"
     data-url="@Url.Action("GeneralGuideLine", "Save", new
               {
                   area = "PCR"
               })">

    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

    <div class="vex-close"></div>
    <h3>@Localization.GetText("PCR.Checklist.Guideline.General")</h3>
    <div class="modalBody">
        <h4>@Localization.GetText("PCR.Checklist.Guideline.General.Core")</h4>
        <div data-pagemode="read">
            <p>
                @Html.Raw(Model.GeneralGuidelinesCore)
            </p>
        </div>
        <div data-pagemode="edit">
            <textarea name="txtCoreGuidelineField"
                      data-id="@Model.GeneralGuidelinesCoreGuidelineId"
                      data-parsley-type="alphanum"
                      data-parsley-maxlength="7000"
                      data-parsley-required="true">
                @Model.GeneralGuidelinesCore
                </textarea>
                <br />
            </div>
            <br />
            <h4>@Localization.GetText("PCR.Checklist.Guideline.General.NonCore")</h4>
            <div data-pagemode="read">
                <p>
                    @Html.Raw(Model.GeneralGuidelinesNonCore)
            </p>
        </div>
        <div data-pagemode="edit">
            <textarea name="txtNonCoreGuidelineField"
                      data-id="@Model.GeneralGuidelinesNonCoreGuidelineId"
                      data-parsley-type="alphanum"
                      data-parsley-maxlength="7000"
                      data-parsley-required="true">
                @Model.GeneralGuidelinesNonCore
                </textarea>
                <br />
            </div>
            <br />
        </div>
    </div>