@using IDB.MW.Application.TCAbstractModule.ViewModels.EligibilityDecision;

@model EligibilityJustificationViewModel

<div data-id="EligibilityJustification">
    <div class="row row-header font-header">
        <div class="col-md-12">
            @if (Model.IsEligible)
            {
                @Localization.GetHtmlText("TC.FundCoordinator.TypeEligibility")
            }
            else
            {
                @Localization.GetHtmlText("TC.FundCoordinator.CauseOfNoFunding")
            }
        </div>
    </div>
    <div class="row row-body-40 font-body">
        <div class="col-md-12">@Model.TypeEligibility</div>
    </div>
    <div class="row row-header font-header">
        <div class="col-md-12">
            @if (Model.IsEligible)
            {
                @Localization.GetHtmlText("TC.FundCoordinator.ChangesNeeded")
            }
            else
            {
                @Localization.GetHtmlText("TC.FundCoordinator.Justification")
            }
        </div>
    </div>
    <div class="row row-body-40 font-body">
        <div class="col-md-12">@Model.Comments</div>
    </div>
</div>
