@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.Presentation.MVC4.Areas.TC.Models
@using IDB.MW.Application.TCAbstractModule.Enums
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers

@model IDB.MW.Application.TCAbstractModule.ViewModels.DonorDecision.DonorDecisionViewModel

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
<div data-pagemode="edit">
	<input type="hidden" name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE" value="@SaveControllerTypeEnum.Save" />
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="leftmarginh3">
            @Localization.GetText("TC.DonorDecision.DonorDecision").HtmlEncode()
        </h3>
    </div>
</div>

<div class="row row-body-40">
    <div class="col-md-12">
        <div data-pagemode="read">
            @ControlTemplates.InputRadioButtonNew(
                ViewBag.EnumMapping[DonorDecisionTypeEnum.AwardFundEligibility].ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == DonorDecisionTypeEnum.AwardFundEligibility),
                label: @Localization.GetText("TC.DonorDecision.AwardFundEligibility"),
                isDisplayBlock: false,
                htmlClass: "infoRadioButton")

            @Html.Partial("Partials/Controls/DonorAndESCDecisionDownloadWordButton", Model.TrustFundId)

            @ControlTemplates.InputRadioButtonNew(
                ViewBag.EnumMapping[DonorDecisionTypeEnum.RejectFundEligibility].ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == DonorDecisionTypeEnum.RejectFundEligibility),
                label: @Localization.GetText("TC.DonorDecision.RejectFundEligibility"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                ViewBag.EnumMapping[DonorDecisionTypeEnum.AwardEligibilityTCDocument].ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == DonorDecisionTypeEnum.AwardEligibilityTCDocument),
                label: @Localization.GetText("TC.DonorDecision.AwardEligibilityTCDocument"),
                isDisplayBlock: false,
                htmlClass: "infoRadioButton")

            @Html.Partial("Partials/Controls/DonorAndESCDecisionDownloadWordButton", Model.TrustFundId)

            @ControlTemplates.InputRadioButtonNew(
                ViewBag.EnumMapping[DonorDecisionTypeEnum.PlaceOperationOnHold].ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == DonorDecisionTypeEnum.PlaceOperationOnHold),
                label: @Localization.GetText("TC.EligibilityDecision.PlaceOperationOnHold"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                ViewBag.EnumMapping[DonorDecisionTypeEnum.WithdrawOperation].ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == DonorDecisionTypeEnum.WithdrawOperation),
                label: @Localization.GetText("TC.Decision.WithdrawOperation"),
                isDisplayBlock: true)
        </div>
        <div data-pagemode="edit">
            @ControlTemplates.InputRadioButtonNew(
                ViewBag.EnumMapping[DonorDecisionTypeEnum.AwardFundEligibility].ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == DonorDecisionTypeEnum.AwardFundEligibility),
                label: @Localization.GetText("TC.DonorDecision.AwardFundEligibility"),
                isDisplayBlock: false,
                htmlClass: "infoRadioButton")

            @Html.Partial("Partials/Controls/DonorAndESCDecisionDownloadWordButton", Model.TrustFundId)

            @ControlTemplates.InputRadioButtonNew(
                ViewBag.EnumMapping[DonorDecisionTypeEnum.RejectFundEligibility].ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == DonorDecisionTypeEnum.RejectFundEligibility),
                label: @Localization.GetText("TC.DonorDecision.RejectFundEligibility"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                ViewBag.EnumMapping[DonorDecisionTypeEnum.AwardEligibilityTCDocument].ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == DonorDecisionTypeEnum.AwardEligibilityTCDocument),
                label: @Localization.GetText("TC.DonorDecision.AwardEligibilityTCDocument"),
                isDisplayBlock: false,
                htmlClass: "infoRadioButton")

            @Html.Partial("Partials/Controls/DonorAndESCDecisionDownloadWordButton", Model.TrustFundId)

            @ControlTemplates.InputRadioButtonNew(
                ViewBag.EnumMapping[DonorDecisionTypeEnum.PlaceOperationOnHold].ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == DonorDecisionTypeEnum.PlaceOperationOnHold),
                id: "returnTeamLeader",
                label: @Localization.GetText("TC.EligibilityDecision.PlaceOperationOnHold"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                ViewBag.EnumMapping[DonorDecisionTypeEnum.WithdrawOperation].ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == DonorDecisionTypeEnum.WithdrawOperation),
                label: @Localization.GetText("TC.Decision.WithdrawOperation"),
                isDisplayBlock: true)
        </div>
    </div>
</div>

@Html.Partial("Partials/_AwardFundElegibilitySubFundCheckBox", Model.AwardFundEligibility)

<div id="awardEligibility" data-pagemode="edit">
    <div class="row row-header font-header">
        <div class="col-md-12">
            @Localization.GetText("TC.DonorDecision.ModificationsTCDocument")
            <span class="asteriskColor">*</span>
        </div>
    </div>
    <div class="row row-body-40 font-body">
        <div class="col-md-12">
            @ControlTemplates.InputTextArea(
                Model.ModificationsTCDocuments,
                "modificationsTCDocuments",
                rows: 6,
                required: true)
        </div>
    </div>
</div>

<div>
    @Html.Partial("Partials/_PlaceOperationOnHold", Model.GetDecisionOnHold())
</div>

<div id="awardFundOptions" data-pagemode="edit">
    <div class="row row-header font-header">
        <div class="col-md-4">
            @Localization.GetText("TC.DonorDecision.WaiverGranted").HtmlEncode()
        </div>
        <div class="col-md-8" data-name="explainPanel">
            @Localization.GetText("TC.DonorDecision.Explain").HtmlEncode()
            <span class="asteriskColor">*</span>
        </div>
    </div>
    <div class="row row-body-40 font-body">
        <div class="col-md-4" data-pagemode="edit">
            @ControlTemplates.InputRadioButtonNew(
                "true", "waiver", disabled: false, required: true,
                isChecked: (Model.WaiverGranted ?? true),
                label: @Localization.GetText("TC.DonorDecision.Yes"),
                dataAttributes: new Dictionary<string, string> { { "id", "waiverYes" } },
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                "false", "waiver", disabled: false, required: true,
                isChecked: !(Model.WaiverGranted ?? true),
                label: @Localization.GetText("TC.DonorDecision.No"),
                dataAttributes: new Dictionary<string, string> { { "id", "waiverNo" } },
                isDisplayBlock: true)
        </div>
        <div class="col-md-8" data-name="explainPanel">
            @ControlTemplates.InputTextArea(
                Model.Explain, "explain", rows: 6, maxLength: 100, required: true,
                dataAttributes: new Dictionary<string, string> { { "name", "explainPanel" } })
        </div>
    </div>
</div>

<div id="awardFund" style="display:none">
    <div class="row">
        <div class="col-md-12">
            <div data-id="awardFundEligibilityPartial"
                 data-loadurl="@Url.Action(
                              "GetAwardFundEscDecision",
                              "View",
                              new
                              {
                                  area = "TC",
                                  trustFundId = Model.TrustFundId,
                                  singleWindowsMeetingId = Model.SingleWindowsMeetingId
                              })">

                @Html.Partial(
                    "Partials/AwardFundEligibility/AwardFundEligibilityPartial",
                    Model.AwardFundEligibility)
            </div>
        </div>
    </div>
</div>

<div id="rejectFund" data-pagemode="edit">
    <div class="row row-header font-header">
        <div class="col-md-4">
            @Localization.GetText("TC.DonorDecision.CauseOfNoFunding").HtmlEncode()
        </div>
        <div class="col-md-8">
            @Localization.GetText("TC.DonorDecision.Justification").HtmlEncode()
            <span class="asteriskColor">*</span>
        </div>
    </div>
    <div class="row row-body-40 font-body">
        <div class="col-md-4">
            @Input.DropDown(
                ViewBag.EnumMapping[Model.CauseOfNoFunding],
                "causeOfNoFunding",
                ViewBag.CauseOfNoFundingList,
                showEmptyOption : false)
        </div>
        <div class="col-md-8">
            @ControlTemplates.InputTextArea(
                Model.GetJustificationByType(DonorDecisionTypeEnum.RejectFundEligibility),
                "justificationReject",
                rows: 6,
                required: true)
        </div>
    </div>
</div>

<div>
    @Html.Partial(
        "Partials/_WithdrawOperation",
        Model.GetJustificationByType(DonorDecisionTypeEnum.WithdrawOperation))
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial(
            "Partials/DataTables/DocumentsTable",
            new DocumentTableViewModel {
                Documents = Model.Documents,
                ShowAddButton = true,
                DocumentTableName = "DonorDecisionDocuments",
                DocumentsInstructions = null,
                AddFunctionName = "AddDocuments",
                CanDelete = true,
                BeforeDeleteFuncionName = null
            })
    </div>
</div>
