@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.Presentation.MVC4.Areas.TC.Models
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.TCAbstractModule.Enums
@using IDB.MVCControls.General.Helpers

@model IDB.MW.Application.TCAbstractModule.ViewModels.ESCDecision.ESCDecisionViewModel

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
<div data-pagemode="edit">
	<input type="hidden"
           name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE"
           value="@SaveControllerTypeEnum.Save" />
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="leftmarginh3">
            @Localization.GetText("TC.ESCDecision.ESCDecision").HtmlEncode()
        </h3>
    </div>
</div>

<div class="row row-body-40">
    <div class="col-md-12">
        <div data-pagemode="read">
            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.AwardFundEligibility]).ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == ESCDecisionTypeEnum.AwardFundEligibility),
                label: @Localization.GetText("TC.ESCDecision.AwardFundEligibility"),
                isDisplayBlock: false,
                htmlClass: "infoRadioButton")

            @Html.Partial("Partials/Controls/DonorAndESCDecisionDownloadWordButton", Model.TrustFundId)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.RejectFundEligibility]).ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == ESCDecisionTypeEnum.RejectFundEligibility),
                label: @Localization.GetText("TC.ESCDecision.RejectFundEligibility"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.EligibilityWithoutFunding]).ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == ESCDecisionTypeEnum.EligibilityWithoutFunding),
                label: @Localization.GetText("TC.ESCDecision.EligibilityWithoutFunding"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.AwardEligibilityTCDocument]).ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == ESCDecisionTypeEnum.AwardEligibilityTCDocument),
                label: @Localization.GetText("TC.ESCDecision.AwardEligibilityTCDocument"),
                isDisplayBlock: false,
                htmlClass: "infoRadioButton")

            @Html.Partial("Partials/Controls/DonorAndESCDecisionDownloadWordButton", Model.TrustFundId)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.PlaceOperationOnHold]).ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == ESCDecisionTypeEnum.PlaceOperationOnHold),
                label: @Localization.GetText("TC.EligibilityDecision.PlaceOperationOnHold"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.WithdrawOperation]).ToString(),
                "decisionDisabled",
                disabled: true,
                required: false,
                isChecked: (Model.Type == ESCDecisionTypeEnum.WithdrawOperation),
                label: @Localization.GetText("TC.Decision.WithdrawOperation"),
                isDisplayBlock: true)
        </div>
        <div data-pagemode="edit">
            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.AwardFundEligibility]).ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == ESCDecisionTypeEnum.AwardFundEligibility),
                label: @Localization.GetText("TC.ESCDecision.AwardFundEligibility"),
                isDisplayBlock: false,
                htmlClass: "infoRadioButton")

            @Html.Partial("Partials/Controls/DonorAndESCDecisionDownloadWordButton", Model.TrustFundId)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.RejectFundEligibility]).ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == ESCDecisionTypeEnum.RejectFundEligibility),
                label: @Localization.GetText("TC.ESCDecision.RejectFundEligibility"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.EligibilityWithoutFunding]).ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == ESCDecisionTypeEnum.EligibilityWithoutFunding),
                label: @Localization.GetText("TC.ESCDecision.EligibilityWithoutFunding"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.AwardEligibilityTCDocument]).ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == ESCDecisionTypeEnum.AwardEligibilityTCDocument),
                label: @Localization.GetText("TC.ESCDecision.AwardEligibilityTCDocument"),
                isDisplayBlock: false,
                htmlClass: "infoRadioButton")

            @Html.Partial("Partials/Controls/DonorAndESCDecisionDownloadWordButton", Model.TrustFundId)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.PlaceOperationOnHold]).ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == ESCDecisionTypeEnum.PlaceOperationOnHold),
                label: @Localization.GetText("TC.EligibilityDecision.PlaceOperationOnHold"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[ESCDecisionTypeEnum.WithdrawOperation]).ToString(),
                "decision",
                disabled: false,
                required: true,
                isChecked: (Model.Type == ESCDecisionTypeEnum.WithdrawOperation),
                label: @Localization.GetText("TC.Decision.WithdrawOperation"),
                isDisplayBlock: true)
        </div>
    </div>
</div>

@Html.Partial("Partials/_AwardFundElegibilitySubFundCheckBox", Model.AwardFundEligibility)

<div id="awardEligibility">
    <div class="row row-header font-header" data-pagemode="edit">
        <div class="col-md-12">
            @Localization.GetText("TC.ESCDecision.ModificationsTCDocument").HtmlEncode()
            <span class="asteriskColor">*</span>
        </div>
    </div>
    <div class="row row-body-40" data-pagemode="edit">
        <div class="col-md-12">
            @ControlTemplates.InputTextArea(
                Model.ModificationsTCDocuments,
                "modificationsTCDocuments",
                rows: 6,
                required: true)
        </div>
    </div>
</div>

<div id="awardFundEligibility" style="display:none">
    <div class="row">
        <div class="col-md-12">
            <div data-id="awardFundEligibilityPartial"
                 data-loadurl="@Url.Action(
                              "GetAwardFundEscDecision",
                              "View",
                              new
                              {
                                  area = "TC",
                                  trustFundId = Model.TrustFundId,
                                  singleWindowsMeetingId = Model.SingleWindowsMeetingId
                              })">

                @Html.Partial(
                    "Partials/AwardFundEligibility/AwardFundEligibilityPartial",
                    Model.AwardFundEligibility)
            </div>
        </div>
    </div>
</div>

<div>
    @Html.Partial("Partials/_PlaceOperationOnHold", Model.GetDecisionOnHold())
</div>

<div id="rejectFund" data-pagemode="edit">
    <div class="row row-header font-header">
        <div class="col-md-4">
            @Localization.GetText("TC.ESCDecision.CauseOfNoFunding").HtmlEncode()
        </div>
        <div class="col-md-8">
            @Localization.GetText("TC.ESCDecision.Justification").HtmlEncode()
            <span class="asteriskColor">*</span>
        </div>
    </div>
    <div class="row row-body-40 font-body">
        <div class="col-md-4">
            @Input.DropDown(
                ViewBag.EnumMapping[Model.CauseOfNoFunding],
                "causeOfNoFunding",
                ViewBag.CauseOfNoFundingList,
                showEmptyOption : false)
        </div>
        <div class="col-md-8">
            @ControlTemplates.InputTextArea(
                Model.GetJustificationByType(ESCDecisionTypeEnum.RejectFundEligibility),
                "justificationReject",
                rows: 6,
                required: true)
        </div>
    </div>
</div>

<div>
    @Html.Partial(
        "Partials/_WithdrawOperation",
        Model.GetJustificationByType(ESCDecisionTypeEnum.WithdrawOperation))
</div>

<div id="withoutFund" data-pagemode="edit">
    <div class="row row-header font-header">
        <div class="col-md-12">
            @Localization.GetText("TC.ESCDecision.TypeOperation").HtmlEncode()
        </div>
    </div>
    <div class="row row-body-40 font-body">
        <div class="col-md-12">
            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[EscDecisionOperationTypeEnum.Flex]).ToString(),
                "typeOperation",
                disabled: false,
                required: true,
                isChecked: (Model.TypeOperation == EscDecisionOperationTypeEnum.Flex),
                label: @Localization.GetText("TC.ESCDecision.FlexOperation"), isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                (ViewBag.EnumMapping[EscDecisionOperationTypeEnum.FundingGap]).ToString(),
                "typeOperation",
                disabled: false,
                required: true,
                isChecked: (Model.TypeOperation == EscDecisionOperationTypeEnum.FundingGap),
                label: @Localization.GetText("TC.ESCDecision.FundingGap"), isDisplayBlock: true)
        </div>
    </div>
</div>

@Html.Partial(
    "Partials/DataTables/DocumentsTable",
    new DocumentTableViewModel {
        Documents = Model.Documents,
        ShowAddButton = true,
        DocumentTableName = "EscDecisionDocuments",
        DocumentsInstructions = null,
        AddFunctionName = "AddDocuments",
        CanDelete = true,
        BeforeDeleteFuncionName = null
    })
