@using IDB.Architecture.Language
@using System.Web.Mvc
@using System.Globalization
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MW.Application.TCAbstractModule.ViewModels.FilterFunds

@model List<FilterFundsViewModel>



<div class="row" data-id="TableDiv">
    <div class="col-md-12">
        @{
            var config = Html.RenderDataTable(Model);
                config.Name("FilterFundTable")
                .PrimaryKey(m => m.FundId.ToString())
                .AddPrimaryKeyToName(false)
                .Columns(columns =>
                {
                    columns.Template(c => GetFundlink(c.FundName, c.FundId)).Persistent().Header(@Localization.GetText("TC.FilterFunds.FundName")).Orderable(true);

                    columns.Bound(c => c.SapCode).Persistent().Header(@Localization.GetText("TC.FilterFunds.SAPCode")).Orderable(true);

                    columns.Bound(c => c.FundCode).Persistent().Header(@Localization.GetText("TC.FilterFunds.FundCode")).Orderable(true);

                    columns.Bound(c => c.FundCoordinator).Persistent().Header(@Localization.GetText("TC.FilterFunds.FundCoordinator")).Orderable(true);
                });
                
                config.TableClass = "table-default dataTable no-footer";
        }

        @Html.Partial("Controls/DataTable", config)

    </div>
</div>

@helper GetFundlink(string text, int fundId)
{
    <a data-name="true" href="@Url.Action("FundInformation", "View", new {area = "TC",fundId = fundId.ToString()})">@text.HtmlEncode()</a>
}




