@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.Presentation.MVC4.Areas.TC.Models
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.TCAbstractModule.Enums

@model IDB.MW.Application.TCAbstractModule.ViewModels.ReviewFundCoordination.FundCoordinatorTCAbstractViewModel


<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

<div data-pagemode="edit">
    <input type="hidden" name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE" value="@SaveControllerTypeEnum.Save" />
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="row row-header">
            <div class="col-md-3 font-body">
                @Localization.GetText("TC.FundCoordinator.FundAvailability")
                @Localization.GetText("TC.FundCoordinator.FundAvailability.for")
                @Model.FundCode.HtmlEncode()
            </div>
            <div class="col-md-9 row-header">
                @Display.ButtonLink(Localization.GetText("TC.FundCoordinator.Hide"), name: "fundCoordinatorButton", action: "hideFundCoordinator")
            </div>
        </div>

        <div id="FundAvailibility">

            <div class="row row-body-40">
                <div class="col-md-2 font-header">
                    @Localization.GetText("TC.FundCoordinator.CurrentAvailability").HtmlEncode()
                </div>
                <div class="col-md-2 font-body">
                    @Model.CurrentAvailability.HtmlEncode()
                </div>
                <div class="col-md-2 font-header">
                    @Localization.GetText("TC.FundCoordinator.UpcomingContributions").HtmlEncode()
                </div>
                <div class="col-md-2 font-body">
                    @Model.UpcomingContributions.HtmlEncode()
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row row-body-40">
                <div class="col-md-2 font-header">
                    @Localization.GetText("TC.FundCoordinator.ApprovalsYTD").HtmlEncode()
                </div>
                <div class="col-md-2 font-body">
                    @Model.ApprovalsYTD.HtmlEncode()
                </div>
                <div class="col-md-2 font-header">
                    @Localization.GetText("TC.FundCoordinator.CurrentYrPipeline").HtmlEncode()
                </div>
                <div class="col-md-2 font-body">
                    @Model.CurrentYrPipeline.HtmlEncode()
                </div>
                <div class="col-md-4"></div>
            </div>

        </div>
    </div>
</div>


<div id="FundCoordinatorDecision">
    <div class="row row-header font-body">
        <div class="col-md-12">
            @Localization.GetText("TC.FundCoordinator.FundCoordinatorDecision").HtmlEncode()
        </div>
    </div>

    <div class="row row-body-40 validationTC">
        <div class="col-md-4">
            <div data-pagemode="read">

                @ControlTemplates.InputRadioButtonNew(name: "eligibleDisabled", value: ((int)FundCoordinatorDecisionEnum.Elegible).ToString(),
                disabled: true, required: false, label: @Localization.GetText("TC.FundCoordinator.Eligible"),
                isChecked: (Model.FundCoordinatorDecision == FundCoordinatorDecisionEnum.Elegible), isDisplayBlock: true)


                @ControlTemplates.InputRadioButtonNew(name: "eligibleDisabled", value: ((int)FundCoordinatorDecisionEnum.NotElegible).ToString(),
                disabled: true, required: false, label: @Localization.GetText("TC.FundCoordinator.NotEligible"),
                         isChecked: (Model.FundCoordinatorDecision == FundCoordinatorDecisionEnum.NotElegible), isDisplayBlock: true)

            </div>


            <div data-pagemode="edit">

                @ControlTemplates.InputRadioButtonNew(name: "eligible", value: ((int)FundCoordinatorDecisionEnum.Elegible).ToString(),
                disabled: false, required: true, label: @Localization.GetText("TC.FundCoordinator.Eligible"),
                         isChecked: (Model.FundCoordinatorDecision == FundCoordinatorDecisionEnum.Elegible), isDisplayBlock: true, id: "eligible")


                @ControlTemplates.InputRadioButtonNew(name: "eligible", value: ((int)FundCoordinatorDecisionEnum.NotElegible).ToString(),
                         disabled: false, required: false, label: @Localization.GetText("TC.FundCoordinator.NotEligible"),
                         isChecked: (Model.FundCoordinatorDecision == FundCoordinatorDecisionEnum.NotElegible), isDisplayBlock: true, id: "notEligible")

            </div>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>

<div id="decisionEligible" class="hide" data-pagemode="edit">
    <div class="row row-header font-header">
        <div class="col-md-4">
            @Localization.GetText("TC.FundCoordinator.TypeEligibility").HtmlEncode()
        </div>
        <div class="col-md-8">
            @Localization.GetText("TC.FundCoordinator.ChangesNeeded").HtmlEncode()
            <span class="asteriskColor">*</span>
        </div>
    </div>

    <div class="row row-body-40 font-body">
        <div class="col-md-4">
            @Input.DropDown(Model.TypeEligibility, "typeEligibility", ViewBag.TypeEligibilityList, showEmptyOption: false)
        </div>
        <div class="col-md-8">
            @ControlTemplates.InputTextArea(Model.ChangesNeeded, "changesNeeded", rows: 6, required: true)
        </div>
    </div>
</div>


<div id="decisionNotEligible" class="hide" data-pagemode="edit">
    <div class="row row-header font-header">
        <div class="col-md-6">
            @Localization.GetText("TC.FundCoordinator.CauseOfNoFunding").HtmlEncode()
        </div>
        <div class="col-md-6">
            @Localization.GetText("TC.FundCoordinator.Justification").HtmlEncode()
            <span class="asteriskColor" name="asteriskJustification">*</span>
        </div>
    </div>

    <div class="row row-body-40 font-body">
        <div class="col-md-6">
            @Input.DropDown(Model.CauseOfNoFunding, "causeOfNoFunding", ViewBag.CauseOfNoFundingList, showEmptyOption: false)
        </div>
        <div class="col-md-6">
            <div data-pagemode="edit">
                @ControlTemplates.InputTextArea(Model.Justification, "justificationTextArea", rows: 6, required: false)
            </div>
        </div>
    </div>
</div>

<div class="row row-header">
    <div class="col-md-12">
        <h3 class="leftmarginh3">@Localization.GetText("TC.TCAbstract.Comments.Title").HtmlEncode()</h3>
    </div>
</div>

<div class="row row-body-40">
    <div class="col-md-12">
        @Html.Partial("Partials/TCComments", new TCCommentRepeaterViewModel { Comments = Model.Comments, Type = CommentTypeEnum.TCFundCordinatorReview })
    </div>
</div>
