@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.MW.Infrastructure.SecurityService.Enums

@model IDB.MW.Application.TCAbstractModule.ViewModels.FundInformation.FundInformationViewModel

@{
    var tabs = new Dictionary<string, string>(){
       {"tabBasicInformation", Localization.GetText("TC.TAB.BasicInformation")},
       {"tabFundFigures", Localization.GetText("TC.TAB.FundFigures")},
       {"tabDonorsAndPledges", Localization.GetText("TC.TAB.DonorsAndPledges")},
       {"tabFundedOperations", Localization.GetText("TC.TAB.FundedOperations")}
    };

    if (MvcHelpers.CheckRole(ViewBag.GLobalRoleList, ActionEnum.GCMReadPermission))
    {
        tabs.Add("tabDocuments", Localization.GetText("Documents"));
    }
}

<div class="row">
    <div class="col-md-12">
        @Confluence.Tabs(tabs)
    </div>
</div>
<div class="tab-content">
    <!-- tabBasicInformation -->
    <div class="tab-pane active"
         id="tabBasicInformation"
         data-idb-fieldname="tabBasicInformation"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-ignore-nullable-values="true"
         data-loadurl="@Url.Action("FundInformationEditBasicData", "View", new { area = "TC", fundid = Model.FundID })"
         data-url="@Url.Action("FundInformationBasicData", "Save", new { area = "TC", fundid = Model.FundID })">

        @Html.Partial("Partials/FundInformation/FIData", Model.BasicData)
    </div>
    <!-- tabFundFigures -->
    <div class="tab-pane" id="tabFundFigures" data-idb-fieldname="tabFundFigures">
        <div class="row mb50 mt20">
            <div class="col-md-12 pl0">
                @Confluence.LabelTitleGroup(@Localization.GetText("TC.TAB.FundFigures"))
            </div>
        </div>
        @Html.Partial("Partials/FundInformation/FIFigures", Model.Figures)
    </div>
    <!-- tabDonorsAndPledges -->
    <div class="tab-pane" id="tabDonorsAndPledges" data-idb-fieldname="tabDonorsAndPledges">
        <div class="row mb50 mt20">
            <div class="col-md-12 pl0">
                @Confluence.LabelTitleGroup(@Localization.GetText("TC.TAB.DonorsAndPledges"))
            </div>
        </div>
        <div class="row mb50">
            <div class="col-md-12 mb10 pl0">
                @displayPack("DonorsTableDisplayed", "", false)
                @Confluence.LabelSubTitleGroup(@Localization.GetText("TC.FunInformation.Donors.Title"))
            </div>
            <div class="col-md-12 pl0 noScroll">
                @Html.Partial("Partials/FundInformation/FIDonorsTable", Model.FundID)
            </div>
        </div>
        <div class="row mb50">
            <div class="col-md-12 mb10 pl0">
                @displayPack("pendingPledgesTableDisplayed", "", false)
                @Confluence.LabelSubTitleGroup(@Localization.GetText("TC.FunInformation.PendingPledges.Title"))
            </div>
            <div class="col-md-12 pl0 noScroll">
                @Html.Partial("Partials/FundInformation/FIPendingPledgesTable", Model.FundID)
            </div>
        </div>
    </div>
    <!-- tabFundedOperations -->
    <div class="tab-pane"
         id="tabFundedOperations"
         data-idb-fieldname="tabFundedOperations"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-ignore-nullable-values="true"
         data-loadurl="@Url.Action("FundInformationEditFundedOperations", "View", new { area = "TC", fundid = Model.FundID })"
         data-url="@Url.Action("FundInformationFundedOperations", "Save", new { area = "TC", fundid = Model.FundID })">
            @Html.Partial("Partials/FundInformation/FIFundedOperations", Model.ExtFundWorkforce)
    </div>
    <!-- tabDocuments -->
    @if (MvcHelpers.CheckRole(ViewBag.GLobalRoleList, ActionEnum.GCMReadPermission))
    {
        <div class="tab-pane mb150"
             id="tabDocuments"
             data-idb-fieldname="tabDocuments"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-ignore-nullable-values="true"
             data-loadurl="@Url.Action("FundInformationEditDocuments", "View", new { area = "TC", fundid = Model.FundID })"
             data-url="@Url.Action("FundInformationDocuments", "Save", new { area = "TC", fundid = Model.FundID })">
                @Html.Partial("Partials/FundInformation/FIDocumentsTable", Model.Documents)
        </div>
    }
</div>

@helper displayPack(string dropDownName, string width, bool showExcelButton, string actionExcel = "")
{
    <div class="@width float-right">
        @Confluence.InputDropDown("10", dropDownName, ViewBag.Displayed, showEmptyOption: false, placeholder: string.Empty, orderAsc: false, width: "170px", htmlClass: "dropPagination")
        @if (showExcelButton)
        {
            <div data-pagemode="read" data-type="exportExcelArea" class="float-right">
                @Confluence.ButtonExcel(null, action: actionExcel)
            </div>
        }
    </div>
}
