@using IDB.MW.Application.TCAbstractModule.ViewModels.ReviewRegionalTL
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.Presentation.MVC4.Areas.TC.Models
@using IDB.Presentation.MVC4.Areas.TC.Controllers

@model PriorityTCAbstractViewModel

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
<div data-pagemode="edit">
    <input type="hidden"
           name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE"
           value="@SaveControllerTypeEnum.Save" />
</div>
<div class="row row-header font-header">
    <div class="col-md-12">
        @Localization.GetText("TC.PriorityTC.Priority").HtmlEncode()
    </div>
</div>
<div class="row row-body-40 font-body">
    <div class="col-md-3">
        <div data-pagemode="read">
            @Input.DropDownGetSelectedString(ViewBag.EnumMapping[Model.Priority], @ViewBag.PriorityList)
        </div>
        <div data-pagemode="edit">
            @Input.DropDown(
                ViewBag.EnumMapping[Model.Priority],
                "priority",
                @ViewBag.PriorityList,
                showEmptyOption: false)
        </div>
    </div>
</div>
<div class="row row-body-40 font-body">
    <div class="col-md-12">
        <h3 class="leftmarginh3">@Localization.GetText("TC.TCAbstract.Comments.Title").HtmlEncode()</h3>
        @Html.Partial(
            "Partials/TCComments",
            new TCCommentRepeaterViewModel
            {
                Comments = Model.Comments,
                Type = CommentTypeEnum.TCRegionalTeamLeaderReview
            })
    </div>
</div>