@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Areas.TC.Models
@using IDB.MW.Infrastructure.Configuration

@model IDB.MW.Application.TCAbstractModule.ViewModels.RequestIncrease.RequestIncreaseViewModel

@{

    var expRegDecimal = ConfigurationServiceFactory.Current.GetApplicationSettings().ValidationDecimalExpReg;
    var formatDecimal = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDecimal;
}

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

<div data-pagemode="edit">
    <input type="hidden" name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE" value="@SaveControllerTypeEnum.Save" />
</div>

<div class="row row-header font-header">
    <div class="col-md-4">
        @Localization.GetText("TC.RequestIncrease.IncreaseRequested").HtmlEncode()
        <span class="asteriskColor">*</span>
    </div>
</div>

<div class="row row-body-40 font-body">
    <div class="col-md-4">
        <span data-pagemode="read">
            @FormatHelper.Format(Model.IncreaseRequested, formatDecimal)
        </span>
        <span data-pagemode="edit">
            @ControlTemplates.InputDecimal(Model.IncreaseRequested, "increaseRequested", required: false, minValue: "0.00", maxValue: "999999999.99", numberSeparator: ",", decimalSeparator: ".", expReg: expRegDecimal)
        </span>
    </div>
</div>

<div class="row row-header font-header">
    <div class="col-md-12">
        @Localization.GetText("TC.RequestIncrease.Background").HtmlEncode()
        <span class="asteriskColor">*</span>
    </div>
</div>

<div class="row row-body-40 font-body">
    <div class="col-md-12">
        <span data-pagemode="read">
            @Model.Background.HtmlEncode()
        </span>
        <span data-pagemode="edit">
            @ControlTemplates.InputTextArea( Model.Background , "background" , rows: 6 , required: false )
        </span>
    </div>
</div>

<div class="row row-header font-header">
    <div class="col-md-12">
        @Localization.GetText("TC.RequestIncrease.Recommendation").HtmlEncode()
        <span class="asteriskColor">*</span>
    </div>
</div>

<div class="row row-body-40 font-body">
    <div class="col-md-12">
        <span data-pagemode="read">
            @Model.Recommendation.HtmlEncode()
        </span>
        <span data-pagemode="edit">
            @ControlTemplates.InputTextArea( Model.Recommendation , "recommendation" , rows: 6 , required: false )
        </span>
    </div>
</div>

<div class="row row-header font-header">
    <div class="col-md-12">
        @Localization.GetText("TC.RequestIncrease.Authority").HtmlEncode()
        <span class="asteriskColor">*</span>
    </div>
</div>

<div class="row row-body-40 font-body">
    <div class="col-md-12">
        <span data-pagemode="read">
            @Model.Authority.HtmlEncode()
        </span>
        <span data-pagemode="edit">
            @ControlTemplates.InputTextArea( Model.Authority , "authority" , rows: 6 , required: false )
        </span>
    </div>
</div>
@Html.Partial("Partials/DataTables/DocumentsTable", new DocumentTableViewModel
{
    Documents = Model.Documents,
    ShowAddButton = true,
    DocumentTableName = "RequestIncreaseDocuments",
    DocumentsInstructions = @Localization.GetText("TC.RequestIncrease.Documents.Instrunctions"),
    AddFunctionName = "AddDocuments",
    CanDelete = true,
    BeforeDeleteFuncionName = null,
    PageAreaRequestIncrease = true
})
