@using IDB.Architecture.Language
@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Areas.TC.Models
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Models.Documents
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@model TCAbstractViewModel

<div data-id="ModalReloadedRegion" class="hide">
    <div id="dataMemberModal" class="hide">
        @Html.Partial("Partials/Modals/TCMemberDataModal", Model.MembersData)
    </div>
    <div id="searchIDBDocModal" class="hide">
        @Html.Partial(
            "Controls/IDBDocsSG/SearchIDBDoc",
            new SearchDocumentModalViewModel
            {
                SearchModalId = "SearchModal",
                MultipleSelection = false,
                TargetFunction = "DocumentSelected"
            })
    </div>
</div>
<div data-id="HiddenButtonRegion" class="hide">
    @Display.AddModalButton(
        new ModalViewModel(
            name: "buttonSearchDocument",
            allowClose: true,
            contentSelector: "#searchIDBDocModal",
            type: CssClass.ModalSearchAddDocument,
            title: Localization.GetText("Document.Title.Search"),
            validateForm: false))
</div>
<div data-pagemode="edit">
    <input type="hidden" name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE" value="@SaveControllerTypeEnum.Save" />
    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
    <input type="hidden" id="modalMandatory" value="@Localization.GetText("TC.TCAbstractModalNotSave.Message")" />
</div>
<div class="row container-fluid">
    <div class="col-md-12">
        @Display.ExpandableButton(
            "[data-name='basic-data-section']",
            htmlClass: "collapsible-h3",
            name: "basic-data-btn")
        <h3>@Localization.GetText("TC.TCAbstract.BasicData.Title").HtmlEncode()</h3>
        @Html.Partial("Partials/TCBasicData", Model.BasicData)
    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-12">
        @Display.ExpandableButton(
            "[data-name='result-matrix-section']",
            htmlClass: "collapsible-h3",
            name: "result-matrix-btn")
        <h3>
            <table>
                <tr>
                    <td style=" white-space: nowrap; vertical-align:bottom;">
                        @Localization.GetText("TC.TCAbstract.ResultsMatrix.Title").HtmlEncode()
                        <em>
                            (@Localization.GetText("TC.TCAbstract.ResultsMatrix.Status").HtmlEncode())
                        </em>
                        <span class="asteriskColor font-header">*</span>
                    </td>
                    <td>
                        @Display.IconInformation()
                        <span class="information">
                            @Localization.GetText("TC.TCAbstract.ResultsMatrix.Information").HtmlEncode()
                        </span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Display.IconInformation()
                        <span class="information">
                            @Localization.GetText("TC.TCAbstract.ResultsMatrix.Information.Required").HtmlEncode()
                        </span>
                    </td>
                </tr>
            </table>
        </h3>
        @Html.Partial("Partials/TCResultsMatrix", Model.ResultsMatrix)
    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-12">
        @Display.ExpandableButton(
            "[data-name='sustainability-section']",
            htmlClass: "collapsible-h3",
            name: "sustainability-btn")
        <h3>
            @Localization.GetText("TC.TCAbstract.Sustainability.Title").HtmlEncode()
        </h3>
        @Html.Partial("Partials/TCAbstractPartials/Sustainability", Model)
    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-12">
        @Display.ExpandableButton(
            "[data-name='lesson-learned-section']",
            htmlClass: "collapsible-h3",
            name: "lesson-learned-section-btn")
        <h3>
            @Localization.GetText("TC.TCAbstract.LessonLearned.Title").HtmlEncode()
        </h3>
        @Html.Partial("Partials/TCAbstractPartials/LessonLearned", Model)
    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-12">
        @Display.ExpandableButton(
            "[data-name='financing-table']",
            htmlClass: "collapsible-h3",
            name: "financing-btn")
        <h3>
            @Localization.GetText("TC.TCAbstract.Financing.Title").HtmlEncode()
        </h3>
        @Html.Partial("Partials/TCFinancing", Model.Financing)

        @Confluence.InformationSection(
            string.Format(
                Localization.GetText("TC.TCAbstract.Information.RequiredCounterPartAmount"),
                string.Format("{0:#,##0.00}", Model.BasicData.FinancingData.Financing),
                string.Format("{0:#,##0.00}", Model.BasicData.FinancingData.CounterpartFinancing)),
            "80%",
            htmlClass: "info-match-counterpart")
    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-12">
        @Display.ExpandableButton(
            "[data-name='risks-section']",
            htmlClass: "collapsible-h3",
            name: "risks-btn")
        <h3>
            @Localization.GetText("TC.TCAbstract.Risks.Title").HtmlEncode()
            @Display.IconInformation()
            <span class="information">
                @Localization.GetText("TC.TCAbstract.Risks.Information").HtmlEncode()
            </span>
        </h3>
        @Html.Partial("Partials/TCRisks", Model)
    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-12">
        <h3 class="leftmarginh3">
            <table>
                <tr>
                    <td style=" white-space: nowrap; vertical-align:bottom;">
                        @Localization.GetText("TC.TCAbstract.Comments.Title").HtmlEncode()
                    </td>
                    <td >
                        @Display.IconInformation()
                        <div class="information" style="float: right; width: calc(100% - 50px);">
                            @Localization.GetText("TC.TCAbstract.Comments.Information").HtmlEncode()
                        </div>
                    </td>
                </tr>
            </table>
        </h3>
        <div>
            @Html.Partial(
                "Partials/TCComments",
                new TCCommentRepeaterViewModel
                {
                    Comments = Model.Comments,
                    Type = CommentTypeEnum.TCAbstract
                })
        </div>
    </div>
</div>