@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration

@model List<IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.TCAbstractCommentsViewModel>

@{
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;
}


@foreach (var comment in Model)
{
    <div class="row row-header row-header-comment">
        <div class="col-md-12">
            <span>@FormatHelper.Format(Convert.ToDateTime(comment.Date), formatDate).HtmlEncode()</span>
            @if (string.IsNullOrEmpty(comment.UserFullName))
            {
                <span>@comment.User.HtmlEncode()</span>
            }
            else
            {
                <span>@Localization.GetText("TC.TCAbstract.Comments.FullUserName").HtmlEncode() &nbsp; @comment.UserFullName.HtmlEncode()</span>
            }
        </div>
    </div>

    <div class="row repeater-item-comment">
        <div class="col-md-12">
            <div class="font-comment">
                @comment.Comment.HtmlEncode()
            </div>
        </div>
    </div>

}

