@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Models.Repeater
@using IDB.Presentation.MVC4.General

@model ComponentViewModel

<div data-id="@Model.ComponentId">
    <div data-pagemode="read">
        <div class="row row-body-40">
            <div class="col-md-2 font-header">
                @Localization.GetText("TC.TCAbstract.ResultsMatrix.ComponentName")
                <span class="asteriskColor">*</span>
            </div>
            <div class="col-md-10 font-body">
                @Model.ComponentName.HtmlEncode()
            </div>
        </div>
        <div class="row row-body-40">
            <div class="col-md-2 font-header">
                @Localization.GetText("TC.TCAbstract.ResultsMatrix.ComponentDescription")
                <span class="asteriskColor">*</span>
            </div>
            <div class="col-md-10 font-body">
                @Model.ComponentDescription.HtmlEncode()
            </div>
        </div>
    </div>
    <div data-pagemode="edit">
        <div class="row row-body-40">
            <div class="col-md-2 font-header">
                @Localization.GetText("TC.TCAbstract.ResultsMatrix.ComponentName")
                <span class="asteriskColor">*</span>
            </div>
            <div class="col-md-10 font-body">
                @ControlTemplates.InputText(
                    Model.ComponentName,
                    "componentName",
                    required: true,
                    maxLength: 500,
                    dataAttributes: new Dictionary<string, string>
                    {
                        { "label", Localization.GetText("TC.TCAbstract.ResultsMatrix.ComponentName") }
                    })
            </div>
        </div>
        <div class="row row-body-40">
            <div class="col-md-2 font-header">
                @Localization.GetText("TC.TCAbstract.ResultsMatrix.ComponentDescription")
                <span class="asteriskColor">*</span>
            </div>
            <div class="col-md-10 font-body">
                @ControlTemplates.InputText(
                    Model.ComponentDescription,
                    "componentDescription",
                    required: true,
                    maxLength: 500,
                    dataAttributes: new Dictionary<string, string>
                    {
                        { "label", Localization.GetText("TC.TCAbstract.ResultsMatrix.ComponentDescription") }
                    })
            </div>
        </div>
    </div>
    <div class="row-body-40">
        @Html.Partial(
            "~/Views/Shared/Controls/Repeater.cshtml",
            new RepeaterModel<TCOutputViewModel>
            {
                Name = "TCOutputs-of-Component",
                PartialViewName = "Partials/TCOutputs",
                RepeaterModelData = Model.Outputs,
                ModelTemplate = new TCOutputViewModel { OutputId = -1 },
                PropertyNameId = "OutputId",
                ParentId = Model.ComponentId.ToString(),
                ButtonNewRowContainerStyle = "row row-body-50",
                ButtonNewColContainerStyle = "col-md-12 text-center newOutputContainer",
                ButtonNewStyle = "button08",
                ButtonNewText = Localization.GetText("TC.TCAbstract.ResultsMatrix.NewOutput"),
                ButtonNewPosition = "bottom",
                ButtonDeleteClass = CssClass.ButtonDelete,
                ButtonDeleteHasIcon = true,
                ButtonDeletePosition = Position.Right,
                ButtonDeleteAlign = Position.Top,
                CanRemoveElement = x => true
            })
    </div>
</div>