@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.Presentation.MVC4.Areas.TC.Models
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.TCAbstractModule.Enums

@model IDB.MW.Application.TCAbstractModule.ViewModels.ValidationTCAbstract.ValidationTCAbstractViewModel

<div id="validation" class="validationTC">
    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
    <div data-pagemode="edit">
        <input type="hidden"
               name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE"
               value="@SaveControllerTypeEnum.Save" />
    </div>
    <div class="row row-body-40 font-body">
        <div class="col-md-4">
            <div data-pagemode="read">
                @ControlTemplates.InputRadioButtonNew(
                    (ViewBag.EnumMapping[ValidationTypeEnum.Validate]).ToString(),
                    "validateDisabled",
                    disabled: true,
                    required: false,
                    isChecked: (Model.Type == ValidationTypeEnum.Validate),
                    label: @Localization.GetText("TC.ValidationTC.Validate"),
                    isDisplayBlock: true)
                
                @ControlTemplates.InputRadioButtonNew(
                    (ViewBag.EnumMapping[ValidationTypeEnum.ReturnTeamLeader]).ToString(),
                    "validateDisabled",
                    disabled: true,
                    required: false,
                    isChecked: (Model.Type == ValidationTypeEnum.ReturnTeamLeader),
                    label: @Localization.GetText("TC.ValidationTC.ReturnTeamLeader"),
                    isDisplayBlock: true)
            </div>
            <div data-pagemode="edit">
                @ControlTemplates.InputRadioButtonNew(
                    (ViewBag.EnumMapping[ValidationTypeEnum.Validate]).ToString(),
                    "validate",
                    required: true,
                    isChecked: (Model.Type == ValidationTypeEnum.Validate),
                    id: "validate",
                    label: @Localization.GetText("TC.ValidationTC.Validate"),
                    isDisplayBlock: true)

                @ControlTemplates.InputRadioButtonNew(
                    (ViewBag.EnumMapping[ValidationTypeEnum.ReturnTeamLeader]).ToString(),
                    "validate",
                    required: true,
                    isChecked: (Model.Type == ValidationTypeEnum.ReturnTeamLeader),
                    id: "returnTeamLeader",
                    label: @Localization.GetText("TC.ValidationTC.ReturnTeamLeader"),
                    isDisplayBlock: true)

                @ControlTemplates.InputText(
                    value: "numTLComments",
                    name: "validatorMinTLComments",
                    htmlClass: "hide",
                    dataAttributes: new Dictionary<string, string>
                    {
                        { "parsley-minElementsFilled-message", Localization.GetText("R6.Proposal.MessageAddComment") }
                    })
            </div>
        </div>
    </div>
    <div id="commentsTeamLeader" class="hide">
        <div class="row row-header font-header">
            <div class="col-md-12">
                <h3 class="leftmarginh3">
                    @Localization.GetText("TC.TCAbstract.Comments.Title").HtmlEncode() 
                    @Display.IconInformation()
                    <span class="information">
                        @Localization.GetText("TC.ValidationTC.Comments.InformationTeamLeader").HtmlEncode()
                    </span>
                </h3>
            </div>
        </div>
        @Html.Partial(
            "Partials/TCComments",
            new TCCommentRepeaterViewModel
            {
                Comments = Model.CommentsTeamLeader,
                Type = CommentTypeEnum.TCAbstractTeamLeader
            })
    </div>
    <div id="commentsInternal">
        <div class="row row-header font-header">
            <div class="col-md-12">
                <h3 class="leftmarginh3">
                    @Localization.GetText("TC.TCAbstract.Comments.Title").HtmlEncode() 
                    @Display.IconInformation()
                    <span class="information">
                        @Localization.GetText("TC.ValidationTC.Comments.InformationInternal").HtmlEncode()
                    </span>
                </h3>
            </div>
        </div>
        @Html.Partial(
            "Partials/TCComments",
            new TCCommentRepeaterViewModel
            {
                Comments = Model.CommentsInternal,
                Type = CommentTypeEnum.TCAbstractInternal
            })
    </div>
    @Html.Partial("_TCHeader", Model.TCAbstract.Header)
</div>