@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General


@Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"reassign-modal\"]",
                        title: Localization.GetText("CS.ResultMatrix.Modal.ReassignPriorityArea"),
        type: CssClass.ModalInformationNoIcon,
        moveOriginalContent: true,
        name: "btn-open-popup-reassign",
        closeOnOverlay: false,
        allowClose: true,
        actionOnClose: "")
    .AddButton(name: "btn-reassign-cancel",
                    text: Localization.GetText("Common.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "")
    .AddButton(name: "btn-reassign-reassign",
                    text: Localization.GetText("Common.Reassign"),
                    type: CssClass.Button01,
                    callback: "reassignObjective",
                    closeAtEnd: true))

<div data-name="reassign-modal" class="hide modalBody">
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.Reassing.PriorityArea")</label>
            </div>
            <div class="lblvalue bold" data-section="component-name">
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.Modal.CSObjective")</label>
            </div>
            <div class="lblvalue bold" data-section="objective-name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.Modal.ReassignCSObjectivePriotityArea")</label>
            </div>
            <div class="lblvalue bold" data-section="target-component">
                @Confluence.InputDropDown("", "newComponent", new List<SelectListItem>(),width: "100%")
            </div>
        </div>
    </div>
</div>