@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@{
    var config = Html.RenderDataTable<string>();
    config.Name("reasignTable")
    .UseDataTableNet(false)
    .UsePageMode(false)
    .AddPrimaryKeyToName(false)
    
    .Columns(columns =>
    {
        columns.Bound(x => "")
            .Persistent()
            .HeaderAttribute("style", "width: 60%;")
            .Header(Localization.GetText("CS.ResultMatrix.Modal.Indicator"));

        columns.Bound(x => "")
            .Persistent()
            .HeaderAttribute("style", "width: 40%;")
            .Header(Localization.GetText("CS.ResultMatrix.Modal.ReassignComponent"));
    })
    .RowTemplates(x =>
    {
        x.Create(RowTemplateType.FirstRow, Template);
    });

    config.TableClass = "tableNormal";
}

@Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"remove-component-modal\"]",
        title: Localization.GetText("Common.Warning"),
        type: CssClass.ModalWarningNoIcon,
        moveOriginalContent: true,
        name: "btn-open-popup-remove-component",
        closeOnOverlay: false,
        allowClose: true,
        actionOnClose: "")
    .AddButton(name: "btn-remove-component-cancel",
                    text: Localization.GetText("Common.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "")
        .AddButton(name: "btn-remove-component-reassign",
                    text: Localization.GetText("Common.Delete"),
                    type: CssClass.Button05,
                    callback: "removeComponent",
                    closeAtEnd: true))


<div data-name="remove-component-modal" class="hide modalBody">
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblvalue bold">
                @Localization.GetText("CS.ResultMatrix.Modal.TextForUpdate")
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.Modal.Component")</label>
            </div>
            <div class="lblvalue bold" data-section="component-name">
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblvalue bold">
                @Localization.GetText("CS.ResultMatrix.Modal.TextUnlessReassigned")
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12" data-section="reasign">
            @Html.Partial("Controls/DataTable", config)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.Modal.TextUndone")</label>
            </div>
        </div>
    </div>
</div>

@helper Template(string model)
{
    <tr class="hide">
        <td>
        </td>
        <td>
            @Confluence.InputDropDown("", "tableReasignObjective", new List<SelectListItem>(), placeholder: Localization.GetText("Common.None"), width: "300px", htmlClass: "maxWidth300")
        </td>
    </tr>
}