@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"unlink-crf-modal\"]",
        title: Localization.GetText("CS.ResultMatrix.Modal.UnlinkPI"),
        type: CssClass.ModalInformationNoIcon,
        moveOriginalContent: true,
        name: "btn-open-popup-unlink",
        closeOnOverlay: false,
        allowClose: true,
        actionOnClose: "")
        .AddButton(name: "btn-unlink-cancel",
                    text: Localization.GetText("Common.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "")
        .AddButton(name: "btn-unlink-unlink",
                    text: Localization.GetText("Common.Unlink"),
                    type: CssClass.Button01,
                    callback: "unlinkCRF",
                    closeAtEnd: true))

<div data-name="unlink-crf-modal" class="hide modalBody">
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.Modal.Component")</label>
            </div>
            <div class="lblvalue bold" data-section="component-name">
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.Modal.CountryStrategyObjective")</label>
            </div>
            <div class="lblvalue bold" data-section="objective-name">
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.Modal.CountryStrategyOutcome")</label>
            </div>
            <div class="lblvalue bold" data-section="outcome-name">
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblcontent mb10">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.Modal.AlignmentCRF")</label>
            </div>
            <div class="lblvalue bold">
                <ul class="linked-indicator unlink">
                    <li class="hide mb5">
                        @Confluence.InputCheckbox(null, "removeCRF")
                        <span data-linked="text" class="textLink"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.Modal.TextUndoneWarning")</label>
            </div>
        </div>
    </div>
</div>