@using IDB.Architecture.Language
@using IDB.MW.Application.TCAbstractModule.ViewModels.NotifyFunding
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Domain.EntityHelpers
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Models.Repeater
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.Presentation.MVC4.General

@model TCNotifyFCViewModel

@{
    var expRegDate = ConfigurationServiceFactory.Current.GetApplicationSettings().ValidationDataPickerExpReg;
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;
}

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
<div data-pagemode="edit">
    <input type="hidden"
           name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE"
           value="@SaveControllerTypeEnum.Save" />
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row row-header">
            <div class="col-md-12">
                @Display.ExpandableButton(
                    "[data-name='objective-section']",
                    htmlClass: "collapsible-h3")
                <h3>@Localization.GetText("TC.NotifyFC.TCAbstractInformation.Title")</h3>
            </div>
        </div>
        <div data-name="objective-section">
            <div class="row">
                <div class="col-md-12">
                    <div class="row row-header font-header">
                        <div class="col-md-12">
                            @Localization.GetHtmlText("TC.NotifyFC.TCAbstractInformation.Objective")
                        </div>
                    </div>
                    <div class="row row-body-50 font-body">
                        <div class="col-md-12">
                            @((Model.Objective).HtmlEncode())
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="notifyFCForm">
    <div class="row">
        <div class="col-md-12">
            <div class="row row-header">
                <div class="col-md-12">
                    <h3 class="leftmarginh3">
                        @Localization.GetHtmlText("TC.NotifyFC.FundCoordinator.Title")
                    </h3>
                </div>
            </div>
            <div class="row row-header font-header repeater-item">
                <div class="col-md-7">
                    @Localization.GetHtmlText("TC.NotifyFC.FundCoordinator.ApplicableFunds")
                </div>
                <div class="col-md-5">
                    @Localization.GetHtmlText("TC.NotifyFC.FundCoordinator.FundCoordinator")
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial(
                        "~/Views/Shared/Controls/Repeater.cshtml",
                        new RepeaterModel<TCNotifyFCFundCoordinatorViewModel>
                        {
                            Name = "FundCoordinator",
                            PartialViewName = "Partials/NotifyFC/TCFundCoordinator",
                            RepeaterModelData = Model.FundCoordinatorSelection,
                            ModelTemplate = new TCNotifyFCFundCoordinatorViewModel
                            {
                                ApplicableFundId = -1,
                                TrustFundId = -1
                            },
                            RepeaterClass = "notify-fc-repeater data-parsley-disabled",
                            PropertyNameId = "ApplicableFundId",
                            ButtonNewRowContainerStyle = "row row-body-40",
                            ButtonNewColContainerStyle = "col-md-12 text-center fundButton",
                            ButtonNewStyle = "button08",
                            ButtonNewText = @Localization.GetText("TC.NotifyFC.FundCoordinator.New"),
                            ButtonNewPosition = "bottom",
                            ButtonDeleteClass = CssClass.ButtonDelete,
                            ButtonDeleteHasIcon = true,
                            ButtonDeletePosition = Position.Right,
                            ButtonDeleteAlign = Position.Top,
                            CanRemoveElement = x => true
                        })

                    @ControlTemplates.InputText(
                        value: "numElementsValidate",
                        name: "validatorMinElementsFilled",
                        htmlClass: "hide",
                        dataAttributes: new Dictionary<string, string>
                        {
                            { "parsley-minElementsFilled",
                                "1;[name=fund-coord-applicableFund]:not([disabled])" },
                        }
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row row-header">
                <div class="col-md-12">
                    <h3 class="leftmarginh3">
                        @Localization.GetHtmlText("TC.NotifyFC.RegionalTeamLeader.Title")
                    </h3>
                </div>
            </div>
            @if (!CountryHelper.Get().IsCurrentOperationRegional())
            {
                <div class="row row-header font-header repeater-item">
                    <div class="col-md-6">
                        @Localization.GetHtmlText("TC.NotifyFC.RegionalTeamLeader.CountryDepartment")
                    </div>
                    <div class="col-md-6">
                        @Localization.GetHtmlText("TC.NotifyFC.RegionalTeamLeader.RegionalTeamLeader")
                    </div>
                </div>
                <div class="row row-body-40 font-body">
                    <div class="col-md-6">
                        <div data-pagemode="read">
                            @Input.DropDownGetSelectedText(
                                (Model.TCNotifyFCRegionalTeamLeaderViewModel != null &&
                                    Model.TCNotifyFCRegionalTeamLeaderViewModel.Any()) ?
                                        Model.TCNotifyFCRegionalTeamLeaderViewModel[0].CountryLiaisonId :
                                        null,
                                ViewBag.CountryDepartmentList)
                        </div>
                        <div data-pagemode="edit">
                            @Input.DropDown(
                                (Model.TCNotifyFCRegionalTeamLeaderViewModel != null &&
                                    Model.TCNotifyFCRegionalTeamLeaderViewModel.Any()) ?
                                        Model.TCNotifyFCRegionalTeamLeaderViewModel[0].CountryLiaisonId :
                                        null,
                                "countryDepartment",
                                ViewBag.CountryDepartmentList,
                                required: false,
                                validateOnChange: false)
                        </div>
                    </div>
                    <div class="col-md-6 regionalTeamLeader">
                        <div data-pagemode="read">
                            &nbsp;
                        </div>
                        <div data-pagemode="edit">
                            <input type="hidden" name="regionalTeamLeaderId" value="" />
                            @ControlTemplates.InputText(
                                string.Empty,
                                "regionalTeamLeader",
                                disabled: false,
                                required: false,
                                isReadOnly: true)
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row row-header font-header repeater-item">
                    <div class="col-md-7">
                        @Localization.GetHtmlText("TC.NotifyFC.RegionalTeamLeader.CountryDepartment")
                    </div>
                    <div class="col-md-5">
                        @Localization.GetHtmlText("TC.NotifyFC.RegionalTeamLeader.RegionalTeamLeader")
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial(
                            "~/Views/Shared/Controls/Repeater.cshtml",
                            new RepeaterModel<TCNotifyFCRegionalTeamLeaderViewModel>
                            {
                                Name = "RegionalTeamLeader",
                                PartialViewName = "Partials/NotifyFC/TCRegionalTeamLeader",
                                RepeaterModelData = Model.TCNotifyFCRegionalTeamLeaderViewModel,
                                ModelTemplate = new TCNotifyFCRegionalTeamLeaderViewModel
                                {
                                    CountryLiaisonId = -1,
                                    RegionalFullName = string.Empty
                                },
                                RepeaterClass = "notify-rtl-repeater data-parsley-disabled",
                                PropertyNameId = "CountryLiaisonId",
                                ButtonNewRowContainerStyle = "row row-body-40",
                                ButtonNewColContainerStyle = "col-md-12 text-center fundButton",
                                ButtonNewStyle = "button08",
                                ButtonNewText = @Localization.GetText("TC.NotifyFC.FundCoordinator.New"),
                                ButtonNewPosition = "bottom",
                                ButtonDeleteClass = CssClass.ButtonDelete,
                                ButtonDeleteHasIcon = true,
                                ButtonDeletePosition = Position.Right,
                                ButtonDeleteAlign = Position.Top,
                                CanRemoveElement = x => true
                            })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row row-header">
            <div class="col-md-12">
                <h3 class="leftmarginh3">
                    @Localization.GetHtmlText("TC.NotifyFC.DateSingleWindowMeeting.Title")
                </h3>
            </div>
        </div>
        <div class="row row-header font-header">
            <div class="col-md-12">
                @Localization.GetHtmlText("TC.NotifyFC.DateSingleWindowMeeting.DateMeeting")
            </div>
        </div>
        <div class="row row-body-50 font-body">
            <div class="col-md-12">
                <div data-pagemode="read">
                    <div class="row row-body-50">
                        <div class="col-md-3">
                            @FormatHelper.Format(Model.DateMeeting, formatDate)
                        </div>
                        <div class="col-md-9">
                            @ControlTemplates.InputCheckbox(
                                Model.IsDisplayedSingleWindowMeeting,
                                "isDisplayedSWMCheckbox",
                                label: Localization.GetText("TC.NotifyFC.DisplayInSingleWindowMeeting"),
                                disabled: true)
                        </div>
                    </div>
                </div>
                <div data-pagemode="edit">
                    <div class="row row-body-50">
                        <div class="col-md-3">
                            @ControlTemplates.InputDatePicker(
                                Model.DateMeeting,
                                "dateMeeting",
                                required: true,
                                expReg: expRegDate,
                                format: formatDate,
                                disabled: false,
                                dataAttributes: new Dictionary<string, string>
                                {
                                    { "parsley-onOrAfterDate", "[name=dateMeeting]" }
                                })
                        </div>
                        <div class="col-md-9">
                            @ControlTemplates.InputCheckbox(
                                Model.IsDisplayedSingleWindowMeeting,
                                "singleWindowMeetingVisibilityCheckbox",
                                label: Localization.GetText("TC.NotifyFC.DisplayInSingleWindowMeeting"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
