@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Models.Repeater
@using IDB.MW.Application.TCAbstractModule.ViewModels.NotifyFunding
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.General

@model IDB.MW.Application.TCAbstractModule.ViewModels.NotifyFunding.TCReviewNotifyFCViewModel

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

<div data-pagemode="edit">
    <input type="hidden" name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE" value="@SaveControllerTypeEnum.Save" />
</div>

<div id="notifyFCForm">
    <div class="row">
        <div class="col-md-12">
            <div class="row row-header">
                <div class="col-md-12">
                    <h3 class="leftmarginh3">@Localization.GetText("TC.NotifyFC.FundCoordinator.Title").HtmlEncode()
                    </h3>
                </div>
            </div>
            <div class="row row-header font-header repeater-item">
                <div class="col-md-6">
                    @Localization.GetText("TC.NotifyFC.FundCoordinator.ApplicableFunds").HtmlEncode()
                </div>
                <div class="col-md-6">
                    @Localization.GetText("TC.NotifyFC.FundCoordinator.FundCoordinator").HtmlEncode()
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row row-body-40 font-body">
                        @if (Model.TCReviewFCSelectedViewModel != null && Model.TCReviewFCSelectedViewModel.Any())
                        {
                            foreach (var selectFC in Model.TCReviewFCSelectedViewModel)
                            {
                                <div class="col-md-6">
                                    @Html.Label(selectFC.GetFundSelected == null ?
                                        String.Empty :
                                        selectFC.GetFundSelected)
                                </div>
                                <div class="col-md-6">
                                    @Html.Label(selectFC.FCFullName == null ? String.Empty : selectFC.FCFullName)
                                </div>
                            }
                        }
                    </div>
                    <div data-pagemode="edit">
                        @Html.Partial("~/Views/Shared/Controls/Repeater.cshtml",
                            new RepeaterModel<TCNotifyFCFundCoordinatorViewModel>
                            {
                                Name = "FundCoordinator",
                                PartialViewName = "Partials/NotifyFC/TCReviewFundCoordinator",
                                RepeaterModelData = Model.TCNotifyFundCoordinator,
                                ModelTemplate = new TCNotifyFCFundCoordinatorViewModel
                                {
                                    ApplicableFundId = -1,
                                    TrustFundId = -1
                                },
                                RepeaterClass = "notify-fc-repeater data-parsley-disabled",
                                PropertyNameId = "ApplicableFundId",
                                ButtonNewRowContainerStyle = "row row-body-40",
                                ButtonNewColContainerStyle = "col-md-12 text-center fundButton",
                                ButtonNewStyle = "button08",
                                ButtonNewText = @Localization.GetText("TC.NotifyFC.FundCoordinator.New"),
                                ButtonNewPosition = "bottom",
                                ButtonDeleteClass = CssClass.ButtonDelete,
                                ButtonDeleteHasIcon = true,
                                ButtonDeletePosition = Position.Right,
                                ButtonDeleteAlign = Position.Top,
                                CanRemoveElement = x => true
                            })
                        @ControlTemplates.InputText(value: "numElementsValidate",
                            name: "validatorMinElementsFilled",
                            htmlClass: "hide",
                            dataAttributes: new Dictionary<string, string> {
                                {"parsley-minElementsFilled","1;[name=fund-coord-applicableFund]:not([disabled])"},
                            })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:30px;">
        <div class="col-md-12">
            <div class="row row-header">
                <div class="col-md-12">
                    <h3 class="leftmarginh3">@Localization.GetText("TC.NotifyFC.RegionalTeamLeader.Title").HtmlEncode()
                    </h3>
                </div>
            </div>
            <div class="row row-header font-header">
                <div class="col-md-6">
                    @Localization.GetText("TC.NotifyFC.RegionalTeamLeader.CountryDepartment").HtmlEncode()
                </div>
                <div class="col-md-6">
                    @Localization.GetText("TC.NotifyFC.RegionalTeamLeader.RegionalTeamLeader").HtmlEncode()
                </div>
            </div>
            <div class="row row-body-40 font-body">
                @if (Model.TCReviewRTLSelectedViewModel != null && Model.TCReviewRTLSelectedViewModel.Any())
                {
                    foreach (var rtlSelected in Model.TCReviewRTLSelectedViewModel)
                    {
                        <div class="col-md-6">
                            @Html.Label(rtlSelected.GetCountryLiaison == null ?
                                String.Empty :
                                 rtlSelected.GetCountryLiaison)
                        </div>
                        <div class="col-md-6">
                            @Html.Label(rtlSelected.RegionalFullName == null ?
                                String.Empty :
                                rtlSelected.RegionalFullName)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
