@model IDB.Presentation.MVC4.Areas.TCM.Models.MatrixChangesFiltersViewModel

<div data-id="filters" id="filter" data-pagemode="read" class="mb20">
    <div class="floatRight mb20">
        @Confluence.ButtonBlue(Localization.GetText("TCM.MC.ShowFilter"), "btnShowHideFilter")
    </div>
    <div class="filterNormal" style="display: none">
        <div class="mb20 col-md-12">
            <div class="col-md-3">
                @Confluence.Label(Localization.GetText("TCM.MC.TCReportingPeriod"))
                @Confluence.InputDropDown(Model.CurrentTCReportingPeriod.ToString(), "dropdownTCReportingPeriod", Model.FilterTCReportingPeriodList, required: false, placeholder: "", showEmptyOption: false, orderAsc: false, width: "100%")
            </div>
            <div class="col-md-3">
                @Confluence.Label(Localization.GetText("TCM.MC.Filter.Section"))
                @Confluence.InputDropDown(null, "dropdownSection", Model.FilterSectionList, required: false, placeholder: "(" + Localization.GetText("TCM.SelectOption") + ")", width: "100%")
            </div>
            <div class="col-md-3">
                @Confluence.Label(Localization.GetText("TCM.MC.Filter.TypeOfChange"))
                @Confluence.InputDropDown(null, "dropdownChangeType", null, required: false, placeholder: "(" + Localization.GetText("TCM.SelectOption") + ")", width: "100%")
            </div>
            <div class="col-md-3">
                @Confluence.Label(Localization.GetText("TCM.MC.Filter.SubtypeOfChange"))
                @Confluence.InputDropDown(null, "dropdownChangeSubType", null, required: false, placeholder: "(" + Localization.GetText("TCM.SelectOption") + ")", width: "100%")
            </div>
        </div>
        <div class="floatRight mr20">
            <input type="button" class="buttonBlue" onclick="filterChanges()" value="@Localization.GetText("TCM.MC.Filter")">
            @Confluence.ButtonBlue(Localization.GetText("TCM.MC.ClearFilter"), action: "clearFilter")
        </div>
    </div>
</div>