@using IDB.Architecture;
@using IDB.Architecture.BusinessRules;
@using IDB.MW.Domain.Session;
@using IDB.Architecture.Language;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/main.js" + @System.Configuration.ConfigurationManager.AppSettings["cache"].ToString())"></script>
    <script type="text/javascript" src="~/Scripts/Messages/jquery_notification.js"></script>
    <script type="text/javascript" src="~/Scripts/loadingLayout.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mainframe/fixIframe.js")"></script>
    @{Html.RenderPartial("~/Views/Shared/TrackingHeader.cshtml");}
    @*@if (!Globals.GetSetting("SecurityMode", string.Empty).Equals("Local"))
        {
            <!-- Walkme -->
            <script type="text/javascript">(
            function () {
                var walkme = document.createElement('script');
                walkme.type = 'text/javascript';
                walkme.async = true;
                walkme.src = '@Globals.GetSetting("WalkMeKey")';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(walkme, s);
                window._walkmeConfig = { smartLoad: true };
            })();
            </script>

            <!-- performance tracking end -->
            }*@
    <link rel="stylesheet" type="text/css" href="~/content/general.css" />
    <link rel="stylesheet" type="text/css" href="~/content/common.css" />
    @Styles.Render("~/Content/NewConfluence/Loading.css")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/loading.css")" />
    @RenderSection("CSS", required: false)

    @RenderSection("JavaScript", required: false)
	<script type="text/javascript">
        idbg.config.basePath = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
        idbg.config.baseSharePointAddress = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
        idbg.config.language = '@Localization.CurrentLanguage';
        idbg.init();

        $(document).ready(function () {
            initializeGlobalLoader();
        });
    </script>
    @RenderSection("scripts", required: false)
    @{
        List<Tuple<string,string>> messages = IDBContext.Current.GetMessages();

        if (messages.Count > 0) {
            <script>
				$(document).ready(function(){
				    showNotification({
						message: '@messages[0].Item2',
						type: '@(messages[0].Item1=="notification"?"success":messages[0].Item1)',
						autoClose: true,
						duration: 3000
				    });

			});
            </script>
        }

        IDBContext.Current.ClearMessages();
    }

</head>
<body>
    <div class="idb-content-page">
        @Confluence.Loader()
        @RenderSection("contentheader", required: false)
        @RenderBody()
    </div>
    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
</body>
</html>
