
@using IDB.Architecture.Language
@model IDB.MW.Domain.Models.Global.IDBDocsDocumentFilterModel
<div id="searchBoxContainerGlobal004" class="padding20 grayBackground font08em verticalMargin40 hideNI">
    @Html.HiddenFor(m => m.OperationNumber)
    <div class="centerContent w96 relative h50px">
        <div class="w70 absolute">
            <div class="inline-block verticalAlignMiddle w23">
                @Html.TextBoxFor(m => m.IDBDocsNumber, new { @class = "grayBorder", placeholder = Localization.GetText("IDB Docs") })
            </div>
            <div class="inline-block verticalAlignMiddle horizontalMargin20 w67">
                @Html.TextBoxFor(m => m.DocumentName, new { @class = "grayBorder", placeholder = Localization.GetText("Document name") })
            </div>
        </div>
        <div class="absolute absRight w30">
            <div class="relative">
                @Html.TextBoxFor(m => m.DocumentId, new { @class = "grayBorder", placeholder = Localization.GetText("Document ID") })
            </div>
        </div>
    </div>
    <div class="centerContent w96 relative h50px">
        <div class="w70 absolute">
            <div class="inline-block verticalAlignMiddle w23">
                @Html.TextBoxFor(m => m.DocumentContent, new { @class = "grayBorder", placeholder = Localization.GetText("Document Content") })
            </div>
            <div class="inline-block verticalAlignMiddle horizontalMargin20 w67">
                @Html.TextBoxFor(m => m.IDBAuthorName, new { @class = "grayBorder", placeholder = Localization.GetText("IDB Author Name") })
            </div>
        </div>
        <div class="absolute absRight w30">
            <div class="relative">
                @Html.TextBoxFor(m => m.ContractNumber, new { @class = "grayBorder", placeholder = Localization.GetText("Contract Number") })
            </div>
        </div>
    </div>
    <div class="centerContent w96 relative h50px">
        <div class="w100 absolute">
            <div class="inline-block verticalAlignMiddle w20">
                @Html.TextBoxFor(m => m.AssignedTo, new { @class = "grayBorder", placeholder = Localization.GetText("Assigned to") })
            </div>
            <div class="inline-block verticalAlignMiddle horizontalMargin20 w20">
                @Html.TextBoxFor(m => m.InputYear, new { @class = "grayBorder", placeholder = Localization.GetText("Input year") })
            </div>
            <div class="inline-block verticalAlignMiddle horizontalMargin20 w20">
                @Html.TextBoxFor(m => m.OutputYear, new { @class = "grayBorder", placeholder = Localization.GetText("Output year") })
            </div>
            <div class="inline-block verticalAlignMiddle absRight w20">
                @Html.TextBoxFor(m => m.ReferenceNumber, new { @class = "grayBorder", placeholder = Localization.GetText("Reference number") })
            </div>
        </div>
    </div>
    <div class="centerContent w96 relative h50px">
        <div class="w65 absolute">
            <div class="inline-block verticalAlignMiddle w20">
                @Html.TextBoxFor(m => m.InputNumber, new { @class = "grayBorder", placeholder = Localization.GetText("Input number") })
            </div>
            <div class="inline-block verticalAlignMiddle horizontalMargin20 w20">
                @Html.TextBoxFor(m => m.OutputNumber, new { @class = "grayBorder", placeholder = Localization.GetText("Output number") })
            </div>
        </div>
        <div class="absolute absRight w48">
            <div class="relative">
            </div>
        </div>
    </div>

    <div class="rightAlign w96 centerContent">
        <input type="button" class="button yellowButton marginRight7 clearAllFilters paddingLR15" value=" @Localization.GetText("Clear all")" />
        <input type="submit" class="button blueButton" value=" @Localization.GetText("Search")">
    </div>
</div>
