@using IDB.Architecture.Language
@using IDB.MW.Domain.Session

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/mainframecss")
</head>
<body>
    <div class="container-fluid" id="body">
        @Confluence.Loader()
        <div id="" class="">
            <div id="layoutMainContent">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/mainframecore")

    @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", false)
        @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")

</body>
</html>
