@using IDB.Architecture.Language

@model IDB.MW.Domain.Models.Global.LocalDocumentFilterModel
<div id="searchBoxContainerGlobal004" class="padding20 grayBackground font08em verticalMargin40 hideNI">
    <div class="centerContent w96 relative h50px">
        <div class="w50 absolute">
            <label for="CreatedFrom" class="w28 inline-block verticalAlignMiddle noPadding"> @Localization.GetText("Creation Date From")</label>
            <div class="inline-block verticalAlignMiddle w33">
                @Html.TextBoxFor(m => m.CreatedFrom, new { @class = "kendoDatePicker", placeholder = "DD Mmm YY" })
            </div>
            <label for="CreatedTo" class="rightAlign inline-block verticalAlignMiddle noPadding no_margin"> @Localization.GetText("To")</label>
            <div class="inline-block verticalAlignMiddle w33">
                @Html.TextBoxFor(m => m.CreatedTo, new { @class = "kendoDatePicker", placeholder = "DD Mmm YY" })
            </div>
        </div>
        <div class="absolute absRight w48">
            <div class="relative">
                <div class="w45 absolute verticalAlignMiddle">
                    @Html.TextBoxFor(m => m.User, new { @class = "grayBorder", placeholder = Localization.GetText("User") })
                </div>
                <div class="w45 absolute absRight verticalAlignMiddle">
                    @Html.TextBoxFor(m => m.DocumentReference, new { @class = "grayBorder", placeholder = Localization.GetText("IDB Doc number") })
                </div>
            </div>
        </div>
    </div>
    <div class="centerContent w96 relative h50px">
        <div class="w50 absolute">
            <label for="ModifiedFrom" class="w28 inline-block verticalAlignMiddle noPadding"> @Localization.GetText("Last update Date From")</label>
            <div class="inline-block verticalAlignMiddle w33">
                @Html.TextBoxFor(m => m.ModifiedFrom, new { @class = "kendoDatePicker", placeholder = "DD Mmm YY" })
            </div>
            <label for="ModifiedTo" class="rightAlign inline-block verticalAlignMiddle noPadding no_margin"> @Localization.GetText("To")</label>
            <div class="inline-block verticalAlignMiddle w33">
                @Html.TextBoxFor(m => m.ModifiedTo, new { @class = "kendoDatePicker", placeholder = "DD Mmm YY" })
            </div>
        </div>
        <div class="absolute absRight w48">
            <div class="relative">
                <div class="w45 absolute verticalAlignMiddle">
                    @Html.TextBoxFor(m => m.Description, new { @class = "grayBorder", placeholder = Localization.GetText("Document name") })
                </div>
            </div>
        </div>
    </div>

    <div class="rightAlign w96 centerContent">
        <input type="button" class="button yellowButton marginRight7 clearAllFilters paddingLR15" value=" @Localization.GetText("Clear all")" />
        <input type="submit" class="button blueButton" value=" @Localization.GetText("Search")" id="filterComment">
    </div>
</div>
