@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers

@model List<IDB.MW.Application.Core.ViewModels.Common.DocumentViewModel>

               <div class="row pb20">
                   <div class="col-md-6">
                       <h4 class="subtitleGroup bold">@Localization.GetText("OP.MS.Documents.Documents")</h4>
                   </div>
                   <div class="col-md-6 text-right ">
                       @Confluence.ButtonBlue(text: Localization.GetText("OP.MS.Documents.Add"), name: "documentsAdd", dataAttributes: new Dictionary<string, string> { { "id", "MissionDocumentsWF-add" }, { "modal-allowclose", "true" }, { "custom-modal", "MissionDocuments-modalWF-add" }, { "custom-modal-validate", "false" }, { "custom-modal-title", Localization.GetText("OP.AP.Documents.Search") }, { "idb-fieldname", "btnDocumentsAddWF" } })
                   </div>
               </div>
               
               <table class="tableNormal" id="tblWFDocuments" data-idb-fieldname="tblWFDocuments">
    <thead>
        <tr>
            <th>@Localization.GetText("OP.MS.Documents.User")</th>
            <th>@Localization.GetText("OP.MS.Documents.Date")</th>
            <th>@Localization.GetText("OP.MS.Documents.IDBDocNumber")</th>
            <th>@Localization.GetText("OP.MS.Documents.Description")</th>
            <th>@Localization.GetText("")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList())
        {
            <tr data-id>
                <td>@Confluence.Label(item.User)</td>
                <td>@Confluence.LabelGetDate(item.Date)</td>
                <td>@Confluence.Label(Convert.ToString(item.DocNumber))</td>
                <td>@Confluence.Label(item.Description)</td>
                <td>@Confluence.ButtonDownload(text: "", action: "downloadDocument", dataAttributes: new Dictionary<string, string> { { "DocNumber", Convert.ToString(item.DocNumber) }, { "idb-fieldname", "btnDownloadDocument03" } })</td>
            </tr>
        }
    </tbody>
</table>

<div id="MissionDocuments-modalWF-add" class="hide">
    @Html.Partial("Controls/IDBDocsNew/AddIDBDoc", new IDB.Presentation.MVC4.Models.Documents.SearchDocumentModalViewModel { SearchModalId = "tableDocumentsWF", MultipleSelection = false, TargetFunction = "renderizeRowWF" })
</div>