@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Application.Core.ViewModels

@model List<IDB.MW.Application.Core.ViewModels.ValidatorViewModel>

<div class="col-md-12">
<h4 class="subtitlegroup bold">
    @Localization.GetText("OP.MS.MissionWorkflowValidators.Validators")</h4>
</div>
<div class="col-md-12 pt20">
    <table class="tableNormal" id="tableWorkflowValidators" data-idb-fieldname="tblWorkflowValidators">
        <thead>
            <tr>
                <th>@Localization.GetText("OP.MS.MissionWorkflowValidators.Order")</th>
                <th>@Localization.GetText("WORKFLOW.VALIDATOR.TASKNAME")</th>
                <th>@Localization.GetText("OP.MS.MissionWorkflowValidators.Role")</th>
                <th>@Localization.GetText("OP.MS.Status")</th>
                <th>@Localization.GetText("OP.MS.Type")</th>
                <th>@Localization.GetText("OP.MS.Action")</th>
            </tr>
        </thead>

        <tbody>
            @{int order = 1;}
            
            @foreach (var item in Model)
            {
                <tr data-id>
                    <td>@order</td>
                    <td>@item.TaskName</td>
                    <td>@item.Role</td>
                    <td>@item.Status</td>
                    <td>@(item.Mandatory ? Localization.GetText("OP.MS.MissionWorkflowValidators.MandatoryValidator") : Localization.GetText("OP.MS.MissionWorkflowValidators.AdditionalValidator"))</td> 
                    <td></td>
                </tr>

                order++;
            }
        </tbody>
    </table>
</div>
<span data-pagemode="edit">@Confluence.InputHidden(value: "", name: "deleteValidators", required: false)</span>
@if (Model != null) // Validadores Adicionales No activo 
{
    <div class="col-md-12 pt20">
        <div class="filterNormal col-md-12" data-pagemode="edit">
            <span class="pull-right ml10 mt10">@Confluence.ButtonBlue(text: Localization.GetText("OP.MS.MissionWorkflowValidators.AddValidator"), action: "addValidator", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnAddValidator" } })</span>
            <span class="pull-right">@Confluence.InputDropDown(value: "", name: "newRole", elements: ViewBag.RetrieveListRoles, placeholder: Localization.GetText("OP.MS.MissionWorkflowValidators.SelectRole"), required: false, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlNewRole" } })</span>
        </div>
    </div>
}

