@using System.Globalization

@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core.EditTemplates
@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@model EditTemplateViewModel

<div class="row mb16">
    <div class="col-md-12">
        @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.TechnicalFields.Title"))
    </div>
</div>

<div class="row mb20">
    <div class="col-md-12">
        @Confluence.Label(Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.TechnicalFields.Instructions"))
    </div>
</div>


<div class="row mb20">
    <div class="col-md-12">
        <div id="warning-remove" class="hide modalBody">
            @Localization.GetText("IM.TemplatesList.WarningRemove")
        </div>
        @Display.AddModalButton(new ModalViewModel(contentSelector : "#warning-remove",
                    title : Localization.GetText("COMMON.Warning"),
                    type : CssClass.ModalWarningNoIcon,
                    moveOriginalContent : true,
                    name : "open-warning-btn",
                    closeOnOverlay : false,
                    allowClose : true,
                    actionOnClose : "")
    .AddButton(name : "cancel-delete",
                    text : Localization.GetText("COMMON.Cancel"),
                    type : CssClass.ButtonLink,
                    callback : "")
    .AddButton(name : "confirm-delete",
                    text : Localization.GetText("COMMON.Ok"),
                    type : CssClass.Button01,
                    callback : "ConfirmRemove",
                    closeAtEnd : true))

        @Html.Partial("EditTemplate/TechnicalFieldsPartial", Model.Common.TechnicalFields)
    </div>
</div>