@using IDB.Architecture.Extensions
@using IDB.MW.Application.OPUSModule.ViewModels.ApprovalOperationService

@model ApprovalDocumentViewModel

@if (Model != null)
{
    <div id="ApprovalOperationDocuments" document-container="doc">
        <div class="dataTables_wrapper no-footer">
            <table id="ApprovalOperationDocumentsTable" class="tableNormal mb20" 
                   data-idb-fieldname="tblApprovalDocuments">
                <thead>
                    <tr role="row">
                        <th class="text-center perw10">
                            @Localization.GetText("OP.AP.Transaction")
                        </th>
                        <th class="text-center perw10">
                            @Localization.GetText("OP.AP.ApprovalNumber")
                        </th>
                        <th class="text-center perw5">
                            @Localization.GetText("OP.FD.TabIncreases.Title")
                        </th>
                        <th class="text-center perw15">
                            @Localization.GetText("OP.AP.ApprovalDate")
                        </th>
                        <th class="text-center perw15">
                            @Localization.GetText("OP.AP.DocumentNumber")
                        </th>
                        <th class="text-center perw25">
                            @Localization.GetText("OP.AP.DocumentName")
                        </th>
                        <th class="text-center perw10">
                            @Localization.GetText("OP.AP.User")
                        </th>
                        <th class="text-center perw15">
                            @Localization.GetText("OP.AP.Action")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Documents.HasAny())
                    {
                        @Html.Partial("Partials/ApprovalOperation/ApprovalDocumentRow", Model);
                    }
                </tbody>
            </table>
        </div>
    </div>
}
