@using System.Globalization

@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.OPUSModule.ViewModels.ApprovalOperationService
@using IDB.MW.Domain.Values
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers

@model ApprovalDocumentViewModel

@if (Model != null)
{
    <div class="content-expandable-canceled commentsBlock">
        <div class="header">
            <div class="row row-title">
                <div class="col-md-6">
                    <h3 class="ml0 mt0">@Localization.GetText("PCR.Checklist.TabValidation.Documents")</h3>
                </div>
                <div class="col-md-6">
                    <span class="text-right">
                        @Html.Partial("Partials/ApprovalOperation/buttonsDocuments", Model)
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div data-pagemode="read">
                    @if (Model.ApprovalTLWrite)
                    {
                        <div class="floatRight">
                            <div class="col-md-12 pr0">
                                <div class="text-right pull-right">
                                    @Confluence.ButtonBlue(
                                        text: Localization.GetText("DM.Add.Document"),
                                        name: "documentsAdd",
                                        dataAttributes: new Dictionary<string, string>
                                        {
                                            { "id", "ApprovalOperationDocuments-add" },
                                            { "modal-allowclose", "true" },
                                            { "custom-modal", "ApprovalOperationDocuments-modal-add" },
                                            { "custom-modal-validate", "false" },
                                            { "custom-modal-title", Localization.GetText("OP.AP.Documents.Search") },
                                            { "idb-fieldname", "btnAddDocuments" },
                                            { "action", "bindHandlersDocs" }
                                        })
                                </div>
                                <div class="hide text-right pull-right mr15">
                                    @Confluence.ButtonBlue(
                                        text: Localization.GetText("OP.MS.SaveDocuments"),
                                        action: "saveDocumentsInViewMode",
                                        name: "saveDocumentsInViewMode",
                                        dataAttributes: new Dictionary<string, string>
                                        {
                                            { "idb-fieldname", "btnSaveDocumentsInViewMode" }
                                        })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div data-pagemode="edit">
                <div class="col-md-12 text-right">
                    <div id="ApprovalOperationDocuments-modal-add" class="approvalmodal hide">
                        @Html.Partial("Controls/IDBDocsNew/AddIDBDoc", new IDB.Presentation.MVC4.Models.Documents.SearchDocumentModalViewModel { SearchModalId = "ApprovalOperationDocumentsTable", MultipleSelection = false, TargetFunction = "renderizeRow", BusinessAreaCode = "BA_APPROVAL_REGISTRY", OperationNumber = Model.OperationNumber })
                    </div>
                    @Confluence.ButtonBlue(
                        text: Localization.GetText("OP.AP.Documents.GenerateRegistry"),
                        action: "downloadRegistry",
                        name: "pdf",
                        dataAttributes: new Dictionary<string, string>
                        {
                           { "id", "generateRegistry" },
                           { "idb-fieldname", "btnGenerateRegistry" }
                        })
                    @Confluence.ButtonBlue(
                        text: Localization.GetText("DM.Add.Document"),
                        dataAttributes: new Dictionary<string, string>
                        {
                            { "id", "ApprovalOperationDocuments-add" },
                            { "modal-allowclose", "true" },
                            { "custom-modal", "ApprovalOperationDocuments-modal-add" },
                            { "custom-modal-validate", "false" },
                            { "custom-modal-title", Localization.GetText("OP.AP.Documents.Search") },
                            { "idb-fieldname", "btnAddDocuments" },
                            { "action", "bindHandlersDocs" }
                        })
                </div>
            </div>
        </div>
        <br />
        <div id="wflowDocument">
            @Html.Partial("Partials/ApprovalOperation/ApprovalOperationDocuments", Model)
        </div>
        <div class="header">
            <div class="row row-title">
                <div class="col-md-12">
                    <span class="text-right">
                        @Html.Partial("Partials/ApprovalOperation/buttonsDocuments")
                    </span>
                </div>
            </div>
        </div>
    </div>
}