@using IDB.Architecture.Language

@model IDB.MW.Application.OPUSModule.ViewModels.ApprovalOperationService.ApprovalOperationViewModel

<div data-id="headerButtons">
    @if (Model.ApprovalWrite)
    {
        <div data-pagemode="read" class="pull-right">
            @Confluence.ButtonBlue(
                Localization.GetText("OP.AP.Edit"),
                action: "tryToEditApproval",
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEdit" } },
                htmlClass:"mr0")
        </div>
    }
    <div data-pagemode="edit" style="margin-bottom: 10px;">
        @Confluence.ButtonLink(
            Localization.GetText("OP.AP.Cancel"),
            action: "cancel",
            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancel" } })

        @Confluence.ButtonOrange(
            Localization.GetText("OP.AP.Save"),
            action: "saveApproval",
            dataAttributes: new Dictionary<string, string>
            {
                { "idb-fieldname", "btnSaveApproval" }
            })

        @if (Model.HasNewTransactionPermission)
        {
            @Confluence.ButtonBlue(
                Localization.GetText("OP.AP.NewTransaction"),
                action: "showNewTransactionModal",
                dataAttributes: new Dictionary<string, string>
                {
                    { "idb-fieldname", "btnNewTransaction" }
                })
        }

        @if (Model.HasApprovalProcessPermission)
        { 
            @Confluence.ButtonBlue(
                Localization.GetText("OP.AP.ProcessApproval"),
                name: "btnAutoApproval",
                action: "autoApproval",
                disabled: true,
                htmlClass: "hide")
        }
    </div>
</div>