@model List<IDB.MW.Business.WorkSpaceModule.ViewModels.ChartItemViewModel>

<div class="page">
    <div id="listBoxes">
        @foreach (var item in Model)
        {
            <div class="dragBoxes" id="@item.ChartId.ToString()" ondragstart="drag(event)" dd-heigth="@item.Height">
                @Confluence.InputHidden(item.Height.ToString(), "heigth")
                @Confluence.InputHidden(item.Width.ToString(), "width")
                <div class="dragBoxesTitle">@item.Name</div>
                <div class="dragBoxesValue">@item.Width X @item.Height</div>
            </div>
        }
    </div>
</div>