<div id="PageContent">
    @Confluence.InputHidden(ViewBag.SerializedViewModel, "SerializedViewModel", id: "SerializedViewModel")

    <div data-pagemode="edit">
        @Confluence.InputHidden(value: ViewBag.ChartId.ToString(), name: "ChartId")
    </div>
    @if (Convert.ToInt32(ViewBag.ChartId.ToString()) > 0)
    {
        @Confluence.InputHidden(Model.Width.ToString(), "WidthTemp")
        @Confluence.InputHidden(Model.Height.ToString(), "HeightTemp")
    }
    <div class="row row-header">
        <div class="col-md-6">
            @if (ViewBag.ChartId > 0)
            {
                @Confluence.LabelsGroup(Localization.GetText("Workspace.Filter.ChartType"),
                    Confluence.LabelGetDropDown(Model.ChartTypeId.ToString(), (List<SelectListItem>) ViewBag.ListChartType), false)

                <div data-pagemode="edit">
                    @Confluence.InputHidden(Model.ChartTypeId.ToString(), "TypeChart")
                    @Confluence.InputHidden(ViewBag.MasterDataId.ToString(), "MasterDataId")

                </div>
            }
            else
            {
                @Confluence.LabelsGroup(Localization.GetText("Workspace.Filter.ChartType"),
                    Confluence.LabelGetDropDown(Model.ChartTypeId.ToString(), (List<SelectListItem>) ViewBag.ListChartType),
                    Confluence.InputDropDown(Model.ChartTypeId.ToString(), "TypeChart", (List<SelectListItem>) ViewBag.ListChartType, required: true, width: "100%"), true)
            }
        </div>
        @if (ViewBag.ChartId == 0)
        {
            <div class="col-md-6">
                <div data-pagemode="edit">
                    @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.Code"),
                        Confluence.InputText(string.Empty, "Code", width: "100%", maxLength:50), true)
                </div>
            </div>
        }

    </div>
    <div class="row row-header">
        <div class="col-md-12">
            @Html.Partial("Partials/InputLanguage")
        </div>
    </div>
    <div class="row row-header">
        @if (Model.ChartTypeName == Localization.GetText("Workspace.ChartEdit.GraphChart") || ViewBag.ChartId == 0)
        {
            <div class="col-md-6">
                @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.PartialName"),
                    Confluence.LabelGetDropDown(ViewBag.ChartId == 0 ? null : Model.PartialId.ToString(), (List<SelectListItem>) ViewBag.ListPartialName),
                    Confluence.InputDropDown(ViewBag.ChartId == 0 ? null : Model.PartialId.ToString(), "PartialName", (List<SelectListItem>) ViewBag.ListPartialName, required: true, width: "100%"), true)
            </div>
        }
        else
        {
            <div class="col-md-6">

                @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.PartialName"),
                    Confluence.LabelGetDropDown(ViewBag.ChartId == 0 ? string.Empty : Model.PartialId.ToString(), (List<SelectListItem>) ViewBag.ListPartialName),
                    false)
            </div>
        }

        <div class="col-md-2">
            @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.Height"),
                Confluence.LabelInteger(Model.Height),
                         Confluence.InputNumber(ViewBag.ChartId == 0 ? null : Model.Height, "Height", width: "100%", required: true, minValue: "1", maxValue: "10"), true)
        </div>
        <div class="col-md-2">
            @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.Width"),
                Confluence.LabelInteger(Model.Width),
                Confluence.InputNumber(ViewBag.ChartId == 0 ? null : Model.Width, "Width", width: "100%", required: true, minValue: "1", maxValue: "3"), true)
        </div>
        @if (Model.ChartTypeName == Localization.GetText("Workspace.ChartEdit.GraphChart") || ViewBag.ChartId == 0)
        {
            <div class="col-md-2">
                @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.MaxDeep"),
                    Confluence.LabelInteger(ViewBag.ChartId == 0 ? null : Model.MaxDeep),
                     Confluence.InputNumber(ViewBag.ChartId == 0 ? null : Model.MaxDeep, "MaxDeep", width: "100%", required: true, minValue: "0", maxValue: "3", disabled: ViewBag.ChartId == 0), true)
            </div>
        }
    </div>
    <br/>
    <div class="row row-header">
        <div class="col-md-3">
            @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.EffectiveDate"),
                Confluence.LabelGetDate(Model.EffectiveDate),
                Confluence.InputDatePicker(ViewBag.ChartId == 0 ? null : Model.EffectiveDate, "EffectiveDate", width: "100%", required: true, lessThanNameDate: "ExpirationDate"), true)
        </div>
        <div class="col-md-3">
            @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.ExpirationDate"),
                Confluence.LabelGetDate(Model.ExpirationDate),
                Confluence.InputDatePicker(ViewBag.ChartId == 0 ? null : Model.ExpirationDate, "ExpirationDate", width: "100%", required: false, greaterThanNameDate: "EffectiveDate"))
        </div>
    </div>
    @if (Model.ChartTypeName == Localization.GetText("Workspace.ChartEdit.GraphChart") || ViewBag.ChartId == 0)
    {
        <div class="row row-header">
            <div class="col-md-12">
                @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.Query"),
                    Confluence.Label(Model.Query),
                    Confluence.InputTextArea(Model.Query, "Query", width: "100%", height: "124px", required: true, disabled: ViewBag.ChartId == 0, maxLength:4000), true)

            </div>
        </div>
        <div class="row row-header">
            <div class="col-md-12">
                @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.QueryExcel"),
                    Confluence.Label(Model.QueryExportExcel),
                 Confluence.InputTextArea(Model.QueryExportExcel, "QueryExcel", width: "100%", height: "124px", required: true, disabled: ViewBag.ChartId == 0, maxLength: 4000), true)

            </div>
        </div>
    }
    @if (Model.ChartTypeName == Localization.GetText("Workspace.ChartEdit.FrameChart") || ViewBag.ChartId == 0)
    {
        <div class="row row-header">
            <div class="col-md-12">
                @Confluence.LabelsGroup(Localization.GetText("Workspace.ChartEdit.Url"),
                    Confluence.Label(Model.UrlFrame),
                 Confluence.InputText(Model.UrlFrame, "Url", width: "100%", required: true, disabled: ViewBag.ChartId == 0, maxLength: 4000), true)

            </div>
        </div>
    }
</div>

