@using IDB.MW.Business.WorkSpaceModule.ViewModels
@model List<RowBoxesModel>
<div id="contentEdit">
    <div class="titlePrincipal">
        @Confluence.Navigation(Confluence.LabelMainTitle(""),
            (ViewBag.Val == 1 ? Url.Action("Template", "AdministrationWs") : Url.Action("Index", "View")))
        @Localization.GetText("Workspace.Template.TitleEdit")
    </div>

    @Html.Partial("Partials/buttonsPersonalize")

    <div class="col-md-2">
        <div data-pagemode="edit">
            @if (ViewBag.val == 1)
            {
                @Confluence.LabelsGroup(Localization.GetText("Workspace.Filter.Roles"),
                    Confluence.InputDropDown(string.Empty, "Roles", (List<SelectListItem>) ViewBag.ListRoles, required: true, placeholder: "Role list", width: "100%"), false)


                <hr/>
                <div id="attributesList"></div>
            }
            else
            {
                <div id="attributesList">
                    <div id="listBoxes">
                        @foreach (var item in (List<ChartItemViewModel>)ViewBag.ChartList)
                        {
                            <div class="dragBoxes dragableBoxes" id="@item.ChartId.ToString()" ondragstart="drag(event)" draggable="true" dd-heigth="@item.Height">
                                @Confluence.InputHidden(item.Height.ToString(), "heigth")
                                @Confluence.InputHidden(item.Width.ToString(), "width")
                                <div class="dragBoxesTitle">@item.Name</div>
                                <div class="dragBoxesValue">@item.Width X @item.Height</div>
                            </div>
                        }
                    </div>
                </div>
            }


        </div>
    </div>
    <div class="col-md-10" id="formContainer">
        @Html.Partial("~/Areas/Workspace/Views/Shared/Partials/tableBoxes.cshtml", Model)
    </div>

    <div class="col-md-2" data-pagemode="edit"></div>
    <div class="col-md-10 text-center" data-pagemode="edit">@Confluence.ButtonAddNewRows(Localization.GetText("Workspace.Template.AddNewRow"), "tableBoxes", action: "addNewRow")</div>

    @Html.Partial("Partials/buttonsPersonalize")
</div>