@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.CPDModule.ViewModels.CountryProgram
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Areas.CPD.Models
@using IDB.Architecture.Language

@model CountryProgramViewModel

@if (Model != null)
{

    <div class="row mb30">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/Buttons", Model)
            @Confluence.LabelMainTitle(Localization.GetText("CPD.CountryProgram.Title"))
        </div>
    </div>
    <div class="page" data-parsley-validate="true" name="submitForm" data-ignore-nullable-values="true">
        @Confluence.Tabs(new Dictionary<string, string>()
        {{NavigationAttributes.TAB_NAME_COUNTRYPROGRAM, Localization.GetText("CPD.CountryProgram.Navigation.CountryProgram") },
        {NavigationAttributes.TAB_NAME_USEOFCS, Localization.GetText("CPD.CountryProgram.Navigation.UseOfCountrySystem") },
        {NavigationAttributes.TAB_NAME_STRATEGICALIGNMENT, Localization.GetText("CPD.CountryProgram.Navigation.StrategicAlignment") }})

        <div class="tab-content mt20">
            <div class="tab-pane pl30" id="@(NavigationAttributes.TAB_NAME_COUNTRYPROGRAM)">
                @Html.Partial("ReadPartial/CountryProgramPartial", Model.CountryProgramTab)
            </div>
            <div class="tab-pane pl30" id="@(NavigationAttributes.TAB_NAME_PD_USEOFCS)">
                @Html.Partial("ReadPartial/UseOfCountrySystemPartial", Model.UseOfCountrySystemTab)
            </div>
            <div class="tab-pane pl30" id="@(NavigationAttributes.TAB_NAME_STRATEGICALIGNMENT)">
                @Html.Partial("ReadPartial/StrategicAlignmentPartial", Model.StrategicAlignmentTab)
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/Buttons", Model)
        </div>
    </div>
}

@section scripts{

        <script type="text/javascript">

        /*--------------- Navigation Tabs --------------- */
        registerCallback(function () {
            $(document).ready(function () {
                SelectTab('@ViewBag.ActiveTab');
            });

            $(document).on('click', 'ul.tabs li', function () {
                var source = $(this);
                var contentButtons = $('div[data-type="contentButtons"]');
                var nameTab = source.attr('dd-tab');
                contentButtons.addClass('hide');
                switch (nameTab) {
                    case "#@(NavigationAttributes.TAB_NAME_COUNTRYPROGRAM)":
                        $('div[data-id="read-CountryProgram"]').removeClass('hide');
                        break;
                    case "#@(NavigationAttributes.TAB_NAME_USEOFCS)":
                        $('div[data-id="read-UseCountrySystem"]').removeClass('hide');
                        break;
                    case "#@(NavigationAttributes.TAB_NAME_STRATEGICALIGNMENT)":
                        $('div[data-id="read-StrategicAlignment"]').removeClass('hide');
                        break;
                }
            });

            function SelectTab(tabName) {
                switch (tabName) {
                    case '@(NavigationAttributes.TAB_NAME_COUNTRYPROGRAM)':
                        $('[dd-tab="#@(NavigationAttributes.TAB_NAME_COUNTRYPROGRAM)"]').click();
                        break;
                    case '@(NavigationAttributes.TAB_NAME_USEOFCS)':
                        $('[dd-tab="#@(NavigationAttributes.TAB_NAME_USEOFCS)"]').click();
                        break;
                    case '@(NavigationAttributes.TAB_NAME_STRATEGICALIGNMENT)':
                        $('[dd-tab="#@(NavigationAttributes.TAB_NAME_STRATEGICALIGNMENT)"]').click();
                        break;
                }
            }
        });

        /*--------------- Edit Mode ---------------*/
        registerCallback(function () {
            $(document).on('click', '[name="edit-CP"]', function () {
                var url = '@Url.Action("EditCountryProgram", "CountryProgram", new { area = "CPD" })';
                LocationAssign(url);
            });

            $(document).on('click', '[name="edit-UseCS"]', function () {
                var url = '@Url.Action("EditUseOfCountrySystem", "CountryProgram", new { area = "CPD" })';
                LocationAssign(url);
            });

            $(document).on('click', '[name="edit-SA"]', function () {
                var url = '@Url.Action("EditStrategicAlignment", "CountryProgram", new { area = "CPD" })';
                LocationAssign(url);
            });
        });
    </script>
}