@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

<div id="headerButtons" >

        <div data-pagemode="edit">
            @Confluence.ButtonLink(
            text: Localization.GetText("Cancel"),
                                       action: "cancelVERTask", name: "cancelVERTask", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelVERTask" } })

            <button data-id="buttonModal" class="buttonBlue"
                    data-idb-fieldname="btnSaveAndApprove"
                    data-modal-allowclose="true"
                    data-custom-modal="saveApproveModal"
                    data-custom-modal-style="vex-theme"
                    data-custom-modal-title="@Localization.GetText("VER.Task.Button.Complete")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["save", "cancel"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("COMMON.Confirm")"
                    data-custom-button-save-style="buttonBlue"
                    data-custom-button-save-callback="saveCompleteVER"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("Cancel")"
                    data-custom-button-cancel-style="buttonLink"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="false">
                @Localization.GetText("VER.Task.Button.Complete")
            </button>

            @Confluence.ButtonWhite(text: Localization.GetText("TC.Save"), action: "saveOnly", name: "saveOnly", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveOnly" } })
        </div>
          
    <div data-id="ModalRegion">
        <div id="saveApproveModal" class="hide modalBody VERModal">@Localization.GetText("VER.Task.MODAL.Complete")</div>
        <div id="SaveandReject" class="hide modalBody VERModal">@Localization.GetText("GLOBAL.K2.MODAL.SaveRejectTask")</div>
    </div>
</div>
