@using IDB.Architecture.Language

<div class="row row-body-40">
    <div class="col-md-6">
        @Confluence.LabelSubTitleGroup(text: Localization.GetText("Comments"), htmlClass: "bold")
    </div>
    <div class="col-md-6 text-right" data-pagemode="edit">
        @Confluence.ButtonBlue(text: Localization.GetText("New"), action: "newComment", name: "newComment", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnNewComment" } })
    </div>
</div>

<div class="row row-body-40">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" id="divTaskComments">
                @if (Model.UserComments != null)
                {
                    var classSpan = "";

                    foreach (var comment in Model.UserComments)
                    {
                        classSpan = "template dont-hide-at-edit";

                        if (Model.UserName.Equals(comment.User))
                        {
                            classSpan = "data-pagemode=read";
                            <span data-pagemode="edit">
                                @Confluence.InputCommentBox(section1: Confluence.Label(comment.Date), section2: Confluence.Label(comment.User), section3: null, value: comment.Comment, name: "textComment", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtTextComment01" } })
                                @Confluence.InputHidden(value: Convert.ToString(comment.CommentId), name: "commentId")
                                @Confluence.ButtonTrash(text: "", action: "deleteComment", dataAttributes: new Dictionary<string, string> { { "commentId", Convert.ToString(comment.CommentId) } })
                            </span>
                        }
                        <span @classSpan>@Confluence.InputCommentBox(section1: Confluence.Label(comment.Date), section2: Confluence.Label(comment.User), section3: null, value: comment.Comment, name: "textComment", isReadOnly: true, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtTextComment02" } })</span>
                    }
                }
            </div>

        </div>
        <span data-pagemode="edit">@Confluence.InputHidden(value: "", name: "deleteComments", required: false)</span>
    </div>
</div>
