@using System.Globalization
@using IDB.MW.Application.CPDModule.ViewModels.Annexes
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.Architecture.DataTables.Common

@model PipelineTableViewModel
@if (Model != null)
{
    var selector = string.Format("[data-name=\"{0}\"]", Model.SectionName);

    var headerTaxonomyOrModality = Localization.GetText("CPD.Annexes.IndicativePipeline.TableHeader.TCTaxonomy");
    if (Model.IsModality)
    {
        headerTaxonomyOrModality = Localization.GetText("CPD.Annexes.IndicativePipeline.TableHeader.OperationModality");
    }

    var config = Html.RenderDataTable(Model.Operations);
    config.TableClass = "tableNormal";
    config.Name(Model.SectionName + "Table")
        .PrimaryKey(m => m.OperationId.ToString(CultureInfo.InvariantCulture))
        .AddPrimaryKeyToName(false)
        .UseDataTableNet(false)
        .UsePageMode(false)
        .Columns(columns =>
        {
            columns.Template(c => Confluence.Label(c.OperationName))
            .CssHeaderClass("w130")
            .Header(Localization.GetText("CPD.Annexes.IndicativePipeline.TableHeader.OperationName"));

            columns.Template(c => Confluence.Label(c.OperationNumber))
            .CssHeaderClass("w130")
            .Header(Localization.GetText("CPD.Annexes.IndicativePipeline.TableHeader.OperationNumber"));

            if (!Model.IsGreather2017)
            {
                columns.Template(c => Confluence.Label(c.OperationObjective))
                .Header(Localization.GetText("CPD.Annexes.IndicativePipeline.TableHeader.OperationObjective"));
            }

            columns.Template(ColumnAmount)
            .CssClass("textalign-right")
            .CssHeaderClass("w120")
            .Header(Localization.GetText("CPD.Annexes.IndicativePipeline.TableHeader.Amount"));

        });

    <div class="row mb10 pl30">
        <div class="col-md-12">
            @(Html.CollapseSingle("CollapseAnnexesTable")
               .HtmlClass("component-collapse alignSubtitle")
               .AsociatedCollapseAllSelector("[data-name=CollapseAllAnnexesTable]")
               .TargetRegionSelector(selector)
            )
            <div>
                @Confluence.LabelBold(Localization.GetText(Model.Title))
            </div>
        </div>
    </div>

    <div class="row mb30 pl30">
        <div class="col-md-12" data-name="@Model.SectionName">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("Controls/DataTable", config)
                </div>
            </div>
        </div>
    </div>
}

@helper ColumnAmount(OperationRowViewModel row)
{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDecimal = appSettings.FormatDecimal;

    @Confluence.Label(FormatHelper.Format(row.Amount, formatDecimal).ToString())    
}
