@using IDB.Architecture.Language

@model IDB.MW.Application.MrBlueModule.ViewModels.SafeguardToolkit.SafeguardToolkitStep5ViewModel

<div class="hide" id="classificationOverride" data-parsley-validate="true" data-parsley-excluded="[disabled]">
    <div class="row modalContent">
        <div class="col-md-12">
            <div class="row mb20">
                <div class="col-md-12">
                    @Confluence.LabelBold(Localization.GetText("MrBlue.SafeguardToolkit.Step5.ClassificationOverrideDescription"))
                </div>
            </div>
            <div class="row mb20">
                <div class="col-md-12">
                    @Confluence.LabelsGroup(Localization.GetText("MrBlue.SafeguardToolkit.Step5.RevisedClassificationLabel"),
                      contentAlways :
                      Confluence.InputDropDown(
                      Model.EnvironmentalCategory != IDB.MW.Application.MrBlueModule.Enums.ESGClassificationEnum.B13 ?
                      ViewBag.EnumMapping[Model.EnvironmentalCategory].ToString() : string.Empty,
                      "revisedClassificationDropdown",
                      ViewBag.EsgClasificationOverride,
                      placeholder : String.Empty, required : true),
                      asterisk : true)
                </div>
            </div>
            <div class="row mb20">
                <div class="col-md-12">
                    @Confluence.LabelsGroup(
                      Localization.GetText("MrBlue.SafeguardToolkit.Step5.JustificationLabel"),
                      contentAlways :
                          Confluence.InputDropDown(
                          string.Empty,
                          "justificationOverridenDropdown",
                          ViewBag.EsgJustificationOverridenList,
                          placeholder : String.Empty,
                          required : true,
                          orderAsc : false,
                          showEmptyOption : false,
                          width : "450px"),
                      asterisk : true)
                </div>
            </div>
            <div class="row mb20">
                <div class="col-md-12">
                    @Confluence.LabelsGroup(
                    Localization.GetText("MrBlue.SafeguardToolkit.Step5.CommentLabel"),
                    contentAlways : Confluence.InputTextArea(Model.EnvironmentalCategoryComment,
                        "commentTextArea",
                        width : "100%",
                        height : "125px",
                        required : false),
                        asterisk : false)
                </div>
            </div>
        </div>
        <div style="text-align:right;margin-right:15px;">
            @Confluence.ButtonLink(Localization.GetText("Cancel"),
                            name : "cancel",
                            action : "exitModal")

            @Confluence.ButtonBlue(Localization.GetText("Save"),
                            action : "classificationOverrideSave",
                            name : "SaveOverride")
        </div>
    </div>
</div>