@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using System.Globalization
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.SafeguardToolkit

@model SafeguardToolkitStep5ViewModel


@if(Model != null)
{
    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
    <div data-pagemode="edit">
        <input type="hidden" id="isFinalizeId" name="isFinalize" value="false" />
        <input type="hidden" id="environmentalCategoryId" name="environmentalCategory" value="@Model.EnvironmentalCategory" />
        <input type="hidden" id="environmentalCategoryOverridenId" name="environmentalCategoryOverriden" value=""/>
        <input type="hidden" id="environmentalJustificationId" name="environmentalCategoryJustification" value="" />
        <input type="hidden" id="environmentalCategoryComment" name="environmentalCategoryComment" value="@Model.EnvironmentalCategoryComment" />
        <input type="hidden" id="disasterRiskCategoryId" name="disasterRiskCategory" value="@Model.DisasterRiskCategoryString" />
        <input type="hidden" id="policiesDirectivesTriggeredId" name="policiesDirectivesTriggered" value="@Model.PoliciesDirectivesTriggered" />
        <input type="hidden" id="potenctialPoliciesDirectivesTriggeredId" name="potenctialPoliciesDirectivesTriggered" value="@Model.PotentialPoliciesDirectivesTriggered" />
        <input type="hidden" id="enviromentalOverridden" name="enviromentalOverridden" value="@Model.enviromentalOverridden" />
    </div>


}