@using IDB.Presentation.MVC4.Helpers

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
    <!-- Título página -->
    <title>BID</title>

    <!-- Etiquetas META -->
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    <!-- PALABRAS CLAVES -->
    <meta name="Keywords" content="palabras, claves" />
    <!-- Fav icon -->
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <!-- Archivos CSS -->

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/navegacion.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/datepicker.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Messages/jquery_notification.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/custom/jquery.ui.tooltip.error.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo.everis.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <!-- CSS Sections -->
    @RenderSection("CSS", required: false)
    <!-- Archivos JS -->
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/knockout.mapping")
    @Scripts.Render("~/bundles/JsLinq")
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.3.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/radio/jquery.ui.core.js")"></script>
   <script type="text/javascript" src="@Url.Content("~/Scripts/radio/jquery.ui.widget.js")"></script>
   <script type="text/javascript" src="@Url.Content("~/Scripts/radio/jquery.ui.button.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/radio/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/grid/grid.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/blockScroll/blockScroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/buscarFocus/buscarFocus.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tabstrip/tabstrip.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/main.js"  + @System.Configuration.ConfigurationManager.AppSettings["cache"].ToString())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Messages/jquery_notification.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/JQchartfx/jquery.jqChart.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Autonumeric/autoNumeric.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars-v1.3.0.js")"></script>
    <!-- Fin Archivos JS del main.js -->

    <!-- JavaScript Sections -->
    @RenderSection("JavaScript", required: false)


</head>
<body style="background-color: white;">
    @* If exits any message of server *@
    @if (ViewData["message"] != null)
    {
        @Html.ShowNotificationMessage((MessageConfiguration)ViewData["Message"]);
    }

    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
    <!--SECCION CENTRAL-->
    <section class="central">
        <!--Div added to get the caculated height of the page -->
        <div class="renderHeight" style="height: auto; position: relative;">
            @RenderBody()
        </div>
    </section>
    <!--FIN SECCION CENTRAL-->
</body>
</html>
