@using IDB.MW.Application.CPDModule.ViewModels.CSProgressToDate
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.DataTables.Common

@model ProgressToDateTabViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;

    var citizenSecurityHidden = Model.CountryStrategyObjective.Keys.ToList().Count == 0 ? "hide" : string.Empty;
    var justiceHidden = Model.CountryStrategyObjective.Keys.ToList().Count < 2 ? "hide" : string.Empty;
}

<div class="row">
    <div class="pl15 pr15 ftl">
        @Confluence.LabelsGroup(title: Localization.GetText("COMMON.LastUpdate"),
                                         contentAlways: Confluence.LabelBold(FormatHelper.Format(Model.LastUpdate, formatDate)))
    </div>

    <div class="pl15 pr15 ftl space-username">
        @Confluence.LabelsGroup(title: Localization.GetText("COMMON.Username"),
                                         contentAlways: Confluence.LabelBold(Model.UserName))
    </div>

    <div class="ftr pr15">
        @(Html.CollapseAll("collapseAllProgressToDate")
                                                    .HtmlClass("floatRight space")
                                                    .CollapseSingleSelector("[data-name=\"collapseProgressToDate\"]"))
    </div>
</div>
<div class="row mb10">
    <div class="col-md-9 pl0">
        <div class="grouping-section pl15 mb0">
            <div class="mt10">
                @Confluence.LabelSubTitleGroup(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.GenerateCPD"))
            </div>
            <div class="ml10 col-md-1 mb10">
                @Confluence.ButtonWord(name: "exportWord", action: "butonActiveCPD")
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-10 mb20">
        <label class="grouping-section lbltitle">
            @Confluence.LabelSubTitleGroup(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.CountryStrategyInformation.Title"))
        </label>
    </div>

</div>
<div class="row">
    <div class="pl15 pr15 ftl line mb15" data-idb-fieldname="ddlCountryStrategyCycle">

        @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.CountryStrategyInformation.CountryStrategyCycle"), htmlClass: "lgTit labelGroups")
        <br>
        @Confluence.LabelBold(Model.CountryStrategyCycle, htmlClass: "labelNormalBold")
        <br>
        @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.CountryStrategyInformation.CountryStrategyCycle.Month"), htmlClass: "lgTit labelGroups")

    </div>

    <div class="pl15 pr15 ftl space-approved" data-idb-fieldname="ddlApprovedOn">
        @Confluence.LabelsGroup(title: Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.CountryStrategyInformation.ApprovedOn"),
                                 contentAlways: Confluence.LabelBold(FormatHelper.Format(Model.ApprovedOn, formatDate)))
    </div>
</div>

<div class="row mb20 labelRow">
    <div class="col-md-12 labelRowInternal">
        @Confluence.InputCheckbox(
                         isChecked: Model.CSUpdatesApprovedToDate,
                         name: "checkCSUpdateApprovedToDate",
                         label: Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.CountryStrategyInformation.CSUpdatesApprovedtoDate"),
                         disabled: true)
    </div>
</div>

<div class="row mb20" data-idb-fieldname="ddlCountryStrategyCycle">
    <div class="col-md-12 lblcontent fontfam-light font14">
        @Localization.GetText("COMMON.Justification")
    </div>
    <div class="col-md-12 lblvalue">
        @Model.Justification
    </div>
</div>

<div class="row mb10">
    <div class="col-md-12">
        @(Html.CollapseSingle("collapseProgressToDate")
                                                            .HtmlClass("component-collapse alignSubtitle")
                                                            .AsociatedCollapseAllSelector("[data-name=collapseAllProgressToDate]")
                                                            .TargetRegionSelector("[data-name=\"operationsApprovedTable\"]")
        )
        <div>
            @Confluence.LabelBold(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.SummaryCurrentApprovals.Title"))
        </div>
    </div>
</div>

<div class="row mb30 space-line-ext icon-container-inf" data-name="operationsApprovedTable">
    <div class="col-md-12 mb20">
        @Html.Partial("ReadPartial/ProgressToDateTab/SummaryCurrentApprovalsPartial", Model.SummaryOfCurrentApprovals)
    </div>
    <div class="col-md-12 space-line-int icon-inf">
        <table>
            <tr>
                <td class="icon-container-align pr10 vAlg">@Confluence.Information()</td>
                <td class="text-container-align">
                    <p>
                        @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.SummaryCurrentApprovals.TableInfo"), htmlClass: "infoText labelNormalNotBold")
                    </p>

                    <p>
                        @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.SummaryCurrentApprovals.TableInfo.RowSepareTo"), htmlClass: "infoText labelNormalNotBold")
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>
@if (!Model.Greather2017 && !Model.Greather2016)
{
    <div class="row mb10">
        <div class="col-md-12">
            @(Html.CollapseSingle("collapseProgressToDate")
                                                        .HtmlClass("component-collapse alignSubtitle")
                                                        .AsociatedCollapseAllSelector("[data-name=collapseAllProgressToDate]")
                                                        .TargetRegionSelector("[data-name=\"idbLendingTable\"]")
            )
            <div>
                @Confluence.LabelBold(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.IDBLending.Title"))
            </div>
        </div>
    </div>
}

<div class="row mb20" data-name="idbLendingTable">
    @if (!Model.Greather2017 && !Model.Greather2016)
    { 
        <div class="col-md-12 mb20">
            @Html.Partial("ReadPartial/ProgressToDateTab/IDBLendingPartial", Model)
        </div>
        <div class="col-md-12">
            @Html.Partial("CommentPartial", new Tuple<string, string, bool, bool>("idbLending", Model.IDBLendingComment, false, true))
        </div>
    }
</div>


@if (!Model.Greather2017) {
    <div class="row">
        <div class="col-md-12">
            @(Html.CollapseSingle("collapseProgressToDate")
                                                    .HtmlClass("component-collapse alignSubtitle")
                                                    .AsociatedCollapseAllSelector("[data-name=collapseAllProgressToDate]")
                                                    .TargetRegionSelector("[data-name=\"portfolioAlignment\"]")
            )
            <div>
                @Confluence.LabelBold(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.PortfolioAlignment.Title"))
            </div>
        </div>
    </div>

    <div class="row mb30 icon-container-inf" data-name="portfolioAlignment">
        <div class="col-md-12 mb20">
            @Html.Partial("ReadPartial/ProgressToDateTab/PortfolioAlignmentCSPartial", Model.PortfolioAlignmentCS)
        </div>
        <div class="col-md-12 mb20 icon-inf">
            <table>
                <tr>
                    <td class="icon-container-align pr10 vAlg">@Confluence.Information()</td>
                    <td class="text-container-align">
                        <p>
                            @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.PortfolioAlignment.TableInfo.title"), htmlClass: "bold infoText labelNormalBold")
                            @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.PortfolioAlignment.TableInfo"), htmlClass: "infoText labelNormalNotBold")
                        </p>

                        <p>
                            @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.PortfolioAlignment.TableInfo.RowSepare.Title"), htmlClass: "bold infoText labelNormalBold")
                            @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.PortfolioAlignment.TableInfo.RowSepare"), htmlClass: "infoText labelNormalNotBold")
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            @Html.Partial("CommentPartial", new Tuple<string, string, bool, bool>("portfolioAlignment", Model.PortfolioAlignmentComment, false, true))
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-10 mb10">
            <label class="grouping-section lbltitle">
                @Confluence.LabelSubTitleGroup(Localization.GetText("CS.PortfolioSummary.PortfolioAlignmentTable.Title"))
            </label>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            @(Html.CollapseSingle("collapseProgressToDate")
                                                    .HtmlClass("component-collapse alignSubtitle")
                                                    .AsociatedCollapseAllSelector("[data-name=collapseAllProgressToDate]")
                                                    .TargetRegionSelector("[data-name=\"portfolioAlignmentIDB\"]")
            )
            <div>
                @Confluence.LabelBold(Localization.GetText("CS.PortfolioSummary.IDB"))
            </div>
        </div>
    </div>

    <div class="row mb30 icon-container-inf" data-name="portfolioAlignmentIDB">
        <div class="col-md-12 mb20">
            @Html.Partial("ReadPartial/ProgressToDateTab/PortfolioAlignmentIDBCSPartial", Model.PortfolioAlignmentCSIDB)
        </div>
    </div>

    <div class="row mb30">
        <div class="col-md-12">
            @(Html.CollapseSingle("collapseProgressToDate")
                                                    .HtmlClass("component-collapse alignSubtitle")
                                                    .AsociatedCollapseAllSelector("[data-name=collapseAllProgressToDate]")
                                                    .TargetRegionSelector("[data-name=\"portfolioAlignmentIIC\"]")
            )
            <div>
                @Confluence.LabelBold(Localization.GetText("CS.PortfolioSummary.IDBInvest"))
            </div>
        </div>
    </div>

    <div class="row mb30 icon-container-inf" data-name="portfolioAlignmentIIC">
        <div class="col-md-12 mb20">
            @Html.Partial("ReadPartial/ProgressToDateTab/PortfolioAlignmentIICCSPartial", Model.PortfolioAlignmentCSIIC)
        </div>
    </div>

    <div class="row mb30">
        <div class="col-md-12">
            @(Html.CollapseSingle("collapseProgressToDate")
                                            .HtmlClass("component-collapse alignSubtitle")
                                            .AsociatedCollapseAllSelector("[data-name=collapseAllProgressToDate]")
                                            .TargetRegionSelector("[data-name=\"portfolioAlignmentMIF\"]")
            )
            <div>
                @Confluence.LabelBold(Localization.GetText("CS.PortfolioSummary.MIF"))
            </div>
        </div>
    </div>

    <div class="row mb30 icon-container-inf" data-name="portfolioAlignmentMIF">
        <div class="col-md-12 mb20">
            @Html.Partial("ReadPartial/ProgressToDateTab/PortfolioAlignmentMIFCSPartial", Model.PortfolioAlignmentCSMIF)
        </div>
        <div class="col-md-12 mb20 icon-inf">
            <table>
                <tr>
                    <td class="icon-container-align pr10 vAlg">@Confluence.Information()</td>
                    <td class="text-container-align">
                        <p>
                            @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.PortfolioAlignment.TableInfo.title"), htmlClass: "bold infoText labelNormalBold")
                            @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.PortfolioAlignment.TableInfo"), htmlClass: "infoText labelNormalNotBold")
                        </p>

                        <p>
                            @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.PortfolioAlignment.TableInfo.RowSepare.Title"), htmlClass: "bold infoText labelNormalBold")
                            @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.PortfolioAlignment.TableInfo.RowSepare"), htmlClass: "infoText labelNormalNotBold")
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            @Html.Partial("CommentPartial", new Tuple<string, string, bool, bool>("portfolioAlignment", Model.PortfolioAlignmentComment, false, true))
        </div>
    </div>

}


<div class="row mb30">
    <div class="col-md-12 mb10">
        @Confluence.LabelSubTitleGroup(Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.CountryStrategyImplementationProgress.Title"))
    </div>
    <div class="col-md-12">
        <div class="labelNormal bold mb15">
            @(Html.CollapseSingle("collapseProgressToDate")
                                                    .HtmlClass("component-collapse alignSubtitle")
                                                    .AsociatedCollapseAllSelector("[data-name=collapseAllProgressToDate]")
                                                    .TargetRegionSelector("[data-name=\"highlights\"]"))
            @Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.CountryStrategyImplementationProgress.Highlights")
        </div>
        <div class="lblvalue bold" data-name="highlights">
            <label class="labelNormal bold">@Model.Highlights.HtmlEncode()</label>
        </div>
    </div>
</div>
