@using IDB.Architecture.Language
@using Areas.Siscor

@model IDB.Presentation.MVC4.Models.Documents.PopupDocumentoViewModel
@{
    var acceptedExtension = string.Join(", ", Model.AcceptedExtension.Select(x => string.Format(".{0}", x)));
}

<div data-id-selector="add-form" class="row">
    <div class="col-md-12 contentDocuments">
        <form method="POST" enctype="multipart/form-data" data-id="addForm"
              action="@Url.Action("IDBDocUploadDocument", "DocumentModal", new { area = ""})">

            <p>@Localization.GetText("OP.Document.Add.Instructions")</p>
            <p>@Localization.GetText("Document.Add.Extensions.WithoutExt") @acceptedExtension</p>

            <div class="uploadContainer mt20 mb20">
                @SiscorHelper.InputFile2("file", isMultiple: false, acceptFormats: acceptedExtension, required: false)
            </div>
        </form>
    </div>
</div>