@using Newtonsoft.Json
@using IDB.Architecture.Language
@model IDB.Presentation.MVC4.Models.DocumentManagement.SearchResultViewModel

@{
    var iterator = 0;
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3 searchFilterET" style="padding: 12px 15px;">
            @Model.ListDocument.Count @Localization.GetText("Documents")
        </div>
        <div class="col-md-6 perw50 fl">
            <div class="alert alert-danger alert-dangerETDraft pt5 pr5 pb5 pl15 ms-margin0" hidden="" id="errorDocumentSelected">
                @Localization.GetText("DM.Error.Selected.Document")
            </div>
        </div>
        <div class="col-md-3 text-right searchcClearET">
            @Confluence.LabelLink(Localization.GetText("DM.Clear"), dataAttributes: new Dictionary<string, string> { { "id", "clearFilters" } })
        </div>
    </div>
</div>
<div class="row small" data-id-selector="draft-result-container-main">
    <div class="col-md-12" data-id-selector="documentList">
        <div class="col-md-12" data-id-selector="documents-container">
            <div class="row overflowContainer">
                <table data-name="table-result" class="tableNormal">
                    <thead>
                        <tr>
                            <th width="40px"></th>
                            <th class="sort">@Localization.GetText("Doc Number")</th>
                            <th class="sort">@Localization.GetText("Document.Filter.DocumentName")</th>
                            <th class="sort">@Localization.GetText("R6.Proposal.ProposalList.CreationDate")</th>
                            <th class="sort">@Localization.GetText("Document.Filter.IDBAuthorId")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListDocument)
                        {
                            var secureUrl = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(item.DocumentNumber);

                            <tr data-id-selector="selectableDraftDocument" data-id="@iterator" data-json="@JsonConvert.SerializeObject(item, Formatting.None)">
                                <td>
                                    <span class="dm-selectedRow"></span>
                                </td>
                                <td><a href=@secureUrl target="_blank">@item.DocumentNumber</a></td>
                                <td title="@item.DocumentName">
                                    <div class="w230 text-break-points">
                                        @item.DocumentName
                                    </div>
                                </td>
                                <td>@Confluence.LabelGetDate(item.CreationDate.AsDateTime())</td>
                                <td>@item.Author</td>
                            </tr>
                            <tr data-row-parent-id="@iterator">
                                <td class="skinGray"></td>
                                <td class="skinGray">@Html.Label(Localization.GetText("Document.Filter.OperationNumber"), new { @class = "bold" })</td>
                                <td class="skinGray">@Html.Label(Localization.GetText("Document.Filter.DocumentContent"), new { @class = "bold" })</td>
                                <td class="skinGray"></td>
                                <td class="skinGray">@Html.Label(Localization.GetText("Document.Filter.IDBAuthorId"), new { @class = "bold" })</td>
                            </tr>
                            <tr data-row-parent-id="@iterator">
                                <td></td>
                                <td>@item.OperationNumber</td>
                                <td>@item.Description</td>
                                <td></td>
                                <td>@item.Library/@item.LibrarySubFolder</td>
                            </tr>
                            iterator++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>