@using IDB.MW.Application.TCAbstractModule.ViewModels.ReviewRegionalTL
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums

@model PriorityTCAbstractViewModel

<div class="header">
    @Html.Partial("Partials/Headers/PriorityTCTitle")
    <div data-id="header-tcAbstract"
         data-loadurl="@Url.Action("TCAbstractHeader", "View", new { area = "TC" })">
        @Html.Partial("_TCHeader", Model.TCAbstract.Header)
    </div>
</div>
<div class="page">
    @if (ViewBag.ReadRole && Model != null)
    {
        <div id="dataForm"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-ignore-nullable-values="true"
             data-url="@Url.Action("PriorityTCAbstract", "Save", new { area = "TC", countryLiaisonId = Model.CountryLiaisonId })"
             data-loadurl="@Url.Action("PriorityTCAbstractEdit", "View", new { area = "TC", countryLiaisonId = Model.CountryLiaisonId })">
            @Html.Partial("Partials/PriorityTCPriority", Model)
        </div>
        <div id="ReviewTCData" class="tcCollapsibleMargin">
            @Html.Partial("Partials/TCAbstract", Model.TCAbstract)
        </div>
        @Html.Partial("Partials/Controls/TCAbstractWordExcelButtonsDownload")<br />
        <span class="text-right">@Html.Partial("Partials/Controls/PriorityTCButtons")</span>
        <div id="saveModal" class="hide modalBody">
            @Localization.GetText("TC.PriorityTC.SaveModal.Message")
        </div>
        <div id="sendModal" class="hide modalBody">
            @Localization.GetText("TC.PriorityTC.SendModal.Message")
        </div>
    }
</div>

@section scripts {
    @ModuleScripts.ValidationMessageForTC()
    @ModuleScripts.TCAbstractSetupState()
    @ModuleScripts.AddArithmeticSumValidator()
    @ModuleScripts.K2UIIntegration()

    <script type="text/javascript">

        setInitialTCAbstractState();

        function editPriorityTC(source) {
            var sucess = enterEditMode(true, $('#dataForm'), true);
            if (sucess) {
                enterEditMode(false, $('.priorityTCButtons'), false);
            }
        }

        function cancelPriorityTC(source) {
            exitEditMode(true, $('#dataForm'), true, true);
            exitEditMode(false, $('.priorityTCButtons'), false, false);

            setInitialTCAbstractState();
        }

        function saveModalConfirm(source) {
            $('[name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE"]').val('@SaveControllerTypeEnum.Save');
            var resp = $.Deferred();
            var response = saveContainer($('#dataForm'), '#hidViewModel', true, $('.priorityTCButtons'), $(source.target));
            if (response !== false) {
                response.done(function (data) {
                    if (!data.IsValid && data.ErrorMessage != null && data.ErrorMessage != "") {
                        showMessage(data.ErrorMessage);
                    }
                    resp.resolve();
                }).always(setInitialTCAbstractState);
            }
            return resp;
        }
       
        function saveAndSend(source) {
            $('[name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE"]').val('@SaveControllerTypeEnum.SaveAndSend');

            var resp = $.Deferred();
            var response = saveContainer($('#dataForm'), '#hidViewModel', true, $('.priorityTCButtons'), $(source.target));
            if (response !== false) {
                response.done(function (data) {
                    if (!data.IsValid && data.ErrorMessage != null && data.ErrorMessage != "") {
                        showMessage(data.ErrorMessage);
                    }
                    resp.resolve();
                }).always(setInitialTCAbstractState);
            }
            return resp;
        }

        function downloadWord(source) {
            var url = '@Url.Action("TCAbstractExportToWord", "View", new { area = "TC" })';
            window.open(url, '_blank');
        }

        function downloadPdf(source) {
            var url = '@Url.Action("TCAbstractExportToPDF", "View", new { area = "TC" })';
            window.open(url, '_blank');
        }

        function downloadXls(source) {
            console.log('Download Xls');
        }

    </script>
}
