@using IDB.Presentation.MVC4.Models.Buttons
<div class="row">
    <div class="col-md-6">

        <!-- Button Link -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button Link</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="buttonLink">
                    <span class="button-text">Link</span>
                </button>
                <button class="buttonLink" disabled="disabled">
                    <span class="button-text">Link</span>
                </button>
            </div>
        </div>

        <!-- Button 01 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 01</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="button01">Button</button>
                <button disabled="disabled" class="button01">Button</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Button 01.1</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="button01 button01-small">Button</button>
                <button disabled="disabled" class="button01 button01-small">Button</button>
            </div>
        </div>


        <!-- Button 02 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 02</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="button02">Button</button>
                <button disabled="disabled" class="button02">Button</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Button 02.1</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="button02 button02-small">Button</button>
                <button disabled="disabled" class="button02 button02-small">Button</button>
            </div>
        </div>


        <!-- Button 03 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 03</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="button03">Button</button>
                <button disabled="disabled" class="button03">Button</button>
            </div>
        </div>

        <!-- Button 04 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 04</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Pendiente</h5>
            </div>
        </div>

        <!-- Button 05 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 05</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="button05">Button</button>
                <button disabled="disabled" class="button05">Button</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Button 05.1</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="button05 button05-small">Button</button>
                <button disabled="disabled" class="button05 button05-small">Button</button>
            </div>
        </div>



        <!-- Button 06 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 06</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="button06">
                    <label>
                        <input type="radio" name="button06a" id="button06bTypeA" />
                        <span>
                            <span class="button-icon">&nbsp;</span>
                            <span class="button-text">Type A</span>
                        </span>
                    </label>
                    <label>
                        <input type="radio" name="button06a" id="button06bTypeB" />
                        <span>
                            <span class="button-icon">&nbsp;</span>
                            <span class="button-text">TypeB</span>
                        </span>
                    </label>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="button06">
                    <label>
                        <input type="radio" name="button06b" id="button06bTypeA" />
                        <span>
                            <span class="button-icon">&nbsp;</span>
                            <span class="button-text">Type A</span>
                        </span>
                    </label>
                    <label>
                        <input type="radio" name="button06b" id="button06bTypeB" />
                        <span>
                            <span class="button-icon">&nbsp;</span>
                            <span class="button-text">TypeB</span>
                        </span>
                    </label>
                    <label>
                        <input type="radio" name="button06b" id="button06bTypeC" />
                        <span>
                            <span class="button-icon">&nbsp;</span>
                            <span class="button-text">TypeC</span>
                        </span>
                    </label>
                </span>
            </div>
        </div>

        <!-- Button 07 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 07</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <button class="button07-left-icon button07">
                    <span class="button-icon">&nbsp;</span>
                    <span class="button-text">Button</span>
                </button>
                <button class="button07-left-icon button07">
                    <span class="button-icon">&nbsp;</span>
                </button>
                <button class="button07-left-icon button07" disabled="disabled">
                    <span class="button-icon">&nbsp;</span>
                    <span class="button-text">Button</span>
                </button>
                <button class="button07-left-icon button07" disabled="disabled">
                    <span class="button-icon">&nbsp;</span>
                </button>
            </div>

        </div>

        <!-- Button 07.2 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 07.2</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <button class="button07-left-icon button07_2">
                    <span class="button-icon">&nbsp;</span>
                    <span class="button-text">Button</span>
                </button>
                <button class="button07-left-icon button07_2">
                    <span class="button-icon">&nbsp;</span>
                </button>
                <button class="button07-left-icon button07_2" disabled="disabled">
                    <span class="button-icon">&nbsp;</span>
                    <span class="button-text">Button</span>
                </button>
                <button class="button07-left-icon button07_2" disabled="disabled">
                    <span class="button-icon">&nbsp;</span>
                </button>
            </div>

        </div>

        <!-- Button 07.3 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 07.3</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <button class="button07-left-icon button07_3">
                    <span class="button-icon">&nbsp;</span>
                    <span class="button-text">Button</span>
                </button>
                <button class="button07-left-icon button07_3">
                    <span class="button-icon">&nbsp;</span>
                </button>
                <button class="button07-left-icon button07_3" disabled="disabled">
                    <span class="button-icon">&nbsp;</span>
                    <span class="button-text">Button</span>
                </button>
                <button class="button07-left-icon button07_3" disabled="disabled">
                    <span class="button-icon">&nbsp;</span>
                </button>
            </div>

        </div>

        <!-- Button 07.4 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 07.4</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <button class="button07-left-icon button07_4">
                    <span class="button-icon">&nbsp;</span>
                    <span class="button-text">Button</span>
                </button>
                <button class="button07-left-icon button07_4">
                    <span class="button-icon">&nbsp;</span>
                </button>
                <button class="button07-left-icon button07_4" disabled="disabled">
                    <span class="button-icon">&nbsp;</span>
                    <span class="button-text">Button</span>
                </button>
                <button class="button07-left-icon button07_4" disabled="disabled">
                    <span class="button-icon">&nbsp;</span>
                </button>
            </div>

        </div>

        <!-- Button 08 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 08</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <button class="button08">
                    Lorem ipsum
                </button>
                <button class="button08" disabled="disabled">
                    Lorem ipsum
                </button>
            </div>

        </div>

        <!-- Button 09 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 09</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <label class="button09">
                    <input type="checkbox" />
                    <span class="icon-toggle">
                        <span class="icon-toggle-position"></span>
                    </span>
                    <span class="text-to-expand">Expand All</span>
                    <span class="text-to-collapse">Collapse All</span>
                </label>
            </div>

        </div>



        <!-- Collapse Button -->
        <div class="row">
            <div class="col-md-12">
                <h4>Collapse Button</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <label class="buttonCollapse">
                    <input type="checkbox" />
                    <span class="button-icon">
                        <span></span>
                    </span>
                </label>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>

    <!-- Razor Helpers -->
    <div class="col-md-6">
        <!-- Button Link -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button Link</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Display.ButtonLink("Link", "link")
            </div>
        </div>


        <!-- Button 01 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 01</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Display.Button01("Button01", "01")
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Button 01.1</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Display.Button01_1("Button01.1", "01.1")
            </div>
        </div>


        <!-- Button 02 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 02</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Display.Button02("Button02", "02")
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Button 02.1</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Display.Button02_1("Button02.1", "02.1")
            </div>
        </div>


        <!-- Button 03 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 03</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Display.Button03("Button03", "03")
            </div>
        </div>

        <!-- Button 04 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 04</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Pendiente</h5>
            </div>
        </div>

        <!-- Button 05 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 05</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Display.Button05("Button05", "05")
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Button 05.1</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Display.Button05_1("Button05.1", "05.1")
            </div>
        </div>



        <!-- Button 06 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 06</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Display.Button06("Button06",
                Button06ViewModel.Create()
                    .AddButton("Graphs", "graphName")
                    .AddButton("Values", "valueName"), 1)
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Display.Button06("Button06-multiple",
                Button06ViewModel.Create()
                    .AddButton("Graphs", "graphName")
                    .AddButton("Values", "valueName")
                    .AddButton("Ninguno seleccionado", "otherName")
                    , null)
            </div>
        </div>


        <!-- Button 07 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 07</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                @Display.Button07("Button07", "07")
                @Display.Button07(null, "07")
            </div>

        </div>

        <!-- Button 07.2 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 07.2</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                @Display.Button07_2("Button07.2", "07.2")
                @Display.Button07_2(null, "07.2")
            </div>

        </div>

        <!-- Button 07.3 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 07.3</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                @Display.Button07_3("Button07.3", "07.3")
                @Display.Button07_3(null, "07.3")
            </div>

        </div>

        <!-- Button 07.4 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 07.4</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                @Display.Button07_4("Button07.4", "07.4")
                @Display.Button07_4(null, "07.4")
            </div>

        </div>

        <!-- Button 08 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 08</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                @Display.Button08("Button08", "08")
            </div>

        </div>

        <!-- Button 09 -->
        <div class="row">
            <div class="col-md-12">
                <h4>Button 09</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                @Display.ExpandAllButton(".seletor")
            </div>

        </div>



        <!-- Collapse Button -->
        <div class="row">
            <div class="col-md-12">
                <h4>Collapse Button</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                @Display.ExpandableButton(".selector", ".selectorExpandAll", speed: 0)
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-12">
        @Display.ExpandAllButton("[data-name=singleExpand]", name: "miExpandAll")
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        @Display.ExpandableButton(".to-expand-1", "[data-name=miExpandAll]", name: "singleExpand", speed: 200)
    </div>
</div>

<div class="row to-expand-1">
    <div class="col-md-12">
        Contenido a expandir y contraer 1
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        @Display.ExpandableButton(".to-expand-2", "[data-name=miExpandAll]", name: "singleExpand", speed: 200)
    </div>
</div>

<div class="row to-expand-2">
    <div class="col-md-12">
        Contenido a expandir y contraer 2
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        @Display.ExpandableButton(".to-expand-3", "[data-name=miExpandAll]", name: "singleExpand", speed: 200)
    </div>
</div>

<div class="row to-expand-3">
    <div class="col-md-12">
        Contenido a expandir y contraer 3
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        @Display.ExpandableButton(".to-expand-4", "[data-name=miExpandAll]", name: "singleExpand", speed: 200)
    </div>
</div>

<div class="row to-expand-4">
    <div class="col-md-12">
        Contenido a expandir y contraer 4
    </div>
</div>

<br />
<br />
<br />


<!-- Arrow Collapse -->
<div class="row">
    <div class="col-md-12">
        <h4>Collapse Arrow</h4>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        @Display.ExpandableTriangleButton(".targetExample", null, "")
    </div>

</div>


<!-- Delete -->
<div class="row">
    <div class="col-md-12">
        <h4>Collapse Arrow</h4>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
    </div>

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<button class="button07-left-icon button07_4">
    <span class="button-icon">&nbsp;</span>
</button>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
