@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.General
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Architecture.Language

<div data-section="modals" class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"cancel-modal\"]",
        title: Localization.GetText("Common.Warning"),
        type: CssClass.ModalWarningNoIcon,
        moveOriginalContent: true,
        name: "btn-open-popup-cancel",
        closeOnOverlay: false,
        allowClose: true,
        actionOnClose: "")
    .AddButton(name: "btn-cancel-cancel",
                    text: Localization.GetText("Common.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "")
    .AddButton(name: "btn-cancel-ok",
                    text: Localization.GetText("Common.Ok"),
                    type: CssClass.Button05,
                    callback: "CancelEditMode",
                    closeAtEnd: true))
    <div data-name="cancel-modal" class="hide modalBody">
        @Localization.GetText("CPD.CSProgressToDate.Cancel.Warning")
    </div>

    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"comment-idbL-remove-modal\"]",
            title: Localization.GetText("Common.Warning"),
            type: CssClass.ModalWarningNoIcon,
            moveOriginalContent: true,
            name: "btn-open-popup-comment-idbL-remove",
            closeOnOverlay: false,
            allowClose: true,
            actionOnClose: "")
        .AddButton(name: "btn-comment-remove-cancel",
                    text: Localization.GetText("Common.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "")
       .AddButton(name: "btn-comment-remove-ok",
                    text: Localization.GetText("Common.Continue"),
                    type: CssClass.Button05,
                    callback: "RemoveCommentIDBLending",
                    closeAtEnd: true))
    <div data-name="comment-idbL-remove-modal" class="hide modalBody">
        @Localization.GetText("CPD.CountryProgram.Delete.Warning")
    </div>

    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"comment-portAlgn-remove-modal\"]",
            title: Localization.GetText("Common.Warning"),
            type: CssClass.ModalWarningNoIcon,
            moveOriginalContent: true,
            name: "btn-open-popup-comment-portAlgn-remove",
            closeOnOverlay: false,
            allowClose: true,
            actionOnClose: "")
        .AddButton(name: "btn-comment-remove-cancel",
                    text: Localization.GetText("Common.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "")
       .AddButton(name: "btn-comment-remove-ok",
                    text: Localization.GetText("Common.Continue"),
                    type: CssClass.Button05,
                    callback: "RemoveCommentPortAlgn",
                    closeAtEnd: true))
    <div data-name="comment-portAlgn-remove-modal" class="hide modalBody">
        @Localization.GetText("CPD.CountryProgram.Delete.Warning")
    </div>
</div>
