@model IDB.MW.Domain.Models.Disbursement.LoanLevelProjectionsViewModel
<table id="tableSortUIDP003" class="tableNormal">
    <thead>
        <tr>
            <th class="header">@Localization.GetText("Disbursment.CreationForm.BD.RO.OperationNumber")</th>
            <th class="header">@Localization.GetText("Disbursement.LoanLevelProj.SummaryGrid.LoanNumber")</th>
            <th class="header">@Localization.GetText("Disbursement.LoanLevelProj.SummaryGrid.CurrencyCode")</th>
            <th class="header">@Localization.GetText("Disbursement.LoanLevelProj.SummaryGrid.LoanStage")</th>
            <th class="header">@Localization.GetText("Undisbursed")</th>
            <th class="header">@Localization.GetText("Disbursement.LoanLevelProj.SummaryGrid.RemainBalanceProj")</th>
            <th class="header">@Localization.GetText("Disbursment.MG.ExpirationDate")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model.Loans)
        {
            <tr>
                <td id="l1ln">@Confluence.LabelBold(loan.OperationNumber)</td>
                <td>
                    <a class="toloandet1" href="@Url.Action("Edit", "LoanLevelProjections",
                            new {
                                operationNumber = Model.OperationNumber,
                                loanNumber = loan.LoanNumber,
                                fundCode = loan.FundCode,
                                loanTcdNum = loan.TCDNumber,
                                loanProjectNumber = loan.ProjectNumber,
                                loanCurrencyCode = loan.CurrTypeCode
                            })" id="@loan.LoanNumber">@loan.LoanNumber</a>
                            </td>
                            <td id="l1exp">@loan.CurrTypeCode</td>
                            <td id="l1s">@loan.LoanStage</td>
                            <td class="text-right" id="l1dis">@Confluence.LabelDecimal(loan.UndisbursedBalance)</td>
                            <td class="text-right" id="l1rem">@Confluence.LabelDecimal(loan.RemainingBalance)</td>
                            @{var expirationDateStr = loan.CurrentDisbursementExpirationDate == DateTime.MaxValue ? string.Empty : loan.CurrentDisbursementExpirationDate.ToString("dd MMM yyyy");}
                            <td id="l1exp">@expirationDateStr</td>
                        </tr>
        }
    </tbody>
</table>