@using IDB.MW.Domain.Models.Disbursement
@model LoanLevelProjectionsViewModel
<div class="verticalMargin20">
    <div class="inline-block">
        @Confluence.LabelMainTitle(Localization.GetText("Disbursement.Main.DisbursementProjections"))
    </div>
</div>
<div class="tabsContainer verticalMargin20">
    <div id="operation" class="inline-block tabItem click-action"
         data-target-url="@Url.Action("Index", "OperationLevelProjections", new { operationNumber = Model.OperationNumber, group = Model.Group, IsFromSharePoint = false })">
        @Localization.GetText("FP.Header.OperationLevel")
    </div>
    <div id="loan" class="inline-block tabItem active"
         data-target-url="@Url.Action("Index", "LoanLevelProjections", new { operationNumber = Model.OperationNumber, group = Model.Group })">
        @Localization.GetText("Disbursement.ContractLevel")
    </div>
</div>

@Html.Partial("_mvc_messages", new ProjectedLoanModel())

@Html.Partial("~/Areas/Disbursement/Views/LoanLevelProjections/Partials/_GridSummaryLoanLevelProjection.cshtml", Model)

@if ((bool)Model.Download)
{
    <div style="text-align:right;width:98%;">
        <a title="Export PDF" style="color:white;border-radius:4px;" class="exportdata pdf" href='@(Url.Action("DownloadReport", "LoanLevelProjections", new { area = "Disbursement", format = "pdf", operationNumber = Model.OperationNumber, group = Model.Group}))'></a>
        <a title="Export Excel" style="color:white;border-radius:4px;" class="exportdata excel" href='@(Url.Action("DownloadReport", "LoanLevelProjections", new { area = "Disbursement", format = "xls", operationNumber = Model.OperationNumber, group = Model.Group}))'></a>
    </div>
}


