@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.GeneralInformation
@using IDB.MW.Application.MrBlueModule.Enums

@model GeneralInformationViewModel

@if(Model.ESGTeam != null)
{
    <div class="row mb20">
        <div class="col-md-12">
            @{
                var config = Html.RenderDataTable(Model.ESGTeam);
                config.Name("ESGTeamMembers")
                .PrimaryKey(m => m.RowId.ToString())
                .AddPrimaryKeyToName(false)
                .UseDataTableNet(false)
                .Columns(columns =>
                {
                    columns.Template(columnName)
                    .Persistent()
                    .Header(Localization.GetText("MrBlue.ESG.ESGSpecialists.Name"));

                    columns.Template(columnRole)
                    .Persistent()
                    .Header(Localization.GetText("MrBlue.ESG.ESGSpecialists.Role")).CssHeaderClass("width20percent");
                });


    @helper columnName(ESGTeamViewModel view)
{
    <span>
        @view.ADFullName.ToString()
    </span>
}

    @helper columnRole(ESGTeamViewModel view)
{
    <span>
        @Input.DropDownGetSelectedString(
            ViewBag.EnumMapping[view.RoleId],
            ViewBag.RoleAllList)
    </span>       
}
    config.RowTemplates(x =>
    {
        x.Create(RowTemplateType.FirstRow,
            @<tr class="hide" style="vertical-align:top;" data-name="templateSpecialists">
                 <td data-pagemode="edit" style="padding-bottom:5px;padding-top:5px;">
                     @Confluence.InputDropDown(
                                     string.Empty,
                                     "EsgGroupId",
                                     ViewBag.EsgGroupList,
                                     width: "100%",
                                     disabled: true,
                                     required: true)
                 </td>

                <td data-pagemode="edit" style="padding-bottom:5px;padding-top:5px;">
                    @Confluence.InputDropDownAsync(
                                    string.Empty, "OperationTeamDataId",
                                    Url.Action("FindUserAD", "GeneralInformation", new { area = "MrBlue" }),
                                    width : "100%",
                                    disabled : true,
                                    required : true)
                    @Confluence.InputText(string.Empty, name : "validatorLength", htmlClass : "hide", dataAttributes : new Dictionary<string, string> { { "parsley-MaxLength105", "true" } }, required : false)

                </td>
                <td data-pagemode="edit" style="padding-bottom:5px;padding-top:5px;">
                    @Confluence.InputDropDown(
                                     string.Empty,
                                     "RoleId",
                                     ViewBag.RoleByPermissionList,
                                     width : "100%",
                                     disabled : true,
                                     required : true,
                                     dataAttributes : new Dictionary<string, string> { { "validation-role", "true" } })
                </td>
                <td data-pagemode="edit" style="padding-bottom:5px;padding-top:5px;text-align:center;">
                    @Confluence.ButtonTrash(
                                     string.Empty,
                                     name : "removeSpecialists",
                                     action : "removeSpecialists")
                </td>
            </tr>);
    });

    config.TableClass = "tableNormal";
    @Html.Partial("Controls/DataTable", config)
            }
            <div class="col-md-12 text-center" data-pagemode="edit">
                @Confluence.InputText(value : "x",
                name : "validatorNumElementsLeader",
                required : false,
                htmlClass : "hide",
                dataAttributes : new Dictionary<string, string> {
                {"parsley-numElementsRangeLeaderAndSpecialist","input[data-validation-role=\"true\"];"
                +ViewBag.EnumMapping[ESGRoleEnum.PrimaryTeamMember]+";"
                + ViewBag.EnumMapping[ESGRoleEnum.TeamMember]}})

                @Confluence.InputText(value : "x",
                name : "validatorNumElementsLeaderSpecialist",
                required : false,
                htmlClass : "hide",
                dataAttributes : new Dictionary<string, string> {
                {"parsley-numElementsRangeLeader","input[data-validation-role=\"true\"];"
                +ViewBag.EnumMapping[ESGRoleEnum.PrimaryTeamMember]}})

                @Confluence.InputText(value : "x",
                name : "validatorUserEsgTeam",
                required : false,
                htmlClass : "hide",
                dataAttributes : new Dictionary<string, string> {
                {"parsley-notRepeatUser","input[name=OperationTeamDataId_text]"}})
            </div>            
        </div>
    </div>
}
