@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.GeneralInformation
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.MrBlueModule.Enums

@model GeneralInformationViewModel

<div class="row mb20">
    <div class="col-md-8">
        @{

            var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;

            var config = Html.RenderDataTable(Model.ESGReviewers);
            config.Name("EsgReviewer")
            .PrimaryKey(m => m.RowId.ToString())
            .AddPrimaryKeyToName(false)
            .UseDataTableNet(false)
            .Columns(columns =>
            {
                columns.Template(columnName)
                .Persistent()
                .Header(Localization.GetText("MrBlue.ESG.ESGReviewers.Name"));

                columns.Template(columnDateAdded)
                .Persistent()
                .Header(Localization.GetText("MrBlue.ESG.ESGReviewers.DateAdded"))
                .CssHeaderClass("width20percent");

                columns.Template(columnAction)
                .Persistent()
                .Header(Localization.GetText("MrBlue.ESG.ESGSpecialists.Action"))
                .CssHeaderClass("width10percent")
                .Center();

            });

@helper columnName(ESGReviewersViewModel view)
{

    if (view.HasEditPermission.Value)
    {
        <span data-pagemode="read">
            @Confluence.Label(view.ADUserName)
        </span>
        <span data-pagemode="edit">
            @Confluence.InputDropDownAsync(
                        view.ADUserName,
                        "NameReviewer",
                        Url.Action("FindUserAD", "GeneralInformation", new { area = "MrBlue" }),
                        disabled: false,
                        width: "100%",
                        required: true,
                        textSelected: view.ADUserName)
        </span>
    }
    else
    {
        <span data-pagemode="read">
            @Confluence.Label(view.ADUserName)
        </span>
        <span data-pagemode="edit">
            @Confluence.Label(view.ADUserName)
            @Confluence.InputHidden(view.ADUserName,
                        name: "NameReviewer_text",
                        required: false)
        </span>
    }
}

@helper columnAction(ESGReviewersViewModel view)
{

    if (view.HasEditPermission.Value)
    {
        <span data-pagemode="edit">
            @Confluence.ButtonTrash(
                        string.Empty,
                        name: "removeReviewers",
                        action: "removeReviewers")
        </span>
    }
    else
    {
        <span></span>
    }
}

@helper columnDateAdded(ESGReviewersViewModel view)
{
            <span data-pagemode="read">

                @Confluence.Label(FormatHelper.Format(view.DateAdded, ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate))
            </span>
            <span data-pagemode="edit">
                @Confluence.Label(FormatHelper.Format(view.DateAdded, ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate))
            </span>
}

            config.RowTemplates(x =>
            {
                x.Create(RowTemplateType.FirstRow,
                    @<tr class="hide" style="vertical-align:top;" data-name="templateSpecialists">
                        <td data-pagemode="edit" style="padding-bottom:5px;padding-top:5px;">
                            @Confluence.InputDropDownAsync(
                            string.Empty,
                            "NameReviewer",
                            Url.Action("FindUserAD", "GeneralInformation", new { area = "MrBlue" }),
                            disabled: true,
                            width: "100%",
                            required: true)
                        </td>
                        <td data-pagemode="edit" style="padding-bottom:5px;padding-top:5px;">
                            <span></span>
                        </td>
                        <td data-pagemode="edit" style="padding-bottom:5px;padding-top:5px;"
                            class="text-center">
                            @Confluence.ButtonTrash(
                           string.Empty,
                           name: "removeReviewers",
                           action: "removeReviewers")
                        </td>
                    </tr>);
            });

            config.TableClass = "tableNormal";
            @Html.Partial("Controls/DataTable", config)
        }

        <div class="col-md-12 text-center" data-pagemode="edit" style="margin-top:40px;">
            @if (ViewBag.HasCreateNewPermission)
            {
                @Confluence.ButtonAddNewRows(
                Localization.GetText("MrBlue.ESG.ESGSpecialists.NewEsgReviewer"),
                "newComponentReviewer",
                action: "newComponentReviewer")
            }
        </div>
    </div>
</div>
