
@using Microsoft.Ajax.Utilities
@model List<IDB.MW.Domain.Models.Visit.VisitModel>
@{
    var counter = 0;
}

<script>
    //$(document).ready(function () {
    //    if ($("#hdnIsApprovedPlan").val() == "True") {
    //        $("#budgetInformationContainer").show();
    //    }
    //});
</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Visit/main.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Visit/addDocument.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Visit/EditVisit.js")"></script>

<div id="ActivitiesPanel" class="verticalMargin40 font08em">
    @foreach (var visit in Model)
    {

        @Html.Hidden("IndexDeleteVisitsUrl", "", new { data_title = "Delete Visit", data_route = Url.Action("_WarningOnDeleteVisits", "Visits", new { area = "Visits" }) })
        @Html.HiddenFor(x => visit.VisitId)
        counter++;
        <div class="verticalMargin40">
            <div class="leftMargin40 relative borderLeft hierarchicalComponentTable paddingLeft20 marginBottom2">
                <div class="verticalMargin20 paddingTop10px">
                    <div class="componentNumber grayColor absolute">@counter</div>
                    <div class="minMaxButtonContainer absolute">
                        <input class="minMaxButton cursorPointer plus" type="button" value="" onclick="showHideVisitDetail(this);" />
                    </div>
                    <h3 class="font1-5em plegableTitle boldFont" style="font-size:18px;">@(((Dictionary<int, string>)ViewBag.LocalizedMainVisits)[visit.TypeVisits.ConvergenceMasterDataId])</h3>
                    <div class="verticalMargin20" style="padding:0 0 0 35px;">
                        <div class="inline-block w20 leftAlign">
                            <div class="grayColor"> @Localization.GetText("Planned")</div>
                            <div class="boldFont verticalMargin10">@visit.Planned</div>
                        </div>
                        <div class="inline-block w20 leftAlign">
                            <div class="grayColor"> @Localization.GetText("Actual")</div>
                            <div class="boldFont verticalMargin10">@visit.Actual</div>
                        </div>
                    </div>
                </div>
                <h3 class="font1-5em verticalMargin10 boldFont" style="font-size:18px;padding:0 0 0 35px;"> @Localization.GetText("Documents")</h3>
                <!-- inicio tabla -->
                <div class='componentTableContainer marginBottom2' style="padding:0 0 0 35px;">
                    <table class="grid w100" style="font-size:12px;">
                        <thead>
                            <tr>
                                <th> @Localization.GetText("User")</th>
                                <th> @Localization.GetText("Date")</th>
                                <th> @Localization.GetText("IDB Doc. Number")</th>
                                <th> @Localization.GetText("Content")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doc in visit.Documents)
                            {
                                <tr>
                                    <td>@doc.CreatedBy</td>
                                    <td>@(doc.Created.HasValue ? doc.Created.Value.ToString("dd MMM yyy") : "")</td>
                                    <td>@doc.DocumentReference</td>
                                    <td>@doc.Description</td>
                                    <td>
                                        
                                        @{
                                            var secureUrl = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(doc.DocumentReference);
                                        }
                                        <a href=@secureUrl target="_blank">
                                            <input type="button" class="noBorder operationButton documentSupportDownloadIcon cursorPointer" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>