@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Common.ContentVerifyModel
@{
    ViewBag.Title = Localization.GetText("Verify Content");
}

<script>
    $(document).ready(function () {

        $("#lnkCloseVerifyContent").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#lnkPageTwo").click(function (e) {
            e.preventDefault();
            $("#tblVerificationOne").hide();
            $("#tblVerificationTwo").show();
        });

        $("#lnkPageOne").click(function (e) {
            e.preventDefault();
            $("#tblVerificationTwo").hide();
            $("#tblVerificationOne").show();
        });

    });
</script>

<div class="contentContainer">
    <div class="w100">

        <table id="tblVerificationOne" class="gridVerifyContent w73 inline-block grayColor">
            <thead>
                <tr>
                    <th style="width: 20%;">@Localization.GetText("Evaluation Name")</th>
                    <th style="width: 20%;">@Localization.GetText("Methodology")</th>
                    <th style="width: 20%;">@Localization.GetText("Stage")</th>
                    <th style="width: 40%;">@Localization.GetText("Document Type")</th>
                    <th class="compilanceTh">@Localization.GetText("Compliance")</th>
                </tr>
            </thead>
            <tbody class="alignLeft">
                <tr>
                    <td>Evaluation Name</td>
                    <td>Methodology</td>
                    <td>Design</td>
                    <td>Evaluation Plan (From DEM) and/or Technical Note</td>
                    <td>
                        <div class="statusContainer">
                            <div class="successStatus"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Evaluation Name</td>
                    <td>Methodology</td>
                    <td>Design</td>
                    <td>Terms of Reference</td>
                    <td>
                        <div class="statusContainer">
                            <div class="successStatus"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Evaluation Name</td>
                    <td>Methodology</td>
                    <td>Design</td>
                    <td>Ethical/Institutional Review Board Clearence</td>
                    <td>
                        <div class="statusContainer">
                            <div class="warningStatus"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Evaluation Name</td>
                    <td>Methodology</td>
                    <td>Design</td>
                    <td>Evaluation Registration Number</td>
                    <td>
                        <div class="statusContainer">
                            <div class="successStatus"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Evaluation Name</td>
                    <td>Methodology</td>
                    <td>Design</td>
                    <td>Other</td>
                    <td>
                        <div class="statusContainer">
                            <div class="errorStatus"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


            <table id="tblVerificationTwo" class="gridVerifyContent w73 inline-block grayColor" style="display: none">
                <thead>
                    <tr>
                        <th>@Localization.GetText("Verification")</th>
                        <th class="compilanceTh">@Localization.GetText("Compliance")</th>
                    </tr>
                </thead>
                <tbody class="alignLeft">
                        <tr>
                            <td>Localization.GetText(Model.Verifications[i].Description)</td>
                            <td>
                                <div class="statusContainer">
                                    <div class="successStatus"></div>
                                </div>
                            </td>
                        </tr>
                </tbody>
            </table>


        <div class="paginationContainer">

        </div>


        <table class="acronymContainer">
            <tr>
                <td>
                    <div class="successStatus"></div>
                </td>
                <td class="acronymTd">
                    <div>@Localization.GetText("Mandatory or recommended - uploaded")</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="warningStatus"></div>
                </td>
                <td class="acronymTd">
                    <div>@Localization.GetText("Recommended - not uploaded")</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="errorStatus"></div>
                </td>
                <td class="acronymTd">
                    <div>@Localization.GetText("Mandatory - not uploaded")</div>
                </td>
            </tr>
        </table>
        <br />
    </div>

    <div class="pie pieReassign">
        <div class="botones">

        </div>
    </div>

</div>
