@RenderSection("scripts", false)
<div class="boxContent">
    <div class="boxHeader">
        <a href="@Url.Action("GetWidget", "View", new {area = "Workspace"})" target="_blank" class="boxMenuNew">&nbsp;</a>
        @Confluence.ButtonExcel()
        <div class="boxMenuMax">&nbsp;</div>
        <div class="boxMenuMin hide">&nbsp;</div>
        @Confluence.LabelSubTitleGroup(@ViewBag.Title)
    </div>
    @RenderBody()
</div>