<div class="row">
    <div class="col-md-16 mb20">
        <a class="glyphicon glyphicon-plus" style="text-decoration: none;">@Confluence.LabelLink("new document")</a>
        @Confluence.Label("or drag files here")
    </div>
</div>
<div class="row">
    <div class="col-md-1 mb25">
        @Confluence.LabelLink("All Documents")
    </div>
    <div class="col-md-1">
        @Confluence.LabelLink("...")
    </div>
    <div class="col-md-2">
        @Confluence.InputButton(string.Empty, "btnFindFile", placeholder: "Find a file", width: "100%")
    </div>
</div>

<div class="row row-body-20">
    <div class="col-md-12">
        @Html.Partial("Partials/DataTables/IDBDocumentsTable")
    </div>
</div>