@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.PorfolioStatus.PorfolioStatusModel

<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ds_ui_rt_002.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/PorfolioReportCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />


<script src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Reports/PorfolioReportScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/CommonRuleReports.js")"></script>


<div id="ds_ui_rt_002" class="padding20">

   <div class="relative h50px verticalMargin40">
      <h3 class="font2em absolute verticalAlignMiddle">@Localization.GetText("Dashboard") @ViewBag.ReportType</h3>
      <input type="button" class="absolute absRight button blueButton verticalAlignMiddle buttonCustomSize" id='showFilterButtonReportsDS002' value="@Localization.GetText("Filter")">
   </div>

    @if (ViewBag.ReportType == "Supervision Plan" || ViewBag.ReportType == "Disbursement Projections" || ViewBag.ReportType == "Risks"){
		<div class="messages message-warning" style="width: 91%;margin-left: 0;float: none">
 			<span>
				<h3>Warning</h3>
				Please, take into consideration that this section of the Dashboard is under review
 			</span>
		</div>
	}

   <a id="LinkFilterCountry" style="display:none" data-route="@Url.Action("FilterCountrys", "CountryPortfolioStatusReport")"></a>
   <a id="LinkAllDivisions" style="display:none" data-route="@Url.Action("GetAllDivisions", "CountryPortfolioStatusReport")"></a>
   <a id="LinkAllCountrys" style="display:none" data-route="@Url.Action("GetAllCountry", "CountryPortfolioStatusReport")"></a>
   <a id="LinkFilterDepartment" style="display:none" data-route="@Url.Action("FilterDivision", "CountryPortfolioStatusReport")"></a>

   @using (Html.BeginForm("GenerateReport", "CountryPortfolioStatusReport", FormMethod.Post, new { @id = "FormDashPorfolio" }))
   {    
      @Html.HiddenFor(x => x.OperationId)
      <input type="hidden" id="Report" name="Report" value="@ViewBag.ReportSelected"/>   
      @Html.HiddenFor(x => x.Format)
		
      <div id="searchBoxContainerReportsDS002" class="padding20 grayBackground font08em hideNI" style="display: block">

         @if (ViewBag.AdditionalParameters)
         {   
            <div class="centerContent w96 relative h50px box">
               <div class="inline-block w24  containerBox">
                  <div class="w96 verticalAlignMiddle">
                     <label for="ContractNumber" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Lending Instrument")</label>
                     @Html.ListBoxFor(x => x.LendingInstrument, new MultiSelectList(ViewBag.ListLendingInstrument, "Value", "Text"), new { @class = "MultiSelectCustom" })
                  </div>
               </div>
               <div class="inline-block w24  containerBox right25">
                  <div class="w96 verticalAlignMiddle">
                     <label for="ContractNumber" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Funds")</label>
                     @Html.ListBoxFor(x => x.Funds, new MultiSelectList(ViewBag.ListFunds, "Value", "Text"), new { @class = "MultiSelectCustom" })
                  </div>
               </div>
               <div class="inline-block w24  containerBox left25">
                  <div class="w96 verticalAlignMiddle">
                     <label for="" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Current Year")</label>
                     @Html.DropDownListFor(x => x.Year, new SelectList(ViewBag.ListYear, "Value", "Text"), new { @class = "kendoDropDown" })
                  </div>
               </div>
            </div>
         }

         <div id="CountryContainer" class="centerContent w96 relative h50px box" style="visibility: hidden; height: 10px; margin-bottom: 0px;">
            <div class="inline-block w24 containerBox">
               <div class="w96 verticalAlignMiddle">
                  <label for="CountryDepartment" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Country Department")</label>
                  @Html.ListBoxFor(x => x.CountryDepartment, new MultiSelectList(ViewBag.ListCountryDepartment, "Value", "Text"), new { @class = "MultiSelectCustom" })
               </div>
            </div>
            <div class="inline-block w24 containerBox left25">
               <div class="w96 verticalAlignMiddle">
                  <label for="Country" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Country")</label>
                  @Html.ListBoxFor(x => x.Country, new MultiSelectList(ViewBag.ListCountry, "Value", "Text"), new { @class = "MultiSelectCustom" })
               </div>
            </div>
         </div>

         <div id="SectorContainer" class="centerContent w96 relative h50px box" style="visibility: hidden; height: 10px; margin-bottom: 0px;">
            <div class="inline-block w24 containerBox right25">
               <div class="w96 verticalAlignMiddle">
                  <label for="DepartmentSector" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Sector Department")</label>
                  @Html.ListBoxFor(x => x.DepartmentSector, new MultiSelectList(ViewBag.ListSectorDepartment, "Value", "Text"), new { @class = "MultiSelectCustom" })
               </div>
            </div>
            <div class="inline-block w24 containerBox">
               <div class="w96 verticalAlignMiddle">
                  <label for="Division" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Division")</label>
                  @Html.ListBoxFor(x => x.Division, new MultiSelectList(ViewBag.ListDivision, "Value", "Text"), new { @class = "MultiSelectCustom" })
               </div>
            </div>
         </div>

         <div class="centerContent w96 relative h50px box">
            <div class="inline-block containerBoxRadioOption">
               <label for="" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Grouping By")</label>
               @Html.RadioButtonFor(x => x.TypeGroupping["Groupping"], "GrouppingCountry", new { @class = "fancy-radio verticalAlignMiddle", @checked = "checked", @id = "ExportTypeReport_ExportReport_1" })
               <label id="LabelExportTypeReport_ExportReport_1" for="ExportTypeReport_ExportReport_1" class="fancy-label-radio-circle bold verticalAlignMiddle radioCustom" onclick="RadioSelected('Country')">@Localization.GetText("Grouping Country")</label>
               @Html.RadioButtonFor(x => x.TypeGroupping["Groupping"], "GrouppingSector", new { @class = "fancy-radio verticalAlignMiddle", @id = "ExportTypeReport_ExportReport_2" })
               <label id="LabelExportTypeReport_ExportReport_2" for="ExportTypeReport_ExportReport_2" class="fancy-label-radio-circle bold marginLeft5 verticalAlignMiddle radioCustom" onclick="RadioSelected('Sector')">@Localization.GetText("Grouping Sector")</label>
            </div>
         </div>

         <div class="verticalMargin20 rightAlign w96 centerContent box">
            <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad" id="AjaxLoadForDashReport" />
            <span class="alingImageRigth">
               <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad AjaxExportRight" id="AjaxLoadForClauseReportExport" /></span>
            @*<input  id="Btn_Clear" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Clear All")">*@
            @*<input id="Btn_ExportExcel" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export Excel")">
                <input id="Btn_ExportdPDF" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export PDF")">*@
            <input type="submit" id="Btn_Sumit" class="button yellowButton buttonCustomSize" value="@Localization.GetText("Submit")">
         </div>

      </div>
   }

</div>
<div style="padding-left: 5px;" class="ReportContainer">
    <iframe id="framePorfolioReport" class="iframeReportsCustom" scrolling="no"></iframe>
</div>