@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using System.Globalization
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.SafeguardToolkit
@using IDB.MW.Application.MrBlueModule.Enums
@using IDB.Presentation.MVC4.Areas.MrBlue.Models

@model SafeguardToolkitStep2ViewModel
@{
    var buttonsViewModel = new SafeguardToolkitButtonsViewModel { VersionId = Model.SafeguardToolkitId, Step = SafeguardToolkitStepEnum.Step2, ShowCancel = true, ShowBack = false, ShowSave = true, ShowNext = true, isStep2 = true };
}

@if(Model != null)
{
    <div data-pagemode="edit">
        <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("Partials/buttons", buttonsViewModel)
               
                @Confluence.LabelsGroup(
                Localization.GetText("MrBlue.SafeguardToolkit.Step2.StepName"),
                contentAlways : Confluence.LabelBold(
                Localization.GetText("MrBlue.SafeguardToolkit.Step2.StepTitle")),
                asterisk : false)
            </div>
        </div>

        <div data-pagemode="edit">
            <div class="row mb20">
                <div class="col-md-12">
                    @Confluence.LabelTitleGroup(Localization.GetText("MrBlue.SafeguardToolkit.SafeguardToolkitStepsTitle"))
                </div>
            </div>
            <div class="row mb20">
                <div class="col-md-12">
                    @Confluence.Paragraph(Localization.GetText("MrBlue.SafeguardToolkit.Step2.DescriptionParagraph1"))
                </div>
            </div>
            <div class="row mb20">
                <div class="col-md-12">
                    @Confluence.Paragraph(Localization.GetText("MrBlue.SafeguardToolkit.Step2.DescriptionParagraph2"))
                </div>
            </div>
        </div>

        @if(Model != null && Model.SafeguardPolicyFilter != null)
        {
            <div id="safeguardToolkitDynamicQuestionnaire">
                @Html.Partial("DynamicQuestionnaire/_DynamicQuestionnaire", Model.SafeguardPolicyFilter)
            </div>
        }

        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("Partials/buttons", buttonsViewModel)
            </div>
        </div>
    </div>
}
