<style>
    .custom-width-100 {
        width:100%;
    }
    .custom-hidden {
        display:none;
    }
</style>

<div id="new-output-indicator-message" style="display:none">
    <div id="new-output-main-container" class="new-output-main-container new-output-active">
        <label class="radiobutton-default">
            <input id="rbtn-output-standard-type" checked="checked" name="rbtn-output-creation-type" type="radio" data-force-parsley-validation="true" value="valor" data-parsley-multiple="rbtn-output-creation-type" data-parsley-id="2392" data-check-output-creation>
            <span class="radiobutton-default-icon" style="margin-bottom:3px;"></span>
            <span class="radiobutton-default-text">
                <label class="h4">@Localization.GetText("TCM.SOI.SelectOutputIndicator.StandardOutputIndicators")</label>
            </span>
        </label>

        <br /><br />
        <div>
            <div id="output-indicator-filter-container" class="filterNormal">
                <table style="width:99%">
                    <tr>
                        <td style="width:20%">@Localization.GetText("TCM.SOI.SelectOutputIndicator.Theme")</td>
                        <td>
                            <div class="dropdown void-dropdown-unbind" style="width:100%">
                                <button class="btn btn-default dropdown-toggle standard-output-filter" type="button" id="id-OutcomeIndicator_BaseLineYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="cargaDropDown(this)" onkeydown="dropdownNavigation(this, event)" dd-find="" >
                                    <span class="valueText ng-binding placeholder" ng-attr-class="valueText">{{AddNewOutputParameters.StandardOutputFilterModel.Themes[0].Name}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="item in AddNewOutputParameters.StandardOutputFilterModel.Themes" class="ng-scope">
                                        <a dd-value="{{item.Id}}" class="ng-binding"  onclick="setStandardOutputItem(this,'Theme')">{{item.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localization.GetText("TCM.SOI.SelectOutputIndicator.BusinessLine")</td>
                        <td>
                            <div class="dropdown void-dropdown-unbind" style="width:100%">
                                <button class="btn btn-default dropdown-toggle standard-output-filter" type="button" id="id-OutcomeIndicator_BaseLineYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="cargaDropDown(this)" onkeydown="dropdownNavigation(this, event)" dd-find="" >
                                    <span class="valueText ng-binding" ng-attr-class="valueText">{{AddNewOutputParameters.StandardOutputFilterModel.BusinessLines[0].Name}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="item in AddNewOutputParameters.StandardOutputFilterModel.BusinessLines" class="ng-scope">
                                        <a dd-value="{{item.Id}}" onclick="setStandardOutputItem(this, 'Business')" class="ng-binding">{{item.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localization.GetText("TCM.SOI.SelectOutputIndicator.OutputGroup")</td>
                        <td>
                            <div class="dropdown void-dropdown-unbind" style="width:100%">
                                <button class="btn btn-default dropdown-toggle standard-output-filter" type="button" id="id-OutcomeIndicator_BaseLineYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="cargaDropDown(this)" onkeydown="dropdownNavigation(this, event)" dd-find="" >
                                    <span class="valueText ng-binding" ng-attr-class="valueText">{{AddNewOutputParameters.StandardOutputFilterModel.OutputGroups[0].Name}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="item in AddNewOutputParameters.StandardOutputFilterModel.OutputGroups" class="ng-scope">
                                        <a dd-value="{{item.Id}}" onclick="setStandardOutputItem(this, 'OutputGroup')" class="ng-binding">{{item.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>@Localization.GetText("TCM.SOI.SelectOutputIndicator.IndicatorNumber")</td>
                        <td>
                            @Confluence.InputText(string.Empty,
                            name: string.Empty,
                            required: false,
                            htmlClass: "standard-output-filter",
                            dataAttributes: new Dictionary<string, string>() { { "ng-model", "AddNewOutputParameters.StandardOutputFilterModel.IndicatorNumber" } }, disabled: false)
                        </td>
                    </tr>
                    <tr>
                        <td>@Localization.GetText("TCM.SOI.SelectOutputIndicator.IndicatorName")</td>
                        <td>
                            @Confluence.InputText(string.Empty,
                            name: string.Empty,
                            required: false,
                            htmlClass: "standard-output-filter",
                            dataAttributes: new Dictionary<string, string>() { { "ng-model", "AddNewOutputParameters.StandardOutputFilterModel.IndicatorName" } },
                            disabled: false,width:"100%")
                        </td>
                    </tr>
                    <tr>
                        <td>@Localization.GetText("TCM.SOI.SelectOutputIndicator.UnitOfMeasure")</td>
                        <td>
                            <div class="dropdown void-dropdown-unbind" style="width:100%">
                                <button class="btn btn-default dropdown-toggle standard-output-filter" type="button" id="id-OutcomeIndicator_BaseLineYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="cargaDropDown(this)" onkeydown="dropdownNavigation(this, event)" dd-find="" >
                                    <span class="valueText ng-binding" ng-attr-class="valueText">{{AddNewOutputParameters.StandardOutputFilterModel.UnitOfMeasure[0].Name}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="item in AddNewOutputParameters.StandardOutputFilterModel.UnitOfMeasure" class="ng-scope">
                                        <a dd-value="{{item.Id}}" onclick="setStandardOutputItem(this, 'UnitOfMeasure')" class="ng-binding">{{item.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right">
                            <br />
                            @Confluence.ButtonBlue(Localization.GetText("TCM.SOI.SelectOutputIndicator.Search"), htmlClass: "standard-output-filter", dataAttributes: new Dictionary<string, string>() { { "ng-click", "FilterStandardOutputs()" } }, disabled: false)
                        </td>
                    </tr>
                </table>
            </div>
            <div id="output-indicator-results-container">
                <table ng-attr-id="{{ AddNewOutputParameters.FilteredStandardOutputs > 0 ? '' : 'tbl-standard-outputs'}}" class="tableNormal" ng-show="AddNewOutputParameters.FilteredStandardOutputs.length > 0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Localization.GetText("TCM.SOI.SelectOutputIndicator.IndicatorNumber")</th>
                            <th>@Localization.GetText("TCM.SOI.SelectOutputIndicator.IndicatorName")</th>
                            <th>@Localization.GetText("TCM.SOI.SelectOutputIndicator.UnitOfMeasure")</th>
                            <th>@Localization.GetText("TCM.SOI.SelectOutputIndicator.Details")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="filteredOutput in AddNewOutputParameters.FilteredStandardOutputs" ng-class="{'custom-odd':$odd}" data-id="{{filteredOutput.PredefinedIndicatorId}}" ng-repeat-end="onEndRepeat">
                            <td>
                                <label class="radiobutton-default">
                                    <input name="radio" type="radio" data-force-parsley-validation="true" value="" data-parsley-multiple="radio" data-parsley-id="4058" data-set-standard-output data-standard-output="{{filteredOutput}}" data-standard-output-id="{{filteredOutput.PredefinedIndicatorId}}" data-standard-output-name="{{filteredOutput.Name}}" data-standard-output-unit-of-measure="{{filteredOutput.UnitOfMeasure}}">
                                    <span class="radiobutton-default-icon"></span>
                                </label>
                            </td>
                            <td>{{filteredOutput.IndicatorNumber}}</td>
                            <td>{{filteredOutput.Name}}</td>
                            <td>{{filteredOutput.UnitOfMeasure}}</td>
                            <td><span id="btn-output-detail" style="color: #0074dd;text-decoration:dashed;cursor:pointer" show-ouput-detail ng-click="GetStandardOutputDetail(filteredOutput.PredefinedIndicatorId)">@Localization.GetText("TCM.SOI.SelectOutputIndicator.Detail")</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            
        </script>
        <table width="99%" border="0">
            <tr>
                <td>
                    <label class="radiobutton-default mt20">
                        <input id="rbtn-output-manually-type" name="rbtn-output-creation-type" type="radio" data-force-parsley-validation="true" value="valor" data-parsley-multiple="rbtn-output-creation-type" data-parsley-id="2392" data-check-output-creation>
                        <span class="radiobutton-default-icon" style="margin-bottom:3px;"></span>

                        <span class="radiobutton-default-text">
                            <label class="h4">@Localization.GetText("TCM.SOI.SelectOutputIndicator.ManuallyEnterOutputIndicator")</label>
                        </span>
                    </label>
                </td>
                <td></td>
                <td style="padding-top:18px">@Localization.GetText("TCM.SOW.SelectOutputWarning.Theme")</td>
                <td></td>
                <td style="padding-top:18px">@Localization.GetText("MrBlue.ESG.SustComponents.Fund")</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="width:40%">
                    <div class="dropdown" style="width:100%">
                        <button class="btn btn-default dropdown-toggle dd-theme-operations" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="cargaDropDown(this)" onkeydown="dropdownNavigation(this, event)" dd-find="" ng-disabled="true">
                            <span class="valueText ng-binding placeholder" ng-attr-class="valueText">{{AddNewOutputParameters.ThemeOperations[0].Name}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="theme-operations">
                            <li ng-repeat="item in AddNewOutputParameters.ThemeOperations" class="ng-scope" ng-hide="item.Name == 'All' || item.Name == 'Todos' || item.Name == 'Tudo' || item.Name == 'Tout'">
                                <a dd-value="{{item.Id}}" onclick="checkSelectedThemeOperation(this)" class="ng-binding">{{item.Name}}</a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td style="width:5%"></td>
                <td style="width:16%">
                    <div class="dropdown" style="width:100%">
                        <button class="btn btn-default dropdown-toggle dd-fund-operations" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="cargaDropDown(this)" onkeydown="dropdownNavigation(this, event)" dd-find="" ng-disabled="true">
                            <span class="valueText ng-binding placeholder" ng-attr-class="valueText">{{AddNewOutputParameters.FundOperations[0].Name}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="fund-operations" data-fund-length="{{::AddNewOutputParameters.FundOperations.length}}">
                            <li ng-repeat="item in AddNewOutputParameters.FundOperations" class="ng-scope">
                                <a dd-value="{{item.Id}}" onclick="checkSelectedFundOperation(this)" class="ng-binding">{{item.Name}}</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td></td>
                <td>
                    <ul class="parsley-errors-list filled missing-manual-theme" style="display:none">
                        <li class="parsley-required">@Localization.GetText("TCM.ValueRequired")</li>
                    </ul>
                </td>
                <td></td>
                <td>
                    <ul class="parsley-errors-list filled missing-manual-fund" style="display: none">
                        <li class="parsley-required">@Localization.GetText("TCM.ValueRequired")</li>
                    </ul>
                </td>
            </tr>
        </table>
        <ul class="parsley-errors-list filled standard-output-messages" style="display:none">
            <li class="parsley-required manually-error custom-hidden">@Localization.GetText("TCM.SOI.SelectOutputIndicator.ManuallyEnterOutputIndicatorLimit")</li>
            <li class="parsley-required missing-output custom-hidden">@Localization.GetText("TCM.SOI.SelectOutputIndicator.SelectOneOutput")</li>
        </ul>
        <br /><br />
        <span class="h5">@Localization.GetText("TCM.SOI.SelectOutputIndicator.TextNote")</span>
    </div>

    @Html.Partial("~/Areas/TCM/Views/Components/Partial/StandardOutputs/StandardOutputDetail.cshtml")
   
    @Html.Partial("~/Areas/TCM/Views/Components/Partial/StandardOutputs/FundIndicatorDetail.cshtml")

</div>
