<div id="new-output-fund-container" class="new-output-fund-container" style="display:none">
    <span>
        @Confluence.LabelBold(Localization.GetText("TCM.SOW.SelectOutputWarning.TextSelectTheme"))
    </span>
    <br /><br />
    <span>@Confluence.Label(Localization.GetText("TCM.SOW.SelectOutputWarning.TextNote"))</span>
    <br /><br />
    <div style="width:99%">
        <span>@Confluence.LabelMainSubTitle(Localization.GetText("TCM.SOW.SelectOutputWarning.Theme"))</span>
        <br />
        <div class="ddl-fund-themes-container"></div>
            <ul class="parsley-errors-list filled fund-theme" style="display:none" id="parsley-id-6414">
                <li class="parsley-required">@Localization.GetText("TCM.ValueRequired")</li>
            </ul>
        <br />
        <div id="output-indicator-detail-fund-section" style="display: none">
            <span>@Confluence.LabelBold(Localization.GetText("TCM.SOW.SelectOutputWarning.IfOperationCofunded"))</span>
            <br />
            <br />
            <span>@Confluence.LabelMainSubTitle(Localization.GetText("Global.Fund.Text"))</span>
            <br />
            <div class="ddl-fund-indicators-container"></div>
            <ul class="parsley-errors-list filled fund-indicator" style="display:none" id="parsley-id-6414">
                <li class="parsley-required">@Localization.GetText("TCM.ValueRequired")</li>
            </ul>
        </div>
            <div colspan="2">
                <div class="fund-reason-container" style="display:none">
                    @Confluence.Label(Localization.GetText("TCM.Outputs.IfNoFundIndicator"))
                    <br />
                    <input name="txt-fund-reason" 
                           type="text" 
                           value="" 
                           data-force-parsley-validation="true" 
                           data-parsley-maxlength="300" 
                           maxlength="300" 
                           required="required" 
                           class="inputText custom-width-100 ng-valid-maxlength ng-touched is-other-fund ng-dirty ng-valid-parse ng-not-empty ng-valid ng-valid-required" 
                           data-ng-model="NewStandardOutputParameters.FundDescription" 
                           data-parsley-id="6414" 
                           data-required-input>
                        <ul class="parsley-errors-list filled fund-reason" id="parsley-id-6414" style="display: none">
                            <li class="parsley-required">@Localization.GetText("TCM.ValueRequired")</li>
                        </ul>
                    </div>
            </div>
            <div class="output-description-block">
                <span>@Confluence.LabelBold(Localization.GetText("TCM.SOW.SelectOutputWarning.PleaseProvideOutputDesciption"))</span>
                <br />
                @Confluence.LabelBold(Localization.GetText("TCM.Global.OutputDescription"))
                <input name="txt-output-description" 
                       type="text" 
                       value="" 
                       data-force-parsley-validation="true" 
                       data-parsley-maxlength="300" 
                       maxlength="300" 
                       required="required" 
                       class="inputText custom-width-100 parsley-error ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-touched" 
                       data-ng-model="NewStandardOutputParameters.OutputDescription" 
                       data-parsley-id="6414" 
                       data-required-input />
                <ul class="parsley-errors-list filled output-description-reason" id="parsley-id-6416" style="display: none">
                    <li class="parsley-required">@Localization.GetText("TCM.ValueRequired")</li>
                </ul>
            </div>
    </div>
    <br />
    <span>@Confluence.Label(Localization.GetText("TCM.Outputs.MoreDetailsLink")) 
        <span class="bt-fund-indicator-detail" 
            style="color:#2462AF; 
            cursor:pointer" 
            show-ouput-detail>@Confluence.Label(Localization.GetText("TCM.Outputs.MoreDetailsLink1"))</span>
    </span>
</div>