<div id="new-output-detail-container" class="new-output-detail-container" style="display:none">
    <div id="operation-info-container">
        <div class="operation-info">
            <div>
                <p>@Localization.GetText("TCM.SOD.SelectOutputDetails.BusinessLine")</p>
                <p class="info-text">{{StandarOutputDetail.BusinessLine}}</p>
            </div>
            <div>
                <p>@Localization.GetText("TCM.SOI.SelectOutputIndicator.OutputGroup")</p>
                <p class="info-text">{{StandarOutputDetail.OutputGroup}}</p>
            </div>
            <div>
                <p>@Localization.GetText("TCM.SOD.SelectOutputDetails.IndicatorNumber")</p>
                <p class="info-text">{{StandarOutputDetail.IndicatorNumber}}</p>
            </div>
            <div>
                <p>@Localization.GetText("TCM.SOD.SelectOutputDetails.UnitOfMeasure")</p>
                <p class="info-text">{{StandarOutputDetail.UnitOfMeasure}}</p>
            </div>
        </div>
        <div class="operation-info">
            <div>
                <p>@Localization.GetText("TCM.SOD.SelectOutputDetails.IndicatorName")</p>
                <p class="info-text">{{StandarOutputDetail.Name}}</p>
            </div>
        </div>
    </div>
    <br />
    <div class="filterNormal">
        <span>@Localization.GetText("TCM.SOD.SelectOutputDetails.TechnicalFields")</span>
    </div>
    <div class="mt20">
        <table class="tableNormal w80">
            <thead>
                <tr>
                    <th style="text-align:left">@Localization.GetText("TCM.SOD.SelectOutputDetails.Theme")</th>
                    <th style="text-align:left; display: none">@(Localization
                        .GetText("TCM.SOD.SelectOutputDetails.AssociatedFundIndicators"))</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Theme in StandarOutputDetail.Themes" ng-show="Theme.ThemeId > 0" data-id>
                    <td>{{Theme.Name}}</td>
                    <td style="display: none">
                        <div ng-repeat="FundIndicator in Theme.FundIndicators" ng-show="FundIndicator.PredefinedIndicatorId > 0">
                            <span>{{FundIndicator.Name}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div class="filterNormal">
        <span>@Localization.GetText("TCM.SOD.SelectOutputDetails.Disaggregation")</span>
    </div>
    <div class="mt20">
        <table class="tableNormal w80" ng-show="StandarOutputDetail.PredefinedIndicatorDisaggregations.length > 0">
            <thead>
                <tr>
                    <th style="text-align:left">@Localization.GetText("TCM.SOD.SelectOutputDetails.Disaggregation")</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="PredefinedDisaggregation in StandarOutputDetail.PredefinedIndicatorDisaggregations" data-id>
                    <td>{{PredefinedDisaggregation.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>