@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.PCRModule.Enums
@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.PCRModule.ViewModels.FollowUpService.Tasks.PCRFollowUpTaskExtensionViewModel
@{
    var isCurrent = false;
	var previous = Model.Parent.Tasks.FirstOrDefault(t => t.TaskNumber == Model.TaskNumber - 1);
    var previousIsCurrent = (previous != null && previous.TaskNumber == Model.Parent.Header.CurrentTask)
        && !Model.CompletedDate.HasValue;
    var next = Model.Parent.Tasks.FirstOrDefault(t => t.TaskNumber == Model.TaskNumber + 1);
    var nextIsCurrent = (next != null && next.TaskNumber == Model.Parent.Header.CurrentTask)
        && !Model.UpdatedDeadline.HasValue;

    if (previous.TaskNumber == 7 || previous.TaskNumber == 1) 
    {
        isCurrent = (!previous.CompletedDate.HasValue && Model.UpdatedDeadline.HasValue) ? true
                                         : (!Model.UpdatedDeadline.HasValue && Model.IsActive);
    }

    if (next.TaskNumber == 3 && previous.CompletedDate.HasValue)
    {
        isCurrent = (!next.CompletedDate.HasValue && previous.CompletedDate.HasValue && Model.UpdatedDeadline.HasValue) ? true
                                         : (!Model.UpdatedDeadline.HasValue && Model.IsActive);
        
        previousIsCurrent = next.CompletedDate.HasValue ? false :  true;
    }
    
}

<div class="row @(isCurrent ? "currentTask" : "") @(!Model.IsActive ?  "not-active-task" : "")" 
     data-id="@(Model.TaskNumber)">
    <div class="col-md-1">
        <span class="cellContainer" data-pagemode="edit">
            <input type="checkbox" 
               name="chkActive" 
               data-id="@Model.TaskNumber" 
               @(Model.IsActive ? "checked" : "")
               @(isCurrent || 
                 ((previous != null && (previous.TaskNumber == 7 || previous.TaskNumber == 1 || next.TaskNumber ==3)) ? 
                    previousIsCurrent : nextIsCurrent) ? "" : "disabled") />
        </span>
    </div>
    <div class="col-md-7">
        <span class="cellContainer" data-tooltip-showonclasspresent="current" data-tooltip-title="" data-tooltip="@Model.Parent.Header.PCRFollowUpStateName: @Model.Parent.Header.PCRFollowUpTimelineStatusName @(Model.Parent.Header.PCRFollowUpTimelineStatus == PCRFollowUpTimelineStatusEnum.Delayed ? " " + Localization.GetText("PCR.FollowUp.Status.By") + " " + Model.Parent.Header.NumberofDaysDelayed + " " + Localization.GetText("PCR.FollowUp.Status.Days") : "")">@Model.TaskNumber. @Model.TaskName</span>
    </div>
    <div class="col-md-2">
        <span class="cellContainer">@Model.RoleName</span>
    </div>
    <div class="col-md-2">
        <span class="cellContainer">&nbsp;</span>
    </div>
    <div class="col-md-2">
        <span class="cellContainer completedDate" @(isCurrent ? "data-pagemode=read" : "")>@FormatHelper.Format(Model.UpdatedDeadline)</span>
        @if (isCurrent)
        {
            <span data-pagemode="edit">
                <input type="text" class="datepicker"
                       value="@(Model.UpdatedDeadline.HasValue ? string.Format("{0:dd MMM yyyy}", Model.UpdatedDeadline.Value) : "")"
                       name="txtUpdatedDeadLineDate" @(ViewBag.FollowUpWriteRole ? "data-parsley-required=true" : "")
                       @(ViewBag.FollowUpWriteRole ? "data-parsley-trigger=change" : "") />
            </span>
        }
    </div>
    <div class="col-md-2">
        <span class="cellContainer">&nbsp;</span>
    </div>
</div>

@if (Model.IsActive)
{
    <div data-pagemode="read">
        <aside class="row row-header">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-5">
                @Localization.GetText("PCR.FollowUp.TabTasks.ApprovedBy")
            </div>
            <div class="col-md-5">
                @Localization.GetText("PCR.FollowUp.TabTasks.RegisteredBy")
            </div>
        </aside>

        <aside class="row row-body-40">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-5">
                <b>@(Model.ApprovedBy ?? "")</b>
            </div>
            <div class="col-md-5">
                <b>@(Model.RegisteredBy ?? "")</b>
            </div>
        </aside>

        <aside class="row row-header">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-5">
                @Localization.GetText("PCR.FollowUp.TabTasks.ReasonExtension")
            </div>
        </aside>

        <aside class="row row-body-40">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-15" style="white-space: normal; padding-left: 70px;">
                <b>@(Model.Reason ?? "")</b>
            </div>
        </aside>
    </div>

    <div data-pagemode="edit">
        @if (!isCurrent)
        {
            <aside class="row row-header">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">
                    @Localization.GetText("PCR.FollowUp.TabTasks.ApprovedBy")
                </div>
                <div class="col-md-5">
                    @Localization.GetText("PCR.FollowUp.TabTasks.RegisteredBy")
                </div>
            </aside>

            <aside class="row row-body-40">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">
                    <b>@(Model.ApprovedBy ?? "")</b>
                </div>
                <div class="col-md-5">
                    <b>@(Model.RegisteredBy ?? "")</b>
                </div>
            </aside>

            <aside class="row row-header">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-15">
                    @Localization.GetText("PCR.FollowUp.TabTasks.ReasonExtension")
                </div>
            </aside>

            <aside class="row row-body-40">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-15" style="white-space: normal; padding-left: 70px;">
                    <b>@(Model.Reason ?? "")</b>
                </div>
            </aside>
        }
        else
        {
            <aside class="row">
                <div class="col-md-1">&nbsp;</div>
             
                <div class="col-md-6" style="margin: 0 0 0 -55px;">
                    <table>
                        <tr>
                            <td style=" width 34%;">@Localization.GetText("PCR.FollowUp.TabTasks.ApprovedBy")</td>
                            <td><input type="text" 
                                       style="margin: 0 0 0 10px;" 
                                       name="approvedBy" 
                                       data-parsley-type="alphanum" 
                                       maxlength="100" value="@(Model.ApprovedBy ?? "")" @(ViewBag.FollowUpWriteRole ? "data-parsley-required=true" : "") />
                            </td>
                        </tr>
                    </table>
                </div>
            </aside>
            <br />
            <aside class="row">
                <div class="col-md-1" style="margin: 0 0 0 -205px;">&nbsp;</div>
                <div class="col-md-15" style="padding-left: 14px; width: 87%;">
                    @Localization.GetText("PCR.FollowUp.TabTasks.ReasonExtension")<br />
                    <textarea id="txtExtensionReason" 
                              name="txtExtensionReason" 
                              maxlength="1000" 
                              data-parsley-type="alphanum" 
                              data-parsley-maxlength="1000" 
                              @(ViewBag.FollowUpWriteRole ? "data-parsley-required=true" : "")>@Model.Reason
                    </textarea>
                    <button id="btnClearExtensionReason" 
                            class="btn btn-sm delete" 
                            data-action="clearComment">
                    </button>
                </div>
            </aside>
            <br />
        }
    </div>
}