@model List<IDB.MVCControls.DataListView.Models.DataListItem>
@using IDB.Presentation.MVC4.Helpers

@using IDB.MVCControls.DataListView.Helpers

@{
    var config = Html.RenderDataListView(Model)
        .Name("taskListFollowUp")
        .Header(@<div class="row dataListHeader ">
            <div class="col-md-1 space-table-column-right"><p> <span data-pagemode="edit"> @Localization.GetText("PCR.FollowUp.TaskList.AddTask") </span></p></div>
            <div class="col-md-7 space-table-column-right"><p>@Localization.GetText("PCR.FollowUp.TaskList.Task")</p></div>
            <div class="col-md-2 space-table-column-right"><p>@Localization.GetText("PCR.FollowUp.TaskList.Role")</p></div>
            <div class="col-md-2 space-table-column-right"><p>@Localization.GetText("PCR.FollowUp.TaskList.OriginalPlannedDeadline")</p></div>
            <div class="col-md-2 space-table-column-right"><p>@Localization.GetText("PCR.FollowUp.TaskList.UpdatedDeadline")</p></div>
            <div class="col-md-2 space-table-column-right"><p>@Localization.GetText("PCR.FollowUp.TaskList.CompletedDate")</p></div>
</div>);


}
@Html.Partial("Controls/DataListView", config)
