@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.PCRModule.Enums
@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.PCRModule.ViewModels.FollowUpService.Tasks.PCRFollowUpTask12ViewModel
@{
    var previous = Model.Parent.Tasks.FirstOrDefault(t => t.TaskNumber == Model.TaskNumber - 1);
    var lastCompletedTask = previous == null ? null :
            Model.Parent.Tasks.FirstOrDefault(t => t.TaskNumber == Model.TaskNumber - 1).CompletedDate;
}


<div class="row @(Model.IsCurrent ? "currentTask" : "")" 
     data-id="@(Model.TaskNumber)"
     data-last-completed-date="@lastCompletedTask">
    <div class="col-md-1">
        <span class="cellContainer">&nbsp;</span>
    </div>
    <div class="col-md-7">
        <span @(Model.IsCurrent ? ViewBag.Header.PCRFollowUpTimelineStatus == PCRFollowUpTimelineStatusEnum.OnTime ? Html.Raw("class=\"current onTime cellContainer\"") : Html.Raw("class=\"current delayed cellContainer\"") : Html.Raw("class=\"cellContainer\"")) 
              data-tooltip-showonclasspresent="current" 
              data-tooltip-title="" 
              data-tooltip="@Model.Parent.Header.PCRFollowUpStateName: @Model.Parent.Header.PCRFollowUpTimelineStatusName @(Model.Parent.Header.PCRFollowUpTimelineStatus == PCRFollowUpTimelineStatusEnum.Delayed ? " " + Localization.GetText("PCR.FollowUp.Status.By") + " " + Model.Parent.Header.NumberofDaysDelayed + " " + Localization.GetText("PCR.FollowUp.Status.Days") : "")">
              @Model.TaskNumber. @Model.TaskName
        </span>
    </div>
    <div class="col-md-2">
        <span class="cellContainer">@Model.RoleName</span>
    </div>
    <div class="col-md-2">
        <span class="cellContainer">@FormatHelper.Format(Model.OriginalDeadline)</span>
    </div>
    <div class="col-md-2">
        <span class="cellContainer updatedDeadLine" data-date="@Model.UpdatedDeadline">@FormatHelper.Format(Model.UpdatedDeadline)</span>
    </div>
    <div class="col-md-2">        
       @if (Model.IsCurrent && Model.IsEnabledCompletionDate)
        {
            <span data-pagemode="edit" class="datepickerspan spanpicker_@(Model.TaskNumber)">
                <input type="text"
                       class="datepicker"
                       name="txtCompletedDate"
                       data-tasknormal="true"
                       data-isspdcoord="@(ViewBag.SPDCoord)"
                       data-taskidpicker="@(Model.TaskNumber)"
                       @(!Model.IsEnabledCompletionDate ? "disabled" : "")
                       @(ViewBag.FollowUpWriteRole ? "data-parsley-required=true" : "")
                       @(ViewBag.FollowUpWriteRole ? "data-parsley-trigger=change" : "") />
            </span>
        }
        else
        {
            if (ViewBag.SPDCoord
                && ViewBag.IsModeEdit 
                && Model.CompletedDate.HasValue)
            {
                <span class="cellContainer datepickerspan spanpicker_@(Model.TaskNumber)" data-pagemode="edit">
                    <input type="text"
                            class="datepicker datepickerspan spanpicker_@(Model.TaskNumber)"
                            name="txtCompletedDate_@(Model.TaskNumber)"
                            data-tasknormal="false"
                            data-isspdcoord="@(ViewBag.SPDCoord)"
                            data-taskidpicker="@(Model.TaskNumber)"
                            @(ViewBag.FollowUpWriteRole ? "data-parsley-required=true" : "")
                            @(ViewBag.FollowUpWriteRole ? "data-parsley-trigger=change" : "")
                            value="@(Model.CompletedDate.HasValue ? string.Format("{0:dd MMM yyyy}", Model.CompletedDate.Value) : "")" />
                    <input class="clseditpcrcoord" type="hidden" name="editpcrcoord_@(Model.TaskNumber)" value="true" />
                </span>
                
            }
            else
            {
                <span class="cellContainer completedDate" 
                      @(Model.IsCurrent && Model.IsEnabledCompletionDate ? "data-pagemode=read" : "") 
                      data-date="@Model.CompletedDate">
                      @FormatHelper.Format(Model.CompletedDate)
                </span>
            }
        }
    </div>
</div>

<div data-pagemode="read">
    <aside class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Localization.GetText("PCR.FollowUp.TabTasks.Government")<br />
                    <b>@(Model.IsCommentSent.HasValue ? (Model.IsCommentSent.Value ? Localization.GetText("PCR.FollowUp.Yes") : Localization.GetText("PCR.FollowUp.No")) : "")</b>
                </div>
            </p>
        </div>
    </aside>

    <aside class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Localization.GetText("PCR.FollowUp.TabTasks.WorkshopConducted")<br />
                    <b>@(Model.IsWorkshopConducted.HasValue ? (Model.IsWorkshopConducted.Value ? Localization.GetText("PCR.FollowUp.Yes") : Localization.GetText("PCR.FollowUp.No")) : "")</b>
                </div>
            </p>
        </div>
    </aside>

    <aside class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Localization.GetText("PCR.FollowUp.TabTasks.WorkshopDate")<br />
                    <b>@(Model.WorkshopDate.HasValue ? FormatHelper.Format(Model.WorkshopDate.Value) : "")</b>
                </div>
            </p>
        </div>
    </aside>
</div>

<div data-pagemode="edit">
    <aside class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Localization.GetText("PCR.FollowUp.TabTasks.Government")<br/>
                    @if (Model.IsCurrent)
                    {
                        @ControlTemplatesPCR.RadioButtonWithDefaultValue(Model.IsCommentSent, null, "isCommentSent", ViewBag.FollowUpWriteRole ? true : false)
                    }
                    else
                    {
                        <b>@(Model.IsCommentSent.HasValue ? (Model.IsCommentSent.Value ? Localization.GetText("PCR.FollowUp.Yes") : Localization.GetText("PCR.FollowUp.No")) : "")</b>
                    }
                </div>
            </p>
        </div>
    </aside>

    <aside class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Localization.GetText("PCR.FollowUp.TabTasks.WorkshopConducted")<br/>
                    @if (Model.IsCurrent)
                    {
                        @ControlTemplatesPCR.RadioButtonWithDefaultValue(Model.IsWorkshopConducted, null, "isWorkshopConducted", ViewBag.FollowUpWriteRole ? true : false,false,true)
                    }
                    else
                    {
                        <b>@(Model.IsWorkshopConducted.HasValue ? (Model.IsWorkshopConducted.Value ? Localization.GetText("PCR.FollowUp.Yes") : Localization.GetText("PCR.FollowUp.No")) : "")</b>
                    }
                </div>
            </p>
        </div>
    </aside>

    <aside class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Localization.GetText("PCR.FollowUp.TabTasks.WorkshopDate")<br/>
                    @if (Model.IsCurrent)
                    {
                        <input type="text" class="datepicker" name="txtWorkshopDate" value="
                               @(Model.WorkshopDate.HasValue ? string.Format("{0:dd MMM yyyy}", Model.WorkshopDate.Value) : "")" 
                               @(!Model.IsWorkshopConducted.HasValue || !Model.IsWorkshopConducted.Value ? new MvcHtmlString("disabled=\"disabled\"") : new MvcHtmlString("")) 
                               @(Model.IsWorkshopConducted.HasValue && Model.IsWorkshopConducted.Value && ViewBag.FollowUpWriteRole ? "data-parsley-required=true" : "") 
                               @(Model.IsWorkshopConducted.HasValue && Model.IsWorkshopConducted.Value && ViewBag.FollowUpWriteRole ? "data-parsley-trigger=change" : "") />
                    }
                    else
                    {
                        <b>@(Model.WorkshopDate.HasValue ? FormatHelper.Format(Model.WorkshopDate.Value) : "")</b>
                    }
                </div>
            </p>
        </div>
    </aside>
</div>
