@using IDB.MW.Domain.Models.Architecture.Risks;
@model IDB.MW.Domain.Models.Risks.RiskViewModel


@{
    ViewBag.Title = "Details";
    var operationNumber = this.ViewBag.operationNumber;
    var listRiskStatus = this.ViewBag.listRiskStatus;
    var listRiskType = this.ViewBag.listRiskType;
    var listRiskProbability = this.ViewBag.listRiskProbability;
    var listRiskImpact = this.ViewBag.listRiskImpact;
    var listRiskTargetAudience = this.ViewBag.listRiskTargetAudience;
}

@section JavaScript {
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Risks/kendo.everis.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Risks/esmartGeneral.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Risks/AditionalCssRisk.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Risks/ui_ri_002.css")"/>
    <!-- JS Files -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.3.js")"></script>
    @*    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Risks/main.js")"></script>
    <!-- End Files Scripts -->

}

@if (ViewData["Message"] != null)
{
    IDB.Presentation.MVC4.Helpers.HtmlHelpers.ShowNotificationMessage(null, (IDB.Presentation.MVC4.Helpers.MessageConfiguration)ViewData["Message"]);
}

<div id="ui_ri_002" class="padding20 everisWidth">
    <div class="relative h50px verticalMargin20">
        <h3 class="font2em backArrowTitle absolute"><a href="@(Url.Action("Details", "OperationRisk", new { area = "Risks", operationNumber = @operationNumber }))">@Localization.GetText("Risks")</a></h3>
        <div class="rightAlign absolute absRight">
            @*<input type="button" class="button blueButton" value="Edit">*@
         @if (Html.HasPermission("Risks Write") /*&& !Model.PmrStatusIsClose*/)
            {
                <a href="@(Url.Action("Edit", "Risk", new { area = "Risks", operationNumber = @operationNumber, riskId = @Model.RiskId, riskModel = Model }))">
                    <input type="button" class="btn-primary edit" value="@Localization.GetText("Edit")">
                </a>
            }
        </div>
    </div>
    <div class="verticalMargin20">
        <div class="operationData dataDetails">
            <div class="data4">
                <h3 class="dataTitle">@Model.RiskCode</h3>
                <br />
                <div class="dataTitle">@Localization.GetText("Description")</div>
                <div style="height: 99%; width: 800%;">
                    <p class="boldFont font08e">
                        <span class="status active inline-block ">
                            @Model.RiskDescription
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="verticalMargin20">
        <div class="operationData dataDetails">
            <div class="data4">
                <div class="dataTitle">@Localization.GetText("Status")</div>
            <p class="boldFont font08em" style="padding-top: 20px;">
                    <span class="status active inline-block ">
                        @foreach (Tuple<int, string> riskStatus in listRiskStatus)
                        {
                            if (@riskStatus.Item1 == @Model.RiskStatusId)
                            {
                                @Localization.GetText(riskStatus.Item2)                                
                                break;
                            }
                        }
                    </span>
                </p>
            </div>
            <div class="data4">
                <div class="dataTitle">@Localization.GetText("Type")</div>
            <p class="boldFont font08em" style="padding-top: 20px;">
                    @foreach (Tuple<int, string> riskTypes in listRiskType)
                    {
                        if (@riskTypes.Item1 == @Model.RiskType)
                        {
                            @Localization.GetText(riskTypes.Item2)
                            break;
                        }
                    }
                </p>
            </div>
            <div class="data4">
                <div class="dataTitle">@Localization.GetText("Probability")</div>
                @foreach (Tuple<int, int, string> riskProbabilitys in listRiskProbability)
                {
                    if (@riskProbabilitys.Item1 == @Model.RiskProbability)
                    {
                        string level = string.Empty;
                        switch (@riskProbabilitys.Item2)
                        {
                            case 3: level = "riskHighIcon"; break;
                            case 2: level = "riskMediumIcon"; break;
                            case 1: level = "riskLowIcon"; break;
                        }
                    <p class="boldFont @level padding20 font08em">
                        @Localization.GetText(riskProbabilitys.Item3)
                        <!--<input type="text" name="RiskStatusId" value=" @riskProbabilitys.Item3" />-->
                    </p>
                    }
                }
            </div>
            <div class="data4">
                <div class="dataTitle">@Localization.GetText("Impact")</div>
                @foreach (Tuple<int, int, string> riskImpacts in listRiskImpact)
                {
                    if (@riskImpacts.Item1 == @Model.RiskImpact)
                    {
                        string impact = string.Empty;
                        switch (@riskImpacts.Item2)
                        {
                            case 3: impact = "riskHighIcon"; break;
                            case 2: impact = "riskMediumIcon"; break;
                            case 1: impact = "riskLowIcon"; break;
                        }
                    <p class="boldFont @impact padding20 font08em">
                        @Localization.GetText(riskImpacts.Item3)                        

                        <!--<input type="text" name="RiskImpactId" value="@riskImpacts.Item3" />-->

                    </p>
                    }
                }
            </div>
            <div class="data4">
                <div class="dataTitle">@Localization.GetText("Risk level")</div>
                @{string riskLevel = string.Empty;
                  switch (@Model.RiskLevel)
                  {
                      case "High": riskLevel = "riskHighIcon"; break;
                      case "Medium": riskLevel = "riskMediumIcon"; break;
                      case "Low": riskLevel = "riskLowIcon"; break;
                  }
                }
                <p class="boldFont @riskLevel padding20 font08em">
                    @Localization.GetText(Model.RiskLevel)                    
                </p>
            </div>
        </div>
    </div>
    <div id="tabs" class="tabsContainer verticalMargin20">
        <div id="tab1" class="inline-block tabItem w17 p10 active">@Localization.GetText("Mitigation Measure")</div>
        <div id="tab2" class="inline-block tabItem w17 p10">@Localization.GetText("Status information")</div>
    </div>
    <div class="verticalMargin20">        
        <div class="verticalMargin20" id="table1">
            <table id="tableSortUIRI002" class="grid w100">
                <thead>
                    <tr>
                        <th>@Localization.GetText("Description")</th>
                        <th>@Localization.GetText("Target audience")</th>
                    </tr>
                </thead>
                <tbody class="leftAlign grayColor">
                    @foreach (RiskMitigationModel riskMitigation in @Model.RiskMitigations)
                    {
                        int VarPrueba = 0;
                        <tr>
                            @Html.HiddenFor(x => x.RiskMitigations[VarPrueba].Description)
                            <td>@riskMitigation.Description</td>
                            <td>
                                @foreach (Tuple<int, string> riskTarget in listRiskTargetAudience)
                                {
                                    @Html.HiddenFor(x => x.RiskMitigations[VarPrueba].TargetAudienceId)
                                    if (@riskTarget.Item1 == @riskMitigation.TargetAudienceId)
                                    {
                                        @Localization.GetText(riskTarget.Item2)
                                                     break;
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*STATUS INFORMATION *@
        <div class="verticalMargin20" id="table2" style="display: none">
            <table id="tableSortUIRI003" class="grid w100">
                <thead>
                    <tr>
                        <th>@Localization.GetText("Date")</th>
                        <th>@Localization.GetText("Status")</th>
                        <th>@Localization.GetText("Status Description")</th>
                    </tr>
                </thead>
                <tbody class="leftAlign grayColor">
                    @foreach (RiskStatusModel riskStatus in @Model.MyRiskStatus)
                    {
                        <tr>
                            <td>@riskStatus.ChangeStatusDate.Value.ToString("dd MMM yy")</td>
                            <td>@foreach (Tuple<int, string> riskStatusInfo in listRiskStatus)
                                {
                                    if (@riskStatusInfo.Item1 == @riskStatus.StatusId)
                                    {
                                @riskStatusInfo.Item2;
                                                     break;
                                    }
                                } </td>
                            <td>
                                <div style="height: 99%; width: 800%;">@riskStatus.Description</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="verticalMargin20 rightAlign">
        <ul class="pager">
            <li class="pagerItem inline-block active">1</li>
            @*<li class="pagerItem inline-block"><a href="#" class="">2</a></li>
            <li class="pagerItem inline-block"><a href="#" class="">3</a></li>
            <li class="pagerItem inline-block"><a href="#" class="">4</a></li>*@
        </ul>
    </div>

    <div class="separator w100 verticalMargin40"></div>
    <!-- Comments grid -->
    <div class="verticalMargin80-0-20">
        <div class="">
            <h3 class="font1-5em inline-block">@Localization.GetText("Comments")</h3>
        </div>
    </div>
    <table id="commentTableUIRI002" class="w100 grid">
        @foreach (UserCommentModel userComment in @Model.UserComment)
        {
            <tr>
                <td>
                    <div class="padding10 leftAlign">
                        <div class="verticalMargin10 w100">
                            <div class="verticalMargin10 inline-block">@string.Format("{0:dd MMM yyy}", userComment.Modified)</div>
                            <div class="verticalMargin10 inline-block bold marginLeft3">@userComment.ModifiedBy</div>
                        </div>
                        <div class="verticalMargin10 w100">
                            <p class="verticalMargin10 grayColor">@userComment.Text</p>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
    <!-- End comments grid -->
    <div class="editingButtonsEdit">
      @if (Html.HasPermission("Risks Write") /*&& !Model.PmrStatusIsClose*/)
        {
            <a href="@(Url.Action("Edit", "Risk", new { area = "Risks", operationNumber = @operationNumber, riskId = @Model.RiskId, riskModel = Model }))">
                <input type="button" class="btn-primary edit" value="@Localization.GetText("Edit")">
            </a>
        }
    </div>
</div>

<script type="text/javascript">

    $("#tab1").click(function () {
        changeTab(false)
    });

    $("#tab2").click(function () {
        changeTab(true)
    });

    function changeTab(state) {
        if (state) {
            $("#table1").css('display', 'none');
            $("#table2").css('display', 'block');
            $("#tab1").removeClass('active');
            $("#tab2").addClass('active');
        }
        else {
            $("#table1").css('display', 'block');
            $("#table2").css('display', 'none');
            $("#tab1").addClass('active');
            $("#tab2").removeClass('active');
        }
    }

    $(document).on('click', '.noBorder.operationButton.arrow.cursorPointer', function () {
        setTimeout(function () { resizeIframeCloud(); }, 500);
    });

</script>
