@{
    Layout = "../../Shared/_Layout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/angular/1.6/angular.js")"></script>
<script src="~/Scripts/Mainframe/fixIframe.js"></script>
<script type="text/javascript" src="@Url.Content("~/app/app.js")"></script>
<script type="text/javascript" src="@Url.Content("~/app/modules/components/ComponentsController.js")"></script>
<script type="text/javascript" src="@Url.Content("~/app/modules/components/PhysicalProgressController.js")"></script>
<script type="text/javascript" src="@Url.Content("~/app/modules/components/ComponentsDataService.js")"></script>

<script>

    var componentsAppData = { header: null, operationNumber: 'UR-L1050', section: 1, showMilestones: false, showDisaggregations: false };

    var paths = @Html.Raw(Json.Encode(ViewBag.Paths));

    console.log(paths);

    function activateTab(element)
    {
        
    }
</script>


<div ng-app="ComponentsApp">

    <div class="tab-content">
        @Html.Partial("~/Areas/TCM/Views/Components/SharedHeader.cshtml")
    </div>

    @ControlTemplatesTCM.TabsAngular(new Dictionary<string, string>()
{
    {"EditPhysicalProgress", Localization.GetText("TCM.Outputs.PhysicalProgress")},
    {"EditFinancialProgress", Localization.GetText("TCM.Outputs.FinancialProgress")},
    {"EditMappingProgress", Localization.GetText("TCM.Outputs.MappingProgress")}
})

    <div class="tab-content">
        <div class="tab-pane @(ViewBag.PartialView == "Physical" ? "active" : string.Empty)" id="EditPhysicalProgress"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-url=""
             data-loadurl="">
            <div id="physical-progress-container" class="ContenidoColapsableTest" ng-controller="PhysicalProgressController">           
                <div physical-progress-view></div>
            </div>
        </div>

        <div class="tab-pane @(ViewBag.PartialView == "Financial" ? "active" : string.Empty)" id="EditFinancialProgress"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-url=""
             data-loadurl="">
            <div id="ContenidoColapsableAll" class="ContenidoColapsableTest">
                @if (ViewBag.PartialView == "Financial")
            {
                @Html.Partial("EditFinancialProgress")
            }
            </div>
        </div>

        <div class="tab-pane @(ViewBag.PartialView == "Mapping" ? "active" : string.Empty)" id="EditMappingProgress"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-url=""
             data-loadurl="">
            <div id="ContenidoColapsableAll" class="ContenidoColapsableTest">
                @if (ViewBag.PartialView == "Mapping")
            {
                @Html.Partial("EditMappingProgress")
            }
            </div>
        </div>
    </div>

</div>