@*@using IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Common*@
@using IDB.MW.Domain.Values

@{
    Layout = "../../Shared/_Layout.cshtml";
    ViewBag.Title = Localization.GetText("TCM.Outputs.OutputMilestoneDetails");
}
@model IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Components.OutputMilestoneDetailViewModel

<div class="page">
    <div id="PageContent" class="content-expandable"
         data-parsley-validate="data-parsley-validate"
         data-loadurl="@Url.Action("OutputMilestoneDetailReload", "Components", new {area = "TCM", id = Model.MilestoneId})" 
         data-url="@Url.Action("SaveOutputMilestoneDetail", "ComponentsSave", new {area = "TCM"})">
        @if (Model != null && Model.ConvergenceReadPermission)
        {
            @Html.Partial("Partial/OutputMilestoneDetailPartial", Model)
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">

    function edit(source) {
        postUrlWithOptions('@Url.Action("LockRegister", "Components", new {area = "TCM"})', { async: false }, { url: '@TCMGlobalValues.TCM_EDIT_COMPONENTS' })
            .done(function (data) {
                if (data.IsValid === true) {
                    var success = enterEditMode(false, $('#PageContent'), false);

                    if (success) {
                        enterEditMode(false, $('[data-id=headerButtons]'), false);
                    }

                } else {
                    showMessage(data.ErrorMessage);
                }
            });
    }

    function redirect(elem) {
        var msg = '@Localization.GetText("TCM.Outputs.CancelOtherMessage")';
        confirmActionCustom(msg, '@Localization.GetText("TCM.Cancel")', '@Localization.GetText("TCM.Ok")').done(function (pressOk) {

            if (pressOk) {
                postUrlWithOptions('@Url.Action("UnlockRegister", "Components", new {area = "TCM"})', { async: true }, { url: '@TCMGlobalValues.TCM_EDIT_COMPONENTS' });
                var path = $(elem).data("url");
                setTimeout(showLoader(), 2000);
                window.location = path;
            }
        });
    }

    function cancel(source) {
        var msg = '@Localization.GetText("TCM.Outputs.CancelOtherMessage")';
        confirmActionCustom(msg, '@Localization.GetText("TCM.Cancel")', '@Localization.GetText("TCM.Ok")').done(function (pressOk) {
            if (pressOk) {
                postUrlWithOptions('@Url.Action("UnlockRegister", "Components", new {area = "TCM"})', { async: true }, { url: '@TCMGlobalValues.TCM_EDIT_COMPONENTS' });
                exitEditMode(true, $('#PageContent'), true, false);
                exitEditMode(false, $('[data-id=headerButtons]'), false, false);
                setTimeout(showLoader(), 2000);
            }
        });
    }

    function save(source) {
        var response = saveContainer($('#PageContent'), '#hidViewModel', true, $('#headerButtons'), null, true, null, null, true);
        if (response !== false) {
            response.done(function (data) {
                if (!data.IsValid && data.ErrorMessage != null && data.ErrorMessage !== '') {
                    errorBar(data.ErrorMessage, 3, true);
                    return false;
                } else {
                    exitEditMode(false, $('[data-id=headerButtons]'), false, true);
                    successBar('@Localization.GetText("OP.DL.Message.Success")', 3, true);
                }
            });
        }
    }

</script>
}