@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language

@model IDB.MW.Application.AdministrationModule.ViewModels.Notification.NotificationSearchViewModel

    <div id="tablaPagContentNot">
        <table id="tablaPagNotification" class="tableNormal">
            <thead>
                <tr>
                    <th class="sort">@Localization.GetText("OP.NOT.Notification.Code")</th>
                    <th class="sort">@Localization.GetText("OP.NOT.Notification.Name")</th>
                    <th class="sort">@Localization.GetText("OP.NOT.Notification.Description")</th>
                    <th class="sort">@Localization.GetText("OP.NOT.Notification.ExpirationDate")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableNotifications.ToList())
                {
                    <tr data-id="@item.Id">
                        <td clase="text-center"><a href="@Url.Action("NotificationEdit", "NotificationView", new { area = "AdministrationSecondPhase", code = item.Code, isNew = false })">@item.Code</a> </td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td clase="text-center">@item.ExpirationDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

