@using IDB.Presentation.MVC4.Helpers;
@using IDB.Architecture.Language;


 <div class="col-md-12 mt30">
    @Confluence.LabelTitleGroup(Localization.GetText("General information"))
</div>

<div id="info-section" class="col-md-12 mt20">
    <div class="row">
        <div class="col-md-6 mt10">
            @Confluence.LabelsGroup(title: Localization.GetText("Code"),
            contentRead: Confluence.LabelBold("XXX"),
            contentEdit: Confluence.InputText(value: "", name: "code", maxLength: 250, width: "100%", required: false),
            asterisk: true)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt10">
            @Confluence.LabelsGroup(title: Localization.GetText("Name"),
        contentRead: Confluence.LabelBold("XXX"),
                          contentEdit: Confluence.InputText(value: "", name: "Name", maxLength: 250, width: "100%", required: false),
        asterisk: true)
        </div>
        <div class="col-md-6 mt10">
            @Confluence.LabelsGroup(title: Localization.GetText("Description"),
        contentRead: Confluence.LabelBold("XXX"),
                          contentEdit: Confluence.InputTextArea(value: "", name: "Description", maxLength: 250, width: "100%", required: false),
        asterisk: true)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt10">
            @Confluence.LabelsGroup(title: Localization.GetText("Effective Date"),
            contentRead: Confluence.LabelBold("XXX"),
                     contentEdit: Confluence.InputDatePicker(null, "EffectiveDate", isReadOnly: true, width: "100%"),
            asterisk: false)
        </div>
        <div class="col-md-6 mt10">
            @Confluence.LabelsGroup(title: Localization.GetText("Expiration Date"),
            contentRead: Confluence.LabelBold("XXX"),
                     contentEdit: Confluence.InputDatePicker(null, "ExpirationDate", isReadOnly: true, width: "100%"),
        asterisk: false)
        </div>
    </div>
</div>

<div class="col-md-12 mt30">
    @Confluence.LabelTitleGroup(Localization.GetText("Recipients"))
</div>

    <div id="content-section" class="col-md-12 mt20">
        <div class="row">
            <div class="col-md-6">
                @Confluence.LabelsGroup(title: Localization.GetText("To"),
             contentRead: Confluence.LabelBold("XXX"),
             contentEdit: ControlTemplatesPCR.DropDownSelectReport("recipientsTo", (List<System.Web.Mvc.SelectListItem>)ViewBag.StatusList, true, "select-monitoring-report", 6)
             ,asterisk: true)
            </div>
            <div class="col-md-6">
                @Confluence.LabelsGroup(title: Localization.GetText("Cc"),
            contentRead: Confluence.LabelBold("XXX"),
            contentEdit: ControlTemplatesPCR.DropDownSelectReport("recipientsCc", (List<System.Web.Mvc.SelectListItem>)ViewBag.StatusList, true, "select-monitoring-report", 6))
            </div>
        </div>
    </div>

<div class="col-md-12 mt30">
    @Confluence.LabelTitleGroup(Localization.GetText("Content"))
</div>

    <div id="content-section" class="col-md-12 mt20">
        <div class="row">
            <div class="col-md-12">
                @Confluence.LabelsGroup(title: Localization.GetText("Subject EN"),
                contentRead: Confluence.LabelBold("XXX"),
                contentEdit: Confluence.InputText(value: "", name: "SubjectEN", maxLength: 250, width: "100%", required: false),
                asterisk: true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  mt10">
                @Confluence.LabelsGroup(title: Localization.GetText("Subject ES"),
                contentRead: Confluence.LabelBold("XXX"),
                                  contentEdit: Confluence.InputText(value: "", name: "SubjectES", maxLength: 250, width: "100%", required: false),
                asterisk: true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt10">
                @Confluence.LabelsGroup(title: Localization.GetText("Subject PO"),
                contentRead: Confluence.LabelBold("XXX"),
                                  contentEdit: Confluence.InputText(value: "", name: "SubjectPO", maxLength: 250, width: "100%", required: false),
                asterisk: false)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt10">
                @Confluence.LabelsGroup(title: Localization.GetText("Subject FR"),
                contentRead: Confluence.LabelBold("XXX"),
                                  contentEdit: Confluence.InputText(value: "", name: "SubjectFR", maxLength: 250, width: "100%", required: false),
                asterisk: false)
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt10">
                @Confluence.LabelsGroup(title: Localization.GetText("Body EN"),
            contentRead: Confluence.LabelBold("XXX"),
                              contentEdit: Confluence.InputTextArea(value: "", name: "Description", maxLength: 250, width: "100%", required: false),
            asterisk: true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt10">
                @Confluence.LabelsGroup(title: Localization.GetText("Body ES"),
            contentRead: Confluence.LabelBold("XXX"),
                              contentEdit: Confluence.InputTextArea(value: "", name: "Description", maxLength: 250, width: "100%", required: false),
            asterisk: true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt10">
                @Confluence.LabelsGroup(title: Localization.GetText("Body PO"),
            contentRead: Confluence.LabelBold("XXX"),
                              contentEdit: Confluence.InputTextArea(value: "", name: "Description", maxLength: 250, width: "100%", required: false),
            asterisk: false)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt10">
                @Confluence.LabelsGroup(title: Localization.GetText("Body FR"),
            contentRead: Confluence.LabelBold("XXX"),
                              contentEdit: Confluence.InputTextArea(value: "", name: "Description", maxLength: 250, width: "100%", required: false),
            asterisk: false)
            </div>
        </div>
    </div>
