@*---------------------------------------------------Disagregations----------------------------------------------------------------------*@

<script id="milestoneHeader-template" type="text/x-handlebars-template">
   <tr class="nivel02">
      <td colspan="{{colspanmilestone}}">
         <div class="minimizeTable">
            <div class="minimizeBar">
               <div class="tableOperator">Minimize/Maximize</div>
            </div>
            <div class="operatorBar"></div>
            <div class="tableGrid">
               <table class="grid milestoneTable">
                  <thead>
                     <tr>
                        <th class="btn_azul_oscuro dato00">@Localization.GetText("Disaggregation")</th>
                        <th class="btn_azul_oscuro dato04"></th>
                        {{#each  options}}
                        <th class="btn_azul_oscuro selects" data-milestoneyearplanindex="{{milestoneyearindex}}">{{year}}
                        </th>
                        {{/each}}
                        <th class="btn_azul_oscuro dato04" style="text-align: center; vertical-align: middle; width: 1em;"></th>
                        <th class="btn_azul_oscuro dato05">@Localization.GetText("EOP") {{EndProjectYear}}</th>
                     </tr>
                  </thead>
                  <tbody>
                  </tbody>
               </table>
            </div>
         </div>
      </td>
   </tr>
</script>

<script id="MilestoneYearHeader-template" type="text/x-handlebars-template">
   <th class="btn_azul_oscuro selects" data-milestoneyearplanindex="{{milestoneyearplanindex}}">{{year}}
   </th>
</script>

<script id="Milestone-template" type="text/x-handlebars-template">
    <tr class="hoverMilestone" data-milestoneindex="{{milestoneIndex}}">
        <td class="dato01 verticalAlignBottom" style="position: static;">
            <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_[{{milestoneIndex}}]_OutputDisaggregationId"
                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationId"
                   type="hidden"
                   value="0">
            <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_Index"
                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations.Index"
                   type="hidden"
                   value="{{milestoneIndex}}">
            <textarea class="dato01"
                      cols="55"
                      rows="2"
                      data-val="true"
                      data-val-required="@Localization.GetText("Please enter a name for the disaggregation")"
                      placeholder="@Localization.GetText("Please enter a name for the new disaggregation")"
                      id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__DisaggregationName"
                      name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].DisaggregationName"></textarea>
            <div class="actionbar2">
                <a class="btn_entypo first"
                   title="@Localization.GetText("Delete")"
                   href="javascript:void(0);"
                   onclick="removeDisaggregation(this);"></a>
            </div>
        </td>
        <td>
            <table class="minHeight90px">
                <tbody>
                    <tr>
                        <td class="rm_edit_rh verticalAlignMiddle">P</td>
                    </tr>
                    <tr>
                        <td class="rm_edit_rh verticalAlignMiddle">P(a)</td>
                    </tr>
                    <tr>
                        <td class="rm_edit_rh verticalAlignMiddle">A</td>
                    </tr>
                </tbody>
            </table>
        </td>
        {{#each  options}}
        <td data-rowcolumnrelated="{{milestoneYearPlanIndex}}" class="dato07">
            <input class="hiddenYear" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__Year"
                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].Year" type="hidden" value="{{year}}">
            <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_Index" class="milestoneYearPlanIndex"
                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans.Index" type="hidden" value="{{milestoneYearPlanIndex}}">
            <table class="fixedTableDisaggregation">
                <tbody>
                    <tr class="rm_p_row">
                        <td>
                            <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan">
                                {{#if isOriginalValueBlock}}
                                <input class="input min_input numberInput"
                                       id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].OriginalPlan" type="text" value="" data-referenceyear="{{referenceYear}}" readonly="readonly">
                                {{else}}
                                <input class="input min_input numberInput"
                                       id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].OriginalPlan" type="text" value="" data-referenceyear="{{referenceYear}}">
                                {{/if}}
                            </label>
                        </td>
                    </tr>
                    <tr class="rm_pa_row">
                        <td>
                            <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan">
                                {{#if isAnnualValueBlock}}
                                <input class="input min_input numberInput"
                                       id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].AnnualPlan" type="text" data-referenceyear="{{referenceYear}}" value="" readonly="readonly">
                                {{else}}
                                <input class="input min_input numberInput"
                                       id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].AnnualPlan" type="text" data-referenceyear="{{referenceYear}}" value="">
                                {{/if}}
                            </label>
                        </td>
                    </tr>
                    <tr class="rm_ac_row">
                        <td>
                            <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__ActualValue">
                                {{#if isActualValueBlock}}
                                <input class="input min_input numberInput"
                                       id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__ActualValue"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].ActualValue" type="text" data-referenceyear="{{referenceYear}}" value="" readonly="readonly">
                                {{else}}
                                <input class="input min_input numberInput"
                                       id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__ActualValue"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].ActualValue" type="text" data-referenceyear="{{referenceYear}}" value="">
                                {{/if}}
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        {{/each}}
        <td></td>
        <td class="fixedTableDisaggregation totalMilestoneYearPlan dato07">
            <input class="hiddenId" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__OutputYearPlanId"
                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[0].OutputYearPlanId" type="hidden" value="0">
            <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__Year"
                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[0].Year" type="hidden" value="-1">
            <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_Index"
                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans.Index" type="hidden" value="0">
            <table class="fixedTableDisaggregation totalMilestoneYearPlan">
                <tbody>
                    <tr class="rm_p_row">
                        <td>
                            <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__OriginalPlan">
                                {{#if isAutoCalc}}
                                    <input class="input min_input numberInput" readonly="readonly" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__OriginalPlan"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[0].OriginalPlan" type="text" data-referenceyear="{{referenceYear}}" value="">
                                {{else}}
                                    <input class="input min_input numberInput" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__OriginalPlan"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[0].OriginalPlan" type="text" data-referenceyear="{{referenceYear}}" value="">
                                {{/if}}
                            </label>
                        </td>
                    </tr>
                    <tr class="rm_pa_row">
                        <td>
                            <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__AnnualPlan">
                                {{#if isAutoCalc}}
                                    <input class="input min_input numberInput" readonly="readonly" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__AnnualPlan"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[0].AnnualPlan" type="text" data-referenceyear="{{referenceYear}}" value="">
                                {{else}}
                                    <input class="input min_input numberInput" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__AnnualPlan"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[0].AnnualPlan" type="text" data-referenceyear="{{referenceYear}}" value="">
                                {{/if}}
                            </label>
                        </td>
                    </tr>
                    <tr class="rm_ac_row">
                        <td>
                            <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__ActualValue">
                                {{#if isAutoCalc}}
                                    <input class="input min_input numberInput" readonly="readonly" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__ActualValue"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[0].ActualValue" type="text" data-referenceyear="{{referenceYear}}" value="">
                                {{else}}
                                    <input class="input min_input numberInput" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_0__ActualValue"
                                       name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[0].ActualValue" type="text" data-referenceyear="{{referenceYear}}" value="">
                                {{/if}}
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</script>

<script id="milestoneYearBody-template" type="text/x-handlebars-template">
   <td data-rowcolumnrelated="{{milestoneYearPlanIndex}}" class="dato07">
      <input class="hiddenYear" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__Year"
         name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].Year" type="hidden" value="{{year}}">
      <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_Index" class="milestoneYearPlanIndex"
         name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans.Index" type="hidden" value="{{milestoneYearPlanIndex}}">
      <table class="fixedTableDisaggregation">
         <tbody>
            <tr class="rm_p_row">
               <td>
                  <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan">
                     {{#if isOriginalValueBlock}}
                                <input class="input min_input numberInput" 
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].OriginalPlan" type="text" data-referenceyear="{{referenceYear}}" value="" readonly="readonly">
                     {{else}}
                                <input class="input min_input numberInput" 
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__OriginalPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].OriginalPlan" type="text" data-referenceyear="{{referenceYear}}" value="">
                     {{/if}}
                  </label>
               </td>
            </tr>
            <tr class="rm_pa_row">
               <td>
                  <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan">
                     {{#if isAnnualValueBlock}}
                                <input class="input min_input numberInput" 
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].AnnualPlan" type="text" data-referenceyear="{{referenceYear}}" value="" readonly="readonly">
                     {{else}}
                                <input class="input min_input numberInput" 
                                   id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__AnnualPlan"
                                   name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].AnnualPlan" type="text" data-referenceyear="{{referenceYear}}" value="">
                     {{/if}}      
                  </label>
               </td>
            </tr>
            <tr class="rm_ac_row">
               <td>
                  <label class="editLabel" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__ActualValue">
                     {{#if isActualValueBlock}}
                              <input class="input min_input numberInput" 
                                 id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__ActualValue"
                                 name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].ActualValue" type="text" data-referenceyear="{{referenceYear}}" value="" readonly="readonly">
                     {{else}}
                              <input class="input min_input numberInput" 
                                 id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputDisaggregations_{{milestoneIndex}}__OutputDisaggregationYearPlans_{{milestoneYearPlanIndex}}__ActualValue"
                                 name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputDisaggregations[{{milestoneIndex}}].OutputDisaggregationYearPlans[{{milestoneYearPlanIndex}}].ActualValue" type="text" data-referenceyear="{{referenceYear}}" value="">
                     {{/if}}      
                  </label>
               </td>
            </tr>
         </tbody>
      </table>
   </td>
</script>
