

@*---------------------------------------------------Components----------------------------------------------------------------------*@

<script id="component-template" type="text/x-handlebars-template">
   <div class="mod_tabla_impacts editable years-impact component{{componentIndex}}" data-componentindex="{{componentIndex}}">
      <input id="Components_Index" name="Components.Index" type="hidden" value="{{componentIndex}}">
      <div class="minimizeTable">
         <div class="minimizeBar">
            <div class="trackOrder"></div>
            <div class="tableOperator" style="top: 5.5em; z-index: 50;">Minimize/Maximize</div>
         </div>
         <div class="operatorBar"></div>
         <div class="headingh3_editable">
            @*<a href="javascript:void(0);" class="btn_awesome first mov_normal no_marginRight" title="Move1"></a>*@
            <label class="editLabel input" for="Components_{{componentIndex}}__Statement" style="margin-bottom: 3em;" onmouseover="showMainActionBar(this)" onmouseout="hideMainActionBar(this);">
               <input class="input headingh3" data-val="true" data-val-required=" @Localization.GetText("Please enter a title for the component.")" id="Components_{{componentIndex}}__Statement" name="Components[{{componentIndex}}].Statement" type="text" value="">

                @**
                * Jira ID: CON-126
                * Fix Description: Added hidden input to save order number of impact 
                * Attended by: Jhon Astaiza 
                * Date: 24/06/2014
                * Begin Fix
                **@
                <div class="actionbar main" style="display: none; width: 89%">

                    <a class="btn_entypo first moveUp" title="@Localization.GetText("Move Up")" onclick="moveUpComponent(this)" href="javascript:void(0)">&#59231;</a>
                    <a class="btn_entypo first moveDown" title="@Localization.GetText("Move Down")" onclick="moveDownComponent(this)" href="javascript:void(0)">&#59228;</a>

                </div>
                @**
                * End Fix
                **@

            </label>
            <a href="javascript:void(0);" onclick="deleteComponent(this);" class="btn_delete btn_square_min" title="@Localization.GetText("Delete")"> @Localization.GetText("Delete")</a>
         </div>
         <div class="tableGrid outputsContainer">
         </div>
         <div class="k-toolbar">
            <a href="javascript:void(0);" onclick="addNewOutput(this);" title="New output" class="k-button newIndicator">
               <div class="k-button-"> @Localization.GetText("New output")</div>
            </a>
         </div>
         <div class="plegableSeparator">Borde de separacion</div>
      </div>
   </div>
</script>

@*---------------------------------------------------Outputs----------------------------------------------------------------------*@

<script id="outputHeader-template" type="text/x-handlebars-template">
   <table class="grid">
      <thead>
         <tr>
            <th class="btn_azul_oscuro dato00">Outputs
            </th>
            <th class="btn_azul_oscuro dato06">Unit of measure</th>
            <th class="btn_azul_oscuro dato04"></th>
            <th id="lastCellHead" class="btn_azul_oscuro selects" style="text-align: center; vertical-align: middle; width: 1em;">
               <label style="cursor: pointer; text-align: center" onclick="addNewYearPlanOutput(this)"><b>+</b></label>
            </th>
            <th class="btn_azul_oscuro dato05">EOP {{EndProjectYear}}</th>
         </tr>
      </thead>
      <tbody>
      </tbody>
   </table>
</script>

<script id="outputBody-template" type="text/x-handlebars-template">
   <tr class="trackOrderRow">
      <td></td>
   </tr>
   <tr class="nivel01" data-outputindex="{{outputIndex}}">
      <td class="verticalShadow">
         <input id="Components_{{componentIndex}}__Outputs_Index" name="Components[{{componentIndex}}].Outputs.Index" type="hidden" value="{{outputIndex}}">
         <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__ParentPeptaskId" name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].ParentPeptaskId" type="hidden" value="{{parentPepTaskId}}" data-task-type="{{taskType}}">
          <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OrderNumber" class="output-order-number" name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OrderNumber" type="hidden" value="{{orderNumber}}">
         <div class="dato01">
            <textarea class="dato01" cols="55" data-val="true" data-val-required=" @Localization.GetText("Please enter a name for the output.")"
                     id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__Definition" name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].Definition" rows="2"></textarea>
         </div>
         <div class="actionbar">
            <a class="btn_entypo first" title="Move Up" onclick="moveUpOutputs(this);" href="javascript:void(0);">&#59231;</a>
            <a class="btn_entypo first" title="Move Down" onclick="moveDownOutputs(this);" href="javascript:void(0);">&#59228;</a>
            <a class="btn_entypo first reassingOutput " title="Reassing" data-title="Reassign output" data-route="@Url.Action("EditReassingOutput", "Outputs", new { area = "ResultsMatrix" })" href="#">🔙</a>
            <a class="btn_entypo first " title="@Localization.GetText("Link Indicator to a Predefined Indicator")" href="javascript:void(0);">⚑</a>
            <a class="btn_entypo first addDisBtn" title="Add milestone" onclick="addNewMilestone(this);" href="javascript:void(0);"></a>
            <a class="btn_entypo first " title="@Localization.GetText("Delete")" href="javascript:void(0);" onclick="deleteOutput(this);"></a>
         </div>
      </td>
      <td>
         <label class="editLabel ici" for="Components_{{componentIndex}}__Outputs_{{outputIndex}}__UnitOfMeasure">
            <input class="input min_input"
               id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__UnitOfMeasure" name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].UnitOfMeasure" type="text" value="">
         </label>
      </td>
      <td>
         <table>
            <tbody>
               <tr>
                  <td class="rm_edit_rh">P</td>
               </tr>
               <tr>
                  <td class="rm_edit_rh">P(a)</td>
               </tr>
               <tr>
                  <td class="rm_edit_rh">A</td>
               </tr>
            </tbody>
         </table>
      </td>
      {{#each  options}}
         <td data-rowcolumnrelated='{{outputYearPlanIndex}}' class="dato07">
            <input class="hiddenYear" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__Year" name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].Year" type="hidden" value="{{year}}">
            <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_Index" name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans.Index" type="hidden" value="{{outputYearPlanIndex}}" class="outputYearPlanIndex">
            <table>
               <tbody>
                  <tr class="rm_p_row">
                     <td>
                        <label class='editLabel' for='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].OriginalPlan'>
                           {{#if isOriginalValueBlock}}
                                <input class='input min_input numberInput' id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__OriginalPlan'
                                   name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].OriginalPlan' type='text' value="" readonly="readonly">
                           {{else}}
                                <input class='input min_input numberInput' id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__OriginalPlan'
                                   name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].OriginalPlan' type='text' value="">
                           {{/if}} 
                        </label>
                     </td>
                  </tr>
                  <tr class="rm_pa_row">
                     <td>
                        <label class='editLabel' for='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].AnnualPlan'>
                           {{#if isAnnualValueBlock}}
                                <input class='input min_input numberInput' type='text' value=""
                                   id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__AnnualPlan'
                                   name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].AnnualPlan' readonly="readonly">
                           {{else}}
                                <input class='input min_input numberInput annualChangeValueInput' type='text' value=""
                                   id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__AnnualPlan'
                                   name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].AnnualPlan'>
                           {{/if}} 
                        </label>
                     </td>
                  </tr>
                  <tr class="rm_ac_row">
                     <td>
                        <label class='editLabel' for='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].ActualValue'>
                           {{#if isActualValueBlock}}
                                <input class='input min_input numberInput' type='text' value=""
                                   name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].ActualValue' readonly="readonly">
                           {{else}}
                                <input class='input min_input numberInput' type='text' value=""
                                   id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__ActualValue'
                                   name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].ActualValue'>
                           {{/if}}  
                        </label>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      {{/each}}
      <td></td>
      <td class="totalOutputYearPlan dato07">
         <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_Index"
            name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans.Index" type="hidden" value="0">
         <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_0__Year"
            name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[0].Year" type="hidden" value="-1">
         <table>
            <tbody>
               <tr class="rm_p_row">
                  <td>
                     <label class="editLabel" for="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[0].OriginalPlan">
                        <input class="input min_input numberInput" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_0__OriginalPlan" 
                           name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[0].OriginalPlan" type="text" value="" readonly="readonly">
                     </label>
                  </td>
               </tr>
               <tr class="rm_pa_row">
                  <td>
                     <label class="editLabel" for="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[0].AnnualPlan">
                        <input class="input min_input numberInput " type="text" value="" readonly="readonly"
                           id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_0__AnnualPlan" 
                           name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[0].AnnualPlan">
                     </label>
                  </td>
               </tr>
               <tr class="rm_ac_row">
                  <td>
                     <label class="editLabel" for="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[0].ActualValue">
                        <input class="input min_input numberInput" type="text" value=""
                           id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_0__ActualValue"
                           name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[0].ActualValue" readonly="readonly">
                     </label>
                  </td>
               </tr>
            </tbody>
         </table>
      </td>
   </tr>
</script>

<script id="outputYearHeader-template" type="text/x-handlebars-template">
   <th class='btn_azul_oscuro selects' data-outputyearplanindex='{{outputYearPlanIndex}}'>
      <table>
         <tbody style='border-bottom-width: 0px;'>
            <tr>
               <td>
                  <div class="filterDropDown selectCustom">
                     <ul class='optionList small'>
                        <li class='small'>{{#if isFirstOutputYearPlan}}
                               <select class='optionSelect optionSelectOutputYearPlan' data-val='false'
                                  id='Components_{{componentIndex}}__OutputsComboYear_{{outputYearPlanIndex}}__Year'
                                  name='Components[{{componentIndex}}].OutputsComboYear[{{outputYearPlanIndex}}].Year'>
                                  {{#each  options}}
                                    {{#if isSelected}}
                                       <option value="{{value}}" selected="selected">{{name}}</option>
                                  {{else}}
                                       <option value="{{value}}">{{name}}</option>
                                  {{/if}}                               
                                 {{/each}}
                               </select>
                           {{else}}
                              {{currrentYear}}
                           {{/if}}                          
                        </li>
                     </ul>
                  </div>
               </td>
               <td>
                  <div title='Delete Year' class='deleteYear' onclick='deleteCurrentOutputYear(this);' style="display: none;">X</div>
               </td>
            </tr>
         </tbody>
      </table>
   </th>
</script>

<script id="outputYearBody-template" type="text/x-handlebars-template">
   <td data-rowcolumnrelated='{{outputYearPlanIndex}}' class="dato07">
      <input class="hiddenYear" id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__Year" name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].Year" type="hidden" value="{{year}}">
      <input id="Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_Index" name="Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans.Index" type="hidden" value="{{outputYearPlanIndex}}" class="outputYearPlanIndex">
      <table>
         <tbody>
            <tr class="rm_p_row">
               <td>
                  <label class='editLabel' for='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].OriginalPlan'>
                     {{#if isOriginalValueBlock}}
                        <input class='input min_input numberInput' id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__OriginalPlan'
                           name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].OriginalPlan' type='text' value="" readonly="readonly">
                     {{else}}
                        <input class='input min_input numberInput' id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__OriginalPlan'
                           name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].OriginalPlan' type='text' value="">
                     {{/if}}
                  </label>
               </td>
            </tr>
            <tr class="rm_pa_row">
               <td>
                  <label class='editLabel' for='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].AnnualPlan'>
                     {{#if isAnnualValueBlock}}
                        <input class='input min_input numberInput' type='text' value=""
                           id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__AnnualPlan'
                           name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].AnnualPlan' readonly="readonly">
                     {{else}}
                        <input class='input min_input numberInput annualChangeValueInput' type='text' value=""
                           id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__AnnualPlan'
                           name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].AnnualPlan'>
                     {{/if}}  
                  </label>
               </td>
            </tr>
            <tr class="rm_ac_row">
               <td>
                  <label class='editLabel' for='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].ActualValue'>
                     {{#if isActualValueBlock}}                              
                        <input class='input min_input numberInput' type='text' value=""
                           id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__ActualValue'
                           name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].ActualValue' readonly="readonly">
                     {{else}}
                        <input class='input min_input numberInput' type='text' value=""
                           id='Components_{{componentIndex}}__Outputs_{{outputIndex}}__OutputYearPlans_{{outputYearPlanIndex}}__ActualValue'
                           name='Components[{{componentIndex}}].Outputs[{{outputIndex}}].OutputYearPlans[{{outputYearPlanIndex}}].ActualValue'>
                     {{/if}}                     
                  </label>
               </td>
            </tr>
         </tbody>
      </table>
   </td>
</script>
