@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Outputs.MilestoneModel


@section JavaScript {
   <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/ResultsMatrix/Outputs/EditMilestone.js")"></script>
}

<div class="mod_contenido_central impacts">
   @Html.Hidden("IsEditMilestone", false)
   <section>
      <!-- Section Header-->
      <h3 class="headingh2 tipo1"><a href="@(Url.Action("IndexPhysicalProgress", "Outputs", new { area = "ResultsMatrix", OperationNumber = Model.OperationNumber, showMilestones = true }))" title="Impacts Detail">Outputs</a></h3>
      <div class="editingButtonsEdit">
         @if (Model.isEditable && Html.HasPermission("Results Matrix Write"))
         {

            <a href="javascript:void(0);" class="btn-primary_2 btnEditMilestone" data-route="@(Url.Action("EditMilestoneDetails", "Outputs", new { area = "ResultsMatrix", milestoneId = Model.MilestoneId }))" title="@Localization.GetText("Edit")">@Localization.GetText("Edit")</a>

         }
      </div>

      <div class="desheadingh3 ">
         <p class="description">
            @Model.OutputDefinition
         </p>
      </div>
   </section>
   <!-- End Section Header -->
   <section>
      <!-- Section Main Content-->
      <h4 class="headingh3">@Localization.GetText("Milestone")</h4>
      <div class="ftl w75 marginLeft4Con7">
         <!-- content flt w75-->
         <h5 class="headingh4">@Model.Definition</h5>
         <div class="listWrapper">
            <dl class="ftl w50">
               <dt class="dataTitle">@Localization.GetText("Baseline")</dt>
               <dd class="dataText">@Html.DisplayFor(x => x.Baseline)</dd>
            </dl>
            <dl class="ftl w45">
               <dt class="dataTitle">@Localization.GetText("Baseline year")</dt>
               <dt class="dataTitle">
                  <ul class="optionList">
                     <li class="small">
                        <select class="optionSelect" name="BaselineYear">
                           <option value="@Model.BaselineYear" selected="selected" class="contextualHelp">@Model.BaselineYear</option>
                        </select>
                     </li>
                  </ul>

               </dt>
            </dl>
         </div>
         <div class="listWrapper">
            <dl class="ftl w50">
                <!--Jira ID: CON-579
                * Fix Description: Review Results Matrix styles 
                * Attended by: Harold Betancourt
                * Date: 23/07/2014
                * Begin Fix-->
               <dt class="dataTitle">@Localization.GetText("Means of verification")</dt>
                <!--End Fix-->
               <dd class="dataText">@Model.MeansOfVerification</dd>
            </dl>
         </div>
         <!--fin listWrapper-->
         <div class="listWrapper ftl w50">
            <dl>
               <dd class="dataText custom">
                  <label class="editLabel" for="IsAutoCalcPhysycalEop" style="margin-left: 0%; width: 400px;">
                     <input disabled="disabled" name="IsAutoCalcPhysycalEop" type="checkbox" id="check3" @(Model.IsAutoCalcPhysycalEop ? "" : "checked=checked") >
                     <span class="custom checkbox unableMarked" style="width: 500px; display: inline;">@Localization.GetText("Add annual values to calculate EOP Targets (Original Planned, Annual Plan and Actual)")</span>
                  </label>
               </dd>
            </dl>

         </div>
         </>
      <!-- End content flt w75-->

         <!-- End content flt w16-->
   </section>
   <!-- End Section Main Content-->
</div>
<!-- End mod_contenido_central impacts -->
