
@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Outputs.OutputDisaggregationModel


<script>
   $(document).ready(function () {
      $("#CancelWarningDialog").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();
      });

      $("#guardar3").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $("#targetDeleteDisaggregation").submit();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();

      });
   });
</script>

@using (Html.BeginForm("DeleteDisaggregation", "Outputs", FormMethod.Post, new { id = "targetDeleteDisaggregation" }))
{
   @Html.HiddenFor(x => x.OutputDisaggregationId)
   @Html.HiddenFor(x => x.OperationOperationNumber)
   <div style="padding: 20px;">
       @Localization.GetText("This action will delete the disaggregation and all the planned and actual values for this disaggregation. Would you like to proceed with the deletion?")
   </div>
   <div class="pie pieReassign">
      <div class="botones">
         <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialog" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>
         <label for="delete">
            <input type="button" value=" @Localization.GetText("Delete")" class="btn-primary" id="guardar3">
         </label>
      </div>
   </div>
}


