
@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Outputs.OtherCostModel


<script>
   $(document).ready(function () {
      $("#lnkCancelDeleteIndicator").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();
      });

      $("#btnSaveDeleteOtherCost").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $("#targetDeleteOtherCost").submit();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();
      });
   });
</script>

@using (Html.BeginForm("DeleteOtherCost", "Outputs", FormMethod.Post, new { id = "targetDeleteOtherCost" }))
{
   @Html.HiddenFor(x => x.OperationNumber)
   @Html.HiddenFor(x => x.OtherCostId)
   <div style="padding: 20px;">
      @Localization.GetText("TCM.Outputs.Message.DeleteOtherCostAndAllOtherCostYearPlan")
   </div>
   <div class="pie pieReassign">
      <div class="botones">
         <a title="@Localization.GetText("TCM.Cancel")" class="cancel" id="lnkCancelDeleteIndicator" href="javascript:void(0)"> @Localization.GetText("TCM.Cancel")</a>
         <label for="delete">
            <input type="button" value="@Localization.GetText("TCM.Delete")" class="btn-primary" id="btnSaveDeleteOtherCost">
         </label>
      </div>
   </div>
}
