
@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Outputs.ResultsMatrixModel

<script>
   $(document).ready(function () {

      $("#CancelWarningDialog").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();

         @( Html.Raw("$('#redirectToEdit').val(false);"))
         @if (ViewBag.showMilestone)
         {
            @(Html.Raw("$('#radio1').next().removeClass('ui-state-active');"))
            @(Html.Raw("$('#radio2').next().addClass('ui-state-active');"))
          
         }
         else
         {
            @(Html.Raw("$('#radio1').next().addClass('ui-state-active');"))
            @(Html.Raw("$('#radio2').next().removeClass('ui-state-active');"))
         }
      });

      $("#btnUpdateBeforeChange").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();
         if (!$("#outputsTarget").valid()) {
            $('#radio2').next().removeClass('ui-state-active');
            $('#radio1').next().addClass('ui-state-active');
            return;
         }

         @( Html.Raw("$('#redirectToEdit').val(true);"))

         @if (ViewBag.showMilestone)
         {
           @( Html.Raw("$('#showMilestones').val(true);"))
         }
         else
         {
            @(Html.Raw("$('#showMilestones').val(false);"))
         }

         $(".btnSavePhysicalOutput:first").trigger("click");
      });
   });
</script>

<div style="padding: 20px; font-size: smaller; font-weight: bold;">
    @Localization.GetText("Warning: If you updated other information, please save it before continuing with this action.")
</div>

<div class="pie pieReassign">
   <div class="botones">
      <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialog" href="javascript:void(0);"> @Localization.GetText("Cancel")</a>
      <label for="delete">
         <input type="button" value=" @Localization.GetText("Save")" class="btn-primary" id="btnUpdateBeforeChange">
      </label>
   </div>
</div>



