<script>

    $(document).ready(function () {
        $("#CancelWarningDialog").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

            @if (ViewBag.FormName == "outputsTarget")
            {
                @Html.Raw("$('.btnSavePhysicalOutput').click(submitActionOutputs)");
            }
        });

        $("#SaveFormAction").click(function () {

            if (typeof checkInactiveVisualOutputs !== 'undefined') {

                firstModalContinue = true;

                var isUpdatePhysicalProgress =
                    $("#outputsTarget").hasClass('isUpdateOutputs');
                var isUpdateFinancialProgress =
                    $("#outputsFinancialTarget").hasClass('isUpdateFinancial');

                if (!isUpdateFinancialProgress &&
                    !isUpdatePhysicalProgress &&
                    checkInactiveVisualOutputs()) {

                    $(window.parent.document).find('body')
                        .append('<div class="ui-widget-overlay ui-front"></div>');
                    $("body").append('<div class="ui-widget-overlay ui-front"></div>');
                    $("body").append('<div class="dinamicModal"><div class="loadingdatawarning"><br>Loading...</div></div>');
                    var route = $("#WarningMessageVisualOutputURL").val();
                    var title = "Warning";
                    var dialog = $(".dinamicModal").kendoWindow({
                        width: "800px",
                        title: title,
                        draggable: false,
                        resizable: false,
                        content: route,
                        pinned: true,
                        actions: [
                            "Close"
                        ],
                        modal: true,
                        visible: false,
                        close: function () {
                            $('.loading-container').remove();
                            $(window.parent.document).find('body')
                                .find(".ui-widget-overlay").remove();
                            $(".ui-widget-overlay").remove();
                            $(".k-window").remove();
                        }
                    }).data("kendoWindow");
                    $(".k-window-titlebar").addClass("warning");
                    $(".k-window-title").addClass("ico_warning");
                    dialog.center();
                    dialog.open();
                }
                else {

                    $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
                    $(".ui-widget-overlay").remove();
                    $(".k-window").remove();
                    idbg.lockUi(null, true);
                    $("input.numberInput").each(function () {
                        $(this).val($(this).val().replace(/,/g, ''));
                    });

                    $("#@(ViewBag.FormName)").submit();
                }
            }
            else {

                $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
                $(".ui-widget-overlay").remove();
                $(".k-window").remove();
                idbg.lockUi(null, true);
                $("input.numberInput").each(function () {
                    $(this).val($(this).val().replace(/,/g, ''));
                });

                $("#@(ViewBag.FormName)").submit();
            }

        });
    });

</script>

<div style="padding: 20px;">
    @Localization.GetText("TCM.RCMW.RegisterChangesMany.TextMessage")
</div>

<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialog"
           href="javascript:void(0)">@Localization.GetText("Cancel")</a>
        <label for="delete">
            <input type="button" value="@Localization.GetText("Save")"
                   class="btn-primary" id="SaveFormAction">
        </label>
    </div>
</div>