<script>

   $(document).ready(function () {
      $("#CancelWarningDialogVO").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();
         @if (ViewBag.FormName == "outputsTarget")
         {
            @Html.Raw("$('.btnSavePhysicalOutput').click(submitActionOutputs)");
                                                                               ;
         }
      });

       $("#SaveFormActionVO").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();
         idbg.lockUi(null, true);
         $("input.numberInput").each(function () {
            $(this).val($(this).val().replace(/,/g, ''));
         });

         $("#@(ViewBag.FormName)").submit();
      });
   });
</script>
<div style="padding: 20px;">
   @Localization.GetText("RM.OUTPUT.INACTIVE.VO.WARNING")
</div>
<div class="pie pieReassign">
   <div class="botones">
      <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialogVO" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
      <label for="delete">
         <input type="button" value=" @Localization.GetText("Save")" class="btn-primary" id="SaveFormActionVO">
      </label>
   </div>
</div>

