
@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Outputs.OutputYearPlanModel

<script>
   $(document).ready(function () {
      $("#CancelWarningDialog").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();
      });

      $("#btnDeleteYear").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $("#targetDeleteOutputYear").submit();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();
      });
   });
</script>

@using (Html.BeginForm("DeleteOutputColumnYear", "Outputs", FormMethod.Post, new { id = "targetDeleteOutputYear" }))
{   
   @Html.HiddenFor(x => x.OutputYearPlanId)
   @Html.HiddenFor(x => x.OperationNumber)
   <div style="padding: 20px;">
       @Localization.GetText("This action will delete the column and all the planned and actual values within the column. Would you like to proceed with the deletion?")
   </div>
   <div style="padding: 20px; font-size: smaller; font-weight: bold;">
       @Localization.GetText("Warning: If you updated other information, please save it before continuing with this action.")
   </div>   
   <div class="pie pieReassign">
      <div class="botones">
         <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialog" href="javascript:void(0);"> @Localization.GetText("Cancel")</a>
         <label for="delete">
            <input type="button" value=" @Localization.GetText("Delete")" class="btn-primary" id="btnDeleteYear">
         </label>
      </div>
   </div>
}
