@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Outputs.MilestoneModel

@using (Html.BeginForm("DeleteMilestone", "Outputs", FormMethod.Post, new { id = "targetDeleteMilestone" }))
{
    @Html.HiddenFor(x => x.MilestoneId)
    @Html.HiddenFor(x => x.OperationNumber)

    <div style="padding: 20px;" id="deleteMilestoneContent">
        @Localization.GetText("TCM.DO.DeleteOutcomeStatement.UndoneActionMessage")
    </div>

    <div id="MilestoneChangeMatrixMessage" style="padding: 20px; display: none;">
        @Localization.GetText("TCM.RCMW.RegisterChangesMany.TextMessage")
    </div>

    <div class="contentImpacts">
        <p class="text-center alert alert-warning font14">
            @Localization.GetText("Warning: If you updated other information, please save it before continuing with this action.")
        </p>
    </div>

    <div class="pie pieReassign">
        <div class="botones">
            <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialog"
               href="javascript:void(0)">@Localization.GetText("Cancel")</a>
            <label for="DeleteMilestone">
                <input type="button" value="@Localization.GetText("Delete")" class="btn btn-warning" id="DeleteMilestone">
            </label>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        var interval = new Object();
        interval.IntervalId = $("#hdnIntervalId").val();
        interval.CycleId = $("#hdnCycleId").val();

        $("#CancelWarningDialog").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#DeleteMilestone").click(function () {

            if (interval.IntervalId == 3) {
                if ($("#deleteMilestoneContent").is(":visible")) {
                    $(".k-window-titlebar").addClass("warning");
                    $(".k-window-title").addClass("ico_warning");
                    $("#deleteMilestoneContent").hide();
                    $("#MilestoneChangeMatrixMessage").show();

                    return;
                }
            }

            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $("#targetDeleteMilestone").submit();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            idbg.lockUiRM(null, true);
        });

    });
</script>