@using IDB.Presentation.MVC4.Areas.PMI.Controllers
@using IDB.MW.Domain.Models.Architecture.Enumerations
@using IDB.Presentation.MVC4.Areas.ResultsMatrix.Controllers

@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Outputs.ResultsMatrixModel

@* Necessary scripts and css to verify content functionality *@
@*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/ResultsMatrix/Common/VerifyContent.css")" />*@

@* Necessary hidden fields to verify content functionality *@
@Html.Hidden("hdnVerifyContentUrl", Url.Action("VerifyContent", "VerifyContent", new { area = "ResultsMatrix" }))
@Html.Hidden("hdnResultsMatrixId", Model.ResultsMatrixId)

@Html.Hidden("hdn-import-pep-data-title", Localization.GetText("Retrieve data from PEP"))
@Html.Hidden("hdn-import-pep-data-message", Localization.GetText("This action will replace P(a) and A values and its eop values. Would you like to proceed?"))
@Html.Hidden("hdn-import-pep-data-confirm", Localization.GetText("Import"))
@Html.Hidden("hdn-import-pep-data-cancel", Localization.GetText("Cancel"))
@Html.Hidden("hdn-is-integrated-with-pep", Model.IsIntegratedWithPep)

@{
    bool isLessTaskFive = ViewBag.isLessTaskFive ?? false;
}

<h3 class="headingh2">@Localization.GetText("Outputs")</h3>
<div class="editingButtonsEdit up">
    @if(!Model.DEMLockReviewProcessData.IsLockReviewProcessDEM)
    { 
        if (ViewBag.isEdit != null && ViewBag.isEdit)
        {
            if (ViewBag.isPhysicalProgress != null && ViewBag.isPhysicalProgress)
            {
                <a href="@(Url.Action("IndexPhysicalProgress", "Outputs", new { area = "ResultsMatrix", OperationNumber = Model.Operation.OperationNumber }))" class="cancel link12" title="@Localization.GetText("Cancel")">@Localization.GetText("Cancel")</a>
                <a href="javascript:void(0);" class="btn-primary_2 btnSavePhysicalOutput" title="@Localization.GetText("Edit")">@Localization.GetText("Save")</a>
            }
            else if (ViewBag.isFinancialProgress != null && ViewBag.isFinancialProgress)
            {
                <a href="@(Url.Action("IndexFinancialProgress", "Outputs", new { area = "ResultsMatrix", OperationNumber = Model.Operation.OperationNumber }))" class="cancel link12" title="@Localization.GetText("Cancel")">@Localization.GetText("Cancel")</a>
                <a href="javascript:void(0);" class="btn-primary_2 btnSavePhysicalOutput" title="@Localization.GetText("Edit")">@Localization.GetText("Save")</a>
            }
        }
        else
        {
            <a id="lnkVerifyContent" href="javascript:void(0);" class="verify" title="@Localization.GetText("Verify content")">@Localization.GetText("Verify content")</a>

            if (Model.AccessedByAdministrator || isLessTaskFive)
            {
                if (ViewBag.isPhysicalProgress != null && ViewBag.isPhysicalProgress && Model.isEditable)
                {
                    if (Html.HasPermission("Results Matrix Write"))
                    {
                        <a href="javascript:void(0);" data-route="@(Url.Action("EditPhysicalProgress",
                           "Outputs", new { area = "ResultsMatrix", operationNumber = Model.Operation.OperationNumber }))"
                           class="btn-secondary editPhysicalProgress" title="@Localization.GetText("Edit")">@Localization.GetText("Edit")</a>
                    }
                }
                else if (ViewBag.isFinancialProgress != null && ViewBag.isFinancialProgress && Model.isEditable)
                {
                    if (Html.HasPermission("Results Matrix Write"))
                    {
                        <a href="javascript:void(0);" data-route="@(Url.Action("EditFinancialProgress",
                           "Outputs", new { area = "ResultsMatrix", operationNumber = Model.Operation.OperationNumber }))"
                           class="btn-secondary editFinancialProgress" title="@Localization.GetText("Edit")">@Localization.GetText("Edit")</a>
                    }
                }

            }
        }
    }
    else
    {
        <div id="dem-block-description-outputs">@Html.Raw(Model.DEMLockReviewProcessData.LockDescription)</div>
        @:&nbsp;
    }


</div>

@Html.Partial("../Partials/_HeaderOperationDataPartial", Model.HeaderModel)

<div class="operationData">
    <div class="listWrapper">
        @if (Model.interval.IntervalId != ResultsMatrixCodes.ThirdInterval && Model.isElegible)
        {
            <dl class="ftl">
                <dt class="dataTitle">@Localization.GetText("Days remaining to validate plan at start-up")</dt>
                <dd class="dataText">@Model.DaysRemaining</dd>
            </dl>
        }
    </div>
</div>

<div class="operationData">
    <nav class="mod_tabs03 w95 paddingBottom2">
        <ul>
            <!--**
            * Jira ID: CON-965
            * Fix Description: When disaggregations are saved keep in editing mode
            * Attended by: Harold Betancourt
            * Date: 10/10/2014
            * Begin Fix
            **/-->
            <li>
                @if (ViewBag.isEdit != null && ViewBag.isEdit)
                {
                    if (ViewBag.isPhysicalProgress != null && ViewBag.isPhysicalProgress)
                    {
                        <a class="itemList active" href="javascript:void(0)" title="@Localization.GetText("Physical progress")">@Localization.GetText("Physical progress")</a>
                    }
                    else
                    {
                        <a class="itemList textDeactivated" href="javascript:void(0)" title="@Localization.GetText("Physical progress")">@Localization.GetText("Physical progress")</a>
                    }
                }
                else
                {
                    if (ViewBag.isPhysicalProgress != null && ViewBag.isPhysicalProgress)
                    {
                        <a class="itemList active" href="@(Url.Action("IndexPhysicalProgress", "Outputs", new { area = "ResultsMatrix", OperationNumber = Model.Operation.OperationNumber }))" title="@Localization.GetText("Physical progress")">@Localization.GetText("Physical progress")</a>
                    }
                    else
                    {
                        <a class="itemList" href="@(Url.Action("IndexPhysicalProgress", "Outputs", new { area = "ResultsMatrix", OperationNumber = Model.Operation.OperationNumber }))" title="@Localization.GetText("Physical progress")">@Localization.GetText("Physical progress")</a>
                    }
                }
            </li>

            @if (!OutputsController.IsSpecialOperation(Model.OperationNumber))
            {
                <li>

                    @if (ViewBag.isEdit != null && ViewBag.isEdit)
                    {
                        if (ViewBag.isFinancialProgress != null && ViewBag.isFinancialProgress)
                        {
                            <a class="itemList active" href="javascript:void(0)" title="@Localization.GetText("Financial progress")">@Localization.GetText("Financial progress")</a>
                        }
                        else
                        {
                            <a class="itemList textDeactivated" href="javascript:void(0)" title="@Localization.GetText("Financial progress")">@Localization.GetText("Financial progress")</a>
                        }
                    }
                    else
                    {
                        if (ViewBag.isFinancialProgress != null && ViewBag.isFinancialProgress)
                        {
                            <a class="itemList active" href="@(Url.Action("IndexFinancialProgress", "Outputs", new { area = "ResultsMatrix", OperationNumber = Model.Operation.OperationNumber }))" title="@Localization.GetText("Financial progress")">@Localization.GetText("Financial progress")</a>
                        }
                        else
                        {
                            <a class="itemList" href="@(Url.Action("IndexFinancialProgress", "Outputs", new { area = "ResultsMatrix", OperationNumber = Model.Operation.OperationNumber }))" title="@Localization.GetText("Financial progress")">@Localization.GetText("Financial progress")</a>
                        }
                    }


                </li>
            }
            <li>
                @if (ViewBag.isEdit != null && ViewBag.isEdit)
                {
                    if (ViewBag.isVisualizationProgress != null && ViewBag.isVisualizationProgress)
                    {
                        <a class="itemList active" href="javascript:void(0)" title="@Localization.GetText("Mapping progress")">@Localization.GetText("Mapping progress")</a>
                    }
                    else
                    {
                        <a class="itemList textDeactivated" href="javascript:void(0)" title="@Localization.GetText("Mapping progress")">@Localization.GetText("Mapping progress")</a>
                    }
                }
                else
                {
                    if (ViewBag.isVisualizationProgress != null && ViewBag.isVisualizationProgress)
                    {
                        <a class="itemList active" href="@(Url.Action("Grid", "VisualData", new { area = "Visualization", operationNumber = IDBContext.Current.Operation }))" title="@Localization.GetText("Mapping progress")">@Localization.GetText("Mapping progress")</a>
                    }
                    else
                    {
                        <a class="itemList" href="@(Url.Action("Grid", "VisualData", new { area = "Visualization", operationNumber = IDBContext.Current.Operation }))" title="@Localization.GetText("Mapping progress")">@Localization.GetText("Mapping progress")</a>
                    }
                }


            </li>
            <!--** End Fix **/-->
        </ul>
    </nav>
</div>
