
@model IDB.Presentation.MVC4.Models.ReassingOutputPepModel


<script>
   $(document).ready(function () {

      var interval = new Object();
      interval.IntervalId = $("#hdnIntervalId").val();
      interval.CycleId = $("#hdnCycleId").val();


      $(".ReassigSelect").kendoDropDownList();

      $(".cancelReassingOutput").click(function () {
         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $(".ui-widget-overlay").remove();
         $(".k-window").remove();
      });

      $(".saveReassingOutput").click(function () {

         if (interval.IntervalId == 3) {
            if ($("#ReassingOuputContent").is(":visible")) {
               $(".k-window-titlebar").addClass("warning");
               $(".k-window-title").addClass("ico_warning");
               $("#ReassingOuputContent").hide();
               $("#OutputChangeMatrixMessage").show();
               return;
            }
         }

         $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
         $(".ui-widget-overlay").remove();
         $("#targetReassingOutput").submit();
      });
      
      $("#SelectedTaskId").data("kendoDropDownList").bind("change", getSubComponents);

   });

   function getSubComponents(e)
   {
       var text = this.text();
       var value = this.value();
       var object = this.dataItem(this.select());
       
   }

</script>

<p class="hide headerWindow">Reassign output</p>
@using (Html.BeginForm("UpdateOuputComponentParent", "Outputs", FormMethod.Post, new { area = "ResultMatrix", id = "targetReassingOutput" }))
{

   @Html.HiddenFor(m => m.OutputId)
   @Html.HiddenFor(m => m.OperationNumber)
   <div class="contentImpacts" id="ReassingOuputContent">
      <div class="dataContent1">
         <fieldset>
            <legend class="dataTitle">@Localization.GetText("Component Name")</legend>
            <p class="dataText">@Model.ComponentName</p>
         </fieldset>
      </div>


      <div class="dataContent1">
         <fieldset>
            <legend class="dataTitle">@Localization.GetText("Output Name")</legend>
            <p class="dataText">@Model.OutputName</p>
         </fieldset>
      </div>
      <div class="dataContent1">
          <table style="width:100%">
              <tr>
                  <td width="50%">
                      <p class="dataTitle">@Localization.GetText("Reassign output to component")</p>
                  </td>
                  <td></td>
              </tr>
              <tr>
                  <td>
                      <ul class="optionList">
                          <li class="small">
                              @Html.DropDownListFor(x => x.SelectedTaskId,
                                new SelectList(Model.Components, "PepTaskId", "PepTaskName"),
                                new { name = "ComponentTasks", @class = "optionSelect ReassigSelect" })
                          </li>
                      </ul>
                  </td>
                  <td>
                      <div style="margin-left: 5%">
                          <ul class="optionList">
                              <li class="small">
                                  @Html.DropDownListFor(x => x.SelectedTaskId,
                                    new SelectList(Model.Components, "PepTaskId", "PepTaskName"),
                                    new { name = "SubComponentTasks", @class = "optionSelect ReassigSelect" })
                              </li>
                          </ul>
                      </div>
                  </td>
              </tr>
          </table>
      </div>

   </div>
   <div id="OutputChangeMatrixMessage" style="padding: 20px; display: none;">
       @Localization.GetText("TCM.RCMW.RegisterChangesMany.TextMessage")
   </div>
   <!-- END contentImpact-->
   <div class="pie pieReassign">
      <div class="botones">
         <a title="@Localization.GetText("Cancel")" class="cancel cancelReassingOutput" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>
         <label for="saveReassingOutput">
            <input type="button" value=" @Localization.GetText("Save")" class="btn-primary saveReassingOutput" id="saveReassingOutput">
         </label>
      </div>
   </div>
}