@using IDB.MW.Business.VMRModule.DTOs.AdditionalFieldsModels
@using IDB.MW.Domain.Values.Vmr
@model AdditionalFiedlAreaModel

@if (Model != null &&
    Model.Form != null &&
    Model.Form.Sections != null &&
    Model.Form.Sections.Any())
{
    var isVerticalForm = Model.Form.Orientation == VmrGlobalValues.VERTICAL_SECTION;
    var widthForm = Model.Form.Width;

    <div class="@string.Concat("col-md-", widthForm) mb15" id="sectionFormSubmit">
        @(isVerticalForm ? VerticalForm() : HorizontalForm())
    </div>
}

@helper VerticalForm()
{
    foreach (var section in Model.Form.Sections.OrderBy(x => x.Order))
    {
        var isVerticalSection = section.Orientation == VmrGlobalValues.VERTICAL_SECTION;

        <div class="row">
            @(isVerticalSection ? VerticalSection(section) : HorizontalSection(section))
        </div>
    }
}

@helper HorizontalForm()
{
    <div class="row">
        @foreach (var section in Model.Form.Sections)
        {
            var sectionWidth = section.Width;
            var isVerticalSection = section.Orientation == VmrGlobalValues.VERTICAL_SECTION;

            <div class="@string.Concat("col-md-", sectionWidth)">
                @(isVerticalSection ? VerticalSection(section) : HorizontalSection(section))
            </div>
        }
    </div>
}

@helper VerticalSection(AdditionalFieldSectionModel section)
{
    if (section.Partials != null && section.Partials.Any())
    {
        foreach (var partial in section.Partials.OrderBy(x => x.Order))
        {
            var widthPartial = partial.Width;
            <div class="row">
                <div class="@string.Concat("col-md-", widthPartial) @partial.CssClass">
                    @PartialFields(partial)
                </div>
            </div>
        }
    }
}

@helper HorizontalSection(AdditionalFieldSectionModel section)
{
    if (section.Partials != null && section.Partials.Any())
    {
        <div class="row">
            @foreach (var partial in section.Partials.OrderBy(x => x.Order))
            {
                var widthPartial = partial.Width;
                <div class="@string.Concat("col-md-", widthPartial) @partial.CssClass">
                    @PartialFields(partial)
                </div>
            }
        </div>
    }
}

@helper PartialFields(AdditionalFieldPartialModel partial)
{
    if (partial != null && partial.Partial != null)
    {
        @Html.Partial(
            "Partials/AdditionalFields/Partials/" + partial.Id,
            partial.Partial)
    }
        
}