@using IDB.MW.Business.VMRModule.DTOs.AdditionalFieldsModels
@using IDB.MW.Domain.Values.Vmr
@model  IList<AdditionalFieldOptionsModel>

@foreach (var partialContainer in Model)
{
    if (partialContainer.HasPopup && !partialContainer.HasReprocessing)
    {
        @CreateModalAddCommentBtnReturn(
            partialContainer.MasterDataId.ToString(),
            partialContainer.HasPopup.ToString().ToLower(),
            partialContainer.Code,
            partialContainer.Literal, "buttonBlue")
    }
    else if (partialContainer.HasPopup && partialContainer.HasReprocessing)
    {
        @CreateModalAddCommentBtnReturn(
            partialContainer.MasterDataId.ToString(),
            partialContainer.HasPopup.ToString().ToLower(),
            partialContainer.Code,
            partialContainer.Literal, "hide")
        @Confluence.ButtonBlue(
            partialContainer.Literal,
            null,
            "ShowConfirmValidateSubmit",
            dataAttributes: new Dictionary<string, string>
            {
                {"idBtnShowModal", partialContainer.Code}
            })
    }
    else { 

        @Confluence.ButtonBlue(
            partialContainer.Literal,
            null,
            "validateSubmit",
            dataAttributes: new Dictionary<string, string>
            {
                {"master-data-id", partialContainer.MasterDataId.ToString()},
                {"submit-code", partialContainer.Code}
            })
    }
}
@helper CreateModalAddCommentBtnReturn(
    string masterId, string hasPopUp, string code, string textButton, string classBtn)
{
    <button data-id="@code" class="@classBtn"
            data-modal-allowclose="true"
            data-custom-modal="@code"
            data-custom-modal-style=""
            data-custom-modal-title="@Localization.GetText("VMR.MM.MeetingRoom.ModalComment.Title")"
            data-custom-modal-validate="false"
            data-custom-buttons='["Continue", "Cancel"]'
            data-custom-button-continue-id="btnContinue"
            data-custom-button-continue="Continue"
            data-custom-button-continue-style="btn btn-primary"
            data-custom-button-continue-callback="validateSubmit"
            data-custom-button-continue-closeatend="true"
            data-custom-button-cancel-id="btnCancel"
            data-custom-button-cancel="Cancel"
            data-custom-button-cancel-style="btn btn-link"
            data-custom-button-cancel-callback=""
            data-custom-modal-onclose="modalOnClose"
            data-custom-modal-closeonoverlayclick="true">
        @textButton
    </button>
    <div id="@code" class="hide" data-parsley-validate="data-parsley-validate" data-submit-popup="true">
        <div class="message" style="border: none;width: 99%">
            @Confluence.InputTextArea(
            value: "",
            maxLength: 3000,
            name: VmrGlobalValues.COMMENT_ADD_FIELD,
            htmlClass: "DemResizable",
            width: "100%",
            placeholder: Localization.
                GetText("VMR.MM.MeetingRoom.ModalComment.PlaceHolderText"))
            @Confluence.InputHidden(masterId, "master-data-id")
            @Confluence.InputHidden(code, "submit-code")
        </div>
    </div>
}

