@using IDB.MW.Application.ESW_CIPModule.Enums
@using IDB.Presentation.MVC4.Helpers;
@using IDB.Architecture.Language;
@using IDB.MVCControls.General.Helpers;
@using IDB.MW.Application.ESW_CIPModule.ViewModels;

@model List<AnnualAllocationViewModel>

<div class="col-md-3">
    @Confluence.Label(Localization.GetText("R6.Proposal.AnnualAllocation.ResultsPerPage"))
    @Confluence.InputDropDown("20", "resultsPerPageAllocations", IDB.MW.Application.ESW_CIPModule.Enums.ESWCIPEnums.FilterResultsPerPage, required: false, width: "75%",
    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlRltdOpRltnshipType" } }, orderAsc: false)

    <br />
    <br />
</div>

<div id="PLGridProposal">

    <table id="tblAllocation" class="tableNormal beginSpacing" data-idb-fieldname="tblAllocation">
        <thead>
            <tr>
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.OperationNumber")</th>
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.Modality")</th>
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.OperationName")</th>
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.OperationYear")</th>
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.DepartmentDivision")</th>
                <th class="text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.RequestedAmount")</th>
                <th class="text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.AllocatedAmount")</th>
                <th class="text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.RevisedAmount")</th>
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.TeamLeader")</th>
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.RequestProposalCreation")</th>

                @if (ViewBag.OperationModality.Equals("ESW"))
                {
                    <th class="sort">@Localization.GetText("R6.Proposal.AnnualAllocation.StudiesCommittee")</th>
                }
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.Approval")</th>
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.Dismiss")</th>
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.Delete")</th>
                <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.ProposalStatus")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr data-id="@item.AnnualAllocationID" class="rowContent">
                    <td class="text-center">
                        @Confluence.Label(item.OperationNumber)
                    </td>
                    <td>@item.Modality</td>
                    <td>@item.OperationName</td>
                    <td class="text-center">@item.Year</td>
                    <td class="text-center">@item.DepartmentDivision</td>
                    <td class="text-right requestedAmount">@item.RequestedAmount</td>
                    <td class="text-right allocatedAmount">
                        <span data-pagemode="read">
                            @item.AllocatedAmount
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputDecimal(Convert.ToDecimal(item.AllocatedAmount), "AllocatedAmount", maxValue: "99999999.99", numberSeparator: ",", decimalSeparator: ".", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtAllocatedAmount" } }, required: false, htmlClass: "inputDecimal")
                        </span>
                    </td>
                    <td class="text-right revisedAmount">
                        <span data-pagemode="read">
                            @item.RevisedAmount
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputDecimal(Convert.ToDecimal(item.RevisedAmount), "RevisedAmount", maxValue: "99999999.99", numberSeparator: ",", decimalSeparator: ".", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtRevisedAmount" } }, required: false, htmlClass: "inputDecimal")
                        </span>
                    </td>
                    <td class="text-center">@item.TeamLeader</td>
                    <td class="text-center">
                        <span data-pagemode="read">
                            @Confluence.InputCheckbox(item.RequestProposalCreation, "RequestProposal", disabled: true)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputCheckbox(item.RequestProposalCreation, "RequestProposal", disabled: true)
                        </span>
                    </td>
                    @if (ViewBag.OperationModality.Equals("ESW"))
                    {
                        <td class="text-center">
                            <span data-pagemode="read">
                                @Confluence.InputCheckbox(item.StudiesCommittee, "StudiesCommite", disabled: true)
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputCheckbox(item.StudiesCommittee, "StudiesCommite", disabled: true)
                            </span>
                        </td>
                    }
                    <td class="text-center">
                        <span data-pagemode="read">
                            @Confluence.InputCheckbox(item.Approval, "Approval", disabled: true)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputCheckbox(item.Approval, "Approval", disabled: true)
                        </span>
                    </td>
                    <td class="text-center">
                        <span data-pagemode="read">
                            @Confluence.InputCheckbox(item.Dismiss, "Dismiss", disabled: true)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputCheckbox(item.Dismiss, "Dismiss", disabled: true)
                        </span>
                    </td>
                    <td class="text-center">
                        <span data-pagemode="read">
                            @Confluence.ButtonTrash(text: string.Empty, disabled: true,name: "Delete")
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.ButtonTrash(text: string.Empty, action: "deleteAnnualAllocation", name: "Delete", dataAttributes: new Dictionary<string, string> { { "annualAllocationId", item.AnnualAllocationID.ToString() } })
                            @Confluence.InputHidden(value: item.AnnualAllocationID.ToString(), name: "AnnualAllocationID", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "inputHiddenAnnualAllocationID" } })
                            @Confluence.InputHidden(value: item.OperationNumber, name: "OperationNumber", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "inputHiddenOperationNumber" } })
                        </span>
                    </td>

                    <td>
                        @Confluence.Label(item.ProposalStatus)
                        <span data-pagemode="edit">
                            @Confluence.InputHidden(value: item.ProposalStatusCode, name: "ProposalStatusCode")
                            @Confluence.InputHidden(value: "|", name: "Actions")
                            @Confluence.InputHidden(value: "false", name: "HasChanges")
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>

<script type="text/javascript">
    var isESW = "@ViewBag.OperationModality.Equals("ESW")" == "True";
</script>
