@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Areas.RiskMatrix.Models

@model RiskMatrixHeaderViewModel

<div class="contentFloats col-md-12">
    <div class="boxUser boxUserSimple col-md-2">
        <div>@Confluence.Label(Localization.GetText("RISK.PMR.CYCLE"))</div>
        @RiskMatrixHelpers.ShowValueHeader(Model.PmrCycle)
        <div class="mt10"></div>
        <div>@*@Confluence.Label("Risk Level")*@</div>
        <div>@*@Confluence.LabelBold("Medium")*@</div>
    </div>
    <div class="boxUser boxUserSimple col-md-2">
        <div>@Confluence.Label(Localization.GetText("RISK.CLASSIFICATION.VALUE"))</div>
        @RiskMatrixHelpers.ShowValueHeader(Model.EsgClassfication)
        <div class="mt10"></div>
        <div>@Confluence.Label(Localization.GetText("RISK.VALIDATION.STAGE"))</div>
        @RiskMatrixHelpers.ShowValueHeader(Model.PmrValidationStage)
    </div>
    <div class="boxUser boxUserSimple col-md-2">
        <div>@Confluence.Label(Localization.GetText("RISK.EXECUTING.AGENCY"))</div>
        @RiskMatrixHelpers.ShowExecutingAgencies(Model.ExecutingAgencies)
        <div class="mt10"></div>
        <div>@Confluence.Label(Localization.GetText("RISK.LAST.UPDATED"))</div>
        @RiskMatrixHelpers.ShowValueHeader(Model.LastUpdatedRisk.HasValue ? Model.LastUpdatedRisk.Value.ToString("dd MMM yyyy") : string.Empty)
    </div>
    <div class="boxUser boxUserSimple col-md-2">
        <div>@Confluence.Label(Localization.GetText("RISK.VALIDATED.CLASSIFICATION"))</div>
        @RiskMatrixHelpers.ShowValueHeader(Model.PmrValidatedClassification)
        <div class="mt10"></div>
        <div>@Confluence.Label(Localization.GetText("RISK.SAFEGUARD.PERFORMANCE"))</div>
        @RiskMatrixHelpers.ShowValueHeader(Model.SafeguardPerformance)
    </div>
</div>