@using IDB.Presentation.MVC4.Helpers
@using System.Configuration

@{
    MvcHelpers.ViewBag = ViewBag;
}

<!DOCTYPE html>
<html>
<head>
    <title>IDB</title>
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    @Styles.Render("~/Content/cssBase")
    @Styles.Render("~/Content/themes/base/cssBase")
    @Styles.Render("~/Content/Confluence")
    @Styles.Render("~/Content/overrides/procurementOverride.css")
    @Styles.Render("~/Content/DocumentManagement")
    @{Html.RenderPartial("~/Views/Shared/TrackingHeader.cshtml");}
</head>
<body>

    @Confluence.Loader()

    <section class="container-fluid">
        <div id="header-section">
            @RenderSection("Header", required: false)
        </div>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/scripts2")
    @Scripts.Render("~/bundles/DocumentManagement")
    @Scripts.Render("~/signalr/hubs")
    <script type="text/javascript">
        idbg.config.basePath = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
        idbg.config.baseSharePointAddress = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
        idbg.config.language = '@Localization.CurrentLanguage';
        idbg.init();
    </script>
    @Scripts.Render("~/Scripts/fieldbehavior.js")
    @RenderSection("scripts", false)
    @Html.WriteScriptBlocks()
    <script type="text/javascript">
        ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
        BIDConfig.CreateValidatorOnEdit = true;

        slideDownNotification(0, true, 3);
        hideLoader();

        function showLoading() {
            showLoaderOptional();
        }
    </script>
    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <script type="text/javascript">
            registerCallback(function () {
                showMessage("@ViewBag.ErrorMessage", false);
            });

        </script>
    }
    <section class="container-fluid">
        @RenderBody()
    </section>
    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
</body>
</html>