@{
    Layout = "~/Areas/OPUS/Views/Shared/_LayoutPreRelease.cshtml";
    ViewBag.HasWritePermission = true;
    const string idSearchBusinessRule = "SearchBusinessRule";
    const string idSearchRuleRadio = "SearchRule";
}

<div class="row mb25">
    <div class="col-md-9">
        @Confluence.LabelMainTitle("Business Rules Engine")
    </div>
    <div class="col-md-3 text-right">
        @Confluence.ButtonBlue("New Frontend Rule", "NewFrontendRule", dataNavigation: @Url.Action("FrontendBusinessRuleEditor", "View", new { editMode = "true" }))
        @Confluence.ButtonBlue("New Backend Rule", "NewBackendRule", dataNavigation: @Url.Action("BackendBusinessRuleEditor", "View", new { editMode = "true" }))
    </div>
</div>

<div class="row mb10">
    <div class="col-md-16">
        @Confluence.LabelBold("Search:")
    </div>
</div>
<div class="row mb0">
    <div class="col-md-1">
        @Confluence.InputRadioButton("code", idSearchRuleRadio, true, label: "Code", id: idSearchRuleRadio)
    </div>
    <div class="col-md-1">
        @Confluence.InputRadioButton("description", idSearchRuleRadio, label: "Description", id: idSearchRuleRadio)
    </div>
</div>
<div class="row mb30">
    <div class="col-md-4">
        @Confluence.InputText("", idSearchBusinessRule, width: "90%", id: idSearchBusinessRule)
        @Confluence.ButtonSearch(null, "SearchButton", "SearchRule")
    </div>
</div>

<div id="BusinessRulesList" class="page">
    @Html.Partial("Partials/BusinessRulesEngine/BusinessRulesEngineTablePartial")
</div>

@section scripts{
    <script type="text/javascript">
        function SearchRule() {
            var filter = $("#@idSearchBusinessRule").val();
            var searchRadio = $("#@idSearchRuleRadio:checked").val();
            $.get("SearchBusinessRules", { 'filter': filter, 'searchRadio': searchRadio }, function (data) {
                var resultSearchPanel = $('#BusinessRulesList');
                resultSearchPanel.html(data);
                bindHandlers(resultSearchPanel);
                $("#BusinessRulesList").paginationConfluense(10);
            });
        }

        @*function Redirect(source) {
            var url;
            if (source[0].name == "NewFrontendRule") {
                url = '@Url.Action("FrontendBusinessRuleEditor", "View")' + '?editMode=true';
            } else {
                url = '@Url.Action("BackendBusinessRuleEditor", "View")'+ '?editMode=true';
            }

            window.location.href = url;
        }*@
    </script>
}
