@using IDB.MW.Application.ESW_CIPModule.ViewModels;
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Domain.Values;
@using IDB.Architecture.Extensions;

@model List<ProposalListRowViewModel>

@{
    var isESW = Model.HasAny() && Model.First().ProposalType == OperationType.ESW;
}

<div id="PLGridProposal">
    <table id="tablaPaginationMission" class="tableNormal beginSpacing" data-idb-fieldname="tblPaginationMission">
        <thead>
            <tr>
                <th id="ProposalYear" class="sort">@Localization.GetText("R6.Proposal.ProposalList.ProposalYear")</th>
                <th class="sort">@Localization.GetText("R6.Proposal.ProposalList.Subtitleofproposal")</th>
                <th class="sort">@Localization.GetText("R6.Proposal.ProposalList.ProposalStatus")</th>
                <th class="sort">@Localization.GetText("R6.Proposal.ProposalList.LastUpdate")</th>
                <th class="sort">@Localization.GetText("R6.Proposal.ProposalList.CreationDate")</th>
                <th class="sort">@Localization.GetText("R6.Proposal.ProposalList.ApprovalDate")</th>
                <th class="sort">@Localization.GetText("R6.Proposal.ProposalList.Actions")</th>               
            </tr>
        </thead>
        <tbody>
            @foreach (ProposalListRowViewModel item in Model)
            {
                <tr data-id="ProposalId">
                    <td class="text-center">
                        <a href="@Url.Action(
                            "Proposal",
                            "View",
                            new
                            {
                                area = "ESW_CIP",
                                proposalOperationId = item.ProposalOperationId,
                                proposalYear = item.ProposalYear,
                                proposalType = item.ProposalType
                            })" 
                            data-idb-fieldname="hlViewESW_CIP">
                            @item.ProposalYear
                        </a> 
                    </td>  

                    <td>@item.ProposalSubtitle</td>
                    <td class="text-left">@item.ProposalStatus</td>
                    <td class="text-center">@FormatHelper.Format(item.ProposalLastUpdate)</td>
                    <td class="text-center">@FormatHelper.Format(item.ProposalCreationDate)</td>
                    <td class="text-center">@FormatHelper.Format(@item.ProposalApprovalDate)</td>
                    <td class="text-center">
                        <input type="hidden" id="hiddenProposalOperationId" value="@item.ProposalOperationId" />
                        <input type="hidden" id="hiddenProposalYear" value="@item.ProposalYear" />
                        <input type="hidden" id="hiddenProposalType" value="@item.ProposalType" />

                        @Confluence.ButtonWord(
                            "doc",
                            "downloadProposalByYear",
                            false,
                            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnDoc" } },
                            clase: "floatleft")

                        @Confluence.ButtonPdf(
                            "pdf",
                            "downloadProposalByYear",
                            false,
                            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnPdf" } },
                            clase: "floatleft")

                        @if (item.IsVpsKnowledgeWorkCoordinator)
                        {
                            @Confluence.ButtonBlue(
                                Localization.GetText("R6.Proposal.ProposalList.DeleteDiscard"),
                                null,
                                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnDeleteDiscard" } },
                                action: "deleteDiscard")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
	var isESW = '@isESW' == 'True';
</script>



