@using IDB.MW.Application.AdministrationModule.ViewModels.GenericCase

@model ApprovalViewModel

@Styles.Render("~/Content/Modules/AdministrationSecondPhase/GenericCase/main.css")
@Scripts.Render("~/Scripts/AdministrationSecondPhase/GenericCases/Approvals")

<div class="row mb50">
    @Confluence.LabelMainTitle(Localization.GetText("AP.GC.Approvals.Title"))
</div>
<div class="row mb100"
     id="aditional-data"
     data-parsley-validate="data-parsley-validate">
    <div class="col-md-4">
        @Confluence.LabelsGroup(
        title: Localization.GetText("COMMON.OperationNumber"),
        contentAlways: Confluence.InputDropDownAsync(
            value: null,
            name: "operation-number",
            clearTextOnNoResult: true,
            required: true,
            minCharacter: 4,
            placeholder: Localization.GetText("AP.GC.Placeholder.OperationNumber"),
            resetOnClick: false,
            width: "100%",
            searchUrl: Url.Action(
                "GetOperationNumbers",
                "GenericCasesView",
                new { area = "AdministrationSecondPhase" }),
            dataAttributes: new Dictionary<string, string> {
                { "field-name", "OperationId" }
            }),
        asterisk: true)
    </div>
    <div class="col-md-4">
        @Confluence.LabelsGroup(
        title: Localization.GetText("OP.AP.FundName"),
        contentAlways: Confluence.InputDropDown(
            value: null,
            name: "funds-name",
            elements: null,
            required: true,
            width: "100%",
            dataAttributes: new Dictionary<string, string> {
                {
                    "url",
                    Url.Action(
                        "GetFundsOperation",
                        "GenericCasesView",
                        new { area = "AdministrationSecondPhase" })
                },
                { "field-name", "FundId" }
            }),
        asterisk: true)
    </div>
    <div class="col-md-4">
        <div class="LabelsGroup">
            <label class="lgTit mb15">
                @Localization.GetText("OP.AP.Transaction")
                @Confluence.LabelAsterisk()
            </label>
            <div class="lgCont">
                @Confluence.InputRadioButton(
                    value: null,
                    name: "transaction-type",
                    id: "transaction-type-approvals",
                    isChecked: false,
                    required: true,
                    label: Localization.GetText("OP.AP.Approvals"),
                    htmlClass: "mr40 mb5",
                    dataAttributes: new Dictionary<string, string>
                    {
                        { "field-name", "TransactionType" },
                        { "keep", "false" }
                    })
                @Confluence.InputRadioButton(
                    value: null,
                    name: "transaction-type",
                    id: "transaction-type-increase",
                    isChecked: false,
                    required: true,
                    label: Localization.GetText("OP.AP.Increase"),
                    htmlClass: "mr40 mb5")
            </div>
        </div>
    </div>
</div>

@Html.Partial("Partial/_ApprovalFields", Model)
@Html.Partial("Partial/_DataPatchData")

<div class="row pull-right">
    <div>
        @Confluence.ButtonBlue(
            text: Localization.GetText("CM.Button.ClearAll"),
            name: "clear-all",
            action: "clearAll")
        @Confluence.ButtonOrange(
            text: Localization.GetText("CM.Button.Execute"),
            name: "execute",
            action: "execute",
            dataAttributes: new Dictionary<string, string> {
                { "url", Url.Action(actionName: "ExecuteApproval") }
            })
    </div>
</div>