@using IDB.MVCControls.DataTable.Helpers

@model List<IDB.MW.Application.AdministrationModule.ViewModels.Delegation.TableDelegationSearchViewModel>

<div id="tableDelegationContent">

    <table id="DelegationTable" class="tableNormal beginSpacing mb10" data-idb-fieldname="DelegationTable">
        <thead>
            <tr>
                <th class="sort col-md-1 text-center">@Localization.GetText("OP.DE.RE.Table.DelegatorAuhtorizerUsername")</th>
                <th class="sort col-md-1 text-center">@Localization.GetText("OP.DE.RE.Table.AssignedUserName")</th>
                <th class="sort col-md-1 text-center">@Localization.GetText("OP.DE.RE.Table.Reason")</th>
                <th class="sort col-md-1 text-center" order-type="date">@Localization.GetText("OP.DE.RE.Table.StartDate")</th>
                <th class="sort col-md-1 text-center" order-type="date">@Localization.GetText("OP.DE.RE.Table.EndDate")</th>
                <th class="sort col-md-1 text-center">@Localization.GetText("OP.DE.RE.Table.ProcessedDate")</th>
                <th class="sort col-md-1 text-center">@Localization.GetText("OP.DE.RE.Table.OperationNumber")</th>
                <th class="sort col-md-1 text-center">@Localization.GetText("OP.DE.RE.Table.AssignedRole")</th>
                <th class="sort col-md-1 text-center">@Localization.GetText("OP.DE.RE.Table.Modules")</th>
                <th class="sort col-md-1 text-center">@Localization.GetText("OP.DE.RE.Table.Workflows")</th>
                <th class="sort col-md-1 text-center">@Localization.GetText("OP.DE.SE.RE.Table.OrganizationalUnit")</th>
                <th class="col-md-1 text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr data-id="@item.DelegationId" class="rowContent">
                    <td>
                        @Confluence.ButtonLink(item.DelegatorUsername, dataNavigation: Url.Action(controllerName: "DelegationView", actionName: item.IsAuthorizeAll ? "AuthorizeAll" : "Delegation", routeValues: new { delegationId=item.DelegationId }))
                    </td>
                    <td>
                        @Confluence.Label(item.AssignedUserUsername)
                    </td>
                    <td>
                        @Confluence.Label(item.Reason)
                    </td>
                    <td>
                        @Confluence.LabelGetDate(item.StartDate)
                    </td>
                    <td class="endDate">
                        @Confluence.LabelGetDate(item.EndDate)
                    </td>
                    <td class="endDate">
                        @Confluence.LabelGetDate(item.ProcessedDate)
                    </td>
                    <td>
                        @Confluence.Label(
                            item.OperationNumber != null && item.OperationNumber.Length > 150 ? 
                                item.OperationNumber.Substring(0, 150) + "..." : 
                                item.OperationNumber, tooltip: item.OperationNumber)
                    </td>
                    <td>
                        <div>
                            <label class="labelNormal" data-toggle="popover" data-placement="top" data-content="@(item.AssignedRole)">
                                @(item.AssignedRole != null && item.AssignedRole.Length > 150 ?
                                    item.AssignedRole.Substring(0, 150) + "..." :
                                    item.AssignedRole)
                        </label>
                    </div>
                    </td>
                    <td>
                        <div>
                            <label class="labelNormal" data-toggle="popover" data-placement="top" data-content="@(item.Modules)">
                                @(item.Modules != null && item.Modules.Length > 150 ?
                                    item.Modules.Substring(0, 150) + "..." :
                                    item.Modules)</label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label class="labelNormal" data-toggle="popover" data-placement="top" data-content="@(item.Workflows)">
                                @(item.Workflows != null && item.Workflows.Length > 150 ?
                                    item.Workflows.Substring(0, 150) + "..." :
                                    item.Workflows)
                        </label>
                    </div>
                    </td>
                    <td>
                        <div>
                            <label class="labelNormal" data-toggle="popover" data-placement="top" data-content="@(item.OrganizationalUnit)">
                                @(item.OrganizationalUnit != null && item.OrganizationalUnit.Length > 150 ?
                                    item.OrganizationalUnit.Substring(0, 150) + "..." :
                                    item.OrganizationalUnit)
                            </label>
                        </div>
                    </td>
                    <td>
                        @if (DateTime.Now.Date < item.EndDate.Date && item.IsEditable)
                        {
                            @Confluence.ButtonWhite(@Localization.GetText("OP.DE.RE.Table.ExpireNow"), "expireNow", "expireNow" )
                            @Confluence.InputHidden(item.DelegationId.ToString(), name: "delegationToBeExpiredId")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>