@using System.Globalization

@using IDB.MW.Application.CountryStrategyModule.ViewModels.StatusSearch
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Application.CountryStrategyModule.Messages.StatusSearch
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@model StatusSearchViewModel

@{
    ViewBag.showLoader = true;
    ViewBag.fixLoad = true;
}

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;

    var expiredTable = Html.RenderDataTable<RowStatusViewModel>();
    expiredTable.TableClass = "tableNormal";
    expiredTable.Name("expiredTable")
    .PrimaryKey(m => m.ProductNumber.ToString(CultureInfo.InvariantCulture))
    .AddPrimaryKeyToName(false)
    .UseDataTableNet(true)
    .Paginable(true)
    .UsePageMode(false)
    .PageSize(10)
    .AjaxLoadUrl(Url.Action("SearchExpiredTable", "StatusSearch", new { area = "CountryStrategy" }))
    .CustomFilterAjax("getFilters")
    .Columns(columns =>
    {
        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.ProductNumber"))
        .Attribute("style", x => "width:90px;");

        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.CountryStrategyName"));

        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.FirstPartOfCDCFinalized"));

        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.CDCPeerReviewMeeting"));

        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.OverviewPaperPCM"));

        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.CPEDraftDeliveredToVPC"));

        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.QRR"));

        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.CSPCM"));

        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.CSPCB"));

        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.CSCommiteeOfTheWhole"));

        columns.Bound(c => string.Empty)
        .Persistent()
        .Header(Localization.GetText("CS.StatusSearch.CSMonitoringExercise"));
    });

    expiredTable.UseCustomHeader = true;
    expiredTable.CustomHeader = (@<thead>
        <tr>
            <th colspan="2">
                @Localization.GetText("CS.StatusSearch.BasicInformation").HtmlEncode()
            </th>
            <th colspan="5">
                @Localization.GetText("CS.StatusSearch.PreparationProcess").HtmlEncode()
            </th>
            <th colspan="3">
                @Localization.GetText("CS.StatusSearch.ApprovalProcess").HtmlEncode()
            </th>
            <th colspan="1">
                @Localization.GetText("CS.StatusSearch.Monitoring").HtmlEncode()
            </th>
        </tr>
        <tr>
            <th>@Localization.GetText("CS.StatusSearch.ProductNumber")</th>
            <th>@Localization.GetText("CS.StatusSearch.CountryStrategyName")</th>
            <th>@Localization.GetText("CS.StatusSearch.FirstPartOfCDCFinalized")</th>
            <th>@Localization.GetText("CS.StatusSearch.CDCPeerReviewMeeting")</th>
            <th>@Localization.GetText("CS.StatusSearch.OverviewPaperPCM")</th>
            <th>@Localization.GetText("CS.StatusSearch.CPEDraftDeliveredToVPC")</th>
            <th>@Localization.GetText("CS.StatusSearch.QRR")</th>
            <th>@Localization.GetText("CS.StatusSearch.CSPCM")</th>
            <th>@Localization.GetText("CS.StatusSearch.CSPCB")</th>
            <th>@Localization.GetText("CS.StatusSearch.CSCommiteeOfTheWhole")</th>
            <th>@Localization.GetText("CS.StatusSearch.CSMonitoringExercise")</th>
        </tr>
    </thead>);
}
<div class="row mb30">
    <div class="col-md-12">
        @Confluence.LabelMainTitle(Localization.GetText("CS.StatusSearch.Title"))
    </div>
</div>
<div class="page">
    <div class="hiden">
        @Display.AddModalButton(new ModalViewModel(
                            contentSelector: string.Empty,
                            title: Localization.GetText("CS.StatusSearch.DocumentLinkListPopupTitle"),
                            type: CssClass.ModalInformationNoIcon,
                            typeButton: "hide",
                            moveOriginalContent: true,
                            name: "documentPopupButton",
                            closeOnOverlay: false,
                            allowClose: true,
                            actionOnClose: "")
                 .AddButton(name: "documentPopupButtonCancel",
                            text: Localization.GetText("COMMON.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: ""))
    </div>
    <div class="row mb30">
        <div class="col-md-12 searchPanel">
            @Html.Partial("ReadPartial/SearchPanel", Model.Filter)
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-6">
            <div class="col-md-12">@Confluence.Label(Localization.GetText("CS.StatusSearch.LegendStatusInformation"), htmlClass: "legendStatusInformation")</div>
            <div class="col-md-12">@Confluence.Label(Localization.GetText("CS.StatusSearch.BoldLegend"), htmlClass: " legendFontStyle")</div>
            <div class="col-md-12">@Confluence.Label(Localization.GetText("CS.StatusSearch.GrayLegend"), htmlClass: " legendFontStyle")</div>
            <div class="col-md-12">@Confluence.Label(Localization.GetText("CS.StatusSearch.YellowLegend"), htmlClass: " legendFontStyle")</div>
        </div>
        <div class="col-md-6 text-right">
            @Html.Partial("ReadPartial/Buttons")
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12" data-section="NonPagedTables">
            @Html.Partial("ReadPartial/NonPagedTables", Model.Tables)
        </div>
    </div>
    <div class="hide" data-section="expired">
        @if (Model.Tables.Approved != null)
        {
            <div class="row mb10">
                <div class="col-md-12">
                    @Confluence.Label("", htmlClass: "totalExpired")
                    @Confluence.Label(Localization.GetText("CS.StatusSearch.Results"))
                    @Confluence.LabelTitleGroup(Localization.GetText("CS.StatusSearch.Expired"))
                </div>
            </div>
            <div class="row mb30">
                <div class="col-md-12">
                    @Html.Partial("Controls/DataTable", expiredTable)
                </div>
            </div>
        }
    </div>
    <div class="row mb40">
        <div class="col-md-12 mb10">
            @Confluence.Label(Localization.GetText("CS.StatusSearch.Legend"), htmlClass: "legend")
        </div>
        <div class="col-md-6">
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.FirstPartOfCDCFinalized"), htmlClass: "legendFontStyle legendTitle")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.FirstPartOfCDCFinalizedLegend"), htmlClass: "legendFontStyle ")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CDCPeerReviewMeeting"), htmlClass: "legendFontStyle legendTitle")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CDCPeerReviewMeetingLegend"), htmlClass: "legendFontStyle ")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.OverviewPaperPCM"), htmlClass: "legendFontStyle legendTitle")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.OverviewPaperPCMLegend"), htmlClass: "legendFontStyle ")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CPEDraftDeliveredToVPC"), htmlClass: "legendFontStyle legendTitle")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CPEDraftDeliveredToVPCLegend"), htmlClass: "legendFontStyle ")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.QRR"), htmlClass: "legendFontStyle legendTitle")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.QRRLegend"), htmlClass: "legendFontStyle ")</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CSPCM"), htmlClass: "legendFontStyle legendTitle")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CSPCMLegend"), htmlClass: "legendFontStyle ")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CSPCB"), htmlClass: "legendFontStyle legendTitle")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CSPCBLegend"), htmlClass: "legendFontStyle ")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CSCommiteeOfTheWhole"), htmlClass: "legendFontStyle legendTitle")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CSCommiteeOfTheWholeLegend"), htmlClass: "legendFontStyle ")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CSVP"), htmlClass: "legendFontStyle legendTitle")</p>
            </div>
            <div class="col-md-12 paddingLeft0px">
                <p>@Confluence.Label(Localization.GetText("CS.StatusSearch.CSVPLegend"), htmlClass: "legendFontStyle ")</p>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @CountryStrategyCommon.StatusSearchNavigationRead(Url)

    <script type="text/javascript">
        registerCallback(function () {

            $(document).on('draw.dt', '#expiredTable', function () {
                var source = $('#expiredTable');
                var trs = source.find('tbody tr');
                trs.removeClass('custom-odd');
                trs.removeClass('custom-even');
                trs.removeClass('odd');
                trs.removeClass('even');
                source.find('tbody tr:even').addClass('even');
                source.find('tbody tr:even').addClass('custom-even');
                source.find('tbody tr:odd').addClass('odd');
                source.find('tbody tr:odd').addClass('custom-odd');
            });


            $(document).on('click', '[data-activityItem-id]', function (e) {
                e.preventDefault();

                var source = $(this);
                var id = source.attr('data-activityItem-id');
                var modalSelector = String.format('[data-activityitem-popup="{0}"]', id);
                var modalButton = $('[name=documentPopupButton]');
                var myCell = source.parent();
                myCell.addClass('myCell');
                var columnNumber = findMyColumn(source);
                myCell.removeClass('myCell');
                var table = source.closest('table');
                var headers = $(table.find('thead').find('tr')[1]);
                var myColumn = headers.find('th')[columnNumber];
                var titleModified = '@(Localization.GetText("CS.StatusSearch.DocumentLinkListPopupTitle")) ' + $(myColumn).text();

                modalButton.attr('data-new-modal', modalSelector);
                modalButton.attr('data-new-modal-title', titleModified);
                modalButton.click();
            });

            $(document).off('click', '[data-navigate]');
            $(document).on('click', '[data-navigate]', function () {
                var source = $(this);
                var url = source.attr('data-navigate');
                window.parent.location.assign(url);
            });

            $(document).on('click', '[name="documentLink"]', function (e) {
                e.preventDefault();
                var source = $(this);
                var url = source.attr('href');
                window.open(url, '_blank');
            });

        });

        function findMyColumn(source) {
            var cells = source.parent().parent().find('td');
            var columnNumber = 0;

            for (var i = 0; i < cells.length; i++) {
                var cell = $(cells[i]);
                if (cell.hasClass('myCell')) {
                    return columnNumber;
                } else {
                    columnNumber++;
                }
            }
        }
    </script>
}