@using IDB.Presentation.MVC4.Areas.PMI.Controllers

@model IDB.MW.Domain.Models.Supervision.PMI.BasicPMIDetailsModel

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/PMI/StageFour/MessagePopup.js")">
</script>
@{
    var Code = string.Empty;
    string titleDescription = Model.IsLiveMode ? "PMR Live" : "PMR Cycle";
    const int _year = 2016;
    const string _cycle = "S";

    var title = Localization.GetText("PMI.PopUp.Text.MarchCycle");
    var message = Localization.GetText("PMI.PopUp.Title.SeptemberCycle");


    if (Model.CycleYear >= _year && Model.CycleTypeCode.ToUpper() == _cycle)
    {
        title = Localization.GetText("PMI.HeaderNote.PopUpSeptemberCycle");
        message = Localization.GetText("PMI.PopUp.Title.SeptemberCycle");
    }

    bool isSpecialOperation = StageController.IsSpecialOperation(Model.OperationTypes);
    bool isSpecialOperationOrSUPNoRelation = StageController.IsSpecialOperationOrSUPWithoutRelation(
        Model.OperationId);

    <script type="text/javascript">
        popUpByCycle("@title", "@message")
    </script>

}

<script type="text/javascript">

    $(document).ready(function () {
        hideElmentForCycleSep();
        var image = $(".data5.imagePreview");
        var validateclassification = $(".data5.validatedClassification");
        var classificationNote = $(".data5.classificationNote");
        var imagecloseNote = $('#imgCloseText');
        image.click(function() {

            if(validateclassification.is(":visible")){
                validateclassification.hide();
            }
            if(!classificationNote.is(":visible")){
                classificationNote.show();
            }

        });
        imagecloseNote.click(function() {
            validateclassification.show();
            if(classificationNote.is(":visible")){
                classificationNote.hide();
            }
            image.show();
            

        });

    });

    function hideElmentForCycleSep() {
        var year = @Model.CycleYear;
        var cycleTypeCode = "@Model.CycleTypeCode.ToUpper()";
        if (year >= 2016 && cycleTypeCode == "S") {
            hideDraftClassification();
        }
    }

    function hideDraftClassification(){
        var labelDraftClassification = $(".data5.draftClassification");
        if( labelDraftClassification.is(":visible")){
            labelDraftClassification.hide();
        }
    }

</script>
<input id="PmiCycleId" type="hidden" value="@Model.CycleId" />

@if (isSpecialOperation)
{
    <h3 id="pageTitle" class="headingh2">
        @Localization.GetText("Monitoring Indicators") - @titleDescription
    </h3>
    <input data-route="@Url.Content("~/Content/images/Popup.png")"
           data-title="Draft SI and Draft Classification"
           style="margin-top: 25px; width: 0; margin-left: 16px; cursor: pointer;"
           class="informationStatement leftPadding40 lnkModal"
           readonly="readonly">


    <div class="operationData">
        <div class="data5">
            <p class="dataTitle">@Localization.GetText("Stage")</p>
            <p>@Model.Stage</p>
        </div>
        <div class="data5">
            <p class="dataTitle">@Localization.GetText("Draft Synthetic Indicator")</p>
            <p>@Localization.GetText("N/A")</p>
        </div>
        @if (Model.CycleYear >= _year && Model.CycleTypeCode.ToUpper() == _cycle)
        {
            <span class="verticalAlignMiddle"></span>
        }
        else
        {
            <div class="data5">
            @if(!isSpecialOperationOrSUPNoRelation)
            {
                <p class="dataTitle">@Localization.GetText("Draft Classification")</p>
                <p>
                    <span class="classification inline-block verticalAlignMiddle marginRight3"></span>
                    <span class="verticalAlignMiddle">
                        @Localization.GetText("N/A")
                    </span>
                </p>
            }
            </div>
            <div class="data5">
            @if (!isSpecialOperationOrSUPNoRelation)
            {
                <p class="dataTitle">@Localization.GetText("Validated Classification")</p>
                <p>
                    <span class="classification inline-block verticalAlignMiddle marginRight3"></span>
                    <span class="verticalAlignMiddle">
                        @Localization.GetText("N/A")
                    </span>
                </p>
            }
                <p><span class="verticalAlignMiddle"></span></p>
            </div>
        }
    </div>
    <style>
        .mod_tabs03 ul .itemList {
            padding: 0.662em 1.615em !important;
        }
    </style>
        var s1Active = Model.StageNumber == 1 ? "active" : string.Empty;
        var s2Active = Model.StageNumber == 2 ? "active" : string.Empty;
        var s3Active = Model.StageNumber == 3 ? "active" : string.Empty;
        var s4Active = Model.StageNumber == 4 ? "active" : string.Empty;
        <div>
            <nav class="mod_tabs03 w95 paddingBottom2">
                <ul>
        @{
            if ((Model.IsLiveMode && Model.LastStageValueAchieved >= 1) || Model.LastStageValueAchieved == 1)
            {
                <li>
                    <a id="fromApprovalToElegibility"
                        title=""
                        href="@Url.Action("Index", "StageOne", new { area = "PMI", operationNumber = Model.OperationNumber, isLive = Model.IsLiveMode })"
                        class="itemList @s1Active " onclick="idbg.lockUi(null,true);">
                        @Localization.GetText("From Approval to Eligibility")
                    </a>
                </li>
            }
            if ((Model.IsLiveMode && Model.LastStageValueAchieved >= 2) || Model.LastStageValueAchieved == 2)
            {
                <li style="min-width: 0px;">
                    <a id="afterElegibility"
                       title=""
                       href="@Url.Action("Index", "StageTwo", new { area = "PMI", operationNumber = Model.OperationNumber, isLive = Model.IsLiveMode })"
                       class="itemList @s2Active" onclick="idbg.lockUi(null,true);">
                        @Localization.GetText("After Eligibility")
                    </a>
                </li>
            }
            if ((Model.IsLiveMode && Model.LastStageValueAchieved >= 3) || Model.LastStageValueAchieved == 3)
            {
                <li>
                    <a id="afterReaching95"
                        title=""
                        href="@Url.Action("Index", "StageThree", new { area = "PMI", operationNumber = Model.OperationNumber, isLive = Model.IsLiveMode })"
                        class="itemList  @s3Active"
                        onclick="idbg.lockUi(null,true);">
                        @Localization.GetText("After Operation Reaches 95% of total Disbursements")
                    </a>
                </li>
            }
            if (!Model.IsLiveMode)
            {
                <li>
                    <a id="validationProcessStatus"
                       title="" href="@Url.Action("Index", "StageFour", new { area = "PMI", operationNumber = Model.OperationNumber, isLive = Model.IsLiveMode })"
                       class="itemList  @s4Active"
                       onclick="idbg.lockUi(null,true);">
                        @Localization.GetText("Validation process status")
                    </a>
                </li>
            }
        }
                </ul>
            </nav>
        </div>
}
else
{

    <h3 id="pageTitle" class="headingh2">
        @Localization.GetText("Monitoring Indicators") - @titleDescription
    </h3>
    <input data-route="@Url.Content("~/Content/images/Popup.png")"
           data-title="Draft SI and Draft Classification"
           style="margin-top: 25px; width: 0; margin-left: 16px; cursor: pointer;"
           class="informationStatement leftPadding40 lnkModal"
           readonly="readonly">

    <div class="operationData">
        <div class="data5">
            <p class="dataTitle">@Localization.GetText("Stage")</p>
            <p>@Localization.GetText(Model.Stage)</p>
        </div>
        <div class="data5">
            <p class="dataTitle">@Localization.GetText("Draft Synthetic Indicator")</p>
            <p>@(Model.SyntheticIndicator > 0 ? Model.SyntheticIndicator + "" : "N/A")</p>
            @if (@ViewBag.firstDisbursement < 2012)
            {
                <p class="dataTitle">
                    @Localization.GetText("The first disbursement of this operation was before 2012, the CPI and SPI are not calculated")
                </p>
            }
        </div>
        @if (!isSpecialOperationOrSUPNoRelation)
        {
            if (Model.CycleYear >= _year && Model.CycleTypeCode.ToUpper() == _cycle)
            {
            <div class="data5 draftClassification" style="display: none;">
                <p class="dataTitle">@Localization.GetText("Draft Classification")</p>
                @if (Model.Classification == null)
                {
                    <p>
                        <span class="classification inline-block verticalAlignMiddle marginRight3"></span>
                        <span class="verticalAlignMiddle">@Localization.GetText("N/A")</span>
                    </p>
                }
                else
                {
                    <p>
                        <span class="classification @Model.Classification.ToLower() inline-block verticalAlignMiddle marginRight3"></span>
                        <span class="verticalAlignMiddle">@Localization.GetText(Model.Classification)</span>
                    </p>
                }
            </div>
            <div class="data5 validatedClassification" style="width:10%">
                <p class="dataTitle">@Localization.GetText("Validated Classification")</p>
            </div>
            <div class="data5 validatedClassification" style="">
                <div class="data5 imagePreview" style="margin-top: 0.3em;width: 5%;">
                    <img id="imgMediaFile" style="width:30px;" src="~/Content/images/semaphore.png" /><br />
                </div>
            </div>
            <div class="data5 classificationNote" style="display:none;">
                <p class="dataTitle">@Localization.GetText("Validated Classification")</p>
                @if (Model.LastValidatedClassification != null)
                {
                    <p>
                        <span class="classification @Model.LastValidatedClassification.ToLower() inline-block verticalAlignMiddle marginRight3"></span>
                        <span class="verticalAlignMiddle">@Localization.GetText(Model.LastValidatedClassification)</span>
                    </p>
                }
                else
                {
                    <div></div>
                }

                <div class="noteHeader" style="background: #f6f7f8; font: normal 14px 'OpenSans';
                         color: #333333; float: left;margin-top: 8px;">
                    <img id="imgCloseText" style="width:20px;float:right;filter: alpha(opacity=60);-moz-opacity: 0.6;
                        opacity: 0.6;" src="~/Images/icons/btn-delete.png" />
                    <p style="padding:20px;text-align:justify;text-justify:auto;">
                        @Localization.GetText("PMI.HeaderNote.SeptemberCycle")
                    </p>
                </div>
            </div>
            }
            else
            {
            <div class="data5">
                <p class="dataTitle">@Localization.GetText("Draft Classification")</p>
                @if (Model.Classification == null)
                {
                    <p>
                        <span class="classification inline-block verticalAlignMiddle marginRight3"></span>
                        <span class="verticalAlignMiddle">@Localization.GetText("N/A")</span>
                    </p>
                }
                else
                {
                    <p>
                        <span class="classification @Model.Classification.ToLower() inline-block verticalAlignMiddle marginRight3"></span>
                        <span class="verticalAlignMiddle">@Localization.GetText(Model.Classification)</span>
                    </p>
                }
            </div>
            <div class="data5">
                <p class="dataTitle">@Localization.GetText("Validated Classification")</p>
                @if (Model.LastValidatedClassification != null)
                {
                    <p>
                        <span class="classification @Model.LastValidatedClassification.ToLower() inline-block verticalAlignMiddle marginRight3"></span>
                        <span class="verticalAlignMiddle">@Localization.GetText(Model.LastValidatedClassification)</span>
                    </p>
                    <p><span class="verticalAlignMiddle">@Model.CycleName</span></p>
                }

            </div>
            }
        }
    </div>
    <style>
        .mod_tabs03 ul .itemList {
            padding: 0.662em 1.615em !important;
        }
    </style>

var s1Active = Model.StageNumber == 1 ? "active" : string.Empty;
var s2Active = Model.StageNumber == 2 ? "active" : string.Empty;
var s3Active = Model.StageNumber == 3 ? "active" : string.Empty;
var s4Active = Model.StageNumber == 4 ? "active" : string.Empty;

<div>
    <nav class="mod_tabs03 w95 paddingBottom2">
        <ul>
@{
    if((Model.IsLiveMode && Model.LastStageValueAchieved >= 1) || Model.LastStageValueAchieved == 1)
    {
            <li>
                <a id="fromApprovalToElegibility"
                    title=""
                    href="@Url.Action("Index", "StageOne", new { area = "PMI", operationNumber = Model.OperationNumber, isLive = Model.IsLiveMode })"
                    class="itemList @s1Active "
                    onclick="idbg.lockUi(null,true);">
                    @Localization.GetText("From Approval to Eligibility")
                </a>
            </li>
    }
    if ((Model.IsLiveMode && Model.LastStageValueAchieved >= 2) || Model.LastStageValueAchieved == 2)
    {
            <li style="min-width: 0px;">
                <a id="afterElegibility"
                   title=""
                   href="@Url.Action("Index", "StageTwo", new { area = "PMI", operationNumber = Model.OperationNumber, isLive = Model.IsLiveMode })"
                   class="itemList @s2Active"
                   onclick="idbg.lockUi(null,true);">
                    @Localization.GetText("After Eligibility")
                </a>
            </li>
    }
    if ((Model.IsLiveMode && Model.LastStageValueAchieved >= 3) || Model.LastStageValueAchieved == 3)
    {
            <li>
                <a id="afterReaching95"
                    title=""
                    href="@Url.Action("Index", "StageThree", new { area = "PMI", operationNumber = Model.OperationNumber, isLive = Model.IsLiveMode })"
                    class="itemList  @s3Active"
                    onclick="idbg.lockUi(null,true);">
                    @Localization.GetText("After Operation Reaches 95% of total Disbursements")
                </a>
            </li>
    }
    if (!Model.IsLiveMode)
    {
            <li>
                <a id="validationProcessStatus"
                    title=""
                    href="@Url.Action("Index", "StageFour", new { area = "PMI", operationNumber = Model.OperationNumber, isLive = Model.IsLiveMode })"
                    class="itemList  @s4Active"
                    onclick="idbg.lockUi(null,true);">
                    @Localization.GetText("Validation process status")
                </a>
            </li>
    }
}
        </ul>
    </nav>
</div>
}