@using System.Globalization
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General
@using IDB.MW.Domain.Session
@using IDB.MW.Application.CountryStrategyModule.ViewModels.ProductProfile

@model  BasicDataViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
}

@Confluence.InputHidden(ViewBag.SerializedBasicDataViewModel, name: "hideBasicDataViewModel")

<div class="grouping-section">
    <div class="col-md-8">
        <label class="lbltitle">@Localization.GetText("CS.ProductData.GeneralInformation")</label>
    </div>
    <div class="col-md-4">
        <label class="lbltitle pl16">@Localization.GetText("CS.ProductData.CountryStrategyUpdate")</label>
    </div>
</div>
<div class="grouping-section">
    <div class="col-md-4 lineGrayRight">
        <div class="col-md-12 lblcontent">
            @Localization.GetText("CS.ProductData.ProductType")
        </div>
        <div class="col-md-12 lblvalue">
            @Confluence.LabelBold(Model.ProductType)
        </div>
        <div data-idb-fieldname="ddlOperationYear">
            <div class="col-md-12 lblcontent">
                @Localization.GetText("CS.ProductData.ProductYear")@Confluence.LabelAsterisk()
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.InputNumber(Model.ProductYear, "ProductYear", minValue: "0", maxValue: "9999", required: true, disabled: !(IDBContext.Current.HasPermission(Permission.CS_PRODUCT_YEAR_WRITE)), dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "cs-product-year-edit-control" } })
            </div>
        </div>
        <div data-idb-fieldname="ddlSector">
            <div class="col-md-12 lblcontent">
                @Confluence.Label(Localization.GetText("CS.ProductData.Country"))
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.Country)
            </div>
        </div>
        <div data-idb-fieldname="ddlSubSector">
            <div class="col-md-12 lblcontent">
                @Confluence.Label(Localization.GetText("CS.ProductData.CountryDepartment"))
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.CountryDepartament)
            </div>
        </div>
    </div>
    <div class="col-md-4 pl16 lineGrayRight">
        <div class="col-md-12 lblcontent">
            @Localization.GetText("CS.ProductData.MBFCode")
        </div>
        <div class="col-md-12 lblvalue">
            @Confluence.LabelBold(Model.MBFCode)
        </div>
        <div class="col-md-12 lblcontent">
            @Localization.GetText("CS.ProductData.ValidPeriod")
        </div>
        <div class="col-md-12 lblvalue">
            @Confluence.LabelBold(Model.ValidPeriod)
        </div>
        <div class="col-md-12 lblcontent">
            @Localization.GetText("CS.ProductData.GN.Document.Number")@Confluence.LabelAsterisk()
        </div>
        <div class="col-md-12 lblvalue">
            @Confluence.InputText(Model.GNDocumentNumber, "gnDocumentNumber", required: true, maxLength: 10)
        </div>
    </div>
    <div class="col-md-4 pl16">
        <div class="col-md-12 lblcontent">
            @Localization.GetText("CS.ProductData.UpdateDate")
        </div>
        <div class="col-md-12 lblvalue">
            @Confluence.LabelBold(Model.UpdateDate)
        </div>
        <div class="col-md-12 lblcontent">
            @Localization.GetText("CS.ProductData.Justification")
        </div>
        <div class="col-md-12 lblvalue">
            @Confluence.InputTextArea(Model.Justification, "justification", required: false, maxLength: 1000, height: "80px")
        </div>
    </div>
</div>
<div class="grouping-section">
    <div class="col-md-4 lineGrayRight">
        <div class="col-md-12 lblcontent">
            @Localization.GetText("CS.ProductData.Modality")
        </div>
        <div class="col-md-12 lblvalue">
            @Confluence.LabelBold(Model.ProductModality)
        </div>
        @if (Model.CPDsRelated.Any())
        {
            <div class="col-md-12 lblcontent">
                @Localization.GetText("CS.ProductData.CPDsRelated")
            </div>
            <div class="col-md-12">
                @foreach (var operationRelated in Model.CPDsRelated)
                {
                    <div class="mb5">
                        @Confluence.LabelLink(operationRelated.Item1,
                                      "link-CPDOperationNumber",
                                      htmlClass: "text-left",
                                      dataAttributes:
                                      new Dictionary<string, string> {
                                              { "operationNumber", operationRelated.Item2 }
                                      })
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-4 pl16 lineGrayRight">
    </div>
    <div class="col-md-4 pl16">
    </div>
</div>
<div class="mb20">
    @Html.Partial("EditPartial/OperationName", Model)
</div>
