@using IDB.MW.Application.CountryStrategyModule.ViewModels.ProductProfile
@model  BasicDataViewModel

<div class="row row-header asdasd">
    <div class="col-md-12 subtitleGroup">
        @Localization.GetText("CS.ProductData.CountryStrategyTitle")
        @Confluence.LabelAsterisk()
    </div>
</div>

<div class="boxlanguage">
    <div class="floatLeft">
        <ul>
            <li dd-lang="en" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">EN</label>
                </span>
                <span class="asteriskColor">*</span>
                <span class="glyphicon glyphicon-play"></span>
            </li>
            <li dd-lang="es" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">ES</label>
                </span>
                <span class="asteriskColor">*</span>
                <span class="glyphicon"></span>
            </li>
            <li dd-lang="pt" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">PT</label>
                </span>
                <span class="glyphicon"></span>
            </li>
            <li dd-lang="fr" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">FR</label>
                </span>
                <span class="glyphicon"></span>
            </li>
        </ul>
    </div>
    <div dd-lang="en" class="contentboxlanguage">
        @Confluence.InputTextArea(Model.OperationNameEn, name: "OperationNameEn", maxLength: 500, required: true)
    </div>
    <div dd-lang="es" class="contentboxlanguage hide">
        @Confluence.InputTextArea(Model.OperationNameEs, name: "OperationNameEs", maxLength: 500, required: true)
    </div>
    <div dd-lang="pt" class="contentboxlanguage hide">
        @Confluence.InputTextArea(Model.OperationNamePt, name: "OperationNamePt", maxLength: 500, required: false)
    </div>
    <div dd-lang="fr" class="contentboxlanguage hide">
        @Confluence.InputTextArea(Model.OperationNameFr, name: "OperationNameFr", maxLength: 500, required: false)
    </div>
</div>
