@model IDB.MW.Domain.Models.Disbursement.OperationLevelProjectionsViewModel
@if (!Model.HasLoans && Model.ProjectedMonths.Any())
{
    if (!Model.EditMode)
    {
        <div class="col-md-12">
            @if (Html.HasPermission("Disbursement Projections Write"))
            {
                <input type="button" class="buttonBlue loanEdit click-action floatRight" onclick="disbursement_show_edit_form()" value="@Localization.GetText("Common.Edit")">
            }
        </div>
    }
    else
    {
        <div class='verticalMargin20 rightAlign'>
            <a href='javascript:disbursement_cancel_edit_form()' class='buttonWhite'>@Localization.GetText("COMMON.Cancel")</a>
            <input type="button" class="buttonOrange disbursement-save-button" value="@Localization.GetText("Common.Save")" onclick="disbursement_send_matrix('operationlevel','@Model.OperationNumber','@Model.Group');">
        </div>
    }
}