@using IDB.Presentation.MVC4.Helpers
@model List<IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.DocumentViewModel>

<div class="roundedBox container-fluid">
    <div class="row">        
        <div class="modalTitle">
            <h3>Add a Document</h3>
        </div>
        <div class="modalContent">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a id="lnkAddTab" href="#addContainer" role="tab" data-toggle="tab" data-action="switchTab">@Localization.GetText("Add")</a></li>
                <li><a id="lnkSearchTab" href="#searchContainer" role="tab" data-toggle="tab" data-action="switchTab">@Localization.GetText("Search")</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="addContainer">                       
                    <p>Select files from your computer or drop files anywhere on this screen</p>
                    <p>The  file extensions types that are allowed are pdf, xls, xlsx, pst, ppt, pptx, mpp, pub, vsd, vss, vst, vdx, vsx, vtx, doc, docx, wpd, msg</p>
                    <div class="uploadContainer">
                        <input type="file" multiple="multiple" id="upload" name="file">
                    </div>                        
                </div>
                <div class="tab-pane" id="searchContainer">
                    @Html.Partial("Controls/DocumentSearchForm")
                </div>
            </div>
            <div class="modalFooter">
                <div class="resultsContainer">
                    <p></p>
                </div>
                <div class="modalButtons">
                    <button class="btn btn-link" data-action="cancelUpload">@Localization.GetText("PCR.Cancel")</button>
                    <button id="btnDocumentModalAction" class="btn btn-primary" data-action="performAction">@Localization.GetText("Document.Tabs.Add")</button>
                </div>
            </div>
        </div>        
    </div>
</div>
