@using IDB.MW.Application.CountryStrategyModule.ViewModels.MonitoringResultMatrix
@using IDB.Presentation.MVC4.Areas.CountryStrategy.Models
@using IDB.MW.Application.CountryStrategyModule.Enums
@using System.Configuration

@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers

@model CSObjectiveDetailViewModel

@if (Model != null)
{
    <input type="hidden" data-idb-pagename="UI-CS-008-ObjectiveDetails" />

    <div class="row mb30">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/Buttons", Model)
            @Confluence.Navigation(Confluence.LabelMainTitle(Model.TitleMonitoring), Url.Action("Read", "ResultMatrix"))
        </div>
    </div>
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-12 lblvalue bold">
            @Model.ObjectiveName.HtmlEncode()
        </div>
    </div>
    <div class="row mb30" @(Model.InvestLoans.Any() ? "" : "hidden")>
        <div class="col-md-12 mb10 lblcontent">
            @Confluence.LabelBold(Localization.GetText("CS.Portfolio.IDBLoans"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/OperationsTable", new OperationsTableViewModel()
            .SetOperationsTableRowViewModel(Model.InvestLoans, CSMonitoringTypeTable.IBDLoans))
        </div>
    </div>
    <div class="row mb30" @(Model.Guarantees.Any() ? "" : "hidden")>
        <div class="col-md-12 mb10 lblcontent">
            @Confluence.LabelBold(Localization.GetText("CS.Portfolio.IDBGuarantees"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/OperationsTable", new OperationsTableViewModel()
            .SetOperationsTableRowViewModel(Model.Guarantees, CSMonitoringTypeTable.IDBGuarantees))
        </div>
    </div>
    <div class="row mb30" @(Model.InvestGrants.Any() ? "" : "hidden")>
        <div class="col-md-12 mb10 lblcontent">
            @Confluence.LabelBold(Localization.GetText("CS.Portfolio.IDBInvestmentGrants"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/OperationsTable", new OperationsTableViewModel()
            .SetOperationsTableRowViewModel(Model.InvestGrants, CSMonitoringTypeTable.IDBInvestGrants))
        </div>
    </div>
    <div class="row mb30" @(Model.TCOperations.Any() ? "" : "hidden")>
        <div class="col-md-12 mb10 lblcontent">
            @Confluence.LabelBold(Localization.GetText("CS.Portfolio.IDBTechnicalCooperations"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/OperationsTable", new OperationsTableViewModel()
            .SetOperationsTableRowViewModel(Model.TCOperations, CSMonitoringTypeTable.IDBTechnicalCoop))
        </div>
    </div>
    <div class="row mb30" @(Model.NSGOperations.Any() ? "" : "hidden")>
        <div class="col-md-12 mb10 lblcontent">
            @Confluence.LabelBold(Localization.GetText("CS.Monitoring.NSGOperation"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/OperationsNSGTable", new OperationsNsgTableViewModel()
            .SetOperationsNSGTableRowViewModel(Model.NSGOperations))
        </div>
    </div>
    <div class="row mb30" @(Model.MIFLoans.Any() ? "" : "hidden")>
        <div class="col-md-12 mb10 lblcontent">
            @Confluence.LabelBold(Localization.GetText("CS.Monitoring.MIFLoans"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/OperationsTable", new OperationsTableViewModel()
            .SetOperationsTableRowViewModel(Model.MIFLoans, CSMonitoringTypeTable.MIFLoans))
        </div>
    </div>
    <div class="row mb30" @(Model.MIFEquities.Any() ? "" : "hidden")>
        <div class="col-md-12 mb10 lblcontent">
            @Confluence.LabelBold(Localization.GetText("CS.Monitoring.MIFEquities"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/OperationsTable", new OperationsTableViewModel()
            .SetOperationsTableRowViewModel(Model.MIFEquities, CSMonitoringTypeTable.MIFEquities))
        </div>
    </div>
    <div class="row mb30" @(Model.MIFGuarantees.Any() ? "" : "hidden")>
        <div class="col-md-12 mb10 lblcontent">
            @Confluence.LabelBold(Localization.GetText("CS.Monitoring.MIFGuarantees"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/OperationsTable", new OperationsTableViewModel()
            .SetOperationsTableRowViewModel(Model.MIFGuarantees, CSMonitoringTypeTable.MIFGuarantees))
        </div>
    </div>
    <div class="row mb30" @(Model.MIFIvestGrants.Any() ? "" : "hidden")>
        <div class="col-md-12 mb10 lblcontent">
            @Confluence.LabelBold(Localization.GetText("CS.Monitoring.MIFInvestGrants"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/OperationsTable", new OperationsTableViewModel()
            .SetOperationsTableRowViewModel(Model.MIFIvestGrants, CSMonitoringTypeTable.MIFInvestGrants))
        </div>
    </div>
    <div class="row mb30" @(Model.MIFTCOperations.Any() ? "" : "hidden")>
        <div class="col-md-12 mb10 lblcontent">
            @Confluence.LabelBold(Localization.GetText("CS.Monitoring.MIFTechnicalCooperations"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/OperationsTable", new OperationsTableViewModel()
            .SetOperationsTableRowViewModel(Model.MIFTCOperations, CSMonitoringTypeTable.MIFTechnicalCoop))
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/Buttons", Model)
        </div>
    </div>

    @section scripts{
        <script type="text/javascript">

            $(document).ready(function () {
                var elementFrame = window.parent.document.getElementsByName('someFrame')[0];
                elementFrame.removeAttribute("height");
                elementFrame.removeAttribute("style");
            });

            registerCallback(function () {

                function collapseAll() {
                    $('[data-name="collapseAll"]').click();
                    $('[data-name="collapse-outcome"]').click();
                }

                collapseAll();

                $('span.tooltip').tooltipster({
                    theme: 'tooltipster-mrblue',
                    content: ' ',
                    contentAsHTML: true,
                    maxWidth: 310,
                    animation: 'grow',
                    animationDuration: 0,
                    delay: 0,
                    functionBefore: function (origin, continueTooltip) {
                        continueTooltip();
                        var contentAlt = origin.attr('data-alt');
                        var contentToolTip = '<div class="row"><div class="col-md-12">' + contentAlt + '</div></div>';
                        origin.tooltipster('content', contentToolTip);
                    }
                });

                $(document).on('click', '[name="edit"]', function (e) {

                    var isAligned = '@ViewBag.isAligned' == 'True';
                    var csObjectiveId = '@ViewBag.CSObjectiveId';

                    var url = '@Url.Action("Edit", "MonitoringResultMatrix", new { area = "CountryStrategy"})' +
                              '?csObjectiveId=' + csObjectiveId + '&isAligned=' + isAligned;
                    window.location.assign(url);
                });

                $(document).on('click', 'button[name="link-OperationNumber"]', function (e) {
                    var source = $(this);
                    var operationNumber = source.attr('data-operationNumber');
                    var url = '/Operation/' + source.attr('data-operationnumber');
                    url = url.replace("_oper_", operationNumber);
                    window.open(url, '_blank');
                });

                $(document).on('click', 'button[name="link-OutcomeIndicatorsOutputs"]', function (e) {
                    var source = $(this);
                    var operationNumber = source.attr('data-operationNumber');
                    var url = '/Operation/' + source.attr('data-operationnumber');
                    url = url.replace("_oper_", operationNumber);
                    window.open(url, '_blank');
                });

                $(document).on('click', 'button[name="link-AverageScorePCR"]', function (e) {
                    var source = $(this);
                    var operationNumber = source.attr('data-operationNumber');
                    var url = '/Operation/' + source.attr('data-operationnumber');
                    url = url.replace("_oper_", operationNumber);
                    window.open(url, '_blank');
                });

                $(document).on('click', 'span.arrow', function (e) {
                    var collasedArrowButtons = $('span[class="arrow collapse-single-button collapse"]');
                    var noCollasedArrowButtons = $('span[class="arrow collapse-single-button"]');
                    var buttonCollapse = $('div.buttonExpand');
                    if ((collasedArrowButtons.length == 0 && !buttonCollapse.hasClass('collapse')) ||
                        (noCollasedArrowButtons.length == 0 && buttonCollapse.hasClass('collapse'))) {
                        buttonCollapse.click();
                    }
                });

            });
        </script>
    }
}