@model Boolean

<div class="editingButtonsEdit">
    <table>
        <tbody>
            <tr>
                <td class="verticalAlignMiddle">
                    <div class="btn-action-group activo">
                        <label class="btn-action-fondo" for="btn-actionid">
                            <span class="btn-action-punto">Punto Blanco</span>
                        </label>
                        <input type="button" class="btn-action"
                               value="@Localization.GetText("Collapse Components")" id="btn-actionid">
                    </div>
                </td>
                <td class="verticalAlignMiddle editPhysicalBtnShow">@Localization.GetText("Show")</td>
                <td>
                    <div id="radio" class="ui-buttonset">
                        @if (Model)
                        {
                            <input type="radio" id="radio1" name="radio" class="ui-helper-hidden-accessible">
                            <label for="radio1"
                                   class="ui-button ui-widget ui-state-default ui-button-text-only ui-state-active"
                                   role="button" aria-disabled="false" aria-pressed="true">
                                <span class="ui-button-text">@Localization.GetText("Milestones")</span>
                            </label>
                            <input type="radio" id="radio2" name="radio" class="ui-helper-hidden-accessible"
                                   data-title="Change view warning"
                                   data-route="@Url.Action("IndexChangeEditPhysicalModeWarningMessage", "Outputs", new
                                   {
                                       area = "ResultsMatrix"
                                   })">
                            <label for="radio2" class="ui-button ui-widget ui-state-default ui-button-text-only"
                                   role="button" aria-disabled="false" aria-pressed="false">
                                <span class="ui-button-text">@Localization.GetText("Disaggregation")</span>
                            </label>
                        }
                        else
                        {
                            <input type="radio" id="radio1" name="radio"
                                   class="ui-helper-hidden-accessible" data-title="Change view warning"
                                   data-route="@Url.Action("IndexChangeEditPhysicalModeWarningMessage", "Outputs", new
                                   {
                                       area = "ResultsMatrix"
                                   })">
                            <label for="radio1"
                                   class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right"
                                   role="button" aria-disabled="false" aria-pressed="false">
                                <span class="ui-button-text">@Localization.GetText("Milestones")</span>
                            </label>
                            <input type="radio" id="radio2"
                                   name="radio" class="ui-helper-hidden-accessible">
                            <label for="radio2"
                                   class="ui-button ui-widget ui-state-default ui-button-text-only ui-state-active"
                                   role="button" aria-disabled="false" aria-pressed="true">
                                <span class="ui-button-text">@Localization.GetText("Disaggregation")</span>
                            </label>
                        }
                        <label id="btnCRFInformation" class="ui-button ui-state-default ui-button-text-only ui-corner-right">
                            <span class="ui-button-text">@Localization.GetText("PI.BtnText.CRFInformation")</span>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="editingButtonsEdit" style="width: 100%; padding-right: 2.5em;">

    @if (ViewBag.ShowImportPEPBtn)
    {
        <a href="javascript:void(0);"
           style="margin-left:10px"
           class="btn-primary_2 import-physical-pep-data" name="lnk-import-physical-pep-data"
           data-route="@(Url.Action("EditPhysicalProgress", "Outputs", new { area = "ResultsMatrix", operationNumber = ViewBag.OperationNumber }))"
           title="@Localization.GetText("Retrieve data from PEP")">@Localization.GetText("Retrieve data from PEP")</a>
    }

    <a href="javascript:void(0);"
       onclick="addNewComponent();"
       class="btn-primary"
       title="@Localization.GetText("Edit")">@Localization.GetText("New Component")</a>
</div>