@model IDB.Presentation.MVC4.Areas.SupervisionPlan.Models.SPAdministrationSearchViewModel
@{
    Layout = "~/Areas/SupervisionPlan/Views/Shared/_Layout.cshtml";
}

@section CSS
    {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/SupervisionPlan/module.css")" />
    <style>
        .plan-row {
            background: #ffffff !important;
        }

        .selected {
            background: #F6F7F9 !important;
        }

        .spnotification {
            padding: 10px;
            border: 1px solid red;
            float: left;
            width: 100%;
        }

        .dropdown {
            width: 100%;
        }

        .filerAdministrationSP .lgTit {
            height: 30px;
        }

        .fontSize12 > button {
            font-size: 12px !important;
        }
    </style>
}

@section JS
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/supervisionplan/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/supervisionplan/BlockSaveSupervision.js")"></script>
}
<div class="spMainContainer">
    @if (ViewBag.ShowModalSelectRole != true)
    {

        <div id="ui_sp_001">
            <div class="row col-md-12 mb20">
                @Confluence.LabelMainTitle(string.Format("{0} - {1}", Localization.GetText("SP.Administration.Title"), ViewBag.currentYear))
            </div>
            <div class="row col-md-12 mb20 pl30">
                <h2 class="subTitleCountry">@ViewBag.CountryName</h2>
            </div>

            <div class="col-md-12 mb20">
                <div class="filterNormal filerAdministrationSP">
                    <div class="row mb20">
                        <div class="col-md-2">
                            @Confluence.LabelsGroup(Localization.GetText("SP.Administration.Filter.OperationNumber"), Confluence.InputText("", "OperationNum", placeholder: "Enter text", required: false, width: "100%"), false)
                        </div>
                        <div class="col-md-2">
                            @Confluence.LabelsGroup(Localization.GetText("SP.Administration.Filter.OperationName"), Confluence.InputText("", "OperationName", placeholder: "Enter text", required: false, width: "100%"), false)
                        </div>
                        <div class="col-md-2">
                            @Confluence.LabelsGroup(Localization.GetText("SP.Administration.Filter.ApprovalYear"), Confluence.InputNumber(null, "ApprovalYear", placeholder: "Enter Year", maxValue: DateTime.Now.Year.ToString(), minValue: "0000", required: false, width: "100%", htmlClass: "outerAyear"), false)
                        </div>
                        <div class="col-md-2">
                            @Confluence.LabelsGroup(Localization.GetText("SP.Administration.Filter.Unit"), Confluence.InputDropDown(Model.SearchByFilters.Unit, "Unit", Model.UnitSearch), false)
                        </div>
                        <div class="col-md-2">
                            @Confluence.LabelsGroup(Localization.GetText("SP.Administration.AdministrationTable.PMR").Replace(" PMR", " " + (ViewBag.currentYear - 1) + " PMR"), Confluence.InputDropDown(Model.SearchByFilters.PrevYearMarhPmrClass, "PrevYearMarhPmrClass", Model.PrevMarchPMRClass, orderAsc: false), false)
                        </div>
                        <div class="col-md-2">
                            @Confluence.LabelsGroup(Localization.GetText("SP.Administration.AdministrationTable.PMR").Replace(" PMR", " " + ViewBag.currentYear + " PMR"), Confluence.InputDropDown(Model.SearchByFilters.CurrYearMarPmrClass, "CurrYearMarPmrClass", Model.CurrMarchPMRClass, orderAsc: false), false)
                        </div>
                    </div>
                    <div class="row mb20">
                        <div class="col-md-2">
                            @Confluence.LabelsGroup(Localization.GetText("SP.Administration.Filtert.Exceeds"), Confluence.InputDropDown(Model.SearchByFilters.ExFinanciatExtCri, "ExFinanciatExtCri", Model.ExceedFinExtCri, orderAsc: false), false)
                        </div>
                        <div class="col-md-2">
                            @Confluence.LabelsGroup(Localization.GetText("SP.Administration.Filter.Modality"), Confluence.InputDropDown(Model.SearchByFilters.SpModality, "SpModality", Model.SPModality, orderAsc: false), false)
                        </div>
                        <div class="col-md-2">
                            @Confluence.LabelsGroup(Localization.GetText("S.P. Modality (After Revision)"), Confluence.InputDropDown(Model.SearchByFilters.SpModality, "SpModalityAfter", Model.SPModality, orderAsc: false), false)
                        </div>
                        <div class="col-md-2">
                            @Confluence.LabelsGroup(Localization.GetText("SP.Administration.AdministrationTable.LastEditedBy"), Confluence.InputText("", "LastEditedBy", placeholder: "Enter Text", required: false, width: "100%"), false)
                        </div>
                        <div class="col-md-4 pt40 pl20">
                            @Confluence.InputCheckbox(true, "IsRevRequired")
                            @Confluence.Label(Localization.GetText("SP.Administration.Filter.OnlyRevisions"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                @Confluence.ButtonBlue(Localization.GetText("SP.Administration.Filter.ClearAll"), null, "ClearFilter")
                                @Confluence.ButtonBlue(Localization.GetText("SP.Administration.Filter.Filter"), null, "SearchResultAdministration")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="SPAdministration"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-url="@Url.Action("SaveOperationPlan", "AdministrationSp", new {area = "SupervisionPlan", roleSelected = ViewBag.RoleSelected})">
        </div>

        <div id="SPAdministrationDiv" class="col-md-12 mb20" data-parsley-validate="true">
            @Html.Partial("~/Areas/SupervisionPlan/Views/AdministrationSp/Partials/ButtonsSearchResultPartial.cshtml")
            @Html.Partial("~/Areas/SupervisionPlan/Views/AdministrationSp/Partials/SearchResultAdministration.cshtml", Model)
            <div class="mt20">
                @Html.Partial("~/Areas/SupervisionPlan/Views/AdministrationSp/Partials/ButtonsSearchResultPartial.cshtml")
            </div>
        </div>

        <input type="hidden" id="hidAdminstrationSPlan" value="@ViewBag.SerializedAdministration" />
        <input type="hidden" id="hidCurrentPeriod" value="@ViewBag.ActualCycle" />
        <input type="hidden" id="hidCurrentYear" value="@ViewBag.currentYear" />
        <input type="hidden" id="SortIndex" value="@ViewBag.SortIndex" />
        <input type="hidden" id="SortCount" value="@ViewBag.SortCount" />
        <input type="hidden" id="UserAction" value="0" />
    }
    <div id="divSelectRole">
        <button data-id="buttonSelectRole" class="hide"
                data-modal-allowclose="true"
                data-custom-modal="SelectRoleModal"
                data-custom-modal-style=""
                data-custom-modal-title="@Localization.GetText("Supervision Plan Management - Select Role")"
                data-custom-modal-validate="false"
                data-custom-modal-closeonoverlayclick="false"
                data-custom-buttons='["save"]'
                data-custom-button-save-id="select"
                data-custom-button-save="@Localization.GetText("Select")"
                data-custom-button-save-style="buttonBlue "
                data-custom-button-save-callback="selectRole"
                data-custom-button-save-closeatend="true"
                data-custom-modal-onclose=""></button>
        <div id="SelectRoleModal" class="hide modalBody"></div>
    </div>
</div>

<script type="text/javascript">
    var errorMsg = "@ViewBag.ErrorMessage";
    if (errorMsg.length > 0) {
        showMessage(errorMsg);
    }
    var commentBox = '';
    var done = false;
    var tableLoaded = '';
    var tableLoadedCancel = '';
    $(document).ready(function () {
        if ('@ViewBag.ShowModalSelectRole' === 'True') {
            SelectUserRole();
        }
        addOnClickFunctions();
        $('[name="ApprovalYear"]').keyup(function () {
            if ($(this).val().length > 4) {
                $(this).val($(this).val().substr(0, 4));
            }
        }).blur(function () {
            if ($(this).val().length > 0 && $(this).val().length < 4) {
                var zero = "0000";
                $(this).val(zero.substr(0, 4 - $(this).val().length) + $(this).val());
            }

            if ($(this).val().length > 4) {
                $(this).val($(this).val().substr(0, 4));
            }
        }).click(function () {
            if ($(this).val().length === 0) {
                $(this).val("@(ViewBag.currentYear - 1)");
            }
        });

        hideLoader();
        hideLoaderOptional();
        ChangeBlurAprovalYear();
        ValidateNumber();
        @if (!IsPost)
        {
            <text>
        $("#contentTableSP").ready(function () {
            tableLoaded = $("#contentTableSP").html();
            loadPagination();
            changePagination();
            sortTableSpAdministration();
            ChangeSpModality();
        });
        </text>
        }

        heightWindowSP();

    });

    function sortSave() {
        $('th.sort').click(function() {
            ChangeSpModality();
            $('#SortIndex').val($(this).index());
            if ($(this).is('.sortDes'))
            {
                $('#SortCount').val(2);
            } else {
                $('#SortCount').val(1);
            }
        });
    }

    var display = "";
    function loadPagination() {
        @if (!string.IsNullOrEmpty(Session["Display"].ToString()))
        {
            <text>
        if (display === "") {
            display = "@Session["Display"].ToString()";
        }
        </text>
        }

        if (display === "") {
            display = $("#id-resultsToShow").GetValue();
        }
        $("#id-resultsToShow").SetValue(display, $("#id-resultsToShow").closest('.dropdown').find('ul li a[dd-value="' + display + '"]').text().trim());
        $("#AdministrationSPTable").paginationConfluense(display);
    }

    function changePagination() {
        $("input[name='resultsToShow']").change(function () {
            $("#AdministrationSPTable").paginationConfluense($("#id-resultsToShow").GetValue());
            $.ajax({
                type: "POST",
                async: true,
                url: "@Url.Action("ChangeDisplay", "AdministrationSp", new { area = "SupervisionPlan", roleSelected = ViewBag.RoleSelected })",
                data: { number: $("#id-resultsToShow").GetValue() }
            });
        });
    }

    function addOnClickFunctions() {
        $('#AdministrationSPTable .buttonShowRow')
            .attr('onclick', 'CollapseRowTable(this); showJustificationRow(this); validateActive(this);');
        $('.btnCollapseOne.buttonExpand')
            .attr('onclick', 'QuestionjustificationCollapse(this);');
    }

    function validateActive(source) {
        var $this = $(source);
        if ($this.attr('class') === 'buttonShowRow active') {
            $this.attr('onclick', 'CollapseRowTable(this); validateActive(this);');
        }
    }

    var elemQuestionColapse;
    var elementColapse;

    function QuestionjustificationCollapse(elem){
        elemQuestionColapse = elem;
        if ($('#UserAction').val() === "1") {
            elementColapse = $(elem).is('.collapse');
            var msg = '@Localization.GetText("SP.Aadministration.AdminAfterChanges")';
            confirmAction(msg).done(function (pressOk) {
                showLoaderOptional();
                if (pressOk) {
                    setTimeout(
                      function()
                      {
                          save(true);
                          ChangeSpModality();
                          $('#UserAction').val(0);
                          colapsableOne($('.btnCollapseOne'));
                          showJustifications();
                      }, 200);
                }
                else {
                    setTimeout(
                      function()
                      {
                          SearchResult();
                          ChangeSpModality();
                          $('#UserAction').val(0);
                          colapsableOne($('.btnCollapseOne'));
                          showJustifications();
                      }, 200);
                }
                vex.close();
            });
        } else {
            ChangeSpModality();
            colapsableOne(elemQuestionColapse);
            showJustifications();
        }

        heightWindowSP();
    }

    function showJustifications() {
        $('.buttonShowRow.active').each(function () {
            var operationNumber = $(this).closest('tr').attr('data-id');
            var currentYear = $("#hidCurrentYear").val();
            var element = $('[data-row-parent-id="'+operationNumber+'"]');
            var lastEditBy = $(this).closest('tr').find('td.LastEditsp label').text();
            if (lastEditBy !== "") {
                $.ajax({
                    type: "POST",
                    async: true,
                    url: "@Url.Action("GetJustifications", "AdministrationSp", new { area = "SupervisionPlan", roleSelected = ViewBag.RoleSelected })",
                    data: { operationNumber: operationNumber, currentYear: currentYear }
                }).done(function (data) {
                    element.find('#justificationRow').html(data);
                });
            }

        });
        done = true;
    }

    function showJustificationRow(source) {
        var $this = $(source);
        var operationNumber = $this.closest('tr').attr('data-id');
        var currentYear = $("#hidCurrentYear").val();
        var element = $('[data-row-parent-id="'+operationNumber+'"]');
        $.ajax({
            type: "POST",
            async: false,
            url: "@Url.Action("GetJustifications", "AdministrationSp", new { area = "SupervisionPlan", roleSelected = ViewBag.RoleSelected })",
            data: { operationNumber: operationNumber, currentYear: currentYear }
        }).done(function (data) {
            element.find('#justificationRow').html(data);
        });
        done = true;
    }


    function sortTableSpAdministration() {
        var order = ($('#SortCount').val() === "1");
        var index = $('#SortIndex').val();
        $('#AdministrationSPTable').sortableConfluense(order, index);
        sortSave();
        ChangeSpModality();
    }

    function save(notRead) {
        ChangeSpModality();
        $('#UserAction').val(0);
        display = $("#id-resultsToShow").GetValue();
        var success = validateContainer($('#SPAdministrationDiv'));
        if (success) {
            showLoaderOptional();
            SaveAndSubmit(false, notRead);
        } else {
            var rowError = $('.parsley-errors-list.filled').closest('tr');
            var operationRow = rowError.prev();
            var buttonShowRow = operationRow.find('.buttonShowRow');
            if (!buttonShowRow.hasClass('active')) {
                buttonShowRow.click();
            }
        }
    }

    function SaveAndSubmit(submit, notRead) {
        $('#UserAction').val(0);
        if (notRead !== true){
            isEdit = false;
        }
        display = $("#id-resultsToShow").GetValue();

        //ini integracion Store Procedure
        var modelStPr = {
            ApprovalYear: $('[name="ApprovalYear"]').val(),
            CurrYearMarPmrClass: $('[name="CurrYearMarPmrClass"]').GetValue(),
            ExFinanciatExtCri: $('[name="ExFinanciatExtCri"]').GetValue(),
            OperationName: $('[name="OperationName"]').val(),
            OperationNum: $('[name="OperationNum"]').val(),
            PrevYearMarhPmrClass: $('[name="PrevYearMarhPmrClass"]').GetValue(),
            SpModality: $('[name="SpModality"]').GetValue(),
            SpModalityAfter: $('[name="SpModalityAfter"]').GetValue(),
            LastEditedBy: $('[name="LastEditedBy"]').val(),
            IsRevRequired: $('[name="IsRevRequired"]').prop("checked"),
            Unit: $('[name="Unit"]').GetValue()
        };
        //fin integracion Store Procedure
        var model = new Array();
        var operations = new Array();
        var justifications = new Array();
        var currentPeriod = $("#hidCurrentPeriod").val();
        var currentYear = $("#hidCurrentYear").val();

        $("input[name='SpModalityTable']").each(function () {
            var value = $(this).val();
            var operationNumber = $(this).attr("data-idoperation");
            var modalityValues = $(this).attr("data-oldvalue");
            model.push({ operationNumber: operationNumber, value: value, modalityValues: modalityValues });
        });

        $("#AdministrationSPTable tr[data-id]").each(function () {
            var operationNumber = $(this).attr("data-id");
            var spStatus = $(this).attr("data-spstatus");
            operations.push({ operationNumber: operationNumber, spStatus: spStatus });
        });

        $('#AdministrationSPTable tr[data-id]').each(function () {
            var operationNumber = $(this).attr("data-id");

            $('#AdministrationSPTable tr[data-row-parent-id="'+ operationNumber + '"]')
                .find('textarea[name="JustificationEdit"]').each(function () {
                    justifications.push({ Value: $(this).val(), OperationNumber: operationNumber });
                });
        });
        $('.buttonShowRow.active').click();
        $.ajax({
            type: "POST",
            async: true,
            url: "@Url.Action("SaveOperationPlan", "AdministrationSp", new { area = "SupervisionPlan", roleSelected = ViewBag.RoleSelected })",
            data: { dataSave: model, operationNumberSave: operations, justificationSave: justifications, filters: modelStPr, submit: submit, currentPeriod: currentPeriod, currentYear: currentYear }
        }).done(function () {
            showLoaderOptional();
            addOnClickFunctions();
            $('textarea[name="JustificationEdit"]').attr('name', 'JustificationRead');
            $('#AdministrationSPTable td[name="spModalityAfter"]').each(function() {
                var cmbVal = $(this).find('#id-SpModalityTable').GetText();
                var cmboldValue = $(this).find('#id-SpModalityTable').GetValue();
                $(this).find('span[data-pagemode="edit"] input').attr('data-oldvalue', cmboldValue);
                $(this).find('span[data-pagemode="read"]').find('label').text(cmbVal);
            });
            $('#AdministrationSPTable td[name="spModality"]').each(function() {
                var cmbVal = $(this).find('#id-SpModalityTable').GetText();
                var cmboldValue = $(this).find('#id-SpModalityTable').GetValue();
                $(this).find('span[data-pagemode="edit"] input').attr('data-oldvalue', cmboldValue);
                $(this).find('span[data-pagemode="read"]').find('label').text(cmbVal);
            });
            if (notRead !== true){
                exitEditMode(false, $('.container-fluid'), true, true);
            }
            $('[name="JustificationEdit"]').attr('disabled', 'disabled');
            $('.buttonTrash').addClass('hide');
            hideLoaderOptional();
            if (submit !== false) {
                showLoaderOptional();
                showMessage('@Localization.GetText("SP.Administration.SumbitMessage")',null,"Continue").done(function() {
                    showLoaderOptional();
                    vex.close();
                    setTimeout(
                      function()
                      {
                          SearchResultAdministration();
                      }, 500);
                });
            }
        });
    }

    function SubmitSupervisionPlan() {
        vex.close();
        display = $("#id-resultsToShow").GetValue();
        showLoaderOptional();
        SaveAndSubmit(true);
    }

    var isEdit = false;
    function SearchResultAdministration() {
        if ($('#UserAction').val() === "1")
        {
            var msg = '@Localization.GetText("SP.Aadministration.AdminAfterChanges")';
            confirmAction(msg).done(function (pressOk) {
                showLoaderOptional();
                if (pressOk) {
                    vex.close();
                    setTimeout(function(){
                        showLoaderOptional();
                        save(true);
                        SearchResult();
                    },500);

                } else {
                    vex.close();
                    setTimeout(function(){
                        showLoaderOptional();
                        SearchResult();
                    },500);

                }
            });
        } else {
            SearchResult();
        }
    }

    function SearchResult() {
        $('#UserAction').val(0);
        display = $("#id-resultsToShow").GetValue();
        $("#SPAdministrationDiv").empty();
        var pageSize = $('input[name="resultsToShow"]').val();
        var model = {
            ApprovalYear: $('[name="ApprovalYear"]').val(),
            CurrYearMarPmrClass: $('[name="CurrYearMarPmrClass"]').GetValue(),
            ExFinanciatExtCri: $('[name="ExFinanciatExtCri"]').GetValue(),
            OperationName: $('[name="OperationName"]').val(),
            OperationNum: $('[name="OperationNum"]').val(),
            PrevYearMarhPmrClass: $('[name="PrevYearMarhPmrClass"]').GetValue(),
            SpModality: $('[name="SpModality"]').GetValue(),
            SpModalityAfter: $('[name="SpModalityAfter"]').GetValue(),
            LastEditedBy: $('[name="LastEditedBy"]').val(),
            IsRevRequired: $('[name="IsRevRequired"]').prop("checked"),
            Unit: $('[name="Unit"]').GetValue(),
            OrderIndex: $('#SortIndex').val(),
            OrderCount: $('#SortCount').val()
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Index", "AdministrationSp", new { area = "SupervisionPlan", roleSelected = ViewBag.RoleSelected })',
            data: model,
            success: function (data) {
                var tempDom = $('<output>').append($.parseHTML(data));
                $("#SPAdministrationDiv").append(tempDom.find("#SPAdministrationDiv").html());
                $('#AdministrationSPTable').paginationConfluense(pageSize);
                if (isEdit) {
                    enterEditMode(false, $('.container-fluid'), false);
                } else {
                    exitEditMode(false, $('.container-fluid'), true, false);
                }
                addOnClickFunctions();
                ChangeSpModality();
            }
        });
        loadPagination();
        changePagination();
        sortTableSpAdministration();
        ChangeSpModality();
        hideLoaderOptional();
    }

    function ClearFilter() {
        $('#UserAction').val(0);
        display = $("#id-resultsToShow").GetValue();
        $('[name="CurrYearMarPmrClass"]').FirstorDefault();
        $('[name="PrevYearMarhPmrClass"]').FirstorDefault();
        $('[name="ExFinanciatExtCri"]').FirstorDefault();
        $('[name="SpModality"]').FirstorDefault();
        $('[name="Unit"]').FirstorDefault();
        $('input[name="ApprovalYear"]').val('');
        $('input[name="IsRevRequired"]').prop('checked', false);
        $('input[name="OperationName"]').val('');
        $('input[name="OperationNum"]').val('');
        $('[name="LastEditedBy"]').val('');
        $('[name="SpModalityAfter"]').FirstorDefault();
        $('.btnCollapseOne').removeClass('collapse');
        $('.btnCollapseOne').find('label').text("Expand All");
        $('.btnCollapseOne').find('label').attr('dd-value', 'Collapse All');
        $("#contentTableSP").empty();
        $("#contentTableSP").append(tableLoaded);
        loadPagination();
        changePagination();
        sortTableSpAdministration();
        SearchResultAdministration();
        $('th.sort').click(function() {
            bindHandlers();
            ChangeSpModality();
            keyupJustification();
        });
    }

    function edit() {
        $('#UserAction').val(0);
        isEdit = true;
        display = $("#id-resultsToShow").GetValue();
        enterEditMode(false, $('.container-fluid'), false);

        $.ajax({
            type: "POST",
            async: true,
            url: "@Url.Action("GetCommentBox", "AdministrationSp", new { area = "SupervisionPlan", roleSelected = ViewBag.RoleSelected })"
        }).done(function (data) {
            commentBox = data;
        });
        ChangeSpModality();
        $('th.sort').click(function() {
            bindHandlers();
            ChangeSpModality();
            keyupJustification();
        });
    }

    function addJustification(source) {
        var element = source.closest('tr').prev().find('#justificationRow');
        element.append(commentBox);
        $('#UserAction').val(1);
    }

    function Cancel() {
        $('#UserAction').val(0);
        isEdit = false;
        $('input[name="ApprovalYear"]').val('');
        display = $("#id-resultsToShow").GetValue();
        exitEditMode(false, $('.container-fluid'), true, false);
        SearchResultAdministration();
        $('.buttonBlue, .buttonOrange').prop('disabled', false);
    }

    function removeComment(source) {
        $(source).closest('#commentBox').remove();
    }

    function ChangeBlurAprovalYear() {
        var maxYear = @DateTime.Now.Year.ToString();
        $('input[name="ApprovalYear"]').blur(function() {
            if ($(this).val()*1 < 0) {
                $(this).val('0');
            } else if ($(this).val()*1 > maxYear) {
                $(this).val('2016');
            }
        });
        $('input[name="ApprovalYear"]').change(function() {
            if ($(this).val()*1 < 0) {
                $(this).val('0');
            } else if ($(this).val()*1 > maxYear) {
                $(this).val(maxYear);
            }
        });
        $('input[name="ApprovalYear"]').keyup(function () {
            if ($(this).val() * 1 < 0) {
                $(this).val('0');
            } else if ($(this).val()*1 > maxYear) {
                $(this).val(maxYear);
            }
        });
    }

    function ValidateNumber() {
        $("input[name='ApprovalYear']").keypress(function(e) {
            if (e.keyCode === 45 || e.keyCode===43) {
                return false;
            } else {
                return true;
            }
        });
    }

    var modalityElement;
    function ChangeSpModality() {
        $("input[name='SpModalityTable']").off('change');
        $("input[name='SpModalityTable']").change(function () {
            modalityElement = $(this);
            $('#UserAction').val(1);
            var lastUpdateVal = $(this).closest('tr').find('td.LastEditsp').attr('data-oldvalue');
            var oldvalue = $(this).attr('data-oldvalue');
            var actualvalue = $(this).GetValue();
            var buttonShowRow = $(this).closest("tr").find('.buttonShowRow');
            var justiRow = $(this).closest('tr').next().find('#justificationRow');
            $('[name="trfocus"]').remove();
            if (oldvalue !== actualvalue) {
                if (!buttonShowRow.hasClass('active')) {
                    buttonShowRow.click();
                }
                $(this).closest('tr').find('td.LastEditsp label').text('@ViewBag.UserName');
                $('th.sort').addClass('disableSort');
                $('.Pagination').addClass('hide');
                $("input[name='SpModalityTable']").closest('div.dropdown').find('button').prop('disabled', true);
                $(this).closest('div.dropdown').find('button').prop('disabled', false);
                $('.buttonBlue, .buttonOrange').prop('disabled', true);
                $('.btnCollapseOne').addClass('hide');
                $('button.buttonShowRow').addClass('disabled');
                $('button.buttonShowRow').attr('disabled', 'disabled');
                $('.addNewRow').addClass('hide');
                if (done) {
                    var nonExistComments = justiRow.find('#commentBox').length === 0;
                    if (nonExistComments) {
                        if (buttonShowRow.hasClass('active')) {
                            justiRow.append(commentBox);
                            justiRow.find('[name="JustificationEdit"]').attr('data-force-parsley-validation', true);
                            justiRow.find('[name="JustificationEdit"]').attr('data-parsley-required', true);
               justiRow.find('[name="JustificationEdit"]').blur(function() {
                                $(this).text($(this).val());
                            });             justiRow.find('.buttonTrash').attr('disabled', 'disabled');
                            var success = validateContainer($('#SPAdministrationDiv'));
                            if (!success) {
                                $('[name="JustificationEdit"][data-parsley-required="true"]').keyup(function () {
                                    if ($(this).val() === "") {
                                        $('[name="JustificationEdit"][data-parsley-required="true"]').focus();
                                        $('.Pagination').addClass('hide');
                                        $('th.sort').addClass('disableSort');
                                        $(this).closest('div.dropdown').find('button').prop('disabled', false);
                                        $('.buttonBlue, .buttonOrange').prop('disabled', true);
                                        $('.btnCollapseOne').addClass('hide');
                                        $('button.buttonShowRow').addClass('disabled');
                                        $('button.buttonShowRow').attr('disabled', 'disabled');
                                        $('.addNewRow').addClass('hide');
                                    } else {
                                        $('.Pagination').removeClass('hide');
                                        $("input[name='SpModalityTable']").closest('div.dropdown').find('button').prop('disabled', false);
                                        $('.buttonBlue, .buttonOrange').prop('disabled', false);
                                        $('.btnCollapseOne').removeClass('hide');
                                        $('button.buttonShowRow').removeClass('disabled');
                                        $('button.buttonShowRow').removeAttr('disabled');
                                        $('.addNewRow').removeClass('hide');
                                        $('th.sort').removeClass('disableSort');
                                    }
                                });
                            }
                        }
                    }
                }

            } else {
                $(this).closest('tr').find('td.LastEditsp label').text(lastUpdateVal);
                justiRow.find('#commentBox').remove();
                $('.Pagination').removeClass('hide');
                $("input[name='SpModalityTable']").closest('div.dropdown').find('button').prop('disabled', false);
                $('.buttonBlue, .buttonOrange').prop('disabled', false);
                $('.btnCollapseOne').removeClass('hide');
                $('button.buttonShowRow').removeClass('disabled');
                $('button.buttonShowRow').removeAttr('disabled');
                $('.addNewRow').removeClass('hide');
                $('th.sort').removeClass('disableSort');
                if ($(this).closest('tr').is(".lineup")) {
                    $(this).closest('tr').find('.buttonShowRow').click();
                }
            }

            setTimeout(function() {
                window.location.href = "#" + modalityElement.closest('tr').attr('data-id');
                window.parent.document.body.scrollTop = window.parent.document.body.scrollTop - 20;

                var textarea = $('tr[data-row-parent-id="' + modalityElement.closest('tr').attr('data-id') + '"].template').find('textarea').not('[disabled]');
                if (textarea.length > 0) {
                    $(textarea).focus();
                }

            }, 200);

            heightWindowSP();
        });
    }

    function heightWindowSP() {
        var minH = $('.filerAdministrationSP').height() + $('#contentTableSP').height() + 300;
        if (minH < 1500) {
            minH = 1500;
        }
        var $frame = $(window.parent.document.getElementById('iframe_id'));
        $frame.css('height', minH);
        $frame.css('width', 1354);
    }

    function keyupJustification() {
        $('[name="JustificationEdit"][data-parsley-required="true"]').keyup(function () {
            if ($(this).val() === "") {
                $('.Pagination').addClass('hide');
                $('.btnCollapseOne').addClass('disabled');
                $('th.sort').addClass('disableSort');
                $(this).closest('div.dropdown').find('button').prop('disabled', false);
                $('.buttonBlue, .buttonOrange').prop('disabled', true);
                $('.btnCollapseOne').addClass('disabled');
                $('button.buttonShowRow').addClass('disabled');
                $('button.buttonShowRow').attr('disabled', 'disabled');
                $('.addNewRow').addClass('disabled');
                validateContainer($('[name="JustificationEdit"][data-parsley-required="true"]'));
            } else {
                $('.Pagination').removeClass('hide');
                $("input[name='SpModalityTable']").closest('div.dropdown').find('button').prop('disabled', false);
                $('.buttonBlue, .buttonOrange').prop('disabled', false);
                $('.btnCollapseOne').removeClass('disabled');
                $('button.buttonShowRow').removeClass('disabled');
                $('button.buttonShowRow').removeAttr('disabled');
                $('.addNewRow').removeClass('disabled');
                $('th.sort').removeClass('disableSort');
            }
        });
    }

    function blurJustification() {
        $('[name="JustificationEdit"][data-parsley-required="true"]').blur(function () {
            if ($(this).val() === "") {
                $('[name="JustificationEdit"][data-parsley-required="true"]').focus();
                $('.Pagination').addClass('hide');
                $('.btnCollapseOne').addClass('disabled');
                $('th.sort').addClass('disableSort');
                $(this).closest('div.dropdown').find('button').prop('disabled', false);
                $('.buttonBlue, .buttonOrange').prop('disabled', true);
                $('.btnCollapseOne').addClass('disabled');
                $('button.buttonShowRow').addClass('disabled');
                $('button.buttonShowRow').attr('disabled', 'disabled');
                $('.addNewRow').addClass('disabled');
                validateContainer($('[name="JustificationEdit"][data-parsley-required="true"]'));

            } else {
                $('.Pagination').removeClass('hide');
                $("input[name='SpModalityTable']").closest('div.dropdown').find('button').prop('disabled', false);
                $('.buttonBlue, .buttonOrange').prop('disabled', false);
                $('.btnCollapseOne').removeClass('disabled');
                $('button.buttonShowRow').removeClass('disabled');
                $('button.buttonShowRow').removeAttr('disabled');
                $('.addNewRow').removeClass('disabled');
                $('th.sort').removeClass('disableSort');
                $(this).text($(this).val());
                if($(this).closest("div").find("ul").is(".filled") === false ){
                    var id = $(this).closest("tr").data("row-parent-id");
                    $("[data-id='"+id+"']").find("button.buttonShowRow").click();
                }
            }
        });
        if($(elem).closest("div").find("ul").is(".filled") === false ){
            var id = $(elem).closest("tr").data("row-parent-id");
            $("[data-id='"+id+"']").find("button.buttonShowRow").click();
        }
    }

    function hideMenu(){
        if ($($("#iframe_id").context.body).find(".hide_menu").is('.max')) {
            $('.contenido layoutDosColsIzda', window.parent.document).html();
            $('.navMenuPrincipal .submenu', window.parent.document).show();
            $('.navMenuPrincipal .sel .level_2', window.parent.document).show();
            $('.opMin', window.parent.document).show();
            $('.opMax', window.parent.document).hide();
            $($("#iframe_id").context.body).find(".hide_menu").removeClass('max');
            $('.mod_contenido_header2', window.parent.document).slideDown();
            $('.izquierda', window.parent.document).show();
            $('.layoutDosColsIzda .central', window.parent.document).css('display', 'table-cell');

        } else {
            $('.navMenuPrincipal .submenu', window.parent.document).hide();
            $('.navMenuPrincipal .level_2', window.parent.document).hide();
            $('.opMin', window.parent.document).hide();
            $('.opMax', window.parent.document).show();
            $($("#iframe_id").context.body).find(".hide_menu").addClass('max');
            $('.mod_contenido_header2', window.parent.document).slideUp();
            $('.izquierda', window.parent.document).hide();
            $('.layoutDosColsIzda .central', window.parent.document).css('display', 'block');

        }
    }

    function collapseJustification(elem){
        if($(elem).closest("div").find("ul").is(".filled") === false ){
            var id = $(elem).closest("tr").data("row-parent-id");
            $("[data-id='"+id+"']").find("button.buttonShowRow").click();
            setTimeout(
                      function()
                      {
                          if($(".dropdown").is(".open") === false){
                              $(".dropdown .btn-default:focus").click();
                          }
                      }, 500);


        }

    }

    function SelectUserRole() {
        var url = '@Url.Action("UserRoleSelect", "AdministrationSp", new { area = "SupervisionPlan", roleSelected = ViewBag.RoleSelected })';
        postUrlWithOptions(url, { async: true })
            .done(function (data) {
                $('#SelectRoleModal').html(data);
                $('[data-id="buttonSelectRole"]').click();
                $('div .vex-close').addClass('hide');
            })
            .fail(function (jqXhr, textStatus, errorThrown) {
                showMessage(errorThrown);
            });
    }

    function selectRole() {
        var roleSelect = $('input[name="spUserRole"]').GetValue();
        if (roleSelect === "") {
            validateContainer($('#ContainerRole'));
        } else {
            showLoaderOptional();
            var url = '@Url.Action("Index", "AdministrationSp", new { area = "SupervisionPlan"})' + "?roleSelected=" + roleSelect;
            window.location.href = url;

        }
    }

</script>