@using System.Web.Mvc.Html
@using System.Configuration
@using IDB.Presentation.MVC4.Areas.RisksMatrix.Models
@model RiskMatrixViewModel

@{
    Layout = null;
}

<script type="text/javascript">
    var operationNumber = '@Model.OperationNumber';
    var basePath = '@ConfigurationManager.AppSettings.Get("BasePath")';
    var idInactiveStatus = '@Model.IdInactiveStatus';
    var idAcceptStatus = '@Model.IdAcceptStatus';
    var strAccept = '@Model.StrAccept';
    var idCompletedActv = '@Model.IdCompletedStatus';
    var idMaterialized = '@Model.IdMaterialized';
    var CodeStatusHigh = '@Model.CodeStatusHigh';
    var CodeStatusMediumHigh = '@Model.CodeStatusMediumHigh';
    var CodeStatusMediumLow = '@Model.CodeStatusMediumLow';
    var CodeStatusLow = '@Model.CodeStatusLow';
    var CodeStatusMedium = '@Model.CodeStatusMedium';
    var textCriticalPath = "@Localization.GetText("RISK.MATRIX.ICONO.INFORMATION")";
    var message = '@Model.Message';
</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/RiskMatrix/app.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/RiskMatrix/riskmatrix.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/RiskMatrix/RiskMatrix.css")"/>

<div class="col-md-12">
    @if (Model.IsEdit)
    {
        @Html.Partial("~/Areas/RiskMatrix/Views/Partials/RiskMatrixEdit.cshtml", Model)
    }
    else
    {
        @Html.Partial("~/Areas/RiskMatrix/Views/Partials/RiskMatrixView.cshtml", Model)
    }
</div>