@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using System.Globalization

    <h4 class="titlePrincipal">
        @Localization.GetText("OP.MS.Missions")
    </h4>

    <div class="filterNormal col-md-12 mt20">
        <div class="row">
            <div class="col-md-3">
                <label class="labelNormal bold media-object" data-idb-fieldname="lblStatusMission">@Localization.GetText("OP.MS.Status")</label>
                @Confluence.InputDropDown(null, "StatusMission", ViewBag.Status, false, width: "100%", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlStatusMission" } })
            </div>
            <div class="col-md-3">
                <label class="labelNormal bold media-object" data-idb-fieldname="lblTypeMission">@Localization.GetText("OP.MS.Type")</label>
                @Confluence.InputDropDown(null, "TypeMission", ViewBag.Type, false, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlTypeMission" } }, orderAsc : false)
            </div>
                <div data-pagemode="edit">
                <div class="col-md-3">
                    <label class="labelNormal bold media-object" data-idb-fieldname="lblStartDateMission">@Localization.GetText("OP.MS.StartDate")</label>
                    @Confluence.InputDatePicker(null, "StartDateMission", isReadOnly: false, width: "88.5%", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "dtpStartDateMission" } })
                </div>
                <div class="col-md-3">
                    <label class="labelNormal bold media-object" data-idb-fieldname="lblEndDateMission">@Localization.GetText("OP.MS.EndDate")</label>
                    @Confluence.InputDatePicker(null, "EndDateMission", isReadOnly: false, width: "88.5%", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "dtpEndDateMission" } })
                </div>
            </div>
            </div>
        <div class="row mt20">
            @if (ViewBag.visible.Equals("visible"))
            {
                <div class="col-md-3">
                    <label class="labelNormal bold media-object" data-idb-fieldname="lblCountryDepartment01">
                        @Localization.GetText("OP.MS.CountryDepartment")
                    </label>
                    @Confluence.InputDropDown(null, "countryDepartment", ViewBag.CountryDepartmentList, width:"100%", htmlClass: "mt10", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlCountryDepartment01" } })
                </div>
                <div class="col-md-3">
                    <label class="labelNormal bold media-object" data-idb-fieldname="lblCountry01">
                        @Localization.GetText("OP.MS.Country")
                    </label>
                    @Confluence.InputDropDown("", "country", ViewBag.CountryList, htmlClass: "mt10", required: false, parentValue: true, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlCountry01" } })
                </div>
            }
        </div>

        <div class="row mt10">
            <div class="col-md-12 text-right">
                @Confluence.ButtonBlue(text: Localization.GetText("OP.MS.Filter"), action: "FilterMissions", name: "filterMissions", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnFilterMissions" } })
                @Confluence.ButtonBlue(text: Localization.GetText("OP.MS.ClearAll"), action: "ClearMissions", name: "clearAll", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnClearAll" } })
            </div>
        </div>


    </div>


