@using IDB.Presentation.MVC4.Helpers;
@using IDB.Architecture.Language;

<div class="row">
    <div class="col-md-12">
        <h4 class="subtitleGroup bold">@Localization.GetText("OP.MS.MissionContacts.Contacts")</h4>
    </div>
</div>
<div id="contacts-section" class="row row-body-40 pt20">
    <div class="col-md-12">
        <table class="tableNormal beginSpacing endSpacing" id="tableContacts" data-idb-fieldname="tblTableContacts">
            <thead>
                <tr>
                    <th>@Localization.GetText("OP.MS.MissionContacts.ContactName")</th>
                    <th>@Localization.GetText("OP.MS.MissionContacts.InstitutionName")</th>
                    <th>@Localization.GetText("OP.MS.MissionContacts.ContactInformation")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MissionContactList)
                {
                    <tr data-id="@item.MissionContactId">
                        <td>
                            <span data-pagemode="read">@Confluence.Label(item.ContactName, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblContactName" } })</span>
                            <span data-pagemode="edit">
                                @Confluence.InputText(value: item.ContactName, name: "contactName", maxLength: 250, width: "100%", required: false, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtContactName" } })
                                @Confluence.InputHidden(value: Convert.ToString(item.MissionContactId), name: "editContactId")
                            </span>
                        </td>
                        <td>
                            <span data-pagemode="read">@Confluence.Label(item.InstitutionName, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lbl" } })</span>
                            <span data-pagemode="edit">@Confluence.InputDropDownAsync(value: Convert.ToString(item.InstitutionId), name: "SearchInstitutionName", textSelected: item.InstitutionName, width: "100%", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlSearchInstitutionName" } }, required: false, searchUrl: Url.Action("GetInstitutionName", "View", new { area = "OpusMissions" }))</span>
                        </td>
                        <td>
                            <span data-pagemode="read">@Confluence.Label(item.ContactInformation, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lbl" } })</span>
                            <span data-pagemode="edit">@Confluence.InputText(value: item.ContactInformation, name: "contactInformation", maxLength: 250, width: "100%", required: false, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtContactInformation" } })</span>
                        </td>
                        <td>
                            <span data-pagemode="edit">
                                @Confluence.ButtonTrash("", action: "deleteContact", name: "deleteContact", dataAttributes: new Dictionary<string, string> { { "missionContactId", Convert.ToString(item.MissionContactId) }, { "idb-fieldname", "btnDeleteContact02" } })
                            </span>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <div class="row text-center" data-pagemode="edit">
        @Confluence.ButtonAddNewRows(text: Localization.GetText("OP.MS.MissionContacts.NewContact"), tableid: "tableContacts", action: "newContact", name: "newContact", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnNewContact" } })
    </div>
    <span data-pagemode="edit">@Confluence.InputHidden(value: "", name: "deleteContacts", required: false)</span>
</div>
