@using IDB.Presentation.MVC4.Helpers;
@using IDB.MW.Infrastructure.Configuration;
@using System.Globalization;
@using IDB.Architecture.Language;
@model IDB.MW.Application.MissionsModule.ViewModels.MissionCompleteViewModel

<div id="header-section">
    @Html.Partial("Partials/MissionHeader", Model.Header)
</div>

<div class="page">
    <div class="row">
        <div class="col-md-12">
            <h4 class="subtitleGroup bold">@Localization.GetText("OP.MS.MissionCompleteView.Objective")@Confluence.LabelAsterisk()</h4>
        </div>
    </div>
    <div class="row row-body-40 pt10">
        <div class="col-md-12">
            <span data-pagemode="read">@Confluence.Label(Model.ObjetiveOutComes, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblObjectives" } })</span>
            <span data-pagemode="edit">@Confluence.InputTextArea(value: Model.ObjetiveOutComes, maxLength: 4000, name: "objetives", width: "100%", height: "150px", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtObjectives" } })</span>
        </div>
    </div>
    @Html.Partial("Partials/MissionTeam", Model)
    <div class="row">
        <div class="col-md-12">
            <h4 class="subtitleGroup bold">@Localization.GetText("OP.MS.MembersOutside")</h4>
        </div>
    </div>
    <div class="row row-body-40 pt10">
        <div class="col-md-12">
            <span data-pagemode="read">@Confluence.Label(Model.MembersOutside)</span>
            <span data-pagemode="edit">@Confluence.InputTextArea(value: Model.MembersOutside, maxLength: 900, name: "membersOutside", width: "100%", height: "150px", required: false, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtMembersOutside" } })</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="subtitleGroup bold">@Localization.GetText("OP.MS.MissionCompleteView.Activities")@Confluence.LabelAsterisk()</h4>
        </div>
    </div>
    <div class="row row-body-40 pt10">
        <div class="col-md-12">
            <span data-pagemode="read">@Confluence.Label(Model.Activities, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblActivities" } })</span>
            <span data-pagemode="edit">@Confluence.InputTextArea(value: Model.Activities, maxLength: 8000, name: "activities", width: "100%", height: "150px", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtActivities" } })</span>
        </div>
    </div>
    @Html.Partial("Partials/MissionContacts", Model)
    @Html.Partial("Partials/MissionDocuments", Model)
</div>

