@using IDB.Architecture.Language;
@using IDB.MW.Application.OpusMissionsModule.Enums;

<div class="row">
    <div class="col-md-12">
        <h4 class="subtitleGroup bold">@Localization.GetText("OP.MS.MissionTeam.MissionTeam")@Confluence.LabelAsterisk()</h4>
    </div>
</div>
<div id="editMissionTeam" class="row row-body-40 pt20">
    <div class="col-md-12">

        <table class="tableNormal beginSpacing endSpacing" id="tableTeamMember" data-idb-fieldname="tblTableTeamMember">
            <thead>
                <tr>
                    <th>@Localization.GetText("OP.MS.MissionTeam.Name") </th>
                    <th>@Localization.GetText("OP.MS.MissionTeam.MissionRole")</th>
                    <th>@Localization.GetText("OP.MS.MissionTeam.TeamRole")</th>
                    <th>@Localization.GetText("OP.MS.OrganizationalUnit")</th>
                    <th>@Localization.GetText("")</th>
                </tr>
            </thead>
            <tbody>
                @{var hasMember = "";}

                @foreach (var item in Model.MissionTeamMemberList)
                {
                    hasMember = "1";

                    if (item.isExpire)
                    {
                        <tr data-id="@item.MissionTeamMemberId">
                            <td>@Confluence.Label(item.Name, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblTeamName" } })</td>
                            <td>@Confluence.Label(item.MissionRole, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblMissionRole" } })</td>
                            <td>@Confluence.Label(text: item.TeamRole, dataAttributes: new Dictionary<string, string> { { "name", "TeamRole" }, { "idb-fieldname", "lblTeamRole" } })</td>
                            <td>@Confluence.Label(text: item.OrdanizationalUnit, dataAttributes: new Dictionary<string, string> { { "name", "OrdanizationalUnit" }, { "idb-fieldname", "lblOrdanizationalUnit" } })</td>
                            <td>@Confluence.ButtonTrash(text: "", action: "deleteMember", name: "deleteMember", dataAttributes: new Dictionary<string, string> { { "pagemode", "edit" }, { "OperationTeamDataId", Convert.ToString(item.MissionTeamMemberId) }, { "idb-fieldname", "btnDeleteMember02" } })</td>
                        </tr>
                    }
                    else
                    {
                        <tr data-id="@item.MissionTeamMemberId">
                            <td>
                                <span data-pagemode="read">@Confluence.Label(item.Name, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblTeamName" } })</span>
                                <span data-pagemode="edit">
                                    @Confluence.InputDropDown(value: item.NameId.ToString(), name: "editTeamName", elements: ViewBag.MissionTeamMembers, width: "100%", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlEditTeamName" } })
                                    @Confluence.InputHidden(value: Convert.ToString(item.MissionTeamMemberId), name: "editTeamMemberId")
                                    @Confluence.InputHidden(value: Convert.ToString(item.isExpire), name: "editIsExpire")
                                </span>
                            </td>
                            <td>
                                <span data-pagemode="read">@Confluence.Label(item.MissionRole, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblMissionRole" } })</span>
                                <span data-pagemode="edit">@Confluence.InputDropDown(value: item.MissionRoleId.ToString(), name: "editMissionRole", elements: ViewBag.MemberRole, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlEditMissionRole" } })</span>
                            </td>
                            <td>@Confluence.Label(text: item.TeamRole, dataAttributes: new Dictionary<string, string> { { "name", "TeamRole" }, { "idb-fieldname", "lblTeamRole" } })</td>
                            <td>@Confluence.Label(text: item.OrdanizationalUnit, dataAttributes: new Dictionary<string, string> { { "name", "OrdanizationalUnit" }, { "idb-fieldname", "lblOrdanizationalUnit" } })</td>
                            <td>@Confluence.ButtonTrash(text: "", action: "deleteMember", name: "deleteMember", dataAttributes: new Dictionary<string, string> { { "pagemode", "edit" }, { "OperationTeamDataId", Convert.ToString(item.MissionTeamMemberId) }, { "idb-fieldname", "btnDeleteMember02" } })</td>
                        </tr>
                    }
                }
            </tbody>

        </table>

        <div class="row text-center" data-pagemode="edit">
            @Confluence.ButtonAddNewRows(text: Localization.GetText("OP.MS.MissionTeam.NewMissionMember"), tableid: "tableTeamMember", action: "newMember")
        </div>
        <span data-pagemode="edit">@Confluence.InputHidden(value: "", name: "deleteMissionTeam", required: false)</span>
        <span data-pagemode="edit">@Confluence.InputText(value: hasMember, name: "hasMissionTeam", htmlClass: "hide", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtHasMissionTeam" } })</span>
    </div>
</div>
