@using IDB.Architecture.Language
@using IDB.MW.Application.OpusMissionsModule.Enums;

@model IDB.MW.Application.MissionsModule.ViewModels.MissionHeaderViewModel

<div class="col-md-12 text-right" data-pagemode="read">
    @if (!ViewBag.New && ViewBag.HasWritePermission)
    {
        if (Model.StatusCode == MissionStatusCode.MISSION_STATUS_DRAFT)
        {
            @Confluence.ButtonBlue(
                text: Localization.GetText("OP.MS.MissionViewButtons.RequestApproval"), 
                action: "requestApproval", 
                name: "requestApproval", 
                dataAttributes: 
                    new Dictionary<string, string> { { "idb-fieldname", "btnRequestApproval" } })
        }

        if ((Model.StatusCode == MissionStatusCode.MISSION_STATUS_DRAFT
               || (Model.IsGroupCodeVps && !Model.HasWorkflowActive && (
                   Model.StatusCode == MissionStatusCode.MISSION_STATUS_APPROVED ||
                   Model.StatusCode == MissionStatusCode.MISSION_STATUS_PEND_APPR_MODIFICATION ||
                   Model.StatusCode == MissionStatusCode.MISSION_STATUS_APPROVED_MOD)))
            && Model.Type.Equals("Analysis")
            && Model.HasActivityItemESD1)
        {
            @Confluence.ButtonBlue(
               text: Localization.GetText("OP.MS.SendEmailToRepresentative"),
               action: "sendEmailToCountryRepresentativeWarningModal",
               name: "send-emailtocountryrepresentative-ToWarningButton")
        }

        if (Model.MissionFieldsConfig.IsMissionEditable)
        {
            @Confluence.ButtonBlue(
               text: Localization.GetText("OP.MS.Edit"),
               action: "tryToEditMission",
               name: "editRequestMissions",
               dataAttributes: 
                   new Dictionary<string, string> { { "idb-fieldname", "btnEditRequestMissions" } })
        }
    }
</div>

@if (!ViewBag.New && ViewBag.HasWritePermission && Model.MissionFieldsConfig.IsMissionEditable)
{
    <div class="col-md-12 text-right" data-pagemode="edit">
        @Confluence.ButtonLink(
           text: Localization.GetText("OP.MS.Cancel"), 
           action: "cancelRequestMissions", 
           name: "cancelRequestMissions", 
           dataAttributes: 
               new Dictionary<string, string> { { "idb-fieldname", "btnCancelRequestMissions" } })

        @Confluence.ButtonOrange(
           text: Localization.GetText("OP.MS.Save"), 
           action: "validationsSaveMission", 
           name: "validationsSaveMission", 
           dataAttributes: 
               new Dictionary<string, string> { { "idb-fieldname", "btnValidationsSaveMission" } })
    </div>
}
else if(Model.MissionFieldsConfig.IsMissionEditable)
{
    @Html.Partial("Partials/Controls/MissionsButtons")
}