@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Application.AdministrationModule.ViewModels.SearchService
@using IDB.Architecture.Language
@using System.Globalization;

@{
    var pageSize = ConfigurationServiceFactory.Current.GetApplicationSettings().SearchPageSize;
}

<style type="text/css">

    li:nth-child(even) {  color: #f6f7f8; }
    .c5{    width:5%    }
    .c10{   width:10%   }
    .c8{    width:8%    }
</style>
<div class="partialTable">
    <div class="row row-body-40">
        <div class="col-md-9 font-body">
            <span id="numElements"></span> @Localization.GetText("OPUS.Search.Results").HtmlEncode()
            @Confluence.InputDropDown(
                pageSize.ToString((CultureInfo.InvariantCulture)),
                name: "resultPerPageFilter",
                elements: (List<System.Web.Mvc.SelectListItem>)ViewBag.NumberPageList,
                required: false,
                placeholder: Localization.GetText("OPUS.Search.Placeholder.ResultsPerPage"),
                showEmptyOption: false,
                orderAsc: false)
        </div>
        <div id="downloadSearchExcelUp" ; class="btn-excel col-md-3 text-right hidden">
            @Confluence.ButtonExcel("xls", "downloadSearchResult")
        </div>
    </div>

    <div class="row row-body-40">
        <div class="col-md-12">
            @{
                var config = Html.RenderDataTable(new List<SearchViewModel>());
                config.Name("tableOperations")
                    .PrimaryKey(m => m.OperationNumber)
                    .AddPrimaryKeyToName(false)
                    .AjaxLoadUrl(Url.Action(
                        "SearchAjaxHandler",
                        "Search",
                        new { area = "AdministrationSecondPhase" }))
                    .CustomFilterAjax("getFilters")
                    .Paginable()
                    .PageSize(pageSize)
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.OperationNumber)
                            .Header(Localization.GetText("OPUS.Search.OperationNumber"))
                            .CssHeaderClass("col-md-1").ColumnName("OperationNumber")
                            .Orderable(true);
                        columns.Bound(c => c.OperationType)
                            .Header(Localization.GetText("OPUS.Search.Placeholder.OperationType"))
                            .CssHeaderClass("c5")
                            .ColumnName("OperationType").Orderable(true);
                        columns.Bound(c => c.ResponsableUnit)
                            .Header(Localization.GetText("OPUS.Search.ResponsibleUnit"))
                            .CssHeaderClass("c5")
                            .ColumnName("ResponsibleUnit").Orderable(true);
                        columns.Bound(c => c.OperationYear)
                            .Header(Localization.GetText("OP.OD.TabBasicData.OperationYear"))
                            .CssHeaderClass("c5")
                            .ColumnName("OperationYear")
                            .Orderable(true);
                        columns.Bound(c => c.ApprovalNumber)
                            .Header(Localization.GetText("OPUS.Search.ApprovalNumber"))
                            .CssHeaderClass("c10")
                            .ColumnName("ApprovalNumber")
                            .Orderable(true);
                        columns.Bound(c => c.OperationName)
                            .Header(Localization.GetText("OPUS.Search.OperationName"))
                            .CssHeaderClass("col-md-3")
                            .ColumnName("OperationName")
                            .Orderable(true);
                        columns.Bound(c => c.TeamLeader)
                            .Header(Localization.GetText("OPUS.Search.TeamLeader"))
                            .CssHeaderClass("c10")
                            .ColumnName("TeamLeader")
                            .Orderable(true);
                        columns.Bound(c => c.Status)
                            .Header(Localization.GetText("OP.DE.Table.Overall"))
                            .ColumnName("Status")
                            .Orderable(true);
                        columns.Bound(c => c.OriginalAmount)
                            .Header(Localization.GetText("OP.DE.Table.OriginalAmount"))
                            .CssHeaderClass("c8")
                            .ColumnName("OriginalAmount")
                            .Orderable(true);
                    });

                config.TableClass = "tableNormal beginSpacing";
            }

            @Html.Partial("Controls/DataTable", config)
        </div>
    </div>
    <br />
    <div id="downloadSearchExcelDown" style="text-align:right"; class="btn-excel hidden">
        @Confluence.ButtonExcel("xls", "downloadSearchResult")
    </div>
</div>


