@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Application.AdministrationModule.ViewModels.SearchService
@using System.Collections.Generic


<div class="parsleyminelementsfilled" data-parsley-validate="data-parsley-validate" data-parsley excluded="[disabled]">

    <div class="row row-body-10 font-body">

        <div class="col-md-7" data-id="generalFilter" data-parsley-excluded="[disabled]">
            @Confluence.InputButton(
                string.IsNullOrEmpty(ViewBag.OperationNumber) ? string.Empty : ViewBag.OperationNumber,
                "generalSearch",
                string.Empty,
                width: "100%",
                placeholder: Localization.GetText("OPUS.Search.Placeholder.OperationName"),
                dataAttributes: new Dictionary<string, string> { { "id", "searchButton" } })
        </div>

    </div>

    <div class="row row-body-10 font-body">
        <div class="col-md-6">
            <input type="text" class="hide"
                   data-name="validatorForNumElements"
                   data-force-parsley-validation="true"
                   data-parsley-minelementsfilled="1; .parsleyminelementsfilled input:not([disabled],[data-name=validatorForNumElements]),.parsleyminelementsfilled select:not([disabled]),.parsleyminelementsfilled textarea:not([disabled])"
                   value="forceValidate" />
        </div>
    </div>


    @Html.Partial("Partial/Search/SearchPartialAdvanced")

    <div id="messageFilterOperationType" style="color: #3275C7; font-weight:bold">
        @Confluence.InformationSection(Localization.GetText("OP.MessageFilterOperationType"))
        <img src="~/Content/images/attributes.png" />
    </div>
    
    <div id="sectionAttributesSearch" class="row row-body-10 font-body "> </div>
    <br />
    <div class="col-md-7 row row-body-10 font-body pull-right">
        <div class="col-md-1">
            @Confluence.ButtonLink(
                text: @Localization.GetText("OPUS.Search.ClearAll"),
                name: "ClearLink",
                dataAttributes: new Dictionary<string, string>
                {
                    { "id", "ClearLink" }
                })
        </div>
        <div class="col-md-3">
           @Confluence.ButtonBlue(
                text: Localization.GetText("OPUS.Search.SaveFavorite"),
                name: "buttonBlueSaveFavorite",
                width: "155px")
        </div>

        <div class="col-md-3">
            @Confluence.ButtonBlue(
                text: Localization.GetText("OPUS.Search.retrieveFavorite"),
                name: "buttonBlueRetrieveFavorite",
                width: "155px")
        </div>


        <div class="col-md-2">
            @Confluence.ButtonOrange(
                text: Localization.GetText("OPUS.Search.Title"),
                name: "buttonBlueSearch",
                width: "155px")
        </div>

    </div>

</div>

@Html.Partial("Partial/Search/SearchPartialTable")

