@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Application.AdministrationModule.ViewModels.SearchService
@using IDB.Architecture.Language

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var expRegDate = appSettings.ValidationDataPickerExpReg;
    var formatDate = appSettings.FormatDate;
}

<div id="SearchSimple" data-search-panel>
    <div class="row row-body-10 font-body">
        <div class="col-md-3">
            @Confluence.InputDropDown(
                string.Empty,
                name: "DivisionFilter",
                elements: (List<SelectListItem>)ViewBag.Division,
                required: false,
                placeholder: Localization.GetText("OPUS.Search.Placeholder.Division"))
        </div>
        <div class="col-md-3">
            @Confluence.InputDropDown(
                string.Empty,
                name: "CountryFilter",
                elements: (List<SelectListItem>)ViewBag.Country,
                required: false,
                placeholder: Localization.GetText("OPUS.Search.Placeholder.Country"))
        </div>
        <div class="col-md-3">
            @Confluence.InputDropDown(
                string.Empty,
                name: "OperationTypeFilter",
                elements: (List<SelectListItem>)ViewBag.OperationType,
                required: false,
                placeholder: Localization.GetText("OPUS.Search.Placeholder.OperationType"))
        </div>
    </div>
    <div class="row row-body-10 font-body">
        <div class="col-md-3">
            @Confluence.InputDropDown(
                string.Empty,
                name: "SimpleEventFilter",
                elements: (List<System.Web.Mvc.SelectListItem>)ViewBag.Milestone,
                required: false,
                placeholder: Localization.GetText("OPUS.Search.Placeholder.Event"))
        </div>
        <div class="col-md-3">
            @Confluence.InputDatePicker(
                null,
                name: "YearFromFilter",
                required: false,
                expReg: expRegDate,
                htmlClass: "own-datepicker calendar",
                format: "dd/MM/yyyy",
                disabled: false,
                width: "200px",
                placeholder: Localization.GetText("From"),
                dataAttributes: new Dictionary<string, string> { { "parsley-lessOrEqualDate", "[name=YearToFilter]" } })
        </div>
        <div class="col-md-3">
            @Confluence.InputDatePicker(
                null,
                "YearToFilter",
                required: false,
                expReg: expRegDate,
                htmlClass: "own-datepicker calendar",
                format: "dd/MM/yyyy",
                disabled: false,
                width: "200px",
                placeholder: Localization.GetText("To"),
                dataAttributes: new Dictionary<string, string> { { "parsley-greaterOrEqualDate", "[name=YearFromFilter]" } })

        </div>
    </div>
    <div class="row row-body-10 font-body">
        <div class="col-md-offset-6 col-md-2">
            @Confluence.InputCheckbox(
                    isChecked: false,
                    name: "simpleMyOperationsFilter",
                    label: Localization.GetText("OPUS.Search.MyOpertions"),
                    id: "MyOperationsFilter",
                    htmlClass: "margin-top-12")
        </div>
    </div>
</div>