@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Application.AdministrationModule.ViewModels.SearchService
@using IDB.Architecture.Language

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var expRegDate = appSettings.ValidationDataPickerExpReg;
}

<div class="row row-body-10 font-body " id="SearchAdvanced" data-search-panel>
    <div class="col-md-12">
        <div class="row row-body-10 font-body">

            <div class="col-md-3">
                @Confluence.InputDropDown(
                    string.Empty,
                    name: "AdvancedOperationTypeFilter",
                    elements: (List<SelectListItem>)ViewBag.OperationType,
                    required: false,
                    placeholder: Localization.GetText("OPUS.Search.Placeholder.OperationType"))
            </div>

            <div class="col-md-3">
                @Confluence.InputDropDown(
                    string.Empty,
                    name: "CountryDepartamentFilter",
                    elements: (List<SelectListItem>)ViewBag.CountryDepartment,
                    required: false,
                    placeholder: Localization.GetText("OPUS.Search.Placeholder.CountryDeparment"))
            </div>

            <div class="col-md-3">
                @Confluence.InputDropDown(
                    string.Empty,
                    name: "DepartamentSectorFilter",
                    elements: (List<SelectListItem>)ViewBag.Sector,
                    required: false,
                    placeholder: Localization.GetText("OPUS.Search.Placeholder.DepartmentSector"))
            </div>

        </div>

        <div class="row row-body-10 font-body">

            <div class="col-md-3">
                @Confluence.InputDropDownMulti(
                    name: "AdvancedOperationYearFilter",
                    elements: (List<MultiSelectListItem>)ViewBag.OperationYear,
                    required: false,
                    width: "200px",
                    placeholder: Localization.GetText("OP.OD.TabBasicData.OperationYear"))
            </div>

            <div class="col-md-3">
                @Confluence.InputDropDown(
                    string.Empty,
                    name: "AdvancedCountryFilter",
                    elements: (List<SelectListItem>)ViewBag.Country,
                    required: false,
                    placeholder: Localization.GetText("OP.OD.TabBasicData.Country"))

            </div>

            <div class="col-md-3">
                @Confluence.InputDropDown(
                    string.Empty,
                    name: "AdvancedDivisionFilter",
                    elements: (List<SelectListItem>)ViewBag.Division,
                    required: false,
                    placeholder: Localization.GetText("OPUS.Search.Placeholder.Division"))
            </div>

        </div>

        <div class="row row-body-10 font-body">

            <div class="col-md-3">
                @Confluence.InputDropDown(
                    string.Empty,
                    name: "CategoryFilter",
                    elements: (List<System.Web.Mvc.SelectListItem>)ViewBag.Category,
                    required: false,
                    placeholder: Localization.GetText("OPUS.Search.Placeholder.Category"))
            </div>

            <div class="col-md-3">
                @Confluence.InputDropDown(
                    string.Empty,
                    name: "PhaseFilter",
                    elements: (List<SelectListItem>)ViewBag.Subphase,
                    required: false,
                    placeholder: Localization.GetText("OPUS.Search.Placeholder.Phase"))
            </div>

            <div class="col-md-3">
                @Confluence.InputText(
                    string.Empty,
                    name: "TeamMemberFilter",
                    required: false,
                    width: "200px",
                    placeholder: Localization.GetText("OPUS.Search.Placeholder.TeamMemberKeyword"))
            </div>

        </div>

        <div class="row row-body-10 font-body">

            <div class="col-md-3">
                @Confluence.InputDropDown(
                    string.Empty,
                    name: "FundFilter",
                    elements: (List<SelectListItem>)ViewBag.Fund,
                    required: false,
                    placeholder: Localization.GetText("OPUS.Search.Placeholder.Fund"))
            </div>

            <div class="col-md-3">
                @Confluence.InputDropDownMulti(
                    name: "AdvancedOverallStageFilter",
                    elements: (List<MultiSelectListItem>)ViewBag.OverallStage,
                    required: false,
                    width: "200px",
                    placeholder: Localization.GetText("OP.DE.Table.Overall"),
                    orderAsc: false)
            </div>

            <div class="col-md-3 mt10">
                @Confluence.InputCheckbox(
                    isChecked: true,
                    name: "showActiveFilter",
                    label: Localization.GetText("OPUS.Search.ShowActive"),
                    id: "ShowActiveFilter",
                    htmlClass: "mr10")

                @Confluence.InputCheckbox(
                    isChecked: false,
                    name: "showInactiveFilter",
                    label: Localization.GetText("OPUS.Search.ShowInactive"),
                    id: "ShowInactiveFilter",
                    htmlClass: "mr10")

                @Confluence.InputCheckbox(
                    isChecked: false,
                    name: "showExitedFilter",
                    label: Localization.GetText("OPUS.Search.ShowExited"),
                    id: "ShowExitedFilter")
            </div>

        </div>

        <div class="row row-body-10 font-body">

            <div class="col-md-5 mt10">
                @Confluence.InputCheckbox(
                    isChecked: false,
                    name: "advancedMyOperationsFilter",
                    label: Localization.GetText("OPUS.Search.MyOpertions"),
                    id: "MyOperationsFilter")
            </div>

        </div>

    </div>

</div>