@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix
@using IDB.Architecture.Language
@model OperationsDetailsViewModel
<div class="row mb60">
    <div class="col-md-12">
        @Confluence.Navigation(
                                      Confluence.LabelMainTitle(Localization.GetText("CS.OperationDetails.Title")),
                                      Url.Action("Read", "ResultMatrix", new { area = "CountryStrategy", tabName = "tabPortfolioSummary" }))
    </div>
</div>
@if (Model.OperationsByInstrument.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold(Model.Title)
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/DetailsOperationTableRead", Model.OperationsByInstrument)
        </div>
    </div>
}

@if (Model.IDBLoanGuaIgrOperations.Any())
{
<div class="row mb60 pl30">
    <div class="col-md-12 mb10">
        @Confluence.LabelBold(Model.Title)
    </div>
    <div class="col-md-12">
        @Html.Partial("ReadPartial/DetailsOperationAlignmentTableRead", Model.IDBLoanGuaIgrOperations)
    </div>
</div>
}
@if (Model.IDBTCOperations.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold(Model.Title)
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/DetailsOperationAlignmentTableRead", Model.IDBTCOperations)
        </div>
    </div>
}
@if (Model.IICOperations.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold(Model.Title)
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/DetailsOperationAlignmentTableRead", Model.IICOperations)
        </div>
    </div>
}
@if (Model.MIFLonGuaIgrEquOperations.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold(Model.Title)
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/DetailsOperationAlignmentTableRead", Model.MIFLonGuaIgrEquOperations)
        </div>
    </div>
}
@if (Model.MIFTCOperations.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold(Model.Title)
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/DetailsOperationAlignmentTableRead", Model.MIFTCOperations)
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            var elementFrame = window.parent.document.getElementsByName('someFrame')[0];
            elementFrame.removeAttribute("height");
            elementFrame.removeAttribute("style");
        });

        registerCallback(function () {
            $(document).on('click', '[name="operationNumberLink"]', function (e) {
                var source = $(this);
                var url = source.attr('data-url');
                window.open(url, '_blank');
            });
        });

    </script>
}