@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers
@using IDB.MW.Application.CountryStrategyModule.Enums

@model ResultMatrixViewModel

@if (Model != null)
{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;

    <input type="hidden" data-idb-pagename="UI-CS-005-ResultsMatrix" />

    <div class="row mb30">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/Buttons", Model)
            @Confluence.LabelMainTitle(Localization.GetText("CS.ResultMatrix.Title"))
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-2">
            @Confluence.LabelsGroup(Localization.GetText("CS.ResultMatrix.LastUpdate"),
            contentAlways: FormatHelper.Format(Model.LastUpdate, formatDate))
        </div>
        <div class="col-md-2">
            @Confluence.LabelsGroup(Localization.GetText("CS.ResultMatrix.Status"),
            contentAlways: Model.StatusName)
        </div>
        <div class="col-md-2">
            @Confluence.LabelsGroup(Localization.GetText("CS.ResultMatrix.Username"),
            contentAlways: Model.LastUserUpdate)
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12 text-right">
            @Confluence.ButtonWord(name: "exportWord", action: "downloadWord")
            @Confluence.ButtonPdf(name: "exportPdf", action: "downloadPdf")
        </div>
        <div class="right-buttons" style="padding-right: 15px;">
            @(Html.CollapseAll("collapseAllComponent")
            .CollapseSingleSelector("[data-name=\"collapseComponent\"]"))
        </div>
    </div>
    <div class="resultMatrixArea">
        @foreach (var component in Model.Components)
        {
            @Html.Partial("ReadPartial/Component", component)
        }
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/Buttons", Model)
        </div>
    </div>

    @section scripts{
        <script type="text/javascript">

                function downloadWord(source) {
                    var url = '@Url.Action("CSResultsMatrixExportToWord", "ResultMatrix", new { area = "CountryStrategy" })';

                    window.open(url, '_blank');
                }

                function downloadXls(source) {
                    var url = '@Url.Action("CSResultsMatrixExportToExcel", "ResultMatrix", new { area = "CountryStrategy" })';

                    window.open(url, '_blank');
                }


                function downloadPdf(source) {
                    var url = '@Url.Action("CSResultsMatrixExportToPDF", "ResultMatrix", new { area = "CountryStrategy" })';

                    window.open(url, '_blank');
                }

        </script>

        <script type="text/javascript">
            registerCallback(function () {
                $(document).on('click', '[name="edit"]', function (e) {
                    var url = '@Url.Action("Edit", "ResultMatrix", new { area = "CountryStrategy" })';
                    window.location.assign(url);
                });

                $(document).on('click', '[name="editActiveRM"]', function (e) {
                    var url = '@Url.Action("EditActiveRM", "ResultMatrix", new { area = "CountryStrategy" })';
                    window.location.assign(url);
                });
            });
        </script>
    }
}
