@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core.EditTemplates
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.Presentation.MVC4.Areas.Indicators.Models
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Framework
@using IDB.Presentation.MVC4.Areas.Indicators.Enums

@model EditTemplatePageViewModel<EditTemplateFrameworkViewModel>
@{string titleKey = "";}

@Html.Partial("PermissionButtons", new Dictionary<string, ActionEnum[]>()
{
    {
        "Set FW Indicator Template Admin Write",
        new ActionEnum[]
        {
            ActionEnum.FWIndicatorTemplateWritePermission
        }
    }
    ,{
        "Set Empty",
        new ActionEnum[]{}
    }
})

@if(MvcHelpers.CheckSomeRoles(ViewBag.Permissions, ActionEnum.FWIndicatorTemplateWritePermission))
{
    <div class="page">
        <div class="row mb16">
            <div class="col-md-12">
                <div class="floatLeft">
                    @Confluence.LabelMainTitle(Localization.GetText("IM.EditReadTemplates.Title"))
                </div>

                @Html.Partial("EditTemplate/Buttons")
            </div>
        </div>

        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.Instructions.Allmodifications"))
            </div>
        </div>


        <div data-parsley-validate="true" name="submitForm" data-ignore-nullable-values="true">
            <input type="hidden" value="@ViewBag.SerializedViewModel" id="serializeModel" name="serializeModel" />
            <div data-fake-pagemode="edit">

                @Html.Partial("EditTemplateData", Model.Template)

                <div class="row mb20">
                    <div class="col-md-12">
                        @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadTemplates.IndicatorProfile.Title"))
                    </div>
                </div>

                @Html.Partial("Display/EditSimplelevelAttribute",
                        new SimpleLevelAttributeViewModel(Model.Template.Specific.Types)
                            .SetName("Type")
                            .SetTitleKey("IM.EditReadIndicator.IndicatorTemplate.Type.Title")
                            .SetNewButtonKey("IM.EditReadIndicator.IndicatorTemplate.Type.New")
                            .SetLanguageEnRequired(true)
                            .SetLanguageEsRequired(true)
                            .SetLanguageFrRequired(true)
                            .SetShowNotificationDelete()
                            .SetLanguagePtRequired(true))

                @if(string.Compare(Model.Template.Common.Version, "Corporate Results Framework 2012-2015") == 0)
                {
                    titleKey = "IM.EditReadIndicator.IndicatorProfile.PriorityArea";
                }
                else
                {
                    titleKey = "IM.EditReadIndicator.IndicatorTemplate.PriorityArea.Title";
                }

                @Html.Partial("Display/EditMultilevelAttribute",
                        new MultiLevelAttributeViewModel(Model.Template.Specific.PriorityAreas)
                            .SetName("PriorityArea")
                            .SetTitleKey(titleKey)
                            .SetLevelKey("IM.EditReadIndicator.IndicatorTemplate.PriorityArea.Level")
                            .SetCategoryKey("IM.EditReadIndicator.IndicatorTemplate.PriorityArea.Category")
                            .SetNewLevelButtonKey("IM.EditReadIndicator.IndicatorTemplate.PriorityArea.Level.New")
                            .SetNewCategoryButtonKey("IM.EditReadIndicator.IndicatorTemplate.PriorityArea.Category.New")
                            .SetSubTitle(true)
                            .SetShowNotificationDelete()
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueEnRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueEsRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueFrRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguaguePtRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueEnRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueEsRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueFrRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguaguePtRequired))


                @Html.Partial("EditTemplate/EditTemplateTechnicalField", Model.Template)


                @Html.Partial("Display/EditMultilevelAttribute",
                        new MultiLevelAttributeViewModel(Model.Template.Specific.Disaggregations)
                            .SetName("Disaggregation")
                            .SetTitleKey("IM.EditReadIndicator.IndicatorTemplate.Disaggregation.Title")
                            .SetLevelKey("IM.EditReadIndicator.IndicatorTemplate.Disaggregation.Level")
                            .SetCategoryKey("IM.EditReadIndicator.IndicatorTemplate.Disaggregation.Category")
                            .SetNewLevelButtonKey("IM.EditReadIndicator.IndicatorTemplate.Disaggregation.Level.New")
                            .SetNewCategoryButtonKey("IM.EditReadIndicator.IndicatorTemplate.Disaggregation.Category.New")
                            .SetShowNotificationDelete()
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueEnRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueEsRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueFrRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguaguePtRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueEnRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueEsRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueFrRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguaguePtRequired)
                            )

            </div>
        </div>


        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("EditTemplate/Buttons")
            </div>
        </div>
    </div>

    @section scripts{
        @IndicatorCommon.SetEditModeAndChangeFakePageMode()
        @IndicatorCommon.TemplateNavigationActionsEdit(Url, Model)
        @IndicatorCommon.TemplateActionsEdit()
        @if(Model.Template.Common.TemplateId == 0)
        {
            @IndicatorCommon.CreateDefaultTechnicalFields(Model.Template.Common.TechnicalFields);
            @IndicatorCommon.TemplateNameNotDuplicate(Localization.GetText("EditReadTemplates.Message.TemplateNamesDuplicate"))
        }
    }
}
