@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core.EditTemplates
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.Presentation.MVC4.Areas.Indicators.Models
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Framework
@using IDB.Presentation.MVC4.Areas.Indicators.Enums

@model EditTemplatePageViewModel<EditTemplateFrameworkViewModel>
@{string titleKey = "";}

@Html.Partial("PermissionButtons", new Dictionary<string, ActionEnum[]>()
{
    {
        "Set FW Indicator Template Admin Write",
        new ActionEnum[]
        {
            ActionEnum.FWIndicatorTemplateWritePermission
        }
    }
    ,{
        "Set Empty",
        new ActionEnum[]{}
    }
})

@if(MvcHelpers.CheckSomeRoles(ViewBag.Permissions, ActionEnum.FWIndicatorTemplateWritePermission))
{
    <div class="page">

        <div class="row mb16">
            <div class="col-md-12">
                <div class="floatLeft">
                    @Confluence.LabelMainTitle(Localization.GetText("IM.EditReadTemplates.Title"))
                </div>

                @Html.Partial("ReadTemplate/Buttons")
            </div>

        </div>


        <div class="row  mb20">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.Instructions.Allmodifications"))
            </div>
        </div>



        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadTemplates.TemplateData.Title"))
            </div>
        </div>

        <div class="row mb20">
            <div class="col-md-6 data-template-version">
                @Confluence.LabelsGroup(Localization.GetText("IM.EditReadTemplates.TemplateData.TemplateVersion"), boldText(Model.Template.Common.Version), true)
            </div>

            <div class="col-md-6 data-template-description">
                @Confluence.LabelsGroup(Localization.GetText("IM.EditReadTemplates.TemplateData.Description"), boldText(Model.Template.Common.Description), true)
            </div>
        </div>

        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadTemplates.IndicatorProfile.Title"))
            </div>
        </div>


        @Html.Partial("Display/ReadSimplelevelAttribute",
                        new SimpleLevelAttributeViewModel(Model.Template.Specific.Types)
                            .SetName("Type")
                            .SetTitleKey("IM.EditReadIndicator.IndicatorTemplate.Type.Title")
                            .SetLanguageEnRequired(true)
                            .SetLanguageEsRequired(true)
                            .SetLanguageFrRequired(true)
                            .SetLanguagePtRequired(true))
        @if(string.Compare(Model.Template.Common.Version, "Corporate Results Framework 2012-2015") == 0)
        {
            titleKey = "IM.EditReadIndicator.IndicatorProfile.PriorityArea";
        }
        else
        {
            titleKey = "IM.EditReadIndicator.IndicatorTemplate.PriorityArea.Title";
        }

        @Html.Partial("Display/ReadMultilevelAttribute",
                        new MultiLevelAttributeViewModel(Model.Template.Specific.PriorityAreas)
                            .SetName("PriorityArea")
                            .SetTitleKey(titleKey)
                            .SetLevelKey("IM.EditReadIndicator.IndicatorTemplate.PriorityArea.Level")
                            .SetCategoryKey("IM.EditReadIndicator.IndicatorTemplate.PriorityArea.Category")
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueEnRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueEsRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueFrRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguaguePtRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueEnRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueEsRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueFrRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguaguePtRequired)
                            .SetSubTitle(true))

        <div class="row">
            <div class="col-md-12 mb16">
                @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.TechnicalFields.Title"))
            </div>
        </div>
        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("ReadTemplate/TechnicalFieldsPartial", Model.Template.Common.TechnicalFields)
            </div>
        </div>


        @Html.Partial("Display/ReadMultilevelAttribute",
                        new MultiLevelAttributeViewModel(Model.Template.Specific.Disaggregations)
                            .SetName("Disaggregation")
                            .SetTitleKey("IM.EditReadIndicator.IndicatorTemplate.Disaggregation.Title")
                            .SetLevelKey("IM.EditReadIndicator.IndicatorTemplate.Disaggregation.Level")
                            .SetCategoryKey("IM.EditReadIndicator.IndicatorTemplate.Disaggregation.Category")
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueEnRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueEsRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguagueFrRequired)
                            .SetLanguageRequired(LanguageTypeEnum.LevelLanguaguePtRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueEnRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueEsRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguagueFrRequired)
                            .SetLanguageRequired(LanguageTypeEnum.CategoryLanguaguePtRequired))

        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("ReadTemplate/Buttons")
            </div>
        </div>


    </div>

    @section scripts{
        @IndicatorCommon.TemplateNavigationActionsRead(Url, Model)
    }
}

@helper boldText(string text)
{
    @Confluence.LabelBold(text)
}
