@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core.EditIndicators
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Framework
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.Presentation.MVC4.Areas.Indicators.Models

@model EditIndicatorPageViewModel<FWBasicDataViewModel>


@Html.Partial("PermissionButtons", new Dictionary<string, ActionEnum[]>()
{
    {
        "Set FW Indicator Admin Write",
        new ActionEnum[]
        {
            ActionEnum.FWIndicatorWritePermission
        }
    }
    ,{
        "Set FW Indicator Template Admin Write",
        new ActionEnum[]
        {
            ActionEnum.FWIndicatorTemplateWritePermission
        }
    }
    ,{
        "Set Both",
        new ActionEnum[]
        {
            ActionEnum.FWIndicatorWritePermission,
            ActionEnum.FWIndicatorTemplateWritePermission
        }
    }
    ,{
        "Set Empty",
        new ActionEnum[]{}
    }
})

@if(MvcHelpers.CheckSomeRoles(ViewBag.Permissions, ActionEnum.FWIndicatorWritePermission, ActionEnum.FWIndicatorTemplateWritePermission))
{
    <div class="row mb20">
        <div class="col-md-12">
            @Confluence.Navigation(Confluence.LabelMainTitle(Localization.GetText("IM.EditReadIndicator.Title.IndicatorDetails")), Url.Action("RedirectToIndicatorsPage", Model.ControllerName, new { area = "Indicators" }))

            @Html.Partial("ReadIndicators/Buttons")
        </div>
    </div>

    <div class="row mb20">
        <div class="col-md-12">
            @Confluence.Label(Localization.GetText("IM.EditReadIndicator.BasicData.AcitiveInstructionsChanges"))
        </div>
    </div>


    <div class="page">

        @Html.Partial("ReadIndBasicData", Model)

        @* Start SubIndicators *@
        @Html.Partial("Display/ReadSubindicator",
                        new MVCSubindicatorViewModel(Model.Indicator.Specific.Subindicators)
                            .SetName("CRFSubindicator")
                             .SetTitleKey("IM.EditReadIndicator.IndicatorProfile.SubIndicatorTable.Title")
                             .SetNewButtonKey("IM.EditReadIndicator.IndicatorProfile.SubIndicatorTable.NewSubIndicatorButton")
                             .SetSubTitle(true)
                             .SetLanguageEnRequired(true)
                             .SetLanguageEsRequired(true)
                             .SetLanguageFrRequired(true)
                             .SetLanguagePtRequired(true))
        @* End SubIndicators *@

        @* Start Technical Field *@
        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadIndicator.TechnicalFields.Title"))
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.Partial("ReadIndicators/ReadIndTechnicalFields", Model.Indicator.Common.TechnicalFields)
            </div>
        </div>
        @* End Technical Field *@

        @* Start Disaggregations *@
        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadIndicator.Disaggregation.Title"))
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" data-section="disaggregation">
                @{
    var items = (IEnumerable<MultiDropDownItem>) ViewBag.DisaggregationList;
    var selectedLevelCategoryItems = items.GetSelectedTextMultiLevel(Model.Indicator.Specific.DisaggregationIds);
    foreach(KeyValuePair<string, List<string>> level in selectedLevelCategoryItems)
    {
        <div class="row mb16">
            <div class="col-md-12">
                @Confluence.LabelBold(text : level.Key)
            </div>
        </div>
        foreach(var textCategory in level.Value)
        {
            <div class="row mb16 category-tabulation">
                <div class="col-md-12">
                    @Confluence.LabelBold(text : textCategory)
                </div>
            </div>
        }
    }


                }
            </div>
        </div>

        @* End Disaggregations *@

        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("ReadIndicators/Buttons")
            </div>
        </div>

    </div>

    @section scripts{
        @IndicatorCommon.IndicatorNavigationActionsRead(Url, Model.ControllerName, Model.Indicator.Common.IndicatorId)
    }
}