@using IDB.MW.Infrastructure.Configuration
@using IDB.Architecture.Language
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums

@model TemplatePageViewModel

@Html.Partial("PermissionButtons", new Dictionary<string, ActionEnum[]>()
{
    {
        "Set FW Indicator Template Admin Write",
        new ActionEnum[]
        {
            ActionEnum.FWIndicatorTemplateWritePermission
        }
    }
    ,{
        "Set Empty",
        new ActionEnum[]{}
    }
})

@if(MvcHelpers.CheckSomeRoles(ViewBag.Permissions, ActionEnum.FWIndicatorTemplateWritePermission))
{
    <div class="page">
        <div class="row mb20">
            <div class="col-md-12">
                <div class="floatLeft">
                    @Confluence.LabelMainTitle(Localization.GetText("IM.TemplatesList.Title"))
                </div>

                @Html.Partial("TemplatesPage/ReadModeButtons")
            </div>

        </div>

        <div class="row">
            <div class="col-md-8">
                @Confluence.LabelMainSubTitle(Localization.GetText("IM.TemplatesList.Subtitle"))
            </div>

            <div class="col-md-4 text-right">
                @Confluence.ButtonWhite(text : Localization.GetText("IM.TemplatesList.CreateNewTemplate"), name : "create")
            </div>
        </div>

        @Html.Partial("TemplatesPage/ReadTemplateListPartial", Model)

        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("TemplatesPage/ReadModeButtons")
            </div>
        </div>
    </div>

    @section scripts{
        @IndicatorCommon.TemplateListNavigationActionsRead(Url, Model.ControllerName, ViewBag.GreenMessage)
    }
}
