@using IDB.MW.Domain.Values
@model List<IDB.MW.Domain.Models.Supervision.SupervisionPlan.ActivityModel>
@{
    var counter = 0;
}

<script>
    $(document).ready(function () {
        if ($("#hdnIsApprovedPlan").val() === "True") {
            $("#budgetInformationContainer").show();
        }
    });
</script>

<div id="ActivitiesPanel">
    @if (ViewBag.ModalityType == SpGlobalValues.SpDetailed)
    {
        <div id="ActivitiesDetailed">
            <table class="tableNormal">
                <thead>
                    <tr>
                        <td class="treeNumber"></td>
                        <th class="noBackground"></th>
                        <th>@Localization.GetText("SP.Summary.ActivitiesTable.Type")</th>
                        <th>@Localization.GetText("SP.Summary.ActivitiesTable.Description")</th>
                        <th>@Localization.GetText("SP.Summary.ActivitiesTable.PlannedDate")</th>
                        <th>@Localization.GetText("SP.Summary.ActivitiesTable.Mission")</th>
                        <th>@Localization.GetText("SP.Summary.ActivitiesTable.Source")</th>
                        <th>@Localization.GetText("SP.Summary.ActivitiesTable.Cost")</th>
                        <th>@Localization.GetText("SP.Summary.ActivitiesTable.CompletionDate")</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var activity in Model)
                {
                    counter++;
                    <tbody>
                        <tr data-id="0">
                            <td class="treeNumber">@counter</td>
                            <td class="noBackground tree icon">@Confluence.ButtonShowRowExpand()</td>
                            <td>@Confluence.InputDropDown("", "ActivityType", ViewBag.ActivityType, width: "100%")</td>
                            <td>@Confluence.InputText(activity.Description, "Description", width: "100%")</td>
                            <td>@Confluence.InputDatePicker(activity.PlannedDate, "PlanedDate", width: "100%")</td>
                            <td>-</td>
                            <td>@Confluence.InputDropDown("", "Source", ViewBag.SourceList, width: "100%")</td>
                            <td>@Confluence.InputDecimal(activity.Cost, "Cost", width: "100%")</td>
                            <td>@Confluence.InputDatePicker(activity.CompletionDate, "CompletionDate", width: "100%")</td>
                            <td>@Confluence.ButtonTrash("")</td>
                        </tr>
                        <tr data-row-parent-id="0">
                            <td class="treeNumber">1.1</td>
                            <td class="tree"><span></span><span class=""></span></td>
                            <td colspan="8">
                                <div class="col-md-12 mt10">
                                    <table class="tableNormal mb10">
                                        <thead>
                                        <tr>
                                            <th>@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Description")</th>
                                            <th>@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Quarter")</th>
                                            <th>@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Compliance")</th>
                                            <th>@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.CompletionDate")</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                       @foreach (var cp in activity.CriticalProduct)
                                       {
                                        <tbody>
                                            <tr data-id>
                                                <td>@cp.Description</td>
                                                <td>@cp.Quarter</td>
                                                <td>@cp.Compliance</td>
                                                <td>@cp.CompletionDate</td>
                                                <td>@Confluence.ButtonTrash("")</td>
                                            </tr>
                                        </tbody>
                                       }
                                        
                                    </table>
                                    <div class="text-center">
                                        @Confluence.ButtonAddNewRows(Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Add"), "")
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-row-parent-id="0">
                            <td class="treeNumber">1.2</td>
                            <td class="tree"><span></span><span class=""></span></td>
                            <td colspan="8">
                                <div class="col-md-12 mt10">
                                    <table class="tableNormal mb10">
                                        <thead>
                                            <tr>
                                                <th>@Localization.GetText("SP.Summary.ActivitiesTable.File.User")</th>
                                                <th>@Localization.GetText("SP.Summary.ActivitiesTable.File.Date")</th>
                                                <th>@Localization.GetText("SP.Summary.ActivitiesTable.File.IDBNumber")</th>
                                                <th>@Localization.GetText("SP.Summary.ActivitiesTable.File.Description")</th>
                                                <th>@Localization.GetText("SP.Summary.ActivitiesTable.File.Action")</th>
                                            </tr>
                                        </thead>
                                        @foreach (var doc in activity.ActivityDocuments.Where(doc => doc.Document != null))
                                        {
                                            <tbody>
                                                <tr data-id>
                                                    <td>@Confluence.Label(doc.Document.CreatedBy)</td>
                                                    <td>@Confluence.Label(doc.Document.Created.ToString())</td>
                                                    <td>@Confluence.Label(doc.Document.DocumentReference)</td>
                                                    <td>@Confluence.InputText(doc.Document.Description, "docDescription", width: "100%")</td>
                                                    <td>
                                                        @Confluence.ButtonTrash("")
                                                        @Confluence.ButtonDownload("")
                                                    </td>
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                    <div class="text-center">
                                        @Confluence.ButtonAddNewRows(Localization.GetText("SP.Summary.ActivitiesTable.File.Add"), "")
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    }
    else
    {
        <div id="ActivitySimplified">
            @foreach (var activity in Model)
            {
                @Html.HiddenFor(x => activity.ActivityId)
                counter++;
                <div class="verticalMargin40">
                    <div class="leftMargin40 relative borderLeft hierarchicalComponentTable paddingLeft20 marginBottom2">
                        <div class="verticalMargin20 paddingTop10px">
                            <div class="componentNumber grayColor absolute">@counter</div>
                            <div class="minMaxButtonContainer absolute">
                                <input class="minMaxButton cursorPointer plus" type="button" value="" />
                            </div>
                            <h3 class="font1-5em">@(((Dictionary<int, string>)ViewBag.LocalizedMainActivities)[activity.MainActivity.ConvergenceMasterDataId])</h3>
                            <div class="verticalMargin40">
                                <div class="inline-block w200 leftAlign">
                                    <div class="disabledColor"> @Localization.GetText("Planned")</div>
                                    <div class="boldFont verticalMargin10">@activity.Planned</div>
                                </div>
                                <div class="inline-block w200 leftAlign">
                                    <div class="disabledColor"> @Localization.GetText("Actual")</div>
                                    <div class="boldFont verticalMargin10">@activity.Actual</div>
                                </div>
                            </div>
                        </div>
                        <h3 class="font1-5em verticalMargin10"> @Localization.GetText("Documents")</h3>
                        <!-- inicio tabla -->
                        <div class='componentTableContainer marginBottom2'>
                            <table class="grid tableNormal">
                                <thead>
                                    <tr>
                                        <th> @Localization.GetText("User")</th>
                                        <th> @Localization.GetText("Date")</th>
                                        <th> @Localization.GetText("IDB Doc. Number")</th>
                                        <th> @Localization.GetText("Content")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var doc in activity.ActivityDocuments.Where(doc => doc.Document != null))
                                    {
                                        <tr>
                                            <td>@doc.Document.CreatedBy</td>
                                            <td>@(doc.Document.Created.HasValue ? doc.Document.Created.Value.ToString("dd MMM yyy") : "")</td>
                                            <td>@doc.Document.DocumentReference</td>
                                            <td>@doc.Document.Description</td>
                                            <td>
                                                <input type="button" class="noBorder operationButton documentSupportDownloadIcon cursorPointer download-doc" data-route="@Url.Action("GetDocument", "Document", new {area = "SupervisionPlan", docNum = doc.Document.DocumentReference})" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

</div>