@model IDB.MW.Domain.Models.Supervision.SupervisionPlan.SupervisionPlanVersionModel

@{
    ViewBag.Title = "DetailsClauseApprovalRequest";
    var operationNumber = (string)ViewBag.OperationNumber;
    var year = (int)ViewBag.Year;
    var isDraft = (bool)ViewBag.IsInDraftOrModified;
    int entityId = 0;
    if(!isDraft){
        entityId = Model.SupervisionPlanVersionId;
    }
}


<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>


@section JavaScript {
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/supervisionplan/SupervisionPlanDetailsRequest.js")"></script>
    

    <script type="text/javascript">
        $(document).ready(function () {
            $(".optionSelect").kendoDropDownList();
            var grid1 = new GridComponent(".grid1", 20, false, true);
            var grid2 = new GridComponent(".grid2", 20, false, true);
            

            $('.btn-primary').click(function () {
                var url = $(this).data('url');
                if (!url || url == undefined) {
                    return;
                }
                url += '&additionalValidators=' + $('#validator_list_additional_list').val();
                document.location.href = url;
            });

        });
    </script>
}

<h2 class="hide">Seccion central</h2>
<section class="central">
    <div class="mod_contenido_central generic_tasks">
        <!--contracts_and_clauses-->
        <h3 class="headingh2">
            <a href="@(Url.Action("Summary", "SupervisionPlan", new { area = "SupervisionPlan", operationNumber = operationNumber, year = year }))" title=" @Localization.GetText("SP.Summary.SupervisionPlan.Year")" class="tipo1">@Localization.GetText("SP.Summary.SupervisionPlan.Year")</a>
        </h3>
        <div class="operationData">
            <div class="box_subtitle">
                <h4 class="headingh2 title_tag">@Localization.GetText("SP.Summary.SupervisionPlanApproval.Request")</h4>
                <div class="editingButtonsEdit up">
                    @if ((bool)ViewBag.IsInDraftOrModified) {
                        <label for="SendRequest">
                            <a class="btn-primary auto-lock-ui" id="test" data-url="@(Url.Action("CreatePlanVersionApprovalRequest", "SupervisionPlanLegacy", new { area = "SupervisionPlan", planVersionId = Model.SupervisionPlanVersionId, operationNumber = operationNumber, year = year }))" title=" @Localization.GetText("Request")">@Localization.GetText("Request")</a>
                        </label>
                        
                        <label for="EditClause">
                            <a class="btn-secondary auto-lock-ui" href="@(Url.Action("EditPlanVersionApprovalRequest", "SupervisionPlanLegacy", new { area = "SupervisionPlan", planVersionId = Model.SupervisionPlanVersionId, operationNumber = operationNumber, year = year }))" title=" @Localization.GetText("Edit")">@Localization.GetText("Edit")</a>
                        </label>
                    }
                </div>
            </div>

        </div>
        <h3 class="hide">Contenido central</h3>
        <div class="operationData dataDetails marginTop2Bottom1">
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("SP.Summary.SupervisionPlanApproval.CreationOn")</p>
                <p>@String.Format("{0:dd MMM yyy}", Model.Created)</p>
            </div>
            <div class="data2">
                <p class="dataTitle">@Localization.GetText("SP.Summary.SupervisionPlanApproval.Workflow")</p>
                <p class="icon workflow">
                    @Localization.GetText("SP.Summary.SupervisionPlanApproval.Validation")
                </p>
            </div>

            <div class="data4">
                <p class="dataTitle">@Localization.GetText("SP.Summary.SupervisionPlanApproval.WorkflowSumitter")</p>
                <p>@IDBContext.Current.UserName</p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("SP.Summary.SupervisionPlanApproval.Priority")</p>
                <p class="icon hight">@Localization.GetText("SP.Summary.SupervisionPlanApproval.High")</p>
            </div>
        </div>


        @{Html.RenderAction("AdditionalValidators", "Tasks", new {
              area = "Global",
              Code = "WF-SP-001",
              Editable = true,
              entityId = entityId
          });
        }


        <div class="operationData dataDetails marginTop2Bottom1">
            <div class="operationData min_padding_left dataSocial">
                <div class="data8">
                    <p class="dataTitle">@Localization.GetText("SP.Summary.SupervisionPlanApproval.Instructions")</p>
                    <p>@Localization.GetText("SP.Summary.SupervisionPlanApproval.InitiateValidation")</p>
                </div>
            </div>
        </div>
        <div class="operationData dataDetails marginTop2Bottom1">
            <div class="operationData min_padding_left dataSocial">
                <div class="data8">
                    <p class="dataTitle">@Localization.GetText("SP.Summary.SupervisionPlanApproval.Content")</p>
                    <p>-</p>
                </div>
            </div>
        </div>
        <div class="operationData marginTop2Bottom1">
            <div class="box_subtitle">
                <h4 class="headingh2 title">@Localization.GetText("SP.Summary.SupervisionPlanApproval.Comments")</h4>
            </div>


            <table id="commentTableUIRI002_edit" class="grid w100 noInnerPadding fixedValues" style="position: relative; left: 2.6%; width: 95% !important;">
                <tbody id="comentContainer">
                    @for (int i = 0; i < Model.UserComments.Count; i++) {
                        <tr>
                            <td>
                                @Html.HiddenFor(x => Model.UserComments[i].UserCommentId)
                                @Html.HiddenFor(x => Model.UserComments[i].CreatedBy)
                                @Html.HiddenFor(x => Model.UserComments[i].Created)
                                @Html.HiddenFor(x => Model.UserComments[i].Modified)
                                @Html.HiddenFor(x => Model.UserComments[i].ModifiedBy)


                                <div class="padding10 leftAlign" style="width: 95%;">
                                    <div class="verticalMargin10 w100">
                                        <div class="verticalMargin10 inline-block">@(Model.UserComments[i].Modified == null ? "" : Model.UserComments[i].Modified.Value.ToString("dd MMM yyyy"))</div>
                                        <div class="verticalMargin10 inline-block bold marginLeft3">@Model.UserComments[i].ModifiedBy</div>
                                    </div>
                                    <div class="verticalMargin10 w100">
                                        <div class="padding10" style="width: 95%;">
                                            @Html.HiddenFor(x => Model.UserComments[i].Text)
                                            <div class="verticalMargin10 inline-block bold marginLeft3">@Model.UserComments[i].Text</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
        <div class="editingButtonsEdit marginRight2Con5">
            <div class="box_subtitle">
                <div class="editingButtonsEdit up">
                    @if ((bool)ViewBag.IsInDraftOrModified) {
                        <label for="SendRequest">
                            <a class="btn-primary auto-lock-ui" id="test" data-url="@(Url.Action("CreatePlanVersionApprovalRequest", "SupervisionPlanLegacy", new { area = "SupervisionPlan", planVersionId = Model.SupervisionPlanVersionId, operationNumber = operationNumber, year = year }))" title=" @Localization.GetText("Request")">@Localization.GetText("Request")</a>
                        </label>
                        <label for="EditClause">
                            <a class="btn-secondary auto-lock-ui" href="@(Url.Action("EditPlanVersionApprovalRequest", "SupervisionPlanLegacy", new { area = "SupervisionPlan", planVersionId = Model.SupervisionPlanVersionId, operationNumber = operationNumber, year = year }))" title=" @Localization.GetText("Edit")">@Localization.GetText("Edit")</a>
                        </label>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
