
@model List<IDB.MW.Domain.Models.Architecture.Clauses.UserCommentModel>

@{
    var canEdit = (bool)ViewBag.DraftOrModified || (bool)ViewBag.IsNewPlan;
}

@if (canEdit)
{
    <div class="verticalMargin20 rightAlign" style="margin-bottom: 1%; position: relative;">
        <input type="button" id="newComment" class="button blueButton" value=" @Localization.GetText("SP.Summary.Comments.New")" />
    </div>
}
<div id="CommentsPanel" class="verticalMargin40 font08em">
    @for (var i = 0; i < Model.Count(); i++) {
    <div class="commentComponent padding10 leftAlign">
        <div class="verticalMargin10 w100">
            <div class="verticalMargin10 inline-block">@Model[i].Modified.Value.ToString("dd MMM yyy")</div>
            <div class="verticalMargin10 inline-block bold marginLeft3">@Model[i].ModifiedBy</div>
            <div class="verticalMargin10" style="float:right">
                <input type="button" value="Delete" class="deleteTextButton verticalAlignTop absRight deleteCommentBtn">
            </div>
        </div>
        <div class="verticalMargin10 w100">
            <div class="padding10">
                @Html.HiddenFor(x => x[i].UserCommentId, new { data_view = "comment" })
                @Html.TextAreaFor(x => x[i].Text, new { data_view = "comment", @class = "desc-comment txtDescriptionComent w100", data_val = true, data_val_required = "Please, complete the mandatory fields" })
                @{ Html.ValidateFor(x => x[i].Text); }
            </div>
        </div>
    </div>
}
</div>
<div class="hide" id="CommentTemplate">
    <div class="commentComponent padding10 leftAlign">
        <div class="verticalMargin10 w100">
            <div class="verticalMargin10 inline-block">@DateTime.Today.ToString("dd MMM yyy")</div>
            <div class="verticalMargin10 inline-block bold marginLeft3">@IDBContext.Current.UserName</div>
            <div class="verticalMargin10" style="float:right">
                <input type="button" value="Delete" class="deleteTextButton verticalAlignTop absRight deleteCommentBtn">
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="verticalMargin10 w100">
            <div class="padding10">
                @Html.Hidden("[#rowCount#].UserCommentId", "-1", new { data_view = "comment" })
                @Html.TextArea("[#rowCount#].Text", "", new { data_view = "comment", @class = "txtDescriptionComent w100", data_val = true, data_val_required = "Please, complete the mandatory fields" })
                @{ Html.Validate("[#rowCount#].Text"); }
            </div>
        </div>
    </div>
</div>
<script type="text/ecmascript">

    $(document).ready(function () {
        jQuery.validator.addMethod("desc-comment", function (value, element) {
            var ValueDesc = value.toString().trim();

            if (ValueDesc.length == 0) {
                return false;
            }
            return true;
        });
    });

</script>