@using IDB.MW.Domain.Models.Supervision.SupervisionPlan;
@model List<CostModel>

@{
    var columnTotals = ((Dictionary<int, string>)ViewBag.LocalizedBudgetMatrixCols).ToDictionary(t => t.Key, t => 0M);
    var bRows = (Dictionary<int, string>)ViewBag.LocalizedBudgetMatrixRows;
    var bCols = (Dictionary<int, string>)ViewBag.LocalizedBudgetMatrixCols;
}

<div id="BudgetPanel" class="verticalMargin40 font08em">

    <table id="tableUISP003" class="grid w100">
        <thead>
            <tr>
                <th class="diagonalLine">
                    <span class="block rightAlign">@Localization.GetText("SP.Summary.BudgetTable.Source")</span>
                    <span class="block">@Localization.GetText("SP.Summary.BudgetTable.Category")</span>
                </th>
                @foreach (var t in bCols)
                {
                    <th>@t.Value</th>
                }
                <th>@Localization.GetText("SP.Summary.BudgetTable.Total")</th>
            </tr>
        </thead>
        <tbody class="grayColor">
            @for (var i = 0; i < bRows.Count; i++)
            {
                var total = 0M;
                var x = i * bCols.Count;
                <tr>
                    <td>@bRows.ElementAt(i).Value</td>
                    @for (int y = 0; y < bCols.Count; y++)
                    {
                        var value = Model[x + y].Budget;
                        total += value;
                        columnTotals[Model[x + y].FundingSourceId] += @value;
                        <td>
                            @Html.HiddenFor(m => m[x + y].CostId)
                            @Html.HiddenFor(m => m[x + y].BudgetCategoryId)
                            @Html.HiddenFor(m => m[x + y].FundingSourceId)
                            @Html.TextBoxFor(m => m[x + y].Budget, Model[x + y].Budget.ToString("F2"), new { @class = "grayBorder w80 rightAlign decimal-edit-field", data_category_id = bRows.ElementAt(i).Key, data_source_id = bCols.ElementAt(y).Key, @maxlength = "15" })
                        </td>
                    }
                    <td class="total-row" data-category-id="@bRows.ElementAt(i).Key">@total.ToString("N")</td>
                </tr>
            }
            <tr class="total blackColor">
                <td>@Localization.GetText("SP.Summary.BudgetTable.TotalperFunding")</td>
                @foreach (var t in (Dictionary<int, string>)ViewBag.LocalizedBudgetMatrixCols)
                {
                    <td class="total-col" data-source-id="@t.Key">@columnTotals[t.Key].ToString("N")</td>
                }
                <td id="total-budget">@columnTotals.Sum(t => t.Value).ToString("N")</td>
            </tr>
        </tbody>
    </table>
</div>
