@model IDB.MW.Domain.Models.Supervision.SupervisionPlan.PriorVersionModel
@{
    var SupervisionPlan = Model.SupervisionPlanList;
    var SupervisionPlanVersion = Model.SupervisionPlanVersionList;
}

<div class="padding20 popUpBody">
    <div class='marginBottom2'>
        <table class="tableNormal">
            <thead>
                <tr>
                    <th>@Localization.GetText("Supervision Plan Year")</th>
                    <th>@Localization.GetText("SP.Summary.SupervisionPlan.Status")</th>
                    <th>@Localization.GetText("SP.Summary.SupervisionPlan.CreationDate")</th>
                    <th>@Localization.GetText("SP.Summary.SupervisionPlan.ValidationDate")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (SupervisionPlanVersion != null && SupervisionPlanVersion.Count > 0)
                {
                    foreach (var version in SupervisionPlanVersion)
                    {
                        IDB.MW.Domain.Models.Supervision.SupervisionPlan.SupervisionPlanModel ItemSupervisionPlan = new IDB.MW.Domain.Models.Supervision.SupervisionPlan.SupervisionPlanModel();
                        ItemSupervisionPlan = SupervisionPlan.Where(x => x.Year == ViewBag.SelectedYear)
                            .First(f => f.SupervisionPlanVersions.First(
                            g => g.SupervisionPlanVersionId == version.SupervisionPlanVersionId).SupervisionPlanVersionId == version.SupervisionPlanVersionId);
                        
                    <tr>
                        <td>@ViewBag.SelectedYear</td>
                        <td>@Localization.GetText(Localization.GetText(version.ValidationStage.NameEn))</td>
                        <td>@version.Created.Value.ToString("dd MMM yyy")</td>
                        <td>
                            @if (version.Modified.HasValue)
                            {
                                @version.Modified.Value.ToString("dd MMM yyy")
                            }
                        </td>
                        <td>
                            <input type="button" class="noBorder buttonPdf cursorPointer"
                                   title="Download PDF"
                                   data-route='@Url.Action("ExportSupervisionPlanReport", "SupervisionPlanLegacy", new { area = "SupervisionPlan", SupervisionPlanId = version.SupervisionPlanVersionId, operation_id = ItemSupervisionPlan.OperationId, language = "EN", ExportType = "PDF" })' />

                            <input type="button" class="noBorder buttonExcel cursorPointer" title="Download Excel"
                                   data-route='@Url.Action("ExportSupervisionPlanReport", "SupervisionPlanLegacy", new { area = "SupervisionPlan", SupervisionPlanId = version.SupervisionPlanVersionId, operation_id = ItemSupervisionPlan.OperationId, language = "EN", ExportType = "EXCELOPENXML" })' />
                        </td>
                    </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
