@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.LinkPredefinedIndicator

@model  LinkIndicatorDetailViewModel

<div class="row row-header font-header">
    <div class="col-md-2">
        @Confluence.LabelsGroup(
            Localization.GetText("IM.EditReadIndicator.LinkRFPIndicator.DetailIndicator.TypeIndicator"),
            Confluence.Label(Model.IndicatorType),
            false)
    </div>

    <div class="col-md-2">
        @Confluence.LabelsGroup(
            Localization.GetText("IM.EditReadIndicator.LinkRFPIndicator.DetailIndicator.IndicatorNumber"),
            Model.IndicatorNumber,
            false)
    </div>

    <div class="col-md-2">
        @Confluence.LabelsGroup(
            Localization.GetText("IM.EditReadIndicator.LinkRFPIndicator.DetailIndicator.UnitMeasure"),
            Model.UnitOfMeasure,
            false)
    </div>

    <div class="col-md-2">
        @Confluence.LabelsGroup(
            Localization.GetText("IM.EditReadIndicator.LinkRFPIndicator.DetailIndicator.IndicatorName"),
            Model.IndicatorName,
            false)
    </div>

    @{
        var alignementContribution = string.Empty;

        if (Convert.ToBoolean(Model.IsAlignement))
        {
            alignementContribution = Localization.GetText("IM.EditReadIndicator.LinkRFPIndicator.DetailIndicator.ContributionAlignment.Alignment");
        }

        if (Convert.ToBoolean(Model.IsContribution))
        {
            alignementContribution = Localization.GetText("IM.EditReadIndicator.LinkRFPIndicator.DetailIndicator.ContributionAlignment.Contribution");
        }
    }

    <div class="col-md-2">
        @Confluence.LabelsGroup(Localization.GetText("IM.EditReadIndicator.LinkRFPIndicator.DetailIndicator.ContributionAlignment"),
                                    alignementContribution, false)
    </div>


    @if (!string.IsNullOrWhiteSpace(Model.Disaggregations))
    {
        <div class="col-md-12">
            @Confluence.LabelsGroup(Localization.GetText("IM.EditReadIndicator.Disaggregation.Title"),
                                    Model.Disaggregations, false)
        </div>
    }

    @if (Model.TechnicalFields != null && Model.TechnicalFields.Any())
    {
        <div class="col-md-12">
            <div class="LabelsGroup without-min-height">
                <label class="lgTit">@Localization.GetText("IM.EditReadIndicator.TechnicalFields.Title") </label>
            </div>
        </div>
        @DrawAllTF(Model.TechnicalFields)

    }

</div>

<div class="row  row-body-40">
    <div class="col-md-12 text-right">
        @Confluence.ButtonBlue(
            text: Localization.GetText("IM.EditReadIndicator.LinkRFPIndicator.DetailIndicator.BackButton"),
            name: "back")
    </div>
</div>

@helper DrawAllTF(Dictionary<string, string> technicalFields)
{
    <div class="row">
        <div class="col-md-12">
            @foreach (var tf in technicalFields)
            {
                @DrawTF(tf)
            }
        </div>
    </div>
}

@helper DrawTF(KeyValuePair<string, string> pair)
{
    <div class="col-md-4">
        @Confluence.LabelsGroup(pair.Key, pair.Value, false)
    </div>

}