@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.LinkPredefinedIndicator

<div>
    @Html.Partial("Controls/Indicators/LinkToPredefinedIndicator", (LinkPredefinesIndicatorViewModel) ViewBag.Impacts)
    @Html.Partial("Controls/Indicators/LinkToPredefinedIndicator", (LinkPredefinesIndicatorViewModel) ViewBag.Outcomes)
    @Html.Partial("Controls/Indicators/LinkToPredefinedIndicator", (LinkPredefinesIndicatorViewModel) ViewBag.Outputs)
    <table class="table">
        <tr>
            <th>Indicator</th>
            <th>Action</th>
            <th>Results</th>
        </tr>
        <tr>
            <td>Impacts</td>
            <td>
                @Confluence.ButtonFlag("", "impacts")
            </td>
            <td>
                <ul></ul>
            </td>
        </tr>
        <tr>
            <td>
                Outcomes
            </td>
            <td>
                @Confluence.ButtonFlag("", "outcomes")
            </td>
            <td>
                <ul></ul>
            </td>
        </tr>
        <tr>
            <td>
                Outputs
            </td>
            <td>
                @Confluence.ButtonFlag("", "outputs")
            </td>
            <td>
                <ul></ul>
            </td>
        </tr>
    </table>
</div>

@section scripts{
    <script type="text/javascript">

        registerCallback(function () {

            $('[name="impacts"]').LinkModalButton(
            {
                Event: "click"
                , LinkModalId: "Impacts-link-modal"
            });

            $('[name="outcomes"]').LinkModalButton(
            {
                Event: "click"
                , LinkModalId: "Outcomes-link-modal"
            });

            $('[name="outputs"]').LinkModalButton(
            {
                Event: "click"
                , LinkModalId: "Outputs-link-modal"
            });
        });

        function ImpactsLinkItems(sourceOpen, value) {
            LinkItems(sourceOpen, value);
        }

        function OutcomesLinkItems(sourceOpen, value) {
            LinkItems(sourceOpen, value);
        }

        function OutputsLinkItems(sourceOpen, value) {
            LinkItems(sourceOpen, value);
        }

        function LinkItems(sourceOpen, value) {
            var list = sourceOpen.parent().next().children();
            list.html('');
            var li = $('<li>');
            li.html('Indicator Id: ' + value.IndicatorId);
            li.appendTo(list);

            var ul = $('<ul>');
            ul.appendTo(li);
            var li2 = $('<li>')
            li2.appendTo(ul);
            li2.html('Indicator Number: ' + value.IndicatorNumber);

            li2 = $('<li>')
            li2.appendTo(ul);
            li2.html('Indicator Name: ' + value.IndicatorName);

            li2 = $('<li>')
            li2.appendTo(ul);
            li2.html('Unit of Measure: ' + value.UnitOfMeasure);
        }

    </script>
}