@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.Enums
@using IDB.MW.Application.MrBlueModule.ViewModels.Reports
@using IDB.Presentation.MVC4.Areas.MrBlue.Models

@model  ReportsChangeTrackingReportViewModel
@{
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;
}

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
@using (Html.BeginForm("ChangeTrackingReportDownload", "Report", new RouteValueDictionary(new { area = "MrBlue" }),
FormMethod.Post, new Dictionary<string, object>() { { "enctype", "multipart/form-data" }, { "data-parsley-validate", "true" } }))
{
@Confluence.InputHidden("", "formatType", false)


<div data-id="changeTrackingReport" class="filterNormal row-body-40">
    <div class="row row-body-40">
        <div class="col-md-4 margintop1percent">
            @Confluence.Label(Localization.GetText("OP.DE.Table.Operation"))
            @Confluence.InputText(String.Empty, "operation", width: "100%", required: false, htmlClass: "margintop1percent")
        </div>
        <div class="col-md-4 margintop1percent">
            @Confluence.Label(Localization.GetText("MrBlue.Report"))
            @Confluence.InputDropDown(
            String.Empty,
            name: "reportTypeFilter",
            elements: (List<System.Web.Mvc.SelectListItem>)ViewBag.ReportTypeList,
            required: false,
            width: "100%",
            htmlClass: "margintop1percent")
        </div>

        <div class="col-md-4">
          @Confluence.Label(Localization.GetText("MrBlue.VersionDate"))
            <div class="row margintop1percent">
                <div class="col-md-6">
                    @Confluence.Label(Localization.GetText("From"))
                    @Confluence.InputDatePicker(null, "VersionDateFrom", required: false, width: "100%")
                </div>
                <div class="col-md-6">
                    @Confluence.Label(Localization.GetText("To"))
                    @Confluence.InputDatePicker(null, "VersionDateTo", required: false, width: "100%")
                </div>
            </div>
        </div>
    </div>

    <div class="row row-body-40">
        <div class="col-md-4 margintop1percent">
            @Confluence.Label(Localization.GetText("MrBlue.ModificationType"))
            @Confluence.InputDropDown(
                String.Empty,
                name: "modificationTypeFilter",
                elements: (List<System.Web.Mvc.SelectListItem>)ViewBag.ModificationTypeList,
                required: false,
                width: "100%",
                htmlClass: "margintop1percent")
        </div>

        <div class="col-md-4">
            @Confluence.Label(Localization.GetText("MrBlue.ModifiedOn"))
            @*<div class="row margintop1percent">
                <div class="col-md-6">
                    @Confluence.Label(Localization.GetText("From"))
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-6">
                    @Confluence.Label(Localization.GetText("To"))
                    @Confluence.LabelAsterisk()
                </div>
            </div>*@
            <div class="row margintop1percent">
                <div class="col-md-6">
                    @Confluence.Label(Localization.GetText("From"))
                    @Confluence.LabelAsterisk()
                    @Confluence.InputDatePicker(null, "DateFrom", required: true, width: "100%", htmlClass: "marginTop02em")
                </div>
                <div class="col-md-6">
                    @Confluence.Label(Localization.GetText("To"))
                    @Confluence.LabelAsterisk()
                    @Confluence.InputDatePicker(null, "DateTo", required: true, width: "100%", htmlClass: "marginTop02em")
                </div>
            </div>
        </div>
        <div class="col-md-4 margintop1percent">
            @Confluence.Label(Localization.GetText("OP.RP.RolesAndPermission.ModifiedBy"))
            <div class="margintop1percent">
                @Confluence.InputDropDownAsync(
                string.Empty,
                "ESGTeamMember",
                Url.Action("FindUserAD", "SupervisionReport", new { area = "MrBlue" }),
                required: false,
                width: "100%",
                dataAttributes: new Dictionary<string, string> {
                {"persist-is-active-directory", "False"},
                {"parsley-noRepeatValue", "[name=esgPersonRow_text]"}
                },
                 clearTextOnNoResult: true)
            </div>
        </div>
    </div>
    <div class="row row-body-40">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    @Confluence.Label(Localization.GetText("MrBlue.CustomReport.OperationStatus"))
                </div>
                <div class="col-md-12">
                    @Confluence.InputDropDown(
                        value: string.Empty,
                        name: "Status",
         elements: ViewBag.OperationStatusList,
                        disabled: false,
                        required: false,
                        htmlClass: "margintop1percent",
                        width: "100%")
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @Html.Partial("Partials/Controls/_ColumnDelimiter")
        </div>
    </div>
</div>
    
    
}

