@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.Enums
@using IDB.MW.Application.MrBlueModule.ViewModels.Reports
@using IDB.Presentation.MVC4.Areas.MrBlue.Models
@model ReportsCustomReportViewModel
@{
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;
}
<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
@using (Html.BeginForm("CustomReportDownload", "Report", new RouteValueDictionary(new { area = "MrBlue" }),
                                                                                                                                                                        FormMethod.Post, new Dictionary<string, object>() { { "enctype", "multipart/form-data" }, { "data-parsley-validate", "true" } }))
{

    @Confluence.InputHidden("", "formatType", false)


    <div data-id="CustomReport" class="filterNormal row-body-40">
        <div class="row row-body-40">
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.CountryDepartament"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "CountryDepartment",
                ViewBag.CountryDepartmentList, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.Country"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "Country",
                ViewBag.CountryList, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.ApprovalDate"))
                <div class="row margintop1percent">
                    <div class="col-md-6">
                        @Confluence.Label(Localization.GetText("From"))
                    </div>
                    <div class="col-md-6">
                        @Confluence.Label(Localization.GetText("To"))
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Confluence.InputDatePicker(null, "DateFrom", required: false, width: "100%")
                    </div>
                    <div class="col-md-6">
                        @Confluence.InputDatePicker(null, "DateTo", required: false, width: "100%")
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-body-40">
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.Departament"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "Department",
     ViewBag.listDepartment, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.Division"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "Division",
     ViewBag.listDivision, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        @Confluence.Label(Localization.GetText("MrBlue.CustomReport.OperationStatus"))
                    </div>
                    <div class="col-md-12">
                        @Confluence.InputDropDown(
                        value: string.Empty,
                        name: "Status",
         elements: ViewBag.OperationStatusList,
                        disabled: false,
                        required: false,
                        htmlClass: "margintop1percent",
                        width: "100%")
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-body-40">
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.Type"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "Type",
ViewBag.OperationTypeList, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.ESRYear"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "ESRYear",
     ViewBag.listYear, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.OperationYear"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "OperationYear",
     ViewBag.listYear, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
        </div>
        <hr />
        <div class="row row-body-40">
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.EnvironmentalSocialCategory"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "EnvironmentalSocialCategory",
ViewBag.EnvironmentalCategoryList, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.SafeguardPerformance"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "SafeguardPerformane",
ViewBag.SafeguardPerfomanceList, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        @Confluence.Label(Localization.GetText("MrBlue.CustomReport.ESGTeamMembers"))
                    </div>
                    <div class="col-md-12">
                        @Confluence.InputDropDownAsync(
                       string.Empty,
                       "ESGTeamMember",
                       Url.Action("UserAD", "Report", new { area = "MrBlue" }),
                       required: false,
                       width: "100%",
                       dataAttributes: new Dictionary<string, string> {
                           { "persist-is-active-directory", "False"},
                           { "parsley-noRepeatValue", "[name=esgPersonRow_text]"}
                       },
                       clearTextOnNoResult: true)
                    </div>
                </div>
                <div class="row margintop5percent">
                    <div class="col-md-12">
                        @Confluence.Label(Localization.GetText("MrBlue.CustomReport.ESRReviewer"))
                    </div>
                    <div class="col-md-12">
                        @Confluence.InputDropDownAsync(
                    string.Empty,
                    "ESRReviewer",
                    Url.Action("UserAD", "Report", new { area = "MrBlue" }),
                    required: false,
                    width: "100%",
                    dataAttributes: new Dictionary<string, string> {
                    {"persist-is-active-directory", "False"},
                    {"parsley-noRepeatValue", "[name=esgPersonRow_text]"}
                    },
                    clearTextOnNoResult: true)
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-body-40">
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.DisasterRiskCategory"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "DisasterRiskCategory",
ViewBag.DisasterRiskCategoryList, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
            <div class="col-md-4">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.ESGOperationalGroup"))
                @ControlTemplates.DropDownMultipleExtend(new List<string>(), "ESGOperationalGroup",
ViewBag.EsgGroupList, size: 5, htmlClass: "margintop1percent", required: false)
            </div>
            <div class="col-md-4">
                <div class="row margintop1percent">
                    <div class="col-md-12">
                        @Confluence.Label(Localization.GetText("MrBlue.CustomReport.HighRiskRating"))
                    </div>
                    <div class="col-md-12 margintop1percent">
                        @Confluence.InputDropDown(
                        value: string.Empty,
                        name: "HighRiskRating",
elements: ViewBag.listHighRiskRating,
                        disabled: false,
                        required: false,
                        width: "100%")
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-body-40">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.PoliciesTriggered"))
            </div>
        </div>
        <div class="row row-body-40">
            <div class="col-md-8">
                <table style="width:100%">
                    <tr>
                        <td style="background-color:white;">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.OP102")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "OP102",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.OP704")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "OP704",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white; vertical-align:central">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.OP710")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "OP710",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.OP761")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "OP761",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white;">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.OP765")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "OP765",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B2")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B02",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white;">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B3")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B03",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B4")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B04",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white;">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B5")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B05",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B6")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B06",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white;">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B7")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B07",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B8")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B08",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white;">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B9")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B09",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B10")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B10",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white;">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B11")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B11",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B12")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B12",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white;">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B13")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B13",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B14")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B14",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white;">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B15")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B15",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B16")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B16",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white;">
                            <div class="row-body-10">
                                @Localization.GetText("MrBlue.Report.B17")
                            </div>
                        </td>
                        <td style="background-color:white;">
                            <div class="col-md-12 margintop1percent">
                                @Confluence.InputDropDown(
                                value: string.Empty,
                                name: "B17",
                                elements: ViewBag.listPoliciesTriggered,
                                disabled: false,
                                required: false,
                                width: "100%",
                                orderAsc: false)
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                @Html.Partial("Partials/Controls/_ColumnDelimiter")
            </div>
        </div>
    </div>
    <div data-id="ColumnsReport" class="filterNormal">
        <div class="row row-body-40">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("MrBlue.CustomReport.ColumnsReport"))
            </div>
        </div>
        <div class="row row-body-40">
            <div class="col-md-3">
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkOperationNumber", "checkOperationNumber",
                Localization.GetText("MrBlue.CustomReport.OperationNumber"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkOperationName", "checkOperationName",
                Localization.GetText("MrBlue.CustomReport.ColumnTitle"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkOperationType", "checkOperationType",
                Localization.GetText("MrBlue.CustomReport.Type"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkOperationStatus", "checkOperationStatus",
                Localization.GetText("MrBlue.CustomReport.OperationStatus"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkIDBAmount", "checkIDBAmount",
                Localization.GetText("MrBlue.CustomReport.IDBAmount"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkCountryDepartment", "checkCountryDepartment",
                Localization.GetText("MrBlue.CustomReport.CountryDepartament"))
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkCountry", "checkCountry",
                Localization.GetText("MrBlue.CustomReport.Country"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkDepartment", "checkDepartment",
                Localization.GetText("MrBlue.CustomReport.Departament"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkDivision", "checkDivision",
                Localization.GetText("MrBlue.CustomReport.Division"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkSectorSubSector", "checkSectorSubSector",
                Localization.GetText("MrBlue.CustomReport.Sector"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkEnvironmentalCategory", "checkEnvironmentalCategory",
                Localization.GetText("MrBlue.CustomReport.EnvironmentalCategory"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkDisasterRiskCategory", "checkDisasterRiskCategory",
                Localization.GetText("MrBlue.CustomReport.DisasterRiskCategory"))
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkHighRiskRating", "checkHighRiskRating",
                Localization.GetText("MrBlue.CustomReport.HighRiskRating"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkSafeguardPerformance", "checkSafeguardPerformance",
                Localization.GetText("MrBlue.CustomReport.SafeguardPerformance"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkIndicators", "checkIndicators",
                Localization.GetText("MrBlue.CustomReport.Indicators"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkPoliciesDirectives", "checkPoliciesDirectives",
                Localization.GetText("MrBlue.CustomReport.PoliciesDirectives"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkESGOperationalGroup", "checkESGOperationalGroup",
                Localization.GetText("MrBlue.CustomReport.ESGOperationalGroup"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkESGTeamMembers", "checkESGTeamMembers",
                Localization.GetText("MrBlue.CustomReport.ESGTeamMembers"))
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkESGReviewers", "checkESGReviewers",
                Localization.GetText("MrBlue.CustomReport.ESRReviewer"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkESGComment", "checkESGComment",
                Localization.GetText("MrBlue.CustomReport.ESGComment"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkOperationYear", "checkOperationYear",
                Localization.GetText("MrBlue.CustomReport.OperationYear"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkERMDateQRRDate", "checkERMDateQRRDate",
                Localization.GetText("MrBlue.CustomReport.ESRYear"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkApprovalDate", "checkApprovalDate",
                Localization.GetText("MrBlue.CustomReport.ApprovalDate"))
                </div>
                <div class="col-md-12 margintop5percent">
                    @Confluence.InputCheckbox(false, "checkLastUpdate", "checkLastUpdate",
                Localization.GetText("MrBlue.CustomReport.LastUpdated"))
                </div>
            </div>
        </div>
    </div>

}
