@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.Enums
@using IDB.MW.Application.MrBlueModule.ViewModels.Reports
@using IDB.Presentation.MVC4.Areas.MrBlue.Models

@model ReportsSafeguardReportViewModel

@{
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;
}

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

@using (Html.BeginForm("SafeguardReportDownload", "Report", new RouteValueDictionary(new { area = "MrBlue" }),
FormMethod.Post, new Dictionary<string, object>() { { "enctype", "multipart/form-data" }, { "data-parsley-validate", "true" } }))
{
    @Confluence.InputHidden("", "formatType", false)

    <div data-id="SafeguardReport" class="filterNormal mb20">
        <div class="row row-body-40">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            @Confluence.Label(Localization.GetText("MrBlue.CustomReport.OperationStatus"))
                        </div>
                        <div class="col-md-12">
                            @Confluence.InputDropDown(
                        value: string.Empty,
                        name: "Status",
                        elements: ViewBag.OperationStatusList,
                        disabled: false,
                        required: false,
                        htmlClass: "margintop1percent",
                        width: "100%")
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        @Confluence.Label(Localization.GetText("MrBlue.SafeguardReport.Year"))
                        @ControlTemplates.DropDownMultipleExtend(new List<string>(), "Year",
                            ViewBag.listYear, size: 5, htmlClass: "margintop1percent")
                    </div>
                </div>

                <div class="col-md-4">
                    @Html.Partial("Partials/Controls/_ColumnDelimiter")
                </div>
            </div>
        </div>
    </div>

}