@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.PCRModule.ViewModels.FollowUpService.Reports.PCRMonitoringReportViewModel


@{
    ViewBag.Title = @Localization.GetText("PCR.MonitoringReport.Project");
}

<div class="header row-body-40">
    <h2>@ViewBag.Title</h2><br />
    <h3>@Localization.GetText("PCR.MonitoringReport.Title")</h3>
</div>

<div class="page">
    <div class="row row-body-40">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" data-action="filterMonitoringReport">@Localization.GetText("PCR.MonitoringReport.Filter")</button>
        </div>
    </div>

    <div id="report-filter" class="report-Background row-body-40">        
        @Html.Partial("Partials/PCRMonitoringReport")

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-7 text-right">
                <button class="btn btn-primary" data-action="clearAll">@Localization.GetText("PCR.MonitoringReport.ClearAll")</button>
                <button class="btn btn-primary" data-action="exportExcelReport">@Localization.GetText("PCR.MonitoringReport.ExportExcel")</button>
                <button class="btn btn-primary" data-action="exportPdfReport">@Localization.GetText("PCR.MonitoringReport.ExportPDF")</button>
                <button class="btn btn-warning" data-action="submitMonitoringReport">@Localization.GetText("PCR.MonitoringReport.Submit")</button>
            </div>
            <div class="col-md-1">
            </div>
        </div>        
    </div>   
</div>

<div id="report">
</div>

@if (ViewBag.ErrorMessage != null)
{

    <div id="ReportMessageError">
        <input type="hidden" id="ReportMessageErrorId" value="@ViewBag.ErrorMessage">
    </div>   
}

@section scripts{
    <script type="text/javascript">
       
            (function showReportError()
            {
                if ($('#ReportMessageErrorId').val() != undefined)
                {
                    var message = $('#ReportMessageErrorId').val();
                    showMessage(message, false, null);
                }
            }());

        function clearAll(source)
        {
            window.location.reload();
        }

        function GetYear()
        {
            var years = $.map($('#exerciseYear option'), function (e)
            { 
                if(e.value != '')
                {
                    return e.value; 
                }
            });

            return years;
        }

            function paramsReport(get) {
                var country = $('#country').val() != null ? $('#country').val() : get ? ['-1'] : $.map($('#country option'), function(e) { return e.value; });
            var allCountries = $('#country').val() != null ? false : true;
                var monitoringStatus = $('#monitoringStatus').val() != null ? $('#monitoringStatus').val() : get ? ['-1'] : $.map($('#monitoringStatus option'), function (e) { return e.value; });
            var allMonitoringStatus = $('#monitoringStatus').val() != null ? false : true;
                var countryDepartment = $('#countryDepartment').val() != null ? $('#countryDepartment').val() : get ? ['-1'] : $.map($('#countryDepartment option'), function (e) { return e.value; });
            var allCountryDepartment = $('#countryDepartment').val() != null ? false : true;
                var sectorDepartment = $('#sectorDepartment').val() != null ? $('#sectorDepartment').val() : get ? ['-1'] : $.map($('#sectorDepartment option'), function (e) { return e.value; });
            var allSectorDepartment = $('#sectorDepartment').val() != null ? false : true;
                var division = $('#division').val() != null ? $('#division').val() : get ? ['-1'] : $.map($('#division option'), function (e) { return e.value; });
            var allDivision = $('#division').val() != null ? false : true;
            var exerciseYear = $('#exerciseYear').val() != null ? $('#exerciseYear').val() : GetYear();            

            var url = "?monitoringStatus=" + monitoringStatus.join(',') + "&exerciseYear=" + exerciseYear.join(',') + "&divisionGrouping=" + $('#divisionGrouping').val() +
               "&countryDepartment=" + countryDepartment.join(',') + "&sectorDepartment=" + sectorDepartment.join(',') + "&operations=" + $('#operations').val() +
               "&country=" + country.join(',') + "&division=" + division.join(',') + "&allCountries=" + allCountries + "&allMonitoringStatus=" + allMonitoringStatus +
               "&allCountryDepartment=" + allCountryDepartment + "&allSectorDepartment=" + allSectorDepartment + "&allDivision=" + allDivision;

            return url;
        }

        function exportExcelReport(source)
        {
            var url = '@Url.Action("DownloadExcelReport", "PCRReport", new { area = "PCR" })';

                url = url + paramsReport(true);

            window.open(url, '_blank');
        }

        function exportPdfReport(source)
        {
            var url = '@Url.Action("DownloadPdfReport", "PCRReport", new { area = "PCR" })';

                url = url + paramsReport(true);

            window.open(url, '_blank');
        }

        function submitMonitoringReport(source)
        {
                var url = paramsReport(false);

            $('#report').load('@Url.Action("PCRMonitoringReportFilterSubmit", "PCRReport", new { area = "PCR" })' + url);
        }

        function filterMonitoringReport(source)
        {
            var report = $('#report-filter');

            if (report.hasClass('hide')) {
                report.removeClass('hide');
            }
            else {
                report.addClass('hide');
            }

        }

        $(document).on('change', '[name=countryDepartment]', function ()
        {
            var countryDepartment = $('#countryDepartment').val();
            var country = $('#country').children();

            if (countryDepartment != null)
            {
                country.addClass('hidden');

                countryDepartment.forEach(function (item)
                {
                    country.toArray().forEach(function (c)
                    {
                        if (item == c.getAttribute('data-parent-id'))
                        {
                            c.className = '';
                        }
                    });
                });
            }
            else
            {
                country.removeClass('hidden');
            }
        });

        $(document).on('change', '[name=sectorDepartment]', function ()
        {
        var sectorDepartment = $('#sectorDepartment').val();
        var division = $('#division').children();

        if (sectorDepartment != null)
        {
            division.addClass('hidden');

            sectorDepartment.forEach(function (item)
            {
                division.toArray().forEach(function (c)
                {
                    if (item == c.getAttribute('data-parent-id'))
                    {
                        c.className = '';
                    }
                });
            });
        }
        else
        {
            division.removeClass('hidden');
        }
    });
    
    
    </script>
}