@using IDB.MW.Application.CPDModule.ViewModels.CSProgressToDate
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Architecture.Language
@using IDB.MVCControls.DataTable.Helpers
@using System.Linq
@using System.Globalization
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Infrastructure.Configuration
@using System.Globalization

@model PortfolioDetailViewModel
<div class="row mb60">
    <div class="col-md-12">
        @Confluence.Navigation(
            Confluence.LabelMainTitle(Localization.GetText("CS.OperationDetails.Title")),
            Url.Action("Read", "CSProgressToDate", new { area = "CPD", tabName = "linktabProgressToDate" }))
    </div>
</div>
@if (Model.OperationsByInstrument.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold(Model.Title)
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/ProgressToDateTab/SummaryCurrentApprovalsDetailPartial", Model.OperationsByInstrument)
        </div>
    </div>
}

@if (Model.AllOperationsIDBSG.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold("IDB " + Localization.GetText("CS.Portfolio.OperationGroupIDB"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/ProgressToDateTab/PortfolioAlignmentCSDetailPartial", Model.AllOperationsIDBSG)
        </div>
    </div>
}
@if (Model.AllOperationsIDBTC.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold("IDB " + Localization.GetText("CS.Portfolio.TechnicalCooperation"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/ProgressToDateTab/PortfolioAlignmentCSDetailPartial", Model.AllOperationsIDBTC)
        </div>
    </div>
}
@if (Model.AllOperationsIIC.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold(Localization.GetText("CS.Portfolio.IICFinancialOperations"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/ProgressToDateTab/PortfolioAlignmentCSDetailPartial", Model.AllOperationsIIC)
        </div>
    </div>
}
@if (Model.AllOperationMIFSG.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold("MIF " + Localization.GetText("CS.Portfolio.OperationGroupMIF"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/ProgressToDateTab/PortfolioAlignmentCSDetailPartial", Model.AllOperationMIFSG)
        </div>
    </div>
}
@if (Model.AllOperationMIFTC.Any())
{
    <div class="row mb60 pl30">
        <div class="col-md-12 mb10">
            @Confluence.LabelBold("MIF " + Localization.GetText("CS.Portfolio.MIFTechnicalCooperations"))
        </div>
        <div class="col-md-12">
            @Html.Partial("ReadPartial/ProgressToDateTab/PortfolioAlignmentCSDetailPartial", Model.AllOperationMIFTC)
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        registerCallback(function () {
            $(document).on('click', '[name="operationNumberLink"]', function (e) {
                var source = $(this);
                var url = source.attr('data-url');
                window.open(url, '_blank');
            });
        });

    </script>
}
