@using IDB.MW.Application.CPDModule.ViewModels.CSProgressToDate;

@using IDB.Presentation.MVC4.Areas.CPD.Models
@using IDB.Architecture.Language

@model ProgressToDateViewModel


<div class="row mb30">
    <div class="col-md-12">
        @Html.Partial("ReadPartial/Buttons", Model)
        @Confluence.LabelMainTitle(Localization.GetText("CPD.CSProgressToDate.Title"))
    </div>
</div>
<div class="page" data-parsley-validate="true" name="submitForm" data-ignore-nullable-values="true">
    @Confluence.Tabs(new Dictionary<string, string>()
    {{NavigationAttributes.TAB_NAME_PROGRESSTODATE, Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.Title")},
    {NavigationAttributes.TAB_NAME_PD_USEOFCS, Localization.GetText("CPD.CSProgressToDate.UseOfCSTab.Title")}})
    <div class="tab-content mt20">
        <div class="tab-pane pl30 " id="@(NavigationAttributes.TAB_NAME_PROGRESSTODATE)">
            @Html.Partial("ReadPartial/ProgressToDatePartial", Model.ProgressToDateTab)
        </div>
        <div class="tab-pane pl30 " id="@(NavigationAttributes.TAB_NAME_PD_USEOFCS)">
            @Html.Partial("ReadPartial/UseOfCountrySystemsPartial", Model.UseOfCountrySystemsTab)
        </div>
    </div>
</div>
<div class="row mb30">
    <div class="col-md-12">
        @Html.Partial("ReadPartial/Buttons", Model)
    </div>
</div>

@section scripts{

        <script type="text/javascript">

        /*--------------- Navigation Tabs --------------- */
        registerCallback(function () {
            $(document).ready(function () {
                SelectTab('@ViewBag.ActiveTab');
            });

            $(document).on('click', 'ul.tabs li', function () {
                var source = $(this);
                var contentButtons = $('div[data-type="contentButtons"]');
                var nameTab = source.attr('dd-tab');
                contentButtons.addClass('hide');
                switch (nameTab) {
                    case "#@(NavigationAttributes.TAB_NAME_PROGRESSTODATE)":
                        $('div[data-id="read-ProgressDate"]').removeClass('hide');
                        break;
                    case "#@(NavigationAttributes.TAB_NAME_PD_USEOFCS)":
                        $('div[data-id="read-UseCS"]').removeClass('hide');
                        break;
                }
            });

            function SelectTab(tabName) {
                switch (tabName) {
                    case '@(NavigationAttributes.TAB_NAME_PROGRESSTODATE)':
                        $('[dd-tab="#@(NavigationAttributes.TAB_NAME_PROGRESSTODATE)"]').click();
                        break;
                    case '@(NavigationAttributes.TAB_NAME_PD_USEOFCS)':
                        $('[dd-tab="#@(NavigationAttributes.TAB_NAME_PD_USEOFCS)"]').click();
                        break;
                }
            }

        });
        function butonActiveCPD() {
            window.open("@Url.Action("ExportDocCPD", "DocumentCPD", new { area = "CPD" })", "_blank")
        }
        /*--------------- Edit Mode ---------------*/
        registerCallback(function () {
            $(document).on('click', '[name="edit-PTD"]', function () {
                var url = '@Url.Action("EditProgressToDate", "CSProgressToDate", new { area = "CPD" })';
                LocationAssign(url);
            });
            $(document).on('click', '[name="edit-UseCS"]', function () {
                var url = '@Url.Action("EditUseOfCountrySystems", "CSProgressToDate", new { area = "CPD" })';
                LocationAssign(url);
            });

        /*------------ Detail Portfolio ------------*/
            $(document).on('click', '[name="opertionNumberApprovedLink"]', function () {
                var source = $(this);
                var idRow = source.attr('data-rowId');
                var typeInstrument = source.attr('data-typeInstrument');

                var url = '@Url.Action("DetailPortfolioApprovedDataRead", "CSProgressToDate", new { area = "CPD" })'
                            + '?rowId=' + idRow
                            + '&typeInstrument=' + (parseInt(typeInstrument) - 1);
                
                LocationAssign(url);
            });
            $(document).on('click', '[name="opertionNumberAlignmentLink"]', function () {
                var source = $(this);
                var idRow = source.attr('data-rowId');
                var idTypePortfolio = source.attr('data-typeportfolio');
                var csObjectiveId = source.attr('data-csObjectiveId');
                var cpdProfileId = source.attr('data-csResultMatrixId');
                var isOtherArea = source.attr('data-isOtherArea') == 'True'

                var url = '@Url.Action("DetailsPortfolioAlignmentDataRead", "CSProgressToDate", new { area = "CPD" })'
                            + '?rowId=' + idRow
                            + '&typeOperationPortfolio=' + idTypePortfolio
                            + '&csObjectiveId=' + csObjectiveId
                            + '&isOtherArea=' + isOtherArea;
                
                LocationAssign(url);
            });
        });
    </script>
}