@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

<div id="headerButtons">

    <div data-pagemode="edit">
        
        @Confluence.ButtonLink(
            text: Localization.GetText("Cancel"),
                                                                  action: "cancelLCTask", name: "cancelLCTask", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelLCTask" } })

        <button data-id="buttonModal" class="buttonBlue"
                data-idb-fieldname="btnSaveAndApprove"
                data-modal-allowclose="true"
                data-custom-modal="saveApproveModal"
                data-custom-modal-style="vex-theme"
                data-custom-modal-title="@Localization.GetText("GLOBAL.K2.BUTTON.SaveSubmit")"
                data-custom-modal-validate="false"
                data-custom-buttons='["save", "cancel"]'
                data-custom-button-save-id="send"
                data-custom-button-save="@Localization.GetText("COMMON.Confirm")"
                data-custom-button-save-style="buttonBlue"
                data-custom-button-save-callback="saveCompleteLC"
                data-custom-button-save-closeatend="true"
                data-custom-button-cancel-id="cancel"
                data-custom-button-cancel="@Localization.GetText("Cancel")"
                data-custom-button-cancel-style="buttonLink"
                data-custom-button-cancel-callback=""
                data-custom-modal-onclose=""
                data-custom-modal-closeonoverlayclick="false">
            @Localization.GetText("GLOBAL.K2.BUTTON.SaveSubmit")
        </button>

        <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                data-modal-allowclose="true"
                data-custom-modal="SaveandReject"
                data-custom-modal-style="vex-theme"
                data-custom-modal-title="@Localization.GetText("OP.MS.MissionsWorkflow.SaveReject")"
                data-custom-modal-validate="false"
                data-custom-buttons='["save", "cancel"]'
                data-custom-button-save-id="send"
                data-custom-button-save="@Localization.GetText("OP.MS.SendandValidate.Bconfirm")"
                data-custom-button-save-style="buttonBlue"
                data-custom-button-save-callback="saveRejectLC"
                data-custom-button-save-closeatend="true"
                data-custom-button-cancel-id="cancel"
                data-custom-button-cancel="@Localization.GetText("OP.MS.MissionsWorkflow.Cancel")"
                data-custom-button-cancel-style="buttonLink"
                data-custom-button-cancel-callback=""
                data-custom-modal-onclose=""
                data-custom-modal-closeonoverlayclick="false">
            @Localization.GetText("OP.MS.MissionsWorkflow.SaveReject")
        </button>
    </div>

    <div data-id="ModalRegion">
        <div id="saveApproveModal" class="hide modalBody LCModal">@Localization.GetText("cm-lc-task-completition")</div>
        <div id="SaveandReject" class="hide modalBody missionsModal">@Localization.GetText("cm-lc-task-reject")</div>
    </div>
</div>
