@using IDB.MW.Application.DEMModule.ViewModels

@model DemViewModel

@if (Model != null)
{

    <div class="col-md-12 text-right">
        <span data-pagemode="read">

            @Confluence.ButtonBlue(text: Localization.GetText("R6.DEM.Main.Edit"),
                action: "concurrenceDemEdit",
                name: "editDem",
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEditDem" } })
            @if (Model.SubmitEdit)
            {
                @Confluence.ButtonOrange(text: Localization.GetText("R6.Proposal.AnnualAllocation.Submit"),
                    action: "concurrenceButtonSubmitDem",
                    name: "submitDem",
                    dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSubmitDem" } })
            }
            @if (Model.SubmitForDemRevalidation)
            {
                @Confluence.ButtonOrange(text: Localization.GetText("DEM Revalidation"),
                    action: "executeDemRevalidation",
                    name: "demValidationButton",
                    dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnDemValidation" } })
            }
        </span>
        <span data-pagemode="edit">
            @Confluence.ButtonLink(text: Localization.GetText("R6.DEM.Main.Cancel"),
                action: "cancelDemButton",
                name: "cancelDem",
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelDem" } })

            @Confluence.ButtonOrange(text: Localization.GetText("R6.DEM.Main.Save"),
                action: "saveDem",
                name: "saveDem",
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveDem" } })
        </span>
    </div>
}
