@using IDB.MW.Domain.Values.Dem
@model IDB.MW.Application.DEMModule.ViewModels.DemViewModel

<div class="row mb30 mt20" id="headerInfoDem">
    <div class="col-md-2">
        <div class="col-md-12 lblcontent">
            <label class="labelNormal">@Localization.GetText("R6.DEM.Main.LastUpdate")</label>
        </div>
        <div class="col-md-12 lblvalue bold">
            @Convert.ToDateTime(Model.LastUpdate).ToString("dd MMM yyyy")
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-md-12 lblcontent">
            <label class="labelNormal">@Localization.GetText("R6.DEM.Main.DEMChecklistStatus")</label>
        </div>
        <div id="demChecklistStatusId" class="col-md-12 lblvalue bold">
            @Model.DemChecklistStatus
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-md-12 lblcontent">
            <label class="labelNormal">@Localization.GetText("R6.DEM.Main.Stage")</label>
        </div>
        <div class="col-md-12 lblvalue bold">
            @Model.Stage
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-md-12 lblcontent">
            <label class="labelNormal">@Localization.GetText("R6.DEM.Main.UserName")</label>
        </div>
        <div class="col-md-12 lblvalue bold">
            @{
                if (Model.CurrentUser != DemGlobalValues.DEFAULT_DEM)
                {
                    @Model.CurrentUser
                }
            }
        </div>
    </div>
</div>

