@using IDB.MW.Application.DEMModule.ViewModels

@model DemViewModel

@if (Model != null)
{

    var tabsList = new Dictionary<string, string>
        {
            {"tabSummary", Localization.GetText("R6.DEM.Tabs.SummaryEnglishVersion")},
            {"tabResumen", Localization.GetText("R6.DEM.Tabs.ResumenSpanishVersion")},
            {"tabStrategic", Localization.GetText("R6.DEM.Summary.StrategicAlignment")},
            {"tabCountryDevelopmentResults", Localization.GetText("R6.DEM.Tabs.CountryDevelopmentResults")},
            {"tabEvaluability", Localization.GetText("R6.DEM.Tabs.Evaluability")},
            {"tabRisk", Localization.GetText("R6.DEM.Tabs.Risk")},
            {"tabAdditionality", Localization.GetText("R6.DEM.Tabs.Additionality")},
            {"tabValidationProcessStatus", Localization.GetText("R6.DEM.Tabs.ValidationProcess")}
        };

    @Confluence.Tabs(tabsList)
 
    <div class="tab-content">

        <div class="tab-pane" id="tabSummary"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-ignore-nullable-values="false"
             data-url="@Url.Action("Summary", "Save", new { area = "DEM" })"
             data-loadurl="@Url.Action("SummaryPartialView", "View", new { area = "DEM", demOperationId = Model.DemOperationId, currentRole = Model.CurrentRole })">

            @if (Model.Summary != null)
            {
                Model.Summary.Required = Model.Required;
                Model.Summary.Justification = Model.Justification;
                Model.Summary.OperationNumber = Model.OperationNumber;
                Model.Summary.Language = Language.EN;
                @Html.Partial("Partials/Tabs/PSummaryDualVersion", Model.Summary)

            }
        </div>

        <div class="tab-pane" id="tabResumen"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-ignore-nullable-values="false"
             data-url="@Url.Action("Summary", "Save", new { area = "DEM" })"
             data-loadurl="@Url.Action("ResumenPartialView", "View", new { area = "DEM", demOperationId = Model.DemOperationId })">

            @if (Model.Resumen != null)
            {
                Model.Resumen.Required = Model.Required;
                Model.Resumen.Justification = Model.Justification;
                Model.Resumen.OperationNumber = Model.OperationNumber;
                Model.Resumen.Language = Language.ES;
                @Html.Partial("Partials/Tabs/PSummaryDualVersion", Model.Resumen)
            }
        </div>

            @if (Model.IsTabVisible)
            {
                <div class="tab-pane" id="tabStrategic"
                    data-idb-fieldname="tabStrategic"
                    data-parsley-validate="data-parsley-validate"
                    data-parsley-excluded="[disabled]"
                    data-url="@Url.Action("StrategicAlignment", "Save", new { area = "OPUS" })"
                    data-loadurl="@Url.Action("StrategicAlignmentDataContentDEM", "View", new { area = "DEM" })">
                    @if (Model.StrategicAlignment != null)
                    {
                        @Html.Partial("Partials/Tabs/StrategicAlignmentPartialDEM", Model.StrategicAlignment)
                    }
                    </div>
            }

            <div class="tab-pane" id="tabCountryDevelopmentResults">
            @if (Model != null)
            {
                @Html.Partial("Partials/Tabs/PCountryDevelopmentResults", Model);
            }
            </div>

        <div class="tab-pane" id="tabEvaluability"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-ignore-nullable-values="false"
             data-url="@Url.Action("EvaluabilitySave", "Save", new { area = "DEM" })"
             data-loadurl="@Url.Action("EvaluabilityPartialView", "View", new { area = "DEM", demOperationId = Model.DemOperationId, stage = Model.Stage })">
            @if (Model.Evaluability != null)
            {
                @Html.Partial("Partials/Tabs/PEvaluability", Model.Evaluability);
            }
        </div>

        <div class="tab-pane" id="tabRisk"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-ignore-nullable-values="false"
             data-url="@Url.Action("RiskSave", "Save", new { area = "DEM" })"
             data-loadurl="@Url.Action("RiskPartialView", "View", new { area = "DEM",demOperationId = Model.DemOperationId, stage = Model.Stage })">

            @if (Model != null)
            {
                @Html.Partial("Partials/Tabs/PRisk", Model.Risk)
            }
        </div>

        <div class="tab-pane" id="tabAdditionality"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-ignore-nullable-values="false"
             data-url="@Url.Action("AdditionalitySave", "Save", new { area = "DEM" })"
             data-loadurl="@Url.Action("AdditionalityPartalView", "View", new { area = "DEM", demOperationId = Model.DemOperationId, stage = Model.Stage })">

            @if (Model.Additionality != null)
            {
                @Html.Partial("Partials/Tabs/PAdditionality", Model.Additionality)
            }
        </div>

        <div class="tab-pane" id="tabValidationProcessStatus">
            @if (Model != null)
            {
                @Html.Partial("Partials/Tabs/PValidationProcessStatus", Model);
            }
        </div>

   </div>
}