@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan
@using IDB.MW.Domain.Values

@model SummaryModel


<div class="pull-right pt10 pb10">
    @if (ViewBag.EditMode != null && ((bool)ViewBag.EditMode))
    {
        @Confluence.ButtonLink(Localization.GetText("SP.Summary.Cancel"), action: "cancel")
        if (Html.HasPermission("Supervision Plan Write"))
        {
            @Confluence.ButtonOrange(Localization.GetText("SP.Summary.Save"), action: "save")
        }

        if (Model.SupervisionPlan.ActualVersionIsInDraftOrModified)
        {
            if (Html.HasPermission("Supervision Plan Request"))
            {
                @Confluence.ButtonBlue(Localization.GetText("SP.Summary.SaveRequest"), action: "save")
            }
        }

    }
    else
    {

        if (Model.ModalityType == SpGlobalValues.SpSimplified)
        {
            if (Model.SupervisionPlan.ActualVersionEditable)
            {
                if (Html.HasPermission("Supervision Plan Write"))
                {
                    @Confluence.ButtonBlue(Localization.GetText("SP.Summary.Edit"), action: "edit")
                }
            }
            if (Html.HasPermission("Supervision Plan Request"))
            {
                if (Model.SupervisionPlan.ActualVersion != null)
                {
                    @Confluence.ButtonBlue(Localization.GetText("SP.Summary.Request"), action: "request")
                }
            }
        }
    }
</div>