@using IDB.MW.Domain.Values
@using IDB.MW.Domain.Models.Supervision.SupervisionPlan
@model List<SupervisionPlanVersionModel>

<div class="padding20 popUpBody">
    <div class='marginBottom2'>
        <table class="tableNormal">
            <thead>
                <tr>
                    <th>@Localization.GetText("SP.Summary.SupervisionPlanTable.Year")</th>
                    <th>@Localization.GetText("SP.Summary.SupervisionPlanTable.Modality")</th>
                    <th>@Localization.GetText("SP.Summary.SupervisionPlan.Status")</th>
                    <th>@Localization.GetText("SP.Summary.SupervisionPlan.CreationDate")</th>
                    <th>@Localization.GetText("SP.Summary.SupervisionPlan.ValidationDate")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var version in Model)
                    {
                        <tr data-id="@version.SupervisionPlanId" data-version-id="@version.SupervisionPlanVersionId">
                            <td class="text-center">@version.Year</td>
                            <td data-type="@(version.Modality != null ? version.Modality.Code : null)" class="text-center">@(version.Modality != null && version.Modality.NameEn != null ? version.Modality.GetLanguageCode(Localization.CurrentLanguage) : SpGlobalValues.SpSimplified)</td>
                            <td class="text-center">@version.ValidationStageName</td>
                            <td class="text-center">
                                @if (version.Created != null)
                                {
                                    @version.Created.Value.ToString("dd MMM yyy")
                                }
                            </td>
                            <td class="text-center">
                                @if (version.ValidationDate.HasValue)
                                {
                                    @version.ValidationDate.Value.ToString("dd MMM yyy")
                                }
                            </td>
                            <td class="text-center">
                                @Confluence.ButtonPdf("PDF", "DownloadDocument")
                                @Confluence.ButtonExcel("EXCELOPENXML", "DownloadDocument")
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>