@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

@model IDB.MW.Application.TCM.ViewModels.K2Workflow.WorkflowViewModels

<div id="headerButtons">

    <div data-pagemode="edit">
        @Confluence.ButtonWhite(text: Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Cancel"), action: "cancelWorkflowTCM", name: "cancelWorkflowTCM",
            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelInstitutionWF" } })

       
        @if (Model.TaskDataModel != null)
        {
            @Confluence.ButtonBlue(text: Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Save"), action: "saveOnly", name: "saveOnly",
            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveOnly" } })

            @Confluence.ButtonBlue(text: Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Reject"), action: "saveRejectWorkflowTCM", name: "saveRejectWorkflow",
            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnReject" } })

            <button data-id="buttonModal" class="buttonBlue"
                    data-idb-fieldname="btnSaveAndApprove"
                    data-modal-allowclose="true"
                    data-custom-modal="saveApproveModal"
                    data-custom-modal-style="vex-theme"
                    data-custom-modal-title="@Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.SaveAndAccept")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["save", "cancel"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.SaveAndAccept")"
                    data-custom-button-save-style="buttonBlue"
                    data-custom-button-save-callback="acceptApproveTCM"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Cancel")"
                    data-custom-button-cancel-style="buttonLink"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="false">
                @Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Accept")
            </button>
        }
        else
        {
            <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                    data-idb-fieldname="btnSaveSubmit"
                    data-modal-allowclose="true"
                    data-custom-modal="saveAndSubmitModal"
                    data-custom-modal-style="vex-theme"
                    data-custom-modal-title="@Localization.GetText("R6.Proposal.AnnualAllocation.SaveSubmit")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["save", "cancel"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.SaveAndSubmit")"
                    data-custom-button-save-style="buttonBlue"
                    data-custom-button-save-callback="startWorkflowRequest"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("R6.Proposal.AnnualAllocation.Cancel")"
                    data-custom-button-cancel-style="buttonLink"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="false">
                @Localization.GetText("R6.Proposal.AnnualAllocation.SaveSubmit")
            </button>

        }
    </div>

    <div data-id="ModalRegion">
        <div id="saveApproveModal" class="hide modalBody TCMModal">@Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Message.SaveAndAccept")</div>
        <div id="saveRejectModal" class="hide modalBody TCMModal"> @Localization.GetText("GLOBAL.K2.MODAL.SaveRejectTask")</div>
        <div id="saveAndSubmitModal" class="hide modalBody TCMModal">@Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Message.SaveAndSubmit")</div>
    </div>
</div>
