@using IDB.Presentation.MVC4.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>IDB</title>
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    @Styles.Render("~/Content/NewConfluence")

    @* Este contenido de estilos, es solo para esta pantalla, no es necesaria para los controles *@
    <link href="~/Content/Modules/Styles/general.css" rel="stylesheet" />

    
    @RenderSection("CSS", required: false)

    @Scripts.Render("~/bundles/NewConfluence")
        @RenderSection("JS", false)
        @Html.WriteScriptBlocks()
    </head>
    <body>
        @Confluence.Loader()

    <section class="container-fluid">
        <div id="header-section">
            @RenderSection("Header", required: false)
        </div>
    </section>
    <section class="container-fluid">
        @RenderBody()
    </section>

    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-id="errorLog"]').click();
            });
        </script>
        <div data-id="ModalRegion">
            <button data-id="errorLog" class="buttonBlue hide"
                    data-modal-allowclose="true"
                    data-custom-modal="newRelatedOperationModal"
                    data-custom-modal-style=""
                    data-custom-modal-title=""
                    data-custom-modal-validate="false"
                    data-custom-buttons='["cancel"]'
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("Ok")"
                    data-custom-button-cancel-style="buttonBlue"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-closeonoverlayclick="false">
                Modal
            </button>

            <div id="newRelatedOperationModal" class="hide pt10 pl10 pr10 pb10">
                @ViewBag.Error
            </div>
        </div>
    }

        @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
    </body>
    </html>