@using IDB.Architecture.Language
@using IDB.MW.Domain.Session
@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel

<div class="row" style="background-color: @Model.AppHeaderColor">


    <div class="navbar-header">
        <div>
            <a href='@Url.Action("Index","Mainframe")'
               id="headerLogo"></a>
        </div>
    </div>

    <div class="headerUser">
        @{ Html.RenderPartial("~/Views/Mainframe/Partials/MainUserSettings.cshtml", Model); }
    </div>
    <div class="pull-right tasks">
        @Html.ActionLink("search","Operation", new { operationNumber=string.Empty},new { @class = "pull-right", id = "headerSearchBtn", searchValue = "" })

        <div id="mainFrameSelect" class="inputSearch input-group select2-bootstrap-append">
            <select class="form-control srch-term"
                    data-ajax--url="@Url.Action("SearchOperations","Mainframe")"
                    data-placeholder="@Localization.GetText("SP.QL.SEARCH")"
                    data-language="@IDBContext.Current.CurrentLanguage"></select>
        </div>
        <ul id="taskBarMenu" class="nav navbar-nav floatR">
            <li>
                <a id="headerIncidents"
                   target="_blank"
                   title="@Model.QuickLinks.Incidents.Alt"
                   href="@Model.QuickLinks.Incidents.Url">
                </a>
            </li>
            <li>
                @{ Html.RenderPartial("~/Views/Mainframe/Partials/MainTasksPopover.cshtml", Model); }
            </li>
            <li>
                @{ Html.RenderPartial("~/Views/Mainframe/Partials/MainAlarmPopover.cshtml", Model); }
            </li>
            <li>
                <a id="headerNews"
                   target="_blank"
                   title="@Model.QuickLinks.News.Alt"
                   href="@Model.QuickLinks.News.Url">
                </a>
            </li>
            <li>
                <a id="headerTraining"
                   target="_blank"
                   title="@Model.QuickLinks.Training.Alt"
                   href="@Model.QuickLinks.Training.Url">
                </a>
            </li>
            <li>
                <a id="headerFeedback"
                   target="_blank"
                   title="@Model.QuickLinks.Feedback.Alt"
                   href="@Model.QuickLinks.Feedback.Url">
                </a>
            </li>
            <li>
                <a id="headerATI"
                   target="_blank"
                   title="@Model.QuickLinks.ATI.Alt"
                   href="@Model.QuickLinks.ATI.Url">
                </a>
            </li>
        </ul>
    </div>


</div>
