@using IDB.Architecture.Language
@using IDB.MW.Business.Core.Mainframe.DTO.Menu
@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel

<div id="TopMenuNavigationSection">
    <div class="row" id="topNavigationMenuRow">
        <nav class="navbar navbar-default ">
            <div class="container-fluid">
                <ul id="topMenuOne" class="nav navbar-nav">
                    @foreach (var menuItem in Model.NavigationMenu.Children)
                    {
                        <li id="@menuItem.MenuItemId" class="topMenuItem @(menuItem.MenuItemId == Model.CurrentPage.NavigationMenu.MenuItemId ? "topMenuItemSelected" : "")">
                            <a @*href="#@menuItem.MenuItemId" *@
                               data-menu="@menuItem.MenuItemId"
                               class="topMenuLevelOne">@menuItem.Description</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>

    <div class="row topMenuLevelTwoLine">
        <div id="topMenuTwo" class="topMenuLevelTwo">
            @foreach (var menuItem in Model.NavigationMenu.Children)
            {
                <ul data-parentmenu="@menuItem.MenuItemId" class="hidden">
                    @foreach (var subMenuItem in menuItem.Children)
                {
                        <li>
                            @MainFrameHelpers.CreateMenuItem(
                                                    subMenuItem.Description,
                                                     "LoadIFramedModuleWithLeftMenu",
                                                    subMenuItem,
                                                    new AjaxOptions
                                                    {
                                                        UpdateTargetId = "layoutMainContent", // <-- DOM element ID to update
                                                        InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                                                        HttpMethod = "GET",
                                                        OnBegin = "AjaxOnBegin",
                                                        OnSuccess = "AjaxOnSuccess",
                                                        OnFailure = "AjaxOnFailure"
                                                    }
                                                    , new
                                                    {
                                                        @class = (subMenuItem.IsDefaultPage ? "IsDefaultPage " : string.Empty)
                                                                + (subMenuItem.MenuItemId == Model.CurrentPage.NavigationSubMenu.MenuItemId ? "subNavBarTopSelected" : string.Empty),
                                                        data_parentmenu = menuItem.MenuItemId,
                                                        id = subMenuItem.MenuItemId
                                                    }
                                                    , Model.OperationData != null ? Model.OperationData.OperationNumber : null
                                                    )
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
