@using IDB.Architecture.Language
@using IDB.MW.Domain.Values

@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel
@{
    var showOperationHeader = Model.HideOperationHeader;
    bool showLifeCycleLink = true;
    showLifeCycleLink = Model.OperationData != null ? !Model.OperationData.IsDraft : true;
}
<div id="mainOperationDetailsContainer">
    <div id="mainOperationDetails" class="row row-eq-height" style = "display: @showOperationHeader;">
        <ul class="mainOperationDetails vertical-align">
            <li>
                <span class="mainOperationNumber">@Model.OperationHeader.OperationNumber</span>
                <br />
            @if (Model.OperationHeader.OperationNumber != OperationNumberPrefixes
                    .OPERATION_NUMBER_NOT_FOUND)
            {
                <a href="@Model.OperationHeader.SiteUrl" target="_blank" title="">@Localization.GetText("CLOUD.EZSHARE.LNK")</a>
            }
            else
            {
                <span title="">@(Localization
                    .GetText("Global.Information.EZShare.Unavailable.Description"))</span>
            }
            </li>
            <li id="mainOperationNameValue" class="mainOperationName">
                @Model.OperationHeader.OperationName
            </li>
            <li class="mainOperationDetailInfo">
                <span>@Localization.GetText("SP.OH.SAP_CODE")</span>
                <p>@Model.OperationHeader.ProjectNumber</p>
            </li>
            <li class="mainOperationDetailInfo">
                <span>@Localization.GetText("SP.OH.APPROVAL_NUMBER")</span>
                <p>@Model.OperationHeader.ApprovalNumber</p>
            </li>
            <li class="mainOperationDetailInfo">
                <span>@Localization.GetText("SP.OH.OVERALL_STAGE")</span>
                <p id="opHeaderStage">@Html.Raw(Model.OperationHeader.OperationStage)</p>
            </li>
            <li class="mainOperationDetailInfo">
                <span>@Localization.GetText("SP.OH.RELATED_OPERATIONS")</span>
                @if (Model.OperationHeader.RelatedOperationsData.Count > 5)
                {
                    <p>
                        @Html.Raw(string.Join(",", Model
                            .OperationHeader.RelatedOperationsData.GetRange(0, 5)
                            .Select(o => Html.ActionLink(o.OperationNumber, "Operation", new { operationNumber = o.OperationNumber }, new { title = o.RelationshipTypeName }).ToString())
                            .ToArray()))

                    </p>
                    <span>
                        @Html.Partial("~/Views/Mainframe/Partials/MainOperationHeaderRelated.cshtml", Model)
                    </span>

                }
                else
                {
                    <p>
                        @Html.Raw(string.Join(",", Model
                            .OperationHeader.RelatedOperationsData
                            .Select(o => Html.ActionLink(o.OperationNumber, "Operation", new { operationNumber = o.OperationNumber }, new { title = o.RelationshipTypeName }).ToString())
                            .ToArray()))

                    </p>
                }

            </li>
        </ul>
    </div>


    <div class="row ">

        <div id="topHeaderMainMenu" class="operationDetail col-md-12">
            <ul id="mainOperationDetail" class="list-inline">
                @if (Model.OperationHeader.OperationNumber != OperationNumberPrefixes
                        .OPERATION_NUMBER_NOT_FOUND)
                {
                    <li class="col-md-2 text-center">@Localization.GetText("SP.OHM.OPERATION_DETAILS")</li>
                }
                else
                {
                    <li class="col-md-2 text-center">@(Localization
                        .GetText("Global.Information.OperationDetail.Unavailable.Description"))</li>
                }

                @if (Model.OperationHeader.OperationNumber != OperationNumberPrefixes
                        .OPERATION_NUMBER_NOT_FOUND)
                {
                    if (showLifeCycleLink)
                    {
                        <li class="col-md-1 text-center">

                            @Ajax.ActionLink(Localization.GetText("SP.OHM.LIFE_CYCLE"),
                            "LoadIFramedModuleByRelativeUrl",
                            new { relativeUrl = string.Format("/{0}/casemanager/activityplan/Index", Model.OperationHeader.OperationNumber) },
                            new AjaxOptions
                            {
                                UpdateTargetId = "mainLayoutOperationContent",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET"
                            })
                        </li>
                    }

                    <li class="col-md-2 text-center">
                        <span>@Model.OperationHeader.WorkFlowsCount</span>
                        @Ajax.ActionLink(Localization.GetText("SP.OHM.WORKFLOWS"),
                        "LoadIFramedModuleByRelativeUrl",
                        new { relativeUrl = string.Format("/{0}/Global/Workflows/Index?operationNumber={0}", Model.OperationHeader.OperationNumber) },
                        new AjaxOptions
                        {
                            UpdateTargetId = "mainLayoutOperationContent",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        })
                    </li>
                    <li class="col-md-1 text-center">
                        <span>@Model.OperationHeader.TasksCount</span>
                        @Ajax.ActionLink(Localization.GetText("SP.OHM.MENU_TASKS"),
                        "LoadIFramedModuleByRelativeUrl",
                        new { relativeUrl = string.Format("/{0}/Global/Tasks/Index?operationNumber={0}", Model.OperationHeader.OperationNumber) },
                        new AjaxOptions
                        {
                            UpdateTargetId = "mainLayoutOperationContent",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        })
                    </li>
                    <li class="col-md-2 text-center">
                        <span>@Model.OperationHeader.NotificationsCount</span>
                        @Ajax.ActionLink(Localization.GetText("SP.OHM.NOTIFICATIONS"),
                        "LoadIFramedModuleByRelativeUrl",
                        new { relativeUrl = string.Format("/{0}/Global/Notifications/Index?operationNumber={0}", Model.OperationHeader.OperationNumber) },
                        new AjaxOptions
                        {
                            UpdateTargetId = "mainLayoutOperationContent",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        })
                    </li>
                    <li class="col-md-2 text-center">

                        @Ajax.ActionLink(Localization.GetText("SP.OHM.MEETINGS"),
                        "LoadIFramedModuleByRelativeUrl",
                        new { relativeUrl = string.Format("/{0}/VMR/MyMeetings/Index", Model.OperationHeader.OperationNumber) },
                        new AjaxOptions
                        {
                            UpdateTargetId = "mainLayoutOperationContent",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        })
                    </li>
                    <li class="col-md-2 ">
                        <span id="mainOperationDetailsDocumentTotal">@Model.OperationHeader.DocumentsCount</span>
                        @Ajax.ActionLink(Localization.GetText("SP.OHM.DOCUMENTS"),
                        "LoadIFramedModuleByRelativeUrl",
                        new { relativeUrl = string.Format("/{0}/Document/Index?local=true&operationNumber={0}", Model.OperationHeader.OperationNumber) },
                        new AjaxOptions
                        {
                            UpdateTargetId = "mainLayoutOperationContent",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        })
                    </li>
                }
            </ul>
            <a id="collapseBtn" data-toggle="collapse" data-target=".collap"></a>
        </div>

    </div>

</div>