@using IDB.MW.Business.Core.Mainframe.DTO.Menu;

@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel
<div id="sidebar" class="col-md-12 nopadding sideBar">
    <ul id="sidebarList" class="nav nav-pills nav-stacked hoverOrangeBG sideBar">      
            @foreach (var menuItem in Model.CurrentPage.NavigationSubMenu.Children)
            {
                var arrowDown = menuItem.Children.Count != 0 ? "false" : "";

                <li>
                @if (menuItem.Children.Count == 0)
                {
                    var subMenuSelected = (Model.CurrentPage.ActiveMenu != null && menuItem.MenuItemId == Model.CurrentPage.ActiveMenu.MenuItemId ? "subMenuSelected" : string.Empty);

                    @MainFrameHelpers.CreateMenuItem(menuItem.Description, "LoadIFramedModule", menuItem,
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "mainLayoutOperationContent", // <-- DOM element ID to update
                                        InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                                        HttpMethod = "GET",
                                        OnBegin = "AjaxOnBegin",
                                        OnFailure = "AjaxOnFailure",
                                        OnComplete = "AjaxOnComplete"
                                    },
                                        new
                                        {
                                            @class = (menuItem.IsDefaultPage?"DefaultPage":string.Empty)+ (" leftMenuItem parentNode collapsed sideBar " + subMenuSelected),
                                            aria_expanded = arrowDown
                                        }
                                        ,Model.OperationData != null ? Model.OperationData.OperationNumber : null
                                        )
                }
                else
                {
                    <a data-toggle="collapse" href="#@menuItem.MenuItemId" aria-expanded="@arrowDown" f
                       class="leftMenuItem parentNode sideBar">@menuItem.Description</a>
                }

                <!-- Second menu level-->
                @if (menuItem.Children.Count != 0)
                {
                    <div id="@menuItem.MenuItemId" class="panel-collapse @(menuItem.MenuItemId!=Model.CurrentPage.LeftMenu.MenuItemId?"collapse":string.Empty)" aria-expanded="false">
                        <ul class="nav nav-pills nav-stacked hoverOrangeBG sidebar-sublist ">
                            @foreach (var menuSubItem in menuItem.Children)
                            {
                                <li>
                                    @MainFrameHelpers.CreateMenuItem(menuSubItem.Description, "LoadIFramedModule", menuSubItem,
                                                    new AjaxOptions
                                                    {
                                                        UpdateTargetId = "mainLayoutOperationContent", // <-- DOM element ID to update
                                                        InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                                                        HttpMethod = "GET",
                                                        OnBegin = "AjaxOnBegin",
                                                        OnFailure = "AjaxOnFailure",
                                                        OnComplete = "AjaxOnComplete"
                                                    },
                                                     new { @class = (menuItem.IsDefaultPage ? "DefaultPage" : string.Empty) + (" leftMenuSubItem " + (Model.CurrentPage.LeftSubMenu!=null && menuSubItem.MenuItemId == Model.CurrentPage.LeftSubMenu.MenuItemId ? "subMenuSelected" : string.Empty)) }
                                                     , Model.OperationData != null ? Model.OperationData.OperationNumber : null
                                                    )
                                </li>
                            }
                        </ul>
                    </div>
                }
            </li>
        }
    </ul>
</div>
<script>
    $(document).ready(function () {
        var itemId = "@(Model.CurrentPage.PortFolioPRMreport.Item1)";
        var url = "@(Model.CurrentPage.PortFolioPRMreport.Item2)";
        var $menuItemLink = $('[href$=menuItemId\\=' + itemId + ']');

        $menuItemLink.attr({
            'href': url,
            'data-ajax': '',
            'target': '_blank'
        });
    })
</script>