@using IDB.Architecture.Language
@using IDB.MW.Domain.Session
@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel

@{
    var settings = Model.UserSettings.Settings;
}

<a id="headerUserLink"
   class="popoverLink"
   data-toggle="popover"
   data-trigger="click"
   href="#">@IDBContext.Current.UserIdentityData.FullName&nbsp;&nbsp;▼</a>

<div class="popover-content hide" id="userPreferences">
    <div class="userPreferences">
        <input type="hidden" id="UserSettingId" value="@Model.UserSettings.UserSettingId" />

        <div class="col-md-12">
            <h3 class="marginTB5 margin5">@Localization.GetText("SP.US.USER_PREFERENCES")</h3>
        </div>

        <div class="col-md-12">
            @Confluence.LabelBold(Localization.GetText("SP.US.EMAIL_PREFERENCES"))
            @Confluence.InputCheckbox(settings.EmailPreferences.DoNotSendEmailNotificationsFrom,
           name: "UserSettings_DoNotSendEmailNotificationsFrom",
           id: "UserSettings_DoNotSendEmailNotificationsFrom",
           label: Localization.GetText("SP.US.DO_NOT_SEND_EMAIL_NOTIFICATIONS_FROM"))
        </div>
        <div id="emailPreferences" class="col-md-12 popoverSection">
            <div class="col-md-6 nopadding">
                @Confluence.InputCheckbox(settings.EmailPreferences.NotificationsPMR,
           name: "UserSettings_NotificationsPMR",
           id: "UserSettings_NotificationsPMR",
           label: Localization.GetText("SP.US.NOTIFICATIONS_PMR"))

                @Confluence.InputCheckbox(settings.EmailPreferences.NotificationsLifeCycle,
           name: "UserSettings_NotificationsLifeCycle",
           id: "UserSettings_NotificationsLifeCycle",
           label: Localization.GetText("SP.US.NOTIFICATIONS_LIFECYCLE"))

                @Confluence.InputCheckbox(settings.EmailPreferences.NotificationsSupervisionPlan,
           name: "UserSettings_NotificationsSupervisionPlan",
           id: "UserSettings_NotificationsSupervisionPlan",
           label: Localization.GetText("SP.US.NOTIFICATIONS_SUPERVISION_PLAN"))
            </div>
            <div class="col-md-6 nopadding">
                @Confluence.InputCheckbox(settings.EmailPreferences.NotificationsInstitutions,
           name: "UserSettings_NotificationsInstitutions",
           id: "UserSettings_NotificationsInstitutions",
           label: Localization.GetText("SP.US.NOTIFICATIONS_INSTITUTIONS"))

                @Confluence.InputCheckbox(settings.EmailPreferences.NotificationsClauses,
           name: "UserSettings_NotificationsClauses",
           id: "UserSettings_NotificationsClauses",
           label: Localization.GetText("SP.US.NOTIFICATIONS_CLAUSES"))

                @Confluence.InputCheckbox(settings.EmailPreferences.NotificationsPublications,
           name: "UserSettings_NotificationsPublications",
           id: "UserSettings_NotificationsPublications",
           label: Localization.GetText("SP.US.NOTIFICATIONS_PUBLICATIONS"))
            </div>
        </div>

        <div class="col-md-12 mt10">
            @Confluence.LabelBold(Localization.GetText("SP.US.LANGUAGE"))
        </div>
        <div class="col-md-12 popoverSectionLenguage">
            @foreach (var language in Model.UserSettings.Languages)
            {
                <div class="col-md-6 nopadding">
                    @Confluence.InputRadioButton(language.Key,
           "userPreferenceLanguage",
language.Key == Model.UserSettings.PreferredLanguage.ToUpper(),
           id: language.Key,
           label: language.Value)
                </div>
            }
        </div>

        <div class="col-md-12 mt10">
            @Confluence.LabelBold(Localization.GetText("SP.US.ANNOUNCEMENT_CONFIGURATION"))
            @Confluence.InputCheckbox(settings.AnnouncementsPreferences.DoNotShowAnnouncements,
           name: "UserSettings_DoNotShowAnnouncements",
           id: "UserSettings_DoNotShowAnnouncements",
           label: Localization.GetText("SP.US.ANNOUNCEMENTS_DO_NOT_SHOW"))
        </div>

        <div class="pl0 col-md-12 mt15 mb10">

            <div class="col-md-6">
                @Html.ActionLink(Localization.GetText("SP.US.LOGOUT"), "Logout", "Login", null, new { @class = "pull-left" })
            </div>

            <div class="col-md-3 pl0">
                <a id="UserSettings_Cancel" href="#" class="pull-left">@Localization.GetText("Cancel")</a>
            </div>
            <div class="col-md-3">
                <a id="UserSettings_ApplyChanges" href="#" class="pull-left">@Localization.GetText("Apply")</a>
            </div>
        </div>
    </div>
</div>