@using IDB.Architecture.Language
@model IDB.Presentation.MVC4.Models.Mainframe.MainframeViewModel
@{
    Layout = null; // "~/Views/Shared/_LayoutMainframe.cshtml";
}

<div class="col-md-12">
    <div class="col-md-12">
        <h2 class="titlePrincipal">@Localization.GetText("OP.OD.Header.Tittle")</h2>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#">@Localization.GetText("OP.OD.TabBasicData.Title")</a></li>
        <li><a href="#">@Localization.GetText("OP.OD.TabResponsibilityData.Title")</a></li>
        <li><a href="#">@Localization.GetText("OP.OD.TabClassificationData.Title")</a></li>
    </ul>

    <br />
    <div class="col-md-12">
        <h4 class="grouping-section">@Localization.GetText("OP.OD.TabBasicData.GeneralInformation")</h4>
    </div>

    <div class="col-md-3 lineGrayRight">
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.OperationType")</div>
            <label class="control-label">@Model.OperationData.OperationTypeCode - @Model.OperationData.OperationTypeName</label>
        </div>
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.OperationYear")</div>
            <label class="control-label">@(Model.OperationData.OperationDate.HasValue? Model.OperationData.OperationDate.Value.Year.ToString():string.Empty)</label>
        </div>
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.Sector")</div>
            <label class="control-label">@Model.OperationData.SectorName</label>
        </div>
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.Subsector")</div>
            <label class="control-label">@Model.OperationData.SubSectorName</label>
        </div>
    </div>

    <div class="col-md-3 lineGrayRight">
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.Country")</div>
            <label class="control-label">@Model.OperationData.CountryName</label>
        </div>
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.CountryDepartment")</div>
            <label class="control-label">@Model.OperationData.CountryDepartmentDisplayName</label>
        </div>
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.CountryGroup")</div>
            <label class="control-label">@Model.OperationData.CountryGroupName</label>
        </div>
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.Category")</div>
            <label class="control-label">@Model.OperationData.RelatedCategory</label>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.MBFCode")</div>
            <label class="control-label">@Model.OperationData.MBFCodeDisplayName</label>
        </div>
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabClassificationData.Classifications.PMR")</div>
            <label class="control-label"> @(Model.OperationData.IsPmrRequired.HasValue? Model.OperationData.IsPmrRequired.Value?Localization.GetText("Yes"):Localization.GetText("No"):string.Empty)</label>
        </div>
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.ConvergenceRelatedOp")</div>
            <label class="control-label">@Model.OperationData.RelatedOperations</label>
        </div>
    </div>

    <div class="col-md-12">
        <br />
        <h4>@Localization.GetText("OP.OD.TabBasicData.ReformulationInformation")</h4>
    </div>

    <div class="col-md-3 ">
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.ObjThisReformulated")</div>
            <label class="control-label">@(Model.OperationData.IsReformulated.HasValue ? Model.OperationData.IsReformulated.Value ? Localization.GetText("Yes") : Localization.GetText("No") : Localization.GetText("No"))</label>
        </div>
    </div>

    <div class="col-md-3 ">
        <div class="form-group">
            <div class="form-control-static">@Localization.GetText("OP.OD.TabBasicData.ReformulatedDateApproval")</div>
            <label class="control-label">@(Model.OperationData.ReformulationApprovalDate.HasValue ? Model.OperationData.ReformulationApprovalDate.Value.ToShortDateString():string.Empty)</label>
        </div>
    </div>
</div>
