@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers

@model IDB.MW.Application.GlobalModule.ViewModels.WorkflowViewModel

<div id="headerButtons">
    <div data-pagemode="read">
        @Confluence.ButtonLink(text: Localization.GetText("OP.MS.Cancel"), action: "cancelCreateworkflow", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelCreateworkflow" } })

        <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                data-modal-allowclose="true"
                data-custom-modal="sendRequestModal"
                data-custom-modal-style="vex-theme"
                data-custom-modal-title="@Localization.GetText("OP.MS.MissionsWorkflow.SendRequest")"
                data-custom-modal-validate="false"
                data-custom-buttons='["save", "cancel"]'
                data-custom-button-save-id="send"
                data-custom-button-save="@Localization.GetText("OP.MS.MissionsWorkflow.SendRequest")"
                data-custom-button-save-style="buttonBlue"
                data-custom-button-save-callback="saveAndStartWorkflow"
                data-custom-button-save-closeatend="true"
                data-custom-button-cancel-id="cancel"
                data-custom-button-cancel="@Localization.GetText("OP.MS.MissionsWorkflow.Cancel")"
                data-custom-button-cancel-style="buttonLink"
                data-custom-button-cancel-callback=""
                data-custom-modal-onclose=""
                data-custom-modal-closeonoverlayclick="false">
            @Localization.GetText("OP.MS.MissionsWorkflow.SendRequest")
        </button>
        @if (Model.CanAddValidator)
        {
            @Confluence.ButtonWhite(text: Localization.GetText("OP.MS.MissionsWorkflow.Edit"), action: "editRequest", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEditRequest01" } })
        }
    </div>
    
        <div data-pagemode="edit">
            @Confluence.ButtonLink(text: Localization.GetText("OP.MS.Cancel"), action: "cancelRequest", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelRequest01" } })

            <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                    data-modal-allowclose="true"
                    data-custom-modal="sendSaveRequestModal"
                    data-custom-modal-style="vex-theme"
                    data-custom-modal-title="@Localization.GetText("OP.MS.MissionsWorkflow.SaveRequest")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["save", "cancel"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("OP.MS.MissionsWorkflow.SaveAndRequest")"
                    data-custom-button-save-style="buttonBlue"
                    data-custom-button-save-callback="saveAndStartWorkflow"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("OP.MS.MissionsWorkflow.Cancel")"
                    data-custom-button-cancel-style="buttonLink"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="false">
                @Localization.GetText("OP.MS.MissionsWorkflow.SaveRequest")
            </button>
        </div>
    <div data-id="ModalRegion">
        <div id="sendRequestModal" class="hide modalBody missionsModal">@Localization.GetText("OP.MS.MissionsWorkFlow.SendRequestModal")</div>
        <div id="sendSaveRequestModal" class="hide modalBody missionsModal">@Localization.GetText("OP.MS.MissionsWorkFlow.SaveRequestModal")</div>
        <div id="SaveandValidate" class="hide modalBody missionsModal">@Localization.GetText("GLOBAL.K2.MODAL.SaveSubmitTask")</div>
        <div id="SaveandReject" class="hide modalBody missionsModal">@Localization.GetText("GLOBAL.K2.MODAL.SaveRejectTask")</div>
    </div>
</div>
