@model IDB.MW.Application.AdministrationModule.ViewModels.Delegation.TableDocumentViewModel

<tr role="row" data-id="">

    <td>
        <span data-pagemode="edit">
            @Confluence.Label(Model.User)
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.LabelGetDate(Model.Date)
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.Label(Model.DocNumber)
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
          @Confluence.Label(Model.Description)
          @Confluence.InputHidden(Model.Description, "Description")
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @{
                var secureUrl = System.Configuration.ConfigurationManager.AppSettings["DocumentManagement_Secure_URL"] + Model.DocNumber;
            }
            <a href=@secureUrl target="_blank">@Confluence.ButtonDownload(text: "")</a>
            @Confluence.ButtonTrash(null, null, "removeRowDocument",required:false)
            @Confluence.InputHidden("0", "DocumentId")
            @Confluence.InputHidden(Model.DocNumber, "DocNumber")          
        </span>
    </td>
</tr>

