@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.PCRModule.ViewModels.ChecklistService.PCREffectivenessViewModel

<div class="row">
    <div class="col-md-12 text-right">
        @Html.Partial("Partials/Controls/PCREffectivenessButtons")
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <h4 class="headingh3">
            @Localization.GetText("PCR.Checklist.TabEffectiveness.Summary")
        </h4>
    </div>
    <div class="col-md-3">
        <div data-pagemode="read">
            @if (ViewBag.Permission)
            {
                <span data-pagemode="read">
                @if (ViewBag.TeamRole || ViewBag.SPDRole)
                {
                    <button class="btn btn-primary pull-right" data-modal-allowclose="true" data-modal="verifyContentModal" data-action="resizeContentLocal">@Localization.GetText("PCR.FollowUpService.Verify.Title")</button>
                }
                </span>         

            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div data-pagemode="edit" style="margin-top: -12px;margin-bottom: 10px;">@Localization.GetText("PCR.Checklist.TabEffectiveness.ButtonInfo")</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("Partials/DataTables/PCREffectivenessSummary", Model.PCREffectivenessSummaryList)
    </div>
</div>
<br />

<h4 class="headingh3">@Localization.GetText("PCR.Checklist.TabEffectiveness.Outcome")<button class="btn btn-sm info-modal infoButtonUpdateTable" data-action="redirectToSharepointHelp" data-url="@Url.Action("ShowToSharePointHelp", "View")" caller="effectiveness"></button></h4>

<article>
    <div class="switchContainer-right" style="margin-top: -60px;">
        <button id="btnSwitchOutcomes" class="switch activated" data-switch-text="Expand All" data-action="collapseTables">@Localization.GetText("PCR.Checklist.CollapseAll")</button>
    </div>
    <div class="numbered">
        @foreach (var outcomeViewModel in Model.OutcomeList)
        {
            <div class="row" data-id="@outcomeViewModel.OutcomeId">
                <div class="col-md-12">
                    <h4 class="collapsible expanded" data-collapse="div">@outcomeViewModel.Description</h4>
                    @Html.Partial("Partials/DataTables/PCREffectivenessOutcome", outcomeViewModel)
                </div>
            </div>
            <br />
        }
    </div>
</article>
<br />
<h4 class="headingh3">@Localization.GetText("PCR.Checklist.TabEffectiveness.Output")</h4>
<article>
    <div class="switchContainer-right" style="margin-top:-50px;">
        <button id="btnSwitchOutputs" class="switch activated" data-switch-text="Expand All" data-action="collapseTables">@Localization.GetText("PCR.Checklist.CollapseAll")</button>
    </div>
    <div class="numbered">
        @foreach (var outputViewModel in Model.ComponentList)
        {
            <div class="row" data-id="@outputViewModel.ComponentId">
                <div class="col-md-12">
                    <h4 class="collapsible expanded" data-collapse="div">@outputViewModel.Description</h4>
                    @Html.Partial("Partials/DataTables/PCREffectivenessOutput", outputViewModel)
                </div>
            </div>
            <br />
        }
    </div>
</article>
<br />
<div class="row">
    <div class="col-md-12 text-right">
        @Html.Partial("Partials/Controls/PCREffectivenessButtons")
    </div>
</div>
<input type="hidden" class="hidViewModel" value="@ViewBag.SerializedViewModel" />
