@model IDB.MW.Application.PCRModule.ViewModels.FollowUpService.PCRFollowUpViewModel
@using IDB.Presentation.MVC4.Helpers

@{
    var lockScreen = (bool) ViewBag.LockScreen;
}

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
<input type="hidden" id="hidCurrentTask" value="@Model.Header.CurrentTask" />

@if (Model.Tasks.Any(t => t.TaskNumber == 3) && Model.Tasks.First(t => t.TaskNumber == 3).CompletedDate == null)
{
    <div class="row"
         data-pagemode="edit"
         @(HTMLEncodeHelper.GetPCREncodedDisplayStyle(ViewBag.IsPCRRequired))>
        <div class="col-md-12">
            <span class="icon-information"></span>
            <span>@Localization.GetText("PCR.FollowUp.ButtonWorkflowStatusInfo")</span>
        </div>
    </div>
    <br />
}
<div class="row"
     @(HTMLEncodeHelper.GetPCREncodedDisplayStyle(ViewBag.IsPCRRequired))>
    <div class="col-md-12 task-list-change-date">
        @Html.Partial("Partials/DataListViews/PCRFollowUpTaskListView", (List<IDB.MVCControls.DataListView.Models.DataListItem>)ViewBag.TaskList)
    </div>
</div>

<br />
<div class="row"
     @(HTMLEncodeHelper.GetPCREncodedDisplayStyle(ViewBag.IsPCRRequired))>
    <div class="col-md-9">
        <h3>@Localization.GetText("PCR.Checklist.TabValidation.Documents")</h3>
    </div>
    <div data-pagemode="edit">
        <div class="col-md-3 text-right">
            <button id="addDocument"
                    class="btn btn-primary"
                    data-modal-allowclose="true"
                    data-custom-modal-style=""
                    data-custom-modal-validate="false"
                    data-custom-modal-title="@Localization.GetText("PCR.FollowUp.Documents.PopUpTitle")"
                    data-custom-modal="searchIDBDocModal">
                @Localization.GetText("PCR.Checklist.TabValidation.Documents.Add")
            </button>
        </div>
    </div>
</div>
<div class="row"
     @(HTMLEncodeHelper.GetPCREncodedDisplayStyle(ViewBag.IsPCRRequired))>
    <div class="col-md-12">
        <span class="icon-information"></span>
        <span>@Localization.GetText("PCR.FollowUp.Documents.MsgUploadedIDBDocs")</span>
    </div>
</div>
<br />

@if (Model.Documents != null && ViewBag.IsPCRRequired)
{
    @Html.Partial("Partials/DataTables/PCRFollowUpDocuments", Model.Documents)
}
<br />
@if (ViewBag.FollowUpActivationRole && ViewBag.IsPCRRequired)
{
    <span class="pull-right">@Html.Partial("Partials/Controls/PCRFollowUpButtons", lockScreen)</span>
}