@using Newtonsoft.Json
@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

@model IDB.Presentation.MVC4.Models.DocumentManagement.SearchResultViewModel

<div data-id-selector="draft-form-container-main" >
    @using(Html.BeginForm("ApplyFilter", "DocumentManagement", Model.Filter, FormMethod.Post, new { id = "filterForm" }))
    {
    
        <div class="row" id="filterArea" data-tab-id="@Model.Filter.TabId" data-route="@Url.Action("ApplyFilter", "DocumentManagement", Model.Filter)">
            <div class="col-md-6">
                <div class="form-group">
                    @Confluence.InputText(Model.Filter.DocumentNumber, "DocumentNumber", placeholder: IDB.Architecture.Language.Localization.GetText("Document.Filter.IDBDocNumber"), required: false, width: "100%", id: "DocumentNumber")
                </div>
                <div class="form-group">
                    @Confluence.InputText(Model.Filter.Author, "Author", placeholder: IDB.Architecture.Language.Localization.GetText("Document.Filter.IDBAuthorId"), required: false, width: "100%", id: "Author")
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Confluence.InputText(Model.Filter.DocumentName, "DocumentName", placeholder: IDB.Architecture.Language.Localization.GetText("Document.Filter.DocumentName"), required: false, width: "100%", id: "DocumentName")
                </div>
            </div>

        </div>
        }    
</div>