@using IDB.MW.Application.ESW_CIPModule.ViewModels;

@model List<CommentsViewModel>

<div id="ESWCIPComments">

    <div class="dataTables_wrapper no-footer">
        <table id="ESWCIPCommentsTable" class="tableNormal mb20" data-idb-fieldname="tblESWCIPComments">
            <thead>
                <tr role="row">
                    <th class="col-md-1 text-center">@Localization.GetText("R6.Proposal.Pcomments.Date")</th>
                    <th class="col-md-2 text-center">@Localization.GetText("R6.Proposal.Pcomments.User")</th>
                    <th class="col-md-2 text-center">@Localization.GetText("R6.Proposal.Pcomments.Role")</th>
                    <th class="col-md-1 text-center">@Localization.GetText("R6.Proposal.Pcomments.Unit")</th>
                    <th class="col-md-4 text-center">@Localization.GetText("R6.Proposal.Pcomments.Comment")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var listItem in Model)
                {
                    <tr role="row" data-id="@listItem.CommentId">
                        <td class="text-center">@(listItem.Date.HasValue ? listItem.Date.Value.ToString("dd MMM yy") : "" )</td>
                        <td class="text-left">@listItem.User</td>
                        <td class="text-left">@listItem.Role</td>
                        <td class="text-center">@listItem.Unit</td>
                        <td class="text-left">@listItem.Comment</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>