@using IDB.MW.Application.ESW_CIPModule.ViewModels;

@model List<BudgetViewModel>

<div id="ESWCIPBudgets">
    
   <div class="col-md-12" id="proposedAmmount">
        <p>@Confluence.Label(Localization.GetText("R6.Proposal.Pbudgets.ProposedAmount")) <span style="margin-left: 20px">@Confluence.Label(string.Empty)</span></p>

        <br />
        <br />
    </div>


    <div class="dataTables_wrapper no-footer" id="budgetsDIV">
        <table id="ESWCIPBudgetsTable" class="tableNormal mb20 maxw900" data-idb-fieldname="tblESWCIPBudgets">
            <thead>
                <tr role="row">
                    <th class="text-center col-md-4" rowspan="2">@Localization.GetText("R6.Proposal.Pbudgets.Activity")</th>
                    <th class="text-center col-md-4" colspan="4">@Localization.GetText("R6.Proposal.Pbudgets.ProjectCost")</th>
                    <th class="text-center col-md-1" rowspan="2">@Localization.GetText("R6.Proposal.Pbudgets.OtherFinancing")<br />(USD)</th>
                    <th class="text-center col-md-1" rowspan="2">@Localization.GetText("R6.Proposal.Pbudgets.Action")</th>
                </tr>
                <tr>
                    <th>@Localization.GetText("R6.Proposal.Pbudgets.Consult")<br />(USD)</th>
                    <th>@Localization.GetText("R6.Proposal.Pbudgets.Travel")<br />(USD)</th>
                    <th>@Localization.GetText("R6.Proposal.Pbudgets.Other")<br />(USD)</th>
                    <th>@Localization.GetText("R6.Proposal.Pbudgets.TotalRequest")<br />(USD)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var listItem in Model)
                {
                    <tr role="row" data-id="@listItem.BudgetId" class="rowContent">
                        <td>
                            <span data-pagemode="read">@Confluence.Label(listItem.Activity)</span>
                            <span data-pagemode="edit">
                                @Confluence.InputText(value: listItem.Activity, name: "Activity", required: false, htmlClass: "activityColumn", maxLength: 40)
                                @Confluence.InputHidden(value: listItem.BudgetId.ToString(), name: "BudgetId", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "inputHiddenBudgetId" } })
                            </span>
                        </td>
                        <td class="text-right col-md-1">
                            <span data-pagemode="read">@Confluence.Label(listItem.Consultation.ToString(), htmlClass: "lblConsultation")</span>
                            <span data-pagemode="edit">
                                @Confluence.InputDecimal(listItem.Consultation, "Consultation", minValue: "0.00", maxValue: "99999999.99", numberSeparator: ",", decimalSeparator: ".", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtConsultation" } }, htmlClass: "inputConsultation inputDecimal", required: false)
                            </span>
                        </td>
                        <td class="text-right col-md-1">
                            <span data-pagemode="read">@Confluence.Label(listItem.Travel.ToString(), htmlClass: "lblTravel")</span>
                            <span data-pagemode="edit">
                                @Confluence.InputDecimal(listItem.Travel, "Travel", minValue: "0.00", maxValue: "99999999.99", numberSeparator: ",", decimalSeparator: ".", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtTravel" } }, htmlClass: "inputTravel inputDecimal", required: false)
                            </span>
                        </td>
                        <td class="text-right col-md-1">
                            <span data-pagemode="read">@Confluence.Label(listItem.Other.ToString(), htmlClass: "lblOther")</span>
                            <span data-pagemode="edit">
                                @Confluence.InputDecimal(listItem.Other, "Other", minValue: "0.00", maxValue: "99999999.99", numberSeparator: ",", decimalSeparator: ".", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtOther" } }, htmlClass: "inputOther inputDecimal", required: false)
                            </span>
                        </td>
                        <td class="text-right col-md-1">
                            @Confluence.Label("", htmlClass: "bold lblTotalRequest")
                        </td>
                        <td class="text-right col-md-1">
                            <span data-pagemode="read">@Confluence.Label(listItem.OtherFinancing.ToString(), htmlClass: "lblOtherFinancing")</span>
                            <span data-pagemode="edit">
                                @Confluence.InputDecimal(listItem.OtherFinancing, "OtherFinancing", required: false, maxValue: "99999999.99", numberSeparator: ",", decimalSeparator: ".", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtOtherFinancing" } }, htmlClass: "inputOtherFinancing inputDecimal")
                            </span>
                        </td>
                        <td class="text-center col-md-1">
                            <span data-pagemode="read">@Confluence.ButtonTrash(text: string.Empty, disabled: true)</span>
                            <span data-pagemode="edit">@Confluence.ButtonTrash(text: string.Empty, action: "deleteBudget", dataAttributes: new Dictionary<string, string> { { "budgetId", listItem.BudgetId.ToString() } })</span>
                        </td>
                    </tr>
                }
                <tr data-id>
                    <td class="text-center bold">@Localization.GetText("R6.Proposal.Pbudgets.Total")</td>
                    <td class="text-right">@Confluence.Label("", htmlClass: "bold consultationTotal")</td>
                    <td class="text-right">@Confluence.Label("", htmlClass: "bold travelTotal")</td>
                    <td class="text-right">@Confluence.Label("", htmlClass: "bold otherTotal")</td>
                    <td class="text-right">@Confluence.Label("", htmlClass: "bold totalRequestTotal")</td>
                    <td class="text-right">@Confluence.Label("", htmlClass: "bold otherFinancingTotal")</td>
                    <td class="text-center"></td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="col-md-12">
            <div data-pagemode="edit" class="text-center">
                @Confluence.ButtonAddNewRows(Localization.GetText("R6.Proposal.Pbudgets.NewActivity"), "ESWCIPBudgetsTable", "btnAddNewActivity", action: "addNewBudget", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnNewOperation" } })
            </div>
            
            <div data-pagemode="edit" class="text-center">
                @Confluence.InputHidden(value: "|", name: "deleteBudgets")
            </div>
            
            <div data-pagemode="edit" class="text-center">
                @Confluence.InputHidden(value: string.Empty, name: "RequestedAmount")
            </div>
        </div>
    </div>
</div>
