@using IDB.MW.Application.ESW_CIPModule.ViewModels;

@model ProposalViewModel

<div id="ESWCIPGeneralInfo">
    
    <div class="grouping-section" id="ProposalTitle">
        <div data-pagemode="read" class="col-md-12">
            <div class="col-md-8 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.SubtitleofProposal")) @Confluence.LabelAsterisk() </div>
            <div class="col-md-4 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.ProposedAmount")) </div>
        </div>

        <div data-pagemode="read" class="col-md-12">
            <div class="col-md-8">@Confluence.LabelBold(Model.GeneralInformation.SubtitleOfProposal) </div>
            <div class="col-md-4" style="text-align: right; width:166px;" id="requestedAmountGeneralInfo">@Confluence.LabelBold(Model.RequestedAmount.ToString()) </div>
        </div>
        
        <div data-pagemode="edit" class="col-md-12">
            <div class="col-md-8 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.SubtitleofProposal")) @Confluence.LabelAsterisk() </div>
            <div class="col-md-4 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.ProposedAmount")) </div>
            
        </div>
        
        <div data-pagemode="edit" class="col-md-12">
            <div class="col-md-8">@Confluence.InputText(Model.GeneralInformation.SubtitleOfProposal, name: "ProposalSubtitle", width: "75%", required: false, maxLength: 99) </div>
            <div class="col-md-4" style="text-align: right; width:166px;" id="requestedAmountGeneralInfo-edit">@Confluence.LabelBold(Model.RequestedAmount.ToString()) </div>
        </div>
        <br />
    </div>

    <hr class="proposalHorizontalRuler" />

    <div class="grouping-section" id="OperationInformation">
        <div class="col-md-12">
            <div class="col-md-2 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.Number")) </div>
            <div class="col-md-2 lblcontent">@Confluence.Label(Model.GeneralInformation.Type + " " + Localization.GetText("R6.Proposal.TabGeneralInfo.ESWModality")) </div>
            <div class="col-md-2 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.Status")) </div>
            <div class="col-md-2 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.DateofProposal")) </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">@Confluence.LabelBold(Model.GeneralInformation.OperationNumber) </div>
            <div class="col-md-2">@Confluence.LabelBold(Model.GeneralInformation.Modality) </div>
            <div class="col-md-2">@Confluence.LabelBold(Model.GeneralInformation.Status) </div>
            <div class="col-md-2">@Confluence.LabelBold(Model.GeneralInformation.DateOfProposal != null ? Convert.ToDateTime(Model.GeneralInformation.DateOfProposal).ToString("dd MMM yyyy") : string.Empty)</div>
        </div>
    </div>


    <div class="grouping-section" id="TeamLeaderInfo">
        <div class="col-md-12">
            <div class="col-md-2 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.TeamLEader")) </div>
            <div class="col-md-2 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.Unit")) </div>
            @if (Model.GeneralInformation.Type.Equals("ESW"))
            {
                <div class="col-md-2 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.Sector")) </div>
                <div class="col-md-2 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.SubSector")) </div>
            }
        </div>

        <div class="col-md-12">
            <div class="col-md-2">@Confluence.LabelBold(Model.GeneralInformation.TeamLeader)</div>
            <div class="col-md-2">@Confluence.LabelBold(Model.GeneralInformation.Unit)</div>
            @if (Model.GeneralInformation.Type.Equals("ESW"))
            {
                <div class="col-md-2">@Confluence.LabelBold(Model.GeneralInformation.Sector)</div>
                <div class="col-md-2">@Confluence.LabelBold(Model.GeneralInformation.SubSector)</div>
            }
        </div>
    </div>

    <hr class="proposalHorizontalRuler" />

    <div class="grouping-section" id="ProposalInfo">
        <div class="col-md-12 lblcontent">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.JointProposal")) @Confluence.LabelAsterisk() </div>
        <div class="col-md-12">
            <span data-pagemode="read">
                @Confluence.InputRadioButton("1", "JointProposalRead", isChecked: Model.GeneralInformation.JointProposal, required: true, label: Localization.GetText("R6.Proposal.TabGeneralInfo.Yes"), disabled: true)&nbsp;&nbsp;
                @Confluence.InputRadioButton("0", "JointProposalRead", isChecked: !Model.GeneralInformation.JointProposal, required: true, label: Localization.GetText("R6.Proposal.TabGeneralInfo.No"), disabled: true)
            </span>

            <span data-pagemode="edit">
                @Confluence.InputRadioButton("1", "JointProposal", isChecked: Model.GeneralInformation.JointProposal, required: true, label: Localization.GetText("R6.Proposal.TabGeneralInfo.Yes"))&nbsp;&nbsp;
                @Confluence.InputRadioButton("0", "JointProposal", isChecked: !Model.GeneralInformation.JointProposal, required: true, label: Localization.GetText("R6.Proposal.TabGeneralInfo.No"))
            </span>
        </div>
        


        <div class="col-md-12">@Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.Ifyes")) </div>
        <div class="col-md-12 floatRight">
            @{ var orgUnitIndex = 1; }
            @foreach (var item in Model.GeneralInformation.OrganizationalUnit)
            {
                <div class="col-md-2" data-pagemode="read">
                    <div class="col-md-2 text-right">(@orgUnitIndex)&nbsp;</div>
                    <div class="col-md-10">
                        @Confluence.InputDropDown(item.UnitId.ToString(), "OrgUnitJointProposal", (List<SelectListItem>)ViewBag.OrganizationalUnits, required: false, width: "85%", disabled: true,
                            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlOption1" } })
                    </div>
                </div>
                <div class="col-md-2" data-pagemode="edit">
                    <div class="col-md-2 text-right">(@orgUnitIndex)&nbsp;</div>
                    <div class="col-md-10">
                        @Confluence.InputDropDown(item.UnitId.ToString(), "OrgUnitJointProposal", (List<SelectListItem>)ViewBag.OrganizationalUnits, required: false, width: "85%", disabled: true,
                            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlOption1" } })
                    </div>
                </div>
                orgUnitIndex++;
            }
            @for (int i = 1; i <= (6 - Model.GeneralInformation.OrganizationalUnit.Count()); i++)
            {
                <div class="col-md-2" data-pagemode="read">
                    <div class="col-md-2 text-right">(@orgUnitIndex)&nbsp;</div>
                    <div class="col-md-10">
                        @Confluence.InputDropDown(string.Empty, "OrgUnitJointProposal", (List<SelectListItem>)ViewBag.OrganizationalUnits, required: false, width: "85%", disabled: true,
                            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlOption1" } })
                    </div>
                </div>
                <div class="col-md-2" data-pagemode="edit">
                    <div class="col-md-2 text-right">(@orgUnitIndex)&nbsp;</div>
                    <div class="col-md-10">
                        @Confluence.InputDropDown(string.Empty, "OrgUnitJointProposal", (List<SelectListItem>)ViewBag.OrganizationalUnits, required: false, width: "85%", disabled: true,
                            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlOption1" } })
                    </div>
                </div>
                orgUnitIndex++;
            }
        </div>
    </div>

    @if (Model.GeneralInformation.Type.Equals("ESW"))
    {
        <hr class="proposalHorizontalRuler" />
        
        <div class="grouping-section" id="CountryInfo">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("R6.Proposal.TabGeneralInfo.BeneficiaryCountries")) @Confluence.LabelAsterisk()
            </div>
            <div class="col-md-12 countries">
                @for (var i = 0; i < ViewBag.CountryList.Count; i++)
                {
                    <div data-pagemode="read">
                        <div class="col-md-2 lblcontent">
                            @ESWCIP.InputCheckboxWithIDValue(
                         isChecked: Model.GeneralInformation.BeneficiaryCountries.Select(x => x.CountryId).ToList().Contains(Convert.ToInt32(ViewBag.CountryList[i].Value)),
                            name: "BeneficiaryCountry",
                            id: "chkReadyForSubmission",
                            label: ViewBag.CountryList[i].Text,
                            disabled: true, value: ViewBag.CountryList[i].Value)
                        </div>
                    </div>
                    <div data-pagemode="edit">
                        <div class="col-md-2 lblcontent">
                            @ESWCIP.InputCheckboxWithIDValue(
                         isChecked: Model.GeneralInformation.BeneficiaryCountries.Select(x => x.CountryId).ToList().Contains(Convert.ToInt32(ViewBag.CountryList[i].Value)),
                            name: "BeneficiaryCountry",
                            id: "chkReadyForSubmission",
                            label: ViewBag.CountryList[i].Text,
                            value: ViewBag.CountryList[i].Value)
                        </div>
                    </div>
                }
            </div>
            
        </div>
    }
    
    <div data-pagemode="edit">
        @Confluence.InputHidden("|", "countriesToBeSaved")
    </div>
</div>


