@using IDB.MW.Application.ESW_CIPModule.ViewModels;

@model List<TeamMemberViewModel>

<div id="ESWCIPStaffing">
    <div class="dataTables_wrapper no-footer">
        <table id="ESWCIPStaffingTable" class="tableNormal mb20 maxw800" data-idb-fieldname="tblESWCIPStaffing">
            <thead>
                <tr role="row">
                    <th class="col-md-3">@Localization.GetText("R6.Proposal.Pstaffing.StaffName")</th>
                    <th class="col-md-2">@Localization.GetText("R6.Proposal.Pstaffing.Role")</th>
                    <th class="col-md-1">@Localization.GetText("R6.Proposal.Pstaffing.BankUnit")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr role="row" data-id="">
                        <td class="text-left">@item.StaffName</td>
                        <td class="text-left">@item.StaffRole</td>
                        <td class="text-center">@item.BankUnit</td>
                    </tr>
                }
            </tbody>

        </table>
        <div>
            <p>@Confluence.Label(Localization.GetText("R6.Proposal.Pstaffing.note"))</p>
        </div>
    </div>
</div>