@using System.Web.Mvc.Html
@using System.Configuration

@using IDB.Presentation.MVC4.Areas.RiskMatrix.Models

@model RiskMaterializedViewModel

@{
    Layout = null;
}


<script type="text/javascript">
    var operationNumber = '@Model.OperationNumber';
    var basePath = '@ConfigurationManager.AppSettings.Get("BasePath")';
</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/RiskMatrix/app.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/RiskMatrix/riskMaterialized.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/RiskMatrix/RiskMatrix.css")"/>

<div class="col-md-12">
    @if (Model.IsEdit)
    {
        @Html.Partial("~/Areas/RiskMatrix/Views/Partials/MaterializedEdit.cshtml", Model)
    }
    else
    {
        @Html.Partial("~/Areas/RiskMatrix/Views/Partials/MaterializedView.cshtml", Model)
    }
</div>