@using IDB.Presentation.MVC4.Helpers;
@using IDB.Architecture;
@using IDB.Architecture.Language;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/radio/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/grid/grid.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/blockScroll/blockScroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/buscarFocus/buscarFocus.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tabstrip/tabstrip.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/main.js" + @System.Configuration.ConfigurationManager.AppSettings["cache"].ToString())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Messages/jquery_notification.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/JQchartfx/jquery.jqChart.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Autonumeric/autoNumeric.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/typeCharacterValidator.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/loadingLayout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/globalObjects.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/framework.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/General.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Input.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Table.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Other.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Pluging.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Legacy.js")></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/loadingLayout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vex.js")"></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/Mainframe/fixIframe.js")></script>

@*@if (!Globals.GetSetting("SecurityMode", string.Empty).Equals("Local"))
{
    <script type="text/javascript">
(
    function () {
        var walkme = document.createElement('script');
        walkme.type = 'text/javascript';
        walkme.async = true;
        walkme.src = '@Globals.GetSetting("WalkMeKey")';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(walkme, s);
        window._walkmeConfig = { smartLoad: true };
    })();
    </script>

}*@   

   <title>BID</title>

   <meta charset="utf-8" />
   <meta name="Author" content="BID" />
   <meta name="Description" content="BID" />
   <meta name="Keywords" content="palabras, claves" />
   <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/navegacion.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/datepicker.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Messages/jquery_notification.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/custom/jquery.ui.tooltip.error.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo.everis.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/loading.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Globals/globals.css")" />
    @Styles.Render("~/Content/NewConfluence/Generic.css")
    @Styles.Render("~/Content/NewConfluence/Button.css")
    @Styles.Render("~/Content/NewConfluence/Label.css")
    @Styles.Render("~/Content/NewConfluence/Table.css")
    @Styles.Render("~/Content/NewConfluence/Input.css")
    @Styles.Render("~/Content/NewConfluence/Icon.css")
    @Styles.Render("~/Content/NewConfluence/Other.css")
    @Styles.Render("~/Content/NewConfluence/Legacy.css")
    @Styles.Render("~/Content/NewConfluence/Loading.css")

   @RenderSection("CSS", required: false)
   
   @RenderSection("JavaScript", required: false)

   <script type="text/javascript">
       idbg.config.basePath = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
       idbg.config.baseSharePointAddress = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
       idbg.config.language = '@Localization.CurrentLanguage';
       idbg.init();
   </script>


</head>
<body style="background-color: white;">
   @{
      var area = ViewContext.RouteData.DataTokens.ContainsKey("area") ?
       (string)ViewContext.RouteData.DataTokens["area"] : string.Empty;
      var isPrinted = Request.RequestContext.HttpContext.Items.Contains("isPrinted");
   }
   @if (!isPrinted)
   {
      Request.RequestContext.HttpContext.Items["isPrinted"] = true;
      <script>
          $(document).ready(function () {
              initializeGlobalLoader();

              $('.message-warning').click(function () {
                    $(this).hide(500);
              });
          });
      </script>
      <div style="clear: both"></div>
   }
   @if (ViewData["message"] != null)
   {
      @Html.ShowNotificationMessage((MessageConfiguration)ViewData["Message"]);
   }

   <section class="central">

       @Confluence.Loader()
      <div class="renderHeight" style="height: inherit; position: relative;">
         @RenderBody()
      </div>
       
   </section>
   <footer class="pie">

       <p id="titleVerifyContent" title="@Localization.GetText("Verify content")"></p>
   </footer>
    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
</body>
</html>
