
@{
    ViewBag.Title = "QuestionnarieDemo1";
}


@model IDB.Presentation.MVC4.Areas.MrBlue.Models.Fake.QuestionnarieDemo1ViewModel

<h2>QuestionnarieDemo1</h2>

@Confluence.ButtonBlue("Save", action: "saveQuestionnaire")

@if (Model != null)
{
    <div id="questionnaireContainer" data-url="@Url.Action("Save", "Test", new { area="MrBlue"})" data-parsley-validate="data-parsley-validate">
        <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

        @if (Model != null && Model.ViewModel != null)
        {
            @Html.Partial("DynamicQuestionnaire/DynamicForm", Model.ViewModel)
        }
    </div>
}

@section scripts
    {
    <script type="text/javascript">

        function saveQuestionnaire(source) {
            saveContainer($('#questionnaireContainer'), '#hidViewModel');
        }

        function validateRelatedQuestions(sourceQuestion, relatedQuestionsSelector) {

        }

        registerCallback(function () {
            enterEditMode(false, $('#questionnaireContainer'), false);

            @foreach (var relatedQuestion in Model.ViewModel.RelatedQuestions.Where(q=>q.Value.Any()))
            {
                @:validateRelatedQuestions($('#@relatedQuestion.Key'), '@string.Join(",", relatedQuestion.Value.Select(s => "#" + s))');
            }
        });
    </script>
}