@using IDB.MW.Application.Core.ViewModels.FormRendering
@model IDB.MW.Domain.Models.Architecture.Overview.ViewModel.OperationOverviewModel

@if (Model != null)
{
    <div class="mb20">
        @Confluence.LabelMainTitle(Localization.GetText("Overview"))
    </div>

    <p class="mb20">
        @Model.Objetive
    </p>

    <div class="mb10">
        @Confluence.LabelTitleGroup(Localization.GetText("Overview.BasicData"))
    </div>

    @Html.Partial("Partials/GeneralInformation", Model)

    if (ViewBag.FormBasicAttributes != null)
    {
        <div class="row">
            <div class="grouping-section mb0">
                <div class="groupColumn col-md-12 mb0">
                    <div class="col-md-12">
                        <label class="lbltitle">@Localization.GetText("Overview.Attributes")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb20">
            <div style="margin-top: -20px;">
                @Html.Partial("FormRendering/FormRenderer", (FormDataViewModel) ViewBag.FormBasicAttributes, new ViewDataDictionary() {{"pageName", "OperationDataBasicDataPartial"}})
            </div>
        </div>
    }

    if (ViewBag.TypeOperation != IDB.MW.Application.OPUSModule.Enums.OperationTypeEnum.ProgrammingProducts)
    {
        @Html.Partial("Partials/FinancialData", Model)
    }

    <div class="row">
        <div class="grouping-section">
            @Html.Partial("Partials/EventsData", Model)
            @Html.Partial("Partials/OperationTeam", Model)
        </div>
    </div>

    if (ViewBag.TypeOperation != IDB.MW.Application.OPUSModule.Enums.OperationTypeEnum.ProgrammingProducts)
    {
        @Confluence.InformationSection(Localization.GetText("Overview.FinanceTeam"))
    }

    <a href="@Url.Action("SystemStatus", "Stats", new {area = "global"})">.</a>
}
