@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan
@model SummaryModel

@{
    var counter = 0;
}

<div class="mb30">
    <label class="labelNormal">@Html.Raw(Localization.GetText("SP.Summary.ActivitiesTable.AssociateLegend"))</label>
</div>

@if (Model.ActivitiesModel.Activities.Count > 0)
{
    @Confluence.ButtonColapse("tableActivityDetailed", expandText: Localization.GetText("GLOBAL.CONTROL.EXPANDALL"), collapseText: Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))
    <div class="">
        <table id="tableActivityDetailed" class="tableNormal mb10">
            <thead>
                <tr>
                    <td class="treeNumber"></td>
                    <th class="noBackground"></th>
                    <th class="w300 maxw300 minw300">@Localization.GetText("SP.Summary.ActivitiesTable.Type")</th>
                    <th class="textLonguer">@Localization.GetText("SP.Summary.ActivitiesTable.Description")</th>
                    <th class="w100">@Localization.GetText("SP.Summary.ActivitiesTable.PlannedDate")</th>
                    <th class="w140 maxw140 minw140">@Localization.GetText("SP.Summary.ActivitiesTable.Source")</th>
                    <th class="w110">@Localization.GetText("SP.Summary.ActivitiesTable.Cost")</th>
                    <th class="w100">@Localization.GetText("SP.Summary.ActivitiesTable.CompletionDate")</th>
                    <th class="w150">@Localization.GetText("SP.Summary.ActivitiesTable.Mission")</th>
                </tr>
            </thead>
            <tbody data-tblactivities="@Model.ActivitiesModel.Activities.Select(x => x.SupervisionPlanVersionId).FirstOrDefault()">
                @foreach (var activity in Model.ActivitiesModel.Activities)
                {
                    counter++;
                    <tr data-id="@counter" activity-main activity-id="@activity.ActivityId">
                        <td class="treeNumber pt20">@counter</td>
                        <td class="noBackground tree icon pt20">@Confluence.ButtonShowRowExpand(true)</td>
                        <td class="w300 maxw300 minw300">@Confluence.LabelGetDropDown(activity.MainActivityId.ToString(), ViewBag.ActivityType)</td>
                        <td class="textLonguer">@activity.Description</td>
                        <td class="text-center w100">@Confluence.LabelGetDate(activity.PlannedDate)</td>

                        <td class="w140 maxw140 minw140">@Confluence.LabelGetDropDown(activity.FundingSourceId.ToString(), ViewBag.SourceList)</td>
                        <td class="text-right w110">@Confluence.LabelMoney(activity.Cost == null ? 0 : activity.Cost) </td>
                        <td class="text-center w100">@Confluence.LabelGetDate(activity.CompletionDate) </td>
                        <td class="text-center w150">
                            @if (activity.MissionNumber != "")
                            {
                                @Confluence.Label(activity.MissionNumber)
                            }
                            else
                            {
                                @Confluence.Label("-")
                            }
                        </td>
                    </tr>
                    if (activity.CriticalProduct != null && activity.CriticalProduct.Count > 0)
                    {
                        <tr data-row-parent-id="@counter" critical-activity class="showChildRow">
                            <td class="treeNumber pt35">@counter.1</td>
                            <td class="tree"><span></span></td>
                            <td colspan="8" class="pr0">
                                <div class="col-md-12 mt10 pr0 pl50">
                                    <table class="tableNormal mb10 skinGray">
                                        <thead>
                                            <tr>
                                                <th>@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Description")</th>
                                                <th class="w70">@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Quarter")</th>
                                                <th class="w110">@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Compliance")</th>
                                                <th class="w100">@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.CompletionDate")</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var cp in activity.CriticalProduct)
                                            {
                                                <tr data-id data-critical-id="@cp.CriticalProductId">
                                                    <td class="textLonguer">@cp.Description</td>
                                                    <td class="text-center">
                                                        @if (cp.QuarterId != null)
                                                        {
                                                            @Model.CriticalModel.LocalizedQuarterValue[cp.QuarterId.Value]
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (cp.DetailedComplianceId != null)
                                                        {
                                                            @Model.CriticalModel.LocalizedComplianceValue[cp.DetailedComplianceId.Value]
                                                        }
                                                    </td>
                                                    <td> @Confluence.LabelGetDate(cp.CompletionDate)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    }
                    if (activity.ActivityDocuments != null && activity.ActivityDocuments.Count > 0)
                    {
                        <tr data-row-parent-id="@counter" critical-document class="showChildRow">
                            <td class="treeNumber pt35">@counter.2</td>
                            <td class="tree"><span></span></td>
                            <td colspan="8" class="pr0 pl50">
                                <table class="tableNormal mb10 skinGray">
                                    <thead>
                                        <tr>
                                            <th class="w120">@Localization.GetText("SP.Summary.ActivitiesTable.File.User")</th>
                                            <th class="w100">@Localization.GetText("SP.Summary.ActivitiesTable.File.Date")</th>
                                            <th class="w125">@Localization.GetText("SP.Summary.ActivitiesTable.File.IDBNumber")</th>
                                            <th>@Localization.GetText("SP.Summary.ActivitiesTable.File.Description")</th>
                                            <th class="w65">@Localization.GetText("Action")</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var doc in activity.ActivityDocuments.Where(doc => doc.Document != null))
                                        {
                                            <tr data-id>
                                                <td>@Confluence.Label(doc.Document.CreatedBy)</td>
                                                <td>@Confluence.LabelGetDate(doc.Document.Created)</td>
                                                <td>@Confluence.Label(doc.Document.DocumentReference)</td>
                                                <td class="textLonguer">@Confluence.Label(doc.Document.Description)</td>
                                                <td class="text-center">
                                                    @Confluence.ButtonDownload(null, action: "downloadDocument")
                                                    @Confluence.InputHidden(doc.Document.DocumentReference, "docReference")
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-md-12 row">&nbsp;</div>
}