@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan
@model SummaryModel

@{
    var counter = 0;
}



@if (Model.ActivitiesModel.Activities.Count > 0)
{
    @Confluence.ButtonColapse("tableActivitySimplified", expandText: Localization.GetText("GLOBAL.CONTROL.EXPANDALL"), collapseText: Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))

    <table id="tableActivitySimplified" class="tableNormal mb10">
        <thead>
            <tr>
                <td class="treeNumber"></td>
                <th class="noBackground"></th>
                <th>@Localization.GetText("SP.Summary.ActivitiesTable.Type")</th>
                <th class="w100">@Localization.GetText("SP.Summary.Activities.Planned")</th>
                <th class="w100">@Localization.GetText("SP.Summary.Activities.Actual")</th>
            </tr>
        
        </thead>
        <tbody>
            @foreach (var activity in Model.ActivitiesModel.Activities)
            {
                counter++;
                <tr data-id="@counter">
                    <td class="treeNumber pt20">@counter</td>
                    <td class="noBackground tree icon pt20">@Confluence.ButtonShowRowExpand(true)</td>
                    <td>@Model.ActivitiesModel.LocalizedMainActivities[activity.MainActivity.ConvergenceMasterDataId]</td>
                    <td class="text-right">@Confluence.Label(activity.Planned.ToString())</td>
                    <td class="text-right">@Confluence.Label(activity.Actual.ToString())</td>
                </tr>
                 if (activity.ActivityDocuments != null && activity.ActivityDocuments.Count > 0)
                 {
                     <tr data-row-parent-id="@counter" class="showChildRow">
                         <td class="treeNumber pt35">@counter.1</td>
                         <td class="tree"><span></span></td>
                         <td colspan="3" class="pr0 pl50">
                             <div class="col-md-12 pr0">
                                 <table class="tableNormal skinGray">
                                     <thead>
                                     <tr data-id="">
                                         <th class="w120">@Localization.GetText("SP.Summary.ActivitiesTable.File.User")</th>
                                         <th class="w100">@Localization.GetText("SP.Summary.ActivitiesTable.File.Date")</th>
                                         <th class="w125">@Localization.GetText("SP.Summary.ActivitiesTable.File.IDBNumber")</th>
                                         <th>@Localization.GetText("SP.Summary.ActivitiesTable.File.Description")</th>
                                         <th class="w65">@Localization.GetText("SP.Summary.ActivitiesTable.File.Action")</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     @foreach (var doc in activity.ActivityDocuments.Where(doc => doc.Document != null))
                                     {
                                         <tr data-id="">
                                             <td>@Confluence.Label(doc.Document.CreatedBy)</td>
                                             <td>@Confluence.LabelGetDate(doc.Document.Created)</td>
                                             <td>@Confluence.Label(doc.Document.DocumentReference)</td>
                                             <td class="textLonguer">@Confluence.Label(doc.Document.Description)</td>
                                             <td class="text-center">
                                                 @Confluence.ButtonDownload(null, action: "downloadDocument")
                                                 @Confluence.InputHidden(doc.Document.DocumentReference, "docReference")
                                             </td>
                                         </tr>
                                     }
                                     </tbody>
                                 </table>
                             </div>
                        </td>
                     </tr>
                 }
            }
        </tbody>
    </table>
}
else
{
    <div class="col-md-12 row">&nbsp;</div>
}