@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan
@model SummaryModel

@{
    var columnTotals = (Model.BudgetModel.LocalizedBudgetMatrixCols).ToDictionary(t => t.Key, t => 0M);
}

<div class="mb30">
    <label class="labelNormal">@Html.Raw(Localization.GetText("SP.Summary.Budget.Legend"))</label>
</div>

<table class="tableNormal pb10 budgetTable mb10">
    <thead>
    <tr>
        <th id="budgettwoCell">
            <span id="sourceBudget">@Localization.GetText("SP.Summary.BudgetTable.Source")</span>
            <span id="CategoryBudget">@Localization.GetText("SP.Summary.BudgetTable.Category")</span>
            <div id="lineBudget"></div>
        </th>
        @foreach (var t in Model.BudgetModel.LocalizedBudgetMatrixCols)
        {
            <th class="w300">@t.Value</th>
        }
        <th class="w300"> @Localization.GetText("SP.Summary.BudgetTable.Total")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var r in Model.BudgetModel.LocalizedBudgetMatrixRows)
    {
        var total = 0M;
        <tr data-id>
            <td class="bold">@r.Value</td>

            @foreach (var t in Model.BudgetModel.LocalizedBudgetMatrixCols)
            {
               var value = Model.BudgetModel.CostsModels
                    .Where(m => m.BudgetCategoryId == r.Key &&
                                m.FundingSourceId == t.Key).Select(m => m.Budget).Sum();
                total += value;
                columnTotals[t.Key] += @value;
                <td class="text-right" data-category-id="@r.Key" data-fundingsource-id="@t.Key">@Confluence.LabelDecimal(value)</td>
            }
            <td class="text-right">@Confluence.LabelDecimal(total, htmlClass: "bold")</td>
        </tr>
    }
    <tr class="totalCol">
        <td class="bold">@Localization.GetText("SP.Summary.BudgetTable.TotalFunding")</td>
        @foreach (var t in Model.BudgetModel.LocalizedBudgetMatrixCols)
        {
            <td class="text-right">@Confluence.LabelDecimal(columnTotals[t.Key], htmlClass: "bold")</td>
        }
        <td class="text-right">@Confluence.LabelDecimal(columnTotals.Sum(t => t.Value), htmlClass: "finalTotal bold")</td>
    </tr>
    </tbody>
</table>