@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan
@model SummaryModel



@if (Model.CriticalModel.CriticalsProducts.Count > 0)
{
    <table class="tableNormal mb10">
        <thead>
        <tr>
            <th>@Localization.GetText("SP.Summary.CriticalProductTable.Description")</th>
            <th class="w100 maxw100 minw100">@Localization.GetText("SP.Summary.CriticalProductTable.Quarter")</th>
            <th class="w100 maxw100 minw100">@Localization.GetText("SP.Summary.CriticalProductTable.Completed")</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var cp in Model.CriticalModel.CriticalsProducts)
        {
        <tr data-id>
            <td class="textLonguer">@cp.Description</td>
            <td class="text-center">
                @if (cp.QuarterId != null)
                    {
                    @Model.CriticalModel.LocalizedQuarterValue[cp.QuarterId.Value]
                    }
            </td>
            <td class="text-center">@(cp.Compliance.HasValue && cp.Compliance.Value ? Localization.GetText("SP.Summary.CriticalProductTable.Yes") : Localization.GetText("SP.Summary.CriticalProductTable.No"))</td>
        </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="col-md-12 row">&nbsp;</div>
}