@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan
@model SummaryModel

@{
    var counter = 0;
}

<div class="mb30">
    <label class="labelNormal">@Html.Raw(Localization.GetText("SP.Summary.CriticalProduct.AssociateLegend"))</label>
</div>

@if (Model.CriticalModel.CriticalsProducts.Count > 0)
{

    @Confluence.ButtonColapse("TableCritical", expandText: Localization.GetText("GLOBAL.CONTROL.EXPANDALL"), collapseText: Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))

    <table class="tableNormal mb10" id="TableCritical">
        <thead>
            <tr>
                <td class="treeNumber"></td>
                <th class="noBackground"></th>
                <th>@Localization.GetText("SP.Summary.CriticalProductTable.Description")</th>
                <th class="w175">@Localization.GetText("SP.Summary.CriticalProductTable.PlannedDate")</th>
                <th class="w80">@Localization.GetText("SP.Summary.CriticalProductTable.Quarter")</th>
                <th class="w90">@Localization.GetText("SP.Summary.CriticalProductTable.Compliance")</th>
                <th class="w175">@Localization.GetText("SP.Summary.CriticalProductTable.CompletionDate")</th>
             
            </tr>
        </thead>
        <tbody>
            @foreach (var critical in Model.CriticalModel.CriticalsProducts)
            {
                counter++;
                <tr data-id="@counter">
                    <td class="treeNumber pt20">@counter</td>
                    <td class="noBackground tree icon pt20">@Confluence.ButtonShowRowExpand(true)</td>
                    <td class="textLonguer">@Confluence.Label(critical.Description)</td>
                    <td class="text-center">@Confluence.LabelGetDate(critical.PlannedDate)</td>
                    <td class="text-center">
                        @if (critical.QuarterId != null)
                        {
                            @Model.CriticalModel.LocalizedQuarterValue[critical.QuarterId.Value]
                        }
                    </td>
                    <td class="text-center">
                        @if (critical.DetailedComplianceId != null)
                        {
                            @Model.CriticalModel.LocalizedComplianceValue[critical.DetailedComplianceId.Value]
                        }
                    </td>
                    <td class="text-center">@Confluence.LabelGetDate(critical.CompletionDate)</td>
                </tr>
                if (critical.Outputs != null && critical.Outputs.Count > 0) {
                     <tr data-row-parent-id="@counter" class="showChildRow">
                         <td class="treeNumber pt35">@counter.1</td>
                         <td class="tree"><span></span></td>
                         <td colspan="6" class="pr0 pl50">
                             <div class="col-md-12 pr0">
                                 <table class="tableNormal mb10 skinGray">
                                     <thead>
                                     <tr>
                                         <th class="perw40">@Localization.GetText("SP.Summary.CriticalProductTable.ProjectOutput.ComponentName")</th>
                                         <th class="perw60">@Localization.GetText("SP.Summary.CriticalProductTable.ProjectOutput.ProjectOutput")</th>
       
                                     </tr>
                                     </thead>
                                     <tbody>
                                     @if (critical.Outputs != null)
                                     {
                                         foreach (var output in critical.Outputs)
                                         {
                                             <tr data-id data-output-id="@output.Id">
                                                 <td>@output.Component</td>
                                                 <td>@output.ProjectName</td>
                                             </tr>
                                             if (output.Milestones != null)
                                             {
                                                 foreach (var milestone in output.Milestones)
                                                 {
                                                     <tr data-id data-milestone-id="@milestone.MilestoneId">
                                                         <td class="pl50" colspan="2">@Localization.GetText("Milestone"): @milestone.MilestonesName</td>
                                                     </tr>
                                                 }
                                             }
                                         }
                                     }
                                     </tbody>
                                 </table>
                             </div>
                         </td>
                     </tr>
                }
                if (critical.Risks != null && critical.Risks.Count > 0)
                {
                    <tr data-row-parent-id="@counter" class="showChildRow">
                        <td class="treeNumber pt35">@counter.2</td>
                        <td class="tree"><span></span></td>
                        <td colspan="8" class="pr0 pl50">
                            <div class="col-md-12 pr0">
                                <table class="tableNormal mb10 skinGray">
                                    <thead>
                                    <tr>
                                        <th>@Localization.GetText("SP.Summary.Risk.Description")</th>
                                        <th class="maxw100 minw100 w100">@Localization.GetText("SP.Summary.Risk.Type")</th>
                                        <th class="maxw140 minw140 w140">@Localization.GetText("SP.Summary.Risk.Probability")</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @if (critical.Risks != null)
                                    {
                                        foreach (var risk in critical.Risks)
                                        {
                                            <tr data-id>
                                                <td class="textLonguer">@risk.Description</td>
                                                <td>@risk.Type</td>
                                                <td class="text-center">@risk.Probability</td>
                                            </tr>
                                        }
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <div class="col-md-12 row">&nbsp;</div>
}