@if (ViewBag.isPermissionForEdit)
{
    
    <div id="editBtn" class="col-md-4 row pr0" data-pagemode="read" style="padding-top:10px; width:100%;">
        <div class="pull-right">
            @Confluence.ButtonBlue(Localization.GetText("SP.Administration.Edit"), "edit", "edit")
        </div>
    </div>
    <div class="col-md-4 pull-right row" data-pagemode="edit">
        <div class="pull-right" data-id="ModalRegion">
            @Confluence.ButtonLink(Localization.GetText("SP.Administration.Cancel"), action: "Cancel")
            @Confluence.ButtonOrange(Localization.GetText("SP.Administration.Save"), null, "save")

            @if(ViewBag.CanSubmit)
            {
            <button data-id="butttonNewRelatedOperationModal" class="buttonBlue mr0"
                    data-modal-allowclose="true"
                    data-custom-modal="adminWarning"
                    data-custom-modal-style=""
                    data-custom-modal-title="@Localization.GetText("SP.Administration.Warnning.Warning")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["cancel","save"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("SP.Administration.Submit")"
                    data-custom-button-save-style="buttonBlue "
                    data-custom-button-save-callback="SubmitSupervisionPlan"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("SP.Administration.Cancel")"
                    data-custom-button-cancel-style="buttonWhite"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="true">
                Submit
            </button>
            }

            <div id="adminWarning" class="hide">
                <div class="padding20 popUpBody">
                    <div class="marginBottom2">
                        <div>
                            @ViewBag.LiteralModal
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}