@model IDB.MW.Domain.Models.Visit.VisitPlanModel

<script>
    $(document).ready(function () {
        var isApprovedPlan = "@Model.ActualVersionIsApproved";

        if (isApprovedPlan.toLowerCase() == "true") {
            $("#budgetInformationContainer").show();
        } else {
            $("#budgetInformationContainer").hide();
        }

    });
</script>

<div class="rightAlign absRight">
    <input id="hdn" hidden="" />
    @if (ViewBag.EditMode != null && ((bool)ViewBag.EditMode))
    {
        @*<a href="#" class="horizontalPadding10 ac-CancelEdit" data-route="@Url.Action(MVC.Visits.Visits.VisitsPlanSummary())">@Localization.GetText("Cancel")</a>
        if (Html.HasPermission("Visit Plan Write"))
        {
            <input type="submit" id="saveVisit"  class="button yellowButton" value=" @Localization.GetText("Save")" />
          }*@
    }
    else
    {
        //if (Model.ActualVersionEditable)
        //{
        if (Html.HasPermission("Visit Plan Write"))
            {
                <input type="button" id="btnEditPlan" class="button blueButton ac-EditPlan" value=" @Localization.GetText("Edit")" data-route="@Url.Action("Edit", "Visits", new { area = "Visits", operationNumber = Model.OperationNumber, year = Model.Year })"  onclick="javascript: idbg.lockUi(null, true);"/>
            }
        @*        
        }*@
    }
</div>

@Html.Hidden("hdnIsApprovedPlan", Model.ActualVersionIsApproved)
