<div class="centerAlign absRight">

    @model IDB.MW.Domain.Models.Visit.VisitPlanModel

    @if (Html.HasPermission("Visit Plan Write"))
    {
        <input type="button" class="operationButton removeIcon ac-DeletePlan"
            title="@Localization.GetText("Delete")" data-version-id="@Model.VisitPlanId" 
            data-route-delete-warning="@Url.Action("_WarningOnDeleteVersion", "Visits", new { area = "Visits", planVersionId = Model.VisitPlanId })" 
            data-window-title=" @Localization.GetText("Warning")" data-route="@Url.Action("DeleteVersion", "Visits")" />
    }

</div>