@using IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.Visualization;
@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.Visualization.VisualizationReportModel
@{
    ViewBag.Title = "Index";
}

@section CSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" />
    <link rel="stylesheet" type="text/css"
          href="@Url.Content("~/Content/Modules/Reports/visualization.css")" />
}

<script src="@Url.Content("~/Scripts/Modules/Reports/Visualization/main.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Reports/Visualization/filters.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Reports/Visualization/actions.js")"></script>
<script src="@Url.Content("~/Scripts/main.js")"></script>

<div class="verticalMargin20 w100">
    <h3 class="font2em AlingTitles">@Localization.GetText("Report.Visualization.Report")</h3>
</div>
<div class="verticalMargin20 w100">
    <h6 class="font1-5em AlingTitles">@Localization.GetText("Filters")</h6>
</div>

<div id="VisualizationFilters" class="AlignTitles grayBackground padding20 font08em hideNI" style="display: block;">
    @using (Html.BeginForm("ShowEmbeddedVisualizationReport", "Visualization", FormMethod.Post, new { @id = "FormVisualization" }))
    {
        <div class="inline-block w48">

            <div class="inline-block w70 verticalMargin10">

                <label for="countryDepartmentFilter" class="inline-block verticalAlignMiddle noPadding labelCustom textFilter">
                    @Localization.GetText("Country Department")
                </label>
                <br />
                <a id="CountryDepartmentFilter" class="aStyle"
                   data-route="@Url.Action("VisualizationFilterCountries", "Visualization")"></a>

                @Html.ListBoxFor(
                    model => model.SelectedCountryDepartments,
                    new MultiSelectList(Model.CountryDepartments, "ConvergenceMasterDataId", "Name"),
                    new
                    {
                        @class = "MultiSelectCustomVisualization",
                        @id = "CountryDepartments"
                    })
            </div>

            <div class="inline-block w70 verticalMargin10">
                <label for="sectorDepartmentFilter" class="inline-block verticalAlignMiddle noPadding labelCustom textFilter">
                    @Localization.GetText("Sector Department")
                </label>
                <br />
                <a id="SectorDepartmentFilter" class="aStyle"
                   data-route="@Url.Action("VisualizationFilterDivisions", "Visualization")"></a>

                @Html.ListBoxFor(
                    model => model.SelectedSectorDepartments,
                    new MultiSelectList(Model.SectorDepartments, "ConvergenceMasterDataId", "Name"),
                    new
                    {
                        @class = "MultiSelectCustomVisualization",
                        @id = "SectorDepartments"
                    })
            </div>
        </div>

        <div class="inline-block w48">

            <div class="inline-block w52 verticalMargin10">
                <label for="countrysearch" class="inline-block verticalAlignMiddle noPadding labelCustom textFilter">
                    @Localization.GetText("Country")
                </label>

                <div id="dvCountriesLoading" class="inline-block" style="display:none">
                    <img src="~/Content/images/loading.gif">
                </div>

                <br />
                @Html.ListBoxFor(
                    model => model.SelectedCountries,
                    new SelectList(Model.Countries, "ConvergenceMasterDataId", "Name"),
                    new
                    {
                        @class = "MultiSelectCustomVisualization",
                        @id = "Countries"
                    })
            </div>

            <div class="inline-block w52 verticalMargin10">
                <label for="divisionsearch" class="inline-block verticalAlignMiddle noPadding labelCustom textFilter">
                    @Localization.GetText("Division")
                </label>

                <div id="dvDivisionsLoading" class="inline-block" style="display:none">
                    <img src="~/Content/images/loading.gif">
                </div>

                <br />
                @Html.ListBoxFor(
                    model => model.SelectedDivisions,
                    new SelectList(Model.Divisions, "ConvergenceMasterDataId", "Code"),
                    new
                    {
                        @class = "MultiSelectCustomVisualization",
                        @id = "Divisions"
                    })

            </div>

        </div>
        <div class="inline-block w48">
            <div class="inline-block w28 verticalMargin10 marginRight4em">
                <label for="uploadsearch" class="inline-block verticalAlignMiddle noPadding labelCustom textFilter">
                    @Localization.GetText("Report.Visualization.PublicationStatus")
                </label>
                <br />
                @Html.DropDownListFor(
                 model => model.SelectedPublicationStatus,
                  new SelectList(Model.PublicationStatus, "ConvergenceMasterDataId", "Name"),
                  "All",
                     new
                     {
                         @class = "kendoDropDown",
                         @id = "PublicationStatus",
                     })

            </div>
            <div class="inline-block w28 verticalMargin10">
                <label for="ReportType" class="inline-block verticalAlignMiddle noPadding labelCustom textFilter">
                    @Localization.GetText("Report.Visualization.ReportType")
                </label>
                <br />
                @Html.DropDownListFor(
                     model => model.SelectedReportTypes,
                      new SelectList(Model.ReportTypes, "ConvergenceMasterDataId ", "Name"),
                      new
                         {
                             @class = "kendoDropDown",
                             @id = "ReportType"
                         })

            </div>
        </div>
        <div class="inline-block w48">
            <div class="inline-block w28  verticalMargin10">
                <label for="OperationNumber" class="inline-block verticalAlignMiddle noPadding labelCustom textFilter">
                    @Localization.GetText("Report.Visualization.OperationNumber")
                </label>
                <br />
                @Html.TextBoxFor(
                    m => m.OperationNumber,
                    new
                    {
                        @class = "grayBorder textBoxOperation",
                        @id = "OperationNumber"
                    })
            </div>

        </div>
    }
    <div class="verticalMargin30 filtersPanelContainer" align="right">
        <input id="clearButtonVisualization" type="button"
               class="filters button blueButton buttonMargins width150px" value="@Localization.GetText("Clear All")">

        @using (Html.BeginForm("GenerateExcelCompositeReport", "Visualization", FormMethod.Post,
            new { @id = "ExportVisualizationExcel", @Style = "display: inline;" }))
         {
            <input id="excelButtonVisualization" type="button"
                   class="filters button blueButton buttonMargins width150px"
                   value="@Localization.GetText("Export Excel")"
                   title="@Localization.GetText("Export Excel")"
                   data-url="@Url.Action("GenerateExcelCompositeReport", "Visualization")">
            <input type="hidden" id="reportParametersExcel" name="reportParametersExcel" />
            <input type="hidden" id="reportParametersReportTypeExcel" name="reportParametersReportTypeExcel" />
        }

        @using (Html.BeginForm("GeneratePDFCompositeReport", "Visualization", FormMethod.Post,
             new { @id = "ExportVisualizationPDF", @Style = "display: inline;" }))
         {
            <input id="pdfButtonVisualization" type="button"
                   class="filters button blueButton buttonMargins width150px"
                   value="@Localization.GetText("Export PDF")"
                   title="@Localization.GetText("Export PDF")"
                   data-url="@Url.Action("GeneratePDFCompositeReport", "Visualization")" />
            <input type="hidden" id="reportParametersPDF" name="reportParametersPDF" />
            <input type="hidden" id="reportParametersReportTypePDF" name="reportParametersReportTypePDF" />
         }

            <input id="submitButtonVisualization" type="button"
                   class="filters button yellowButton buttonMargins width150px"
                   value="@Localization.GetText("Submit")"
                   title="@Localization.GetText("Submit")"
                   data-url="@Url.Action("ShowEmbeddedVisualizationReport", "Visualization")" />
     </div>
</div>

<div style="margin-top:20px;display:none;" id="notFoundMessage" class="verticalMargin80-0-20">
    <h3 class="font1-5em">
        @Localization.GetText("PMRAggregateReport.NotResult")
    </h3>
</div>
<div id="ContentPMRAggregateReport">
    <iframe id="frameVisualizationSReport" class="iframeReportsCustom"></iframe>
</div>
