@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.Porfolio.CountryStatusModel
@{
   ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/cl_ui_rt_001.css")" rel="stylesheet" />

<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/PorfolioCountryStatusCustom.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Reports/PorfolioCountryStatusScriptCustom.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/CommonRuleReports.js")"></script>


<body class="backgroundFFFFFF">
   <div id="ContainerCountryStatusReport">

      <div class="verticalMargin20 w100">
         <h3 class="font2em AlingTitles">@Localization.GetText("Portfolio Country Status")</h3>

      </div>
      <div class="relative h50px verticalMargin40">
         <h4 class="font1-5em absolute AlingTitles">@Localization.GetText("Country Status Report")</h4>
         <input type="button" class="absolute absRight button blueButton alingFilterButtonRigth" id='showFilterButtonReportsRS001' value="@Localization.GetText("Filter")">
      </div>

      @using (@Html.BeginForm("Index", "PorfolioCountryStatus", FormMethod.Post, new { @id = "FormPorfolioCountryStatus" }))
      {
         @Html.HiddenFor(x => x.ExportType); 
         <div id="searchBoxContainerReportsRS001" class="padding20 grayBackground font08em hideNI" style="display: block">

            <div class="centerContent w96 relative h50px">

               <div class="inline-block inputContainer w33">
                  <div class="inline-block w96 verticalAlignMiddle">
                     <label for="CountryDepartment" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Country Department")</label>
                     @Html.ListBoxFor(x => x.CountryDepartment, new MultiSelectList(ViewBag.ListCountryDepartment, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                     <a id="LinkCountryDepartmentFilterForCountryStatus" class="noShow" data-route="@Url.Action("FilterCountrys", "PorfolioCountryStatus")"></a>
                  </div>
               </div>

               <div class="inline-block inputContainer w33">
                  <div class="inline-block w96 verticalAlignMiddle">
                     <label for="SectorDepartment" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Sector Department")</label>
                     @Html.ListBoxFor(x => x.SectorDepartment, new MultiSelectList(ViewBag.ListSectorDepartment, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                     <a id="LinkSectorDepartmentFilterForCountryStatus" class="noShow" data-route="@Url.Action("FilterDivision", "PorfolioCountryStatus")"></a>
                  </div>
               </div>

               <div class="inline-block inputContainer w33">
                  <div class="inline-block w96 verticalAlignMiddle">
                     <label for="PMRCycle" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("PMR Cycle")</label>
                     @Html.DropDownListFor(x => x.PMRCycleId, new SelectList(ViewBag.ListPMRCycles, "Value", "Text", null), new { @class = "w100 kendoDropDown" })
                  </div>
               </div>

            </div>

            <div class="centerContent w96 relative h50px box2">

               <div class="inline-block inputContainer w33">
                  <div class="inline-block w96 verticalAlignMiddle">
                     <label for="Country" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Country")</label>
                     @Html.ListBoxFor(x => x.Country, new MultiSelectList(ViewBag.ListCountry, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                  </div>
               </div>

               <div class="inline-block inputContainer w33">
                  <div class="inline-block w96 verticalAlignMiddle">
                     <label for="Division" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Division")</label>
                     @Html.ListBoxFor(x => x.Division, new MultiSelectList(ViewBag.ListDivisions, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                  </div>
               </div>

               <div class="inline-block inputContainer w33">
                  <div class="inline-block w96 verticalAlignMiddle">
                     <label for="ESGTracking" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("ESG Tracking")</label>
                     @Html.DropDownListFor(x => x.ESGTracking, new SelectList(ViewBag.ListESGTracking, "Value", "Text", null), new { @class = "kendoDropDown" })
                  </div>
               </div>

            </div>

            <div class="centerContent w96 relative h50px box3">
               <div class="inline-block inputContainer w33">
                  <div class="inline-block w96 verticalAlignMiddle">
                     <label for="EV_PV" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("EV/PV")</label>
                     @Html.DropDownListFor(x => x.EV_PV, new SelectList(ViewBag.ListEV_PV, "Value", "Text", ViewBag.Values), new { @class = "kendoDropDown" })
                  </div>
               </div>
            </div>

            <div class="verticalMargin20 rightAlign w96 centerContent boxFilter">
               <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad" id="AjaxLoadForCountryStatusReport" />
               <input  id="Btn_Clear" type="button" class="button blueButton" value="@Localization.GetText("Clear All")">
               <input id="" type="submit" class="button blueButton" value="@Localization.GetText("Submit")">
            </div>
         </div>
        <iframe id="frameReportCountryStatus" class="iframeReportsCustom"></iframe>
         <div id="ContentControlsExportCountryStatusReport">
            <div class="verticalMargin20 rightAlign w92-6">
               <span class="alingImageRigth">
                  <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad AjaxExportRight" id="AjaxLoadForCountryStatusExport" />
               </span>
               <input id="Btn_ExportdPDFCountryStatusReport" type="button" class="button blueButton" value="@Localization.GetText("Export PDF")">
               <a id="LinkExportCountryStatusReport" class="noShow" data-route="@Url.Action("ExportCountryStatusReport", "PorfolioCountryStatus")"></a>
            </div>
         </div>
      }

   </div>
</body>
