@using IDB.MW.Domain.Values

<div class="editingButtonsEdit up topMargin16px">
    <label for="cancel1">
        <a id="Details"
            class="desactivateHighlight buttonLink"
            href="@(Url.Action("Details", "Conditions", new
                {
                    area = "Agreements",
                    operationId = Model.OperationId,
                    agreementId = Model.Agreement.AgreementId,
                    conditionId = Model.ConditionId,
                    conditionIndividualId = Model.ConditionIndividuals[0].ConditionIndividualId,
                    mainOperationNumber = Model.Operation.OperationNumber
                }))" title="@Localization.GetText("Cancel")">
            <span>@Localization.GetText("Cancel")</span>
        </a>
    </label>
    <label>
        <input type="submit" class="buttonWhite submitFormTarget" value="@Localization.GetText("Save")">
    </label>

    @if (Model.CategoryName != AgreementsAndConditionsConstants.DONOR_CONDITION_CATEGORY_SIGN)
    {
        foreach (var status in Model.FinalStatusModel)
        {
            var isFulfillStatus =
                Model.HasPermissionFulFilled &&
                status.Code == AgreementsAndConditionsConstants.CONDITION_STATUS_FULFIL;
            var isUnFulfillOrWaived =
                (Model.HasPermissionUnFulFilled || Model.HasPermissionWaived) &&
                status.Code != AgreementsAndConditionsConstants.CONDITION_STATUS_FULFIL;
            var isFulfillCode = status.Code == AgreementsAndConditionsConstants.CONDITION_STATUS_FULFIL;
            var attributeOnClick = "onclick=\"validateFulfill(this, '" + Model.ConditionNumber + "')\"";

            <label for="saveandrequest">
                <input type="button"
                        class="buttonOrange @(isFulfillCode ? string.Empty : "changeConditionStatus")"
                            @(isFulfillCode ? Html.Raw(attributeOnClick) : string.Empty)
                        name="Request"
                        value="@Localization.GetText("CL.Conditions.Button." + status.NameEn)"
                        data-route="@Url.Action(
                            isFulfillStatus ? "ConditionFinalStatusValidationRequest" : "ConditionStatusValidation",
                            "Conditions",
                            new
                            {
                                area = "Agreements",
                                operationId = Model.Operation.OperationId,
                                agreementId = Model.Agreement.AgreementId,
                                conditionId = Model.ConditionId,
                                conditionIndividualId = Model.ConditionIndividuals[0].ConditionIndividualId,
                                finalStatusId = status.MasterId
                            })"
                        @(isFulfillStatus || isUnFulfillOrWaived ? string.Empty : "style=display:none;")>
            </label>
        }
    }
</div>
