@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@using TypeExtensions = TypeExtensions

<div class="row" id="PageContentModal" data-parsley-validate="data-parsley-validate"
     data-parsley-excluded="[disabled]"
     data-url="@Url.Action("CreateNewRoleSave", "RolesAndPermissionsSave", new {area = "AdministrationSecondPhase"})">
<input type="hidden" id="hidModalModel" value="@ViewBag.SerializedModalModel"/>

<div class="col-md-12">
    <div class="col-md-6">
        @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.Permission"),
            string.Empty,
            Confluence.InputDropDownAsync(null, "NewPermission", Url.Action("GetPermissionControlInformation", "RolesAndPermissionsView", new {area = "AdministrationSecondPhase"}), minCharacter: 3, width: "78%"), true)
    </div>
    <div class="col-md-6">
        @Confluence.InputHidden(null, "NewPageOld")
        @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.Page"),
            string.Empty, Confluence.InputDropDown(null, "NewPage", (List<SelectListItem>)ViewBag.Page, width: "78%", disabled: true), true)
    </div>
</div>
<div class="col-md-12 mt20">
    <div class="col-md-6">
    @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.Division"),
        string.Empty,
            Confluence.InputDropDownMulti("NewDivision", (List<MultiSelectListItem>) ViewBag.Division, width: "78%", required: false,disabled:true))

    </div>
        <div class="col-md-6">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.Country"),
                string.Empty,
                                  Confluence.InputDropDownMulti("NewCountry", (List<MultiSelectListItem>)ViewBag.Country, width: "78%", required: false, disabled: true))
        </div>
    </div>
    <div class="col-md-12 mt20">
        <div class="col-md-6">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.OperationType"),
                string.Empty,
                                  Confluence.InputDropDownMulti("NewOperationType", (List<MultiSelectListItem>)ViewBag.OperationType, width: "78%", required: false, disabled: true))
        </div>
        <div class="col-md-6">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.OperationStage"),
                string.Empty,
                Confluence.InputDropDownMulti("NewOperationStatus", (List<MultiSelectListItem>)ViewBag.OperationStatus, width: "78%", required: false, disabled: true)
                                  )
        </div>
    </div>

    <div class="col-md-12 mt20">
        @Html.Partial("Partial/TableFieldControlInformation")
    </div>
</div>