@using IDB.Presentation.MVC4.Helpers

<div class="filterNormal mt30">
    <div class="col-md-12 mb20">
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.Permission"),
            Confluence.InputDropDownAsync(string.Empty, "Permission", Url.Action("GetPermissionControlInformation", "RolesAndPermissionsView", new { area = "AdministrationSecondPhase" }), width: "80%", minCharacter: 3), true)
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.Page"),
                Confluence.InputDropDown(string.Empty, "PageID", (List<SelectListItem>) ViewBag.Page, width: "88%", required: false, disabled: true),
                false)
        </div>
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.Country"),
                         Confluence.InputDropDownMulti("CountryList", (List<MultiSelectListItem>)ViewBag.Country, width: "78%", required: false, disabled: true),
                false)
        </div>
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.Division"),
                Confluence.InputDropDownMulti("DivisionList", (List<MultiSelectListItem>) ViewBag.Division, width: "78%", required: false, disabled: true),
                false)
        </div>
    </div>

    <div class="col-md-12 mt20 mb20">
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.OperationType"),
                Confluence.InputDropDownMulti("OperationTypeList", (List<MultiSelectListItem>) ViewBag.OperationType, width: "78%", required: false, disabled: true),
                false)
        </div>
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.ControlInformation.OperationStatus"),
                Confluence.InputDropDownMulti("OperationStatusList", (List<MultiSelectListItem>) ViewBag.OperationStatus, width: "78%", required: false, disabled: true),
                false)
        </div>
    </div>

    <div class="float-right">
        @Confluence.ButtonBlue(Localization.GetText("OP.RP.ControlInformation.ClearAll"), action: "clearFilter", dataAttributes: ViewBag.Dictionary)
        @Confluence.ButtonBlue(Localization.GetText("OP.RP.ControlInformation.Filter"), action: "searchControlInformationFilter", dataAttributes: ViewBag.Dictionary)
    </div>
</div>


    