@model IDB.MW.Application.AdministrationModule.ViewModels.RolesAndPermissions.RoleInformationViewModel

<div data-pagemode="edit" class="hide">
    @Confluence.InputHidden(ViewBag.IDRolePermission.ToString(), "idRolePermission")
</div>
<div class="row row-header">
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.RoleName"), Confluence.Label(Model.RoleName), Confluence.InputText(Model.RoleName, "FormRoleNameTextField", width: "200px"), true)
        </div>
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.RoleType"), Confluence.LabelGetDropDown(Model.RoleType.ToString(), ViewBag.RoleType), Confluence.InputDropDown(Model.RoleType.ToString(), "listRoleType", ViewBag.RoleType), true)
            
        </div>
    </div>
    <div class="row row-header">
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.RolesAndPermission.ParentRole"), Confluence.LabelGetDropDown(Model.RoleParent.ToString(), ViewBag.RoleByType), Confluence.InputDropDown(Model.RoleParent.ToString(), "listRoleParent", ViewBag.RoleByType, required: false))
            
        </div>
        <div class="col-md-4">
             @Confluence.LabelsGroup(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.EffectiveDate"), Confluence.LabelGetDate(Model.EfectiveDate), Confluence.InputDatePicker(Model.EfectiveDate, "FormEffectiveDate", width: "200px", minDate: DateTime.Now), true)
            
        </div>
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.ExpirationDate"), Confluence.LabelGetDate(Model.ExpirationDate), Confluence.InputDatePicker(Model.ExpirationDate, "FormExpirationDate", required: false))
        </div>
    </div>
    <div class="row row-header">
        <div class="col-md-6">
            @Confluence.LabelsGroup(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.Description"), Confluence.Label(Model.Description), Confluence.InputTextArea(Model.Description, "FormDescription", maxLength: 255, required: false,width:"790px", height:"50px"))
        </div>
    </div>