@model IDB.MW.Application.AdministrationModule.ViewModels.RolesAndPermissions.RoleInformationViewModel

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel"/>
<div class="header">
    <div class="row">
        <div class="col-md-12">
            @Confluence.Navigation(Confluence.LabelMainTitle(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.Roleinformation")), Url.Action(controllerName: "RolesAndPermissionsView", actionName: "RolesAndPermissions"))

        </div>
        @if (Model.HasPermissionWrite)
        {
            <div class="pull-right">
                @Html.Partial("Controls/RoleAndPermissionButtons")
            </div>
        }
    </div>
</div>

<div class="page">
    <div id="ContentEdit" class="mt30">
        @Html.Partial("Partial/FormRoleInformation")

        <div id="tableAsignedGoup">
            @Html.Partial("Partial/TableAsignedGroup", Model.CountryGroupList)
        </div>
        <div id="tableAsignedPermission">
            @Html.Partial("Partial/TableAssignedPermissions", Model.GlobalPermissionList)
        </div>
    </div>
</div>

<div class="footer">
    @if (Model.HasPermissionWrite)
    {
        <div class="pull-right">
            @Html.Partial("Controls/RoleAndPermissionButtons")
        </div>
    }
</div>
