@using IDB.MVCControls.General.Helpers
@using IDB.MW.Domain.Values

<div class="col-md-12 filterNormal">
    <div class="col-md-12">
        <div class="col-md-4">
            @Localization.GetText("OP.RP.RolesAndPermission.SearchRoleType").HtmlEncode()
        </div>
        <div class="col-md-4">
            @Localization.GetText("OP.RP.RolesAndPermission.SearchRole").HtmlEncode()
        </div>
        <div class="col-md-4">
            @Localization.GetText("OP.RP.RolesAndPermission.SearchPermission").HtmlEncode()
        </div>
    </div>
    <div class="col-md-12 mb20">
        <div class="col-md-4">
            @Confluence.InputDropDown(
                value: null,
                name: "SearchRoleType",
                elements: Model.RoleTypeItems,
                width: "80%")
        </div>
        <div class="col-md-4">
            @Confluence.InputSelectDropDownAutoComplete(
                value: null,
                name: "SearchRoles",
                elements: Model.RolesItems,
                validateOnChange: false,
                width: "80%",
                required: true)
        </div>
        <div class="col-md-4">
            @Confluence.InputSelectDropDownAutoComplete(
                value: null,
                name: "SearchPermission",
                elements: Model.PermissionsItems,
                validateOnChange: false,
                width: "80%",
                required: true)
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4">
            @Localization.GetText("OP.RP.RolesAndPermission.ExpirationDate").HtmlEncode()
        </div>
        <div class="col-md-4">
            @Localization.GetText("Effective Date").HtmlEncode()
        </div>
    </div>
    <div class="col-md-12 mb20">
        <div class="col-md-4">
            @Confluence.InputDatePicker(null, "ExpirationDate")
        </div>
        <div class="col-md-4">

            @Confluence.InputRadioButton(
                value: null,
                name: "IsEffectiveDate",
                isChecked: false,
                label: Localization.GetText("Before"),
                isInLine: true,
                dataAttributes: new Dictionary<string, string>() { { "id", RolesAndPermissionsValues.BEFORE } })

            @Confluence.InputRadioButton(
                value: null,
                name: "IsEffectiveDate",
                isChecked: false,
                label: Localization.GetText("After"),
                isInLine: true,
                dataAttributes: new Dictionary<string, string>() { { "id", RolesAndPermissionsValues.AFTER } })

            @Confluence.InputDatePicker(null, "EffectiveDate", htmlClass: "ml15")
        </div>
    </div>

    <div class="col-md-12">
        <div class="pull-right mr30">
            @Confluence.ButtonBlue(
                text: Localization.GetText("OP.RP.RolesAndPermission.ClearAll"),
                action: "cleanfilter")
            @Confluence.ButtonBlue(
                text: Localization.GetText("OP.RP.RolesAndPermission.Filter"),
                action: "searchRoleAndPermissionsFilter")
        </div>
    </div>
</div>

<div class="col-md-12 mt20 mb30">
    @if (Model.HasPermissionWrite)
    {
        <div class="pull-right mr45">
            @Confluence.ButtonBlue(
                Localization.GetText("OP.RP.RolesAndPermission.NewRole"),
                dataNavigation: Url.Action(
                    controllerName: "RolesAndPermissionsView",
                    actionName: "RolesAndPermissionsCreateAndEdit"))
        </div>
    }
</div>

<div class="col-md-12 btn-excel text-right">
    @Confluence.ButtonExcel("xls", "downloadReport")
</div>