@{
    <tr data-id="field">
        <td>@Confluence.InputDropDown(null, "NewField", (List<SelectListItem>)ViewBag.Field)</td>
        <td>@Confluence.InputCheckbox(false, "NewHidden", "chkHidden", string.Empty)</td>
        <td>@Confluence.InputCheckbox(false, "NewReadOnly", "chkReadOnly", string.Empty, labelBold: true)</td>
        <td>@Confluence.InputCheckbox(false, "NewRequired", "chkRequired", string.Empty, labelBold: true)</td>
        <td>@Confluence.ButtonTrash(null, action: "removeRowNewRule")</td>
    </tr>
}