@using IDB.Presentation.MVC4.Helpers
@helper SelectItemPermission(string name, string select, IEnumerable<MultiSelectListItem> elements, 
                            string values = "", string width = null)
{
    <div class="inputSearch input-group select2-bootstrap-append">
        <select class="form-control @select"
                name="@name"
                multiple="multiple"
                data-width="@width"
                data-ajax--url="@Url.Action("SearchDetailPermission", "RolesAndPermissionsView", 
                new {area = "AdministrationSecondPhase", name})">

            @if ((elements != null) && elements.Any() && values != string.Empty)
            {
                string[] val = values.Split(',');
                foreach (var items in val)
                {
                    foreach (var listItem in elements)
                    {
                        if (listItem.Value.ToLower() == items.ToLower())
                        {
                            <option value="@listItem.Value" @(new MvcHtmlString("selected"))>
                                @listItem.Text
                            </option>
                        }
                    }
                }
            }
        </select>
    </div>
}

@{
    <tr data-id>
        <td><span data-pagemode="edit">@Confluence.InputDropDownAsync(null, "listPermission", 
        Url.Action("GetPermissionControlInformation", "RolesAndPermissionsView", 
        new { area = "AdministrationSecondPhase" }))</span></td>
        <td class="description"></td>
        <td><span data-pagemode="edit">@SelectItemPermission("listCountry",
                        "srch-term",
                        ViewBag.ListCountryMulti,
                        width: "100%")</span></td>
        <td><span data-pagemode="edit">@SelectItemPermission("listDivision",
                        "srch-term",
                        ViewBag.ListDivisionMulti,
                        width: "100%")</span></td>
        <td><span data-pagemode="edit">@SelectItemPermission("listOperationType",
                       "srch-term",
                       ViewBag.ListOperationTypeMulti,
                       width: "100%")</span></td>
        <td><span data-pagemode="edit">
            @Confluence.InputDropDown("0", "listType", ViewBag.ListType, width: "100%")
        </span></td>
        <td>@Confluence.ButtonTrash(null, action: "removeRowPer")</td>
        <td class="hide"><span data-pagemode="edit">
        @Confluence.InputHidden("0", "RolePermissionId")
        </span></td>
    </tr>
}




