@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Outputs.ResultsMatrixModel


<div class="col-md-12" style="margin-bottom: 2%;">
    <div class="col-md-3">
        @Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.CreationOn")
        
    </div>
    <div class="col-md-3">
        @Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.DueOn")

    </div>
    <div class="col-md-3">
        @Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.WorkFlowSubmiter")

    </div>
    <div class="col-md-3">
        @Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Priority")

    </div>

</div>

<div class="col-md-12">
    <div class="col-md-6" style="margin-bottom: 2%">
        @Confluence.Label(Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Instruction"))
    </div>
</div>

