@using IDB.MW.Application.MrBlueModule.ViewModels.DynamicQuestionnaire

@model QuestionGroupViewModel

<div class="esgQuestionGroupContainer @(Model.IsTopLevel ? "topLevel" : "")" data-questiongroupid="@Model.GroupId">
    @if (Model.PrintTitle)
    {
        <h4>@Html.Raw(Model.Title) 
            @if (Model.PrintAsterisk)
            {
                @Confluence.LabelAsterisk()
            }
        </h4>

        @*Only for demo. We must introduce a code to Database and read it here to compare, avoiding the use of the ID *@
        if (Model.GroupId == 208 || Model.GroupId == 229)
        {
            <div class="alert alert-warning esg-map-help">
                @Html.Raw(@Localization.GetText("MrBlue.ESG_BIODIVERSITY_HELP"))
            </div>
        }
        
        if (Model.GroupId == 198)
        {
            <div class="alert alert-warning esg-map-help">
                @Html.Raw(@Localization.GetText("MrBlue.ESG_DISASTER_HELP"))
            </div>
        }
    }
    @if (Model.QuestionGroups != null)
    {
        foreach (var group in Model.QuestionGroups.OrderBy(g => g.Order))
        {
            @Html.Partial("DynamicQuestionnaire/DynamicQuestionGroup", group)
        }
    }
    @if (Model.Questions != null)
    {
        foreach (var question in Model.Questions.OrderBy(q => q.Order))
        {
            @Html.Partial("DynamicQuestionnaire/DynamicQuestion", question)
        }
    }
</div>

<script type="text/javascript">

    function openDisasterRiskMap() {
        var url = window.parent.$('#3010000').attr('href');
        url = location.protocol + '//' + location.hostname + url + '&data-accordion=image_icon_10';
        window.open(url, '_blank');
    }

    function openBiodiversityMap() {
        var url = window.parent.$('#3010000').attr('href');
        url = location.protocol + '//' + location.hostname + url + '&data-accordion=image_icon_7';
        window.open(url, '_blank');
    }

</script>