
<div class="rightAlign absRight">
@model IDB.MW.Domain.Models.ExecutorContactInstitutionModel.ExecutorContactInstitutionModel
     @if (Html.HasPermission("Contact Write"))
      {
     <input type="button" class="operationButton editIcon ac-EditContact" 
        data-version-id="@Model.ExecutorContactModel.EXECUTOR_CONTACT_ID" 
        title="@Localization.GetText("Edit Contact")" 
         data-route ="@Url.Action("EditExecutorContact", "ExecutorContact", new { area = "SignaturesAndContacts", Contact_ID = Model.ExecutorContactModel.EXECUTOR_CONTACT_ID })"/>
     }
    

    
     @if (Html.HasPermission("Contact Write"))
      {
    <input type="button" class="operationButton removeIcon ac-DeleteExecutorContact" 
        title="@Localization.GetText("Delete")" data-version-id="@Model.ExecutorContactModel.EXECUTOR_CONTACT_ID" 
        data-window-title=" @Localization.GetText("Warning")" data-route="@Url.Action("DeleteExecutorContact","ExecutorContact")"/>
     }

                                                              
        

</div>
