@using IDB.MW.Domain.Models.ExecutorContact
@using IDB.Presentation.MVC4.Areas.SignaturesAndContacts.Controllers
@model IDB.MW.Domain.Models.ExecutorContactInstitutionModel.ExecutorContactInstitutionModel

<script type="text/javascript" src="@Url.Content("~/Scripts/main.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.3.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/ExecutorContact/main.js")"></script>


<link rel="stylesheet" type="text/css" href ="@Url.Content("~/Content/modulos.css")"  />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />

<style type="text/css">
    .error
    {
        border-width: 2px;
        padding: 3px;
        display: block;
        top: 100px;
        z-index: 9999;
        max-width: 300px;
        background-color: white;
        color: white;
        font-size: small;
        color: black;
        border: 1px solid #ff0000 !important;
    }

    .asteriscoRojo
    {
        color: #D80604;
        padding-left: 0.125em;
    }

    .letrape
    {
        color: #0B0B02;
        font-size: 20px;
        font-family: "OpenSans-Regular";
        display: inline-table;
        padding-left: 50px;
    }
    
    span.custom.checkbox {
        width: 20px !important;
    }

    .mt0 {
        margin-top: 0 !important;
    }
</style>

@{ 
    string class_ = "input normal";
    int maxlength_ = 128;
    object properties = new { @class = class_, maxlength = maxlength_ };
}

<script>
    $(document).ready(function () {
        $(".fancy-checkbox").after($("#labeltxt"));
        setTimeout(function () { resizeIframeCloud(40); }, 1000);
    });
</script>



@using (Html.BeginForm("SaveExecutorContact", "ExecutorContact", FormMethod.Post, new { id = "ExecutorContactAdd" }))
{  
    @Html.HiddenFor(ExecutorContactInstitutionModel => ExecutorContactInstitutionModel.ExecutorContactModel.INSTITUTION_ACRONYM)
    
    @Html.HiddenFor(ExecutorContactInstitutionModel => ExecutorContactInstitutionModel.ExecutorContactModel.EXECUTOR_CONTACT_ID)
    @Html.ValidationSummary(true)
    @Html.Hidden("page", "add")
    <section class="central">
        <div style="display: block; position: relative; background-color: white;">
            <div class="mod_contenido_central impacts">

                <div id="ui_fi_001_edit" class="padding20 everisWidth">

                    <div class="inline-block w75 boldFont">
                        <h3 class="headingh" style="width: 37%;"><a href="@(Url.Action("Index", "ExecutorContact", new { area = "SignaturesAndContacts" }))" title=" @Localization.GetText("Contacts")" class="tipo1 font2em">@Localization.GetText("Contacts")</a></h3>
                    </div>

                    <div>

                        <div class="custom operationData">
                            <div class="inline-block w23 leftAlign absolute absRight">
                                <a  class="horizontalPadding10" href="@(Url.Action("Index", "ExecutorContact", new { area = "SignaturesAndContacts" }))">@Localization.GetText("Cancel")</a>
                                <input type="submit" class="button yellowButton SaveAddContact" value="@Localization.GetText("Save")" >
                            </div>
                        </div>



                        <div class="custom operationData" style="margin-top: 35px">
                            <div class=" editLabel input data6">
                                <span class="dataTitle inputTitle">@Localization.GetText("Contact Name")<span class="asteriscoRojo">*</span></span>
                                @Html.TextBoxFor(ExecutorContactInstitutionModel => ExecutorContactInstitutionModel.ExecutorContactModel.PERSON_TO, properties)
                                <div class="error" id="nameError" style="display: none;">@Localization.GetText("The Contact Name Field  Is Required") </div>
                            </div>
                        </div>


                        <div class="custom operationData" style="margin-top: 35px">
                            <div class=" editLabel input">
                                <span class="dataTitle inputTitle">@Localization.GetText("Title")<span class="asteriscoRojo">*</span></span>
                                @Html.TextBoxFor(ExecutorContactInstitutionModel => ExecutorContactInstitutionModel.ExecutorContactModel.PERSON_TITLE, properties)
                                <div class="error" id="titleError" style="display: none;">@Localization.GetText("The Title Field  Is Required") </div>
                            </div>
                        </div>

                        <div class="custom operationData" style="margin-top: 35px">
                            <div class=" editLabel input">
                                <span class="dataTitle inputTitle">@Localization.GetText("Address")<span class="asteriscoRojo">*</span></span>
                                @Html.TextBoxFor(ExecutorContactInstitutionModel => ExecutorContactInstitutionModel.ExecutorContactModel.ADDRES, properties)
                                <div class="error" id="addresError" style="display: none;">@Localization.GetText("The Address Field  Is Required") </div>
                            </div>
                        </div>

                        <div class="custom operationData" style="margin-top: 35px">
                            <div class=" editLabel input">
                                <span class="dataTitle inputTitle">@Localization.GetText("Telephone")<span class="asteriscoRojo">*</span></span>
                                @Html.TextBoxFor(ExecutorContactInstitutionModel => ExecutorContactInstitutionModel.ExecutorContactModel.PHONE, properties)
                                <div class="error" id="phoneError" style="display: none;">@Localization.GetText("The Phone Field  Is Required") </div>
                            </div>
                        </div>

                        <div class="custom operationData" style="margin-top: 35px">
                            <div class=" editLabel input">
                                <span class="dataTitle inputTitle">@Localization.GetText("Fax")<span class="asteriscoRojo">*</span></span>
                                @Html.TextBoxFor(ExecutorContactInstitutionModel => ExecutorContactInstitutionModel.ExecutorContactModel.FAX, properties)
                                <div class="error" id="faxError" style="display: none;">@Localization.GetText("The Fax Field  Is Required") </div>
                            </div>
                        </div>

                        <div class="custom operationData" style="margin-top: 35px">
                            <div class=" editLabel input">
                                <span class="dataTitle inputTitle">@Localization.GetText("Email")<span class="asteriscoRojo">*</span></span>
                                @Html.TextBoxFor(ExecutorContactInstitutionModel => ExecutorContactInstitutionModel.ExecutorContactModel.EMAIL, properties)
                                <div class="error" id="emailError" style="display: none;">@Localization.GetText("The Email Field  Is Required") </div>
                            </div>
                        </div>

                        <div class="custom operationData" style="margin-top: 35px">
                            <div class=" editLabel input">
                                <span class="dataTitle inputTitle">@Localization.GetText("Institution")<span class="asteriscoRojo">*</span></span>
                                <div style="width: 86%">
                                    <input id="txtName" name="txtName" type="text" class="@class_", maxlength = "@maxlength_">
                                </div>
                                <a href="javascript:void(0)" title="trasladar" type="button" onclick="fillCombo();" id="btnUsers" class="exportdata trasladar"></a>
                               
                                <div class="error" id="institutionError" style="display: none;">@Localization.GetText("The Institution field is required") </div>
                                <div class="error" id="institutionnotfound" style="display: none;">@Localization.GetText("Not matches found") </div>
                            </div>
                        </div>

                        <div class="custom operationData">
                            <div class=" editLabel input">
                                <select name="users" size="2" id="cmbusernames" class="@class_ hide combo" style="width:81%!important;"></select>
                            </div>
                        </div>

                        <div class="custom operationData" style="margin-top: 35px">
                            <div class="editLabel input">
                                <span class="dataTitle inputTitle" style="vertical-align: baseline; font-size: large; display: inline; width: auto;">@Localization.GetText("Active")</span>
                                @Html.CheckBoxFor(ExecutorContactInstitutionModel => ExecutorContactInstitutionModel.ExecutorContactModel.ACTIVE, new { @class = "greyInputBorder horizontalPadding5 verticalPadding2", @name = "actveStatus", @checked = "checked" })
                            </div>
                        </div>

                        <div class="custom operationData">
                            <div class="inline-block w23 leftAlign absolute absRight">
                                <a  class="horizontalPadding10" href="@(Url.Action("Index", "ExecutorContact", new { area = "SignaturesAndContacts" }))">@Localization.GetText("Cancel")</a>
                                <input type="submit" class="button yellowButton SaveAddContact" value="@Localization.GetText("Save")" >
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>
}

