@using IDB.MW.Domain.Models.ExecutorContact
@using IDB.MW.Domain.Models.Architecture.Enumerations
@using IDB.Presentation.MVC4.Areas.SignaturesAndContacts.Controllers
@model IDB.MW.Domain.Models.ExecutorContactInstitutionModel.ExecutorContactInstitutionModel


<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/SupervisionPlan/module.css")" />

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/modal/modal.js")"></script>   
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/ExecutorContact/main.js")"></script>
    
<style type="text/css">
    
    .letrape {
        color:#999999;
        font-size: 0.75em;
        font-family: "OpenSans-Regular";
        width:150px;
        display:inline-table;
        padding-left:50px;
        border:none;
    }

    .resul
    {
        color:#999999;
        font-size: 20px;
        font-family: "OpenSans-Regular";
        width:150px;
        display:inline-table;
        padding-left:50px;
        border:none;
    }
</style>

@{ 
    string class_=" horizontalPadding5 verticalPadding2 grid w45";
    int maxlength_ = 128;
    object properties = new { @class = class_, maxlength = maxlength_ };
}

<section class="central">
    <div style="display: block; position: relative">  
        <div style="display: none">
            <label id="messageDelete">@Localization.GetText("This action cannot be undone, are you sure you wish to continue?")</label>
        </div>
        <input type="hidden" id="contactID" value="@Model.ExecutorContactModel.EXECUTOR_CONTACT_ID"/>
        <div class="mod_contenido_central impacts">
                <html class="k-webkit k-webkit37">
                <body class="backgroundFFFFFF">
                    <div id="ui_fi_001_edit" class="padding20 everisWidth">
                        <h3 class="headingh" style="width: 37%;"><a href="@(Url.Action("Index", "ExecutorContact", new { area = "SignaturesAndContacts"}))" title=" @Localization.GetText("Contacts")" class="tipo1 font2em">@Localization.GetText("Contacts")</a></h3>                            
                            
                        <div>
                            
                            <div>

                                <div class="verticalMargin50-0-20 relative h50px">
                                    <div class="inline-block w23 leftAlign absolute absRight">
                                         @if (Html.HasPermission("Contact Write"))
                                         {
                                            <a class="button blueButton"  style="color:white" href="@(Url.Action("EditExecutorContact", "ExecutorContact", new { area = "SignaturesAndContacts", Contact_ID = Model.ExecutorContactModel.EXECUTOR_CONTACT_ID}))"> @Localization.GetText("Edit")</a>                     
                                            <a class="button yellowButton  ac-DeleteGetExecutorContact" href="#" data-route="@Url.Action("DeleteExecutorContact","ExecutorContact")" data-window-title=" @Localization.GetText("Warning")" > @Localization.GetText("Delete")</a>
                                         }
                                    </div>
                                </div>



                                <div class="operationData dataSocial">
                                    <div class="data6">
                                        <p class="dataTitle">@Localization.GetText("Contact Name")</p>
                                        <p>@Model.ExecutorContactModel.PERSON_TO</p>
                                    </div>
                                </div>
                                

                                 <div class="operationData dataSocial">
                                    <div class="data6">
                                        <p class="dataTitle">@Localization.GetText("Title")</p>
                                        <p>@Model.ExecutorContactModel.PERSON_TITLE</p>
                                    </div>
                                </div>
	                        

                                  <div class="operationData dataSocial">
                                    <div class="data6">
                                        <p class="dataTitle">@Localization.GetText("Address")</p>
                                        <p>@Model.ExecutorContactModel.ADDRES</p>
                                    </div>
                                </div>

                                 <div class="operationData dataSocial">
                                    <div class="data6">
                                        <p class="dataTitle">@Localization.GetText("Telephone")</p>
                                        <p>@Model.ExecutorContactModel.PHONE</p>
                                    </div>
                                </div>

                                 <div class="operationData dataSocial">
                                    <div class="data6">
                                        <p class="dataTitle">@Localization.GetText("Fax")</p>
                                        <p>@Model.ExecutorContactModel.FAX</p>
                                    </div>
                                </div>

                                  <div class="operationData dataSocial">
                                    <div class="data6">
                                        <p class="dataTitle">@Localization.GetText("Email")</p>
                                        <p>@Model.ExecutorContactModel.EMAIL</p>
                                    </div>
                                </div>

                                 <div class="operationData dataSocial">
                                    <div class="data6">
                                        <p class="dataTitle">@Localization.GetText("Institution")</p>
                                        <p>@Model.InstitutionModel.NM</p>
                                    </div>
                                </div>


	                            <div class="letrape" style="margin-top:0px">
                                    <input id="chkactivo" name="actveStatus" type="checkbox"  class=" horizontalPadding5 verticalPadding2 fancy-checkbox" checked="@Model.ExecutorContactModel.ACTIVE" disabled="">
                                    <label for='chkactivo' class="fancy-label"></label>
                                    <label for="lblActivo" style="font-size:large;padding-top:8px;vertical-align:bottom">@Localization.GetText("Active") </label>
	                            </div>



                                
                                <div class="verticalMargin50-0-20 relative h50px">
                                    <div class="inline-block w23 leftAlign absolute absRight">
                                         @if (Html.HasPermission("Contact Write"))
                                         {
                                            <a class="button blueButton"  style="color:white" href="@(Url.Action("EditExecutorContact", "ExecutorContact", new { area = "SignaturesAndContacts", Contact_ID = Model.ExecutorContactModel.EXECUTOR_CONTACT_ID}))"> @Localization.GetText("Edit")</a>                     
                                            <a class="button yellowButton  ac-DeleteGetExecutorContact" href="#" data-route="@Url.Action("DeleteExecutorContact","ExecutorContact")" data-window-title=" @Localization.GetText("Warning")" > @Localization.GetText("Delete")</a>
                                         }
                                    </div>
                                </div>
	
                            </div>

                        </div>
                    </div>
                </body>
                </html>
            </div>

    </div>
</section>

