@using IDB.MW.Domain.Models.ExecutorContact
@using IDB.MW.Domain.Models.Architecture.Enumerations
@using IDB.Presentation.MVC4.Areas.SignaturesAndContacts
@model List<IDB.MW.Domain.Models.ExecutorContactInstitutionModel.ExecutorContactInstitutionModel>


<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />

<!-- JS Files -->
<script type="text/javascript" src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/kendo/kendo.grid.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/ExecutorContact/main.js")"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    input::-webkit-input-placeholder {
        font-style: italic;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#buttonFilter").click(function () {
            $('#filterWindows').slideToggle("slow", 'linear');
            resizeIframeCloud();
        });
        $("#chkactivo").change(function () {
            if ($(this).is(':checked')) {
                $("#idStatus").val(1);
            }
            else { $("#idStatus").val(0); };
        });
        setTimeout(function () {
            resizeIframeCloud();
            var elementFrame = window.parent.document.getElementsByName('someFrame')[0];            elementFrame.removeAttribute("height");            elementFrame.removeAttribute("style");
        }, 1000);
       
    })
</script>



@if (ViewData["Message"] != null)
{
    IDB.Presentation.MVC4.Helpers.HtmlHelpers.ShowNotificationMessage(null, (IDB.Presentation.MVC4.Helpers.MessageConfiguration)ViewData["Message"]);
}

@using (Html.BeginForm("Index", "ExecutorContact", new { busqueda = true }, FormMethod.Post))
{

    <section class="central">


        <div style="display: none">
            <label id="messageDelete">@Localization.GetText("This action cannot be undone, are you sure you wish to continue?")</label>
        </div>


        <div style="display: block; position: relative; background-color: white; width: 95%">
            <div class="mod_contenido_central impacts">



                <div id="ui_fi_001_edit" class="w100" style="padding:1px 20px 20px 30px ;">


                    <h3 class="headingh2" style="margin-left:4px">@Localization.GetText("Contacts")</h3>
                    <div class="editingButtonsEdit" style="padding:0;">
                        <input type="button" class="btn-primary filter-clauses" value=" @Localization.GetText("Filter Contacts") " id="buttonFilter" style="height:35px;" />
                    </div>       <!-- Panel de busqueda oculto -->

                    <div class="filter w99" id="filterWindows" style="display: @ViewBag.Panel;">
                        <div class="cajaGeneralFilter2" style="padding:10px 10px 1px 20px;">
                            <div id="searchBoxContainerUIRM023" class="contenidoFilter5">
                                <div class="relative" style="height:60px;">
                                    <div class="inputContainer w45 absolute">
                                        <div class="verticalAlignMiddle">
                                            <input id="institution" type="text" class="grayBorder w98 textoGrandeFilter2 no-margin dataTitle" placeholder="@Localization.GetText("Institution")" style=" border-radius 5px;height:35px;padding-left:10px;" name="institutionName">
                                        </div>
                                    </div>

                                    <div class="inputContainer w45 absolute absRight right1">
                                        <div class=" verticalAlignMiddle">
                                            <input id="operation" type="text" class="grayBorder w98" placeholder="@Localization.GetText("Operation")" style=" border-radius 5px;height:35px;padding-left:10px;" name="OperationNumber2">
                                        </div>

                                    </div>
                                </div>

                                <div class="relative" style="height:60px;">
                                    <div class="inputContainer w45 absolute">
                                        <label for="lblActivo">@Localization.GetText("Active Contacts Only"): </label>
                                        <input id="chkactivo" name="actveStatus2" type="checkbox" class="greyInputBorder horizontalPadding5 verticalPadding2 fancy-checkbox">
                                        <label for='chkactivo' class="fancy-label"></label>
                                        <input id="idStatus" type="hidden" name="actveStatus">
                                    </div>
                                    <div class="inputContainer w45 absolute absRight right1">
                                        <div class="verticalAlignMiddle editLabel">
                                            <input id="contract" type="text" class="grayBorder w98" placeholder="@Localization.GetText("Contract")" style=" border-radius 5px;height:35px ;padding-left:10px;"name="contractNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="pie" style="width:99.4%;float:none;padding:0px;">
                                    <div>
                                        <input type="button" class="btn-primary ftr" value="@Localization.GetText("Clear All")" id="clearBtn" style="width:125px;height:35px;">
                                    </div>
                                    <div>
                                        <input type="submit" class="btn-primary" value="@Localization.GetText("Filter")" id="ilterContact" style="width:125px;height:35px;margin-right: 10px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Grilla*@

                    <div class="mod_style mod_tabla_plegable mod_style_plegable" style="width: 100%">

                        <div>
                            <table id="grillaContact">
                                <thead>
                                    <tr>

                                        <th class="btn_azul_oscuro_flecha k-header">@Localization.GetText("Contact Name")</th>
                                        <th class="btn_azul_oscuro_flecha k-header">@Localization.GetText("Title")</th>
                                        <th class="btn_azul_oscuro_flecha k-header">@Localization.GetText("Active")</th>
                                        <th class="btn_azul_oscuro_flecha k-header">@Localization.GetText("Institution")</th>
                                        <th class="btn_azul_oscuro_flecha k-header">@Localization.GetText("Contract")</th>
                                        <th class="btn_azul_oscuro_flecha k-header">@Localization.GetText("Operation")</th>
                                        <th class="btn_azul_oscuro dato04">@Localization.GetText("Action")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {


                                        Model.Sort((x1, x2) => x1.ExecutorContactModel.EXECUTOR_CONTACT_ID.CompareTo(x2.ExecutorContactModel.EXECUTOR_CONTACT_ID));

                                        foreach (var contact in Model)
                                        {
                                            <tr class="contact-row" data-Executor-Contact-Id="@contact.ExecutorContactModel.EXECUTOR_CONTACT_ID" data-route="@Url.Action("GetExecutorContact", "ExecutorContact", new { area = "SignaturesAndContacts", contactId = contact.ExecutorContactModel.EXECUTOR_CONTACT_ID })">
                                                <td><a href="@(Url.Action("GetExecutorContact", "ExecutorContact", new { area = "SignaturesAndContacts", contactId = contact.ExecutorContactModel.EXECUTOR_CONTACT_ID}))">@contact.ExecutorContactModel.PERSON_TO.ToUpper()</a></td>
                                                <td>@contact.ExecutorContactModel.PERSON_TITLE.ToUpper()</td>
                                                @if (contact.ExecutorContactModel.ACTIVE)
                                                {
                                            <td>Yes</td>}
                                                else
                                                {
                                            <td>No</td>}
                                                <td>@contact.InstitutionModel.NM.ToUpper()</td>
                                                <td>@contact.ContractModel.ContractNumber.ToUpper()</td>
                                                <td>@contact.OperationModel.OperationNumber.ToUpper()</td>
                                                <td class="actionbuttons-col">@Html.Partial("~/Areas/SignaturesAndContacts/Views/ExecutorContact/_RowActionButtons.cshtml", contact)</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>

                            @if (Html.HasPermission("Contact Write"))
                            {
                                <div class="k-toolbar">
                                    <a href="@(Url.Action("AddExecutorContact", "ExecutorContact", new { area = "SignaturesAndContacts" }))" title=" @Localization.GetText("New Contact") " class="k-button newIndicator"><span class="k-button-">@Localization.GetText("New Contact")</span></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
