@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.CPDModule.ViewModels.CountryProgram
@using IDB.Architecture.DataTables.Common

@model UseOfCountrySystemsTabViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
}


<div class="row">
    <div class="pl15 pr15 ftl">
        @Confluence.LabelsGroup(title: Localization.GetText("COMMON.LastUpdate"),
                                contentAlways: Confluence.LabelBold(FormatHelper.Format(Model.LastUpdate, formatDate)))
    </div>

    <div class="pl15 pr15 ftl space-username">
        @Confluence.LabelsGroup(title: Localization.GetText("COMMON.Username"),
                                contentAlways: Confluence.LabelBold(Model.UserName))
    </div>
    <div class="ftr pr15">
        @(Html.CollapseAll("collapseAllUseOfCountrySystems")
            .HtmlClass("floatRight")
            .CollapseSingleSelector("[data-name=\"collapseUseOfCountrySyst\"]"))
    </div>
</div>

<div class="row mb20">
    <div class="col-md-12">
        @(Html.CollapseSingle("collapseUseOfCountrySyst")
                    .HtmlClass("component-collapse alignSubtitle collapse-Title")
                    .AsociatedCollapseAllSelector("[data-name=collapseAllUseOfCountrySystems]")
                    .TargetRegionSelector("[data-name=\"country-Program\"]")
        )<div>
            @Confluence.LabelSubTitleGroup(Localization.GetText("CPD.CountryProgram.CountryProgram"))
        </div>
    </div>
</div>

<div>
    <div class="row mb30" data-name="country-Program">
        <div class="col-md-12 mb20">
            @Html.Partial("ReadPartial/UseCountrySysTab/UCSCountryProgramPartial", Model)
        </div>
    </div>

    <div class="row mb10">
        <div class="col-md-12">
            @(Html.CollapseSingle("collapseUseOfCountrySyst")
                                    .HtmlClass("component-collapse alignSubtitle")
                                    .AsociatedCollapseAllSelector("[data-name=collapseAllUseOfCountrySystems]")
                                    .TargetRegionSelector("[data-name=\"StrengtheningInitiatives\"]")
            )<div>
                @Confluence.LabelBold(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems.Title.StrengtheningInitiatives"))
            </div>
        </div>
    </div>
    <div class="row mb30" data-name="StrengtheningInitiatives">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/UseCountrySysTab/StrengtheningInitiativesPartial", Model)
        </div>
    </div>
</div>

    <div class="row mb20">
        <div class="col-md-12">
            @(Html.CollapseSingle("collapseUseOfCountrySyst")
                                    .HtmlClass("component-collapse alignSubtitle  collapse-Title")
                                    .AsociatedCollapseAllSelector("[data-name=collapseAllUseOfCountrySystems]")
                                    .TargetRegionSelector("[data-name=\"use-of-Country-Systems\"]")
            )<div>
                @Confluence.LabelSubTitleGroup(Localization.GetText("CPD.CountryProgram.UseOfCountrySystems"))
            </div>
        </div>
    </div>
    <div class="row mb30" data-name="use-of-Country-Systems">
        <div class="col-md-12 mb20">
            @Html.Partial("ReadPartial/UseCountrySysTab/UCSUseOfCountrySystemsPartial", Model)
        </div>
    </div>
