@using System.Collections
@model List<IDB.MW.Domain.Models.Supervision.SupervisionPlan.CriticalProductModel>


    <table class="tableNormal">
        <thead>
        <tr>
            <td class="treeNumber"></td>
            <td class="noBackground"></td>
            <th>Critical Product Description</th>
            <th>Planed Date</th>
            <th>Quarter</th>
            <th>Compilance</th>
            <th>Completion Date</th>
            <th>Action</th>
        </tr>
        </thead>

@{
    foreach (var item in Model)
    {
        <tbody>
        <tr data-id="0">
            <td class="treeNumber">1</td>
            <td class="noBackground tree icon">@Confluence.ButtonShowRowExpand()</td>
            <td>@Confluence.InputText(item.Description, "description", width: "100%")</td>
            <td>@Confluence.InputDatePicker(item.PlannedDate, "planedDate")</td>
            <td>@Confluence.Label(item.Quarter.Code )</td>
            <td>@Confluence.InputDropDown("", "name", null, width: "100%")</td>
            <td>@Confluence.InputDatePicker(item.CompletionDate, "name", width: "100%")</td>
            <td>@Confluence.ButtonTrash("")</td>
        </tr>
        <tr data-row-parent-id="0">
            <td class="treeNumber">1.1</td>
            <td class="tree"><span></span><span class=""></span></td>
            <td colspan="8">
                <div class="col-md-12 mt10">
                    <table class="tableNormal mb10">
                        <thead>
                        <tr>
                            <th>Project Output Name</th>
                            <th>Component Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-id>
                            <td>Output Name</td>
                            <td>Output Indicator</td>
                            <td>@Confluence.ButtonTrash("")</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        @Confluence.ButtonAddNewRows("Add Project Output", "", action: "OutputMilestonesAdd")
                    </div>
                </div>
            </td>
        </tr>
        <tr data-row-parent-id="0">
            <td class="treeNumber">1.2</td>
            <td class="tree"><span></span><span class=""></span></td>
            <td colspan="8">
                <div class="col-md-12 mt10">
                    <table class="tableNormal mb10">
                        <thead>
                        <tr>
                            <th>Risk</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Probability</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-id>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Fiduciary</td>
                            <td>Medium</td>
                            <td>@Confluence.ButtonTrash("")</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        @Confluence.ButtonAddNewRows("Add Project Risk", "")
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    }
}
    </table>

