@model List<IDB.MW.Domain.Models.Supervision.SupervisionPlan.CriticalProductModel>

<div class="col-md-12">
    <div class="col-md-8">@Localization.GetText("Description")</div>
    <div class="col-md-2">@Localization.GetText("Quarter")</div>
    <div class="col-md-2">@Localization.GetText("Compliance")</div>
</div>
<div class="body">
    @foreach (var cp in Model)
    {
        <div class="row col-md-12">
            <div class="col-md-8">@cp.Description</div>
            <div class="col-md-2">
                @if (cp.QuarterId != null)
                {
                    @(((Dictionary<int, string>)ViewBag.LocalizedQuarterValue)[cp.QuarterId.Value])
                }</div>
            <div class="col-md-2">@(cp.Compliance.HasValue && cp.Compliance.Value ? Localization.GetText("Yes") : Localization.GetText("No"))</div>
        </div>
    }
</div>