@using IDB.MW.Application.CPDModule.ViewModels.CountryProgram;
@using IDB.Presentation.MVC4.Areas.CPD.Models

@model CountryProgramViewModel

<div data-id="headerButtons" class="float-right">
    @if (ViewBag.ActiveTab == NavigationAttributes.TAB_NAME_COUNTRYPROGRAM)
    {
        <div data-type="contentButtons" data-id="edit-CP">
            @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-CP")
            @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-CP")
        </div>
    }

    @if (ViewBag.ActiveTab == NavigationAttributes.TAB_NAME_USEOFCS)
    {
        <div data-type="contentButtons" data-id="edit-UseCS">
            @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-UseCS")
            @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-UseCS")
        </div>
    }

    @if (ViewBag.ActiveTab == NavigationAttributes.TAB_NAME_STRATEGICALIGNMENT)
    {
        <div data-type="contentButtons" data-id="edit-SA">
            @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-SA")
            @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-SA")
        </div>
    }
</div>