@using IDB.MW.Application.FinancialPlanModule.ViewModels

@model FinancialPlanViewModel

<ul class="financial-header-buttons header-buttons-non-list">
@if (Model.HasPermissionSubmmit)
{
        <li class="pull-right" data-pagemode="read">
            @Confluence.ButtonOrange(Localization.GetText("FP.INFORMATION.SubmitToReview"), htmlClass: "js_changeMode submitReviewButton")
        </li>
}
@if (Model.HasPermissionEdit)
{
    <li class="pull-right" data-pagemode="read">@Confluence.ButtonBlue(Localization.GetText("Edit"), null, "edit", htmlClass: "js_changeMode")</li>
    <li class="pull-right" data-pagemode="edit">@Confluence.ButtonBlue(Localization.GetText("Clear All"), null, htmlClass: "clearAllButton")</li>
    <li class="pull-right" data-pagemode="edit">@Confluence.ButtonOrange(Localization.GetText("Save"), null, "save")</li>
    <li class="pull-right" data-pagemode="edit">@Confluence.ButtonLink(Localization.GetText("Cancel"), null, "cancel")</li>
}
    <li class="pull-right">@Confluence.ButtonExcel()</li>
</ul>