@using IDB.Presentation.MVC4.Areas.FinancialPlan.Models;
@model IDB.MW.Application.FinancialPlanModule.ViewModels.FinancialPlanViewModel

<section class="col-md-12 filterContainer" id="filter-search-box">
    <div class="col-md-12" style="text-align:left">
        <div class="col-md-12 mb20 mt20">
            @Confluence.LabelSubTitleGroup(@Localization.GetText("FP.Filter"))
        </div>
        <div class="col-md-12 mb20">
            <div class="col-md-3">
                @Confluence.LabelBold(@Localization.GetText("FP.TASKTABLE.ID"), htmlClass: "label-filter-search")
                @Confluence.InputNumber(null, "id", htmlClass: "input-filter-search")
            </div>
            <div class="col-md-3">
                @Confluence.LabelBold(@Localization.GetText("FP.TASKTABLE.OrderNumberWBS"), htmlClass: "label-filter-search")
                @Confluence.InputText(null, "orderNumber", htmlClass: "input-filter-search")
            </div>
            <div class="col-md-3">
                @Confluence.LabelBold(@Localization.GetText("FP.TASKTABLE.TaskName"), htmlClass: "label-filter-search")
                @Confluence.InputText(null, "taskName", htmlClass: "input-filter-search")
            </div>
            <div class="col-md-3">
                @Confluence.LabelBold(@Localization.GetText("FP.TASKTABLE.TaskType"), htmlClass: "label-filter-search")
                @Confluence.InputDropDown(null, "taskType", Model.TaskType.GetTaskTypeForSearch(), htmlClass: "dropdown-task input-filter-search-dropdown", placeholder:"Select")
            </div>

        </div>
        <div class="col-md-12 mb10">
            <div class="col-md-3">
                @Confluence.LabelBold(@Localization.GetText("FP.TASKTABLE.TotalCostEAC"), htmlClass: "label-filter-search")
                @Confluence.InputDropDown(Model.OperatorSearchType.GetOperatorsForSearch().First().Value, "totalCostOperator", Model.OperatorSearchType.GetOperatorsForSearch(), htmlClass: "dropdown-filter-operators", placeholder: "Select")
                @Confluence.InputDecimal(null, "totalCost", htmlClass: "input-filter-search")
            </div>
            <div class="col-md-3">
                @Confluence.LabelBold(@Localization.GetText("FP.TASKTABLE.RemainingBalance"), htmlClass: "label-filter-search")
                @Confluence.InputDropDown(Model.OperatorSearchType.GetOperatorsForSearch().First().Value, "remainingBalanceOperator", Model.OperatorSearchType.GetOperatorsForSearch(), htmlClass: "dropdown-filter-operators", placeholder: "Select")
                @Confluence.InputDecimal(null, "remainingBalance", htmlClass: "input-filter-search")
            </div>
            <div class="col-md-3">
                @Confluence.LabelBold(@Localization.GetText("FP.TASKTABLE.TotalBySource"), htmlClass: "label-filter-search")
                @Confluence.InputDropDown(Model.OperatorSearchType.GetOperatorsForSearch().First().Value, "totalBySourceOperator", Model.OperatorSearchType.GetOperatorsForSearch(), htmlClass: "dropdown-filter-operators", placeholder: "Select")
                @Confluence.InputDecimal(null, "totalBySource", htmlClass: "input-filter-search")
            </div>
            <div class="col-md-3">
                @Confluence.LabelBold(@Localization.GetText("FP.TASKTABLE.RemainingToProyect"), htmlClass: "label-filter-search")
                @Confluence.InputDropDown(Model.OperatorSearchType.GetOperatorsForSearch().First().Value, "remainingToProjectOperator", Model.OperatorSearchType.GetOperatorsForSearch(), htmlClass: "dropdown-filter-operators", placeholder: "Select")
                @Confluence.InputDecimal(null, "remainingToProject", htmlClass: "input-filter-search")
            </div>
        </div>
        <div class="col-md-12 mb10 mt20">
            <div class="col-md-8" id="errorEmptyFieldFilter">
                @Confluence.Label(@Localization.GetText("FP.PleaseEnterAtLeastOneFieldToFilter"), htmlClass: "hide")
            </div>
            <div class="col-md-4 alignButtonsFinancial">
                @Confluence.ButtonBlue(Localization.GetText("Clear All"), name: "clearFilterSearch", htmlClass: "clearFilterSearch")
                @Confluence.ButtonBlue(@Localization.GetText("FP.Filter"), name: "sendFilterSearch")
            </div>
        </div>
    </div>
</section>
