@using IDB.MW.Application.FinancialPlanModule.Helpers;
@using IDB.Presentation.MVC4.Areas.FinancialPlan.Models;
@using IDB.MW.Application.FinancialPlanModule.Enums;
@model IDB.MW.Application.FinancialPlanModule.ViewModels.FinancialPlanViewModel

<div class="extraReportTableContainer">
    <table>
        <thead>
            <tr>
                <td colspan="100" class="tableNameTitle">@Confluence.LabelSubTitleGroup(Localization.GetText("Financial Plan"))</td>
            </tr>
            <tr></tr>
        </thead>
        <tbody>
            <tr><td class="tableNameTitle">@Localization.GetText("OPUS.Search.OperationNumber")</td><td>@Model.OperationNumber</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("OP.AP.ApprovalNumber")</td><TD>@Model.ContractNumber</TD></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.OriginalIDB")</td><td>@Model.OriginalIDB</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.TASKTABLE.LocalCounterpart")</td><td>@Model.LocaleCounterpart</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.CurrentIDB")</td><td>@Model.CurrentIDB</td>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.TASKTABLE.CoFinancing")</td><td>@Model.CoFinancing</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.TotalAvailableFunds")</td><td>@Model.TotalAvailableFounds</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.PlanningPeriodBudgetQuota")</td><td>@Model.PlanningPeriodBudgetQuota</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.MinimumAmountJustified")</td><td>@Model.MinimumAmountToBeJustified</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.%ToJustify")</td><td>@Model.PercentToJustify</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.CurrentVersion")</td><td>@Model.CurrentVersion</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.FinancialPlanStatus")</td><td>@Model.FinancialPlanStatus</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.LastUpdate")</td><td>@Model.LastUpdate</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.LastUpdatedBy")</td><td>@Model.LastUpdatedBy</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.INFORMATION.ProjectionsEnteredIn")</td><td>USD</td></tr>
            <tr><td class="tableNameTitle">@Localization.GetText("FP.Filter.ExchangeRateUSD")</td><td>USD</td></tr>
        </tbody>
    </table>
</div>
