@using System.Web.Mvc.Html

@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Areas.PACI.Models
@using IDB.Presentation.MVC4.Areas.PACI.Helpers
@using IDB.Presentation.MVC4.MVCExtensions

@model PaciViewModel

@{
    var updateTarget = "mainLayoutOperationContent";
}

@*UI-PA-001-READ*@
@using (Ajax.BeginForm("Edit", "Paci",
    new {operationNumber = Model.OperationNumber},
    new AjaxOptions() {UpdateTargetId = "main_section_paci", HttpMethod = "Post", OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin"},
    new {id = "frmPaciViewMode", name = "UI-PA-001-READ"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Hash)

    <div class="col-md-12">
        @if (SecureControlHelper.IsAuthorizedControl(Model.Security.PageName, "btnPaciEdit", Model.Security.Security))
        {
            <button class="buttonBlue pull-right" type="submit" id="btnPaciEdit">@Localization.GetText("PACI.EDIT")</button>
        }
    </div>
    <br/>
    <br/>
    <div class="col-md-10 mt20 mb10 text-justify">
        @HtmlTextHelper.ModalText("PACI.DESCRIPTION")
    </div>
    <br/>
    <br/>
    <div class="col-md-12 pl0">
        @Confluence.ButtonColapseAll(new List<string>() {})
    </div>

    <div class="col-md-12">
        @for (int i = 0; i < Model.InstitutionQuestionnaires.Count; i++)
        {
            <div class="col-md-12 pl0 pr0 mt5 padding1215">
                @Html.HiddenFor(InstitutionQuestionnaires => Model.InstitutionQuestionnaires[i].InstitutionName)
                @Html.HiddenFor(InstitutionQuestionnaires => Model.InstitutionQuestionnaires[i].InstitutionId)
                @Confluence.ButtonCollapseContainer("tableAgenci_" + i)
                @Confluence.LabelBold(Model.InstitutionQuestionnaires[i].InstitutionName)
            </div>
            <div id="tableAgenci_@i" class="pacimodulecontainer">
                <table id="table_@Model.InstitutionQuestionnaires[i].InstitutionId.ToString()" @*data-id="table_@item.InstitutionId"*@ class="tableNormal paci-table">
                    <thead>
                    <tr>
                        <th class="sort">@Localization.GetText("PACI.OP.NUMBER")</th>
                        <th class="sort">@Localization.GetText("PACI.FINAL.REPORT")</th>
                        <th class="sort">@Localization.GetText("PACI.QUESTIONNAIRE")</th>
                        <th class="sort">@Localization.GetText("PACI.STATUS")</th>
                        <th class="sort" order-type="date">@Localization.GetText("PACI.REPORT.DATE")</th>
                        <th>@Localization.GetText("PACI.CLONE")</th>
                        <th>@Localization.GetText("PACI.ACTIONS")</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int j = 0; j < Model.InstitutionQuestionnaires[i].OperationQuestionnaire.Count; j++)
                    {
                        <tr data-id="@Model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].PaciQuestionnaireId.ToString()">
                            <td align="center">
                                @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].InstitutionId)
                                @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].OperationId)
                                @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].OperationNumber)
                                @Model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].OperationNumber
                            </td>
                            <td align="center">
                                @if (Model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].IsQuestionnaireStageCompleted)
                                {
                                    @Ajax.ActionLink(Localization.GetText("PACI.FINAL.REPORT"), "Index", "Report", new {operationNumber = Model.OperationNumber, idQuestionnaire = Model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].PaciQuestionnaireId, institutionId = Model.InstitutionQuestionnaires[i].InstitutionId, tabId = "tabReport"}, new AjaxOptions {UpdateTargetId = updateTarget, OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" }, new {})
                                }
                                @Html.HiddenFor(model => Model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].IsQuestionnaireStageCompleted)
                            </td>
                            <td align="center">
                                @Ajax.ActionLink(Localization.GetText("PACI.QUESTIONNAIRE"), "Index", "Questionnaire", new {operationNumber = Model.OperationNumber, idQuestionnaire = Model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].PaciQuestionnaireId, institutionId = Model.InstitutionQuestionnaires[i].InstitutionId, tabId = "tabQuestionnaire"}, new AjaxOptions {UpdateTargetId = updateTarget, OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" }, new {})
                                @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].PaciQuestionnaireId)
                            </td>
                            <td>
                                @Model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].QuestionnaireStage
                                @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].QuestionnaireStage)
                                @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].QuestionnaireStageId)
                                @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].QuestionnaireStageCode)
                            </td>
                            <td align="center">
                                @Confluence.LabelGetDate(Model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].ApprovalDate)
                                @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].ApprovalDate)
                            </td>
                            <td>@Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[j].QuestionnaireIsClonable)</td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>
                @Html.HiddenFor(model => model.AddNewPaciIsVisible)
            </div>
            <span class="pb40">
                <br/>
            </span>
        }
    </div>
    <div class="col-md-12">
        @if (SecureControlHelper.IsAuthorizedControl(Model.Security.PageName, "btnPaciEdit", Model.Security.Security))
        {
            <button class="buttonBlue pull-right" type="submit" id="btnPaciEdit">@Localization.GetText("PACI.EDIT")</button>
        }
    </div>
}