@using System.Web.Mvc.Html
@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Areas.PACI.Models
@model QuestionnaireViewModel

@using (Ajax.BeginForm("Edit", "Questionnaire", new { operationNumber = Model.OperationNumber, moduleTabId = Model.ModuleTabId },
    new AjaxOptions() { UpdateTargetId = "main_section_paci", HttpMethod = "Post", OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" },
    new { id = "frmPaciViewMode" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Hash)
    @Html.HiddenFor(model => model.OperationNumber)
    <div class="col-md-12">
        <div class="col-md-8">
            @Confluence.LabelMainSubTitle(Model.InstitutionName)
            @Html.HiddenFor(model => model.InstitutionName)
            @Html.HiddenFor(model => model.InstitutionId)
            PACI Status: @Model.PaciStage @*@Localization.GetText("PACI.STATUS")*@
        </div>
        <div class="col-md-4">
            <button class="buttonBlue pull-right" type="submit">Edit</button> @*PACI.EDIT*@
        </div>
    </div>

    <div class="col-md-12">              
        @Html.Partial("~/Areas/PACI/Views/Controls/ModulesTab.cshtml", Model)
    </div>
    <div class="col-md-12">
      @Html.Partial("~/Areas/PACI/Views/Partials/QuestionnaireModuleView.cshtml", Model)          
    </div>
}
