@using IDB.MW.Business.SupervisionPlan.Messages
@model DocumentInfoResponse

<tr data-id>
    <td>@Confluence.Label(Model.User)</td>
    <td>@Confluence.LabelGetDate(Model.Created)</td>
    <td>@Confluence.Label(Model.DocumentReference)</td>
    <td>@Confluence.InputText(Model.Description, "Description", width: "100%", maxLength: 499)</td>
    <td class="text-center">
        @Confluence.ButtonDownload(null, action: "downloadDocument")
        @Confluence.ButtonTrash(null, action: "removeDoc", htmlClass: "mr0")
        @Confluence.InputHidden(Model.Id.ToString(), "idDocument")
        @Confluence.InputHidden(Model.DocumentReference, "docReference")
    </td>
</tr>