@{
    var tempId = DateTime.Now.ToString("yyyyMMddHHmmssffff");
}

<tr data-id="@tempId" activity-main new-activity>
    <td class="treeNumber"></td>
    <td class="noBackground tree icon">@Confluence.ButtonShowRowExpand(true)</td>
    <td>@Confluence.InputDropDown(null, "ActivityType", ViewBag.ActivityType, width: "100%",htmlClass:"")</td>
    <td>@Confluence.InputText(null, "Description", width: "100%", maxLength: 499)</td>
    <td>@Confluence.InputDatePicker(null, "PlanedDate", width: "120px", required: true)</td>
    
    <td>@Confluence.InputDropDown(null, "Source", ViewBag.SourceList, width: "180px")</td>
    <td>@Confluence.InputMoney(null, "Cost", width: "100px")</td>
    <td>@Confluence.InputDatePicker(null, "CompletionDate", width: "120px", required: false)</td>
    <td>-</td>
    <td class="text-center">
        @Confluence.ButtonTrash("", action: "DelActivityDetailed")
    </td>
</tr>
<tr data-row-parent-id="@tempId" critical-activity class="showChildRow">
    <td class="treeNumber"></td>
    <td class="tree"><span></span></td>
    <td colspan="8" class="pr0 pl50">
        <div class="col-md-12 mt10 pr0">
            <table class="tableNormal mb10 skinGray">
                <thead class="hide">
                    <tr>
                        <th>@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Description")</th>
                        <th class="w70">@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Quarter")</th>
                        <th class="w110">@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Compliance")</th>
                        <th class="w100">@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.CompletionDate")</th>
                        <th class="w65">@Localization.GetText("SP.Summary.ActivitiesTable.File.Action")</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="text-center">
                @Confluence.ButtonAddNewRows(Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Add"), null, action: "addCriticalActivity")
            </div>
        </div>
    </td>
</tr>
<tr data-row-parent-id="@tempId" critical-document class="showChildRow">
    <td class="treeNumber"></td>
    <td class="tree"><span></span></td>
    <td colspan="8" class="pr0 pl50">
        <div class="col-md-12 mt10 pr0">
            <table class="tableNormal mb10 skinGray" name="ActivityDoc">
                <thead class="hide">
                    <tr>
                        <th class="w120">@Localization.GetText("SP.Summary.ActivitiesTable.File.User")</th>
                        <th class="w100">@Localization.GetText("SP.Summary.ActivitiesTable.File.Date")</th>
                        <th class="w125">@Localization.GetText("SP.Summary.ActivitiesTable.File.IDBNumber")</th>
                        <th>@Localization.GetText("SP.Summary.ActivitiesTable.File.Description")</th>
                        <th class="w140">@Localization.GetText("SP.Summary.ActivitiesTable.File.Action")</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="text-center">
                @Confluence.ButtonAddNewRows(Localization.GetText("SP.Summary.ActivitiesTable.File.Add"), null, action: "addFileActivity")
            </div>
        </div>
    </td>
</tr>