@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan
@model SummaryModel

@{
    var counter = 0;
    var operationNumber = Request.QueryString["operationNumber"] ?? Model.SupervisionPlan.OperationNumber;
}


@Confluence.ButtonColapse("tableActivitySimplified", expandText: Localization.GetText("GLOBAL.CONTROL.EXPANDALL"), collapseText: Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))
@Confluence.InputHidden(null, "activityDelete")
<table id="tableActivitySimplified" class="tableNormal mb10">
    <thead>
        <tr>
            <td class="treeNumber"></td>
            <th class="noBackground"></th>
            <th>@Localization.GetText("SP.Summary.ActivitiesTable.Type")</th>
            <th class="w100">@Localization.GetText("SP.Summary.Activities.Planned")</th>
            <th class="w100">@Localization.GetText("SP.Summary.Activities.Actual")</th>
            <th class="w65">@Localization.GetText("SP.Summary.ActivitiesTable.File.Action")</th>
        </tr>

    </thead>
    <tbody data-tblactivities="@Model.ActivitiesModel.Activities.Select(x => x.SupervisionPlanVersionId).FirstOrDefault()">
        @foreach (var activity in Model.ActivitiesModel.Activities)
        {
            counter++;
            <tr data-id="@activity.ActivityId" data-activities>
                <td class="treeNumber pt20">@counter</td>
                <td class="noBackground tree icon pt20">@Confluence.ButtonShowRowExpand(true)</td>
                <td>@Confluence.InputDropDown(activity.MainActivity.ConvergenceMasterDataId.ToString(), "type", ViewBag.ActivityType, width: "100%")</td>
                <td class="text-right">@Confluence.InputNumber(activity.Planned, "planned", width: "100%", minValue: "0", maxValue:"2147483647")</td>
                <td class="text-right">@Confluence.InputNumber(activity.Actual, "actual", width: "100%", minValue: "0",required:false)</td>
                <td class="text-center">
                    @Confluence.ButtonTrash("", action: "DelActivitySimplified")
                </td>
            </tr>
            <tr data-row-parent-id="@activity.ActivityId" class="showChildRow">
                <td class="treeNumber pt35">@counter.1</td>
                <td class="tree"><span></span></td>
                <td colspan="4" class="pr0 pl50">
                    <table class="tableNormal mb10 skinGray" name="ActivityDoc">
                        <thead>
                            <tr data-id="">
                                <th class="w120">@Localization.GetText("SP.Summary.ActivitiesTable.File.User")</th>
                                <th class="w100">@Localization.GetText("SP.Summary.ActivitiesTable.File.Date")</th>
                                <th class="w125">@Localization.GetText("SP.Summary.ActivitiesTable.File.IDBNumber")</th>
                                <th>@Localization.GetText("SP.Summary.ActivitiesTable.File.Description")</th>
                                <th class="w140">@Localization.GetText("Action")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doc in activity.ActivityDocuments.Where(doc => doc.Document != null))
                            {
                                <tr data-id>
                                    <td>@Confluence.Label(doc.Document.CreatedBy)</td>
                                    <td>@Confluence.LabelGetDate(doc.Document.Created)</td>
                                    <td>@Confluence.Label(doc.Document.DocumentReference)</td>
                                    <td>@Confluence.InputText(doc.Document.Description, "Description", width: "100%", maxLength: 499)</td>
                                    <td class="text-center">
                                        @Confluence.ButtonDownload(null, action: "downloadDocument")
                                        @Confluence.ButtonTrash(null, action: "removeDoc")
                                        @Confluence.InputHidden(doc.Document.DocumentReference, "docReference")
                                        @Confluence.InputHidden(doc.DocumentId.ToString(), "idDocument")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        @Confluence.ButtonAddNewRows(Localization.GetText("Add file"), null, action: "addFileActivity")
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td colspan="4" class="pr0 pl50">
                <div class="text-center mt50">
                    @Confluence.ButtonAddNewRows(Localization.GetText("Add Activity"), "addActivity", action: "NewActivitySimplified", htmlClass: "bold")
                </div>
            </td>
        </tr>
    </tfoot>
</table>

@Confluence.ButtonBlue("", "addDocumentCritical", htmlClass: "hide", dataAttributes: new Dictionary<string, string> { { "id", "DeliverableDocuments-add" }, { "modal-allowclose", "true" }, { "custom-modal", "DeliverableDocuments-modal-add" }, { "custom-modal-validate", "false" }, { "custom-modal-title", Localization.GetText("OP.AP.Documents.Search") }, { "deliverableRow-id", "0" }, { "btn_add_document_Help", "true" } })
<div id="DeliverableDocuments-modal-add" class="hide">
    @Html.Partial("Controls/IDBDocsNew/AddIDBDoc", new IDB.Presentation.MVC4.Models.Documents.SearchDocumentModalViewModel { SearchModalId = "DeliverablesTableDocuments", MultipleSelection = false, TargetFunction = "addDocumentInTable", BusinessAreaCode = "BA_SUPERVISION_PLAN", OperationNumber = operationNumber })
</div>