@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan
@model SummaryModel

@{
    var counter = 0;
    var operationNumber = Request.QueryString["operationNumber"] ?? Model.SupervisionPlan.OperationNumber;
}

<div class="mb30">
    <label class="labelNormal">@Html.Raw(Localization.GetText("SP.Summary.ActivitiesTable.AssociateLegend"))</label>
</div>

@Confluence.ButtonColapse("tableActivityDetailed", expandText: Localization.GetText("GLOBAL.CONTROL.EXPANDALL"), collapseText: Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))

@Confluence.InputHidden(null, "activityDelete")
<div class="">
    <table id="tableActivityDetailed" class="tableNormal mb10">
        <thead>
            <tr>
                <td class="treeNumber"></td>
                <th class="noBackground"></th>
                <th>@Localization.GetText("SP.Summary.ActivitiesTable.Type")</th>
                <th>@Localization.GetText("SP.Summary.ActivitiesTable.Description")</th>
                <th class="w140">@Localization.GetText("SP.Summary.ActivitiesTable.PlannedDate")</th>
                <th class="w140">@Localization.GetText("SP.Summary.ActivitiesTable.Source")</th>
                <th class="w110">@Localization.GetText("SP.Summary.ActivitiesTable.Cost")</th>
                <th class="w140">@Localization.GetText("SP.Summary.ActivitiesTable.CompletionDate")</th>
                <th class="w150">@Localization.GetText("SP.Summary.ActivitiesTable.Mission")</th>
                <th class="w65">@Localization.GetText("SP.Summary.ActivitiesTable.File.Action")</th>
            </tr>
        </thead>
        <tbody data-tblactivities="@Model.ActivitiesModel.Activities.Select(x => x.SupervisionPlanVersionId).FirstOrDefault()">
            @foreach (var activity in Model.ActivitiesModel.Activities)
        {
            counter++;
            <tr data-id="@counter" activity-main activity-id="@activity.ActivityId">
                <td class="treeNumber pt20">@counter</td>
                <td class="noBackground tree icon pt20">@Confluence.ButtonShowRowExpand()</td>
                <td class="maxw150">@Confluence.InputDropDown(activity.MainActivityId.ToString(), "ActivityType", ViewBag.ActivityType, width: "100%")</td>
                <td>@Confluence.InputText(activity.Description, "Description", width: "100%", maxLength: 499)</td>
                <td class="text-center">@Confluence.InputDatePicker(activity.PlannedDate, "PlanedDate", width: "120px", required: true)</td>
                <td class="w140 maxw140 minw140">@Confluence.InputDropDown(activity.FundingSourceId.ToString(), "Source", ViewBag.SourceList, width: "100%")</td>
                <td class="text-right">@Confluence.InputMoney(activity.Cost, "Cost", width: "100px")</td>
                <td class="text-center">@Confluence.InputDatePicker(activity.CompletionDate, "CompletionDate", width: "120px", required: false)</td>
                <td class="text-center">@if (activity.MissionNumber != "") { @Confluence.LabelClose(activity.MissionNumber,"missionNumber", action: "UnlinkModal"); } else { @Confluence.Label("-"); }</td>
                <td class="text-center">
                    @Confluence.ButtonTrash("", action: "DelActivityDetailed")
                </td>
            </tr>
            <tr data-row-parent-id="@counter" critical-activity class="showChildRow">
                <td class="treeNumber pt35">@counter.1</td>
                <td class="tree"><span></span></td>
                <td colspan="8" class="pr0 pl50">
                    <div class="col-md-12 mt10 pr0">
                        <table class="tableNormal mb10 skinGray">

                            <thead class=@(activity.CriticalProduct != null && activity.CriticalProduct.Count > 0 ? "" : "hide")>
                                <tr>
                                    <th>@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Description")</th>
                                    <th class="w70">@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Quarter")</th>
                                    <th class="w110">@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Compliance")</th>
                                    <th class="w100">@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.CompletionDate")</th>
                                    <th class="w65">@Localization.GetText("SP.Summary.ActivitiesTable.File.Action")</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (activity.CriticalProduct != null && activity.CriticalProduct.Count > 0)
                                {
                                    foreach (var cp in activity.CriticalProduct)
                                    {
                                    <tr data-id data-critical-id="@cp.CriticalProductId">
                                        <td class="textLonguer">@cp.Description</td>
                                        <td class="text-center">
                                            @if (cp.QuarterId != null)
                                                {
                                                @Model.CriticalModel.LocalizedQuarterValue[cp.QuarterId.Value]
                                                }
                                        </td>
                                        <td class="text-center">
                                            @if (cp.DetailedComplianceId != null)
                                        {
                                                @Model.CriticalModel.LocalizedComplianceValue[cp.DetailedComplianceId.Value]
                                        }
                                        </td>
                                        <td class="text-center">@Confluence.LabelGetDate(cp.CompletionDate)</td>

                                        <td class="text-center">
                                            @Confluence.ButtonTrash("", action: "DelCriticalActivityDetailed")
                                        </td>
                                    </tr>
                                    }
                                }
                            </tbody>

                        </table>

                        <div class="text-center">
                            @Confluence.ButtonAddNewRows(Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Add"), null, action: "addCriticalActivity")
                        </div>
                    </div>
                </td>
            </tr>
            <tr data-row-parent-id="@counter" critical-document class="showChildRow">
                <td class="treeNumber pt35">@counter.2</td>
                <td class="tree"><span></span></td>
                <td colspan="8" class="pr0 pl50">
                    <div class="col-md-12 mt10 pr0">

                        <table class="tableNormal mb10 skinGray" name="ActivityDoc">
                            <thead class=@(activity.ActivityDocuments != null && activity.ActivityDocuments.Count > 0 ? "" : "hide")>
                                <tr>
                                    <th class="w120">@Localization.GetText("SP.Summary.ActivitiesTable.File.User")</th>
                                    <th class="w100">@Localization.GetText("SP.Summary.ActivitiesTable.File.Date")</th>
                                    <th class="w125">@Localization.GetText("SP.Summary.ActivitiesTable.File.IDBNumber")</th>
                                    <th>@Localization.GetText("SP.Summary.ActivitiesTable.File.Description")</th>
                                    <th class="w140">@Localization.GetText("SP.Summary.ActivitiesTable.File.Action")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (activity.ActivityDocuments != null && activity.ActivityDocuments.Count > 0)
                                    {
                                        foreach (var doc in activity.ActivityDocuments)
                                        {
                                    <tr data-id>
                                        <td>@Confluence.Label(doc.Document.CreatedBy)</td>
                                        <td>@Confluence.LabelGetDate(doc.Document.Created)</td>
                                        <td>@Confluence.Label(doc.Document.DocumentReference)</td>
                                        <td class="textLonguer">@Confluence.InputText(doc.Document.Description, "Description", width: "100%", maxLength: 499)</td>
                                        <td class="text-center">
                                            @Confluence.ButtonDownload(null, action: "downloadDocument")
                                            @Confluence.ButtonTrash(null, action: "removeDoc")
                                            @Confluence.InputHidden(doc.Document.DocumentReference, "docReference")
                                            @Confluence.InputHidden(doc.DocumentId.ToString(), "idDocument")
                                        </td>
                                    </tr>
                                        }
                                    }
                            </tbody>
                        </table>

                        <div class="text-center">
                            @Confluence.ButtonAddNewRows(Localization.GetText("Add file"), null, action: "addFileActivity")
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td colspan="8" class="pr0 pl50">
                    <div class="col-md-12 mt10 pr0">
                        <div class="text-center mt50">
                            @Confluence.ButtonAddNewRows(Localization.GetText("Add Activity"), "addActivity", action: "NewActivityDetailed", htmlClass: "bold")
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div data-id="ModalRegion">
    <button data-id="buttonNewCritical" class="buttonBlue hide"
            data-modal-allowclose="true"
            data-custom-modal="addNewCritical"
            data-custom-modal-style=""
            data-custom-modal-title="@Localization.GetText("SP.Summary.ActivitiesTable.CriticalProduct.Add")"
            data-custom-modal-validate="false"
            data-custom-buttons='["cancel", "add"]'
            data-custom-button-add-id="add"
            data-custom-button-add="@Localization.GetText("SP.Summary.Add")"
            data-custom-button-add-style="btn btn-primary"
            data-custom-button-add-callback="addCritical"
            data-custom-button-add-closeatend="true"
            data-custom-button-cancel-id="cancel"
            data-custom-button-cancel="@Localization.GetText("SP.Summary.Cancel")"
            data-custom-button-cancel-style="btn btn-link"
            data-custom-button-cancel-callback=""
            data-custom-modal-closeonoverlayclick="false">
        Modal
    </button>

    <div id="addNewCritical" class="hide"></div>
</div>

@Confluence.ButtonBlue("", "addDocumentCritical", htmlClass: "hide", dataAttributes: new Dictionary<string, string> { { "id", "DeliverableDocuments-add" }, { "modal-allowclose", "true" }, { "custom-modal", "DeliverableDocuments-modal-add" }, { "custom-modal-validate", "false" }, { "custom-modal-title", Localization.GetText("OP.AP.Documents.Search") }, { "deliverableRow-id", "0" }, { "btn_add_document_Help", "true" } })
<div id="DeliverableDocuments-modal-add" class="hide">
    @Html.Partial("Controls/IDBDocsNew/AddIDBDoc", new IDB.Presentation.MVC4.Models.Documents.SearchDocumentModalViewModel { SearchModalId = "DeliverablesTableDocuments", MultipleSelection = false, TargetFunction = "addDocumentInTable", BusinessAreaCode = "BA_SUPERVISION_PLAN", OperationNumber = operationNumber })
</div>