@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan
@model SummaryModel

<table class="tableNormal mb10" id="tableCriticalSimplified">
    <thead>
        <tr>
            <th>@Localization.GetText("SP.Summary.CriticalProductTable.Description")</th>
            <th class="w100 maxw100 minw100">@Localization.GetText("SP.Summary.CriticalProductTable.Quarter")</th>
            <th class="w100 maxw100 minw100">@Localization.GetText("SP.Summary.CriticalProductTable.Completed")</th>
            <th class="w65">@Localization.GetText("SP.Summary.CriticalProductTable.Action")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cp in Model.CriticalModel.CriticalsProducts)
        {
            <tr data-id="@cp.CriticalProductId" name="CriticalRow" data-versionId="@cp.SupervisionPlanVersionId">
                <td>@Confluence.InputText(cp.Description, "CriticalDescription", width: "100%",placeholder:"Enter Text")</td>
                <td class="text-center"> @Confluence.InputDropDown(cp.QuarterId.ToString(), "Quarter", ViewBag.Quarter, width: "100px", required: false)</td>
                <td class="text-center">@Confluence.InputDropDown((cp.Compliance == null ? null : (cp.Compliance.Value ? "1" : "0")), "Compliance", ViewBag.Completed, width: "100px", required: false)</td>
                <td class="text-center">@Confluence.ButtonTrash("", "deleteCritical", "DelCriticalProductSimplied")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="pr0">
                <div class="col-md-12 mt10 pr0">
                    <div class="text-center mt50">
                        @Confluence.ButtonAddNewRows(Localization.GetText("SP.Summary.CriticalProduct.Add"), "addCritical", action: "NewCriticalProduct", htmlClass: "bold")
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
