@{
    var idTemp = DateTime.Now.ToString("yyyyMMddHHmmssffff");
}

<tr data-id="@idTemp" critical-main data-new-row critical-data-id="@idTemp" data-versionid name="criticalProduct">
    <td class="treeNumber"></td>
    <td class="noBackground tree icon">@Confluence.ButtonShowRowExpand(true)</td>
    <td>@Confluence.InputText(null, "Description", htmlClass: "w100", width: "100%")</td>
    <td>@Confluence.InputDatePicker(null, "PlannedDate", required: true, width: "100%")</td>
    <td name="quarter" class="text-center"></td>
    <td>@Confluence.InputDropDown(ViewBag.Compliance[0].Value, "Compliance", ViewBag.Compliance, showEmptyOption: false, placeholder: null, orderAsc: false, dataAttributes: new Dictionary<string, string> { { "idCompleted", ViewBag.SpCompletedNew.Id.ToString() == null ? 0 : ViewBag.SpCompletedNew.Id.ToString() } }, width: "120px")</td>
    <td>@Confluence.InputDatePicker(null, "CompletionDate", disabled: true, width: "100%")</td>
    <td class="text-center pr5">
        @Confluence.ButtonTrash(null, null, "DelCriticalProductDetailed")
    </td>
</tr>
<tr data-row-parent-id="@idTemp" output-children critical-data-id="@idTemp" class="showChildRow" id="CriticalOutput">
    <td class="treeNumber"></td>
    <td class="tree"><span></span></td>
    <td colspan="6" class="pr0 pl50">
        <div class="col-md-12 mt10 pr0">
            <table class="tableNormal mb10 skinGray">
                <thead class="hide">
                    <tr>
                        <th class="perw45">@Localization.GetText("SP.Summary.CriticalProductTable.ProjectOutput.ComponentName")</th>
                        <th class="perw45">@Localization.GetText("SP.Summary.CriticalProductTable.ProjectOutput.ProjectOutput")</th>
                        <th class="pwAction">@Localization.GetText("SP.Summary.ActivitiesTable.File.Action")</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="text-center">
                @Confluence.ButtonAddNewRows(Localization.GetText("SP.Summary.ModalMilestone.Title"), null, action: "addoutputbutton")
            </div>
        </div>
    </td>
</tr>
<tr data-row-parent-id="@idTemp" risk-children critical-data-id="@idTemp" class="showChildRow">
    <td class="treeNumber"></td>
    <td class="tree"><span></span></td>
    <td colspan="6" class="pr0 pl50">
        <div class="col-md-12 mt10 pr0">
            <table class="tableNormal mb10 skinGray" id="Criticalrisk">
                <thead class="hide">
                    <tr>
                        <th>@Localization.GetText("SP.Summary.Risk.Description")</th>
                        <th class="maxw100 minw100 w100">@Localization.GetText("SP.Summary.Risk.Type")</th>
                        <th class="maxw140 minw140 w140">@Localization.GetText("SP.Summary.Risk.Probability")</th>
                        <th class="pwAction">@Localization.GetText("SP.Summary.Risk.Action")</th>
                    </tr>
                </thead>
                <tbody critical-data-id></tbody>
            </table>
            <div class="text-center">
                @Confluence.ButtonAddNewRows(Localization.GetText("SP.Summary.Risk.Add"), null, action: "addriskbutton")
            </div>
        </div>
    </td>
</tr>