@model IDB.MW.Application.VMRModule.ViewModels.MyMeeting.MyMeetingsViewModel
@Confluence.InputHidden(ViewBag.SerializedVmrInstancesViewModel, id: "myMeetingsViewModel")
<div class="filterNormal">
    <div class="row">
        @if (Model != null && string.IsNullOrEmpty(Model.OperationNumber))
        {
            <div class="col-md-3 pt10 pb10">
                <div class="col-md-12">
                    @Confluence.InputText("", "operationText", width: "100%", placeholder: Localization.GetText("VMR.MM.MyMeetingsTab.OperationNameNumberLoan"))
                </div>
            </div>
            <div class="col-md-3 pt10 pb10">

                <div class="col-md-2 pt10 ">@Confluence.Label(Localization.GetText("VMR.MM.MyMeetingsTab.Date"), htmlClass: "text-left")</div>
                <div class="col-md-10">@Confluence.InputDatePicker(null, "filterDate", required: false, format: "DD Mmm YY", width: "100%")</div>

            </div>

        }
        
        @if (Model != null && !string.IsNullOrEmpty(Model.OperationNumber))
        {
            <div class="col-md-8 pt10 pb10">
                <div class="col-md-2 pt10">@Confluence.Label(Localization.GetText("VMR.MM.MyMeetingsTab.Type"), htmlClass: "text-center")</div>
                <div class="col-md-6">@Confluence.InputDropDown("", "filterType", (List<SelectListItem>)ViewBag.FilterType, required: false, width: "100%")</div>
            </div>
            <div class="col-md-4 pt10 pb10 text-right">
                <div class="col-md-12">
                    @Confluence.ButtonBlue(Localization.GetText("VMR.MM.MyMeetingsTab.Filter"), action: "MyMeetingsSearch")
                    @Confluence.ButtonBlue(Localization.GetText("VMR.MM.MyMeetingsTab.Clear"), action: "MyMeetingsClearAll")
                </div>
            </div>
        }
        else
        {
            <div class="col-md-3 pt10 pb10">
                <div class="col-md-2 pt10">@Confluence.Label(Localization.GetText("VMR.MM.MyMeetingsTab.Type"), htmlClass: "text-center")</div>
                <div class="col-md-10">@Confluence.InputDropDown("", "filterType", (List<SelectListItem>)ViewBag.FilterType, required: false, width: "100%")</div>
            </div>
            <div class="col-md-3 pt10 pb10">
                <div class="row">
                    <div class="col-md-6 pull-left">
                        @Confluence.ButtonBlue(Localization.GetText("VMR.MM.MyMeetingsTab.Filter"), action: "MyMeetingsSearch")
                    </div>
                    <div class="col-md-6">
                        @Confluence.ButtonBlue(Localization.GetText("VMR.MM.MyMeetingsTab.Clear"), action: "MyMeetingsClearAll")
                    </div>
                </div>
            </div>
        }
    </div>

</div>