@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService.OperationViewModel

@if( Model != null )
{
    @Html.Partial( "Partials/FinancialDataExecution/FDEContractLevelContractDataPartial" , Model )
    @Html.Partial( "Partials/FinancialDataExecution/FDEContractLevelFinancingDataPartial" , Model.FinancingData )
    @Html.Partial( "Partials/FinancialDataExecution/FDEContractLevelCategoryBalancePartial" , Model.CategoryBalance )
    @Html.Partial( "Partials/FinancialDataExecution/FDEContractLevelEventsPartial" , Model )

    <div data-id="ModalRegion">
        <button data-id="buttonHistoricalDataModal" class="hide"
                data-modal-allowclose="false"
                data-custom-modal="historicalDataModal"
                data-custom-modal-style=""
                data-custom-modal-title="@Localization.GetText("OP.FD.TabContractLevel.HistoricData")"
                data-custom-modal-validate="false"
                data-custom-modal-closeonoverlayclick="false"></button>
    </div>
}