@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService.OperationViewModel

@if (Model != null)
{
    
    <div class="row-header">
        <div class="row col-md-12 mb16">
            
        </div>
    </div>

    <div class="grouping-section">

        <div class="col-md-12">
            <label class="lbltitle">@Confluence.LabelSubTitleGroup(Localization.GetText("OP.FD.TabContractLevel.ContractData"))</label>
        </div>

        <div class="col-md-3 lineGrayRight">
            <div class="col-md-12 lblcontent">
                @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.FinancingType"))
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.ContractData.FinancingType)
            </div>

            <div class="col-md-12 lblcontent">
                @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.FundingSource"))
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.ContractData.FundingSource)
            </div>

            <div class="col-md-12 lblcontent">
                @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.ExecutingAgency"))
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.ContractData.ExecutingAgency)
            </div>

            <div class="col-md-12 lblcontent">
                @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.Borrower"))
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.ContractData.BorrowerRecipient)
            </div>
        </div>

        <div class="col-md-3 ml16 lineGrayRight">

            <div class="col-md-12 lblcontent">
                @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.FundCurrency"))
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.ContractData.FundCurrency)
            </div>

            <div class="col-md-12 lblcontent">
                @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.ContractStage"), tooltip: Localization.GetText("OP.FD.TabContractLevel.ContractStage.Tooltip"))
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.ContractData.ContractStage)
            </div>

            <div class="col-md-12 lblcontent">
                @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.PercentDisbur"))
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelIntegerPercent(Model.ContractData.Disbursed, true)
            </div>
        </div>

    </div>
}