@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService.OperationViewModel

@if (Model != null)
{


    <div class="grouping-section">
        
        <div class="col-md-12">
            <label class="lbltitle">@Confluence.LabelSubTitleGroup(Localization.GetText("OP.FD.TabContractLevel.Events"))</label>
        </div>
        
        <div class="col-md-3 lineGrayRight">

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.DateOfSignature"), tooltip: Localization.GetText("OP.FD.TabContractLevel.DateOfSignature.Tooltip"))
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(Model.Events.DateOfSignature, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.DateOfRatif"), tooltip: Localization.GetText("OP.FD.TabContractLevel.DateOfRatif.Tooltip"))
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(Model.Events.DateOfRatification, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.DateOfLegalEffect"), tooltip: Localization.GetText("OP.FD.TabContractLevel.DateOfLegalEffect.Tooltip"))
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(Model.Events.DateOfLegalEffectiveness, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.DateOfTotalEligibility"), tooltip: Localization.GetText("OP.FD.TabContractLevel.DateOfTotalEligibility.Tooltip"))
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(Model.Events.DateOfTotalEligibility, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.DateOfFirstDisbursement"))
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(Model.Events.DateOfFirstDisbursement, true)
                </div>
            </div>

        </div>

        <div class="col-md-3 ml16 lineGrayRight">

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.OriginalDisbExpiration"))
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(Model.Events.OriginalDisbExpiration, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.CurrentDisbExpiration"))
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(Model.Events.CurrentDisbExpiration, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.CumulativeExtension"))
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelInteger(Model.Events.CumulativeExtension, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.FD.TabContractLevel.AmortPeriod"))
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelInteger(Model.Events.AmortizationPeriod, true)
                </div>
            </div>

        </div>
    </div>
}