@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService.FundIncreasesViewModel

@if (Model != null)
{
    <div id="PageContent" class="content-expandable">
        <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
        <div class="row row-body-40">
            <div class="col-md-12">
                <div class="col-md-12">
                    @Confluence.LabelSubTitleGroup(Localization.GetText("OP.FD.TabIncreases.CurrentFunds"))
                </div>
                @Html.Partial("Partials/FinancialDataExecution/DateTables/FinancialDataIncreaseCurrentFunds", Model)
            </div>

            <div class="col-md-12">
                <div class="col-md-12">
                    @Confluence.LabelSubTitleGroup(Localization.GetText("OP.FD.TabIncreases.Increases"))
                </div>
                @Html.Partial("Partials/FinancialDataExecution/DateTables/FinancialDataIncrease", Model)
            </div>
        </div>
    </div>
}