@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService.OperationLevelViewModel

@if (Model != null)
{
    <div class="grouping-section"data-id="valuespanel">
        <div class="col-md-4 lineGrayRight">
            <div class="col-md-12">
                <label class="lbltitle">@Localization.GetText("OP.FD.TabOperationLevel.FinancingSource")</label>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.CounterFinancing")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelDecimal(Model.FinancingSource.CounterPartCurrent, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.CoFinancing")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelDecimal(Model.FinancingSource.CoFinancingCurrent, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.TotalOpCost")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelDecimal(Model.FinancingSource.TotalOperationCurrent, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.PariPassu")
                </div>
                <div class="col-md-6 lblvalue">
                    @if (Model.OperationData.PariPassu.HasValue)
                    {
                        @Confluence.LabelDecimalPercent(Model.OperationData.PariPassu, true)
                    }
                    else
                    {
                        @Confluence.LabelBold("N/A")
                    }
                </div>

            </div>

        </div>

        <div class="col-md-4 pl16 lineGrayRight">
            <div class="col-md-12">
                <label class="lbltitle">@Localization.GetText("OP.FD.TabOperationLevel.OtherBalances")</label>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.DisbYearToDate")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelDecimal(Model.FinancingSource.DisbYearToDate, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.MostRecentDisbursements")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelDecimal(Model.OperationData.MostRecentDisbursements, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.MostRecentDisbursementsDate")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(Model.OperationData.MostRecentDisbursementDate, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.ProjectedDisbursements")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelDecimal(Model.OperationData.ProjectedDisbursements, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.Repaid")
                </div>
                <div class="col-md-6 lblvalue">
                    @if (Model.OperationData.Repaid.HasValue)
                    {
                        @Confluence.LabelDecimal(Model.OperationData.Repaid, true)

                    }
                    else
                    {
                        @Confluence.LabelBold("N/A")
                    } 
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.Outstanding")
                </div>
                <div class="col-md-6 lblvalue">
                    @if (Model.OperationData.Outstanding.HasValue)
                    {
                        @Confluence.LabelDecimal(Model.OperationData.Outstanding, true)
                    }
                    else
                    {
                        @Confluence.LabelBold("N/A")
                    }
                </div>
            </div>
        </div>

        <div class="col-md-4 pl16">
            <div class="col-md-12">
                <label class="lbltitle">@Localization.GetText("OP.FD.TabOperationLevel.RetroExp")</label>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.RetroExp")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetBool(Model.OperationData.HasRetroactiveExpenses, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.RetroExpPercent")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelIntegerPercent(Model.OperationData.RetroactiveExpensesPercent, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.StartDate")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(Model.OperationData.StartingDate, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("OP.FD.TabOperationLevel.EndDate")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(Model.OperationData.EndDate, true)
                </div>
            </div>
        </div>
    </div>


    @*<div class="-header">
        <div class="col-md-4">
            @Confluence.LabelsGroupExtend(
                new List<HelperResult>() { Confluence.Label(Localization.GetText("OP.FD.TabOperationLevel.DisbursedToDate"), tooltip: Localization.GetText("OP.FD.TabOperationLevel.DisbursedToDate.Tooltip")) },
                new List<HelperResult>() { Confluence.LabelDecimal(Model.OperationData.DisbursedToDate, true) })
        </div>
        
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.FD.TabOperationLevel.PercentDisbursed"),
      Confluence.LabelDecimalPercent(Model.OperationData.Disbursed, true),
      Confluence.LabelDecimalPercent(Model.OperationData.Disbursed, true), false)
        </div>
    </div>

    <div class="-header">
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.FD.TabOperationLevel.Committed"),
         Confluence.LabelDecimal(Model.OperationData.Committed, true), Confluence.LabelDecimal(Model.OperationData.Committed, true), false)
        </div>
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.FD.TabOperationLevel.Available"),
      Confluence.LabelDecimal(Model.OperationData.Available, true), Confluence.LabelDecimal(Model.OperationData.Available, true), false)
        </div>

    </div>*@
}
