@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataExecutionService.FinancialDataViewModel

<div class="row informationRow mt10">
    <span class="text-left col-md-6 mt">
        @Confluence.InformationSection(Localization.GetText("TCM.Outputs.AmountsExpressedInUSD"), "80%")
    </span>
    <span class="text-right col-md-6">
        @Html.Partial("Partials/FinancialDataExecution/FDEOperationLevelGraphValuesButtons")
    </span>
</div>

@if (Model != null)
    {
    var tabs = new Dictionary<string, string>()
    {
        {
         "tabOperationLevel-"+Model.ActivityPlanId,
         Localization.GetText("OP.FD.TabOperationLevel.Title")
        },
        { "tabContractLevel-" + Model.ActivityPlanId,
            (Model.OperationType.Equals("TCP") &&
            Model.AttributeExecutedby.Contains("Bank") ?
            Localization.GetText("OP.FD.TabContractLevel.Title.TCP") :
            Localization.GetText("OP.FD.TabContractLevel.Title"))
        }
    };

    if (Model.HasRequestIncreaseTabPermission)
    {
        tabs.Add("tabIncreases-"+Model.ActivityPlanId,
        Localization.GetText("OP.FD.TabIncreases.Increases"));
    }

    @Confluence.Tabs(tabs)

    <div class="tab-content">
        <div class="tab-pane active" id="tabOperationLevel-@Model.ActivityPlanId">
            @if (Model.OperationLevel != null)
            {
                @Html.Partial("Partials/FinancialDataExecution/FDEOperationLevelPartial",
                    Model.OperationLevel);
            }
        </div>

        <div class="tab-pane" id="tabContractLevel-@Model.ActivityPlanId">
            @if (Model.ContractLevel != null)
            {
                @Html.Partial("Partials/FinancialDataExecution/FDEContractLevelPartial", Model.ContractLevel);
            }
        </div>

        @if (Model.HasRequestIncreaseTabPermission)
        {
            <div class="tab-pane" id="tabIncreases-@Model.ActivityPlanId"
                 data-parsley-validate="data-parsley-validate"
                 data-parsley-excluded="[disabled]"
                 data-loadurl="@Url.Action("FinancialDataExecutionReload",
                    "View",
                    new {area = "OPUS"})"
                 data-url="@Url.Action("FinancialDataExecution", "Save", new {area = "OPUS"})">
                @if (Model.FundIncreases != null)
                {
                    @Html.Partial("Partials/FinancialDataExecution/FDEIncreasesPartial", Model.FundIncreases)
                }
            </div>
        }     
    </div>
    }