@model IDB.MW.Domain.Models.OperationProfile.EnvirontmentAndSocialData.EnvironmentalAndSocialImpactDataModel
@{
    ViewBag.Title = "Index";
}

@if (Model!=null)
{
    <div class="mod_contenido_central">
    <h3 class="headingh2">@Localization.GetText("Environmental and Social Safeguards")</h3>
    <div class="operationData dataSocial">
        <div class="data5">
            <p class="dataTitle">@Localization.GetText("Impacts Category")</p>
            <p>@Model.EsgClassification</p>
        </div>
        <div class="data5">
            <p class="dataTitle">@Localization.GetText("Risk")</p>
            <p>@Model.RiskCategory</p>
        </div>
        <div class="data1">
            <p class="dataTitle">@Localization.GetText("Safeguard Performance Rating")</p>
            <p>@Model.SafeguardPerformance</p>
        </div>
    </div>
    <div class="operationData dataSocial">
        <div class="data6">
            <p class="dataTitle">@Localization.GetText("Safeguard Performance Rating - Rationale")</p>
            <p>@Model.SafeguardPerformanceRationale</p>
        </div>
    </div>
</div>
}else{
    <div class="mod_contenido_central">
    <h3 class="headingh2">@Localization.GetText("Environmental and Social Safeguards")</h3>
    <div class="operationData dataSocial">
        <div class="data5">
            <p class="dataTitle">@Localization.GetText("Impacts Category")</p>
            <p></p>
        </div>
        <div class="data5">
            <p class="dataTitle">@Localization.GetText("Risk")</p>
            <p></p>
        </div>
        <div class="data1">
            <p class="dataTitle">@Localization.GetText("Safeguard Performance Rating")</p>
            <p></p>
        </div>
    </div>
    <div class="operationData dataSocial">
        <div class="data6">
            <p class="dataTitle">@Localization.GetText("Safeguard Performance Rating - Rationale")</p>
            <p></p>
        </div>
    </div>
</div>
}



