


<script>
    $(document).ready(function () {
        
        $("#lnkCancelDeleteYear").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#btnSaveDeleteYear").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            var urlRoute = $("#hdnDeleteYearPost").val() + "?resultsMatrixId=@ViewData["resultsMatrixId"]&impactId=@ViewData["impactId"]&year=@ViewData["year"]";
            window.location.href = urlRoute;
        });
    });
</script>

@using (Html.BeginForm("DeleteYear", "ImpactIndicator", FormMethod.Post, new { id = "indicatorDeleteYearForm" }))
{
<div class="contentImpacts">
     @Localization.GetText("This action will delete the column and all the planned and actual values within the column. Would you like to proceed with the deletion?")
    <div class="titlePendingChanges">
         @Localization.GetText("Warning: If you updated other information, please save it before continuing with this action.")
    </div>
</div>

<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="lnkCancelDeleteYear" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>
        <label for="delete">
            <input type="button" value=" @Localization.GetText("Save")" class="btn-primary" id="btnSaveDeleteYear">
        </label>
    </div>
</div>
}
