@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Impacts.ImpactModel

@{
    ViewBag.Title = "Detail";
}

@section JavaScript {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/ResultsMatrix/Common/commonIndicator.js")"></script>
}

@Styles.Render("~/Content/Confluence")

<div>

    <div class="row mb16">
        <div class="col-md-12">
            <div class="floatLeft">
                <a href="@(Url.Action("Index", "Impacts", new { area = "ResultsMatrix", operationNumber = ViewData["operationNumber"] }))">
                    @Confluence.LabelMainTitle(Localization.GetText("Impacts"))
                </a>
            </div>
            <div class="float-right">
                <a href="@(Url.Action("EditDetail", "ImpactIndicator", new { area = "ResultsMatrix", impactIndicatorId = Model.ImpactIndicators[0].ImpactIndicatorId }))">
                    @Confluence.ButtonBlue(Localization.GetText("IM.Edit"), name: "editIndicator")
                </a>
            </div>
        </div>
        <div class="col-md-12 mb50">
            <p class="description">@Model.Statement</p>
        </div>
    </div>

    <div class="row row-header font-header">
        <div class="col-md-4">
            @Localization.GetText("Name")
        </div>
    </div>

    <div class="row row-body-40 font-body">
        <div class="col-md-8">
            @Model.ImpactIndicators[0].Definition
        </div>
    </div>

    <div class="row font-header">
        <div class="col-md-12">
            <h3 class="ml0">@Localization.GetText("Indicator Details")</h3>
        </div>
    </div>

    <div class="row row-header font-header">
        <div class="col-md-4">
            @Localization.GetText("Means of verification")
        </div>
        <div class="col-md-4">
            @Localization.GetText("Observations")
        </div>
    </div>

    <div class="row row-body-50 font-body">
        <div class="col-md-4">
            @Model.ImpactIndicators[0].MeansOfVerification
        </div>
        <div class="col-md-4">
            @Model.ImpactIndicators[0].Observations
        </div>
    </div>

    <div class="row row-header font-header">
        <div class="col-md-12">
            @Confluence.InputCheckbox(
                Model.ImpactIndicators[0].IsAutoCalEop,
                "impactIndicator.IsAutoCalEop",
                label: @Localization.GetText("Add annual values to calculate EOP Targets (Original Planned, Annual Plan and Actual)"),
                disabled: true)
        </div>
    </div>

    <div class="row font-header mb30">
        <div class="col-md-12">
            <h3 class="ml0">@Localization.GetText("Gender and ethnicity flags")</h3>
            <spam class="">@Localization.GetText("RM.IsProGenOrEth")</spam>
        </div>
    </div>

    <div class="row row-body-50 font-body">
        <div class="col-md-12 inlineFlex mb1em">
            <div class="col-md-2">
                @Confluence.InputCheckbox(
                    Model.ImpactIndicators[0].IsProgender,
                    "impactIndicator.IsProgender",
                    label: @Localization.GetText("Pro-Gender"),
                    disabled: true)
            </div>
        </div>
        <div class="col-md-12 inlineFlex mb1em">
            <div class="col-md-2">
                @Confluence.InputCheckbox(
                    Model.ImpactIndicators[0].IsProethnicity,
                    "impactIndicator.IsProethnicity",
                    label: @Localization.GetText("Pro-Ethnicity"),
                    disabled: true)
            </div>
        </div>
    </div>

    <div class="row row-header font-header">
        <div class="col-md-12">
            @Display.IconInformation()
            <span class="information">
                @Localization.GetText("Note: If this Indicator must be disaggregated please enter the disaggregation on the main screen. Use the 'Show disaggregation' option to display Indicators’ disaggregation.")
            </span>
        </div>
    </div>

    <div class="row font-header">
        <div class="col-md-12">
            <h3 class="ml0">@Localization.GetText("Other options")</h3>
            <spam class="hide">@Localization.GetText("OD.SelectOtherOp")</spam>
        </div>
    </div>

    <div class="row row-body-50 font-body">
        <div class="col-md-12 inlineFlex">
            <div class="col-md-4">
                @Confluence.InputCheckbox(
                    Model.ImpactIndicators[0].IsDeactivated,
                    "impactIndicator.IsDeactivated",
                    label: Localization.GetText("Inactivate Impact Indicator"),
                    disabled: true)
            </div>
        </div>
    </div>

</div>
