@using IDB.Architecture.Language

@model IDB.Presentation.MVC4.Areas.OpusMissions.Models.Reports.MissionsReportHeadViewModel

<div id="divResult" class="row mt60">
    <div class="col-md-12 pb10">
        <div class="col-md-6">
            @Confluence.LabelMainTitle(Localization.GetText("OP.MS.ReportFilter.MissionsReport"), dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblTitleMissionsReport" } })
        </div>
        <div class="col-md-6 text-right">
            <img src="@Url.Content("~/Content/images/Logo.png")">
        </div>
    </div>

    <div class="col-md-12 pb10">
        <div class="col-md-6">
            @Confluence.LabelsGroup(
                Localization.GetText("OP.MS.CountryDepartment"), contentAlways: Model.CountryDepartments)
        </div>
        <div class="col-md-6">
            @Confluence.LabelsGroup(
                Localization.GetText("OP.MS.Country"), contentAlways: Model.Countries)
        </div>
    </div>


    <div class="col-md-12 pb10">
        <div class="col-md-6">
            @Confluence.LabelsGroup(
                Localization.GetText("OP.MS.SectorDepartment"), contentAlways: Model.SectorDepartments)
        </div>
        <div class="col-md-6">
            @Confluence.LabelsGroup(
                Localization.GetText("OP.MS.Division"), contentAlways: Model.Divisions)
        </div>
    </div>

    <div class="col-md-12 pb10">
        <div class="col-md-6">
            @Confluence.LabelsGroup(
                Localization.GetText("OP.MS.Type"), contentAlways: Model.Types)
        </div>
        <div class="col-md-6">
            @Confluence.LabelsGroup(
                Localization.GetText("OP.MS.Status"), contentAlways: Model.Status)
        </div>
    </div>

    <div class="col-md-12 pb10">
        <div class="col-md-6">
            @Confluence.LabelsGroup(
                Localization.GetText("OP.MS.ReportFilter.OperationNumber"), 
                contentAlways: Model.OperationNumber)
        </div>
        <div class="col-md-6">
            @Confluence.LabelsGroup(
                Localization.GetText("OP.MS.ReportFilter.MissionMember"), 
                contentAlways: Model.MissionMembers)
        </div>
    </div>

    <div class="col-md-12 pb30">
        <div class="col-md-6">
            @Confluence.LabelsGroup(
                Localization.GetText("OP.MS.StartDate"), contentAlways: Model.StartDate)
        </div>
        <div class="col-md-6">
            @Confluence.LabelsGroup(
                Localization.GetText("OP.MS.EndDate"), contentAlways: Model.EndDate)
        </div>
    </div>
</div>

<div id="tabla01PagContent">
    <table id="tablaPaginationMission" class="tableNormal" data-idb-fieldname="tblTableReportMission">
        <thead>
            <tr>
                <th>@Localization.GetText("OP.MS.ReportFilter.OperationNumber")</th>
                <th>@Localization.GetText("OP.MS.ReportFilter.OperationName")</th>
                <th>@Localization.GetText("OP.MS.MissionId")</th>
                <th>@Localization.GetText("OP.MS.Country")</th>
                <th>@Localization.GetText("OP.MS.ReportFilter.SecDeptDiv")</th>
                <th>@Localization.GetText("OP.MS.Type")</th>
                <th>@Localization.GetText("OP.MS.Status")</th>
                <th>@Localization.GetText("OP.MS.ReportFilter.MissionMembers")</th>
                <th>@Localization.GetText("OP.MS.StartDate")</th>
                <th>@Localization.GetText("OP.MS.EndDate")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objMission in Model.Missions)
            {
                <tr data-id="@objMission.MissionId">
                    <td width="9%"><a href="@Globals.GetSetting("BasePath")Operation/@objMission.OperationNumber" target="_parent">@objMission.OperationNumber</a> </td>
                    <td width="16%"><a href="@Globals.GetSetting("BasePath")Operation/@objMission.OperationNumber" target="_parent">@objMission.OperationName</a> </td>
                    <td width="8%"><a href="@Url.Action("MissionCompleteView", "View", new { area = "OpusMissions", missionId = objMission.MissionId })">@objMission.MissionCode</a> </td>
                    <td width="9%">@objMission.CountryDescription</td>
                    <td width="9%">@objMission.secDeptDivDescription</td>
                    <td width="10%">@objMission.TypeDescription</td>
                    <td width="10%">@objMission.StatusDescription</td>
                    <td width="12%">@objMission.MissionMember</td>
                    <td width="9%">@objMission.StartDate</td>
                    <td width="8%">@objMission.EndDate</td>
                </tr>
            }
        <tbody>
    </table>
</div>
