@using IDB.Presentation.MVC4.Helpers
<div id="reportMissionsId">
    <div class="row">
        <div class="col-md-12 pb20">
            <div class="col-md-4">
                @Confluence.LabelsGroup(
                title: Localization.GetText("OP.MS.CountryDepartment"),
                             contentAlways: ControlTemplatesPCR.DropDownSelectReport("countryDepartmentListFront", (List<System.Web.Mvc.SelectListItem>)ViewBag.CountryDepartmentList, true, "select-monitoring-report", 6, false) )
            </div>

            <div class="col-md-4">
                @Confluence.LabelsGroup(
            title: Localization.GetText("OP.MS.SectorDepartment"),
                              contentAlways: ControlTemplatesPCR.DropDownSelectReport("sectorDepartmentListFront", (List<System.Web.Mvc.SelectListItem>)ViewBag.SectorDepartmentList, true, "select-monitoring-report", 6, false))
            </div>

            <div class="col-md-4">
                @Confluence.LabelsGroup(title: Localization.GetText("OP.MS.Type"),
                                  contentAlways: ControlTemplatesPCR.DropDownSelectReport("typeListFront", (List<System.Web.Mvc.SelectListItem>)ViewBag.TypeList, true, "select-monitoring-report", 6, false))
            </div>

        </div>

        <div class="col-md-12 pb20">
            <div class="col-md-4">
                @Confluence.LabelsGroup(title: Localization.GetText("OP.MS.Country"),
                           contentAlways: ControlTemplatesPCR.DropDownSelectReport("countryListFront", (List<System.Web.Mvc.SelectListItem>)ViewBag.CountryList, true, "select-monitoring-report", 6, true))
            </div>
            <div class="col-md-4">
                @Confluence.LabelsGroup(title: Localization.GetText("OP.MS.Division"),
                      contentAlways: ControlTemplatesPCR.DropDownSelectReport("divisionListFront", (List<System.Web.Mvc.SelectListItem>)ViewBag.DivisionList, true, "select-monitoring-report", 6, true))
            </div>
            <div class="col-md-4">
                @Confluence.LabelsGroup(title: Localization.GetText("OP.MS.Status"),
                      contentAlways: ControlTemplatesPCR.DropDownSelectReport("statusListFront", (List<System.Web.Mvc.SelectListItem>)ViewBag.StatusList, true, "select-monitoring-report", 6))
            </div>
        </div>

        <div class="col-md-12 pb20">
            <div class="col-md-4">
                @Confluence.LabelsGroup(title: Localization.GetText("OP.MS.ReportFilter.OperationNumber"),
                                 contentAlways: Confluence.InputText(value: "", name: "txtMissionNumber", width: "30%", 
                                 dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtTxtMissionNumber" } }))

            </div>
            <div class="col-md-4">
                @Confluence.LabelsGroup(title: Localization.GetText("OP.MS.ReportFilter.MissionMember"),
                                 contentAlways: Confluence.InputText(value: "", name: "txtMissionMembers", width: "100%", 
                                 dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtTxtMissionMembers" } }))
            </div>
        </div>
        <div class="col-md-12 pb20">
            <div class="col-md-4">
                @Confluence.LabelsGroup(title: Localization.GetText("OP.MS.StartDate"),
                                   contentAlways: Confluence.InputDatePicker(value: null, name: "txtStartDate", isReadOnly: true, 
                                   dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "dtpTxtStartDate" } }))
            </div>
            <div class="col-md-4">
                @Confluence.LabelsGroup(title: Localization.GetText("OP.MS.EndDate"),
                                    contentAlways: Confluence.InputDatePicker(value: null, name: "txtEndDate", isReadOnly: true, 
                                    dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "dtpTxtEndDate" } }))
            </div>
        </div>
    </div>
</div>
