@using IDB.MW.Domain.Values.Ver
@model IDB.MW.Application.VERModule.ViewModels.VerViewModel

@{ var tabs = new Dictionary<string, string>
   {
       {"tabDocuments", Localization.GetText("VER.Homepage.TabDocuments.Title")},
       {"tabHistoryVersion", Localization.GetText("VER.Homepage.TabHistoryVersion.Title")},
       {"tabParticipants", Localization.GetText("VER.Homepage.TabParticipants.Title")},
       {"tabTasks", Localization.GetText("VER.Homepage.TabTasks.Title")},
       {"tabRemarks", Localization.GetText("VER.Homepage.TabRemarks.Title")}
   };

    if (Model.PolicyWaiver != null && Model.PolicyWaiver.IsVisibleTab)
    {
        tabs.Add(VerGlobalValues.TAB_POLICY_WAIVER, Localization.GetText("VER.Homepage.TabPolicyWaiver.Title"));
    }
}

@Confluence.Tabs(tabs)

<div id="TabsZone" class="tab-content">

    <div class="tab-pane" id="tabDocuments" data-idb-fieldname="@VerGlobalValues.TAB_DOCUMENT_NAME"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("SaveDocument", "VirtualEditingRoom", new {area = "VER"})"
         data-loadurl="@Url.Action("DocumentContent", "VirtualEditingRoom", new {area = "VER", instanceId = Model.InstanceId})">
        @if (Model.Document != null)
        {
            @Html.Partial("Partials/Tabs/DocumentsPartial", Model.Document)
        }
    </div>

    <div class="tab-pane" id="tabHistoryVersion" data-idb-fieldname="@VerGlobalValues.TAB_HISTORY_VERSION_NAME"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-loadurl="@Url.Action("VersionHistoryContent", "VirtualEditingRoom", new {area = "VER", instanceId = Model.InstanceId})">
        @if (Model.VersionHistory != null)
        {
            @Html.Partial("Partials/Tabs/VersionHistoryPartial", Model.VersionHistory)
        }
    </div>

    <div class="tab-pane" id="@VerGlobalValues.TAB_PARTICIPANT_NAME"
         data-idb-fieldname="tabParticipants"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("SaveParticipant", "VirtualEditingRoom", new {area = "VER"})"
         data-loadurl="@Url.Action("ParticipantContent", "VirtualEditingRoom", new {area = "VER", instanceId = Model.InstanceId})">
        @if (Model.Participant != null)
        {
            @Html.Partial("Partials/Tabs/ParticipantsPartial", Model.Participant)
        }
    </div>

    <div class="tab-pane active" id="tabTasks" data-idb-fieldname="@VerGlobalValues.TAB_TASK_NAME"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("SaveTask", "VirtualEditingRoom", new {area = "VER"})"
         data-loadurl="@Url.Action("TaskContent", "VirtualEditingRoom", new {area = "VER", instanceId = Model.InstanceId})">

        @if (Model.Task != null)
        {
            @Html.Partial("Partials/Tabs/TasksPartial", Model.Task)
        }
    </div>

    <div class="tab-pane" id="tabRemarks" data-idb-fieldname="@VerGlobalValues.TAB_REMARKS"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]">
        @if (Model.Remarks != null)
        {
            @Html.Partial("Partials/Tabs/TabRemarks", Model.Remarks)
        }
    </div>

    @if (Model.PolicyWaiver != null && Model.PolicyWaiver.IsVisibleTab)
    {
        <div class="tab-pane" id="@VerGlobalValues.TAB_POLICY_WAIVER"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-url="@Url.Action("SavePolicyWaiver", "VirtualEditingRoom", new {area = "VER", instanceId = Model.InstanceId})"
             data-loadurl="@Url.Action("PolicyWaiverContent", "VirtualEditingRoom", new {area = "VER", instanceId = Model.InstanceId})">
            @if (Model.PolicyWaiver != null)
            {
                @Html.Partial("Partials/Tabs/PolicyWaiverPartial", Model.PolicyWaiver)
            }
        </div>
    }
</div>