@using IDB.Presentation.MVC4.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>IDB</title>
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    @Styles.Render("~/Content/Confluence")
    @Styles.Render("~/Content/overrides/vervmrOverride.css")
    @if (ViewBag.fixLoad == true)
    {
        <link href="~/Content/overrides/fixLoad.css" rel="stylesheet" />
    }
    @{Html.RenderPartial("~/Views/Shared/TrackingHeader.cshtml");}
</head>
<body>




    @Confluence.Loader(null, (bool?)ViewBag.showLoader)

    <section class="container-fluid">
        <div id="header-section">
            @RenderSection("Header", required: false)
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
    @RenderSection("scripts", false)
    @Html.WriteScriptBlocks()

    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <script type="text/javascript">
            ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
            registerCallback(function () {
                showMessage("@ViewBag.ErrorMessage", false);
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
        </script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            initializeGlobalLoader();

            $('.message-warning').click(function () {
                $(this).hide(500);
            });
        });
    </script>


    <section class="container-fluid">
        @RenderBody()
    </section>

    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
</body>
</html>
