@using IDB.MW.Domain.Values
<div class="row" id="filterParticipant" data-parsley-validate="data-parsley-validate" data-parsley-excluded="[disabled]">
    <div class="col-md-12">
        <div id="lblParticipantsType" class="col-md-5">
            @Localization.GetText("VMR.MM.MeetingRoom.TabParticipants.ParticipantsType")
        </div>
        <div id="lblSearchBy" class="col-md-7">
            @Localization.GetText("VMR.MM.MeetingRoom.TabParticipants.SearchBy")
        </div>
        <div id="ddlParticpantType" class="col-md-5">
            <span data-pagemode="edit">
                @Confluence.InputDropDown("", "participantTypePartial", (List<SelectListItem>)ViewBag.ParticipantsTypeList, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlParticipantType" } }, width: "99%")
            </span>
        </div>
        <div class="col-md-4 w180 pr0">
            <span data-pagemode="edit">
                @Confluence.InputRadioButton(ModuleAccessLevelCode.ROLE, "accessType", isChecked: false, label: Localization.GetText("VMR.MM.MeetingRoom.TabParticipants.Role"), id: "accessType")
            </span>
        </div>
        <div class="col-md-2 pr0">
            <span data-pagemode="edit">
                @Confluence.InputRadioButton(ModuleAccessLevelCode.USER, "accessType", isChecked: true, label: Localization.GetText("VMR.MM.MeetingRoom.TabParticipants.User"), id: "accessType")
            </span>
        </div>
    </div>
    <div class="col-md-12 hide mt20" data-type="formAccess" data-parent="@ModuleAccessLevelCode.ROLE">
        <div class="col-md-5">
            @Localization.GetText("VMR.MM.MeetingRoom.TabParticipants.Role")
        </div>
        <div class="col-md-4">
            @Localization.GetText("VMR.MM.MeetingRoom.TabParticipants.OrganizationUnit")
        </div>
        <div class="col-md-5">
            <span data-pagemode="edit">
                @Confluence.InputDropDown(null, "rolePartial", (List<SelectListItem>)ViewBag.RoleList, width: "100%")
            </span>
        </div>
        <div class="col-md-4">
            <span data-pagemode="edit">
                @Confluence.InputDropDown(null, "organizationUnitPartial", (List<SelectListItem>)ViewBag.OrganizationUnit)
            </span>
        </div>
    </div>
    <div class="col-md-12 mt20" data-type="formAccess" data-parent="@ModuleAccessLevelCode.USER">
        <div class="col-md-5">
            @Localization.GetText("VMR.MM.MeetingRoom.TabParticipants.User")
        </div>
        <div class="col-md-4">
            @Localization.GetText("VMR.MM.MeetingRoom.TabParticipants.OrganizationUnit")
        </div>
        <div class="col-md-5">
            @Confluence.InputDropDownAsync(null, "userName", Url.Action("GetUsersList", "MeetingRoom", new { area = "VMR" }), required: true, width: "100%")
        </div>
        <div class="col-md-4" id="orgUnit">
        </div>
        @Confluence.InputHidden("", "orgUnitId")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        resetFilter();
    }
        );
</script>