@using IDB.Presentation.MVC4.Helpers

@model IDB.MW.Domain.Models.OperationProfile.FinancingData.LoanExpenseCategoryModel
@{
    ViewBag.Title = "Index";
}

@section JavaScript
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/OperationProfile/Loan/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/OperationProfile/Loan/jquery.tablesorter.min.js")"></script>
    <link type="text/css" href="@Url.Content("~/Content/Modules/OperationProfile/FinancingData/FinancingCSS.css")" rel="stylesheet" />
}


@Html.Hidden("hdnExpenseUrl", Url.Action("ExpenseCategories", "Loan", new { area = "OperationProfile" }))

<div class="mod_contenido_central">



    @if (Model != null)
    {
@* set hidden fields *@
        <input type="Hidden" id="hdnUserId" value="@ViewData["userId"]" />
        <input type="Hidden" id="hdnOperationNumber" value="@ViewData["operationNumber"]" />
        <input type="Hidden" id="hdnLoanNumber" value="@ViewData["loanNumber"]" />

        <h3 class="headingh2">
            <a class="tipo1" href="@(Url.Action("Index", "FinancingData", new { OperationNumber = @ViewData["operationNumber"], displayAsGroup = @ViewData["displayAsGroup"].ToString().ToLower(), area = "OperationProfile" }))" title="Go back to Financing Data">@Localization.GetText("Financing Data")</a>
        </h3>
        <p class="headingh3">@Localization.GetText("Detailed loan") @Model.Loan.LoanNumber</p>
        <p class="headingh3">@Localization.GetText("Basic data")</p>
        <div class="operationData">
            <div class="dataCol">
                <div class="data DivData">
                    <p class="dataTitle" title="@Localization.GetText("Project Number")">@Localization.GetText("Operation Number")</p>
                    <p>@Model.Loan.OperationNumber</p>
                </div>
                <div class="data DivData">
                    <p class="dataTitle" title="@Localization.GetText("Operation Status")">@Localization.GetText("Loan Stage")</p>
                    <p>@Model.Loan.LoanStage</p>
                </div>
                <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Borrower")</p>
                    <p>@Model.Loan.Borrower</p>
                </div>

            </div>
            <div class="dataCol">
                @* <div class="data DivData">
                    <p class="dataTitle">Loan Number</p>
                    <p>@Model.Loan.LoanNumber</p>
                </div>*@
                <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Executing Agency")</p>
                    <p>@Model.Loan.ExecutingAgency</p>
                </div>
                <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Fund")</p>
                    <p>@Model.Loan.Fund</p>
                </div>
            </div>
            <div class="dataCol">
                <div class="data DivData">
                    <p class="dataTitle" title="@Localization.GetText("Original approved Amount")">@Localization.GetText("Original IDB")</p>
                    <p>@String.Format("{0:n}", Model.Loan.OriginalIDB)</p>
                </div>
                <div class="data DivData">
                    <p class="dataTitle" title="@Localization.GetText("Disbursed  Amount")">@Localization.GetText("Disb. Amount to Date")</p>
                    <p>@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.Loan.DisbursedToDate))</p>
                </div>
                <div class="data DivData">
                    <p class="dataTitle">% @Localization.GetText("Disbursed")</p>
                    <p>@Html.SafeEncodeString(Model.Loan.DisbursedPercentage.ToString()) %</p>
                </div>
                @*<div class="data DivData">
                    <p class="dataTitle">Commitments</p>
                    <p>@String.Format("{0:n}", Model.Loan.Commitments)</p>
                </div>*@
            </div>
            <div class="dataCol">
                <div class="data DivData">
                    <p class="dataTitle" title="@Localization.GetText("Current approved Amount")">@Localization.GetText("Current IDB")</p>
                    <p>@String.Format("{0:n}", Model.Loan.CurrentIDB)</p>
                </div>

                <div class="data DivData">
                    <p class="dataTitle" title="@Localization.GetText("Available Balance")">@Localization.GetText("Undisbursed Balance")</p>
                    <p>@String.Format("{0:n}", Model.Loan.Balance)</p>
                </div>


                <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Cancellations")</p>
                    <p>@String.Format("{0:n}", Model.Loan.Cancellations)</p>
                </div>
            </div>
            <div class="dataCol">
                <div class="data DivData">
                    <p class="dataTitle" title="@Localization.GetText("Signature date")">@Localization.GetText("Date of signature")</p>
                    <p>@String.Format("{0:dd MMM yyyy}", @Model.Loan.SignatureDate) </p>
                </div>
                <div class="data DivData">
                    <p class="dataTitle" title="@Localization.GetText("Effective date")">@Localization.GetText("Date of legal effectiveness")</p>
                    <p>@String.Format("{0:dd MMM yyyy}", @Model.Loan.LegalEffectivenessDate)</p>
                </div>
                <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Partial Eligibility")</p>
                    <p>@ViewBag.PartialEligibility</p>
                </div>
                
                <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Original Disb. Expiration Date")</p>
                    <p>@String.Format("{0:dd MMM yyyy}", @Model.Loan.OriginalDisbursementExpirationDate)</p>
                </div>
                
                

                 <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Amortization Period")</p>
                    <p><strong>@Model.Loan.AmortizationPeriod</strong> @Localization.GetText("months")</p>
                </div>

            </div>
            <div class="dataCol">
                <div class="data DivData">
                    <p class="dataTitle" title="@Localization.GetText("Ratification date")">@Localization.GetText("Date of Ratification")</p>
                    <p>@String.Format("{0:dd MMM yyyy}", @Model.Loan.RatificationDate)  </p>
                </div>
                <div class="data DivData">
                    <p class="dataTitle" title="@Localization.GetText("Eligibility date")">@Localization.GetText("Total Elegibility")</p>
                    <p>@String.Format("{0:dd MMM yyyy}", @Model.Loan.TotalElegibilityDate)</p>
                </div>

                <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Current Disb. Expiration Date")</p>
                    <p>@String.Format("{0:dd MMM yyyy}", @Model.Loan.CurrentDisbursementExpirationDate)</p>
                </div>

                <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Cumulative Extension")</p>
                    <p><strong>@Model.Loan.CumulativeExtension</strong> @Localization.GetText("months")</p>
                </div>

                <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Date of First Disbursement")</p>
                    <p>@String.Format("{0:dd MMM yyyy}", @Model.Loan.FirstDisbursementDate)</p>
                </div>
            </div>
        </div>

        <p class="headingh3" title="@Localization.GetText("Category Summary Balance")">@Localization.GetText("Category Balance")</p>
            
        int countExpenseCategories = Model.ExpenseCategories.Count();

        foreach (var expenseCategoryModel in @Model.ExpenseCategories)
        {
            if (expenseCategoryModel.ExpenseCategory.Length <= 0 || expenseCategoryModel.ExpenseCategory == " - ")
            {
                countExpenseCategories--;
            }
        }

        if (countExpenseCategories > 0)
        {
        <div class="mod_tabla" style="width: 90%">
            <div class="verticalMargin20 leftPadding40" style="font-size: 80%; margin-bottom: 4%;">
                <div class="informationStatement leftPadding40">@Localization.GetText("Some amounts may not add to totals presented in other screens due to variations in exchange rates and distribution of balances in the corresponding categories")</div>
            </div>
            <div class="k-grid k-widget k-secondary">
                <table class="grid2 k-selectable" id="TableFinancingDataDetails" data-role="grid" role="grid">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="k-grid-header">
                        <tr>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 18%" data-field="ExpenseCategory" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#" title="@Localization.GetText("Category Number")">@Localization.GetText("Expense Category")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="CurrentIDB" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Current IDB")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="DisbursedToDate" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Disbursed (to date)")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="DisbursedPercentage" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">% @Localization.GetText("Disbursed (to date)")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="@Localization.GetText("Undisbursed Balance")" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Undisbursed Balance")</a></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var expenseCategoryModel in @Model.ExpenseCategories)
                        {
                            if (expenseCategoryModel.ExpenseCategory.Length > 0 && expenseCategoryModel.ExpenseCategory != " - ")
                            {
                            <tr role="row">
                                <td role="gridcell">
                                    <div style="text-align: left">@expenseCategoryModel.ExpenseCategory</div>
                                </td>
                                <td role="gridcell">
                                    <div style="text-align: right; padding-right: 5px">@String.Format("{0:n}", expenseCategoryModel.CurrentIDB)</div>
                                </td>
                                <td role="gridcell">
                                    <div style="text-align: right; padding-right: 5px">@String.Format("{0:n}", expenseCategoryModel.DisbursedToDate)</div>
                                </td>
                                <td role="gridcell">
                                    <div style="text-align: right; padding-right: 5px">@Html.SafeEncodeString(expenseCategoryModel.DisbursedPercentage.ToString()) %</div>
                                </td>
                                <td role="gridcell">
                                    <div style="text-align: right; padding-right: 5px">@String.Format("{0:n}", expenseCategoryModel.Balance)</div>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        }
        else
        {
        <div class="mod_tabla" style="width: 90%">
            <div class="k-grid k-widget k-secondary">
                <table class="grid2 k-selectable" data-role="grid" role="grid">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="k-grid-header">
                        <tr>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 18%" data-field="ExpenseCategory" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Expense Category")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="CurrentIDB" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Current IDB")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="DisbursedToDate" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Disbursed (to date)")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="DisbursedPercentage" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">% @Localization.GetText("Disbursed (to date)")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="@Localization.GetText("Undisbursed Balance")" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Undisbursed Balance")</a></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        }
    }
    else
    {
        <p class="headingh3">@Localization.GetText("Error processing the request required ... Please try again")</p>
    }
</div>


