@{
    ViewBag.Title = "Delete Document OperationRisks";
}

<script>
    $(document).ready(function () {
        $("#CancelWarningDialog").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#actionConfirmed").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            var route = $("#DeleteDocument").val();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            if (route != '')
                redirectPage(route);
        });
    });
</script>

@Html.Hidden("DeleteDocument", Url.Action("DeleteDocument", "OperationRisk", new { area = "Risks", operationNumber = ViewData["operationNumber"], OperationRiskID = ViewData["OperationRiskID"], documentId = ViewData["documentId"] }))

<div style="padding: 20px;">
     @Localization.GetText("This action cannot be undone, are you sure you wish to continue?")
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialog" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>
        <label for="deleteItem">
            <input type="button" value=" @Localization.GetText("OK")" class="btn-primary" id="actionConfirmed">
        </label>
    </div>
</div>
