@using IDB.MW.Domain.Models.Architecture.Risks;
@model IDB.MW.Domain.Models.Risks.OperationRiskViewModel

@{
    ViewBag.Title = "Details";
    var listRiskStatus = this.ViewBag.listRiskStatus;
    var listRiskType = this.ViewBag.listRiskType;
    var listRiskTargetAudience = this.ViewBag.listRiskTargetAudience;
    List<Tuple<int, int, string>> listRiskProbability = this.ViewBag.listRiskProbability;
    List<Tuple<int, int, string>> listRiskImpact = this.ViewBag.listRiskImpact;
    List<Tuple<string, decimal, decimal>> listRangeRiskLevel = this.ViewBag.listRangeRiskLevel;
}

@section JavaScript {
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Risks/kendo.everis.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Risks/esmartGeneral.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Risks/general.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")"/>
    @*    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Risks/ui_ri_002.css")"/>
    <!-- JS Files -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.3.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Risks/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Clauses/Clause/foldingTable/tableFold.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Clauses/Clause/foldingTable/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Clauses/Clause/Filter/filter.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Clauses/Contract/mainRisk.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/menuLateral.js")"></script>
}




<div id="ui_ri_001" class="padding20 everisWidth">
    <div class="relative h50px verticalMargin20">
        <div class="absolute">
            <h3 class="font2em inline-block boldFont">@Localization.GetText("Risks")</h3>
        </div>
        <div class="rightAlign absolute absRight">
            @*<input type="button" class="button blueButton" value="Edit">*@
            @*<input type="button" class="button blueButton" value="New risk">*@
            <input type="button" class="button blueButton" value="Edit" id="editBtn1" data-route="@(Url.Action("Edit", "OperationRisk", new { area = "Risks", operationNumber = Model.OperationNumber }))">
            <a href="@(Url.Action("Create", "Risk", new { area = "Risks", operationNumber = Model.OperationNumber, operationId = Model.OperationId, riskModel = Model }))">
                <input type="button" class="button blueButton" value="@Localization.GetText("New risk")">
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class="verticalMargin20">
        <div class="operationData dataDetails">
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("PMR Cycle")</p>
                <p>@Localization.GetText("Under Execution")</p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Last Update")</p>
                <p>@String.Format("{0:dd MMM yyyy}", @Model.LastUpdate)</p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("PMR Validation Stage")</p>
                <p>@String.Format("{0:dd MMM yyyy}", @Model.PmrValidationStage)</p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Chief of Operations Validation Date")</p>
                <p>@String.Format("{0:dd MMM yyyy}", @Model.CoValidationDate)</p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Division Chief of Validation Date")</p>
                <p>@String.Format("{0:dd MMM yyyy}", @Model.DcValidationDate)</p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Country Representative Validation Date")</p>
                <p>@String.Format("{0:dd MMM yyyy}", @Model.CrValidationDate)</p>
            </div>
        </div>
        <div class="operationData">
            <div class="listWrapper">
                <dl class="ftl w45">
                    <dt class="dataTitle">@Localization.GetText("Overall Operation risk")</dt>
                    <dd class="dataText">@Model.OperationRiskLevel</dd>
                </dl>
                <div class="ftl w45">
                    <dt class="dataTitle">@Localization.GetText("ESG classification value")</dt>
                    <dd class="dataText">@Model.ESGClassification</dd>
                </div>
            </div>
        </div>
    </div>

    <br />

    @*    <div>


        <div class="operationData dataDetails">
            <input id="showFilterButtonRisks" type="button" class="button blueButton" value="Filter" style="position: Relative; left: 93%;">
        </div>
    </div>*@
    <br />
    <br />
    <br />
    <br />
    <br />
    @Html.HiddenFor(x => x.OperationNumber, new Dictionary<string, Object> { { "id", "operationNumber" } })
    