@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.Enums

@model IDB.Presentation.MVC4.Areas.MrBlue.Models.SafeguardToolkitButtonsViewModel


<div class="new-modal-content hide" id="alertCancel">
    <div data-content="textModal">
        @Localization.GetText("MrBlue.SafeguardToolkit.QuestionnarieCreated.Message")
        </div>
    </div>

<div data-id="headerButtons" class="float-right">
    @if(Model.ShowCancel)
    {
        if(Model.isStep2)
        {
            @Confluence.ButtonLink(
            Localization.GetText("Cancel"),
            name : "buttonCancel",
            dataNavigation : Url.Action("SafeguardToolkitRedirect",
                            "SafeguardToolkit",
                            new
                            {
                                area = "MrBlue",
                                versionId = Model.VersionId,
                                fromStep = Model.Step,
                                navigator = StepNavigatorEnum.Cancel
                            })
            )
        }
        else
        {
            @Confluence.ButtonLink(
            Localization.GetText("Cancel"),
            name : "buttonCancelRedirect",
            dataAttributes : new Dictionary<string, string> {
            {"modal-allowclose", "true"},
            {"custom-modal", "alertCancel"},
            {"custom-modal-title", " "},
            {"custom-modal-onclose","clickModelDashboard"},
            {"custom-modal-closeonoverlayclick","true"},
            {"url",Url.Action("SafeguardToolkitRedirect", "SafeguardToolkit",
            new { area = "MrBlue", versionId = Model.VersionId,
            fromStep = Model.Step,
            navigator = StepNavigatorEnum.Cancel })}})
        }
    }

    @if(Model.ShowBack)
    {
        @Confluence.ButtonBlue(
        " << " + Localization.GetText("MrBlue.Back"),
        name : "buttonBack",
             dataNavigation : Url.Action("SafeguardToolkitRedirect",
                              "SafeguardToolkit",
                              new
                              {
                                  area = "MrBlue",
                                  versionId = Model.VersionId,
                                  fromStep = Model.Step,
                                  navigator = StepNavigatorEnum.Back,
                                  creationMode = SafeguardToolkitCreationModeEnum.Draft
                              })
        )

    }

    @if(Model.ShowSave)
    {
        @Confluence.ButtonOrange(
        Localization.GetText("MrBlue.SaveDraft"),
        name : "buttonSave",
        action : "save")
    }

    @if(Model.ShowFinalize)
    {
        @Confluence.ButtonOrange(
        Localization.GetText("MrBlue.Finalize"),
        name : "buttonFinalize",
        action : "finalize"
)
    }

    @if(Model.ShowNext)
    {
        @Confluence.ButtonBlue(
        Localization.GetText("MrBlue.Next") + " >> ",
        name : "buttonNext",
        action : "next")
    }

    @if(Model.ShowClose)
    {
        @Confluence.ButtonBlue(Localization.GetText("MrBlue.Close"),
        name : "buttonClose",
        dataNavigation : Url.Action("SafeguardToolkitRedirect",
                        "SafeguardToolkit",
                        new
                        {
                            area = "MrBlue",
                            versionId = Model.VersionId,
                            fromStep = Model.Step,
                            navigator = StepNavigatorEnum.Cancel
                        })
        )
    }

</div>
