@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using System.Globalization
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.SafeguardToolkit
@using IDB.Presentation.MVC4.Areas.MrBlue.Models
@using IDB.Presentation.MVC4.Areas.MrBlue.Enums
@using IDB.MW.Application.MrBlueModule.Enums

@model SafeguardToolkitStep6ViewModel


<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

@Confluence.InputHidden(value: Model.SafeguardToolkitId.ToString(), name: "SafeguardToolkitId")
@Confluence.InputHidden(value: Model.SafeguardToolkitDate.ToString(), name: "SafeguardToolkitDate")

@*@if(Model.HasSPFDocument)
{*@
    <div class="row  mb20">
        <div class="col-md-12">
            @Confluence.LabelTitleGroup(Localization.GetText("MrBlue.SafeguardToolkit.Step6.SPFReportTitle"))
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-5">
            @Confluence.Paragraph(Localization.GetText("MrBlue.SafeguardToolkit.Step6.SPFReportParagraph"))
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-12">
            @{var secureUrlSPF = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(Model.DocumentNumberSPF);
                <a href=@secureUrlSPF target="_blank" data-toggle="tooltip" title="SPF">
                    @Confluence.ButtonPdf(name: "PDF_SPF")
                </a>
            }
        </div>
    </div>

@*}*@

@if (Model.HasSSFDocument)
{
    <div class="row  mb20">
        <div class="col-md-12">
            @Confluence.LabelTitleGroup(Localization.GetText("MrBlue.SafeguardToolkit.Step6.SSFReportTitle"))
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-4">
            @Confluence.Paragraph(Localization.GetText("MrBlue.SafeguardToolkit.Step6.SSFReportParagraph"))
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-12">
            @{var secureUrlSSF = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(Model.DocumentNumberSSF);
                <a href=@secureUrlSSF target="_blank" data-toggle="tooltip" title="SSF">
                    @Confluence.ButtonPdf(name: "PDF_SSF")
                </a>
            }
        </div>
    </div>
}



<br /><br />