@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers

@model IDB.MW.Domain.Models.Global.CompleteTaskViewModel

<input hidden data-idb-pagename="Missions-TaskDetail-Mode" />

<div class="page pageWorkFlow" id="pageContent" data-parsley-validate="data-parsley-validate"
     data-parsley-excluded="[disabled]"
     data-ignore-nullable-values="true"
     data-loadurl=""
     data-url="@Url.Action("SaveWG", "Tasks", new { area = "Global" })">
    <input type="hidden" id="hiddenModel" value="@ViewBag.SerializedViewModel" />
    <span data-pagemode="edit">
        <input type="hidden" name="changeStatus" value="none" />
        <input type="hidden" name="taskTypeCode" value="@ViewBag.TaskTypeCode" />
        <input type="hidden" name="Type" value="@ViewBag.Type" />
        <input type="hidden" name="IsHaiti" value="@ViewBag.IsHaiti" />
        <input type="hidden" name="modalTag" value="" />
    </span>

    @if (Model.HasValidator.Value)
    {
        <div class="row row-body-40" id="workflowValidators">
            @Html.Partial("Partials/DataListViews/WorkflowValidators", Model)
        </div>
    }
    <div class="row row-body-40">
        <div class="col-md-12">
            @Confluence.LabelSubTitleGroup(text: Localization.GetText("OP.MS.MissionsWorkflow.Instructions"), htmlClass: "bold")
            <p class="mt20 mb10">@Html.Raw(Localization.GetText(Model.Instructions))</p>
        </div>
    </div>
    @if (Model.HasComment.Value)
    {
        <div class="row row-body-40" id="workflowComments">
            <div class="col-md-12">
                @Html.Partial("Partials/DataListViews/WorkflowComments", Model)
            </div>
        </div>
    }
    @if (Model.HasDocument.Value)
    {
        <div class="row row-body-40" id="workflowDocuments">
            <div class="col-md-12">
                @Html.Partial("Partials/DataListViews/WorkflowDocuments", Model)
            </div>
        </div>
    }
    <div class="row" id="footer-section">
        <div class="col-md-12">
            <span class="text-right">@Html.Partial("Partials/Controls/WorkflowTaskButtons", Model)</span>
        </div>
    </div>
</div>

