@using IDB.Presentation.MVC4.Helpers
<!DOCTYPE html>
<html>
<head>
    @*@if (!Globals.GetSetting("SecurityMode", string.Empty).Equals("Local"))
        {
            <!-- Walkme -->
            <script type="text/javascript">
                (
                    function () {
                        var walkme = document.createElement('script');
                        walkme.type = 'text/javascript';
                        walkme.async = true;
                        walkme.src = '@Globals.GetSetting("WalkMeKey")';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(walkme, s);
                        window._walkmeConfig = { smartLoad: true };
                    })();
            </script>
            <!-- performance tracking end -->
        }*@

    <title>IDB</title>
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    @Styles.Render("~/Content/Confluence")
    <link href="~/Content/overrides/opusOverride.css" rel="stylesheet" />
    @{Html.RenderPartial("~/Views/Shared/TrackingHeader.cshtml");}
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/scripts")
    
    @if (ViewData["message"] != null)
    {
        @Html.ShowNotificationMessage((MessageConfiguration)ViewData["Message"]);
    }
@Html.ScriptBlock(
    @<script type="text/javascript">
        idbg.config.basePath = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
        idbg.config.baseSharePointAddress = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
        idbg.config.language = '@Localization.CurrentLanguage';
        idbg.init();
    </script>
    )
    @Confluence.Loader()

    <section class="container-fluid">
        @RenderBody()
    </section>
   

    @* Security for field was removed for the moment *@
    @*@Scripts.Render("~/Scripts/fieldbehavior.js")*@
    @RenderSection("scripts", false)
    @Html.WriteScriptBlocks()
    @if(!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <script type="text/javascript">
            ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
            registerCallback(function () {
                showMessage("@ViewBag.ErrorMessage", false);
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
        </script>
    }
    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
</body>

</html>
