@model IDB.Presentation.MVC4.Areas.ActivityProgram.Models.AAPViewModel

<div id="containerAAP">
    <div class="col-md-12 mt30 mb40">
        @Confluence.LabelMainTitle(Localization.GetText("AAP.Label.AnnualActivityProgram") + " " + Model.YearNowDefault)
    </div>
    <div class="col-md-12">
        <div class="col-md-6 pl0 pr0">
            <div class="col-md-6 mt5 pl0">
                @Confluence.LabelSubTitleGroup(Localization.GetText("AAP.Label.Year"))
            </div>
        </div>
        <div class="col-md-6 pl0 pr0">
            @if( Model.DataUser.PermissionsUser != null && (Model.DataUser.PermissionsUser.Any(x => x.Contains(Permission.AAP_ACTIVITY_ADMIN)) ||
                Model.DataUser.PermissionsUser.Any(x => x.Contains(Permission.AAP_TEAM_MEMBER_WRITE)) && Model.CurrentYear == Model.YearNowDefault ||
                Model.DataUser.PermissionsUser.Any(x => x.Contains(Permission.AAP_GLOBAL_MANAGEMENT_WRITE) && Model.CurrentYear == Model.YearNowDefault)))
            {
                @Confluence.ButtonBlue(Localization.GetText("AAP.Button.Edit"), "name", "EditActivityProgram", htmlClass: "pull-right")
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6 pl0 pr0">
            <div class="col-md-4 pl0">
                @Confluence.InputDropDown(value: Model.YearNowDefault, name: "dropDownYearActivity", elements: Model.YearsDropDwn, validateOnChange: true, showEmptyOption: false, placeholder: null, width: "120px")
            </div>
        </div>
    </div>
    <div class="col-md-12 mt20">
        @Confluence.InputDropDown(value: Model.DisplayDefault, name: "dropDownDisplayed", elements: Model.DisplayedDropDwn, validateOnChange: true, showEmptyOption: false, placeholder: null, width: "120px")
    </div>
    <div class="col-md-12">
        <div class="col-md-6 mt25 pl0">
            @Confluence.LabelBold(Model.ActOp.Count + " " + Localization.GetText("AAP.Label.Results"))
        </div>
        <div class="col-md-6 pr0">
            @if (Model.ActOp.Count > 0)
            {
                @Confluence.ButtonExcel("xls", "ExportFileAAP", clase: "pull-right mr0")
                @Confluence.ButtonPdf("pdf", "ExportFileAAP", clase: "pull-right")
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 pr0 pl0">
            <table id="activityTable" class="tableNormal mb10">
                <thead>
                    <tr>
                        <th class="sort w120">@Localization.GetText("AAP.GridHeader.ID")</th>
                        <th class="sort w190">@Localization.GetText("AAP.GridHeader.WBSNumber")</th>
                        <th class="sort">@Localization.GetText("AAP.GridHeader.ActivityDescription")</th>
                        @*<th class="sort w150">@Localization.GetText("AAP.GridHeader.Cost")</th>*@
                        <th class="sort w150">@Localization.GetText("AAP.GridHeader.OrganizationalUnit")</th>
                        <th class="sort w120">@Localization.GetText("AAP.GridHeader.CreationDate")</th>
                        <th class="sort w120">@Localization.GetText("AAP.GridHeader.LastUpdated")</th>
                        <th class="sort w170">@Localization.GetText("AAP.GridHeader.CreatedBy")</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ActOp.Count > 0)
                    {
                        foreach (var activity in Model.ActOp)
                        {
                            <tr data-id="@activity.AnnualActivityId">
                                <td class="ActivityNumber">@Confluence.Label(activity.ActivityNumber)</td>
                                <td align="center" class="WbsNnumber"> @Confluence.Label(activity.WbsNumber) </td>
                                <td align="left" class="ActivityDescription" title="@activity.ActivityDescription">
                                    <div class="w270 text-break-points">
                                        @Confluence.Label(activity.ActivityDescription)
                                    </div>
                                </td>
                                @*<td align="right" class="Cost"> @Confluence.LabelMoney(activity.Cost) </td>*@
                                @*<td style="text-align: right" class="Cost"> @Confluence.LabelMoney(activity.Cost) </td>*@
                                <td align="center" class="OrganizationalUnit"> @Confluence.Label(activity.OrganizationalUnit) </td>
                                <td align="center" class="Created"> @Confluence.LabelGetDate(activity.Created) </td>
                                <td align="center" class="Modified"> @Confluence.LabelGetDate(activity.ModifiedActivity) </td>
                                <td align="right" class="CreatedBy"> @Confluence.Label(activity.FullUserName) </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr data-id="">
                            <td style="text-align: center" colspan="8"> @Localization.GetText("AAP.Label.NoRecordsFound") </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 mt10">
        @if (Model.ActOp.Count > 0)
        {
            @Confluence.ButtonExcel("xls", "ExportFileAAP", clase: "pull-right mr0")
            @Confluence.ButtonPdf("pdf", "ExportFileAAP", clase: "pull-right")
        }
    </div>
    <div class="col-md-12 mt20">
        @if (Model.DataUser.PermissionsUser != null && (Model.DataUser.PermissionsUser.Any(x => x.Contains(Permission.AAP_ACTIVITY_ADMIN)) ||
             Model.DataUser.PermissionsUser.Any(x => x.Contains(Permission.AAP_TEAM_MEMBER_WRITE)) && Model.CurrentYear == Model.YearNowDefault ||
                Model.DataUser.PermissionsUser.Any(x => x.Contains(Permission.AAP_GLOBAL_MANAGEMENT_WRITE) && Model.CurrentYear == Model.YearNowDefault)))
        {
            @Confluence.ButtonBlue(Localization.GetText("AAP.Button.Edit"), "name", "EditActivityProgram", htmlClass: "pull-right mb15")
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        Pagination();
        var paginationNumber = '@Model.PaginationDefault'.length !== 0 ? '@Model.PaginationDefault' : '1';
        var activityTablePagination = $('.Pagination[dd-table="activityTable"]');
        activityTablePagination.find('div[dd-num=' + paginationNumber + ']:not(.Pagination_Text)').click();
    });

    function Pagination() {
        var displayVal = $("[name='dropDownDisplayed']").val();
        if (displayVal == 'All') {
            var activityProgramCount = $("#activityTable tbody tr").length;
            displayVal = activityProgramCount;
        }
        var activityTable = $("#activityTable");
        activityTable.paginationConfluence(parseInt(displayVal));
        $(".Pagination").css("float", "right");
        activityTable.sortableConfluence();
    }
</script>