@model IDB.Presentation.MVC4.Areas.ActivityProgram.Models.AAPViewModel

<div id="containerAAP">
    <div class="col-md-12 mt30 mb40">
        @Confluence.LabelMainTitle(Localization.GetText("AAP.Label.AnnualActivityProgram") + " " + Model.YearNowDefault)
    </div>
    <div class="col-md-12">
        <div class="col-md-6 pl0 pr0">
            <div class="col-md-6 mt5 pl0">
                @Confluence.LabelSubTitleGroup(Localization.GetText("AAP.Label.Year"))
            </div>
        </div>
        <div class="col-md-6 pl0 pr0">
            @Confluence.ButtonOrange(Localization.GetText("AAP.Button.Save"), "name", "NewSave", htmlClass: "pull-right mr0")
            @Confluence.ButtonLink(Localization.GetText("AAP.Button.Cancel"), "namelinkCancel", "ReadActivityProgram", htmlClass: "pull-right")
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6 pl0 pr0">
            <div class="col-md-4 pl0">
                @Confluence.InputDropDown(value: Model.YearNowDefault, name: "dropDownYearActivity", elements: Model.YearsDropDwn, validateOnChange: true, showEmptyOption: false, placeholder: null, width: "120px", disabled: true)
            </div>
        </div>
    </div>
    <div class="col-md-12 mt20">
        @Confluence.InputDropDown(value: Model.DisplayDefault, name: "dropDownDisplayed", elements: Model.DisplayedDropDwn, validateOnChange: true, showEmptyOption: false, placeholder: null, width: "120px")
    </div>
    <div class="col-md-12">
        <div class="col-md-6 mt15 pl0">
            @Confluence.LabelBold(Model.ActOp.Count + " " + Localization.GetText("AAP.Label.Results"))
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 pr0 pl0">
            <table id="activityTable" class="tableNormal mb10">
                <thead>
                    <tr>
                        <th class="sort w120">@Localization.GetText("AAP.GridHeader.ID")</th>
                        <th class="sort w190"> @Localization.GetText("AAP.GridHeader.WBSNumber") </th>
                        <th class="sort"> @Localization.GetText("AAP.GridHeader.ActivityDescription") </th>
                        @*<th class="sort w190" order-type="numeric"> @Localization.GetText("AAP.GridHeader.Cost") </th>*@
                        <th class="sort w125"> @Localization.GetText("AAP.GridHeader.OrganizationalUnit") </th>
                        <th class="sort w130"> @Localization.GetText("AAP.GridHeader.CreationDate") </th>
                        <th class="sort w130"> @Localization.GetText("AAP.GridHeader.LastUpdated") </th>
                        <th class="sort w170"> @Localization.GetText("AAP.GridHeader.CreatedBy") </th>
                        <th class="w70">@Localization.GetText("AAP.GridHeader.Action")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var activity in Model.ActOp)
                    {
                        <tr data-id="@activity.AnnualActivityId" data-table="@activity.WbsNumber" data-new-row="false">
                            <td class="ActivityNumber">@Confluence.Label(activity.ActivityNumber)</td>
                            <td align="center" class="WbsNnumber"> @Confluence.Label(activity.WbsNumber) </td>
                            <td align="left" class="ActivityDescription" title="@activity.ActivityDescription">
                                <div class="text-break-points">
                                    @Confluence.InputText(activity.ActivityDescription, "InputDescription", maxLength: 40, width: "100%")
                                </div>
                            </td>
                            @*<td align="right" class="Cost"> @Confluence.InputMoney(activity.Cost, "InputMoney", width: "100%", minValue: "0.01") </td>*@
                            <td align="center" class="OrganizationalUnit"> @Confluence.Label(activity.OrganizationalUnit) </td>
                            <td align="center" class="Created"> @Confluence.LabelGetDate(activity.Created) </td>
                            <td align="center" class="Modified"> @Confluence.LabelGetDate(activity.ModifiedActivity) </td>
                            <td align="right" class="CreatedBy"> @Confluence.Label(activity.FullUserName) </td>
                            <td align="center">@Confluence.ButtonTrash(null, "removeActivity", onclick: "RemoveRow(this)", required: false) </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Confluence.ButtonAddNewRows(Localization.GetText("Add Activity"), "activityTable", "addNewActivitytRow", "AddNewAnnualActivityProgram", htmlClass: "col-md-offset-4 col-md-4 mt15")
        </div>
    </div>
    <div class="col-md-12 mt20">
        @Confluence.ButtonOrange(Localization.GetText("AAP.Button.Save"), "name", "NewSave", htmlClass: "pull-right mr0 mb15")
        @Confluence.ButtonLink(Localization.GetText("AAP.Button.Cancel"), "namelinkCancel", "ReadActivityProgram", htmlClass: "pull-right")
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        Pagination();
        var paginationNumber = '@Model.PaginationDefault';
        var activityTablePagination = $('.Pagination[dd-table="activityTable"]');
        activityTablePagination.find('div[dd-num='+ paginationNumber +']:not(.Pagination_Text)').click();
    });

    function Pagination() {
        var displayVal = $("[name='dropDownDisplayed']").val();
        if (displayVal == 'All') {
            var activityProgramCount = $("#activityTable tbody tr").length;
            displayVal = activityProgramCount;
        }
        var activityTable = $("#activityTable");
        activityTable.paginationConfluence(parseInt(displayVal));
        $(".Pagination").css("float", "right");
        activityTable.sortableConfluence();
    }
    //'@Html.Raw(Model.DataUser.UserFullName))',
    listDefaultAct = [];
    @foreach (var item in Model.ActOp)
    {
        <text>
        listDefaultAct.push({
                ActitvityId : '@item.AnnualActivityId',
                WBSCode: '@item.WbsNumber',
                WBSActivityNumber: '@item.ActivityNumber',
                WBSDescription: '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.ActivityDescription))',
                WBSCost: @item.Cost,
                WBSOrganizationalUnit: '@item.OrganizationalUnit',
                WBSCreationDate: '@item.Created.ToString()',
                WBSLastUpdated: '@item.Modified',
                WBSCreatedBy: '@Html.Raw(HttpUtility.JavaScriptStringEncode(@item.CreatedBy))',
                WBSModifiedBy: '@Html.Raw(HttpUtility.JavaScriptStringEncode(@item.ModifiedBy))',
                WBSyear : '@item.YearActivity'
            });
        </text>
    }
</script>