@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core.EditTemplates
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.StandardizedOutput
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.Presentation.MVC4.Areas.Indicators.Models

@model EditTemplatePageViewModel<EditTemplateStandardizedViewModel>

@Html.Partial("PermissionButtons", new Dictionary<string, ActionEnum[]>()
{
    {
        "Set GCM Indicator Template Admin Write",
        new ActionEnum[]
        {
            ActionEnum.GCMIndicatorTemplateWritePermission
        }
    }
    ,{
        "Set Empty",
        new ActionEnum[]{}
    }
})

@if(MvcHelpers.CheckSomeRoles(ViewBag.Permissions, ActionEnum.GCMIndicatorTemplateWritePermission))
{
    <div class="page">

        <div class="row mb16">
            <div class="col-md-12">
                <div class="floatLeft">
                    @Confluence.LabelMainTitle(Localization.GetText("IM.TemplatesList.Standardized.Title"))
                </div>

                @Html.Partial("EditTemplate/Buttons")
            </div>

        </div>

        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.Instructions.Allmodifications"))
            </div>
        </div>

        <div data-parsley-validate="true" name="submitForm" data-ignore-nullable-values="true">
            <input type="hidden" value="@ViewBag.SerializedViewModel" id="serializeModel" name="serializeModel" />
            <div data-pagemode="edit">

                @Html.Partial("EditTemplate/EditTemplateData", Model.Template)

                <div class="row mb20">
                    <div class="col-md-12">
                        @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadTemplates.IndicatorProfile.Title"))
                    </div>
                </div>

                @Html.Partial("Display/EditSimplelevelAttribute",
                       new SimpleLevelAttributeViewModel(Model.Template.Specific.BusinessLines)
                            .SetName("BusinessLine")
                            .SetTitleKey("IM.EditReadTemplates.IndicatorTemplate.Standardized.BusinessLine")
                            .SetShowNotificationDelete()
                            .SetNewButtonKey("IM.EditReadTemplates.Standardized.NewBusinessLineButton")
                            .SetLanguageEnRequired(true)
                            .SetLanguageEsRequired(true))

                @Html.Partial("Display/EditSimplelevelAttribute",
                        new SimpleLevelAttributeViewModel(Model.Template.Specific.OutputGroups)
                            .SetName("OutputGroups")
                            .SetTitleKey("IM.EditReadTemplates.IndicatorTemplate.Standardized.OutputGroup")
                            .SetShowNotificationDelete()
                            .SetNewButtonKey("IM.EditReadTemplates.Standardized.NewOutputGroupButton")
                            .SetShowOrderColumn()
                            .SetLanguageEnRequired(true)
                            .SetLanguageEsRequired(true))


                @Html.Partial("EditTemplate/EditTemplateTechnicalField", Model.Template)

            </div>
        </div>


        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("EditTemplate/Buttons")
            </div>
        </div>
    </div>



    @section scripts{
        @IndicatorCommon.SetEditModeAndChangeFakePageMode()
        @IndicatorCommon.TemplateNavigationActionsEdit(Url, Model)
        @IndicatorCommon.TemplateActionsEdit()
        @if(Model.Template.Common.TemplateId == 0)
        {
            @IndicatorCommon.CreateDefaultTechnicalFields(Model.Template.Common.TechnicalFields);
        }
    }

}
