@using IDB.MW.Infrastructure.Configuration
@using IDB.Architecture.Language
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums

@model IndicatorsPageViewModel

@Html.Partial("PermissionButtons", new Dictionary<string, ActionEnum[]>()
{
    {
        "Set GCM Indicator Admin Write",
        new ActionEnum[]
        {
            ActionEnum.GCMIndicatorWritePermission
        }
    }
    ,{
        "Set GCM Indicator Template Admin Write",
        new ActionEnum[]
        {
            ActionEnum.GCMIndicatorTemplateWritePermission
        }
    }
    ,{
        "Set Both",
        new ActionEnum[]
        {
            ActionEnum.GCMIndicatorWritePermission,
            ActionEnum.GCMIndicatorTemplateWritePermission
        }
    }
    ,{
        "Set Empty",
        new ActionEnum[]{}
    }
})

@if(MvcHelpers.CheckSomeRoles(ViewBag.Permissions, ActionEnum.GCMIndicatorWritePermission, ActionEnum.GCMIndicatorTemplateWritePermission))
{
    <div class="row mb20">
        <div class="col-md-12">
            <div class="floatLeft">
                @Confluence.LabelMainTitle(Localization.GetText("IM.IndicatorsList.Standardized.Title"))
            </div>

            @Html.Partial("IndicatorsPage/EditModeButtons")
        </div>
    </div>

    <div class="row mb20">

        <div class="col-md-12 text-right">
            @Confluence.ButtonWhite(text : Localization.GetText("IM.CreateNewOutput"), name : "create")
        </div>
    </div>

    <div class="page">
        @Html.Partial("IndicatorsPage/SearchIndicatorPartial", Model)

        <div class="row format-edit-template">
            <div class="col-md-8">
                @Confluence.LabelAsterisk()
                @(new HtmlString("&nbsp;&nbsp;&nbsp;"))
                @Localization.GetText("IM.IndicatorsList.EffectiveDate.AsteriskInformation")
            </div>
            <div class="col-md-4">
                @Html.Partial("IndicatorsPage/EditModeButtons")
            </div>
        </div>
    </div>

    @section scripts{
        @IndicatorCommon.SetEditModeAndChangeFakePageMode()

        @IndicatorCommon.IndicatorListNavigationEdit(Url, Model.ControllerName)

        @IndicatorCommon.ExportFunction(Url, Model.ControllerName)

        @IndicatorCommon.IndicatorListFilterFunctionEdit(Url, Model.ControllerName)
    }

}
