@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core.EditTemplates
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.StandardizedOutput
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.Presentation.MVC4.Areas.Indicators.Models

@model EditTemplatePageViewModel<EditTemplateStandardizedViewModel>

@Html.Partial("PermissionButtons", new Dictionary<string, ActionEnum[]>()
{
    {
        "Set GCM Indicator Template Admin Write",
        new ActionEnum[]
        {
            ActionEnum.GCMIndicatorTemplateWritePermission
        }
    }
    ,{
        "Set Empty",
        new ActionEnum[]{}
    }
})

@if(MvcHelpers.CheckSomeRoles(ViewBag.Permissions, ActionEnum.GCMIndicatorTemplateWritePermission))
{
    <div class="page">

        <div class="row mb16">
            <div class="col-md-12">
                <div class="floatLeft">
                    @Confluence.LabelMainTitle(Localization.GetText("IM.TemplatesList.Standardized.Title"))
                </div>

                @Html.Partial("ReadTemplate/Buttons")
            </div>

        </div>


        <div class="row  mb20">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.Instructions.Allmodifications"))
            </div>
        </div>



        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadTemplates.TemplateData.Title"))
            </div>
        </div>

        <div class="row mb20">
            <div class="col-md-6 data-template-version">
                @Confluence.LabelsGroup(Localization.GetText("IM.EditReadTemplates.TemplateData.TemplateVersion"), Confluence.LabelBold(Model.Template.Common.Version), true)
            </div>

            <div class="col-md-6 data-template-description">
                @Confluence.LabelsGroup(Localization.GetText("IM.EditReadTemplates.TemplateData.Description"), Confluence.LabelBold(Model.Template.Common.Description), true)
            </div>
        </div>


        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadTemplates.IndicatorProfile.Title"))
            </div>
        </div>

        @Html.Partial("Display/ReadSimplelevelAttribute",
                        new SimpleLevelAttributeViewModel(Model.Template.Specific.BusinessLines)
                            .SetName("BusinessLines")
                            .SetTitleKey("IM.EditReadTemplates.IndicatorTemplate.Standardized.BusinessLine")
                            .SetNewButtonKey("IM.EditReadTemplates.Standardized.NewThemeButton")
                            .SetLanguageEnRequired(true)
                            .SetLanguageEsRequired(true))

        @Html.Partial("Display/ReadSimplelevelAttribute",
                        new SimpleLevelAttributeViewModel(Model.Template.Specific.OutputGroups)
                            .SetName("OutputGroups")
                            .SetTitleKey("IM.EditReadTemplates.IndicatorTemplate.Standardized.OutputGroup")
                            .SetNewButtonKey("IM.EditReadTemplates.Standardized.NewOutputGroupButton")
                            .SetShowOrderColumn()
                            .SetLanguageEnRequired(true)
                            .SetLanguageEsRequired(true))


        <div class="row">
            <div class="col-md-12 mb16">
                @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadTemplates.IndicatorTemplate.TechnicalFields.Title"))
            </div>
        </div>
        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("ReadTemplate/TechnicalFieldsPartial", Model.Template.Common.TechnicalFields)
            </div>
        </div>


        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("ReadTemplate/Buttons")
            </div>
        </div>


    </div>

    @section scripts{
        @IndicatorCommon.TemplateNavigationActionsRead(Url, Model)
    }

}
