@using System.Globalization;
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core.EditIndicators
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.StandardizedOutput
@using IDB.Presentation.MVC4.Areas.Indicators.Models

@model EditIndicatorPageViewModel<StandardizedBasicDataViewModel>

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;

    bool hasExpired = ( Model.Indicator.Common.ExpirationDate.HasValue && ( Model.Indicator.Common.ExpirationDate.Value < DateTime.Today ) );
}

<div class="row mb16">
    <div class="col-md-12">
        @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadIndicator.BasicData.TemplateVersion"))
    </div>
</div>

<div class="row mb20 font-body">
    <div class="col-md-4">
        @Confluence.LabelGetDropDown(Model.Indicator.Common.TemplateVersionId, ViewBag.indicatorTemplateList, bold : true)
    </div>
</div>

<div class="row mb20">
    <div class="col-md-12">
        @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadIndicator.BasicData.Relationship.Title"))
    </div>
</div>

<div class="row mb20">
    <div class="col-md-3 mb16">
        <div class="row mb16">
            <div class="col-md-12">
                @Confluence.InputCheckbox( (hasExpired ? false : Model.Indicator.Specific.IsActive), "isActive", label : Localization.GetText("IM.EditReadIndicator.BasicData.Acitive"), disabled : true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("IM.EditReadIndicator.BasicData.AcitiveInstructionsCheckedOutput"))
            </div>
        </div>
    </div>
    <div class="col-md-3 mb16">
        <div class="row mb16">
            <div class="col-md-12">
                @Confluence.InputCheckbox(Model.Indicator.Specific.IsContribution, "isContribution", label : Localization.GetText("IM.EditReadIndicator.BasicData.Relationship.Contribution"), disabled : true)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("IM.EditReadIndicator.BasicData.Relationship.InsturctionsContribution"))
            </div>
        </div>
    </div>
</div>

<div class="row mb20">
    <div class="col-md-12">
        @Confluence.LabelTitleGroup(Localization.GetText("IM.EditReadIndicator.OutputProfile.Title"))
    </div>
</div>

<div class="grouping-section">
    <div class="col-md-3 mb20">

        <div class="col-md-12">
            <div class="LabelsGroup">
                <label class="lgTit">@Localization.GetText("IM.EditReadIndicator.IndicatorProfile.IndicatorName")</label>
            </div>
        </div>

        <div class="col-md-12 lblcontent">
            <label class="labelNormal">@Localization.GetText("Common.Languaje.English")</label>
            <span class="asteriskColor">*</span>
        </div>

        <div class="col-md-12 lblvalue bold">
            @Model.Indicator.Common.IndicatorNameEn
        </div>

        <div class="col-md-12 lblcontent">
            <label class="labelNormal">@Localization.GetText("Common.Languaje.Spanish")</label>
            <span class="asteriskColor">*</span>
        </div>
        <div class="col-md-12 lblvalue bold">
            @Model.Indicator.Common.IndicatorNameEs
        </div>
        <div class="col-md-12 lblcontent">
            <label class="labelNormal">@Localization.GetText("Common.Languaje.French")</label>
        </div>
        <div class="col-md-12 lblvalue bold">
            @Model.Indicator.Common.IndicatorNameFr
        </div>
        <div class="col-md-12 lblcontent">
            <label class="labelNormal">@Localization.GetText("Common.Languaje.Portuguese")</label>
        </div>
        <div class="col-md-12 lblvalue bold">
            @Model.Indicator.Common.IndicatorNamePt
        </div>

    </div>
</div>


<div class="grouping-section">
    <div class="col-md-3 lineGrayRight">
        <div class="row1">
            <div class="col-md-12 lblcontent">
                <label class="labelNormal">@Localization.GetText("IM.EditReadIndicator.IndicatorProfile.Standardized.BusinessLine")</label>
                <span class="asteriskColor">*</span>
            </div>

            <div class="col-md-12 lblvalue" data-section="businessLine">
                @Confluence.LabelGetDropDown(Model.Indicator.Specific.BusinessLineId, ViewBag.BusinessLineList, bold : true)
            </div>
        </div>

        <div class="row2">
            <div class="col-md-12 lblcontent">
                <label class="labelNormal">@Localization.GetText("IM.EditReadIndicator.IndicatorProfile.Standardized.OutputGroup")</label>
                <span class="asteriskColor">*</span>
            </div>

            <div class="col-md-12 lblvalue" data-section="outputGroup">
                @Confluence.LabelGetDropDown(Model.Indicator.Specific.OutputGroupId, ViewBag.OutputGroupList, bold : true)
            </div>
        </div>

        <div class="row3">
            <div class="col-md-12 lblcontent">
                <label class="labelNormal">@Localization.GetText("IM.EditReadIndicator.IndicatorProfile.UnitMeasure")</label>
                <span class="asteriskColor">*</span>
            </div>

            <div class="col-md-12 lblvalue">
                @Confluence.LabelGetDropDown(
                    Model.Indicator.Common.UnitMeasureId != null ?
                        Model.Indicator.Common.UnitMeasureId.Value.ToString(CultureInfo.InvariantCulture) :
                        null,
                    ViewBag.UnitMeasureList,
                    bold : true)
            </div>
        </div>
    </div>

    <div class="col-md-3 ml16">
        <div class="row1">
            <div class="col-md-12 lblcontent">
                <label class="labelNormal">@Localization.GetText("IM.EditReadIndicator.IndicatorProfile.IndicatorNumber")</label>
                <span class="asteriskColor">*</span>
            </div>
            <div class="col-md-12 lblvalue bold">
                @Model.Indicator.Common.IndicatorNumber
            </div>
        </div>

        <div class="row2">
            <div class="col-md-12 lblcontent">
                <label class="labelNormal">@Localization.GetText("IM.EditReadIndicator.IndicatorProfile.EffectiveDate")</label>
                <span class="asteriskColor">*</span>
            </div>
            <div class="col-md-12 lblvalue bold">
                @FormatHelper.Format(Model.Indicator.Common.EffectiveDate, formatDate)
            </div>
        </div>

        <div class="row3">
            <div class="col-md-12 lblcontent">
                <label class="labelNormal">@Localization.GetText("IM.EditReadIndicator.IndicatorProfile.ExpirationDate")</label>
                <span class="asteriskColor">*</span>
            </div>
            <div class="col-md-12 lblvalue bold">
                @FormatHelper.Format(Model.Indicator.Common.ExpirationDate, formatDate)
            </div>
        </div>

    </div>
</div>

<div class="grouping-section">

    <div data-section="theme">
        @Html.Partial("ThemePartial", new ThemePartialModel()
                {
                    ThemeList = ViewBag.ThemeList,
                    FundsIndByTheme = ViewBag.FundsIndByTheme,
                    ThemeIds = Model.Indicator.Specific.ThemeIds,
                    FundIdsByTheme = Model.Indicator.Specific.FundIdsByTheme,
                    IsReadMode = true
                })
    </div>

</div>