@model IDB.MW.Domain.Models.Supervision.PMI.PMIDetailsModel


@section JavaScript {
   <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/PMI/StageThree/main.js")"></script>
}

@section CSS {
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/PMI/StageTwo/ui_pmi_002_graph.css")" />

}

<div class="mod_contenido_central" id="ui_pmi_002_table">

@{
        Html.RenderAction("Header", "Stage", new
        {
            area = "PMI",
            operationNumber = ViewBag.OperationNumber,
            stage = 3,
            isLive = Model.IsLiveMode
        });
    }
    <div class="editingButtonsEdit topMargin16px" style="margin-top: 60px;">
        <input type="button" id="graphBtn" value="@Localization.GetText("GRAPH")" data-route="@Url.Action(
            "Index",
            "StageThree",
            new
            {
                area = "PMI",
                operationNumber = @ViewBag.OperationNumber,
                calculateInMemory = true,
                isLive = Model.IsLiveMode
            })" class="tabButton graphLink" onclick="pathlink">
        <input type="button" class="tabButton active" id="tableBtn" value="@Localization.GetText("TABLE")" data-route="@Url.Action(
            "IndexSummaryTable",
            "StageThree",
            new
            {
                area = "PMI",
                operationNumber = @ViewBag.OperationNUmber,
                calculateInMemory = true,
                isLive = Model.IsLiveMode
            })">
    </div>
    <div class="operationData topMargin16px">
             
        @{
            Html.RenderAction("RenderSummaryTable", "StageThree", new
            {
                area = "PMI",
                operationNumber = ViewBag.OperationNumber,
                calculateInMemory = true,
                isLive = Model.IsLiveMode
            });
        }
    
    </div>


</div>