@using System.Globalization

@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.Presentation.MVC4.Areas.Indicators.Models
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core

@model MVCSubindicatorViewModel


@{
    var config = Html.RenderDataTable(Model.Subindicators);
    config.Name(Model.Name)
    .PrimaryKey(x => x.SubindicatorId.ToString(CultureInfo.InvariantCulture))
    .AddPrimaryKeyToName(false)
    .UsePageMode(false)
    .UseDataTableNet(false)
    .Columns(c =>
    {
        c.Bound(x => x.NameEn).Persistent().HeaderTemplate(LabelRequered("Common.Languaje.English", Model.LanguageEsRequired));
        c.Bound(x => x.NameEs).Persistent().HeaderTemplate(LabelRequered("Common.Languaje.Spanish", Model.LanguageEsRequired));
        c.Bound(x => x.NameFr).Persistent().HeaderTemplate(LabelRequered("Common.Languaje.French", Model.LanguageFrRequired));
        c.Bound(x => x.NamePt).Persistent().HeaderTemplate(LabelRequered("Common.Languaje.Portuguese", Model.LanguagePtRequired));
    });

    config.TableClass = "tableNormal";
}

@helper LabelRequered(string label, bool languageRequired)
{
    @Localization.GetText(label)
    if(languageRequired)
    {
        @Confluence.LabelAsterisk()
    }
}

<div class="row mb16">
    <div class="col-md-12">
        @if(Model.SubTitle)
        {
            @Confluence.LabelSubTitleGroup(Localization.GetText(Model.TitleKey))
        }
        else
        {
            @Confluence.LabelTitleGroup(Localization.GetText(Model.TitleKey))
        }
        @if(!string.IsNullOrWhiteSpace(Model.DescriptionKey))
        {
            @Confluence.Label(Localization.GetText(Model.DescriptionKey))
        }
    </div>
</div>

<div class="row mb20">
    <div class="col-md-12">

        @Html.Partial("Controls/DataTable", config)

    </div>
</div>
