@using System.Globalization

@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.Presentation.MVC4.Areas.Indicators.Models
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.Core

@model SimpleLevelAttributeViewModel


@{
    var config = Html.RenderDataTable(Model.Categories);
    config.Name(Model.Name)
    .PrimaryKey(x => x.CategoryId.ToString(CultureInfo.InvariantCulture))
    .AddPrimaryKeyToName(false)
    .UsePageMode(false)
    .UseDataTableNet(false)
    .Columns(c =>
    {
        if (Model.ShowOrderColumn)
        {
            c.Bound(x => x.Code).Persistent().Header("#");
        }
        c.Bound(x => x.NameEn).Persistent().HeaderTemplate(LabelRequered("Common.Languaje.English", Model.LanguageEnRequired));
        c.Bound(x => x.NameEs).Persistent().HeaderTemplate(LabelRequered("Common.Languaje.Spanish", Model.LanguageEsRequired));
        c.Bound(x => x.NameFr).Persistent().HeaderTemplate(LabelRequered("Common.Languaje.French", Model.LanguageFrRequired));
        c.Bound(x => x.NamePt).Persistent().HeaderTemplate(LabelRequered("Common.Languaje.Portuguese", Model.LanguagePtRequired));
        c.Template(x => DrawActions(x)).Persistent().HeaderAttribute("style", "width: 100px; min-width:100px;");
    });

    config.TableClass = "tableNormal";
}

@helper DrawActions(AttributeCategoryViewModel model)
{
    var textDisabled = Localization.GetText("Common.Disabled");
    @Confluence.InputCheckbox(!model.IsEnabled, Model.Name + "-disabled", label : textDisabled, disabled : true)
}

@helper LabelRequered(string label, bool languageRequired)
{
    @Localization.GetText(label)
    if(languageRequired)
    {
        @Confluence.LabelAsterisk()
    }
}


<div class="row mb16">
    <div class="col-md-12">
        @Confluence.LabelSubTitleGroup(Localization.GetText(Model.TitleKey))
    </div>
</div>

<div class="row row-body-40">
    <div class="col-md-12">

        @Html.Partial("Controls/DataTable", config)

    </div>
</div>
