@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@using IDB.MW.Application.OPUSModule.ViewModels.EnvironmentalSocialDataService
@using IDB.Presentation.MVC4.Areas.OPUS.Models
@using IDB.MW.Application.OPUSModule.Enums
@using IDB.Architecture.Language

@model IDB.MW.Application.OPUSModule.ViewModels.EnvironmentalSocialDataService.EnvironmentalSocialDataViewModel

@if (Model != null)
{
    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

    <!--Impact & Risk-->
    <div data-name="ImpactRisk">
        <div class="row">
            <div class="col-md-12">
                <h3 class="leftmarginh3">@Localization.GetText("OPUS.ESG.ImpactRisk").HtmlEncode()</h3>
            </div>
        </div>
        <div class="row row-header font-header">
            <div class="col-md-3">
                @Localization.GetText("OPUS.ESG.ImpactCategory").HtmlEncode()
            </div>
            <div class="col-md-3">
                @Localization.GetText("OPUS.ESG.Risk").HtmlEncode()
            </div>
        </div>
        <div class="row row-body-50 font-body">
            <div class="col-md-3">
                <div data-pagemode="read">
                    @ControlTemplates.DropDownGetSelectedString(Model.ImpactCategory, (List<SelectListItem>)ViewBag.ImpactCategoryList)
                </div>
                <div data-pagemode="edit">
                    @ControlTemplates.DropDownExtend(Model.ImpactCategory.ToString(), "impactCategory", (List<SelectListItem>)ViewBag.ImpactCategoryList)
                </div>
            </div>
            <div class="col-md-3">
                @Model.Risk.HtmlEncode()
            </div>
        </div>
    </div>

    <!--Safeguard Performance visible in supervision mode, status is greater than PendingEligibility  -->
    if (Model.OverallStatus > (int)EnvironmentalSocialDataOverallStatusEnum.PendingEligibility)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="leftmarginh3">@Localization.GetText("OPUS.ESG.SafeguardPerformance").HtmlEncode()</h3>
                    </div>
                </div>
                <div class="row row-header font-header">
                    <div class="col-md-3">
                        @Localization.GetText("OPUS.ESG.Rating").HtmlEncode()
                    </div>
                    <div class="col-md-3">
                        @Localization.GetText("OPUS.ESG.Rationale").HtmlEncode()
                    </div>
                </div>
                <div class="row row-body-50 font-body">
                    <div class="col-md-3">
                        @Model.Rating.HtmlEncode()
                    </div>
                    <div class="col-md-6">
                        @Model.Rationale.HtmlEncode()
                    </div>
                </div>
            </div>
        </div>
    }
    
    <div data-name="ESGTeamMembers">
        <div class="row row-header">
            <div class="col-md-12">
                <h3 class="leftmarginh3">@Localization.GetText("OPUS.ESG.ESGSpecialists").HtmlEncode()</h3>
            </div>
        </div>

        @Html.Partial("Partials/EnvironmentalSocialData/EnvironmentalSocialDataSpecialistsPartial", Model)
    </div>
    <div data-name="sustainability-section">
        <div class="row row-header">
            <div class="col-md-12">
                <h3 class="leftmarginh3">@Localization.GetText("OPUS.ESG.SustainabilityComponents").HtmlEncode()</h3>
            </div>
        </div>

        @Html.Partial("Partials/EnvironmentalSocialData/EnvironmentalSocialDataComponentsPartial", Model)
    </div>

}
