@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@using IDB.MW.Application.OPUSModule.ViewModels.EnvironmentalSocialDataService
@using IDB.Presentation.MVC4.Areas.OPUS.Models
@using IDB.Architecture.Language

@model IDB.MW.Application.OPUSModule.ViewModels.EnvironmentalSocialDataService.EnvironmentalSocialDataViewModel


@if (Model.ESGTeamMembers != null)
{
    <div class="row row-body-50">
        <div class="col-md-6">
            @{
                var config = Html.RenderDataTable(Model.ESGTeamMembers);
                config.Name("ESGTeamMembers")
                .PrimaryKey(m => m.OperationTeamDataId.ToString(CultureInfo.InvariantCulture))
                .AddPrimaryKeyToName(false)
                .Columns(columns =>
                {
                    columns.Bound(c => c.ADFullName).Persistent().Header(Localization.GetText("OPUS.ESG.ESGSpecialists.Name"));

                    columns.Bound(c => ControlTemplates.DropDownGetSelectedString((int)c.RoleId, ViewBag.RoleList))
                    .EditableTemplate(row => ControlTemplates.DropDownExtend(((int)row.RoleId).ToString(), "RoleId", ViewBag.RoleList))
                    .Header(Localization.GetText("OPUS.ESG.ESGSpecialists.Role"));

                    columns.Bound(c => String.Empty).Attribute("data-pagemode", y => "edit")
                    .HeaderAttribute("data-pagemode", "edit")
                    .EditableTemplate(row =>  Display.Button07_4(text: string.Empty,
                        name: "removeSpecialists", action: "removeSpecialists"));

                });

                config.TableClass = "table-default";

                config.RowTemplates(x =>
                {
                    x.Create(RowTemplateType.FirstRow,
            @<tr class="hide" style="vertical-align:top;">
                <td data-pagemode="edit">
                    @ControlTemplates.InputTextValidate(string.Empty, name: "OperationTeamDataId", disabled: true, required:false)
                    @ControlTemplates.InputText(value: "ValidateIdentityService", name: "ValidateIdentityService", htmlClass: "hide", dataAttributes: new Dictionary<string, string> { { "parsley-isvalidated", "yes" }, { "parsley-iscorrect", "yes" } }, required: false,disabled:true)
                </td>
                <td data-pagemode="edit">
                    @ControlTemplates.DropDownExtend(null, "RoleId", ViewBag.RoleList, disabled:true)
                </td>
                <td data-pagemode="edit">
                    @Display.Button07_4(text: string.Empty, name: "removeSpecialists", action: "removeSpecialists")
                </td>
            </tr>);
    });

    @Html.Partial("Controls/DataTable", config)
            }

            <div class="col-md-12 text-center" data-pagemode="edit">
                @Display.Button08(text: Localization.GetText("OPUS.ESG.ESGSpecialists.NewSpecialist"), name: "newComponentSpecialist", action: "newComponentSpecialist")

                @ControlTemplates.InputText(value: "forceValidate", name: "validatorForNumElements",
                                    htmlClass: "hide",
                                    dataAttributes: new Dictionary<string, string> {
                                    {"force-parsley-validation","true"},
                                    {"parsley-numelementsrange","0;[name=RoleId] option:checked[value=13019];1"}
                                    })
            </div>
        </div>
    </div>
}

