@using IDB.MW.Application.CPDModule.ViewModels.ProductProfile
@using IDB.MW.Infrastructure.Configuration

@model ProductDataViewModel
@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
}
@if (Model != null)
{
    <div class="row mb30">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/Buttons", Model)
            @Confluence.LabelMainTitle(Localization.GetText("CS.ProductProfile.Title"))
        </div>
    </div>
    <div class="page" data-parsley-validate="true" name="submitForm" data-ignore-nullable-values="true">
        @Confluence.Tabs(new Dictionary<string, string>()
        {{"linktabBasicData", Localization.GetText("CS.ProductProfile.Navigation.BasicData") },
        {"linktabResponsibilityData", Localization.GetText("CS.ProductProfile.Navigation.ResponsibilityData") }})
        <div class="tab-content mt20">
            <div class="tab-pane" id="linktabBasicData">
                @if (Model.BasicData != null)
                {
                    @Html.Partial("ReadPartial/BasicDataPartial", Model.BasicData)
                }
            </div>
            <div class="tab-pane" id="linktabResponsibilityData">
                @if (Model.ResponsibilityData != null)
                {
                    @Html.Partial("ReadPartial/ResponsibilityDataPartial", Model.ResponsibilityData)
                }
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/Buttons", Model)
        </div>
    </div>
}
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('ul.tabs li').click(function () {
                var contentButtons = $('div[data-type="contentButtons"]');
                var nameTab = $(this).attr('dd-tab');
                contentButtons.addClass('hide');

                if (nameTab === "#linktabResponsibilityData") {
                    $('div[data-type="contentButtons"][data-id="read-RespData"]').removeClass('hide');
                }
                if (nameTab === "#linktabBasicData") {
                    $('div[data-type="contentButtons"][data-id="read-BasicData"]').removeClass('hide');
                }
            });

            $('[name="edit-RD"]').click(function () {
                var url = '@Url.Action("EditResponsibilityData", "ProductProfile", new { area = "CPD" })';
                LocationAssign(url);
            });

            $('[name="edit-BD"]').click(function () {
                var url = '@Url.Action("EditBasicData", "ProductProfile", new { area = "CPD" })';
                LocationAssign(url);
            });
        });

        $(document).ready(function () {
            var contentButtons = $('div[data-type="contentButtons"]');
            var nameTab = '@ViewBag.ActiveTab';
            switch (nameTab) {
                case "#linktabBasicData":
                    $('[dd-tab="#linktabBasicData"]').click();
                    break;
                case "#linktabResponsibilityData":
                    contentButtons.removeClass('hide');
                    $('[dd-tab="#linktabResponsibilityData"]').click();
                    break;
            }
        });
    </script>
}