@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.Architecture.Language

@model IDB.MW.Application.OPUSModule.ViewModels.Common.SearchRelatedOperationViewModel

@{
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;
}

<div class="row row-header">
    <div class="col-md-12">
        <p data-id="resultsSearchPanelTitle">@Model.NumberOfResults.HtmlEncode()</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb20">
        <div id="OperationRelatedTable" data-id="operationTable">
            @{
                var config = Html.RenderDataTable(Model.Operations);
                config.Name("operationTable")
                    .PrimaryKey(m => m.RowId.ToString(CultureInfo.InvariantCulture))
                    .AddPrimaryKeyToName(false)
                    .Columns(columns =>
                    {
                        columns.Bound(c => string.Empty)
                            .EditableTemplate(row => Confluence.InputRadioButton(Convert.ToString(row.RowId, CultureInfo.InvariantCulture), "radioOperation",dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "rbRadioOperation"}}))
                            .CssClass("trash-icon");
                        columns.Bound(c => c.Number).Header(Localization.GetText("OP.OD.AddRelationship.Result.Number")).Persistent();
                        columns.Bound(c => c.Name).Header(Localization.GetText("OP.OD.AddRelationship.Result.Name")).Persistent();
                        columns.Bound(c => c.OperationType).Header(Localization.GetText("OP.OD.AddRelationship.Result.OperationType")).Persistent();
                        columns.Template(c => Confluence.LabelDecimal(c.TotalAmount > 0 ? c.TotalAmount : (decimal?)null)).Header(Localization.GetText("OP.OD.AddRelationship.Result.TotalAmount")).Persistent();
                        columns.Bound(c => c.OverallStage).Header(Localization.GetText("OP.OD.AddRelationship.Result.OverallStage")).Persistent();
                        columns.Bound(c => c.OperationRelatedId).Hidden(true).EditableTemplate(row => Confluence.InputText(Convert.ToString(row.OperationRelatedId), "relatedOperationId"));
                        columns.Bound(c => c.RelationShipRoleThisOperationId).Hidden(true).EditableTemplate(row => Confluence.InputText(Convert.ToString(row.RelationShipRoleThisOperationId), "RelationShipExist"));
                        columns.Bound(c => c.OperationTypeCode).Hidden(true).EditableTemplate(row => Confluence.InputText(Convert.ToString(row.OperationTypeCode), "operationTypeCode",required:false));
                        columns.Bound(c => c.RelationTypeCode).Hidden(true).EditableTemplate(row => Confluence.InputText(Convert.ToString(row.RelationTypeCode), "relationTypeCode",required:false));
                    });
                config.TableClass = "tableNormal";
                config.useCusomRowClass = false;
}

            @Html.Partial("Controls/DataTable", config)
        </div>

    </div>
</div>

<div data-id="operationData" id="newRelatedDates">
    <div class="row row-header">
        <div class="col-md-4">
            <p>@Localization.GetText("OP.OD.AddRelationship.OperationRole2").HtmlEncode()</p>
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-4">
            @Confluence.InputDropDown(null, "relationShipRole", (List<SelectListItem>)ViewBag.RelationshipRole,
                     dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlOpRshpRole" } }, orderAsc: false)
        </div>
    </div>

    <div class="row row-header">
        <div class="col-md-11">
            <p>@Localization.GetText("OP.OD.AddRelationship.Comments").HtmlEncode()</p>
        </div>
        <div class="col-md-1">
            @Confluence.ButtonTrash(null,null,null, onclick: "newRelatedOperationCleanComment()", 
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnDeleteRltdOpComment"}})
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                        @Confluence.InputCommentBox(Confluence.Label(IDBContext.Current.UserName),
                         Confluence.Label(FormatHelper.Format(Convert.ToDateTime(DateTime.Now), formatDate)),
                         null, null, "relatedOperationComment",required:false,
                         dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtNewUserCommentsRelOp"}})
        </div>
    </div>
</div>

<script>

    $('#newRelatedOperationModal').click(function () {
        enterEditMode(false, $('#OperationRelatedTable'), false);
    });
</script>