@using IDB.MVCControls.General.Helpers


<div data-id="searchPanel" data-parsley-validate="data-parsley-validate" data-parsley-excluded="[disabled]">
    @Confluence.LabelSubTitleGroup(Localization.GetText("OP.OD.AddRelationship.CurrentOperation"))
    <div class="row row-header">
        <div class="col-md-6">
            <p>@Localization.GetText("OP.OD.AddRelationship.RelationshipType").HtmlEncode()</p>
        </div>

        <div class="col-md-6">
            <p>@Localization.GetText("OP.OD.AddRelationship.RelationshipRole").HtmlEncode()</p>
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-6">
            @Confluence.InputDropDown(null, "relationShipType", (List<SelectListItem>) ViewBag.RelationShipType, required: true, width: "100%", 
                dataAttributes: new Dictionary<string, string>() {{"idb-fieldname", "ddlRltdOpRltnshipType"}})
        </div>
        <div class="col-md-6">
            @Confluence.InputDropDown(null, "RelationShipRoleThisOperation", (List<SelectListItem>) ViewBag.RelationshipRole, required: true, width: "100%",
            dataAttributes: new Dictionary<string, string>() {{"idb-fieldname", "ddlRltdRltnShipRole"}}, orderAsc: false)
        </div>
    </div>

    @Confluence.LabelSubTitleGroup(Localization.GetText("OP.OD.AddRelationship.RelatedOperation"))
    <div class="row mb20">
        <div class="col-md-6">
            @Confluence.InputText(null, "relatedOperation", width: "100%", placeholder: Localization.GetText("Related Operation Number"),
                dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtRltdOp" } },required:false)
        </div>
        <div class="col-md-6" style="position: relative; top: -5px;">
            <div class="floatLeft mr10">
                @Confluence.ButtonBlue(Localization.GetText("OP.OD.Search"), null, "relatedOperationSearch",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnRltdOpSearch" } })
            </div>
            <div class="floatLeft">
                @Confluence.ButtonBlue(Localization.GetText("OP.OD.Cancel"), null, "cancelSearchOperationRelated",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnCancelSearchOpRltd" } })
            </div>
        </div>
    </div>
</div>

<div data-id="resultsSearchPanel" data-parsley-validate="data-parsley-validate" data-parsley-excluded="[disabled]">

</div>
