
<div id="newAscInstitutionModalContent" 
     data-parsley-validate="data-parsley-validate" 
     data-parsley-excluded="[disabled]"
     data-get-associated-institution-url="@Url.Action("GetInstitutionsForEFCOperation","View",new { area = "OPUS" })"
     data-executing-agency-role-id="@ViewBag.InstitutionRoleExecutingAgencyId">
    <div class="row mt5 mb20 line">
        <div class="col-md-11" style="background-color: #f6f6f6; border: 1px solid #e9e9e9; padding-bottom: 15px;padding-top: 7px;">
            <div class=" col-md-4">
                @Confluence.Label(Localization.GetText("OP.CR.NewAscInstitution.Country"))
            </div>
            <div class=" col-md-4">
                @Confluence.Label(Localization.GetText("OP.CR.NewAscInstitution.Acronym"))
            </div>
            <div class=" col-md-4">
                @Confluence.Label(Localization.GetText("OP.CR.NewAscInstitution.Type"))
            </div>
            <div class="col-md-4">
                @Confluence.InputDropDown(ViewBag.Country.ToString(), 
                    "associatedInstitutionsCountryFilter", 
                    ViewBag.AssociatedInstitutionCountryCodeList, 
                    required: false,
                    placeholder: Localization.GetText("OP.CR.NewAscInstitution.Country"), 
                    width: "233px", 
                    dataAttributes: new Dictionary<string, 
                        string>() { { "idb-fieldname", "ddlCountry" } })
            </div>
            <div class="col-md-4">
                @Confluence.InputText(null, "associatedInstitutionsNameAcronymFilter", width: "100%;",
                    placeholder: Localization.GetText("OP.CR.NewAscInstitution.Acronym"), required: false, dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtAcronym" } })
            </div>
            <div class="col-md-4">
                @Confluence.InputDropDown(null, "associatedInstitutionsTypeFilter", ViewBag.AssociatedInstitutionType, required: false,
                    placeholder: Localization.GetText("OP.CR.NewAscInstitution.Type"), width: "100%", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlTypeInstitution" } })
            </div>
        </div>
        <div class="col-md-1">
            @Confluence.ButtonSearch(null, null, "searchInstitutionFilter", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnInstSearch" } })
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-4">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("OP.CR.NewAscInstitution.Role"))
            </div>
            <div class="col-md-12">
                @Confluence.InputDropDown(null, 
                    "associatedInstitutionsRoleFilter", 
                    ViewBag.AssociatedInstitutionsRoleList, 
                    required: false, 
                    placeholder: Localization.GetText("OP.CR.NewAscInstitution.Role"),
                    width: "233px", 
                    dataAttributes: new Dictionary<string, 
                        string>() {{"idb-fieldname", "ddlRole"}})
            </div>
        </div>
        <div class="col-md-7" style="margin-left: -32px">
            <div class="col-md-12">
                @Confluence.Label(Localization.GetText("OP.CR.NewAscInstitution.Institution"))
            </div>
            <div class="col-md-12">
                @Confluence.InputDropDown(null, "associatedInstitutionsFilter", new List<SelectListItem>(), required: false,
                    placeholder: Localization.GetText("OP.CR.NewAscInstitution.Institution"), width: "487px", dataAttributes: new Dictionary<string, string>() {{"idb-fieldname", "ddlInstitution"}})
            </div>
        </div>
    </div>
    
    @Confluence.InformationSection(Localization.GetText("OP.CR.NewAscInstitution.Info"))
    
</div>