

<div id="frmNewInstitution"
     data-parsley-validate="data-parsley-validate"
     data-url="@Url.Action("SaveInstitution", "Save", new { area = "OPUS" })">
    <input type="hidden" id="hidViewModelInstitution" />
    @Localization.GetText("OP.CR.NewInstitution.Info")
    <br />
    <br />
    <div class="row">
        <div class="col-md-12" data-pagemode="edit">
            <div class="col-md-12">
                @Localization.GetText("OP.CR.NewInstitution.Name")
                @Confluence.LabelAsterisk()
            </div>
            <div class="col-md-12">
                @Confluence.InputText(null, "Name", 80, width: "100%",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtInstName" } })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" data-pagemode="edit">
            <div class="col-md-12">
                @Localization.GetText("OP.CR.NewInstitution.Address")
                @Confluence.LabelAsterisk()
            </div>
            <div class="col-md-12">
                @Confluence.InputText(null, "Address", 40, width: "100%",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtInstAddress" } })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6" data-pagemode="edit">
                @Localization.GetText("OP.CR.NewInstitution.City")<span class="asteriskColor">*</span>
                @Confluence.InputText(null, "City", 40, width: "100%",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtInstCity" } })
            </div>
            <div class="col-md-6" data-pagemode="edit">
                @Localization.GetText("OP.CR.NewInstitution.State")
                @Confluence.InputText(null, "State", 15, width: "100%", required: false,
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtInstState" } })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6" data-pagemode="edit">
                @Localization.GetText("OP.CR.NewInstitution.ZipCode")
                @Confluence.InputText(null, "ZipCode", 15, expReg: "^\\d+$", required: false, width: "100%",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtInstZipCode" } })
            </div>
            <div class="col-md-6" data-pagemode="edit">
                @Localization.GetText("OP.CR.NewInstitution.Country")<span class="asteriskColor">*</span><br />
                @Confluence.InputDropDown(null, "Country", (List<SelectListItem>)ViewBag.CountryList, width: "100%",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlInstCountry" } })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6" data-pagemode="edit">
                @Localization.GetText("OP.CR.NewInstitution.TelephoneNumber")<span class="asteriskColor">*</span>
                @Confluence.InputText(null, "TelephoneNumber", 18, width: "100%",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtInstTelNumber" } })
            </div>
            <div class="col-md-6" data-pagemode="edit">
                @Localization.GetText("OP.CR.NewInstitution.FaxNumber")
                @Confluence.InputText(null, "FaxNumber", 18, required: false, width: "100%",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtInstFaxNumber" } })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6" data-pagemode="edit">
                @Localization.GetText("OP.CR.NewInstitution.Website")
                @Confluence.InputText(null, "Website", 128, required: false, width: "100%",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtInstWebsite" } })
            </div>
            <div class="col-md-6" data-pagemode="edit">
                @Localization.GetText("OP.CR.NewInstitution.Type")<span class="asteriskColor">*</span><br />
                @Confluence.InputDropDown(null, "TypeInstitution", ViewBag.InstitutionList, width: "100%",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlInstType" } })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6" data-pagemode="edit">
                @Localization.GetText("OP.CR.NewInstitution.Acronym")
                @Confluence.InputText(null, "AcronymDesc", 17, required: false, width: "100%",
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtInstAcronym" } })
            </div>
        </div>
    </div>
    <br />
    @Localization.GetText("OP.CR.NewInstitution.AcronymInfo")
</div>