@model IDB.MW.Application.OPUSModule.ViewModels.Common.RelatedOperationRowViewModel
<tr data-id="@Model.RowId" class="custom-even odd">
    <td>@Model.Name</td>
    <td>@Model.Number</td>
    <td>@Model.OperationType</td>
    <td>@Model.RelationshipNumber</td>
    <td>@Model.RelationshipType</td>
    <td>@Model.RelationshipRole</td>
    <td>@Confluence.LabelDecimal(Model.TotalAmount)</td>
    <td>@Model.OverallStage</td>
    <td class="hidden">
        <span data-pagemode="edit">
            <input type="hidden" name="relatedOperationId" value="0">
            <input type="hidden" name="relatedUserCommentId" value="0">
            <input type="hidden" name="relatedOperationRelationshipId" value="0">
            <input type="hidden" name="OperationRelatedId" value="@Model.OperationRelatedId">
            <input type="hidden" name="relatedRelationRoleId" value="@Model.RelationshipRoleId">
            <input type="hidden" name="relatedRelationTypeId" value="@Model.RelationshipTypeId">
            <input type="hidden" name="relatedStartDate" value="@Model.StartDate">
            <input type="hidden" name="relatedEndDate" value="@Model.EndDate">
            <input type="hidden" name="RelationShipRoleThisOperationId" value="@Model.RelationShipRoleThisOperationId">
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.ButtonTrash(null,
                null,
                "removeRelatedOperation",
                dataAttributes: new Dictionary<string, string>()
                {
                    { "idb-fieldname", "btnRemoveRltdOp" }
                },
                htmlClass: Model.CanExpiredRelatedOperation ? 
                    "is-ops-relationship" : 
                    string.Empty))
            @Confluence.ButtonShowRow()
        </span>
    </td>
</tr>
<tr class="template even" data-persist="true" data-row-parent-id="@Model.RowId" data-second-file="true">
    <td colspan="9" class="custom-detail-table-row">
        <div class="row row-body-40">
            <div data-pagemode="edit">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <p>Comments</p>
                        @Confluence.InputTextArea(Model.Comments, "relatedComments", required: false, width: "100%",
                                          dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txaRltdComments" } })
                        <br />
                        @Confluence.ButtonTrash(null, null, "deleteComentOperationRelated",
                                              dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnRemoveRltdComm" } })
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td class="hidden"></td>
    <td class="hidden"></td>
    <td class="hidden"></td>
    <td class="hidden"></td>
    <td class="hidden"></td>
    <td class="hidden"></td>
    <td class="hidden"></td>
    <td class="hidden"></td>
    <td class="hidden"></td>
</tr>