@model IDB.MW.Application.OPUSModule.ViewModels.Common.RelationsViewModel
@{
    var relationshipClass = ViewData.ContainsKey("RelationshipClass") ?
        "notCollapse" : "";
}
<tr class="notCollapse">
    <th class="tree icon">
        <i class="tree-line"></i>
        <span class="icon collapse-button" onclick="collapseOperationRelatedTable(this)">+</span>
        <span></span>
    </th>
    <td colspan="9">
        @Confluence.LabelBold(Localization.GetText("OP.CR.RelatedOperation.RelationshipType") + ":")
        @Confluence.LabelBold(Model.RelationshipTypeName + " (" + Model.RelationshipTypeCode + ")")
        @Confluence.Label(" - " + Localization.GetText("OP.OD.AddRelationship.Header.Operations") + ":")
        @Confluence.LabelInteger(Model.TotalRelated)
        @Confluence.Label(" - " + Localization.GetText("OP.OD.AddRelationship.Result.TotalAmount") + ":")
        @Confluence.LabelDecimal(Model.TotalAmmount)
        @if (Model.HasParent)
        {
            @Confluence.Label(" - " + Localization.GetText("OP.OD.AddRelationship.Header.TotalAvailableBalance") + ":")
            @Confluence.LabelDecimal(Model.TotalBalance)
        }                                
    </td>
</tr>
@if (Model.HasParent)
{
    <tr class="@relationshipClass">
        <th class="tree"><span></span></th>
        <th class="w150">@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.Number")</th>
        <th>@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.OperationName")</th>
        <th class="w120">@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.OperationType")</th>
        <th hidden="hidden">@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.RelationshipNumber")</th>
        <th hidden="hidden">@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.RelationshipType")</th>
        <th class="w100">@Localization.GetText("R6.Proposal.AnnualAllocation.Modality")</th>
        <th class="w150">@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.RelationshipRole")</th>
        <th class="w180">@Localization.GetText("OP.OD.AddRelationship.Result.OverallStage")</th>
        <th class="w150">@Localization.GetText("OP.OD.AddRelationship.Result.TotalAmount")</th>
        <th class="w130"></th>
    </tr>
}