<div class="mod_badge_flag">
    <span
        title="RF contribution"
        class="ico_badge_flag">@Localization.GetText("RF contribution")</span>
    <span
        title="RF alignment"
        class="ico_badge_flag brown">@Localization.GetText("RF alignment")</span>
    <span
        title="RF strategic alignment"
        class="ico_badge_flag lime">@Localization.GetText("RF strategic alignment")</span>
    <span
        title="Sector indicator"
        class="ico_badge_flag aqua">@Localization.GetText("Sector indicator")</span>
    <span
        title="Country indicator"
        class="ico_badge_flag yellow">@Localization.GetText("Country indicator")</span>
    <span
        title="Pro-Gender"
        class="ico_badge_flag purple">@Localization.GetText("Pro-Gender")</span>
    <span
        title="Pro-Ethnicity"
        class="ico_badge_flag grey">@Localization.GetText("Pro-Ethnicity")</span>
</div>