@using IDB.Architecture.Language;

@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Common.HeaderViewModel

@{ 
    string isCloseName = Localization.GetText("Global.Open.Message");

    if (Model.IsCycleClosed)
    {
        isCloseName = Localization.GetText("Global.Closed.Message");
    }
}

<script>
        $(document).ready(function(){
            $('#pmrCycleImgState').tooltip();
        });
</script>
<div class="operationData dataDetails">
    <div class="data4">
        <p class="dataTitle">@Localization.GetText("PMR Cycle")</p>
        <p>@Model.PmrCycleName</p>
        <div id="pmrCycleImgState" title="@isCloseName">
            @if (Model.IsCycleClosed)
            {
                <img src="~/Images/icons/inactive.png" />
            }
            else
            {
                <img src="~/Images/icons/active.png" />
            }
        </div>
    </div>
    <div class="data4">
        <p class="dataTitle">@Localization.GetText("Last Update")</p>
        <p>
            @Model.LastUpdateDate
        </p>
    </div>
    <div class="data4">
        <p class="dataTitle">@Localization.GetText("PMR Validation stage")</p>
        <p>
            @Model.ValidationstageName
        </p>
    </div>
    <div class="data4">
        <p class="dataTitle">@Localization.GetText("Chief of Operations validation date")</p>
        <p>
            @Model.COValidationDate
        </p>
    </div>
    <div class="data4">
        <p class="dataTitle">@Localization.GetText("Division Chief validation date")</p>
        <p>
            @Model.DCValidationDate
        </p>
    </div>
    <div class="data4">
        <p class="dataTitle">@Localization.GetText("Country representative validation date")</p>
        <p>
            @Model.CRValidationDate
        </p>
    </div>
</div>