@model IDB.Presentation.MVC4.Areas.Global.Models.DelegatingTaskResultsModel

<link href='@Url.Content("~/Content/esmartGeneral.css")' rel="stylesheet" />
@Html.HiddenFor(m => m.TaskId)
@Html.Hidden("CurrentUser", IDBContext.Current.UserName)
<div class="popUpBody">
    <div class="font08em">
        <div class="relative h20px verticalPadding10 grayBackground">
            <div class="absolute w75 marginLeft5">
                <div class="inline-block verticalAlignMiddle">@Localization.GetText("Search"):</div>
                <div class="bold verticalAlignMiddle inline-block">@ViewBag.FilterApplied</div>
            </div>
            <div class="absolute absRight right5" style="padding-right: 2.5em;">
                <a href="javascript:void()" class="clearFilter" data-search-url="@Url.Action("DelegatingTaskSearch", "Tasks", new { area = "Global", taskId = Model.TaskId })">@Localization.GetText("Clear")</a>
            </div>
        </div>
    </div>
    <div class="membersContainer">
        <div class="relative h100px w90 centerContent marginBottom3">
            <table style="width: 100%">
                @{ int rowsCount = 0; }
                @foreach (var teamMemberGroup in Model.SplittedUsers)
                {
                    <tr>
                        @{ int memberCount = 0; }
                        @foreach (var teamMember in teamMemberGroup)
                        {
                            <td style="width: 30%; padding-bottom: 5em;">
                                <div class="memberContainer" id="@teamMember.UserName">
                                    <div class="relative">
                                        @Html.Hidden("username_" + rowsCount, @teamMember.UserName)
                                        <div class="teamMember grayColor">&nbsp;@teamMember.FullName</div>
                                        <div class="font08em grayColor marginBottom2"><i>&nbsp;@teamMember.UserName</i></div>
                                        <div class="bold">&nbsp;@teamMember.Role</div>
                                        <div class="grayColor">&nbsp;@teamMember.OrganizationalUnit</div>
                                        <div class="absolute absRight"></div>
                                    </div>
                                </div>
                            </td>
                            memberCount++;
                            rowsCount++;
                        }

                        @if (memberCount == 2)
                        {
                            <td>&nbsp;&nbsp;</td>
                        }
                    </tr>        
                }
            </table>
        </div>
    </div>
    <div class="borderTopGray w100 paddingTop30px">
        <div class="horizontalPadding20">
            <div class="relative h50px w96 centerContent">
                <div class="absolute grayColor font08em">
                    @Model.Users.Count @Localization.GetText("member")@(Model.Users.Count != 1 ? "s" : "") @Localization.GetText("found")
                </div>
                <div class="absolute absRight verticalAlignMiddle rightAlign">
                    <a href="javascript:void()" class="horizontalPadding10 font08em cancelButton">@Localization.GetText("Cancel")</a>
                    @{
                        if (Model.Users.Count > 0)
                        {
                            <input type="button" class="button yellowButton saveDelegateUser" data-save-route="@Url.Action("DelegatingTaskSave", "Tasks")" value="@Localization.GetText("Save")">
                        }
                        else
                        {
                            <input type="button" class="button grayButton" disabled="disabled">
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
