@model IDB.Presentation.MVC4.Areas.Global.Models.DelegatedTaskUserModel

@{
    var user = Model;
    
}

<script>
    $(document).ready(function () {

        $("#btnRemoveDelegatedTaskUser").click(function (e) {
            e.preventDefault();
            location.href = $(this).data('searchRoute');
        });

    });
</script>

<div class="padding20 font08em marginBottom2">
    <div class="w90 centerContent relative h100px">
        @Html.Hidden("taskId", user.TaskId)
        @Html.Hidden("username", user.UserData.UserName)

        <table >
            <tr>
                <td>
                    <div id="taskDelegatedUserContainer" class="memberContainer left25 not-selectable" style="width: auto; min-width: 140px">
                        <div class="relative">
                            <div class="teamMember grayColor">&nbsp;@user.UserData.Fullname</div>
                            <div class="font08em grayColor marginBottom2"><i>&nbsp;@user.UserData.UserName</i></div>
                            <div class="bold">&nbsp;@user.UserData.Role</div>
                            <div class="grayColor">&nbsp;@user.UserData.OrganzationalUnit</div>
                            <div class="absolute absRight"></div>
                        </div>
                    </div>
                </td>



            </tr>
        </table>



    </div>
</div>

@{
    var url = Url.Action("DelegatingTaskModal", "Tasks", new { area = "Global" }) + "?taskId=" + Model.TaskId;
    
   }

<div id="taskDelegatedFooterContainer" class="borderTopGray w100 paddingTop30px">
    <div class="horizontalPadding20">
        <div class="relative h50px w96 centerContent">
            <div class="absolute absRight verticalAlignMiddle rightAlign">
                <table>
                    <tr>
                        <td>
                            <a href="javascript:void()" class="horizontalPadding10 font08em cancelButton">@Localization.GetText("Cancel")</a>
                        </td>
                        <td>
                            <div class="centerAlign" style="padding-right: 0.8em">
                                <input type="button" class="button blueButton font1-1em search-replace" onclick="showDelegatingTaskWindow('@url')" data-search-route="@Url.Action("DelegatingTaskSearch", "Tasks", new { area = "Global", taskId = Model.TaskId })" value="@Localization.GetText("Search and replace")">
                            </div>
                        </td>
                        <td>
                            <div class="centerAlign">
                                <input type="button" id="btnRemoveDelegatedTaskUser" class="button blueButton font1-1em search-replace" data-search-route="@Url.Action("RemoveDelegation", "Tasks", new { area = "Global", operationNumber = Model.OperationNumber, taskId = Model.TaskId, username = Model.UserData.UserName })" value="@Localization.GetText("Remove delegation")">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
