<script>
    $(document).ready(function () {
        $("#LinkCancel").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#DeleteConfirmation").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            var urlRoute = $("#FormularioDirigido").attr("data-route");


            window.location.href = urlRoute;
            
        });
    });
</script>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "CommonFormConfirmDelete" }))
{
<div class="contentImpacts">
     @Localization.GetText("This action will delete the disaggregation and all the planned and actual values for this disaggregation. Would you like to proceed with the deletion?")
        <div class="titlePendingChanges">
        @Localization.GetText("Warning: If you updated other information, please save it before continuing with this action.")
    </div>
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="LinkCancel" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
        <label for="delete">
            <input type="button" value=" @Localization.GetText("Save")" class="btn-primary" id="DeleteConfirmation">
        </label>
    </div>
</div>
}
