@model IDB.Presentation.MVC4.Areas.Global.Models.DelegatingTaskSearchModel

@{
    var countries = Model.Countries.Select(c => new { c.Code, Name = c.NameEn }).ToList();
    countries.Insert(0, new { Code = "", Name = "Select Country" });
    var divisions = Model.Divisions.Select(c => new { c.Code, Name = c.NameEn }).ToList();
    divisions.Insert(0, new { Code = "", Name = "Select Division" });
    //var roles = Model.Roles.Select(c => new { c.Code, Name = c.NameEn }).ToList();
    var sharePointGroups = Model.SharepointGroups.Select(c => new { c.GroupType, c.GroupName }).ToList();
    sharePointGroups.Insert(0, new { GroupType = "", GroupName = "Select User Role" });
}


<script type="text/javascript">
    $(document).ready(function () {

        $(".searchOptions").click(function (e) {
            
            switch ($(this).val()) {
                case "1": $("#operationContainer").show(); $("#roleContainer").show(); $("#countryContainer").hide(); $("#divisionContainer").hide(); $("#SearchOption").val(1); break;
                case "2": $("#operationContainer").hide(); $("#countryContainer").show(); $("#roleContainer").show(); $("#divisionContainer").hide(); $("#SearchOption").val(2); break;
                case "3": $("#operationContainer").hide(); $("#countryContainer").hide(); $("#divisionContainer").show(); $("#roleContainer").show(); $("#SearchOption").val(3); break;
            }
        })

    });
</script>

@using (Html.BeginForm("DelegatingTaskResults", "Tasks"))
{
    @Html.HiddenFor(m => m.TaskId)
    @Html.HiddenFor(m => m.SearchOption)
    <div class="padding20 font08em marginBottom2">
        <div class="marginBottom2 w96 centerContent">
            <div>@Localization.GetText("Please search a member in order to delegate the task")</div>
            <div id="ErrorValidation" class="error-validation hide">@Localization.GetText("At least a filter should be applied")</div>
        </div>

        <div class="relative h50px w96 centerContent">
            <div class="w60 absolute">
                @Html.TextBoxFor(m => m.FullName, new { @class = "grayBorder w100", @placeholder = Localization.GetText("Full name"), @maxlength = "100" })
            </div>
            @* <div class="w37 absRight absolute">
                @Html.DropDownListFor(m => m.SharepointSelectedGroupName, new SelectList(sharePointGroups, "GroupType", "GroupName", Model.SharepointSelectedGroupName), new { @class = "kendoDropDown" })
            </div>*@
        </div>
        <div class="relative h50px w96 centerContent">
            <div class="w30 absolute">
                @Html.TextBoxFor(m => m.Username, new { @class = "grayBorder w100", @placeholder = Localization.GetText("User name"), @maxlength = "50" })
            </div>

        </div>

        <div class="inputContainer" style="padding-left: 1.2em;">
            <table style="width:100%">
                <tr>
                    <td style="width:30%">@Localization.GetText("Choose your Search Option"): </td>
                    <td style="width:70%">
                        <input type="radio" class="fancy-radio verticalAlignMiddle searchOptions" name="searchOptions" id="excel" value="1" />
                        <label for="excel" class="fancy-label-radio-circle bold verticalAlignMiddle">@Localization.GetText("Operation")</label>
                        <input type="radio" class="fancy-radio verticalAlignMiddle searchOptions" name="searchOptions" id="pdfRadio" value="2" />
                        <label for="pdfRadio" class="fancy-label-radio-circle bold marginLeft5 verticalAlignMiddle">@Localization.GetText("Country")</label>
						<input type="radio" class="fancy-radio verticalAlignMiddle searchOptions" name="searchOptions" id="otro" value="3" />
                        <label for="otro" class="fancy-label-radio-circle bold marginLeft5 verticalAlignMiddle">@Localization.GetText("Division")</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table style="margin-top: 2em">
                            <tr>
                                <td>

                                    <div class="" id="operationContainer" style="display: none">
                                        @Html.TextBoxFor(m => m.OperationNumber, new { @class = "grayBorder w90", @placeholder = Localization.GetText("Operation number"), @maxlength = "10" })
                                    </div>
                                    <div class="" id="countryContainer" style="display: none">
                                        @Html.DropDownListFor(m => m.Country, new SelectList(countries, "Code", "Name", Model.Country), new { @class = "kendoDropDown" })
                                    </div>
                                    <div class="" style="display: none" id="divisionContainer">
                                        @Html.DropDownListFor(m => m.Division, new SelectList(divisions, "Code", "Name", Model.Division), new { @class = "kendoDropDown" })
                                    </div>

                                </td>
                                <td style="padding-left: 2em">
                                    <div class="" style="display: none" id="roleContainer">
                                        @Html.DropDownListFor(m => m.SharepointSelectedGroupName, new SelectList(sharePointGroups, "GroupType", "GroupName", Model.SharepointSelectedGroupName), new { @class = "kendoDropDown" })
                                    </div>

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </div>      
    </div>
    <div class="borderTopGray w100 paddingTop30px">
        <div class="horizontalPadding20">
            <div class="relative h50px w96 centerContent">
                <div class="absolute absRight verticalAlignMiddle rightAlign">
                    <a href="javascript:void()" class="horizontalPadding10 font08em cancelButton">@Localization.GetText("Cancel")</a>
                    <input type="button" class="button blueButton searchDelegateUser" value=" @Localization.GetText("Search")">
                </div>
            </div>
        </div>
    </div>
}