@{
    Layout = null;
}
@model List<IDB.MW.Domain.Models.Architecture.Clauses.UserCommentModel>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>

<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>



<section class="central">
    <h2 class="hide">Seccion central de Contenido</h2>
    <div class="mod_contenido_central modEditingBasicData">

        @{Html.RenderAction("AdditionalValidators", "Tasks", new { 
              area = "Global", 
              Code = "WF-SP-001", 
              Editable = true, 
              TaskId = ViewBag.ActualTask,
              isRequest = false
          });
        }


        <div class="operationData dataDetails marginTop2Bottom1">
            <div class="operationData min_padding_left dataSocial">
                <div class="data8">
                    <p class="dataTitle"> @Localization.GetText("Instructions")</p>
                    <p> @Localization.GetText("Initiate validation workflow for approving the supervision plan.")</p>
                </div>
            </div>
        </div>
        <div class="operationData dataDetails marginTop2Bottom1">
            <div class="operationData min_padding_left dataSocial">
                <div class="data8">
                    <p class="dataTitle"> @Localization.GetText("Content")</p>
                </div>
            </div>
        </div>

        <div id="PartialSupervisionPlanContainer">

            @{Html.RenderAction("PartialSupervisionPlanDetail", "Tasks", new { TaskEntityId = ViewBag.ActualSP, view = 0 });}

        </div>


        <div class="operationData width_Off min_padding_left dataSocial  ">
            <h4 class="headingh3 cero_left"> @Localization.GetText("Comments") </h4>
        </div>

            <table id="commentTableUIRI002_edit" class="grid w100 noInnerPadding fixedValues" style="position: relative; left: 2.6%">
        <tbody id="comentContainer">
            @foreach (var ItemUserComment in Model)
            {
                <tr>
                    <td>
                        <div class="padding10 leftAlign">
                            <div class="verticalMargin10 w100">
                                <div class="verticalMargin10 inline-block">@(ItemUserComment.Modified == null ? "" : ItemUserComment.Modified.Value.ToString("dd MMM yyyy"))</div>
                                <div class="verticalMargin10 inline-block bold marginLeft3">@ItemUserComment.ModifiedBy</div>
                            </div>
                            <div class="verticalMargin10 w100">
                                <div class="padding10">
                                    <div class="verticalMargin10 inline-block bold marginLeft3">@ItemUserComment.Text</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    </div>
</section>
