@model IDB.MW.Application.Agreements.ViewModel.DetailsConditionViewModel
@using IDB.MW.Domain.Values

@{
    ViewBag.Title = "EditExtensionApprovalRequest";
    Layout = null;
}

@Styles.Render("~/Content/Confluence")
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Agreements/conditionDetails.css")" />

@Scripts.Render("~/bundles/scripts2")
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Global/GlobalScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Agreements/common.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Agreements/commonTask.js")"></script>

<h2 class="hide">Seccion central</h2>
<section class="central">
    <div class="mod_contenido_central generic_tasks">
        <input type="hidden" name="UserName" id="UserName" value="@Model.CurrentUser" />

        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "ConvergencePartialForm" }))
        {
            <a id="UrlPostConditionExtension"
               href="@Url.Action("SaveExtensionConditionTask", "Tasks", new { area = "Global" })"></a>
            <input type="hidden" id="EntityType" value="@Model.CompleteTaskViewModel.EntityType" />
            @Html.HiddenFor(x => x.Operation.OperationId)
            @Html.HiddenFor(x => x.MainOperationNumber)
            @Html.HiddenFor(x => x.Operation.OperationNumber)
            @Html.HiddenFor(x => x.Agreement.AgreementId)
            @Html.HiddenFor(x => x.ConditionId)
            @Html.HiddenFor(x => x.ConditionIndividuals[0].ConditionIndividualId)
            @Html.HiddenFor(x => x.ConditionIndividuals[0].ConditionExtensions[0].ConditionExtensionId)
            @Html.HiddenFor(x => x.CompleteTaskViewModel.TaskId)
            @Html.HiddenFor(x => x.CompleteTaskViewModel.TaskStatus)
            @Html.HiddenFor(x => x.CompleteTaskViewModel.Code)
            @Html.HiddenFor(x => x.ActionType)

            <h3 class="headingh2">
                <a href="@(Url.Action("Index", "Agreements",
                         new { area = "Agreements", operationNumber = Model.MainOperationNumber }))"
                   title="@Localization.GetText("AG.AgreementsAndConditions.Text")"
                   class="tipo1">@Localization.GetText("AG.AgreementsAndConditions.Text")</a>
            </h3>

            <h3 class="hide">Contenido central</h3>

            <div class="formatBlock pb40">
                @*@{Html.RenderAction("AdditionalValidatorsCondition", "Tasks", new
                    {
                        area = "Global",
                        Code = "WF-CL-003",
                        Editable = true,
                        TaskId = Model.CompleteTaskViewModel.TaskId,
                        ModelValidation = Model,
                        isRequest = false
                    });
                }*@
            </div>

            <div class="formatBlock">
                <div class="operationData min_padding_left dataSocial pb40">
                    <div class="data8">
                        <p class="dataTitle">
                            @Localization.GetText("TCM.TR.TaskAndRequestFoundCoordinator.Instructions")
                        </p>
                        <p>@Localization.GetText("Validate the extension for a condition.")</p>
                    </div>
                </div>
            </div>

            <div class="row mb16">
                <div class="floatLeft ml50">
                    <h4>@Localization.GetText("Comments")</h4>
                </div>
                <div class="float-right mr60">
                    <button type="button" class="buttonBlue" name="newCommentExtension" data-action="newCommentExtension"
                            data-datetime="@DateTime.UtcNow.ToString("dd MMM yy")"
                            data-username="@IDBContext.Current.UserName">
                        @Localization.GetText("OP.OD.TabBasicData.RelatedOperations.NewComments")
                    </button>
                </div>
            </div>

            @Html.Partial("~/Areas/Agreements/Views/Conditions/Partials/_CommentsExtensionTablePartial.cshtml", Model)

            <div class="row mt50 mb20">
                <div class="floatLeft ml60">
                    <h4>@Localization.GetText("Documents")</h4>
                </div>
                <div class="float-right mr60">
                    <button type="button" class="buttonBlue" name="documentsAdd" data-id="ConditionDocuments-add"
                            data-modal-allowclose="true" data-custom-modal="ConditionDocuments-modal-add"
                            data-custom-modal-validate="false"
                            data-custom-modal-title="@Localization.GetText("OP.AP.Documents.Search")"
                            data-idb-fieldname="btnDocumentsAdd">
                        @Localization.GetText("DM.Add.Document")
                    </button>
                </div>
            </div>

            <div class="mod_tabla icon_entypo tableDocuments" style="width: 94%">
                @Html.Partial("~/Areas/Agreements/Views/Conditions/Partials/_DocumentsTablePartial.cshtml",
                    Model.ConditionIndividuals[0].ConditionExtensions[0].UserDocuments,
                    new ViewDataDictionary {
                        { "IsEdit", true },
                        { "EntityRelated", AgreementsAndConditionsConstants.WF_ENTITY_TYPE_CONDITION_EXTENSION } })
            </div>
        }
    </div>
</section>

@Html.Partial("~/Areas/Agreements/Views/Conditions/Partials/_DocumentsModalPartial.cshtml")

<script type="text/javascript">
    MessageTranslation.text('changeJustification',
        '@Localization.GetText("Please provide a clear and specific justification for changing the performance classification")');
    MessageTranslation.text('addCommentRejectTask',
        '@Localization.GetText("Please, add a comment in order to reject the task")');
    MessageTranslation.text('removeMessage', '@Localization.GetText("Are you sure to remove this message?")');
    MessageTranslation.text('actionNotValid', '@Localization.GetText("Action Not Valid")');
    MessageTranslation.text('accept', '@Localization.GetText("Accept")');
</script>