@model IDB.MW.Domain.Models.Global.CompleteTaskViewModel
@{
    ViewBag.Title = "Index";
}

@section CSS
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/ResultsMatrix/Common/VerifyContent.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Globals/DetailCustom.css")" />
}
@section JavaScript
{
    <script src="@Url.Content("~/Scripts/Modules/Task/AddCommentTask.js")"></script>
    <script src="@Url.Content("~/Scripts/Modules/Task/TaskDetailsRequest.js")"></script>
}
<script type="text/javascript">

    $(document).ready(function () {
        $('.taskAction').click(function () {
            var href = $(this).data('href');
            if (href) {
                window.location.href = href;
            }
        });

        $.each($("a.btn_entypo"), function (index, value) {
            var url = $(this).attr('href');
            if (url.indexOf("GetDocument") >= 0 && url.indexOf("api") >= 0) {
                var newUrl = url.replace("api", "@ViewData["operationNumber"]");
                $(this).attr("href", newUrl);
            }
        });

        //idbTaskDocumentList.init();
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $(".FinishTask").on("click", function () {
            var route = $("#UrlPMIFinishTask").attr("data-route") + '?taskId=' + '@Model.TaskId';

                window.location.replace(route);

            });

        });

        function ValidateWorkflow() {
            /* Request the partial view with .get request. */
            var classificationdll = $("#Clasification").attr("value");

            var classificationdllValue = "";
            if (classificationdll != null) {
                classificationdllValue = classificationdll;
            }
            else {
                var classificationtxt = $("#Clasification").val();
                if (classificationtxt != null) {
                    classificationdllValue = classificationtxt;
                }
                else {
                    classificationdllValue = "";
                }
            }
            window.location.replace(
                '@Url.Content("~/Global/Tasks/ValidateTask?taskStatus=")@Model.TaskStatus&taskId= @Model.TaskId&classification=' +
                classificationdllValue + '&additionalValidators=' + $('#validator_list_additional_list').val());
        }

        function RejectWorkflow() {
            /* Request the partial view with .get request. */
            var classificationdll = $("#Clasification").attr("value");

            if (classificationdll != null) {
                classificationdllValue = classificationdll;
            }
            else {
                var classificationtxt = $("#Clasification").val();
                if (classificationtxt != null) {
                    classificationdllValue = classificationtxt;
                }
                else {
                    classificationdllValue = "";
                }
            }
            window.location.replace('@Url.Content("~/Global/Tasks/RejectTask?taskStatus=")@Model.TaskStatus&taskId=@Model.TaskId&classification=' + classificationdllValue);
        }

        function EditWorkflow() {
            @*window.location.replace('@Url.Content("~/Global/Tasks/Detail?")id=@Model.TaskId&edit=true');*@
            window.location.replace('@Url.Action("Detail", "Tasks", new { area = "Global", id = Model.TaskId, edit = true })');
        }

</script>

<section class="central">
    <div class="mod_contenido_central generic_tasks">
        <!--contracts_and_clauses-->
        <h3 class="headingh2"><a class="tipo1" href="javascript:void(0)" title="@Localization.GetText("Tasks")">@Localization.GetText("Tasks")</a></h3>

        <div class="operationData">
            <div class="box_subtitle">
                <h4 class="headingh2 title_tag">@Model.TaskName</h4>
                <div class="editingButtonsEdit marginRight2Con5" id="phase1UICentralContentDetails">

                    @if (ViewBag.PMIFinishTask)
                    {
                        <a id="UrlPMIFinishTask" hidden="hidden" data-route="@Url.Action("FinishPMITask", "Tasks")"></a>
                        <label for="Validate">
                            <input type="button" class="btn-primary FinishTask" value="@Localization.GetText("OK")" title="@Localization.GetText("OK")" name="Finish" />
                        </label>
                    }
                    else
                    {
                        <label for="Validate">
                            <input type="button" class="btn-primary taskAction" value="@Localization.GetText("Validate")" name="Validate" onclick="ValidateWorkflow()" />
                        </label>
                    }
                    <label for="EditTask">
                        <input type="button" class="btn-secondary" value="@Localization.GetText("Edit")" id="EditTask" onclick="EditWorkflow()">
                    </label>

                </div>
            </div>
        </div>
    </div>

    <div class="operationData dataDetails marginTop2Bottom1">
        <div class="data4">
            <p class="dataTitle">@Localization.GetText("Creation on")</p>
            <p>@(Model.Created.HasValue ? Model.Created.Value.Date.ToString("dd MMMM yyyy") : "-")</p>
        </div>
        <div class="data4">
            <p class="dataTitle">@Localization.GetText("Due on")</p>
            <p>@(Model.Due.HasValue ? Model.Due.Value.ToString("dd MMMM yyyy") : "-")</p>
        </div>
        <div class="data2">
            <p class="dataTitle">@Localization.GetText("Workflow")</p>
            <p class="icon workflow">@Localization.GetText(Model.TaskWorkflow)</p>
        </div>

        <div class="data4">
            <p class="dataTitle">@Localization.GetText("Priority")</p>
            @switch (@Model.TaskPriority)
            {
                case 0: <p class="item icon low"></p> break;
                case 1: <p class="item icon medium"></p> break;
                case 2: <p class="item icon hight"></p> break;
            }
        </div>
    </div>
    <div class="operationData dataDetails marginTop1Bottom1">
        @if (ViewBag.ClauseNumber != null)
            {
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Clause")</p>
                <p>@ViewBag.ClauseNumber</p>
            </div>
        }
        @if (ViewBag.Category != null)
            {
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Category")</p>
                <p>@ViewBag.Category</p>
            </div>
        }
        @if (ViewBag.Description != null)
            {
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Description")</p>
                <p>@ViewBag.Description</p>
            </div>
        }
    </div>

    <div>
        <div>
            <div>
                <div>
                    @{ Html.RenderAction("TaskInnerDetail", "Tasks", new { model = Model, edit = false }); }
                </div>
            </div>
        </div>
    </div>

    <div class="operationData marginTop2Bottom1" id="buttonsValidateEditDetails">

        <div class="editingButtonsEdit marginRight2Con5">
            @if (ViewBag.PMIFinishTask)
            {
                <label for="Validate">
                    <input type="button" class="btn-primary FinishTask" value="@Localization.GetText("OK")" title="@Localization.GetText("OK")" name="Finish" />
                </label>
            }
            else
            {
                <label for="Validate">
                    <input type="button" class="btn-primary taskAction" value="@Localization.GetText("Validate")" name="Validate" onclick="ValidateWorkflow()" />
                </label>

                    <label for="Reject">
                        <input type="button" class="btn-primary taskAction" value="@Localization.GetText("Reject")" name="Reject" onclick="RejectWorkflow()" />
                    </label>
                    <label for="Reject">
                        <input type="button" class="btn-primary taskAction" value="@Localization.GetText(" Reject")" name="Reject" onclick="RejectWorkflow()" />
                    </label>

            }
            <label for="EditTask">
                <input type="button" class="btn-secondary" value="@Localization.GetText(" Edit")" id="EditTask" onclick="EditWorkflow()">
            </label>
        </div>
    </div>

</section>



