@model IDB.MW.Domain.Models.Clauses.OperationRelatedModel
@{
    ViewBag.Title = "CreateEligibilityApprovalRequest";
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/ui_fi_004_edit.css")"/>
<link href="@Url.Content("~/Content/Modules/Clauses/ClausesLetterCss.css")" rel="stylesheet" />

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Global/GlobalScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/main.js")"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $(".optionSelect").kendoDropDownList();
        $(".datepicker").kendoDatePicker({
            format: "dd MMM yyyy"
        });
        var grid1 = new GridComponent(".grid1", 20, false, true);
        var grid2 = new GridComponent(".grid2", 20, false, true);
        
    });
</script>


<h2 class="hide">Seccion central</h2>
<section class="central">
    <div class="mod_contenido_central generic_tasks">
        <!--contracts_and_clauses-->

        @{Html.RenderAction("AdditionalValidators", "Tasks", new {
              area = "Global",
              Code = "WF-CL-002",
              Editable = true,
              TaskId = Model.CompleteTaskView.TaskId,
              ModelValidation = Model,
              isRequest = false
          });
        }

        <div class="operationData dataDetails marginTop2Bottom1">
            <div class="operationData min_padding_left dataSocial">
                <div class="data8">
                    <p class="dataTitle">@Localization.GetText("Instructions")</p>
                    <p>@Localization.GetText("Initiate Validation Workflow for approving the Eligibility Date.")</p>
                </div>
            </div>
        </div>

        <div class="operationData width_Off min_padding_left dataSocial  ">
            <h4 class="headingh3 cero_left">@Localization.GetText("Comments") </h4>
        </div>

        <div id="commentslistdinamic" style="margin-bottom: 3%;">
            <table id="commentTableUIRI002_edit" class="grid w100 noInnerPadding fixedValues " style="position: relative; left: 2.6%">
                <tbody id="comentContainer">
                    @for (int i = 0; i < Model.Contracts[0].UserComments.Count(); i++) {
                        <tr>
                            <td>
                                <div class="padding10 leftAlign">
                                    <div class="verticalMargin10 w100">
                                        <div class="verticalMargin10 inline-block">@(Model.Contracts[0].UserComments[i].Modified == null ? "" : Model.Contracts[0].UserComments[i].Modified.Value.ToString("dd MMM yyyy"))</div>
                                        <div class="verticalMargin10 inline-block bold marginLeft3">@Model.Contracts[0].UserComments[i].ModifiedBy</div>
                                    </div>
                                    <div class="verticalMargin10 w100">
                                        <div class="padding10">
                                            <div class="verticalMargin10 inline-block bold marginLeft3">@Model.Contracts[0].UserComments[i].Text</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="operationData width_Off min_padding_left dataSocial  ">
            <h4 class="headingh3 cero_left">@Localization.GetText("Documents") </h4>
        </div>

        <div class="mod_tabla icon_entypo tableDocuments" style="width: 94%">
            <table class="grid w100 noInnerPadding fixedValues ">
                <thead>
                    <tr>
                        <th class="btn_azul_oscuro_flecha" data-field="User">@Localization.GetText("User")</th>
                        <th class="btn_azul_oscuro_flecha" data-field="Date">@Localization.GetText("Date")</th>
                        <th class="btn_azul_oscuro_flecha" data-field="IDBDocNum">@Localization.GetText("IDB Doc number")</th>
                        <th class="btn_azul_oscuro_flecha" data-field="Content">@Localization.GetText("Content")</th>
                        <th class="btn_azul_oscuro" data-field="Current">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var document in Model.Contracts[0].Documents) {
                        <tr>
                            <td>@document.CreatedBy</td>
                            <td>@String.Format("{0:dd MMM yyy}", document.Created)</td>
                            <td>@document.DocumentReference</td>
                            <td>@document.Description</td>
                            <td>
                            @{
                                var secureUrl = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(document.DocumentReference);
                            }
                            <a class="btn_entypo" title=" @Localization.GetText("Download")" href=@secureUrl target="_blank" style="position: relative;left: 25%;min-height: 0.9em;min-width: 1.5em;">&#58544;</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>
