@{
    Layout = null;
}
@model List<IDB.MW.Domain.Models.Architecture.Clauses.UserCommentModel>

@using IDB.Architecture.Language

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/ui_fi_004_edit.css")"/>
<link href="@Url.Content("~/Content/Modules/Clauses/ClausesLetterCss.css")" rel="stylesheet" />


<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thumbnail/thumbnail.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/main.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Task/ConfirmDeleteScript.js")"></script>




<section class="central">
    <h2 class="hide">Seccion central de Contenido</h2>
    <div class="mod_contenido_central modEditingBasicData">

        @{Html.RenderAction(
              "AdditionalValidators", 
              "Tasks", new { 
                  area = "Global", 
                  Code = "WF-SP-001", 
                  Editable = true, 
                  TaskId = ViewBag.ActualTask,
                  isRequest = false
              });
        }


        <div class="operationData dataDetails marginTop2Bottom1">
            <div class="operationData min_padding_left dataSocial">
                <div class="data8">
                    <p class="dataTitle"> @Localization.GetText("Instructions")</p>
                    <p> @Localization.GetText("Initiate validation workflow for approving the supervision plan.")</p>
                </div>
            </div>
        </div>
        <div class="operationData dataDetails marginTop2Bottom1">
            <div class="operationData min_padding_left dataSocial">
                <div class="data8">
                    <p class="dataTitle"> @Localization.GetText("Content")</p>

                </div>
            </div>
        </div>

        <div id="PartialSupervisionPlanContainer">
            @{Html.RenderAction("PartialSupervisionPlanDetail", "Tasks", new { TaskEntityId = ViewBag.ActualSP, view = 0 });}
        </div>


        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "ConvergencePartialForm" }))
        {
            <input type="hidden" name="CurrentSP" value="@ViewBag.ActualSP" />
            <input type="hidden" name="Task" value="@ViewBag.ActualTask" />
            <input type="hidden" id="UserName" value="@IDBContext.Current.UserName" />
            <input type="hidden" id="taskStatus" name="taskStatus" value="@ViewBag.TaskStatus" />
            <input type="hidden" id="ActionType" name="ActionType" value="" />
    
            <div id="CommentsPanel">

                <div class="operationData width_Off min_padding_left dataSocial  ">
                    <h4 class="headingh3 cero_left"> @Localization.GetText("Comments") </h4>
                </div>

                <div class="editingButtonsEdit" style="margin-bottom: 4%; position: relative; right: 3%;">
                    <input id="newCommentSupervision"
                           type="button"
                           class="btn-primary marginOff"
                           value="@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.NewComments")"
                           title="@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.NewComments")"
                           data-title="@Localization.GetText(" op.od.tabbasicdata.relatedoperations.newcomments")">
                </div>

                <table id="commentTableUIRI002_edit" class="grid w100 noInnerPadding fixedValues" style="position: relative; left: 2.6%">
                    <tbody id="comentContainer">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    @if (IDBContext.Current.UserName == Model[i].CreatedBy)
                                    {
                                        <div class="padding10 leftAlign">
                                            <div class="verticalMargin10 w100 relative h50px" style="height: 0%;">
                                                <input type="button" data-itemDeleted="@Model[i].UserCommentId" value="Delete" class="deleteTextButton verticalAlignTop absolute absRight controlDelete">
                                            </div>

                                            <div class="verticalMargin10 w100">
                                                <div class="verticalMargin10 inline-block">@(Model[i].Modified == null ? "" : Model[i].Modified.Value.ToString("dd MMM yyyy"))</div>
                                                <div class="verticalMargin10 inline-block bold marginLeft3 lastRowCommentUserJS">@Model[i].ModifiedBy</div>
                                            </div>
                                            <div class="verticalMargin10 w100">
                                                <div class="padding10">
                                                    @Html.HiddenFor(x => Model[i].UserCommentId)
                                                    @Html.HiddenFor(x => Model[i].CreatedBy)
                                                    @Html.HiddenFor(x => Model[i].Created)
                                                    @Html.HiddenFor(x => Model[i].Modified)
                                                    @Html.HiddenFor(x => Model[i].ModifiedBy)
                                                    <div class="verticalMargin10 inline-block bold marginLeft3">@Html.TextAreaFor(x => x[i].Text, new { @class = "txtDescriptionComent ", @data_val = true, @data_val_required = "Please, complete the mandatory fields", @rows = "5", @cols = "300", maxlength="1000" })</div>
                                                </div>
                                            </div>
                                        </div>                                                                
                                    }
                                    else
                                    {
                                        <div class="padding10 leftAlign">
                                            <div class="verticalMargin10 w100">
                                                <div class="verticalMargin10 inline-block">@(Model[i].Modified == null ? "" : Model[i].Modified.Value.ToString("dd MMM yyyy"))</div>
                                                <div class="verticalMargin10 inline-block bold marginLeft3 lastRowCommentUserJS">@Model[i].ModifiedBy</div>
                                            </div>
                                            <div class="verticalMargin10 w100">
                                                <div class="padding10">
                                                    @Html.HiddenFor(x => Model[i].UserCommentId)
                                                    @Html.HiddenFor(x => Model[i].CreatedBy)
                                                    @Html.HiddenFor(x => Model[i].Created)
                                                    @Html.HiddenFor(x => Model[i].Modified)
                                                    @Html.HiddenFor(x => Model[i].ModifiedBy)
                                                    @Html.HiddenFor(x => Model[i].Text)
                                                    <div class="verticalMargin10 inline-block bold marginLeft3">@Model[i].Text</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        }

    </div>
</section>
