@model IDB.MVCControls.DataListView.Models.DataListViewModel

<div id="@Model.Id" data-listViewContainer="true">
    <div data-listViewHeader="true">
        @Model.ResolvedHeader(Html, null)
    </div>
    @foreach (var dataListItem in Model.ModelData.OrderBy(d => d.Order))
    {
        <div data-listItem="true">
            @if (dataListItem.Active)
            {
                @Html.Partial(dataListItem.PartialViewName, (object) dataListItem.ViewModelData)
            }
            else
            {
                <div data-pagemode="edit">
                    @Html.Partial(dataListItem.PartialViewName, (object) dataListItem.ViewModelData)
                </div>
            }
        </div>
    }
    <div data-listviewfooter="true">
        @Model.ResolvedFooter(Html, null)
    </div>

</div>