@using Newtonsoft.Json
@model List<IDB.MW.Infrastructure.Documents.Messages.SearchDocumentQuery>

<div class="row documentToolbar">
    <div class="col-md-12 text-right">
        <a href="#" data-action="clearFilters">Clear All</a>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="row overflowContainer">
            @{
                var i = 0;
            }
            @foreach (var document in Model)
            {
                i++;

                <div id="document@(document.DocumentNumber)" class="col-md-4" data-action="selectDocument" data-json="@JsonConvert.SerializeObject(document, Formatting.None)">
                    <div class="documentLabel">
                        <span class="greenCheck"></span>
                        <p class="documentDate">
                            @document.CreationDate
                        </p>
                        <p class="documentNumber">IDBDocs number: @document.DocumentNumber</p>
                        <p class="documentName">
                            @document.DocumentName
                        </p>
                    </div>
                </div>

                if (i % 3 == 0)
                {
                <div class="clearfix">
                </div>
                }
            }
        </div>
    </div>
    <div class="col-md-5 documentPreview">
        <div class="documentData">
            <p id="documentName" class="documentTitle"></p>
            <label id="documentDate"></label>
        </div>
        <div>
            <label>IDBDocs</label>
            <p id="idbNumber"></p>
            <label>Document Content</label>
            <p id="docDescription"></p>
            <label>IDB Author Name</label>
            <p id="docAuthor"></p>
            <label>Operation Number</label>
            <p id="operationNumber"></p>
            <label>Contract Number</label>
            <p id="contractNumber"></p>
            <label>
                <button id="btnDownload" title="Download" class="btn btn-primary" data-action="downloadDocument">Download</button>
            </label>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.resultsContainer p').text('@Model.Count documents');

    function selectDocument(source)
    {
        var document = $('#' + source.attr('id') + ' .documentLabel');
        document.toggleClass('selected');

        if (document.hasClass('selected'))
        {
            try
            {
                var documentData = $.parseJSON(source.attr('data-json'));
                $('#documentName').text(documentData.DocumentName);
                $('#documentDate').text(documentData.CreationDate);
                $('#idbNumber').text(documentData.DocumentNumber);
                $('#docDescription').text(documentData.Description);
                $('#docAuthor').text(documentData.FullName);
                $('#operationNumber').text(documentData.MultiLoans);
                $('#contractNumber').text(documentData.MultiLoans);

                $('#btnDocumentModalAction').text($('#lnkAddTab').text()).attr('data-addSelected', 'true');
            }
            catch (e)
            {
            }
        }
        else
        {
            $('#documentName').text('');
            $('#documentDate').text('');
            $('#idbNumber').text('');
            $('#docDescription').text('');
            $('#docAuthor').text('');
            $('#operationNumber').text('');
            $('#contractNumber').text('');

            if ($('#searchContainer div.documentLabel.selected').length == 0)
            {
                $('#btnDocumentModalAction').text($('#lnkSearchTab').text()).attr('data-addSelected', 'false');
            }
        }
    }

    function downloadDocument(source)
    {
        window.open('@Url.Action("DownloadDocument", "DocumentModal", new
                {
                    area = ""
                })?documentNumber=' + $('#idbNumber').text(), '_blank');
    }
</script>
