@using IDB.Architecture.Language
@using System.Web.Mvc.Ajax
@model IDB.Presentation.MVC4.Areas.Announcements.Models.AnnouncementViewModel 
@{
    Layout = null;
}

<div id="modalnew" class="modal-dialog" role="document">
    <div class="modal-content ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">@Localization.GetText("SP.ANNOUNCEMENT.DELETE")</h4>
        </div>
        @using (Ajax.BeginForm("Delete", new { area = "Announcements", controller = "Announcements" }, new AjaxOptions
        {
            HttpMethod = "Post",
            UpdateTargetId = "announcementResult",
            InsertionMode = InsertionMode.Replace,
            //OnBegin = "AjaxOnBegin",
            OnBegin = "",
            OnSuccess = "AnnouncementDeleteSuccess",
            OnFailure = "AjaxOnFailure"
        }, new
        {
            id = "AnnouncementsDeleteForm"
        }
        ))
        {
            <div id="AnnouncementFor" class="modal-body row">
                @Html.HiddenFor(model => model.Announcement.AnnouncementId)
                <h4 class="col-md-12">@Localization.GetText("SP.ANNOUNCEMENT.DELETE_QUESTION")</h4>
                <div class="col-md-9 col-md-offset-2">
                    <div class="form-group row">
                        <label for="displayScope" class="col-md-4 form-control-label">@Localization.GetText("SP.ANNOUNCEMENT.SCOPE") </label>
                        <div class="col-md-8" id="displayScope">
                            @Html.DisplayFor(model => model.DefaultScopeName)
                            @Html.HiddenFor(model => model.Announcement.ScopeId, new { @Value = Model.Announcement.ScopeId })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="displayTitleAnnouncement" class="col-md-4 form-control-label">@Localization.GetText("SP.ANNOUNCEMENT.TITLE_ANNOUNCEMENT") </label>
                        <div class="col-md-8" id="displayTitleAnnouncement">
                            @Html.DisplayFor(model => model.Announcement.Title)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="displayTitleByLanguage" class="col-md-4 form-control-label">@Localization.GetText("SP.ANNOUNCEMENT.TITLE") </label>
                        <div class="col-md-8" id="displayTitleByLanguage">
                            @Html.DisplayFor(model => model.Announcement.TitleByLanguage)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="displayBodyByLanguage" class="col-md-4 form-control-label">@Localization.GetText("SP.ANNOUNCEMENT.BODY") </label>
                        <div class="col-md-8" id="displayBodyByLanguage">
                            @Html.DisplayFor(model => model.Announcement.BodyByLanguage)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="displayCreatedBy" class="col-md-4 form-control-label">@Localization.GetText("SP.ANNOUNCEMENT.START_DATE") </label>
                        <div class="col-md-8" id="displayCreatedBy">
                            @Model.Announcement.StartDate.ToString("dd-MMM-yyyy")
                          </div>
                    </div>
                    <div class="form-group row">
                        <label for="displayCreated" class="col-md-4 form-control-label">@Localization.GetText("SP.ANNOUNCEMENT.EXPIRATION_DATE") </label>
                        <div class="col-md-8" id="displayCreated">
                            @(Model.Announcement.ExpirationDate.HasValue ? Model.Announcement.ExpirationDate.Value.ToString("dd-MMM-yyyy") : String.Empty)
                      </div>
                    </div>
                    


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-group-lg" data-dismiss="modal">@Localization.GetText("SP.ANNOUNCEMENT.CLOSE")</button>
                <button type="submit" class="btn btn-primary btn-group-lg">@Localization.GetText("SP.ANNOUNCEMENT.DELETE")</button>
            </div>
        }
    </div>
</div>
