@model IDB.MW.Domain.Models.Security.FieldAccessModel
<div data-id="headerButtons" class="text-right" data-idb-fieldname="btnEditDocumentsTab">
    <div data-pagemode="read">
        @if (Model != null && Model.IsVisible && ViewBag.EditableScreen == true)
        {
            @Confluence.ButtonBlue(Localization.GetText("VER.GLOBAL.Edit"), action: "edit", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditDocument" } })
        }
        @Confluence.ButtonBlue(Localization.GetText("VER.GLOBAL.DOWNLOAD.ZIP"), action: "downloadDocumentZipVer", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnDownloadZip" } })
    </div>
    @if (Model != null && Model.IsVisible && ViewBag.EditableScreen == true)
    {
        <div data-pagemode="edit" class="hide">
            @if (ViewBag.BtnGenerateAnnex != null && ViewBag.BtnGenerateAnnex.IsVisible)
            {
                @Confluence.ButtonBlue(Localization.GetText("VER.Homepage.TabDocuments.GenerateAnnex"), "generateAnnex", "generateAnnex", true)
            }
            @if (ViewBag.BtnRefresh != null && ViewBag.BtnRefresh.IsVisible)
            {
                @Confluence.ButtonBlue(Localization.GetText("VER.Homepage.TabDocuments.Refresh"), action: "generateAnnexRefresh",
                tooltip: Localization.GetText("VER.Homepage.TabDocuments.Update.Tooltip"))
            }
        </div>
        <div data-pagemode="edit" class="pt10 hide">
            @Confluence.ButtonLink(Localization.GetText("VER.GLOBAL.Cancel"), null, "cancel")
            @Confluence.ButtonOrange(Localization.GetText("VER.GLOBAL.Save"), null, "save")
        </div>
    }

</div>
