@if (ViewBag.EditableScreen == true)
{
    <div data-id="headerButtons" class="text-right">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("VER.GLOBAL.Edit"), action: "edit")
        </div>

        <div data-pagemode="edit" class="hide">
            @Confluence.ButtonLink(Localization.GetText("VER.GLOBAL.Cancel"), null, "cancel")
            @Confluence.ButtonOrange(Localization.GetText("VER.GLOBAL.Save"), null, "save")

            @if (ViewBag.IsVisibleRequest == true)
            {
                @Confluence.ButtonBlue(Localization.GetText("VER.TabPolicyWaiver.Request.PolicyWaiver"), null, "requestPolicyWaiver")
            }

            @if (ViewBag.IsVisibleSendResponse == true)
            {
                @Confluence.ButtonBlue(Localization.GetText("VER.TabPolicyWaiver.Send.PolicyWaiver"), null, "sendPolicyWaiver")
            }          
        </div>
    </div>
}