@using IDB.MW.Domain.Values.Ver
@model  IList<IDB.MW.Application.VERModule.ViewModels.ItemSubmitViewModel>

@if (ViewBag.EditableScreen == true)
{
    foreach (var button in Model)
    {
        if (button.Code == VerActionTypeCode.LP_RETURN_TASK_LEGAL)
        {
            @ButtonWithModal(
                button.ActionTypeId.ToString(),
                button.Code,
                button.ActionTypeLabel)
        }
        else
        {
            @Confluence.ButtonBlue(
            button.ActionTypeLabel,
            null,
            "submitInstance",
            htmlClass: string.Concat(
                "floatRight ml10", button.IsVisible == false ? " hide" : string.Empty),
            dataAttributes: new Dictionary<string, string>
            {
                {"master-data-id", button.ActionTypeId.ToString()},
                {"submit-code", button.Code}
            })
        }
    }
}

@helper ButtonWithModal(
    string masterId, string code, string textButton)
{
    <button data-id="@code" class="buttonBlue floatRight ml10"
            data-modal-allowclose="true"
            data-custom-modal="@code"
            data-custom-modal-style=""
            data-custom-modal-title="@Localization.GetText("VMR.MM.MeetingRoom.ModalComment.Title")"
            data-custom-modal-validate="false"
            data-custom-buttons='["Continue", "Cancel"]'
            data-custom-button-continue-id="btnContinue"
            data-custom-button-continue="Continue"
            data-custom-button-continue-style="btn btn-primary"
            data-custom-button-continue-callback="validateSubmit"
            data-custom-button-continue-closeatend="true"
            data-custom-button-cancel-id="btnCancel"
            data-custom-button-cancel="Cancel"
            data-custom-button-cancel-style="btn btn-link"
            data-custom-button-cancel-callback=""
            data-custom-modal-onclose="modalOnClose"
            data-custom-modal-closeonoverlayclick="true">
        @textButton
    </button>
    <div id="@code" class="hide" data-parsley-validate="data-parsley-validate" data-submit-popup="true">
        <div class="message" style="border: none;width: 99%">
            @Confluence.InputTextArea(
            null,
            maxLength: 3000,
            name: VerSecurityValues.COMMENT_RETURN,
            htmlClass: "DemResizable",
            width: "100%",
            required: false,
            placeholder: Localization.
                GetText("VMR.MM.MeetingRoom.ModalComment.PlaceHolderText"))
            @Confluence.InputHidden(masterId, "master-data-id")
            @Confluence.InputHidden(code, "submit-code")
        </div>
    </div>
}