@using IDB.MW.Application.VERModule.ViewModels
@using IDB.MW.Domain.Models.Security
@using IDB.MW.Domain.Values.Ver
@model IList<ItemSubmitViewModel>

@{
    var security = (List<FieldAccessModel>)ViewBag.Security;
    var requestPolicy = security.FirstOrDefault(o => o.FieldName == VerSecurityValues.POLICY_WAIVER_REQUEST);
    var sendPolicy = security.FirstOrDefault(o => o.FieldName == VerSecurityValues.POLICY_WAIVER_SEND_RESPONSE);
    var editButton = security.FirstOrDefault(o => o.FieldName == "btnEditDocumentsTab");
    editButton = editButton ?? new FieldAccessModel();
    ViewBag.BtnGenerateAnnex = security.FirstOrDefault(o => o.FieldName == "btnGenerateAnnex");
    ViewBag.IsVisibleRequest = requestPolicy != null && requestPolicy.IsVisible;
    ViewBag.IsVisibleSendResponse = sendPolicy != null && sendPolicy.IsVisible;
}
<div id="allContainerButtons">
    <div id="buttonSubmitPartial">
        @Html.Partial("Partials/DataTables/Buttons/SubmitButtonsPartial", Model) 
    </div>
    <div id="buttonParticipantPartial">
        @Html.Partial("Partials/DataTables/Buttons/ParticipantButtonsPartial")
    </div>
    <div id="buttonTaskPartial">
        @Html.Partial("Partials/DataTables/Buttons/TaskButtonsPartial")
    </div>
    <div id="buttonDocumentPartialTop">
        @Html.Partial("Partials/DataTables/Buttons/DocumentButtonsPartialTop", editButton)
    </div>
    <div id="buttonDocumentPartialBottom">
        @Html.Partial("Partials/DataTables/Buttons/DocumentButtonsPartialBottom", editButton)
    </div>
    <div id="buttonPolicyWaivedPartial">
        @Html.Partial("Partials/DataTables/Buttons/PolicyWaivedButtonsPartial")
    </div>
</div>
