@using System.Web.Mvc.Html
@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Areas.PACI.Models
@model QuestionnaireViewModel
@{
    var active = string.Empty;
    var reportActive = Model.TabId == "tabReport" ? "active" : string.Empty;
}

@*Remove inline styles and plece them into a css file*@
<div class="col-md-12 pr0 tabsMenuHeader">
    <ul class="tabs">
        @Html.HiddenFor(model => model.ModulesTabs.IsEdit)
        @if (Model.ModulesTabs.IsEdit)
        {
            reportActive = reportActive.Equals("active") ? reportActive : "disabled";
            for (int i = 0; i < Model.ModulesTabs.ModuleTabs.Count; i++)
            {
                active = Model.ModulesTabs.ModuleTabs[i].ModuleId.ToString() == Model.ModuleTabId ? "active" : string.Empty;

                if (active.Equals("active"))
                { //? active : "disabled";
                    <li class="@active">
                        @Html.HiddenFor(model => model.ModulesTabs.ModuleTabs[i].ModuleName)
                        @Html.HiddenFor(model => model.ModulesTabs.ModuleTabs[i].ModuleId)
                        @Ajax.ActionLink(Model.ModulesTabs.ModuleTabs[i].ModuleName, "Index", "Questionnaire", new { operationNumber = Model.OperationNumber, institutionId = Model.InstitutionId, tabId = "tabQuestionnaire", tabModuleId = Model.ModulesTabs.ModuleTabs[i].ModuleId, idQuestionnaire = Model.QuestionnaireId }, new AjaxOptions { UpdateTargetId = "mainLayoutOperationContent", OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" }, new { })
                    </li>
                }
                else
                {
                    <li class="disabled">
                        @Html.HiddenFor(model => model.ModulesTabs.ModuleTabs[i].ModuleName)
                        @Html.HiddenFor(model => model.ModulesTabs.ModuleTabs[i].ModuleId)
                        <a>@Model.ModulesTabs.ModuleTabs[i].ModuleName</a>
                    </li>
                }
            }

            if (reportActive.Equals("active"))
            {
                <li class="@reportActive">
                    @Ajax.ActionLink(Localization.GetText("PACI.REPORT"), "Index", "Report", new { operationNumber = Model.OperationNumber, tabId = "tabReport", institutionId = Model.InstitutionId, idQuestionnaire = Model.QuestionnaireId }, new AjaxOptions { UpdateTargetId = "mainLayoutOperationContent", OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" }, new { })
                </li>
            }
            else
            {
                <li class="disabled">
                    <a>@Localization.GetText("PACI.REPORT")</a>
                </li>
            }
        }
        else
        {
            for (int i = 0; i < Model.ModulesTabs.ModuleTabs.Count; i++)
            {
                active = Model.ModulesTabs.ModuleTabs[i].ModuleId.ToString() == Model.ModuleTabId ? "active" : string.Empty;
                <li class="@active">
                    @Html.HiddenFor(model => model.ModulesTabs.ModuleTabs[i].ModuleName)
                    @Html.HiddenFor(model => model.ModulesTabs.ModuleTabs[i].ModuleId)
                    @Ajax.ActionLink(Model.ModulesTabs.ModuleTabs[i].ModuleName, "Index", "Questionnaire", new { operationNumber = Model.OperationNumber, institutionId = Model.InstitutionId, tabId = "tabQuestionnaire", tabModuleId = Model.ModulesTabs.ModuleTabs[i].ModuleId, idQuestionnaire = Model.QuestionnaireId }, new AjaxOptions { UpdateTargetId = "mainLayoutOperationContent", OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" }, new { })
                </li>
            }

            <li class="@reportActive">
                @Ajax.ActionLink(Localization.GetText("PACI.REPORT"), "Index", "Report", new { operationNumber = Model.OperationNumber, tabId = "tabReport", institutionId = Model.InstitutionId, idQuestionnaire = Model.QuestionnaireId }, new AjaxOptions { UpdateTargetId = "mainLayoutOperationContent", OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" }, new { })
            </li>
        }
    </ul>

</div>