@using IDB.Presentation.MVC4.Areas.PACI.Models
@model QuestionnaireViewModel
@{
    var selectedCondition = Model.DisplayModule.Conditions.FirstOrDefault(n => n.PaciConditionId == Model.PaciConditionId);
    int i = Model.DisplayModule.Conditions.IndexOf(selectedCondition);
    var selectedQuestion = selectedCondition.Questions.FirstOrDefault(n => n.QuestionId == Model.QuestionId);
    int j = Model.DisplayModule.Conditions[i].Questions.IndexOf(selectedQuestion);
    int m = selectedQuestion.Comments.IndexOf(selectedQuestion.Comments.LastOrDefault()); 
    int k = selectedQuestion.Comments[m].UserComments.IndexOf(selectedQuestion.Comments[m].UserComments.LastOrDefault());
}

<div class="col-md-12 pr0 pl0 internalNote" id="">
    <div class="col-md-4">
        @Confluence.Label(Model.DisplayModule.Conditions[i].Questions[j].Comments[m].UserComments[k].CreatedBy, htmlClass: "ml20")
        @Confluence.ButtonTrash(null, htmlClass: "ml20 mt0", required: false, action: "deleteNote")
    </div>
    <div class="col-md-8">
        @Confluence.LabelGetDate(Model.DisplayModule.Conditions[i].Questions[j].Comments[m].UserComments[k].Created)
    </div>
    <br /><br />
    @Confluence.InputTextArea(Model.DisplayModule.Conditions[i].Questions[j].Comments[m].UserComments[k].Text,
                        width: "100%", height: "100px", htmlClass: "", disabled: false, required: true,
                        id: string.Format("DisplayModule_Conditions_{0}__Questions_{1}__Comments_{2}__UserComments_{3}__Text", i, j, m, k),
                        name: string.Format("DisplayModule.Conditions[{0}].Questions[{1}].Comments[{2}].UserComments[{3}].Text", i, j, m, k))
    <br /><br />
    @Html.HiddenFor(model => model.DisplayModule.Conditions[i].Questions[j].Comments[m].UserComments[k].Text)
    @Html.HiddenFor(model => model.DisplayModule.Conditions[i].Questions[j].Comments[m].QuestionId)
    @Html.HiddenFor(model => model.DisplayModule.Conditions[i].Questions[j].QuestionId)
</div>