@using IDB.Architecture.Extensions
@using IDB.Presentation.MVC4.Areas.PACI.Models
@using IDB.MW.Domain.Values.Paci

@model PaciViewModel
@{
    var selected = Model.InstitutionQuestionnaires.Where(n => n.InstitutionId == Model.SelectedInstitution).FirstOrDefault();
    int i = Model.InstitutionQuestionnaires.IndexOf(selected);
    int q = selected.OperationQuestionnaire.IndexOf(selected.OperationQuestionnaire.Where(o => o.QuestionnaireStageCode == QuestionnaireStageCodeEnum.Draft.GetStringValue()).FirstOrDefault());

}
<tr id="tr_@Model.InstitutionQuestionnaires[i].OperationQuestionnaire[q].PaciQuestionnaireId.ToString()" data-id="@Model.InstitutionQuestionnaires[i].OperationQuestionnaire[q].PaciQuestionnaireId.ToString()">
    <td align="center">
        @Confluence.Label(Model.InstitutionQuestionnaires[i].OperationQuestionnaire[q].OperationNumber)
        @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[q].OperationNumber)
        @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[q].PaciQuestionnaireId)
        @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[q].InstitutionId)
    </td>
    <td></td>
    <td align="center"></td>
    <td>
        @Model.InstitutionQuestionnaires[i].OperationQuestionnaire[q].QuestionnaireStage
        @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[q].QuestionnaireStage)
        @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[q].QuestionnaireStageId)
        @Html.HiddenFor(model => model.InstitutionQuestionnaires[i].OperationQuestionnaire[q].QuestionnaireStageCode)
    </td>
    <td></td>
    <td></td>
    <td align="center">@Confluence.ButtonTrash(string.Empty, action: "deletePaci", name: "btnDeletePaci", required: false)</td>
</tr>