@using System.Web.Mvc.Html
@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Areas.PACI.Models
@model ReportViewModel
@{
    var active = string.Empty;
    bool isReportActive = Model.TabId == "tabReport";
    var reportActive = isReportActive ? "active" : string.Empty;
}

<div class="col-md-12 pr0 tabsMenuHeader">
    <ul class="tabs">
        @for (int i = 0; i < Model.Modules.Count; i++)
        {
            bool isActive = Model.Modules[i].ModuleId.ToString() == Model.ModuleTabId;
            active = isActive
            ? "active"
            : string.Empty;

            @Html.HiddenFor(model => model.Modules[i].ModuleName)
            @Html.HiddenFor(model => model.Modules[i].ModuleId)

            if (isActive)
            {
                <li class="@active">
                    @Ajax.ActionLink(Model.Modules[i].ModuleName, "Index", "Questionnaire", new { operationNumber = Model.OperationNumber, institutionId = Model.InstitutionId, tabId = "tabQuestionnaire", tabModuleId = Model.Modules[i].ModuleId, idQuestionnaire = Model.QuestionnaireId }, new AjaxOptions { UpdateTargetId = "mainLayoutOperationContent", OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" }, new { })
                </li>
            }
            else
            {
                if (Model.IsEdit)
                {
                    <li class="disabled">
                        <a>@Model.Modules[i].ModuleName</a>
                    </li>
                }
                else
                {
                    <li class="@active">
                        @Ajax.ActionLink(Model.Modules[i].ModuleName, "Index", "Questionnaire", new { operationNumber = Model.OperationNumber, institutionId = Model.InstitutionId, tabId = "tabQuestionnaire", tabModuleId = Model.Modules[i].ModuleId, idQuestionnaire = Model.QuestionnaireId }, new AjaxOptions { UpdateTargetId = "mainLayoutOperationContent", OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" }, new { })
                    </li>
                }
            }

        }

        @if (isReportActive)
        {
            <li class="@reportActive">
                @Ajax.ActionLink(Localization.GetText("PACI.REPORT"), "Index", "Report", new { operationNumber = Model.OperationNumber, tabId = "tabReport", institutionId = Model.InstitutionId, idQuestionnaire = Model.QuestionnaireId }, new AjaxOptions { UpdateTargetId = "mainLayoutOperationContent", OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" }, new { })
            </li>
        }
        else
        {
            if (Model.IsEdit)
            {
                <li class="disabled">
                    <a>@Localization.GetText("PACI.REPORT")</a>
                </li>
            }
            else
            {
                <li class="@reportActive">
                    @Ajax.ActionLink(Localization.GetText("PACI.REPORT"), "Index", "Report", new { operationNumber = Model.OperationNumber, tabId = "tabReport", institutionId = Model.InstitutionId, idQuestionnaire = Model.QuestionnaireId }, new AjaxOptions { UpdateTargetId = "mainLayoutOperationContent", OnComplete = "paciAjaxOnComplete", OnBegin = "paciAjaxOnBegin" }, new { })
                </li>
            }
        }

    </ul>
</div>