@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration

@model CancelProcurementViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
    var formatDolar = appSettings.FormatIntegerDolar;
}


<div class="row">
    <div class="col-xs-12">
        @Confluence.Label(Localization.GetText("COMMON.SelectReasonCancelation"))
    </div>
</div>

<div class="row mb30">
    <div class="col-xs-3">
        @Confluence.InputDropDown(Model.ReasonId.ToString(), "cancelReasonId", ViewBag.CancelReasonList, orderAsc: false, htmlClass: "listUp")
    </div>
    <div class="col-xs-9" data-region="otherReason">
        @Confluence.InputText(Model.OtherReason, "otherReason", width: "100%")
    </div>
</div>

<div class="row mb30">
    <div class="col-xs-12">
        @Confluence.Label(Localization.GetText("COMMON.Reason"))
    </div>
    <div class="col-xs-12">
        @Confluence.LabelCursive(Localization.GetText("TCP.FirmProcurement.ReasonSubtitle"))
    </div>
    <div class="col-xs-12">
        @Confluence.InputTextArea(Model.Reason, "reason", width: "100%", height: "100px")
    </div>
</div>

<div class="row mb30">
    <div class="col-xs-12">
        @Html.Partial("EditPartial/_documentCancelReason", Model)
    </div>
</div>