@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement

@model CancelProcurementViewModel
@{

    var tableName = "CancelProcDocuments";
}

<div class="float-right">
    <button class="buttonBlue pull-right" type="button"
            onclick="showDocumentModalBEO(event)" data-linked-table="@tableName">
        @Localization.GetText("DM.Add.Document")
    </button>
</div>


<div class="">
    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableTitle.SupportingDocuments"))
</div>
<div class="mb15">
    @Confluence.LabelCursive(Localization.GetText("TCP.FirmProcurement.TableSubTitle.SupportingDocuments"))
</div>

@DocumentManagement.DynamicTable(
       tableName,
       tableName,
       Model.DocumentTable,
       true,
       false,
       deleteTargetFunction: "deleteDocumentBEO",
       loadDefaultModules: false)
