@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using System.Web.Mvc

@model SummaryDataViewModel

<div data-name="summary-data-modal" class="hide modalBody">

    <table id="SummaryDataTable" class="tableSumaryData">

        <tbody>
            <tr class="">

                <td class="w170">
                    @Confluence.LabelBold(Localization.GetText("TCP.FirmProcurement.SummaryData.ProcurementID"))
                </td>
                <td class="w650 text-left">
                    @Confluence.Label(Model.ProcurementId)
                </td>
            </tr>


            <tr class="">

                <td class="w170">
                    @Confluence.LabelBold(Localization.GetText("TCP.FirmProcurement.SummaryData.ProcurementName"))
                </td>
                <td class="w650 text-left">
                    @Confluence.Label(Model.ProcurementName)
                </td>
            </tr>

            <tr class="">

                <td class="w170">
                    @Confluence.LabelBold(Localization.GetText("TCP.FirmProcurement.SummaryData.ProcessModality"))
                </td>
                <td class="w650 text-left">
                    @Confluence.Label(Model.ProcessModality)
                </td>
            </tr>

            <tr class="">

                <td class="w170">
                    @Confluence.LabelBold(Localization.GetText("TCP.FirmProcurement.SummaryData.Country"))
                </td>
                <td class="w650 text-left">
                    @Confluence.Label(Model.Country)
                </td>
            </tr>

            <tr class="">

                <td class="w170">
                    @Confluence.LabelBold(Localization.GetText("TCP.FirmProcurement.SummaryData.Sector"))
                </td>
                <td class="w650 text-left">
                    @Confluence.Label(Model.Sector)
                </td>
            </tr>

            <tr class="">

                <td class="w170">
                    @Confluence.LabelBold(Localization.GetText("TCP.FirmProcurement.SummaryData.OperationNumber"))
                </td>
                <td class="w650 text-left">
                    @Confluence.Label(Model.OperationNumber)
                </td>
            </tr>

            <tr class="">

                <td class="w170">
                    @Confluence.LabelBold(Localization.GetText("TCP.FirmProcurement.SummaryData.OperationName"))
                </td>
                <td class="w650 text-left">
                    @Confluence.Label(Model.OperationDescription)
                </td>
            </tr>

            <tr class="">

                <td class="w170">
                    @Confluence.LabelBold(Localization.GetText("TCP.FirmProcurement.SummaryData.FundingTCNumber"))
                </td>
                <td class="w650 text-left">
                    @FundingTCNumberList(Model.FundingTCNumber)
                </td>
            </tr>

            <tr class="">

                <td class="w170">
                    @Confluence.LabelBold(Localization.GetText("TCP.FirmProcurement.SummaryData.DescriptionServices"))
                </td>
                <td class="w650 text-left">
                    @Confluence.Label(Model.DesciptionServices)
                </td>
            </tr>

        </tbody>

    </table>
</div>

@helper FundingTCNumberList(List<string> numbers)
{

    foreach (var number in numbers)
    {
        @Confluence.Label(number);
       <br />
    }
}