@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement

@model FirmProcurementViewModel


<div data-id="headerButtons" class="float-right">
    @if (ViewBag.ActiveTab == "#linktabIdentification")
    {
        <div data-type="contentButtons" data-id="#linktabIdentification" class="mb40">
            @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-Identification")
            @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-Identification")
            @Confluence.ButtonBlue(Localization.GetText("TCP.FirmProcurement.Button.CloseIdentificationStage"), name: "close-phase")
            </div>
    }
    @if (ViewBag.ActiveTab == "#linktabPreparation")
	{
        <div data-type="contentButtons" data-id="#linktabPreparation" class="mb40">
            @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-Preparation")
            @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-Preparation")
            @if ((Model.Header.OrderStage == 2) && Model.CanClosePhase)
            {
                @Confluence.ButtonBlue(Localization.GetText("TCP.FirmProcurement.Button.ClosePreparationStage"), name: "close-phase")
            }
        </div>
	}
    @if (ViewBag.ActiveTab == "#linktabEvaluation")
    {
        <div data-type="contentButtons" data-id="#linktabEvaluation" class="mb40">
            @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-Evaluation")
            @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-Evaluation")
            @if ((Model.Header.OrderStage == 3) && Model.CanClosePhase)
            {
                @Confluence.ButtonBlue(Localization.GetText("TCP.FirmProcurement.Button.CloseEvaluationStage"), name: "close-phase")
            }
        </div>
    }
    @if (ViewBag.ActiveTab == "#linktabNegotiation")
    {
        <div data-type="contentButtons" data-id="#linktabNegotiation" class="mb40">
            @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-Negotiation")
            @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-Negotiation")
            @if ((Model.Header.OrderStage == 4) && Model.CanClosePhase)
            {
                @Confluence.ButtonBlue(Localization.GetText("TCP.FirmProcurement.Button.CloseNegotiationStage"), name: "close-phase")
            }
        </div>
    }
    @if (ViewBag.ActiveTab == "#linktabExecution")
    {
        <div data-type="contentButtons" data-id="#linktabExecution" class="mb40">
            @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-Execution")
            @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-Execution")
            @if ((Model.Header.OrderStage == 5) && Model.CanClosePhase)
            {
                @Confluence.ButtonBlue(Localization.GetText("TCP.FirmProcurement.Button.CloseProcurement"), name: "close-phase",
                         dataAttributes: new Dictionary<string, string> { { "HasAssociatedTasks", Model.Header.HasAssociatedTasks.ToString().ToLower() },
                                                                          { "IsCloseButton", "true"}})
            }
        </div>
    }
</div>



