@using System.Globalization;
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers

@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Components

@using IDB.MW.Infrastructure.BaseClasses
@using IDB.MW.Application.Core.ViewModels
@using IDB.MW.Application.BEOProcurementModule.Enums

@model WinnerChangeViewModel

@{
    var tableName = "winnersTable";

    var cmdCollection = (CustomEnumDictionary<MasterDataViewModel>)ViewBag.CMDCollection;
    var modalityFrwId = cmdCollection[ProcurementModalityEnum.Framework].MasterId;

    var config = Html.RenderDataTable(Model.Winners)
        .Name(tableName)
        .AddPrimaryKeyToName(false)
        .PrimaryKey(x => x.OfferId.ToString(CultureInfo.InvariantCulture))
        .UseDataTableNet(false)
        .UsePageMode(false)
        .Columns(columns =>
        {
            columns.Template(c => Confluence.LabelGetDropDown(c.OfferId, ViewBag.FirmListShortListed, false))
                .Orderable(false)
                .CssClass("")
                .CssHeaderClass("")
                .Header(Localization.GetText("TCP.FirmProcurement.TableHeader.FirmName"))
                .HeaderAttribute("style", "")
                .Attribute("name", c => "firmName")
                .Hidden(false);
            columns.Template(c => ViewBag.ModalityId == modalityFrwId ?
                Confluence.InputCheckbox(
                    isChecked: c.IsWinner,
                    name: tableName + "-Winner",
                    disabled: false) :
                Confluence.InputRadioButton(
                    value: c.OfferId.ToString(CultureInfo.InvariantCulture),
                    isChecked: c.IsWinner,
                    name: tableName + "-Winner",
                    htmlClass: "w100",
                    required: true))
                .Orderable(false)
                .CssClass("textalign-center w150")
                .CssHeaderClass("")
                .Header(Localization.GetText("TCP.FirmProcurement.PopupChangeWinner.TableHeader.Winner"))
                .HeaderAttribute("style", "")
                .Hidden(false);
        })
    ;
    config.TableClass = "tableNormal";
}

<div data-name="winner-change" class="hide modalBody" data-parsley-validate="data-parsley-validate" data-parsley-excluded="[disabled]">
    <div class="mb10">
        @Confluence.Label(Localization.GetText("TCP.FirmProcurement.PopupChangeWinner.TableTitle.SelectWinner"))
    </div>

    <div class="row mb20">
        <div class="col-xs-12">
            @Html.Partial("Controls/DataTable", config)
        </div>
    </div>

    <div class="row mb20">
        <div class="col-xs-12">
            @Confluence.Label(Localization.GetText("COMMON.Justification"))
        </div>
        <div class="col-xs-12 mb5">
            @Confluence.Label(Localization.GetText("TCP.FirmProcurement.PopupChangeWinner.TableSubTitle.Justification"), htmlClass: "fontSize11")
        </div>
        <div class="col-xs-12">
            @Confluence.InputTextArea(
            value: Model.Justification,
            name: tableName + "-justificationText",
            htmlClass: "justificationTextSize",
            required: false,
            maxLength: 575)
        </div>
    </div>
</div>