@using IDB.MW.Domain.Models.Architecture.EvaluationTracking;
@model IEnumerable<IDB.MW.Domain.Models.Architecture.EvaluationTracking.EvaluationTrackingRulesModel>
@{
    ViewBag.Title = Localization.GetText("Verify Content");
}
<script type="text/javascript"
        src="@Url.Content("~/Scripts/Modules/EvaluationTracking/VerifyContent/verifyGrid.js")"></script>

<div class="contentContainer">
    <div class="w100">
        <table id="verify-results-grid" class="gridVerifyContent w73 inline-block grayColor">
            <thead>
                <tr>
                    <th style="width: 20%;">@Localization.GetText("EvaluationTracking.VerifyEvaluationName")</th>
                    <th style="width: 20%;">@Localization.GetText("EvaluationTracking.VerifyMethodology")</th>
                    <th style="width: 20%;">@Localization.GetText("Stage")</th>
                    <th style="width: 40%;">@Localization.GetText("EvaluationTracking.VerifyDocumentType")</th>
                    <th class="compilanceTh">@Localization.GetText("Compliance")</th>
                </tr>
            </thead>
            <tbody class="alignLeft">
                @{string statusClass = string.Empty;}
                @foreach (EvaluationTrackingRulesModel rules in Model)
                {
                    <tr>
                        <td>@Html.LabelForModel(rules.ET_Name, new { @class = "labelCustom" })</td>
                        <td>@Html.LabelForModel(rules.Methodology, new { @class = "labelCustom" })</td>
                        <td>@Html.LabelForModel(rules.Stage, new { @class = "labelCustom" })</td>
                        <td>@Html.LabelForModel(rules.DocType, new { @class = "labelCustom" })</td>
                        <td>
                            @switch (rules.Compliance)
                            {
                                case "SATISFACTORY": statusClass = "successStatus"; break;
                                case "ALERT": statusClass = "warningStatus"; break;
                                case "PROBLEM": statusClass = "errorStatus"; break;
                            }
                            <div class="statusContainer">
                                <div class="@statusClass"></div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="acronymContainer">
            <tr>
                <td>
                    <div class="successStatus"></div>
                </td>
                <td class="acronymTd">
                    <div>@Localization.GetText("EvaluationTracking.VerifyMandatoryRecommended")</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="warningStatus"></div>
                </td>
                <td class="acronymTd">
                    <div>@Localization.GetText("EvaluationTracking.VerifyRecommended")</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="errorStatus"></div>
                </td>
                <td class="acronymTd">
                    <div>@Localization.GetText("EvaluationTracking.VerifyMandatory")</div>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
