@using IDB.Presentation.MVC4.Areas.OPUS.Helpers;
@using IDB.MW.Domain.Values;

<tr data-id="0">
    <td class="tree">
        <span></span><span class="selected"></span>
    </td>
    <td>
        <div data-pagemode="edit">
            @Confluence.InputDropDown(null,
                "CoFinancingModality",
                CofinancingHelper.GetMasterCodeSources(OPUSGlobalValues.COFIN_MODALITIES), 
                required: true,
                width: "100%")
        </div>
    </td>
    <td>
        <div data-pagemode="edit">
            @Confluence.InputSelectDropDownAutoComplete(null,
                "CoFinancingFundingSource",
                CofinancingHelper.GetFundingSources(),
                width: "100%",
                orderAsc: false,
                required: true,
                groupName: true,
                maxLength: 200)
            <input type="hidden" name="CofinancingDetailId" value="0" />
        </div>
    </td>
    <td>
        <div data-pagemode="edit">
            @Confluence.InputDropDown(
                    null,
                    "CoFinancingCashOrInKind",
                    CofinancingHelper.GetMasterCodeSources(OPUSGlobalValues.COFIN_CASH_KIND),
                    required: true,
                    width: "100%")
        </div>
    </td>
    <td>
        <div data-pagemode="edit">
            @Confluence.InputText(string.Empty,
                "CoFinancingDescription",
                width: "100%",
                required: false,
                dataAttributes: new Dictionary<string, string>()
                {
                    { "idb-fieldname", "txtCoInKindDesc" }
                },
                maxLength: 200)
        </div>
    </td>
    <td>
        <div data-pagemode="edit">
            @Confluence.InputDecimal(null,
                "CoFinancingAmount",
                width: "100%",
                required: true,
                htmlClass: "text-right"
            )
        </div>
    </td>
    <td>
        <div data-pagemode="edit">
            @Confluence.InputDropDown(null,
                "CoFinancingStatus",
                CofinancingHelper.GetMasterCodeSources(OPUSGlobalValues.COFIN_STATUS),
                required: true,
                width: "100%")
        </div>
    </td>
    <td>
        <div data-pagemode="edit">
            @Confluence.InputDatePicker(
                DateTime.Today,
                "CoFinancingSignatureDate",
                width: "100%",
                htmlClass: "text-center",
                required: false)
        </div>
    </td>
    <td class="text-center">
        <div data-pagemode="edit">
            @Confluence.ButtonTrash(text: "",
                name: "removeCoFinancing",
                dataAttributes: new Dictionary<string, string>()
                {
                    { "CoFinancingId", "0" }
                })
        </div>
    </td>
</tr>

