@using IDB.MW.DomainModel.Entities.CaseManager
@{
    Layout = null;
    string servicePath = Url.Action("Home");
    servicePath = servicePath.Substring(0, servicePath.ToLower().IndexOf("casemanager"));
}
<!DOCTYPE html>
<html>
<head>

@if (!Globals.GetSetting("SecurityMode", string.Empty).Equals("Local"))
{
    <!-- Walkme -->
    @*<script type="text/javascript">
        (
            function () {
                var walkme = document.createElement('script');
                walkme.type = 'text/javascript';
                walkme.async = true;
                walkme.src = '@Globals.GetSetting("WalkMeKey")';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(walkme, s);
                window._walkmeConfig = { smartLoad: true };
            })();
    </script>*@
    <!-- performance tracking end -->
}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--basic scripts-begin-->
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="~/content/bootstrap/kendo.common.min.css">
    <link rel="stylesheet" href="~/content/bootstrap/kendo.default.min.css">

    <!--basic scripts-end-->
    <!--bootstrap-begin-->
    <script src="~/scripts/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/content/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/bootstrap/animate.css">
    <!--end bootstrap-->
    <!--angular includes-->
    <script src="~/scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/angular-translate.min.js"></script>
    <script src="~/Scripts/angular/angular-translate-loader-static-files.min.js"></script>
    <script src="~/Scripts/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <!--end angular includes-->

    <script src="~/scripts/kendo2015/kendo.all.min.js"></script>
    <script src="~/scripts/commonfunctions.js"></script>
    <link rel="stylesheet" href="~/content/bootstrap/cm-grid.css">
    <link id="linkRoot" href="~/" />
    <link id="serviceRoot" href="@servicePath" />
    <link id="currentLanguage" href="@IDBContext.Current.CurrentLanguage" />
    @{ /*TODO:[Integration] Replace with current user country*/}
    <link id="currentCountry" href="us" />
    <script type="text/javascript">
        var caseManager = angular.module('caseManager', ['kendo.directives']);
        caseManager.controller('select-template-controller',
	    function ($scope, $http) {
	        $scope.templates = @Html.Raw(ViewBag.templates);
	        $scope.templateSelectorOptions = {
	            dataSource: $scope.templates,
	            dataTextField: "Name",
	            dataValueField: "Id"
	        };
	        $scope.formData = {};
	        $scope.submitForm = function(){
	            $scope.sendingInformation = true;
	            $http.post('@Url.Action("CreateActivityPlan")', $scope.formData)
                    .success(function (data) {
                        if(data=='ok'){
                            document.location.href = '@Url.Action("Index")';
                        }else{
                            alert(data);
                        }
                    });
	        };



            });
    </script>
</head>
<body>
    <div class="container body-content">
        <div ng-app="caseManager">
            <div ng-controller="select-template-controller">
                @if (IDBContext.Current.HasPermission("case write"))
                {
                <h3>@Localization.GetText("LC.SelectTemplate.Title")</h3>
                <div>
                    <form ng-submit="submitForm()">
                        <p>@Localization.GetText("LC.SelectTemplate.HasWritePermission")</p>
                        <div style="padding: 10px;border-top: 1px solid #ccc;background-color: #F8F8F8;border-bottom: 1px solid #ccc;">
                            <select id="selectedTemplate"
                                    kendo-drop-down-list style="width: 300px"
                                    k-options="templateSelectorOptions"
                                    ng-disabled="sendingInformation" ng-model="formData.selectedTemplate"></select>
                        </div>
                        <div style="margin-top:15px">
                            <input type="submit" class="btn btn-primary btn-sm " value="Use selected template" ng-class="{loading:sendingInformation}" ng-disabled="sendingInformation" style="float:left" />
                        </div>
                    </form>
                </div>
                }
                else
                {
                    <h3>@Localization.GetText("LC.SelectTemplate.Title")</h3>
                    <p>@Localization.GetText("LC.SelectTemplate.NoHasWritePermission")</p>
                }
            </div>
        </div>
    </div>
</body>
</html>
