@model IEnumerable<IDB.MW.Domain.Models.Architecture.EvaluationTracking.DocumentEvaluationTrackingModel>

<table class="documentsEvaluation"
       data-role="documentsEvaluation"
       data-delete-documents="@Url.Action("DeleteDocument", "EvaluationTracking")"
       data-requestfilter="@Url.Action("FilterTypeDocument","EvaluationTracking")">
    <thead>
        <tr>
            <th class="btn_azul_oscuro verticalAlignMiddle" style="width:15%">
                @Localization.GetText("Stage")
            </th>
            <th class="btn_azul_oscuro verticalAlignMiddle" style="width:15%">
                @Localization.GetText("EvaluationTracking.TypeOfDocument")
            </th>
            <th class="btn_azul_oscuro verticalAlignMiddle" style="width:14%">
                @Localization.GetText("EvaluationTracking.NameOfDocument")
            </th>
            <th class="btn_azul_oscuro verticalAlignMiddle" style="width:18%">
                @Localization.GetText("Description")
            </th>
            <th class="btn_azul_oscuro verticalAlignMiddle" style="width:12%">
                @Localization.GetText("EvaluationTracking.DocumentCreationDate")
            </th>
            <th class="btn_azul_oscuro verticalAlignMiddle" style="width:6%">
                @Localization.GetText("IDB Doc Number")
            </th>
            <th class="btn_azul_oscuro verticalAlignMiddle" style="width:10%">
                @Localization.GetText("EvaluationTracking.DocumentPermission")
            </th>
            <th class="btn_azul_oscuro verticalAlignMiddle" style="width:8%">
                @Localization.GetText("User")
            </th>
            <th class="btn_azul_oscuro verticalAlignMiddle" style="width:2%">
                @Localization.GetText("Action")
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var modelDoc in Model)
            {
                <tr>
                    <td class="tdResults">@modelDoc.StageDocumentId</td>
                    <td class="tdResults">@modelDoc.TypeOfDocumentId</td>

                    <td class="tdResults">
                        @if (modelDoc.DocumentName != null)
                        {
                            var secureUrl = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(modelDoc.DocumentReference);

                            if (modelDoc.CreatedBy == IDBContext.Current.UserName
                                && modelDoc.DocumentPermissionsName == "Only me")
                            {
                                <div class="spaceNameDoc">
                                    <a href=@secureUrl target="_blank">@modelDoc.DocumentReference</a>
                                </div>
                            }
                            else if (modelDoc.DocumentPermissionsName == "Team Members"
                            && modelDoc.UserTeamMember.Contains(IDBContext.Current.UserName))
                            {
                                <div class="spaceNameDoc">
                                    <a href=@secureUrl target="_blank">@modelDoc.DocumentReference</a>
                                </div>
                            }
                            else if (modelDoc.DocumentPermissionsName == "All")
                            {
                                
                                <div class="spaceNameDoc">
                                    <a href=@secureUrl target="_blank">@modelDoc.DocumentReference</a>
                                </div>
                            }
                            else
                            {
                                <div class="spaceNameDoc">
                                    @modelDoc.DocumentName
                                </div>
                            }
                        }
                    </td>
                    <td class="tdResults">@modelDoc.Description</td>
                    <td class="tdResults">
                        @String.Format("{0:dd MMM yyyy}",
                        modelDoc.DocumentCreationDate)
                    </td>
                    <td class="tdResults">@modelDoc.DocumentReference</td>
                    <td class="tdResults">@modelDoc.DocumentPermissionsId</td>
                    <td class=" tdresults">
                        @Html.HiddenFor(x => modelDoc.DocumentEvaluationTrackingId)
                        @modelDoc.CreatedBy
                    </td>
                    <td class="tdResults"></td>
                </tr>
            }
        }
    </tbody>
</table>