@model IDB.MW.Application.SiscorModule.ViewModels.SiscorCorrespondenceViewModel


<div class="text-right responseButtons hidden">
    <span data-pagemode="edit" class="hidden">

        @Confluence.ButtonBlue(text: Localization.GetText("SC.SC.Correspondence.Buttons.ResponseComments"), action: "preValidate", dataAttributes: new Dictionary<string, string> { { "siscorModal", "C" } }, disabled: true, htmlClass: "responseButton")

        <button data-id="C" class="buttonBlue hide"
                data-idb-fieldname="btnResponseComments"
                data-modal-allowclose="true"
                data-custom-modal="ResponseComments"
                data-custom-modal-style="vex-theme"
                data-custom-modal-title="@Localization.GetText("SC.SC.Correspondence.Labels.ResponseWithComments")"
                data-custom-modal-validate="false"
                data-custom-buttons='["save", "cancel"]'
                data-custom-button-save-id="send"
                data-custom-button-save="@Localization.GetText("SC.SC.Response.SaveAndAccept")"
                data-custom-button-save-style="buttonBlue"
                data-custom-button-save-callback="SCResponseComments"
                data-custom-button-save-closeatend="true"
                data-custom-button-cancel-id="cancel"
                data-custom-button-cancel="@Localization.GetText("OP.AP.Cancel")"
                data-custom-button-cancel-style="buttonLink"
                data-custom-button-cancel-callback=""
                data-custom-modal-onclose=""
                data-custom-modal-closeonoverlayclick="false">
            @Localization.GetText("SC.SC.Correspondence.Buttons.ResponseComments")
        </button>

        @Confluence.ButtonBlue(text: Localization.GetText("SC.SC.Correspondence.Buttons.ResponseOuput"), action: "SCResponseOuput", disabled: true, htmlClass: "responseButton")

        @*@Confluence.ButtonBlue(text: Localization.GetText("SC.SC.Correspondence.Buttons.ResponseNRR"), action: "preValidate", dataAttributes: new Dictionary<string, string> { { "siscorModal", "M" } }, disabled: true, htmlClass: "responseButton")

            <button data-id="M" class="buttonBlue hide"
                    data-idb-fieldname="btnResponseNRR"
                    data-modal-allowclose="true"
                    data-custom-modal="ResponseNRR"
                    data-custom-modal-style="vex-theme"
                    data-custom-modal-title="@Localization.GetText("SC.SC.Correspondence.Labels.Confirmation")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["save", "cancel"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("SC.SC.Response.Response")"
                    data-custom-button-save-style="buttonBlue"
                    data-custom-button-save-callback="SCResponseNRR"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("OP.AP.Cancel")"
                    data-custom-button-cancel-style="buttonLink"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="false">
                @Localization.GetText("SC.SC.Correspondence.Buttons.ResponseNRR")
            </button>*@
    </span>
    <span data-pagemode="read">
        
    </span>

    <div data-id="ModalRegion" class="hidden">
        <div id="ResponseNRR" class="hide modalBody ResponseModal">@Html.Partial("Partials/NotComment", Model)</div>
        <div id="ResponseComments" class="hide modalBody ResponseModal">@Html.Partial("Partials/AddComment", Model)</div>
    </div>
</div>
