@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

@model IDB.Presentation.MVC4.Models.Documents.SearchDocumentModalViewModel

<script type="text/javascript">
    var modal = {
        operationNumber: '@Model.OperationNumber',
        tabId: '@Model.TabId',
        selectedLibrary: '@Model.SelectedLibrary',
        businessAreaCode: '@Model.BusinessAreaCode',
        targetFunction: '@Model.TargetFunction',
        performBtnTextAdd: '@Localization.GetText("Document.Button.Add")',
        performBtnTextSearch: '@Localization.GetText("Document.Button.Search")',
        errorSelectedDocument: '@Localization.GetText("DM.Error.Selected.Document")'
    }
</script>
<div class="container-fluid mb10" data-id="@Model.SearchModalId">

    <div class="col-md-12">
        <ul class="tabs" role="tablist" data-id="tabContainer">
            <li class="active" onclick="selectDocumentTab(this)" role="tab" data-toggle="tab" data-tab-action="@Model.SearchModalId" data-tab-id="add">@Localization.GetText("Document.Tabs.AddDocto")</li>
            <li onclick="selectDocumentTab(this)" role="tab" data-toggle="tab" data-tab-action="@Model.SearchModalId" data-tab-id="search">@Localization.GetText("Document.Tabs.SearchDocto")</li>
        </ul>
        <div class="modalContent col-md-12" data-id="modalContent">
            <div data-id-selector="tabPartialContainer" id="tabPartialContainer">
                @Html.Partial("~/Views/Shared/Controls/IDBDocsNew/AddIDBDocForm.cshtml")
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/DocumentManagement/app.js")"></script>