@using IDB.MW.Domain.Models.Security
@model IDB.MW.Application.VMRModule.ViewModels.VmrBasicDataViewModel

@{
    var securityBasicData = (List<FieldAccessModel>)ViewBag.SecurityBasicData;

    var submitControl = securityBasicData.FirstOrDefault(o => o.FieldName == "btnSubmit");

    var editSubmit = securityBasicData.FirstOrDefault(o => o.FieldName == "editSubmit");

    var eligibilityDate = securityBasicData.FirstOrDefault(o => o.FieldName == "lblEligibilityDate");

    var fundingExpiration = securityBasicData.FirstOrDefault(o => o.FieldName == "lblFundingExpiration");
    var subTypeMeeting = securityBasicData.FirstOrDefault(o => o.FieldName == "subTypeMeeting");
    var transmittalMemoOpc = securityBasicData.FirstOrDefault(o => o.FieldName == "transmittalMemoOpc");

    var isVisibleFundingExpiration = fundingExpiration != null && fundingExpiration.IsVisible;
    var isVisibleSubmit = submitControl != null && submitControl.IsVisible;
    var isVisibleEdit = editSubmit != null && editSubmit.IsVisible;
    var isVisibleElegibility = eligibilityDate != null && eligibilityDate.IsVisible;
    var isVisibleFormForEdit = Model != null &&
        Model.AdditionalFieldsForm != null &&
        Model.AdditionalFieldsForm.IsEditSection;
    var isVisibleSubTypeMeeting = subTypeMeeting != null && subTypeMeeting.IsVisible;
    var isVisibleTransmittalMemoOpc = transmittalMemoOpc != null && transmittalMemoOpc.IsVisible;
}

<div id="basicData"
     data-parsley-validate="data-parsley-validate"
     data-parsley-excluded="[disabled]"
     data-url="@Url.Action("SaveBasicData", "MeetingRoom", new {area = "VMR"})"
     data-loadurl="@Url.Action("BasicDataPartial", "MeetingRoom", new {area = "VMR", instanceId = Model.InstanceId})"
     class="col-md-12">

    @Confluence.InputHidden(ViewBag.SerializedBasicDataViewModel, id: "basicDataViewModel")
    <div class="row mb10">
        <div class="col-md-12 pb20">
            @if (!string.IsNullOrEmpty(Model.ReprocessingLabel))
            {
                <div class="row mb20">
                    @Confluence.LabelMainTitle(Model.ReprocessingLabel, htmlClass: "redTitle mb10 ml15")
                    @Confluence.Label(Localization.GetText("GLOBAL.REPROCESSING.DESCRIPTION"), htmlClass: "ml15")
                </div>
            }
            @Confluence.Navigation(
                Confluence.ListHelpers(new List<HelperResult>
                {
                    Confluence.IcoVmr("nml20 nmt5 "),
                    Confluence.LabelMainTitle(Model.TitlePage)
                }),
                Url.Action("Index", "MyMeetings", new { area = "VMR" }))
        </div>
        <div class="col-md-12 text-right">
            @if (isVisibleSubmit && Model != null &&
                 Model.AdditionalFieldsForm != null &&
                 Model.AdditionalFieldsForm.HasSubmitSection &&
                 Model.AdditionalFieldsForm.Options.Any())
            {
                @Html.Partial("Partials/AdditionalFields/AdditionalFieldsButtons", Model.AdditionalFieldsForm.Options)
            }

            @if (isVisibleEdit &&
                Model != null &&
                Model.AdditionalFieldsForm != null &&
                Model.AdditionalFieldsForm.IsEditSection)
            {
                if (editSubmit.IsVisible)
                {
                    @Html.Partial("Partials/AdditionalFields/BasicDataButtons")                    
                }
            }
        </div>
    </div>

    <div class="row row-margin-top-40-bottom-10">
        <div class="col-md-2">
            @Confluence.LabelsGroup(
                Localization.GetText("VMR.MM.MeetingRoom.CurrentStatus"),
                Model.CurrentStatus,
                false)
        </div>

        <div class="col-md-2">
            @Confluence.LabelsGroup(
               Localization.GetText("VMR.MM.MeetingRoom.CurrentVersion"), 
               Model.CurrentVersion, 
               false)
        </div>
        <div class="col-md-2">
            @Confluence.LabelsGroup(
                Localization.GetText("VMR.MM.MeetingRoom.CreationDate"),
                Confluence.LabelGetDate(Model.CreationDate),
                false)
        </div>
        @if (isVisibleFundingExpiration)
        {
            <div class="col-md-2">
                @Confluence.LabelsGroup(
                Localization.GetText("VMR.MM.MeetingRoom.FundingExpiration"),
                Confluence.LabelGetDate(Model.FundingExpiration),
                false)
            </div>
        }
        @if (isVisibleElegibility)
        {
            <div class="col-md-2">
                @Confluence.LabelsGroup(
                    Localization.GetText("VMR.MM.MeetingRoom.EligibilityDate"),
                    Confluence.LabelGetDate(Model.EligibilityDate),
                    false)
            </div>
        }
    </div>

    <div class="row mb20" id="verInformationIcon">
        @if (Model.PolicyWaived != null && Model.PolicyWaived.Any())
        {
            <div class="col-md-12 mb10">
                @Confluence.Label(Localization.GetText("VER.Homepage.PolicyWaived"))
            </div>

            <div class="col-md-12">
                @{
                    char[] charDelete = { ',', ' ' };

                    string listPolicyWaived = string.Empty;
                    
                    listPolicyWaived = string.Join(", ", Model.PolicyWaived).TrimEnd(charDelete);
                   
                @Confluence.LabelLink(Localization.GetText(listPolicyWaived),action: "linktoOperationData", name : "PolicyWaived")
                }
            </div>
         }
    </div>

    @if (isVisibleSubTypeMeeting)
    {
        <div class="row pt20">
                <div class="col-md-2">
                    @Confluence.LabelsGroup(
                    Localization.GetText("VER.Homepage.OPC.Type"), Model.SubTypeMeeting, false)
                </div>
        </div>
    }

    @if (isVisibleFormForEdit || isVisibleSubmit)
    {
        @Html.Partial("Partials/AdditionalFields/AdditionalFields", Model.AdditionalFieldsForm)
    }

    @if (isVisibleTransmittalMemoOpc)
    {
        <div class="row pt20 mb15">
            <div class="col-md-11">
                @Confluence.LabelsGroup(
                    Localization.GetText("VER.Homepage.OPC.TransmittalMemoOpc"),
                    Confluence.InputTextArea(
                        Model.TransmittalMemoOpc,
                        "transmittalMemoOpc",
                        disabled: true,
                        width: "100%",
                        height: "100px"),
                    false)
            </div>
        </div>
    }

</div>