@model IDB.MW.Application.VMRModule.ViewModels.VmrViewModel

@{

    var dictionaryTabs = new Dictionary<string, string>
    {
    {"tabDocuments", Localization.GetText("VMR.MM.MeetingRoom.TabDocuments.Title")},
    {"tabParticipants", Localization.GetText("VMR.MM.MeetingRoom.TabParticipants.Title")},
    {"tabRemarks", Localization.GetText("VMR.MM.MeetingRoom.TabRemarks.Title")}

    };

    if (Model != null && Model.Comments != null && Model.Comments.IsVisibleTab)
    {
        dictionaryTabs.Add("tabComments", Localization.GetText("VMR.MM.MeetingRoom.TabComments.Title"));
    }

    if (Model != null && Model.OpcComments != null && Model.OpcComments.IsVisibleTab)
    {
        dictionaryTabs.Add("tabOpcAgreement", Localization.GetText("VMR.MeetingRoom.OpcAgreements"));
    }
}

@Confluence.Tabs(dictionaryTabs)

<div id="TabsZone" class="tab-content">

    <div class="tab-pane active" id="tabDocuments"
         data-idb-fieldname="tabDocuments"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("SaveDocuments", "MeetingRoom", new {area = "VMR"})"
         data-loadurl="@Url.Action("DocumentContent", "MeetingRoom", new {area = "VMR", instanceId = Model.InstanceId})">

        @if (Model.Documents != null)
        {
            @Html.Partial("Partials/Tabs/TabDocuments", Model.Documents)
        }
    </div>

    <div class="tab-pane" id="tabParticipants"
         data-idb-fieldname="tabParticipants"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("SaveParticipant", "MeetingRoom", new {area = "VMR"})"
         data-loadurl="@Url.Action("ParticipantContent", "MeetingRoom", new {area = "VMR", instanceId = Model.InstanceId })">
        @if (Model.Participants != null)
        {
            @Html.Partial("Partials/Tabs/TabParticipants", Model.Participants)
        }
    </div>

    <div class="tab-pane" id="tabRemarks"
         data-idb-fieldname="tabRemarks"
         data-parsley-excluded="[disabled]"
         data-loadurl="@Url.Action("RemarksContent", "MeetingRoom", new { area = "VMR", instanceId = Model.InstanceId })">
        @if (Model.Remarks != null)
        {
            @Html.Partial("Partials/Tabs/TabRemarks", Model.Remarks)
        }
    </div>
    @{
        if (Model != null && Model.Comments != null && Model.Comments.IsVisibleTab)
        {
            <div class="tab-pane" id="tabComments"
                 data-parsley-excluded="[disabled]"
                 data-parsley-validate="data-parsley-validate">


                @if (Model.Comments != null)
                {
                    IDBContext.Current.AddClientPreference("DerivedByContext", Model.Comments.DerivedByUserName);

                    @Html.Partial("Partials/Tabs/TabComments", Model.Comments)
                }
            </div>
        }

        if (Model != null && Model.OpcComments != null && Model.OpcComments.IsVisibleTab)
        {
            <div class="tab-pane" id="tabOpcAgreement"
                 data-parsley-excluded="[disabled]"
                 data-parsley-validate="data-parsley-validate">

                @if (Model.Comments != null)
                {
                    IDBContext.Current.AddClientPreference("DerivedByContext", Model.Comments.DerivedByUserName);

                    @Html.Partial("Partials/Tabs/TabComments", Model.OpcComments)
                }
            </div>
        }
    }

</div>