@using Jurassic
@model List<IDB.MW.Application.OPUSModule.ViewModels.CreationFormService.SubnationalLevelViewModel>


<div data-pagemode="read">
    <br />
    <table class="tableNormal">
        <thead>
            <tr>
                <th>@Localization.GetText("OP.CR.LevelCountry")</th>
                <th>@Localization.GetText("OP.CR.LevelDistrict")</th>
                <th>@Localization.GetText("OP.CR.LevelMunicipality")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center">@Confluence.Label(item.CountryRegion)</td>
                        <td style="text-align: center">@Confluence.Label(item.AdminDistrict)</td>
                        <td style="text-align: center">@Confluence.Label(item.Locality)</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<div data-pagemode="edit">

    <div id="subnationalDropdown">
        @Confluence.InputButton(null, "subnationalSearch", "subnationalLevelSearch", true, width: "860px", 
        placeholder:Localization.GetText("OP.CR.SubnationalPlaceholder"))
        <ul id="listSubnational" class="dropdown-menu" aria-labelledby="id-dropdown" style="min-width: 820px;"></ul>
    </div>
    <br /><br />

    <table id="tabla01" class="tableNormal">
        <thead>
            <tr>
                <th>@Localization.GetText("OP.CR.LevelCountry")</th>
                <th>@Localization.GetText("OP.CR.LevelDistrict")</th>
                <th>@Localization.GetText("OP.CR.LevelMunicipality")</th>
                <th>@Localization.GetText("OP.CR.LevelAction")</th>
            </tr>
        </thead>
        <tbody id="subnationalLevelList">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td id="countryRegion" style="text-align: center">@Confluence.Label(item.CountryRegion)</td>
                        <td id="adminDistrict" style="text-align: center">@Confluence.Label(item.AdminDistrict)</td>
                        <td id="locality" style="text-align: center">@Confluence.Label(item.Locality)</td>
                        <td style="text-align: center">@Confluence.ButtonTrash(null, name:"deleteSubnationalItems")</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>


<div class="modal-footer">
    @if ((ViewBag.CreationWritePermission ?? false) || ViewBag.Creation == true)
    {
        <div data-id="headerButtons" class="text-right">
              
            <div data-pagemode="edit">
                @Confluence.ButtonLink(Localization.GetText("OP.CR.CreationForm.Cancel"), 
                action: "cancelSubnationalLevel")
                @Confluence.ButtonOrange(Localization.GetText("OP.CR.CreationForm.Save"), 
                action: "saveSubnationalLevel")
            </div>

        </div>
    }
</div>

