@if ((ViewBag.CreationWritePermission ?? false) || ViewBag.Creation == true)
{
    <div data-id="headerButtons" class="text-right">
        <div data-pagemode="read">
            @if (ViewBag.IsDraft == true ||
                (ViewBag.IsDraft == false && ViewBag.HasPermissionNotDraft == true) ||
                ViewBag.Creation == true)
            {
                @Confluence.ButtonBlue(
                    Localization.GetText("OP.CR.CreationForm.Edit"),
                    null,
                    "edit",
                    dataAttributes: new Dictionary<string, string>
                    {
                        { "idb-fieldname", "btnEdit" }
                    })
            }

            @if (ViewBag.CreationOperation == false && ViewBag.IsDraft == true)
            {
                @Confluence.ButtonOrange(
                    Localization.GetText("OP.CR.CreationForm.RequestAuthorization"),
                    dataAttributes: new Dictionary<string, string>
                    {
                        { "idb-fieldname", "btnRequestAuth" },
                        { "action", "requestAutorizationDraft"}
                    })
            }

            @if (ViewBag.CreationRegisterOperationPermission == true &&
                ViewBag.CreationOperation == false &&
                ViewBag.IsDraft == true)
            {
                @Confluence.ButtonOrange(
                    Localization.GetText("OP.CR.CreationForm.RegisterOperation"),
                    action: "registerOperation",
                    dataAttributes: new Dictionary<string, string>
                    {
                        { "idb-fieldname", "btnRegisterOp" }
                    })
            }
        </div>
        <div data-pagemode="edit">
            @Confluence.ButtonLink(
                Localization.GetText("OP.CR.CreationForm.Cancel"),
                action: "cancel",
                dataAttributes: new Dictionary<string, string>
                {
                    { "idb-fieldname", "btnCancel" }
                })

            @Confluence.ButtonOrange(
                Localization.GetText("OP.CR.CreationForm.Save"),
                action: "save",
                dataAttributes: new Dictionary<string, string>()
                {
                    { "idb-fieldname", "btnSave" }
                })

                @if (ViewBag.CreationOperation == false)
                {
                    @Confluence.ButtonBlue(
                        Localization.GetText("OP.CR.CreationForm.Delete"),
                        action: "deleteOperation",
                        dataAttributes: new Dictionary<string, string>
                        {
                            { "idb-fieldname", "btnDelete" }
                        })
                }

                @if (ViewBag.CreationOperation == true || ViewBag.IsDraft == true)
                {
                    @Confluence.ButtonOrange(
                        Localization.GetText("OP.CR.CreationForm.RequestAndAuthorization"),
                        action: "requestAuthorization",
                        dataAttributes: new Dictionary<string, string>
                        {
                            { "idb-fieldname", "btnRequestAndAuth" }
                        })
                }

            @if (ViewBag.CreationRegisterOperationPermission == true && ViewBag.IsDraft == true)
            {
                <span id="spnRegisterAndOp" class="hide">
                    @Confluence.ButtonOrange(
                        Localization.GetText("OP.CR.CreationForm.RegisterAndOperation"),
                        action: "registerOperation",
                        dataAttributes: new Dictionary<string, string>
                        {
                            { "idb-fieldname", "btnRegisterAndOp" }
                        })
                </span>
            }
        </div>
    </div>
}
