@using IDB.MW.Domain.Values
@using IDB.Presentation.MVC4.Helpers

@model IDB.MW.Application.OPUSModule.ViewModels.OperationDataService.BasicDataViewModel

@if (Model != null)
{
    var mbfCodes = Model.MbfCodes != null ?
        Html.BuildSelectItemList(Model.MbfCodes,
            o => o.Text,
            o => o.Value) :
        new List<SelectListItem>();
    
    <div class="row-header">
        <div class="row col-md-12 mb16">
            @Confluence.LabelTitleGroup(Localization.GetText("OP.CR.CreationForm.BasicData"))
        </div>
    </div>

    <div class="row">
        <div class="grouping-section">
            <div class="groupColumn col-md-12">
                <label class="lbltitle">
                    @Localization.GetText("OP.CR.CreationForm.BD.GeneralInformation")
                </label>
            </div>
            <div class="groupColumn col-md-4">
                <div data-idb-fieldname="ddlOpType">
                    <div class="col-md-12 lblcontent">
                        @Confluence.Label(
                            Localization.GetText("OP.CR.CreationForm.BD.OperationType"),
                            new Dictionary<string, string>() { { "idb-fieldname", "ddlOpType" } })
                        @Confluence.LabelAsterisk()
                    </div>
                    <div class="col-md-12 lblvalue">
                        <span data-pagemode="read">
                            @Confluence.LabelGetDropDown(
                                Model.OperationType.ToString(),
                                (List<SelectListItem>)ViewBag.OperationTypeList,
                                true)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputDropDown(
                                Model.OperationType.ToString(),
                                "operationType",
                                (List<SelectListItem>)ViewBag.OperationTypeList,
                                width: "100%",
                                dataAttributes: new Dictionary<string, string>()
                                {
                                    { "idb-fieldname", "ddlOpType" }
                                })
                        </span>
                    </div>
                </div>
                <div data-idb-fieldname="ddlOpYear">
                    <div id="crOpYear" class="col-md-12 lblcontent">
                        @Confluence.Label(
                            Localization.GetText("OP.CR.CreationForm.BD.OperationYear"),
                            new Dictionary<string, string>() { { "idb-fieldname", "ddlOpYear" } })
                        @Confluence.LabelAsterisk()
                    </div>
                    <div class="col-md-12 lblvalue">
                        <span data-pagemode="read">
                            @Confluence.LabelGetDropDown(
                                Model.OperationYear.ToString(),
                                (List<SelectListItem>)ViewBag.OperationYearList,
                                true)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputDropDown(
                                Model.OperationYear.ToString(),
                                "operationYear",
                                (List<SelectListItem>)ViewBag.OperationYearList,
                                required: true,
                                width: "100%",
                                dataAttributes: new Dictionary<string, string>()
                                {
                                    { "idb-fieldname", "ddlOpYear" }
                                })
                        </span>
                    </div>
                </div>
                <div data-idb-fieldname="ddlCountry">
                    <div class="col-md-12 lblcontent">
                        @Confluence.Label(
                            Localization.GetText("OP.CR.CreationForm.BD.Country"),
                            new Dictionary<string, string>() { { "idb-fieldname", "ddlCountry" } })
                        @Confluence.LabelAsterisk()
                    </div>
                    <div class="col-md-12 lblvalue">
                        <span data-pagemode="read">
                            @Confluence.LabelGetDropDown(
                                Model.CountryId.ToString(),
                                (List<SelectListItem>)ViewBag.CountryList,
                                true)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputDropDown(
                                Model.CountryId.ToString(),
                                "country",
                                (List<SelectListItem>)ViewBag.CountryList,
                                width: "100%",
                                disabled: ViewBag.CountryDisabled,
                                dataAttributes: new Dictionary<string, string>()
                                {
                                    { "idb-fieldname", "ddlCountry" }
                                })
                        </span>
                    </div>
                </div>
                <div data-idb-fieldname="ddlCountryDept">
                    <div class="col-md-12 lblcontent" id="lblCountryDept">
                        @Confluence.Label(
                            Localization.GetText("OP.CR.CreationForm.BD.CountryDept"),
                            new Dictionary<string, string>()
                            {
                                { "idb-fieldname", "ddlCountryDept" }
                            })
                    </div>
                    <div class="col-md-12 lblvalue">
                        <span data-pagemode="read" class="lblCountryDeptReadValue">
                            @Confluence.LabelGetDropDown(
                                Model.CountryDepartmentId.ToString(),
                                (List<SelectListItem>)ViewBag.CountryDepartmentList,
                                true)
                        </span>
                            <span data-pagemode="edit">
                        <div id="CountryDeptDDL">
                                @Confluence.InputDropDown(
                                    Model.CountryDepartmentId.ToString(),
                                    "countryDepartmentId",
                                    (List<SelectListItem>)ViewBag.CountryDepartmentList,
                                    required: false,
                                    dataAttributes: new Dictionary<string, string>()
                                    {
                                        { "idb-fieldname", "ddlCountryDepartment" }
                                    })
                        </div>
                            <div id="CountryDeptlbl">
                                @Confluence.LabelGetDropDown(
                                    Model.CountryDepartmentId.ToString(),
                                    (List<SelectListItem>)ViewBag.CountryDepartmentList,
                                    true)
                            </div>
                        </span>
                    </div>
                </div>
                <div data-idb-fieldname="subnational" id="subnationalLevel">
                    <div class="col-md-12 lblvalue">
                        @if (ViewBag.HasSubnational)
                        {
                            <div data-pagemode="read">
                                @Confluence.InputCheckbox(
                                    true,
                                    "subnational",
                                    "chkSubnationalCreation",
                                    Localization.GetText("OP.CR.Subnational"),
                                    true,
                                    true)
                                <a href="#" id="openSubnationalCreation">
                                    <span class="glyphicon glyphicon-globe"></span>
                                </a>
                            </div>
                            <div data-pagemode="edit">
                                @Confluence.InputCheckbox(
                                    true,
                                    "subnational",
                                    "chkSubnationalCreation",
                                    Localization.GetText("OP.CR.Subnational"),
                                    true)
                                <a href="#" id="openSubnationalCreation">
                                    <span class="glyphicon glyphicon-globe"></span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div data-pagemode="read">
                                @Confluence.InputCheckbox(
                                    false,
                                    "subnational",
                                    "chkSubnationalCreation",
                                    Localization.GetText("OP.CR.Subnational"),
                                    true,
                                    true)
                                <a href="#" id="openSubnationalCreation">
                                    <span class="glyphicon glyphicon-globe" style="display: none">
                                    </span>
                                </a>
                            </div>
                            <div data-pagemode="edit">
                                @Confluence.InputCheckbox(
                                    false,
                                    "subnational",
                                    "chkSubnationalCreation",
                                    Localization.GetText("OP.CR.Subnational"),
                                    true)
                                <a href="#" id="openSubnationalCreation" style="display: none">
                                    <span class="glyphicon glyphicon-globe"></span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="groupColumn col-md-4">
                <div data-idb-fieldname="ddlCategory"
                     id="SectionCategoryField"
                     class="@(Model.CategoryAccess.IsVisible != true ? "hide" : null)">
                    <div class="col-md-12 lblcontent" id="lblCategory">
                        @Confluence.Label(
                            Localization.GetText("OP.CR.CreationForm.BD.Category"),
                            new Dictionary<string, string>()
                            {
                                { "idb-fieldname", "ddlCategory" }
                            })
                        @if (Model.CategoryAccess.IsRequired)
                        {
                            @Confluence.LabelAsterisk()
                        }
                    </div>
                    <div class="col-md-12 lblvalue">
                        <span data-pagemode="read">
                            @Confluence.LabelGetDropDown(
                                Model.Category.ToString(),
                                (List<SelectListItem>)ViewBag.CategoryList,
                                true)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputDropDown(
                                Model.Category.ToString(),
                                "category",
                                (List<SelectListItem>)ViewBag.CategoryList,
                                required: Model.CategoryAccess.IsRequired,
                                width: "100%",
                                dataAttributes: new Dictionary<string, string>()
                                {
                                    { "idb-fieldname", "ddlCategory" }
                                })
                        </span>
                    </div>
                </div>
                <div data-idb-fieldname="dpkAppDate"
                     id="SectionApprovalDateField"
                      class="@(ViewBag.Visibility.ApprovalDate != true ? "hide" : null)">
                    <div class="col-md-12 lblcontent">
                        @Confluence.Label(
                            Localization.GetText("OP.CR.CreationForm.BD.ApprovalDate"),
                            new Dictionary<string, string>() { { "idb-fieldname", "dpkAppDate" } })
                    </div>
                    <div class="col-md-12 lblvalue">
                        <span data-pagemode="read">
                            @Confluence.LabelGetDate(Model.ApprovalDate, true)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputDatePicker(
                                Model.ApprovalDate,
                                "approvalDate",
                                htmlClass: "datepickerGuide",
                                format: "dd MMM yyyy",
                                required: false,
                                width: "100%",
                                dataAttributes: new Dictionary<string, string>()
                                {
                                    { "idb-fieldname", "dpkAppDate" }
                                })
                        </span>
                    </div>
                </div>
                <div data-idb-fieldname="ddlMbfCode">
                    <div class="col-md-12 lblcontent">
                        @Confluence.Label(
                            Localization.GetText("OP.OD.TabBasicData.MBFCode"),
                            new Dictionary<string, string>() { { "idb-fieldname", "ddlMbfCode" } })
                        @Confluence.LabelAsterisk()
                    </div>
                    <div class="col-md-12 lblvalue">
                        <span data-pagemode="read">
                            @Confluence.LabelBold(Model.MbfDescription)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputDropDown(
                                Model.MbfCode.ToString(),
                                "mbfCode",
                                mbfCodes,
                                disabled: Model.MbfIsDisabled,
                                width: "100%",
                                dataAttributes: new Dictionary<string, string>()
                                {
                                    { "idb-fieldname", "ddlMbfCode" }
                                })
                        </span>
                    </div>
                </div>
            </div>
            <div class="groupColumn col-md-4" id="SectionSectorSubsector">
                <div data-idb-fieldname="ddlSector">
                    <div id="cntSector" class="col-md-12 lblcontent">
                        @Confluence.Label(
                            Localization.GetText("Sector"),
                            new Dictionary<string, string>() { { "idb-fieldname", "ddlSector" } })
                    </div>
                    <div class="col-md-12 lblvalue">
                        <span data-pagemode="read">
                            @Confluence.LabelGetDropDown(
                                Model.Sector.ToString(),
                                (List<SelectListItem>)ViewBag.Sector,
                                true)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputDropDown(
                                Model.Sector.ToString(),
                                "sector",
                                (List<SelectListItem>)ViewBag.Sector,
                                width: "100%",
                                required: false,
                                dataAttributes: new Dictionary<string, string>()
                                {
                                    { "idb-fieldname", "ddlSector" }
                                })
                        </span>
                    </div>
                </div>
                <div data-idb-fieldname="ddlSubSector">
                    <div id="cntsubSector" class="col-md-12 lblcontent">
                        @Confluence.Label(
                            Localization.GetText("Sub Sector"),
                            new Dictionary<string, string>()
                            {
                                { "idb-fieldname", "ddlSubSector" }
                            })
                    </div>
                    <div class="col-md-12 lblvalue">
                        <span data-pagemode="read">
                            @Confluence.LabelGetDropDown(
                                Model.Subsector.ToString(),
                                (List<SelectListItem>)ViewBag.SubSector,
                                true)
                        </span>
                        <span data-pagemode="edit">
                            @Confluence.InputDropDown(
                                Model.Subsector.ToString(),
                                "subSector",
                                (List<SelectListItem>)ViewBag.SubSector,
                                width: "100%",
                                dataAttributes: new Dictionary<string, string>()
                                {
                                    { "idb-fieldname", "ddlSubSector" }
                                })
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}