@model IDB.MW.Application.OPUSModule.ViewModels.CreationFormService.ResponsibilityDataViewModel

@if( Model != null )
{
    <div class="row row-header">
        <div class="col-md-12">
            @Confluence.LabelTitleGroup(Localization.GetText("OP.CR.CreationForm.BD.ResponsibilityData"))
        </div>
    </div>

    <div id="OrganizationalCreationForm" idb-fieldname="tbOrgUnit">
        @Html.Partial("Partials/CreationForm/DataTables/OperationOrganizationalUnit", Model.OrganizationalUnit)
    </div>

    <div id="OperationTeamCreationForm" idb-fieldname="tbOpTeam">
        @Html.Partial("Partials/CreationForm/DataTables/OperationTeamData", Model)
    </div>

    <div id="InstitutionCreationForm" idb-fieldname="tbAscInstitution" class="@(ViewBag.Visibility.Institution != true ? "hide" : null)">
        @Html.Partial("Partials/CreationForm/DataTables/OperationInstitutionRelated", Model.AssociatedInstitutions)
    </div>


    <div id="CountryCreationForm" class="@(ViewBag.IsRegional!=true?"hide":null)" idb-fieldname="tbAscCountries">
        @Html.Partial("Partials/CreationForm/DataTables/OperationCountryRelated", Model.CountryRelated)
    </div>
}