@using IDB.MW.Domain.Values
@using IDB.MW.Application.Core.ViewModels.FormRendering
@using IDB.MW.Application.OPUSModule.ViewModels.CreationFormService;

@model CreationFormViewModel

@if (Model != null)
{
    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel"/>
    <input type="hidden" id="OPNum" value="@Model.OperationNumber"/>
    <input type="hidden" id="MecIdOrganization" value="@Model.MecOrganization"/>
    <input type="hidden" id="RoleResponsibleCodeByRelation"
           value ="@Model.ResponsibilityData.OrganizationalUnitResponsibleUnit"/>

    @Html.Partial("Partials/CreationForm/CreationFormBasicDataPartial", Model.BasicData)

    <div class="ContenidoOcultable">
        <div id="ContentAttributtes">
            @if (ViewBag.CreationOperation == false)
            {
                @Html.Partial(
                    "Partials/CreationForm/CreationFormAttributesPartial",
                    (FormDataViewModel)ViewBag.formAttributes)
            }
        </div>

        @Html.Partial("Partials/CreationForm/DataTables/OperationName", Model.BasicData)

        <div id="objetivesContent" class="@(ViewBag.Visibility.Objetive != true ? "hide" : null)">
            @Html.Partial("Partials/CreationForm/DataTables/OperationObjectives", Model.BasicData)
        </div>

        @Html.Partial("Partials/CreationForm/CreationFormResponsibilityDataPartial", Model.ResponsibilityData)

        <div id="OperationDataRelatedOperations"
             data-view="CreationForm"
             class="@(ViewBag.Visibility.OperationRelated != true ? "hide" : null)"
             idb-fieldname="tbRelOperation">
            @if (Model.OperationNumber == OPUSGlobalValues.NEW_OPERATION_NUMBER)
            {
               @Html.Partial("_TableRelatedOperations", Model.BasicData) 
            }
            else
            {
                @Html.Partial("_TableRelations", Model.BasicData)
            }
        </div>
        <div idb-fieldname="tbFinancingData">
            @Html.Partial("Partials/CreationForm/CreationFormFinancingDataPartial", Model)
        </div>
    </div>
}
