@model ICollection<IDB.MW.Application.OPUSModule.ViewModels.OperationDataService.ResponsabilityDataApprovedViewModel>

<link href="@Url.Content("~/Content/Reformulation/reformulation.css")" rel="stylesheet" />


@if (Model != null && Model.Count > 1)
{

    <div class="btn-group tabs-reformulation">

        @foreach (var operationData in Model)
        {
            <button class="btn @(operationData.IsCurrent ? "active is-current" : "")"
                    dd-tab="#activity-plan-@operationData.ActivityPlanId">
                @(operationData.Name ?? "Original Data")
            </button>
        }
    </div>

    <div class="reformulation-group-content">

        @foreach (var operationData in Model)
        {
            <div id="activity-plan-@operationData.ActivityPlanId"
                    class="tab-pane financial-data-preparation-content"
                    data-parsley-validate="data-parsley-validate"
                    data-parsley-excluded="[disabled]">

                <div data-idb-fieldname="tblResponsibleUnits">
                    @Html.Partial("Partials/OperationData/DataTables/OperationResponsibleUnit",
                    operationData.ResponsibleUnits)
                </div>

                <div data-idb-fieldname="tblTeamData">
                    @Html.Partial("Partials/OperationData/DataTables/OperationTeamDataApproved",
                    operationData.OperationTeams)
                </div>

                @if (operationData.IsVisibleCountryRelated)
                {
                    <div data-idb-fieldname="tblCntryRltd">
                        @Html.Partial("Partials/OperationData/DataTables/OperationCountryRelated",
                        operationData.AssociatedCountries)
                    </div>
                }

                @if (operationData.IsVisibleInstitution)
                {
                    <div idb-fieldname="tblInstitution">
                        @Html.Partial("Partials/OperationData/DataTables/OperationInstitutionRelated",
                        operationData.AssociatedInstitutions)
                    </div>
                }

            </div>
        }
    
    </div>
}
else if (Model != null)
{
    <div data-idb-fieldname="tblResponsibleUnits">
        @Html.Partial("Partials/OperationData/DataTables/OperationResponsibleUnit",
                        Model.First().ResponsibleUnits)
    </div>

    <div data-idb-fieldname="tblTeamData">
        @Html.Partial("Partials/OperationData/DataTables/OperationTeamDataApproved",
        Model.First().OperationTeams)
    </div>

    if (Model.First().IsVisibleCountryRelated)
    {
        <div data-idb-fieldname="tblCntryRltd">
            @Html.Partial("Partials/OperationData/DataTables/OperationCountryRelated",
            Model.First().AssociatedCountries)
        </div>
    }

    if (Model.First().IsVisibleInstitution)
    {
        <div idb-fieldname="tblInstitution">
            @Html.Partial("Partials/OperationData/DataTables/OperationInstitutionRelated",
            Model.First().AssociatedInstitutions)
        </div>
    }
}


<script src="@Url.Content("~/Scripts/Reformulation/reformulation.js")"></script>