@model IDB.MW.Application.Core.ViewModels.FormRendering.FormDataViewModel

@if (ViewBag.ClassificationDataPermission ?? false)
{
    <div class="header">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("Partials/OperationData/buttonsClassification")
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    @Confluence.InputHidden("", "heightGroupForce")
    <input type="hidden" id="hidClassificationDataViewModel" value="@ViewBag.SerializedViewModelAttributtes"/>
    
     @Html.Partial("FormRendering/FormRenderer", Model, new ViewDataDictionary() { { "pageName", "UI-OPE-003Partial-TabClassificationData" } })
}

@if (ViewBag.ClassificationDataPermission ?? false)
{
    <div class="header">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("Partials/OperationData/buttonsClassification")
            </div>
        </div>
    </div>
}