@using IDB.MW.Application.OPUSModule.ViewModels.ClimateChangeService
@model ClimateChangeViewModel
    <div class="header">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("Partials/OperationData/buttonsClimateChangeEdit")
            </div>
        </div>
    </div>
<div class="grouping-section">
    <div class="col-md-3">
        <div data-idb-fieldname="ddlIDBAmount">
            <div class="col-md-12 lblcontent">
                @Localization.GetText("CCES.Text.IDBAmount")
            </div>
            @{
                var idbAmount = @Model.ClimateChangeHistory.OriginalIdbAmount == null ? 0 : @Model.ClimateChangeHistory.OriginalIdbAmount;
            }
            @Confluence.LabelBold(String.Format("{0:C0}", @idbAmount))
        </div>
    </div>
    <div class="col-md-3">
        <div data-idb-fieldname="ddlTrackedCCS">
            <div class="col-md-12 lblcontent">
                @Localization.GetText("CCES.Text.TrackedCCS")
            </div>
            @Confluence.LabelBold(Localization.GetText(@Model.ClimateChangeHistory.TrackedByCCS))
        </div>
    </div>
</div>
    <div data-idb-fieldname="tblOpeName">
        @Html.Partial("Partials/OperationData/DataTables/ClimateChangeEditRelated", @Model)
    </div> 
    <div class="header">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("Partials/OperationData/buttonsClimateChangeEdit")
            </div>
        </div>
    </div>
