@using IDB.MVCControls.General.Helpers

@model  IDB.MW.Application.OPUSModule.ViewModels.OperationDataService.LendingProgramPrioritiesViewModel

@if (ViewBag.LendingProgramPermission ?? false)
{
    <div class="header">
        <div class="row">
            <div class="col-md-12">
                    @Html.Partial("Partials/OperationData/buttons")
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <input type="hidden" id="hidLendingProgramViewModel" value="@ViewBag.SerializedViewModelLendingPrograms" />
    <div class="row row-header">
        <div class="col-md-12">
            <h4 class="">@Localization.GetText( "Lending Programs" ).HtmlEncode()</h4>
            @* literal faltante *@
        </div>
    </div>


    <div class="row row-header">
        <div class="col-md-12 text-right">
            @Display.ExpandAllButton("[data-name=lending]", attributes: new Dictionary<string, string>() { { "data-name", "collapse-all-lending" } })
        </div>
    </div>
    
    <div class="row row-body-40">
        <div class="col-md-12">
           
                <table class="gridTable dataTable table table-striped">
                    <thead>
                        <tr>
                            <th> @Localization.GetText("OP.OD.TabClassificationData.LendingProgram.Aligment")</th>
                            <th> @Localization.GetText("OP.OD.TabClassificationData.LendingProgram.Indicator")</th>
                            <th> @Localization.GetText("OP.OD.TabClassificationData.LendingProgram.InforReference")</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="custom-Clasification-Leading">
                            <td>@ControlTemplates.InputCheckbox(Model.LendingSmallVulnerableCountry, "lendingSmallVulnerableCountry") </td>
                            <td>@Localization.GetText("Lending to small and vulnerable countries") </td>
                            @* literal faltante *@
                            <td>@String.Empty </td>
                        </tr>
                        <tr data-id="container-lending-1">
                            <td>@ControlTemplates.InputCheckbox(Model.Uruguay, "lendingSmallVulnerableCountry") </td>
                            <td>@Localization.GetText("Uruguay") </td>
                            <td data-pagemode="edit">@ControlTemplates.InputText(Model.UruguayInformation, "uruguayInformation") </td>
                            <td data-pagemode="read">@Model.UruguayInformation.HtmlEncode() </td>
                        </tr>
                        <tr>
                            <td>@ControlTemplates.InputCheckbox(Model.LendingReductionEnhancement, "lendingReductionEnhancement") </td>
                            <td>@Localization.GetText("Lending for poverty reduction and equity enhancement") </td>
                            <td>@String.Empty </td>
                        </tr>
                        <tr data-id="container-lending-2">
                            <td>@ControlTemplates.InputCheckbox(Model.Sector, "sector") </td>
                            <td>@Localization.GetText("Sector") </td>
                            <td data-pagemode="edit">@Confluence.InputText(Model.SectorInformation, "uruguayInformation") </td>
                            <td data-pagemode="read">@Model.SectorInformation.HtmlEncode() </td>
                        </tr>
                        <tr data-id="container-lending-3">
                            @*<td>@String.Empty</td>*@
                            <td>@ControlTemplates.InputCheckbox(Model.GeographicClassification, "geographicClassification") </td>
                            <td>@Localization.GetText("Uruguay") </td>
                            <td data-pagemode="edit">@ControlTemplates.InputText(Model.GeographicClassificationInformation, "geographicClassificationInformation") </td>
                            <td data-pagemode="read">@Model.GeographicClassificationInformation.HtmlEncode() </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
}

@if (ViewBag.LendingProgramPermission ?? false)
{
    <div class="header">
        <div class="col-md-12">
                @Html.Partial("Partials/OperationData/buttons")
        </div>
    </div>
}