@using IDB.Presentation.MVC4.Helpers

@model IDB.MW.Application.OPUSModule.ViewModels.OperationDataService.ResponsabilityDataViewModel

@if (ViewBag.ResponsabilityDataPermission == true || ViewBag.EsgSpecialistAssignmentWritePermission == true || ViewBag.SPDPCRWritePermission == true)
{
    <div class="header">
        <div class="row">
            <div class="col-md-12">
                    @Html.Partial("Partials/OperationData/buttonsResponsibility")
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <div data-idb-fieldname="tblResponsibleUnits">
        @Html.Partial("Partials/OperationData/DataTables/OperationResponsibleUnit", Model.ResponsibleUnits)
    </div>

    <div data-idb-fieldname="tblTeamData">
        @Html.Partial("Partials/OperationData/DataTables/OperationTeamData", Model)
    </div>


    if (Model.OperationType != 476 && Model.OperationType != 475)
    {
        if (SecurityHelper.IsVisibleByDefault(ViewBag.FieldAccessList, "tblCntryRltd"))
        {
            <div data-idb-fieldname="tblCntryRltd">
                @if (ViewBag.IsRegionalPermission ?? false)
                {
                    @Html.Partial("Partials/OperationData/DataTables/OperationCountryRelated", Model.AssociatedCountries)
                }
            </div>
        }
    }


    if (ViewBag.Visibility.Institution)
    {
        <div idb-fieldname="tblInstitution">
        @Html.Partial("Partials/OperationData/DataTables/OperationInstitutionRelated", Model.AssociatedInstitutions)
    </div>
    }

}

        @if (ViewBag.ResponsabilityDataPermission == true || ViewBag.EsgSpecialistAssignmentWritePermission == true || ViewBag.SPDPCRWritePermission == true)
{
            <div class="header">
                <div class="col-md-12">
                    <span class="text-right">
                        @Html.Partial("Partials/OperationData/buttonsResponsibility")
                    </span>
                </div>
            </div>
}
