@using IDB.MW.Infrastructure.Configuration
@using IDB.Architecture.Language
@using IDB.MW.Application.OPUSModule.ViewModels.OperationDataService

@model StrategicAlignmentViewModel

@{
    var devMode = ConfigurationServiceFactory.Current.GetApplicationSettings().IsDevelopmentMode;

    string language = "";

    switch (Localization.CurrentLanguage)
    {
        case "en":
            language = "en-us";
            break;
        case "es":
            language = "es-es";
            break;
        case "fr":
            language = "fr-fr";
            break;
        case "pt":
            language = "pt-br";
            break;
    }
    string infoPath = "https://opersys.iadb.org/sites/knowledge/" + language + "/Pages/Strategic-Alignment-Instructions.aspx ";
    //string infoPath = @IDB.Architecture.Globals.GetSetting("ParamServer") + "/sites/knowledge/" + language + "/Pages/Strategic-Alignment-Instructions.aspx ";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Areas/OPUS/Views/View/Partials/OperationData/buttonsStrategicAlignment.cshtml", Model)
    </div>
</div>

<input type="hidden" id="hidSADataViewModel" value="@ViewBag.SerializedViewModelSA" />
<div data-pagemode="edit">
    <input type="hidden" id="isERMCompleted" name="isERMCompleted" value="@Model.IsERMCompleted.ToString()" />
    <input type="hidden" id="isOperationApproved" name="isOperationApproved" value="@Model.IsOperationApproved.ToString()" />
    <input type="hidden" id="isOperationPCRStarted" name="isOperationPCRStarted" value="@Model.ISOperationPCRStarted.ToString()" />
    <input type="hidden" id="ResultMatrixId" name="ResultMatrixId" value="@Model.ResultMatrixId.ToString()" />
</div>

<div class="row mb40">
    <div class="grouping-section col-md-12">
        <label class="lbltitle">@Localization.GetText("OP.OD.StrategicAlignment.Title")</label>
        <a href="@infoPath" target="_blank">
            <div class="icoInformation" style="display: inline-block;margin-left: 10px; position: relative; top: -10px;"></div>
        </a>
    </div>

    @if (Model.IsOperationTCType || Model.IsOperationSGType)
    {
        <div class="col-md-12 mt10">
            <label class="labelNormal">
               @Html.Raw(Localization.GetText("SA.StrategicAlignment.OnScreenInstructionsForTC"))
            </label>
        </div>
    }
</div>

@if (Model.IsOperationSGType && Model.ISOperationPCRStarted)
{
    <div>
        @Html.Partial("Partials/OperationData/StrategicAlignmentIndicatorReadPartial", Model.IndicatorDataList)
    </div>
}
else
{
    <div>
        @Html.Partial("Partials/OperationData/StrategicAlignmentIndicatorEditPartial", Model.IndicatorDataList)
    </div>
}

@if (!Model.IsOperationEswType)
{
    <div class="row mb10">
        <div class="col-md-12 grouping-section pt30">
            <label class="lbltitle">@Localization.GetText("OP.OD.CountryStrategyCountryProgramAlignment.Title")</label>
        </div>
    </div>
}

@if (Model.IsCountryStrategyAlignmentIncluded)
{
    <div class="mb50">
        @Html.Partial(
            "Partials/OperationData/StrategicAlignmentCountryStrategyEditPartial",
            Model.CountryStrategyData)
    </div>
    @*<div class="mb50 pl8">
        @Html.Partial("Partials/OperationData/StrategicAlignmentCountryProgramPartial",
           Model.CountryProgramData)
    </div>*@
}
else
{
    if (!Model.IsOperationEswType)
    {
        <div class="mb50">
            @Html.Partial("Partials/OperationData/StrategicAlignmentCountryStrategyReadPartial",
                 Model.CountryStrategyData)
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Areas/OPUS/Views/View/Partials/OperationData/buttonsStrategicAlignment.cshtml", Model)
    </div>
</div>