@using IDB.MW.Application.OPUSModule.ViewModels.OperationDataService
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language

@model SACountryProgramViewModel

<div class="row">
    <div class="col-md-12">
        <div class="row pl15">
            <div class="col-md-4 padding0">
                @Confluence.Label(Localization.GetText("OP.OD.CountryProgram.Title"), htmlClass: "display-block mb5 subtitle")
                @if (Model.IsOperationOPR)
                {
                    @Confluence.LabelLink(Model.NameLink, name: "linktoprofile", dataAttributes: new Dictionary<string, string> { { "url", Model.OPCUrlLink } })
                }
                else
                {
                    @Confluence.Label(Localization.GetText("R6.DEM.CountryProgram.DocumentUnderReview"))
                }
            </div>
            <div class="col-md-8 padding0 alignleft">
                @Confluence.LabelsGroup(Localization.GetText("R6.DEM.StrategicAlignment.OPR_DocumentNumber"),
                contentAlways: Confluence.Label(Model.DocumentCountryProgram),
                asterisk: false)
            </div>
        </div>
    </div>

</div>
<div class="row mb20">
    <div class="col-md-12">
        <div class="col-md-12 mb10 pl0">
            @Confluence.Label(Localization.GetText("R6.DEM.CountryProgram.IncludePipeline"), htmlClass: "display-block subtitle mb5 labelDataExtraTwo")
            @Confluence.Label(Model.IncludedInPipeline, htmlClass: "labelDataExtra")
        </div>
    </div>
</div>

    @*<div name="regionRelevanceOperation" class="row mb20 @(Model.RelevanceVisible == false ? "hide" : "")">
    <div class="col-md-12 mb5">
        @Confluence.Label(Localization.GetText("OP.OD.CountryProgram.RelevanceOperation"))
        <span class="asteriskColor">*</span>
    </div>
    <div class="col-md-12">
        <div>
            <label class="labelNormal bold">@Model.RelevanceOperation.HtmlEncode()</label>
            @Confluence.InputMultiLanguageSimpleArea(new IDB.MVCControls.Confluence.Models.MultiLanguageBoxSimpleModel
            {
                EnAreaValue = Model.EnAreaValue,
                EnRequired = true,
                EsAreaValue = Model.EsAreaValue,
                EsRequired = true,
                FrAreaValue = Model.FrAreaValue,
                PtAreaValue = Model.PtAreaValue,
                EnDataAttributes = new Dictionary<string, string> { { "enAreaValue", Model.EnAreaValue } },
                EsDataAttributes = new Dictionary<string, string> { { "esAreaValue", Model.EsAreaValue } },
                EnAreaName = "enRelevanceArea",
                EsAreaName = "esRelevanceArea",
                PtAreaName = "ptRelevanceArea",
                FrAreaName = "frRelevanceArea",
                MaxLength = 1000
            })
        </div>
    </div>
</div>*@

<div data-pagemode="edit">
    @Confluence.InputHidden(value: Convert.ToString(Model.IncludeOPR), name: "hiddenIndicativePipelines")
    @Confluence.InputHidden(value: Convert.ToString(Model.IsOperationOPR), name: "hiddenIsOperationOpr")
</div>
