@using IDB.Architecture.Language
@using IDB.MW.Application.OPUSModule.ViewModels.OperationDataService
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.OPUS.Models
@using IDB.Presentation.MVC4.Helpers
@using System.Linq

@model SACountryStrategyViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var validationPercentRegExp = appSettings.ValidationPercentRegExp;
}

@if (Model.IsCountryStrategyApproved && !Model.HasApprCompleted)
{
    <div class="row">
        <div class="grouping-section">
            <div class="groupColumn col-md-4" style="border-right: none;">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.OD.CountryStrategy.Title"))
                </div>
                <div class="col-md-12">
                    @Confluence.LabelLink(Model.NameLink, name: "linktoprofile",disabled: false, dataAttributes: new Dictionary<string, string> { { "url", Model.UrlLink } })
                </div>
            </div>
            <div class="groupColumn col-md-4">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.OD.CountryStrategy.GNDocumentNumber"))
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.GNDocumentNumber)
                </div>
            </div>
        </div>
    </div>
}
else if (Model.CurrentObjectivesList.Any())
{
    <div class="row">
        <div class="grouping-section">
            <div class="groupColumn col-md-4" style="border-right: none;">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.OD.CountryStrategy.Title"))
                </div>
                <div class="col-md-12">
                    @Confluence.LabelBold(Model.NameLink)
                </div>
            </div>
            <div class="groupColumn col-md-4">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("OP.OD.CountryStrategy.GNDocumentNumber"))
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.GNDocumentNumber)
                </div>
            </div>
        </div>
    </div>
}

<div class="row mb20">
    @if (Model.IsObjecticeAligned == true || Model.IsObjecticeAligned == null)
    {
        <div data-content="aligned-read">
            @if (Model.CurrentObjectivesList.Any())
            {
                <div class="col-md-12 mb5">
                    @Confluence.Label(text: Localization.GetText("OP.OD.CountryStrategy.Objective"), htmlClass: "titleLabel")
                </div>
            }
        </div>
    }
    else
    {
        <div data-content="notAligned-read">
            @if (Model.CurrentObjectivesList.Any())
            {
                <div class="col-md-12 mb5">
                    @Confluence.Label(text: Localization.GetText("OP.OD.CountryStrategy.ObjectiveNotAligned"), htmlClass: "titleLabel")
                </div>
            }
        </div>
    }
    @if (Model.CurrentObjectivesList.Any())
    {
        <div class="pl15 mb20">
            @foreach (var objective in Model.CurrentObjectivesList)
            {
                <div class="col-md-12 padding0 mb5 @(objective.OperationCsObjectiveId == null ? "hide" : "")" data-type="operationObjective" data-id="@(!objective.IsObjectiveAligned ? "SOCA-" + objective.ObjectiveId.ToString() : objective.ObjectiveId.ToString())">
                    <div class="col-md-5 padding0 selected-objective">
                        @Confluence.LabelBold(objective.NameObjective)
                    </div>
                </div>
            }
        </div>
    }
</div>