@using System.Collections.Generic
@using System.Linq

@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.OPUSModule.ViewModels.OperationDataService
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers
@using IDB.Presentation.MVC4.Areas.OPUS.Models

@model List<SAIndicatorDataViewModel>

    @foreach (var indicator in Model)
    {
        var classSubindicator = indicator.SubindicatorId.HasValue ? "paddingLeft5Percent" : string.Empty;
        var attrSubindicator = indicator.SubindicatorId.HasValue ? indicator.IndicatorId.ToString() : string.Empty;
        var attrContentIndicator = indicator.SubindicatorId.HasValue ? indicator.IndicatorId.ToString() + "-" + indicator.SubindicatorId.ToString() : indicator.IndicatorId.ToString();
        var attributes = new Dictionary<string, string>();
        attributes.Add("target-section", attrContentIndicator);
        
        <div class="row @classSubindicator" data-parent-indicator="@attrSubindicator">
            <div class="col-md-12 mb10">
                    @Confluence.InputCheckbox(
                    isChecked: indicator.IsChecked,
                    name: "indicator-Check-dis",
                    label: indicator.IndicatorName,
                    forceValidation: false,
                    htmlClass: "titleLabel",
                    disabled: true,
                    dataAttributes: attributes)
            </div>
            <div data-section="@attrContentIndicator">
                @if (indicator.IsComboVisible && indicator.IsComboVisibleSG && indicator.SubindicatorId == null)
                {
                    <div class="col-md-11 paddingLeft70 mb20">
                        <div class="col-md-4">
                            @Confluence.Label(Localization.GetText("OP.OD.ImpactIndicators.Title"), htmlClass: "titleLabel")
                            @foreach (var item in indicator.ImpactIndicatorText)
                             {
                                  <div data-pagemode="read">
                                      <label class="labelNormal bold">@item.HtmlEncode()</label>
                                   </div>  
                                    <div data-pagemode="edit">
                                      <label class="labelNormal bold">@item.HtmlEncode()</label>
                                   </div>    
                             }
                        </div>
                        <div class="col-md-4">
                            @Confluence.Label(Localization.GetText("OP.OD.OutcomeIndicators.Title"), htmlClass: "titleLabel")
                            @foreach (var item in indicator.OutcomeIndicatorText)
                            {
                                    <div data-pagemode="read">
                                        <label class="labelNormal bold">@item.HtmlEncode()</label>
                                    </div>
                                    <div data-pagemode="edit">
                                        <label class="labelNormal bold">@item.HtmlEncode()</label>
                                    </div>
                            }
                        </div>
                        <div class="col-md-4">
                            @Confluence.Label(Localization.GetText("OP.OD.Outputs.Title"), htmlClass: "titleLabel")
                            @foreach (var item in indicator.OutputText)
                            {
                                    <div data-pagemode="read">
                                        <label class="labelNormal bold">@item.HtmlEncode()</label>
                                    </div>
                                    <div data-pagemode="edit">
                                        <label class="labelNormal bold">@item.HtmlEncode()</label>
                                    </div>
                            }
                        </div>
                    </div>
                }
                
                @if(indicator.SubindicatorId == null){
                <div class="col-md-11 paddingLeft70 mb30" style="margin-left:15px;">
                    <div>
                        @Confluence.Label(Localization.GetText("OP.OD.Justification.Title"), htmlClass: "titleLabel")
                    </div>
                    <div>
                        <div data-pagemode="read">
                        <label class="labelNormal bold">
                            @indicator.Justification.HtmlEncode()
                        </label>
                    </div>
                        <div data-pagemode="edit">
                            <label class="labelNormal bold">
                                @indicator.Justification.HtmlEncode()
                            </label>
                        </div>
                        
                    </div>
                </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
        if (indicator.SubindicatorList.Any())
        {
            @Html.Partial("Partials/OperationData/StrategicAlignmentIndicatorReadPartial", indicator.SubindicatorList)
        }
    }














