@using System.Web.Mvc.Html
@using IDB.Architecture.Language
@using System.Configuration
@using IDB.Presentation.MVC4.Areas.PACI.Models
@model PaciViewModel

@{
    Layout = null;
}
<script type="text/javascript">    
    var operationId = '@Model.OperationId';
    var operationNumber = '@Model.OperationNumber';
    var basePath = '@ConfigurationManager.AppSettings.Get("BasePath")';
</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/PACI/app.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/PACI/paci.js")"></script>

<link href="@Url.Content("~/Content/Modules/PACI/paci.css")" rel="stylesheet" />


@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <script type="text/javascript">
        showError('@Model.ErrorMessage', 5);
    </script>
}
@*Implemetar la carga de errores desde @Model.ErrorMessage*@

<div class="padding20">
    <div class="col-md-12">
        <h2 class="titlePrincipal">@Localization.GetText("PACI.TITLE")</h2>
    </div>

    <div id="main_section_paci" class="col-md-12 pl0">
        @if (Model.IsEdit)
        {
            @Html.Partial("~/Areas/PACI/Views/Partials/PaciEdit.cshtml", Model)
        }
        else
        {
            @Html.Partial("~/Areas/PACI/Views/Partials/PaciView.cshtml", Model)
        }
        
    </div>
</div>