@using IDB.Presentation.MVC4.Helpers
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>IDB</title>
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    @Styles.Render("~/Content/Confluence")
    @Styles.Render("~/Content/TCMModule")
    <link href="~/Content/overrides/tcmOverride.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecommendationsNew/common.css")" />
    @if (ViewBag.fixLoad == true)
    {
        <link href="~/Content/overrides/fixLoad.css" rel="stylesheet" />
    }
    @{Html.RenderPartial("~/Views/Shared/TrackingHeader.cshtml");}
</head>
<body>

<section class="container-fluid">
    <div id="header-section">
        @RenderSection("Header", required: false)
    </div>
</section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/Scripts/TCMModule")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/config.js"></script>
    <script src="~/Scripts/ckeditor/styles.js"></script>
<section class="container-fluid">
    @RenderBody()
</section>





@Confluence.Loader()
<script type="text/javascript">
    idbg.config.basePath = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
    idbg.config.baseSharePointAddress = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
    idbg.config.language = '@Localization.CurrentLanguage';
    idbg.init();
</script>

    <!-- Walkme -->
    @*<script type="text/javascript">
        (
            function () {
                var walkme = document.createElement('script');
                walkme.type = 'text/javascript';
                walkme.async = true;
                walkme.src = '@Globals.GetSetting("WalkMeKey")';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(walkme, s);
                window._walkmeConfig = { smartLoad: true };
            })();
    </script>*@
@Scripts.Render("~/Scripts/fieldbehavior.js")
@RenderSection("scripts", false)
@Html.WriteScriptBlocks()


@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <script type="text/javascript">
        ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
            registerCallback(function () {
            showMessage("@ViewBag.ErrorMessage", false);
        });
    </script>
}
else
{
    <script type="text/javascript">
        ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
    </script>
}




    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
</body>
</html>
