@using IDB.Architecture;
@using IDB.Architecture.Language

<div data-id-selector="add-form">
    <div data-name="addContent" data-parsley-validate="true"  >
        <div class="row">
            <div class="col-md-12">
                <div class="modalContent" data-id="modalContent">
                    <div class="row">
                        <div class="col-md-12" style="margin-top:5px;margin-bottom:20px;">
                            <div class="col-md-4 contentImageData">
                                <div style="width:200px;height:200px;padding-left:30px;">
                                    <img id="imgMediaFile" src="@Globals.GetSetting("BasePath")/Content/images/image-blank.png" class="imagePreview" /><br />
                                </div>
                                <div class="col-md-12 padding0 margintop2percent">
                                    <div class="col-md-6 colFormLabel">@Confluence.Label(Localization.GetText("MediaFile.Label.Date"))</div>
                                    <div class="col-md-6 padding0">@Confluence.InputDatePicker(null, "Date", required : false)</div>
                                </div>
                                <div class="col-md-12 padding0 margintop2percent">
                                    <div class="col-md-6 colFormLabel">@Confluence.Label(Localization.GetText("MediaFile.Label.Lat"))</div>
                                    <div class="col-md-6 padding0">@Confluence.InputDecimalNegative(null, name : "Latitud", minValue : "-90.00000000000000", maxValue : "90.00000000000000", dataAttributes : new Dictionary<string, string> { { "input", "decimal" }, { "parsley-rangeValueGeography", "true" } }, required : false)</div>
                                </div>
                                <div class="col-md-12 padding0 margintop2percent">
                                    <div class="col-md-6 colFormLabel">@Confluence.Label(Localization.GetText("MediaFile.Label.Lon"))</div>
                                    <div class="col-md-6 padding0">@Confluence.InputDecimalNegative(null, name : "Longitud", minValue : "-90.00000000000000", maxValue : "90.00000000000000", dataAttributes : new Dictionary<string, string> { { "input", "decimal" }, { "parsley-rangeValueGeography", "true" } }, required : false)</div>
                                </div>
                                <div class="col-md-12 padding0 margintop10percent">
                                    <div class="col-md-9 padding0">@Confluence.Label(Localization.GetText("MediaFile.Label.TextPublic"))</div>
                                </div>
                                <div class="col-md-12 padding0">
                                    <div class="col-md-6 padding0">@Confluence.InputCheckbox(isChecked : false, name : "Public", id : "Public", label : Localization.GetText("MediaFile.Label.Public"))</div>
                                </div>
                            </div>
                            <div class="col-md-8 contentFormData">
                                <div class="col-md-12" style="height:70px;">
                                    @Confluence.InputFile("fileMedia", dataAttributes : new Dictionary<string, string> { { "parsley-formatdocumentmedia", "true" } }, required : true,width:"480px")
                                </div>
                                <div class="col-md-12">
                                    @Confluence.LabelsGroup(Localization.GetText("MediaFile.Label.Caption"), contentAlways : Confluence.InputText(string.Empty, "Caption", width : "100%", required : true), asterisk : true)
                                </div>
                                <div class="col-md-12">
                                    @Confluence.LabelsGroup(Localization.GetText("MediaFile.Label.Description"), contentAlways : Confluence.InputText(string.Empty, "Description", width : "100%", required : false), asterisk : false)
                                </div>
                                <div class="col-md-12 ">
                                    @Confluence.LabelsGroup(Localization.GetText("MediaFile.Label.LocationDescription"), contentAlways : Confluence.InputText(string.Empty, "LocationDescription", width : "100%", required : false), asterisk : false)
                                </div>
                                @Confluence.InputText(string.Empty, "MediaId", htmlClass : "hide", required : false)
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <div class="col-md-5">
                                    <div class="col-md-12 padding0 margintop2percent">
                                        @Confluence.Label(Localization.GetText("MediaFile.Label.EnvironmentalKeywords"))
                                    </div>
                                    <div class="col-md-12 padding0 margintop2percent" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "AirEmissions", id : "AirEmissions", label : Localization.GetText("MediaFile.Label.AirEmissions"),htmlClass:"fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Biodiversity", id : "Biodiversity", label : Localization.GetText("MediaFile.Label.Biodiversity"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Birds", id : "Birds", label : Localization.GetText("MediaFile.Label.Birds"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "EndangeredSpecies", id : "EndangeredSpecies", label : Localization.GetText("MediaFile.Label.EndangeredSpecies"),
                                        htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Fish", id : "Fish", label : Localization.GetText("MediaFile.Label.Fish"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Frogs", id : "Frogs", label : Localization.GetText("MediaFile.Label.Frogs"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "HazardousMaterials", id : "HazardousMaterials", label : Localization.GetText("MediaFile.Label.HazardousMaterials"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Mammals", id : "Mammals", label : Localization.GetText("MediaFile.Label.Mammals"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "NaturalHabitat", id : "NaturalHabitat", label : Localization.GetText("MediaFile.Label.NaturalHabitat"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "RevegetationRestoration", id : "RevegetationRestoration", label : Localization.GetText("MediaFile.Label.RevegetationRestoration"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Waste", id : "Waste", label : Localization.GetText("MediaFile.Label.Waste"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "WasteWater", id : "WasteWater", label : Localization.GetText("MediaFile.Label.WasteWater"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Water", id : "Water", label : Localization.GetText("MediaFile.Label.Water"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "WaterSupply", id : "WaterSupply", label : Localization.GetText("MediaFile.Label.WaterSupply"), htmlClass : "fontSize10")
                                    </div>
                                </div>
                                <div class="col-md-7 padding0">
                                    <div class="col-md-12 padding0" style="margin-top:3%;">
                                        @Confluence.Label(Localization.GetText("MediaFile.Label.SocialKeywords"))
                                    </div>
                                    <div class="col-md-12 padding0 margintop2percent" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Children", id : "Children", label : Localization.GetText("MediaFile.Label.Children"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "CommunityMeetings", id : "CommunityMeetings", label : Localization.GetText("MediaFile.Label.CommunityMeetings"),
                                        htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Farmers", id : "Farmers", label : Localization.GetText("MediaFile.Label.Farmers"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "HealthAndSafety", id : "HealthAndSafety", label : Localization.GetText("MediaFile.Label.HealthSafety"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "IndigenousPeopleAndAfroDescendants", id : "IndigenousPeopleAndAfroDescendants", label : Localization.GetText("MediaFile.Label.IndigenousPeople"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "PeopleUsingBasicServices", id : "PeopleUsingBasicServices", label : Localization.GetText("MediaFile.Label.PeopleBasicServices"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "PublicEquipment", id : "PublicEquipment", label : Localization.GetText("MediaFile.Label.PublicEquipment"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Resettlement", id : "Resettlement", label : Localization.GetText("MediaFile.Label.Resettlement"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "RoadWorksAndConstruction", id : "RoadWorksAndConstruction", label : Localization.GetText("MediaFile.Label.RoadWorksConstruction"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "SmallBusiness", id : "SmallBusiness", label : Localization.GetText("MediaFile.Label.SmallBusiness"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Urbanization", id : "Urbanization", label : Localization.GetText("MediaFile.Label.Urbanization"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "Women", id : "Women", label : Localization.GetText("MediaFile.Label.Women"), htmlClass : "fontSize10")
                                    </div>
                                    <div class="col-md-12 padding0" style="height: 20px;">
                                        @Confluence.InputCheckbox(isChecked : false, name : "YouthCenters", id : "YouthCenters", label : Localization.GetText("MediaFile.Label.YouthCenters"), htmlClass : "fontSize10")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contentFooter">
                    <div style="margin-right:20px; text-align:right;">
                            @Confluence.ButtonLink(Localization.GetText("MediaFile.Button.Cancel"), dataAttributes : new Dictionary<string, string>() { { "data-id", "cancelButton" } }, name : "cancel", action : "exitModal")
                            @Confluence.ButtonBlue(Localization.GetText("MediaFile.Button.Attach"), dataAttributes : new Dictionary<string, string>() { { "data-id", "attachButton" } }, action : "submitAttachAddMediaFile", name : "Attach")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>