@using Newtonsoft.Json
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language

@model List<IDB.MW.Application.MrBlueModule.ViewModels.ManageMediaFiles.ManageMediaFilesViewModel>

<div class="document-result-region" data-id-selector="search-form-results">
    <div data-id-selector="result-container-main" class="result-container-main">
        <div data-id-selector="documents-container" class="overflow-y-scroll mediaFile-container">
            @foreach (var documentMedia in Model)
            {
                var selectedClass = documentMedia.IsSelected ? "selected" : "";
                var selectedClassHide = documentMedia.IsSelected ? "" : "hide";

                <div class="documentMedia-box  @selectedClass" data-id="selectableMediaDocument" data-id-selector="@documentMedia.MediaId" data-json="@JsonConvert.SerializeObject(documentMedia, Formatting.None)">
                    <div name="selectDocumentMedia" class="greenCheck @selectedClassHide"></div>
                    <div name="editDocumentMedia" class="editCheck hide"></div>
                    <div class="contentMediaImage"><img class="imgMediaDocument" src="@documentMedia.MediaUrl" /></div>
                    <div class="documentMediaDescription">@documentMedia.Caption</div>
                </div>
            }
        </div>
    </div>
</div>

