@using IDB.Architecture.Language

<div data-id-selector="add-form" id="contentFilterMedia">
    <div data-name="searchContent" data-parsley-validate="true">
        <div class="row">
            <div class="col-md-12">
                <div class="modalContent" data-id="modalContent">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 contentFilter" style="margin-top:-6px;">
                                <div class="col-md-12 padding0">
                                    @Confluence.LabelBold(Localization.GetText("MediaFile.Label.Filters"))
                                </div>
                                <div class="col-md-12 padding0 ">
                                    @Confluence.InputText(string.Empty, "Caption", 
                                    placeholder : Localization.GetText("MediaFile.Label.Caption"), width : "100%", required : false)
                                </div>
                                <div class="col-md-12 padding0 margintop2percent">
                                    @Confluence.InputText(string.Empty, "Description", 
                                    placeholder : Localization.GetText("MediaFile.Label.Description"), width : "100%", required : false)
                                </div>
                                <div class="col-md-12 padding0 margintop1percent">
                                    <div class="col-md-12 padding0">
                                        <span style="font-size:13px;">@Localization.GetText("MediaFile.Label.TakenBetween")</span>
                                    </div>
                                    <div class="col-md-6 padding0">
                                        @Confluence.InputDatePicker(null, "DateTakenFrom", width : "98%", required : false, htmlClass : "noIconDatePicker", placeholder : "")
                                    </div>
                                    <div class="col-md-6 padding0">
                                        @Confluence.InputDatePicker(null, "DateTakenTo", width : "98%", required : false, htmlClass : "noIconDatePicker", placeholder : "")
                                    </div>
                                </div>
                                <div class="col-md-12 padding0 margintop2percent">
                                    <div class="col-md-6" style="padding:0px;width:50px;">@Confluence.Label(Localization.GetText("MediaFile.Label.Public"))</div>
                                    <div class="col-md-6 padding0">@Confluence.InputCheckbox(isChecked : false, name : "Public", id : "Public")</div>
                                </div>
                                <div class="col-md-12 padding0 " data-name-container="contentEnvironmentalKeywords" style="height:345px;">
                                    @Confluence.LabelBold(Localization.GetText("MediaFile.Label.EnvironmentalKeywords"))
                                    <div class="col-md-12 padding0" style="margin-top:3%;">
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "AirEmissions", id : "AirEmissions", label : Localization.GetText("MediaFile.Label.AirEmissions"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Biodiversity", id : "Biodiversity", label : Localization.GetText("MediaFile.Label.Biodiversity"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Birds", id : "Birds", label : Localization.GetText("MediaFile.Label.Birds"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "EndangeredSpecies", id : "EndangeredSpecies", label : Localization.GetText("MediaFile.Label.EndangeredSpecies"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Fish", id : "Fish", label : Localization.GetText("MediaFile.Label.Fish"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Frogs", id : "Frogs", label : Localization.GetText("MediaFile.Label.Frogs"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "HazardousMaterials", id : "HazardousMaterials", label : Localization.GetText("MediaFile.Label.HazardousMaterials"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Mammals", id : "Mammals", label : Localization.GetText("MediaFile.Label.Mammals"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "NaturalHabitat", id : "NaturalHabitat", label : Localization.GetText("MediaFile.Label.NaturalHabitat"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "RevegetationRestoration", id : "RevegetationRestoration", label : Localization.GetText("MediaFile.Label.RevegetationRestoration"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Waste", id : "Waste", label : Localization.GetText("MediaFile.Label.Waste"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "WasteWater", id : "WasteWater", label : Localization.GetText("MediaFile.Label.WasteWater"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Water", id : "Water", label : Localization.GetText("MediaFile.Label.Water"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "WaterSupply", id : "WaterSupply", label : Localization.GetText("MediaFile.Label.WaterSupply"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="margin-top:5%;">
                                            <label class="linkModalClickable" data-use="getKeywords">@Localization.GetText("MediaFile.Label.SocialKeywords")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 padding0  hide" data-name-container="contentSocialKeywords" style="height:345px;">
                                    <div class="col-md-12 padding0">
                                        <label class="linkModalClickable" data-use="getKeywords">@Localization.GetText("MediaFile.Label.EnvironmentalKeywords")</label>
                                    </div>
                                    <div class="col-md-12 padding0" style="margin-top:3%;">
                                        @Confluence.LabelBold(Localization.GetText("MediaFile.Label.SocialKeywords"))
                                    </div>
                                    <div class="col-md-12 padding0 margintop1percent">
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Children", id : "Children", label : Localization.GetText("MediaFile.Label.Children"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "CommunityMeetings", id : "CommunityMeetings", label : Localization.GetText("MediaFile.Label.CommunityMeetings"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Farmers", id : "Farmers", label : Localization.GetText("MediaFile.Label.Farmers"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "HealthAndSafety", id : "HealthAndSafety", label : Localization.GetText("MediaFile.Label.HealthSafety"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "IndigenousPeopleAndAfroDescendants", id : "IndigenousPeopleAndAfroDescendants", label : Localization.GetText("MediaFile.Label.IndigenousPeople"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "PeopleUsingBasicServices", id : "PeopleUsingBasicServices", label : Localization.GetText("MediaFile.Label.PeopleBasicServices"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "PublicEquipment", id : "PublicEquipment", label : Localization.GetText("MediaFile.Label.PublicEquipment"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Resettlement", id : "Resettlement", label : Localization.GetText("MediaFile.Label.Resettlement"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "RoadWorksAndConstruction", id : "RoadWorksAndConstruction", label : Localization.GetText("MediaFile.Label.RoadWorksConstruction"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "SmallBusiness", id : "SmallBusiness", label : Localization.GetText("MediaFile.Label.SmallBusiness"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Urbanization", id : "Urbanization", label : Localization.GetText("MediaFile.Label.Urbanization"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "Women", id : "Women", label : Localization.GetText("MediaFile.Label.Women"), htmlClass : "fontSize10")
                                        </div>
                                        <div class="col-md-12 padding0" style="height: 20px;">
                                            @Confluence.InputCheckbox(isChecked : false, name : "YouthCenters", id : "YouthCenters", label : Localization.GetText("MediaFile.Label.YouthCenters"), htmlClass : "fontSize10")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12  textalign-right" style="margin-top:4px;">
                                    @Confluence.ButtonBlue(Localization.GetText("MediaFile.Button.ApplyFilter"), action : "applyFilterFileMedia", name : "applyFilterFileMedia")
                                </div>
                            </div>
                            <div class="col-md-8 contentFormData padding0" name="resultFileMediaFilter">
                            </div>
                        </div>
                    </div>
                    <div class="contentFooter">
                        <div style="margin-right:20px; text-align:right;">
                            @Confluence.ButtonLink(Localization.GetText("MediaFile.Button.Cancel"), dataAttributes : new Dictionary<string, string>() { { "data-id", "cancelButton" } }, action : "exitModal")
                            @Confluence.ButtonBlue(Localization.GetText("MediaFile.Button.Attach"), dataAttributes : new Dictionary<string, string>() { { "data-id", "attachButton" } }, action : "submitSelectedMediaFile")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>