@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

 @if ((ViewBag.WriteRole != null) && ViewBag.WriteRole)
    {
    
    <div id="decisionSWOButtons" class="float-right dSWOButtons">

        <div data-pagemode="read">
            @Display.Button01(Localization.GetText("TC.Edit"), action: "editDecisionSWO")
    </div>

        <div data-pagemode="edit">
            @Display.ButtonLink(Localization.GetText("TC.Cancel"), action: "cancelDecisionSWO")

            @Display.Button05(Localization.GetText("TC.Save"), action: "saveDecisionSWO")

            @Display.Button01(Localization.GetText("TC.DecisionSWO.SaveAndSend"), name: "SaveAndSendOperation", action: "sendDecisionSWO")

            @Display.AddModalButton(new ModalViewModel(name: "SaveAndSendFlexOperation",
                                                        allowClose: true,
                                                        typeButton: CssClass.Button01,
                                                        contentSelector: "#sendAndSendModalFexOperation",
                                                        type: CssClass.ModalWarning,
                                                        title: Localization.GetText("TC.DecisionSWO.OperationModalSaveAndSend.Title"),
                                                        validateForm: true,
                                                        actionOnClose: "openModalSendToOperation",
                                                        closeOnOverlay: false,
                                                        text: Localization.GetText("TC.DecisionSWO.SaveAndSend"))
                                            .AddButton("cancel",
                                                        text: Localization.GetText("TC.DecisionSWO.Cancel"),
                                                        type: CssClass.ButtonLink,
                                                        callback: "")
                                            .AddButton("send",
                                                        id: "Flex_Operation_SWO_SaveAndSend",
                                                        text: Localization.GetText("TC.DecisionSWO.Send"),
                                                        type: CssClass.Button01,
                                                        callback: "sendDecisionSWO",
                                                        closeAtEnd: true)

                )

            @Display.AddModalButton(new ModalViewModel(name: "SaveAndSendFGapOperation",
                                                        allowClose: true,
                                                        typeButton: CssClass.Button01,
                                                        contentSelector: "#sendAndSendModalFGapOperation",
                                                        type: CssClass.ModalWarning,
                                                        title: Localization.GetText("TC.DecisionSWO.OperationModalSaveAndSend.Title"),
                                                        validateForm: true,
                                                        actionOnClose: "openModalSendToOperation",
                                                        closeOnOverlay: false,
                                                        text: Localization.GetText("TC.DecisionSWO.SaveAndSend"))
                                             .AddButton("cancel",
                                                        text: Localization.GetText("TC.DecisionSWO.Cancel"),
                                                        type: CssClass.ButtonLink,
                                                        callback: "")
                                             .AddButton("send",
                                                        id: "FGap_Operation_SWO_SaveAndSend",
                                                        text: Localization.GetText("TC.DecisionSWO.Send"),
                                                        type: CssClass.Button01,
                                                        callback: "sendDecisionSWO",
                                                        closeAtEnd: true)
            )
        </div>
    </div>
    }
