@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums


@if (MvcHelpers.CheckSomeRoles(ViewBag.GLobalRoleList, ActionEnum.SWCoordinatorWritePermission, ActionEnum.GCMChiefWrite) || ViewBag.IsMyFund ?? false)
{
    <div data-type="contentButtons">
        <div data-id="buttons-BI" class="float-right fundInformation-headerButtons">
            <div data-pagemode="read">
                @Confluence.ButtonBlue(Localization.GetText("TC.Edit"), action: "editBasicInformation")
            </div>
            <div data-pagemode="edit">
                @Confluence.ButtonLink(Localization.GetText("TC.Cancel"), action: "cancelBasicInformation")
                @Confluence.ButtonOrange(Localization.GetText("TC.Save"), action: "saveBasicInformation")
            </div>
        </div>
        <div data-id="buttons-FO" class="hide float-right fundInformation-headerButtons">
            <div data-pagemode="read">
                @Confluence.ButtonBlue(Localization.GetText("TC.Edit"), action: "editFundedOperations")
            </div>
            <div data-pagemode="edit">
                @Confluence.ButtonLink(Localization.GetText("TC.Cancel"), action: "cancelFundedOperations")
                @Confluence.ButtonOrange(Localization.GetText("TC.Save"), action: "saveFundedOperations")
            </div>
        </div>
        <div data-id="buttons-DC" class="hide float-right fundInformation-headerButtons">
            <div data-pagemode="read">
                @Confluence.ButtonBlue(Localization.GetText("TC.Edit"), action: "editDocument")
            </div>
            <div data-pagemode="edit">
                @Confluence.ButtonLink(Localization.GetText("TC.Cancel"), action: "cancelDocument")
                @Confluence.ButtonOrange(Localization.GetText("TC.Save"), action: "saveDocuments")
            </div>
        </div>
    </div>
}
