@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@if( ViewBag.WriteRole == true )
{ 
    <div data-id="headerButtons" class="float-right main-buttons">
        <div data-pagemode="read">

            @Display.Button01(Localization.GetText("TC.Edit"), action: "editMeeting")

    </div>
        <div data-pagemode="edit">

            @Display.ButtonLink(Localization.GetText("TC.Cancel"), action: "cancelMeeting")

            @Display.AddModalButton(new ModalViewModel(typeButton: CssClass.Button01,
                                                        name: "createExternalMinutesButton",
                                                        allowClose: true,
                                                        contentSelector: "#createExternalMinutesModal",
                                                        title: Localization.GetText("TC.FileFormat"),
                                                        validateForm: true,
                                                        type: CssClass.ModalInformation,
                                                        text: Localization.GetText("TC.SingleWindowMeeting.CreateExternalMinutes"))
                                            .AddButton("cancel",
                                                        id: "cancel",
                                                        text: Localization.GetText("TC.Cancel"),
                                                        type: CssClass.ButtonLink,
                                                        callback: ""
                                                        )
                                            .AddButton("excel",
                                                        id: "excel",
                                                        text: Localization.GetText("TC.Excel"),
                                                        type: CssClass.Button01,
                                                        callback: "createExternalMinutesExcel",
                                                        closeAtEnd: true
                                                        )
                                            .AddButton("word",
                                                       id: "word",
                                                       text: Localization.GetText("TC.Word"),
                                                       type: CssClass.Button01,
                                                       callback: "createExternalMinutesWord",
                                                       closeAtEnd: true
                                                       )
                )

            @Display.AddModalButton(new ModalViewModel(typeButton: CssClass.Button01,
                                                        name: "createInternalMinutesButton",
                                                        allowClose: true,
                                                        contentSelector: "#createExternalMinutesModal",
                                                        title: Localization.GetText("TC.FileFormat"),
                                                        validateForm: true,
                                                        type: CssClass.ModalInformation,
                                                        text: Localization.GetText("TC.SingleWindowMeeting.CreateInternalMinutes"))
                                            .AddButton("cancel",
                                                        id: "cancel",
                                                        text: Localization.GetText("TC.Cancel"),
                                                        type: CssClass.ButtonLink,
                                                        callback: ""
                                                        )
                                            .AddButton("excel",
                                                        id: "excel",
                                                        text: Localization.GetText("TC.Excel"),
                                                        type: CssClass.Button01,
                                                        callback: "createInternalMinutesExcel",
                                                        closeAtEnd: true
                                                        )
                                            .AddButton("word",
                                                       id: "word",
                                                       text: Localization.GetText("TC.Word"),
                                                       type: CssClass.Button01,
                                                       callback: "createInternalMinutesWord",
                                                       closeAtEnd: true
                                                       )
                )

            @Display.AddModalButton(new ModalViewModel(typeButton: CssClass.Button05,
                                                        name: "saveMeetingButton",
                                                        allowClose: true,
                                                        contentSelector: "#saveMeetingModal",
                                                        title: Localization.GetText("TC.TCAbstractModalSave.Title"),
                                                        validateForm: true,
                                                        type: CssClass.ModalWarning,
                                                        text: Localization.GetText("TC.Save"))
                                            .AddButton("cancel",
                                                        text: Localization.GetText("TC.Cancel"),
                                                        type: CssClass.ButtonLink,
                                                        callback: ""
                                                        )
                                            .AddButton("save",
                                                        text: Localization.GetText("TC.Save"),
                                                        type: CssClass.Button01,
                                                        callback: "saveMeeting",
                                                        closeAtEnd: true
                                                        )
                )
    </div>
</div>
}