@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@model List<SelectListItem>

<div data-section="modals" class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"prucurements-info-modal\"]",
        title: Localization.GetText("TCP.FirmProcurement.ProcurementMessage.Procurements"),
        type: CssClass.ModalInformationNoIcon,
        moveOriginalContent: true,
        name: "btn-open-popup-prucurements-info",
        closeOnOverlay: false,
        allowClose: true,
        actionOnClose: "")
    .AddButton(name: "btn-prucurements-info-cancel",
                    text: Localization.GetText("Common.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "")
    .AddButton(name: "btn-prucurements-info-add",
                            text: Localization.GetText("TCP.FirmProcurement.ProcurementMessage.AddProcurement"),
                    type: CssClass.Button05,
                    callback: "addProcurement",
                    closeAtEnd: true))

    <div data-name="prucurements-info-modal" class="hide modalBody">

    </div>
</div>

@Confluence.InputDropDown("", "outputs", Model)
@Confluence.ButtonBlue("Ver Procurements", "verProcurements")

@section scripts{
    <script type="text/javascript">

        function addProcurement() {
            var promise = $.Deferred();

            LocationAssign('@Url.Action("ProcurementList", "FirmProcurement", new { area = "Procurement" })');

            promise.resolve();
            return promise;
        }

        registerCallback(function () {
            $(document).on('click', '[name="verProcurements"]', function () {
                var source = $(this);

                var drop = $('[name="outputs"]');
                var outputId = drop.val();

                if ((outputId != null) && (outputId.trim() !== '')) {


                    var url = '@Url.Action("GetProcurementsInformation", "FirmProcurement", new { area = "Procurement" })';
                    var response = postUrl(url, { outputId: outputId });
                    response.done(function (data) {
                        if ((data.Message != null) && (data.Message != "")) {
                            showMessage(data.Message);
                        }

                        if (data.IsValid) {
                            for (var name in data.ContentToReplace) {
                                var section = $(name);
                                section.html(data.ContentToReplace[name]);
                                section = $(name);
                                bindHandlers(section);
                            }
                            var modalButton = $('[name="btn-open-popup-prucurements-info"]');
                            modalButton.click();
                        }
                    });
                }
            });


        });
</script>
}