@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Helper.ConstantHelper;
@using IDB.MW.Infrastructure.Helpers;
@using IDB.MW.Application.BEOProcurementModule.Enums;


@model FirmProcurementViewModel

@if (Model != null)
{
    <input hidden data-idb-pagename="UI-OCS-002-ProcurementDetails" />
    @Html.Partial("ReadPartial/_header", Model.Header)

    <div>
        @Confluence.Tabs(new Dictionary<string, string>()
        {
            {"linktabIdentification", Localization.GetText("TCP.FirmProcurement.Tabs.Identification")},
            {"linktabPreparation", Localization.GetText("TCP.FirmProcurement.Tabs.Preparation")},
            {"linktabEvaluation", Localization.GetText("TCP.FirmProcurement.Tabs.Evaluation")},
            {"linktabNegotiation", Localization.GetText("TCP.FirmProcurement.Tabs.Negotiation")},
            {"linktabExecution", Localization.GetText("TCP.FirmProcurement.Tabs.Execution")},
        })

        <div class="tab-content">
            <div class="tab-pane" id="linktabIdentification">
                @Html.Partial("ReadPartial/Buttons", Model)
                @Html.Partial("ReadPartial/Identification", Model.Identification)
            </div>
            <div class="tab-pane" id="linktabPreparation">
                @Html.Partial("ReadPartial/Buttons", Model)
                @Html.Partial("ReadPartial/Preparation", Model.Preparation)
            </div>
            <div class="tab-pane" id="linktabEvaluation">
                @Html.Partial("ReadPartial/Buttons", Model)
                @if (Model.Evaluation != null && Model.Modality != ProcurementModalityEnum.SingleSourceSelection.GetEnumCode() && Model.Modality != ProcurementModalityEnum.TaskSingleSourceSelection.GetEnumCode())
                {
                    @Html.Partial("ReadPartial/Evaluation", Model.Evaluation)

                }
                else if ( Model.EvaluationSSS != null )
                {
                    @Html.Partial("ReadPartial/EvaluationSSS", Model.EvaluationSSS)
                }
            </div>
            <div class="tab-pane" id="linktabNegotiation">
                <div>
                    @Html.Partial("ReadPartial/Buttons", Model)
                    <div class="clearfix"></div>
                </div>
                @Html.Partial("ReadPartial/Negotiation", Model.Negotiation)
            </div>
            <div class="tab-pane" id="linktabExecution">
                @Html.Partial("ReadPartial/Buttons", Model)

                @if (Model.Execution != null && Model.Modality != ProcurementModalityEnum.Framework.GetEnumCode())
                {
                    @Html.Partial("ReadPartial/Execution", Model.Execution)

                }
                else if (Model.ExecutionFRW != null)
                {
                    @Html.Partial("ReadPartial/ExecutionFRW", Model.ExecutionFRW)
                }



            </div>
        </div>
    </div>

    <div class="row mb30">
        <div class="col-xs-12">
            @Html.Partial("ReadPartial/Buttons")
        </div>
    </div>

    @section scripts{
        <script type="text/javascript">

            function SelectTab(tabName) {
                switch (tabName) {
                    case "":
                    case "#linktabIdentification":
                        $('[dd-tab="#linktabIdentification"]').click();
                        break;
                    case "#linktabPreparation":
                        $('[dd-tab="#linktabPreparation"]').click();
                        break;
                    case "#linktabEvaluation":
                        $('[dd-tab="#linktabEvaluation"]').click();
                        break;
                    case "#linktabNegotiation":
                        $('[dd-tab="#linktabNegotiation"]').click();
                        break;
                    case "#linktabExecution":
                        $('[dd-tab="#linktabExecution"]').click();
                        break;
                }
            }

            function checkShowStatus(controlName, sectionName) {
                var selected = $('[name="' + controlName + '"]:checked');
                var value = selected.val();
                var contenido = $('[name="' + sectionName + '"]');
                if (value === "True" || value == "on") {
                    contenido.slideDown('fast');
                } else {
                    contenido.slideUp('fast');
                }
            };


            registerCallback(function () {

                $(document).on('click', 'ul.tabs li:not(.disabled)', function () {
                    var source = $(this);
                    var contentButtons = $('div[data-type="contentButtons"]');
                    var nameTab = source.attr('dd-tab');
                    contentButtons.addClass('hide');

                    var selector = String.format('div[data-id="{0}"]', nameTab)
                    $(selector).removeClass('hide')
                });


                $(document).on('click', '[name="EditIdentification"]', function () {
                    var url = '@Url.Action("EditIdentification", "FirmProcurement", new { area = "Procurement", procurementId = Model.Id })';
                    LocationAssign(url);
                });

                $(document).on('click', '[name="EditPreparation"]', function () {
                    var url = '@Url.Action("EditPreparation", "FirmProcurement", new { area = "Procurement", procurementId = Model.Id })';
                    LocationAssign(url);
                });

                $(document).on('click', '[name="EditEvaluation"]', function () {
                    var url = '@Url.Action("EditEvaluation", "FirmProcurement", new { area = "Procurement", procurementId = Model.Id })';
                    LocationAssign(url);
                });

                $(document).on('click', '[name="EditNegotiation"]', function () {
                    var url = '@Url.Action("EditNegotiation", "FirmProcurement", new { area = "Procurement", procurementId = Model.Id })';
                    LocationAssign(url);
                });

                $(document).on('click', '[name="EditExecution"]', function () {
                    var url = '@Url.Action("EditExecution", "FirmProcurement", new { area = "Procurement", procurementId = Model.Id })';
                    LocationAssign(url);
                });

                $(document).on('click', '[name="summaryDataButton"]', function () {
                    var modalBtn = $('[name="btn-open-popup-summary-data"]');
                    modalBtn.click();
                });

                $(document).on('click', '[name="btnFinalFirmScoringPDFBottom"]', function () {
                    var url = '@Url.Action("FinalFirmScoringExportToPDF", "FirmProcurement", new { area = "Procurement", procurementId = Model.Id })';

                    window.open(url, '_blank');
                });

                $(document).on('click', '[name="btnCommentsPDF"]', function () {
                    var url = '@Url.Action("FirmEvaluationExportToPDF", "FirmProcurement", new { area = "Procurement", procurementId = Model.Id })';

                    window.open(url, '_blank');
                });

                $(document).on('click', '[name="DownLoadDoc"]', function () {
                    var source = $(this);
                    var documentNumber = source.closest('tr').find('.document-number').text().trim();
                    var url = '@Url.Action("DownloadDocument", "DocumentModal", new { area = "" })';
                    url = url + '?documentNumber=' + documentNumber;
                    window.open(url, '_blank');
                });

                $(document).on('click', '[name="DownLoadDocContractDates"]', function () {
                    var source = $(this);

                    var documentNumber = source.closest('tr').next().find('input.document-number').val().trim();
                    var url = '@Url.Action("DownloadDocument", "DocumentModal", new { area = "" })';
                    url = url + '?documentNumber=' + documentNumber;
                    window.open(url, '_blank');
                });

                $(document).ready(function () {
                    SelectTab('@ViewBag.ActiveTab');
                });
            });
        </script>
    }
}



