@using IDB.Architecture.Extensions;
@using IDB.MW.Application.AdministrationModule.ViewModels.Help;
@using IDB.Presentation.MVC4.Areas.AdministrationSecondPhase.Models.Help

@model AdministratorViewModel<IndexViewModel>
@{
    Layout = "~/Areas/AdministrationSecondPhase/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/help.css" rel="stylesheet" />
@Scripts.Render("~/bundles/Help")

<div class="header">
    <div class="col-md-12 mb40">
        @Confluence.LabelMainTitle(Localization.GetText("AP.HELP.Title"))
    </div>
</div>

<div id="pageContent" class="container col-md-12">
    @Html.Partial("Partial/_Filter", Model.Data.FiltersData)
    @Html.Partial("Partial/_ButtonsPageMode", Model.ButtonConfiguration)
    @Html.Partial("Partial/_ButtonDownloadReport")

    <div class="row" id="tableContent">
        @Html.Partial("Partial/_TableViews", Model.Data.HelpViews)
    </div>
</div>

<script type="text/javascript">
    var total = 0;

    @if (Model.Data.HelpViews.HasAny()){
        <text>total = @Model.Data.HelpViews.Count; </text>
    }

    DataController.SetUp("table[id='tableData']", total, true, true);

    messages.Cancel = "@Localization.GetText("AP.HELP.Message.Confirmation.Cancel")";
    messages.Save = "@Localization.GetText("AP.HELP.Message.Confirmation.Save")";
    messages.Delete = "@Localization.GetText("AP.HELP.Message.Confirmation.Delete")";
</script>