@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

@model IDB.MW.Domain.Models.Global.CompleteTaskViewModel
            <div class="blueButtonsBlock">
                <div data-pagemode="edit" class="pull-right">
                    @Confluence.ButtonLink(text: Localization.GetText("OP.MS.Cancel"), action: "cancelMissionsTask", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelMissionsTask" } })

                    @if (ViewBag.HasComments || ViewBag.HasDocuments)
                    {
                        @Confluence.ButtonWhite(text: Localization.GetText("OP.MS.Save"), action: "saveOnly", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveOnly" } })
                    }
                </div>
                <div data-pagemode="read" class="pull-right">
                    @if (ViewBag.HasComments || ViewBag.HasDocuments)
                    {
                        @Confluence.ButtonWhite(text: Localization.GetText("OP.MS.MissionsWorkflow.Edit"), action: "editRequest", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnEditRequest01" } })
                    }
                </div>
                    @foreach (var ta in ViewBag.TaskActions)
                    {
                        if (!string.IsNullOrEmpty(ta.ModalUrl))
                        {
                            <button class="buttonBlue ModalTaskInfo"
                                    data-toggle="modal"
                                    data-target="#modalUrl"
                                    data-url="@Html.Raw(String.Format(IDB.Architecture.Globals.GetSetting("BasePath") + ta.ModalUrl, Model.OperationNumber, Model.TaskId, Model.UserProfile))"
                                    name="ModalTaskInfo@(ta.WorkflowActionCode)">
                                @Localization.GetText(ta.WorkflowActionName)
                                </button>
                        }
                        else
                        {
                            <button data-id="buttonWorkflowTaskButton" class="buttonBlue"
                                    data-modal-allowclose="true"
                                    data-custom-modal="modal@(ta.WorkflowActionCode)"
                                    data-custom-modal-style="vex-theme"
                                    data-custom-modal-title="@Localization.GetText(ta.WorkflowActionName)"
                                    data-custom-modal-validate="false"
                                    data-custom-buttons='["save", "cancel"]'
                                    data-custom-button-save-id="send@(ta.WorkflowActionCode)"
                                    data-custom-button-save="@Localization.GetText("OP.MS.MissionsWorkflow.Save")"
                                    data-custom-button-save-style="buttonBlue"
                                    data-custom-button-save-callback="setTaskAction"
                                    data-custom-button-save-closeatend="true"
                                    data-custom-button-cancel-id="cancel"
                                    data-custom-button-cancel="@Localization.GetText("OP.MS.MissionsWorkflow.Cancel")"
                                    data-custom-button-cancel-style="buttonLink"
                                    data-custom-button-cancel-callback=""
                                    data-custom-modal-onclose=""
                                    data-custom-modal-closeonoverlayclick="false">
                                @Localization.GetText(ta.WorkflowActionName)
                            </button>
                        }

                    }

                </div>

    <div data-id="ModalRegion">
@foreach (var ta in ViewBag.TaskActions)
{
    if (!string.IsNullOrEmpty(ta.ModalUrl))
    {
        <div class="modal fade in" id="modalUrl" tabindex="-1" role="dialog" aria-hidden="false" style="">
            <div class="modal-dialog infoModal" role="document">
                <div class="modal-content ui-draggable" style="top: 365px;">
                    <div class="modal-header ui-draggable-handle">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modalCancelInfoClose"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h3 class="modal-title">
                            @Localization.GetText(ta.WorkflowActionName)
                        </h3>
                    </div>
                    <div class="modal-body" id="modalContent">
                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-deferred="cancel" class="buttonLink modalCancelInfo" data-dismiss="modal" id="modalCancelInfo">Cancel</button>
                        <button type="button" data-deferred="true" class="buttonBlue modalOkInfo" data-dismiss="modal" id="modal@(ta.WorkflowActionCode)" data-modalaction="@Convert.ToString(ta.WorkflowActionCode)" data-validcomment="@Convert.ToString(ta.ValidComment)">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="modal@(ta.WorkflowActionCode)" class="hide modalBody missionsModal" data-validcomment="@Convert.ToString(ta.ValidComment)">@Localization.GetText(ta.ModalText)</div>
    }
    
}
    </div>
