@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Areas.AdministrationSecondPhase.Helpers

@using System.Globalization;

@model List<IDB.MW.Application.AdministrationModule.ViewModels.VisualOutputsMapping.VisualOutputsLoadResultsViewModel>

@{
    var pageSize = ConfigurationServiceFactory.Current.GetApplicationSettings().SearchPageSize;
}

<div class="partialTable">
    <div class="row row-body-40">
        <div class="col-md-3 font-body">
            <span id="summaryOfUpdates" class="mb20"></span> @Localization.GetText("OPUS.Search.SummaryOfUpdates").HtmlEncode()
            <br />
            <br />
            <span id="numElementsLoad">@(Model.Any() && Model != null ? Model.Count() : 0)</span> @Localization.GetText("OPUS.Search.Results").HtmlEncode()
            @Confluence.InputDropDown(
                pageSize.ToString((CultureInfo.InvariantCulture)),
                name: "resultPerPageFilter",
                elements: VisualOutputsMappingHelper.GetNumberOfResultsPerPage(),
                required: false,
                placeholder: Localization.GetText("OPUS.Search.Placeholder.ResultsPerPage"),
                showEmptyOption: false,
                orderAsc: false)
        </div>
        <div class="col-md-6 font-body">
            <div class="mt50">
                @Confluence.InputCheckbox(
                    false,
                    "selectUnselectVisualOutputs",
                    "selectUnselectVisualOutputs",
                    Localization.GetText("Unselect / Select all"),
                    labelBold: false)
            </div>
        </div>
        <div class="btn-excel col-md-3 text-right">
            @Confluence.ButtonBlue(
                Localization.GetText("OPUS.Search.DownloadSummary"),
                name: "downloadLoadChangesLogButton",
                htmlClass: "mt50")
        </div>
    </div>

    <div class="row row-body-40">
        <div class="col-md-12">
            <table id="visualOutputLoadFilterResultsTable" class="tableNormal
                   visualOutputLoadFilterResultsTable mb20">
                <thead>
                    <tr data-id="">
                        <th class="center">
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.OperationNumber")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.OperationName")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.ApprovalNumber")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.Milestones")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.Services")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.Visuals")
                        </th>
                        <th class="text-right sort">
                            @Localization.GetText("OPUS.Search.NumberOfConflicts")
                        </th>
                        <th class="text-right sort">
                            @Localization.GetText("OPUS.Search.Summary")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var loadResultRow in Model)
                        {
                            <tr data-id="@loadResultRow.OperationNumber">
                                <td>
                                    @Confluence.InputCheckbox(false, "selectedOperation", "selectedOperation", string.Empty, labelBold: false)
                                </td>
                                <td>
                                    @loadResultRow.OperationNumber
                                    @Confluence.InputHidden(
                                        loadResultRow.OperationNumber, 
                                        name: "operationNumber")
                                </td>
                                <td>@loadResultRow.OperationName</td>
                                <td>@loadResultRow.ApprovalNumber</td>
                                <td class="text-right">@loadResultRow.MilestonesToBeLoadedUpdated</td>
                                <td class="text-right">@loadResultRow.ServicesToBeLoadedUpdated</td>
                                <td class="text-right">@loadResultRow.VisualOutputsToBeLoadedUpdated</td>
                                <td class="text-right">@loadResultRow.Conflicts</td>
                                <td>
                                    @Confluence.LabelLink("View",
                                        "viewLoadSummary",
                                        dataAttributes: new Dictionary<string, string>
                                            {
                                                { "target", "loadModalLog" + loadResultRow.OperationNumber},
                                                { "operationNumber", loadResultRow.OperationNumber }
                                        },
                                        htmlClass: "showOperationLogsLink")

                                    <div id="loadModalLog@(loadResultRow.OperationNumber)" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                @Html.Partial("Partials/VisualOutputsLoadData/VisualOutputsLoadValidationLogs", loadResultRow.VOLoadValidationsLogViewModel)
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="downloadLoadLogModal" class="modal fade bd-logs-modal" tabindex="-1" role="dialog" aria-labelledby="validationsLogModal" aria-hidden="true">
        @Html.Partial("Partials/VisualOutputsDownloadDataFilter/VODownloadLogModal")
    </div>
@if (Model != null && Model.Any())
{
    <div id="btn-loadId" class="btn-excel text-right btn-load">
        @Confluence.LabelLink(
            @Localization.GetText("OPUS.Search.Cancel"),
            htmlClass: "CancelSaveData")
        @Confluence.ButtonBlue(
            @Localization.GetText("OPUS.Search.ConfirmChanges"),
            name: "saveConfirmChanges",
            htmlClass: "mt50 saveConfirmChanges")
    </div>
    <input id="dataToSave" name="dataToSave" type="hidden" value="">
}
</div>

