@using IDB.MW.Application.AdministrationModule.ViewModels.Help
@using IDB.Presentation.MVC4.Areas.AdministrationSecondPhase.Models.Help

@model AdministratorViewModel<DetailsViewModel>

<div id="pageContent"
     data-parsley-validate="data-parsley-validate"
     data-parsley-excluded="[disabled]">
    <div class="row mb20">
        <div class="col-md-4">
            <div class="mb20" id="module">
                @Confluence.LabelsGroup(
                    title: Localization.GetText("AP.HELP.Title.Module"),
                    contentRead: Model.Data.ModuleText,
                    contentEdit: Confluence.InputDropDown(
                        Model.Data.ModuleId.ToString(),
                        "module",
                        Model.Data.Modules,
                        required: true,
                        placeholder: Localization.GetText("CM.DropDown.SelectOption"),
                        width: "100%"),
                    asterisk: true)
            </div>
            <div>
                @Confluence.InputCheckbox(
                    Model.Data.IsActive,
                    "status",
                    label: Localization.GetText("COMMON.Active"),
                    disabled: true)
            </div>
        </div>
        <div class="col-md-8">
            <div class="ml20">
                <div class="mb10">
                    @Confluence.Label(Localization.GetText("AP.HELP.Title.Description"))
                </div>
                <div id="descriptions">
                    @Confluence.InputMultiLanguageSimpleText(Model.Descriptions)
                </div>
            </div>
        </div>
    </div>
    <div class="row mb40">
        <div class="col-md-12">
            <div class="mb10">
                @Confluence.Label(Localization.GetText("AP.HELP.Title.Urls"))
            </div>
            <div id="urls">
                @Confluence.InputMultiLanguageSimpleText(Model.Urls)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("Partial/_TableDetails", Model.Data)
        </div>
    </div>
</div>