@model IDB.MW.Application.AdministrationModule.ViewModels.Help.FiltersDataViewModel

<div class="row mb50" id="filterHelp">
    <div class="filterNormal">
        <div class="row mb20">
            <div class="col-md-4">
                @Confluence.LabelsGroup(
                    title: Localization.GetText("AP.HELP.Title.Module"),
                    contentAlways: Confluence.InputSelectDropDownAutoComplete(
                        string.Empty,
                        "searchModule",
                        Model.Modules,
                        required: false,
                        placeholder: Localization.GetText("CM.DropDown.SelectOption"),
                        width: "100%"))
            </div>
            <div class="col-md-8">
                @Confluence.LabelsGroup(
                    title: Localization.GetText("AP.HELP.Title.Description"),
                    contentAlways: Confluence.InputSelectDropDownAutoComplete(
                        string.Empty,
                        "searchDescription",
                        Model.Descriptions,
                        required: false,
                        placeholder: Localization.GetText("COMMON.SelectOption"),
                        width: "100%"))
            </div>
        </div>
        <div class="row mb30">
            <div class="col-md-9">
                @Confluence.LabelsGroup(
                    title: Localization.GetText("AP.HELP.Title.ViewCode"),
                    contentAlways: Confluence.InputText(
                        string.Empty,
                        "searchViewCode",
                        required: false,
                        width: "100%"))
            </div>
            <div class="col-md-3">
                @Confluence.LabelsGroup(
                    title: Localization.GetText("AP.HELP.Title.Status"),
                    contentAlways: Confluence.InputDropDown(
                        string.Empty,
                        "searchStatus",
                        Model.Status,
                        required: false,
                        placeholder: Localization.GetText("COMMON.SelectOption"),
                        width: "100%"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("Partial/_ButtonsFilter")
            </div>
        </div>
    </div>
</div>