@using IDB.MW.Application.AdministrationModule.ViewModels.Help

@model ViewCodeModalResponse

<link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/bootstrap-modal.css") />|

<style type="text/css">
    ul.parsley-errors-list {
        display: none;
        margin: 0;
        padding: 0;
    }

        ul.parsley-errors-list.filled {
            display: block;
            list-style-type: none;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #EA4F35;
            padding-top: 10px;
            padding-bottom: 3px;
            position: absolute;
            width: 95%;
        }

        ul.parsley-errors-list li {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASBAMAAACk4JNkAAAAElBMVEXqTzXqTzXqTzXqTzXqTzXqTzUu3sowAAAABXRSTlMAMGDw80qfdysAAABYSURBVHheRY7RCYAwDAWvTlCpAwjiAAodQHACy9t/FdP8vJ+QXMjLwVGBcsOiC2jaOTUqpeujK2CTRpY1x1joDVSZUBORMBFskh7ceYsvnOJkf7OBrWz6AzTQHRduuF1nAAAAAElFTkSuQmCC') /*./images/validation-error.png*/;
            background-repeat: no-repeat;
            background-size: 12px;
            padding-left: 20px;
            background-position-y: 6px;
            font-family: "OpenSans-Regular";
            font-size: 14px;
            color: #333333;
        }
</style>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@Localization.GetText("AP.HELP.Title")</h4>
        </div>
        <div class="modal-body">
            <div class="row mb20">
                <div class="col-md-5">
                    @Confluence.LabelsGroup(
                        title: Localization.GetText("AP.HELP.Title.Module"),
                        contentAlways: Confluence.InputDropDown(
                            string.Empty,
                            "module",
                            Model.Modules,
                            required: false,
                            placeholder: Localization.GetText("CM.DropDown.SelectOption"),
                            width: "100%"))
                </div>
                <div class="col-md-7">
                    @Confluence.LabelsGroup(
                        title: Localization.GetText("AP.HELP.Title.Description"),
                        contentAlways: Confluence.InputDropDown(
                            string.Empty,
                            "description",
                            Model.Descriptions,
                            required: true,
                            placeholder: Localization.GetText("COMMON.SelectOption"),
                            width: "100%",
                            parentValue: true,
                            grouping: false),
                        asterisk: true)
                    <ul class="parsley-errors-list">
                        <li class="parsley-required">
                            @Localization.GetText("TCM.ValueRequired")
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Confluence.LabelsGroup(
                        title: Localization.GetText("AP.HELP.Title.ViewCode"),
                        contentAlways: Confluence.LabelCursive(
                            Model.ViewCode,
                            htmlClass: ""),
                        asterisk: true)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @Confluence.ButtonWhite(
                Localization.GetText("CM.Button.Cancel"),
                name: "cancel",
                dataAttributes: new Dictionary<string, string> { { "dismiss", "modal" } })
            @Confluence.ButtonOrange(
                Localization.GetText("CM.Button.Save"), name: "save", action: "saveView")
        </div>
    </div>
</div>

<script type="text/javascript">
    ModalHelp.Initialization(
        "@Url.Action(
            controllerName: "Help",
            actionName: "AddViewCodeToHelpData")",
        "@Model.ViewCode")

    $(document).ready(function () {
        $(document).off('click', 'button[name="save"]');
        $(document).off('change', 'input[name="module"]');
        $(document).off('change', 'input[name="description"]');

        $('#module').FirstorDefault();
        $('#description').FirstorDefault();

        $(document).on('change', 'input[name="module"]', function () {
            ModalHelp.ChangeModule($(this).GetValue());
        });

        $(document).on('change', 'input[name="description"]', function () {
            ModalHelp.ChangeDescription($(this).GetValue());
        });

        $(document).on('click', 'button[name="save"]', function () {
            ModalHelp.Save();
        });
    });
</script>