@model IDB.MW.Application.AdministrationModule.ViewModels.Help.HelpItemViewModel

<dl class="help-urlBox">
    <dt class="help-titleBox">
        @Confluence.Label(Language.EN.ToUpper())
    </dt>
    <dd class="help-contentBox">
        <a id="urlEn" target="_blank" href="@Model.Urls.English">
            @Confluence.Label(Model.Urls.English)
        </a>
    </dd>
    <dt class="help-titleBox">
        @Confluence.Label(Language.ES.ToUpper())
    </dt>
    <dd class="help-contentBox">
        <a id="urlEn" target="_blank" href="@Model.Urls.Spanish">
            @Confluence.Label(Model.Urls.Spanish)
        </a>
    </dd>
    <dt class="help-titleBox">
        @Confluence.Label(Language.PT.ToUpper())
    </dt>
    <dd class="help-contentBox">
        <a id="urlEn" target="_blank" href="@Model.Urls.Portuguese">
            @Confluence.Label(Model.Urls.Portuguese)
        </a>
    </dd>
    <dt class="help-titleBox">
        @Confluence.Label(Language.FR.ToUpper())
    </dt>
    <dd class="help-contentBox">
        <a id="urlEn" target="_blank" href="@Model.Urls.French">
            @Confluence.Label(Model.Urls.French)
        </a>
    </dd>
</dl>