@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.PMRAggregate.PMRAggregateReportModel
@{
    ViewBag.Title = "PMRAggregateReportCreate";
}


<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ui_rt_013.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/PMRAggregateCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Reports/PMRAggregateReportScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/CommonRuleReports.js")"></script>

<div class="verticalMargin20 w100">
    <h3 class="font2em AlingTitles">@Localization.GetText("PMR Aggregated Report")</h3>
</div>
<div class="verticalMargin20 w100">
    <h6 class="font1-5em AlingTitles">@Localization.GetText("PMR Aggregated Report")</h6>
</div>
<div class="rightAlign verticalMargin40">
    <input type="button" class="button blueButton alingFilterButtonRigth" id='showFilterButtonReports013' value=" @Localization.GetText("Filter") " title=" @Localization.GetText("Filter") ">
</div>
<!-- Filter container -->

<a id="LinkExportPMRPorfolioReport" data-route="@Url.Action("PMRAggregateReportExport","PMRAggregateReport")"></a>
@using (Html.BeginForm("PMRAggregateReportCreate", "PMRAggregateReport", FormMethod.Post, new { @id = "FormPMRAggregate" }))
{
    @Html.HiddenFor(x => x.ExportType);
    <div id="searchBoxContainerReports013" class="padding10 grayBackground hideNI" style="display: block">

        <div class="inline-block inputContainer w31-5 alignFilter">
            <label for="countryDepartmentFilterReports" class="font08em inline-block w23 verticalAlignMiddle textFilter">@Localization.GetText("Country Department")</label>
            <div class="inline-block w65 verticalAlignMiddle">
                <a id="LinkListCountryFilterPMR" style="display:none" data-route="@Url.Action("PMRAggregateFilterCountrys", "PMRAggregateReport")"></a>
                @Html.ListBoxFor(x => x.CountryDepartment, new MultiSelectList(ViewBag.ListContryDepartment, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustom" })
            </div>
        </div>

        <div class="inline-block inputContainer w31-5 alignFilter">
            <label for="sectorDepartmentFilterReports" class="font08em inline-block w23 verticalAlignMiddle textFilter">@Localization.GetText("Sector Department")</label>
            <div class="inline-block w65 verticalAlignMiddle">
                <a id="LinkListDivisionFilterPMR" style="display:none" data-route="@Url.Action("PMRAggregateFilterDivision", "PMRAggregateReport")"></a>
                @Html.ListBoxFor(x => x.SectorDepartment, new MultiSelectList(ViewBag.ListSectorDepartment, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustom" })

            </div>
        </div>

        <div class="inline-block inputContainer w31-5 alignFilter">
            <label for="pmrCycleFilterReports" class="font08em inline-block w23 verticalAlignMiddle textFilter">@Localization.GetText("PMR Cycle")</label>
            <div class="inline-block w65 verticalAlignMiddle">
                @Html.ListBoxFor(x => x.PMRCycleId, new SelectList(ViewBag.ListPMRCycle, "Value", "Text", ViewBag.Value), new { @class = "kendoDropDown" })
            </div>
        </div>

        <div class="inline-block inputContainer w31-5 alignFilter">
            <label for="Country" class="font08em inline-block w23 verticalAlignMiddle textFilter">@Localization.GetText("Country")</label>
            <div class="inline-block w65 verticalAlignMiddle">
                @Html.ListBoxFor(x => x.Country, new MultiSelectList(ViewBag.ListContry, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustom" })
            </div>
        </div>

        <div class="inline-block inputContainer w31-5 alignFilter">
            <label for="Division" class="font08em inline-block w23 verticalAlignMiddle textFilter">@Localization.GetText("Division")</label>
            <div class="inline-block w65 verticalAlignMiddle">
                @Html.ListBoxFor(x => x.Division, new MultiSelectList(ViewBag.ListDivision, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustom" })
            </div>
        </div>
        @{
                                      IEnumerable<SelectListItem> lista = new SelectList(new[]
                      {
                          new SelectListItem{ Value = "False", Text = "No" },
                          new SelectListItem{ Value = "True", Text = "Yes" }
                      }, "Value", "Text");

                                      ViewBag.ListESGTrakingOptions = lista;
        }
        <div class="inline-block inputContainer w31-5 alignFilter">
            <label for="ESGTracking" class="font08em inline-block w23 verticalAlignMiddle textFilter">@Localization.GetText("ESG Tracking")</label>
            @Html.ListBoxFor(x => x.ESGTracking, new SelectList(ViewBag.ListESGTrakingOptions, "Value", "Text", null), new { @class = "kendoDropDown" })
        </div>
        <div class="inline-block inputContainer w30 marginLeft5 alignFilter">

            @Html.CheckBoxFor(x => x.IsRegional, new { @class = "fancy-checkbox" })
            <label id="LabelIsRegional" for="IsRegional" class="fancy-label labelCustom"><span class="spanCustomLabel">@Localization.GetText("Regional")</span></label>

        </div>

        <div class="verticalMargin20 rightAlign w92-6">
            <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad" id="AjaxLoadForPMRDashReport" />
            <input id="Btn_Clear" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Clear All")" title="@Localization.GetText("Clear All")">

            <input id="Btn_ExportExcelPMRPorfolioReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export Excel")" title="@Localization.GetText("Export Excel")">
            <input id="Btn_ExportdPDFPMRPorfolioReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export PDF")" title="@Localization.GetText("Export PDF")">

            <!--TODO: Se debe programar este boton-->
            @*<input type="button" class="button blueButton buttonCustomSize" value="Export All PMR">*@
            
            <input type="button" class="button yellowButton buttonCustomSize" value="@Localization.GetText("Submit")" title="@Localization.GetText("Generate Report")" onclick="ControlReport()">
            <input id="HiddenPMRAggregate" type="hidden" value="@Url.Action("PMRAggregateCountRegisters", "PMRAggregateReport")" />
                      
        </div>
    </div>

}
<!-- End filter container -->
<div style="margin-top:20px;display:none;" id="notFoundMessage" class="verticalMargin80-0-20">
    <h3 class="font1-5em">
        @Localization.GetText("PMRAggregateReport.NotResult") 
    </h3>
</div>
<div id="ContentPMRAggregateReport">

    <iframe id="framePMRPorfolioReport" class="iframeReportsCustom"></iframe>
</div>