@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Domain.Values
@using IDB.MW.Application.OPUSModule.ViewModels.ClimateChangeService
@using IDB.MVCControls.Confluence

@model List<ClimateChangeRowViewModel>
@if(Model.Count > 0)
{
<div class="row row-body-40">
    <div class="col-md-12">
        <div id="climateChange_wrapper" class="dataTables_wrapper ">
            <div class="row row-header text-right" data-idb-fieldname="btnOpCollapseRltdOp">
                <div class="col-md-12 text-right" id="expandRelatedOperationsTable">
                    @Confluence.ButtonColapse("climateChangeTable", false, null,
                                             @Localization.GetText("GLOBAL.CONTROL.EXPANDALL"),
                                              @Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))
                </div>
            </div>
            <table id="climateChangeTable" class="tableNormal endSpacing" role="grid">
                <thead>
                    <tr role="row">
                        <th class="tree icon w_icon cces-info" rowspan="1" colspan="1">
                            @Confluence.Information(@Localization.GetText("CCES.Text.Information.1"))
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="3">
                            @Localization.GetText("CCES.Table.ClimateFinance")
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr role="row">
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                            @Localization.GetText("CCES.Table.PercentOriginalAmount")@Confluence.LabelAsterisk()
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                            @Localization.GetText("CCES.Table.ClimateChangeMitigation")
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                            @Localization.GetText("CCES.Table.ClimateChangeAdaptation")
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id ="@item.ClimateChangeEnviromentalSustainabilityId">
                            <td class="text-right">@item.IdbAmountPercent</td>
                            <td class="text-left">@item.ClimateChangeMitigation</td>
                            <td class="text-left">@item.ClimateChangeAdaptation</td>
                        <td>
                                @Confluence.ButtonShowRow()
                        </td>
                    </tr>
                    <tr data-row-parent-id="@item.ClimateChangeEnviromentalSustainabilityId">
                        <td></td>
                        <td name="mitigation-sub-category" colspan="1">
                            <span class="bold">
                                @Localization.GetText("CCES.SubCategory.Mitigation")
                                @Confluence.LabelAsterisk()
                            </span>
                            <span name="mitigation-sub-category-text" class="display-block">
                                @Confluence.Label(@item.ClimateChangeMitigationSub)
                            </span>
                        </td>
                        <td id="read-aux" colspan="1" class="hidden"></td>
                        <td name="social-sub-category" colspan="1">
                            <span class="bold">
                                @Localization.GetText("CCES.SubCategory.Social")
                                @Confluence.LabelAsterisk()
                            </span>
                            <span name="social-sub-category-text" class="display-block">
                                @Confluence.Label(@item.SocialSustainabilitySub)
                            </span>
                        </td>
                    </tr>
                    <tr data-row-parent-id="@item.ClimateChangeEnviromentalSustainabilityId">
                        <td></td>
                        <td name="adaptation-sub-category" colspan="2">
                            <span class="bold">
                                @Localization.GetText("CCES.SubCategory.Adaptation")
                                @Confluence.LabelAsterisk()
                            </span>
                            <span name="adaptation-sub-category-text" class="display-block">
                                @Confluence.Label(@item.ClimateChangeAdaptationSub)
                            </span>
                        </td>
                    </tr>
                    <tr data-row-parent-id="@item.ClimateChangeEnviromentalSustainabilityId">
                        <td colspan="4">
                                <div class="col-md-6 pl0 normalize-text">
                                    @Localization.GetText("CCES.Text.Justification")
                                    @Confluence.LabelAsterisk()
                                </div>
                                <div class="col-md-6 text-right user-date-cces"><span class="user-just-text">@item.JustificationUser</span> @String.Format("{0:MM/dd/yyyy HH:mm:ss}", item.JustificationDate)</div>
                                @Confluence.InputTextArea(@item.Justification, "justification", "justification", 2000, true, true, width: "100%", height: "150px")
                        </td>
                    </tr>
                    }                  
                </tbody>
            </table>
        </div>
    </div>
</div>
}
else
{
    <div class="row row-body-40">
        <div class="col-md-12">
            <div id="climateChange_wrapper" class="dataTables_wrapper ">
                <div class="row row-header text-right" data-idb-fieldname="btnOpCollapseRltdOp">
                    <div class="col-md-12 text-right" id="expandRelatedOperationsTable">
                        @Confluence.ButtonColapse("climateChangeTable", false, null,
                                             @Localization.GetText("GLOBAL.CONTROL.EXPANDALL"),
                                              @Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))
                    </div>
                </div>
                <table id="climateChangeTable" class="tableNormal endSpacing" role="grid">
                    <thead>
                        <tr role="row">
                            <th class="tree icon w_icon" rowspan="1" colspan="1">
                                @Confluence.Information(@Localization.GetText("CCES.Text.Information.1"))
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="3">
                                @Localization.GetText("CCES.Table.ClimateFinance")
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr role="row">
                            <th class="sorting_disabled" rowspan="1" colspan="1">
                                @Localization.GetText("CCES.Table.PercentOriginalAmount")@Confluence.LabelAsterisk()
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="1">
                                @Localization.GetText("CCES.Table.ClimateChangeMitigation")
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="1">
                                @Localization.GetText("CCES.Table.ClimateChangeAdaptation")
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="1">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-id="0" colspan="7">
                            <td colspan="7" class="text-center">@Confluence.LabelBold(@Localization.GetText("CCES.Warning.Notification.NoData"))</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}