@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Domain.Values
@using IDB.MW.Application.OPUSModule.ViewModels.ClimateChangeService
@using IDB.MVCControls.Confluence

@model ClimateChangeViewModel

@{
    var ccsNotification = Model.ClimateChangeHistory.TrackedByCCS.ToLower() == "cces.text.yes" ? "hide" : string.Empty;
    var currentIdbAmount = Model.ClimateChangeNotification.CurrentIdbAmount != null ? Model.ClimateChangeNotification.CurrentIdbAmount : 0m;
    var originalIdbAmount = Model.ClimateChangeNotification.OriginalIdbAmount != null ? Model.ClimateChangeNotification.OriginalIdbAmount : 0m;
    var hideEnvironmental = Model.CanEditEnvironmental ? string.Empty : "hide";
}
<div class="row row-body-40">
    <div  id="warningCCS" class="alert alert-block @ccsNotification">
        <button id="buttonCCS" type="button" class="close">&times;</button>
        <h4>@Confluence.LabelBold(Localization.GetText("CCES.Warning.CCS"))</h4>
        @Localization.GetText("CCES.Warning.Information.1") @String.Format("{0:C0}", originalIdbAmount) @Localization.GetText("CCES.Warning.Information.2") @String.Format("{0:C0}", currentIdbAmount)@Localization.GetText("CCES.Warning.Information.3")
    </div>
    <div class="col-md-12">
        <div id="climateChange_wrapper" class="dataTables_wrapper ">
            <div class="row row-header" data-idb-fieldname="btnOpCollapseRltdOp">
                <div class="col-md-12 text-right" id="expandRelatedOperationsTable">
                    @Confluence.ButtonColapse("climateChangeTable", false, null,
                                             @Localization.GetText("GLOBAL.CONTROL.EXPANDALL"),
                                              @Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))
                </div>
            </div>
            <table id="climateChangeTable" class="tableNormal endSpacing" role="grid">
                <thead>
                    <tr role="row">
                        <th class="tree icon w_icon cces-info" rowspan="1" colspan="1">
                            @Confluence.Information(@Localization.GetText("CCES.Text.Information.1"))
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="@(Model.CanEditEnvironmental ? 2: 7)">
                            @Localization.GetText("CCES.Table.ClimateFinance")
                        </th>
                        <th class="sorting_disabled @hideEnvironmental" rowspan="1" colspan="5">
                            @Localization.GetText("CCES.Table.Environmental")
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr role="row">
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                            @Localization.GetText("CCES.Table.PercentOriginalAmount")@Confluence.LabelAsterisk()
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                            @Localization.GetText("CCES.Table.ClimateChangeMitigation")
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                            @Localization.GetText("CCES.Table.ClimateChangeAdaptation")
                        </th>
                        <th class="sorting_disabled @hideEnvironmental" rowspan="1" colspan="1">
                            @Localization.GetText("CCES.Table.Environment")
                        </th>
                        <th class="sorting_disabled @hideEnvironmental" rowspan="1" colspan="1">
                            @Localization.GetText("CCES.Table.DisasterRiskManagement")
                        </th>
                        <th class="sorting_disabled @hideEnvironmental" rowspan="1" colspan="1">
                            @Localization.GetText("CCES.Table.SocialSustainability")
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ClimateChange)
                    {
                        <tr data-id="@item.ClimateChangeEnviromentalSustainabilityId" data-cces-id="@item.ClimateChangeEnviromentalSustainabilityId">
                            <td class="text-right">
                                @Confluence.InputDecimal(
                                    item.IdbAmountPercent,
                                    "Amount",
                                    true, ".", ",", "0", "100.00", 2, null, null, false, "85px", null, false)
                            </td>
                            <td>
                                @Confluence.InputDropDown(
                                    item.ClimateChangeMitigationId.ToString(),
                                    "CCMitigation",
                                    item.ClimateChangeMitigationList
                                        .Select(o => new SelectListItem
                                        {
                                            Value = o.Value,
                                            Text = o.Text
                                        }),
                                    width: "100%",
                                    required: false,
                                    orderAsc: false,
                                    htmlClassList: "cces-ddl",
                                    htmlClass: "cces-ddl-parent-mit")
                            </td>
                            <td>
                                @Confluence.InputDropDown(
                                    item.ClimateChangeAdaptationId.ToString(),
                                    "CCAdaptation",
                                    item.ClimateChangeAdaptationCategoryList
                                        .Select(o => new SelectListItem
                                        {
                                            Value = o.Value,
                                            Text = o.Text
                                        }),
                                    width: "100%",
                                    required: false,
                                    orderAsc: false,
                                    htmlClassList: "cces-ddl",
                                    htmlClass: "cces-ddl-parent-mit")
                            </td>
                            <td class="@hideEnvironmental">
                                @Confluence.InputDropDown(
                                    item.EnvironmentId.ToString(),
                                    "Environment",
                                    item.EnvironmentList
                                        .Select(o => new SelectListItem
                                        {
                                            Value = o.Value,
                                            Text = o.Text
                                        }),
                                    width: "100%",
                                    required: false,
                                    orderAsc: false,
                                    htmlClassList: "cces-ddl",
                                    htmlClass: "cces-ddl-parent-env " + hideEnvironmental)
                            </td>
                            <td class="@hideEnvironmental">
                                @Confluence.InputDropDown(
                                    item.DisasterId.ToString(),
                                    "DisasterRiskManagement",
                                    item.DisasterRiskManagementList
                                        .Select(o => new SelectListItem
                                        {
                                            Value = o.Value,
                                            Text = o.Text
                                        }),
                                    width: "100%",
                                    required: false,
                                    orderAsc: false,
                                    htmlClassList: "cces-ddl",
                                    htmlClass: "cces-ddl-parent-dis " + hideEnvironmental)
                            </td>
                            <td class="@hideEnvironmental">
                                @Confluence.InputDropDown(
                                    item.SocialSustainabilityId.ToString(),
                                    "SocialSustainability",
                                    item.ClimateChangeSocialCategoryList
                                        .Select(o => new SelectListItem
                                        {
                                            Value = o.Value,
                                            Text = o.Text
                                        }),
                                    width: "100%",
                                    required: false,
                                    orderAsc: false,
                                    htmlClassList: "cces-ddl-soc",
                                    htmlClass: "cces-ddl-parent-soc " + hideEnvironmental)
                            </td>
                            <td>
                                @Confluence.ButtonShowRow()
                            </td>
                            <td>
                                @Confluence.ButtonTrash(null, "removeRowCCES", action: "")
                            </td>
                        </tr>
                        <tr id="CCMitigationSubTR-@item.ClimateChangeEnviromentalSustainabilityId" data-row-parent-id="@item.ClimateChangeEnviromentalSustainabilityId">
                            <td></td>
                            <td id="CCMitigationSubAux-@item.ClimateChangeEnviromentalSustainabilityId" class="hidden" colspan="2"></td>
                            <td id="CCMitigationSub-@item.ClimateChangeEnviromentalSustainabilityId" class="" colspan="2">
                                @Localization.GetText("CCES.SubCategory.Mitigation")@Confluence.LabelAsterisk()
                                <span>
                                    @Confluence.InputDropDown(
                                        @item.ClimateChangeMitigationSubId.ToString(),
                                        "CCMitigationSub",
                                        item.ClimateChangeMitigationSubList
                                            .Select(o => new SelectListItem
                                            {
                                               Value = o.Value,
                                               Text = o.Text
                                            }),
                                        width: "100%",
                                        required: false,
                                        orderAsc: false,
                                        htmlClassList: "cces-ddl",
                                        htmlClass: "cces-ddl-parent")
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td id="SocialSubCategory-@item.ClimateChangeEnviromentalSustainabilityId" class="@hideEnvironmental" colspan="1">
                                @Localization.GetText("CCES.SubCategory.Social")@Confluence.LabelAsterisk()
                                <span>
                                    @Confluence.InputDropDown(
                                        item.SocialSustainabilitySubId.ToString(),
                                        "SocialSubCategory",
                                        item.ClimateChangeSocialSubCategoryList
                                            .Select(o => new SelectListItem
                                            {
                                                Value = o.Value,
                                                Text = o.Text
                                            }),
                                        width: "100%",
                                        required: false,
                                        orderAsc: false,
                                        htmlClassList: "cces-ddl-soc",
                                        htmlClass: "cces-ddl-parent-sub-soc")
                                </span>
                            </td>
                            <td class="@hideEnvironmental"></td>
                            <td class="@hideEnvironmental"></td>
                            <td class="@hideEnvironmental"></td>
                        </tr>
                        <tr id="AdaptationSubCategoryTR-@item.ClimateChangeEnviromentalSustainabilityId" data-row-parent-id="@item.ClimateChangeEnviromentalSustainabilityId">
                            <td></td>
                            <td id="AdaptationSubCategory-@item.ClimateChangeEnviromentalSustainabilityId" class="" colspan="2">
                                @Localization.GetText("CCES.SubCategory.Adaptation")@Confluence.LabelAsterisk()
                                <span>
                                    @Confluence.InputDropDown(
                                        item.ClimateChangeAdaptationSubId.ToString(),
                                        "AdaptationSubCategory",
                                        item.ClimateChangeAdaptationSubCategoryList
                                            .Select(o => new SelectListItem
                                            {
                                                Value = o.Value,
                                                Text = o.Text
                                            }),
                                        width: "100%",
                                        required: false,
                                        orderAsc: false,
                                        htmlClassList: "cces-ddl",
                                        htmlClass: "cces-ddl-parent")
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td class="@hideEnvironmental"></td>
                            <td class="@hideEnvironmental"></td>
                            <td class="@hideEnvironmental"></td>
                            <td class="@hideEnvironmental"></td>
                        </tr>
                        <tr data-row-parent-id="@item.ClimateChangeEnviromentalSustainabilityId">
                            <td colspan="8">
                                <div class="col-md-6 pl0 normalize-text">
                                    @Localization.GetText("CCES.Text.Justification")
                                    @Confluence.LabelAsterisk()
                                </div>
                                <div class="col-md-6 text-right user-date-cces"><span class="user-just-text" name='JustificationUser'>@item.JustificationUser</span> <span name="JustificationDate">@String.Format("{0:MM/dd/yyyy HH:mm:ss}", item.JustificationDate)</span></div>
                                @Confluence.InputTextArea(@item.Justification, "justificationClimate", "justification", 2000, true, false, width: "100%", height: "150px")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="container-fluid mt30">
            <div class="row text-center">
                @Confluence.ButtonAddNewRows(
                        Localization.GetText("CCES.Button.Add"),
                        "climateChangeTable", null, "newRowClimateChange",
                        dataAttributes: new Dictionary<string, string>() {
                            { "idb-fieldname", "btnNewRowRowClimateChange" }
                        })
            </div>
        </div>
    </div>
</div>
