@using IDB.MVCControls.General.Helpers
<div class="row row-header">
    <div class="col-md-12 subtitleGroup">
        @Localization.GetText("OP.OD.TabBasicData.OperationName.Title").HtmlEncode()
    </div>
</div>
<div class="row-body-20 boxlanguage">
    <div class="floatLeft">
        <ul>
            <li dd-lang="en" onclick="multiLenguague(this)" data-idb-fieldname="txtOpNameEnglish"><span class="langText">@Confluence.Label("EN", new Dictionary<string, string>() { { "idb-fieldname", "txtOpNameEnglish" } })</span>@Confluence.LabelAsterisk()<span class="glyphicon glyphicon-play"></span></li>
            <li dd-lang="es" onclick="multiLenguague(this)" data-idb-fieldname="txtOpNameSpanish"><span class="langText">@Confluence.Label("ES", new Dictionary<string, string>() { { "idb-fieldname", "txtOpNameSpanish" } })</span>@Confluence.LabelAsterisk()<span class="glyphicon"></span></li>
            <li dd-lang="pt" onclick="multiLenguague(this)" data-idb-fieldname="txtOpNamePortuguese"><span class="langText">@Confluence.Label("PT", new Dictionary<string, string>() { { "idb-fieldname", "txtOpNamePortuguese" } })</span><span class="hide" id="asteriskNamePt">@Confluence.LabelAsterisk()</span><span class="glyphicon"></span></li>
            <li dd-lang="fr" onclick="multiLenguague(this)" data-idb-fieldname="txtOpNameFrench"><span class="langText">@Confluence.Label("FR", new Dictionary<string, string>() { { "idb-fieldname", "txtOpNameFrench" } })</span><span class="hide" id="asteriskNameFr">@Confluence.LabelAsterisk()</span><span class="glyphicon"></span></li>
        </ul>
    </div>

    <div dd-lang="en" class="contentboxlanguage" data-idb-fieldname="txtOpNameEnglish">
        <span data-pagemode="read">
            @Confluence.InputText(Model.OperationNameEnglish, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
        </span>
        <span data-pagemode="edit">
            @Confluence.InputText(Model.OperationNameEnglish, "operationNameEnglish",
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOpNameEnglish" } })
        </span>
    </div>


    <div dd-lang="es" class="contentboxlanguage hide" data-idb-fieldname="txtOpNameSpanish">
        <span data-pagemode="read">
            @Confluence.InputText(Model.OperationNameSpanish, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
        </span>
        <span data-pagemode="edit">
            @Confluence.InputText(Model.OperationNameSpanish, "operationNameSpanish",
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOpNameSpanish" } })
        </span>
    </div>


    <div dd-lang="pt" class="contentboxlanguage hide" data-idb-fieldname="txtOpNamePortuguese">
        <span data-pagemode="read">
            @Confluence.InputText(Model.OperationNamePortuguese, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
        </span>
        <span data-pagemode="edit">
            @Confluence.InputText(Model.OperationNamePortuguese, "operationNamePortuguese", required: false,
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOpNamePortuguese" } })
        </span>
    </div>


    <div dd-lang="fr" class="contentboxlanguage hide" data-idb-fieldname="txtOpNameFrench">
        <span data-pagemode="read">
            @Confluence.InputText(Model.OperationNameFrench, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
        </span>
        <span data-pagemode="edit">
            @Confluence.InputText(Model.OperationNameFrench, "operationNameFrech", required: false,
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOpNameFrench" } })
        </span>
    </div>

</div>