<div class="row row-header">
    <div class="col-md-12 subtitleGroup">
        @Localization.GetText("OP.OD.TabBasicData.OperationObjetive")
    </div>
</div>
<div class="row-body-20 boxlanguage">
    <div class="floatLeft">
        <ul>
            <li dd-lang="en" onclick="multiLenguague(this)" data-idb-fieldname="txaOpObjetiveEnglish">@Confluence.Label("EN", new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjetiveEnglish" } }, htmlClass: "langText")@Confluence.LabelAsterisk()<span class="glyphicon glyphicon-play"></span></li>
            <li dd-lang="es" onclick="multiLenguague(this)" data-idb-fieldname="txaOpObjetiveSpanish">@Confluence.Label("ES", new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjetiveSpanish" } }, htmlClass: "langText")@Confluence.LabelAsterisk()<span class="glyphicon"></span></li>
            <li dd-lang="pt" onclick="multiLenguague(this)" data-idb-fieldname="txaOpObjetivePortuguese">@Confluence.Label("PT", new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjetivePortuguese" } }, htmlClass: "langText")<span id="asteriskObjPt" class="hide">@Confluence.LabelAsterisk()</span><span class="glyphicon"></span></li>
            <li dd-lang="fr" onclick="multiLenguague(this)" data-idb-fieldname="txaOpObjetiveFrench">@Confluence.Label("FR", new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjetiveFrench" } }, htmlClass: "langText")<span id="asteriskObjFr" class="hide">@Confluence.LabelAsterisk()</span><span class="glyphicon"></span></li>
        </ul>
    </div>

    <div dd-lang="en" class="contentboxlanguage" data-idb-fieldname="txaOpObjetiveEnglish">
        <span data-pagemode="read">
            @Confluence.InputTextArea(Model.OperationObjectiveEnglish, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
        </span>
        <span data-pagemode="edit">
            @Confluence.InputTextArea(Model.OperationObjectiveEnglish, "operationObjectiveEnglish",
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjetiveEnglish" } })
        </span>
    </div>


    <div dd-lang="es" class="contentboxlanguage hide" data-idb-fieldname="txaOpObjetiveSpanish">
        <span data-pagemode="read">
            @Confluence.InputTextArea(Model.OperationObjectiveSpanish, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
        </span>
        <span data-pagemode="edit">
            @Confluence.InputTextArea(Model.OperationObjectiveSpanish, "operationObjectiveSpanish",
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjetiveSpanish" } })
        </span>
    </div>


    <div dd-lang="pt" class="contentboxlanguage hide" data-idb-fieldname="txaOpObjetivePortuguese">
        <span data-pagemode="read">
            @Confluence.InputTextArea(Model.OperationObjectivePortuguese, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
        </span>
        <span data-pagemode="edit">
            @Confluence.InputTextArea(Model.OperationObjectivePortuguese, "operationObjectivePortuguese", required: false,
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjetivePortuguese" } })
        </span>
    </div>


    <div dd-lang="fr" class="contentboxlanguage hide" data-idb-fieldname="txaOpObjetiveFrench">
        <span data-pagemode="read">
            @Confluence.InputTextArea(Model.OperationObjectiveFrench, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
        </span>
        <span data-pagemode="edit">
            @Confluence.InputTextArea(Model.OperationObjectiveFrench, "operationObjectiveFrench", required: false,
            dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjetiveFrench" } })
        </span>
    </div>

</div>