<tr data-id="0">
    <td class="hide"></td>
    <td class="hide"></td>
    <td data-role="@ViewBag.RoleSelect">
        @Confluence.LabelGetDropDown((string)ViewBag.RoleSelect, ViewBag.AssociatedInstitutionsRoleList)
    </td>
    <td>
        @Confluence.LabelGetDropDown((string)ViewBag.Institution, ViewBag.AssociatedInstitutionsList)
    </td>
    <td class="text-center">
        <span data-pagemode="edit">
            @Confluence.InputHidden((string)ViewBag.RoleSelect, "associatedInstitutionsRole")
            @Confluence.InputHidden((string)ViewBag.Institution, "associatedInstitutions")
            <input type="hidden" name="InstitutionRelatedId" value="0">
            <input type="hidden" name="associatedInstitutionRolID" value="0">
            @Confluence.ButtonTrash(null, null, "removeRow", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnRemoveAssociatedInstRow" } })
        </span>
    </td>
</tr>