@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Domain.Values
@using IDB.MW.Application.OPUSModule.ViewModels.ClimateChangeService
@using IDB.MVCControls.Confluence

@model ClimateChangeRowViewModel
@{
    var tempId = DateTime.Now.ToString("yyyyMMddHHmmssffff");
    var hideEnvironmental = Model.CanEditEnvironment ? string.Empty : "hide";
}
<tr data-id="@tempId" class="custom-even odd" role="row" data-row="new-row" data-cces-id="@tempId">
    <td class="text-right">
        @Confluence.InputDecimal(0, "Amount", true, ".", ",", "0", "100.00", 2, null, null, false, "85px", null, false)
    </td>
    <td>
        @Confluence.InputDropDown(
            null,
            "CCMitigation",
            Model.ClimateChangeMitigationList
                .Select(o => new SelectListItem
                {
                    Value = o.Value,
                    Text = o.Text
                }),
            width: "100%",
            required: false,
            orderAsc: false,
            htmlClassList: "cces-ddl",
            htmlClass: "cces-ddl-parent-mit")
    </td>
    <td>
        @Confluence.InputDropDown(
            null,
            "CCAdaptation",
            Model.ClimateChangeAdaptationCategoryList
                .Select(o => new SelectListItem
                {
                    Value = o.Value,
                    Text = o.Text
                }),
            width: "100%",
            required: false,
            orderAsc: false,
            htmlClassList: "cces-ddl",
            htmlClass: "cces-ddl-parent-mit")
    </td>
    <td class="@hideEnvironmental">
        @Confluence.InputDropDown(
            null,
            "Environment",
            Model.EnvironmentList
                .Select(o => new SelectListItem
                {
                    Value = o.Value,
                    Text = o.Text
                }),
            width: "100%",
            required: false,
            orderAsc: false,
            htmlClassList: "cces-ddl",
            htmlClass: "cces-ddl-parent-env")
    </td>
    <td class="@hideEnvironmental">
        @Confluence.InputDropDown(
            null,
            "DisasterRiskManagement",
            Model.DisasterRiskManagementList
                .Select(o => new SelectListItem
                {
                    Value = o.Value,
                    Text = o.Text
                }),
            width: "100%",
            required: false,
            orderAsc: false,
            htmlClassList: "cces-ddl",
            htmlClass: "cces-ddl-parent-dis")
    </td>
    <td class="@hideEnvironmental">
        @Confluence.InputDropDown(
            null,
            "SocialSustainability",
            Model.ClimateChangeSocialCategoryList
                .Select(o => new SelectListItem
                {
                    Value = o.Value,
                    Text = o.Text
                }),
            width: "100%",
            required: false,
            orderAsc: false,
            htmlClassList: "cces-ddl-soc",
            htmlClass: "cces-ddl-parent-soc")
    </td>
    <td>
        <button class="buttonShowRow active" onclick="CollapseRowTable(this)">
            <span class="caret"></span>
        </button>
    </td>
    <td>@Confluence.ButtonTrash(null, "removeRowCCES", action: "")</td>
</tr>
<tr id="CCMitigationSubTR-@tempId" data-row-parent-id="@tempId" class="showChildRow hidden-field" data-row-parent="new-row">
    <td></td>
    <td id="CCMitigationSubAux-@tempId" class="hidden" colspan="2"></td>
    <td id="CCMitigationSub-@tempId" class="hidden" colspan="2">
        @Localization.GetText("CCES.SubCategory.Mitigation")@Confluence.LabelAsterisk()
        <span>
            @Confluence.InputDropDown(
                null,
                "CCMitigationSub",
                null,
                width: "100%",
                required: false,
                orderAsc: false,
                htmlClassList: "cces-ddl",
                htmlClass: "cces-ddl-parent")
        </span>
    </td>
    <td></td>
    <td></td>
    <td id="SocialSubCategory-@tempId" class="hidden" colspan="1">
        @Localization.GetText("CCES.SubCategory.Social")@Confluence.LabelAsterisk()
        <span>
            @Confluence.InputDropDown(
                null,
                "SocialSubCategory",
                null,
                width: "100%",
                required: false,
                orderAsc: false,
                htmlClassList: "cces-ddl-soc",
                htmlClass: "cces-ddl-parent-sub-soc")
        </span>
    </td>
    <td class="@hideEnvironmental"></td>
    <td class="@hideEnvironmental"></td>
    <td class="@hideEnvironmental"></td>
</tr>
<tr id="AdaptationSubCategoryTR-@tempId" data-row-parent-id="@tempId" class="showChildRow hidden-field" data-row-parent="new-row">
    <td></td>
    <td id="AdaptationSubCategory-@tempId" class="hidden" colspan="2">
        @Localization.GetText("CCES.SubCategory.Adaptation")@Confluence.LabelAsterisk()
        <span>
            @Confluence.InputDropDown(
                null,
                "AdaptationSubCategory",
                null,
                width: "100%",
                required: false,
                orderAsc: false,
                htmlClassList: "cces-ddl",
                htmlClass: "cces-ddl-parent")
        </span>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td class="@hideEnvironmental"></td>
    <td class="@hideEnvironmental"></td>
    <td class="@hideEnvironmental"></td>
</tr>
<tr data-row-parent-id="@tempId" class="showChildRow" data-row-parent="new-row">
    <td colspan="8">
        <div class="col-md-6">
            @Localization.GetText("CCES.Text.Justification")@Confluence.LabelAsterisk()
        </div>
        <div class="col-md-6 text-right user-date-cces hide">
            <span class="user-just-text" name='JustificationUser'>@IDBContext.Current.UserName</span>
            <span name='JustificationDate'> @String.Format("{0:MM/dd/yyyy HH:mm:ss}", DateTime.Now)</span>
        </div>
        @Confluence.InputTextArea(
            null,
            "justificationClimate",
            "justification",
            2000,
            true,
            false,
            width: "100%",
            height: "150px")
    </td>
</tr>
