@using IDB.Presentation.MVC4.Helpers
@model IList<IDB.MW.Application.Core.ViewModels.ListItemViewModel>
@{
    var dropdownOpTeamRole = Model != null ?
        Html.BuildSelectItemList(Model,
            o => o.Text,
            o => o.Value).ToList() :
        new List<SelectListItem>();
    var rand = new Random();
    var rowId = rand.Next(1000000, 3000000);
}


<tr data-id="@rowId" class="custom-even odd" role="row">
    <td class="hide">
        <span data-pagemode="edit">
            <input type="hidden" name="operationTeamDataId" value="0" />
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.InputDropDownAsyncPicture(
                null, 
                "userNameTeam", 
                Url.Action("GetUsersList", "View", new { area = "Opus" }), 
                dataAttributes: 
                    new Dictionary<string, string>()
                    {
                        { "idb-fieldname", "txtUserNameTeam" }
                    })
        </span>
    </td>
    <td class="role role">
        <span data-pagemode="edit">
            @Confluence.InputDropDown(
                null,
                "operationTeamsRole",
                dropdownOpTeamRole,
                dataAttributes:
                    new Dictionary<string, string>()
                    {
                        { "idb-fieldname", "ddlOpTeamsRole" }
                    })
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            <input type="hidden" name="operationTeamsName" />
        </span>
    </td>
    <td class="hide">
        <span data-pagemode="edit" data-idb-fieldname="otDepartment">
            <span></span>
        </span>
    </td>
    <td class="hide">
        <span data-pagemode="edit" data-idb-fieldname="otDivision">
            <span></span>
        </span>
    </td>
    <td class="hide">
        <span data-pagemode="edit" data-idb-fieldname="otLocation">
            <span></span>
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            <input type="hidden" name="organizationalUnitTeam" />
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            <span></span>
        </span>
    </td>
    <td class="text-center" data-pagemode="edit">
        <span data-pagemode="edit">
            @Confluence.ButtonTrash(
                null, 
                null, 
                "removeRow", 
                dataAttributes: 
                    new Dictionary<string, string>()
                    {
                        { "idb-fieldname", "btnRemoveOrgTeamRow" }
                    })
        </span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">
            <input type="hidden" name="operationTeamCodeType" value="@ViewBag.RoleTypeCode" />
        </span>
    </td>
</tr>