@using IDB.MW.Application.VERModule.ViewModels
@using IDB.MW.Domain.Models.Security
@model VerDocumentRowViewModel
@{
    var documentParticipant = (List<FieldAccessModel>)ViewBag.SecurityDocument;

    var chkPackage = documentParticipant.FirstOrDefault(o => o.FieldName == "chkPackage");
}

<tr data-id class="custom-odd even" role="row">
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(false, "documentToSubmitClearance")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(false, "documentToSubmitTranslation")</span>
    </td>
    <td class="text-center">
        <span data-pagemode="edit"></span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(false, "publishDoc")</span>
    </td>
    <td class="text-left">
        <span data-pagemode="edit">@Confluence.Label(Localization.GetText("VER.Homepage.TabDocuments.OTHER"))</span>
    </td>
    <td class="text-left">
        <span data-pagemode="edit">
            @Confluence.ButtonLink(Model.DocumentName, action: "officeOnline", htmlClass: "text-left", dataAttributes:
                     new Dictionary<string, string> { { "url", Model.ShpUrlDocument }, { "DocumentNameUpload", "documentsName" }, { "idb-fieldname", "btnLinkName" } })
        </span>
    </td>
    <td class="text-center">
        <span data-pagemode="edit">@Confluence.Label(Model.PackageVersion)</span>
    </td>
    <td class="text-center">
        <span data-pagemode="edit">@Confluence.LabelGetDate(Model.LastUpdate)</span>
    </td>
    <td class="text-center">
        <span data-pagemode="edit">@Confluence.InputCheckbox(true, "packageDoc", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "chkPackage" } }, disabled: chkPackage != null && chkPackage.IsReadOnly)</span>
    </td>
    <td class="text-left">
        <span data-pagemode="edit">@Confluence.Label(Model.DocumentNumber)</span>
    </td>
    <td class="text-right">
        <span data-pagemode="edit">
            @Confluence.ButtonTrash(string.Empty, action: "removeRowDocumentTemp", dataAttributes:
                new Dictionary<string, string>
                {
                    {"DocumentRemove", "documentsRemoveHidden"},
                    {"idb-fieldname", "btnRemoveDocument"},
                    {"DocumentReference", Model.DocumentNumber},
                    {"DocumentName", Model.DocumentName},
                    {"DocumentNameTemp" , Model.DocumentNameTemp },
                    {"isDocumentTemp" , Model.IsNewDocument.ToString() }
                })
        </span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputText(Convert.ToString(Model.VerDocumentId), "verDocumentId")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputText(Convert.ToString(Model.DocumentId), "documentId", required: false)</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputText(Model.DocumentNumber, "documentNumber", required: false)</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(false, "isGenerated", id: "isGenerated")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(false, "isRequired", id: "isRequired")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(false, "isPrimary", id: "isPrimary")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(true, "isOther", id: "isOther")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputText(Model.DocumentType.ToString(), "documentType", id: "documentType")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputText(Model.ShpUrlDocument, "shpUrlDocument", id: "shpUrlDocument", required: false)</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputText(Model.DocumentName, "documentName", id: "documentName", required: false)</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(false, "isVer", "isVer")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(true, "IsNewDocumentForSave", "IsNewDocumentForSave", dataAttributes:
                                       new Dictionary<string, string> { { "DocumentReference", Model.DocumentNumber }, { "DocumentName", Model.DocumentName }, { "DocumentNameTemp", Model.DocumentNameTemp } }))
        </span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(false, "isVersionHistory", id: "isVersionHistory")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(false, "isDocumentPackage", id: "isDocumentPackage")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputCheckbox(Model.IsNewDocument, "IsNewDocument", "IsNewDocument")</span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">@Confluence.InputText(Model.DocumentNameTemp, "DocumentNameTemp", id: "DocumentNameTemp", required: false)</span>
    </td>
</tr>