@using IDB.MW.Application.VMRModule.ViewModels
@model VmrParticipantRowViewModel
<tr data-id class="custom-odd even" role="row">
    <td class="text-left">
        <span data-pagemode="edit">
            @Confluence.LabelGetDropDown(Model.ParticipantTypeId, ViewBag.ParticipantsTypeList)
            @Confluence.InputHidden(Model.ParticipantTypeId.ToString(), "participantType")
        </span>
    </td>
    <td class="text-left">
        <span data-pagemode="edit">
            @if (Model.OrganizationalUnitId == null)
            {
                @Confluence.LabelGetDropDown(Model.Role.ToString(), (List<SelectListItem>)ViewBag.RoleListTable)
            }
            else
            {
                if (Model.Role != null)
                {
                    @Confluence.LabelGetDropDown(Model.Role.ToString(), (List<SelectListItem>)ViewBag.RoleListTable)
                    @Confluence.Label(" / ")
                    @Confluence.LabelGetDropDown(Model.OrganizationalUnitId.ToString(), (List<SelectListItem>)ViewBag.OrganizationUnit)

                }
                else
                {
                    @Confluence.LabelGetDropDown(Model.OrganizationalUnitId.ToString(), (List<SelectListItem>)ViewBag.OrganizationUnit)
                }

            }

            @Confluence.InputHidden(Model.Role.ToString(), "role")
            @Confluence.InputHidden(Model.OrganizationalUnitId.ToString(), "organizationalUnitId")
        </span>
    </td>
    <td class="text-left">
        <span data-pagemode="edit">
            @Confluence.ListHelpers(new List<HelperResult>
            {
                Confluence.Label(Model.FullName, new Dictionary<string, string> {{"labelUserName", "user"}}),
                Confluence.InputHidden(Model.Username, "username")
            })
        </span>
    </td>

    <td class="hide">
        <span data-pagemode="edit">
            @Confluence.InputHidden("0", "participantRowId")
        </span>

    </td>
    <td class="hide">
        <span data-pagemode="edit">
            @Confluence.InputCheckbox(false, "isRequired")
        </span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">
            @Confluence.InputHidden(Model.AccessLevelId.ToString(), "accessLevelId")
        </span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">
            @Confluence.InputHidden(Model.AccessLevelCode, "accessLevelCode")
        </span>
    </td>
    <td class=" text-right "><span data-pagemode="edit">@Confluence.ButtonTrash("", "trashParticipant", "removeRow")</span></td>
</tr>
