@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.CPDModule.ViewModels.Annexes
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Areas.CPD.Models
@using IDB.Architecture.Language

@model AnnexesViewModel

@if (Model != null)
{

    <div class="row mb30">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/Buttons", Model)
            @Confluence.LabelMainTitle(Localization.GetText("CPD.Annexes.Title"))
        </div>
    </div>
    <div class="page" data-parsley-validate="true" name="submitForm" data-ignore-nullable-values="true">
        @Confluence.Tabs(new Dictionary<string, string>()
        {{NavigationAttributes.TAB_NAME_RESULTS_MATRIX, Localization.GetText("CPD.Annexes.Navigation.ResultMatrix") },
        {NavigationAttributes.TAB_NAME_INDICATIVE_PIPELINE, Localization.GetText("CPD.Annexes.Navigation.IndicativePipeline") }})
        <div class="tab-content mt20">
            <div class="tab-pane pl30" id="@(NavigationAttributes.TAB_NAME_RESULTS_MATRIX)">
                @if (Model.ResultMatrixTab != null)
                {
                    @Html.Partial("ReadPartial/ResultMatrixPartial", Model.ResultMatrixTab)
                }
            </div>
            <div class="tab-pane pl30" id="@(NavigationAttributes.TAB_NAME_INDICATIVE_PIPELINE)">
                @if (Model.IndicativePipelineTab != null)
                {
                    @Html.Partial("ReadPartial/IndicativePipelinePartial", Model.IndicativePipelineTab)
                }
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            @Html.Partial("ReadPartial/Buttons", Model)
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">

        /*--------------- Navigation Tabs --------------- */
        registerCallback(function () {
            $(document).ready(function () {
                SelectTab('@ViewBag.ActiveTab');
            });

            $(document).on('click', 'ul.tabs li', function () {
                var source = $(this);
                var contentButtons = $('div[data-type="contentButtons"]');
                var nameTab = source.attr('dd-tab');
                contentButtons.addClass('hide');
                switch (nameTab) {
                    case "#@(NavigationAttributes.TAB_NAME_RESULTS_MATRIX)":
                        $('div[data-id="read-ResultMatrix"]').removeClass('hide');
                        break;
                    case "#@(NavigationAttributes.TAB_NAME_INDICATIVE_PIPELINE)":
                        $('div[data-id="read-IndicativePipeline"]').removeClass('hide');
                        break;
                }
            });

            $(document).on('click', '[name="csResultMatrixLink"]', function () {
                var url = '@Url.Action("CPDResultsMatrixExportToPDF", "Annexes", new { area = "CPD" })';

                window.open(url, '_blank');
            });

            function SelectTab(tabName) {
                switch (tabName) {
                    case '@(NavigationAttributes.TAB_NAME_RESULTS_MATRIX)':
                        $('[dd-tab="#@(NavigationAttributes.TAB_NAME_RESULTS_MATRIX)"]').click();
                        break;
                    case '@(NavigationAttributes.TAB_NAME_INDICATIVE_PIPELINE)':
                        $('[dd-tab="#@(NavigationAttributes.TAB_NAME_INDICATIVE_PIPELINE)"]').click();
                        break;
                }
            }
        });

        /*--------------- Edit Mode ---------------*/
        registerCallback(function () {
            $(document).on('click', '[name="edit-RM"]', function () {
                var url = '@Url.Action("EditResultMatrix", "Annexes", new { area = "CPD" })';
                LocationAssign(url);
            });

            $(document).on('click', '[name="edit-IP"]', function () {
                var url = '@Url.Action("EditIndicativePipeline", "Annexes", new { area = "CPD" })';
                LocationAssign(url);
            });
        });
    </script>
}