@model IDB.MW.Application.AdministrationModule.ViewModels.VisualOutputsMapping.VODHeaderViewModel

<div class="mb20">
@Confluence.Navigation(Confluence.LabelMainTitle("Visual Outputs Details"),
    Url.Action("Index", "VisualOutputsMapping", new { area = "AdministrationSecondPhase" }))
</div>

<div name="visuaslOutputsDetailsContent">

    <div class="col-md-12 mb20">
        <div class="col-md-12">
            <div class="col-md-4">
                @Confluence.Label(@Localization.GetText("OPUS.Search.OperationNumber"))
            </div>

            <div class="col-md-4">
                @Confluence.Label("Operation Name")
            </div>

            <div class="col-md-4">
                @Confluence.Label("Approval Number")
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-md-4">
                @Confluence.LabelBold(Model.OperationNumber)
            </div>

            <div class="col-md-4">
                @Confluence.LabelBold(Model.OperationName)
            </div>

            <div class="col-md-4">
                @Confluence.LabelBold(Model.ApprovalNumber)
            </div>
        </div>
    </div>

    <div class="col-md-12 mb20">
        <div class="col-md-12">
            <div class="col-sm-4">
                @Confluence.Label("Country")
            </div>

            <div class="col-sm-4">
                @Confluence.Label("Approval Year")
            </div>

            <div class="col-sm-4">
                @Confluence.Label("Elegibility Year")
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-sm-4">
                @Confluence.LabelBold(Model.Country)
            </div>

            <div class="col-md-4">
                @Confluence.LabelBold(Model.ApprovalYear.ToString())
            </div>

            <div class="col-md-4">
                @Confluence.LabelBold(Model.ElegibilityYear.ToString())
            </div>
        </div>
    </div>
</div>
