@model IDB.MW.Application.AdministrationModule.ViewModels.VisualOutputsMapping.VODViewModel

@{ var componentResultTableId = new List<string>(); }

@if (Model.VodBodyViewModel != null && Model.VodBodyViewModel.Any())
{
    foreach (var loadComponentResult in Model.VodBodyViewModel)
    {
        componentResultTableId.Add("coomponentResultId" + loadComponentResult.ComponentId);
    }
}

<div class="col-md-12 mb20">
    @Confluence.ButtonBlue("Filter",
            htmlClass: "returnToFilterSection floatRight",
            dataAttributes: new Dictionary<string, string> { { "element", "#visualization-filters" } })
    <div class="floatRight">
        @Confluence.ButtonColapseAll(
        componentResultTableId,
        dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCollapse" } })
    </div>
</div>

<div class="col-md-6 floatRight" id="visualization-filters" style="display: none">
    <div class="floatRight clear filter-box">
        <div class="filter-input edit-form">
            @Html.Partial("Partials/VisualOutputsDownloadDataFilter/VisualOutputsDetails/ComponetOutputFilter", Model)
        </div>
    </div>
</div>

@if (Model.VodBodyViewModel != null && Model.VodBodyViewModel.Any())
{
    foreach (var loadComponentResult in Model.VodBodyViewModel)
    {
    <table id="coomponentResultId@(loadComponentResult.ComponentId)" class="tableNormal" data-filter="component.@(loadComponentResult.ComponentId)">
        <thead>
            <tr>
                <th class="tree icon">
                    <span class="icon" onclick="CollapseTable(this)">-</span>
                    <span style="display:none"></span>
                    <label class="firstLabel">
                        <label class="labelNormal">@loadComponentResult.ComponentName</label>
                    </label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loadOutputResult in loadComponentResult.VODBodyOutputViewModel) {
            <tr>
            <td>
                <table class="tableNormal" data-filter="output.@(loadOutputResult.OutputId)" style="display: table;">
                    <thead>
                        <tr>
                            <th class="tree icon">
                                <span class="icon" onclick="CollapseTable(this)">-</span>
                                <span style="display:none"></span>
                                <label class="firstLabel">
                                    <label class="labelNormal">@loadOutputResult.OutputName</label>
                                </label>
                            </th>
                        </tr>
                    <thead>
                    <tbody>
                    @foreach (var loadVisualOutputResult in loadOutputResult.VODBodyVisualOutputViewModel) {
                        <tr>
                            <td colspan="1">
                                <div>
                                    <table id="visualOutputDownloadFilterResultsTable" class="tableNormal visualOutputDownloadFilterResultsTable mb20">
                                        <thead>
                                            <tr data-id="">
                                                <th class="tree icon">
                                                    <span class="icon" onclick="CollapseTable(this)">-</span>
                                                    <span style="display:none"></span>
                                                    <label class="firstLabel">
                                                        <label class="labelNormal">@loadVisualOutputResult.VisualOutputOrderNumber</label>
                                                    </label>
                                                </th>
                                                <th class="center sort">
                                                    @Localization.GetText("OPUS.Search.VisualOutput")
                                                </th>
                                                <th class="center sort">
                                                    @Localization.GetText("OPUS.Search.OutputYear")
                                                </th>
                                                <th class="center sort">
                                                    @Localization.GetText("OPUS.Search.Description")
                                                </th>
                                                <th class="center sort">
                                                    @Localization.GetText("OPUS.Search.DeliveryStatus")
                                                </th>
                                                <th class="center sort">
                                                    @Localization.GetText("OPUS.Search.Published")
                                                </th>
                                                <th class="center sort">
                                                    # @Localization.GetText("OPUS.Search.OutputUnits")
                                                </th>
                                                <th class="text-right sort">
                                                    @Localization.GetText("OPUS.Search.ValidationStatus")
                                                </th>
                                                <th class="text-right sort">
                                                    @Localization.GetText("OPUS.Search.LastUpdate")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id="0">
                                                <th class="tree tableNormal"></th>
                                                <td>@loadVisualOutputResult.VisualOutputName</td>
                                                <td>@loadVisualOutputResult.OutputYear</td>
                                                <td>@loadVisualOutputResult.Description</td>
                                                <td>@loadVisualOutputResult.DeliveryStatus</td>
                                                <td>@loadVisualOutputResult.Published</td>
                                                <td>@loadVisualOutputResult.OutputUnits</td>
                                                <td>@loadVisualOutputResult.ValidationStatus</td>
                                                <td>@loadVisualOutputResult.LastUpdate</td>
                                            </tr>
                                            @if (loadVisualOutputResult.VOBodyMilestonesDeliverablesViewModel != null 
                                                && loadVisualOutputResult.VOBodyMilestonesDeliverablesViewModel.Any())
                                            {
                                            <tr>
                                                <td colspan="8">
                                                    <div>
                                                        <table class="tableNormal">
                                                            <thead>
                                                                <tr>
                                                                    <th class="tree"></th>
                                                                    <th class="tree"></th>
                                                                    <th class="tree icon" colspan="3">
                                                                        <span class="icon" onclick="CollapseTable(this)">-</span>
                                                                        <span style="display:none"></span>
                                                                        <label class="firstLabel">
                                                                            <label class="labelNormal">Deliverables/Milestones</label>
                                                                        </label>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th class="tree"></th>
                                                                    <th class="tree"></th>
                                                                    <th>@Localization.GetText("OPUS.Search.Name")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.Description")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.Status")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.PhysicalCompleted")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.PrecisionLevel")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.FirstLevel")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.SecondLevel")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.ThirdLevel")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.Coordinates")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.MediaName")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.LastUpdate")</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var loadMilestones in loadVisualOutputResult.VOBodyMilestonesDeliverablesViewModel)
                                                                {
                                                                <tr data-id="">
                                                                    <td class="tree"></td>
                                                                    <th class="tree"></th>
                                                                    <td>@loadMilestones.Name</td>
                                                                    <td>@loadMilestones.Description</td>
                                                                    <td>@loadMilestones.Status</td>
                                                                    <td>@loadMilestones.PhysicalCompleted</td>
                                                                    <td>@loadMilestones.PrecisionLevel</td>
                                                                    <td>@loadMilestones.FirstLevel</td>
                                                                    <td>@loadMilestones.SecondLevel</td>
                                                                    <td>@loadMilestones.ThirdLevel</td>
                                                                    <td>@loadMilestones.Coordinates</td>
                                                                    <td>@loadMilestones.MediaName</td>
                                                                    <td>@loadMilestones.LastUpdate</td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                            @if (loadVisualOutputResult.VOBodyServicesViewModel != null
                                                && loadVisualOutputResult.VOBodyServicesViewModel.Any())
                                            {
                                            <tr>
                                                <td colspan="8">
                                                    <div>
                                                        <table class="tableNormal">
                                                            <thead>
                                                                <tr>
                                                                    <th class="tree"></th>
                                                                    <th class="tree"></th>
                                                                    <th class="tree icon" colspan="3">
                                                                        <span class="icon" onclick="CollapseTable(this)">-</span>
                                                                        <span style="display:none"></span>
                                                                        <label class="firstLabel">
                                                                            <label class="labelNormal">Services</label>
                                                                        </label>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th class="tree"></th>
                                                                    <th class="tree"></th>
                                                                    <th>@Localization.GetText("OPUS.Search.Type")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.Comments")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.Status")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.LastUpdate")</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var loadServices in loadVisualOutputResult.VOBodyServicesViewModel)
                                                                {
                                                                <tr>
                                                                    <td class="tree"></td>
                                                                    <th class="tree"></th>
                                                                    <td>@loadServices.Type</td>
                                                                    <td>@loadServices.Comments</td>
                                                                    <td>@loadServices.Status</td>
                                                                    <td>@loadServices.LastUpdate</td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                            @if (loadVisualOutputResult.VOBodyAdditionalAttributesViewModel != null
                                                && loadVisualOutputResult.VOBodyAdditionalAttributesViewModel.Any())
                                            {
                                            <tr>
                                                <td colspan="8">
                                                    <div>
                                                        <table class="tableNormal">
                                                            <thead>
                                                                <tr>
                                                                    <th class="tree"></th>
                                                                    <th class="tree"></th>
                                                                    <th class="tree icon" colspan="3">
                                                                        <span class="icon" onclick="CollapseTable(this)">-</span>
                                                                        <span style="display:none"></span>
                                                                        <label class="firstLabel">
                                                                            <label class="labelNormal">Additional Attributes</label>
                                                                        </label>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th class="tree"></th>
                                                                    <th class="tree"></th>
                                                                    <th>@Localization.GetText("OPUS.Search.Status")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.PhysicalCompleted")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.PreConditions")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.ContributionType")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.IDBCostUSD")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.LocalCostUSD")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.UnitOfMeasureOfBeneficiaries")</th>
                                                                    <th># @Localization.GetText("OPUS.Search.NumberBeneficiaries")</th>
                                                                    <th>@Localization.GetText("OPUS.Search.LastUpdate")</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var loadAdditionalAttributes in loadVisualOutputResult.VOBodyAdditionalAttributesViewModel)
                                                                {
                                                                <tr data-id="">
                                                                    <td class="tree"></td>
                                                                    <th class="tree"></th>
                                                                    <td>@loadAdditionalAttributes.Status</td>
                                                                    <td>@loadAdditionalAttributes.PhysicalCompleted</td>
                                                                    <td>@loadAdditionalAttributes.PreConditions</td>
                                                                    <td>@loadAdditionalAttributes.ContributionType</td>
                                                                    <td>@loadAdditionalAttributes.IDBCost</td>
                                                                    <td>@loadAdditionalAttributes.LocalCost</td>
                                                                    <td>@loadAdditionalAttributes.UnitOfMeasureOfBeneficiaries</td>
                                                                    <td>@loadAdditionalAttributes.NumberOfBeneficiaries</td>
                                                                    <td>@loadAdditionalAttributes.LastUpdate</td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </td>
            </tr>
            }
        </tbody>
    </table>
    }
}