@using System.Web.Mvc

@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General
@using IDB.Architecture.Language

<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"cancel-modal-contracts\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-cancel-contracts",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "confirmCancelContracts",
                            closeAtEnd: true))
    <div data-name="cancel-modal-contracts" class="hide modalBody">
        @Localization.GetText("SGP.Message.CommonCancel")
    </div>
</div>

<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"remove-contract-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-row-contacts-remove",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "removeRowContracts",
                            closeAtEnd: true))

    <div data-name="remove-contract-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.ContractDeleted")
    </div>
</div>

<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"remove-lot-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-row-lot-remove",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "removeRowLot",
                            closeAtEnd: true))

    <div data-name="remove-lot-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.ThisActionCannotBeUndone")
    </div>
</div>

<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"remove-lot-amendment-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-row-lot-amendment-remove",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "removeRowLotAmendment",
                            closeAtEnd: true))

    <div data-name="remove-lot-amendment-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.ThisActionCannotBeUndone")
    </div>
</div>

<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"remove-amount-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-row-amount-remove",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "removeRowAmount",
                            closeAtEnd: true))

    <div data-name="remove-amount-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.ThisActionCannotBeUndone")
    </div>
</div>

<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"remove-contract-doc-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-row-contracts-doc-remove",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "removeRowContractDoc",
                            closeAtEnd: true))

    <div data-name="remove-contract-doc-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.CommonCancel")
    </div>
</div>


<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"remove-amendment-doc-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-row-amendment-remove",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "removeRowAmendment",
                            closeAtEnd: true))

    <div data-name="remove-amendment-doc-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.CommonCancel")
    </div>
</div>

<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"validation-total-lot\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-validation-total-lot",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "saveContractModel",
                            closeAtEnd: true))

    <div data-name="validation-total-lot" class="hide modalBody">
        @Localization.GetText("SGP.Message.ValidationTotalContractToProcurement")
    </div>
</div>