@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title></title>
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Mistakes.css")" />
</head>
<body bgcolor="white">
   @if (@ViewBag.Op == "")
   {
      <div class="contenedor">
         <br />
         <br />
         <div class="line"></div>
         <div class="bold">Message :</div>
         <div class="grayColor">@ViewBag.Message</div>
         <div class="line"></div>
         <div class="bold">Source :</div>
         <div class="grayColor">@ViewBag.Source</div>
         <div class="line"></div>
         <div class="bold">Url :</div>
         <div class="grayColor">@ViewBag.Url</div>
         <div class="line"></div>
         <div class="bold">StackTrace :</div>
         <div class="grayColor">@ViewBag.StackTrace</div>
         <br />
         <br />
         <br />
      </div>
   }
   else
   {
      <div class="contenedor">
         @{ int i = 1; }
         @foreach (var Data in ViewBag.List)
         { 
            <br />
            <br />
            <div class="line"></div>
            <div class="bold">NUMBER : </div>
            <div class="grayColor">
               @Data.Number
            </div>
            <div class="bold">DATE : </div>
            <div class="grayColor">
               @Data.Date
            </div>
            <div class="bold">HOUR : </div>
            <div class="grayColor">
               @Data.Hour
            </div>
            <div class="bold">REQUEST : </div>
            <div class="grayColor">
               @Data.Request
            </div>
            <div class="bold">DESCRIPTION : </div>
            <div class="grayColor">
               @Data.Description
            </div>
            <br />
            <center><div class="circle">@(i++)</div></center>
            <br />
         }
         <br />
      </div>
      <br />
   }
</body>
</html>
