@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>403</title>
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Mistakes.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
   <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
   <script type="text/javascript" src="@Url.Content("~/Scripts/Mistakes.js")"></script>
</head>
<body class="backgroundFFFFFF">
   <form id="form">
      <div id="ui_sp_001_edit" class="padding20 everisWidth" style="margin: auto; text-align: center;">
         <div class="relative h50px verticalMargin20">
            <h3 class="headingh2">403 - FORBIDDEN:Access is denied</h3>
            <h2 class="error">
               <p>You do have permission to view this directory or page</p>
               <p>using the credentials that you suppled</p>
            </h2>
            <a href="#" onclick="javascript:OpenDetails();">Details</a><br />
            <img src="@Url.Content("~/Images/Modulos/assets/Mistakeimage.png")" Style="width:150px; height:150px; "/>
            <br />
            <a href="javascript:window.history.back();">&laquo; Go to previous page</a>
         </div>
      </div>
      <div class="fondooff" id="fondo"></div>
      <div class="fondooff" id="poput">
         <div class="P600" style="margin: auto; text-align: center;">
            <div class="popUpHeaderBackground padding20 relative">
               <span class="font2em">403 - FORBIDDEN:Access is denied</span>
               <a href="#" onclick="jacascript:CloseDetails()" style="display: block"><span class="inline-block closePopUp absolute"></span></a>
            </div>
            <div class="relative content">
               <iframe src="@Url.Content("~/Mistakes/Details")" class="iframee"></iframe>
            </div>
         </div>
         <br />
         <br />
         <br />
         <br />
      </div>
   </form>
</body>
</html>


