@model IDB.MW.Domain.Models.Disbursement.LoanLevelProjectionsViewModel

@section CSS {
    @Styles.Render("~/Content/Confluence")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modules/disbursement/disbursement.css")" />
}

@section JavaScript{
    <script type="text/javascript">
        var titleGraph1 = "@Localization.GetText("Disbursement.Graph.ProjectLife")";
        var titleGraph2 = "@Localization.GetText("Disbursement.Graph.Yearly")";
        var titleGraph3 = "@Localization.GetText("Disbursement.Graph.Monthly")";       
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modules/disbursement/disbursement.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mainframe/fixIframe.js")"></script>
@Scripts.Render("~/bundles/NewConfluence")
}
<script type="text/javascript">
    resource_messages['Disbursement_LoanLevel_error_sum_validation'] = '@Localization.GetText("Disbursement.LoanLevelProj.Msg.ErrorSumValidation")';
    resource_messages['Disbursement_confirm_expirtationdate_after'] = '@Localization.GetText("Disbursement.LoanLevelProj.Msg.ConfirmExpirationDateAfter")';
    var disbursmentLiterals = {
        msgRemainingBalanceWarning: '@Localization.GetText("Disbursement.Msg.Remaining.Balance")',
        msgErrorExchangeRate: '@Localization.GetText("OP.AP.EditRegister.RegisterApproval.ErrorExchangeRate")',
        GraphProjectLifeAxisY: '@Html.Raw(Localization.GetText("Disbursement.Graph.ProjectLife.AxisY.Tittle"))',
        GraphProjectLifeAxisX: '@Html.Raw(Localization.GetText("Disbursement.Graph.ProjectLife.AxisX.Tittle"))',
        GraphEarlyAccumulatedAxisY: '@Html.Raw(Localization.GetText("Disbursement.Graph.EarlyAccumulated.AxisY.Tittle"))',
        GraphEarlyAccumulatedAxisX: '@Html.Raw(Localization.GetText("Disbursement.Graph.EarlyAccumulated.AxisX.Tittle"))',
        GraphMonthlyAccumulatedAxisY: '@Html.Raw(Localization.GetText("Disbursement.Graph.MonthlyAccumulated.AxisY.Tittle"))',
        GraphMonthlyAccumulatedAxisX: '@Html.Raw(Localization.GetText("Disbursement.Graph.MonthlyAccumulated.AxisX.Tittle"))'
    };

    $(document).ready(function () {
        $('.tabItem').not('.active').click(function () {
            showLoader();
        });

        $('.btn.graphButton, .btn.valuesButton').click(function () {
            resizeIframeCloud()
        });

        $('a.toloandet1').click(function () {
            showLoader();
        });
    });

    
</script>

<div id="ui_dp_001">
    @Html.Partial("~/Areas/Disbursement/Views/LoanLevelProjections/Partials/MainContent.cshtml", Model)    
</div>