
@{
    Layout = null;   
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script type="text/javascript">

    jQuery(document).ready(function () {
        
        $(".MO").click(function () {            
            if ($(".MO").is(":visible")) {
                $(".exceptions").show();
                $(".NO").show();
                $(".MO").hide();
           } 
        });

        $(".NO").click(function () {            
            if ($(".NO").is(":visible")) {
                $(".exceptions").hide();
                $(".NO").hide();
                $(".MO").show();
            } 
        });

        
    });
</script>


<body style="padding:20px;">
    <div style="text-align:right">
        <a href="javascript:window.history.back();">&laquo; Go back</a>
    </div>
    <div style="text-align:center;margin-top:45px;font-family:Arial;font-size:large">
        @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "" && ViewBag.ErrorType != "GeneralError")
        {           
             @ViewBag.ErrorMessage; 
            <br />
            <br />
             @ViewBag.ErrorSuggestion;
                <a href="mailto:convergencehelp@iadb.org" title="convergencehelp@iadb.org">convergencehelp@iadb.org</a>
        }
        else if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "" && ViewBag.ErrorType == "GeneralError")
        {
            <p style="font-size:25px">@ViewBag.ErrorMessage</p> 
            <br />           
            <p style="font-size:15px;margin-left:20px;margin-right:20px;">@ViewBag.ErrorSuggestion</p>       
        }
        else
        {
            <p>An error has occurred!</p>  
        }
    </div>
</body>

<br />
<br />
<br />

<div>
    <div style="text-align:right">
        <a href="#ref1" class='MO'>Show exception</a>
        <a href="#ref2" class='NO' style="display: none;">Hide exception</a>
    </div>
    <br />
    <br />
    <div id="div1" class="exceptions" style="display: none;">
        <b>Message:</b> 
        <div>@Model.Message</div>       
        <br />
        <b>Source:</b>        
        <div>@Model.Source</div>
        <br />
        <b>StackTrace:</b>
        <div>@Model.StackTrace</div>        
    </div>
</div>
