@using System.Configuration
@using IDB.Architecture
@using IDB.MW.Domain.Session
@using IDB.Architecture.Language
@{
    Layout = null;   
}
<html>
<head>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/navegacion.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/globalOverrides.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Messages/jquery_notification.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Index/IndexCustom.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/index.mock.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/correctBackground/correctBackground.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/MenuLateral.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Index/Index.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mainframe/reloadoperationsheader.js")"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            // Contadores de usuarios
            //idbUtil.loadUserCounter();
            // Contadores de operacion
            idbUtil.loadOperationCounter();

        });


        function closeNotification(duration) {
            var bodyElement = getParentBodyElement();
            var divHeight = $(bodyElement).find('div#info_message').height();
            setTimeout(function () {
                $(bodyElement).find('div#info_message').animate({
                    top: '-' + divHeight
                });
                // removing the notification from body
                setTimeout(function () {
                    $(bodyElement).find('div#info_message').remove();
                }, 200);
            }, parseInt(duration * 1000));
        }

        function getParentBodyElement() {
            var bodyElement;
            if (window.parent) {
                bodyElement = $(window.parent.document.body);
            }
            else {
                bodyElement = $(window.document.body);
            }
            return bodyElement;
        }


        (function (idbUtil, $, undefined) {
            var self = idbUtil;

            //URL base de MVC (Reemplazarla con los valores reales)
            var mvcUrl = '@IDB.Architecture.Globals.GetSetting("BasePath")';
            var userCounterUrl = mvcUrl + "/api/counter/GetByUser";
            var operationCounterUrl = mvcUrl + "/Global/OperationHeader/GetData";

            self.loadOperationCounter = function () {
                ReloadTheOperationsHeader();
            };

            self.getUrlVar = function (key) {
                var result = new RegExp(key + "=([^&]*)", "i").exec(window.location.search);
                return result && unescape(result[1]) || "";
            };
        }(window.idbUtil = window.idbUtil || {}, jQuery));

    </script>

    <title>IDB</title>

</head>

<body>
    <!-- TITULO PRINCIPAL PAGINA -->
    <h1 class="hide">BID</h1>
    <!-- CONTENEDOR PRINCIPAL -->
    <div class="contenedor_general layoutDosColsIzda">
        <div class="wrapper">
            <h2 class="hide">Header</h2>

        </div>
        <section class="wrapper">
            <!-- CABECERA -->
            <header id="HEADER_1">
                <h2 id="H2_2">
                    Cabecera
                </h2>
                <div id="DIV_3">
                    <div id="DIV_4">
                        <!-- Control MVC -->

                        <input type="hidden" name="ctl00$ctl20$SPUserTicket" id="INPUT_5" value="gajmhUIQlUJztz60EFTM4CFkzNTrPnFTpGO7o7wk7Bc=" />
                        <!-- Menu de Ajustes -->

                        <div id="DIV_6">
                            <a id="A_7"><img src="@Url.Content("~/Images/general/header/logobid.png")" id="IMG_8" alt='' /></a>
                        </div>
                        <!-- Fin Menu de Ajustes -->

                    </div>


                    <script type="text/javascript" id="SCRIPT_11">
                        var ucMvcUrl = 'http://optimamvc-d2.iadb.org:8080/';
                        var userNot = "everis10-idb";
                        var userAcc = "idb" + "\\" + userNot
                        var initialLanguage = 'en-US';
                        //var initialEmail = this._initialEmail;
                        var initialAnn = 'Y';
                        //var userEmailPrefProperty = this._userEmailPrefProperty;
                        var userAnnPrefProperty = 'Ann-Notification';
                        var userLanPrefProperty = 'SPS-MUILanguages';
                        var containsUserGroupAnn = '0';

                        $(document).ready(function () {
                            $('.mod_buscar').prepend($('#ctl00_SPSecurityTrimmedControl1'));

                            var $radios = $('input:radio[name*="uplanguage"]');
                            if ($radios.is(':checked') === false) {
                                $radios.filter('[value=' + initialLanguage + ']').prop('checked', true);
                            }

                            if (initialAnn == 'N')
                                $('#inputAnnCB').prop("checked", true);

                            //if (initialEmail == 'N')
                            //    $('#inputEmailCB').prop("checked", true);

                            if (containsUserGroupAnn == 1) {
                                if (_spPageContextInfo.currentCultureName.toLowerCase() == 'pt-br') {
                                    $('#adminPrefText').text('Links Administrativos');
                                    $('#addAnn_link').text('Novo Anúncio');
                                    $('#addAnn_link').attr('onclick', 'newAnnouncement()');
                                }
                                else if (_spPageContextInfo.currentCultureName.toLowerCase() == 'fr-fr') {
                                    $('#adminPrefText').text('Liens admin');
                                    $('#addAnn_link').text('Nouvelle annonce');
                                    $('#addAnn_link').attr('onclick', 'newAnnouncement()');
                                }
                                else if (_spPageContextInfo.currentCultureName.toLowerCase() == 'es-es') {
                                    $('#adminPrefText').text('Links administrativos');
                                    $('#addAnn_link').text('Nuevo Anuncio');
                                    $('#addAnn_link').attr('onclick', 'newAnnouncement()');
                                }
                                else {
                                    $('#adminPrefText').text('Admin links');
                                    $('#addAnn_link').text('New Announcement');
                                    $('#addAnn_link').attr('onclick', 'newAnnouncement()');
                                }
                            }
                            else {
                                $('#adminPrefText').hide();
                                $('#addAnn_link').hide();
                            }
                        });
                    </script>
                    <style type="text/css" id="STYLE_12">
                        .icono {
                            margin: 5px 5px 5px 5px;
                            float: left;
                            cursor: pointer;
                        }
                    </style>
                    <script type="text/javascript" id="SCRIPT_13">
                        function checkSymbols(source, arguments) {
                            arguments.IsValid = (!arguments.Value.match(">") && !arguments.Value.match("<"));
                        }
                    </script>

                    <div id="DIV_14">
                        <div id="DIV_15">
                            <a id="A_16">@IDBContext.Current.UserName</a>
                            <div id="DIV_17">
                                <div id="DIV_18">
                                    <div id="DIV_19">
                                        User Preferences
                                    </div>
                                    <div id="DIV_20">
                                        <ul id="UL_21">
                                            <li id="LI_22">
                                                <span id="SPAN_23">Language</span>
                                                <div id="DIV_24">
                                                    <span id="SPAN_25"><input id="INPUT_26" type="radio" name="ctl00$ctl22$uplanguage" value="en-US" /></span>English<br id="BR_27" /> <span id="SPAN_28"><input id="INPUT_29" type="radio" name="ctl00$ctl22$uplanguage" value="es-ES" /></span>Español<br id="BR_30" /> <span id="SPAN_31"><input id="INPUT_32" type="radio" name="ctl00$ctl22$uplanguage" value="fr-FR" /></span>Français<br id="BR_33" /> <span id="SPAN_34"><input id="INPUT_35" type="radio" name="ctl00$ctl22$uplanguage" value="pt-PT" /></span>Português<br id="BR_36" />
                                                </div>
                                            </li>
                                            <li id="LI_37">
                                                <span id="SPAN_38">Announcement Preferences</span>
                                                <div id="DIV_39">
                                                    <input id="INPUT_40" type="checkbox" value="ann" /><span id="SPAN_41">Do Not Display Announcements</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="DIV_42">
                                        <span id="SPAN_43"></span><a id="A_44" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="DIV_45">
                        </div>
                        <div id="DIV_46">
                            <a id="A_47" title="Feedback" href="http://idbnet.iadb.org/teamsites/Convergence/Lists/Contact%20Us/NewForm.aspx"></a><a id="A_48" title="Training" href="http://idbnet.iadb.org/teamsites/Convergence/Pages/Training-Manuals.aspx"></a><a id="A_49" title="Videos" href="http://idbnet.iadb.org/teamsites/Convergence/Pages/Videos.aspx"></a><a id="A_50" title="News" href="http://www.bing.com/news"></a>
                            <div id="DIV_51">
                                <a href="#" title="alarma" id="A_52"> <span id="SPAN_53">0</span></a>
                                <div id="DIV_54">
                                    <div id="DIV_55">
                                        Notifications
                                    </div>
                                    <div id="DIV_56">
                                        <ul id="UL_57"></ul>
                                    </div>
                                    <div id="DIV_58">
                                        <a id="A_59" href="#">Show All</a>
                                    </div>
                                </div>
                            </div>
                            <div id="DIV_60">
                                <a href="#" title="tick" id="A_61"> <span id="SPAN_62">0</span></a>
                                <div id="DIV_63">
                                    <div id="DIV_64">
                                        Tasks
                                    </div>
                                    <div id="DIV_65">
                                        <ul id="UL_66"></ul>
                                    </div>
                                    <div id="DIV_67">
                                        <a id="A_68" href="#">Show All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="DIV_69">

                        <label for="btnBuscar" id="LABEL_70">
                            <span id="SPAN_71">Search Button</span>
                            <input type="image" name="ctl00$ctl22$btnBuscar" id="INPUT_72" src="https://cnv-d.iadb.org/Style%20Library/Images/search-icon.png" />
                        </label>
                        <label for="buscarEmpleados" id="LABEL_73">
                            <span id="SPAN_74">Texto para buscar <span id="SPAN_75">Symbols &lt; and &gt; are not allowed</span></span>
                            <input name="ctl00$ctl22$txtTextoBusqueda" type="text" id="INPUT_76" placeholder="Search within operations ..." />
                        </label>
                    </div>
                    <!-- FIN Modulo de Buscador -->



                    <script type="text/javascript" id="SCRIPT_79">
                        $(document).ready(function () {
                            $("#aClose").click(function () {
                                setCookie("ann-sp", "R");
                                $("#announcementsPreviewPanel").hide();

                                if ($('#ann_dnd').is(':checked')) {
                                    $('#inputAnnCB').prop("checked", true);
                                    saveUserPreferences();
                                }
                                else {
                                    $('#inputAnnCB').prop("checked", false);
                                    saveUserPreferences();
                                }
                                return false;
                            });

                            $("#aRead").click(function () {
                                $('#basic-modal-content').modal();
                                return false;
                            });

                            $("#closeAnnPanel").click(function () {
                                setCookie("ann-sp", "R");
                                $("#announcementsPreviewPanel").hide();
                                UpdateUserProfileProp(AnnProperty, AnnValue, userAcc);

                                if ($('#ann_panel_dnd').is(':checked')) {
                                    $('#inputAnnCB').prop("checked", true);
                                    saveUserPreferences();
                                }
                                else {
                                    $('#inputAnnCB').prop("checked", false);
                                    saveUserPreferences();
                                }

                                $.modal.close();
                                return false;
                            });

                            $('.ann_menu').click(function () {
                                var str = $(this).attr('id');
                                menuAnnManagement(str.split('-')[1]);
                                return false;
                            });

                            $('.ann_menu_impar').click(function () {
                                var str = $(this).attr('id');
                                menuAnnManagement(str.split('-')[1]);
                                return false;
                            });
                        });

                        function menuAnnManagement(number) {
                            $('.ann_body').hide();
                            var idActivo = $('.ann_activo').attr('id').split('-')[1];
                            if (idActivo % 2 == 0)
                                $('.ann_activo').attr('class', 'ann_menu');
                            else
                                $('.ann_activo').attr('class', 'ann_menu_impar');

                            $('.ann_activo').removeClass('ann_activo');
                            $('#div_menu-' + number).attr('class', 'ann_menu ann_activo');
                            $('.ann_body').attr('class', 'ann_body_hide');
                            $('#div_body-' + number).attr('class', 'ann_body');
                            $('#div_body-' + number).show();
                        }
                    </script>
                    <div id="DIV_80">
                        <div id="DIV_81">
                            <div id="DIV_82">
                                <span id="SPAN_83">test</span> <span id="SPAN_84">6/30/2015</span>
                            </div>
                            <div id="DIV_85">
                                <span id="SPAN_86">Blake Test</span><span id="SPAN_87">5/31/2015</span>
                            </div>
                            <div id="DIV_88">
                                <span id="SPAN_89">Blake Test</span><span id="SPAN_90">6/28/2015</span>
                            </div>
                            <div id="DIV_91">
                                <span id="SPAN_92">Blake Test</span><span id="SPAN_93">6/30/2015</span>
                            </div>
                        </div>
                        <div id="DIV_94">
                            <div id="DIV_95">
                                <div id="DIV_96">
                                    <span id="SPAN_97"><span id="SPAN_98">test</span> <span id="SPAN_99">6/30/2015</span></span>
                                </div>
                                <div id="DIV_100">
                                    <span id="SPAN_101"></span>
                                    <div id="DIV_102">
                                        <p id="P_103">
                                            ​test
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="DIV_104">
                                <div id="DIV_105">
                                    <span id="SPAN_106"><span id="SPAN_107">Blake Test</span><span id="SPAN_108">5/31/2015</span></span>
                                </div>
                                <div id="DIV_109">
                                    <span id="SPAN_110"></span>
                                    <div id="DIV_111">
                                        <p id="P_112">
                                            ​Blake Test
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="DIV_113">
                                <div id="DIV_114">
                                    <span id="SPAN_115"><span id="SPAN_116">Blake Test</span><span id="SPAN_117">6/28/2015</span></span>
                                </div>
                                <div id="DIV_118">
                                    <span id="SPAN_119"></span>
                                    <div id="DIV_120">
                                        <p id="P_121">
                                            ​Blake Test
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="DIV_122">
                                <div id="DIV_123">
                                    <span id="SPAN_124"><span id="SPAN_125">Blake Test</span><span id="SPAN_126">6/30/2015</span></span>
                                </div>
                                <div id="DIV_127">
                                    <span id="SPAN_128"></span>
                                    <div id="DIV_129">
                                        <p id="P_130">
                                            ​Blake Test
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="DIV_131">
                                <div id="DIV_132">
                                    <input name="ctl00$ctl23$ctl45" type="checkbox" id="INPUT_133" /><span id="SPAN_134">Do not display announcements</span>
                                </div>
                                <div id="DIV_135">
                                    <a href="#" id="A_136">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript" id="SCRIPT_137">
                        var AnnValue = '8'; var AnnProperty = 'Ann-ID'; var AnnPrefValue = 'Y'; var AnnPrefProperty = 'Ann-Notification';
                    </script>
                    <nav id="NAV_138">
                        <div id="DIV_139">
                            <div id="DIV_140">
                                <span id="SPAN_141">4 New Messages</span>
                            </div>
                            <div id="DIV_142">
                                <div id="DIV_143">
                                    <a id="A_144" href="#">Close</a><a id="A_145" href="#">Read</a>
                                </div>
                                <div id="DIV_146">
                                    <input name="ctl00$ctl23$ctl59" type="checkbox" id="INPUT_147" /><span id="SPAN_148">Do not display announcements</span>
                                </div>
                            </div>
                        </div>
                        <ul id="UL_149">
                            <li id="LI_150">
                                <a href="#" id="A_151">Workspace</a>

                            </li>
                            <li id="LI_163" class="selected">
                                <a href="#" id="A_164">Operations</a>

                            </li>
                            <li id="LI_174">
                                <a href="/Map/index" id="A_175">Map</a>
                            </li>
                        </ul>
                        <div id="DIV_179">

                            <ul class="level_2">
                                <li class="item_level_2 sel">
                                    <a href="@Url.Action("Index", "Search")" title="Browse operations" target="someFrame">@Localization.GetText("Browse")</a>
                                </li>
                                <li class="item_level_2">
                                    <a href="#" title="My operations">@Localization.GetText("Reports")</a>
                                </li>
                                <li class="item_level_2">
                                    <a href="#" title="My operations">@Localization.GetText("Stats")</a>
                                </li>
                                <li class="item_level_2">
                                    <a href="javascript:void(0);" title="Dashboards" id="DashboardsLinkContent">@Localization.GetText("Dashboard")</a>
                                </li>
                            </ul>




                        </div>
                    </nav>
                </div>
                <!-- Ribbon -->

                <div id="DIV_181">
                </div>
                <div id="DIV_182">
                    <div id="DIV_183">
                        <div id="DIV_184">
                            <div id="DIV_185">
                                <div id="DIV_186">
                                    <div id="DIV_187">
                                        <div id="DIV_188">
                                        </div>
                                        <div id="DIV_189">
                                            <div id="DIV_190">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- "s4-ribboncont -->
                            <span id="SPAN_191"><span id="SPAN_192"></span></span>
                        </div>
                        <!-- ribbonBox -->

                        <div id="DIV_193">
                            <div id="DIV_194">
                                <div id="DIV_195">
                                    <span id="SPAN_196"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- globalNavBox -->

                </div>
                <!-- s4-ribbonrow -->
                <!-- Fin Ribbon -->
                <!-- aqui va el menu de la operacion -->

            </header>

            <div id="DIV_1">
                <h3 id="H3_2">
                    Operations data
                </h3>
                <div class="ulPrincipalContenidoHeader row" id="ulContenidoPrincipal">
                    <div class="tituloContenidoHeader col-md-2">
                        <p id="operationNumberP">@ViewBag.OperationNUmber</p>
                    </div>
                    <div class="liUnoContenidoHeader col-md-2">
                        <p id="opHeaderDesc">Loading...</p>
                    </div>
                    <div class="liDosContenidoHeader col-md-2">
                        <span>@Localization.GetText("Loan(s)")</span><br />
                        <p id="opHeaderLoans"></p>
                    </div>
                    <div class="liDosContenidoHeader col-md-2">
                        <span>@Localization.GetText("Overall stage")</span><br />
                        <p id="opHeaderStage"></p>
                    </div>
                    <div class="liDosContenidoHeader col-md-2">
                        <span>@Localization.GetText("Related operations")</span><br />
                        <p id="opHeaderRelated"></p>
                    </div>
                </div>
            </div>
            <div id="menu_secundarioDIV_1">
                <h3 id="menu_secundarioH3_2">
                    Operation actions
                </h3>
                <ul class="level_1" id="ulOperationDetails">
                    <li id="item_op_details" class="item_level_1 sel">
                        <a href="#" title="Operation details">@Localization.GetText("Operation details")</a>
                    </li>
                    <li class="item_level_1">
                        <span class="numero" data-counter="operation-workflow">0</span>
                        <a title="Workflows" href="@Url.Action("Index", "Workflows", new { area = "Global", operationNumber = (string)ViewBag.OperationNumber })" target="someFrame">@Localization.GetText("Workflows")</a>
                    </li>
                    <li class="item_level_1">
                        <span class="numero" data-counter="operation-task">0</span>
                        <a href="@Url.Action("Index", "Tasks", new { area = "Global", operationNumber = (string)ViewBag.OperationNumber })" title="Tasks" target="someFrame">@Localization.GetText("Tasks")</a>
                    </li>
                    <li class="item_level_1">
                        <span class="numero" data-counter="operation-notification">0</span>
                        <a href="@Url.Action("Index", "Notifications", new { area = "Global", operationNumber = ViewBag.OperationNumber })" target="someFrame">@Localization.GetText("Notifications")</a>
                    </li>
                    <li class="item_level_1">
                        <span class="numero" data-counter="operation-documents">0</span>
                        <a href="@Url.Action("Index", "Document", new { operationNumber = (string)ViewBag.OperationNumber, tabId = "localDocs" })" title="Documents" target="someFrame">@Localization.GetText("Documents")</a>
                    </li>
                </ul>
                <div id="menu_secundarioDIV_19">
                </div>
            </div>




            <section class="contenido" id="contenidoID">

                <div id="main_DIV_1">
                    <a id="main_A_2" name="mainContent" tabindex="-1"></a>
                    <div id="main_DIV_3">
                        <section id="main_SECTION_4">
                            <h2 id="main_H2_5">
                                Modulo de Contenido
                            </h2>
                            <!--SECCION IZQUIERDA-->

                            <section id="main_SECTION_6">
                                <h3 id="main_H3_7">
                                    Modulo izquierdo de menus
                                </h3>
                                <nav id="main_NAV_8">
                                    <h3 id="main_H3_9">
                                        Menu Lateral de contenidos
                                    </h3>
                                    <!-- Menu Lateral Lista desplegable -->


                                    <div id="main_DIV_11">
                                        <ul class="level1">
                                            <li class="item_level1"><a class="item_level1 pathlink" href="@Url.Action("Index", "Overview", new { area = "Overview", OperationNumber = ViewBag.OperationNUmber })" target="someFrame" title="Overview"><span>@Localization.GetText("Overview")</span></a></li>
                                            <li class="item_level1"><a class="item_level1 pathlink" href="@Url.Action("Index", "activityplan", new { area = "casemanager", OperationNumber = ViewBag.OperationNUmber })" target="someFrame" title="Overview"><span>@Localization.GetText("Case Manager")</span></a></li>
                                            <li class="item_level1_desp">
                                                <a class="itemSlider" href="javascript:void(0);" title="Operation Profile"><span>@Localization.GetText("Operation Profile")</span></a>
                                                <ul class="level2">
                                                    <li><a href="@Url.Action("Index", "BasicData", new { area = "OperationProfile", OperationNumber = ViewBag.OperationNUmber })" target="someFrame" title="Basic Data"><span>@Localization.GetText("Basic Data")</span></a></li>
                                                    <li><a href="@Url.Action("Index", "EnvironmentalAndSocialImpactaData", new { area = "OperationProfile", OperationNumber = ViewBag.OperationNUmber })" target="someFrame" title="Enviroments and social data"><span>@Localization.GetText("Enviroments and social data")</span></a></li>
                                                    <li><a href="@Url.Action("Index", "EventsData", new { area = "OperationProfile", OperationNumber = ViewBag.OperationNUmber })" target="someFrame" title="Events data"><span>@Localization.GetText("Events data")</span></a></li>
                                                    <li><a href="@Url.Action("Index", "FinancingData", new { area = "OperationProfile", OperationNumber = ViewBag.OperationNUmber })" target="someFrame" title="Financing data"><span>@Localization.GetText("Financing data")</span></a></li>
                                                    <li><a href="@Url.Action("VPDetails", "VisualData", new { area = "Visualization" })" target="someFrame" title="Financing data"><span>@Localization.GetText("Map Operation")</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="item_level1_desp">
                                                <a class="itemSlider" href="javascript:void(0);" title="Results"><span>@Localization.GetText("Contracts And Agreements")</span></a>
                                                <ul class="level2">
                                                    <li>
                                                        <a href="@Url.Action("Index", "Contracts", new
                                                             {
                                                                 area = "Clauses",
                                                                 OperationNumber = ViewBag.OperationNUmber
                                                             })" title="Contract and Clauses" target="someFrame">
                                                            <span>@Localization.GetText("Contract and Clauses")</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "Agreements", new
                                                            {
                                                                area = "Agreements",
                                                                OperationNumber = ViewBag.OperationNUmber
                                                            })" title="Agreements and Conditions" target="someFrame">
                                                            <span>@Localization.GetText("Agreements and Conditions")</span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="item_level1_desp">
                                                <a class="itemSlider" href="javascript:void(0);" title="Results"><span>@Localization.GetText("Results Matrix")</span></a>
                                                <ul class="level2">
                                                    <li>
                                                        <a href="@Url.Action("Index", "Impacts", new
                                                          {
                                                              area = "ResultsMatrix",
                                                              OperationNumber = ViewBag.OperationNUmber
                                                          })" target="someFrame"><span>@Localization.GetText("Impacts")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "Outcomes", new
                                                          {
                                                              area = "ResultsMatrix",
                                                              OperationNumber = ViewBag.OperationNUmber
                                                          })" title="Outcomes" target="someFrame"><span>@Localization.GetText("Outcomes")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("IndexPhysicalProgress", "Outputs", new
                                                          {
                                                              area = "ResultsMatrix",
                                                              OperationNumber = ViewBag.OperationNUmber
                                                          })" target="someFrame" title="Outputs"><span>@Localization.GetText("Outputs")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "ChangeMatrix", new
                                                          {
                                                              area = "ResultsMatrix",
                                                              OperationNumber = ViewBag.OperationNUmber
                                                          })" target="someFrame" title="Changes to the matrix"><span>@Localization.GetText("Changes to the matrix")</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="item_level1_desp">
                                                <a class="itemSlider" href="javascript:void(0);" title="Visualization"><span>Visualization</span></a>
                                                <ul class="level2">

                                                    <li><a href="@Url.Action("IndexPictures", "MediaGallery", new { area = "Visualization", OperationNumber = ViewBag.OperationNUmber })" target="someFrame" title="Media Gallery"><span>@Localization.GetText("Media Gallery")</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="item_level1">
                                                <a href="@Url.Action("Index", "DisbursementProjections", new
                                                  {
                                                      area = "Disbursement",
                                                      OperationNumber = ViewBag.OperationNUmber
                                                  })" target="someFrame" title="Disbursement"><span>@Localization.GetText("Disbursement projection")</span></a>
                                            </li>

                                            <li class="item_level1_desp">
                                                <a class="itemSlider" href="javascript:void(0);" title="Supervision"><span>Supervision</span></a>
                                                <ul class="level2">
                                                    <li><a href="@Url.Action("Summary", "SupervisionPlan", new { area = "SupervisionPlan", operationNumber = (string)ViewBag.OperationNUmber, year = DateTime.Today.Year })" target="someFrame" title="Outcomes"><span>@Localization.GetText("Supervision Plan")</span></a></li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "PMRLive", new
                                                         {
                                                             area = "PMI",
                                                             OperationNumber = ViewBag.OperationNUmber
                                                         })" target="someFrame" title="Impacts"><span>@Localization.GetText("PMI.Menu.MonitoringIndicatorsLive")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "StageFour", new
                                                         {
                                                             area = "PMI",
                                                             OperationNumber = ViewBag.OperationNUmber
                                                         })" target="someFrame" title="Impacts"><span>@Localization.GetText("PMI.Menu.MonitoringIndicatorsCycle")</span></a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="item_level1"><a href="@Url.Action("Index", "EvaluationTracking", new { area = "EvaluationTracking", OperationNumber = ViewBag.OperationNUmber })" target="someFrame" title="Evaluation Tracking"><span>@Localization.GetText("Evaluation Tracking")</span></a></li>

                                            <li class="item_level1"><a href="@Url.Action("Details", "OperationRisk", new { area = "Risks", OperationNumber = ViewBag.OperationNUmber })" target="someFrame" title="Risk"><span>@Localization.GetText("Risk")</span></a></li>
                                            <li class="item_level1">
                                                <a href="@Url.Action("Index", "FindingRecommendation", new
                                                  {
                                                      area = "TCM",
                                                      OperationNumber = ViewBag.OperationNUmber
                                                  })" target="someFrame" title="Findings and recommendations"><span>@Localization.GetText("Findings and recommendations")</span></a>

                                            </li>
                                            <li class="item_level1">
                                                <a href="@Url.Action("FinancialDataPreparation", "View", new
                                                  {
                                                      area = "OPUS",
                                                      OperationNumber = ViewBag.OperationNUmber
                                                  })" target="someFrame" title="Financial Data Preparation"><span>@Localization.GetText("Financial Data Preparation")</span></a>

                                            </li>

                                            <li class="item_level1_desp">
                                                <a class="itemSlider" href="javascript:void(0);" title="Reports"><span>@Localization.GetText("Reports")</span></a>
                                                <ul class="level2">
                                                    <li>
                                                        <a href="@Url.Action("PMROperationReportCreate", "PMROperationReport", new
                                                          {
                                                              area = "Reports",
                                                              ViewBag.OperationNumber
                                                          })" target="someFrame" title="PMR Operations"><span>@Localization.GetText("PMR Operations")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("PMRAggregateReportCreate", "PMRAggregateReport", new
                                                          {
                                                              area = "Reports"
                                                          })" target="someFrame" title="PMR Aggregate"><span>@Localization.GetText("PMR Aggregate")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "ClauseReport", new
                                                          {
                                                              area = "Reports",
                                                              ViewBag.OperationNumber
                                                          })" target="someFrame" title="Clause Report"><span>@Localization.GetText("Clause Report")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "ClauseExtensionReport", new
                                                          {
                                                              area = "Reports",
                                                              ViewBag.OperationNumber
                                                          })" target="someFrame" title="Clause History Report"><span>@Localization.GetText("Clause History Report")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Create", "RisksReport", new
                                                          {
                                                              area = "Reports",
                                                              ViewBag.OperationNumber
                                                          })" target="someFrame" title="Operation Risks Report"><span>@Localization.GetText("Operation Risks Report")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Create", "SupervisionPlanReport", new
                                                          {
                                                              area = "Reports",
                                                              ViewBag.OperationNumber
                                                          })" target="someFrame" title="Supervision Plan Report"><span>@Localization.GetText("Supervision Plan Report")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "PorfolioCountryStatus", new
                                                          {
                                                              area = "Reports"
                                                          })" target="someFrame" title="Porfolio Country Status"><span>@Localization.GetText("Porfolio Country Status")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("VisualizationReport", "Visualization", new
                                                          {
                                                              area = "Reports",
                                                              ViewBag.OperationNumber
                                                          })" target="someFrame" title="Visualization Operation Report"><span>@Localization.GetText("Visualization Operation Report")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Create", "VisualizationPorfolioReport", new
                                                          {
                                                              area = "Reports",
                                                              ViewBag.OperationNumber
                                                          })" target="someFrame" title="Visualization Porfolio Report"><span>@Localization.GetText("Visualization Porfolio Report")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "SupervisionPorfolioReport", new
                                                          {
                                                              area = "Reports"
                                                          })" target="someFrame" title="Supervision Porfolio Report"><span>@Localization.GetText("Supervision Porfolio Report")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Index", "CountryPortfolioStatusReport", new
                                                          {
                                                              area = "Reports",
                                                              Report = "PMR"
                                                          })" target="someFrame" title="Supervision Porfolio Report"><span>@Localization.GetText("Dashboard PMR")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("PMRAdministration", "PMROperationReport", new
                                                          {
                                                              area = "Reports"
                                                          })" target="someFrame" title="PMR Administration"><span>@Localization.GetText("PMR Administration")</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("PCRMonitoringReport", "PCRReport", new
                                                          {
                                                              area = "PCR"
                                                          })" target="someFrame" title="PCR Monitoring Report">
                                                            <span>
                                                                @Localization.GetText("PCR.MonitoringReport.Title")
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("MissionsReportFilter", "MissionsReport", new
                                                          {
                                                              area = "OpusMissions"
                                                          })" target="someFrame" title="Misssions Report">
                                                            <span>
                                                                @Localization.GetText("OP.MS.ReportFilter.MissionsReport")
                                                            </span>
                                                        </a>
                                                    </li>


                                                    <li>
                                                        <a href="@Url.Action("Index", "FindingRecomendationsReport", new
                                                          {
                                                              area = "Reports"
                                                          })" target="someFrame" title="Delay Achievements">
                                                            <span>@Localization.GetText("Delays in Achievement")</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("IndexReport", "FindingRecomendationsReport", new
                                                          {
                                                              area = "Reports"
                                                          })" target="someFrame title="Overall Project Management">
                                                            <span>@Localization.GetText("Overall Project Management")</span>
                                                        </a>
                                                    </li>


                                                </ul>
                                            </li>

                                            <li class="item_level1_desp">
                                                <a class="itemSlider" href="javascript:void(0);" title="Reports"><span>Administration</span></a>
                                                <ul class="level2">
                                                    <li><a href="@Url.Action("Index", "CloseOfPMRCycle", new { area = "Administration", OperationNumber = ViewBag.OperationNumber })" target="someFrame" title="PMR Operations"><span>Close of PMR Cycle</span></a></li>
                                                    <li><a href="@Url.Action("Index", "Search", new { area = "Search", keyword = "" })" target="someFrame" title="Browse"><span>Browser</span></a></li>

                                                    <li><a href="@Url.Action("Index", "PredefinedIndicators", new { area = "Administration" })" target="someFrame" title="PMR Operations"><span>Predefined Indicators</span></a></li>
                                                    <li><a href="@Url.Action("Index", "PMRPublic", new { area = "Administration" })" target="someFrame" title="PMR Public"><span>PMR Public</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="item_level1">
                                                <a href="@Url.Action("VisitsPlanSummary", "Visits", new { area = "Visits", operationNumber = (string)ViewBag.OperationNumber, year = DateTime.Today.Year }) " target="someFrame" title="Browse"><span>Visits</span></a>
                                            </li>
                                            <li class="item_level1">
                                                <a href="@Url.Action("Index", "ExecutorContact", new { area = "SignaturesAndContacts", OperationNumber = ViewBag.OperationNumber  })" target="someFrame" title="Browse"><span>Contacts</span></a>
                                            </li>
                                            <li class="item_level1">
                                                <a href="@Url.Action("IndexSignatures", "Signatures", new { area = "SignaturesAndContacts"})" target="someFrame" title="Browse"><span>Signature</span></a>
                                            </li>

                                            <li class="item_level1_desp">
                                                <a class="itemSlider" href="javascript:void(0);" title="Project Completion Report"><span>@Localization.GetText("Project Completion Report")</span></a>
                                                <ul class="level2">
                                                    <li>
                                                        <a href="@Url.Action("PCRSummary", "View", new
                                                         {
                                                             area = "PCR",
                                                              ViewBag.OperationNumber
                                                         })" target="someFrame" title="Summary"><span>Summary</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("PCRChecklist", "View", new
                                                         {
                                                             area = "PCR",
                                                              ViewBag.OperationNumber
                                                         })" target="someFrame" title="Checklist"><span>Checklist</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("PCRFollowUp", "View", new
                                                         {
                                                             area = "PCR",
                                                              ViewBag.OperationNumber
                                                         })" target="someFrame" title="Follow-up"><span>Follow-Up</span></a>
                                                    </li>
                                                </ul>
                                            </li>




                                            <li class="item_level1">
                                                <a class="itemSlider" href="javascript:void(0);" title="Funding Process"><span>Funding Process</span></a>
                                                <ul class="level2">
                                                    <li>
                                                        <a href="@Url.Action("Index", "Mock", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>Test Page</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("TCAbstract", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-001 TCAbstract</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ValidationTCAbstract", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-FP-002 Review TC Abstract</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ReviewTCAbstract", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-FP-003 Review Comments and Edit TC</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("NotifyFC", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-FP-004 Notify FC</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("PriorityTCAbstract", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-FP-005 (PriorityTCAbstract)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("FundCoordinatorTCAbstract", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-FP-006 (FundCoordinatorTCAbstract)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SingleWindowMeeting", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-007 SWMeeting</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SingleWindowOperations", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-008 SingleWindowOperations</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("DecisionSWOperation", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-009 DecisionSWOperation</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SingleWindowDecision", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-010 SingleWindowDecision</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("EligibilityDecision", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-FP-011 (EligibilityDecision)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ReviewPostValidation", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-012 ReviewPostValidation</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("DonorDecision", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-FP-013 Donor Decision</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ESCDecision", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-FP-014 ESC Decision</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("RequestIncrease", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-FP-016 RequestIncrease</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ReviewNotifyFC", "View", new
                                                     {
                                                         area = "TC",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-FP-017 Review NotifyFC</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Missions", "View", new
                                                     {
                                                         area = "OpusMissions",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>Mission</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="item_level1_desp">
                                                <a class="itemSlider" href="javascript:void(0);" title="Funding Process"><span>MR Blue</span></a>
                                                <ul class="level2">
                                                    <li>
                                                        <a href="@Url.Action("GeneralInformation", "GeneralInformation", new
                                                     {
                                                         area = "MrBlue",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-001 - General Information </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("StarDashboard", "Star", new
                                                     {
                                                         area = "MrBlue",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-002 - Star Dashboard </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SafeguardToolkitDashboard", "SafeguardToolkit", new
                                                     {
                                                         area = "MrBlue",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-003 - Safeguard Toolkit Dashboard </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("HighRiskDashboard", "HighRisk", new
                                                     {
                                                         area = "MrBlue",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-004 - High Risk Dashboard </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("IndicatorsDashboard", "Indicators", new
                                                     {
                                                         area = "MrBlue",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-005 - Indicators Dashboard </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SupervisionReportDashboard", "SupervisionReport", new
                                                     {
                                                         area = "MrBlue",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-006 - Supervision Report Dashboard </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ReportsCustomReport", "Report", new
                                                     {
                                                         area = "MrBlue",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-007 - Custom Report </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ReportsSafeguardReport", "Report", new
                                                     {
                                                         area = "MrBlue",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-008 - Safeguard Report </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ReportsESGReport", "Report", new
                                                     {
                                                         area = "MrBlue",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-009 - ESG Report </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ReportsESGDownloads", "Report", new
                                                     {
                                                         area = "MrBlue",
                                                         ViewBag.OperationNumber
                                                     })" target="someFrame" title="Summary">
                                                            <span>UI-010 - ESG Downloads </span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>


                                            <li class="item_level1_desp">
                                                <a class="itemSlider" href="javascript:void(0);" title="Indicators"><span>Indicators</span></a>
                                                <ul class="level2">
                                                    <li>
                                                        <a href="@Url.Action("IndicatorsPage", "Framework", new { area = "Indicators" })" target="someFrame" title="Results Framework Indicators">
                                                            <span>Results Framework Indicators</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("TemplatesPage", "Framework", new { area = "Indicators" })" title="Results Framework Templates" target="someFrame">
                                                            <span>Results Framework Templates</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("IndicatorsPage", "Country", new { area = "Indicators" })" target="someFrame" title="Country Indicators">
                                                            <span>Country Indicators</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("TemplatesPage", "Country", new { area = "Indicators" })" title="Country Templates" target="someFrame">
                                                            <span>Country Templates</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("IndicatorsPage", "Sector", new { area = "Indicators" })" target="someFrame" title="Sector Indicators">
                                                            <span>Sector Indicators</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("TemplatesPage", "Sector", new { area = "Indicators" })" title="Sector Templates" target="someFrame">
                                                            <span>Sector Templates</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("IndicatorsPage", "Standardized", new { area = "Indicators" })" target="someFrame" title="Standardized Outputs Indicators">
                                                            <span>Standardized Outputs Indicators</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("TemplatesPage", "Standardized", new { area = "Indicators" })" title="Standardized Outputs Templates" target="someFrame">
                                                            <span>Standardized Outputs Templates</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- FIN Menu Lateral Lista desplegable -->

                                </nav>
                            </section>
                            <!--FIN SECCION IZQUIERDA-->
                            <!--SECCION CENTRAL-->

                            <section id="main_SECTION_108">
                                <div id="main_DIV_109">
                                    <h3 id="main_H3_110">
                                        Contenido Principal
                                    </h3>
                                    <div id="main_DIV_111">
                                        <div id="main_DIV_112">
                                            <div id="main_DIV_113">
                                                <div id="main_DIV_114">
                                                    <div id="main_DIV_115">
                                                        <div id="main_DIV_116">
                                                            <iframe name="someFrame" style="width: 100%; height:2755px;" scrolling="no" src="@Url.Action("Index", "Overview", new { area = "Overview", OperationNumber = ViewBag.OperationNUmber })"></iframe>
                                                        </div>
                                                    </div>
                                                    <div id="main_DIV_118">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--FIN SECCION CENTRAL-->

                        </section>
                        <!-- FIN CONTENIDO -->

                        <script type="text/javascript" id="main_SCRIPT_119">
                            // <![CDATA[

                            if (typeof (MSOLayout_MakeInvisibleIfEmpty) == "function") { MSOLayout_MakeInvisibleIfEmpty(); }// ]]>
                        </script>
                        <div id="main_DIV_120">
                            <menuitem id="main_IE:MENUITEM_122"></menuitem>
                            <menuitem id="main_IE:MENUITEM_123"></menuitem>
                            <menuitem id="main_IE:MENUITEM_124"></menuitem>
                            <menuitem id="main_IE:MENUITEM_125"></menuitem>
                            <menuitem id="main_IE:MENUITEM_126"></menuitem>
                            <menuitem id="main_IE:MENUITEM_127"></menuitem>
                            <menuitem id="main_IE:MENUITEM_128"></menuitem>
                            <menuitem id="main_IE:MENUITEM_129"></menuitem>
                            <menuitem id="main_IE:MENUITEM_130"></menuitem>
                            <menuitem id="main_IE:MENUITEM_131"></menuitem>
                        </div>
                    </div>
                </div>

            </section>


            <footer class="pie">
                @* Render Layout Footer Version *@
                @*@{ Html.RenderAction("RenderFooter", "Home"); }*@
            </footer>
            <!--FIN FOOTER -->
        </section>
    </div>
    <!-- FIN CONTENEDOR PRINCIPAL -->

    <script type="text/javascript">
        $('ul.level1 li > a').bind('click', function (evt) {
            $(this).next().toggle();
        });

        $('#main_DIV_11 li a').bind('click', function () {
            $('#main_DIV_11 li a').removeClass('active');
            $(this).addClass('active');
        });
    </script>

</body>


</html>
