@using IDB.MW.Application.CPDModule.ViewModels.CountryProgram
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration

@model StrategicAligmentDEMViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatPercentage = appSettings.FormatPercent;
    var formatDecimal = appSettings.FormatDecimal;
    var operationYear = Model.OperationYear;

    var config = Html.RenderDataTable(Model.StrategicAlignmentCPDToCSs.ToList());
    config.TableClass = "tableNormal";
    config.Name("StrategicAlignmentCPDToCSs")
    .PrimaryKey(m => m.RowId.ToString())
    .AddPrimaryKeyToName(false)
    .UseDataTableNet(false)
    .UsePageMode(false)
    .Columns(columns =>
    {
        columns.Template(c => ColumnRowTitle(c))
        .Header(Localization.GetText("CPD.CountryProgram.StrategicAligment.TableHeader.StrategicAlignment"))
        .CssClassDynamic(c => GetRowShadow(c))
        .Persistent();

        columns.Template(c => ColumnPercentage(c))
        .Header(Localization.GetText("CPD.CountryProgram.StrategicAligment.TableHeader.Percentage"))
        .CssClassDynamic(c => GetRowShadow(c))
        .CssClass("textalign-right w120")
        .Persistent();

        columns.Template(c => ColumnQuantity(c))
        .Header(Localization.GetText("CPD.CountryProgram.StrategicAligment.TableHeader.NumberOfOperationAligned"))
        .CssClassDynamic(c => GetRowShadow(c))
        .CssClass("textalign-right w300")
        .Persistent();

        columns.Template(c => ColumnTotalQuantity(c))
        .Header(Localization.GetText("CPD.CountryProgram.StrategicAligment.TotalNumberOfOperation"))
        .CssClassDynamic(c => GetRowShadow(c))
        .CssClass("textalign-right w300")
        .Persistent();
    });
}

@Html.Partial("Controls/DataTable", config)

@helper ColumnRowTitle(DEMSummaryRowViewModel row)
{
    if (row.IsBold)
    {
           @Confluence.LabelBold(row.Name)
    }
    else
    {
           @Confluence.Label(row.Name)
    }
}

@helper ColumnPercentage(DEMSummaryRowViewModel row)
{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatPercentage = appSettings.FormatPercent;
    var value = row.Percentage != null ? row.Percentage / 100 : row.Percentage;
    
    if (!row.IsBold)
    {
        @FormatHelper.Format(value, formatPercentage);
    }
}

@helper ColumnQuantity(DEMSummaryRowViewModel row)
{
    if (!row.IsBold)
    {
        <div>@row.Quantity</div>
    }
}

@helper ColumnTotalQuantity(DEMSummaryRowViewModel row)
{
    if (!row.IsBold)
    {
        <div>@row.TotalQuantity</div>
    }
}

@functions{
    private static string GetRowShadow(DEMSummaryRowViewModel row)
    {
        var cssClass = string.Empty;

        if (row.IsSection)
        {
            cssClass = "rowShadow";
        }

        if (row.IsBold)
        {
            if (cssClass == string.Empty)
            {
                cssClass = "rowBold";
            }
            else
            {
                cssClass = cssClass + " rowBold";
            }
        }

        return cssClass;
    }   
}