@using IDB.Architecture.Language
@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers

@model TCAbstractViewModel

<div data-name="lesson-learned-section">
    <div class="row row-header font-header">
        <div class="col-md-12">
            @Localization.GetText("TC.TCAbstract.LessonLearned.DecisionText").HtmlEncode()
            <span class="asteriskColor">*</span>
        </div>
    </div>
    <div class="row row-body-40 font-body" data-pagemode="read">
        <div class="col-md-12 radio-right-text">
            @ControlTemplates.InputRadioButtonNew(
                "true",
                "lessonLearnedTypeDis",
                disabled: true,
                required: false,
                isChecked: (Model.IsLessonLearned ?? false),
                label: Localization.GetText("TC.TCAbstract.LessonLearned.Yes"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                "false",
                "lessonLearnedTypeDis",
                disabled: true,
                required: false,
                isChecked: !(Model.IsLessonLearned ?? false),
                label: Localization.GetText("TC.TCAbstract.LessonLearned.No"),
                isDisplayBlock: true)
        </div>
    </div>
    <div class="row row-body-40 font-body" data-pagemode="edit">
        <div class="col-md-12 radio-right-text">
            @ControlTemplates.InputRadioButtonNew(
                "true",
                "lessonLearnedType",
                disabled: false,
                required: false,
                isChecked: (Model.IsLessonLearned ?? false),
                label: Localization.GetText("TC.TCAbstract.LessonLearned.Yes"),
                dataAttributes: new Dictionary<string, string> { { "id", "lessonLearnedYes" } },
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                "false",
                "lessonLearnedType",
                disabled: false,
                required: false,
                isChecked: !(Model.IsLessonLearned ?? false),
                label: Localization.GetText("TC.TCAbstract.LessonLearned.No"),
                dataAttributes: new Dictionary<string, string> { { "id", "lessonLearnedNo" } },
                isDisplayBlock: true)
        </div>
    </div>
    <div data-name="lessonLearnedExplainPanel">
        <div class="row row-header font-header">
            <div class="col-md-12">
                @Localization.GetText("TC.TCAbstract.LessonLearned.Description").HtmlEncode()
                <span class="asteriskColor">*</span>
            </div>
        </div>
        <div class="row row-body-40 font-body">
            <div class="col-md-12">
                <span data-pagemode="read">
                    @Model.DescriptionLesson.HtmlEncode()
                </span>
                <div data-pagemode="edit">
                    @ControlTemplates.InputTextArea(
                        Model.DescriptionLesson,
                        "lessonLearnedExplain",
                        rows: 6,
                        required: true,
                        maxLength: 500,
                        dataAttributes: new Dictionary<string, string>
                        {
                            { "name", "lessonLearnedExplainPanel" },
                            { "parsley-required", "false" },
                            { "optional-required", "false" },
                            { "label", Localization.GetText("TC.TCAbstract.LessonLearned.Title") }
                        })
                </div>
            </div>
        </div>
    </div>
</div>