@using IDB.Architecture.Language
@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers

@model TCAbstractViewModel

<div data-name="sustainability-section">
    <div class="row row-header font-header">
        <div class="col-md-12">
            @Localization.GetText("TC.TCAbstract.Sustainability.DecisionText").HtmlEncode()
            <span class="asteriskColor">*</span>
            @Display.IconInformation()
            <span class="information">
                @Localization.GetText("TC.TCAbstract.Sustainability.Information").HtmlEncode()
            </span>
        </div>
    </div>
    <div class="row row-body-40 font-body" data-pagemode="read">
        <div class="col-md-12 radio-right-text">
            @ControlTemplates.InputRadioButtonNew(
                "true",
                "sustainabilityTypeDis",
                disabled: true,
                required: false,
                isChecked: (Model.IsSustainable ?? false),
                label: Localization.GetText("TC.TCAbstract.Sustainability.Yes"),
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                "false",
                "sustainabilityTypeDis",
                disabled: true,
                required: false,
                isChecked: !(Model.IsSustainable ?? false),
                label: Localization.GetText("TC.TCAbstract.Sustainability.No"),
                isDisplayBlock: true)
        </div>
    </div>
    <div class="row row-body-40 font-body" data-pagemode="edit">
        <div class="col-md-12 radio-right-text" data-pagemode="edit">
            @ControlTemplates.InputRadioButtonNew(
                "true",
                "sustainabilityType",
                disabled: false,
                required: false,
                isChecked: (Model.IsSustainable ?? false),
                label: Localization.GetText("TC.TCAbstract.Sustainability.Yes"),
                dataAttributes: new Dictionary<string, string> { { "id", "sustainabilityYes" } },
                isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(
                "false",
                "sustainabilityType",
                disabled: false,
                required: false,
                isChecked: !(Model.IsSustainable ?? false),
                label: Localization.GetText("TC.TCAbstract.Sustainability.No"),
                dataAttributes: new Dictionary<string, string> { { "id" , "sustainabilityNo" } },
                isDisplayBlock: true)
        </div>
    </div>
    <div data-name="sustainabilityExplainPanel">
        <div class="row row-header font-header">
            <div class="col-md-12">
                @Localization.GetText("TC.TCAbstract.Sustainability.Description")
                <span class="asteriskColor">*</span>
            </div>
        </div>
        <div class="row row-body-40 font-body">
            <div class="col-md-12">
                <span data-pagemode="read">
                    @Model.DescriptionSustainability.HtmlEncode()
                </span>
                <div data-pagemode="edit">
                    @ControlTemplates.InputTextArea(
                        Model.DescriptionSustainability,
                        "sustainabilityExplain",
                        rows: 6,
                        required: true,
                        maxLength: 500,
                        dataAttributes: new Dictionary<string, string>
                        {
                            { "name", "sustainabilityExplainPanel" },
                            { "parsley-required", "false" },
                            { "optional-required", "false" },
                            { "label", Localization.GetText("TC.TCAbstract.Sustainability.Title") }
                        })
                </div>
            </div>
        </div>
    </div>
</div>