@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers

@model string

@{
    var configurationServiceFactory = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var isTestCaseManagerAviable = configurationServiceFactory.TestCaseManagerAviable;
}

@if (isTestCaseManagerAviable)
{
    <div class="row mb50">
        <div class="col-md-12">
            @Confluence.LabelSubTitleGroup("Change Operation State")
        </div>
    </div>
    <div class="row mb40 ml10">
        Operation Number: @Confluence.InputText(string.Empty, name: "operationNumber", htmlClass: "ml20")
    </div>
    <div class="row mb60">
        <div class="col-md-12">
            @Confluence.ButtonWhite(Localization.GetText("Draft"), name: "draft")
            @Confluence.ButtonBlue(Localization.GetText("Under Preparation"), name: "preparation")
            @Confluence.ButtonBlue(Localization.GetText("Approved"), name: "approved")
            @Confluence.ButtonOrange(Localization.GetText("Expired"), name: "expired")
            @Confluence.ButtonOrange(Localization.GetText("Closed"), name: "closed")
            @Confluence.ButtonOrange(Localization.GetText("Cancelled"), name: "cancelled")
        </div>
    </div>
}
@section scripts{

    <script type="text/javascript">

        registerCallback(function () {

            var message = '@Model';

            if (message != '' && message != null) {
                showMessage(message);
            }

            $(document).on('click', '[name="draft"]', function (e) {
                var opNum = $('input[name="operationNumber"]').val();
                var state = $(this).attr('name');
                var url = '@Url.Action("ChangeState", "TestCaseManager", new { area = "CountryStrategy" })?opNum=' + opNum + '&state=' + state;
                window.location.assign(url);
            });

            $(document).on('click', '[name="preparation"]', function (e) {
                var opNum = $('input[name="operationNumber"]').val();
                var state = $(this).attr('name');
                var url = '@Url.Action("ChangeState", "TestCaseManager", new { area = "CountryStrategy" })?opNum=' + opNum + '&state=' + state;
                window.location.assign(url);
            });

            $(document).on('click', '[name="approved"]', function (e) {
                var opNum = $('input[name="operationNumber"]').val();
                var state = $(this).attr('name');
                var url = '@Url.Action("ChangeState", "TestCaseManager", new { area = "CountryStrategy" })?opNum=' + opNum + '&state=' + state;
                window.location.assign(url);
            });

            $(document).on('click', '[name="expired"]', function (e) {
                var opNum = $('input[name="operationNumber"]').val();
                var state = $(this).attr('name');
                var url = '@Url.Action("ChangeState", "TestCaseManager", new { area = "CountryStrategy" })?opNum=' + opNum + '&state=' + state;
                window.location.assign(url);
            });

            $(document).on('click', '[name="closed"]', function (e) {
                var opNum = $('input[name="operationNumber"]').val();
                var state = $(this).attr('name');
                var url = '@Url.Action("ChangeState", "TestCaseManager", new { area = "CountryStrategy" })?opNum=' + opNum + '&state=' + state;
                window.location.assign(url);
            });

            $(document).on('click', '[name="cancelled"]', function (e) {
                var opNum = $('input[name="operationNumber"]').val();
                var state = $(this).attr('name');
                var url = '@Url.Action("ChangeState", "TestCaseManager", new { area = "CountryStrategy" })?opNum=' + opNum + '&state=' + state;
                window.location.assign(url);
            });

        });

    </script>
}
