@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers

@model string

@{
    var configurationServiceFactory = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var isTestCaseManagerAviable = configurationServiceFactory.TestCaseManagerAviable;
}

@if (isTestCaseManagerAviable)
{
    <div class="row mb50">
        <div class="col-md-12">
            @Confluence.LabelSubTitleGroup("Fake Life Cycle")
        </div>
    </div>
    <div class="row mb20 ml10">
        Operation Number: @Confluence.InputText(string.Empty, name: "operationNumber", htmlClass: "ml20")
    </div>
    <div class="row mb60">
        <div class="col-md-12">
            @Confluence.ButtonBlue("Associate Template", name: "associateTemplate")
        </div>
    </div>
    <div class="row mb60">
        <div class="col-md-12">
            @Confluence.ButtonBlue("Preparation", name: "setPreparation")
            @Confluence.ButtonBlue("Approved", name: "setApproved")
            @Confluence.ButtonBlue("Expired", name: "setExpired")
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">

    registerCallback(function () {

        var message = '@Model';

        if (message != '' && message != null) {
            showMessage(message);
        }

        $(document).on('click', '[name="associateTemplate"]', function (e) {
            var opNum = $('input[name="operationNumber"]').val();
            var url = '@Url.Action("AssociateTemplate", "TestCaseManager", new { area = "CountryStrategy", operationNumber="_MIOPERATION_" })';
                url = url.replace('_MIOPERATION_', opNum);
                window.location.assign(url);
            });
            $(document).on('click', '[name="setPreparation"]', function (e) {
                var opNum = $('input[name="operationNumber"]').val();
                var url = '@Url.Action("SetPreparationStage", "TestCaseManager", new { area = "CountryStrategy", operationNumber="_MIOPERATION_" })';
                url = url.replace('_MIOPERATION_', opNum);
                window.location.assign(url);
            });
            $(document).on('click', '[name="setApproved"]', function (e) {
                var opNum = $('input[name="operationNumber"]').val();
                var url = '@Url.Action("SetApprovedStage", "TestCaseManager", new { area = "CountryStrategy", operationNumber = "_MIOPERATION_" })';
                url = url.replace('_MIOPERATION_', opNum);
                window.location.assign(url);
            });
            $(document).on('click', '[name="setExpired"]', function (e) {
                var opNum = $('input[name="operationNumber"]').val();
                var url = '@Url.Action("SetExpiredStage", "TestCaseManager", new { area = "CountryStrategy", operationNumber="_MIOPERATION_" })';
                url = url.replace('_MIOPERATION_', opNum);
                window.location.assign(url);
            });

        });

    </script>
}
