@model IDB.MW.Domain.Models.Global.OperationsViewModel

@section CSS {
    <link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Modules/Globals/globals.css")" rel="stylesheet" />
    @Styles.Render("~/Content/NewConfluence/Generic.css")
    @Styles.Render("~/Content/NewConfluence/Button.css")
    @Styles.Render("~/Content/NewConfluence/Label.css")
    @Styles.Render("~/Content/NewConfluence/Table.css")
    @Styles.Render("~/Content/NewConfluence/Input.css")
    @Styles.Render("~/Content/NewConfluence/Icon.css")
    @Styles.Render("~/Content/NewConfluence/Other.css")
    @Styles.Render("~/Content/NewConfluence/Legacy.css")

    <style type="text/css">
        .dropdown {
            position: relative;
            box-sizing: border-box;
        }

        .btn-default {
            background-color: #fff;
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

            .btn .caret {
                margin-left: 0;
            }

        .open > .dropdown-menu {
            display: block;
        }

        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px solid;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }

        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            text-decoration: none;
            white-space: nowrap;
        }

        .k-grid-header .k-header {
            overflow: hidden;
            border-style: solid;
            border-width: 0 0 1px 1px;
            padding: .5em .6em .4em .6em;
            font-weight: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            background-color: #264a7f;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

            .k-grid-header .k-header .k-link {
                display: block;
                min-height: 18px;
                line-height: 18px;
                margin: -0.5em -0.6em -0.4em -0.6em;
                padding: .5em .6em .4em .6em;
            }

        .buttonOrange {
            border-radius: 10px;
            width: auto;
            padding: 12px 15px;
            min-width: 105px;
            font-family: 'OpenSans-Semibold';
            font-size: 14px;
            color: #fff;
            text-align: center;
            background-color: #e19c23;
            border: none;
            text-shadow: 2px 2px #bc7700;
        }

            .buttonOrange:hover {
                background-color: #ba7719;
                color: #fff;
            }

            .buttonOrange:active {
                background-color: #73440f;
            }
    </style>
}
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Global/global.js")"></script>

@section JavaScript
{
    <script type="text/javascript" src=@Url.Content("~/Scripts/framework.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/globalObjects.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/bootstrap.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/General.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Input.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Table.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Other.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Pluging.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Legacy.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Scripts/loadingLayout.js")></script>

    <script type="text/javascript">
        var take = 5;
        runCallbacks();
        
        $(document).ready(function () {          

            $("#comboTotalDisplayed").kendoDropDownList({                
                change: function () {
                    $('#main-operations-grid').data("kendoGrid").dataSource.pageSize(parseInt(this.value()));
                }
            });

            $("#btnShowFilters").click(function () {
                $("#filterValue").focus();
            });

            $("#btnShowFilters").click(function () {
                if ($("#divFilters").css('display') === 'none')
                    $("#divFilters").css('display', 'block');
                else {
                    $("#divFilters").css('display', 'none');
                    $("#filterValue").val("");
                }
            });

            $("#btnFilterGrid").click(function () {
                make_filter("#main-operations-grid");
            });

            $("#clearBtn").click(function e() {
                $('#frmFilterMyOperations')[0].reset();
                make_filter("#main-operations-grid");
            });

            $('[name="comboTotalDisplayed"]').closest('div.dropdown').find('a').click(function () {
                var grid = $("#main-operations-grid").data("kendoGrid");
                grid.dataSource.pageSize(parseInt($(this).attr("dd-value")));
            });

            cleanOperations();
            idbNotificationList.init();
        });

        

        (function (idbNotificationList, $, undefined) {
            idbNotificationList.init = function () {
                $('#main-operations-grid').kendoGrid({
                    columns: [
                        {
                            field: "OperationNumber",
                            title: "@Localization.GetText("Number")",
                            filterable: true,
                            width: 100
                        },
                        {
                            field: "OperationName",
                            template: ' <a href="#=OperationUrl#" target="_parent">#=OperationName#</a>',
                            title: "@Localization.GetText("Operation")",
                            filterable: true,
                            width: 200
                        },
                        {
                            field: "Loans",
                            title: "@Localization.GetText("Contract(s)")",
                            filterable: true,
                            width: 100
                        },
                        {
                            field: "TeamLeader",
                            title: "@Localization.GetText("Team Leader")",
                            width: 200
                        },
                        {
                            field: "OrganizationUnit",
                            title: "@Localization.GetText("Organization Unit")",
                            width: 200
                        },
                        {
                            field: "OverAllStage",
                            title: "@Localization.GetText("Overall Stage")",
                            width: 120
                        },
                        {
                            field: "ApprovalDate",
                            title: "@Localization.GetText("Approval Date")",
                            template: "#= kendo.toString(kendo.parseDate(ApprovalDate, 'dd-MMM-yyyy'), 'dd-MMM-yyyy') #",
                            width: 120
                        }
                    ],
                    dataBound: updateTotalOperations,
                    dataBinding: onDataBinding,
                    pageable: {
                        pageSize: take,
                        info: false,
                        previousNext: false,
                        messages: {
                            display: "",
                            first: "",
                            previous: "",
                            next: "",
                            last: "",
                            refresh: ""
                        }
                    },
                    sortable: true,
                    dataSource: {
                        transport: {
                            read: {
                                url: '@this.Url.Action("GetData", "Operations", new { area = "Global"})',
                                dataType: "json",
                                type: "POST"
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            model: {
                                fields: {
                                    'OperationNumber': { type: "string" },
                                    'OperationName': { type: "string" },
                                    'Loans': { type: "string" },
                                    'TeamLeader': { type: "string" },
                                    'OrganizationUnit': { type: "string" },
                                    'OverAllStage': { type: "string" },
                                    'ApprovalDate': { type: "date" },
                                    'OperationUrl': { type: "string" }
                                }
                            }
                        }
                    }
                });
                $('.k-loading-mask').hide();
            };
        }(window.idbNotificationList = window.idbNotificationList || {}, jQuery));

        function onDataBinding() {
            setTimeout(function () {
                initReziseCloud();
            }, 1000);            
        }

      
        
    </script>

}

<div class="padding20 " id="task_grid_holder">
    <div class="mod_contenido_central generic_tasks">
        <div class="mod_style mod_style_plegable" style="width: 95%">
            <div class="relative">
                <div class="inline-block verticalAlignMiddle" id="notificationQty">@ViewBag.TotalOperations</div>
                <h3 class="font2em inline-block verticalAlignMiddle leftMargin10">@Localization.GetText("MY OPERATIONS")</h3>
            </div>
            <!-- descomentar al pasar a produccion@if (IDBContext.Current.HasPermission(Permission.EARLY_ADOPTER_WRITE))
            {-->
            <span style="float: right">
                <a href="@Url.Action("CreateCreationForm", "View", new {Area = "OPUS"})" class="buttonOrange" style="min-height: 28px !important;">@Localization.GetText("OP.CR.MyOperation.NewOperation")</a>
            </span>
            <!--}-->
            <div class="verticalMargin20">
                <span class="disabledColor">@Localization.GetText("Last viewed")</span>
            </div>
            <div class="box-list">
                <ul>
                    @foreach (var operation in Model.LastViewed)
                    {
                        <li>
                            <h2>@operation.OperationNumber</h2>
                            <div>
                                <a href="@operation.OperationUrl" target="_parent">@operation.OperationName</a>
                            </div>
                            <div class="js-operationStr bottom">@string.Join(",", operation.Loans)</div>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
    @if (Model.IsGlobal)
    {
        <div class="mod_contenido_central generic_tasks">
            <div class="filterNormal" style="display: block; width: initial;">
                <div class="informationplace">
                    <div class="icoInformation"></div>
                    <div class="information-text">
                        @Localization.GetText("OP.ISGlobal")
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="mod_style mod_style_plegable" style="width: 95%">


        <div class="mod_style mod_style_plegable" style="width: 100%">
            <a href="javascript:void(0)" class="btn-primary filter-clauses" style="min-height: 28px !important;" title="@Localization.GetText("Filter")" id="btnShowFilters">@Localization.GetText("Filter")</a>
            <!--<input type="text" placeholder="@Localization.GetText("Operation number, operation name or loan")" id="filter" class="inputBoderleftAlign boldFont horizontalPadding5"/>-->
            <!--<input type="button" value="@Localization.GetText("Filter")" onclick="javascript: make_filter()" class="button blueButton"/>-->
            @Html.Partial("~/Areas/Global/Views/Shared/DefaultFilter.cshtml")
        </div>
        <div class="mod_style mod_style_plegable" style="width: 100%">
            <div class="inline-block">                    
                <select id="comboTotalDisplayed" class="optionSelect convergence-kendo-ddl">
                    <option value="5" selected>@Localization.GetText("5 Displayed")</option>
                    <option value="10">@Localization.GetText("10 Displayed")</option>
                    <option value="15">@Localization.GetText("15 Displayed")</option>
                    <option value="20">@Localization.GetText("20 Displayed")</option>
                </select>
            </div>
        </div>
        <table class="mod_style_plegable sortable" style="width: 100%" id="main-operations-grid"></table>
    </div>  
</div>
