@using IDB.MW.Domain.Session

@model IDB.MW.Application.Agreements.ViewModel.ConditionFinalStatusValidationRequestViewModel

@{
    ViewBag.Title = "ConditionFinalStatusValidationRequestDetails";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/ui_fi_004_edit.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Agreements/conditionLetterCss.css")" />

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Document/addDocument.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Global/GlobalScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/main.js")"></script>

<h2 class="hide">Seccion central</h2>
<section class="central">
    <script>
        $(document).ready(function () {
            $('.btn-primary').click(function () {
                var url = $(this).data('url');
                if (!url || url == undefined) {
                    return;
                }
                url += '&additionalValidators=' + $('#validator_list_additional_list').val();
                document.location.href = url;
            });
        });
    </script>
    <div class="mod_contenido_central generic_tasks">
        <h3 class="headingh2">
            <a href="@(
                Url.Action(
                       "Details",
                       "Conditions",
                       new
                       {
                           area = "Agreements",
                           Model.OperationId,
                           Model.AgreementId,
                           Model.ConditionId,
                           Model.ConditionIndividualId
                       }))"
               title="@Localization.GetText("PSG.Condition.Details")"
               class="tipo1">
                @Localization.GetText("PSG.Condition.Details")
            </a>
        </h3>
        <div class="operationData">
            <div class="box_subtitle">
                <h4 class="headingh2 title_tag">@Localization.GetText("PSG.Condition.Approval.Request")</h4>
                <div class="editingButtonsEdit up">
                </div>
            </div>
        </div>
        <h3 class="hide">Contenido central</h3>
        <div class="operationData dataDetails marginTop2Bottom1">
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Creation on")</p>
                <p></p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Due on")</p>
                <p></p>
            </div>
            <div class="data2">
                <p class="dataTitle">@Localization.GetText("Workflow")</p>
                <p class="icon workflow">
                    @Localization.GetText("Clause Final Status Validation")
                </p>
            </div>

            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Workflow submitter")</p>
                <p>@IDBContext.Current.UserName</p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Priority")</p>
                <p></p>
            </div>
        </div>

        <div class="operationData dataDetails marginTop1Bottom1">

        </div>
        @{Html.RenderAction("AdditionalValidators", "Tasks", new
            {
                area = "Global",
                Code = "WF-CL-004",
                Editable = true,
                modelValidation = ViewBag.OperationRelatedModel,
                entityId = Model.IsDraft ? 0 : Model.ConditionIndividualId
            });
        }
        <div class="operationData dataDetails marginTop2Bottom1">
            <div class="operationData min_padding_left dataSocial">
                <div class="data8">
                    <p class="dataTitle">@Localization.GetText("Instructions")</p>
                    <p>@Localization.GetText("Initiate Validation Workflow for approving the final status of a clause.")</p>
                </div>
            </div>
        </div>

        <div class="operationData width_Off min_padding_left dataSocial  ">
            <h4 class="headingh3 cero_left">@Localization.GetText("Comments") </h4>
        </div>

        <div id="commentslistdinamic" style="margin-bottom: 3%;">
            <table id="commentTableUIRI002_edit" class="grid w100 noInnerPadding fixedValues" style="position: relative; left: 2.6%">
                <tbody id="comentContainer">
                </tbody>
            </table>
        </div>

        <div class="operationData width_Off min_padding_left dataSocial  ">
            <h4 class="headingh3 cero_left">@Localization.GetText("Documents") </h4>
        </div>

        <div class="mod_tabla icon_entypo tableDocuments" style="width: 94%">
            <table class="grid w100 noInnerPadding fixedValues">
                <thead>
                    <tr>
                        <th class="btn_azul_oscuro_flecha" data-field="User">@Localization.GetText("User")</th>
                        <th class="btn_azul_oscuro_flecha" data-field="Date">@Localization.GetText("Date")</th>
                        <th class="btn_azul_oscuro_flecha" data-field="IDBDocNum">@Localization.GetText("IDB Doc number")</th>
                        <th class="btn_azul_oscuro_flecha" data-field="Content">@Localization.GetText("Content")</th>
                        <th class="btn_azul_oscuro" data-field="Current">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="editingButtonsEdit marginRight2Con5">
        </div>
    </div>
</section>
