@using IDB.MW.Domain.Values

@model IDB.MW.Application.Agreements.ViewModel.ConditionFinalStatusValidationRequestViewModel

@{
    ViewBag.Title = "ConditionFinalStatusValidationRequestEdit";
}

@section CSS{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/ui_fi_004_edit.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Agreements/conditionLetterCss.css")" />
}

@section JavaScript {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Document/addDocument.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/thumbnail/thumbnail.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Agreements/Condition/editApprovalRequest.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Clauses/addComment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/concurrence.js" + @System.Configuration.ConfigurationManager.AppSettings["cache"].ToString())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Global/GlobalScript.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/main.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {            
            $(".cancelEditRequest").click(function () {
                var route = '@(Url.Action("Details", "Conditions", new { area = "Agreements", Model.OperationId, Model.AgreementId, Model.ConditionId, Model.ConditionIndividualId }))';

                redirectPage(route);
            });
        });
    </script>
    
}

<h2 class="hide">Seccion central</h2>
<section class="central">
    @using (Html.BeginForm(
        "SaveSendConditionRequest",
        "Conditions",
        FormMethod.Post,
        new
        {
            area = "Agreements",
            conditionIndividualId = Model.ConditionIndividualId,
            finalStatusId = Model.FinalStatusId,
            workflowEntityType = AgreementsAndConditionsConstants.WF_ENTITY_TYPE_CONDITION_INDIVIVDUAL
        }))
    {
        <div class="mod_contenido_central generic_tasks">
            @Html.HiddenFor(x => x.OperationId)
            @Html.HiddenFor(x => x.AgreementId)
            @Html.HiddenFor(x => x.ConditionId)
            @Html.HiddenFor(x => x.ConditionIndividualId)
            @Html.HiddenFor(x => x.FinalStatusId)
            <!--contracts_and_clauses-->
            <h3 class="headingh2">
                <a href="@(
                    Url.Action(
                       "Details",
                       "Conditions",
                       new
                       {
                           area = "Agreements",
                           Model.OperationId,
                           Model.AgreementId,
                           Model.ConditionId,
                           Model.ConditionIndividualId
                       }))"
                title="@Localization.GetText("PSG.Condition.Details")"
                class="tipo1">@Localization.GetText("PSG.Condition.Details")</a>
            </h3>
            <div class="operationData">
                <div class="box_subtitle">
                    <h4 class="headingh2 title_tag">@Localization.GetText(AgreementsAndConditionsConstants.CONDITION_INDIVIDUAL_FINAL_STATUS_SUBTITLE_PREFIX + Model.FinalStatusCode)</h4>
                    <div class="editingButtonsEdit up">
                        <label for="cancel1">
                            <input type="button" class="btn-secondary cancelEditRequest" value="@Localization.GetText("Cancel")">
                        </label>
                        <label for="SendRequest">
                            <input type="submit" class="btn-primary_2 save" name="action:SaveConditionRequest" value="@Localization.GetText("Save")">
                        </label>
                        <label for="EditClause">
                            <input type="submit" class="btn-primary_2 saveandrequest" name="action:SaveSendConditionRequest" value="@Localization.GetText("Save and request")">
                        </label>
                    </div>
                </div>
            </div>
            <h3 class="hide">Contenido central</h3>
            <div class="operationData dataDetails marginTop2Bottom1">
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Creation on")</p>
                    <p>@String.Format("{0:dd MMM yyy}", Model.CreationDate)</p>
                </div>
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Due on")</p>
                    <p>@String.Format("{0:dd MMM yyy}", Model.DueDate)</p>
                </div>
                <div class="data2">
                    <p class="dataTitle">@Localization.GetText("Workflow")</p>
                    <p class="icon workflow">@Model.WorkflowDescription</p>
                </div>
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Workflow submitter")</p>
                    <p>@Model.Submitter</p>
                </div>
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Priority")</p>
                    <p>@Model.Priority</p>
                </div>
            </div>

            @Html.Partial("~/Areas/Global/Views/Tasks/AdditionalValidators.cshtml");

            <div class="operationData dataDetails marginTop2Bottom1">
                <div class="operationData min_padding_left dataSocial">
                    <div class="data8">
                        <p class="dataTitle">@Localization.GetText("Instructions")</p>
                        <p>@Localization.GetText("Initiate Validation Workflow for approving the final status of a clause.")</p>
                    </div>
                </div>
            </div>
            <div class="operationData width_Off min_padding_left dataSocial" style="width: 30%;">
                <h4 class="headingh3 cero_left">@Localization.GetText("Comments") </h4>
            </div>
            <div class="editingButtonsEdit" style="margin-bottom: 1%; position: relative; right: 3%;">
                <a id="newCommentRisks002" 
                   href="javascript:void(0)" 
                   class="btn-primary marginOff" 
                   title="@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.NewComments")">
                @Localization.GetText("OP.OD.TabBasicData.RelatedOperations.NewComments")</a>
            </div>
            <div id="commentslistdinamic" style="margin-bottom: 3%;">
                <table id="commentTableUIRI002_edit" class="grid w100 noInnerPadding fixedValues " style="position: relative; left: 2.6%; width: 95%;">
                    <tbody id="comentContainer">
                    </tbody>
                </table>
            </div>

            <div class="operationData width_Off min_padding_left dataSocial" style="width: 30%;">
                <h4 class="headingh3 cero_left">@Localization.GetText("Documents") </h4>
            </div>
            <div class="editingButtonsEdit" style="margin-bottom: 4%; position: relative; right: 3%;">
            </div>
            <div class="mod_tabla icon_entypo tableDocuments" style="width: 94%">
                <table class="grid w100 noInnerPadding fixedValues ">
                    <thead>
                        <tr>
                            <th class="btn_azul_oscuro_flecha" data-field=" @Localization.GetText("User")">@Localization.GetText("User")</th>
                            <th class="btn_azul_oscuro_flecha" data-field="@Localization.GetText("Date")">@Localization.GetText("Date")</th>
                            <th class="btn_azul_oscuro_flecha" data-field="@Localization.GetText("IDB Doc number")">@Localization.GetText("IDB Doc number")</th>
                            <th class="btn_azul_oscuro_flecha" data-field="@Localization.GetText("Content")">@Localization.GetText("Content")</th>
                            <th class="btn_azul_oscuro" data-field="Current">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                   </tbody>
                </table>
            </div>

            <div class="editingButtonsEdit marginRight2Con5">

                <label for="cancel1">
                    <input type="button" class="btn-secondary cancelEditRequest" value="@Localization.GetText("Cancel")">
                </label>
                <label for="SendRequestTasks">
                    <input type="submit" class="btn-primary_2 save" name="action:SaveConditionRequest" value=" @Localization.GetText("Save")">
                </label>
                <label for="EditTask">
                    <input type="submit" class="btn-primary_2 saveandrequest" name="action:SaveSendConditionRequest" value=" @Localization.GetText("Save and request")">
                </label>
            </div>
        </div>
    }
</section>
