@using IDB.MW.Application.Agreements.ViewModel;
@using IDB.MW.Domain.Values;

@model DetailsConditionViewModel

@section CSS{
    @Styles.Render("~/Content/Confluence")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Agreements/conditionDetails.css")" />
}

@section JavaScript {
    @Scripts.Render("~/bundles/ModalConfluenceScripts")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Agreements/Condition/changedStatusToFulfilmentConditionLastD.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Agreements/common.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).foundation();
            $(".datepicker").kendoDatePicker({
                format: "dd MMM yyyy"
            });
            var grid1 = new GridComponent(".grid1", 20, false, true);
            var grid2 = new GridComponent(".grid2", 20, false, true);
        });
    </script>
}

@{
    bool check = false;
    if (Model.Operation.OperationNumber == "NA")
    {
        check = true;
        string ope = Request["operationNumber"];
        Model.Operation.OperationNumber = ope;
    }
}
@Html.Hidden(
    "contract-approval-date",
    string.Format("{0:dd MMM yyy}", Model.ApprovalDate),
    new { id = "contract-approval-date" })
@Html.Hidden("ChangedClauseStatusLDtoFulfillmentUrl", Url.Action("ConfirmChangedClauseStatusToFulfilment", "Conditions",
new
{
    area = "Agreements",
    operationId = @Model.Operation.OperationId,
    contractId = @Model.Agreement.AgreementId,
    clauseId = @Model.ConditionId,
    clauseIndividualId = @Model.ConditionId,
    mainOperationNumber = @Model.Operation.OperationNumber
}))

@Html.Hidden("EditConditionToFulfilment", Url.Action("EditConditionToFulfilment", "Conditions",
    new
    {
        area = "Agreements",
        operationId = @Model.Operation.OperationId,
        contractId = @Model.Agreement.AgreementId,
        clauseId = @Model.ConditionId,
        clauseIndividualId = @Model.ConditionId,
        mainOperationNumber = @Model.Operation.OperationNumber
    }))

<section class="central fontSizeInitial">
    <h2 class="hide">Seccion central de Contenido</h2>

    <div class="mod_contenido_central contracts_and_clauses mb10">
        @if (check)
        {
            <h3 class="headingh2" style="width: 37%;">
                <label id="buttonredirectparent" title="@Localization.GetText("AG.AgreementsAndConditions.Text")"
                       class="tipo1">@Localization.GetText("AG.AgreementsAndConditions.Text")</label>
            </h3>
        }
        else
        {
            <label id="buttonredirectparent" class="hide"></label>
            <h3 class="headingh2" style="width: 37%;">
                <a href="@(Url.Action("Index", "Agreements",
                    new { area = "Agreements", operationNumber =  Model.Operation.OperationNumber }))"
                   title="@Localization.GetText("AG.AgreementsAndConditions.Text")"
                   class="tipo1">@Localization.GetText("AG.AgreementsAndConditions.Text")</a>
            </h3>
        }

        <div class="editingButtonsEdit">
            @Html.Partial("Partials/_DetailButtonsPartial")
        </div>

    </div>
    <table class="tableInfo">
        <thead>
            <tr>
                <th class="main-header" colspan="4">
                    @Localization.GetText("Condition Details")
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="headers">
                <th>
                    @if (Model.Category.Code == AgreementsAndConditionsConstants.DONOR_CONDITION_CATEGORY_SIGN)
                    {
                        @Localization.GetText("Signature Fulfillment Condition")
                    }
                    else
                    {
                        @Localization.GetText("Common.Condition.Text")
                    }
                </th>
                <th>@Localization.GetText("Description")</th>
                <th>@Localization.GetText("AG.ConditionStatus.Text")</th>
                <th>@Model.Agreement.AgreementNumber</th>
            </tr>
            <tr>
                <td>
                    @Model.ConditionNumber
                </td>
                <td>
                    @Model.Description
                </td>
                <td>
                    @if (Model.ConditionStage.Code == AgreementsAndConditionsConstants.CONDITION_STATUS_REV ||
                        Model.ConditionStage.Code == AgreementsAndConditionsConstants.CONDITION_STATUS_REV_LMS ||
                        Model.ConditionStage.Code == AgreementsAndConditionsConstants.CONDITION_STATUS_REV_EXT)
                    {
                        <p>@Model.ConditionStageName</p>
                    }
                    else
                    {
                        <p>@Model.ConditionStatusName</p>
                    }
                </td>
                <td>
                    @Model.Agreement.StatusAgreementName
                </td>
            </tr>

            <tr class="headers">
                <th>@Localization.GetText("Type")</th>
                <th>@Localization.GetText("Category")</th>
                <th>@Localization.GetText("CL.OriginalExpirationDate")</th>
                <th>@Localization.GetText("CL.CurrentExpirationDate")</th>
            </tr>
            <tr>
                <td>
                    <p>@Model.TypeName</p>
                </td>
                <td>
                    <p>@Model.ConditionCategoryName</p>
                </td>
                <td>@String.Format("{0:dd MMM yyy}", Model.OriginalExpirationDate)</td>
                <td>@String.Format("{0:dd MMM yyy}", Model.CurrentExpirationDate)</td>
            </tr>

            <tr class="headers">
                <th>@Localization.GetText("Closing condition dependency")</th>
                <th>@Localization.GetText("Submission Date")</th>
                <th>@Localization.GetText("Approval Date")</th>
            </tr>
            <tr>
                <td></td>
                <td><p id="datePicker0">@String.Format("{0:dd MMM yyy}", Model.SubmissionDate)</p></td>
                <td>@String.Format("{0:dd MMM yyy}", Model.ApprovalDate)</td>
            </tr>
        </tbody>
    </table>

    @if (Model.ConditionStatus.Code != AgreementsAndConditionsConstants.CONDITION_STATUS_DRAFT)
    {
        <div class="mb16 ml40">
            <h4>@Localization.GetText("Comments")</h4>
        </div>

        @Html.Partial("Partials/_CommentsTablePartial")

        <div class="mb16 ml40">
            <h4>@Localization.GetText("Documents")</h4>
        </div>

        <div class="mod_tabla icon_entypo width94p">
            @Html.Partial("Partials/_DocumentsTablePartial", Model.ConditionIndividuals[0].UserDocuments)
        </div>
    }

    <div class="mod_contenido_central contracts_and_clauses mb10">
        <div class="editingButtonsEdit">
            @Html.Partial("Partials/_DetailButtonsPartial")
        </div>
    </div>
</section>