@model IDB.MW.Application.Agreements.ViewModel.DetailsConditionViewModel
@using IDB.MW.Domain.Values

@{
    ViewBag.Title = "EditCondition";
}

@section CSS{
    @Styles.Render("~/Content/Confluence")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Agreements/editConditionTrack.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Agreements/conditionDetails.css")" />
}

@section JavaScript {
    @Scripts.Render("~/bundles/scripts2")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Agreements/Condition/changedStatusToFulfilmentConditionLastD.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Agreements/Condition/editCondition.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/concurrence.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Agreements/common.js")"></script>
}

@Html.Hidden(
    "contract-approval-date",
    string.Format("{0:dd MMM yyy}", Model.ApprovalDate),
    new { id = "contract-approval-date" })

<section class="central fontSizeInitial" id="centralSection">
    <h2 class="hide">Seccion central de Contenido</h2>
    <div class="mod_contenido_central contracts_and_clauses">
        <input type="hidden" id="UserName" value="@IDBContext.Current.UserName"/>
        @using (Html.BeginForm("EditConditionStatusTrackPost", "Conditions", FormMethod.Post, new { area = "Agreements", id = "target" }))
        {
            @Html.HiddenFor(x => x.OperationId)
            @Html.HiddenFor(x => x.Operation.OperationNumber)
            @Html.HiddenFor(x => x.Agreement.AgreementId)
            @Html.HiddenFor(x => x.ConditionId)
            @Html.HiddenFor(x => x.ConditionIndividuals[0].ConditionIndividualId)

            <h3 class="headingh2 w45">
                <a href="@(Url.Action("Index", "Agreements",
                    new { area = "Agreements", operationNumber = Model.Operation.OperationNumber }))"
                    title="@Localization.GetText("AG.AgreementsAndConditions.Text")"
                    class="tipo1">@Localization.GetText("AG.AgreementsAndConditions.Text")</a>
            </h3>

            @Html.Partial("Partials/_EditTrackButtonsPartial")

            <table class="tableInfo headerContainer">
                <thead>
                    <tr>
                        <th class="main-header" colspan="4">
                            @Localization.GetText("Condition Details Track")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="headers">
                        <th>
                            @if (Model.Category.Code == AgreementsAndConditionsConstants.DONOR_CONDITION_CATEGORY_SIGN)
                            {
                                @Localization.GetText("Signature Fulfillment Condition")
                            }
                            else
                            {
                                @Localization.GetText("Common.Condition.Text")
                            }
                        </th>
                        <th>@Localization.GetText("Description")</th>
                        <th>@Localization.GetText("AG.ConditionStatus.Text")</th>
                        <th>@Model.Agreement.AgreementNumber</th>
                    </tr>
                    <tr>
                        <td>
                            @Model.ConditionNumber
                        </td>
                        <td>
                            @Model.Description
                        </td>
                        <td>
                            @if (Model.ConditionStage.Code == AgreementsAndConditionsConstants.CONDITION_STATUS_REV ||
                                Model.ConditionStage.Code == AgreementsAndConditionsConstants.CONDITION_STATUS_REV_LMS ||
                                Model.ConditionStage.Code == AgreementsAndConditionsConstants.CONDITION_STATUS_REV_EXT)
                            {
                                <p>@Model.ConditionStageName</p>
                            }
                            else
                            {
                                <p>@Model.ConditionStatusName</p>
                            }
                        </td>
                        <td>
                            @Model.Agreement.StatusAgreementName
                        </td>
                    </tr>

                    <tr class="headers">
                        <th>@Localization.GetText("Type")</th>
                        <th>@Localization.GetText("Category")</th>
                        <th>@Localization.GetText("Original expiration date")</th>
                        <th style="vertical-align: inherit;">
                            @Localization.GetText("Current Expiration date")
                            @if (Html.HasPermission(Permission.PSG_EXPIRATION_DATE_WRITE))
                            {
                                <label class="checkPadlock pl15">
                                    <input type="checkbox" class="checkDate" checked="checked"
                                            data-route="@Url.Action("UpdateExpirationDate", "Conditions", new
                                            {
                                                area = "Agreements",
                                                conditionIndividualId = Model.ConditionIndividuals[0].ConditionIndividualId
                                            })">
                                    <span class="iconPad"></span>
                                </label>
                            }
                        </th>
                    </tr>
                    <tr>
                        <td><p>@Model.TypeName</p></td>
                        <td><p>@Model.ConditionCategoryName</p></td>
                        <td>@String.Format("{0:dd MMM yyy}", Model.OriginalExpirationDate)</td>
                        <td style="vertical-align:top;">
                            @if (Html.HasPermission(Permission.PSG_EXPIRATION_DATE_WRITE))
                            {
                                <div class="inlineBlock perw75 dateContainer">
                                    <p class="datePlain">@String.Format("{0:dd MMM yyy}", Model.CurrentExpirationDate)</p>

                                    <input name="DueDate" type="text" data-force-parsley-validation="true"
                                           class="inputText datepicker-default hasDatepicker pickerDate"
                                           value="@String.Format("{0:dd MMM yyy}", Model.CurrentExpirationDate)"
                                           data-parsley-required="true" placeholder="DD MMM YYYY"
                                           data-parsley-pattern="^(((0?[1-9])|([1-2][0-9])|3(0|1)) (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4})$"
                                           style="display: none">
                                </div>
                            }
                            else
                            {
                                @String.Format("{0:dd MMM yyy}", Model.CurrentExpirationDate)
                            }
                        </td>
                    </tr>

                    <tr class="headers">
                        <th>@Localization.GetText("Closing condition dependency")</th>
                        <th>
                            @{ string headerText = @Localization.GetText("Submission Date"); }

                            @if (Model.ConditionIndividuals[0].StatusName == AgreementsAndConditionsConstants.STATUS_NAME_TRACK ||
                                Model.ConditionIndividuals[0].StatusName == AgreementsAndConditionsConstants.STATUS_NAME_TRACKWITHDRAW)
                            {
                                if (Model.Category.Code == AgreementsAndConditionsConstants.DONOR_CONDITION_CATEGORY_CLOSE)
                                {
                                    { headerText = @Localization.GetText("Fulfillment Date"); }
                                }
                            }
                            @headerText
                        </th>
                        <th>@Localization.GetText("Approval Date")</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @if (Html.HasPermission(Permission.PSG_SUBMISSION_DATE_COMMENT_DOCUMENT))
                            {
                                <div class="dateSelect">
                                    <label for="datepicker0">
                                        @Html.TextBoxFor(x => x.SubmissionDate, "{0:dd MMM yyyy}",
                                            new Dictionary<string, Object>
                                            {
                                                { "id", "datePicker0" },
                                                { "style", "height: 30px;" },
                                                { "name", "datePicker0" },
                                                { "placeholder", "DD MM YYYY" }
                                            })
                                        @{Html.ValidateFor(x => x.SubmissionDate);}
                                    </label>
                                </div>
                            }
                            else
                            {
                                @String.Format("{0:dd MMM yyy}", Model.SubmissionDate)
                            }
                        </td>
                        <td>@String.Format("{0:dd MMM yyy}", Model.ApprovalDate)</td>
                    </tr>

                </tbody>

            </table>

            <div class="row mb16">
                <div class="floatLeft ml60">
                    <h4>@Localization.GetText("Comments")</h4>
                </div>
                <div class="float-right mr60">
                    @if (Html.HasPermission(Permission.PSG_SUBMISSION_DATE_COMMENT_DOCUMENT) &&
                        (Html.HasPermission(Permission.PSG_GCM_ADMIN_WRITE)) ||
                        (Model.Category.Code == AgreementsAndConditionsConstants.DONOR_CONDITION_CATEGORY_TEAM))
                    {
                        <button type="button" class="buttonBlue" name="newComment" data-action="newComment"
                                data-datetime="@DateTime.UtcNow.ToString("dd MMM yy")"
                                data-username="@IDBContext.Current.UserName">
                            @Localization.GetText("OP.OD.TabBasicData.RelatedOperations.NewComments")
                        </button>
                    }
                </div>
            </div>

            @Html.Partial("Partials/_CommentsTablePartial")

            <div class="row mt50 mb20">
                <div class="floatLeft ml60">
                    <h4>@Localization.GetText("Documents")</h4>
                </div>
                <div class="float-right mr60">
                    @if (Html.HasPermission(Permission.PSG_SUBMISSION_DATE_COMMENT_DOCUMENT) &&
                        (Html.HasPermission(Permission.PSG_GCM_ADMIN_WRITE)) ||
                        (Model.Category.Code == AgreementsAndConditionsConstants.DONOR_CONDITION_CATEGORY_TEAM))
                    {
                        <button type="button" class="buttonBlue" name="documentsAdd" data-id="ConditionDocuments-add"
                                data-modal-allowclose="true" data-custom-modal="ConditionDocuments-modal-add"
                                data-custom-modal-validate="false"
                                data-custom-modal-title="@Localization.GetText("OP.AP.Documents.Search")"
                                data-idb-fieldname="btnDocumentsAdd">
                            @Localization.GetText("DM.Add.Document")
                        </button>
                    }
                </div>
            </div>

            <div class="mod_tabla icon_entypo tableDocuments" style="width: 94%">
                @Html.Partial("Partials/_DocumentsTablePartial",
                    Model.ConditionIndividuals[0].UserDocuments,
                    new ViewDataDictionary {
                        { "IsEdit", Model.IsModeEdit },
                        { "EntityRelated", AgreementsAndConditionsConstants.WF_ENTITY_TYPE_CONDITION_INDIVIVDUAL }
                    })
            </div>

            @Html.Partial("Partials/_EditTrackButtonsPartial")
        }
    </div>
</section>

@Html.Partial("~/Areas/Agreements/Views/Conditions/Partials/_DocumentsModalPartial.cshtml",
    new ViewDataDictionary { { "OperationNumber", Model.Operation.OperationNumber }, { "IsEdit", Model.IsModeEdit } })

<script type="text/javascript">
    MessageTranslation.text('deleteConditionMessage',
        '@Localization.GetText("This action cannot be undone, are you sure you wish to continue?")');
</script>