@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.HeaderViewModel

<div class="row">
    <h2><img src="~/Content/images/left-arrow.png" /> @(((string)ViewBag.Title).HtmlEncode())</h2>
</div>

<div class="row row-title">        
    <div class="col-md-12">
        <span class="text-right">@Html.Partial("Partials/Controls/ReviewValidationTCAbstractButtons")</span>
        <h3>@(((string)ViewBag.Subtitle).HtmlEncode())</h3>
    </div>
</div>

<div class="row-body-40">
    <div class="row">
        <div class="col-md-8">
            <p>
                @Localization.GetText("TC.Header.Instructions")
            </p>
        </div>
        <div class="col-md-4">
            @Html.Partial("Partials/Controls/TCAbstractButtonsDownload")
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                <b>@(((string)ViewBag.Instructions).HtmlEncode())</b>
            </p>
        </div>
    </div>
</div>
