@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.SupervisionPlanPorfolio.SupervisionPorfolioModel
@{
    ViewBag.Title = "SupervisionPorfolio";
}


<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/modal/modal.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/CommonRuleReports.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/SupervisionPorfolioScript.js?v=18")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/loadingLayout.js")"></script>


<link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
<link href="@Url.Content("~/Content/Modules/Reports/rs_ui_rt_001.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/SupervisionPorfolioCustom.css?v=3")" rel="stylesheet" />
@Styles.Render("~/Content/NewConfluence/Loading.css")
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/loading.css")" />

<script type="text/javascript">

    $(document).ready(function () {
        initializeGlobalLoader();
    });
</script>

<body class="backgroundFFFFFF">

    <section class="central" id="sectBody">
        <div id="ContainerVisualizationPorfolioReport" class="mod_contenido_central impacts">
            <div id="ui_fi_001_edit" class="padding20 everisWidth" style="width:95%;">
                <div class="verticalMargin20 w100">
                    <h3 class="font2em AlingTitles">@Localization.GetText("Reports - Supervision")</h3>

                </div>
                <div class="relative h50px verticalMargin40">
                    <h4 class="font1-5em absolute AlingTitles">@Localization.GetText("Supervision Portfolio Report")</h4>
                    <input type="button" class="absolute absRight button blueButton alingFilterButtonRigth buttonCustomSize" id='showFilterButtonReportsRS001' value="@Localization.GetText("Filter")">
                </div>


                @{int cont = 0;}
                @using (Html.BeginForm("Index", "SupervisionPorfolioReport", FormMethod.Post, new { @id = "FormSupervisionPorfolioReport" }))

                {
                    @Html.Hidden("mensajeSupervision", @Localization.GetText("Debe seleccionar por lo menos un registro para generar reporte"))
                    @Html.Hidden("yearsValidation", @Localization.GetText("Review content and validate"))
                    @Html.Hidden("Cancel", @Localization.GetText("Cancel"))

                    @Html.HiddenFor(x => x.ExportType);
                    <div id="searchBoxContainerReportsRS001" class="padding20 grayBackground font08em hideNI" style="display: block">

                        <div class="centerContent w96 relative h50px">

                            <div class="inline-block inputContainer w33">
                                <div class="inline-block w96 verticalAlignMiddle">
                                    <label for="ListCountryDepartment" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Country Department")</label>
                                    @Html.ListBoxFor(x => x.ListCountryDepartment, new MultiSelectList(ViewBag.ListCountryDepartment, "Value", "Text", ViewBag.Value), new { @class = "w100 MultiSelectCustom", id = "CountryDepartment" })
                                    <a id="LinkFilterCountryPorfolioSupervision" data-route="@Url.Action("FilterCountrys", "SupervisionPorfolioReport")" class="noShow"></a>
                                </div>
                            </div>

                            <div class="inline-block inputContainer w33">
                                <div class="inline-block w96 verticalAlignMiddle">
                                    <label for="ListSectorDepartment" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Sector Department")</label>
                                    @Html.ListBoxFor(x => x.ListSectorDepartment, new MultiSelectList(ViewBag.ListSectorDepartment, "Value", "Text", ViewBag.Value), new { @class = "w100 MultiSelectCustom", id = "SectorDepartment" })
                                    <a id="LinkFilterDivisionSupervisionPorfolio" data-route="@Url.Action("FilterDivision", "SupervisionPorfolioReport")" class="noShow"></a>
                                </div>
                            </div>

                            <div class="inline-block inputContainer w33">
                                <div class="inline-block w96 verticalAlignMiddle">
                                    <label for="ValidationStageSupPlan" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Supervision Plan Validation Stage")</label>
                                    <br />
                                    @Html.DropDownListFor(x => x.ValidationStageSupPlan, new SelectList(ViewBag.ListValidationStageSupPlan, "Value", "Text"), new { @class = "w100 kendoDropDown selectCustom" })
                                </div>
                            </div>

                        </div>

                        <div class="centerContent w96 relative h50px box2">

                            <div class="inline-block inputContainer w33">
                                <div class="inline-block w96 verticalAlignMiddle">
                                    <label for="ListCountry" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Country")</label>
                                    @Html.ListBoxFor(x => x.ListCountry, new MultiSelectList(ViewBag.ListCountry, "Value", "Text"), new { @class = "w100 MultiSelectCustom", id = "Country" })
                                </div>
                            </div>

                            <div class="inline-block inputContainer w33">
                                <div class="inline-block w96 verticalAlignMiddle">
                                    <label for="ListDivision" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Division")</label>
                                    @Html.ListBoxFor(x => x.ListDivision, new MultiSelectList(ViewBag.ListDivision, "Value", "Text"), new { @class = "w100 MultiSelectCustom", id = "Division" })
                                </div>
                            </div>

                            <div class="inline-block inputContainer w33">
                                <div class="inline-block w96 verticalAlignMiddle">
                                    <label for="ListESG_Tracking" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("ESG Tracking")</label>
                                    <br />
                                    @Html.DropDownListFor(x => x.ESG_Tracking, new SelectList(ViewBag.ListESG_Tracking, "Value", "Text"), new { @class = "w100 kendoDropDown selectCustom" })

                                </div>
                            </div>

                        </div>

                        <div class="centerContent w96 relative h50px box3">

                            <div class="inline-block inputContainer w33">
                                <div class="inline-block w96 verticalAlignMiddle">
                                    <label for="ListStartYear" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Start Year")</label>

                                    @Html.DropDownListFor(x => x.StartYear, new SelectList(ViewBag.ListStartYear, "Value", "Text"), new { @class = "w100 kendoDropDown selectCustom" })

                                </div>
                            </div>

                            <div class="inline-block inputContainer w33">
                                <div class="inline-block w96 verticalAlignMiddle">
                                    <label for="ListEndYear" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("End Year")</label>
                                    @Html.DropDownListFor(x => x.EndYear, new SelectList(ViewBag.ListEndYear, "Value", "Text"), new { @class = "kendoDropDown" })
                                </div>
                            </div>

                        </div>

                        <div class="verticalMargin20 rightAlign w97-2 box4">

                            <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad" id="AjaxLoadForVisualizationPorfolio" />
                            <input id="Btn_Check" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Check All")">
                            <input id="Btn_Clear" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Clear All")">
                            <input id="Btn_ExportExcelSupervisionPorfolioReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export Excel")">
                            <input id="Btn_ExportdPDFSupervisionPorfolioReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export PDF")">
                            <a id="LinkExportSupervisionReport" class="noShow" data-route="@Url.Action("ExportReport", "SupervisionPorfolioReport")"></a>

                            <input type="submit" class="button yellowButton buttonCustomSize" value="@Localization.GetText("Submit")">

                        </div>

                    </div>

                        <div class="mod_style mod_tabla_plegable mod_style_plegable" style="width:99%;">
                            <div>
                                <table id="tabla">
                                    <thead>
                                        <tr>
                                            <th class="btn_azul_oscuro_flecha" style="width:15%">@Localization.GetText("Country Department")</th>
                                            <th class="btn_azul_oscuro_flecha" style="width:15%">@Localization.GetText("Country")</th>
                                            <th class="btn_azul_oscuro_flecha" style="width:20%">@Localization.GetText("Sector department/ Division")</th>
                                            <th class="btn_azul_oscuro_flecha" style="width:10%">@Localization.GetText("Operation Number")</th>
                                            <th class="btn_azul_oscuro_flecha" style="width:10%">@Localization.GetText("Loan number(s)")</th>
                                            <th class="btn_azul_oscuro_flecha" style="width:5%">@Localization.GetText("Year")</th>
                                            <th class="btn_azul_oscuro_flecha" style="width:10%">@Localization.GetText("Sp Validation Stage")</th>
                                            <th class="btn_azul_oscuro_flecha" style="width:10%">@Localization.GetText("Sp Validation Date")</th>
                                            <th class="btn_azul_oscuro dato04" style="width:15%">@Localization.GetText("")</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var result in Model.ListSupervionResults)
                                        {
                                            <tr>
                                                <td>@result.Country_Department</td>
                                                <td>@result.Country</td>
                                                <td>@result.Department</td>
                                                <td>@result.Operation_Number.ToString()</td>
                                                <td>@result.Loans_Numbers</td>
                                                <td>@result.Year.ToString()</td>
                                                <td>@result.Validation_Stage</td>
                                                <td>@result.Validation_Date</td>
                                                <td>
                                                    @Html.CheckBox(string.Concat("checkBoxId", cont.ToString()), false, new { @class = "checkSelect" })
                                                @Html.Hidden(string.Concat("OperationId", cont.ToString()), @result.Operation_Id)
                                                @Html.Hidden(string.Concat("SupervisionId", cont.ToString()), @result.Supervision_Plan_Version_Id)
                                            </td>
                                            @{cont++;}
                                        </tr>
                                                }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                                                }
            </div>
        </div>

        @Confluence.Loader()
    </section>

</body>
