<div data-id="searchPanel" data-parsley-validate="data-parsley-validate" data-parsley-excluded="[disabled]">
    <div class="row row-header">
        <div class="col-md-12 text-right ">
            @Confluence.ButtonBlue(Localization.GetText("R6.Proposal.AnnualAllocation.Filter"), null, "relatedOperationSearch",
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnRltdOpSearch" } })

            @Confluence.ButtonBlue(Localization.GetText("R6.Proposal.AnnualAllocation.Clear"), null, "cancelSearchOperationRelated",
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelSearchOpRltd" } })

            @Confluence.ButtonBlue(Localization.GetText("R6.Proposal.AnnualAllocation.Save"), "saveRelatedOperations", "addSelectedRows")
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @Confluence.Label(Localization.GetText("R6.Proposal.AnnualAllocation.Division"))
        </div>
        <div class="col-md-3">
            @Confluence.Label(Localization.GetText("R6.Proposal.AnnualAllocation.OperationNumber"))
        </div>
        <div class="col-md-3">
            @Confluence.Label(Localization.GetText("R6.Proposal.AnnualAllocation.OperationYear"))
        </div>
        <div class="col-md-3">
            @Confluence.Label(Localization.GetText("R6.Proposal.AnnualAllocation.ResultsPerPage"))
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @Confluence.InputDropDown(
                            value: "", 
                            name: "OrgUnitJointProposal", 
                            elements: (List<SelectListItem>)ViewBag.OrganizationalUnits, 
                            required: false, 
                            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlOption1" } })
        </div>
        <div class="col-md-3">
            @Confluence.InputText(null, "relatedOperation", width: "100%", placeholder: "enter text",
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtRltdOp" } }, id: "operationNumber")
        </div>
        <div class="col-md-3">
            @Confluence.InputNumber(null, "relatedOperationYear", required: false, width: "100%", placeholder: "enter text",
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtRltdOp" } })
        </div>
        <div class="col-md-3">
            @Confluence.InputDropDown("10", "resultsPerPage", IDB.MW.Application.ESW_CIPModule.Enums.ESWCIPEnums.FilterResultsPerPage, required: false, width: "100%",
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlRltdOpRltnshipType" } }, orderAsc: false)
        </div>
    </div>
    <br />

    <div id="AAGridSearch">
        <table id="tblAASearch" class="tableNormal beginSpacing" data-idb-fieldname="tblAllocation">
            <thead>
                <tr>
                    <th id="ProposalYear" class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.OperationNumber")</th>
                    <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.OperationName")</th>
                    <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.OperationYear")</th>
                    <th class="sort text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.DepartmentDivision")</th>
                    <th class="text-center">@Localization.GetText("R6.Proposal.AnnualAllocation.Add")@Confluence.InputCheckbox(false, "checkAll", "checkAll", "", false, false, "checkAllParentCheckBox", null, null, false)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var listItem in ViewBag.OperationsList)
                {
                    <tr role="row" data-id>
                        <td class="text-center">
                            <span data-pagemode="read">
                                @Confluence.Label(text: listItem.OperationNumber)
                            </span>
                        </td>
                        <td>
                            <span data-pagemode="read">
                                @Confluence.Label(text: listItem.OperationName)
                            </span>
                        </td>
                        <td class="text-center">
                            <span data-pagemode="read">
                                @Confluence.Label(text: listItem.Year)
                            </span>
                        </td>
                        <td class="text-center">
                            <span data-pagemode="read">
                                @Confluence.Label(text: listItem.DepartmentDivision)
                                @Confluence.InputHidden(value: listItem.Modality, name: "Modality")
                                @Confluence.InputHidden(value: listItem.ProposalStatus, name: "ProposalStatus")
                                @Confluence.InputHidden(value: listItem.ProposalStatusCode, name: "ProposalStatusCode")
                                @Confluence.InputHidden(value: listItem.TeamLeader, name: "TeamLeader")
                            </span>
                        </td>
                        <td class="text-center">
                            <span data-pagemode="read">
                                @Confluence.InputCheckbox(false, "childrenCheckAll", disabled: false, id: "childrenCheckAll", dataAttributes: new Dictionary<string, string>() { { "parentelement", "checkAllParentCheckBox" } })
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        <div class="text-right">
            @Confluence.ButtonBlue(Localization.GetText("R6.Proposal.AnnualAllocation.Save"), "saveRelatedOperations", "addSelectedRows")
        </div>
    </div>   
</div>
