            <div class="centerContent  relative h50px">
                    <div class="inline-block inputContainer w40 absolute">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <select id="contractStatusRiskFilterReports" class="w100 kendoDropDown">
                                <option value="" selected>@Localization.GetText("Contract status")</option>
                                <option value="">@Localization.GetText("Component 2")</option>
                                <option value="">@Localization.GetText("Component 3")</option>
                                <option value="">@Localization.GetText("Component 4")</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline-block inputContainer w40 absolute left41">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <input type="text" placeholder="@Localization.GetText("Number of days for clause expiration")" class="grayBorder w97-7" id="numberOfDaysForClauseExpirationFilterSearches" />
                        </div>
                    </div>
                    <div class="inline-block inputContainer w18-4 absolute absRight rightAlign">
                        <input id="projectableOperationsFilterReports" type="checkbox" class="fancy-checkbox verticalAlignMiddle">
                        <label for="projectableOperationsFilterReports" class="fancy-label verticalAlignMiddle grayColor">@Localization.GetText("Projectable operations")</label>
                    </div>
                </div>

                <div class="centerContent  relative h50px">
                    <div class="inline-block inputContainer w100 absolute">
                        <div class="inline-block verticalAlignMiddle grayColor">
                            <label for="lastDisbursementDateFromFilterReports" class="inline-block verticalAlignMiddle noPadding">@Localization.GetText("Last disbursement date From")</label>
                            <div class="inline-block verticalAlignMiddle">
                                <input id="lastDisbursementDateFromFilterReports" type="text" placeholder="DD MMM YY" class="kendoDatePicker">
                            </div>
                            <label for="lastDisbursementDateToFilterReports" class="rightAlign inline-block verticalAlignMiddle noPadding no_margin">@Localization.GetText("To")</label>
                            <div class="inline-block verticalAlignMiddle">
                                <input id="lastDisbursementDateToFilterReports" type="text" placeholder="DD Mmm YY" class="kendoDatePicker">
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    function setDropDownLists() {
                        $("#contractStatusRiskFilterReports").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            height: 100
                        });
                    }
                    setDropDownLists();                    
                </script>
