                <div class="centerContent  relative h50px">
                    <div class="inline-block inputContainer w33 absolute">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <select id="overallOperationRiskFilterReports" class="w100 kendoDropDown">
                                <option value="" selected>@Localization.GetText("Overall operation risk")</option>
                                <option value="">@Localization.GetText("Component 2")</option>
                                <option value="">@Localization.GetText("Component 3")</option>
                                <option value="">@Localization.GetText("Component 4")</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline-block inputContainer w33 absolute left34">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <select id="environmentalAndSocialRiskFilterReports" class="w100 kendoDropDown">
                                <option value="" selected>@Localization.GetText("Environmental and social risk")</option>
                                <option value="">@Localization.GetText("Component 2")</option>
                                <option value="">@Localization.GetText("Component 3")</option>
                                <option value="">@Localization.GetText("Component 4")</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline-block inputContainer w33 absolute absRight rightAlign">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <select id="environmentalAndSocialImpactCategoryFilterReports" class="kendoDropDown leftAlign">
                                <option value="" selected>@Localization.GetText("Environmental and social impact category")</option>
                                <option value="">@Localization.GetText("Component 2")</option>
                                <option value="">@Localization.GetText("Component 3")</option>
                                <option value="">@Localization.GetText("Component 4")</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <script>
                    function setDropDownLists() {
                        $("#overallOperationRiskFilterReports").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            height: 100
                        });
                        $("#environmentalAndSocialRiskFilterReports").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            height: 100
                        });
                        $("#environmentalAndSocialImpactCategoryFilterReports").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            height: 100
                        });
                    }
                    setDropDownLists();                    
                </script>