@using IDB.Presentation.MVC4.Models.Pagination
@model List<IDB.MW.Domain.Models.Search.ResultModel>

@**
* Jira ID: CON-724
* Fix Description: update pager component with data returned by store procedure
* Attended by: Jhon Astaiza 
* Date: 13/08/2014
* Begin Fix
**@

<script type="text/javascript">


    $(document).ready(function () {

        var totalRecords = parseInt(@ViewData["TotalRecords"]);
        var currentPage = parseInt(@ViewData["Currentpage"]);
        var reminder = totalRecords % parseInt("@PageDefaultSetUp.DefaultPageSizeBrowse");
        var totalPages = (totalRecords / parseInt("@PageDefaultSetUp.DefaultPageSizeBrowse"));

        if (reminder > 0) {
            totalPages++;
            totalPages = Math.floor(totalPages);
        }

        if (totalRecords > parseInt("@PageDefaultSetUp.DefaultPageSizeBrowse")) {

            $('.pagination').jqPagination('option', 'current_page', currentPage);
            $('.pagination').jqPagination('option', 'max_page', totalPages);
            $('.pagination').show();
        } else {
            $(".pagination").hide();
        }

    });
</script>

<input type="hidden" id="hdnCurrentPage" value="@ViewData["Currentpage"]" />

@**
* End Fix
**@

<div>
    @*<h3 class="font1-5em">@Model.Count @Localization.GetText("Results")</h3>*@
    @*<div class="verticalAlignMiddle verticalMargin20">
                    <select id="displayFilterSearches" class="kendoDropDown">
                        <option value="" selected>5 Operations displayed</option>
                        <option value="">10 Operations displayed</option>
                        <option value="">15 Operations displayed</option>
                        <option value="">20 Operations displayed</option>
                    </select>
                </div>*@
</div>
<!-- Grid start -->
@if (Model.Count() > 0)
{
    <div>
        <div>
            <table id="resultsTableResultsMatrixUISE001" class="grid w100">
                <thead>
                    <tr>
                        <th>@Localization.GetText("Country Dept/ Country")</th>
                        <th>@Localization.GetText("Sector Dept/ Divi")</th>
                        <th>@Localization.GetText("Operation Name")</th>
                        <th>@Localization.GetText("Operation number")</th>
                        <th>@Localization.GetText("Loan number(s)")</th>
                        <th>@Localization.GetText("Team Leader")</th>
                        <th>@Localization.GetText("Overall stage")</th>
                        <th>@Localization.GetText("Approval Date")</th>
                        <th>@Localization.GetText("Eligibility Date")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model)
                    {
                        <tr>
                            <td>@result.CountryDeptCountry</td>
                            <td>@result.SectorDepartmentDivision</td>
                            <td>
                                @{
                        if (result.StatusOSR.Equals("Created"))
                        {
                                    <a href="@ViewBag.SharePointAddress.ToString()/Operation/@result.OperationCode/Pages/default")  target="_parent">@result.OperationName</a>
                        }
                        else
                        {
                                    @result.OperationName;
                        }
                                }
                            </td>
                            <td>@result.OperationCode</td>
                            <td>@result.LoanNumber</td>
                            <td>@result.TeamLeader</td>
                            <td>@result.OverallStage</td>
                            @*<td>@result.getApprovalDateString()</td>*@
                            @*<td>@result.getElegibilityDateString()</td>*@
                            <!--<td>@result.PMRValidationState</td>
                                <td>@result.Stage</td>
                                <td>@result.PCRApproveDate</td>-->
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}else{
    <div style="margin-top:30px" id="notFoundMessage">
        <h3 class="font1-5em">Records not found</h3>
    </div>
    
}


