                <div class="centerContent  relative h50px">
                    <div class="inline-block inputContainer w48 absolute">
                        <div class=" verticalAlignMiddle">
                            <input type="text" placeholder="@Localization.GetText("Outcome/Impact/Output Keyword")" class="grayBorder w97-7" id="outcomeImpactOutputKeywordFilterSearches" />
                        </div>
                    </div>
                    <div class="inline-block inputContainer w48 absolute absRight">
                        <div class="verticalAlignMiddle">
                            @Html.DropDownList("pmrValidationStageFilterSearches", new SelectList(ViewBag.ResultsMatrixValidationStage, "Code", "NameEn", null ), new { @class = "kendoDropDown" })                            
                        </div>
                    </div>
                </div>

                <div class="centerContent  relative h50px">
                    <div class="inline-block inputContainer w48 absolute">
                        <div class="verticalAlignMiddle">
                            @Html.DropDownList("proGenderProEtnicityFlagsFilterSearches", new SelectList(ViewBag.ResultsMatrixFlags, "Code", "NameEn", null ), new { @class = "kendoDropDown" })                            
                        </div>
                    </div>
                    <div class="inline-block inputContainer w48 absolute absRight">
                        <div class="verticalAlignMiddle">
                            <input type="text" placeholder="@Localization.GetText("Predefined Indicator Keyword (RF, Country, sector)")" class="grayBorder w97-7" id="predefinedIndicatorKeywordFilterSearches" />
                        </div>
                    </div>
                </div>

                <div class="centerContent  relative h50px">
                    <div class="inline-block inputContainer w48 absolute">
                        <div class="verticalAlignMiddle">
                            @Html.DropDownList("pmrRequieredFilterSearches", new SelectList(ViewBag.ResultsMatrixPMRRequired, "Code", "NameEn", null ), new { @class = "kendoDropDown" })                            
                        </div>
                    </div>
                    <div class="inline-block inputContainer w48 absolute absRight">
                        <div class="verticalAlignMiddle">
                            <select id="stageFilterSearches" class="kendoDropDown">
                                <option value="" selected>@Localization.GetText("Stage")</option>
                                <option value="">@Localization.GetText("In development")...</option>
                            </select>
                        </div>
                    </div>
                </div>

                <script>
                    function setDropDownLists() {
                        $("#pmrValidationStageFilterSearches").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            height: 100
                        });
                        $("#proGenderProEtnicityFlagsFilterSearches").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            height: 100
                        });
                        $("#pmrRequieredFilterSearches").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            height: 100
                        });
                        $("#stageFilterSearches").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            height: 100
                        });
                    }
                    setDropDownLists();                    
                </script>