                <div class="centerContent  relative h50px">
                    <div class="inline-block inputContainer w48 absolute">
                        <div class=" verticalAlignMiddle">
                            <input type="text" placeholder="@Localization.GetText("Visual Output Keyword")" class="grayBorder w97-7" id="visualOutputKeywordFilterSearches" />
                        </div>
                    </div>
                    <div class="inline-block inputContainer w48 absolute absRight">
                        <div class=" verticalAlignMiddle">
                            <input type="text" placeholder="@Localization.GetText("First administrative level (Country)")" class="grayBorder w97-7" id="firstAdministrativeLevelFilterSearches" />
                        </div>
                    </div>
                </div>

                <div class="centerContent  relative h50px">
                    <div class="inline-block inputContainer w48 absolute">
                        <div class=" verticalAlignMiddle">
                            <input type="text" placeholder="@Localization.GetText("Second administrative level (District/Department/State)")" class="grayBorder w97-7" id="secondAdministrativeLevelFilterSearches" />
                        </div>
                    </div>
                    <div class="inline-block inputContainer w48 absolute absRight">
                        <div class=" verticalAlignMiddle">
                            <input type="text" placeholder="@Localization.GetText("Third administrative level (Municipality/District)")" class="grayBorder w97-7" id="thirdAdministrativeLevelFilterSearches" />
                        </div>
                    </div>
                </div>

                <div class="centerContent  relative h50px">
                    <div class="inline-block inputContainer w48 absolute">
                        <div class="verticalAlignMiddle">
                            <select id="egilibleOperationsGeoLocationInformationFilterSearches" class="kendoDropDown">
                                <option value="" selected>@Localization.GetText("Eligible operations with geo-location information")</option>
                                <option value="">Component 2</option>
                                <option value="">Component 3</option>
                                <option value="">Component 4</option>
                            </select>
                        </div>
                    </div>
                    
                </div>

                <script>
                    function setDropDownLists() {
                        $("#egilibleOperationsGeoLocationInformationFilterSearches").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            height: 100
                        });
                    }
                    setDropDownLists();                    
                </script>
