@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" dir="ltr">
    <head>
        <!-- Título página -->
        <title>BID-Maps</title>

        <!-- Etiquetas META -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
        <meta charset="utf-8" />
        <meta name="Author" content="BID" />
        <meta name="Description" content="BID" />
        <!-- PALABRAS CLAVES -->
        <meta name="Keywords" content="palabras, claves" />

        <!-- Fav icon -->
        <link rel="shortcut icon" href="~/favicon.ico"/>
        
        <!-- Archivos CSS -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/assets/css/main.css")">        
        <!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">-->
        <link rel="stylesheet" href="https://js.arcgis.com/3.11/dijit/themes/claro/claro.css">
        <link rel="stylesheet" href="https://js.arcgis.com/3.11/esri/css/esri.css">      
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/css/general.css")"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/css/modulos.css")"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/css/navegacion.css")"/>
        <link href="https://cdn.kendostatic.com/2013.3.1324/styles/kendo.silver.min.css" rel="stylesheet" /> 
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/css/kendo.common.css")"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/css/jquery.mCustomScrollbar.min.css")"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/css/labeledslider.css")"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/css/nivo-lightbox.css")"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/css/themes/default/default.css")"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/agsjs/css/agsjs.css")" />
       	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/css/tooltip.UI.css")"/>       	
       	

        <!-- panel lateral -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Map/css/panel-style.css")" />

       	<style>
		    #leftPane{
		      color:#000;
		      width:250px;
		      position:absolute;
		      left:1600px;
		    }

		    .details{
		      font-size:14px;
		      font-weight:600;
		      padding-bottom:20px;
		    }

		  .form_databasin {
            font-size: 14px;
            font-weight: 600;
            padding-bottom: 2px;
            padding-left: 16px;
}

            #smartmap-ui{
               
               top: 0;
               left: 0;
               position: relative;
            }

            #smartmap {            
            z-index: 2;
            width: 100px;
            display:block;            
            }
          
            #databasin {            
                z-index: 2;                        

            }
  		</style>
       	
       	
              
        <!--Archivos JS-->
        
<!--         <script type="text/javascript" src="js/optimized/libs.js"></script> --> 
       <script type="text/javascript" src="ConfigurationParameters"></script>
       <script type="text/javascript" src="@Url.Content("~/Map/js/develop/lib/jquery-1.10.1.min.js")"></script>
       <script type="text/javascript" src="@Url.Content("~/Map/js/develop/lib/jquery-ui-1.10.3.custom.min.js")"></script>
       <script type="text/javascript" src="@Url.Content("~/Map/js/develop/lib/kendo/min/kendo.web.min.js")"></script>
       <script type="text/javascript" src="@Url.Content("~/Map/js/develop/lib/labeledslider/labeledslider.js")"></script>
       <script type="text/javascript" src="@Url.Content("~/Map/js/develop/lib/multiAccordion/jquery.multi-accordion-1.5.3.js")"></script>
       <script type="text/javascript" src="@Url.Content("~/Map/js/develop/lib/scroll/jquery.mCustomScrollbar.min.js")"></script>
       <script type="text/javascript" src="@Url.Content("~/Map/js/develop/lib/scroll/jquery.mousewheel.min.js")"></script>
       <script type="text/javascript" src="@Url.Content("~/Map/js/develop/lib/html5shiv3.7.0.min.js")"></script>       
       <script type="text/javascript" src="@Url.Content("~/Map/js/develop/lib/simplePagination.js")"></script>
        
        
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.addhtml.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.addimage.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.annotations.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.autoprint.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.standard_fonts_metrics.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.split_text_to_size.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.from_html.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.cell.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.context2d.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.javascript.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.outline.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.png_support.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.sillysvgrenderer.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.total_pages.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.PLUGINTEMPLATE.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/jspdf.plugin.table.js")"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/libs/deflate.js")"></script>        
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/libs/polyfill.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/libs/png_support/png.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jspdf/libs/png_support/zlib.js")"></script>
        


        <!-- SMARTMAP -->
        <script src="@Url.Content("~/Map/lib/deps.js")"></script>
        <script src="@Url.Content("~/Map/lib/smartmap.js")"></script>
		<script>

            function getAppPath() {
                var pathRegex = new RegExp(/\/[^\/]+$/);
                var result = window.location.pathname.replace(pathRegex, '');
                if (result[0] == "/" && result[1] == "/")
                    return result.substr(1);
                else
                    return result;
            }

            function getPathAgsjs() {
                var result = location.pathname.replace(/\/[^/]+$/, '') + '/agsjs';
                if (result[0] == "/" && result[1] == "/")
                    return result.substr(1);
                else
                    return result;
            }

            var dojoConfig = {
                isDebug: false,
                async: true,
                paths: {
                    agsjs: getPathAgsjs()
                },
                packages: [
                    { name: 'app', location: getAppPath() },
                    { name: 'smartmap-ui', location: getAppPath() + '../release', main: 'smartmap-ui' } 

                ]
            };

        </script>
         <!-- SMARTMAP -->

        
        
        
        <script src="https://js.arcgis.com/3.11/"></script>
                           
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/customInput/CustomCR.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/customInput/CustomCRGroup.js")"></script>        
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/customInput/CustomCRCategories.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/customInput/CustomCRCategoryGroup.js")"></script>
       
        
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/FiterableList/_FilterableList.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/FiterableList/FilterOperationList.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/FiterableList/FilterCountryList.js")"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/buscarFocus/buscarFocus.js")"></script>
             
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/MapListOperation/_MapListOperation.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/MapListOperation/MapDetailOperation.js")"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/MapOptionsList/_MapOptionsList.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/MapOptionsList/MapLayersList.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/MapOptionsList/MapTypesList.js")"></script>        
        
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/Modal/Modal.js")"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/Tabs/Tab.js")"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/Tabs/TabGroup.js")"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/CustomLabeledSlider.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/ShowHide.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/SimpleGallery.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/develop/app/SplashMod.js")"></script>
        <!--      	<script type="text/javascript" src="@Url.Content("~/Map/js/develop/lib/kendo/kendo.web.js")"></script>  -->
		<script type="text/javascript" src="@Url.Content("~/Map/js/grid.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Map/js/jquery.carouFredSel-6.2.1.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Map/js/jquery.block.UI.js")"></script>
		<!-- <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>-->		
        <!-- panel lateral -->
        <script type="text/javascript" src="@Url.Content("~/Map/js/slide-panel.js")"></script>
        
		<script type="text/javascript" src="@Url.Content("~/Map/js/jquery.tooltip.UI.js")"></script>		
        <script type="text/javascript" src="@Url.Content("~/Map/js/init_params.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/language.js")"></script>		
        <script type="text/javascript" src="@Url.Content("~/Map/js/init.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/tpLayers.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/mainCommon.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/mainMap.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/arcGisMap.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/initMaps.js")"></script>        
        <script type="text/javascript" src="@Url.Content("~/Map/js/nivo-lightbox.min.js")"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Map/js/jquery.hoverIntent.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/jquery.mb.flipText.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Map/js/mbExtruder.js")"></script>

    </head>
<body class="claro">

    <div id="myDialogReport2" data-dojo-type="dijit/Dialog" data-dojo-id="myDialogReport2">
        <div id="detailsDialog" class="details" style="display:none">
            <!-- <button data-dojo-type="dijit.form.Button" id="boton_imprimir" onclick="demoFromHTML()" value="Print pdf"></button>         -->
            <div id="boton_imprimir"></div>
            <div><b>Report</b></div>
            <div id="proyect_location2"></div>
            <div id="report">
                <table id="table_layer_report" style="border:1px solid black; border-collapse:collapse"></table>
            </div>
        </div>
    </div>


<!-- TITULO PRINCIPAL PAGINA -->
<h1 class="hide">BID</h1>

<!-- CONTENEDOR PRINCIPAL -->
<div class="contenedor_general layoutDosColsIzda">
    <section class="wrapperGeneral">

        <!-- CONTENIDO -->
        
        <section class="contenido cd-main-content">
            <!-- botones panel lateral -->
            <div class="ontheleft">
                <a href="#0" class="cd-btn"><img src="img/menuicos/icon0.png" data-panel="image_icon_0" id="image_icon_0_bis"></a>
                <a href="#0" class="cd-btn"><img src="img/menuicos/icon1.png" data-panel="image_icon_1" id="image_icon_1_bis"></a>
                <a href="#0" class="cd-btn"><img src="img/menuicos/icon2.png" data-panel="image_icon_2" id="image_icon_2_bis"></a>
                <a href="#0" class="cd-btn"><img src="img/menuicos/icon3.png" data-panel="image_icon_3" id="image_icon_3_bis"></a>
                <a href="#0" class="cd-btn"><img src="img/menuicos/icon4.png" data-panel="image_icon_4" id="image_icon_4_bis"></a>
            </div>
            <div class="ontheright">
                <a href="#0" class="cd-btn2 whyontheright">
                    <img style="display:none" src="img/menuicos/icon5.png" data-accordion="image_icon_5">
                </a>
                <a href="#0" class="cd-btn2 ">
                    <img src="img/menuicos/icon5.png" data-accordion="image_icon_5" title="Base map">
                </a>
                <a href="#0" class="cd-btn2">
                    <img src="img/menuicos/icon6.png" data-accordion="image_icon_6" title="Country layers">
                </a>
                <a href="#0" class="cd-btn2">
                    <img src="img/menuicos/icon7.png" data-accordion="image_icon_7" title="ESG Biodiversity Screening">
                </a>
                <a href="#0" class="cd-btn2">
                    <img src="img/menuicos/icon8.png" data-accordion="image_icon_8" title="Smartmap">
                </a>
                                                
            </div>
            <!-- -->
            <h2 class="hide">Modulo de Contenido</h2>
            <div class="contentMap">
                <!--                     <img class="map" src="img/mapaPrueba.png" alt="prueba"/>  -->
                <!--                          <div class="map" id="mapa" style="width:1280px; height:641px"></div>  -->
                <div class="map" id="mapa" style="width:1280px; height:740px"></div>

            </div>
            <!--MAIN SPLASH-->

            <div class="mod_IDBmaps" style="z-index:50">
                <div class="head_IDB">
                    <h3 class="title_IDB">IDB<span id="mapsTitle">Maps</span></h3>
                    <p class="subtitle_IDB">Mapping results of Latin America and the Caribbean</p>
                </div>
                <!--Contenido-->
                <div class="content_IDB">
                    <form>
                        <div class="cajones">
                            <!--Primer cajon-->
                            <div class="cajas cajaCountry MOD_cajaCountry top-lefti">
                                <img class="picture" src="#" alt="" />
                                <div class="bloq_text">
                                    <span id="countryDepartment" class="text_categories"></span>
                                    <p class="text_categories_activo">Brazil</p>
                                </div>
                                <div class="text_hover inputNormal">
                                    <label for="IDdepartament">
                                        <span class="text_categories" id="descriptionDepartmentSplash"></span>
                                        <input type="text" id="IDdepartament" class="inputEntry w85 SPLASH_FILTER_initCountriesFilter" name="Departament" placeholder="C. Departament or Location" />
                                    </label>
                                </div>
                            </div>
                            <!--FIN Primer cajon-->
                            <!--Segundo cajon-->
                            <div class="cajas cajaOperation MOD_cajaOperation top-righti">
                                <img class="picture" src="#" alt="Picture" />
                                <div class="bloq_text">
                                    <span id="operationSplash" class="text_categories"></span>
                                    <p class="text_categories_activo">BR-L1053</p>
                                </div>
                                <div class="text_hover inputNormal">
                                    <label for="IDOperation">
                                        <span class="text_categories" id="operationDepartmentSplash"></span>
                                        <input type="text" id="IDOperation" class="inputEntry w85 SPLASH_FILTER_operations" name="Operation" placeholder="Operation" />
                                    </label>
                                </div>
                            </div>
                            <!--FIN Segundo cajon-->
                            <!--Tercer cajon-->
                            <div class="cajas cajaSector MOD_cajaSector bottom-left">
                                <div class="bloq_text">
                                    <span id="sectorSplash" class="text_categories"></span>
                                    <p class="text_categories_activo numOfSector"><span class="num_selected">0</span> of <span class="num_total">0</span></p>
                                    <div class="checkbox_blancos">
                                        <ul class="SPLASH_checksSelected"></ul>
                                    </div>

                                </div>
                                <div class="text_hover">
                                    <span id="descriptionSectorSplash" class="text_categories"></span>
                                    <ul class="optionList w100 ftl">
                                        <li class="small positionR w85 ftl marginRight4 ">
                                            <div class="k-widget k-dropdown k-header ">
                                                <div class="CM_splash_sectorsButton k-dropdown-wrap k-state-default">
                                                    <span id="sectorList" class="k-input"></span>
                                                    <div class="k-select">
                                                        <span class="k-icon k-i-arrow-s">select</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div id="sectorsChecks" class="CM_splash_filterSectors">
                                    <!--INICIO LISTA DE CHECKBOX-->
                                    <div class="list_autolist list_checkbox CM_splash_sectores">
                                        <div class="main_content geloLocationAddressScrollBarclass">
                                            <!--Columna checkbox VERDE-->
                                            <ul class="columns"></ul>
                                            <!--FIN Columna checkbox NARANJA-->
                                        </div>
                                        <div class="footer_checkbox_list">
                                            <a href="javascript:void(0);" title="Uncheck all" class="link12 uncheckAll ftr" id="uncheckSectorsSplash"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--FIN Tercer cajon-->
                            <!--Cuarto cajon-->
                            <div class="cajas cajaCategories MOD_cajaCategories bottom-right">
                                <div class="bloq_text">
                                    <span id="categorySplash" class="text_categories"></span>
                                    <p class="text_categories_activo numOfCategories"><span class="num_selected">6</span> of <span class="num_total">31</span></p>
                                    <div class="bloq_image_categories SPLASH_checksSelected">
                                        <ul class="ftl w100"></ul>
                                    </div>
                                </div>
                                <div class="text_hover">
                                    <span class="text_categories" id="categoryDescriptionSplash"></span>
                                    <ul class="optionList w100 ftl CM_splash_filters">
                                        <li class="small w85 ftl positionR CM_splash_filterCategories">
                                            <div class="k-widget k-dropdown k-header ">
                                                <div class="CM_splash_categoriesButton k-dropdown-wrap k-state-default">
                                                    <span id="categoryList" class="k-input"></span>
                                                    <div class="k-select">
                                                        <span class="k-icon k-i-arrow-s">select</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--INICIO LISTA Category-->
                                <div class="CM_splash_filterCategories">
                                    <div class="list_autolist list_categories CM_splash_categorias">
                                        <div class="main_content geloLocationCategoriesScrollBarclass">
                                            <ul class="columns"></ul>
                                        </div>
                                        <div class="footer_categories_list">
                                            <a href="javascript:void(0)" title="Uncheck all" class="link12 ftr uncheckAll" id="uncheckCategorySplash">Uncheck all</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Fin Lista Category-->
                            </div>
                            <!--FIN Cuarto cajon-->
                        </div>
                        <div class="search_IDB">
                            <label for="searchCajones">
                                <input type="button" id="searchCajones" name="Search" value="Search" class="inputSearch_IDB SPLASH_searchButton" />
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Contenedor para los componentes principales de la aplicacion -->
            <div class="MAPS_applicationBody">
                <!--FIN MAIN SPLASH-->

                <!--<div class="menu_lateral"></div>-->


               
                <!--Sidebar lateral-->
                <!--<div class="sidebar_operations scroll">-->
                    <!--Buscador Sidebar-->

                    <!--<div class="FILTER_container seccion_search w51 ftl">
                        <div class="FILTER_filters ftl w100">
                            <div class="inputNormal w70">
                                <input class="FILTER_initCountriesFilter inputEntry w40 ftl marginRight2" type="text" placeholder="C.Departament/Location" title="C.Departament/Location" id="departamentID" />-->
                                <!-- <input class="operationInput inputEntry w40 ftl marginRight2" type="text" placeholder="Operation" title="Operation" id="OperationID" /> -->
                            <!--</div>
                            <a id="botonListaFiltro" class="btn_menuList" title="List" href="javascript:void(0)">
                                <span class="simbolo">&#57349;</span>
                            </a>

                            <label for="Search">
                                <input id="Search" class="btn-primary btn_search w10 ftl marginRight4" type="button" value="Search">
                            </label>

                        </div>

                        <div class="FILTER_result contenedor_titulo_pais w80 ftl">
                            <div class="contenedor_TituloYsubtitulo">
                                <p class="rotulo_titulo bold ftl control_excesoTextoW90 FILTER_resultTitle"></p>
                                <div class="contenedor_numOperations rotulo_subtitulo">
                                    <span class="num_operations FILTER_numOperations"></span>
                                    <span class="text_operations FILTER_operations"></span>
                                </div>
                            </div>
                            <div class="contenedor_imgClear">-->
                                <!--Boton Close-->
                                <!--<a class="img_clear FILTER_clearButton ftr" href="#" title="Eliminar"></a>-->
                                <!-- -->
                            <!--</div>

                        </div>

                    </div>-->


                    <!--<div class="search_operations inputNormal">
                        <label for="searchOperation">
                            <input type="text" class="inputEntry FILTER_initOperationsFilter" id="searchOperation" placeholder="Search operation" title="Search" />
                        </label>
                    </div>-->
                    <!--Fin Buscador Sidebar-->
                    <!--Contenido Sidebar-->
                    <!--<div class="content_operations">

                    </div>-->
                    <!--Fin Contenido Sidebar-->
                <!--</div>-->

                <!--Map List Operation -->                
                <!-- <div class="contenedor_mapListOperation ftl customScroll"></div> -->
                
                <!--FIN Sidebar lateral-->
                <!-- Contenedor para el componente slider -->
                <div class="sliderContainer"><div class="slider"></div></div>
            </div>

            <!--POPUP-->
            <!--IMPORTANTE - Los estilos en Mayuscula tienen que ir en minuscula para que funcionen-->
          
            <!--FIN POPUP-->
            <!--POPUP-MODAL 16-->
            <!--IMPORTANTE - Los estilos en Mayuscula tienen que ir en minuscula para que funcionen-->
          
            <!--FIN POPUP-->
            <!-- Fin contenedor de aplicacion -->
        </section>
        <!-- FIN CONTENIDO -->

        <div id="panelIzquierdo" class="cd-panel from-left">
            <header class="cd-panel-header">
                <div class="cd-button">
                    <a href="#"><img class="image_icon_left" data-panel="panel0" id="image_icon_0" src="img/menuicos/icon0.png"></a>                
                    <a href="#"><img class="image_icon_left" data-panel="panel1" id="image_icon_1" src="img/menuicos/icon1.png"></a>                
                    <a href="#"><img class="image_icon_left" data-panel="panel2" id="image_icon_2" src="img/menuicos/icon2.png"></a>
                    <a href="#"><img class="image_icon_left" data-panel="panel3" id="image_icon_3" src="img/menuicos/icon3.png"></a>
                    <a href="#"><img class="image_icon_left" data-panel="panel4" id="image_icon_4" src="img/menuicos/icon4.png"></a>
                </div>                
                <a href="#0" class="cd-panel-close">Close</a>
            </header>
            <div class="cd-panel-container">
                <div class="cd-panel-content rightBlackBorder">
                    <div class="sidebar_operations scroll">
                        <!--Buscador Sidebar-->

                        <div class="FILTER_container seccion_search w51 ftl hidden scroll">
                            <div class="FILTER_filters ftl w100 ">
                                <!--<div class="inputNormal w70">-->
                                <!--<input class="FILTER_initCountriesFilter inputEntry w40 ftl marginRight2" type="text" placeholder="C.Departament/Location" title="C.Departament/Location" id="departamentID" />-->
                                <!-- <input class="operationInput inputEntry w40 ftl marginRight2" type="text" placeholder="Operation" title="Operation" id="OperationID" /> -->
                                <!--</div>-->
                                <label for="searchOperation">
                                    <input type="text" class="inputEntry FILTER_initOperationsFilter" id="searchOperation" placeholder="Search operation" title="Search" />
                                </label>
                                <a id="botonListaFiltro" class="btn_menuList" title="List" href="javascript:void(0)">
                                    <span class="simbolo">&#57349;</span>
                                </a>
                                <!--<label for="Search">
                <input id="Search" class="btn-primary btn_search w10 ftl marginRight4" type="button" value="Search">
            </label>-->

                            </div>
                            <div class="FILTER_result contenedor_titulo_pais w80 ftl">
                                <div class="contenedor_TituloYsubtitulo">
                                    <p class="rotulo_titulo bold ftl control_excesoTextoW90 FILTER_resultTitle"></p>
                                    <div class="contenedor_numOperations rotulo_subtitulo">
                                        <span class="num_operations FILTER_numOperations"></span>
                                        <span class="text_operations FILTER_operations"></span>
                                    </div>
                                </div>
                                <div class="contenedor_imgClear">
                                    <!--Boton Close-->
                                    <a class="img_clear FILTER_clearButton ftr" href="#" title="Eliminar"></a>
                                    <!-- -->
                                </div>

                            </div>

                        </div>


                        <div class="contenedor_mapListSectors hide scroll">
                            <div>
                                <span id="sectors_caption" class="accordion-section-title-span-left">Sectors</span>
                            </div>
                            <div class="search_operations FILTER_filters ftl w100 inputNormal ">
                                <!---->
                                <div class="inputNormal w80">
                                    <input class="FILTER_initCountriesFilter inputEntry ftl marginRight2" type="text" placeholder="" title="Search" id="searchSectors" />
                                    <!-- <input class="operationInput inputEntry w40 ftl marginRight2" type="text" placeholder="Operation" title="Operation" id="OperationID" /> -->
                                </div>
                            </div>

                            <div class="panel_categorias contentHeightSectors">
                                <ul id="id_contenedor_menusDesplegablesSectors"></ul>
                            </div>
                            <ul class="optionList w100 ftl CM_filters">
                                <li class="small positionR w40 ftl marginRight4 CM_filterSectors">

                                    <!--INICIO LISTA DE CHECKBOX-->
                                    <div id="sectorsFilter_UIMAP002" style="display:none" class="CM_sectores">
                                        <div class="main_content geloLocationAddressScrollBarclass">
                                            <!--Columna checkbox VERDE-->
                                            <ul class="columns"></ul>
                                            <!--FIN Columna checkbox NARANJA-->
                                        </div>
                                        <div class="footer_checkbox_list">
                                            <a href="javascript:void(0)" title="Uncheck all" class="link12 uncheckAll ftr" id="uncheckSectors"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!--end .accordion-section-content-->
                        
                        <div class="contenedor_mapListCategorias hide scroll">
                            <div>
                                <span id="result_caption" class="accordion-section-title-span-left">Categories</span>
                            </div>
                            <div class="search_operations FILTER_filters ftl w100 inputNormal ">
                                <!---->
                                <div class="inputNormal w80">
                                    <input class="FILTER_initCountriesFilter inputEntry ftl marginRight2" type="text" placeholder="" title="Search" id="searchCategories" />
                                    <!-- <input class="operationInput inputEntry w40 ftl marginRight2" type="text" placeholder="Operation" title="Operation" id="OperationID" /> -->
                                </div>
                            </div>
                            <div >
                                <ul id="id_contenedor_menusDesplegablesCategorias" class="contenedor_menusDesplegablesCategorias"></ul>
                            </div>

                            <ul class="optionList w100 ftl CM_filters">
                                <li class="small w40 ftl positionR CM_filterCategories">
                                    <!--INICIO LISTA Category-->
                                    <div id="categoriesFilter_UIMAP002" style="display:none" class="CM_categorias">
                                        <div class="main_content geloLocationCategoriesScrollBarclass">
                                            <ul class="columns"></ul>
                                        </div>
                                        <div class="footer_categories_list">
                                            <a href="javascript:void(0)" title="Uncheck all" class="link12 ftr uncheckAll" id="uncheckCategories">Uncheck all</a>
                                        </div>
                                    </div>
                                    <!--Fin Lista Category-->
                                </li>
                            </ul>
                        </div><!--end .accordion-section-content-->
                        
                        <div class="contenedor_mapListPaises hide scroll">
                            <div>
                                <span id="countries_caption" class="accordion-section-title-span-left">Countries</span>
                            </div>
                            <div class="search_operations FILTER_filters ftl w100 inputNormal ">
                                <!---->
                                <div class="inputNormal w80">
                                    <input class="FILTER_initCountriesFilter inputEntry ftl marginRight2" type="text" placeholder="" title="Search" id="searchPaises" />
                                    <!-- <input class="operationInput inputEntry w40 ftl marginRight2" type="text" placeholder="Operation" title="Operation" id="OperationID" /> -->
                                </div>
                            </div>
                            <div class="panel_sectors contentHeight">
                                <ul id="id_contenedor_menusDesplegablesPaises" class="contenedor_menusDesplegablesPaises"></ul>
                            </div>

                            <ul class="optionList w100 ftl CM_filters">
                                <li class="small w40 ftl positionR CM_filterPaises">
                                    <!--INICIO LISTA Paises-->
                                    <div id="PaisesFilter_UIMAP002" style="display:none" class="CM_Paises">
                                        <div class="main_content geloLocationPaisesScrollBarclass">
                                            <ul class="columns"></ul>
                                        </div>
                                        <div class="footer_Paises_list">
                                            <a href="javascript:void(0)" title="Uncheck all" class="link12 ftr uncheckAll" id="uncheckCategories">Uncheck all</a>
                                        </div>
                                    </div>
                                    <!--Fin Lista Paises-->
                                </li>
                            </ul>
                        </div><!--end .accordion-section-content-->

                        
                        <div class="contenedor_mapListDepartment hide scroll">
                            <div>
                                <span id="departaments_caption" class="accordion-section-title-span-left">Departments</span>
                            </div>
                            <div class="panel_department contentHeight">
                                <ul id="id_contenedor_menusDesplegablesDepartment" class="contenedor_menusDesplegablesDepartment"></ul>
                            </div>

                            <ul class="optionList w100 ftl CM_filters">
                                <li class="small w40 ftl positionR CM_filterDepartment">
                                    <!--INICIO LISTA Department-->
                                    <div id="DepartmentFilter_UIMAP002" style="display:none" class="CM_Departments">
                                        <div class="main_content geloLocationDepartmentsScrollBarclass">
                                            <ul class="columns"></ul>
                                        </div>
                                        <div class="footer_Departments_list">
                                            <a href="javascript:void(0)" title="Uncheck all" class="link12 ftr uncheckAll" id="uncheckCategories">Uncheck all</a>
                                        </div>
                                    </div>
                                    <!--Fin Lista Departments-->
                                </li>
                            </ul>
                        </div><!--end .accordion-section-content-->


                        <div class="contenedor_mapListSearch scroll">
                            <div class="FILTER_container seccion_search w100 ftl">
                                <div class="search_operations FILTER_filters ftl w100 inputNormal ">
                                    <!---->
                                    <div class="inputNormal w80">
                                        <input class="FILTER_initCountriesFilter inputEntry ftl marginRight2" type="text" placeholder="Search" title="Search" id="departamentID" />
                                        <!-- <input class="operationInput inputEntry w40 ftl marginRight2" type="text" placeholder="Operation" title="Operation" id="OperationID" /> -->
                                    </div>
                                    <label for="Search">
                                        <img style="top:10px;" src="img/search.png" id="Search" />
                                    </label>
                                </div>
                            </div>
                            <div id="dv_filtros"></div>
                            <div class="contenedor_mapDetailOperation"></div>
                            <div class="contenedor_mapListOperation"></div>
                            <div class="modal_maps MODAL1 ftl customScroll" id="modalvp">
                                <div class="cabecera_modal">
                                    <div class="buttonsOperationBar">
                                        <a class="link_back BACK_BTN" title="Back" href="javascript:hideModal1();">&#10060;</a>
                                        <div class="contenedor_Title_Subtitle">
                                            <div style="float:left; padding-right:5px; height:32px; position:relative">
                                                <a class="volver VOLVER">
                                                    <div style="position:relative; top:7px; float:left; padding-right:5px; height:27px; width:23px; background-image:url(img/left.png); background-repeat:no-repeat">
                                                    </div>
                                                </a>
                                            </div>
                                            <div style="float:left; width:260px">
                                                <h3 class="title TITLE"></h3>
                                            </div>
                                            <span class="subtitle SUBTITLE"></span>
                                        </div>
                                        <!-- <a class="minimizar" href="javascript:void(0)">&#59206;</a> -->
                                    </div>

                                </div>
                                <div class="content_modal">

                                    <div class="mod_tabs03">
                                        <ul>
                                            <li>
                                                <a id="details" title="Details" href="javascript:void(0)" class="itemList active"></a>
                                            </li>
                                            <li>|</li>
                                            <li>
                                                <a id="pictures" title="Pictures" href="javascript:void(0)" class="itemList"> (<span class="number NUM_PICTURES">15</span>)</a>
                                            </li>
                                            <li>|</li>
                                            <li>
                                                <a id="videos" title="Videos" href="javascript:void(0)" class="itemList"> (<span class="number NUM_VIDEO">2</span>)</a>
                                            </li>
                                            <li>|</li>
                                            <li>
                                                <a id="documents" title="Documents" href="javascript:void(0)" class="itemList"> (<span class="number NUM_DOCUMENT">4</span>)</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pestanas_modalW100 pestana">
                                        <div class="card_03">

                                            <dt class="data_title" id="typeDetail">Type</dt>
                                            <dd class="data_desc LOCATION_TYPE"></dd>
                                        </div>
                                        <div class="modTitleAndSubtitle w100">
                                            <a class="link12 link14 BASIC_DATA BASIC_DATA_HREF" title="Basic data" href="javascript:void(0)">Basic data</a>
                                        </div>
                                        <div class="last_updated">
                                            <h4 class="title_last_updated" id="lastUpdatedDetail">Last updated</h4>
                                            <ul class="list_last_updated LAST_UPDATED_IMGS"></ul>
                                        </div>
                                        <div class="cl">
                                        </div>
                                        <div class="card_01W100">
                                            <h4 class="headingh4" id="levelAdmDetail" style='display:none'>Administrative level</h4>
                                            <div class="one_of_third1">
                                                <div class="data_title" id="MunicipalityDetail">Third (Municipality/District)</div>
                                                <div class="data_desc ADMIN_THIRD"></div>
                                            </div>
                                            <div class="one_of_third2">
                                                <div class="data_title" id="stateDetail">Second (District/Departament/State)</div>
                                                <div class="data_desc ADMIN_SECOND"></div>
                                            </div>
                                            <div class="one_of_third3">
                                                <div class="data_title" id="countryDetail">First (Country)</div>
                                                <div class="data_desc ADMIN_FIRST"></div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="pestanas_modalW100 pestana">
                                        <!--   <div class="contenedor_contenidoPestaniaModal MOD_gallery">
                       <div class="contenedor_imgAmpliada BIG_IMG"></div>

                        <div class="list_images GALERY_IMG">
                            Numeritos
                            <div class="contenedor_nav_images_horizontal">
                                <ul class="nav_images_horizontal GALERY_IMG_NAV"></ul>
                            </div>
                        </div>


                    </div> -->

                                        <div class="contenedor_contenidoPestaniaModal">
                                            <div class="list_images GALERY_IMG">
                                                <div class="carrusel_wrapper">
                                                    <div class="wrapper">
                                                        <div class="list_carousel">
                                                            <ul id="carousel" class="carousel"></ul>
                                                            <div class="clearfix"></div>
                                                            <a id="prev2" class="prevCar" href="#">&lt;</a>
                                                            <a id="next2" class="nextCar" href="#">&gt;</a>
                                                            <div id="pager2" class="pager"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="contenedor_bloqueTexto_imagenes">
                        <dl class="bloque_dl">
                            <dt class="data_title" id="namePictures">Name</dt>
                                <dd class="data_descCon125em paddingTop05em GALERY_IMG_NAME"></dd>
                            <dt class="data_title marginTop2em" id="descPictures">Descripcion</dt>
                                <dd class="data_desc paddingTop05em TEXT_DEFINITION GALERY_IMG_DESCRIPTION"></dd>
                            <dt class="data_title marginTop2em" id="yearPictures">Year</dt>
                                <dd class="data_desc GALERY_IMG_YEAR"></dd>
                        </dl>
                    </div> -->
                                    </div>
                                    <div class="pestanas_modalW100 pestana ">
                                        <div class="contenedor_contenidoPestaniaModal">
                                            <div class="list_videos GALERY_VIDEOS">
                                                <div class="carrusel_wrapper">
                                                    <div class="wrapper">
                                                        <div class="list_carousel">
                                                            <ul id="carousel" class="carousel"></ul>
                                                            <div class="clearfix"></div>
                                                            <a id="prev2" class="prevCar" href="#">&lt;</a>
                                                            <a id="next2" class="nextCar" href="#">&gt;</a>
                                                            <div id="pager2" class="pager"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="carrusel_wrapper" >
                            <div id="divVideo" style="text-align:center">
                            <div class="wrapper">
                                <div class="list_carousel">
                                    <ul id="carousel" class="carousel">
                                    </ul>
                                    <div class="clearfix"></div>
                                    <a id="prev2" class="prev" href="#">&lt;</a>
                                    <a id="next2" class="next" href="#">&gt;</a>
                                    <div id="pager2" class="pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contenedor_bloqueTexto_videos">
                        <dl class="bloque_dl">
                            <dt class="data_title" id="namePictures">Name</dt>
                                <dd class="data_descCon125em paddingTop05em GALERY_VID_NAME"></dd>
                            <dt class="data_title marginTop2em" id="descPictures">Descripcion</dt>
                                <dd class="data_desc paddingTop05em TEXT_DEFINITION GALERY_VID_DESCRIPTION"></dd>
                            <dt class="data_title marginTop2em" id="yearPictures">Year</dt>
                                <dd class="data_desc GALERY_VID_YEAR"></dd>
                        </dl>
                    </div>  -->
                                    </div>
                                    <div class="pestanas_modalW100 pestana">
                                        <div class="mod_tabla mod_tabla_plegable" id="WRAPPER_DOC">
                                            <table class='GALERY_DOCS' id='tgrid'>
                                                <thead>
                                                    <tr>
                                                        <th id="docHeaderUser">User</th>
                                                        <th id="docHeaderDate">Date</th>
                                                        <th id="docHeaderContent">Content</th>
                                                        <th style="width:50px" id="docHeaderDownload">Download</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal_maps MODAL2 ftl customScroll" id="modalvo">
                                <div class="cabecera_modal">
                                    <div class="buttonsOperationBar">
                                        <a class="link_back BACK_BTN" title="Back" href="javascript:void(0)">&#10060;</a>
                                        <div class="contenedor_Title_Subtitle">
                                            <div style="float:left; padding-right:5px; height:32px; position:relative">
                                                <a class="volver VOLVER">
                                                    <div style="position:relative; top:7px; float:left; padding-right:5px; height:27px; width:23px; background-image:url(img/left.png); background-repeat:no-repeat">
                                                    </div>
                                                </a>
                                            </div>
                                            <div style="float:left; width:260px">
                                                <span class="title TITLE"> Quadre de esportes no municipio de Salitre</span>
                                            </div>
                                            <span class="subtitle SUBTITLE">BR-L1053 Support for Social Reforms in Ceara - PROARES Phase II</span>
                                        </div>
                                        <!-- <a class="minimizar" href="javascript:void(0)">&#59206;</a> -->
                                    </div>
                                </div>
                                <div class="content_modal">
                                    <div class="contenedor_modTitulosYdropdown">
                                        <div class="modTitleAndSubtitle w70">
                                            <!--  <span class="title TITLE">Quadre de esportes no municipio de Salitre</span>
                        <span class="subtitle SUBTITLE">BR-L1053 Support for Social Reforms in Ceara - PROARES Phase II</span>-->

                                        </div>

                                        <div class="contenedor_texto_and_dropdown">

                                            <span class="header_combo">Visual output</span>
                                            <ul class="optionList ul_DropDown ">
                                                <li class="small li_DropDown li1_DropDown HEADER_COMBO"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mod_tabs03">
                                        <ul>
                                            <li>
                                                <a id="detailsM2" title="Details" href="javascript:void(0)" class="itemList active"></a>
                                            </li>
                                            <li>|</li>
                                            <li>
                                                <a id="historyM2" title="History records" href="javascript:void(0)" class="itemList"> (<span class="number NUM_HISTORY">15</span>)</a>
                                            </li>
                                            <li>|</li>
                                            <li>
                                                <a id="documentsM2" title="Documents" href="javascript:void(0)" class="itemList">Documents (<span class="number NUM_DOCUMENT">4</span>)</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="pestanas_modalW100 pestana">
                                        <div class="card_01W100">
                                            <div class="data_title" id="descriptionM2">Description</div>
                                            <div class="data_desc w90 TYPE_DESCRIPTION"></div>
                                        </div>
                                        <div class="card_03">
                                            <div class="data_title data_titleW67" id="visualOutputStatusFlagM2">Visual Output Delivery Status Flag</div>
                                            <div class="data_desc STATUS_FLAG"></div>
                                            <div class="data_title data_titleW67" id="unidadesFisicasM2">Physical Output Units represented by VO</div>
                                            <div class="data_desc PHYSICAL_OUTPUT"></div>
                                            <div class="data_title data_titleW67" id="typeM2">Location type</div>
                                            <div class="data_desc DET_TYPE"></div>
                                        </div>
                                        <div class="last_updated">
                                            <h4 class="title_last_updated" id="lastUpdatedDetailM2">Last updated</h4>
                                            <ul class="list_last_updated LAST_UPDATED_IMGS"></ul>
                                        </div>

                                        <div class="cl"></div>

                                        <div class="card_01W100">
                                            <div class="data_title" id="levelAdmDetailM2" style='display:none'>Administrative level</div>
                                            <div class="one_of_third1">
                                                <div class="data_title" id="MunicipalityDetailM2">Third (Municipality/District)</div>
                                                <div class="data_desc ADMIN_THIRD"></div>
                                            </div>
                                            <div class="one_of_third2">
                                                <div class="data_title" id="stateDetailM2">Second (District/Departament/State)</div>
                                                <div class="data_desc ADMIN_SECOND"></div>
                                            </div>
                                            <div class="one_of_third3">
                                                <div class="data_title" id="countryDetailM2">First (Country)</div>
                                                <div class="data_desc ADMIN_FIRST"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="pestanas_modalW100 pestana">
                                        <div class="contenedor_dropdownAndBloquedl">
                                            <div class="contenedor_dropDown">
                                                <ul class="optionList ul_DropDown ">
                                                    <li class="small li_DropDown li1_DropDown BODY_COMBO"></li>
                                                </ul>
                                            </div>
                                            <div class="card_03W80">
                                                <ul class="card_03W80">
                                                    <li>
                                                        <dl class="data_01">
                                                            <dt class="data_title" id="statusM2">History status</dt>
                                                            <dd class="data_desc DESC_HISTORY"></dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="contenedor_contenidoPestaniaModal">
                                            <div class="list_videos GALERY_VIDEOS">
                                                <div class="carrusel_wrapper">
                                                    <div class="wrapper">
                                                        <div class="list_carousel">
                                                            <ul id="carousel" class="carousel"></ul>
                                                            <div class="clearfix"></div>
                                                            <a id="prev2" class="prevCar" href="#">&lt;</a>
                                                            <a id="next2" class="nextCar" href="#">&gt;</a>
                                                            <div id="pager2" class="pager"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--                            <div class="contenedor_bloqueTexto_videos">
                        <dl class="bloque_dl">
                            <dt class="data_title" id="nameHistoryM2">Name</dt>
                                <dd class="data_descCon125em paddingTop05em GALERY_VID_NAME"></dd>
                            <dt class="data_title marginTop2em" id="descHistoryM2">Descripcion</dt>
                                <dd class="data_desc paddingTop05em GALERY_VID_DESCRIPTION"></dd>
                             <dt class="data_title marginTop2em" id="monthHistoryM2">Month</dt>
                                <dd class="data_desc GALERY_VID_MONTH"></dd>
                            <dt class="data_title marginTop2em" id="yearHistoryM2">Year</dt>
                                <dd class="data_desc GALERY_VID_YEAR"></dd>
                        </dl>
                    </div> -->
                                    </div>
                                    <div class="pestanas_modalW100 pestana">
                                        <div class="mod_tabla mod_tabla_plegable" id="WRAPPER_DOC">
                                            <table class='GALERY_DOCS' id='tgrid'>
                                                <thead>
                                                    <tr>
                                                        <th id="docHeaderUser">User</th>
                                                        <th id="docHeaderDate">Date</th>
                                                        <th id="docHeaderContent">Content</th>
                                                        <th style="width:50px" id="docHeaderDownload">Download</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FIN  Map List Operation-->
                 


                    </div>
                </div>
            </div>
        </div>
        <div id="panelDerecho" class="cd-panel2 from-right">
            <header class="cd-panel-header">

                <a href="#0" class="cd-panel-close">Close</a>
                <h1>Menu</h1>
            </header>
                <div class="cd-panel-container">
                    <div class="cd-panel-content leftBlackBorder">
                        <div class="contenedor_MenuMapas" id="contenedorMenuMapas">
                            <div class="accordion-buttons" style="float:left; width:40px">
                                <div>
                                    <a class="accordion-button" href="#accordion-section-title-5"><img class="image_icon_right" id="image_icon_5" src="img/menuicos/icon5.png" title="Base map"></a>
                                </div>
                                <div>
                                    <a class="accordion-button" href="#accordion-section-title-3"><img class="image_icon_right" id="image_icon_6" src="img/menuicos/icon6.png" title="Country layers"></a>
                                </div>
                                <div>
                                    <a class="accordion-button" href="#accordion-section-title-6"><img class="image_icon_right" id="image_icon_7" src="img/menuicos/icon7.png" title="ESG Biodiversity Screening"></a>
                                </div>
                                <div>
                                    <a class="accordion-button" href="#accordion-section-title-4"><img class="image_icon_right" id="image_icon_8" src="img/menuicos/icon8.png" title="Smartmap"></a>
                                </div>
                            </div>
                            <div class="accordion">

                                <div class="accordion-section" id="accordion-section-1">
                                    <div class="accordion-section-title" id="accordion-section-title-5"><span class="accordion-section-title-span">Base map</span></div>            
                                <div id="accordion-5" class="accordion-section-content">
                                    <div class="contenedor_menusDesplegablesGoogleLayers contentHeightGLayers" id="id_contenedor_menusDesplegablesGoogleLayers"></div>

                                </div><!--end .accordion-section-content-->
                            </div><!--end .accordion-section-->

                            <div class="accordion-section">
                                <div class="accordion-section-title" id="accordion-section-title-3"><span class="accordion-section-title-span">
                                    Country layers <!--<img id="imgCountryLayersInfo" class="imgInfo" src="img/infolayer.png"><input type="checkbox" id="CheckInfoThird" style="display:none">-->
                                    </span>
                                    <div id="CountryLayersInfo"></div>
                                    </div>
                                <div id="accordion-3" class="accordion-section-content">
                                    <div class="tools_layers">
                                        <!--DIV que contendra el menu que aparecerá  tras el hover en boton LAYERS-->
                                        <div class="scroll contenedor_menusDesplegablesGoogleLayers contentHeight" id="contenedormenusDesplegables3Layers"></div>
                                        <!--FIN  tools-->
                                    </div>
                                </div><!--end .accordion-section-content-->
                            </div><!--end .accordion-section-->

                            <div class="accordion-section">
                                <div class="accordion-section-title" id="accordion-section-title-6"><span class="accordion-section-title-span">ESG Biodiversity Screening <img class="imgInfo" id="imgDatabasinInfo" src="img/infolayer.png"><input style="display:none" type="checkbox" id="CheckInfo"></span></div>
                                <div id="accordion-6" class="accordion-section-content ">
                                    <div id="databasin" class="scroll {title:'Data-basin'} contentHeightDataBsin">
                                        <div id="DialogDraw">
                                            <div class="form_databasin">
                                                <input type="text" data-dojo-type="dijit.form.Textbox" class="txt-primary" id="name"><br>
                                                <div id="dropDownButtonContainer"></div>
                                                <table class="dijitDialogPaneContentArea"></table>
                                                <div id="div_buffer">
                                                    <input type="hidden" id="bufferSpatialReference" size="5" value="102100" />
                                                    <span class="text">Buffer distace</span>
                                                    <input class="txt-primary" data-dojo-type="dijit.form.Textbox" type="text" id="distance" size="5" value="25" />
                                                    <div class="separador-databasin"></div>
                                                    <select id="unit" style="width:100px;" class="inputNormal">
                                                        <option value="UNIT_KILOMETER">Kilometers</option>
                                                        <option value="UNIT_STATUTE_MILE">Miles</option>
                                                        <option value="UNIT_FOOT">Feet</option>
                                                        <option value="UNIT_METER">Meters</option>
                                                        <option value="UNIT_NAUTICAL_MILE">Nautical Miles</option>
                                                        <option value="UNIT_US_NAUTICAL_MILE">US Nautical Miles</option>
                                                        <option value="UNIT_DEGREE">Degrees</option>
                                                    </select>
                                                    <br />
                                                </div>
                                                <div id="div_label">
                                                    <span class="text">Label</span>
                                                    <input class="txt-primary" type="text" data-dojo-type="dijit.form.Textbox" id="label" value="label" />
                                                    <br />
                                                </div>
                                                <button class="btn-databasin2" data-dojo-type="dijit.form.Button" type="button" id="CancelDataBasinDraw">Cancel</button>
                                                <button class="btn-databasin2" data-dojo-type="dijit.form.Button" type="button" id="AcceptDataBasinDraw">OK</button>
                                            </div>
                                        </div>
                                        <div style="display:none" id="myDialogReport">
                                            <div class="form_databasin">
                                                <button class="btn-databasin2" data-dojo-type="dijit.form.Button" type="button" id="CancelDataBasinReport">cancel</button>
                                                <button class="btn-databasin2" data-dojo-type="dijit.form.Button" type="button" id="AcceptDataBasinReport">run Analysis</button>
                                                <div class="separador-databasin"></div>
                                                <div><b>Report</b></div>
                                                <div id="proyect_location"></div>
                                                <div id="layer_list"></div>
                                            </div>
                                        </div>

                                        <div id="myDialogMap">

                                            <div class="form_databasin"><span class="text">New map</span></div>
                                            <div class="form_databasin">
                                                <input type="text" data-dojo-type="dijit.form.Textbox" class="txt-primary" id="nameMapa">
                                            </div>
                                            <div class="form_databasin">
                                                <div class="separador-databasin"></div>
                                                <button class="btn-databasin2" data-dojo-type="dijit.form.Button" type="button" id="AcceptDataBasinMap">Save</button>
                                                <button style="display:none" class="btn-databasin2" data-dojo-type="dijit.form.Button" type="button" id="CancelDataBasinMap">Cancel</button>
                                            </div>

                                        </div>

                                        <div id="dv_databasin_newmap" data-dojo-props="region:'left'">
                                            <div class="form_databasin"><span class="text">select a map</span></div>
                                            <div class="form_databasin" id="target_selectMapa2"></div>
                                            <div class="form_databasin" id="target_newMap2"><button class="btn-databasin" data-dojo-type="dijit.form.Button" id="newMap2">New map</button></div>
                                        </div>

                                        <div id="dv_databasin_general" data-dojo-props="region:'left'">
                                            <!--<div style="float:left;" id="target_newMap"><button data-dojo-type="dijit.form.Button" id="newMap">New map</button></div>
                                        <div style="float:left;" id="target_cancelMap"><button data-dojo-type="dijit.form.Button" id="CancelMap">Cancel</button></div>-->
                                            <div class="form_databasin">
                                                <div style="clear:both"></div>

                                                <div style="float:left;" id="target_selectMapa"></div>
                                                <div class="separador-databasin"></div>
                                                <button class="btn-databasin2" data-dojo-type="dijit.form.Button" id="Edit">Rename</button>
                                                <button class="btn-databasin2" data-dojo-type="dijit.form.Button" id="Delete">Delete</button>
                                                <div id="target_add"><button class="btn-databasin2" id="Add" onclick="AsignarYguardarDataBasin()">Save Map</button></div>
                                                <div style="clear:both"></div>
                                                <div><span class="text">Select a drawing</span></div>
                                                <div id="listado_layers"></div>
                                                <div id="target_newDraw"><button class="btn-databasin" style="float:left" data-dojo-type="dijit.form.Button" id="newDraw">New draw</button></div>
                                                <div style="clear:both">
                                                    <!-- <button onclick="limpiarDataBasin();">Clear Graphics</button> -->
                                                    <!-- <div id="print_button" style="visibility:hidden;display:none;"></div> -->
                                                </div>

                                            </div>
                                        </div>
                                        <div style="clear:both; height:390px">
                                            <div id="tocDiv"></div>
                                        </div>
                                    </div>

                                </div><!--end .accordion-section-content-->
                            </div><!--end .accordion-section-->




                            <div class="accordion-section">
                                <a class="accordion-section-title" id="accordion-section-title-4"><span class="accordion-section-title-span">Smartmap</span></a>
                                <div id="accordion-4" class="accordion-section-content ">
                                    <div style="width:100px; height:555px">
                                        <div id="smartmap" class="contentHeight"></div>
                                    </div>

                                </div><!--end .accordion-section-content-->
                            </div><!--end .accordion-section-->

                        </div><!--end .accordion-->

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>






<div id="dvLoading" style="display:none"></div>
<!-- FIN CONTENEDOR PRINCIPAL -->





    

    <div id="print_button" style="display:none"></div>

    <!-- <div id="myDialogReport2"> -->
    

    <div id="header_report" style="display:none">
        <p>Project Name: <span id='hr_project_name'></span></p>
        <p>Description: <span id='hr_Description'></span></p>
        <p>Date of Intersection Analysis:<span id='hr_date'></span></p>
        <p>Analyst: IDB USER</p>

        <p>Project Intersection Analysis - Summary:</p>
        <p>&nbsp;&nbsp;Probability of Significant Impact</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Critical Natural Habitat <span id='hr_cnh'></span><p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Natural Habitat <span id='hr_nh'></span><p>
        <p>DISCLAIMER: This analysis represents the intersection of the user-identified Area of Interest and the Critical Natural Habitat and Natural Habitat datasets. The Probability of Significant Impact of this Area
of Interest to CNH and NH must be evaluated relative to the completeness of the environmental data layers in that area. Data availability is reported under the Detailed Project Analysis.</p>

    </div>

    <div id="project_extent_report" style="display:none">
        <p>Project Extent:</p>
        <p>Project Area: <span id='hr_ProjectArea'></span></p>
        <p>Buffer Size: <span id='hr_BufferSize'></span></p>
        <p>Total Area of Intersection Analysis (Project and Buffer): <span id='hr_totalArea'></span></p>        
    </div>

    <div id="hr_legend" style="display:none">
        
    </div>



</body>
</html>
