@model IDB.MW.GenericWorkflow.Models.TaskDetailViewModel

<script type="text/javascript">
    ValueObjGW.htmlClear = function (obj) {
        return obj.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"').replace(/&amp;#59177/g, '&#59177').replace("\r\n", "").replace("\n", "");
    }

    ValueObjGW.TargetFuction = "renderizeRow";
    ValueObjGW.SearchModalId = "tableDocumentsGW";
    ValueObjGW.MultipleSelection = false;
    ValueObjGW.OperationNumber = '@Model.OperationNumber';
    ValueObjGW.WorkflowTaskId = @Model.TaskId;
    ValueObjGW.BusinessAreaCode = 'BA_OPERATION_DATA';
    ValueObjGW.saveLiteral = '@IDB.Architecture.Language.Localization.GetText("OP.MS.Save")';
    ValueObjGW.cancelLiteral = '@IDB.Architecture.Language.Localization.GetText("OP.MS.Cancel")';
    ValueObjGW.editLiteral = '@IDB.Architecture.Language.Localization.GetText("OP.MS.Edit")';
    ValueObjGW.maximizeTaskLiteral = '@IDB.Architecture.Language.Localization.GetText("GLOBAL.K2.LINK.MaximizeTask")';
    ValueObjGW.minimizeTaskLiteral = '@IDB.Architecture.Language.Localization.GetText("GLOBAL.K2.LINK.MinimizeTask")';
    ValueObjGW.commentMandatoryLiteral = '@Localization.GetText("GLOBAL.K2.CommentMandatoryReject")';
    ValueObjGW.missionWorkflowValidatorLiteral = '@Localization.GetText("OP.MS.MissionWorkflowValidators.SelectRole")';
    ValueObjGW.documentButtonLiteral = '@Localization.GetText("Document.Button.Add")';
    ValueObjGW.documentButtonSearchLiteral = '@Localization.GetText("Document.Button.Search")';
    ValueObjGW.documentButtonSendLiteral = '@Localization.GetText("Document.Button.Send")';
    ValueObjGW.MaxRequestLengthLiteral = '@Localization.GetText("GLOBAL.SERVICE.IDBDOC.MAXREQUESTLENGTH")';
    ValueObjGW.errorSaving = '@Localization.GetText("OP.MS.MissionCompleteView.Messsage.ErrorSavingMission")';
    ValueObjGW.inputCommentBox = ValueObjGW.htmlClear('@Confluence.InputCommentBox(section1: Confluence.LabelGetDate(DateTime.Now),
        section2: Confluence.Label(IDBContext.Current.UserName),
        section3: null,
        value: "",
        name: "newComment",
        dataAttributes: new Dictionary < string, string > {{ "idb-fieldname", "txtNewComment" }}).ToString().Replace("\r\n", "").Replace("\n", "")' +
        '@Confluence.ButtonTrash(text: "", action: "deleteComment").ToString().Replace("\r\n", "").Replace("\n", "")' +
        '</div>');
    ValueObjGW.LabelMaximizeTask = ValueObjGW.htmlClear('@Confluence.LabelLink(IDB.Architecture.Language.Localization.GetText(
        "GLOBAL.K2.LINK.MaximizeTask"),
        name: "minMaxFloatTask",
        action: "minMaxFloatTask").ToString().Replace("\r\n", "").Replace("\n", "")');
    ValueObjGW.ButtonCloseFloatTask = ValueObjGW.htmlClear('@Confluence.ButtonClose(
        name: "closeFloatTask",
        action: "closeFloatTask",
        clase: "pb5").ToString().Replace("\r\n", "").Replace("\n", "")');
    ValueObjGW.ButtonNewComment = ValueObjGW.htmlClear('@Confluence.ButtonWhite(
        IDB.Architecture.Language.Localization.GetText("Comments"),
        name: "newCommentFloatTask",
        action: "newCommentFloatTask").ToString().Replace("\r\n", "").Replace("\n", "")');
    ValueObjGW.instructionsFT = '@Html.Raw(Model.InstructionsFT)';
    ValueObjGW.urlSaveStartWorkflow = '@Url.Action("Missions", "View", new { area = "OpusMissions"})';
    ValueObjGW.urlSaveOnly = '@Url.Action("Detail", "Task", new { area = "Workflow", taskId = (Model != null) ? Model.TaskId : 0 })';
    ValueObjGW.urlTaskAction = '@Url.Action("Index", "Tasks", new {area = "Global", operationNumber = (Model != null) ? Model.OperationNumber : ViewBag.operationNumber })';
    ValueObjGW.ButtonDeleteValidator = ValueObjGW.htmlClear('@Confluence.ButtonTrash(
        text: "",
        action: "deleteValidator",
        dataAttributes: new Dictionary<string, string>
        {
            { "pagemode", "edit" },
            { "order", "" },
            { "idb-fieldname", "btndeleteValidator01" }
        }).ToString().Replace("\r\n", "").Replace("\n", "")');
    ValueObjGW.urlDownloadDocument = '@Url.Action("DownloadDocument", "DocumentModal", new {area = ""})';
    ValueObjGW.urlRenderizeRow = '@Url.Action("AddNewDocument", "Task")';
    ValueObjGW.urlDocumentModalAddIDB = '@Url.Action("AddIDBDocForm", "DocumentModal", new { area = "" })?New=yes';
    ValueObjGW.urlDocumentModalSearchIDB = '@Url.Action("SearchIDBDocSearchForm", "DocumentModal", new { area = "" })?New=yes';
    ValueObjGW.urlDocumentModalUploadIDB = '@Url.Action("IDBDocUploadDocument", "DocumentModal", new {area = ""})';
    ValueObjGW.urlDocumentModalSearchIDBDoc = '@Url.Action("SearchIDBDocuments", "DocumentModal", new {area = ""})?New=yes';
    ValueObjGW.urlSaveGW = '@Url.Action("Save", "Task", new { area = "Workflow" })';
    ValueObjGW.documentnumber = ValueObjGW.htmlClear('@Confluence.InputHidden(value: "docNumberValue", name: "documentNumber").ToString().Replace("\r\n", "").Replace("\n", "")');
    ValueObjGW.ButtonDownloadDocument = ValueObjGW.htmlClear('@Confluence.ButtonDownload(text: "",
        action: "downloadDocument",
        name: "downloadDocument",
        dataAttributes: new Dictionary<string, string>
        {
            { "docnumber", "docNumberValue" },
            { "idb-fieldname", "btnDownloadDocumentWF" }
        }).ToString().Replace("\r\n", "").Replace("\n", "")');
</script>
