@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums


@model IDB.MW.Application.TCAbstractModule.ViewModels.FundInformation.FIDelegatesViewModel

@{
    var attributes = new Dictionary<string, string>() { { "parsley-noRepeatValue", "[name=fundCoordinator_text], [name=fundCoordinatorAlternate_text]" } };

    if (!MvcHelpers.CheckRole(ViewBag.GLobalRoleList, ActionEnum.GCMChiefWrite) || (Model.DelegatesID > 0))
    {
        <div data-id="@Model.DelegatesID" class="mb10">
            @Model.DelegateFullName
            @Confluence.InputText(Model.DelegateFullName, "fundCoordinatorAlternate_text", htmlClass: "hide", dataAttributes: attributes)
            @Confluence.InputText(Model.DelegateUserName, "fundCoordinatorAlternate", htmlClass: "hide")
        </div>
    }
    else
    {
        <div data-id="@Model.DelegatesID" class="mb10">

            @Confluence.InputDropDownAsync(
                    Model.DelegateUserName,
                    "fundCoordinatorAlternate",
                    Url.Action("FindUserAD", "View", new { area = "TC" }),
                    width: "100%",
                    required: true,
                    textSelected: Model.DelegateFullName,
                    dataAttributes: attributes
                )
        </div>
    }
}