@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.MW.Infrastructure.Configuration

@model IDB.MW.Application.TCAbstractModule.ViewModels.FundInformation.FIDonorContactDetailViewModel

<input type="hidden" id="hidViewModelContact" value="@ViewBag.SerializedDataContactViewModel" />

<div data-pagemode="edit">
    <input type="hidden" name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE" value="@SaveControllerTypeEnum.Save" />
</div>

@{
    var formatEmail = ConfigurationServiceFactory.Current.GetApplicationSettings().ValidationEmailRegExp;
}

@Confluence.LabelsGroup(
        Localization.GetText("TC.FundInformation.Donors.Name"),
        Confluence.LabelBold(Model.Name),
        false)

<div class="row">
    <div class="col-md-6">
        @Confluence.LabelsGroup(
                Localization.GetText("TC.FundInformation.Donors.ContactName"),
                Confluence.LabelBold(Model.ContactName),
                Confluence.InputText(
                    value: Model.ContactName,
                    name: "ContactName",
                    width: "100%",
                    required: false),
                false)
    </div>
    <div class="col-md-6">
        @Confluence.LabelsGroup(
                Localization.GetText("TC.FundInformation.Donors.ContactEmail"),
                Confluence.LabelBold(Model.ContactEmail),
                Confluence.InputText(
                    value: Model.ContactEmail,
                    name: "ContactEmail",
                    width: "100%",
                    expReg: formatEmail,
                    required: false),
                false)
    </div>
</div>

@Confluence.LabelsGroup(
        Localization.GetText("TC.FundInformation.Donors.ContactAddress"),
        Confluence.InputTextArea(
            value:Model.ContactAddress,
            name: "ContactAddress",
            width: "100%",
            height: "100px",
            htmlClass: "readMode",
            disabled: true),
        Confluence.InputTextArea(
            value: Model.ContactAddress,
            name: "ContactAddress",
            width: "100%",
            height: "100px",
            maxLength:500,
            required: false),
        false)
@Confluence.LabelsGroup(
        Localization.GetText("TC.FundInformation.Donors.Comments"),
        Confluence.InputTextArea(
            value:Model.Comments,
            name: "Comments",
            width: "100%",
            height: "100px",
            htmlClass: "readMode",
            disabled: true),
        Confluence.InputTextArea(
            value: Model.Comments,
            name: "Comments",
            width: "100%",
            height: "100px",
            required: false),
        false)

<div class="row footer-donorContact">
    <div class="col-md-12">
        @Html.Partial("Partials/Controls/FIDonorContactDetailsButtons")
    </div>
</div>