@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Infrastructure.SecurityService.Enums

@model IDB.MW.Application.TCAbstractModule.ViewModels.FundInformation.FIFiguresViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDecimal = appSettings.FormatDecimal;
    var formatInteger = appSettings.FormatInteger;
    var formatPercent = appSettings.FormatPercentWithoutSpace;
    var formatIntegerDolar = appSettings.FormatIntegerDolarWithoutSpace;

}

<div class="row grouping-section">
    <div class="col-md-4 lineGrayRight ">

        @Confluence.LabelsGroup(
                Localization.GetText("TC.FundInformation.Figures.FundCurrency"),
                Confluence.LabelBold(Model.FundCurrency),
                false)

        @Confluence.LabelsGroup(
                Localization.GetText("TC.FundInformation.Figures.RecivedContributions"),
                Confluence.LabelBold(FormatHelper.Format(Model.RecivedContributions, formatIntegerDolar)),
                false)

        @Confluence.LabelsGroup(
                Localization.GetText("TC.FundInformation.Figures.CommittedFundsPipeline"),
                Confluence.LabelBold(FormatHelper.Format(Model.CommitedFunds, formatIntegerDolar)),
                false)

        @if(MvcHelpers.CheckRole(ViewBag.GLobalRoleList, ActionEnum.GCMReadPermission))
        {
            @Confluence.LabelsGroup(
                    Localization.GetText("TC.FundInformation.Figures.Availability"),
                    Confluence.LabelBold(
                    MvcHelpers.CheckRole(ViewBag.GLobalRoleList, ActionEnum.GCMReadPermission) ?
                    FormatHelper.Format(Model.Availability, formatIntegerDolar) :
                    string.Empty),
                    false)
        }

    </div>

    <div class="col-md-4 lineGrayRight ml20">

        @Confluence.LabelsGroup(
                Localization.GetText("TC.FundInformation.Figures.TotalPendingPledges"),
                Confluence.LabelBold(FormatHelper.Format(Model.TotalPendingPledges, formatIntegerDolar)),
                false)

        @Confluence.LabelsGroup(
                         Localization.GetText("TC.FundInformation.Figures.NumberApprovedContracts"),
                Confluence.LabelBold(FormatHelper.Format(Model.ContractsApprovedNumber, formatInteger)),
                false)

        @Confluence.LabelsGroup(
                Localization.GetText("TC.FundInformation.Figures.AmountApprovedContracts"),
                Confluence.LabelBold(FormatHelper.Format(Model.ContractsApproved, formatIntegerDolar)),
                false)

        @Confluence.LabelsGroup(
                Localization.GetText("TC.FundInformation.Figures.DisbursedApprovedContracts"),
                Confluence.LabelBold(FormatHelper.Format(Model.DisbursedContractsApproved, formatPercent)),
                false)

    </div>

    <div class="col-md-3 ml20">

        @Confluence.LabelsGroup(
                         Localization.GetText("TC.FundInformation.Figures.NumberActiveContracts"),
                Confluence.LabelBold(FormatHelper.Format(Model.ActiveContractsNumber, formatInteger)),
                false)

        @Confluence.LabelsGroup(
                Localization.GetText("TC.FundInformation.Figures.AmountActiveContracts"),
                Confluence.LabelBold(FormatHelper.Format(Model.ActiveContracts, formatIntegerDolar)),
                false)

        @Confluence.LabelsGroup(
                Localization.GetText("TC.FundInformation.Figures.DisbursedActiveContracts"),
                Confluence.LabelBold(FormatHelper.Format(Model.DisbursedActiveContracts, formatPercent)),
                false)
    </div>
</div>