@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.MW.Application.TCAbstractModule.ViewModels.FundInformation

@model List<FIRowExtFundWorkforceViewModel>

@Confluence.InputHidden(ViewBag.SerializedViewModel, name: "hiddenFIFOperations", id: "hiddenFIFOperations")

<div class="row mb50 mt20">
    <div class="col-md-12 pl0">
        @Confluence.LabelTitleGroup(@Localization.GetText("TC.TAB.FundedOperations"))
    </div>
</div>

@if (MvcHelpers.CheckRole(ViewBag.GLobalRoleList, ActionEnum.GCMReadPermission))
{
    <div class="row mb50">
        <div class="col-md-12 mb10 pl0">
            @displayPack("externallyFundedWorkforceTableDisplayed", "", true, "downloadExcelEFundedContractuals")
            @Confluence.LabelSubTitleGroup(@Localization.GetText("TC.FunInformation.ExternallyFundedContractuals.Title"))
        </div>
        <div class="col-md-12 pl0 noScroll">
            @Html.Partial("Partials/FundInformation/FIExternallyFundedWorkforceTable", Model)
        </div>
    </div>
}

<div class="row mb50">
    <div class="col-md-12 pl0 mb10">
        @displayPack("OperationsTableDisplayed", "", true, "downloadExcelOperations")
        @Confluence.LabelSubTitleGroup(@Localization.GetText("TC.FunInformation.Operations.Title"))
    </div>
    <div class="col-md-12 pl0 noScroll">
        @Html.Partial("Partials/FundInformation/FIOperationsTable", (int)ViewBag.HiddenFundId)
    </div>
</div>
<div class="row mb50">
    <div class="col-md-12 pl0 mb10">
        @displayPack("OperationsApprovedTableDisplayed", "", true, "downloadExcelOApprovedConvergence")
        <div class="float-right" style="min-width:50%;margin-right:2%;">
            <div class="icoInformation float-left"></div>
            <div style="display: inline-block;margin-top:1.6%;">
                @Localization.GetText("TC.FundingInformation.OperationsApproved.Information")
            </div>
        </div>
        @Confluence.LabelSubTitleGroup(@Localization.GetText("TC.FunInformation.OperationsApproved.Title"))
    </div>
    <div class="col-md-12 pl0 noScroll">
        @Html.Partial("Partials/FundInformation/FIOperationsApprovedTable", (int)ViewBag.HiddenFundId)
    </div>

</div>

@helper displayPack(string dropDownName, string width, bool showExcelButton, string actionExcel = "")
{
    <div class="@width float-right">
        @Confluence.InputDropDown("10", dropDownName, ViewBag.Displayed, showEmptyOption: false, placeholder: string.Empty, orderAsc: false, width: "170px", htmlClass: "dropPagination")
        @if (showExcelButton)
        {
            <div data-pagemode="read" data-type="exportExcelArea" class="float-right">
                @Confluence.ButtonExcel(null, action: actionExcel)
            </div>
        }
    </div>
}


