@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Domain.Models.OperationProfile.FinancingData.FinancingDataLoanModel
@{
    ViewBag.Title = "Index";
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/OperationProfile/FinancingData/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/OperationProfile/Loan/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Messages/jquery_notification.js")"></script>

    <script type="text/javascript">
        $(document).on("ready", function () {
            $("#TableCategoryOperationLoansSort").tablesorter();
        });
    </script>
}

@section CSS
{
    <link type="text/css" href="@Url.Content("~/Content/Modules/OperationProfile/FinancingData/Main.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/Modules/OperationProfile/FinancingData/FinancingCSS.css")" rel="stylesheet" />
}


@Html.Hidden("hdnFinancingDataUrl", Url.Action("Loans", "FinancingData", new { area = "OperationProfile" }))
@Html.Hidden("hdnLoanDetailUrl", Url.Action("LoanDetail", "FinancingData", new { area = "OperationProfile" }))
@Html.Hidden("hdnLoansUrl", Url.Action("GetOperationloans", "FinancingData", new { area = "OperationProfile" }))
@Html.Hidden("hdnFinancingData", Url.Action("Index", "FinancingData", new { area = "OperationProfile" }, this.Request.Url.Scheme))


@*@Html.Hidden("hdnLoanDetailUrl", Url.Action("LoanDetail", "FinancingData", new { area = "OperationProfile" }))
@Html.Hidden("hdnLoansUrl", Url.Action("GetOperationloans", "FinancingData", new { area = "OperationProfile" }))*@

@* If exits any message of server *@
@if (ViewData["message"] != null)
{
    @Html.ShowNotificationMessage((MessageConfiguration)ViewData["message"]);
}

@if (Model != null)
{
    <div class="mod_contenido_central">


        @* set hidden fields *@
        <input type="Hidden" id="hdnUserId" value="@ViewData["userId"]" />
        <input type="Hidden" id="hdnOperationNumber" value="@ViewData["operationNumber"].ToString().Trim()" />
        <input type="Hidden" id="hdndisplayAsGroup" value="@ViewData["displayAsGroup"]" />
        <input type="Hidden" id="hdnOperationId" value="@ViewData["operationId"]" />

        <h3 class="headingh2">@Localization.GetText("Financing Data")</h3>
        <div class="botonRadio" style="float: right">
            <form>
               <span class="tituloBotonRadio">@Localization.GetText("Operations")</span>
                <div id="radio">
                    <input type="radio" id="selected" name="rdbtn_display" value="0">
                    <label id="lbl_selected" class="ui-state-active" for="selected" role="button" aria-disabled="false" aria-pressed="true">Selected</label>
                    <input type="radio" id="group" name="rdbtn_display" value="1">
                    <label id="lbl_group" for="group" role="button" aria-disabled="false" aria-pressed="false">
                        @Localization.GetText("Group")
                    </label>
                </div>
            </form>
        </div>

        @{int countLoanModel = Model.Loans.Count();}

        @foreach (var loanModel in @Model.Loans)
        {
            if (loanModel.LoanNumber.Length <= 0)
            {
                countLoanModel--;
            }
        }

        @if (countLoanModel > 0)
        {
            <div class="operationData dataDetails">
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Total operation cost - Original Estimate")</p>
                    <p id="totalCostOriginal">
                        @String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.TotalCostOriginal))
                    </p>
                </div>
                <!--Jira ID: CON-115
               * Fix Description: Include LMS labels like mouse over messages in convernece
               * Attended by: Harold Betancourt
               * Date: 11/07/2014
               * Begin Fix*/   -->
                <div class="data4">
                    <p class="dataTitle" title="@Localization.GetText("Original approved Amount")">@Localization.GetText("Original IDB")</p>
                    <p id="originalIDB">@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.OriginalIDB))</p>
                </div>
                <div class="data4">
                    <p class="dataTitle" title="@Localization.GetText("Local Contribution")">@Localization.GetText("Local Counterpart")</p>
                    <p id="localCounterPart">@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.LocalCounterPart))</p>
                </div>
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Co-financing")</p>
                    <p id="coFinancing">@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.Cofinancing))</p>
                </div>
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Cancellations")</p>
                    <p id="cancellations">@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.Cancellations))</p>
                </div>
                
            </div>
            <div class="operationData dataDetails">
                <div class="data4">
                    <p class="dataTitle" title="@Localization.GetText("Current approved Amount")">@Localization.GetText("Current Active IDB")</p>
                    <p id="activeCurrentIDB">@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.ActiveCurrentIDB))</p>
                </div>
                <div class="data4">
                    <p class="dataTitle" title="@Localization.GetText("Disbursed  Amount")">@Localization.GetText("Disbursed Amount to Date")</p>
                    <p id="disbursedToDate">@String.Format("{0:n}", Model.FinancingData.DisbursedToDate)</p>
                </div>
                <div class="data4">
                    <p class="dataTitle">% @Localization.GetText("Disbursed")</p>
                    <p id="disbursedPercentage">@Html.SafeEncodeString(Model.FinancingData.DisbursedPercentage.ToString()) %</p>
                </div>
                <div class="data4">
                    <p class="dataTitle" title="@Localization.GetText("Available Balance")">@Localization.GetText("Undisbursed Balance")</p>
                    <p id="balance">@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.Balance))</p>
                </div>

                <!--End Fix*/-->

@*                 <div class="data4">
                    <p class="dataTitle">Commitments</p>
                    <p id="commitments">@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.Commitments))</p>
                </div>*@
                 <div class="data4">
                    <p class="dataTitle">% @Localization.GetText("Pari-passu")</p>
                    <p>@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.PariPassu)) %</p>   
                </div>
            </div>
            
            
            <p class="headingh3">@Localization.GetText("Financial data")</p>
            
            if (Model.Loans != null)
            {
            <div class="mod_tabla" style="width: 90%">
                <div class="k-grid k-widget k-secondary">
                    <table class="grid2 k-selectable" id="TableCategoryOperationLoansSort" data-role="grid" role="grid">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead class="k-grid-header">
                            <tr>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 18%" data-field="Operation number" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Operation number")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="Loan number" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Contract Number")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="Executing" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Executing")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="Loan Stage" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#"> @Localization.GetText("Contract stage")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="Current IDB" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Current IDB")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="% Disbursed" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">% @Localization.GetText("Disbursed")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="@Localization.GetText("Undisbursed Balance")" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Undisbursed Balance")</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var loanModel in @Model.Loans)
                            {
                                <tr role="row">
                                    <td role="gridcell">
                                        <div style="text-align: center">@loanModel.OperationNumber</div>
                                    </td>
                                    <td role="gridcell">
                                        <div style="text-align: center"><a title="Loan Detail" href='@(Url.Action("Details", "Loan", new { area = "OperationProfile", loanNumber = @loanModel.LoanNumber.Trim(), operationNumber = @loanModel.OperationNumber.Trim(), displayAsGroup = @ViewData["displayAsGroup"] }))'><span>@loanModel.LoanNumber</span></a></div>
                                    </td>
                                    <td role="gridcell">
                                        <div style="text-align: left">@loanModel.ExecutingAgency</div>
                                    </td>
                                    <td role="gridcell">
                                        <div style="text-align: center; padding-right: 5px">@loanModel.LoanStage
                                           @* @foreach (var masterData in ViewBag.LoanStatusList)
                                            {
                                                if (masterData.Code == @loanModel.LoanStage)
                                                {
                                                @masterData.NameEn
                                                    break;
                                                }
                                            }*@
                                        </div>
                                    </td>
                                    <td role="gridcell">
                                        <div style="text-align: right; padding-right: 5px">@String.Format("{0:n}", loanModel.CurrentIDB)</div>
                                    </td>
                                    <td role="gridcell">
                                        <div style="text-align: right; padding-right: 5px">@loanModel.DisbursedPercentage.ToString("N") %</div>
                                    </td>
                                    <td role="gridcell">
                                        <div style="text-align: right; padding-right: 5px">@String.Format("{0:n}", loanModel.Balance)</div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            }
            else
            {
            <div class="mod_tabla" style="width: 90%">
                <div class="k-grid k-widget k-secondary">
                    <table class="grid2 k-selectable" data-role="grid" role="grid">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead class="k-grid-header">
                            <tr>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 18%" data-field="OperationNumber" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Operation number")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="LoanNumber" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Contract Number")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="ExecutingAgency" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Executing")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="LoanStage" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Contract stage")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="CurrentIDB" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Current IDB")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="DisbursedPercentage" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">% @Localization.GetText("Disbursed")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="@Localization.GetText("Undisbursed Balance")" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Undisbursed Balance")</a></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            }
        }
        else
        {
            <div class="operationData dataDetails">
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Total operation cost - Original Estimate")</p>
                    <p id="totalCostOriginal1">
                        @String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.TotalCostOriginal))
                    </p>
                </div>
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Original IDB")</p>
                </div>
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Local Counterpart")</p>
                    <p id="localCounterPart1">@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.LocalCounterPart))</p>
                </div>
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Co-financing")</p>
                    <p id="coFinancing1">@String.Format("{0:n}", @Html.SafeEncodeNumeric(Model.FinancingData.Cofinancing))</p>
                </div>
                 <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Cancellations")</p>
                </div>
            </div>
            <div class="operationData dataDetails">
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Current Active IDB")</p>
                </div>
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Disbursed Amount to Date")</p>

                </div>
                <div class="data4">
                    <p class="dataTitle">% @Localization.GetText("Disbursed")</p>

                </div>
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("Undisbursed Balance")</p>

                </div>
               @*<div class="data4">
                        <p class="dataTitle">Commitments</p>

                    </div>*@
                   
                 <div class="data DivData">
                    <p class="dataTitle">@Localization.GetText("Pari-passu")</p>
                    <p></p>
                </div>
            </div>
            
            <p class="headingh3">@Localization.GetText("Financial data")</p>
            
            <div class="mod_tabla" style="width: 90%">
                <div class="k-grid k-widget k-secondary">
                    <table class="grid2 k-selectable" data-role="grid" role="grid">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead class="k-grid-header">
                            <tr>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 18%" data-field="OperationNumber" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Operation number")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="LoanNumber" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Contract Number")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="ExecutingAgency" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Executing")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="LoanStage" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Contract stage")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="CurrentIDB" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Current IDB")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="DisbursedPercentage" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">% @Localization.GetText("Disbursed")</a></th>
                                <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="Balance" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Balance")</a></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            
        }

    </div>
    <br />
    <div style="text-align:right;width:95%;">
        <a title="Export PDF" style="color:white;border-radius:4px;" class="exportdata pdf" href='@(Url.Action("DownloadReport", "FinancingData", new { area = "OperationProfile", displayAsGroup =@ViewData["displayAsGroup"], format = "pdf", operationNumber = @ViewData["operationNumber"].ToString().Trim()}))'></a>
        <a title="Export Excel" style="color:white;border-radius:4px;" class="exportdata excel" href='@(Url.Action("DownloadReport", "FinancingData", new { area = "OperationProfile", displayAsGroup = @ViewData["displayAsGroup"], format = "xls", operationNumber = @ViewData["operationNumber"].ToString().Trim()}))'></a>
    </div>   <br /><br />
}
else
{
    <div class="mod_contenido_central">


        <h3 class="headingh2">@Localization.GetText("Financing Data")</h3>
        <div class="botonRadio">
        </div>
        <div class="operationData dataDetails">
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Total operation cost - Original Estimate")</p>

            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Original IDB")</p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Local Counterpart")</p>

            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Co-financing")</p>

            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Total Current")</p>

            </div>
        </div>
        <div class="operationData dataDetails">
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Current Active IDB")</p>
                <p id="activeCurrentIDB3"></p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Disbursed Amount to Date")</p>
                <p id="disbursedToDate3"></p>
            </div>
            <div class="data4">
                <p class="dataTitle">% @Localization.GetText("Disbursed")</p>
                <p id="disbursedPercentage3"></p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Undisbursed Balance")</p>
                <p id="balance3"></p>
            </div>
            <div class="data4">
                <p class="dataTitle">@Localization.GetText("Cancellations")</p>
                <p id="cancellations3"></p>
            </div>
        </div>
@*        <div class="operationData dataDetails">
            <div class="data4">
                <p class="dataTitle">Commitments</p>
                <p id="commitments3"></p>
            </div>
        </div>*@

        <p class="headingh3">@Localization.GetText("Financial data")</p>

        <div class="mod_tabla" style="width: 90%">
            <div class="k-grid k-widget k-secondary">
                <table class="grid2 k-selectable" data-role="grid" role="grid">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="k-grid-header">
                        <tr>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 18%" data-field="OperationNumber" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Operation number")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="LoanNumber" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Contract Number")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="ExecutingAgency" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Executing")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="LoanStage" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Contract stage")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="CurrentIDB" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Current IDB")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="DisbursedPercentage" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">% @Localization.GetText("Disbursed")</a></th>
                            <th class="btn_azul_oscuro_flecha k-header" style="width: 14%" data-field="@Localization.GetText("Undisbursed Balance")" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Undisbursed Balance")</a></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
    
}


