@using IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Components
@using IDB.MW.Domain.Values
@model List<OtherCostYearPlanViewModel>

<tr other-cost-row data-id="0" onmouseover="ShowMainActionBar(this)" onmouseout="HideMainActionBar(this)" class="store-to-matrix-changes">
    <td class="tree"></td>
    <td>
        <div data-pagemode="edit">
            @Confluence.InputTextArea(null, "otherCostDefinition", width: "100%", height: "100px", dataAttributes: new Dictionary<string, string> { { "id", string.Format("0" + "|" + "0") } })
            <div class="action-bar" style="display:none">
                @Confluence.ButtonMove(null, action: "MoveUpOtherCost")
                @Confluence.ButtonDownload(null, action: "MoveDownOtherCost")
                @Confluence.ButtonTrash(null, action: "OtherCostDelete", dataAttributes: new Dictionary<string, string> { { "id", "0" } })
            </div>
        </div>
    </td>
    <td class="nopadding">
        <div data-pagemode="edit">
            <table class="non-border-table wp100">
                <tr>
                    <td class="original-value-row text-center">@Localization.GetText("TCM.Outputs.P")</td>
                </tr>
                <tr>
                    <td class="annual-value-row text-center">@Localization.GetText("TCM.Outputs.Pa")</td>
                </tr>
                <tr>
                    <td class="actual-value-row text-center">@Localization.GetText("TCM.Outputs.A")</td>
                </tr>
            </table>
        </div>
    </td>
    @foreach (var otherCostYearPlan in Model)
    {
        if (otherCostYearPlan.Year != TCMGlobalValues.END_OF_PROJECT_YEAR)
        {
            <td class="nopadding">
                <div data-pagemode="edit">
                    <table data-attr="@otherCostYearPlan.Year" class="wp100 other-cost-year-plans">
                        <tr>
                            <td class="original-value-row text-right pt0 pb0">
                                @Confluence.InputDecimal(null, "ipdOriginalPlanOtherCost", disabled: otherCostYearPlan.IsOriginalPlanDisabled, required: false, dataAttributes: new Dictionary<string, string> { { "id", string.Format(otherCostYearPlan.OtherCostId + "|" + otherCostYearPlan.OtherCostYearPlanId + "|" + otherCostYearPlan.Year) } }, htmlClass: "input-text-grid custom-black")
                            </td>
                        </tr>
                        <tr>
                            <td class="annual-value-row text-right pt0 pb0">
                                @Confluence.InputDecimal(null, "ipdAnnualPlanOtherCost", disabled: otherCostYearPlan.IsAnnualPlanDisabled, required: false, dataAttributes: new Dictionary<string, string> { { "id", string.Format(otherCostYearPlan.OtherCostId + "|" + otherCostYearPlan.OtherCostYearPlanId + "|" + otherCostYearPlan.Year) } }, htmlClass: "input-text-grid custom-black")
                            </td>
                        </tr>
                        <tr>
                            <td class="actual-value-row text-right pt0 pb0">
                                @Confluence.InputDecimal(null, "ipdActualPlanOtherCost", disabled: otherCostYearPlan.IsActualValueDisabled, required: false, dataAttributes: new Dictionary<string, string> { { "id", string.Format(otherCostYearPlan.OtherCostId + "|" + otherCostYearPlan.OtherCostYearPlanId + "|" + otherCostYearPlan.Year) } }, htmlClass: "input-text-grid custom-black")
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        }
        else
        {
            <td class="nopadding">
                <div data-pagemode="edit">
                    <table data-attr="@otherCostYearPlan.Year" class="wp100 other-cost-year-plans">
                        <tr>
                            <td class="original-value-row text-right pt0 pb0">
                                @Confluence.InputDecimal(null, "TotalOriginalPlanOtherCost", false, disabled: otherCostYearPlan.IsOriginalPlanDisabled, dataAttributes: new Dictionary<string, string> { { "id", string.Format(otherCostYearPlan.OtherCostId + "|" + otherCostYearPlan.OtherCostYearPlanId) } }, htmlClass: "input-text-grid custom-black")
                            </td>
                        </tr>
                        <tr>
                            <td class="annual-value-row text-right pt0 pb0">
                                @Confluence.InputDecimal(null, "TotalAnnualPlanOtherCost", false, disabled: otherCostYearPlan.IsAnnualPlanDisabled, dataAttributes: new Dictionary<string, string> { { "id", string.Format(otherCostYearPlan.OtherCostId + "|" + otherCostYearPlan.OtherCostYearPlanId) } }, htmlClass: "input-text-grid custom-black")
                            </td>
                        </tr>
                        <tr>
                            <td class="actual-value-row text-right pt0 pb0">
                                @Confluence.InputDecimal(null, "TotalActualPlanOtherCost", false, disabled: otherCostYearPlan.IsActualValueDisabled, dataAttributes: new Dictionary<string, string> { { "id", string.Format(otherCostYearPlan.OtherCostId + "|" + otherCostYearPlan.OtherCostYearPlanId) } }, htmlClass: "input-text-grid custom-black")
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        }
    }
</tr>