@using IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Components
@using IDB.Presentation.MVC4.Helpers


@model  ComponentsViewModel
<div data-id="headerButtons" class="floatRight">
    <div data-pagemode="read">
        @Confluence.ButtonWhite(Localization.GetText("TCM.VerifyContent"), "verifyContentButton", "verifyContent")
        
        @if (Model.EditableComponent)
        {
            @Confluence.ButtonBlue(Localization.GetText("TCM.Outputs.PublicationStatus"), "publicationStatusButton", "PublicationStatus")
            if (SecurityHelper.IsVisible(Model.FieldAccessList, "btnEditPhysycalProgress"))
            {
                @Confluence.ButtonBlue(Localization.GetText("TCM.Edit"), action: "edit", name: "editComponents", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditPhysycalProgress" } })
            }
        }
    </div>
    <div data-pagemode="edit" class="hide">
        @if (SecurityHelper.IsVisible(Model.FieldAccessList, "btnCancelPhysicalProgress"))
        {
            <button class="buttonLink" onclick="cancel()" data-idb-fieldname="btnCancelPhysicalProgress">@Localization.GetText("TCM.Cancel")</button>
        }
        @Confluence.ButtonBlue(Localization.GetText("TCM.Outputs.PublicationStatus"), "publicationStatusButton", "PublicationStatus")
        @if (SecurityHelper.IsVisible(Model.FieldAccessList, "btnSavePhysicalProgress"))
        {
            <button class="buttonOrange" name="btn-save-outputs" data-idb-fieldname="btnSavePhysicalProgress" onclick="save()">@Localization.GetText("TCM.Save")</button>
        }
       
    </div>
</div>