@using IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Components
@model  ComponentsViewModel

@Scripts.Render("~/bundles/Modules/TCM/rm-cnd.js")
@Styles.Render("~/bundles/Modules/TCM/rm-cnd.css")

<div id="CND-modal" class="modal fade bs-modal not-position" role="dialog"
     data-results-matrix-id="@Model.ResultsMatrixId"
     data-users-search-url="@Url.Action("GetUsers", "ComponentCND", new {area = "TCM"})"
     data-save-url="@Url.Action("SaveComponentCND", "ComponentCND", new {area = "TCM"})"
     data-users-search-param="filter"
     data-text-empty-beneficiaries="@Localization.GetText("RM.TCM.CND.NoBeneficiaries")"
     data-text-delete="@Localization.GetText("Accept")"
     data-text-date-validation="@Localization.GetText("RM.TCM.CND.DateValidation")"
     data-url-get-component="@Url.Action("GetComponentCND", "ComponentCND", new {area = "TCM"})?operationNumber=@IDBContext.Current.Operation&"
     data-text-required-value="@Localization.GetText("RM.TCM.CND.ValidationField")"
     data-text-amount="@Localization.GetText("COMMON.Amount")"
     data-text-item="@Localization.GetText("RM.TCM.CND.Item")"
     data-text-total-amount="@Localization.GetText("FP.TASKTABLE.TotalAmount")"
     data-url-list-beneficiaries="@Url.Action("GetAllBeneficiaries", "ComponentCND", new { area = "TCM" })"
     data-url-list-available-plan-years="@Url.Action("GetAvailablePlanYears", "ComponentCND", new { area = "TCM" })?operationNumber=@IDBContext.Current.Operation"
     data-url-is-cnd="@Url.Action("IsCNDOperation", "ComponentCND", new { area = "TCM" })?operationNumber=@IDBContext.Current.Operation"
     data-text-unknown-error="@Localization.GetText("RM.TCM.CND.DateValidation")"
     data-operation-number="@IDBContext.Current.Operation">

    <div class="modal-dialog">

        <div class="modal-content" style="top: 0">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localization.GetText("Component")</h4>
            </div>
            <div class="modal-body">

                <form id="CND-form" class="">

                    <div class="alert alert-danger errors" style="display: none"></div>

                    <div class="form-group">
                        <label for="CND-detail" class="cnd-detail mandatory">@Localization.GetText("RM.TCM.CND.ComponentDetail"):</label>
                        <input type="text" name="detail" maxlength="200" id="CND-detail" placeholder="@Localization.GetText("RM.TCM.CND.ComponentDetail")" class="form-control mandatory" />
                    </div>

                    <div class="form-group">
                        <label for="CND-exptectedResults" class="cnd-expectedResults mandatory">@Localization.GetText("RM.TCM.CND.ExpectedResults"):</label>
                        <textarea maxlength="500" name="expectedResults" id="CND-expectedResults" placeholder="@Localization.GetText("RM.TCM.CND.ExpectedResults")" class="form-control mandatory"></textarea>   
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="CND-pointContact" class="mandatory">@Localization.GetText("RM.TCM.CND.PointContact"):</label>
                                <select id="CND-pointContact" class="form-control" name="pointContact"></select>
                            </div>
                            <div class="col-md-6">
                                <label for="CND-specialist" class="mandatory">@Localization.GetText("RM.TCM.CND.Specialist"):</label>
                                <select id="CND-specialist" class="form-control" name="specialist"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="CND-plannedStartDate" class="mandatory">@Localization.GetText("RM.TCM.CND.PlannedStartDate"):</label>
                                <input type="text" id="CND-plannedStartDate" name="CND-plannedStartDate" class="form-control text-center" placeholder="@Localization.GetText("RM.TCM.CND.PlannedStartDate")" />
                            </div>
                            <div class="col-md-6">
                                <label for="CND-plannedEndDate" class="mandatory">@Localization.GetText("RM.TCM.CND.PlannedEndDate"):</label>
                                <input type="text" id="CND-plannedEndDate" name="CND-plannedEndDate" class="form-control text-center" placeholder="@Localization.GetText("RM.TCM.CND.PlannedEndDate")" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CND-beneficiaries">@Localization.GetText("RM.TCM.CND.LMSRequestNumber"):</label>
                        <select name="beneficiaries" id="CND-beneficiaries"></select>
                        <div id="CND-beneficiaries-block">
                            <div class="empty-block">@Localization.GetText("RM.TCM.CND.NoBeneficiaries")</div>
                            <table id="CND-beneficiaries-table">
                                <thead>
                                    <tr>
                                        <th>@Localization.GetText("RM.TCM.CND.ReqNum")</th>
                                        <th>@Localization.GetText("RM.TCM.CND.LMSNum")</th>
                                        <th>@Localization.GetText("RM.TCM.CND.TransType")</th>
                                        <th>@Localization.GetText("COMMON.Amount")</th>
                                        <th>@Localization.GetText("RM.TCM.CND.Beneficiary")</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="CND-beneficiaries-tbody"></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>@Localization.GetText("RM.TCM.CND.TotalPlannedAmount"):</label>
                        <span id="CND-total-planned-ammount">0</span>
                    </div>

                    <div class="buttons buttons-enable">
                        <button type="button" class="btn btn-primary" onclick="RMCDN.ValidateAndSave()">@Localization.GetText("Save")</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Localization.GetText("Cancel")</button>
                    </div>

                    <div class="buttons buttons-disable">
                        <button type="button" class="btn btn-default btn-ok" data-dismiss="modal">@Localization.GetText("OK")</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div id="CND-item-modal" class="modal fade bs-modal not-position" role="dialog"
     data-current-language="@Localization.CurrentLanguage"
     data-themes-url="@Url.Action("GetThemes", "ActivityCND", new {area = "TCM"})"
     data-units-url="@Url.Action("GetUnitsOfMeasurement", "ActivityCND", new {area = "TCM"})"
     data-mbf-url="@Url.Action("GetOperationMbf", "ActivityCND", new {area = "TCM"})/?"
     data-activity-url="@Url.Action("GetSupportTypesWithActivityGroups", "ActivityCND", new {area = "TCM"})"
     data-operations-url="@Url.Action("GetOperations", "ActivityCND", new {area = "TCM"})?operationNumber=@IDBContext.Current.Operation"
     data-save-url="@Url.Action("SaveActivity", "ActivityCND", new {area = "TCM"})"
     data-get-url="@Url.Action("LoadActivityDetail", "ActivityCND", new {area = "TCM"})?operationNumber=@IDBContext.Current.Operation&">

    <div class="modal-dialog">

        <div class="modal-content" style="top: 0">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title add">@Localization.GetText("RM.TCM.CND.AddItem")</h4>
                <h4 class="modal-title edit">@Localization.GetText("RM.TCM.CND.EditItem")</h4>
            </div>
            <div class="modal-body">

                <form id="CND-item-form" class="">

                    <input type="hidden" name="id_component" />
                    <input type="hidden" name="id_output" />
                    <input type="hidden" name="id_cnd" />

                    <div class="alert alert-danger errors" style="display: none"></div>

                    <div class="form-group">
                        <label for="CND-item-desc" class="mandatory">@Localization.GetText("RM.TCM.CND.OutputItemDescription"):</label>
                        <input type="text" name="detail" id="CND-item-desc" placeholder="@Localization.GetText("RM.TCM.CND.OutputItemDescription")" class="form-control mandatory" />
                    </div>

                    <div class="form-group item-disabled-block">
                        <input type="checkbox" name="deactivated" id="CND-item-disabled" placeholder="@Localization.GetText("TCM.Outputs.InactivateOutputDetails")" class="" />
                        <label for="CND-item-disabled" class="">@Localization.GetText("TCM.Outputs.InactivateOutputDetails"):</label>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            
                            <div class="activity-group-block form-group">
                                <label class="mandatory activity-group-label">@Localization.GetText("RM.TCM.CND.SelectActivityGroup"):</label>
                                <ul id="activity-group-block-options"></ul>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group ez-reference-block">
                                <label for="CND-item-reference" class="inline">@Localization.GetText("RM.TCM.CND.EZReference"):</label>
                                <input type="text" name="ezreference" id="CND-item-reference" placeholder="@Localization.GetText("RM.TCM.CND.EZReference")" class="form-control" />
                            </div>
                            <div class="form-group amount-block">
                                <label for="CND-item-amount" class="cnd-amount mandatory inline">@Localization.GetText("COMMON.Amount"):</label>

                                <div class="input-group cnd-amount">
                                    <span class="input-group-addon">@Localization.GetText("RM.TCM.CND.USD")</span>
                                    <input type="text" maxlength="18" name="amount" id="CND-item-amount" placeholder="@Localization.GetText("COMMON.Amount")" class="inputText form-control mandatory text-right" data-a-dec="." data-a-sep="," data-min="0.00" data-max="999999999999.99" data-v-min="0.00" data-v-max="999999999999.99" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="CND-item-unit" class="mandatory inline">@Localization.GetText("RM.TCM.CND.UnitMeasure"):</label>
                                <select name="unit" id="CND-item-unit" placeholder="@Localization.GetText("RM.TCM.CND.UnitMeasure")" class="form-control mandatory"></select>
                            </div>
                            <div class="form-group">
                                <label for="CND-item-units" class="mandatory inline">@Localization.GetText("RM.TCM.CND.ItemUnits"):</label>
                                <input type="text" maxlength="9" name="units" id="CND-item-units" placeholder="@Localization.GetText("RM.TCM.CND.ItemUnits")" class="form-control mandatory text-right" data-a-dec="." data-a-sep="," data-min="0.00" data-max="999999999.99" data-v-min="0.00" data-v-max="999999999.99" data-m-dec="0" />
                            </div>
                            <div class="theme-block form-group">
                                <label for="CND-item-theme" class="mandatory inline">@Localization.GetText("RM.TCM.CND.ItemTheme"):</label>
                                <select name="theme" id="CND-item-theme" placeholder="@Localization.GetText("RM.TCM.CND.ItemTheme")" class="form-control mandatory"></select>
                            </div>
                            <div class="form-group type-support-block">
                                <label for="CND-item-support" class="inline">@Localization.GetText("RM.TCM.CND.ItemTypeSupport"):</label>
                                <select name="support" id="CND-item-support" placeholder="@Localization.GetText("RM.TCM.CND.ItemTypeSupport")" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <label for="CND-item-operation" class="mandatory">@Localization.GetText("OP.CR.CreationForm.BD.RelatedOperation"):</label>
                                <select name="item-operation-related" id="CND-item-operation" placeholder="@Localization.GetText("OP.CR.CreationForm.BD.RelatedOperation")" class="form-control mandatory"></select>
                            </div>
                            <div class="col-md-4">
                                <label for="CND-item-mbf" class="mandatory">@Localization.GetText("CS.ProductData.MBFCode"):</label>
                                <select name="mbf" id="CND-item-mbf" placeholder="@Localization.GetText("CS.ProductData.MBFCode")" class="mandatory form-control"></select>
                             </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CND-item-comment" class="inline">@Localization.GetText("COMMON.Comments"):</label>
                        <textarea rows="2" cols="80" maxlength="2000" name="item-comment" id="CND-item-comment" placeholder="@Localization.GetText("COMMON.Comments")" class="form-control"></textarea>
                    </div>

                    <div class="buttons buttons-enable">
                        <button type="button" class="btn btn-primary btn-save" onclick="RMCDN.ItemValidateAndSave()">@Localization.GetText("Save")</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Localization.GetText("Cancel")</button>
                    </div>

                    <div class="buttons buttons-disable">
                        <button type="button" class="btn btn-default btn-ok" data-dismiss="modal">@Localization.GetText("OK")</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>