@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.LinkPredefinedIndicator

@{
    var physicalModel = Model;
    List<string> containerList = null;

    if (physicalModel != null && physicalModel.Components.Count > 0)
    {
        containerList = new List<string>();

        foreach (var component in physicalModel.Components)
        {
            containerList.Add(string.Format("tableTreeRowTitle{0}", component.ComponentId));
        }
    }
}
<div id="has-more-than-one-fund-in-operation" 
     style="display: none">@(physicalModel.HasMoreThanOneFundInOperation)</div>
<div data-pagemode="read">
    <span id="outcomes-container">

        @if (physicalModel.Components != null && physicalModel.Components.Count > 0)
        {
        <div class="contenedorFloat" style="overflow:visible" ng-show="PhysicalProgress.Components.length > 0">
            <div class="floatRight">
                <span class="align-top marginRight7">
                    <a title="@Localization.GetText("TCM.Outputs.DownloadTCMReport")"
                       href='@Url.Action("GetTCMReport", "TCMReport",
                            new
                            {
                                area = "Reports",
                                operationNumber = IDBContext.Current.Operation,
                                resultsMatrixId = physicalModel.ResultsMatrixId
                            })'
                       title="@Localization.GetText("TCM.Outputs.DownloadTCMReport")"
                       target="_blank">@Localization.GetText("TCM.Outputs.DownloadTCMReport")
                    </a>
                    <a href='@Url.Action("GetTCMReport", "TCMReport",
                            new
                            {
                                area = "Reports",
                                operationNumber = IDBContext.Current.Operation,
                                resultsMatrixId = physicalModel.ResultsMatrixId
                            })'
                       title="@Localization.GetText("TCM.Outputs.DownloadTCMReport")"
                       class="exportdata excel styleExportReport" target="_blank">
                    </a>
                </span>
                @Confluence.ButtonColapseAll(containerList, expandText: Localization.GetText("GLOBAL.CONTROL.EXPANDALL"), collapseText: Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))                
                <span>@Localization.GetText("TCM.Outputs.Show")</span>
                @Confluence.ButtonBlue(Localization.GetText("TCM.Outputs.ShowData"), htmlClass: "hidden", dataAttributes: new Dictionary<string, string>() { { "ng-click", "Show()" } })
                <input type="button" class="buttonWhite square-button narrow physical-filters row-inactive-output" value="@Localization.GetText("TCM.Outputs.InactiveOutputs")" />
                <input name="btn-read-show-milestones" type="button" class="buttonWhite square-button narrow physical-filters row-milestone" value="@Localization.GetText("TCM.Outputs.Milestones")" />
                <input name="btn-read-show-disaggregations" type="button" class="buttonWhite square-button narrow physical-filters row-disaggregation" value="@Localization.GetText("TCM.Outputs.Disaggregation")" />
                <input id="btn-read-show-output-description" 
                    type="button" 
                    onclick="hideShowOutputDescription()" 
                    class="buttonWhite square-button narrow physical-filters" 
                    value="@Localization.GetText("TCM.Global.OutputDescription")" />
                <input name="btn-edit-show-disaggregations" type="button"
                       class="buttonWhite square-button narrow" ng-click="ShowCRFInformation()"
                       value="@Localization.GetText("PI.BtnText.CRFInformation")" />
            </div>
        </div>   
        }
        
        <br /><br /><br /><br /><br /><br />
        <div class="overflow col-md-12">
            @foreach (var component in physicalModel.Components)
            {
            <span>
                <table id="@string.Format("tableTreeRowTitle{0}", component.ComponentId)" class="tableNormal lineNonStop tablePrincipal">
                    <thead>
                        <tr>
                            <td class="treeNumber">@(component.OrderNumber)</td>
                            <th class="tree icon">@ControlTemplatesTCM.ButtonExpandTable("indicator")<div class="number"></div></th>
                            <td class="tcmTitleTable" ng-form="Component_Statement" colspan="@(5 + physicalModel.ExistingPlannedYears.Count)">
                                <span>@Localization.GetText("TCM.Outputs.Component"):</span>
                                <span>@(component.Statement)</span>
                            </td>
                        </tr>
                        @if (component.Outputs.Count > 0)
                        {
                            <tr>
                                <td class="treeNumber"></td>
                                <td class="tree"><span></span><div class="number"></div></td>
                                <th class="outputIndicator" colspan="2">@Localization.GetText("TCM.Outputs.OutputIndicator")</th>
                                <th class="unitMeasure">@Localization.GetText("TCM.Outputs.UnitOfMeasure")</th>
                                <th class="outputPPaA"></th>
                                @foreach (var year in physicalModel.ExistingPlannedYears)
                            {
                            <th class="tcmHeaderYear">
                                <span>@(year.Year)</span>
                            </th>
                            }
                                <th class="tcmHeaderYear">@Localization.GetText("TCM.Outputs.Eop") <span>@(physicalModel.EndOfProjectYear)</span></th>
                            </tr>
                        }
                    </thead>
                    <tbody>
                        @foreach (var output in component.Outputs)
                        {
                            <tr data-id class="@(output.IsDeactivated ? "inactive-output" : "") @(output.IsDeactivated ? "custom-hidden" : "") @string.Format("outputRowTitle{0}", output.OutputId)"> 
                                <td class="treeNumber">
                                    <span class="order-number-container">
                                        <span>@(component.OrderNumber + "." + output.OrderNumber)</span>
                                    </span>
                                </td>
                                <td class="tree"><span></span><div class="number">@(output.OrderNumber)</div></td>
                                <td class="w50 pl10">
                                    @foreach (var crfIndicator in output.CRFIndicatorsLinked)
                                    {
                                        <span class='predefined-indicator-icon crf-indicator-edit-mode'>&#9873;</span>
                                    }

                                    @if (output.LinkedToStandardOutput)
                                    {
                                        <span class='predefined-indicator-icon standar-output-edit-mode'>&#9873;</span>
                                    }
                                </td>
                                <td class="p10">
                                    <div>
                                        <span>
                                            <a ng-href="@Url.Action("OutputIndicatorDetail", "Components", new {area = "TCM"})?id=@output.OutputId">
                                            	@(IDBContext.Current.CurrentLanguage == Language.ES ? output.AlternativeDefinition : output.Definition)
                                            </a>
                                        </span>
                                        <div id="output-description-text-@(output
                                                .OutputFundIndicator.OutputId)" 
                                             class="output-description-text">
                                            <span>@(output.OutputFundIndicator.OutputDescription)</span>
                                        </div>
                                    </div>

                                    @if (output.PredefinedIndicators.Count > 0)
                                    {
                                        <div class="pt10" ng-show="CRFToggle">
                                            <span class="bold">@Localization.GetText("CRF:")</span>
                                            @foreach (var indicator in output.PredefinedIndicators)
                                            {
                                                <p>
                                                    <span class='@(indicator.IsStandardIndicator ?
                                                        "predefined-indicator-icon standar-output-edit-mode" :
                                                        "predefined-indicator-icon crf-indicator-edit-mode")'>&#9873;
                                                    </span>
                                                    @indicator.IndicatorName
                                                </p>
                                            }
                                        </div>
                                    }

                                </td>
                                <td class="text-center">
                                    <span>
                                        @(IDBContext.Current.CurrentLanguage == Language.ES ? output.AlternativeUnitOfMeasure : output.UnitOfMeasure)
                                    </span>
                                </td>
                                <td>
                                    <table class="non-border-table wp100">
                                        <tr class="text-center">
                                            <td class="original-value-row">@Localization.GetText("TCM.Outputs.P")</td>
                                        </tr>
                                        <tr class="text-center">
                                            <td class="annual-value-row">@Localization.GetText("TCM.Outputs.Pa")</td>
                                        </tr>
                                        <tr class="text-center">
                                            <td class="actual-value-row">@Localization.GetText("TCM.Outputs.A")</td>
                                        </tr>
                                    </table>
                                </td>
                                @foreach (var yearPlan in output.OutputYearPlans)
                                {
                                    <td>
                                        <table class="non-border-table wp100">
                                            <tr class="text-right">
                                                <td class="original-value-row ">
                                                    <span>@Confluence.LabelDecimal(yearPlan.OriginalPlan)</span>
                                                </td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="annual-value-row">
                                                    <span>@Confluence.LabelDecimal(yearPlan.AnnualPlan)</span>
                                                </td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="actual-value-row">
                                                    <span>@Confluence.LabelDecimal(yearPlan.ActualValue)</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                }
                                <td>
                                    <table class="non-border-table wp100">
                                        <tr class="text-right">
                                            <td class="original-value-row">
                                                <span>@Confluence.LabelDecimal(output.EndOfProject.OriginalPlan)</span>
                                            </td>
                                        </tr>
                                        <tr class="text-right">
                                            <td class="annual-value-row">
                                                <span>@Confluence.LabelDecimal(output.EndOfProject.AnnualPlan)</span>
                                            </td>
                                        </tr>
                                        <tr class="text-right">
                                            <td class="actual-value-row">
                                                <span>@Confluence.LabelDecimal(output.EndOfProject.ActualValue)</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            if (output.OutputDisaggregations.Count > 0)
                            {
                                var disgRowClass = output.IsVisible && physicalModel.IsDisaggregationsEnabled ? string.Empty : "custom-hidden";
                                <tr class="@(disgRowClass) tr-disagg @string.Format("outputRowTitle{0}", output.OutputId)">
                                    <td class="tree noNumber"><span></span></td>
                                    <td colspan="@(7 + physicalModel.ExistingPlannedYears.Count)" class="subnivel">
                                        <div>
                                            <table class="tableNormal lineNonStop">
                                                <thead>
                                                    <tr>
                                                        <th class="tree icon noCreateNumber">@Confluence.ButtonExpandTable()</th>
                                                        <th class="wDisaggregation">@Localization.GetText("TCM.Outputs.Disaggregation")</th>
                                                        <th class="outputPPaA"></th>
                                                        @foreach (var year in physicalModel.ExistingPlannedYears)
                                                        {
                                                            <th class="tcmHeaderYear"><span>@(year.Year)</span></th>
                                                        }
                                                        <th class="tcmHeaderYear">@Localization.GetText("TCM.Outputs.Eop") <span>@(physicalModel.EndOfProjectYear)</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var outputDisaggregation in output.OutputDisaggregations)
                                                    {
                                                        <tr data-id>
                                                            <td class="tree noCreateNumber"><span></span></td>
                                                            <td>
                                                                <span>@(outputDisaggregation.DisaggregationName)</span>
                                                            </td>
                                                            <td>
                                                                <table class="non-border-table wp100">
                                                                    <tr class="text-center">
                                                                        <td class="original-value-row">@Localization.GetText("TCM.Outputs.P")</td>
                                                                    </tr>
                                                                    <tr class="text-center">
                                                                        <td class="annual-value-row">@Localization.GetText("TCM.Outputs.Pa")</td>
                                                                    </tr>
                                                                    <tr class="text-center">
                                                                        <td class="actual-value-row">@Localization.GetText("TCM.Outputs.A")</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            @foreach (var disaggregationYearPlan in outputDisaggregation.OutputDisaggregationYearPlans)
                                                            {
                                                                <td>
                                                                    <table class="non-border-table wp100">
                                                                        <tr class="text-right">
                                                                            <td class="original-value-row">
                                                                                <span>@Confluence.LabelDecimal(disaggregationYearPlan.OriginalPlan)</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="text-right">
                                                                            <td class="annual-value-row">
                                                                                <span>@Confluence.LabelDecimal(disaggregationYearPlan.AnnualPlan)</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="text-right">
                                                                            <td class="actual-value-row">
                                                                                <span>@Confluence.LabelDecimal(disaggregationYearPlan.ActualValue)</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            }
                                                            <td>
                                                                <table class="non-border-table wp100">
                                                                    <tr class="text-right">
                                                                        <td class="original-value-row">
                                                                            <span>@Confluence.LabelDecimal(outputDisaggregation.EndOfProject.OriginalPlan)</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="text-right">
                                                                        <td class="annual-value-row">
                                                                            <span>@Confluence.LabelDecimal(outputDisaggregation.EndOfProject.AnnualPlan)</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="text-right">
                                                                        <td class="actual-value-row">
                                                                            <span>@Confluence.LabelDecimal(outputDisaggregation.EndOfProject.ActualValue)</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }

                            if (output.Milestones.Count > 0)
                            {
                                var milesRowClass = output.IsVisible && physicalModel.IsMilestonesEnabled ? string.Empty : "custom-hidden";
                                <tr class="@milesRowClass tr-milestone @string.Format("outputRowTitle{0}", output.OutputId)">
                                    <td class="tree noNumber"><span></span></td>
                                    <td colspan="@(7 + physicalModel.ExistingPlannedYears.Count)" class="subnivel">
                                        <div>
                                            <table class="tableNormal lineNonStop">
                                                <thead>
                                                    <tr>
                                                        <th class="tree icon noCreateNumber">@Confluence.ButtonExpandTable()</th>
                                                        <th class="wMilestone">@Localization.GetText("TCM.Outputs.Milestone")</th>
                                                        <th class="unitMeasure">@Localization.GetText("TCM.Outputs.UnitOfMeasure")</th>
                                                        <th class="outputPPaA"></th>
                                                        @foreach (var year in physicalModel.ExistingPlannedYears)
                                                        {
                                                            <th class="tcmHeaderYear"><span class="ddr-outcome-{{yearIndex}}">@(year.Year)</span></th>
                                                        }
                                                        <th class="tcmHeaderYear">@Localization.GetText("TCM.Outputs.Eop") <span>@(physicalModel.EndOfProjectYear)</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var milestone in output.Milestones)
                                                    {
                                                        <tr data-id>
                                                            <td class="tree noCreateNumber"><span></span></td>
                                                            <td>
                                                                <span>
                                                                    <a ng-href="@Url.Action("OutputMilestoneDetail", "Components", new {area = "TCM"})?id=@milestone.MilestoneId">@(milestone.Definition)</a>
                                                                </span>
                                                            </td>
                                                            <td class="text-center">
                                                                <span>@(milestone.UnitOfMeasure)</span>
                                                            </td>
                                                            <td>
                                                                <table class="non-border-table wp100">
                                                                    <tr class="text-center">
                                                                        <td class="original-value-row">@Localization.GetText("TCM.Outputs.P")</td>
                                                                    </tr>
                                                                    <tr class="text-center">
                                                                        <td class="annual-value-row">@Localization.GetText("TCM.Outputs.Pa")</td>
                                                                    </tr>
                                                                    <tr class="text-center">
                                                                        <td class="actual-value-row">@Localization.GetText("TCM.Outputs.A")</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            @foreach (var milestoneYearPlan in milestone.MilestoneYearPlans)
                                                            {
                                                                <td>
                                                                    <table class="non-border-table wp100">
                                                                        <tr class="text-right">
                                                                            <td class="original-value-row">
                                                                                <span>@Confluence.LabelDecimal(milestoneYearPlan.OriginalPlan)</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="text-right">
                                                                            <td class="annual-value-row">
                                                                                <span>@Confluence.LabelDecimal(milestoneYearPlan.AnnualPlan)</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="text-right">
                                                                            <td class="actual-value-row">
                                                                                <span>@Confluence.LabelDecimal(milestoneYearPlan.ActualValue)</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            }
                                                            <td>
                                                                <table class="non-border-table wp100">
                                                                    <tr class="text-right">
                                                                        <td class="original-value-row">
                                                                            <span>@Confluence.LabelDecimal(milestone.EndOfProject.OriginalPlan)</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="text-right">
                                                                        <td class="annual-value-row">
                                                                            <span>@Confluence.LabelDecimal(milestone.EndOfProject.AnnualPlan)</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="text-right">
                                                                        <td class="actual-value-row">
                                                                            <span>@Confluence.LabelDecimal(milestone.EndOfProject.ActualValue)</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <br />
            </span>
            }
        </div>
    </span>
</div>
<div data-pagemode="read" class="col-md-12 text-right mb20">
    @Confluence.ButtonWord("doc", "downloadPhysicalProgressDocument")
    @Confluence.ButtonExcel("xls", "downloadPhysicalProgressDocument")
    @Confluence.ButtonPdf("pdf", "downloadPhysicalProgressDocument")
</div>

@Html.Partial("Controls/Indicators/LinkToPredefinedIndicator", (LinkPredefinesIndicatorViewModel)ViewBag.LinkIndicatorModel)

@Html.Partial("~/Areas/TCM/Views/Shared/Indicators/CRFWarning.cshtml")

<script>

    function OutputsLinkItems(sourceOpen, value) {
        var tcmElementFilter = $("#Outputs-link-modal").find("[name = 'filter-Outputs-output-type']").first();
        if (value != null && value.IndicatorId > 0) {
            var scope = angular.element(document.getElementsByClassName("physical-progress-controller")).scope();
            scope.$apply(function () {
                scope.LinkToPredefinedIndicator(value, $("input[name = 'tcm-element-to-link-id']").val(), $(tcmElementFilter).val(), $("input[name = 'tcm-element-to-link-id']"));
            });
        }
        vex.close();
    }

    $(document).ready(function () {
        $("body").append("<input type='hidden' name='tcm-element-to-link-id' value='' />");

        warningCRFIndicators = $("#crf-warning-container");
        $("#Outputs-link-modal").find("div.filterNormalExtension").append(warningCRFIndicators);
        $("#Outputs-link-modal").find("div.filterNormalExtension").find("#crf-warning-container").show();
    });

</script>
