@using IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Components
@model ComponentsViewModel

<div>
    @Confluence.Tabs(new Dictionary<string, string>
    {
        {"tabPhysicalProgress", Localization.GetText("TCM.Outputs.PhysicalProgress")},
        {"tabFinancialProgress", Localization.GetText("TCM.Outputs.FinancialProgress")},
        {"tabMappingProgress", Localization.GetText("TCM.Outputs.MappingProgress")}
    })

    <div id="TabsZone" class="tab-content">
        <div class="tab-pane active" id="tabPhysicalProgress"
             data-idb-fieldname="tabPhysicalProgress"
             data-loadurl="@Url.Action("IndexPhysicalProgress", "Components", new {area = "TCM"})">
            @Html.Partial("PhysicalProgress", Model.PhysicalProgress)
           
        </div>

        <div class="tab-pane" id="tabFinancialProgress"
             data-idb-fieldname="tabFinancialProgress"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-url="@Url.Action("FinancialProgressSave", "ComponentsSave", new {area = "TCM"})"
             data-loadurl="@Url.Action("IndexFinancialProgressReload", "Components", new {area = "TCM"})">
            @if (Model.FinancialProgress != null)
            {
                @Html.Partial("Partial/FinancialProgress", Model.FinancialProgress)
            }
            
        </div>

        <div class="tab-pane" id="tabMappingProgress"
             data-idb-fieldname="tabMappingProgress"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-url="@Url.Action("MappingProgressSave", "ComponentsSave", new {area = "TCM"})"
             data-loadurl="@Url.Action("IndexMappingProgressReload", "Components", new {area = "TCM"})">
            @if (Model.MappingProgress != null)
            {
                @Html.Partial("Partial/MappingProgress", Model.MappingProgress)
            }
            
        </div>
      
    </div>
</div>