<span id="delete-output-message" style="display:none">
    <b>@Localization.GetText("TCM.DIO.DeleteOutputIndicator.TextMessage")</b>
    <br /><br />
    <b>@Localization.GetText("TCM.DIO.DeleteOutputIndicator.TextInformation")</b>
    <br /><br />
    <span>@Localization.GetText("TCM.Outputs.OutputIndicator")</span><br />
    <span><b>{{DeleteOutputParameters.CurrentOutput.Definition}}</b></span>
    <br /><br />
    @Localization.GetText("TCM.DeleteMessage")
</span>

<span id="delete-output-disaggregation-message" style="display: none">
    <b>@Localization.GetText("TCM.DOD.DeleteOutputDisaggregation.TextMessage")</b>
    <br /><br />
    @Localization.GetText("TCM.DOD.DeleteOutputDisaggregation.Information")
</span>

<span id="delete-output-milestone-message" style="display:none">
    <b>@Localization.GetText("TCM.DOM.DeleteOutputMilestones.TextMessage")</b>
    <br /><br />
    @Localization.GetText("TCM.DOM.DeleteOutputMilestones.Information")
</span>

<span id="reassign-output-non-components-message" style="display:none">
    @Localization.GetText("TCM.ROI.ReassignOutputIndicator.NoExistingComponent")
</span>

<span id="reassign-output-indicator-title" style="display:none">
    @Localization.GetText("TCM.ROI.ReassignOutputIndicator.Header")
</span>

<span id="add-new-output-indicator-title" style="display:none">
    @Localization.GetText("TCM.SOI.SelectOutputIndicator.Header")
</span>

<span id="continue-title" style="display: none">
    @Localization.GetText("TCM.SOI.SelectOutputIndicator.Continue")
</span>

<span id="confirm-change-warning-title" style="display: none">
    @Localization.GetText("This action cannot be undone. Are you sure?")
</span>


<div id="delete-component-message" style="display:none">
    <span>
        <b>@Localization.GetText("TCM.DCI.DeleteComponentInterface.TextMessage")</b>
    </span>
    <br /><br />
    <span>@Localization.GetText("TCM.Outputs.Component")</span>
    <br />
    <b>{{DeleteComponentParameters.CurrentComponent.Statement}}</b>
    <br /><br /><br />
    <span><b>@Localization.GetText("TCM.DCI.DeleteComponentInterface.TextMessage2")</b></span>
    <br /><br />
    <table class="tableNormal">
        <thead>
            <tr>
                <th width="50%">@Localization.GetText("TCM.Outputs.OutputIndicator")</th>
                <th>@Localization.GetText("TCM.DCI.DeleteComponentInterface.ReassignToComponent")</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="outputToReassign in DeleteComponentParameters.CurrentComponent.Outputs">
                <td>
                    <span>{{outputToReassign.Definition}}</span>
                </td>
                <td>
                    <div class="dropdown" style="width:100%">
                        <button class="btn btn-default dropdown-toggle " type="button" id="id-OutcomeIndicator_BaseLineYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="cargaDropDown(this)" onkeydown="dropdownNavigation(this, event)" dd-find="">
                            <span class="valueText ng-binding" ng-attr-class="valueText">{{DeleteComponentParameters.SelectableComponents[0].Statement}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" dd-value="{{outputToReassign.OutputId}}">
                            <li ng-repeat="item in DeleteComponentParameters.SelectableComponents" class="ng-scope">
                                <a dd-value="{{item.ComponentId}}" onclick="addOutputToReassign(this)" class="ng-binding">{{item.Statement}}</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="reassign-output-message" style="display:none">
    <span>@Localization.GetText("TCM.Outputs.Component")</span>
    <br />
    <b>{{ReassignOutputParameters.CurrentComponent.Statement}}</b>
    <br /><br /><br />
    <span>@Localization.GetText("TCM.Outputs.OutputIndicator")</span>
    <br />
    <b>{{ReassignOutputParameters.CurrentOutput.Definition}}</b>
    <br /><br /><br />
    <span>@Localization.GetText("TCM.ROI.ReassignOutputIndicator.ReassignOutputIndicatortoComponent")</span>
    <br /><br />
    <div>
        <div class="dropdown" ng-form="Reassign_Output_indicator" style="width: 100%">
            <button class="btn btn-default dropdown-toggle" type="button" id="id-Reassign_Output_indicator" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="cargaDropDown(this)" onkeydown="dropdownNavigation(this, event)" dd-find="">
                <span class="valueText ng-binding" ng-attr-class="valueText">{{ReassignOutputParameters.SelectableComponents.length > 2 ? ReassignOutputParameters.SelectableComponents[0].Statement : ReassignOutputParameters.SelectableComponents[1].Statement}}</span>
                <span class="caret"></span>
            </button>
            <input ng-model="ReassignOutputParameters.CurrentOutput.ComponentId" type="hidden" name="Reassign_Output_indicator" ng-required="true" class="ng-pristine ng-untouched ng-valid ng-valid-required" required="required">
            <ul class="dropdown-menu" aria-labelledby="id-Reassign_Output_indicator">
                <li ng-repeat="item in ReassignOutputParameters.SelectableComponents" class="ng-scope">
                    <a dd-name="Reassign_Output_indicator" dd-value="{{item.ComponentId}}" class="ng-binding">{{item.Statement}}</a>
                </li>
            </ul>
        </div>
        <div ng-show="Reassign_Output_indicator.$invalid" class="ng-hide">
            <ul class="parsley-errors-list filled">
                <li class="listError">
                    <span>
                        @Localization.GetText("TCM.Outputs.RequiredMessage")
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<span id="delete-beo-procurement-output-message" style="display:none">
    <b>@Localization.GetText("TCM.Outputs.BeoProcurement.TitleMessage")</b>
    <br /><br />

    <span ng-repeat="ProcurementProcess in ProcurementProcesses" class="ng-scope">
        <b>{{ProcurementProcess}}</b><br /><br />
    </span>
    <b>@Localization.GetText("TCM.Outputs.BeoProcurement.ReasonMessage")</b>
    <br /><br />
    <b>@Localization.GetText("TCM.Outputs.BeoProcurement.Reason")</b>
    <br /><br />
    <textarea id="beo-procurement-reason" ng-model="DeleteOutputParameters.Justification" ng-maxlength="300" maxlength="300" ng-required="true" class="inputTextarea existing pl30  ng-valid-required ng-valid-maxlength ng-touched" style="width: 100%;height: 100px;" data-ng-disabled="false" required="required"></textarea>
    <br />
    <ul class="parsley-errors-list filled beo-procurement-messages" style="display:none">
        <li class="parsley-required missing-procurement-reason-error custom-hidden">@Localization.GetText("TCM.Outputs.BeoProcurement.RequiredMessage")</li>
    </ul>
    <br /><br />
    @Localization.GetText("TCM.DeleteMessage")
</span>