@using IDB.Presentation.MVC4.Helpers
@using Newtonsoft.Json
@model IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Components.OutputMilestoneDetailViewModel
<div id="PageContent">
    <div class="header mb20">
        <div class="row">
            <div class="col-md-12">
                <div class="floatLeft" data-pagemode="read">
                    @Confluence.Navigation(Confluence.LabelMainTitle(Localization.GetText("TCM.Outputs.OutputMilestoneDetails")), Url.Action("Index", "Components", new { area = "TCM" }))
                </div>
                <div class="floatLeft" data-pagemode="edit">
                    <div class="badge01a">
                        <button data-url="@Url.Action("index", "Components", new {area = "TCM"})" onclick="redirect(this)">
                            <span class="left"></span></button>
                        @Confluence.LabelMainTitle(Localization.GetText("TCM.Outputs.OutputMilestoneDetails"))
                    </div>
                </div>
                @if (Model.TCMWritePermission || IDBContext.Current.HasPermission(Permission.TC_RESULTS_MATRIX_ADMIN_PERMISSION))
                {
                    @Html.Partial("Partial/DetailButtons", Model.FieldAccessList)
                }
            </div>
        </div>
    </div>
    <input type="hidden" id="hidViewModel" value="@PageSerializationHelper.SerializeObject(Model)"/>
    <div data-pagemode="edit">
        <input type="hidden" name="hdOutputId" value="@Model.OutputId"/>
        <input type="hidden" name="hdMilestoneId" value="@Model.MilestoneId"/>
        <input type="hidden" name="hdSaveInResultMatrix" value="@Model.RegisterInMatrixChange.ToString()"/>
    </div>
    <div class="col-md-12">
        <div class="desheadingh3 ml55">
            <p class="description">@Model.ComponentName</p>
        </div>
    </div>
    <div class="col-md-12">
        <h5 class="headingh4">@Model.OutputIndicatorName</h5>
    </div>
    <div class="col-md-12">
        <h4 class="ml55">@Confluence.Label(Localization.GetText("TCM.Outputs.Milestone"))</h4>
    </div>
    <div class="col-md-12 mb25 ml55">
        @Confluence.LabelBold(Model.Milestone)
    </div>

    <div class="col-md-12 ml55 ">
        <div class="col-md-6 pl0">
            <div class="mb10">
                @Confluence.Label(Localization.GetText("TCM.Outputs.Milestone.MeansOfVerification"))
            </div>
            <span data-pagemode="read">
                @Confluence.LabelBold(Model.MeansOfVerification)
            </span>
            <span data-pagemode="edit">
                @Confluence.InputText(Model.MeansOfVerification, "MeansOfVerification", 200, required: false, width: "100%")
            </span>
        </div>

        <div class="col-md-6 mb25">
            <div class="mb10">@Confluence.Label(Localization.GetText("TCM.Outputs.Milestone.BaselineYear"))</div>
            <span data-pagemode="read">
                @Confluence.LabelBold(Model.BaseLineYear.ToString())
            </span>
            <span data-pagemode="edit">
                @Confluence.InputDropDown(Model.BaseLineYear.ToString(), "BaselineYear", ViewBag.ApprovalYears, required: false)
            </span>
        </div>
    </div>

    <div class="col-md-12 ml55">
        <span data-pagemode="read">
        @Confluence.InputCheckbox(Model.IsAutoCalcEop, "IsAutoCalcEop", label: Localization.GetText("TCM.Outputs.Milestone.AddAnnualValues"), disabled: true)
    </span>
        <span data-pagemode="edit">
        @Confluence.InputCheckbox(Model.IsAutoCalcEop, "IsAutoCalcEop", label: Localization.GetText("TCM.Outputs.Milestone.AddAnnualValues"))
    </span>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                @if (Model.TCMWritePermission || IDBContext.Current.HasPermission(Permission.TC_RESULTS_MATRIX_ADMIN_PERMISSION))
                {
                    @Html.Partial("Partial/DetailButtons", Model.FieldAccessList)
                }
            </div>
        </div>
    </div>
</div>
