@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.SupervisionPlan.SupervisionPlanOperationReport
@{
    ViewBag.Title = "Create";
    var hasYears = ViewBag.ListSupervisionPlanOperation.Items.Count!=0;
}


<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>
<link href="@Url.Content("~/Content/Modules/Reports/rs_ui_rt_001.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/SupervisionPlansOperationCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />


<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/SupervisionPlansOperationScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
@if(!hasYears){
        <div class="messages message-warning">
            <div class="mb10">
                @Confluence.LabelBold(Localization.GetText("REPORT.SPE.MessageError.Title"))
            </div>
            <div>
                @Confluence.Label(Localization.GetText("REPORT.SPE.MessageError.Description"))
            </div>
        </div>
}
<div style="clear:both"></div>
<div id="rs_ui_rt_001" class="padding20">

    <div class="verticalMargin20 w100">
        <h3 class="font2em AlingTitles">@Localization.GetText("REPORT.SPE.Title")</h3>
    </div>

    <div class="relative h50px verticalMargin40">
        <h4 class="font1-5em absolute AlingTitles ">@Localization.GetText("REPORT.SPE.SubTitle")</h4>
        <input type="button" class="absolute absRight button blueButton buttonCustomSize alingFilterButtonRigth" id='showFilterButtonReportsRS001' value="@Localization.GetText("CM.Button.Filter")">
    </div>
    <div id="searchBoxContainerReportsRS001" class="padding20 grayBackground font08em hideNI" style="display: block">

        @using (Html.BeginForm("GetSupervisionVersionByYear", "SupervisionPlanReport", FormMethod.Post, new { @id = "FormSupervisionYear" }))
        {
            @Html.HiddenFor(x => x.OperationID)
            <div class="inline-block inputContainer w25">
                <div class="inline-block w96 verticalAlignMiddle">
                    <label for="Year" class="inline-block verticalAlignMiddle noPadding labelCustomClause">@Localization.GetText("Common.Year")</label>
                    @Html.DropDownList("Year", new SelectList(ViewBag.ListSupervisionPlanOperation, "Value", "Text", ViewBag.Values), new { @class = "kendoDropDown" })
                </div>
            </div>
        }

        <a id="UrlPostDownload" data-route="@Url.Action("DownloadSupervisionReport", "SupervisionPlanReport")"></a>
        @using (Html.BeginForm("GenerateReport", "SupervisionPlanReport", FormMethod.Post, new { @id = "FormSupervicionPlanOperationReport" }))
        {
            @Html.HiddenFor(x => x.OperationID)
            @Html.HiddenFor(x => x.ExportType)
            
            <div class="mod_tabla FontSupervisionTable" style="width: 90%" id="SupervisionVersionContainer">
                <table class="grid w100" id="TableSupervisionVersion">
                    <thead>
                        <tr>
                            <th style="width: 20%;" class="btn_azul_oscuro">@Localization.GetText("Common.Year")</th>
                            <th style="width: 40%;" class="btn_azul_oscuro">@Localization.GetText("SP.Summary.SupervisionPlan.ValidationDate")</th>
                            <th style="width: 20%;" class="btn_azul_oscuro">@Localization.GetText("TCM.Outputs.Show")</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var ItemVersion in Model.ListSupervisionPlanVersion)
                        {
                            <tr>
                                <td>@Model.Year</td>
                                <td>@(ItemVersion.ValidationDate == null ? "" : ItemVersion.ValidationDate.Value.ToString("dd MMM yyyy"))</td>
                                <td>
                                    @Html.CheckBoxFor(x => x.SupervisionVersion[ItemVersion.SupervisionPlanVersionID.ToString()], new { @class = "fancy-checkbox" })
                                    @Html.LabelFor(x => x.SupervisionVersion[ItemVersion.SupervisionPlanVersionID.ToString()],
                                    new
                                    {
                                        @class = "fancy-label blue bold labelCheckSup",
                                        @onclick = "changeCheckboxSelected(this)"
                                    })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

            <div class="verticalMargin20 rightAlign w96 centerContent">
                <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad" id="AjaxLoadForSupervisionReport" />
                <input id="Btn_ExportExcel" type="button" class="button blueButton buttonCustomSize activeControlSup disabledbutton" value="@Localization.GetText("OP.MS.ReportFilter.ExportExcel")" disabled="disabled">
                <input id="Btn_ExportPDF" type="button" class="button blueButton buttonCustomSize activeControlSup disabledbutton" value="@Localization.GetText("OP.MS.ReportFilter.ExportPDF")" disabled="disabled">
                <input type="submit" class="button yellowButton buttonCustomSize activeControlSup disabledbutton" value=" @Localization.GetText("OP.MS.ReportFilter.Submit")" disabled="disabled">
            </div>
        }
    </div>
    <div style="padding-left: 5px;">
        <iframe id="frameReportSupervision" class="iframeReportsCustom"></iframe>
    </div>
</div>

