@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

@model IDB.Presentation.MVC4.Models.Documents.SearchDocumentModalViewModel

<div class="container-fluid" data-id="@Model.SearchModalId">
    <div class="row">
        <div class="col-md-12">
            <ul class="tabs" role="tablist" data-id="tabContainer">
                <li class="active" onclick="tabs(this)" role="tab" data-toggle="tab" data-tab-action="@Model.SearchModalId" data-tab-id="add">@Localization.GetText("Add")</li>
            </ul>

            <div class="modalContent" data-id="modalContent">
                <div data-id-selector="tabContainer">
                    @Html.Partial("Controls/IDBDocsNew/AddIDBDocForm")
                </div>
                <div data-id="modalButtonsContainer" class="vex-modalFooter">
                    <button type="button" data-id="performButton" id="performButton" class="buttonBlue">@Localization.GetText("Document.Button.Add")</button>
                    <button type="button" data-id="cancelButton" class="buttonBlue">@Localization.GetText("Document.Button.Cancel")</button>
                </div>
            </div>
        </div>
    </div>
</div>

