@model IDB.MW.Application.VERModule.ViewModels.VersionHistoryDataViewModel
<div class="row ml5 mb20">
    <table class="tableNormal tableNormalBorder" id="versionHistoryTable">
        <tbody>
            @foreach (var document in Model.DocumentDataList)
            {
                var validationVersionHistory = (document.IsVersionHistory != null && document.IsVersionHistory == false);

                <tr data-id="@document.DocumentName">
                    <td>
                        @if (string.IsNullOrEmpty(document.Urldocument) || validationVersionHistory)
                        {
                            @Confluence.Label(document.DocumentName, htmlClass: "text-left nameNotAvailable pl15")
                            <br />
                            @Confluence.Label("Document not available", htmlClass: "text-left documentNotAvailable pl15")
                        }
                        else
                        {
                            @Confluence.ButtonLink(document.DocumentName, htmlClass: "text-left documentName", action: document.Urldocument == string.Empty ? "" : "officeOnlineMainDocument",
                            dataAttributes: new Dictionary<string, string> { { "url", document.Urldocument }, { "idb-fieldname", "btnDocumentNameLnk" } })
                        }
                    </td>
                    <td>
                        @(validationVersionHistory ? Confluence.Label(Model.Package, htmlClass: "nameNotAvailable") : Confluence.LabelLink(Model.Package, htmlClass: "packageName"))
                    </td>
                    <td>
                        @if (!validationVersionHistory)
                        {
                            @Confluence.ButtonShowRow()
                        }
                    </td>

                    <td class="hide">@Confluence.InputHidden(document.Urldocument, "vhUrlDocument")</td>
                </tr>
                <tr data-row-parent-id="@document.DocumentName">
                    <td colspan="3">
                        <div class="contenedor">

                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-3">@Confluence.Label(Localization.GetText("VER.Homepage.TabVersionHistory.Title"))</div>
                                    <div class="col-md-3">@Confluence.Label(document.Tittle)</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">@Confluence.Label(Localization.GetText("VER.Homepage.TabVersionHistory.Phase"))</div>
                                    <div class="col-md-3">@Confluence.Label(document.Phase)</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">@Confluence.Label(Localization.GetText("VER.Homepage.TabVersionHistory.KeyDocument"))</div>
                                    <div class="col-md-3">@Confluence.LabelGetBool(document.KeyDocument)</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">@Confluence.Label(Localization.GetText("VER.Homepage.TabVersionHistory.RelatedDocuments"))</div>

                                    <div class="col-md-9">
                                        @foreach (var related in document.RelatedDocuments)
                                        {
                                            @Confluence.LabelLink(related.DocumentName, action: "officeOnlineMainDocument", dataAttributes: new Dictionary<string, string> { { "url", related.UrlDocument }, { "idb-fieldname", "btnDocumentNameLnk" } })
                                        }
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">@Confluence.Label(Localization.GetText("VER.Homepage.TabVersionHistory.DocumentType"))</div>
                                    <div class="col-md-3">@Confluence.Label(document.DocumentType)</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">@Confluence.Label(Localization.GetText("VER.Homepage.TabVersionHistory.ActivityGroup"))</div>
                                    <div class="col-md-3">@Confluence.Label(document.ActivityGroup)</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">@Confluence.Label(Localization.GetText("VER.Homepage.TabVersionHistory.CreatedYear"))</div>
                                    <div class="col-md-3">@Confluence.Label(document.CreatedYear.ToString())</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">@Confluence.Label(Localization.GetText("VER.Homepage.TabVersionHistory.CreatedMonth"))</div>
                                    <div class="col-md-3">@Confluence.Label(document.CreatedMonth)</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">@Confluence.Label(Localization.GetText("VER.Homepage.TabVersionHistory.CreatedDayOfTheWeek"))</div>
                                    <div class="col-md-3">@Confluence.Label(document.CreatedDayOfTheWeek)</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">@Confluence.Label(Localization.GetText("VER.Homepage.TabVersionHistory.CreatedDayOfTheMonth"))</div>
                                    <div class="col-md-3">@Confluence.Label(document.CreatedDayOfTheMonth)</div>
                                </div>
                            </div>

                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>