@using IDB.Presentation.MVC4.Helpers

@model IDB.MW.Application.VERModule.ViewModels.ReviewedLoanViewModel

@if (Model != null)
{
    var operationsList = Model != null &&
        Model.OperationsLoan != null ?
        Html.BuildSelectItemList(Model.OperationsLoan,
            o => o.Text,
            o => o.Value).ToList() :
        new List<SelectListItem>();

    <div class="row">
        <div class="col-md-12">
            @Localization.GetText("VER.REVIEWED.LOAN.RADIO")
        </div>
        <div class="col-md-12">
            @Confluence.InputRadioButton(
                "yes",
                "radio-reviewedLoan",
                Model.IsReviewedInLoan,
                label: Localization.GetText("PCR.FollowUp.Yes"))

            @Confluence.InputRadioButton(
                "no",
                "radio-reviewedLoan",
                Model.IsReviewedInLoan == false,
                label: Localization.GetText("PCR.FollowUp.No"),
                htmlClass: "ml10")
        </div>

        <div class="mt15 @(Model.IsReviewedInLoan? null :"hide")" id="hideContentReviewedLoan">
            <div class="col-md-12">
                @Localization.GetText("VER.REVIEWED.LOAN.DDL")
            </div>
            <div class="col-md-12">
                @Confluence.InputDropDown(Model.ReviewedOperation, "reviewedOperation", operationsList)
            </div>
        </div>
    </div>
}