@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General
@using IDB.MW.Application.ESW_CIPModule.Enums.K2IntegrationEnums;
@using IDB.MW.Application.ESW_CIPModule.ViewModels.K2Workflow;



@model WorkflowViewModels

<div id="headerButtons">
    <div data-pagemode="edit">
        @Confluence.ButtonLink(
            text: Localization.GetText("R6.Proposal.AnnualAllocation.Cancel"),
            action: "cancelWorkflow",
            name: "btnCancelWorkflow",
            dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelWorkflow" } })

        @Confluence.ButtonWhite(
        text: Localization.GetText("R6.Proposal.AnnualAllocation.Save"),
        action: "saveOnly",
        name: "btnSaveOnly",
        dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveOnly" } })


        @switch (Model.TaskDataModel.TaskTypeCode)
        {
            case K2IntegrationEnumerator.WF_ECO_001_T1:
            case K2IntegrationEnumerator.WF_ECO_001_T6:
                <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                        data-idb-fieldname="btnSaveSubmit"
                        data-modal-allowclose="true"
                        data-custom-modal="saveAndSubmitModal"
                        data-custom-modal-style="vex-theme"
                        data-custom-modal-title="@Localization.GetText("R6.Proposal.AnnualAllocation.SaveSubmit")"
                        data-custom-modal-validate="false"
                        data-custom-buttons='["save", "cancel"]'
                        data-custom-button-save-id="send"
                        data-custom-button-save="@Localization.GetText("R6.Proposal.AnnualAllocation.Save")"
                        data-custom-button-save-style="buttonBlue"
                        data-custom-button-save-callback="saveAndSubmit"
                        data-custom-button-save-closeatend="true"
                        data-custom-button-cancel-id="cancel"
                        data-custom-button-cancel="@Localization.GetText("R6.Proposal.AnnualAllocation.Cancel")"
                        data-custom-button-cancel-style="buttonLink"
                        data-custom-button-cancel-callback=""
                        data-custom-modal-onclose=""
                        data-custom-modal-closeonoverlayclick="false">
                    @Localization.GetText("R6.Proposal.AnnualAllocation.SaveSubmit")
                </button>
                break;

            default:
            <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                    data-idb-fieldname="btnSaveReturn"
                    data-modal-allowclose="true"
                    data-custom-modal="saveAndReturnModal"
                    data-custom-modal-style="vex-theme"
                    data-custom-modal-title="@Localization.GetText("R6.Proposal.AnnualAllocation.SaveReturn")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["save", "cancel"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("R6.Proposal.AnnualAllocation.Save")"
                    data-custom-button-save-style="buttonBlue"
                    data-custom-button-save-callback="saveAndReturn"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("R6.Proposal.AnnualAllocation.Cancel")"
                    data-custom-button-cancel-style="buttonLink"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="false">
                @Localization.GetText("R6.Proposal.AnnualAllocation.SaveReturn")
            </button>

            <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                    data-idb-fieldname="btnSaveValidate"
                    data-modal-allowclose="true"
                    data-custom-modal="saveAndValidateModal"
                    data-custom-modal-style="vex-theme"
                    data-custom-modal-title="@Localization.GetText("R6.Proposal.AnnualAllocation.SaveValidate")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["save", "cancel"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("R6.Proposal.AnnualAllocation.Save")"
                    data-custom-button-save-style="buttonBlue"
                    data-custom-button-save-callback="saveAndValidate"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("R6.Proposal.AnnualAllocation.Cancel")"
                    data-custom-button-cancel-style="buttonLink"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="false">
                @Localization.GetText("R6.Proposal.AnnualAllocation.SaveValidate")
            </button>
                break;

        }

        @if (Model.OperationModality.Equals("ESW")
            && Model.StudiesCommittee.HasValue
            && Model.TaskDataModel.TaskTypeCode.Equals(K2IntegrationEnumerator.WF_ECO_001_T3))
        {
            <br /><br />
            <div id="divCheck">
                @Confluence.InputCheckbox(
    isChecked: Model.StudiesCommittee.Value,
    name: "studiesComitte",
      label: Localization.GetText("R6.Proposal.AnnualAllocation.isStudiesCommittee"))
            </div>
        }
    </div>
</div>


<div data-id="ModalRegion">
    <div id="saveAndSubmitModal" class="hide modalBody ECOModal">
        @Localization.GetText("R6.Proposal.AnnualAllocation.Modal.SaveSubmit")
    </div>
    <div id="saveAndReturnModal" class="hide modalBody ECOModal">
        @Localization.GetText("R6.Proposal.AnnualAllocation.Modal.SaveReturn")
    </div>
    <div id="saveAndValidateModal" class="hide modalBody ECOModal">
        @Localization.GetText("R6.Proposal.AnnualAllocation.Modal.SaveValidate")
    </div>
</div>
