@model IDB.MW.Application.AdministrationModule.ViewModels.CycleAdmin.CycleAdminModel
@{ Layout = "~/Areas/AdministrationSecondPhase/Views/Shared/_Layout.cshtml"; }
<input hidden data-idb-pagename="UI-RPA-001-ReportingPeriodAdmin" />
<div class="header">
    <div class="row">
        <div class="col-md-5 mb40">
            @Confluence.LabelMainTitle(Localization.GetText("TCM.CA.TCCycleAdmin.TcReportingPeriodAdmin"))
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb40">
        @Confluence.Label(Localization.GetText("TCM.CA.TCCycleAdmin.FieldOnceCurrentTc"))
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb25">
        <ul class="pl15">
            <li class="mb10">@Confluence.Label(Localization.GetText("TCM.CA.TCCycleAdmin.FieldAllData"))</li>
            <li class="mb10">@Confluence.Label(Localization.GetText("TCM.CA.TCCycleAdmin.FieldOperationClosed"))</li>
            <li class="mb10">@Confluence.Label(Localization.GetText("TCM.CA.TCCycleAdmin.FieldAllBusinnes"))</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        @Confluence.Label(Localization.GetText("TCM.CA.TCCycleAdmin.PastTCReportingPeriodClosureDates"))
    </div>
</div>
<div class="row mb10">
    @Html.Partial("Partial/TableReportingPeriod", Model.PeriodClosureModels)
</div>
<div class="header row">
    <div class="col-md-5">
        @Html.Partial("Partial/IndexButtonsView")
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tableReportingPeriod").paginationConfluense("10");
        });

        function close() {
            var msg = "@Localization.GetText("TCM.CA.TCCycleAdmin.Message.ClosePeriod")";
            confirmAction(msg).done(function (pressOk) {
                if (pressOk) {
                    $.get("@Url.Action("CloseAndOpenCycle", "CycleAdmin", new { area = "AdministrationSecondPhase" })");
                    window.location.reload();
                    $("#tableReportingPeriod").paginationConfluense("10");
                }
            });
        }
    </script>
}
