@using IDB.MW.Application.AdministrationModule.ViewModels.GenericCase

@model ApprovalViewModel

<div class="row grouping-section"
     id="generic-case-fields"
     data-parsley-validate="data-parsley-validate">
    <div class="col-md-4 groupColumn">
        <div class="LabelsGroup">
            <label class="lgTit">
                @Localization.GetText("OP.AP.ApprovalNumber")
            </label>
            <div class="lgCont adjustable-element">
                @Confluence.InputText(
                    value: null,
                    name: "approval-number",
                    required: false,
                    disabled: true,
                    htmlClass: "mr10",
                    maxLength: 24,
                    width: "80%",
                    dataAttributes: new Dictionary<string, string> {
                        { "field-name", "ApprovalNumber" }
                    })
                <span name="checkbox">
                    @Confluence.InputCheckbox(
                        isChecked: false,
                        name: "update-approval-number",
                        label: Localization.GetText("Common.Update"),
                        htmlClass: "gc-adjust-checkbox",
                        dataAttributes: new Dictionary<string, string> {
                            { "action", "toggleEnabled" }
                        })
                </span>
            </div>
        </div>
        <div class="LabelsGroup">
            <label class="lgTit">
                @Localization.GetText("OP.AP.TransactionStatus")
                @Confluence.LabelAsterisk()
            </label>
            <div class="lgCont adjustable-element">
                @Confluence.InputDropDown(
                    value: null,
                    name: "transaction-status",
                    htmlClass: "mr10 gc-adjust-display gc-disabled",
                    required: false,
                    disabled: true,
                    elements: Model.TransactionStatus,
                    width: "100%",
                    dataAttributes: new Dictionary<string, string> {
                        { "field-name", "TransactionStatus" },
                        { "required", "true" },
                        { "keep", "true" }
                    })
                <span name="checkbox">
                    @Confluence.InputCheckbox(
                        isChecked: false,
                        name: "update-transaction-status",
                        label: Localization.GetText("Common.Update"),
                        htmlClass: "gc-adjust-checkbox",
                        dataAttributes: new Dictionary<string, string> {
                            { "action", "toggleEnabled" }
                        })
                </span>
            </div>
        </div>
        <div class="LabelsGroup">
            <label class="lgTit">
                @Localization.GetText("OP.AP.ApprovalDate")
            </label>
            <div class="lgCont adjustable-element">
                @Confluence.InputDatePicker(
                    value: null,
                    name: "approval-date",
                    required: false,
                    disabled: true,
                    htmlClass: "mr10",
                    minDate: new DateTime(1900, 1, 1),
                    width: "80%",
                    dataAttributes: new Dictionary<string, string> {
                        { "field-name", "ApprovalDate" }
                    })
                <span name="checkbox">
                    @Confluence.InputCheckbox(
                        isChecked: false,
                        name: "update-approval-date",
                        label: Localization.GetText("Common.Update"),
                        htmlClass: "gc-adjust-checkbox",
                        dataAttributes: new Dictionary<string, string> {
                            { "action", "toggleEnabled" }
                        })
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 groupColumn">
        <div class="LabelsGroup">
            <label class="lgTit">
                @Localization.GetText("OP.AP.ResolutionNumber")
            </label>
            <div class="lgCont adjustable-element">
                @Confluence.InputText(
                    value: null,
                    name: "resolution-number",
                    required: false,
                    disabled: true,
                    htmlClass: "mr10",
                    maxLength: 100,
                    width: "80%",
                    dataAttributes: new Dictionary<string, string> {
                        { "field-name", "ResolutionNumber" }
                    })
                <span name="checkbox">
                    @Confluence.InputCheckbox(
                        isChecked: false,
                        name: "update-resolution-number",
                        label: Localization.GetText("Common.Update"),
                        htmlClass: "gc-adjust-checkbox",
                        dataAttributes: new Dictionary<string, string> {
                            { "action", "toggleEnabled" }
                        })
                </span>
            </div>
        </div>
        <div class="LabelsGroup">
            <label class="lgTit">
                @Localization.GetText("OP.AP.DocumentNumber")
            </label>
            <div class="lgCont adjustable-element">
                @Confluence.InputText(
                    value: null,
                    name: "document-number",
                    required: false,
                    disabled: true,
                    htmlClass: "mr10",
                    maxLength: 50,
                    width: "80%",
                    dataAttributes: new Dictionary<string, string> {
                        { "field-name", "DocumentNumber" }
                    })
                <span name="checkbox">
                    @Confluence.InputCheckbox(
                        isChecked: false,
                        name: "update-document-number",
                        label: Localization.GetText("Common.Update"),
                        htmlClass: "gc-adjust-checkbox",
                        dataAttributes: new Dictionary<string, string> {
                            { "action", "toggleEnabled" }
                        })
                </span>
            </div>
        </div>
        <div class="LabelsGroup">
            <label class="lgTit">
                @Localization.GetText("OP.AP.DocumentDate")
            </label>
            <div class="lgCont adjustable-element">
                @Confluence.InputDatePicker(
                    value: null,
                    name: "document-date",
                    required: false,
                    disabled: true,
                    htmlClass: "mr10",
                    minDate: new DateTime(1900, 1, 1),
                    width: "80%",
                    dataAttributes: new Dictionary<string, string> {
                        { "field-name", "DocumentDate" }
                    })
                <span name="checkbox">
                    @Confluence.InputCheckbox(
                        isChecked: false,
                        name: "update-document-date",
                        label: Localization.GetText("Common.Update"),
                        htmlClass: "gc-adjust-checkbox",
                        dataAttributes: new Dictionary<string, string> {
                            { "action", "toggleEnabled" }
                        })
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 groupColumn">
        <div class="LabelsGroup">
            <label class="lgTit">
                @Localization.GetText("OP.AP.ApprovalProcess")
            </label>
            <div class="lgCont adjustable-element">
                @Confluence.InputDropDown(
                    value: null,
                    name: "approval-process",
                    htmlClass: "mr10 gc-adjust-display gc-disabled",
                    required: false,
                    disabled: true,
                    elements: Model.ApprovalProcess,
                    width: "100%",
                    dataAttributes: new Dictionary<string, string> {
                        { "field-name", "ApprovalProcess" },
                        { "keep", "true" }
                    })
                <span name="checkbox">
                    @Confluence.InputCheckbox(
                        isChecked: false,
                        name: "update-approval-process",
                        label: Localization.GetText("Common.Update"),
                        htmlClass: "gc-adjust-checkbox",
                        dataAttributes: new Dictionary<string, string> {
                            { "action", "toggleEnabled" }
                        })
                </span>
            </div>
        </div>
        <div class="LabelsGroup">
            <label class="lgTit">
                @Localization.GetText("OP.AP.ApprovalAuthority")
            </label>
            <div class="lgCont adjustable-element">
                @Confluence.InputDropDown(
                    value: null,
                    name: "approval-authority",
                    htmlClass: "mr10 gc-adjust-display gc-disabled",
                    required: false,
                    disabled: true,
                    elements: Model.ApprovalAuthority,
                    width: "100%",
                    dataAttributes: new Dictionary<string, string> {
                        { "field-name", "ApprovalAuthority" },
                        { "keep", "true" }
                    })
                <span name="checkbox">
                    @Confluence.InputCheckbox(
                        isChecked: false,
                        name: "update-approval-authority",
                        label: Localization.GetText("Common.Update"),
                        htmlClass: "gc-adjust-checkbox",
                        dataAttributes: new Dictionary<string, string> {
                            { "action", "toggleEnabled" }
                        })
                </span>
            </div>
        </div>
    </div>
</div>