@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language

@model IDB.MW.Application.TCAbstractModule.ViewModels.AwardFundEligibility.AwardFundEligibilityViewModel

<div class="hide" id="refreshFundAvailability">
    <div class="row row-body-50 font-body">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            @Display.Button01(
                text: "Refresh",
                name: "refreshAwardFundEligibility",
                action: "refreshAwardFundEligibility")
        </div>
    </div>
</div>
<div class="row-body-50">
    <div class="row row-header">
        <div class="col-md-2 font-body">
            @Localization.GetText("TC.FundCoordinator.FundAvailability")
        </div>
        <div class="col-md-8">
            @Display.ButtonLink(
                Localization.GetText("TC.AwardFundEligibility.Hide"),
                name: "fundAvailabilityButton")
        </div>
    </div>
    <div data-name="fundAvailibility">
        <div class="row row-body-40">
            <div class="col-md-2 font-header">
                @Localization.GetHtmlText("TC.FundCoordinator.CurrentAvailability")
            </div>
            <div class="col-md-2 font-body">
                @Model.CurrentAvailability.HtmlEncode()
            </div>
            <div class="col-md-2 font-header">
                @Localization.GetHtmlText("TC.FundCoordinator.UpcomingContributions")
            </div>
            <div class="col-md-2 font-body">
                @Model.UpcomingContributions.HtmlEncode()
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row row-body-40">
            <div class="col-md-2 font-header">
                @Localization.GetHtmlText("TC.FundCoordinator.ApprovalsYTD")
            </div>
            <div class="col-md-2 font-body">
                @Model.ApprovalsYTD.HtmlEncode()
            </div>
            <div class="col-md-2 font-header">
                @Localization.GetHtmlText("TC.FundCoordinator.CurrentYrPipeline")
            </div>
            <div class="col-md-2 font-body">
                @Model.CurrentYrPipeline.HtmlEncode()
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
