@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.IndicatorsModuleNew.ViewModels.LinkPredefinedIndicator
@using IDB.Architecture.Language

@model PredefinedIndicatorDisaggregationViewModel

@{
    ViewBag.Title = Localization.GetText("RM.Predef.Indicator.Disaggregations.Selection.Popup.Title");
}

<div>
    <span>
        @Localization.GetText("RM.Predef.Indicator.Disaggregations.Selection.Popup.Message")
    </span>

    <div data-id="modalButtonsContainer" class="predef-indic-disagg-buttons-container" style="text-align: right">
        <button class="button01" onclick="DeselectAllDisaggregations()">@Localization.GetText("Deselect.All")</button>
        <button class="button01" onclick="LinkIndicatorWithDisaggregations(true)">@Localization.GetText("Save")</button>
        <button class="buttonLink" onclick="vex.close()">@Localization.GetText("MrBlue.Back")</button>
    </div>

    <div class="divider">&nbsp;</div>
    
    <div class="col-md-12">
        <h2 class="text-center">
            <b>@Model.predefinedIndicatorRelationshipViewModel.PredefinedIndicatorChildrenNumber - @Model.predefinedIndicatorRelationshipViewModel.PredefinedIndicatorChildrenName</b>
        </h2>
        
        <div class="divider">&nbsp;</div>

        <table id="disaggsLinkTable" class="tableNormal" role="grid">
            <tbody>
                @{
                    var count = 1;
                    foreach (var disagg in Model.Disaggregations)
                    {
                        <tr role="row" class="@(count % 2 == 0 ? "even" : "odd")" data-id="id">
                            <td>
                                @Confluence.InputCheckbox(
                                    disagg.isSelected,
                                    "predef-indic-disagg-checkbox",
                                    label: disagg.Name,
                                    disabled: disagg.isDisabled)
                            </td>
                        </tr>

                        count++;
                    }
                }
            </tbody>
        </table>

        @if (Model.predefinedIndicatorRelationshipViewModel.isContainingParent)
        {
        <div class="divider">&nbsp;</div>

        <h2 class="text-center">
            <b>@Model.predefinedIndicatorRelationshipViewModel.PredefinedIndicatorParentNumber - @Model.predefinedIndicatorRelationshipViewModel.PredefinedIndicatorParentName</b>
        </h2>

        <div class="divider">&nbsp;</div>

        <table id="disaggsLinkTable" class="tableNormal" role="grid">
            <tbody>
                @{
                    var countMain = 1;
                    foreach (var disagg in Model.predefinedIndicatorRelationshipViewModel
                        .PredefinedIndicatorParentDisaggregations)
                    {
                        <tr role="row" class="@(countMain % 2 == 0 ? "even" : "odd")" data-id="id">
                            <td>
                                @Confluence.InputCheckbox(
                                     false,
                                     "predef-indic-disagg-checkbox",
                                     label: disagg,
                                     disabled: false)
                            </td>
                        </tr>

                        countMain++;
                    }
                }
            </tbody>
        </table>
        }
    </div>

    <div data-id="modalButtonsContainer" class="predef-indic-disagg-buttons-container" style="text-align: right">
        <button class="button01" onclick="LinkIndicatorWithDisaggregations(true)">@Localization.GetText("Save")</button>
        <button class="buttonLink" onclick="vex.close()">@Localization.GetText("MrBlue.Back")</button>
    </div>
</div>
