@using IDB.Presentation.MVC4.Helpers
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>IDB</title>
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    @Styles.Render("~/Content/Confluence")
    @Styles.Render("~/Content/AdministrationSecondPhase")
    <link href="~/Content/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/select2/select2-bootstrap.css" rel="stylesheet" />
    @if (ViewBag.fixLoad == true)
    {
        <link href="~/Content/overrides/fixLoad.css" rel="stylesheet" />
    }
    <link href="~/Content/select2/selected.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("CSS", false)
</head>
<body>
    @Confluence.Loader(showPermanent: ViewBag.NeedLoader != null ? ViewBag.NeedLoader : false)

    <section class="container-fluid">
        <div id="header-section">
            @RenderSection("Header", required: false)
        </div>
    </section>
    <section class="container-fluid">
        @RenderBody()
    </section>
    @Scripts.Render("~/bundles/scripts")
    <script src="~/Scripts/Mainframe/fixIframe.js"></script>

    <script src="~/Scripts/select2/select2.min.js"></script>
    <script src="~/Scripts/select2/i18n/@(IDBContext.Current.CurrentLanguage.ToLower()).js"></script>

    <script type="text/javascript">
        idbg.config.basePath = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
        idbg.config.baseSharePointAddress = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]';
        idbg.config.language = '@Localization.CurrentLanguage';
        idbg.init();
        $(document).ready(function () {
            setTimeout(function () { resizeIframeCloud(); }, 1000);
        });
    </script>



    @RenderSection("scripts", false)
    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
    @Html.WriteScriptBlocks()

    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <script type="text/javascript">
            ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
            registerCallback(function () {
                showMessage("@ViewBag.ErrorMessage", false);
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
        </script>
    }

</body>
</html>
