@using IDB.MW.Domain.Models.Architecture.Enumerations
@using IDB.Presentation.MVC4.Areas.ResultsMatrix.Controllers

@model IDB.Presentation.MVC4.Areas.Visualization.Business.VisualizationBusinessContext


<div class="content-block">
	<ul class="content-list six">
		<li>
			<div class="title">@Localization.GetText("PMR Cycle")</div>
			<div class="content">@Model.ResultsMatrixContext.Current.PmrCycle.NameEn</div>
		</li>
		<li>
			<div class="title">@Localization.GetText("Last Update")</div>
			<div class="content">
				@if (Model.ResultsMatrixContext.Current.LastUpdateDate.Year != 1) {
					@String.Format("{0:dd MMM yyy}", Model.ResultsMatrixContext.Current.LastUpdateDate)
	}
			</div>
		</li>
		<li>
			<div class="title">@Localization.GetText("PMR Validation stage")</div>
			<div class="content">
				@if (Model.ResultsMatrixContext.Current.ValidationStage != null) {
					@(Model.ResultsMatrixContext.Current.ValidationStage.NameEn)
	}
			</div>
		</li>
		<li>
			<div class="title">@Localization.GetText("Chief of Operations validation date")</div>
			<div class="content">
				@if (Model.ResultsMatrixContext.Current.CoValidationDate.Year != 1) {
					@String.Format("{0:dd MMM yyy}", Model.ResultsMatrixContext.Current.CoValidationDate)
	}

			</div>
		</li>
		<li>
			<div class="title">@Localization.GetText("Division Chief validation date")</div>
			<div class="content">
				@if (Model.ResultsMatrixContext.Current.DcValidationDate.Year != 1) {
					@String.Format("{0:dd MMM yyy}", Model.ResultsMatrixContext.Current.DcValidationDate)
	}

			</div>
		</li>
		<li>
			<div class="title">@Localization.GetText("Country representative validation date")</div>
			<div class="content">
				@if (Model.ResultsMatrixContext.Current.CrValidationDate.Year != 1) {
					@String.Format("{0:dd MMM yyy}", Model.ResultsMatrixContext.Current.CrValidationDate)
	}

			</div>
		</li>
	</ul>
</div>

<div class="content-block">
	<ul class="content-list one">
		<li>
			<div class="title">@Localization.GetText("Operation Objective")</div>
			<div class="content">@Model.OperationContext.CurrentOperationData.Objective</div>
		</li>
	</ul>
</div>



<div class="tabs horizontal stronglinks">
	<ul class="links">
		<li><a href="@(Url.Action("IndexPhysicalProgress", "Outputs", new { area = "ResultsMatrix", operationNumber = Model.OperationContext.OperationNumber }))?operationNumber=@Model.OperationContext.OperationNumber">@Localization.GetText("Physical progress")</a></li>
		@if (!OutputsController.IsSpecialOperation(Model.OperationContext.CurrentOperation.OperationNumber))
        {
			<li><a href="@(Url.Action("IndexFinancialProgress", "Outputs", new { area = "ResultsMatrix", operationNumber = Model.OperationContext.OperationNumber }))?operationNumber=@Model.OperationContext.OperationNumber">@Localization.GetText("Financial progress")</a></li>
        }
		<li class="k-state-active"><a href="javascript:void(0)">@Localization.GetText("Mapping progress")</a></li>
	</ul>
</div>




