@using IDB.Presentation.MVC4.Areas.Visualization.Business
@using IDB.MW.Domain.Models.Architecture.Visualization
@{
    Layout = null;
    var comments = (List<VisualizationCommentModel>)ViewData["Comments"];
    var business = (VisualizationBusinessContext)ViewData["Business"];
    var entityType = (IDB.MW.Domain.Models.Architecture.Visualization.VisualEntityTypes)ViewData["EntityType"];
    var entityId = (int)ViewData["EntityId"];
    if (!business.WorkflowMode ) {
        return;
    }
}
<table class="grid comments">
    <thead>
        <tr style="background-color: transparent;">
            <th></th>
            <th>User comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in comments) {
            bool isOwner = comment.CreatedBy.ToLower()==IDBContext.Current.UserName;
            <tr>
                <td style="background-color: #fff; border: none"></td>
                <td class="onoverline comment">
                    <input type="hidden" name="UserComment.Id" value="@comment.EntityId" />
                    <input type="hidden" name="UserComment.Text" value="@comment.Text" />
                    <input type="hidden" name="UserComment.Id" value="@comment.EntityId" />
                    <div class="comment-info">
                        <span>@comment.Created.ToString("dd MMM yy") - </span><span>@comment.CreatedBy</span>
                        @if (isOwner) {
                        <div class="right onhovershow">
                            <a href="javascript:editComment(this)">Edit</a><span>&nbsp;&nbsp;</span>
                            <a href="javascript:deleteComment(this)">Delete</a>
                        </div>
                        }
                    </div>
                    <span class="user-comment-text">@comment.Text</span>
                </td>
            </tr>
            <tr class="spacer"></tr>
            
        }
        <tr>
            <td style="background-color: #fff; border: none"></td>
            <td>
                <div class="left">
                    <textarea placeholder="@Localization.GetText("Insert your comment here")"></textarea>
                </div>
                <div class="left" style="margin-left:10px">
                    <input type="button"
                           class="button save-comment"
                           data-entitytype="@entityType.ToString()"
                           data-entityid="@entityId"
                           value="@Localization.GetText("Add comment")" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
