@model IDB.Presentation.MVC4.Areas.Visualization.Models.DocumentAddViewModel
@{
    Layout = "~/Views/Shared/_ClearLayout.cshtml";
    var errorMsg = string.Empty;
    if (TempData != null && TempData.ContainsKey("IndexDocumentRelationshipError")) {

        errorMsg = ((Exception)TempData["IndexDocumentRelationshipError"])
                               .GetBaseException().Message;
    }
}

@if (!string.IsNullOrEmpty(errorMsg))
{
    <h3>
        There was an error trying to upload the document to IDBDOCS.<br>
        @errorMsg
    </h3>
    <br>
    @*<button title="@Localization.GetText("Close")" onclick="window.parent.documentAdd('@Request["documentId"]','@Request["name"]');"
            class="btn btn-secondary floatRight">
        @Localization.GetText("Close")
    </button>*@
}
else
{
    <script type="text/ecmascript">
        console.log('@Model.Name');
	   @*window.parent.documentAdd('@Request["documentId"]','@Request["name"]')*@;
        window.parent.documentAdd('@Model.DocumentId', '@Model.DocumentNumber','@Model.Name', false)
       
    </script>
}


