@using IDB.Presentation.MVC4.Helpers;
@using IDB.Architecture.Extensions;

@{
	Layout = "~/Views/Shared/_ClearLayout.cshtml";
	var medias = (List<IDB.MW.Domain.Models.Architecture.Visualization.MediaModel>)ViewBag.Medias;
}
@section javascript {

	<script type="text/javascript" src="~/scripts/jqplugins/kendo.web.js"></script>
}
@section scripts{
	<script type="text/javascript">
		var selectedMedias;
		$(document).ready(function () {
			$('.kendo-calendar').kendoDatePicker({
				parseFormats: ['yyyy-MM-dd'],
				format: 'yyyy-MM-dd'
			});
			
			$('.media-list > li').click(function () {
				var element = $(this);
				element.toggleClass('selected');
				selectedMedias = new Array();
				$('.media-list > li').each(function (i, e) {
					var selected = $(e);
					if (selected.hasClass('selected')) {
						selected = selected.children('.image-loader');
						var element = {};
						element.name = selected.data('name');
						element.url = selected.data('original-url');
						element.type = selected.data('mediatype-name');
						element.mediaTypeId = selected.data('mediatype-id');
						element.mediaId = selected.data('media-id');
						selectedMedias.push(element);
					}
				});
				if (selectedMedias.length != 0) {
					$('#addMedia').removeClass('disabled');
				} else {
					$('#addMedia').addClass('disabled');
				}
			});

		});
		function relateMedias() {
			window.parent.addMediaRow(selectedMedias);
		}
	</script>
}
@section css{
	<link rel="stylesheet" type="text/css" href="~/content/datepicker.css" />
	<style type="text/css">
		body { overflow: hidden; }
	</style>
}
<div style="margin-top:-15px">
	<div class="tabs horizontal">
		<ul class="links">
			<li><a href="@Url.Action("MediaAdd")">@Localization.GetText("Add")</a></li>
			<li class="k-state-active"><a href="javascript:void(0)">@Localization.GetText("Search")</a> </li>
		</ul>
	</div>
</div>
<div>
	<div style="float: left; width: 550px; height: 400px; overflow: auto">
		<ul class="media-list">
			@foreach (var media in medias) {
				<li>
					<div class="title">
						@media.Created.ToStringSafe("yyyy MM dd")
					</div>
					<div class="info" style="height:14px; display:block">
						@media.Year
					</div>
					<div class="image-loader"
					data-original-url="@media.MediaUrl"
					data-name="@media.Name"
					data-mediatype-id="@media.MediaTypeId"
					data-mediatype-name="@MasterDefinitions.GetMasterName(media.MediaTypeId,false)"
					data-url="@ImageHelper.SharepointThumbnail(media.MediaUrl)" 
					data-media-id="@media.MediaId"
					style="width:100px; height:75px;">
					</div>
					<div class="info">
						@media.Name
					</div>
				</li>
   }
		</ul>
	</div>
	<div style="float: left; width: 210px; height: 400px; background-color: #f6f6f6; padding: 15px; box-sizing: border-box">
		<div class="idb-popup-filters edit-form">
			<form>
				<h3>@Localization.GetText("Filters")</h3>
				<div>
					<input type="text" name="name" placeholder="@Localization.GetText("Image Name")" value="@ViewBag.name">
				</div>
				<div>
					<label>@Localization.GetText("Date from")</label>
					<div style="width: 120px; position: relative">
						<input type="text"  
					class="kendo-calendar" 
					name="dateFrom" 
					id="dateFrom"
					placeholder="YYYY-MM-DD" 
					value="@(((DateTime?)ViewBag.from).ToStringSafe("yyyy-MM-dd"))" />
					</div>
				</div>

				<div>
					<label>@Localization.GetText("To")</label>
					<div style="width: 120px; position: relative">
						<input type="text" 
					class="kendo-calendar" 
					name="dateTo" 
					id="dateTo" 
					placeholder="DD MMM YY" 
					value="@(((DateTime?)ViewBag.from).ToStringSafe("dd MM yyy"))" />
					</div>
				</div>
				<div class="content-block">
					<input type="submit" 
			class="button small" 
			value="@Localization.GetText("Filter")" />
				</div>
			</form>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div style="border-top: 1px #ccc solid; padding: 10px 20px; box-sizing: border-box; width: 100%; float: left">
	<div class="right">
		<input type="button" 
			class="button white click-action" 
			value="@Localization.GetText("Cancel")" 
			data-route="javascript:idbCloseKendoWindow(true)" />
		<input type="button" 
			class="button disabled click-action" 
			value="@Localization.GetText("Add")"
			data-route="javascript:relateMedias(true)"
			id="addMedia" />
	</div>
</div>
