@{
    ViewBag.Title = "Clausetemplate";
}

@*<script type="text/javascript" src="@Url.Content("~/Scripts/kendo/2013.2.918/kendo.web.min.js")"></script>*@
<script type="text/javascript" src="@Url.Content("~/Scripts/thumbnail/thumbnail.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        dropDownSelect();
    });
</script>

<div class="contenedor_general layoutDosColsIzda clauses_add_doc">		
    <div class="k-widget k-window" style="padding-top: 64px; min-width: 90px; min-height: 50px; width: 800px; position: fixed; top: 0px; left: 560px; display: block; opacity: 1; transform: scale(1);"><div class="k-window-titlebar k-header" style="margin-top: -64px;">&nbsp;<span class="k-window-title" style="right: 60px;" id="window1_wnd_title">Add a document</span><div class="k-window-actions"><a class="k-window-action k-link" href="#" role="button"><span class="k-icon k-i-close" role="presentation">Close</span></a></div></div><div class="window k-window-content k-content windowOpen" id="window1" data-role="window" tabindex="0" role="dialog" aria-labelledby="window1_wnd_title" style="overflow: visible;">
            <form>
                <p class="hide headerWindow">Navegation document</p>
                <div class="tabstrip k-widget k-header k-tabstrip" data-role="tabstrip" tabindex="0">
                    <ul class="k-tabstrip-items k-reset">
                        <li class="k-state-active k-item k-tab-on-top k-state-default k-first">
                            <a title="@Localization.GetText("add")" href="#" class="k-link">@Localization.GetText("Add")</a>
                        </li>
                        <li class="k-item k-state-default k-last">
                            <a title="@Localization.GetText("Search")" href="#" class="k-link">@Localization.GetText("Search")</a>
                        </li>
                    </ul>

                    <div class="tab1 k-content k-state-active" style="display: block;" id="undefined-1" role="tabpanel" aria-expanded="true">                        
                        <div class="contenido mod_operationTeamMember addDocument">                        
                            <div class="docPreview">
                                <ul>
                                    <li>
                                        <div class="thumbnail">       
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumbnail">
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumbnail">
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="thumbnail">
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumbnail">
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumbnail">
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="docFiles">                            
                                <div class="docNameProperties">
                                    <p class="docName">Document name</p>
                                    <p class="idbNumber">IDB Doc Number</p>
                                    <p class="date">DD MMM YY</p>
                                </div>
                                <div class="docFormProperties optionData custom">

                                    <label for="docTitle" class="editLabel input">
                                        <span class="dataTitle inputTitle">Document ID:</span>
                                        <input id="docTitle" class="input normal" type="text" title="Document ID" placeholder=""/>
                                    </label>
                                    <label for="docContent" class="editLabel input">
                                        <span class="dataTitle inputTitle">Document Content:</span>
                                        <textarea rows="3" cols="55" id="docContent" class="input normal" title="Document Content"></textarea>
                                    </label>
                                    <label for="autorName" class="editLabel input">
                                        <span class="dataTitle inputTitle">IDB Author Name:</span>
                                        <input id="autorName" class="input normal" type="text" title="IDB Author Name" placeholder=""/>
                                    </label>
                                    <label for="operationNumber" class="editLabel input">
                                        <span class="dataTitle inputTitle">Operation Number:</span>
                                        <input id="operationNumber" class="input normal" type="text" title="Operation Number" placeholder=""/>
                                    </label>
                                    <label for="contactNumber" class="editLabel input">
                                        <span class="dataTitle inputTitle">Contact Number:</span>
                                        <input id="contactNumber" class="input normal" type="text" title="Contact Number" placeholder=""/>
                                    </label>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display:none;" class="tab2 k-content" id="undefined-2" role="tabpanel" aria-hidden="true" aria-expanded="false">
                        <div class="navegationBar">
                            <div class="filter">
                                <div class="cajaGeneralFilter2">
                                    <div class="contenidoCurrentSearchFilter2">
                                        <div class="editCurrentFilter2">
                                            <a href="javascript:void(0)" title="@Localization.GetText("Clear All")">@Localization.GetText("Clear All")</a>
                                        </div>
                                        <div class="tagsCurrent">
                                            <ul>
                                                <li><a class="ico_close_azul" href="javascript:void(0)" title="Key words">Document name</a></li>
                                                <li><a class="ico_close_azul" href="javascript:void(0)" title="Departament">Document ID</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contenido mod_operationTeamMember addDocument">                        
                            <div class="docPreview">
                                <ul>
                                    <li>
                                        <div class="thumbnail">       
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumbnail">
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumbnail">
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="thumbnail">
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumbnail">
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumbnail">
                                            <span class="ico_check_green">Check Green</span>
                                            <p class="date">DD MMM YY</p>
                                            <p class="idbNumber">IDBDocs number: 256987452</p>
                                            <p class="docName">Document Name</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="docFiles">                            
                                <div class="docNameProperties">
                                    <p class="docName">Document name</p>
                                    <p class="idbNumber">IDB Doc Number</p>
                                    <p class="date">DD MMM YY</p>
                                </div>
                                <div class="docProperties">
                                    <p class="docTitle docID">Document ID</p>
                                    <p class="docText">54218546</p>
                                    <p class="docTitle">Document Content</p>
                                    <p class="docText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                    <p class="docTitle">IDB Author Name</p>
                                    <p class="docText">54218546</p>
                                    <p class="docTitle">Operation Number</p>
                                    <p class="docText">54218546</p>
                                    <p class="docTitle">Contact Number</p>
                                    <p class="docText">54218546</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pie">
                    <div class="documentSelected">
                        <p class="typo">20 documents <span class="ffamilyBold">(2 selected)</span></p>

                    </div>
                    <div class="botones">
                        <a class="link right" title="@Localization.GetText("Cancel")" href="#">@Localization.GetText("Cancel")</a>
                        <label for="add_addDoc">
                            <input type="button" value="Add" class="btn-primary" id="add_addDoc">
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="ui-widget-overlay ui-front"></div>
</div>