@using System.Globalization
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.SGPModule.ViewModels
@using IDB.MW.Application.SGPModule.Constants;

@model ProcurementPlanViewModel

@{
    var tabActive = Model.ViewContainer["ActiveTab"];
    var tabProcLevel = ProcurementPlanNavigation.TAB_NAME_PROCUREMENT_LEVEL;
    var tabOperationLevel = ProcurementPlanNavigation.TAB_NAME_OPERATION_LEVEL;
    var tabParametrization = ProcurementPlanNavigation.TAB_NAME_PROCUREMENT_PARAMETRIZATION;
}

<div data-id="headerButtons" class="float-right">
@if (tabActive.ToString() == tabOperationLevel)
{
    <div data-type="contentButtons" data-id="tabOperationLevel">
        @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-Plan")
        @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-Plan")
    </div>
}

@if (tabActive.ToString() == tabProcLevel)
{
    <div data-type="contentButtons" data-id="tabProcLevel">
        @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-Plan")
        @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-Plan")
    </div>
}

else if (tabActive.ToString() == tabParametrization)
{
    <div data-type="contentButtons" data-id="tabParametrization">
        @Confluence.ButtonLink(Localization.GetText("Common.Cancel"), name: "cancel-Parameterization")
        @Confluence.ButtonOrange(Localization.GetText("Common.Save"), name: "save-Parameterization")
    </div>
}
</div>