@model IDB.Presentation.MVC4.Areas.ActivityProgram.Models.DataUserModel

<tr data-id="0" data-new-row="true">
    <td class="WbsNnumber"> </td>
    <td class="ActivityNumber"> </td>
    <td align="left" class="ActivityDescription">
        <div class="text-break-points">
            @Confluence.InputText(null, "InputDescription", maxLength: 40, width: "100%")
        </div>
    </td>
    @*<td class="Cost" align="right"> @Confluence.InputMoney(null, "InputMoney", width: "100%", htmlClass: "validation-fail", minValue:"0.01") </td>*@
    <td class="OrganizationalUnit" align="center"> @Confluence.Label(Model.UnitOrganizational) </td>
    <td class="Created">  </td>
    <td class="Modified">  </td>
    <td class="CreatedBy" align="right"> @Confluence.Label(Model.UserFullName) </td>
    <td align="center"> @Confluence.ButtonTrash(null, "removeActivity", onclick: "RemoveRow(this)", required: false) </td>
</tr>