@model IDB.MW.Application.ActivityProgram.Messages.SapInfoResponse

<div class="informationModal">
    @foreach (var item in Model.InfoSap)
    {
        if (item.SapStatus == "E")
        {
            @(item.Activity + " " + item.ActivityNumber + " - " + item.SapInformation + " " + item.ErrorDescription) <br /> <br />
        }
    }
</div>
<script type="text/javascript">
    listSap = [];
    @if (Model.InfoSap != null && Model.InfoSap.Any())
    {
        foreach (var item in Model.InfoSap)
        {
            <text>
           listSap.push({
                ActivityId: '@item.ActivityId',
                WbsNnumber: '@item.WbsNnumber',
                SapActivity: '@item.Activity',
                ActivityNumber: '@item.ActivityNumber',
                SapInformation: '@item.SapInformation',
                ErrorDescription: '@item.ErrorDescription',
                SapStatus: '@item.SapStatus',
                FlagMode: '@item.FlagMode'
            });
            </text>
        }
    }
</script>