
@model List<IDB.MW.Domain.Models.Supervision.SupervisionPlan.CostModel>

@{
    var columnTotals = ((Dictionary<int, string>) ViewBag.LocalizedBudgetMatrixCols).ToDictionary(t => t.Key, t => 0M);
}

<script>
    $(document).ready(function () {
       
        if ($("#hdnIsApprovedPlan").val() == "True")
        {
            $("#budgetInformationContainer").show();
        }

    });
</script>

<div id="BudgetPanel" class="verticalMargin40 font08em">

    <table id="tableUISP003" class="tableNormal">
        <thead>
            <tr>
                <th>
                    <span class="block"> @Localization.GetText("SP.Summary.BudgetTable.Source")</span>
                    <span class="block"> @Localization.GetText("SP.Summary.BudgetTable.Category")</span>
                </th>
                @foreach (var t in (Dictionary<int, string>)ViewBag.LocalizedBudgetMatrixCols)
                {
                    <th>@t.Value</th>
                }
                <th> @Localization.GetText("SP.Summary.BudgetTable.Total")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in (Dictionary<int, string>)ViewBag.LocalizedBudgetMatrixRows)
            {
                var total = 0M;
            <tr data-id>
                <td>@r.Value</td>
                @foreach (var t in (Dictionary<int, string>)ViewBag.LocalizedBudgetMatrixCols)
                {
                    var value = Model.Where(m => m.BudgetCategoryId == r.Key && m.FundingSourceId == t.Key).Select(m => m.Budget).FirstOrDefault();
                    total += value;
                    columnTotals[t.Key] += @value;
                    <td class="text-right" data-category-id="@r.Key" data-fundingsource-id="@t.Key">@value.ToString("N")</td>
                }
                <td class="text-right">@total.ToString("F2")</td>
            </tr>
            }
            <tr class="total blackColor">
                <td>@Localization.GetText("SP.Summary.BudgetTable.TotalFunding")</td>
                @foreach (var t in (Dictionary<int, string>)ViewBag.LocalizedBudgetMatrixCols)
                {
                    <td class="text-right">@columnTotals[t.Key].ToString("N")</td>
                }
                <td class="text-right">@columnTotals.Sum(t => t.Value).ToString("N")</td>
            </tr>
        </tbody>
    </table>
</div>