@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General
<div id="headerButtons">
    <div data-pagemode="edit">       
        @Confluence.ButtonLink(
            text: Localization.GetText("Cancel"),
                                       action: "cancelCreateworkflow", name: "cancelCreateworkflow", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelCreateworkflow" } })
        <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                data-idb-fieldname="btnSaveSubmit"
                data-modal-allowclose="true"
                data-custom-modal="saveAndSendValidateModal"
                data-custom-modal-style="vex-theme"
                data-custom-modal-title="@Localization.GetText("GLOBAL.K2.BUTTON.SaveSubmit")"
                data-custom-modal-validate="false"
                data-custom-buttons='["save", "cancel"]'
                data-custom-button-save-id="send"
                data-custom-button-save="@Localization.GetText("tc.confirm")"
                data-custom-button-save-style="buttonBlue"
                data-custom-button-save-callback="saveAndSubmit"
                data-custom-button-save-closeatend="true"
                data-custom-button-cancel-id="cancel"
                data-custom-button-cancel="@Localization.GetText("TC.Cancel")"
                data-custom-button-cancel-style="buttonLink"
                data-custom-button-cancel-callback=""
                data-custom-modal-onclose=""
                data-custom-modal-closeonoverlayclick="false">
            @Localization.GetText("GLOBAL.K2.BUTTON.SaveSubmit")
        </button>
        @Confluence.ButtonWhite(text: Localization.GetText("TC.Save"), action: "saveOnly", name: "saveOnly", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveOnly01" } })
       
    </div>
</div>

<div data-id="ModalRegion">
    <div id="saveAndSendValidateModal" class="hide modalBody createModal">
        @Localization.GetText("GLOBAL.K2.MODAL.SaveSubmitCreateWorkflow")
    </div>    
</div>
