@using IDB.Architecture.Language
@using IDB.MW.Application.OpusMissionsModule.Enums;

@model IDB.MW.Application.MissionsModule.ViewModels.Workflows.MissionsWorkflowViewModels

<div id="headerButtons">
    @if (Model.HasWorkflowActive)
    {
        if (Model.missionStatusCode == MissionStatusCode.MISSION_STATUS_PENDING_APP
            || (Model.missionStatusCode == MissionStatusCode.MISSION_STATUS_PEND_APPR_MODIFICATION
                && Model.IsGroupCodeVps))
        {
            @GetButtonsTask();
        }
        else
        {
            @GetButtonsDefault();
        }
    }
    else
    {
        if (Model.missionStatusCode == MissionStatusCode.MISSION_STATUS_DRAFT 
            || Model.IsGroupCodeVps)
        {
            @GetButtonSendRequest();
        }
        else
        {
            @GetButtonsDefault();
        }
    }

    <div data-id="ModalRegion">
        <div id="sendRequestModal" class="hide modalBody missionsModal">
            @Localization.GetText("OP.MS.MissionsWorkFlow.SendRequestModal")
        </div>
        <div id="sendSaveRequestModal" class="hide modalBody missionsModal">
            @Localization.GetText("OP.MS.MissionsWorkFlow.SaveRequestModal")
        </div>
        <div id="SaveandValidate" class="hide modalBody missionsModal">
            @Localization.GetText("GLOBAL.K2.MODAL.SaveSubmitTask")
        </div>
        <div id="SaveandReject" class="hide modalBody missionsModal">
            @Localization.GetText("GLOBAL.K2.MODAL.SaveRejectTask")
        </div>
    </div>
</div>

@helper GetButtonsTask()
{
    <div data-pagemode="edit">
       @Confluence.ButtonLink(
           text: Localization.GetText("OP.MS.Cancel"), 
           action: "cancelMissionsTask", 
           dataAttributes: 
               new Dictionary<string, string> { { "idb-fieldname", "btnCancelMissionsTask" } })

        <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                data-modal-allowclose="true"
                data-custom-modal="SaveandValidate"
                data-custom-modal-style="vex-theme"
                data-custom-modal-title="@Localization.GetText("OP.MS.MissionsWorkflow.SaveValidate")"
                data-custom-modal-validate="false"
                data-custom-buttons='["save", "cancel"]'
                data-custom-button-save-id="send"
                data-custom-button-save="@Localization.GetText("OP.MS.MissionsWorkflow.Save")"
                data-custom-button-save-style="buttonBlue"
                data-custom-button-save-callback="saveValidateMissionsTask"
                data-custom-button-save-closeatend="true"
                data-custom-button-cancel-id="cancel"
                data-custom-button-cancel="@Localization.GetText("OP.MS.MissionsWorkflow.Cancel")"
                data-custom-button-cancel-style="buttonLink"
                data-custom-button-cancel-callback=""
                data-custom-modal-onclose=""
                data-custom-modal-closeonoverlayclick="false">
            @Localization.GetText("OP.MS.MissionsWorkflow.SaveValidate")
        </button>

        <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                data-modal-allowclose="true"
                data-custom-modal="SaveandReject"
                data-custom-modal-style="vex-theme"
                data-custom-modal-title="@Localization.GetText("OP.MS.MissionsWorkflow.SaveReject")"
                data-custom-modal-validate="false"
                data-custom-buttons='["save", "cancel"]'
                data-custom-button-save-id="send"
                data-custom-button-save="@Localization.GetText("OP.MS.SendandValidate.Bconfirm")"
                data-custom-button-save-style="buttonBlue"
                data-custom-button-save-callback="saveRejectMissionsTask"
                data-custom-button-save-closeatend="true"
                data-custom-button-cancel-id="cancel"
                data-custom-button-cancel="@Localization.GetText("OP.MS.MissionsWorkflow.Cancel")"
                data-custom-button-cancel-style="buttonLink"
                data-custom-button-cancel-callback=""
                data-custom-modal-onclose=""
                data-custom-modal-closeonoverlayclick="false">
            @Localization.GetText("OP.MS.MissionsWorkflow.SaveReject")
        </button>
       @Confluence.ButtonWhite(
           text: Localization.GetText("OP.MS.Save"), 
           action: "saveOnly", 
           dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveOnly" } })
    </div>
}

@helper GetButtonSendRequest()
{
    <div data-pagemode="read">
        @Confluence.ButtonLink(
           text: Localization.GetText("OP.MS.Cancel"), 
           action: "cancelCreateworkflow", 
           dataAttributes: 
               new Dictionary<string, string> { { "idb-fieldname", "btnCancelCreateworkflow" } })

        <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                data-modal-allowclose="true"
                data-custom-modal="sendRequestModal"
                data-custom-modal-style="vex-theme"
                data-custom-modal-title="@Localization.GetText("OP.MS.MissionsWorkflow.SendRequest")"
                data-custom-modal-validate="false"
                data-custom-buttons='["save", "cancel"]'
                data-custom-button-save-id="send"
                data-custom-button-save="@Localization.GetText("OP.MS.MissionsWorkflow.SendRequest")"
                data-custom-button-save-style="buttonBlue"
                data-custom-button-save-callback="saveAndStartWorkflow"
                data-custom-button-save-closeatend="true"
                data-custom-button-cancel-id="cancel"
                data-custom-button-cancel="@Localization.GetText("OP.MS.MissionsWorkflow.Cancel")"
                data-custom-button-cancel-style="buttonLink"
                data-custom-button-cancel-callback=""
                data-custom-modal-onclose=""
                data-custom-modal-closeonoverlayclick="false">
            @Localization.GetText("OP.MS.MissionsWorkflow.SendRequest")
        </button>

        @Confluence.ButtonWhite(
           text: Localization.GetText("OP.MS.MissionsWorkflow.Edit"), 
           action: "editRequestMissions", 
           dataAttributes: 
               new Dictionary<string, string> { { "idb-fieldname", "btnEditRequestMissions01" } })
    </div>
        <div data-pagemode="edit">
            @Confluence.ButtonLink(
               text: Localization.GetText("OP.MS.Cancel"), 
               action: "cancelRequestMissions", 
               dataAttributes: 
                   new Dictionary<string, string> { { "idb-fieldname", "btnCancelRequestMissions01" } })

            <button data-id="butttonNewRelatedOperationModal" class="buttonBlue"
                    data-modal-allowclose="true"
                    data-custom-modal="sendSaveRequestModal"
                    data-custom-modal-style="vex-theme"
                    data-custom-modal-title="@Localization.GetText("OP.MS.MissionsWorkflow.SaveRequest")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["save", "cancel"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("OP.MS.MissionsWorkflow.SaveAndRequest")"
                    data-custom-button-save-style="buttonBlue"
                    data-custom-button-save-callback="saveAndStartWorkflow"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("OP.MS.MissionsWorkflow.Cancel")"
                    data-custom-button-cancel-style="buttonLink"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="false">
                @Localization.GetText("OP.MS.MissionsWorkflow.SaveRequest")
            </button>
        </div>
}

@helper GetButtonsDefault()
{
    <div data-pagemode="read">
        @Confluence.ButtonWhite(
               text: Localization.GetText("OP.MS.MissionsWorkflow.Edit"),
               action: "editRequestMissions",
               dataAttributes:
                   new Dictionary<string, string> { { "idb-fieldname", "btnEditRequestMissions02" } })
    </div>
    <div data-pagemode="edit">
        @Confluence.ButtonLink(
               text: Localization.GetText("OP.MS.MissionsWorkflow.Cancel"),
               action: "cancelRequestMissions",
               dataAttributes:
                   new Dictionary<string, string> { { "idb-fieldname", "btnCancelRequestMissions02" } })

        @Confluence.ButtonWhite(
               text: Localization.GetText("OP.MS.Save"),
               action: "saveOnly",
               dataAttributes:
                   new Dictionary<string, string> { { "idb-fieldname", "btnSaveOnly" } })
    </div>
}
