@using IDB.Presentation.MVC4.Models.Documents
@using IDB.MW.Business.DocumentManagement.Enums

<link rel="stylesheet" href="@Url.Content("~/Scripts/angular/angular-csp.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/Modules/MrBlue/disclosure.css")" />

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/angular/1.6/angular.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/MrBlue/DisclosureDocument/main.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/MrBlue/DisclosureDocument/app.js")"></script>

@{
    var rootPath = Url.Action("Index", "DisclosureDocument",
        new { area = "MrBlue", OperationNumber = IDBContext.Current.Operation });
    var loadDisclosuresPath = Url.Action("Load", "DisclosureDocument", new { area = "MrBlue" });
    var savePath = Url.Action("Save", "DisclosureDocument", new { area = "MrBlue" });
    var saveAndSendPath = Url.Action("SaveAndSend", "DisclosureDocument", new { area = "MrBlue" });
    var closeMilestonePath = Url.Action("CloseMilestone", "DisclosureDocument", new { area = "MrBlue" });
    var canCloseMilestonePath = Url.Action("CanCloseMilestone", "DisclosureDocument", new { area = "MrBlue" });
    var checkAndUpdatePublicationDate = Url.Action("CheckAndUpdatePublicationDate", "DisclosureDocument", new { area = "MrBlue" });
}

<div ng-app="disclosure" ng-controller="ESGCtrl" id="disclosureContainer" class="pb120"
     ng-init="LoadDisclosures('@loadDisclosuresPath'); rootPath='@rootPath'; savePath='@savePath';
        saveAndSendPath='@saveAndSendPath'; closeMilestonePath='@closeMilestonePath'; 
     canCloseMilestonePath='@canCloseMilestonePath'; checkAndUpdatePublicationDate='@checkAndUpdatePublicationDate'">
    <div class="row mb16 floatLeft">
        <a href='@rootPath'>
            <h4 class='titleGroup'>
                @Localization.GetText("ESG.DD.Text.DisclosureESGDocument")
            </h4>
        </a>
    </div>

    <div class="float-right" ng-repeat="ESGDisclosureDocument in ESGDisclosureDocuments | filter: { IsActive: true }">
        @Html.Partial("Partials/_EditButtonsPartial", rootPath)
    </div>

    <div ng-repeat="ESGDisclosureDocument in ESGDisclosureDocuments" class="ng-cloak">

        <div class="row" style="margin-bottom:1%;">
            <div class="col-md-12">
                <div class="float-left">
                    <h4 class="subtitleGroup">{{ ESGDisclosureDocument.MilestoneName }}</h4>
                </div>
            </div>
        </div>

        <div ng-if="!ESGDisclosureDocument.IsActive">
            @Html.Partial("Partials/_DetailTable", new ViewDataDictionary { { "IsEdit", true } })
        </div>

        <table id="disclosureDocumentTable" class="tableNormal" ng-if="ESGDisclosureDocument.IsActive">
            <thead class="first">
                <tr>
                    <th colspan="8">@Localization.GetText("ESG.Primary.Team.Member")</th>
                    <th colspan="1" class="w5"></th>
                    <th colspan="2" class="perw5">@Localization.GetText("OP.DE.Table.TeamLEader")</th>
                    <th colspan="1" class="">@Localization.GetText("SP.OperationBudget.ESG")</th>
                </tr>
            </thead>
            <thead class="last">
                <tr>
                    <th class="sort">@Localization.GetText("OP.DTG.TemplateGen.DocumentType")</th>
                    <th class="sort">@Localization.GetText("GLOBAL.Text.UploadDate")</th>
                    <th class="sort perw5">@Localization.GetText("VMR.MM.MeetingRoom.TabComments.UserName")</th>
                    <th class="sort">@Localization.GetText("OP.OD.TabResponsibilityData.OperationTeam.UserId")</th>
                    <th class="sort">@Localization.GetText("ezShare")</th>
                    <th class="sort">@Localization.GetText("OP.AP.DocumentName")</th>
                    <th class="sort w190">@Localization.GetText("COMMON.Action")</th>
                    <th class="sort perw5">@Localization.GetText("ESG.DD.Text.ReadyToDisclosure")</th>
                    <th class="w5"></th>
                    <th class="sort perw5">@Localization.GetText("ESG.DD.Text.SentToDisclosure")</th>
                    <th class="sort perw5">@Localization.GetText("cm-lc-publish-date")</th>
                    <th class="">@Localization.GetText("COMMON.Comments")</th>
                </tr>
            </thead>
            <tbody ng-hide="DocumentESGDisclosure.IsDelete" ng-repeat="DocumentESGDisclosure in ESGDisclosureDocument.DocumentESGDisclosure">
                <tr class="text-center" data-id="{{ $index }}">
                    <td>
                        <div class="dropdown" ng-class="{placeholder: DocumentESGDisclosure.DisclosureActivityName == ''}" style="width: 100%;">
                            <button class="btn btn-default dropdown-toggle  ng-pristine ng-valid ng-touched" type="button"
                                    id="id-DisclosureActivity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                    onclick="cargaDropDown(this)" onkeydown="dropdownNavigation(this, event)" dd-find=""
                                    style="width: 100%;" data-ng_model="DocumentESGDisclosure.DisclosureActivityId" required
                                    ng-disabled="(DocumentESGDisclosure.DocumentId === null || !ESGDisclosureDocument.IsActive || 
                                        DocumentESGDisclosure.IsReadyNotificated || !ESGDisclosureDocument.HasESGRoleToWrite || (DocumentESGDisclosure.DisclosureDate !== '') ) && (!DocumentESGDisclosure.IsNew)">
                                <span class="valueText">
                                    {{ DocumentESGDisclosure.DisclosureActivityName !== '' ? DocumentESGDisclosure.DisclosureActivityName : '@Localization.GetText("TCM.SelectOptionParenthesis")' }}
                                </span>
                                <span class="caret"></span>
                            </button>
                            <input type="text" class="hide ng-pristine ng-untouched ng-valid" name="DisclosureActivity"
                                   data-ng_model="DocumentESGDisclosure.DisclosureActivityId" data-force-parsley-validation="true">
                            <div ng-show="DocumentESGDisclosure.IsRequired">
                                <ul class="parsley-errors-list filled">
                                    <li><span>@Localization.GetText("please select a value")</span></li>
                                </ul>
                            </div>
                            <ul class="dropdown-menu minw160" aria-labelledby="id-DisclosureActivity">
                                <li>
                                    <a dd-value="" dd-selected="">@Localization.GetText("TCM.SelectOptionParenthesis")</a>
                                </li>
                                <li ng-repeat="item in ESGDisclosureDocument.DisclosureActivityItems">
                                    <a dd-value="{{ item.MasterId }}" dd-parent-id="">{{ item.NameEn }}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>{{ DocumentESGDisclosure.UploadDate }}</td>
                    <td>{{ DocumentESGDisclosure.UserName }}</td>
                    <td>{{ DocumentESGDisclosure.UserId }}</td>
                    <td><a href="{{ DocumentESGDisclosure.URLDocument }}" target="_blank">{{ DocumentESGDisclosure.EzShare }}</a></td>
                    <td>{{ DocumentESGDisclosure.DocumentName }}</td>
                    <td>
                        <button type="button" class="buttonBlue"
                                ng-click="SetIndexDocument($parent.$index, $index)"
                                ng-disabled="!DocumentESGDisclosure.IsNew || DocumentESGDisclosure.DocumentId !== null || !ESGDisclosureDocument.IsActive || !ESGDisclosureDocument.HasESGRoleToWrite"
                                name="documentsAdd" data-id="DisclosureDocuments-add"
                                data-modal-allowclose="true" data-custom-modal="DisclosureDocuments-modal-add"
                                data-custom-modal-validate="false"
                                data-custom-modal-title="@Localization.GetText("OP.AP.Documents.Search")"
                                data-idb-fieldname="btnDocumentsAdd">
                            @Localization.GetText("Upload")
                        </button>

                        <button class="buttonTrash" name="removeDisclosure" ng-click="RemoveDocument($parent.$index, $index)"
                                ng-disabled="(!ESGDisclosureDocument.IsActive || DocumentESGDisclosure.IsReadyNotificated || !ESGDisclosureDocument.HasESGRoleToWrite || (DocumentESGDisclosure.DisclosureDate!=='') )&&(!DocumentESGDisclosure.IsNew)">
                            <span class="icon"></span>
                            <span></span>
                        </button>
                    </td>
                    <td>
                        <label class="checkbox-default">
                            <input type="checkbox"
                                   ng-model="DocumentESGDisclosure.IsReadyToDisclosure"
                                   ng-checked="DocumentESGDisclosure.IsReadyToDisclosure || DocumentESGDisclosure.IsReadyNotificated"
                                   ng-disabled="!ESGDisclosureDocument.HasESGRoleToWrite || (DocumentESGDisclosure.DisclosureDate!=='') ||
                                       DocumentESGDisclosure.IsReadyNotificated || !ESGDisclosureDocument.IsActive">
                            <span class="checkbox-default-icon"></span>
                        </label>
                    </td>
                    <td></td>
                    <td>
                        <label class="checkbox-default">
                            <input type="checkbox"
                                   ng-model="DocumentESGDisclosure.IsSendToDisclosure"
                                   ng-checked="DocumentESGDisclosure.IsSendToDisclosure || DocumentESGDisclosure.IsSendNotificated"
                                   ng-disabled="!DocumentESGDisclosure.IsReadyToDisclosure || !ESGDisclosureDocument.HasTeamLeaderRole || (DocumentESGDisclosure.DisclosureDate!=='') ||
                                       DocumentESGDisclosure.IsSendNotificated || !ESGDisclosureDocument.IsActive">
                            <span class="checkbox-default-icon"></span>
                        </label>
                    </td>
                    <td>{{ DocumentESGDisclosure.DisclosureDate }}</td>
                    <td>
                        <button ng-class="DocumentESGDisclosure.Comments.length ? 'commentIcon' : 'noCommentIcon'" type="button"
                                onclick="CollapseRowTable(this)"></button>
                    </td>
                </tr>
                <tr data-row-parent-id="{{ $index }}">
                    <td colspan="12">
                        <div class="inputComment linedown pt20" ng-repeat="Comment in DocumentESGDisclosure.Comments" ng-show="!Comment.IsDelete">
                            <div class="labels">
                                <label>
                                    <div class="LabelsGroup">
                                        <span class="lgCont">
                                            <label class="labelNormal">{{ Comment.CreatedBy }}</label>
                                        </span>
                                    </div>
                                </label>
                                <label>
                                    <div class="LabelsGroup">
                                        <span class="lgCont">
                                            <label class="labelNormal">{{ Comment.Created | date:'dd MMM yyyy' }}</label>
                                        </span>
                                    </div>
                                </label>
                                <label>
                                    <span class="lgCont">
                                        <button class="buttonTrash" type="button"
                                                ng-disabled="!Comment.CanEditOrDelete || !ESGDisclosureDocument.CanWriteComments"
                                                ng-click="DeleteComment($event, DocumentESGDisclosure, Comment.CommentId, $index)">
                                            <span class="icon"></span>
                                            <span>@Localization.GetText("Common.Delete")</span>
                                        </button>
                                    </span>
                                </label>
                            </div>
                            <textarea ng-readonly="!Comment.CanEditOrDelete || !ESGDisclosureDocument.CanWriteComments"
                                      ng-model="Comment.Comment" class="inputTextarea">{{ Comment.Comment }}</textarea>
                        </div>
                        <div class="text-center pt20" ng-show="ESGDisclosureDocument.IsActive && ESGDisclosureDocument.CanWriteComments">
                            <button class="addNewRow" ng-click="NewComment($parent.$index, $index)">
                                <span>+</span>
                                <span>@Localization.GetText("VMR.MM.MeetingRoom.TabComments.AddNewComment")</span>
                                <span>+</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />

        <div class="text-center pt10">
            <button class="addNewRow" ng-click="NewRow($index)"
                    ng-hide="!ESGDisclosureDocument.IsActive || !ESGDisclosureDocument.HasESGRoleToWrite ">
                <span>+</span>
                <span>@Localization.GetText("GLOBAL.Text.AddNewDocument")</span>
                <span>+</span>
            </button>
        </div>

        <div class="row mb16 pt20" ng-hide="!ESGDisclosureDocument.IsActive">
            <div class="col-md-12">
                <div class="float-right">
                    <button class="buttonBlue" name="closeMilestone"
                            ng-click="CloseMilestone($index)"
                            ng-disabled="!ESGDisclosureDocument.HasESGRoleToWrite"
                            ng-hide="!ESGDisclosureDocument.HasESGRoleToWrite || ESGDisclosureDocument.IsExecutionPhase">
                        @Localization.GetText("TC.Close") {{ ESGDisclosureDocument.MilestoneName }}
                    </button>

                    @Html.Partial("Partials/_EditButtonsPartial", rootPath)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 text-right">
    <div id="DisclosureDocuments-modal-add" class="hide"
         data-route="@Url.Action("GetDataDocument", "DisclosureDocument", new { area = "MrBlue" })">
        @Html.Partial("Controls/IDBDocsNew/AddIDBDoc", new SearchDocumentModalViewModel
        {
            SearchModalId = "tablaPagContentDisclosure",
            MultipleSelection = false,
            TargetFunction = "addDocumentInTable",
            BusinessAreaCode = BusinessAreaCodeEnum.BA_ESG.GetStringValue(),
            OperationNumber = IDBContext.Current.Operation
        })
    </div>
</div>

<script type="text/javascript">
    Localization._SetText('WarningCloseMilestone1', '@Localization.GetText("ESG.DD.Message.Warning.CloseMilestone1")');
    Localization._SetText('WarningCloseMilestone2', '@Localization.GetText("ESG.DD.Message.Warning.CloseMilestone2")');
    Localization._SetText('WarningTLtoESG', '@Localization.GetText("ESG.DD.Message.Warning.TLtoESG")');
    Localization._SetText('WarningESGToTL', '@Localization.GetText("ESG.DD.Message.Warning.ESGToTL")');
    Localization._SetText('WarningCompleteRequired', '@Localization.GetText("ESG.DD.Message.Warning.CompleteRequired")');
    Localization._SetText('WarningCompleteActivity', '@Localization.GetText("ESG.DD.Message.Warning.CompleteActivity")');
    Localization._SetText('WarningCancel', '@Localization.GetText("GLOBAL.Cancel.ConfirmationMessage")');
    Localization._SetText('ErrorMessage', '@Localization.GetText("COMMON.ApplicationMappingException.Message")');
    Localization._SetText('RootPath', '@Url.Action("Index", "DisclosureDocument",
        new { area = "MrBlue", OperationNumber = IDBContext.Current.Operation })');
</script>