<link rel="stylesheet" href="@Url.Content("~/Scripts/angular/angular-csp.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/Modules/MrBlue/disclosure.css")" />

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/angular/1.6/angular.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/MrBlue/DisclosureDocument/main.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/MrBlue/DisclosureDocument/app.js")"></script>

@{
    var editPath = Url.Action("Edit", "DisclosureDocument",
        new { area = "MrBlue", OperationNumber = IDBContext.Current.Operation });
    var loadDisclosuresPath = Url.Action("Load", "DisclosureDocument", new { area = "MrBlue" });
}

<div ng-app="disclosure" ng-controller="ESGCtrl" id="disclosureContainer"
     ng-init="LoadDisclosures('@loadDisclosuresPath');">
    <div class="row mb16 ng-cloak">
        <div class="col-md-12">
            <div class="floatLeft">
                @Confluence.LabelTitleGroup(Localization.GetText("ESG.DD.Text.DisclosureESGDocument"))
            </div>
            <div class="float-right" ng-hide="ESGDisclosureDocuments[0].IsActiveExecutionPhaseBox && !ESGDisclosureDocuments[0].CanEditPhase">
                <button class="buttonBlue" name="editDisclosure"
                        ng-show="(ESGDisclosureDocuments[0].IsActiveExecutionPhaseBox ||
                            !ESGDisclosureDocuments[0].IsCloseActivityItem || !ESGDisclosureDocuments[1].IsCloseActivityItem) &&
                            (ESGDisclosureDocuments[0].HasESGRoleToWrite || ESGDisclosureDocuments[0].HasTeamLeaderRole)"
                        ng-click="Edit('@editPath')">
                    @Localization.GetText("IM.Edit")
                </button>
            </div>
        </div>
    </div>

    <div ng-repeat="ESGDisclosureDocument in ESGDisclosureDocuments" class="pt30 pb30 ng-cloak">
        <div class="row" style="margin-bottom:1%;">
            <div class="col-md-12">
                <div class="float-left">
                    <h4 class="subtitleGroup">{{ ESGDisclosureDocument.MilestoneName }}</h4>
                </div>
            </div>
        </div>

        @Html.Partial("Partials/_DetailTable")

    </div>
    <div class="row mb16 ng-cloak">
        <div class="col-md-12">
            <div class="float-right" ng-hide="ESGDisclosureDocuments[0].IsActiveExecutionPhaseBox && !ESGDisclosureDocuments[0].CanEditPhase">
                <button class="buttonBlue" name="editDisclosure"
                        ng-show="(ESGDisclosureDocuments[0].IsActiveExecutionPhaseBox ||
                            !ESGDisclosureDocuments[0].IsCloseActivityItem || !ESGDisclosureDocuments[1].IsCloseActivityItem) &&
                            (ESGDisclosureDocuments[0].HasESGRoleToWrite || ESGDisclosureDocuments[0].HasTeamLeaderRole)"
                        ng-click="Edit('@editPath')">
                    @Localization.GetText("IM.Edit")
                </button>
            </div>
        </div>
    </div>
</div>