@using IDB.MW.Application.CountryStrategyModule.ViewModels.MonitoringResultMatrix
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers
@using IDB.Presentation.MVC4.Areas.CountryStrategy.Models

@model OperationViewModel

<tr data-id="@Model.OperationId" class="custom-even" data-type="operation">
    <td style="width: 160px;">
        <button class="buttonLink nopadding" name="link-OperationNumber" data-operationnumber="@Model.OperationNumber">@Model.OperationNumber</button>
    </td>
    <td>@Model.OperationName </td>
    <td style="width: 100px;text-align: center;">@Model.OperationYear</td>
    <td>@Model.StatusStage</td>
    <td style="width: 165px;text-align: center;">@Confluence.InputCheckbox(Model.IsApprovedDuringCS, name: "isApprovedInCS", label: string.Empty, disabled: true)</td>
    <td class="text-center" style="width: 160px;">
        @foreach (var item in Model.IndicatorsIcon)
        {
            if (item.ImageIconId == ViewBag.SocialInclusion)
            {
                <span class="strSInclusionImg tooltip tooltip-cs" data-alt="@item.IndicatorName"></span>
            }
            else if (item.ImageIconId == ViewBag.HighProductivity)
            {
                <span class="strAlignHProductivityImg tooltip tooltip-cs" data-alt="@item.IndicatorName"></span>
            }
            else if (item.ImageIconId == ViewBag.FullEconomic)
            {
                <span class="strAlignFullEconomicImg tooltip tooltip-cs" data-alt="@item.IndicatorName"></span>
            }
            else if (item.ImageIconId == ViewBag.ClimateChange)
            {
                <span class="strAlignClimateChangeImg tooltip tooltip-cs" data-alt="@item.IndicatorName"></span>
            }
            else if (item.ImageIconId == ViewBag.Equality)
            {
                <span class="strAlignEqualityImg tooltip tooltip-cs" data-alt="@item.IndicatorName"></span>
            }
            else if (item.ImageIconId == ViewBag.InstCapacity)
            {
                <span class="strAlignInstCapacityImg tooltip tooltip-cs" data-alt="@item.IndicatorName"></span>
            }
        }
    </td>
    <td class="text-center" style="width: 60px;text-align:center;">

        @Confluence.InputHidden(Model.OperationId.ToString(),
        name: Model.OperationTypeTable + "-operationId",
        required: false,
        dataAttributes:
        new Dictionary<string, string> { { "id", Model.OperationId.ToString() } })

        @Confluence.InputHidden("False",
        name: Model.OperationTypeTable + "-isImport",
        required: false,
        dataAttributes:
        new Dictionary<string, string> { { "id", Model.OperationId.ToString() } })

        @Confluence.InputHidden(Model.IsManual.ToString(),
        name: Model.OperationTypeTable + "-isManual",
        required: false,
        dataAttributes:
        new Dictionary<string, string> { { "id", Model.OperationId.ToString() } })

        @Confluence.ButtonTrash("", "removeOperation")
    </td>
</tr>

