@{
    bool isLessTaskFive = ViewBag.isLessTaskFive ?? false;
}
<div data-id="headerButtons" class="floatRight">
    <div data-pagemode="read">

        @if (ViewBag.RMAdministrator && Html.HasPermission("Findings Write") && ViewBag.IsEditable)
        {
            if (ViewBag.IsCurrentCycleTable)
            {
                @Confluence.ButtonBlue(Localization.GetText("Edit"),
                                       action: "edit",
                                       dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditOverall" } })
            }
            else
            {
                @Confluence.ButtonBlue(Localization.GetText("Edit"),
                                       action: "OnlyFindingsOverall",
                                       dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditOverall" } })
            }
        }
        else if (isLessTaskFive && Html.HasPermission("Findings Write") && ViewBag.IsEditable)
        {
            if (ViewBag.IsCurrentCycleTable)
            {
                @Confluence.ButtonBlue(Localization.GetText("Edit"),
                                       action: "edit",
                                       dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditOverall" } })
            }
            else
            {
                @Confluence.ButtonBlue(Localization.GetText("Edit"),
                                        action: "OnlyFindingsOverall",
                                        dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditOverall" } })
            }
        }
    </div>
    <div data-pagemode="edit">
        @Confluence.ButtonLink(Localization.GetText("Cancel"),
                                                    action: "cancel")
        @Confluence.ButtonOrange(Localization.GetText("Save"),
                                                    action: "save")
    </div>
</div>
