@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

<div id="categories-container">
    <div id="categories-link-modal" class="hide">

        <div class="col-md-12">
            @Confluence.InformationSection(Localization.GetText("FR.YouCanSelectUpToThreeCategories"))
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <br />
                <p>
                    @Confluence.LabelBold(
                    Localization.GetText("FR.OrganizationalAndManagerialDimensions"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "projectManagement",
                        "projectManagement",
                        Localization.GetText("FR.ProjectManagement"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "intraInterCoord",
                        "intraInterCoord",
                        Localization.GetText("FR.IntraInterCoordination"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "otherOrgAndManDim",
                        "otherOrgAndManDim",
                        Localization.GetText("FR.OtherOrganizationalAndManagerialDimensions"))
                </p>
                <br />
                <p>
                    @Confluence.LabelBold(
                        Localization.GetText("FR.FiduciaryDimensions"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "acquiAndProcBS",
                        "acquiAndProcBS",
                        Localization.GetText("FR.AcquisitionsAndProcurementBindingStage"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "acquiAndProcPPS",
                        "acquiAndProcPPS",
                        Localization.GetText("FR.AcquisitionsAndProcurementProviderPerformance"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "costAndBudgetary",
                        "costAndBudgetary",
                        Localization.GetText("FR.CostAndBudgetaryAspects"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "otherFiduciaryDim",
                        "otherFiduciaryDim",
                        Localization.GetText("FR.OtherFiduciaryDimensions"))
                </p>
                <br />
                <p>
                    @Confluence.LabelBold(
                        Localization.GetText("FR.DimensionsRelatedToLegalAndPolicyAspects"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "approvLegislativeR",
                        "approvLegislativeR",
                        Localization.GetText("FR.ApprovalLegislativeRatification"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "otherDimensionsRelated",
                        "otherDimensionsRelated",
                        Localization.GetText("FR.OtherDimensionsRelated"))
                </p>
            </div>
            <div class="col-md-6">
                <br />
                <p>@Confluence.LabelBold(Localization.GetText("FR.TechnicalSectorialDimensions"))</p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "projectDesign",
                        "projectDesign",
                        Localization.GetText("FR.ProjectDesign"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "projectMonitoringEvaluation",
                        "projectMonitoringEvaluation",
                        Localization.GetText("FR.ProjectMonitoringEvaluation"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "naturalCauses",
                        "naturalCauses",
                        Localization.GetText("FR.NaturalCausesOrDisaster"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "environmentalFactor",
                        "environmentalFactor",
                        Localization.GetText("FR.EnvironmentalFactor"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "othersTechnicalSectorial",
                        "othersTechnicalSectorial",
                        Localization.GetText("FR.OthersTechnicalSectorialDimensions"))
                </p>
                <br />
                <p>
                    @Confluence.LabelBold(
                        Localization.GetText("FR.DimensionsRelatedToPublicAndPrivateActors"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "stakeholderPriorities",
                        "stakeholderPriorities",
                        Localization.GetText("FR.StakeholderPriorities"))
                </p>
                <p>
                    @Confluence.InputCheckbox(
                        false,
                        "othersDimensionsRelated",
                        "othersDimensionsRelated",
                        Localization.GetText("FR.OthersDimensionsRelatedToPublicAndPrivateActors"))
                </p>
            </div>
        </div>
    </div>

    <span data-name="open-popup-button-container">
        @Display.AddModalButton(new ModalViewModel(
            contentSelector: "#categories-link-modal",
            title: @Localization.GetText("FR.Categories"),
            type: CssClass.ModalInformationNoIcon,
            moveOriginalContent: true,
            name: "categories" + "open-popup-btn",
            closeOnOverlay: false,
            allowClose: true,
            actionOnClose: "")
            .AddButton(name: "categories-cancel-btn",
                text: Localization.GetText("OP.CR.CreationForm.Cancel"),
                type: CssClass.ButtonLink,
                callback: "")
            .AddButton(name: "categories-ok-btn",
                text: Localization.GetText("OP.CR.CreationForm.Save"),
                type: CssClass.Button05,
                callback: "",
                closeAtEnd: false))
    </span>

</div>