@using System

<div class="header">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 mt20">
                <div>
                    @Confluence.LabelMainSubTitle(
                        Localization.GetText("FR.Header.subtitle"))
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div id="FRPage" class="view-mode" >


    <div id="fr-search-block-container" class="view-mode">
        <div class="floatRight" style="padding: 0 20px 20px 0;">
            <button class="buttonBlue" type="button" onclick="FRPage.toggleFilters(this)">Show Filter</button>
        </div>

        <div style="clear:both"></div>

        <div id="fr-search-block" style="display: none">
        
            <div class="container"></div>

        </div>

    </div>
    
    <div class="tableHeader">
        
        <div class="floatLeft">
            @Confluence.InformationSection("List of dimensions and categories with examples")
        </div>
        
        <div class="floatRight  empty-hide">
            
            <button class="buttonBlue view-mode button-edit" type="button" onclick="FRPage.switchEditMode()" style="visibility: hidden">@Localization.GetText("OP.OD.Edit")</button>

            <a class="edit-mode" href="javascript:void(0)" onclick="FRPage.discardData()">@Localization.GetText("OP.OD.Cancel")</a>

            &nbsp;&nbsp;

            <button class="buttonBlue edit-mode" type="button" onclick="FRPage.saveData()">@Localization.GetText("OP.OD.Save")</button>

        </div>
                
        <div class="floatRight" style="margin-right: 12px;">

            <div onclick="FRPage.expandAll()" data-expand-button="expand" dd-contenedor="FindingAndRecommendationTable" class="btnCollapseOne buttonExpand" dd-coll="Collapse All" dd-exp="Expand All">
                <span>
                    <span></span>
                </span>
                <label dd-value="Collapse All">@Localization.GetText("GLOBAL.CONTROL.EXPANDALL")</label>
            </div>

            <div style="display: none" onclick="FRPage.collapseAll()" data-expand-button="collapse" dd-exp="Expand All" dd-coll="Collapse All" class="btnCollapseOne buttonExpand collapse" dd-contenedor="FindingAndRecommendationTable">
                <span>
                    <span></span>
                </span>
                <label dd-value="Expand All">@Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL")</label>
            </div>

        </div>

    </div>

    <div style="clear:both"></div>
    
    <table class="tableNormal mt10" id="FindingAndRecommendationTable">

        <thead>
            <tr class="text-left">
                <th class="view-mode"><div>@Localization.GetText("TCM.FR.FindingsAndRecommendations.Cycle")</div></th>
                <th>@Localization.GetText("TCM.FR.FindingsAndRecommendations.Stage") <span class="red edit-mode">*</span></th>
                <th>@Localization.GetText("GLOBAL.CATEGORIES") <span class="red edit-mode">*</span></th>
                <th>@Localization.GetText("GLOBAL.DIMENSIONS")</th>
                <th>@Localization.GetText("Last Update")</th>
                <th>&nbsp;</th>
                
            </tr>
        </thead>
        <tbody id="trFR">
        </tbody>
    </table>

    <div style="clear:both"></div>

    <br />
    <br />

    <div class="centerAlign addOneWrapper centerContent verticalMargin20 edit-mode">
        <div style="font-size:12px" class="addOneContainer w290 h100">
            <input type="button" class="noBorder h100 addOne cursorPointer w290 ac-PlanYear" value="New Finding" onclick="FRPage.table.addRow()" />
        </div>
      </div>

    <div class="floatRight empty-hide">

        <button class="buttonBlue view-mode button-edit" type="button" onclick="FRPage.switchEditMode()" style="visibility: hidden">@Localization.GetText("OP.OD.Edit")</button>

        <a class="edit-mode" href="javascript:void(0)" onclick="FRPage.discardData()">@Localization.GetText("OP.OD.Cancel")</a>

        &nbsp;&nbsp;

        <button class="edit-mode buttonBlue" type="button" onclick="FRPage.saveData()">@Localization.GetText("OP.OD.Save")</button>

    </div>

</div>

<div id="categoriesModal" class="modal bs-modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">@Localization.GetText("FR.DimensionsCategories.Explanation")</h4>
          <h5 class="modal-title">@Localization.GetText("FR.Categories.Instructions")</h5>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
         <a href="javascript:void(0)" data-dismiss="modal">@Localization.GetText("OP.OD.Cancel")</a>
          &nbsp;&nbsp;
        <input type="button" class="buttonBlue buttonYellow" data-dismiss="modal" value="Save" data-save="modal" />
      </div>
    </div>
  </div>
</div>

<div id="dimensionsModal" class="modal bs-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localization.GetText("FR.DimensionsCategories.Explanation.Examples")</h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<link href="~/Content/esmartGeneral.css" rel="stylesheet" />
<link href="~/Scripts/Modules/FindingRecomendations/mainResponsive.css" rel="stylesheet" />
<script src="~/Scripts/Modules/FindingRecomendations/mainResponsive.js"></script>

<script type="text/javascript">

    FRPage.now = '@DateTime.Now.ToString("dd MMM yyyy")';
    FRPage.messages = {};
    FRPage.messages['expandAll'] = "@Localization.GetText("GLOBAL.CONTROL.EXPANDALL")";
    FRPage.messages['collapseAll'] = "@Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL")";
    FRPage.messages['stage'] = "@Localization.GetText("TCM.FR.FindingsAndRecommendations.Stage")";
    FRPage.messages['categories'] = "@Localization.GetText("GLOBAL.CATEGORIES")";
    FRPage.messages['dimensions'] = "@Localization.GetText("GLOBAL.DIMENSIONS")";
    FRPage.messages['lastUpdate'] = "@Localization.GetText("Last Update")";
    FRPage.messages['cycle'] = "@Localization.GetText("TCM.FR.FindingsAndRecommendations.Cycle")";
    FRPage.messages['categoriesInstructions'] = "@Localization.GetText("FR.Categories.Instructions")";
    FRPage.messages['categoriesExplanation'] = "@Localization.GetText("FR.DimensionsCategories.Explanation")";
    FRPage.messages['findings'] = "@Localization.GetText("TCM.FR.FindingsAndRecommendations.Findings")";
    FRPage.messages['recommendations'] = "@Localization.GetText("TCM.FR.FindingsAndRecommendations.RecommendationFormat")";
    FRPage.messages['delays'] = "@Localization.GetText("GLOBAL.Delays")";
    FRPage.messages['validationMessage'] = "@Localization.GetText("FR.StageCycle.ValidationMessage")";
    FRPage.messages['confirmationMessage'] = "@Localization.GetText("GLOBAL.Save.ConfirmationMessage")";
    FRPage.messages['cancelMessage'] = "@Localization.GetText("GLOBAL.Cancel.ConfirmationMessage")";
    FRPage.messages['issueCausedDelay'] = "@Localization.GetText("TCM.FR.FindingsAndRecommendations.QuestionIssueResolved")";
    FRPage.messages['issueResolved'] = "@Localization.GetText("TCM.FR.FindingsAndRecommendations.IssueResolved")";
    FRPage.messages['otherDelayText'] = "@Localization.GetText("TCM.FR.FindingsAndRecommendations.OtherDelayEdit")";
    FRPage.messages['noOutcomesText'] = "@Localization.GetText("TCM.FR.FindingsAndRecommendations.NoOutComes")";
    FRPage.messages['noOutputsText'] = "@Localization.GetText("TCM.FR.FindingsAndRecommendations.NoOutPuts")";

    FRPage.saveURL = '@Url.Action("SaveFindingAndRecommendations", "FindingRecommendation", new { Area = "FindingRecomendations" })';

    FRPage.dataLoad('cycles', '@Url.Action("GetCycles", "FindingRecommendation", new
        {
            Area = "FindingRecomendations",
            operationNumber = IDBContext.Current.Operation
        })');

    FRPage.dataLoad('dimensions', '@Url.Action("GetDimensions", "FindingRecommendation", new { Area = "FindingRecomendations" })');
    FRPage.dataLoad('categories', '@Url.Action("GetCategories", "FindingRecommendation", new { Area = "FindingRecomendations" })');

    FRPage.dataLoad('stages', '@Url.Action("GetStages", "FindingRecommendation", new { Area = "FindingRecomendations" })');
    FRPage.dataLoad('finding_model', '@Url.Action("GetFindingsAndRecommendations", "FindingRecommendation",
        new
        {
            Area = "FindingRecomendations",
            operationNumber = IDBContext.Current.Operation
        })');
    FRPage.dataLoad('outputs_delays', '@Url.Action("GetOutputsDelays", "FindingRecommendation",
        new
        {
            Area = "FindingRecomendations",
            operationNumber = IDBContext.Current.Operation
        })');

    FRPage.dataLoad('outcomes_delays', '@Url.Action("GetOutcomesDelays", "FindingRecommendation",
        new
        {
            Area = "FindingRecomendations",
            operationNumber = IDBContext.Current.Operation
        })');

    FRPage.dataLoad('type_delays', '@Url.Action("GetTypeDelays", "FindingRecommendation",
        new
        {
            Area = "FindingRecomendations"
        })');

</script>


