@using IDB.MW.Domain.Values;
@model IDB.MW.Application.TCM.ViewModels.FindingAndRecommendation.FindingRecommendationViewModel

@switch (Model.TypeCycle)
{
    case TCMGlobalValues.TCM_FR:

        @Confluence.Tabs(new Dictionary<string, string>()
        {
            {"tabProgress", Localization.GetText("TCM.FR.FindingsAndRecommendations.Progress")},
            {"tabSustainability", Localization.GetText("TCM.FR.FindingsAndRecommendations.Sustainability&Innovation")},
            {"tabPartnerAndConsultancies", Localization.GetText("TCM.FR.FindingsAndRecommendations.Partners&Consultances")},
            {"tabStories", Localization.GetText("TCM.FR.FindingsAndRecommendations.StoriesFromTheField")},
            {"ProjectTab", Localization.GetText("TCM.FR.FindingsAndRecommendations.ProjectManagement")}
        })

        break;
    case TCMGlobalValues.SG_FR:

        @Confluence.Tabs(new Dictionary<string, string>()
        {
            //{"tabDelays",Localization.GetText("TCM.FR.FindingsAndRecommendations.DelayInAchievement")},
            //{"tabOverall", Localization.GetText("TCM.FR.FindingsAndRecommendations.OverallProjectManagement")},
            {"tabFinding", Localization.GetText("TCM.FR.FindingsAndRecommendations.Findings&Recommendations")}
        })

        break;
    case TCMGlobalValues.IGR_FR:

        @Confluence.Tabs(new Dictionary<string, string>()
        {
            {"tabProgress", Localization.GetText("TCM.FR.FindingsAndRecommendations.Progress")},
            {"tabSustainability", Localization.GetText("TCM.FR.FindingsAndRecommendations.Sustainability&Innovation")},
            {"tabPartnerAndConsultancies", Localization.GetText("TCM.FR.FindingsAndRecommendations.Partners&Consultances")},
            {"tabStories", Localization.GetText("TCM.FR.FindingsAndRecommendations.StoriesFromTheField")},
            {"ProjectTab", Localization.GetText("TCM.FR.FindingsAndRecommendations.ProjectManagement")}
        })

        break;
    case TCMGlobalValues.DF_FR:

        @Confluence.Tabs(new Dictionary<string, string>()
        {
            //{"tabDelays",Localization.GetText("TCM.FR.FindingsAndRecommendations.DelayInAchievement")},
            {"tabFinding", Localization.GetText("TCM.FR.FindingsAndRecommendations.Findings&Recommendations")},
            {"tabProgress", Localization.GetText("TCM.FR.FindingsAndRecommendations.Progress")},
            {"tabSustainability", Localization.GetText("TCM.FR.FindingsAndRecommendations.Sustainability&Innovation")},
            {"tabPartnerAndConsultancies", Localization.GetText("TCM.FR.FindingsAndRecommendations.Partners&Consultances")},
            {"tabStories", Localization.GetText("TCM.FR.FindingsAndRecommendations.StoriesFromTheField")}
            //{"tabOverall", Localization.GetText("TCM.FR.FindingsAndRecommendations.OverallProjectManagement")}
        })

        break;
}

<div class="tab-content">

    @if (Model.TypeCycle == TCMGlobalValues.SG_FR || Model.TypeCycle == TCMGlobalValues.DF_FR)
    {
        <div class="tab-pane" id="tabFinding"
            data-idb-fieldname="tabFinding"
            data-tab-control-id="tabFinding"
            data-parsley-validate="data-parsley-validate"
            data-parsley-excluded="[disabled]"
            data-url="@Url.Action("IndexFindingAndRecommendation", 
                "FindingRecommendationSave", 
                new { area = "TCM" })"
            data-loadurl="@Url.Action("FindingnAndRecommendationResult", 
                "FindingRecommendation", 
                new { area = "TCM",
                    tcReportingPeriod = Model.Progress.TcReportingPeriod})">
            @Html.Partial("Partial/FindingAndRecommendation")
        </div>
    }

    <div class="tab-pane" id="tabDelays"
         data-idb-fieldname="tabDelays"
         data-tab-control-id="tabDelays"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("IndexDelaysDetails", "FindingRecommendationSave", new { area = "TCM" })"
         data-loadurl="@Url.Action("DelaysDetailsResult", "FindingRecommendation", new { area = "TCM", tcReportingPeriod = Model.Progress.TcReportingPeriod })">
        @if (Model.DelaysAchievement != null)
            {
            @Html.Partial("Partial/IndexDelaysDetails", Model.DelaysAchievement)
            }
        </div>

    <div class="tab-pane" id="tabProgress"
         data-idb-fieldname="tabProgress"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("IndexProgress","FindingRecommendationSave", new {area = "TCM"})"
         data-loadurl="@Url.Action("ProgressResult", "FindingRecommendation", new { area = "TCM", tcReportingPeriod = Model.Progress.TcReportingPeriod})">
        @if (Model.Progress != null)
        {
            @Html.Partial("Partial/IndexProgressView", Model.Progress)
        }
    </div>

    <div class="tab-pane" id="tabSustainability" data-idb-fieldname="tabSustainability"
         data-tab-control-id="tabSustainability"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("SustainabilityAndInnovation","FindingRecommendationSave", new { area = "TCM" })"
         data-loadurl="@Url.Action("SustainabilityAndInnovationContent", "FindingRecommendation", new{ area = "TCM" })">
        @if (Model.SustainabilityAndInnovation != null)
        {
            @Html.Partial("Partial/SustainabilityInnovationView", Model.SustainabilityAndInnovation)
        }
    </div>

    <div class="tab-pane" id="tabPartnerAndConsultancies" data-idb-fieldname="tabPartnerAndConsultancies"
         data-tab-control-id="tabPartnerAndConsultancies"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("PartnerAndConsultancies","FindingRecommendationSave", new {area = "TCM"})"
         data-loadurl="@Url.Action("PartnerAndConsultaciesContent", "FindingRecommendation", new {area = "TCM"})">
        @if (Model.ParterAndConsultancies != null)
        {
            @Html.Partial("Partial/PartnersAndConsiltanciesView", Model.ParterAndConsultancies)
        }
    </div>
    <div class="tab-pane" id="tabStories" data-idb-fieldname="tabStories"
         data-tab-control-id="tabStories"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("StoriesFromField","FindingRecommendationSave", new { area = "TCM" })"
         data-loadurl="@Url.Action("StoriesFromTheFieldContent", "FindingRecommendation", new { area = "TCM" })">
        @if (Model.StoriesFromTheField != null)
        {
            @Html.Partial("Partial/StoriesFromTheFieldView", Model.StoriesFromTheField)
        }
    </div>
    <div class="tab-pane" id="ProjectTab" data-idb-fieldname="ProjectTab"
         data-tab-control-id="ProjectTab"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("ProjectManagement", "FindingRecommendationSave", new { area = "TCM" })"
         data-loadurl="@Url.Action("SearchFilterResult", "FindingRecommendation", new { area = "TCM", tcReportingPeriod = Model.Progress.TcReportingPeriod, stage = Model.ProjectManagement.Stage, dimension = Model.ProjectManagement.Dimension })">
        @if (Model.ProjectManagement != null)
        {
            @Html.Partial("Partial/ProjectManagementView", Model.ProjectManagement)
        }
    </div>

    <div class="tab-pane" id="tabOverall"
         data-tab-control-id="tabOverall"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]"
         data-url="@Url.Action("SaveOverallProjectManagement", "FindingRecommendationSave", new { area = "TCM" ,operationNumber = Model.OverallProjectManagement.OperationNumber})"
         data-loadurl="@Url.Action("OverallProjectManagementContent", "FindingRecommendation", new { area = "TCM"})">
            @if (Model.OverallProjectManagement != null)
            {
                @Html.Partial("Partial/OverallProjectManagementView", Model.OverallProjectManagement)
            }
    </div>
</div>
