@using IDB.MW.Domain.Models.FindingRecomendations;
@using IDB.Presentation.MVC4.Helpers;
@model IDB.MW.Domain.Models.FindingRecomendations.DelaysEditModel

<input type="hidden" id="hidDelaysModel" value="@ViewBag.SerializedDelaysAchievement" />
<div class="header">

    <div class="header mt20">
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.DelaysAnchievement != false)
                {
                    @Html.Partial("Partial/ButtonsEditOverall")
                }
            </div>
        </div>
    </div>

            <div class="row">
                <div class="col-md-12 mt10">
                    <div class="floatLeft">
                        @Confluence.LabelMainSubTitle(Localization.GetText("TCM.FR.FindingsAndRecommendations.DelaysOfAnnualPlans"))
                    </div>
                    <div data-pagemode="read" id="showFilter" class="floatRight">
                        @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.ShowFilter"))
                    </div>

                    <div data-pagemode="read" id="hideFilter" class="floatRight" style="display:none;">
                        @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.HideFilter"))
                    </div>
                    <div class="floatRight" style="  margin-right: 8px;">
                        @Confluence.ButtonColapse("DelaysDetails", false,
                                        expandText: Localization.GetText("GLOBAL.CONTROL.EXPANDALL"),
                                        collapseText: Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div data-pagemode="read" id="FilterPanelDelays" class="filterNormal mt10 col-md-12" style="display:none;">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Localization.GetText("PMR Cycle")
                                @Confluence.InputDropDownMulti("ddlpmrCycleFilter", elements: (List<MultiSelectListItem>)ViewBag.ListCyclesMulti, width: "100%", required: false, orderAsc: false)
                            </div>
                            <div class="col-md-3">
                                @Localization.GetText("TCM.FR.FindingsAndRecommendations.TypeOfDelay")
                                @Confluence.InputDropDown(null, "ddlTypeDelayFilter", ViewBag.ListDelaysType, width: "100%", required: false, showEmptyOption: false, orderAsc: false)
                            </div>
                            <div class="col-md-3" id="filterOutcomes" style="display:none;">
                                @Localization.GetText("TCM.FR.FindingsAndRecommendations.Name")
                                @Confluence.InputDropDown(null, "ddlNameFilterOutcomes", ViewBag.ListOutcomes, width: "100%", required: false, showEmptyOption: false, orderAsc: false)
                            </div>
                            <div class="col-md-3" id="filterOutputs" style="display:none;">
                                @Localization.GetText("TCM.FR.FindingsAndRecommendations.Name")
                                @Confluence.InputDropDown(null, "ddlNameFilterOutPuts", ViewBag.ListOutputs, width: "100%", required: false, showEmptyOption: false, orderAsc: false)
                            </div>
                            <div class="col-md-3">
                                @Localization.GetText("TCM.FR.FindingsAndRecommendations.IssueSolved")
                                @Confluence.InputDropDown(null, "ddlStateSolvedFilter", ViewBag.ListIsSolved, width: "100%", required: false, showEmptyOption: false, orderAsc: false)
                            </div>
                        </div>
                        <div class="float-right mt10">
                            @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.Clear"), action: "ClearFilterDelay")

                            @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.Filter"), action: "SearchDelays")
                        </div>
                    </div>


                    @Html.Partial("Partial/DataTables/DelaysDetails", Model.AchievementDelays)

                    @Confluence.InformationSection(Localization.GetText("For outputs explain both physical and financial delays"))

                    <div class="row">
                        <div class="col-md-12 mt10">
                            <div class="floatLeft">
                                @Confluence.LabelMainSubTitle(Localization.GetText("TCM.FR.FindingsAndRecommendations.OtherDelays"))
                            </div>
                            <div data-pagemode="read" id="showFilterOther" class="floatRight">
                                @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.ShowFilter"))
                            </div>

                            <div data-pagemode="read" id="hideFilterOther" class="floatRight" style="display:none;">
                                @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.HideFilter"))
                            </div>
                            <div class="floatRight" style=" margin-right: 8px;">
                                @Confluence.ButtonColapse("OtherDelaysTable", false,
                                        expandText: Localization.GetText("GLOBAL.CONTROL.EXPANDALL"),
                                        collapseText: Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL"))
                            </div>
                        </div>
                    </div>

                    <div id="FilterPanelotherDelays" data-pagemode="read" class="filterNormal mt10 col-md-12" style="display:none;">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Localization.GetText("PMR Cycle")
                                @Confluence.InputDropDownMulti("ddlOtherCycleFilter", elements: (List<MultiSelectListItem>)ViewBag.ListCyclesMulti, width: "100%", required: false, orderAsc: false)
                            </div>
                            <div class="col-md-3">
                                @Localization.GetText("TCM.FR.FindingsAndRecommendations.Reason")
                                @Confluence.InputText(null, "txtReasonFilter", width: "100%", required: false )
                            </div>
                            <div class="col-md-3">
                                @Localization.GetText("TCM.FR.FindingsAndRecommendations.Name")
                                @Confluence.InputText(null, "txtNameFilterOutcomes", width: "100%", required: false)
                            </div>

                            <div class="col-md-3">
                                @Localization.GetText("TCM.FR.FindingsAndRecommendations.IssueSolved")
                                @Confluence.InputDropDown(null, "ddlOtherSolvedFilter", ViewBag.ListIsSolved, width: "100%", required: false, showEmptyOption: false, orderAsc: false)
                            </div>
                        </div>
                        <div class="float-right mt10">
                            @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.Clear"), action: "ClearFilterOtherDelay")

                            @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.Filter"), action: "SearchOtherDelays")
                        </div>
                    </div>
                    @Html.Partial("Partial/DataTables/OtherDelaysTable", Model.OtherDelays)

                </div>
            </div>

        </div>

        <div class="header mt20">
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.Progress != false)
                    {
                        @Html.Partial("Partial/ButtonsEditOverall")
                    }
                </div>
            </div>
        </div>

