@using IDB.MW.Application.TCM.ViewModels.FindingAndRecommendation;
@using IDB.Presentation.MVC4.Helpers

@model ProgressModel
<div class="header">
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Progress != false || ViewBag.IsFREditable)
            {
                @Html.Partial("Partial/ButtonsEdit")
            }
            @if (ViewBag.CodeReportingCycle != "SG")
            {
                @Html.Partial("Partial/ButtonsVerifyContent")
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="floatRight mr160 mt10" data-pagemode="read">
                @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.FilterByPeriod"))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" data-pagemode="read">
            <div class="floatRight">
                <div class="inlineBlock mr10">
                    @Confluence.InputDropDown(Model.TcReportingPeriod.ToString(), "ddlTcReporting", ViewBag.ReportingPeriod, required: false, placeholder: null, showEmptyOption: false, orderAsc: false)
                </div>
                @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.Filter"), action: "SearchProgress")
            </div>
        </div>
    </div>
</div>
<div id="OutputContainer" class="mb100">

    @Html.Partial("Partial/DataTables/OutPutDataTableView", Model.OutputData)
</div>

<div id="OucomeContainer" class="mb10">
    @Html.Partial("Partial/DataTables/OutcomeDataTableView", Model.OutComeStatement)
</div>

<div class="mt50">
    <div>
        @Confluence.InputHidden(Model.OperationDisseminatedId.ToString(), "operationDisseminatedId")
    </div>
    <div class="mt10">
        @Confluence.LabelsGroup(
            Localization.GetText("TCM.FR.FindingsAndRecommendations.FieldHaveOutPut"),
            Confluence.LabelGetBool(Model.OperationDisseminated, true),
            new List<HelperResult>
            {
                Confluence.InputRadioButton("Yes", "disseminated", Model.OperationDisseminated, label: Localization.GetText("COMMON.Yes"), labelBold: true, isInLine: true,
                    id: "yesSelect" , dataAttributes: new Dictionary<string, string>() {{"idb-fieldname", "rbDisseminated"}}),
                Confluence.InputRadioButton("No", "disseminated", !Model.OperationDisseminated, label: Localization.GetText("COMMON.No"), labelBold: true, isInLine: true, htmlClass: "ml5",
                    id: "noSelect", dataAttributes: new Dictionary<string, string>() {{"idb-fieldname", "rbDisseminated"}})
            })

    </div>
    <div class="mb10 mt30" id="FieldExplain">
        @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.FieldExplainHow"))
         @if (SecurityHelper.IsVisible(Model.FieldAccessList, "txtDescription"))
         {
            @Confluence.InputRichText(Model.OperationDisseminatedcomment, "disseminatedComment", width: "100%", height: "100px", maxLength: 3500, dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtDescription" } })
         }
        
    </div>
</div>

<br />
<br />
<br />
<div id="DocumentContainer">
    @Html.Partial("Partial/DataTables/DocumentDataTableView", Model.Documents)
</div>
<div class="header mt20">
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Progress != false || ViewBag.IsFREditable)
            {
                @Html.Partial("Partial/ButtonsEdit")
            }
            @if (ViewBag.CodeReportingCycle != "SG")
            {
                @Html.Partial("Partial/ButtonsVerifyContent")
            }
        </div>
    </div>
</div>