@using IDB.MW.Application.TCM.ViewModels.FindingAndRecommendation;
@using IDB.Architecture.Extensions;

@model IDB.MW.Application.TCM.ViewModels.FindingAndRecommendation.PartnersAndConsultanciesModel
<div class="header">
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Partner != false || ViewBag.Consultainces != false || ViewBag.IsFREditable)
            {
                @Html.Partial("Partial/ButtonsEditPartner", Model.FieldAccessList)
            }
            @if (ViewBag.CodeReportingCycle != "SG")
            {
                @Html.Partial("Partial/ButtonsVerifyContent")
            }
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="mb50" data-idb-fieldname="tblPartner">
        @{
            Model.Partners.ForEach(o => o.FieldAccessList = Model.FieldAccessList);
        }
        @Html.Partial("Partial/DataTables/PartnerDataTable", Model.Partners)
    </div>

    <div data-idb-fielname="tblConsultanvies">
        @{
            Model.Consultainces.ForEach( o => o.FieldAccessList = Model.FieldAccessList) ;
         }
        @Html.Partial("Partial/DataTables/ConsultancyDataTable", Model.Consultainces)
    </div>
    if (Model.ExecutingAgencies.IsVisible)
    {
        <div data-idb-fielname="tblAgencies" class="mt50">
            @Html.Partial("Partial/DataTables/ExecutingAgenciesTable", Model.ExecutingAgencies)
        </div>
    }
}

<div class="header mt20">
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Partner != false || ViewBag.Consultainces != false || ViewBag.IsFREditable)
            {
                @Html.Partial("Partial/ButtonsEditPartner", Model.FieldAccessList)
            }
            @if (ViewBag.CodeReportingCycle != "SG")
            {
                @Html.Partial("Partial/ButtonsVerifyContent")
            }
        </div>
    </div>
</div>
