<div class="informationBox-container ml0">
    <div class="icoInformation" onclick="info(this)"></div>
    <div class="information-text w400">@Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.TextAdditionalInformation"))</div>
    <div class="informationBox-background"></div>
    <div class="informationBox" id="tcmInformationBox">
        <button class="informationBox-close" onclick="$('.modal-backdrop').hide()"><span>X</span></button>

        <div class="col-md-12 mb10 tcmTextAling">
            @Confluence.LabelTitleGroup(Localization.GetText("TCM.FR.FindingsAndRecommendations.TitlePopup.Definition"))
        </div>
        <div class="col-md-12 mb10">
            <div class="col-md-12">
                @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.SubTitlePopup.Definition"), htmlClass: "italic")
            </div>
            <div class="col-md-12 mt10">
                @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.FindingRecommendationA"))
                @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.FindingFormat"))
                @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.Definition.finding"))
            </div>
            <div class="col-md-12 mt10">
                @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.FindingRecommendationA"))
                @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.RecommendationFormat"))
                @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.Definition.recommendation"))
            </div>
        </div>
        <div class="col-md-12 mb10 mt20">
            <div class="col-md-12">
                @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.TechnicalSectorialDimension"))
            </div>
            <div class="col-md-12 mt10">
                @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.TextTechnicalSectorial"), htmlClass: "mt10")
                <div class="col-md-12 mt10 pr0">
                    @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.Finding"), htmlClass: "italic")
                    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.TechnicalSectorialDimension.TextFinding"))
                </div>
                <div class="col-md-12 mt10 pr0">
                    @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.Recommendation"), htmlClass: "italic")
                    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.TechnicalSectorialDimension.TextRecommendation"))
                </div>
            </div>
        </div>
        <div class="col-md-12 mb10 mt20">
            <div class="col-md-12">
                @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.OrganizacionalDimension"))
            </div>
            <div class="col-md-12 mt10">
                @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.TextOrganizacionalDimension"))
                <div class="col-md-12 mt10 pr0">
                    @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.Finding"), htmlClass: "italic")
                    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.OrganizacionalDimension.TextFinding"))
                </div>
                <div class="col-md-12 mt10 pr0">
                    @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.Recommendation"), htmlClass: "italic")
                    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.OrganizacionalDimension.TextRecommendation"))
                </div>
            </div>
        </div>
        <div class="col-md-12 mb10 mt20">
            <div class="col-md-12">
                @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.FiduciaryDimension"))
            </div>
            <div class="col-md-12 mt10">
                @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.TextFiduciaryDimension"))
                <div class="col-md-12 mt10 pr0">
                    @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.Finding"), htmlClass: "italic")
                    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.FiduciaryDimension.TextFinding"))
                </div>
                <div class="col-md-12 mt10 pr0">
                    @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.Recommendation"), htmlClass: "italic")
                    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.FiduciaryDimension.TextRecommendation"))
                </div>
            </div>
        </div>
        <div class="col-md-12 mb10 mt20">
            <div class="col-md-12">
                @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.DimensionRelatedToLegal"))
            </div>
            <div class="col-md-12 mt10">
                @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.TextDimensionRelated"))
                <div class="col-md-12 mt10 pr0">
                    @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.Finding"), htmlClass: "italic")
                    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.DimensionRelatedToLegal.TextFinding"))
                </div>
                <div class="col-md-12 mt10 pr0">
                    @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.Recommendation"), htmlClass: "italic")
                    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.DimensionRelatedToLegal.TextRecommendation"))
                </div>
            </div>
        </div>
        <div class="col-md-12 mt20">
            <div class="col-md-12">
                @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.OtherDimension"))
            </div>
            <div class="col-md-12 mt10">
                @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.TextOtherDimensions"))
                <div class="col-md-12 mt10 pr0">
                    @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.Finding"), htmlClass: "italic")
                    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.OtherDimension.TextFinding"))
                </div>
                <div class="col-md-12 mt10 pr0">
                    @Confluence.LabelBold(Localization.GetText("TCM.FR.FindingsAndRecommendations.Recommendation"), htmlClass: "italic")
                    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.OtherDimension.TextRecommendation"))
                </div>
            </div>
        </div>
    </div>
</div>