@using IDB.MW.Application.TCM.ViewModels.FindingAndRecommendation

@model ProjectManagementModel

<div class="header">
    <input type="hidden" id="hidProjectManagementModel" value="@ViewBag.SerializableProjectManagement" />
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Project != false || ViewBag.IsFREditable)
            {
                @Html.Partial("Partial/ButtonsEditProject", Model.FieldAccessList)
            }
            @if (ViewBag.CodeReportingCycle != "SG")
            {
                @Html.Partial("Partial/ButtonsVerifyContent")
            }
        </div>
    </div>
</div>
<div>
    <div data-pagemode="read" class="mt10 mb10" id="containerProgress">
        <div class="float-right">
            @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.HideFilter"), "botonHideFiltro", "HidePanel", htmlClass: "mr0")
            @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.ShowFilter"), "botonShowFiltro", "ShowPanel")
        </div>
        <div id="FilterPanel" class="filterNormal mt10 col-md-12">

            <div class="col-md-6">
                @Localization.GetText("TCM.FR.FindingsAndRecommendations.ReportingPeriod")

                @Confluence.InputDropDown(Model.TcReportingPeriod.ToString(), "TCReportingPeriod", ViewBag.ReportingPeriod, required: false, placeholder: null, showEmptyOption: false, orderAsc:false)
            </div>
            <div class="col-md-3">
                @Localization.GetText("TCM.FR.FindingsAndRecommendations.Stage")

                @Confluence.InputDropDown(Model.Stage.ToString(), "StageList", ViewBag.Stage, orderAsc: false, required: false)
            </div>
            <div class="col-md-3">
                @Localization.GetText("TCM.FR.FindingsAndRecommendations.Dimension")

                @Confluence.InputDropDown(Model.Dimension.ToString(), "DimensionList", ViewBag.Dimension, orderAsc: false, required: false)
            </div>
            <div class="float-right mt10">
                @Confluence.ButtonBlue(Localization.GetText("TCM.FR.FindingsAndRecommendations.Clear"), action: "ClearFilter")
                <input type="button" class="buttonBlue" onclick="SearchFilter()" value="Filter">
            </div>

        </div>
    </div>
    <div class="col-md-12 mt40 pl0">
        <div>@Confluence.LabelMainSubTitle(Localization.GetText("TCM.FR.FindingsAndRecommendations.OverallProjectManagement"))</div>
        <div class="informationplace mb20 mt10">
            @Html.Partial("Partial/PopupView")
        </div>
    </div>

    <div id="ProjectManagementContent">
        @if (Model.TableProjectManagement != null)
        {
            @Html.Partial("Partial/DataTables/TableProjectManagementView", Model.TableProjectManagement)
        }
    </div>
</div>
<div class="header mt20">
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Project != false || ViewBag.IsFREditable)
            {
                @Html.Partial("Partial/ButtonsEditProject",Model.FieldAccessList)
            }
            @if (ViewBag.CodeReportingCycle != "SG")
            {
                @Html.Partial("Partial/ButtonsVerifyContent")
            }
        </div>
    </div>
</div>