@model IDB.MW.Application.TCM.ViewModels.FindingAndRecommendation.StoriesFromTheFieldModel
<div class="header">
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Stories != false || ViewBag.IsFREditable)
            {
                @Html.Partial("Partial/ButtonsEditStories", Model.FieldAccessList)
            }
            @if (ViewBag.CodeReportingCycle != "SG")
            {
                @Html.Partial("Partial/ButtonsVerifyContent")
            }
        </div>
    </div>
</div>
<div class="row row-header">
    <div class="col-md-12">
        @Confluence.LabelMainSubTitle(Localization.GetText("TCM.FR.FindingsAndRecommendations.StoriesFromTheField"), htmlClass: "subTitlePrincipalFindingsRecommendations")
        @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.TextIfApplicable"))
    </div>
</div>
@if (Model != null)
{
    <div>
        @Html.Partial("Partial/DataTables/StoriesFromFieldDataTable", Model)
    </div>
}
<div class="header mt20">
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Stories != false || ViewBag.IsFREditable)
            {
                @Html.Partial("Partial/ButtonsEditStories", Model.FieldAccessList)
            }
            @if (ViewBag.CodeReportingCycle != "SG")
            {
                @Html.Partial("Partial/ButtonsVerifyContent")
            }
        </div>
    </div>
</div>