@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.TCAbstractModule.ViewModels.SingleWindowDecision;

@model List<ReturnProjectTeamViewModel>

<span class="hide">TC.SingleWDecision.ReturnPojectTeam.Confirm</span>

<div class="row-body-40">
    <div class="row">
        <div class="col-md-12">
            <button class="sendEmail" data-action="emailReturnProjectTeam"></button>
            <span class="informationEmail">@Localization.GetText("TC.SingleWDecision.ReturnPojectTeam.Information")</span>
        </div>
    </div>
</div>

@foreach (var rpt in Model)
{
    <div class="row row-header font-header">
        <div class="col-md-4">
            @Localization.GetText("TC.SingleWDecision.ReturnPojectTeam.ApplicableFunds").HtmlEncode()
        </div>
        <div class="col-md-4">
            @Localization.GetText("TC.SingleWDecision.ReturnPojectTeam.Decision").HtmlEncode()
        </div>
        <div class="col-md-4">
            @Localization.GetText("TC.SingleWDecision.ReturnPojectTeam.Cause").HtmlEncode()
        </div>
    </div>

    <div class="row row-body-40 font-body">
        <div class="col-md-4">
            @ControlTemplatesTC.DropDownGetSelectedText(rpt.ApplicableFundId, ViewBag.NotifyFundCoordinatorFundList, valuePropertyName:"TrustFundingId", textPropertyName:"FundName")
        </div>

        <div class="col-md-4">
            @ControlTemplatesTC.DropDownGetSelectedText(rpt.FundDecisionId, ViewBag.NotifyFundCoordinatorDecisionList)
        </div>

        <div class="col-md-4">
            @ControlTemplatesTC.DropDownGetSelectedText(rpt.NoFundingCauseId, ViewBag.FundCoordinatorTCauseOfNoFundingList)
        </div>
    </div>


    <div class="row row-header font-header">
        <div class="col-md-12">
            @Localization.GetText("TC.SingleWDecision.ReturnPojectTeam.Justification")
        </div>
    </div>

    <div class="row row-body-40 font-body">
        <div class="col-md-12">
            @rpt.Justification.HtmlEncode()
        </div>
    </div>
}

