@using IDB.MW.Application.TCAbstractModule.Enums
@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.SingleWindowDecisionViewModel

<div class="row row-body-40">
    <div class="col-md-12">

	    <div data-pagemode="read">
            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[SingleWindowDecisionTypeEnum.NotifyFundCoordinator].ToString(), "typeDecisionDis", disabled: true, required: false,
                                               isChecked: (Model.Type == SingleWindowDecisionTypeEnum.NotifyFundCoordinator),
                                               label: @Localization.GetText("TC.SingleWDecision.NotifyFundCoordinator"), isDisplayBlock : true)
	        
            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[SingleWindowDecisionTypeEnum.ReturnProjectTeam].ToString(), "typeDecisionDis", disabled: true, required: false,
                                               isChecked: (Model.Type == SingleWindowDecisionTypeEnum.ReturnProjectTeam),
                                               label: @Localization.GetText("TC.SingleWDecision.ReturnProjectTeam"), isDisplayBlock : true)
	        
            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[SingleWindowDecisionTypeEnum.WithdrawOperationFundingProcess].ToString(), "typeDecisionDis", disabled: true, required: false,
                                               isChecked: (Model.Type == SingleWindowDecisionTypeEnum.WithdrawOperationFundingProcess),
                                               label: @Localization.GetText("TC.SingleWDecision.WithdrawOperationFundingProcess"), isDisplayBlock : true)
	        
            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[SingleWindowDecisionTypeEnum.PlaceOperationHold].ToString(), "typeDecisionDis", disabled: true, required: false,
                                               isChecked: (Model.Type == SingleWindowDecisionTypeEnum.PlaceOperationHold),
                                               label: @Localization.GetText("TC.SingleWDecision.PlaceOperationHold"), isDisplayBlock : true)
	    </div>

		<div data-pagemode="edit">
            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[SingleWindowDecisionTypeEnum.NotifyFundCoordinator].ToString(), "typeDecision", disabled: false, required: true,
                                               isChecked: (Model.Type == SingleWindowDecisionTypeEnum.NotifyFundCoordinator),
                                               label: @Localization.GetText("TC.SingleWDecision.NotifyFundCoordinator"), isDisplayBlock : true)
	        
            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[SingleWindowDecisionTypeEnum.ReturnProjectTeam].ToString(), "typeDecision", disabled: false, required: true,
                                               isChecked: (Model.Type == SingleWindowDecisionTypeEnum.ReturnProjectTeam),
                                               label: @Localization.GetText("TC.SingleWDecision.ReturnProjectTeam"), isDisplayBlock : true)
	        
            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[SingleWindowDecisionTypeEnum.WithdrawOperationFundingProcess].ToString(), "typeDecision", disabled: false, required: true,
                                               isChecked: (Model.Type == SingleWindowDecisionTypeEnum.WithdrawOperationFundingProcess),
                                               label: @Localization.GetText("TC.SingleWDecision.WithdrawOperationFundingProcess"), isDisplayBlock : true)
	        
            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[SingleWindowDecisionTypeEnum.PlaceOperationHold].ToString(), "typeDecision", disabled: false, required: true,
                                               isChecked: (Model.Type == SingleWindowDecisionTypeEnum.PlaceOperationHold),
                                               label: @Localization.GetText("TC.SingleWDecision.PlaceOperationHold"), isDisplayBlock : true)
		</div>

        @if ((ViewBag.IsCoordinator ?? false) && (ViewBag.IsPossibleToAddMoreFunds ?? false))
        {
            <div data-pagemode="edit" style="text-align:center">
                <a href="@Url.Action("ReviewNotifyFC", "View", new { area = "TC" })">
                    <button id="addMoreFunds" class="button08">
                        @Localization.GetText("Add more funds")
                    </button>
                </a>
            </div>
        }
	</div>
</div>
