@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService
@using IDB.Presentation.MVC4.Areas.TC.Controllers
@using IDB.Presentation.MVC4.Areas.TC.Enums

@model SingleWindowDecisionViewModel

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />

<div data-PageMode="edit">
    <input type="hidden"
           name="@SaveController.SAVE_CONTROLLER_SUBMITTYPE"
           value="@SaveControllerTypeEnum.Save" />
</div>

<div id="decisionType">
    @Html.Partial("Partials/SingleWDecision/SingleWindowDecisionType", Model)
</div>

<div id="notifyFundCoordinator" class="row">
    <div class="col-md-7">
        @Html.Partial(
            "Partials/SingleWDecision/NotifyFundCoordinator",
            Model.PreassignedFundCoordinatorList)
    </div>
</div>

<div id="returnProjectTeam" class="row">
    <div class="col-md-12">
        @Html.Partial("Partials/SingleWDecision/ReturnProjectTeam", Model.ReturnProjectTeam)
    </div>
</div>

<div id="withdrawOperation" class="row">
    <div class="col-md-12">
        @Html.Partial("Partials/SingleWDecision/WithdrawOperation", Model.WithdrawOperation)
    </div>
</div>

<div id="placeOperationHold" class="row">
    <div class="col-md-12">
        @Html.Partial("Partials/SingleWDecision/PlaceHoldOperation", Model.PlaceHold)
    </div>
</div>