@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.TCAbstractModule.Enums;

@model IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.WithdrawOperationViewModel



<div class="row row-header">
    <div class="col-md-12">
        <span class="title-withdraw-type">@Localization.GetText("TC.SingleWDecision.WithdrawOperation.WithdrawType")</span>

        <a class="hide" id="email_hide" href="#">enviar e-mail data</a>
        <button class="sendEmail" data-action="email"></button>
        <span class="informationEmail">@Localization.GetText("TC.SingleWDecision.WithdrawOperation.Information")</span>
    </div>
</div>

<div data-pagemode="read">
    <div class="row row-body-40">
        <div class="col-md-12">

            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[WithdrawalTypeEnum.Sectors].ToString(), "withdrawalTypeDis", disabled: true, required: false,
                                                   isChecked: (Model.WithdrawalType == WithdrawalTypeEnum.Sectors),
                                                   label: @Localization.GetText("TC.SingleWDecision.WithdrawOperation.Sector"), isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[WithdrawalTypeEnum.Countries].ToString(), "withdrawalTypeDis", disabled: true, required: false,
                                                   isChecked: (Model.WithdrawalType == WithdrawalTypeEnum.Countries),
                                                   label: @Localization.GetText("TC.SingleWDecision.WithdrawOperation.Countries"), isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[WithdrawalTypeEnum.ProjectTeam].ToString(), "withdrawalTypeDis", disabled: true, required: false,
                                                   isChecked: (Model.WithdrawalType == WithdrawalTypeEnum.ProjectTeam),
                                                   label: @Localization.GetText("TC.SingleWDecision.WithdrawOperation.ProjectTeam"), isDisplayBlock: true)
        </div>
    </div>

    <div class="row row-header">
        <div class="col-md-12">

            @Localization.GetText("TC.SingleWDecision.WithdrawOperation.AdditionalComments")

        </div>
    </div>

    <div class="row row-body-40">
        <div class="col-md-12">
            @Model.AdditionalComment.HtmlEncode()
        </div>
    </div>
</div>


<div data-pagemode="edit">
    <div class="row row-body-40">
        <div class="col-md-12">
            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[WithdrawalTypeEnum.Sectors].ToString(), "withdrawalType", disabled: false, required: true,
                                                   isChecked: (Model.WithdrawalType == WithdrawalTypeEnum.Sectors),
                                                   label: @Localization.GetText("TC.SingleWDecision.WithdrawOperation.Sector"), isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[WithdrawalTypeEnum.Countries].ToString(), "withdrawalType", disabled: false, required: true,
                                                   isChecked: (Model.WithdrawalType == WithdrawalTypeEnum.Countries),
                                                   label: @Localization.GetText("TC.SingleWDecision.WithdrawOperation.Countries"), isDisplayBlock: true)

            @ControlTemplates.InputRadioButtonNew(ViewBag.EnumMapping[WithdrawalTypeEnum.ProjectTeam].ToString(), "withdrawalType", disabled: false, required: true,
                                                   isChecked: (Model.WithdrawalType == WithdrawalTypeEnum.ProjectTeam),
                                                   label: @Localization.GetText("TC.SingleWDecision.WithdrawOperation.ProjectTeam"), isDisplayBlock: true)
        </div>
    </div>
    <div class="row row-header">
        <div class="col-md-12">

            @Localization.GetText("TC.SingleWDecision.WithdrawOperation.AdditionalComments")

        </div>
    </div>

    <div class="row row-body-40">
        <div class="col-md-12">
            
            @ControlTemplates.InputTextArea(Model.AdditionalComment, "additionalCommentWithdraw", rows: 6, required: false)

        </div>
    </div>
</div>
    







