@using IDB.Architecture.Language
@using System.Globalization
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Models.Repeater
@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.General
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.TCAbstractModule.Enums

@model IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService.MeetingGeneralComment

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;

    var commentSource = new Dictionary<MeetingTypeComment, string>();
    commentSource.Add(MeetingTypeComment.FundCoordinator, Localization.GetText("TC.SingleWindowMeeting.GeneralComment.Fund"));
    commentSource.Add(MeetingTypeComment.RegionalTeamLeader, Localization.GetText("TC.SingleWindowMeeting.GeneralComment.RegionalTL"));
    commentSource.Add(MeetingTypeComment.SingleWindowCoordinator, Localization.GetText("TC.SingleWindowMeeting.GeneralComment.SWCoordinator"));
    commentSource.Add(MeetingTypeComment.TeamLeader, Localization.GetText("TC.SingleWindowMeeting.GeneralComment.TeamLeader"));
}


@if (Model.CommentId <= 0)
{
    <div class="row row-header row-header-comment">
        <div class="col-md-12">
            <span>@FormatHelper.Format(DateTime.Today, formatDate).HtmlEncode()</span>
            <span>@ViewBag.UserName</span>
            <span>@commentSource[MeetingTypeComment.SingleWindowCoordinator]</span>
        </div>
    </div>
    <div data-id="@Model.CommentId" data-pagemode="edit">
        <div class="row row-body-comment">
            <div class="col-md-12">
                @ControlTemplates.InputTextArea(string.Empty, "comment", rows: 6, required: true, dataAttributes: new Dictionary<string, string> { { "id", Model.CommentId.ToString() } })
            </div>
        </div>
    </div>
}
else
{
    <div class="row row-header row-header-comment">
        <div class="col-md-12">
            <span>@FormatHelper.Format(Model.Date, formatDate).HtmlEncode()</span>
            <span>@Model.User.HtmlEncode()</span>
            <span>@commentSource[Model.TypeComment]</span>
        </div>
    </div>
    if (Model.User == ViewBag.UserName)
    {
        <div data-id="@Model.CommentId" data-pagemode="edit">
            <div class="row row-body-comment">
                <div class="col-md-12">
                    @ControlTemplates.InputTextArea(Model.Comment, "comment", rows: 6, required: true,
                    dataAttributes: new Dictionary<string, string> { { "id", Model.CommentId.ToString() } })
                </div>
            </div>
        </div>
        <div class="row repeater-item-comment" data-pagemode="read">
            <div class="col-md-12">
                <div class="font-comment">
                    @Model.Comment.HtmlEncode()
                </div>
            </div>
        </div>
    }

    else
    {
        <div class="row repeater-item-comment">
            <div class="col-md-12">
                <div class="font-comment">
                    @Model.Comment.HtmlEncode()
                </div>
            </div>
        </div>
    }

}
