@model IDB.MW.Application.OPUSModule.ViewModels.OperationDataService.BasicDataViewModel
@{
    var isUserCreator = (bool)ViewBag.Creation;
}
<div class="row row-header">
    <div class="col-md-12 subtitleGroup">
        @Localization.GetText("OP.CR.CreationForm.BD.OperationObjetive") @Confluence.LabelAsterisk()
    </div>
</div>
<div class="row-body-20 boxlanguage">
    <div class="floatLeft">
        <ul>
            <li dd-lang="en" onclick="multiLenguague(this)" data-idb-fieldname="txaOpObjEn"><span class="langText">@Confluence.Label("EN", new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjEn" } })</span>@Confluence.LabelAsterisk()<span class="glyphicon glyphicon-play"></span></li>
            <li dd-lang="es" onclick="multiLenguague(this)" data-idb-fieldname="txaOpObjSp"><span class="langText">@Confluence.Label("ES", new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjEs" } })</span>@Confluence.LabelAsterisk()<span class="glyphicon"></span></li>
            <li dd-lang="pt" onclick="multiLenguague(this)" data-idb-fieldname="txaOpObjPt"><span class="langText">@Confluence.Label("PT", new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjPt" } })</span><span id="asteriskObjPt" class="hide">@Confluence.LabelAsterisk()</span><span class="glyphicon"></span></li>
            <li dd-lang="fr" onclick="multiLenguague(this)" data-idb-fieldname="txaOpObjFr"><span class="langText">@Confluence.Label("FR", new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjFr" } })</span><span id="asteriskObjFr" class="hide">@Confluence.LabelAsterisk()</span><span class="glyphicon"></span></li>
        </ul>
    </div>

    <div data-idb-fieldname="txaOpObjEn">
        <div dd-lang="en" class="contentboxlanguage">
            <span data-pagemode="read">
                @Confluence.InputTextArea(Model.OperationObjectiveEnglish, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
            </span>
            <span data-pagemode="edit">
                @Confluence.InputTextArea(Model.OperationObjectiveEnglish, "operationObjectiveEnglish", isReadOnly: !(ViewBag.CreationWritePermission || isUserCreator), dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjEn" } })
            </span>
        </div>
    </div>

    <div data-idb-fieldname="txaOpObjEs">
        <div dd-lang="es" class="contentboxlanguage hide">
            <span data-pagemode="read">
                @Confluence.InputTextArea(Model.OperationObjectiveSpanish, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
            </span>
            <span data-pagemode="edit">
                @Confluence.InputTextArea(Model.OperationObjectiveSpanish, "operationObjectiveSpanish", isReadOnly: !(ViewBag.CreationWritePermission || isUserCreator), dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjSp" } })
            </span>
        </div>
    </div>

    <div data-idb-fieldname="txaOpObjPt">
        <div dd-lang="pt" class="contentboxlanguage hide">
            <span data-pagemode="read">
                @Confluence.InputTextArea(Model.OperationObjectivePortuguese, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
            </span>
            <span data-pagemode="edit">
                @Confluence.InputTextArea(Model.OperationObjectivePortuguese, "operationObjectivePortuguese", isReadOnly: !(ViewBag.CreationWritePermission || isUserCreator), required: false, dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjPt" } })
            </span>
        </div>
    </div>

    <div data-idb-fieldname="txaOpObjFr">
        <div dd-lang="fr" class="contentboxlanguage hide">
            <span data-pagemode="read">
                @Confluence.InputTextArea(Model.OperationObjectiveFrench, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
            </span>
            <span data-pagemode="edit">
                @Confluence.InputTextArea(Model.OperationObjectiveFrench, "operationObjectiveFrench", isReadOnly: !(ViewBag.CreationWritePermission || isUserCreator), required: false, dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txaOpObjFr" } })
            </span>
        </div>
    </div>
</div>