@using IDB.MW.Application.OPUSModule.ViewModels.OperationDataService

@model List<AssociatedInstitutionsRowViewModel>

@{
    var isUserCreator = (bool)ViewBag.Creation;
}

    <div class="row row-header">
        <div class="col-md-12">
            <span class=" subtitleGroup">@Localization.GetText("OP.CR.CreationForm.BD.RD.AssociatedInstitutions")</span>
            @if (ViewBag.AssociatedInstitutionsWritePermission == true && ViewBag.CreationOperation == false)
            {
                <div class="pull-right" data-pagemode="edit">
                    @Confluence.ButtonBlue(Localization.GetText("OP.CR.CreationForm.BD.RD.AI.CreateInstitution"), null, "showNewInstitutionModal", 
                    dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnCreateInst" } })
                </div>
            }
        </div>
    </div>
    <div class="row row-body-40">
        <div class="col-md-12">
            <div id="associatedInstitutionsTable_wrapper" class="dataTables_wrapper ">
                <table id="associatedInstitutionsTable" class="tableNormal endSpacing" role="grid">
                    <thead>
                        <tr role="row">
                            <th class="hide sorting_disabled" rowspan="1" colspan="1"></th>
                            <th class="hide sorting_disabled" rowspan="1" colspan="1"></th>
                            <th class="sorting_disabled" rowspan="1" colspan="1">
                                @Localization.GetText("OP.CR.CreationForm.BD.RD.AI.Role")
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="1">
                                @Localization.GetText("OP.CR.CreationForm.BD.RD.AI.Institutions")
                            </th>
                            <th class="sorting_disabled w130" rowspan="1" colspan="1"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var row in Model)
                        {
                            <tr data-id="@row.RowId">
                                <td class="hide"></td>
                                <td class="hide"></td>
                                <td>
                                    @Confluence.LabelGetDropDown(row.Role.ToString(), ViewBag.AssociatedInstitutionsRoleList)
                                </td>
                                <td>
                                    @Confluence.LabelGetDropDown(row.Institutions.ToString(), ViewBag.AssociatedInstitutionsList)
                                </td>
                                <td>
                                    <span data-pagemode="edit">
                                        @Confluence.InputHidden(row.Role.ToString(), "associatedInstitutionsRole")
                                        @Confluence.InputHidden(row.Institutions.ToString(), "associatedInstitutions")
                                        <input type="hidden" name="InstitutionRelatedId" value="@row.RowId">
                                        <input type="hidden" name="associatedInstitutionRolID" value="@row.Role">
                                        @if (ViewBag.CreationWritePermission == true || isUserCreator)
                                        {
                                            @Confluence.ButtonTrash(null, null, "removeRow", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "InstRelatedbtnTrash" } })
                                        }
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
                <div class="col-md-12 mt10" data-pagemode="edit">
                    <div class="text-center">
                        @Confluence.ButtonAddNewRows(Localization.GetText("OP.CR.CreationForm.BD.RD.AI.AddInstitution"), "associatedInstitutionsTable", null, "showNewAscInstitutionModal", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnNewInstitution" } })
                    </div>
                </div>
        </div>
    </div>
