@model IDB.MW.Application.OPUSModule.ViewModels.OperationDataService.BasicDataViewModel
<div class="row row-header">
    <div class="col-md-12 subtitleGroup">
        @Localization.GetText("OP.CR.CreationForm.BD.OperationName") @Confluence.LabelAsterisk()
    </div>
</div>
<div class="row-body-20 boxlanguage">
    <div class="floatLeft">
        <ul>
            <li dd-lang="en" onclick="multiLenguague(this)" data-idb-fieldname="txtOpNmEn"><span class="langText">@Confluence.Label("EN", new Dictionary<string, string>() { { "idb-fieldname", "txtOpNmEn" } })</span>@Confluence.LabelAsterisk()<span class="glyphicon glyphicon-play"></span></li>
            <li dd-lang="es" onclick="multiLenguague(this)" data-idb-fieldname="txtOpNmSp"><span class="langText">@Confluence.Label("ES", new Dictionary<string, string>() { { "idb-fieldname", "txtOpNmEs" } })</span>@Confluence.LabelAsterisk()<span class="glyphicon"></span></li>
            <li dd-lang="pt" onclick="multiLenguague(this)" data-idb-fieldname="txtOpNmPt"><span class="langText">@Confluence.Label("PT", new Dictionary<string, string>() { { "idb-fieldname", "txtOpNmPt" } })</span><span class="hide" id ="asteriskNamePt">@Confluence.LabelAsterisk()</span><span class="glyphicon"></span></li>
            <li dd-lang="fr" onclick="multiLenguague(this)" data-idb-fieldname="txtOpNmFr"><span class="langText">@Confluence.Label("FR", new Dictionary<string, string>() { { "idb-fieldname", "txtOpNmFr" } })</span><span class="hide" id ="asteriskNameFr">@Confluence.LabelAsterisk()</span><span class="glyphicon"></span></li>
        </ul>
    </div>

    <div data-idb-fieldname="txtOpNmEn">
        <div dd-lang="en" class="contentboxlanguage">
            <span data-pagemode="read">
                @Confluence.InputText(Model.OperationNameEnglish, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
            </span>
            <span data-pagemode="edit">
                @Confluence.InputText(Model.OperationNameEnglish, "operationNameEnglish", isReadOnly: !(ViewBag.CreationWritePermission || ViewBag.Creation), dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOpNmEn" } })
            </span>
        </div>
    </div>

    <div data-idb-fieldname="txtOpNmEs">
        <div dd-lang="es" class="contentboxlanguage hide">
            <span data-pagemode="read">
                @Confluence.InputText(Model.OperationNameSpanish, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
            </span>
            <span data-pagemode="edit">
                @Confluence.InputText(Model.OperationNameSpanish, "operationNameSpanish", isReadOnly: !(ViewBag.CreationWritePermission || ViewBag.Creation), dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOpNmSp" } })
            </span>
        </div>
    </div>

    <div data-idb-fieldname="txtOpNmPt">
        <div dd-lang="pt" class="contentboxlanguage hide">
            <span data-pagemode="read">
                @Confluence.InputText(Model.OperationNamePortuguese, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
            </span>
            <span data-pagemode="edit">
                @Confluence.InputText(Model.OperationNamePortuguese, "operationNamePortuguese", isReadOnly: !(ViewBag.CreationWritePermission || ViewBag.Creation), required: false, dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOpNmPt" } })
            </span>
        </div>
    </div>

    <div data-idb-fieldname="txtOpNmFr">
        <div dd-lang="fr" class="contentboxlanguage hide">
            <span data-pagemode="read">
                @Confluence.InputText(Model.OperationNameFrench, null, isReadOnly: true, required: false, htmlClass: "noborder nopadding")
            </span>
            <span data-pagemode="edit">
                @Confluence.InputText(Model.OperationNameFrench, "operationNameFrech", isReadOnly: !(ViewBag.CreationWritePermission || ViewBag.Creation), required: false, dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOpNmFr" } })
            </span>
        </div>
    </div>
</div>