@model IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Common.OperationInfoViewModel

<div id="operation-info-container">
    <div class="operation-info">
        <div>
            <p>@Localization.GetText("TCM.SH.SharedHeader.TextReportingPeriod")</p>
            <p class="info-text">@Model.ReportingPeriod</p>
        </div>
        <div>
            <p>@Localization.GetText("TCM.SH.SharedHeader.TextDaysRemainingToChangeInitialPlan")</p>
            <p class="info-text">@Model.DaysRemaning</p>
        </div>
        <div>
            <p>@Localization.GetText("TCM.SH.SharedHeader.TextValidationStatus")</p>
            <p class="info-text">@Model.ValidationStatus</p>
        </div>
        <div>
            <p>@Localization.GetText("TCM.SH.SharedHeader.TextLastUpdate")</p>
            <p class="info-text">@String.Format("{0:dd MMM yyyy}", Model.LastUpdate)</p>
        </div>
        <div>
            <p>@Localization.GetText("TCM.SH.SharedHeader.TextTLSubmitted")</p>
            <p class="info-text">@String.Format("{0:dd MMM yyyy}", Model.SubmittedByTeamLeader)</p>
        </div>
        <div>
            <p>@Localization.GetText("TCM.SH.SharedHeader.TextFundCoordinatorAccepted")</p>
            <p class="info-text">@String.Format("{0:dd MMM yyyy}", Model.AcceptedByFundCoordinator)</p>
        </div>
    </div>

    <div class="operation-info">
        <div>
            <p>@Localization.GetText("TCM.SH.SharedHeader.TextOperationObjective")</p>
            <p class="info-text">@Model.OperationObjective</p>
        </div>
    </div>
    <input type="hidden" name="hdnPeriodYear" value="@Model.ReportingPeriod" />
</div>