<span id="save-standard-successful-message" style="display:none">
    @Localization.GetText("TCM.SaveSuccessfulMessage")
</span>

<span id="save-standard-error-message" style="display:none">
    @Localization.GetText("TCM.SaveErrorMessage")
</span>

<span id="modify-validated-year-plan-message" style="display:none">
    @Localization.GetText("TCM.UYP.UpdateYearPlan.TextUpdateValidatedYear")
</span>

<span id="delete-standard-message" style="display:none">
    @Localization.GetText("TCM.DeleteMessage")
</span>

<span id="delete-year-plan-message" style="display:none">
    @Localization.GetText("TCM.DYP.DeleteYearPlan.TexDeleteAllColumns")
</span>

<span id="delete-validated-year-plan-message" style="display:none">
    @Localization.GetText("TCM.DYP.DeleteYearPlan.TexDeleteValidatedYear")
</span>

<span id="delete-validated-outcome-year-plan-message" style="display:none">
    @Localization.GetText("TCM.DYP.DeleteYearPlan.TexDeleteValidatedOutcomeYear")
</span>

<span id="repeated-planned-year-message" style="display:none">
    @Localization.GetText("TCM.UYP.UpdateYearPlan.TextUpdateExistingYearPlan")
</span>

<span id="accept-title" style="display:none">
    @Localization.GetText("TCM.Accept")
</span>

<span id="cancel-title" style="display:none">
    @Localization.GetText("TCM.Cancel")
</span>

<span id="delete-title" style="display:none">
    @Localization.GetText("TCM.Delete")
</span>

<span id="information-title" style="display:none">
    @Localization.GetText("TCM.Information")
</span>

<span id="save-title" style="display:none">
    @Localization.GetText("TCM.Save")
</span>

<span id="warning-title" style="display:none">
    @Localization.GetText("TCM.Warning")
</span>

<span id="none-title" style="display:none">
    @Localization.GetText("TCM.None")
</span>

<span id="select-option-title" style="display:none">
    @Localization.GetText("TCM.SelectOptionParenthesis")
</span>

<span id="save-matrix-change-message" style="display: none">
    @Localization.GetText("TCM.RCMW.RegisterChanges.TextMessage")
</span>

