@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"unlink-crf-modal\"]",
        title: Localization.GetText("Unlink Predefined Indicator"),
        type: CssClass.ModalInformationNoIcon,
        moveOriginalContent: true,
        name: "btn-open-popup-unlink",
        closeOnOverlay: false,
        allowClose: true,
        actionOnClose: "")
        .AddButton(name: "btn-unlink-cancel",
                    text: Localization.GetText("Common.Cancel"),
                    type: CssClass.ButtonLink,
                    callback: "cancelUnlinkPredefinedIndicators")
        .AddButton(name: "btn-unlink-unlink",
                    text: Localization.GetText("Unlink"),
                    type: CssClass.Button01,
                    callback: "unlinkPredefinedIndicators",
                    closeAtEnd: false))

<div id="unlink-crf-modal" data-name="unlink-crf-modal" class="hide modalBody">
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@ViewData["parentTitle"]</label>
            </div>
            <div class="lblvalue bold" data-section="parent-title">
                <label class="labelNormal"></label>
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@ViewData["childTitle"]</label>
            </div>
            <div class="lblvalue bold" data-section="child-title">
                <label class="labelNormal"></label>
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-md-12">
            <div class="lblcontent">
                <label class="labelNormal">@Localization.GetText("Indicators to Unlink")</label>
            </div>
            <div id="unlinked-predef-indicator-container" data-unlink-parent-id=""></div>

            <div style="display: none" id="unlinked-predef-indicator-required">
                <ul class="parsley-errors-list filled">
                    <li class="listError">
                        <span>
                            @Localization.GetText("IM.IndicatorsList.UnselectedIndicator")
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>