@model IDB.Presentation.MVC4.Areas.Administration.Models.PredefinedIndicators.DefaultSearchModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

@section CSS
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css?v=1")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo.everis.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modules/searches/ui_se_001-results_matrix.css")" />
}

@section JavaScript
{
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-kendo.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pagination/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Administration/PredefinedIndicators/search.js")"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.kendoDropDown').kendoDropDownList();
    });
</script>

<script type="text/x-kendo-template" id="gridCell_operationName">
    <a href="@Url.Action("Detail", "PredefinedIndicators")/?PredefinedIndicatorId=#=PredefinedIndicatorId#">@Localization.GetText("Details")</a>
</script>

@*------------------- Multilanguage vars for grid headers --------------------*@
@Html.Hidden("hdnIndicatorNumber", Localization.GetText("Indicator number"))
@Html.Hidden("hdnIndicatorName", Localization.GetText("Indicator name"))
@Html.Hidden("hdnTypeIndicator", Localization.GetText("Type of indicator"))
@Html.Hidden("hdnUnitMesure", Localization.GetText("Unit of measure"))
@Html.Hidden("hdnActions", Localization.GetText("Actions"))
@Html.Hidden("hdnDetail", Localization.GetText("Detail"))
@Html.Hidden("hdnUrl", Url.Action("Search", "PredefinedIndicators"))
@Html.Hidden("hdnPriorityArea", Url.Action("GetPriorityAreasIndicator", "PredefinedIndicators", new { area = "Administration" }))
@Html.Hidden("hdnTypeOfIndicator", Url.Action("GetIndicatorTypes", "PredefinedIndicators", new { area = "Administration" }))

@* Render pagingFooter HandleBar Template *@
@Html.Partial("~/Views/Pagination/TemplatesJS/PagingFooterTemplate.cshtml")

@* Render GridRows HandleBar Template *@
@Html.Partial("~/Areas/Administration/Views/PredefinedIndicators/TemplatesJS/PredefinedIndicatorTemplate.cshtml")

<body >
<form>
    <section class="central">
        <h2 class="hide">Seccion central</h2>
        <div class="mod_contenido_central">
            <h3 class="headingh2">@Localization.GetText("Search pre-defined indicator")</h3>
            <div class="filterContracts"><div class="btn-action-group activo" ></div><div class="botonRadio"><form></form></div><div class="filterDropDown"></div></div>

            <div class="filter hide" style="padding-left:40px;width:90%;" id="content">
                <div class="cajaGeneralFilter2">
                    <form class="filter2Content" id="formulario2" name="fil">
                        
                        <div class="inputContainer">
                            <div style="width: 200px;display: inline-block;vertical-align: -webkit-baseline-middle;">@Localization.GetText("Type of indicator")</div>
                            <div class="filterDropDown inline-block" style="width:35%;">
                                <ul class="optionList small">
                                    <li class="small">
                                        <select id="ddlIndicatorType" style="height:100%" class="inline-block textoGrandeFilter2 no-margin dataTitle optionSelect cmbclear" data-getindicator-path="@Url.Action("GetTypesIndicator", "PredefinedIndicators", new { area = "Administration" })" data-bind="kendoDropDown: IndicatorType,  value: IndicatorTypeSelect, dataTextField: 'NameEn', dataValueField: 'Id', dropDownOptions: {optionLabel: '@Localization.GetText("ALL")'}"></select>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="inputContainer">
                            <div style="width: 200px;display: inline-block;vertical-align: -webkit-baseline-middle;">@Localization.GetText("Results Type of Indicators")</div>
                            <div class="filterDropDown inline-block" style="width:35%;">
                                <ul class="optionList small">
                                    <li class="small">
                                        <select class="inline-block  textoGrandeFilter2 no-margin dataTitle optionSelect cmbclear" data-bind="kendoDropDown: IndicatorsResultTypes,  value: PredefinedIndicatorFilter.IndicatorTypeResult, dataTextField: 'NameEn', dataValueField: 'Id', dropDownOptions: {optionLabel: '@Localization.GetText("ALL")'}"></select>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="inputContainer smallFilter2">
                            <div style="width: 200px;display: inline-block;vertical-align: -webkit-baseline-middle;">@Localization.GetText("Priority area / Strategic objective / Dimension")</div>
                            <div class="filterDropDown inline-block" style="width:35%;">
                                <ul class="optionList small">
                                    <li class="small">
                                        <select class="inline-block  textoGrandeFilter2 no-margin dataTitle optionSelect cmbclear" data-bind="kendoDropDownList: { dataTextField: 'NameEn', dataValueField: 'Id', data: PriorityArea, value: PredefinedIndicatorFilter.AreaId, optionLabel: '@Localization.GetText("ALL")'}"></select>
                                    </li>
                                </ul>
                            </div>
                            <div style="width: 150px;display: inline-block;vertical-align: -webkit-baseline-middle; padding-left:30px">@Localization.GetText("Indicator number")</div>
                            <input class="textoGrandeFilter2 no-margin dataTitle this" type="text" id="indicatorNumber" data-bind="value: PredefinedIndicatorFilter.IndicatorNumber"   style="width:20%"  placeholder="@Localization.GetText("Indicator number")"/>
                        </div>

                        <div class="inputContainer smallFilter2">
                                <div style="width: 200px;display: inline-block;vertical-align: -webkit-baseline-middle;">@Localization.GetText("Indicator name")</div>
                                <input class=" textoGrandeFilter2 no-margin dataTitle" type="text" id="indicatorName" data-bind="value: PredefinedIndicatorFilter.IndicatorName" style="width:33%" placeholder="@Localization.GetText("Indicator name")"/>
                                <div style="width: 150px;display: inline-block;vertical-align: -webkit-baseline-middle; padding-left:30px">@Localization.GetText("Unit of measure")</div>
                                <input class=" textoGrandeFilter2 no-margin dataTitle this" type="text" id="unitOfMeasure" data-bind="value: PredefinedIndicatorFilter.UnitOfMeasure" style="width:20%" placeholder="@Localization.GetText("Unit of measure")" />
                        </div>

                        <div class="inputContainer">
                            <div style="width: 200px;display: inline-block;vertical-align: -webkit-baseline-middle;"></div>
                            <div class="inline-block paddingRight20 custom checkDown" style="width: 24%;float: none;">
                                <label for="specialclause2" class="editLabel">
                                    <input type="checkbox" data-bind="checked: PredefinedIndicatorFilter.DisplayExpired"  style="display: none;" id="specialclause2" name="specialclause2" class="hidden-field" />
                                    <span id="chk_1" class="custom checkbox checkclear" for="displayExpired" style="width: 97%">@Localization.GetText("Display expired")</span>
                                </label>
                            </div>
                            <label for="FilterForm">
                                <input type="submit" id="btnSearchIndicator" data-search-path="@Url.Action("Search", "PredefinedIndicators", new { area = "Administration" })" value="@Localization.GetText("Search")" class="button blueButton boldFont cursorPointer btn-primary ftr ">
                                <input id="btnClearAll" type="button"  class="button blueButton btn-primary ftr marginRight3" value="@Localization.GetText("Clear All")" title="@Localization.GetText("Clear All")">
                                <input id="btnNewIndicator" type="button" data-detail-path="@Url.Action("Detail", "PredefinedIndicators")" class="button blueButton btn-primary ftr marginRight3" value="@Localization.GetText("New")" title="@Localization.GetText("New Predefined Indicator")">
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="task_grid_holder" class="grid" style="padding-left:40px;width:90%; height: auto; padding: 0px">
            <div id="countResultsContainer" class="verticalMargin80-0-20" style="margin-top: 20px; display: none;padding-left:40px;width:90%;">
                <h3 class="font1-5em"><br /><br /><span id="countResults"></span> @Localization.GetText("Results")</h3>
            </div>
            <table class="grid" id="main-results-grid" data-bind="value: indicators" style="width:96%;padding-left:40px;">
                <colgroup>
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                </colgroup>
            </table>
        </div>
        
        <div style="margin-top: 20px; display: none" id="notFoundMessage" class="verticalMargin80-0-20">
            <h3 class="font1-5em">@Localization.GetText("Records not found")</h3>
        </div>

    </section>
</form>
</body>