

@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.Core.Container
@using IDB.MW.Infrastructure.BaseClasses
@using IDB.MW.Application.Core.ViewModels
@using IDB.Architecture.DataTables.Common
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Application.SGPModule.ViewModels
@using IDB.Presentation.MVC4.Areas.SGP.Mappers


@model GenericContainer
@{
    var appSetting = ConfigurationServiceFactory.Current.GetApplicationSettings();

    var supervisionMethodList = Model.GetValue<CustomEnumDictionary<MasterDataViewModel>>("SupervisionMethod").ConvertToSelectListItems();
    var procurementTypeList = Model.GetValue<CustomEnumDictionary<MasterDataViewModel>>("ProcurementType").ConvertToSelectListItems();
    var statusList = Model.GetValue<CustomEnumDictionary<MasterDataViewModel>>("Status").ConvertToSelectListItems();
    var componentList = Model.GetValue<List<ListItemViewModel>>("Components").ConvertToSelectListItems();
    var procurementMethodList = Model.GetValue<List<MasterDataViewModel>>("ProcurementMethod").ConvertToSelectListItems();
    var taskBucketId = Model.GetValue<int>("taskBucketId");
}

<div class="filterNormalExtension mb30">
    <div class="row mb5">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            @Confluence.Label(Localization.GetText("SGP.Label.ProcurementType"))
        </div>
        <div class="col-xs-4">
            @Confluence.Label(Localization.GetText("SGP.Label.Component"))
        </div>
    </div>

    <div class="row mb20">
        <div class="col-xs-4">
            @Confluence.InputText(string.Empty, "procLevelKeywordSearch", required: false, width: "100%", placeholder: "Enter Keyword")
            @Confluence.InputText(taskBucketId.ToString(), "BucketId", required: false, width: "100%", htmlClass: "hide")
        </div>
        <div class="col-xs-4">
            @(Html.MultiDropDown("procLevelProcurementTypeSearch")
            .Items(procurementTypeList)
            .CanSelectGroup()
            .PlaceHolder(Localization.GetText("COMMON.All"))
            .HtmlClass("multiDropdownSGP"))
        </div>
        <div class="col-xs-4">
            @(Html.MultiDropDown("procLevelComponentSearch")
            .Items(componentList)
            .CanSelectGroup()
            .PlaceHolder(Localization.GetText("COMMON.All"))
            .HtmlClass("multiDropdownSGP"))
        </div>
    </div>

    
    <div class="row mb5">
        <div class="col-xs-4">
            @Confluence.Label(Localization.GetText("SGP.Label.ProcurementMethod"))
        </div>
        <div class="col-xs-4">
            @Confluence.Label(Localization.GetText("SGP.Label.SupervisionMethod"))
        </div>
        <div class="col-xs-4 pr0">
            @Confluence.Label(Localization.GetText("COMMON.Status"))
        </div>
    </div>

    <div class="row mb20">
        <div class="col-xs-4">
            @(Html.MultiDropDown("procLevelProcurementMethodSearch")
            .Items(procurementMethodList)
            .CanSelectGroup()
            .PlaceHolder(Localization.GetText("COMMON.All"))
            .HtmlClass("multiDropdownSGP"))
        </div>
        <div class="col-xs-4">
            @(Html.MultiDropDown("procLevelSupervisionMethodSearch")
            .Items(supervisionMethodList)
            .CanSelectGroup()
            .PlaceHolder(Localization.GetText("COMMON.All"))
            .HtmlClass("multiDropdownSGP"))
        </div>
        <div class="col-xs-4">
            @(Html.MultiDropDown("procLevelStatusSearch")
            .PlaceHolder(Localization.GetText("COMMON.All"))
            .Items(statusList)
            .CanSelectGroup()           
            .HtmlClass("multiDropdownSGP"))
        </div>
    </div>

    <div class="text-right">
        @Confluence.ButtonBlue(Localization.GetText("COMMON.SVQ.Clear"), name: "procLevelClearFilter", htmlClass: "")
        @Confluence.ButtonBlue(Localization.GetText("COMMON.SVQ.Filter"), name: "procLevelFilteredFilter", htmlClass: "") 
    </div>

</div>