@using System.Web.Mvc
@using System.Globalization

@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Infrastructure.BaseClasses
@using IDB.MW.Application.Core.ViewModels
@using IDB.Architecture.DataTables.Common
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Application.SGPModule.ViewModels
@using IDB.Presentation.MVC4.Areas.SGP.Mappers

@model ParameterizationViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
    var textNational = Model.ViewContainer.GetValue<string>("textNational");

    var config = Html.RenderDataTable(Model.SelectNationalSystem)
        .Name("tableSelectNationalSystem")
        .AddPrimaryKeyToName(false)
        .PrimaryKey(x => x.MethodId.ToString(CultureInfo.InvariantCulture))
        .UseDataTableNet(false)
        .UsePageMode(false)
        .Columns(columns =>
        {
            columns.Template(c => SelectCheck(c))
            .HeaderAttribute("style", "min-width:45px")
            .Orderable(false)
            .CssClass("colNationalSystemSelect")
            .CssHeaderClass("")
            .Header(Localization.GetText("SGP.Label.Select"))
            .Hidden(false);

            columns.Template(c => TypeMultiDropdown(c))
            .Orderable(false)
            .CssClass("")
            .CssHeaderClass("")
            .Header(Localization.GetText("SGP.Label.ProcurementType"))
            .Hidden(false);

            columns.Bound(c => c.ProcurementMethodText)
            .Orderable(false)
            .CssClass("")
            .CssHeaderClass("")
            .Header(Localization.GetText("SGP.Label.ProcurementMethod"))
            .Hidden(false);

            columns.Bound(c => textNational)
            .Orderable(false)
            .CssClass("colNationalSystemSupervisionMethod")
            .CssHeaderClass("textalign-center")
            .Header(Localization.GetText("SGP.Label.SupervisionMethod"))
            .Hidden(false);
        });
        
    config.TableClass = "tableNormal";
    if (!Model.SelectNationalSystem.Any())
    {
        config.RowTemplates(x => x.Create(RowTemplateType.FirstRow, EmptyTable));
    }
}

<div class="aligment mb10">
    @(Html.CollapseSingle("collapseComponent")
            .HtmlClass("component-collapse alignSubtitle")
            .AsociatedCollapseAllSelector("[data-name=\"collapseAllParameterization\"]")
            .TargetRegionSelector("#section-tableSelectNationalSystem")
    )

    @Confluence.LabelMainSubTitle(Localization.GetText("SGP.Label.NationalSystem"), htmlClass: "component-collapse-h3")
</div>

<div id="section-tableSelectNationalSystem" class="mb30">
    @Html.Partial("Controls/DataTable", config)
</div>

@helper SelectCheck(SelectNationalSystemViewModelRow item)
{
    var check = "";
    if (item.IsSelected)
    {
        check = "checked=\"checked\"";
    }

    <input type="checkbox" name="CheckSelectNationalItem" @check disabled />
}

@helper TypeMultiDropdown(SelectNationalSystemViewModelRow row)
{
    var procurementType = Model.ViewContainer.GetValue<CustomEnumDictionary<MasterDataViewModel>>("ProcurementTypeParametrization").ConvertToSelectListItems();

    @(Html.MultiDropDown("parametrization-custom-ProcurementType")
      .Items(procurementType)
      .CanSelectGroup()
      .Required()
      .SelectedItems(row.ProcurementTypeId)
      .HtmlClass("multi-dropdown-width-100")
      .DrawAsItemsSeparatedByCommas())
}


@helper EmptyTable(SelectNationalSystemViewModelRow row)
{
    <tr>
        <td colspan="4" class="text-center">
            @Localization.GetText("SGP.Label.NoNationalSystemAvaliable")
        </td>
    </tr>
}