@using System.Globalization
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Models.Repeater
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.General
@using IDB.MW.Application.SGPModule.ViewModels

@model List<ProcurementCommentViewModel>

@Confluence.LabelSubTitleGroup(Localization.GetText("COMMON.Comments"))
@Confluence.LabelsGroup("" , contentAlways: CommentContent(Model))

@helper CommentContent(List<ProcurementCommentViewModel> comments)
{ 
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;

    foreach (var comment in comments)
    {
        <div class="row-header row-header-comment">
                    <span class="fontfam-regular">@FormatHelper.Format(Convert.ToDateTime(comment.Date), formatDate).HtmlEncode()</span>
                @if (!string.IsNullOrEmpty(comment.User))
                {
                    <span class="fontfam-regular">@comment.User.HtmlEncode()</span>
                }
        </div>

        <div class="repeater-item-comment">
            @comment.Comment.HtmlEncode()
        </div>

    }
}