


<script>
    $(document).ready(function () {
        

        $("#lnkCancelDeleteChangeMatrix").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#btnSaveDeleteChangeMatrix").click(function () {

            var url = $("#hdnDeletematrixChange").val();
            idbg.lockUi(null, true);
            $.ajax({
                url: url,
                data: { matrixChangeId: @ViewData["matrixChangeId"] },
                type: 'GET',
                success: function (data) {
                    if (data == true) {
                        // Delete current row from DOM
                        $("#trow_@ViewData["matrixChangeId"]").remove();
                        var redirectUrl = $("#hdnIndexMatrixChange").val()+"?operationNumber="+$("#Operation_OperationNumber").val();
                        redirectPage(redirectUrl);
                    }
                },
                error: function (data)
                {
                    //alert(data);
                }
            });

            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

        });
    });
</script>

@using (Html.BeginForm("Delete", "ChangeMatrix", FormMethod.Post, new { id = "ChangeMatrixDeleteForm" }))
{
    
<div style="padding: 20px;">
    @Localization.GetText("This action will delete the Change to the Matrix. Would you like to proceed with the deletion?")
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="lnkCancelDeleteChangeMatrix" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>
        <label for="delete">
            <input type="button" value=" @Localization.GetText("Save")" class="btn-primary" id="btnSaveDeleteChangeMatrix">
        </label>
    </div>
</div>
}
