@model IDB.MW.Domain.Models.Architecture.ResultMatrix.ChangesMatrix.ResultsMatrixModel
@using IDB.MW.Domain.Models.Architecture.Enumerations

@{
    ViewBag.Title = "Edit";

    string isCloseName = Localization.GetText("Global.Open.Message");

    if (Model.PmrCycle.IsClosed)
    {
        isCloseName = Localization.GetText("Global.Closed.Message");
    }

    List<MultiSelectListItem> CycleMultiselect = new List<MultiSelectListItem>
    {
        new MultiSelectListItem
        {
            Selected = Model.PmrCycleIds != null ? Model.PmrCycleIds.Contains(Model.PmrCycleId) :
                false,
            Value = Model.PmrCycleId.ToString(),
            Text = Localization.GetText("Current Cycle")
        }
    };
    Model.Cycles.ForEach(o =>
    {
        CycleMultiselect.Add(new MultiSelectListItem
        {
            Selected = Model.PmrCycleIds != null ?
                Model.PmrCycleIds.Contains(o.ItemId) : false,
            Value = o.ItemId.ToString(),
            Text = o.Name
        });
    });
    var sections = Model.Sections.Select(
        o => new MultiSelectListItem
        {
            Selected = Model.SectionIds != null ?
                    Model.SectionIds.Contains(o.ItemId) : false,
            Value = o.ItemId.ToString(),
            Text = o.Name
        }).ToList();
    var types = Model.TypeOfChanges.Select(
        o => new MultiSelectListItem
        {
            Selected = Model.TypeOfChangeIds != null ?
                    Model.TypeOfChangeIds.Contains(o.ItemId) : false,
            Value = o.ItemId.ToString(),
            Text = o.Name
        }).ToList();
    var subtypes = Model.SubtypeOfChanges.Select(
        o => new MultiSelectListItem
        {
            Selected = Model.SubTypeOfChangeIds != null ?
                Model.SubTypeOfChangeIds.Contains(o.ItemId) : false,
            Value = o.ItemId.ToString(),
            Text = o.Name
        }).ToList();

}

@section JavaScript {
    <script type="text/javascript" src="@Url.Content("~/Scripts/dropdown/dropdown.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/ResultsMatrix/ChangesMatrix/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/ResultsMatrix/VerifyContent/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vex.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/chosen.jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/controls.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Autonumeric/autoNumeric.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/General.js")></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Input.js")></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Table.js")></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Other.js")></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Pluging.js")></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/NewConfluence/Legacy.js")></script>
    <script>
            $(document).ready(function(){
                $('#pmrCycleImgState').tooltip();
            });
    </script>
}

@section CSS{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/ResultsMatrix/Common/VerifyContent.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/ResultsMatrix/MatrixChanges/main.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/baseplugins.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/basesite.css")">
    @Styles.Render("~/Content/NewConfluence/Generic.css")
    @Styles.Render("~/Content/NewConfluence/Button.css")
    @Styles.Render("~/Content/NewConfluence/Label.css")
    @Styles.Render("~/Content/NewConfluence/Table.css")
    @Styles.Render("~/Content/NewConfluence/Input.css")
    @Styles.Render("~/Content/NewConfluence/Icon.css")
    @Styles.Render("~/Content/NewConfluence/Other.css")
    @Styles.Render("~/Content/NewConfluence/Legacy.css")
}



@Html.Hidden("hdnDeletematrixChangeWarning", Url.Action("DeleteWarning", "ChangeMatrix", new { area = "ResultsMatrix" }))
@Html.Hidden("hdnDeletematrixChange", Url.Action("Delete", "ChangeMatrix", new { area = "ResultsMatrix" }))
@Html.Hidden("hdnIndexMatrixChange", Url.Action("Index", "ChangeMatrix", new { area = "ResultsMatrix" }))
@Html.Hidden("hdnChangeTypesPath", Url.Action("GetMatrixChangeTypesBySectionId", "ChangeMatrix", new { area = "ResultsMatrix" }))
@Html.Hidden("hdnChangeSubTypesPath", Url.Action("GetMatrixChangeSubTypesByChangeTypeId", "ChangeMatrix", new { area = "ResultsMatrix" }))
@Html.Hidden("resultMatrixMessage", Localization.GetText("RM.CTM.Filter.Message.Cycle.Validation"))

@Html.Hidden("currentView", "Edit");

@using (Html.BeginForm("Update", "ChangeMatrix", FormMethod.Post, new { id = "matrixChangeEditForm" }))
{
     
   <div class="mod_contenido_central change_to_the_matrix">

      <h3 class="headingh2">@Localization.GetText("Changes to the matrix")</h3>
      <div class="editingButtonsEdit up">
         <a href="@(Url.Action("Index", "ChangeMatrix", new { area = "ResultsMatrix", operationNumber = Model.Operation.OperationNumber }))" class="cancel" title="@Localization.GetText("Cancel")">@Localization.GetText("Cancel")</a>
         <label for="save">
            <input type="submit" class="btn-primary_2 save" value="@Localization.GetText("Save")" id="save">
         </label>
      </div>
      <div class="operationData dataDetails">
         <div class="data4">
            <p class="dataTitle">@Localization.GetText("PMR Cycle")</p>
            <p>@Model.PmrCycle.NameEn</p>
             <div id="pmrCycleImgState" title="@isCloseName">
                 @if (Model.PmrCycle.IsClosed)
                 {
                     <img src="~/Images/icons/inactive.png" />
                 }
                 else
                 {
                     <img src="~/Images/icons/active.png" />
                 }
             </div>
         </div>
         <div class="data4">
            <p class="dataTitle">@Localization.GetText("Last Update")</p>
            <p>
               @if (Model.LastUpdateDate.Year != 1)
               {
                  @String.Format("{0:dd MMM yyyy}", Model.LastUpdateDate)
               }
            </p>
         </div>
         <div class="data4">
            <p class="dataTitle">@Localization.GetText("PMR Validation stage")</p>
            <p>
               @if (Model.ValidationStage != null)
               {
                  @(Model.ValidationStage.NameEn)
          
               }
            </p>
         </div>
         <div class="data4">
            <p class="dataTitle">@Localization.GetText("Chief of Operations validation date")</p>
            <p>
               @if (Model.COValidationDate.Year != 1)
               {
                  @String.Format("{0:dd MMM yyyy}", Model.COValidationDate)
               }
            </p>
         </div>
         <div class="data4">
            <p class="dataTitle">@Localization.GetText("Division Chief validation date")</p>
            <p>
               @if (Model.DCValidationDate.Year != 1)
               {
                  @String.Format("{0:dd MMM yyyy}", Model.DCValidationDate)
               }
            </p>
         </div>
         <div class="data4">
            <p class="dataTitle">@Localization.GetText("Country representative validation date")</p>
            <p>
               @if (Model.CRValidationDate.Year != 1)
               {
                  @String.Format("{0:dd MMM yyyy}", Model.CRValidationDate)
               }
            </p>
         </div>
      </div>
      <div class="operationData">
         <div class="listWrapper">
            <dl class="ftl w90">
               <dt class="dataTitle">@Localization.GetText("Operation Objective")</dt>
               <dd class="dataText">
                  @if (Model.Operation.OperationData.Objective != null)
                  {
                     @Model.Operation.OperationData.Objective
                  }
               </dd>
            </dl>
            @if (!Model.IsThirdInterval && Model.Interval.IntervalId != IDB.MW.Domain.Models.Architecture.Enumerations.ResultsMatrixCodes.ThirdInterval && Model.isElegible)
            {
               <dl class="ftl w45">
                  <dt class="dataTitle">@Localization.GetText("Days Remaining to Enter and Validate Planned Information for the Duration of the Project")</dt>
                  <dd class="dataText">@Model.DaysRemaining</dd>
               </dl>
            }
         </div>
      </div>


        <div class="editingButtonsEdit">
            <a href="javascript:void(0)" id="btnSlideOptions" class="btn-primary filter-clauses" title=" @Localization.GetText("Show Filter")" data-state="hide">@Localization.GetText("Show Filter")</a>
        </div>
       <div  id="blockFilters" class="blockFilter">
           <div style="margin-bottom:30px">
               <div style="display:inline-block">
                   @Confluence.InputDropDownMulti(
                            "Cycles",
                            CycleMultiselect,
                            width: "250px",
                            placeholder: "Cycles")
               </div>
               <div style="display:inline-block">
                   @Confluence.InputDropDownMulti(
                            "Section",
                            sections,
                            width: "250px",
                            placeholder: "Section")
               </div>
               <div style="display:inline-block">
                   @Confluence.InputDropDownMulti(
                            "TypeOfChange",
                            types,
                            width: "250px",
                            placeholder: "Types of Change")
               </div>
               <div style="display:inline-block">
                   @Confluence.InputDropDownMulti(
                            "SubTypeOfChange",
                            subtypes,
                            width: "250px",
                            placeholder: "Subtype of Change")
               </div>
           </div>
           <div class="editingButtonsEdit">
               <a href="javascript:void(0)"
                  class="btn-primary filter-clauses"
                  title="@Localization.GetText("Clear")"
                  id="btnClearFilters">
                   @Localization.GetText("Clear")
           </a>

           <a href="javascript:void(0)"
              class="btn-primary filter-clauses"
              title="@Localization.GetText("Filter")"
              id="btnFilter"
              style="margin-right: 2em;"
              data-route="@(Url.Action("Index", "ChangeMatrix",
                        new
                        {
                            area = "ResultsMatrix",
                            operationNumber = Model.Operation.OperationNumber
                        }))">
               @Localization.GetText("Filter")
                   </a>

               </div>
           </div>

      @if (Model.MatrixChanges.Count() > 0)
      {
         <div class="mod_tabla mod_tabla_expandible edit">
            <div class="k-grid k-widget k-secondary">
               <table class="grid custom" data-role="grid" role="grid" id="grdMatrixChanges">
                  <colgroup>
                      <col>
                     <col>
                     <col>
                     <col>
                     <col>
                     <col>
                     <col>
                     <col>
                  </colgroup>
                  <thead class="k-grid-header">

                     <tr>
                        <th class="btn_azul_oscuro td_02 k-header" data-field="date" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Cycle")</a></th>
                        <th class="btn_azul_oscuro td_02 k-header" data-field="date" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Section")</a></th>
                        <th class="btn_azul_oscuro td_04 k-header" data-field="notification" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Name")</a></th>
                        <th class="btn_azul_oscuro td_02 k-header" data-field="workflow" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Type of Change")</a></th>
                        <th class="btn_azul_oscuro td_02 k-header" data-field="workflow" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Subtype")</a></th>
                        <th class="btn_azul_oscuro td_02 k-header" data-field="operation" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Modified by")</a></th>
                        <th class="btn_azul_oscuro td_02 k-header" data-field="operation" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Reasons")</a></th>
                        <th class="btn_azul_oscuro td_02 k-header" data-field="loan" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Entered in the System")</a></th>
                        <th class="btn_azul_oscuro k-header td_02" data-field="expanded" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#">@Localization.GetText("Agreed with Executing Agency")</a></th>
                        <th class="btn_azul_oscuro k-header td_02" data-field="expanded" data-role="sortable"><a class="k-header-column-menu" href="#" tabindex="-1" style="display: none;"><span class="k-icon k-i-arrowhead-s"></span></a><a class="k-link" href="#"></a></th>
                     </tr>
                  </thead>
                  <tbody id="changeMatrixTable">
                     @for (int i = 0; i < Model.MatrixChanges.Count(); i++)
                     {
                        <tr data-uid="fd58b86c-a82d-4498-b2de-dc19f8a4a14b" role="row" id="trow_@Model.MatrixChanges[i].MatrixChangeId">
                            <td role="gridcell">
                                <div class="txt_expandible">@Model.MatrixChanges[i].PmrCycleName</div>
                            </td>
                           <td role="gridcell">
                              @Html.HiddenFor(resultModel => resultModel.MatrixChanges[i].MatrixChangeId)
                              <span class="txt_expandible">@Model.MatrixChanges[i].ElementType.NameEn</span></td>
                           <td role="gridcell">
                              @*<div class="txt_expandible title">Pelientesque sit amet ultricies nunc. Integer aliquet aliquet convallis</div>*@
                              <div class="txt_expandible">@Model.MatrixChanges[i].ElementName</div>
                           </td>
                           <td role="gridcell">
                              <div class="txt_expandible ico_validation">@Model.MatrixChanges[i].MatrixChangeType.NameEn</div>
                           </td>
                           <td role="gridcell">
                              <div class="txt_expandible ico_validation">@(Model.MatrixChanges[i].MatrixChangeSubType == null ? Localization.GetText("N/A") : Model.MatrixChanges[i].MatrixChangeSubType.NameEn)</div>
                           </td>
                           <td role="gridcell">
                              <div class="txt_expandible ico_validation">@Model.MatrixChanges[i].ChangeUser</div>
                           </td>
                           <td role="gridcell">
                              @*<div class="txt_expandible">AR-L1142</div>*@
                              <div class="txt_expandible">@Model.MatrixChanges[i].ChangeReason</div>
                           </td>
                           <td role="gridcell">
                              <div class="txt_expandible">@String.Format("{0:dd MMM yyyy}", @Model.MatrixChanges[i].ChangeDate)</div>
                           </td>
                           <td role="gridcell">
                              <div class="data2">
                                 <div class="dateSelect">
                                    <label class="input" for="datepicker0">
                                       @Html.TextBoxFor(x => Model.MatrixChanges[i].AgreementDate, new { @class = "datepicker", placeholder = "MM/dd/yyyy", data_val_date = Localization.GetText("The field Agreement date must be a date.") })
                                    </label>
                                 </div>
                              </div>
                           </td>
                           <td role="gridcell last" class="" style="height: 75px;" onclick="displayContent(this);">
                              <div class="text_expanded">
                                 <fieldset>
                                    <legend class="title">@Localization.GetText("Reasons")</legend>
                                    @Html.TextAreaFor(resultModel => resultModel.MatrixChanges[i].ChangeReason, new { @rows = 10 })

                                    @{
                        if (IDBContext.Current.HasRole(Role.RM_ADMINISTRATOR))
                        {
                                       <div class="actionbar-matrix">
                                          <a class="btn_entypo first" title="@Localization.GetText("Delete")" href="#" style="width: 1.5em;height: 0.9em;" onclick="deleteChangeMatrixRow(this, @Model.MatrixChanges[i].MatrixChangeId);"><span></span></a>
                                       </div>
                        }
                                    }

                                 </fieldset>
                              </div>
                           </td>
                        </tr>
                     }
                  </tbody>
               </table>
            </div>
         </div>

      }
      @Html.HiddenFor(resultModel => resultModel.Operation.OperationNumber, new { data_val = "false" })

      @{ var style = ""; }
      @if (Model.MatrixChanges.Count <= 0)
      {
          style = "margin-left: 50em";
      }  

      <div>
         <div class="editingButtonsEdit up" style="@style">
            <a href="@(Url.Action("Index", "ChangeMatrix", new { area = "ResultsMatrix", operationNumber = Model.Operation.OperationNumber }))" class="cancel" title="@Localization.GetText("Cancel")">@Localization.GetText("Cancel")</a>
            <label for="save">
               <input type="submit" class="btn-primary_2 save" value="@Localization.GetText("Save")" id="save">
            </label>
         </div>
      </div>
   </div>
   
}









