
@model IDB.MW.Domain.Models.Architecture.Clauses.ContractModel

@{
    ViewBag.Title = "CreateEligibilityRequest";
    bool canSendToTrack = this.ViewBag.canSendToTrack;
}

<script>
    $(document).ready(function () {
        $("#CancelWarningDialog").click(function () {
            var route = $("#IndexContracts").val();
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

            idbg.lockUi(null, true);
            redirectPage(route);
        });

        $("#actionConfirmed").click(function () {
            var route = $("#EditContractToTrack").val();
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

            idbg.lockUi(null, true);
            redirectPage(route);
        });
    });
</script>

@Html.Hidden("EditContractToTrack", Url.Action("EditContractToTrack", "Contracts", new { area = "Clauses", contractId = Model.ContractId, mainOperationNumber = ViewBag.MainOperationNumber }))
@Html.Hidden("IndexContracts", Url.Action("Index", "Contracts", new { area = "Clauses", operationNumber = ViewBag.MainOperationNumber }))

<div style="padding: 20px;">
    @if (canSendToTrack) 
    {
         @Localization.GetText("This action cannot be undone, are you sure you wish to continue?"); 
    } 
    else 
    {
         @Localization.GetText("The contract should have the Last Disbursement Clause created before start tracking"); 
    }
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialog" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
        @if (canSendToTrack) 
        {
            <label for="save">
                <input type="button" value=" @Localization.GetText("Save")" class="btn-primary" id="actionConfirmed">
            </label>
        }
    </div>
</div>
