
@using IDB.Architecture.Language
@{
    ViewBag.Title = "CreateEligibilityRequest";
    bool canSendToRecord = this.ViewBag.canSendToRecord;
}

<script>
    $(document).ready(function () {
        $("#CancelWarningDialog").click(function () {
            var route = $("#IndexContracts").val();
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

            idbg.lockUi(null, true);
            redirectPage(route);
        });

        $("#actionConfirmed").click(function () {
            var route = $("#EditContractToRecord").val();
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

            idbg.lockUi(null, true);
            redirectPage(route);
        });
    });
</script>

@Html.Hidden("EditContractToRecord", Url.Action("EditContractToRecord", "Contracts", new { area = "Clauses", contractId = ViewBag.ContractId, mainOperationNumber = ViewBag.MainOperationNumber }))
@Html.Hidden("IndexContracts", Url.Action("Index", "Contracts", new { area = "Clauses", operationNumber = ViewBag.MainOperationNumber }))

<div style="padding: 20px;">
    @if (canSendToRecord) 
    {
         @Localization.GetText("This action cannot be undone, are you sure you wish to continue?")
    } 
    else 
    {
         @Localization.GetText("The contract should have clauses and extensions in final status before change its status to record")
    }
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("Cancel")" class="cancel" id="CancelWarningDialog" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
        @if (canSendToRecord) 
        {
            <label for="delete">
                <input type="button" value="@Localization.GetText("OK")"  title="@Localization.GetText("OK")" "btn-primary" id="actionConfirmed">
            </label>
        }
    </div>
</div>
