@using IDB.Presentation.MVC4.Areas.PMI.Controllers

@model bool
@{
    ViewBag.Title = "Index";
}


@section CSS
{

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/PMI/StageTwo/ui_pmi_002_graph.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Disbursement/disbursement.css")" />


}
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/PMI/StageThree/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/JQchartfx/jquery.jqChart.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modules/disbursement/disbursement.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modules/pmi/pmifunctions.js")"></script>

    <script type="text/javascript">

        (function (idbPMIStage2, $, undefined) {

            idbPMIStage2.init = function () {


                $.when(

                ).done(function (accumalteDisArgs, periodArgs, annualArgs, Percentage, PercentageAnnual) {


                });

            };


        }(window.idbPMIStage2 = window.idbPMIStage2 || {}, jQuery));

        $(document).ready(function () {
            var data ={};
            data = @Html.Raw(Json.Encode(ViewBag.PeriodGraphData));
            render_period_graph(data);
            data = @Html.Raw(Json.Encode(ViewBag.AnnualGraphData));
            render_annual_graph(data);
            data = @Html.Raw(Json.Encode(ViewBag.AccumalteDisbursementsGraphData));
            render_Accumalte_Disbursements_Graph(data);
            data = @Html.Raw(Json.Encode(ViewBag.PercentageProgress));
            render_initial_Percentage_Progress(data);
            data = @Html.Raw(Json.Encode(ViewBag.PercentageProgressAnnual));
            render_initial_Percentage_Progress_Annual(data);
        });
    </script>

    <script type="text/x-kendo-template" id="periodTableTemplate">
        <table id="" class="grid w95">
            <thead>
                <tr>
                    <th></th>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <th class="centerAlign">#= data.Raw[i].Year #</th>
                    #}#
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="blackColor boldFont">PV</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= kendo.toString(data.Raw[i].Planned == -1? "": data.Raw[i].Planned, "n") #</td>
                    #}#
                </tr>
                <tr>
                    <td class="blackColor boldFont">AC</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= kendo.toString(data.Raw[i].Actual == -1 ? "": data.Raw[i].Actual, "n") #</td>
                    #}#
                </tr>
                <tr>
                    <td class="blackColor boldFont">PV(a)</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= kendo.toString(data.Raw[i].AnnualPlanned == -1  ? "": data.Raw[i].AnnualPlanned, "n") #</td>
                    #}#
                </tr>
                <tr>
                    <td class="blackColor boldFont">EV(a)</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= kendo.toString(data.Raw[i].AnnualEarned == -1  ? "": data.Raw[i].AnnualEarned, "n") #</td>
                    #}#
                </tr>
                <tr>
                    <td class="blackColor boldFont">EV</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= kendo.toString(data.Raw[i].Earned == -1  ? "": data.Raw[i].Earned, "n") #</td>
                    #}#
                </tr>
            </tbody>
        </table>


    </script>

    <script type="text/x-kendo-template" id="anualTableTemplate">
        <table id="" class="grid w95">
            <thead>
                <tr>
                    <th></th>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <th class="centerAlign">#= data.Raw[i].Year #</th>
                    #}#
                </tr>
            </thead>
            <tbody class="alignLeft">
                # if(data.firstDisbursement == 1){#
                <tr>
                    <td class="blackColor boldFont">SPI</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= data.Raw[i].SchedulePerformance == -1   ? "": data.Raw[i].SchedulePerformance #</td>
                    #}#
                </tr>
                <tr>
                    <td class="blackColor boldFont">SPI(a)</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= data.Raw[i].AnnualSchedulePerformance == -1   ? "": data.Raw[i].AnnualSchedulePerformance #</td>
                    #}#
                </tr>
                <tr>
                    <td class="blackColor boldFont">CPI</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= data.Raw[i].CostPerformance == -1   ? "": data.Raw[i].CostPerformance #</td>
                    #}#
                </tr>
                <tr>
                    <td class="blackColor boldFont">CPI(a)</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= data.Raw[i].AnnualCostPerformance  == -1  ? "": data.Raw[i].AnnualCostPerformance #</td>
                    #}#
                </tr>
                #}#
                #if(data.firstDisbursement == 2){#
                <tr>
                    <td class="blackColor boldFont">SPI</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'></td>
                    #}#
                </tr>
                <tr>
                    <td class="blackColor boldFont">SPI(a)</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= data.Raw[i].AnnualSchedulePerformance == -1   ? "": data.Raw[i].AnnualSchedulePerformance #</td>
                    #}#
                </tr>
                <tr>
                    <td class="blackColor boldFont">CPI</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'></td>
                    #}#
                </tr>
                <tr>
                    <td class="blackColor boldFont">CPI(a)</td>
                    # for(i = 0; i< data.Raw.length; i++){#
                    <td class='leftAlign'>#= data.Raw[i].AnnualCostPerformance  == -1  ? "": data.Raw[i].AnnualCostPerformance #</td>
                    #}#
                </tr>
                #}#
            </tbody>
        </table>


    </script>
}

<div id="ui_pmi_001_graph" class="mod_contenido_central">
    @{
        Html.RenderAction("Header", "Stage", new
        {
            operationNumber = ViewBag.OperationNumber,
            stage = 2,
            calculateInMemory = true,
            isLive = Model
        });
    }

    <div class="editingButtonsEdit topMargin16px" style="margin-top: 60px;">
        <input type="button" class="tabButton active" id="graphBtn" value="@Localization.GetText("GRAPH")" data-route="@Url.Action(
        "Index",
        "StageTwo",
        new
        {
            area = "PMI",
            operationNumber = @ViewBag.OperationNUmber,
            calculateInMemory = true,
            isLive = Model
        })">
        <input type="button" class="tabButton graphLink" id="tableBtn" value="@Localization.GetText("TABLE")" data-route="@Url.Action(
        "IndexSummaryTable",
        "StageTwo",
        new
        {
            area = "PMI",
            operationNumber = @ViewBag.OperationNUmber,
            isLive = Model
        })">
    </div>

    @if (StageController.IsSpecialOperation((List<string>)ViewBag.OperationType))
    {
        <div class="topMargin16px">

            <div class="verticalMargin10" style="margin-left: 50px;margin-bottom:30px;">@Localization.GetText("% of Outputs Achieved of the plan at the project start up")</div>

            <div class="inline-block w48" style="width: 95%;">
                <div id="jqChart1" class="ui-jqchart" style="position: relative; height: 1000px; margin-left:30px;cursor: auto; width: 1000px;"></div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="verticalMargin10" style="margin-left: 50px;margin-bottom:30px;">@Localization.GetText("% of Outputs Achieved of the re-planned End of project (EOP)")</div>

            <div class="inline-block w48" style="width: 95%; height: 1000px; margin-bottom: 50px;">
                <div id="jqChart2" class="ui-jqchart" style="position: relative; height: 1000px; margin-left:30px;cursor: auto; width: 1000px;"></div>
            </div>


            <div class="verticalMargin10" style="margin-left: 35px;margin-top:50px;margin-bottom: 80px;">@Localization.GetText("Environmental and social safeguard perfomance rating")</div>
            <b style="margin-left: 40px" ;></b>
        </div>

    }
    else
    {

        <div class="topMargin16px">
            <div class="topMargin16px">
                <div class="" style="width: 95%; height: 80%; margin-left: 30px;">
                    <div class="verticalAlignMiddle" style="width: 100%; float: left; height: 80%">
                        <h4 id="nameAccumulateDisburId" class="verticalMargin10" style="margin-left: 20px;">@Localization.GetText("Accumulated disbursements as proportion of the total amount")</h4>
                        <!-- place holder Acumulated disbursements as a proportion of the total ammount -->
                        <div class="topMargin16px" id="accumalteDisbursementsGraph" style="width: 100%; height: 350px;"></div>
                    </div>
                </div>
            </div>
            <div class="verticalMargin40" style="margin-top: 30px; clear:both;">
                <div class="inline-block topMargin16px w50">
                    <div id="pvacevFunId" class="verticalMargin10" style="margin-left: 50px;">@Localization.GetText("PV, AC, EV, PV(a), EV(a)")</div>
                    <div class="verticalMargin10 marginLeft5">
                        <div id="periodGraph"></div>
                    </div>
                </div>
                <div class="inline-block w48" style="margin-top: 54px;">
                    <div id="pereiodDataTableHolder"></div>
                </div>
            </div>
            <div class="verticalMargin40">
                <div class="inline-block w50">
                    <h4 id="anualCpiSpiId" class="verticalMargin10" style="margin-left: 50px;">@Localization.GetText("CPI, Annual CPI, SPI, Annual SPI")</h4>
                    <div class="verticalMargin10 marginLeft5">
                        <div id="annualGraph"></div>
                    </div>
                </div>
                <div class="inline-block w48" style="margin-top: 54px;">
                    <div id="anualDataTableHolder"></div>
                </div>
            </div>
            <div id="outputsArchivedUpId" class="verticalMargin10" style="margin-left: 50px;margin-bottom:30px;">@Localization.GetText("% of Outputs Achieved of the plan at the project start up")</div>

            <div class="inline-block w48" style="width: 95%;">
                <div id="jqChart1" class="ui-jqchart" style="position: relative; height: 1000px; margin-left:30px;cursor: auto; width: 1000px;"></div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div id="outputsArchivedEofId" class="verticalMargin10" style="margin-left: 50px;margin-bottom:30px;">@Localization.GetText("% of Outputs Achieved of the re-planned End of project (EOP)")</div>

            <div class="inline-block w48" style="width: 95%; height: 1000px; margin-bottom: 50px;">
                <div id="jqChart2" class="ui-jqchart" style="position: relative; height: 1000px; margin-left:30px;cursor: auto; width: 1000px;"></div>
            </div>

        </div>


        <div id="expectedadicMonthsId" class="verticalMargin10" style="margin-left: 35px;margin-bottom:35px;">@Localization.GetText("Expected additional execution duration  (months)")</div>

        <b style="margin-left: 40px" ;>
            @{
                if (ViewBag.Expected != null && ViewBag.Expected != -2)
                {

                    @(double.Parse(String.Format("{0:0.##}", ViewBag.Expected)))
                }
            }

        </b>

            <div id="enviroAndSocialId" class="verticalMargin10" style="margin-left: 35px;margin-top:50px;margin-bottom: 80px;">@Localization.GetText("Environmental and social safeguard performance rating")</div>
            <b style="margin-left: 40px" ;></b>
                }




