
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS
{

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/PMI/StageTwo/ui_pmi_002_graph.css")" />

}

<div class="mod_contenido_central">
    @{
        Html.RenderAction("Header", "Stage", new
        {
            operationNumber = ViewBag.OperationNumber,
            stage = 2
        });   
    }
</div>

<div class="verticalMargin10" style="margin-left: 20px;">
    <form id="form">

           <div class="padding20" style="margin: auto; text-align: center;">
            @*<div id="ui_sp_001_edit" class="padding20 everisWidth" style="margin: auto; text-align: center;">
              <div class="relative h50px verticalMargin20">*@
               @*<h3 class="headingh2">404 - NOT-FOUND</h3>
                <h2 class="error">*@
             <h2>
               @if (ViewBag.NumberMessage == 1) 
                { 
                     @Localization.GetText("The operation does not have information available for this stage")
                }
                else if (ViewBag.NumberMessage == 2) 
                {
                     @Localization.GetText("The Results Matrix for this operation does not have Outputs for the year in analysis")
                }
            </h2>
            <img src="@Url.Content("~/Images/Modulos/assets/Mistakeimage.png")" Style="width:150px; height:150px; "/>
            <br />
         </div>
             
   </form>
    
</div>