@using IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.PMRPublic;
@using IDB.MW.Domain.Values;

@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.PMRPublic.PMRPublicReportModel
@{
    ViewBag.Title = "Index";
}

@section CSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
    <link rel="stylesheet" type="text/css"
          href="@Url.Content("~/Content/Modules/Administration/administration.css?v=01")" />
}

<script src="@Url.Content("~/Scripts/Modules/Administration/PMRPublic/main.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Administration/PMRPublic/filters.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Administration/PMRPublic/actions.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/js.cookie.js")"></script>

<h3 class="headingh2">@Localization.GetText("PMR Public")</h3>

<div class="w100">
        <h6 class="font1-5em AlignTitles">@Localization.GetText("Filters")</h6>
</div>

<div id="PMRPublicFilters" class="AlignTitles grayBackground padding20 font08em hideNI" style="display: block;">
    @using (Html.BeginForm("Index", "PMRPublic", FormMethod.Post, new { @id = "FormPMRPublic" }))
    {
        <div class="inline-block inputContainer w48">

            <div class="inline-block w70 verticalMargin10">

                <label for="countryDepartmentFilter" class="inline-block verticalAlignMiddle noPadding labelCustom">
                        @Localization.GetText("Country Department")
                </label>
                <br />
                <a id="CountryDepartmentFilter" class="aStyle"
                   data-route="@Url.Action("PMRPublicFilterCountries", "PMRPublic")"></a>

                @Html.ListBoxFor(
                    model => model.SelectedCountryDepartments,
                    new MultiSelectList(Model.CountryDepartments, "ConvergenceMasterDataId", "Name"),
                    new
                    {
                        @class = "MultiSelectCustomPMRPublic",
                        @id = "CountryDepartments"
                    })
            </div>

            <div class="inline-block w70 verticalMargin10">
                <label for="sectorDepartmentFilter" class="inline-block verticalAlignMiddle noPadding labelCustom ">
                        @Localization.GetText("Sector Department")
                </label>
                <br />
                <a id="SectorDepartmentFilter" class="aStyle"
                   data-route="@Url.Action("PMRPublicFilterDivisions", "PMRPublic")"></a>

                @Html.ListBoxFor(
                    model => model.SelectedSectorDepartments,
                    new MultiSelectList(Model.SectorDepartments, "ConvergenceMasterDataId", "Name"),
                    new
                    {
                        @class = "MultiSelectCustomPMRPublic",
                        @id = "SectorDepartments"
                    })
            </div>

            <div class="inline-block w70 verticalMargin10">
                <label for="pmrcyclefilter" class="inline-block verticalAlignMiddle noPadding labelCustom">
                        @Localization.GetText("PMR Cycle")
                </label>
                <br />
                @Html.DropDownListFor(
                    model => model.PMRCycles[0].PmrCycleId,
                    new SelectList(Model.PMRCycles, "PmrCycleId", "PmrCycleName"),
                    new
                    {
                        @class = "w100 kendoDropDown selectCustom",
                        @id = "PMRCycles"
                    })
            </div>

            <div class="inline-block w70 verticalMargin10">
                <label for="pmrvalidationstage" class="inline-block verticalAlignMiddle noPadding labelCustom">
                        @Localization.GetText("PMR Validation stage")
                </label>
                <br />
                @Html.ListBoxFor(
                    model => model.SelectedPMRValidationStages,
                    new SelectList(Model.PMRValidationStages, "ConvergenceMasterDataId", "Name"),
                    new
                    {
                        @class = "MultiSelectCustomPMRPublic",
                        @id = "PMRValidationStages"
                    })
            </div>

            <div class="inline-block w70 verticalMargin10">
                <label for="operationoverallstage" class="inline-block verticalAlignMiddle noPadding labelCustom">
                        @Localization.GetText("Overall Stage")
                </label>
                <br />
                @Html.ListBoxFor(
                    model => model.SelectedOperationOverallStages,
                    new SelectList(Model.OperationOverallStages, "ConvergenceMasterDataId", "Name"),
                    new
                    {
                        @class = "MultiSelectCustomPMRPublic",
                        @id = "OperationOverallStages"
                    })
            </div>

        </div>

        <div class="inline-block inputContainer w48">

            <div class="inline-block w52 verticalMargin10">
                <label for="countrysearch" class="inline-block verticalAlignMiddle noPadding labelCustom">
                        @Localization.GetText("Country")
                </label>

                <div id="dvCountriesLoading" class="inline-block" style="display:none">
                    <img src="~/Content/images/loading.gif">
                </div>

                <br />
                @Html.ListBoxFor(
                    model => model.SelectedCountries,
                    new SelectList(Model.Countries, "ConvergenceMasterDataId", "Name"),
                    new
                    {
                        @class = "MultiSelectCustomPMRPublic",
                        @id = "Countries"
                    })
            </div>

            <div class="inline-block w52 verticalMargin10">
                <label for="divisionsearch" class="inline-block verticalAlignMiddle noPadding labelCustom">
                        @Localization.GetText("Division")
                </label>

                <div id="dvDivisionsLoading" class="inline-block" style="display:none">
                    <img src="~/Content/images/loading.gif">
                </div>

                <br />
                @Html.ListBoxFor(
                    model => model.SelectedDivisions,
                    new SelectList(Model.Divisions, "ConvergenceMasterDataId", "Code"),
                    new
                    {
                        @class = "MultiSelectCustomPMRPublic",
                        @id = "Divisions"
                    })
            </div>

            <div class="inline-block w52 verticalMargin10">
                <label for="uploadsearch" class="inline-block verticalAlignMiddle noPadding labelCustom">
                        @Localization.GetText("Uploaded")
                </label>
                <br />
                @Html.DropDownListFor(
                    model => model.IsActive[0].Value,
                    new SelectList(Model.IsActive, "Value", "Name"),
                    new
                    {
                        @class = "kendoDropDown",
                        @id = "IsActive"
                    })
            </div>

            <div class="inline-block w52 verticalMargin10">
                <label for="authorizesearch" class="inline-block verticalAlignMiddle noPadding labelCustom">
                    @Localization.GetText("Authorize to be published")
                </label>
                <br />
                @Html.DropDownListFor(
                    model => model.IsAuthorize[0].Value,
                    new SelectList(Model.IsAuthorize, "Value", "Name"),
                    new
                    {
                        @class = "kendoDropDown",
                        @id = "IsAuthorize"
                    })
            </div>

        </div>

        <div class="verticalMargin30 filtersPanelContainer" align="right">
            <input id="clearButtonPMRPublic" type="button"
                    class="filters button blueButton buttonMargins width150px" value="@Localization.GetText("Clear All")">
            <input type="button" class="filters button blueButton buttonMargins width150px"
                data-url="@Url.Action("Index", "PMRPublic")"
                       id="filterButtonPMRPublic" value="@Localization.GetText("Filter") " title="@Localization.GetText("Filter") ">
        </div>

        <input type="hidden" id="operations" name="operations" />
        <input type="hidden" id="pmrCycleId" name="pmrCycleId" /> 
        <input type="hidden" id="pmrCycleName" name="pmrCycleName" />
        <input type="hidden" id="authorizeDocuments" name="authorizeDocuments" />
    }
</div>

<div class="AlignTitles verticalMargin40 checkAllPanelContainer checkersPanelContainer">
    <input id="UncheckAllAuthorize" type="button" 
        class="button blueButton alignFilterButtonRight buttonMargins"
               value="@Localization.GetText("Clear all authorize")">
    <input id="CheckAllAuthorize" type="button"
                class="button blueButton alignFilterButtonRight buttonMargins"
                value="@Localization.GetText("Check all authorize")">
    <input id="UncheckAllUpload" type="button"
        class="button blueButton alignFilterButtonRight buttonMargins"
                value="@Localization.GetText("Clear all upload")">
    <input id="CheckAllUpload" type="button"
        class="button blueButton alignFilterButtonRight buttonMargins"
                value="@Localization.GetText("Check all upload")">
</div>

<div class="verticalMargin40 mod_style mod_tabla_plegable mod_style_plegable tableContainer">
    <div id="idpartial">
        @Html.Partial("~/Areas/Administration/Views/PMRPublic/Partial/_PMRPublicTablePartial.cshtml")
    </div>
</div>

<div class="AlignTitles verticalMargin40 buttonsPanelContainer">
    <input type="button"
        class="button blueButton alignFilterButtonRight buttonMargins width150px"
        id="AuthorizePMRPublic" data-route="@Url.Action("AuthorizeReports", "PMRPublic",
        new {area = "Administration"})"
               value="@Localization.GetText("Authorize") " title="@Localization.GetText("Authorize")">

    <input type="button"
           class="button blueButton alignFilterButtonRight buttonMargins width200px"
           id="UploadPMRPublic" 
           data-route="@Url.Action("GenerateReportsAndSendToIDBDocs", "PMRPublic", new { area = "Administration" }) "
               value=" @Localization.GetText("Upload to IDB Docs") " 
               title=" @Localization.GetText("Upload to IDB Docs") ">

    <input type="hidden" id="reportParametersPDF" name="reportParametersPDF" />
    <a id="PDFButton" title=" @Localization.GetText("Export PDF") "
       class="alignFilterButtonRight imageMargins exportdata pdf pdfbuttonstyle"></a>
</div>

<script type="text/javascript">
    var fileDownloadPmrPublicReportCheckTimer;

    function finishDownloadPmrPublicReport() {
        window.clearInterval(fileDownloadPmrPublicReportCheckTimer);
        Cookies.remove('@PMRGlobalValues.COOKIE_REPORT_READY_PMR_PUBLIC_PDF_COMPOSITE');
        idbg.lockUi(null, false);
    }

    $("#PDFButton").on("click", function () {
        var data = {};
        data.reportParametersPDF = getReportParameters();

        if (data.reportParametersPDF == "&") {
            return;
        }

        var url = '@Url.Action("GeneratePDFCompositeReport", "PMRPublic", new { area = "Administration" })';
        url = url + '?reportParametersPDF=' + encodeURIComponent(data.reportParametersPDF);

        var message = '@Localization.GetText("PMR.Report.Cognos.Message")';
        idbg.lockUi(null, true, message);

        fileDownloadPmrPublicReportCheckTimer = window.setInterval(function () {
            if (Cookies.get('@PMRGlobalValues.COOKIE_REPORT_READY_PMR_PUBLIC_PDF_COMPOSITE') != undefined)
                finishDownloadPmrPublicReport();
        }, 5000);

        window.open(url, '_self');
    });
</script>