@{
    Layout = "../../Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Partials/IndexHeaderAndButtonsView")

</div>
<div class="row">
    @Html.Partial("Partials/IndexContentTaskView")
</div>
<div>
    @Html.Partial("Partials/IndexDataComment")
</div>
<div>
    @Html.Partial("Partials/IndexDataCommentEditView")
</div>
<div>
    @Html.Partial("Partials/IndexButtonEditView")
</div>

