@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers;
@using IDB.Architecture.Language;
@using System.Globalization

@model List<IDB.MW.Application.AdministrationModule.ViewModels.MasterData.TableMasterDataTypeViewModel>

@{
    Layout = "~/Areas/AdministrationSecondPhase/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/NewConfluence/Generic.css")
@Styles.Render("~/Content/NewConfluence/Button.css")
@Styles.Render("~/Content/NewConfluence/Label.css")
@Styles.Render("~/Content/NewConfluence/Table.css")
@Styles.Render("~/Content/NewConfluence/Input.css")
@Styles.Render("~/Content/NewConfluence/Icon.css")
@Styles.Render("~/Content/NewConfluence/Other.css")
@Styles.Render("~/Content/NewConfluence/Legacy.css")

<div class="header">
    <div class="col-md-12 mb40">
        @Confluence.LabelMainTitle(Localization.GetText("OP.MD.SE.Title"))
    </div>

    <div class="row">
        <div class="col-md-4">
            @Confluence.InputButton(null, "txtGetMasterType", "filtrarGrilla", placeholder: @Localization.GetText("OP.MD.SE.Search"))
        </div>
    </div>
</div>

<div class="row">
    <div class="pull-right mb40">
        @Confluence.ButtonBlue(@Localization.GetText("OP.MD.SE.New.ClearAll"), action: "ClearMasterData")
        @Confluence.ButtonBlue(@Localization.GetText("OP.MD.SE.New"), action: "NewMasterData")
    </div>
</div>

<div class="row MarginLeft15 MarginBottom20">
    <div class="row MarginLeft15 MarginBottom20" id="tableMasterdataContent">
        @Html.Partial("Partial/DataTables/TableMasterData")
    </div>
</div>

<div class="footer">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>
@section scripts{
               <script type="text/javascript">

    $(document).ready(function () {
        var elementFrame = window.parent.document.getElementsByName('someFrame')[0];
        elementFrame.removeAttribute("height");
        elementFrame.removeAttribute("style");
        loadingFunctions();
        $("#MasterDataTable").paginationConfluense(10);
    });

    function loadingFunctions() {
        $('[name="btnInactive"]').attr("dd-borrar", "");
        $(".ctrl.selectFilter").dropDownSeachBox();
        $("#MasterDataTable").paginationConfluense(10);
    }

    $("input[name='txtGetMasterType_text']").on("keydown", function(e) {
        if (e.keyCode === 13) {
            filtrarGrilla(e);
        }
    });
    function filtrarGrilla() {
        var filter = $('input[name=txtGetMasterType_text]').val();
        var response = postUrl('@Url.Action("SearchFilter", "MasterDataView", new { area = "AdministrationSecondPhase" })', { filter: filter }).responseText;
        $('#tableMasterdataContent').empty();
        $('#tableMasterdataContent').append(response);
        loadingFunctions();
        return false;
    }
    function NewMasterData() {
        var url = "@Url.Action(controllerName: "MasterDataView", actionName: "Management", routeValues: new { filter = 0 })";
        window.location.href = url;
    }

        function ClearMasterData() {
            $('input[name="txtGetMasterType_text"]').val('');
            $('#MasterDataTable').find("tr:not(:first)").remove();
            $('div.Pagination[dd-table=MasterDataTable]').remove();
    }

    function ClearMasterData() {
        $('input[name="txtGetMasterType_text"]').val('');
        $('#MasterDataTable').find("tr:not(:first)").remove();
        $('div.Pagination[dd-table=MasterDataTable]').remove();
        filtrarGrilla();
        loadingFunctions();
    }

</script>

}

