@using IDB.Architecture.Language

<div data-id-selector="add-form" class="document-upload-region">
    <form method="POST" enctype="multipart/form-data" data-id="addForm"
          action="@Url.Action("IDBDocUploadDocument", "DocumentModal", new { area = "", businessAreaCode = "BA_ESG" })">

        <div class="upload-instructions">@Localization.GetText("OP.Document.Add.Instructions")</div>
        <div class="upload-extensions">@Localization.GetText("DM.Document.Add.Extensions")</div>

        <div class="upload-container">
            <input type="file" name="file" @*multiple="multiple"*@ accept=".pdf, .xls, .xlsx, .pst, .ppt, .pptx, .mpp, .pub, .vsd, .vss, .vst, .vdx, .vsx, .vtx, .doc, .docx, .wpd, .msg">
            <ul class="parsley-errors-list filled hide" data-name="file-error">
                <li>@Localization.GetText("DM.Document.Add.ExtensionError")</li>
            </ul>
            <ul class="parsley-errors-list filled hide" data-name="file-empty">
                <li>@Localization.GetText("DM.Document.Add.EmptyFile")</li>
            </ul>
        </div>
    </form>
</div>