<div class="row">
    <div class="col-md-6">
        @Confluence.LabelMainTitle("Create Instance")<br/><br />
        <div class="form-group">
            @Confluence.Label("Id for template")<br/>
            @Confluence.InputNumber(7, "idTemplate", true, ",", "1", null, new Dictionary<string, string>() {{"id", "idTemplate"}})
        </div>
        <div class="form-group">
            @Confluence.Label("Initial action")<br />
            @Confluence.InputDropDown(ViewBag.InitialActionId.ToString(), "IdInitialAction", ViewBag.InitialActionList)
        </div>
        <div class="form-group">
            @Confluence.Label("Id for InputNumberoperation")<br/>
            @Confluence.InputText(IDB.MW.Domain.Session.IDBContext.Current.Operation, "idInputNumberOperation", null, null, true)
        </div>
        @Confluence.ButtonBlue(Localization.GetText("Create"), action: "create", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditBscDt" } })
    </div>
    <div class="col-md-6">
        @Confluence.LabelMainTitle("Automatic submit")<br/><br/>
        @Confluence.ButtonBlue(Localization.GetText("VER.GLOBAL.Submit"), action: "automaticSubmit", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditBscDt" } })
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Confluence.LabelMainTitle("Remove Folder")
        <div class="form-group">
            @Confluence.Label("Name folder in sharepoint")
            @Confluence.InputText("", "idInputFolder", null, null, true)
        </div>
        @Confluence.ButtonBlue(Localization.GetText("VER.GLOBAL.Submit"), action: "deleteFolderSharepoint", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "btnEditBscDt" } })
    </div>
</div>

<script type="text/javascript">
    function deleteFolderSharepoint(source) {
        var idInputOperationNumber = $("input[name='idInputNumberOperation']").val();
        var idInputFolder = $("input[name='idInputFolder']").val();
        postUrlWithOptions('@Url.Action("DeleteFolderSharepoint", "VirtualEditingRoom", new { area = "VER" })', { async: false }, { operationNumber: idInputOperationNumber, folderName: idInputFolder})
           .done(function (data) {
               if (data.IsValid === true) {
                   showMessage("Folders" + idInputFolder + " deleted for operationNumber: " + idInputOperationNumber);
               }
               else {
                   showMessage(data.ErrorMessage);
               }
           });
    }
    function create() {
        var idTemplate=$("input[name='idTemplate']").val();
        var idInputOperationNumber = $("input[name='idInputNumberOperation']").val();
        var idInitialAction = $("[name='IdInitialAction']").val();
        postUrlWithOptions('@Url.Action("VerInstance", "VirtualEditingRoom", new { area = "VER" })', { async: false }, { operationNumber: idInputOperationNumber, template: idTemplate, initialAction: idInitialAction })
            .done(function(data) {
                if (data.IsValid === true) {
                    window.location = "@Url.Action("Index","VirtualEditingRoom", new {area="VER"})"+"?operationNumber="+ idInputOperationNumber;

                } else {
                    showMessage(data.ErrorMessage);
                }
            });
    }

    function automaticSubmit() {
       postUrlWithOptions('@Url.Action("AutomaticSubmitTest", "VirtualEditingRoom", new { area = "VER" })', { async: true })
            .done(function(data) {
                if (data.IsValid === true) {
                    showMessage("Automatic submit");
                }
            });
    }
</script>