@using IDB.Architecture.Language

<div class="row row-body-40">
    <div class="col-md-6">
        @Confluence.LabelSubTitleGroup(text: Localization.GetText("OP.MS.MissionWorkflowComments.Comments"), htmlClass: "bold")
    </div>
    <div class="col-md-6 text-right" data-pagemode="edit">
        @Confluence.ButtonBlue(text: Localization.GetText("OP.MS.New"), action: "newComment", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnNewComment" } })
    </div>
</div>
<div class="row row-body-40">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" id="divWorkflowComments">
                @if (Model.UserComments != null)
                {
                    var classSpan = "";

                    foreach (var comment in Model.UserComments)
                    {
                        classSpan = "template dont-hide-at-edit";

                        if (Model.UserName.Equals(comment.CreatedBy))
                        {
                            classSpan = "data-pagemode=read";
                            <div data-pagemode="edit" class="pb20">
                                @Confluence.InputCommentBox(section1: Confluence.Label(comment.Created.ToString("yyyy MMM dd")), section2: Confluence.Label(comment.CreatedBy), section3: null, value: comment.Text, name: "txtDescriptionComent", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtTextComment01" } })
                                @Confluence.InputHidden(value: Convert.ToString(comment.UserCommentId), name: "commentId")
                                @Confluence.ButtonTrash(text: "", action: "deleteComment", dataAttributes: new Dictionary<string, string> { { "commentId", Convert.ToString(comment.UserCommentId) }, { "idb-fieldname", "btnDeleteComment" } })
                            </div>
                        }

                        <span @classSpan>@Confluence.InputCommentBox(section1: Confluence.Label(comment.Created.ToString("yyyy MMM dd")), section2: Confluence.Label(comment.CreatedBy), section3: null, value: comment.Text, name: "txtDescriptionComent", isReadOnly: true, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "txtTextComment02" } })</span>
                    }
                }
            </div>

        </div>
        <span data-pagemode="edit">@Confluence.InputHidden(value: "", name: "deleteComments", required: false)</span>
    </div>
</div>
