@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.ClauseReport.ClauseReport
@{
    ViewBag.Title = "Index";
}


<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/cl_ui_rt_002.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ClauseHistoryCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Reports/ClauseHistoryScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/CommonRuleReports.js")"></script>


<div class="verticalMargin20 w100">
    @if ((bool)ViewBag.isTCOperation && ViewBag.TypeBank)
    {
        <h3 class="font2em AlingTitles">@Localization.GetText("CL.ClauseAndConditionsHistoryReport")</h3>
    }
    else
    {
        <h3 class="font2em AlingTitles">@Localization.GetText("Clauses History Report")</h3>
    }
</div>
<div class="relative h50px verticalMargin40">
    @if ((bool)ViewBag.isTCOperation && ViewBag.TypeBank)
    {
        <h4 class="font1-5em absolute AlingTitles">@Localization.GetText("CL.ExtensionClausesAndConditionsHistoryReport")</h4>
    }
    else
    {
        <h4 class="font1-5em absolute AlingTitles">@Localization.GetText("Extension clauses history report")</h4>
    }
    <input type="button" class="absolute absRight button blueButton alingFilterButtonRigth buttonCustomSize" id='showFilterButtonReportsCL002' value=" @Localization.GetText("Filter") ">
</div>

@using (Html.BeginForm("Index", "ClauseExtensionReport", FormMethod.Post, new { @id = "FormClauseExtension" }))
{
    @Html.HiddenFor(x => x.OperationID);
    @Html.HiddenFor(x => x.ExportType);

    <div id="searchBoxContainerReportsCL002" class="padding20 grayBackground font08em hideNI" style="display: block">

        <div class="centerContent w96 relative h50px firstContent">

            <div class="inline-block inputContainer w37 absolute listContainerCustom">
                <div class="w80 verticalAlignMiddle">
                    <label for="ContractNumber" class="verticalAlignMiddle noPadding no_margin labelCustomClause">@Localization.GetText("Contract number")</label>
                    @Html.ListBoxFor(x => x.ContractNumber, new MultiSelectList(ViewBag.ListContractNumber, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustom" })
                </div>
            </div>

            <div class="inline-block w65 rightAlign absRight absolute dateContainerCustom">
                <div class="inline-block verticalAlignMiddle">@Localization.GetText("Request expiration date")</div>
                <div class="inline-block verticalMargin20 w75 verticalAlignMiddle">
                    <label for="dateFromFilterReports" class="inline-block verticalAlignMiddle noPadding">@Localization.GetText("Date From")</label>
                    <div class="inline-block verticalAlignMiddle w33">
                        @Html.TextBoxFor(x => x.SubmissionDate, new { @placeholder = "DD Mmm YY", @class = "kendoDatePicker" })
                    </div>
                    <label for="dateToFilterReports" class="rightAlign inline-block verticalAlignMiddle noPadding no_margin">@Localization.GetText("To")</label>
                    <div class="inline-block verticalAlignMiddle w33">
                        @Html.TextBoxFor(x => x.LastStatusChangeDate, new { @placeholder = "DD Mmm YY", @class = "kendoDatePicker" })
                    </div>
                </div>
            </div>

        </div>

        <div class="centerContent w96 relative h50px secontContent">

            <div class="inline-block inputContainer w37 absolute listContainerCustom">
                <div class="w80 verticalAlignMiddle">
                   @if ((bool)ViewBag.isTCOperation && ViewBag.TypeBank)
                   {
                    <label for="" class="verticalAlignMiddle noPadding no_margin labelCustomClause"> @Localization.GetText("CL.ClauseOrConditionNumber")</label>
                        @Html.TextBoxFor(x => x.ClauseNumber, new { @placeholder = Localization.GetText("CL.ClauseOrConditionNumber"), @class = "grayBorder", @style = "width:23em;", @maxlength = "32" })
                   }
                   else
                   {
                    <label for="" class="verticalAlignMiddle noPadding no_margin labelCustomClause"> @Localization.GetText("Clause number")</label>
                        @Html.TextBoxFor(x => x.ClauseNumber, new { @placeholder = Localization.GetText("Clause number"), @class = "grayBorder", @style = "width:23em;", @maxlength = "32" })
                   }
                </div>
            </div>

            <div class="inline-block w65 rightAlign absRight absolute dateContainerCustom">
                <div class="inline-block verticalAlignMiddle">@Localization.GetText("Extension approved date")</div>
                <div class="inline-block verticalMargin20 w75 verticalAlignMiddle">
                    <label for="dateFromExtensionApprovedFilterReports" class=" inline-block verticalAlignMiddle noPadding">@Localization.GetText("Date From")</label>
                    <div class="inline-block verticalAlignMiddle w33">
                        @Html.TextBoxFor(x => x.OriginalExpirationDate, new { @placeholder = "DD Mmm YY", @class = "kendoDatePicker" })

                    </div>
                    <label for="dateToExtensionApprovedFilterReports" class="rightAlign inline-block verticalAlignMiddle noPadding no_margin">@Localization.GetText("To")</label>
                    <div class="inline-block verticalAlignMiddle w33">
                        @Html.TextBoxFor(x => x.CurrentExpirationDate, new { @placeholder = "DD Mmm YY", @class = "kendoDatePicker" })
                    </div>
                </div>
            </div>

        </div>

        <div class="centerContent w96 relative h50px thirdContend">
            <div class="inline-block inputContainer w33 absolute listContainerCustom">
                <div class="w96 verticalAlignMiddle">
                    @if ((bool)ViewBag.isTCOperation && ViewBag.TypeBank)
                    {
                        <label for="ClauseCategory" class="noPadding no_margin labelCustomClause"> @Localization.GetText("CL.ClauseOrConditionCategory")</label>
                    }
                    else
                    {
                        <label for="ClauseCategory" class="noPadding no_margin labelCustomClause"> @Localization.GetText("Clause category")</label>
                    }
                    @Html.ListBoxFor(x => x.ClauseCategory, new MultiSelectList(ViewBag.ClauseCategory, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustom" })
                </div>
            </div>

            <div class="inline-block inputContainer w33 absolute left34 listContainerCustom">
                <div class="inline-block w96 verticalAlignMiddle">
                    @if ((bool)ViewBag.isTCOperation && ViewBag.TypeBank)
                    {
                        <label for="ClauseType" class="noPadding no_margin labelCustomClause"> @Localization.GetText("CL.ClauseOrConditionType")</label>
                    }
                    else
                    {
                        <label for="ClauseType" class="noPadding no_margin labelCustomClause"> @Localization.GetText("Clause type")</label>
                    }
                    @Html.ListBoxFor(x => x.ClauseType, new MultiSelectList(ViewBag.ClauseType, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustom" })
                </div>
            </div>

            <div class="inline-block inputContainer w33 absolute absRight  listContainerCustom">
                <div class="inline-block w96 verticalAlignMiddle">
                    @if ((bool)ViewBag.isTCOperation && ViewBag.TypeBank)
                    {
                        <label for="ClauseLocation" class="noPadding no_margin labelCustomClause"> @Localization.GetText("CL.ClauseOrConditionLocation")</label>
                    }
                    else
                    {
                        <label for="ClauseLocation" class="noPadding no_margin labelCustomClause"> @Localization.GetText("Clause location")</label>
                    }
                    @Html.ListBoxFor(x => x.ClauseLocation, new MultiSelectList(ViewBag.ClauseLocation, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustom" })
                </div>
            </div>

        </div>

        <div class="centerContent w96 relative h50px checkContainerCustom fourthContend">
            <div class="inline-block inputContainer w30 absolute">
            </div>
        </div>

        <div class="verticalMargin20 rightAlign w96">
            <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad" id="AjaxLoadForClauseHistoryReport" />
            <span class="alingImageRigth">
                <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad AjaxExportRight" id="AjaxLoadForClauseHistoryReportExport" />
            </span>
            <input id="Btn_Clear" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Clear All")">
            <input id="Btn_ExportExcelClauseHistoryReport" type="button" class="button blueButton buttonCustomSize" value="Export Excel">
            <input id="Btn_ExportdPDFClauseHistoryReport" type="button" class="button blueButton buttonCustomSize" value="Export PDF">
            <input type="submit" class="button blueButton buttonCustomSize yellowButton" value="@Localization.GetText("Submit")">
            <a id="LinkExportClauseHistoryReport" class="noShow" data-route="@Url.Action("ExportClauseHistoryReport", "ClauseExtensionReport")"></a>
        </div>
    </div>
    <div style="padding-left:15px;">
        <iframe id="frameReportClausesHistory" class="iframeReportsCustom"></iframe>
    </div>
}