@using IDB.Presentation.MVC4.Helpers

<div class="row row-header">
    <div class="col-md-4">
        <p>
            @Localization.GetText("PCR.MonitoringReport.MonitoringStatus")
        </p>
    </div>
    <div class="col-md-4">        
        <p>
            @Localization.GetText("PCR.MonitoringReport.ExerciseYear")
        </p>    
    </div>
    <div class="col-md-4">       
        <p>
            @Localization.GetText("PCR.MonitoringReport.DivisionGrouping")
        </p>   
    </div>
</div>

<div class="row row-body-40">
    <div class="col-md-4">        
        @ControlTemplatesPCR.DropDownSelectReport("monitoringStatus", (List<System.Web.Mvc.SelectListItem>)@ViewBag.MonitoringStatusList, true, "select-monitoring-report", 6)        
    </div>
    <div class="col-md-4">       
        @ControlTemplatesPCR.DropDownSelectReport("exerciseYear", (List<System.Web.Mvc.SelectListItem>)@ViewBag.ExerciseYearList, true, "select-monitoring-report", 6, false)        
    </div>
    <div class="col-md-4">            
        <div class="arrow-blue">
            @ControlTemplatesPCR.DropDownSelectReport("divisionGrouping", (List<System.Web.Mvc.SelectListItem>)@ViewBag.DivisionGroupingList, false, "select-monitoring-report")
        </div>    
    </div>
</div>


<div class="row row-header">
    <div class="col-md-4">      
            <p>
                @Localization.GetText("PCR.MonitoringReport.CountryDepartment")
            </p>       
    </div>
    <div class="col-md-4">       
            <p>
                @Localization.GetText("PCR.MonitoringReport.SectorDepartment")
            </p>      
    </div>
    <div class="col-md-4">      
            <p>
                @Localization.GetText("PCR.MonitoringReport.Operations")
            </p>       
    </div>
</div>

<div class="row row-body-40">
    <div class="col-md-4">       
            @ControlTemplatesPCR.DropDownSelectReport("countryDepartment", (List<System.Web.Mvc.SelectListItem>)@ViewBag.CountryDepartmentList, true, "select-monitoring-report", 6, false)        
    </div>
    <div class="col-md-4">       
            @ControlTemplatesPCR.DropDownSelectReport("sectorDepartment", (List<System.Web.Mvc.SelectListItem>)@ViewBag.SectorDepartmentList, true, "select-monitoring-report", 6, false)        
    </div>
    <div class="col-md-4">        
            @ControlTemplatesPCR.DropDownSelectReport("operations", (List<System.Web.Mvc.SelectListItem>)@ViewBag.OperationsList, true, "select-monitoring-report", 6, false)       
    </div>
</div>

<div class="row row-header">
    <div class="col-md-4">
        <p>
            @Localization.GetText("PCR.MonitoringReport.Country")
        </p>       
    </div>
    <div class="col-md-4">
        <p>
            @Localization.GetText("PCR.MonitoringReport.Division")
        </p>        
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row row-body-50">
    <div class="col-md-4">        
        @ControlTemplatesPCR.DropDownSelectReport("country", (List<System.Web.Mvc.SelectListItem>)@ViewBag.CountryList, true, "select-monitoring-report", 6, true)        
    </div>
    <div class="col-md-4">      
        @ControlTemplatesPCR.DropDownSelectReport("division", (List<System.Web.Mvc.SelectListItem>)@ViewBag.DivisionList, true, "select-monitoring-report", 6, true)     
    </div>
    <div class="col-md-4">
    </div>
</div>
