<span id="delete-outcome-indicator-message" style="display:none">
    <b>@Localization.GetText("TCM.DOI.DeleteOutcomeIndicator.TextMessageWarning")</b>
    <br /><br />
    @Localization.GetText("TCM.DO.DeleteOutcomeStatement.UndoneActionMessage")
</span>

<span id="delete-outcome-disaggregation-message" style="display:none">
    <b>@Localization.GetText("TCM.DOD.DeleteOutomeDisaggregation.MessageWarning")</b>
    <br /><br />
    @Localization.GetText("TCM.DOD.DeleteOutomeDisaggregation.MessageByDeleteDisaggregation")
</span>

<span id="reassign-indicator-non-outcomes-message" style="display:none">
    @Localization.GetText("TCM.RO.ReassignOutcomeIndicator.TextNonExistingOutcomes")
</span>

<span id="reassign-outcome-indicator-title" style="display:none">
    @Localization.GetText("TCM.RO.ReassignOutcomeIndicator.ReassignOutcomeIndicatorStatement")
</span>

<span id="delete-outcome-indicator-validated-year-plan-message" style="display: none">
    @Localization.GetText("TCM.DOI.DeleteOutcomeIndicator.TexDeleteValidatedOutcome")
</span>

<span id="confirm-change-warning-title" style="display: none">
    @Localization.GetText("This action cannot be undone. Are you sure?")
</span>

