@using IDB.Presentation.MVC4.Helpers

@model IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Outcomes.OutcomeIndicatorDetailViewModel

<div id="PageContent">

    @Html.Partial("Partials/PartialDetailHeader", Model)

    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel"/>
    <div data-pagemode="edit">
        <input type="hidden" name="hdOutcomeId" value="@Model.OutcomeId"/>
        <input type="hidden" name="hdOutcomeIndicatorId" value="@Model.OutComeIndicatorId" />
        <input type="hidden" name="hdOutcomeStatementName" value="@Model.OutcomeStatementName"/>
        <input type="hidden" name="hdOutcomeIndicatorName" value="@Model.OutcomeIndicatorName"/>
        <input type="hidden" name="hdSaveInRM" value="@(Model.RegisterInMatrixChange.ToString() ?? "false")"/>
        <input type="hidden" name="hdTcReportingPeriod" value="@(Model.TcmReportingPeriod)" />
    </div>

    <div class="col-md-12">
        <div class="desheadingh3 ml55">
            <p class="description">@Model.OutcomeStatementName </p>
        </div>
    </div>
    <div class="col-md-12 mb20 ml55">
        <h3 class="headingh2 tipo1"> @Model.OutcomeIndicatorName </h3>
    </div>
    <div class="col-md-12 mb25">
        <h5 class="headingh4" style="margin-bottom: 2em">@Localization.GetText("TCM.Outcome.IndicatorDetail.Body")</h5>
    </div>
    <div class="col-md-12">
        <div class="desheadingh3 ml55">
            <p class="description tipo1">@Localization.GetText("TCM.Outcome.IndicatorDetail.MeansOfVerification")</p>
        </div>
    </div>
    <div class="col-md-12 mb25 bold ml55">
        <span data-pagemode="read">
            @Model.MeansOfVerification
        </span>
         @if (SecurityHelper.IsVisible(Model.FieldAccessList, "txtOutcomeMeansOfVerification"))
         {
            <span data-pagemode="edit">
                @Confluence.InputText(Model.MeansOfVerification, "MeansOfVerification", 500, required: false, width: "40%", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOutcomeMeansOfVerification" } })
                <input type="hidden" value="@Model.MeansOfVerification" name="original-MeansOfVerification" />
            </span>
         }
    </div>
    <div class="col-md-12 ml55">
        <span data-pagemode="read">
            @Confluence.InputCheckbox(Model.IsAutoCalcEop, "IsAutoCalcEop", label: Localization.GetText("TCM.Outcome.IndicatorDetail.AddAnnualValues"), disabled: true)
        </span>
        <span data-pagemode="edit">
            @Confluence.InputCheckbox(Model.IsAutoCalcEop, "IsAutoCalcEop", label: Localization.GetText("TCM.Outcome.IndicatorDetail.AddAnnualValues"), dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "chkedOutcomeIsAutoCalcEOP" } })
        </span>
    </div>

</div>
