<div>
    <div>
        @Confluence.Label(Localization.GetText("TCM.DO.DeleteOutcomeStatement.TextIfUpdatedOther"))
    </div>
    <div>
        @Confluence.Label(Localization.GetText("TCM.DO.DeleteOutcomeStatement.OutcomeStatement"))
    </div>
    <div>
        @Confluence.Label(Localization.GetText("TCM.DO.DeleteOutcomeStatement.TextUnlessReassigned"))
    </div>
    <div style="width: 40%; align-content: center;">
        <table class="tableNormal">
            <thead>
            <tr>
                <th>@Localization.GetText("TCM.DO.DeleteOutcomeStatement.OutcomeIndicator")</th>
                <th>@Localization.GetText("TCM.DO.DeleteOutcomeStatement.ReassignToOutcomeStatement")</th>
            </tr>
            </thead>
            <tbody>
            <tr></tr>
            <tr></tr>
            </tbody>
        </table>
    </div>
    <div>
        
    </div>
</div>
