@using IDB.MW.Infrastructure.Configuration
@using NewConfluence
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Mappers;

@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataPreparationService.FinancialDataPreparationViewModel

<div id="@(Model.IsCurrent ? "PageContent" : "")" class="fdp-page-content content-expandable" data-parsley-validate="data-parsley-validate"
         data-loadurl="@Url.Action("FinancialDataPreparationReload", "View", new { area = "OPUS" })?activityPlanId=@Model.ActivityPlanId"
         data-url="@Url.Action("FinancialDataPreparation", "Save", new { area = "OPUS" })">
 
        <div class="header">
            @Html.Partial("Partials/FinancialDataPreparation/FinancialDataPreparationHeader", Model)
        </div>


    @if (Model != null)
    {
        <input type="hidden" id="hidViewModel" value="@Model.SerializedViewModel" />
        <div class="hidden" data-pagemode="edit">
            if (Model.ActivityPlanId != null)
            {
                <input type="hidden" name="ActivityPlanId" value="@Model.ActivityPlanId" />
            }

            if (Model.ReformulationApprovalDate != null)
            {
                <input type="hidden" name="ReformulationApprovalDate" value="@Model.ReformulationApprovalDate" />
            }

            <input type="hidden" name="IsCurrent" value="@Model.IsCurrent.ToString()" />
            <input type="hidden" name="HasPipelineCategory" value="@Model.HasPipelineCategory.ToString().ToLower()" />
            <input type="hidden" name="OperationId" value="@Model.OperationId.ToString()" />
        </div>

        <div class="row row-body-40">
            <div class="col-md-9">
                <div class="row row-header" style="border-bottom: solid 1px;padding-bottom: 10px;">
                    <div class="col-md-12">
                        @Confluence.LabelBold(Localization.GetText("OP.FD.Preparation.FinSource"))
                        <span class="alignReadOriginal">
                            @Confluence.LabelBold(
                                Localization.GetText("OP.FD.Preparation.Original"))
                        </span>
                    </div>
                </div>

                @Html.Partial(
                    "Partials/FinancialDataPreparation/DataTables/FinancialDataPreparationExpectedIDB", 
                    Model)

                @Html.Partial(
                    "Partials/FinancialDataPreparation/DataTables/FinancialDataPreparationCounterpartFinancing", 
                    Model)

                @Html.Partial(
                    "Partials/FinancialDataPreparation/DataTables/FinancialDataPreparationCoFinancing", 
                    Model)

                <div id="categoriesModal" class="modal bs-modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">@Localization.GetText("OP.FD.Preparation.Category.Header")</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-1"></div>
                                <div class="col-md-10" data-pagemode="edit">
                                    <label class="labelNormal bold media-object" data-idb-fieldname="lblProposalStatus">
                                        @Localization.GetText("OP.FD.Preparation.Category.Details")
                                    </label><br />
                                    @Confluence.InputDropDown(
                                        value: null,
                                        name: "PipelineCategoryId",
                                        elements: Model.PipelineCategories.ConvertToSelectListItems(),
                                        validateOnChange: true,
                                        htmlClass: "",
                                        required: false,
                                        showEmptyOption: true,
                                        placeholder: FunctionConfluence.PlaceHolderDefault,
                                        width: null,
                                        disabled: false,
                                        orderAsc: true,
                                        parentValue: false,
                                        htmlClassElement: "",
                                        htmlClassList: "",
                                        contracLevelFunction: false,
                                        grouping: false)
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="modal-footer">
                                @Confluence.ButtonOrange(Localization.GetText("OP.FD.Cancel"),
                                    null,
                                    "closeWithCategory"
                                )
                                @Confluence.ButtonOrange(Localization.GetText("OP.FD.Save"),
                                    null,
                                    "saveWithCategory"
                                )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row row-header mb15">
                        <div class="col-md-12" style="margin-left: 25px;">
                            @Confluence.LabelBold(
                                Localization.GetText("OP.FD.Preparation.TotalOpCost"))
                            <span data-pagemode="read"
                                  class="text-right alignReadOperationCost">
                                @Confluence.LabelDecimal(
                                    Model.TotalOperationCost,
                                    true,
                                    new Dictionary<string, string>() 
                                    {                                        
                                        { "id", "totalOperationCostValue" } 
                                    },
                                    htmlClass: "amounts-left-position-total-operation-cost"
                                )
                            </span>
                            <span data-pagemode="edit"
                                  class="text-left alignEditOperationCost">
                                @Confluence.LabelDecimal(
                                    Model.TotalOperationCost,
                                    true,
                                    new Dictionary<string, string>() 
                                    { 
                                        { "id", "totalOperationCostValue" } 
                                    },
                                    htmlClass: "alignTotalAmount amounts-left-position-total-operation-cost"
                                )
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row row-header" style="margin-bottom: 50px;">
                        <div class="col-md-12" style="margin-left: 25px;">
                            @Confluence.LabelBold(
                                Localization.GetText("OP.FD.Preparation.TotalParallelCoFinancing"))
                            <span data-pagemode="read"
                                  class="text-right alignReadOperationCost">
                                @Confluence.LabelDecimal(
                                    0,
                                    true,
                                    new Dictionary<string, string>()
                                    {
                                        { "id", "totalParalelleCoFinancing" }
                                    },
                                    htmlClass: "amounts-left-position-total-operation-cost"
                                )
                            </span>
                            <span data-pagemode="edit"
                                  class="text-left alignEditOperationCost">
                                @Confluence.LabelDecimal(
                                    0,
                                    true,
                                    new Dictionary<string, string>()
                                    {
                                        { "id", "totalParalelleCoFinancing" }
                                    },
                                    htmlClass: "alignTotalAmount amounts-left-position-total-operation-cost"
                                )
                            </span>
                        </div>
                    </div>
                </div>

                @if (Model.ShowRetroactiveExpenses && Model.HasEditByStagePermission)
                {
                    @Confluence.InputHidden(FunctionConfluence.DateToString(Model.AppDate), "appDate")
                    @Confluence.InputHidden(FunctionConfluence.DateToString(Model.PpDate), "ppDate")

                    <div class="mb10">
                        @Confluence.InformationSection(
                            Localization.GetText("OP.FD.Bottom.Info"),"100%")
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            @Confluence.LabelsGroup(
                                Localization.GetText("OP.FD.Preparation.RetroExp"),
                                Confluence.LabelGetBool(Model.IsRetroactiveExpense, true),
                                new List<HelperResult> {
                                    Confluence.InputRadioButton(
                                        "Yes",
                                        "IsRetroactiveExpense",
                                        Model.IsRetroactiveExpense,
                                        label: "Yes",
                                        labelBold: true,
                                        isInLine: true,
                                        dataAttributes: new Dictionary<string, string>() {
                                            { "idb-fieldname", "rbIsRetroExpense" }
                                        }),
                                    Confluence.InputRadioButton(
                                        "No",
                                        "IsRetroactiveExpense",
                                        !Model.IsRetroactiveExpense,
                                        label: "No",
                                        labelBold: true,
                                        isInLine: true,
                                        htmlClass: "ml5",
                                        dataAttributes: new Dictionary<string, string>() {
                                            { "idb-fieldname", "rbIsRetroExpense" }
                                        })
                                })
                        </div>
                    <div id="retroctiveExpenses">
                        <div class="col-md-3">
                                @Confluence.LabelsGroup(
                                    Localization.GetText("OP.FD.Preparation.RetroExpPercent"),
                                Confluence.LabelBold(
                                    ((int)(Model.RetroactiveExpensePercent * 100)).ToString()
                                    + " %"),
                                Confluence.InputNumber(
                                    (int)(Model.RetroactiveExpensePercent * 100),
                                    "RetroactiveExpensePercent",
                                    minValue: "1",
                                    maxValue: "20",
                                    width: "150px",
                                    dataAttributes: new Dictionary<string, string>() {
                                        { "idb-fieldname", "txtRetroExpenses" }
                                    }))
                                            <p class="font-header"></p>
                                        </div>
                                        <div class="col-md-3">
                                            @Confluence.LabelsGroup(
                                Localization.GetText("OP.FD.Preparation.StartDate"),
                                Confluence.LabelGetDate(Model.StartingDate, true),
                                Confluence.InputDatePicker(
                                    Model.StartingDate != null ?
                                    Model.StartingDate :
                                    Model.PPDStartingDate,
                                    "StartingDate",
                                    required: false,
                                    width: "150px",
                                    dataAttributes: new Dictionary<string, string>() {
                                        { "idb-fieldname", "txtStartDate" }
                                    })
                                )
                                        </div>
                                        <div class="col-md-3">
                                            @Confluence.LabelsGroup(
                                Localization.GetText("OP.FD.Preparation.EndDate"),
                                Confluence.LabelGetDate(Model.EndDate, true),
                                Confluence.InputDatePicker(
                                    Model.EndDate,
                                    "EndDate",
                                    required: false,
                                    width: "150px",
                                    dataAttributes: new Dictionary<string, string>() {
                                        { "idb-fieldname", "txtEndDate" }
                                    })
                                )
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-3">
                @Html.Partial("Partials/FinancialDataPreparation/FinancialDataPreparationGraphics",
                    Model)
            </div>
        </div>
    }

    @if (Model.IsCurrent)
    {
        <div class="footer">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("Partials/FinancialDataPreparation/Controls/FinancialDataPreparationButtons", Model)
                </div>
            </div>
        </div>
    }

</div>
