@using System.Data.Entity.Migrations.Infrastructure

@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataPreparationService.FinancialDataPreparationViewModel

<div class="row mb1em">
    <div class="col-md-12">

        @Html.Partial("Partials/FinancialDataPreparation/Controls/FinancialDataPreparationButtons",
            Model)
  
        @Confluence.LabelMainTitle(Localization.GetText("OP.FD.Header.Title"))
    </div>
</div>

<div class="row">
    <div class="col-md-12">
            <div class="floatRight">
                @if (Model.Permissions.FinancialWritePermision && 
                    Model.Permissions.GCMWritePermission)
                {
                    <div data-id="headerButtons" class="right-buttons">
                        @Confluence.ButtonBlue(
                            Localization.GetText("OP.FD.Preparation.ChkFundAvailability"), 
                            "ChkFundAvailability", 
                            "ChkFundAvailability",
                            dataAttributes: new Dictionary<string, string>() 
                            { 
                                { "idb-fieldname", "btnChkFund" } 
                            }
                        )
                    </div>
                }
            </div>

            @Confluence.InformationSection(Localization.GetText("TCM.Outputs.AmountsExpressedInUSD"), "80%")
            <div class="col-md-9 cofinancing-tables-collapse">
                <div 
                     dd-exp="Expand All" 
                     dd-coll="@Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL")" 
                     class="btnCollapseAll buttonExpand collapse" 
                     dd-contenedores=",gridExpectedIDB,CounterpartFinancing,CoFinancing,">
                    <span>
                        <span></span>
                    </span>
                    <label dd-value="@Localization.GetText("GLOBAL.CONTROL.EXPANDALL")">
                        @Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL")
                    </label>
                </div>
            </div>
            <span class="tc-abstract-not-editable-message pull-left hide">
                <span class="information-circle-gray"></span>
                <span class="information">
                    @Localization.GetText("TCAbstract.Service.NotEditable.ExpectedAndCounterpartFinancing.InformationMessage")
                </span>
            </span>
        </div>
</div>