@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Domain.Models.Disbursement.IProjectionViewModel
@{
    Layout = null;
}
    <table name="ReferenceInformation" class="tableNormal">
        <thead>
            <tr>
                <th></th>
                <th>@Localization.GetText("Jan")</th>
                <th>@Localization.GetText("Feb")</th>
                <th>@Localization.GetText("Mar")</th>
                <th>@Localization.GetText("Apr")</th>
                <th>@Localization.GetText("May")</th>
                <th>@Localization.GetText("Jun")</th>
                <th>@Localization.GetText("Jul")</th>
                <th>@Localization.GetText("Aug")</th>
                <th>@Localization.GetText("Sep")</th>
                <th>@Localization.GetText("Oct")</th>
                <th>@Localization.GetText("Nov")</th>
                <th>@Localization.GetText("Dec")</th>
                <th>@Localization.GetText("Total")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (KeyValuePair<string, List<IDB.MW.Domain.Models.Disbursement.ProjectedMonthModel>> project in Model.Projects)
            {
                int month = 0;
                <tr>
                    <td>@Confluence.LabelBold(Localization.GetText(project.Key))</td>

                    @foreach (var projected_month in project.Value)
                {
                    month++;
                    if (projected_month.ProjectedAmount != -1)
                    {
                        if (project.Key.Trim() == "Disbursement.ReferenceYear.ActAcumDisbCurrentAccumProjPerc")
                        {
                            if (projected_month.ProjectedAmount == decimal.MinValue)
                            {
                                    <td class="disabled text-right">@Confluence.LabelDecimalPercent(0, (month > 12))</td>
                                }
                                else
                                {
                                    <td class="text-right">@Confluence.LabelDecimalPercent(projected_month.ProjectedAmount, (month > 12))</td>
                                }
                            }
                            else
                            {
                                if (projected_month.ProjectedAmount == decimal.MinValue)
                                {
                                    <td class="disabled text-right">@Confluence.LabelDecimal(0, (month > 12))</td>
                                }
                                else
                                {
                                    <td class="text-right">@Confluence.LabelDecimal(projected_month.ProjectedAmount, (month > 12))</td>
                                }
                            }
                        }
                        else
                        {
                            <td class="text-right">@(month > 12 ? Confluence.LabelBold("N/A") : Confluence.Label("N/A") )</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>