@using IDB.MW.Domain.Models.Disbursement
@model NoProjectableViewModel
@section CSS {
    @Styles.Render("~/Content/Confluence")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modules/disbursement/disbursement.css")" />
}
@section JavaScript{
    <script type="text/javascript" src="@Url.Content("~/Scripts/modules/disbursement/disbursement.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mainframe/fixIframe.js")"></script>
    @Scripts.Render("~/bundles/NewConfluence")
}
<div class="verticalMargin20">

    <div class="inline-block" id="backButtonNPS">
        @if (Model.IsAllNotProjectable)
        {
            @Confluence.LabelMainTitle(Localization.GetText("Disbursement.Main.DisbursementProjections"))
        }
        else
        {
            @Confluence.Navigation(Confluence.LabelMainTitle(Localization.GetText("Disbursement.Main.DisbursementProjections")),
                        Url.Action(controllerName: "OperationLevelProjections", actionName: "Index", routeValues: new { operationNumber = Model.OperationNumber }))
        }

    </div>
    <div>
        @if (string.IsNullOrEmpty(Model.ContractNumber))
        {
            @Confluence.LabelTitleGroup(Model.OperationNumber, htmlClass: "col-md-12 pl0 pr0 mb30")
        }
        else
        {
            @Confluence.LabelTitleGroup(Model.ContractNumber, htmlClass: "col-md-12 pl0 pr0 mb30")
        }

    </div>
    <div>
        @if (string.IsNullOrEmpty(Model.ContractNumber))
        {
            @Confluence.LabelBold(Localization.GetText("Disbursement.Operation.NotRequiresProjection"), htmlClass: "col-md-12 pl0 pr0")            
        }
        else
        {
            @Confluence.LabelBold(Localization.GetText("Disbursement.Main.NotRequiresProjection"), htmlClass: "col-md-12 pl0 pr0")
        }
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#backButtonNPS').click(function () {
            showLoaderOptional();
        });
    });
</script>
