@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language

<div id="headerButtons" >

        <div data-pagemode="edit">
            @Confluence.ButtonLink(
            text: Localization.GetText("Cancel"),
                              action: "cancelInstitutionWF", name: "cancelInstitutionWF", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnCancelInstitutionWF" } })

            <button data-id="buttonModal" class="buttonBlue"
                    data-idb-fieldname="btnSaveAndApprove"
                    data-modal-allowclose="true"
                    data-custom-modal="saveApproveModal"
                    data-custom-modal-style="vex-theme"
                    data-custom-modal-title="@Localization.GetText("OP.IN.SaveAndRegisterLms")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["save", "cancel"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("OP.IN.SaveAndRegisterLms")"
                    data-custom-button-save-style="buttonBlue"
                    data-custom-button-save-callback="saveApproveInstitution"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("Cancel")"
                    data-custom-button-cancel-style="buttonLink"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="false">
                @Localization.GetText("OP.IN.SaveAndRegisterLms")
            </button>

            <button data-id="buttonModal2" class="buttonBlue"
                    data-idb-fieldname="btnSaveAndReject"
                    data-modal-allowclose="true"
                    data-custom-modal="saveRejectModal"
                    data-custom-modal-style="vex-theme"
                    data-custom-modal-title="@Localization.GetText("Save & Reject")"
                    data-custom-modal-validate="false"
                    data-custom-buttons='["save", "cancel"]'
                    data-custom-button-save-id="send"
                    data-custom-button-save="@Localization.GetText("Save and Reject")"
                    data-custom-button-save-style="buttonBlue"
                    data-custom-button-save-callback="saveRejectInstitution"
                    data-custom-button-save-closeatend="true"
                    data-custom-button-cancel-id="cancel"
                    data-custom-button-cancel="@Localization.GetText("Cancel")"
                    data-custom-button-cancel-style="buttonLink"
                    data-custom-button-cancel-callback=""
                    data-custom-modal-onclose=""
                    data-custom-modal-closeonoverlayclick="false">
                @Localization.GetText("Save and Reject")
            </button>
            @Confluence.ButtonWhite(text: Localization.GetText("TC.Save"), action: "saveOnly", name: "saveOnly", dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnSaveOnly" } })
        </div>
          
    <div data-id="ModalRegion">
        <div id="saveApproveModal" class="hide modalBody institutionsModal">@Localization.GetText("GLOBAL.K2.MODAL.SaveSubmitTask")</div>
        <div id="saveRejectModal" class="hide modalBody institutionsModal"> @Localization.GetText("GLOBAL.K2.MODAL.SaveRejectTask")</div>
    </div>
</div>
