@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Application.Core.ViewModels

@model IDB.MW.Application.OPUSModule.ViewModels.Institutions.InstitutionsWorkflowViewModels

@Confluence.LabelSubTitleGroup(text: Localization.GetText("Validators"), htmlClass: "bold pb20")

<table class="tableNormal" id="tableWorkflowValidators">
    <thead>
        <tr>
            <th>@Localization.GetText("Order")</th>
            <th>@Localization.GetText("Role")</th>
            <th>@Localization.GetText("Type")</th>
            <th>@Localization.GetText("Status")</th>
        </tr>
    </thead>

    <tbody>
        @{int order = 1;}
        @foreach (var item in Model.Validators)
        {
        <tr>
            <td>@order</td>
            <td>@item.Role</td>
            <td>@(item.Mandatory ? "Mandatory Validator" : "Additional Validator")</td>
            <td>@item.Status</td>            
        </tr>
            order++;
        }
    </tbody>    
</table>


