@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models

@model List<IDB.MW.Application.AdministrationModule.ViewModels.MasterData.MasterDataManagementTableModelView>
@{var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate; }

<div class="row row-body-40">

    <div class="row row-body-40">
        <div class="col-md-12">
            @{
                var managementTableName = "TableManagement";
                var configManagement = Html.RenderDataTable(Model);
                configManagement.Name(managementTableName)
                    .PrimaryKey(m => m.MasterDataId.ToString(CultureInfo.InvariantCulture))
                    .AddPrimaryKeyToName(false)
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Code)
                            .EditableTemplate(row => Confluence.ListHelpers(new List<HelperResult>()
                {
                    Confluence.InputHidden(row.Code, "tableManagementCodeValue"),
                    Confluence.Label(row.Code)
                }))
                            .Header(Localization.GetText("MD.Management.Table.Code")).CssHeaderClass("sort w200").CssClass("w200");

                        columns.Bound(c => FormatHelper.Format(c.EffectiveDate, formatDate))
                            .EditableTemplate(row => Confluence.InputDatePicker(row.EffectiveDate, "tableManagementEffectiveDate", required:false,greaterThanNameDate:"EffectiveDate",lessThanNameDate:"ExpirationDate"))
                            .Header(Localization.GetText("MD.Management.Table.EffectiveDate")).CssHeaderClass("w200").CssClass("w200");

                        columns.Bound(c => FormatHelper.Format(c.ExpirationDate, formatDate))
                            .EditableTemplate(row => Confluence.InputDatePicker(row.ExpirationDate, "tableManagementExpirationDate", required: false, greaterThanNameDate: "EffectiveDate", lessThanNameDate: "ExpirationDate"))
                            .Header(Localization.GetText("MD.Management.Table.ExpirationDate")).CssHeaderClass("w200").CssClass("w200");

                        columns.Bound(c => c.ParentMasterDataCode)
                            .EditableTemplate(row => Confluence.InputDropDownAsync(row.ParentMasterData.ToString(), "tableMasterdataParent", Url.Action("GetMasterDatas", "MasterDataView", new { area = "AdministrationSecondPhase", masterType = Model[0].MasterDataTypeId, masterDataActual = row.MasterDataId.ToString() }), textSelected: row.ParentMasterDataCode, required: false, width:"100%"))
                            .Header(Localization.GetText("MD.Management.Table.ParentMasterData"));

                        columns.Template(x => GetRelatedExpandedButton()).Persistent().CssHeaderClass("w130");

                        columns.Bound(c => c.MasterDataId)
                            .EditableTemplate(row => Confluence.InputText(string.IsNullOrEmpty(row.MasterDataId.ToString()) ? "0" : row.MasterDataId.ToString(), "managementId"))
                            .Header(Localization.GetText("OP.MD.MG.Table.MasterDataId")).Hidden(true);

                    })
                    .RowTemplates(rows => rows.Create(RowTemplateType.AllRows, MasterDataNamesRow));

                configManagement.TableClass = "tableNormal endSpacing";

}

            @Html.Partial("Controls/DataTable", configManagement)
            

            <div class="col-md-12">
                <div data-pagemode="edit" class="text-center">
                    @Confluence.ButtonAddNewRows(Localization.GetText("MD.Management.New"), "TableManagement", null, "addNewRowValueManagement")
                </div>
            </div>
        </div>
    </div>


    @helper MasterDataNamesRow(IDB.MW.Application.AdministrationModule.ViewModels.MasterData.MasterDataManagementTableModelView row)
{
    <tr class="template" name="rowIdiom" id="rowIdiom" data-persist="true" data-row-parent-id=@row.MasterDataId>

        <td class="custom-detail-table-row" colspan="9">

            <div class="row row-header">

                <div class="col-md-3">
                    <p>@Localization.GetText("OP.MD.MG.Table.SpanishName").HtmlEncode()</p>
                </div>
                <div class="col-md-3">
                    <p>@Localization.GetText("OP.MD.MG.Table.EnglishName").HtmlEncode()</p>
                </div>
                <div class="col-md-3">
                    <p>@Localization.GetText("OP.MD.MG.Table.FrenchName").HtmlEncode()</p>
                </div>
                <div class="col-md-3">
                    <p>@Localization.GetText("OP.MD.MG.Table.Portuguese").HtmlEncode()</p>
                </div>
            </div>

            <div class="row row-body-40">
                <div data-pagemode="read">
                    <div class="col-md-3">
                        <p>
                            <b>
                                @Localization.GetText(row.SpanishName).HtmlEncode()
                            </b>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <b>
                                @Localization.GetText(row.EnglishName).HtmlEncode()
                            </b>
                        </p>
                    </div>

                    <div class="col-md-3">
                        <p>
                            <b>
                                @Localization.GetText(row.FrenchName).HtmlEncode()
                            </b>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <b>
                                @Localization.GetText(row.PortugueseName).HtmlEncode()
                            </b>
                        </p>
                    </div>
                </div>

                <div data-pagemode="edit">
                    <div class="col-md-3">
                        @Confluence.InputTextArea(row.SpanishName, "masterdataSpanishName", null, required: true, width: "100%", height: "150px")
                    </div>
                    <div class="col-md-3">
                        @Confluence.InputTextArea(row.EnglishName, "masterdataEnglishName", null, required: true, width: "100%", height: "150px")
                    </div>
                    <div class="col-md-3">
                        @Confluence.InputTextArea(row.FrenchName, "masterdataFrenchName", null, required: true, width: "100%", height: "150px")
                    </div>
                    <div class="col-md-3">
                        @Confluence.InputTextArea(row.PortugueseName, "masterdataPortugueseName", null, required: true, width: "100%", height: "150px")
                    </div>
                </div>
            </div>
        </td>
    </tr>
}
</div>


@helper GetRelatedExpandedButton()
{
    @Confluence.ButtonShowRow()
}