@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models

@model List<IDB.MW.Application.AdministrationModule.ViewModels.MasterData.TableMasterDataTypeViewModel>
@{var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate; }
<div class="Wrapper_Table_700">
    @{
        var config = Html.RenderDataTable(Model);
        config.Name("MasterDataTable")
        .Columns(columns =>
        {
            columns.Bound(c => c.MasterTypeId).Header(Localization.GetText("OP.MD.SE.Table.Id"))
                .Hidden(true);
            @*columns.Template(@<button class="btn btn-link" data-navigate="@Url.Action(controllerName: "MasterDataView", actionName: "ManagementFilter", routeValues: new { filter = item.MasterTypeId })">@item.Type</button>)*@
            columns.Template(@<a href="@Url.Action(controllerName: "MasterDataView", actionName: "ManagementFilter", routeValues: new { filter = item.MasterTypeId })">@item.Type</a>)
                .Header(Localization.GetText("OP.MD.SE.Table.MasterDataType"));
            columns.Bound(c => c.EffectiveDate != DateTime.MinValue ? FormatHelper.Format(c.EffectiveDate, formatDate) : null)
                .Header(Localization.GetText("OP.MD.SE.Table.EffectiveDate"));
            columns.Bound(c => c.ExpirationDate != DateTime.MinValue ? FormatHelper.Format(c.ExpirationDate, formatDate) : null)
                .Header(Localization.GetText("OP.MD.SE.Table.ExpirationDate"));
        });

        config.TableClass = "tableNormal endSpacing";
        
        @Html.Partial("Controls/DataTable", config)
    }
</div>


