@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Application.CPDModule.ViewModels.CSProgressToDate
@using IDB.Architecture.DataTables.Common

@model CSPDUseOfCountrySystemsTabViewModel

<div class="row mb20">
    <div class="col-md-12">
        @Confluence.Label(Localization.GetText("CPD.CSProgressToDate.UseOfCountrySystemes.CSProgressToDate.Diagnostics"))
    </div>
</div>

<div class="row mb10">
    <div class="col-md-6">
        @Confluence.Label(text: Localization.GetText("CPD.CSProgressToDate.UseOfCountrySystemes.CSProgressToDate.FinancialManagement"))
    </div>

    <div class="col-md-6">
        @Confluence.Label(text: Localization.GetText("CPD.CSProgressToDate.UseOfCountrySystemes.CSProgressToDate.Procurement"))
    </div>
</div>

<div class="row mb10">
    <div class="col-md-4">

        @(Html.MultiDropDown("financialManagment")
          .Items(ViewBag.financialManagmentList)
          .CanSelectGroup()
          .SelectedItems(Model.FinancialManagements.Keys.ToList())
          .HtmlClass("forseenActionsCombo"))
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-4">

        @(Html.MultiDropDown("Procurement")
      .Items(ViewBag.procurementList)
      .CanSelectGroup()
      .SelectedItems(Model.Procurements.Keys.ToList())
      .HtmlClass("forseenActionsCombo"))

    </div>

    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @foreach (var item in ViewBag.financialManagmentList)
        {
            var id = int.Parse(item.Value);
            var attrId = new Dictionary<string, string>() { { "id", item.Value } };
            var selectedValue = string.Empty;
            if (Model.FinancialManagements.ContainsKey(id))
            {
                selectedValue = Model.FinancialManagements[id].ToString();
            };
            <div class="row mb10 hide" data-section-financial="@item.Value">
                <div class="col-md-8">
                    @Confluence.LabelBold(item.Text)
                </div>
                <div class="col-md-4">
                    @Confluence.InputDropDown(
                        value: selectedValue,
                        name: "financialManagmentYear",
                        elements: ViewBag.FinancialManagementYearList,
                        width: "100%",
                        required: true,
                        dataAttributes: attrId)
                </div>
            </div>
        }
    </div>

    <div class="col-md-6">
        @foreach (var item in ViewBag.procurementList)
        {
            var id = int.Parse(item.Value);
            var attrId = new Dictionary<string, string>() { { "id", item.Value } };
            var selectedValue = string.Empty;
            if (Model.Procurements.ContainsKey(id))
            {
                selectedValue = Model.Procurements[id].ToString();
            };
            <div class="row mb10 hide" data-section-procurement="@item.Value">
                <div class="col-md-8">
                    @Confluence.LabelBold(item.Text)
                </div>
                <div class="col-md-4">
                    @Confluence.InputDropDown(
                        value: selectedValue,
                        name: "procurementYear",
                        elements: ViewBag.FinancialManagementYearList,
                        width: "100%",
                        required: true,
                        dataAttributes: attrId)
                </div>
            </div>
        }
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        @Confluence.InputTextArea(Model.FinancialManagementComment,
            "financialManagementComment",
            width: "100%",
            maxLength: 40, 
            placeholder: Localization.GetText("COMMON.ExplainSelectionHere"),
            required: false)
    </div>

    <div class="col-md-2">

    </div>

    <div class="col-md-4">
        @Confluence.InputTextArea(Model.ProcurementComment,
            "procurementComment",
            width: "100%",
            maxLength: 40,
            placeholder: Localization.GetText("COMMON.ExplainSelectionHere"),
            required: false)
    </div>

    <div class="col-md-2">

    </div>

</div>