@using IDB.Presentation.MVC4.Areas.Pep.Models
@model PepIndexViewModel


@section JS {
    <script type="text/javascript">
        $('body').resize(function () {
            resizeIframeCloud();
        });

        $(document).ready(function() {
            showLoader();
            $('#pepInclude').removeClass('hide');
            $('#pepMainDiv').removeClass('hide');
        });

        var path = '@Url.Content("~")';
        var pepBasePath = path + 'Scripts/SenchaWorkspace/appPep';

        var Locale = {
            'PEP.AddTask.Title': '@Localization.GetText("PEP.AddTask.Title")',
            'PEP.AddTask.NumberComponents': '@Localization.GetText("PEP.AddTask.NumberComponents")',
            'PEP.AddTask.NumberSubComponents': '@Localization.GetText("PEP.AddTask.NumberSubComponents")',
            'PEP.AddTask.NumberOutputs': '@Localization.GetText("PEP.AddTask.NumberOutputs")',
            'PEP.AddTask.NumberDeliverables': '@Localization.GetText("PEP.AddTask.NumberDeliverables")',
            'PEP.AddTask.NumberWorkPackage': '@Localization.GetText("PEP.AddTask.NumberWorkPackage")',
            'PEP.AddTask.NumberActivities': '@Localization.GetText("PEP.AddTask.NumberActivities")',
            'PEP.AddTask.Create': '@Localization.GetText("PEP.AddTask.Create")',
            'PEP.AddTask.Cancel': '@Localization.GetText("PEP.AddTask.Cancel")',
            'PEP.Filter.ApprovalNumber': '@Localization.GetText("PEP.Filter.ApprovalNumber")',
            'PEP.BasicData.ExecutingAgency': '@Localization.GetText("PEP.BasicData.ExecutingAgency")',
            'PEP.BasicData.LastNonObjectionDate': '@Localization.GetText("PEP.BasicData.LastNonObjectionDate")',
            'PEP.BasicData.LastNonObjectionBy': '@Localization.GetText("PEP.BasicData.LastNonObjectionBy")',
            'PEP.Filter.ExecutingAgency': '@Localization.GetText("PEP.Filter.ExecutingAgency")',
            'PEP.ChangeLog.Version': '@Localization.GetText("PEP.ChangeLog.Version")',
            'PEP.ChangeLog.Date': '@Localization.GetText("PEP.ChangeLog.Date")',
            'PEP.ChangeLog.User': '@Localization.GetText("PEP.ChangeLog.User")',
            'PEP.ChangeLog.Role': '@Localization.GetText("PEP.ChangeLog.Role")',
            'PEP.ChangeLog.Action': '@Localization.GetText("PEP.ChangeLog.Action")',
            'PEP.ChangeLog.Comment': '@Localization.GetText("PEP.ChangeLog.Comment")',
            'PEP.ChangeLog.ChangeType': '@Localization.GetText("PEP.ChangeLog.ChangeType")',
            'PEP.ChangeLog.DateModification': '@Localization.GetText("PEP.ChangeLog.DateModification")',
            'PEP.ChangeLog.ValueChanged': '@Localization.GetText("PEP.ChangeLog.ValueChanged")',
            'PEP.ChangeLog.PreviousValue': '@Localization.GetText("PEP.ChangeLog.PreviousValue")',
            'PEP.ChangeLog.NewValue': '@Localization.GetText("PEP.ChangeLog.NewValue")',
            'PEP.PEPCommon.Edit': '@Localization.GetText("PEP.PEPCommon.Edit")',
            'PEP.TableCommon.OrderNumber': '@Localization.GetText("PEP.TableCommon.OrderNumber")',
            'PEP.TableCommon.ID': '@Localization.GetText("PEP.TableCommon.ID")',
            'PEP.TableCommon.ApprovalNumber': '@Localization.GetText("PEP.TableCommon.ApprovalNumber")',
            'PEP.TableCommon.TaskName': '@Localization.GetText("PEP.TableCommon.TaskName")',
            'PEP.TableCommon.TaskType': '@Localization.GetText("PEP.TableCommon.TaskType")',
            'PEP.TabPlanning.StartDate': '@Localization.GetText("PEP.TabPlanning.StartDate")',
            'PEP.TabPlanning.MsgEndDateAfterCurrent': '@Localization.GetText("PEP.TabPlanning.MsgEndDateAfterCurrent")',
            'PEP.TabPlanning.EndDate': '@Localization.GetText("PEP.TabPlanning.EndDate")',
            'PEP.TabPlanning.Dependencies': '@Localization.GetText("PEP.TabPlanning.Dependencies")',
            'PEP.TabPlanning.Duration': '@Localization.GetText("PEP.TabPlanning.Duration")',
            'PEP.PEPPhysicalPlanning.UnitofMeasure': '@Localization.GetText("PEP.PEPPhysicalPlanning.UnitofMeasure")',
            'PEP.PEPPhysicalPlanning.PhysicalUnitsRepresentedEOP': '@Localization.GetText("PEP.PEPPhysicalPlanning.PhysicalUnitsRepresentedEOP")',
            'PEP.PEPPhysicalPlanning.PhysicalUnitsRepresentedEAC': '@Localization.GetText("PEP.PEPPhysicalPlanning.PhysicalUnitsRepresentedEAC")',
            'PEP.TabFinancialCost.TotalCostEOP': '@Localization.GetText("PEP.TabFinancialCost.TotalCostEOP")',
            'PEP.TabFinancialCost.TotalCostEAC': '@Localization.GetText("PEP.TabFinancialCost.TotalCostEAC")',
            'PEP.TabFinancialCost.IDBCost': '@Localization.GetText("PEP.TabFinancialCost.IDBCost")',
            'PEP.TabFinancialCost.LocalCounterpartCost': '@Localization.GetText("PEP.TabFinancialCost.LocalCounterpartCost")',
            'PEP.TabFinancialCost.CoFinancingCost': '@Localization.GetText("PEP.TabFinancialCost.CoFinancingCost")',
            'PEP.TabFinancialCost.TobeFinanceinOtherTranche': '@Localization.GetText("PEP.TabFinancialCost.TobeFinanceinOtherTranche")',
            'PEP.TabFinancialCost.TotalContractCurrency': '@Localization.GetText("PEP.TabFinancialCost.TotalContractCurrency")',
            'PEP.TabProcurement.ProcurementProcess': '@Localization.GetText("PEP.TabProcurement.ProcurementProcess")',
            'PEP.TabProcurement.Status': '@Localization.GetText("PEP.TabProcurement.Status")',
            'PEP.TabProcurement.TermsReferenceTechnicalSpecificationsDate': '@Localization.GetText("PEP.TabProcurement.TermsReferenceTechnicalSpecificationsDate")',
            'PEP.TabProcurement.ProcurementType': '@Localization.GetText("PEP.TabProcurement.ProcurementType")',
            'PEP.TabProcurement.ProcurementMethod': '@Localization.GetText("PEP.TabProcurement.ProcurementMethod")',
            'PEP.TabProcurement.SupervisionType': '@Localization.GetText("PEP.TabProcurement.SupervisionType")',
            'PEP.TabProcurement.ProcurementRelatedProcess': '@Localization.GetText("PEP.TabProcurement.ProcurementRelatedProcess")',
            'PEP.TabPhysicalProgress.TotalYear': '@Localization.GetText("PEP.TabPhysicalProgress.TotalYear")',
            'PEP.TabFinancialProgress.IDB': '@Localization.GetText("PEP.TabFinancialProgress.IDB")',
            'PEP.TabFinancialProgress.LocalCounterPart': '@Localization.GetText("PEP.TabFinancialProgress.LocalCounterPart")',
            'PEP.TabFinancialProgress.CoFinancing': '@Localization.GetText("PEP.TabFinancialProgress.CoFinancing")',
            'PEP.TabFinancialProgress.Jan': '@Localization.GetText("PEP.TabFinancialProgress.Jan")',
            'PEP.TabFinancialProgress.Feb': '@Localization.GetText("PEP.TabFinancialProgress.Feb")',
            'PEP.TabFinancialProgress.Mar': '@Localization.GetText("PEP.TabFinancialProgress.Mar")',
            'PEP.TabFinancialProgress.Apr': '@Localization.GetText("PEP.TabFinancialProgress.Apr")',
            'PEP.TabFinancialProgress.May': '@Localization.GetText("PEP.TabFinancialProgress.May")',
            'PEP.TabFinancialProgress.June': '@Localization.GetText("PEP.TabFinancialProgress.June")',
            'PEP.TabFinancialProgress.July': '@Localization.GetText("PEP.TabFinancialProgress.July")',
            'PEP.TabFinancialProgress.Aug': '@Localization.GetText("PEP.TabFinancialProgress.Aug")',
            'PEP.TabFinancialProgress.Sept': '@Localization.GetText("PEP.TabFinancialProgress.Sept")',
            'PEP.TabFinancialProgress.Oct': '@Localization.GetText("PEP.TabFinancialProgress.Oct")',
            'PEP.TabFinancialProgress.Nov': '@Localization.GetText("PEP.TabFinancialProgress.Nov")',
            'PEP.TabFinancialProgress.Dec': '@Localization.GetText("PEP.TabFinancialProgress.Dec")',
            'PEP.TabFinancialProgress.TotalbySource': '@Localization.GetText("PEP.TabFinancialProgress.TotalbySource")',
            'PEP.TabFinancialProgress.Total': '@Localization.GetText("PEP.TabFinancialProgress.Total")',
            'PEP.TableCommon.TabPlanning': '@Localization.GetText("PEP.TableCommon.TabPlanning")',
            'PEP.TabFinancialCost.FinancialCost': '@Localization.GetText("PEP.TabFinancialCost.FinancialCost")',
            'PEP.TabProcurement.Procurement': '@Localization.GetText("PEP.TabProcurement.Procurement")',
            'PEP.TabPhysicalProgress.PhysicalProgress': '@Localization.GetText("PEP.TabPhysicalProgress.PhysicalProgress")',
            'PEP.TabFinancialProgress.FinancialProgress': '@Localization.GetText("PEP.TabFinancialProgress.FinancialProgress")',
            'PEP.MenuTable.AddComponent': '@Localization.GetText("PEP.MenuTable.AddComponent")',
            'PEP.MenuTable.AddSubComponent': '@Localization.GetText("PEP.MenuTable.AddSubComponent")',
            'PEP.MenuTable.AddOutput': '@Localization.GetText("PEP.MenuTable.AddOutput")',
            'PEP.MenuTable.AddDeliverable': '@Localization.GetText("PEP.MenuTable.AddDeliverable")',
            'PEP.MenuTable.AddGroupPackage': '@Localization.GetText("PEP.MenuTable.AddGroupPackage")',
            'PEP.MenuTable.AddActivities': '@Localization.GetText("PEP.MenuTable.AddActivities")',
            'PEP.MenuTable.DeleteTask': '@Localization.GetText("PEP.MenuTable.DeleteTask")',
            'PEP.ModalPOAReport.POAReport': '@Localization.GetText("PEP.ModalPOAReport.POAReport")',
            'PEP.ModalPOAReport.Cancel': '@Localization.GetText("PEP.ModalPOAReport.Cancel")',
            'PEP.ModalPOAReport.Generate': '@Localization.GetText("PEP.ModalPOAReport.Generate")',
            'PEP.PEPProcurement.RequestNonObjection': '@Localization.GetText("PEP.PEPProcurement.RequestNonObjection")',
            'PEP.PEPPhysicalProgress.Save': '@Localization.GetText("PEP.PEPPhysicalProgress.Save")',
            'PEP.PEPPhysicalProgress.UploadExcelProject': '@Localization.GetText("PEP.PEPPhysicalProgress.UploadExcelProject")',
            'PEP.Addtask.IsComponent': '@Localization.GetText("PEP.Addtask.IsComponent")',
            'PEP.Filter.ApprovalCurrencies': '@Localization.GetText("PEP.Filter.ApprovalCurrencies")',
            'PEP.Filter.Currency': '@Localization.GetText("PEP.Filter.Currency")',
            'PEP.Filter.ExchangeRateUSD': '@Localization.GetText("PEP.Filter.ExchangeRateUSD")',
            'PEP.ChangeLog.CommentAdded': '@Localization.GetText("PEP.ChangeLog.CommentAdded")',
            'PEP.ChangeLog.EnterComment': '@Localization.GetText("PEP.ChangeLog.EnterComment")',
            'PEP.ChangeLog.Add': '@Localization.GetText("PEP.ChangeLog.Add")',
            'PEP.ChangeLog.Update': '@Localization.GetText("PEP.ChangeLog.Update")',
            'PEP.ChangeLog.Created': '@Localization.GetText("PEP.ChangeLog.Created")',
            'PEP.ChangeLog.CreatedBy': '@Localization.GetText("PEP.ChangeLog.CreatedBy")',
            'PEP.ChangeLog.Close': '@Localization.GetText("PEP.ChangeLog.Close")',
            'PEP.PEPCommon.Delete': '@Localization.GetText("PEP.PEPCommon.Delete")',
            'PEP.TabPlanning.Weekend': '@Localization.GetText("PEP.TabPlanning.Weekend")',
            'PEP.TabPlanning.Holiday': '@Localization.GetText("PEP.TabPlanning.Holiday")',
            'PEP.TabPlanning.Actions': '@Localization.GetText("PEP.TabPlanning.Actions")',
            'PEP.Project.Project': '@Localization.GetText("PEP.Project.Project")',
            'PEP.TabFinancialProgress.AutoComplete': '@Localization.GetText("PEP.TabFinancialProgress.AutoComplete")',
            'PEP.Message.NotPossibleDeleteTask': '@Localization.GetText("PEP.Message.NotPossibleDeleteTask")',
            'PEP.TabFinancialProgress.AutoComplete' : '@Localization.GetText("PEP.TabFinancialProgress.AutoComplete")',
            'PEP.TabFinancialCost.MsgTotalCostValidation' : '@Localization.GetText("PEP.TabFinancialCost.MsgTotalCostValidation")',
            'PEP.AddTask.NumberOuputsForComponent': '@Localization.GetText("PEP.AddTask.NumberOuputsForComponent")',
            'PEP.PEPCommon.Error': '@Localization.GetText("PEP.PEPCommon.Error")',
            'PEP.AddTask.MsgComponentIsChecked': '@Localization.GetText("PEP.AddTask.MsgComponentIsChecked")',
            'PEP.AddTask.MsgTotalTaskGreater': '@Localization.GetText("PEP.AddTask.MsgTotalTaskGreater")',
            'PEP.AddTask.MsgZeroComponent': '@Localization.GetText("PEP.AddTask.MsgZeroComponent")',
            'PEP.ChangeLog.MsgErrorLoadData': '@Localization.GetText("PEP.ChangeLog.MsgErrorLoadData")',
            'PEP.PEPCommon.Warning': '@Localization.GetText("PEP.PEPCommon.Warning")',
            'PEP.Comment.MsgDelete': '@Localization.GetText("PEP.Comment.MsgDelete")',
            'PEP.Comment.MsgUpdate': '@Localization.GetText("PEP.Comment.MsgUpdate")',
            'PEP.Comment.CommentRemoved': '@Localization.GetText("PEP.Comment.CommentRemoved")',
            'PEP.Comment.CommentUpdated' : '@Localization.GetText("PEP.Comment.CommentUpdated")',
            'PEP.Comment.MsgCommentFailure': '@Localization.GetText("PEP.Comment.MsgCommentFailure")',
            'PEP.TabProcurement.MsgRelatedValidationDependency': '@Localization.GetText("PEP.TabProcurement.MsgRelatedValidationDependency")',
            'PEP.TabProcurement.MsgProcurementMethod': '@Localization.GetText("PEP.TabProcurement.MsgProcurementMethod")',
            'PEP.TabProcurement.MsgProcurementType': '@Localization.GetText("PEP.TabProcurement.MsgProcurementType")',
            'PEP.TabPlanning.MsgPlanningDependency': '@Localization.GetText("PEP.TabPlanning.MsgPlanningDependency")',
            'PEP.TabPlanning.MsgPlanningSelectDependency': '@Localization.GetText("PEP.TabPlanning.MsgPlanningSelectDependency")',
            'PEP.TableCommon.DragText': '@Localization.GetText("PEP.TableCommon.DragText")',
            'PEP.TableCommon.MsgDragNotSaveData': '@Localization.GetText("PEP.TableCommon.MsgDragNotSaveData")',
            'PEP.TableCommon.MsgTaskMoveConfirmTitle': '@Localization.GetText("PEP.TableCommon.MsgTaskMoveConfirmTitle")',
            'PEP.TableCommon.MsgTaskMoveConfirm': '@Localization.GetText("PEP.TableCommon.MsgTaskMoveConfirm")',
            'PEP.TableCommon.MsgDragAndDropError': '@Localization.GetText("PEP.TableCommon.MsgDragAndDropError")',
            'PEP.MenuTable.MsgDeleteTaskConfirmTitle': '@Localization.GetText("PEP.MenuTable.MsgDeleteTaskConfirmTitle")',
            'PEP.MenuTable.MsgDeleteTaskConfirm': '@Localization.GetText("PEP.MenuTable.MsgDeleteTaskConfirm")',
            'PEP.MenuTable.MsgDeleteTaskAlert': '@Localization.GetText("PEP.MenuTable.MsgDeleteTaskAlert")',
            'PEP.ModalPOAReport.ErrorGenerateReport': '@Localization.GetText("PEP.ModalPOAReport.ErrorGenerateReport")',
            'PEP.PEPProcurement.RequestNonObjectionPhaseValidation': '@Localization.GetText("PEP.PEPProcurement.RequestNonObjectionPhaseValidation")',
            'PEP.TabPlanning.MsgSaveError': '@Localization.GetText("PEP.TabPlanning.MsgSaveError")',
            'PEP.ApprovalCurrency.Store': '@Localization.GetText("PEP.ApprovalCurrency.Store")',
            'PEP.BasicData.Store': '@Localization.GetText("PEP.BasicData.Store")',
            'PEP.ChangeLog.Store': '@Localization.GetText("PEP.ChangeLog.Store")',
            'PEP.ExecutingAgency.Store': '@Localization.GetText("PEP.ExecutingAgency.Store")',
            'PEP.Year.Store' : '@Localization.GetText("PEP.Year.Store")',
            'PEP.Save.Not.Permissions' : '@Localization.GetText("PEP.Save.Not.Permissions")',
            'PEP.RequestNonObjection.TotalEAC' : '@Localization.GetText("PEP.RequestNonObjection.TotalEAC")',
            'PEP.RequestNonObjection.Contracts' : '@Localization.GetText("PEP.RequestNonObjection.Contracts")',
            'PEP.TabProcurement.MsgDateTermsOfReference' : '@Localization.GetText("PEP.TabProcurement.MsgDateTermsOfReference")',
            'PEP.TabPlanning.Complete' : '@Localization.GetText("PEP.TabPlanning.Complete")',
            'PEP.TabPlanning.Problem' : '@Localization.GetText("PEP.TabPlanning.Problem")',
            'PEP.TabPlanning.ProblemDuration' : '@Localization.GetText("PEP.TabPlanning.ProblemDuration")',
            'PEP.TabFinancialCost.FixedAccrual' : '@Localization.GetText("PEP.TabFinancialCost.FixedAccrual")',
            'PEP.PEPPhysicalPlanning.PhysicalPlanning' : '@Localization.GetText("PEP.PEPPhysicalPlanning.PhysicalPlanning")',
            'PEP.PEPBasicData.BasicData' : '@Localization.GetText("PEP.PEPBasicData.BasicData")',
            'PEP.TabPlanning.Planning' : '@Localization.GetText("PEP.TabPlanning.Planning")',
            'PEP.TabPhysicalProgress.DeleteYearValidation' : '@Localization.GetText("PEP.TabPhysicalProgress.DeleteYearValidation")',
            'PEP.TabPlanning.MsgCompleteDurationProblem' : '@Localization.GetText("PEP.TabPlanning.MsgCompleteDurationProblem")',
            'PEP.TabPlanning.MsgCompleteProblemDescription' : '@Localization.GetText("PEP.TabPlanning.MsgCompleteProblemDescription")',
            'PEP.BasicData.Status' : '@Localization.GetText("PEP.BasicData.Status")',
            'PEP.TabFinancialProgress.TotalCost': '@Localization.GetText("PEP.TabFinancialProgress.TotalCost")',
            'PEP.TabFinancialProgress.TotalCostTemp': '@Localization.GetText("PEP.TabFinancialProgress.TotalCostTemp")',
            'PEP.TabPlanning.MsgCompleteTaskName': '@Localization.GetText("PEP.TabPlanning.MsgCompleteTaskName")',
            'PEP.TabFinancingCost.MsgManuallyDistribution': '@Localization.GetText("PEP.TabFinancingCost.MsgManuallyDistribution")',
            'PEP.TabFinancingCost.MsgEnterYearsPhysical': '@Localization.GetText("PEP.TabFinancingCost.MsgEnterYearsPhysical")',
            'PEP.TabFinancingProgress.MsgSaveBeforeChangeYear': '@Localization.GetText("PEP.TabFinancingProgress.MsgSaveBeforeChangeYear")',
            'PEP.TabFinancingProgress.MsgNewValuesAre1': '@Localization.GetText("PEP.TabFinancingProgress.MsgNewValuesAre1")',
            'PEP.TabFinancingProgress.MsgNewValuesAre2': '@Localization.GetText("PEP.TabFinancingProgress.MsgNewValuesAre2")',
            'PEP.TabFinancingProgress.MsgNewValuesAre3': '@Localization.GetText("PEP.TabFinancingProgress.MsgNewValuesAre3")',
            'PEP.FinancialCostMsg.Percents': '@Localization.GetText("PEP.FinancialCostMsg.Percents")',
            'PEP.Msg.InfoMinAndMaxLimit' : '@Localization.GetText("PEP.Msg.InfoMinAndMaxLimit")',
            'PEP.FinancialCostMsg.EnterPercents' : '@Localization.GetText("PEP.FinancialCostMsg.EnterPercents")',
            'PEP.FinancialCostMsg.TotalCostEop' : '@Localization.GetText("PEP.FinancialCostMsg.TotalCostEop")',
            'PEP.FinancialCostMsg.TotalCostEac' : '@Localization.GetText("PEP.FinancialCostMsg.TotalCostEac")',
            'PEP.Header.Contract.TitleContract' : '@Localization.GetText("PEP.Header.Contract.TitleContract")',
            'PEP.HeaderContract.CurrentAmount' : '@Localization.GetText("PEP.HeaderContract.CurrentAmount")',
            'PEP.HeaderContract.CurrentApprovalAmount' : '@Localization.GetText("PEP.HeaderContract.CurrentApprovalAmount")',
            'PEP.HeaderContract.ContractNumber' : '@Localization.GetText("PEP.HeaderContract.ContractNumber")',
            'PEP.Save.WarningSaveNames' : '@Localization.GetText("PEP.Save.WarningSaveNames")',
            'PEP.Msg.WarningLimitSave' : '@Localization.GetText("PEP.Msg.WarningLimitSave")',
            'PEP.TabPhysicalProgress.WarningSaveDeleteYear' : '@Localization.GetText("PEP.TabPhysicalProgress.WarningSaveDeleteYear")',
            'PEP.TabPhysicalProgress.HeaderWarningYear' : '@Localization.GetText("PEP.TabPhysicalProgress.HeaderWarningYear")',
            'PEP.Output.HasUnconfirmedData': '@Localization.GetText("PEP.Output.HasUnconfirmedData")',
            'PEP.Import.Title' : '@Localization.GetText("PEP.Import.Title")',
            'PEP.Import.ErrorUpload' : '@Localization.GetText("PEP.Import.ErrorUpload")',
            'PEP.Import.Description' : '@Localization.GetText("PEP.Import.Description")',
            'PEP.Import.TitleModal' : '@Localization.GetText("PEP.Import.TitleModal")',
            'PEP.Import.SelectFile' : '@Localization.GetText("PEP.Import.SelectFile")',
            'PEP.Import.FileExtension' : '@Localization.GetText("PEP.Import.FileExtension")',
            'PEP.Import.Import' : '@Localization.GetText("PEP.Import.Import")',
            'PEP.Import.Success' : '@Localization.GetText("PEP.Import.Success")',
            'PEP.Import.MsgSuccessYourFile' : '@Localization.GetText("PEP.Import.MsgSuccessYourFile")',
            'PEP.Import.MsgSuccessUploaded' : '@Localization.GetText("PEP.Import.MsgSuccessUploaded")',
            'PEP.Import.Ok' : '@Localization.GetText("PEP.Import.Ok")',
            'PEP.HeaderContract.ExecutedAmount' : '@Localization.GetText("PEP.HeaderContract.ExecutedAmount")',
            'PEP.TabFinancialExecution.FinancialExecution' : '@Localization.GetText("PEP.TabFinancialExecution.FinancialExecution")',
            'PEP.TabFinancialExecution.AcumulatedExecuted' : '@Localization.GetText("PEP.TabFinancialExecution.AcumulatedExecuted")',
			'PEP.VerifyContent.Title': '@Localization.GetText("Verify content")',
        	'PEP.VerifyContent.Verification': '@Localization.GetText("Verification")',
        	'PEP.VerifyContent.Compliance': '@Localization.GetText("Compliance")',
			'PEP.VerifyContent.CheckDescription': '@Localization.GetText("Correct and complete")',
			'PEP.VerifyContent.WarningDescription': '@Localization.GetText("Please review, some contents can be missing or wrong")',
			'PEP.VerifyContent.CriticalDescription': '@Localization.GetText("Please review, critical information is missing or wrong")',
            'PEP.ModalPOAReport.From': '@Localization.GetText("PEP.ModalPOAReport.From")',
            'PEP.ModalPOAReport.To': '@Localization.GetText("PEP.ModalPOAReport.To")',
            'PEP.ModalPOAReport.ByVersion': '@Localization.GetText("PEP.ModalPOAReport.ByVersion")',
            'PEP.ModalPOAReport.BySnapshot': '@Localization.GetText("PEP.ModalPOAReport.BySnapshot")',
            'PEP.FinancialExecutionMsg.IdbCostNotEqualsToApprovedAmount': '@Localization.GetText("PEP.FinancialExecutionMsg.IdbCostNotEqualsToApprovedAmount")',
            'PEP.FinancialExecutionMsg.IdbCostEquals': '@Localization.GetText("PEP.FinancialExecutionMsg.IdbCostEquals")',
            'PEP.FinancialExecutionMsg.CounterpartNotEquals': '@Localization.GetText("PEP.FinancialExecutionMsg.CounterpartNotEquals")',
            'PEP.FinancialExecutionMsg.CofinancingNotEquals': '@Localization.GetText("PEP.FinancialExecutionMsg.CofinancingNotEquals")',
            'PEP.ModalRiskMatrix.Title' : '@Localization.GetText("PEP.ModalRiskMatrix.Title")',
            'PEP.ModalRiskMatrix.AssociatedRisks' : '@Localization.GetText("PEP.ModalRiskMatrix.AssociatedRisks")',
            'PEP.ModalRiskMatrix.ResponseActions' : '@Localization.GetText("PEP.ModalRiskMatrix.ResponseActions")',
            'PEP.ModalRiskMatrix.LinkLabel' : '@Localization.GetText("PEP.ModalRiskMatrix.LinkLabel")'
        };

        var listTaskType = @Html.Raw(Json.Encode(Model.TaskType));
        var listDates =[];
        @if (Model.Holidays != null)
        {
            <text>
                listDates = [@Html.Raw(string.Join(", ", Model.Holidays.Select(o => "'" + o + "'")))];
            </text>
        }

        var holidays = listDates.length > 0 ? listDates : '';

        var currentLastDisbursementExpiration = isNaN(Date.parse('@Model.CurrDisExpDate')) ? null : new Date('@Model.CurrDisExpDate');

        var resultsMatrixId = parseInt('@Model.ResultsMatrixId');

        var pepTaskBucketId = parseInt('@Model.PepTaskBucketId');

        var hasStartUp = @Model.HasStartUp.ToString().ToLower();

        var hasApproval = @Model.HasApproval.ToString().ToLower();

        var isClosedOrCancelled = @Model.IsClosedOrCancelled.ToString().ToLower();

        var financeTranche = @Model.FinanciesOthersTranches.ToString().ToLower();

        var totalCostCurrent = '@Model.TotalCostCurrentOriginal';

        var totalCostPartial = -1;

        var user = '@Model.User';

        var roles = document.domain !== 'localhost' ? [@Html.Raw(string.Join(", ", Model.Roles.Select(x => "'" + x + "'")))] : ['Team Leader'];

        var urlToValidate = '@IDB.MW.Domain.Values.PepGlobalValues.ConcurrenceUrl';

        var permissions = document.domain !== 'localhost' ? [@Html.Raw(string.Join(", ", Model.Permission.Select(x => "'" + x + "'")))] : ['PEP/POA Write', 'PEP Import write'];

        var listProcurementStatus = @Html.Raw(Json.Encode(Model.ProcurementStatus));

        var listActivityStatus = @Html.Raw(Json.Encode(Model.ActivityStatus));

        var listPepBucketStatus = @Html.Raw(Json.Encode(Model.PepBucketStatus));

        var countryId = '@Model.CountryId'

        var executingAgencyId = '@Model.ExecutingAgencyId';

        var operationNumber = '@Model.OperationNumber';

        var existDiffAmountContracts = @Model.ExistContracts.ToString().ToLower();

        var pepControllerPath = path + operationNumber + '/Pep/Pep/';

        var hideApprovalNumber = @Model.HideApprovalNumber.ToString().ToLower();
        var isUploadExcel = false;

        var isUserExternal = @Model.IsExternal.ToString().ToLower();

        var nameInstitutionExternal = '@Model.NameExternalAgency';

        var statusList = [];

        @foreach (var d in Model.StatusList)
        {
            @:statusList.push("@Html.Raw(d)");
        }

        var hasSingleNotDraftBucket =  @Model.HasSingleNotDraftBucket.ToString().ToLower();

        var currentApprovedAmount = '@Model.CurrentApprovedAmount';

        var preparationLocalCounterPart = '@Model.PreparationLocalCounterPart';

        var preparationCofinancing = '@Model.PreparationCofinancing';

        var pmrCycleCode = '@Model.PmrCycleCode.ToString()';

        var interval = parseInt('@Model.Interval');

        var showReportDate = true;

        var activeFinancialCostStore = true;

        var enableSlideMessages = true;

        var pmrCycleYear = parseInt('@Model.PmrCycleYear')

        var basePath = '@Globals.GetSetting("BasePath")';

    </script>    
}

<div id="pepInclude" class="container-fluid mt10 hide">
    <div class="col-md-12">
        <h1 class="titlePrincipal">@Localization.GetText("PEP.Title.PEPTitle")</h1>
    </div>
    <div class="col-md-12 mb15">
        <h3 class="titleGroup">@Localization.GetText("PEP.Title.BasicDataTitle")</h3>
    </div>
    <div class="basicDataFrame pl0" id="gridBasicData">
    </div>
    <div class="floatLeft w420 pr0 text-right">
        <div class="contentFloats">
            <div id="btnObjection" class="floatRight ml5"></div>
            <div id="btnSave" class="floatRight ml5"></div>
            <div id="btnCancel" class="floatRight"></div>
        </div>
        <div class="contentFloats">
            <div id="btnVerifyContent" class="floatRight ml5"></div>
            <div id="btnEdit" class="floatRight"></div>
        </div>
        <br />
        <div id="btnPOA"></div>
        <br />
        <div id="AddTasks"></div>
        <br />
        <div id="chkAutoCalculate"></div>
    </div>
    <div class="col-md-12 mt20">
        <div id="ApprovalCurrency" class="w40 floatLeft"></div>
        <div class="mt10 floatLeft">@Localization.GetText("PEP.Info.ApprovalCurrencies")</div>
        <div id="comboYear" class="floatRight pr15"></div>
    </div>
    <div class="col-md-12 mb30">
        <div id="btnContracts" class="w40 floatLeft"></div>
        <div class="mt5 floatLeft">@Localization.GetText("PEP.Info.Contracts")</div>
    </div>
    <div class="row">
        <div class="col-md-12" id="TabGrids">

        </div>
    </div>
    <br>
    <div id="GridHistory"></div>
    <div class="text-right mt30 mb30">
        <div id="AddTasksBottom" class="mb20"></div>
        <div class="contentFloats">
            <div class="floatRight ml5" id="btnExcel"></div>
            <div class="floatRight ml5" id="btnProject"></div>
            <div class="floatRight" id="btnUpload"></div>
            <div class="floatRight" id="btnEditBottom"></div>
        </div>
        <div class="contentFloats mt20">
            <div class="floatRight ml5" id="btnObjectionBottom"></div>
            <div class="floatRight ml5" id="btnSaveBottom"></div>
            <div class="floatRight" id="btnCancelBottom"></div>
        </div>
    </div>
    <input type="hidden" name="currentTab" id="currentTab" value="Planning" />
</div>
<div id="pepMainDiv" class="pepMainDiv hide"></div>
