@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers
@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix

@model ComponentViewModel

@{
    var attributes = new Dictionary<string, string>();
    if (Model.ComponentId == 0)
    {
        attributes.Add("id", "new-");
    }
    else
    {
        attributes.Add("id", Model.ComponentId.ToString());
    }
}

<div class="component-container" data-component-id="@Model.ComponentId">
    <span class="component-order-number">@Model.OrderNumber</span>
    @Confluence.InputText(Model.OrderNumber.ToString(), "Component-OrderNumber", htmlClass: "hide", dataAttributes: attributes)

    @(Html.CollapseSingle("collapseComponent")
        .HtmlClass("component-collapse")
        .AsociatedCollapseAllSelector("[data-name=collapseAllComponent]")
        .TargetRegionSelector(string.Format("#Component-{0}", Model.ComponentId))
    )

    <div class="component-container-data">
        <div class="">
            <div class="lblcontent mb5">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.CSPriorityArea")</label>
            </div>
            <div class="float-right">
                @Confluence.ButtonX("", "removeComponent")
            </div>
            <div class="lblvalue bold pr30">
                @Confluence.InputTextArea(Model.PriorityArea, "PriorityArea", width: "100%",height:"85px", maxLength: 500, dataAttributes: attributes)
            </div>
            <div id="Component-@Model.ComponentId" class="component-objective-container">
                @foreach (var objective in Model.Objectives)
                {
                    @Html.Partial("EditPartial/Objective", objective)
                }
                <div data-button-new="newObjective" class="text-center">
                    @Confluence.ButtonAddNewRows(Localization.GetText("CS.ResultMatrix.NewCSObjective"), "", name: "newObjective")
                </div>
            </div>
        </div>
    </div>
</div>