@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers
@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix

@model ObjectiveViewModel

@{
    var attributes = new Dictionary<string, string>();
    if (Model.ComponentId == 0)
    {
        attributes.Add("id", "new-");
    }
    else
    {
        attributes.Add("id", Model.ComponentId.ToString());
    }

    if (Model.ObjectiveId == 0)
    {
        attributes.Add("persist-objectiveId", "new-");
    }
    else
    {
        attributes.Add("persist-objectiveId", Model.ObjectiveId.ToString());
    }

}
<div data-objective-container="@Model.ObjectiveId" class="mt40">
    <span class="component-objective-order-number">
        <span data-order-number="component">@Model.ComponentOrderNumber</span>.<span data-order-number="objective">@Model.OrderNumber</span>
    </span>
    @Confluence.InputText(Model.OrderNumber.ToString(), "Objective-OrderNumber", htmlClass: "hide", dataAttributes: attributes)
    <div class="row">
        <div class="col-md-3">
            <div class="lblcontent mb5">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.GovernmentPriority")</label>
            </div>
            <div class="lblvalue bold">
                @Confluence.InputTextArea(Model.GovernmentPriority, "GovernmentPriority", width: "100%",height:"125px", maxLength: 650, dataAttributes: attributes)
            </div>
        </div>
        <div class="col-md-6">
            <div class="lblcontent mb5">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.CountryStrategyObjective")</label>
            </div>
            <div class="lblvalue bold">
                @Html.Partial("EditPartial/TranslationName", Model)
            </div>
        </div>
        @if (SecurityHelper.IsVisible(Model.FieldAccessList, "cs-result-matrix-edit-control"))
        {
            <div class="col-md-3" style="margin-right: -15px;" data-idb-fieldname="cs-result-matrix-edit-control">
                <div class="lblcontent mb5" (if (Request.Browser.Browser == "IE") { style = "padding-right: 15px"})>
                     <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.AssociatedExpiredCSObjective")</label>
                </div>
                <div class="lblvalue bold" (if (Request.Browser.Browser == "IE") { style = "padding-right: 15px"})>
@Confluence.InputDropDown(Model.AssociatedExpiredCSObjective.ToString(), "AssociatedExpiredCSObjective", ViewBag.AssociatedObjectiveList, required: false, width: "100%", dataAttributes: attributes, orderAsc: true)
                </div>
            </div>
        }
   
    </div>
    <div class="row pb30">
        <div class="col-md-3"></div>
        <div class="col-md-9" style="padding-left:83px;" >
            @Confluence.ButtonMoveUp("", name: "upObjective")
            @Confluence.ButtonMoveDown("", name: "downObjective")
            @Confluence.ButtonReassign("", name: "reassignObjective")
            @Confluence.ButtonTrash("", name: "removeObjective")
        </div>
    </div>
    <div class="row pb10">
        <div class="col-md-12">
            @Html.Partial("EditPartial/Outcomes", Model.ExpectedOutcomeIndicators)
        </div>
    </div>
    <div class="row mb10 mt5">
        <div class="col-md-12 text-center">
            @Confluence.ButtonAddNewRows(Localization.GetText("CS.ResultMatrix.NewExpectedOutcome"), "", name: "newOutcome")
        </div>
    </div>
</div>