@{
    Layout = null;
}

@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.Contacts.ViewModels.OperationContactsViewModel

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/overrides/CMOverride.css")" />

<div id="PageContent" class="pt20">
    <div class="col-md-12">
        @Confluence.LabelMainTitle(Localization.GetText("CM.Label.Contacts"))
    </div>
    <div class="col-md-12">
        @Html.Partial("~/Areas/Contacts/Views/ControlPanelContacts/ReadPartial/OperationContactsFilterPartial.cshtml", Model)
    </div>

    <div class="col-md-12 mt20">
        @Confluence.InputDropDown(value: "20", name: "ddlPagination", elements: Model.Display != null ? Html.BuildSelectItemList(Model.Display, m => m.Text, m => m.Value) : new List<SelectListItem>(), validateOnChange: true, showEmptyOption: false, orderAsc: false, required: false, placeholder: null, width: "120px")
    </div>

    <div id="controlPanelContactsTable" class="col-md-12" >

    </div>
</div>
<script>
    $(document).ready(function () {
        showLoaderOptional();
        $.ajax({
            url: '@Url.Action("SearchControlPanelContacts", "ControlPanelContacts", new { area = "Contacts" })',
            data: {
                searchInstitutionNameId: -1, searchTitle: "",
                searchUserName: "", searchEaRole: -1, searchContactName: "", operationNumber: ""
            },
            async: true,
            type: 'POST'
        }).done(function (data) {
            var resultSearchPanel = $('#controlPanelContactsTable');
            resultSearchPanel.html(data);
            $("#contactsTable").paginationConfluence(20);
            $("#contactsTable").sortableConfluence();
            bindHandlers();
            hideLoaderOptional();
        }).fail(function (jqXHR, textStatus) {
            hideLoaderOptional();
        });
    });

    $("#contactsTable").paginationConfluence(20);
    $("#contactsTable").sortableConfluence();
    $("button[name='contactFilter']").on("click", function () {
        if (!$("#contactFilterContainer").hasClass("hide")) {
            $("#contactFilterContainer").addClass("hide")
        }
        else {
            $("#contactFilterContainer").removeClass("hide")
        }
    });
    function loadPage() {
        bindHandlers();
    }

    $(document).on('click', 'ul.dropdown-menu[aria-labelledby="id-ddlPagination"] a', function () {
        var displayVal = $("[name='ddlPagination']").val();
        if (displayVal == 'All') {
            var activityProgramCount = $("#contactsTable tbody tr").length;
            displayVal = activityProgramCount;
        }
        $("#contactsTable").paginationConfluence(parseInt(displayVal));
        $(".Pagination").css("float", "right");
        $("#contactsTable").sortableConfluence();
    });

    function addNewControlPanelContact() {
        var container = $("#PageContent");
        showLoaderOptional();
        $.ajax({
            url: '@Url.Action("AddNewControlPanelContact", "ControlPanelContacts", new { area = "Contacts" })',
            async: true,
            type: 'POST'
        }).done(function (data) {
            $(container).empty();
            $(container).append(data);
            hideLoaderOptional();
        }).fail(function (jqXHR, textStatus) {
            hideLoaderOptional();
        });

    }

    function editControlPanelContact() {
        var container = $("#PageContent");
        var operationNumber = $('[name="contactOperation"]').val();
        showLoaderOptional();
        $.ajax({
            url: '@Url.Action("GetControlPanelContact", "Contacts", new { area = "Contacts" })',
            data: {
                operationNumber: operationNumber
            },
            async: true,
            type: 'POST'
        }).done(function (data) {
            $(container).empty();
            $(container).append(data);
            hideLoaderOptional();
        }).fail(function (jqXHR, textStatus) {
            hideLoaderOptional();
        });
    }

    function controlPanelContactsClearAll() {
        $("input[name='contactOperation']").val("");
        $("input[name='contactName']").val("");
        $("input[name='contactTitle']").val("");
        $("input[name='contactUserName']").val("");
        $("input[name='eaRole']").FirstorDefault();
        $("input[name='contactsInstitution']").SetValue("", "");
        $("input[name='allContacts']").prop('checked', true);
    }

    function searchInstitutionFilter(source) {
        var content = $(source).closest('#contactFilterContainer');
        var searchContactName = $('[name="contactName"]').val();
        var operationNumber = $('[name="contactOperation"]').val();
        var searchInstitutionNameId = parseInt(content.find("[name='contactsInstitution']").val()) ? parseInt(content.find("[name='contactsInstitution']").val()) : -1;
        var searchTitle = $('[name="contactTitle"]').val();
        var searchUserName = $('[name="contactUserName"]').val();
        var searchEaRole = $('[name="eaRole"]').val() != "" ? $('[name="eaRole"]').val() : -1;

        showLoaderOptional();
        $.ajax({
            url: '@Url.Action("SearchAdminControlPanelContacts", "ControlPanelContacts", new { area = "Contacts" })',
            data: {
                operationNumber: operationNumber,
                searchInstitutionNameId: searchInstitutionNameId,
                searchTitle: searchTitle,
                searchUserName: searchUserName,
                searchEaRole: searchEaRole,
                searchContactName: searchContactName
            },
            async: true,
            type: 'POST'
        }).done(function (data) {
            var resultSearchPanel = $('#controlPanelContactsTable');
            resultSearchPanel.html(data);
            $("#contactsTable").paginationConfluence(20);
            $("#contactsTable").sortableConfluence();
            bindHandlers();
            hideLoaderOptional();

            $('#contactsTable tbody tr td .text-break-points a').on("click", function () {
                showLoaderOptional();
            });

            $(".sort").on("click", function () {
                setTimeout(function () {
                    bindHandlers();
                    $('#contactsTable tbody tr td .text-break-points a').on("click", function () {
                        showLoaderOptional();
                    });
                }, 1000);
            });
        }).fail(function (jqXHR, textStatus) {
            hideLoaderOptional();
        });
        return false;
    }

    function removeRow(source) {
        var container = $("#PageContent");
        var msg = '@Localization.GetText("OP.OD.Delete.Msg")';
        var title = '@Localization.GetText("Warning")';
        Confirm.ShowWarning(msg, title, "Ok", "Cancel").done(function (answer) {
            if (answer) {
                var operationNumber = $('[name="contactOperation"]').val();
                var executorContactId = source.closest('tr').attr('data-id');
                showLoaderOptional();
                $.ajax({
                    type: "POST",
                    async: true,
                    url: "@Url.Action("RemoveContact", "ControlPanelContacts", new { area = "Contacts" })",
                    data: {
                        operationNumber: operationNumber,
                        executorContactId: executorContactId
                    }
                }).done(function (data) {
                    $(container).empty();
                    $(container).append(data);
                    bindHandlers();
                    hideLoaderOptional();
                }).fail(function (jqXHR, textStatus) {
                    hideLoaderOptional();
                });
            }
        });
    }

    function ExportFileAdminCM(source) {
        var content = $('#contactFilterContainer');
        var operationNumber = content.find('[name="contactOperation"]').val();
        var searchContactName = content.find('[name="contactName"]').val();
        var searchTitle = content.find('[name="contactTitle"]').val();
        var searchUserName = content.find('[name="contactUserName"]').val();
        var eaRole = content.find('[name="eaRole"]').val();
        var searchEaRole = eaRole != "" ? eaRole : -1;
        var institutionNameId = $('#contactFilterContainer').find('[name="contactsInstitution"]').val();
        var searchInstitutionNameId = $.isNumeric(institutionNameId) ? parseInt(institutionNameId) : -1;
        var formatDoc = source.attr('name');

        var urlClientManagerFile = '@Url.Action("DownloadClientManagerAdminFile", "ControlPanelContacts", new {area = "Contacts" })' +
            "?formatType=" + formatDoc +
            "&operationNumber=" + operationNumber +
            "&contactName=" + searchContactName +
            "&title=" + searchTitle +
            "&userName=" + searchUserName +
            "&eaRole=" + searchEaRole +
            "&institutionNameId=" + searchInstitutionNameId;

        window.open(urlClientManagerFile, '_blank');
    }

    $(".sort").on("click", function () {
        setTimeout(function () { bindHandlers(); }, 1000);
    });
</script>