@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.Enums
@using IDB.MW.Application.MrBlueModule.ViewModels.Star
@using IDB.Presentation.MVC4.Areas.MrBlue.Models

@model StarViewModel

@if (Model != null)
{
    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
    <div data-pagemode="edit">
        <input type="hidden" id="isFinalizeId" name="isFinalize" value="false" />
    </div>
    <div data-id="informationStar" class=" row mb20">
        <div class="col-md-12">
            @if (Model.CreatedBy != null)
            {
                @Confluence.LabelsGroup(title: Model.DateStar,
                contentAlways: Localization.GetText("MrBlue.Star.By") +
                " " + Model.CreatedBy,
                asterisk: false)
            }
        </div>
    </div>

    <div class="row mb20">
        <div class="col-md-12">
            @Confluence.LabelSubTitleGroup(Localization.GetText("MrBlue.Star.SafeguardPoliciesTriggered"))
            <div class="margintop1percent">
                @Confluence.Label(Localization.GetText("MrBlue.Star.SafeguardPoliciesTriggered.Help"))
            </div>
        </div>
    </div>
    <div class="row mb20">
        @foreach (var checkPoliciesTriggered in Model.PoliciesTriggered)
        {
            <div class="col-md-12 margintop1percent">
                @Confluence.InputCheckbox(isChecked: checkPoliciesTriggered.IsSelected,
                name: "checkReports",
                label: checkPoliciesTriggered.PolicyLabel,
                disabled: true,
                dataAttributes:
                new Dictionary<string, string> { { "value", (checkPoliciesTriggered.IsSelected).ToString() } })
            </div>
        }
    </div>

    <div class="row mb20 esgQuestionGroupContainer">
        <div class="col-md-12">
            <h4 style="margin-left: 0;">
                @Html.Raw(Localization.GetText("MrBlue.SupervisionReport.OperationObjetive"))
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Confluence.InputTextArea(
                    Model.StarObjective,
                    name: "objetive",
                    width: "100%",
                    height: "100px",
                    isReadOnly: true,
                    disabled: true)
        </div>
    </div>

    @Html.Partial("DynamicQuestionnaire/_DynamicQuestionnaire", Model.StarDynamicQuestionnaire)
               
}
