@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.SupervisionReport
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.SecurityService.Enums

@{
    var devMode = ConfigurationServiceFactory.Current.GetApplicationSettings().IsDevelopmentMode;
    var expRegDate = ConfigurationServiceFactory.Current.GetApplicationSettings().ValidationDataPickerExpReg;
}

<div class="hide" data-id="modalContent" id="uploadFileCorrect">
    <div>
        @Localization.GetText("SupervisionReport.UploadSupervisionReport.FileCorrect")
    </div>
</div>
<div class="hide" data-id="modalContent" id="uploadSupervisionReportFile" data-parsley-validate="true" data-parsley-excluded="[disabled]">
    <div class="row">
        <div class="col-md-12">
            <div class="row mb20">
                <div class="col-md-12">
                    @Confluence.LabelTitleGroup(
                    Localization.GetText("MrBlue.SupervisionReport.FinalRating"))
                </div>
            </div>
            <div class="row row-header">
                <div class="col-md-12">
                    @Confluence.Label(
                    Localization.GetText("MrBlue.SupervisionReport.SupervisionDates"))
                    @Confluence.LabelAsterisk()
                </div>
            </div>
            <div class="row row-header">
                <div class="col-md-3">
                    @Confluence.Label(Localization.GetText("From"))
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-3">
                    @Confluence.Label(Localization.GetText("To"))
                    @Confluence.LabelAsterisk()
                </div>
            </div>
            <div class="row mb20">
                <div class="col-md-3" data-pagemode="edit">
                    @Confluence.InputDatePicker(
                    null,
                    name : "DateFrom",
                    required : true,
                    id : "DateFromInput",
                    expReg : expRegDate,
                    format : "dd MMM yyyy",
                    dataAttributes : new Dictionary<string, string> { { "parsley-lessOrEqualDate", "[name=DateTo]" } })
                </div>
                <div class="col-md-3" data-pagemode="edit">
                    @Confluence.InputDatePicker(null,
                    name : "DateTo",
                    required : true,
                    id : "DateToInput",
                    expReg : expRegDate,
                    format : "dd MMM yyyy",
                    dataAttributes : new Dictionary<string, string> { { "parsley-greaterOrEqualDate", "[name=DateFrom]" } })
                </div>
            </div>
            <div class="row row-header">
                <div class="col-md-12">
                    @Confluence.Label(Localization.GetText("Filename"))
                    @Confluence.LabelAsterisk()
                </div>
            </div>
            <div class="row mb20">
                <div class="col-md-6">
                    @Confluence.InputFile("File", dataAttributes : new Dictionary<string, string> { { "parsley-formatDocument", "true" } }, required : true, width : "520px")
                </div>
            </div>
            <div class="row row-header">
                <div class="col-md-12">
                    @Confluence.Label(Localization.GetText("MrBlue.SupervisionReport.Rating"))
                    @Confluence.LabelAsterisk()
                </div>
            </div>
            <div class="row mb20">
                <div class="col-md-3">
                    @Confluence.InputDropDown(string.Empty,
                        "Rating",
                        ViewBag.listRating,
                        orderAsc : false)
                </div>
            </div>
            <div class="row row-header">
                <div class="col-md-12">
                    @Confluence.Label(Localization.GetText("MrBlue.SupervisionReport.Rationale"))
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-12 margintop1percent">
                    @Confluence.Label(Localization.GetText("MrBlue.SupervisionReport.Rationale.Help"))
                </div>
            </div>
            <div class="row mb20">
                <div class="col-md-12">
                    @Confluence.InputTextArea(string.Empty,
                    "Rationale",
                    width : "100%",
                    height : "125px")
                </div>
            </div>
            <div class="contentFooter">
                <div style="margin-right:20px;">
                    @Confluence.ButtonLink(Localization.GetText("Cancel"),
                    name : "cancel",
                    action : "exitModal",
                    dataAttributes : new Dictionary<string, string>() { { "data-id", "cancelButton" } })

                    @Confluence.ButtonBlue(Localization.GetText("Save"),
                    name : "Save",
                    action : "SupervisionReportUpload",
                    dataAttributes : new Dictionary<string, string>() { { "data-id", "saveButton" } })
                </div>
            </div>
        </div>
    </div>
</div>
