@using IDB.MW.Domain.Values

@model IDB.MW.Domain.Models.Clauses.OperationRelatedModel
@{
    ViewBag.Title = "CreateRevolvingFundRequest";
    bool canBeRequest = this.ViewBag.canBeRequest;
    var validationStage = (List<IDB.MW.Domain.Models.Architecture.MasterDefinitions.ConvergenceMasterDataModel>)ViewBag.ListValidationStage;    
}


@section CSS{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Risks/esmartGeneral.css")"/>
}


@section JavaScript {

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Document/addDocument.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/thumbnail/thumbnail.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Agreements/Condition/editApprovalRequest.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Clauses/addComment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/concurrence.js" + @System.Configuration.ConfigurationManager.AppSettings["cache"].ToString())"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Agreements/Agreement/validationRequest.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var grid = new GridComponent(".grid", 50, false, false);
            
            $(".requestFailed").click(function () {
                $(window.parent.document).find('body').append('<div class="ui-widget-overlay ui-front"></div>');
                $("body").append('<div class="ui-widget-overlay ui-front"></div>');
                $("body").append('<div class="dinamicModal"></div>');
                var route = $("#WarningMessageURL").val();
                var title = "Warning";
                var dialog = $(".dinamicModal").kendoWindow({
                    width: "800px",
                    title: title,
                    draggable: false,
                    resizable: false,
                    content: route,
                    pinned: true,
                    actions: [
                        "Close"
                    ],
                    modal: true,
                    visible: false,
                    close: function () {
                        $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
                        $(".ui-widget-overlay").remove();
                        $(".k-window").remove();
                    }
                }).data("kendoWindow");
                $(".k-window-titlebar").addClass("warning");
                $(".k-window-title").addClass("ico_warning");
                dialog.center();
                dialog.open();
            });
            $("#request1").click(function () {                
                var route = $("#RequestWindow").val();                
                redirectPage(route);
            });
            $("#request2").click(function () {
                var route = $("#RequestWindow").val();
                redirectPage(route);
            });
        });
    </script>
}

@if (Model.Contracts[0].RevolvingFund.Count > 0) {
    @Html.Hidden("RequestWindow", Url.Action("DetailsRevolvingFundApprovalRequest", new { operationId = Model.OperationId, contractId = Model.Contracts[0].ContractId, revolvingFundId = Model.Contracts[0].RevolvingFund.LastOrDefault().RevolvingFundId, mainOperationNumber = Model.mainOperationNumber }))
} else {
    @Html.Hidden("WarningMessageURL", Url.Action("IndexWarningMessage", "Agreements", new { area = "Agreements", message = Localization.GetText("CC.RevolvingFund.FillRequiredField") }))
}

<section class="central">
    <h2 class="hide">@Localization.GetText("CC.RevolvingFund.CentralContent")</h2>
    <div class="mod_contenido_central contracts_and_clauses request_revolving_fund">

        <h3 class="headingh2 w50">
            <a href="@(Url.Action("Index", "Agreements", new { area = "Agreements", operationNumber = Model.mainOperationNumber }))" title=" @Localization.GetText("CC.RevolvingFund.CC")" class="tipo1">@Model.Contracts[0].ContractNumber</a>
        </h3>
        <div class="editingButtonsEdit up">
            @if (@Model.Contracts[0].RevolvingFund.Count > 0)
            {
                if (Html.HasPermission(Permission.REVOLVING_FUND_WRITE) &&
                    validationStage.Any(val =>
                        val.ConvergenceMasterDataId == Model.Contracts[0].RevolvingFund.LastOrDefault().ValidationStageId &&
                        val.Code != ClauseConstants.REVIEW_CONTRACTS_RF_STATUS))
                {
                    if (ViewBag.LastRevolvingFundStatus != "REVIEW")
                    {
                        <label for="edit">
                            <a class="btn-secondary" href="@(Url.Action("EditRevolvingFund", "Agreements",
                                new
                                {
                                    area = "Agreements",
                                    operationId = Model.OperationId,
                                    contractId = Model.Contracts[0].ContractId,
                                    mainOperationNumber = Model.mainOperationNumber
                                }))">@Localization.GetText("OP.DE.Edit")</a>
                        </label>
                    }
                }

                if (Html.HasPermission(Permission.REVOLVING_FUND_WRITE) && canBeRequest)
                {
                    <label for="request">
                        <input type="button" style="float:left!important" class="btn-primary_2 saveandrequest" id="request1"
                               name="Request" value="@Localization.GetText("OP.MS.MissionsWorkflow.SendRequest")">
                    </label>
                }
            }
            else
            {
                if (Html.HasPermission(Permission.REVOLVING_FUND_WRITE))
                {
                    <label for="edit">
                        <a class="btn-secondary" href="@(Url.Action("EditRevolvingFund", "Agreements",
                            new
                            {
                                area = "Agreements",
                                operationId = Model.OperationId,
                                contractId = Model.Contracts[0].ContractId,
                                mainOperationNumber = Model.mainOperationNumber
                            }))">@Localization.GetText("OP.DE.Edit")</a>
                    </label>

                    if (canBeRequest)
                    {
                        <label for="request">
                            <input type="button" style="float:left!important" class="btn-primary_2 saveandrequest" id="request1"
                                   name="Request" value="@Localization.GetText("OP.MS.MissionsWorkflow.SendRequest")">
                        </label>
                    }
                }
            }
        </div>
        <div class="desheadingh3 w94">
            <p class="description"><span class="descriptionBold">@Model.Contracts[0].ContractNumber </span>@Model.OperationNameEn</p>
        </div>
        <h4 class="headingh3 min_bottom_headingh3 ffamilyRegular">@Localization.GetText("CC.RevolvingFund.RF") %</h4>

        <div class="operationData custom w40">
            @if (Model.Contracts[0].RevolvingFund.Count > 0)
            {
                <div class="data4">
                    <label class=" editLabel input" for="Resolving">
                        <span class="dataTitle inputTitle">@Localization.GetText("CC.RevolvingFund.SetPercentage")</span>
                        @Model.Contracts[0].RevolvingFund.LastOrDefault().PercentageValue
                    </label>
                </div>
            }
            @if (Model.Contracts[0].RevolvingFund.Count > 0)
            {
                <div class="data4">
                    <p class="dataTitle">@Localization.GetText("CC.RevolvingFund.ValitationStatus")</p>
                    <p>@Localization.GetText(ViewBag.LastRevolvingFundStatus)</p>
                </div>

            }
        </div>


        <div class="w50" style="position: relative; left: 20%;">
            <div class="mod_tabla w90 ftr">
                <span class="dataTitle">@Localization.GetText("CC.RevolvingFund.HistoricInformation")</span>
                <table class="grid" style="width: 74%;">
                    <thead>
                        <tr>
                            <th class="btn_azul_oscuro_flecha" data-field="Approval">@Localization.GetText("OP.AP.ApprovalDate")</th>
                            <th class="btn_azul_oscuro_flecha" data-field="Resolving">@Localization.GetText("CC.RevolvingFund.RF")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var funds = 0; funds < Model.Contracts[0].RevolvingFund.Count - 1; funds++) {
                            if (Model.Contracts[0].RevolvingFund[funds].ValidationStageId == ViewBag.ApprovedRevolvingFundId) {
                            <tr>
                                <td>@String.Format("{0:dd MMM yyy}", Model.Contracts[0].RevolvingFund[funds].ValidateDate)</td>
                                <td>@Model.Contracts[0].RevolvingFund[funds].PercentageValue</td>
                            </tr> 
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>



        @*Inicio documento*@

        <div class="operationData width_Off min_padding_left dataSocial  ">
                <h4 class="headingh3 cero_left">@Localization.GetText("OP.IN.SI.Documents") </h4>
            </div>
            @*<div class="editingButtonsEdit" style="margin-bottom: 4%; position: relative; right: 3%;">
                <input type="button" class="btn-primary marginOff lnkModal" value="@Localization.GetText("Add")" title="@Localization.GetText("Add")" data-title="@Localization.GetText("Add a document")" data-route="@(Url.Action("IndexDocumentRelationship", "Document", new { area = string.Empty, operationId = Model.OperationId, mainOperationNumber = Model.mainOperationNumber, parentEntityId = Model.Contracts[0].ContractId, subParentEntityId = Model.Contracts[0].RevolvingFund[0].RevolvingFundId, subsubParentEntityId = 0, entityRelated = "CLAUSE_CONTRACTS_REVOLVING_NOREQUEST", entityRegisterId = Model.Contracts[0].RevolvingFund[0].RevolvingFundId, isFirstTime = true }))">
            </div>*@
            <div class="mod_tabla icon_entypo tableDocuments" style="width: 94%">
                <table class="grid2">
                    <thead>
                        <tr>
                            <th class="btn_azul_oscuro_flecha" data-field="User">@Localization.GetText("OP.MS.Documents.User")</th>
                            <th class="btn_azul_oscuro_flecha" data-field="Date">@Localization.GetText("OP.MS.Documents.Date")</th>
                            <th class="btn_azul_oscuro_flecha" data-field="IDBDocNum">@Localization.GetText("OP.AP.Documents.IDBDocNumber")</th>
                            <th class="btn_azul_oscuro_flecha" data-field="Content">@Localization.GetText("OP.NOT.Notification.Content")</th>
                            <th class="btn_azul_oscuro" data-field="Current">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                         @if (@Model.Contracts[0].RevolvingFund.Count > 0)
                         {
                          foreach (var document in Model.Contracts[0].RevolvingFund[0].Documents) {
                            <tr>
                                <td>@document.CreatedBy</td>
                                <td>@String.Format("{0:dd MMM yyy}", document.Created)</td>
                                <td>@document.DocumentReference</td>
                                <td>@document.Description</td>
                                <td>
                                    @{
                                        var secureUrl = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(document.DocumentReference);
                                    }
                                    <a class="btn_entypo" title=" @Localization.GetText("Download")" href=@secureUrl target="_blank" style="position: relative;left: 25%;min-height: 0.9em;min-width: 1.5em;">&#58544;</a>
                                </td>
                            </tr>
                        }
                       }
                    </tbody>
                </table>
            </div>


        @*Fin documento*@



        <div class="w100 ftl">
            <div class="editingButtonsEdit">
                @if (@Model.Contracts[0].RevolvingFund.Count > 0)
                {
                    if (Html.HasPermission(Permission.REVOLVING_FUND_WRITE) &&
                        validationStage.Any(val =>
                            val.ConvergenceMasterDataId == Model.Contracts[0].RevolvingFund.LastOrDefault().ValidationStageId &&
                            val.Code != ClauseConstants.REVIEW_CONTRACTS_RF_STATUS))
                    {
                        <label for="edit">
                            <a class="btn-secondary" href="@(Url.Action("EditRevolvingFund", "Agreements", new { area = "Agreements", operationId = Model.OperationId, contractId = Model.Contracts[0].ContractId, mainOperationNumber = Model.mainOperationNumber }))">@Localization.GetText("OP.DE.Edit")</a>
                        </label>
                    }

                    if (Html.HasPermission(Permission.REVOLVING_FUND_WRITE) && canBeRequest)
                    {
                        <label for="request">
                            <input type="button" style="float:left!important" class="btn-primary_2 saveandrequest" id="request2"
                                   name="Request" value="@Localization.GetText("OP.MS.MissionsWorkflow.SendRequest")" />
                        </label>
                    }
                }
                else
                {
                    if (Html.HasPermission(Permission.REVOLVING_FUND_WRITE))
                    {
                        if (ViewBag.LastRevolvingFundStatus != "REVIEW")
                        {
                            <label for="edit">
                                <a class="btn-secondary" href="@(Url.Action("EditRevolvingFund", "Agreements",
                                    new
                                    {
                                        area = "Agreements",
                                        operationId = Model.OperationId,
                                        contractId = Model.Contracts[0].ContractId,
                                        mainOperationNumber = Model.mainOperationNumber
                                    }))">@Localization.GetText("OP.DE.Edit")</a>
                            </label>
                        }

                        if (canBeRequest)
                        {
                            <label for="request">
                                <input type="button" style="float:left!important" class="btn-primary_2 saveandrequest" id="request2"
                                       name="Request" value="@Localization.GetText("OP.MS.MissionsWorkflow.SendRequest")">
                            </label>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>
