@using IDB.MW.Application.ESW_CIPModule.ViewModels;
@using IDB.MW.Domain.Values;

@model ProposalViewModel

<div class="header" id="header-proposals">
    <div class="row">
        <div class="col-md-12 hideContent">
            @Confluence.Navigation(Confluence.LabelMainTitle(Localization.GetText("R6.Proposal.Proposal.ProposalsTitle"), dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblProposalsTitle" } }), Url.Action("ProposalList", "View", new { area = "ESW_CIP" }))
        </div>
    </div>

    <div class="row grouping-section hide hideContent">
        <div class="col-md-6">
            @Confluence.LabelMainSubTitle(Localization.GetText("R6.Proposal.Proposal.ProposalTitle") + " " + Model.ProposalYear, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "lblProposalYear" } })
        </div>

        <div class="col-md-6">
            @Html.Partial("Partials/Proposals/PButtons", Model)
            <div data-pagemode="edit" class="text-right">
                @Confluence.InputCheckbox(Model.IsReadyForSubmission, "ReadyForSubmission", "chkReadyForSubmission", Localization.GetText("R6.Proposal.Proposal.ProposalReadyforSubmission"))
            </div>
        </div>
    </div>

    <div class="row hide hideContent">
        <div class="col-md-12 text-right">
            @Confluence.ButtonWord(
                "doc",
                "downloadProposalByYear",
                false,
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnDoc" } },
                clase: "floatleft")

            @Confluence.ButtonPdf(
                "pdf",
                "downloadProposalByYear",
                false,
                dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnPdf" } },
                clase: "floatleft")
        </div>
    </div>
</div>

<script type="text/javascript">
	var isESW = '@Model.ProposalType' == '@OperationType.ESW';
</script>


