@using IDB.MW.Application.ESW_CIPModule.ViewModels;

@model ProposalViewModel

@if (Model != null)
{
    @Confluence.Tabs(new Dictionary<string, string>
    {
        {"tabGeneralInformation",Localization.GetText("R6.Proposal.Proposal.GeneralInformation")},
        {"tabOERA",Localization.GetText("R6.Proposal.Proposal.OERA")},
        {"tabDeliverables", Localization.GetText("R6.Proposal.Proposal.Deliverables")},
        {"tabBudgets", Localization.GetText("R6.Proposal.Proposal.Budget")},
        {"tabStaffing",Localization.GetText("R6.Proposal.Proposal.Staffing")},
        {"tabRisks",Localization.GetText("R6.Proposal.Proposal.Risks")},
        {"tabCoordinationMDBs",Localization.GetText("R6.Proposal.Proposal.Coordination")},
        {"tabComments",Localization.GetText("R6.Proposal.Proposal.Comments")},
        {"tabDocumentProposalTasks",Localization.GetText("R6.Proposal.Proposal.DocumentProposalTasks")}
    })

    <div class="tab-content">
        <div class="tab-pane active" id="tabGeneralInformation">
            @if (Model.GeneralInformation != null)
            { 
                @Html.Partial("Partials/Proposals/Tabs/PGeneralInformation", Model)
            }
        </div>

        <div class="tab-pane" id="tabOERA">
            @if (Model.Oera != null)
            {
                @Html.Partial("Partials/Proposals/Tabs/POERA", Model);
            }
        </div>

        <div class="tab-pane" id="tabDeliverables">
            @if (Model.Deliverables != null)
            {
                @Html.Partial("Partials/Proposals/Tabs/PDeliverables", Model);
            }
        </div>

        <div class="tab-pane" id="tabBudgets">
            @if (Model.Budgets != null)
            {
                @Html.Partial("Partials/Proposals/Tabs/PBudgets", Model.Budgets);
            }
        </div>

        <div class="tab-pane" id="tabStaffing">
            @if (Model.Staffing != null)
            {
                @Html.Partial("Partials/Proposals/Tabs/PStaffing", Model.Staffing.TeamMembers);
            }
        </div>

        <div class="tab-pane" id="tabRisks">
            @if (Model.Risks != null)
            {
                @Html.Partial("Partials/Proposals/Tabs/PRisks", Model.Risks);
            }
        </div>

        <div class="tab-pane" id="tabCoordinationMDBs">
            @if (Model.CoordinationMDBs != null)
            {
                @Html.Partial("Partials/Proposals/Tabs/PCoordinationMDBs", Model.CoordinationMDBs);
            }
        </div>

        <div class="tab-pane" id="tabComments">
            @if (Model.Comments != null && Model.Comments.Count > 0)
            {
                @Html.Partial("Partials/Proposals/Tabs/ESWCIPComments", Model.Comments);
            }
            else
            {
                <h5>@Localization.GetText("R6.Proposal.Pcomments.NoComment")</h5>
            }
        </div>

        <div class="tab-pane" id="tabDocumentProposalTasks">
            @if (Model.DocumentProposalTasks != null)
            {
                @Html.Partial("Partials/Proposals/Tabs/PDocumentProposalTasks", Model.DocumentProposalTasks);
            }
        </div>
    </div>
}