@using IDB.MW.Application.CPDModule.ViewModels.ProductProfile

@model  BasicDataViewModel

<div class="row row-header">
    <div class="col-md-12 subtitleGroup">
        @Localization.GetText("CPD.ProductData.ProductNameTitle")
    </div>
</div>
<div class="boxlanguage">
    <div class="floatLeft">
        <ul>
            <li dd-lang="en" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">EN</label>
                </span>
                <span class="asteriskColor">*</span>
                <span class="glyphicon glyphicon-play"></span>
            </li>
            <li dd-lang="es" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">ES</label>
                </span>
                <span class="asteriskColor">*</span>
                <span class="glyphicon"></span>
            </li>
            <li dd-lang="pt" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">PT</label>
                </span>
                <span class="glyphicon"></span>
            </li>
            <li dd-lang="fr" onclick="multiLenguague(this)">
                <span class="langText">
                    <label class="labelNormal langText">FR</label>
                </span>
                <span class="glyphicon"></span>
            </li>
        </ul>
    </div>
    <div dd-lang="en" class="contentboxlanguage">
        <span data-pagemode="read">
            <textarea data-force-parsley-validation="true" readonly="readonly" class="inputTextarea noborder nopadding">@Model.OperationNameEn</textarea>
        </span>
    </div>
    <div dd-lang="es" class="contentboxlanguage hide">
        <span data-pagemode="read">
            <textarea data-force-parsley-validation="true" readonly="readonly" class="inputTextarea noborder nopadding">@Model.OperationNameEs</textarea>
        </span>
    </div>
    <div dd-lang="pt" class="contentboxlanguage hide">
        <span data-pagemode="read">
            <textarea data-force-parsley-validation="true" readonly="readonly" class="inputTextarea noborder nopadding">@Model.OperationNamePt</textarea>
        </span>
    </div>
    <div dd-lang="fr" class="contentboxlanguage hide">
        <span data-pagemode="read">
            <textarea data-force-parsley-validation="true" readonly="readonly" class="inputTextarea noborder nopadding">@Model.OperationNameFr</textarea>
        </span>
    </div>
</div>