@using IDB.MW.Domain.Models.Global
@using IDB.MW.Domain.Session
@using IDB.MVCControls.General.Helpers;

@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/Global/Views/Shared/_Layout.cshtml";
    string operationNumber = ViewBag.operationNumber;
    string userName = ViewBag.userName;
    string k2DetailPath = ViewBag.K2ViewDetailURL;
}


@section CSS
{
    @Styles.Render("~/Content/Confluence")
}

@section JavaScript
    {
@Scripts.Render("~/bundles/scripts")
<script type="text/javascript">
    console.log("@Url.Action("GetTasksByWorkflowId", "Workflows", new { area = "Global" })");
    console.log("@Url.Action("GetCommentsByWorkflowId", "Workflows", new { area = "Global" })");

    $(document).ready(function () {
        loadWorkflowTypeName();
    });

    function editRequest(element) {
        var validation = true;

        if ($('[name="workflowTypeName"]').val() == '' || $('[name="ddlWorkflowType"]').text()) {
            errorBar('Please choose a workflow type.', 3, true)
            validation = false;
        }

        if ($('[name="txtEntityType"]').val() == '' && validation == true) {
            errorBar('Please inform the type of entity.', 3, true)
            validation = false;
        }

        if ($('[name="txtOperationNumbere"]').val() == '' && validation == true) {
            errorBar('Please inform the operation number.', 3, true)
            validation = false;
        }

        if (validation) {
            var requestModel = JSON.stringify({
                OperationNumber: $('[name="txtOperationNumbere"]').val(),
                EntityId: $('[name="txtEntityId"]').val(),
                EntityType: $('[name="txtEntityType"]').val(),
                WorkflowCode: $('[name="ddlWorkflowType"]').GetText(),
                ContractNumber: $('[name="txtContractNumber"]').val()
            });

            url = "@Url.Action("New", "Workflows", new { area = "Global" })";

            $.ajax({
                url: $("#hdnSearchPath").val(),
                data: requestModel,
                dataType: "json",
                contentType: "application/json",
                type: 'post',
                timeout: 360000,
                success: function (data) {
                    if (!data.IsValid) {
                        if (data.ErrorMessage != null || data.ErrorMessage != '')
                            showMessage(data.ErrorMessage);
                        else
                            showMessage('@Localization.GetText("OP.MS.MissionCompleteView.Messsage.ErrorSavingMission")');
                    }
                    else {
                        var _operationNumber = $('[name="txtOperationNumbere"]').val();
                        var n = url.indexOf("Global");
                        var urlFull = url.substring(0, n) + _operationNumber + '/' + url.substring(n);
                        window.location.href = urlFull
                    }
                },
                error: function (xmlhttprequest, textstatus, message) {
                }
            });
        }
    }

    function loadWorkflowTypeName() {
        $('[name="ddlWorkflowType"]').change(function () {
            $('[name="workflowTypeName"]').val($('[name="ddlWorkflowType"]').GetValue())
        })
    }
</script>
}

@Html.Hidden("hdnOperationNumber", operationNumber)
@Html.Hidden("hdnUserName", userName)

@Html.Hidden("hdnSearchPath", Url.Action(controllerName: "Workflows", actionName: "TestRequest") )


<div id="workflows_grid_holder" class="">
    <div class="">
        <!-- Header Container -->
        <div class="">
            @Confluence.LabelTitleGroup("Test")
        </div>
        <br/>
        <!-- Filter container -->
        <div id="searchBoxContainerSearchesResultsMatrix" class="filterNormal" style="width:95%;padding-bottom:10px">
            <div class="" style="left: 15%;">
                @Confluence.LabelBold("Workflow Type Code")
            </div>
            <div class="" style="left: 15%;">
                @Confluence.InputDropDown(
                                value: "ddlWorkflowType",
                                name: "ddlWorkflowType",
                                elements: ViewBag.lstTypes,
                                htmlClassElement: "w90" )
            </div>
            <br/>
            @Confluence.LabelBold("Workflow Type Name")
            <div class="" style="left: 15%;">
                @Confluence.InputText(
                                value: "",
                                name: "workflowTypeName",
                                isReadOnly: true,
                                 htmlClass: "w30")
            </div>
            <br/>
            <div class="" style="left: 15%;">
                @Confluence.LabelBold("Entity Type")
            </div>
            <div class="" style="left: 15%;">
                @Confluence.InputText(
                                value: "",
                                name: "txtEntityType",
                                 htmlClass: "w30")
            </div>
            <br/>
            <div class="" style="left: 15%;">
                @Confluence.LabelBold("Entity Id")
            </div>
            <div class="" style="left: 15%;">
                @Confluence.InputNumber(
                                value: 0,
                                name: "txtEntityId",
                                 htmlClass: "w30")
            </div>
            <br />
            <div class="" style="left: 15%;">
                @Confluence.LabelBold("Contract Number")
            </div>
            <div class="" style="left: 15%;">
                @Confluence.InputText(
                                value: "",
                                name: "txtContractNumber",
                                 htmlClass: "w30")
            </div>
            <br/>
            <div class="" style="left: 15%;">
                @Confluence.LabelBold("Operation Number")
            </div>
            <div class="" style="left: 15%;">
                @Confluence.InputText(
                                value: "",
                                name: "txtOperationNumbere",
                                 htmlClass: "w30")
            </div>
            <br/>
            <div class="" style="left: 77%;">
                <!-- End filters -->
                <div class="" style="padding-right: 10px;">
                    <br/>
                    @Confluence.ButtonBlue("Request", action: "editRequest")
                </div>
            </div>
        </div>
    </div>
</div>