<div id="PageContent">
    <a name="titulos" class="mb20">@Confluence.LabelMainTitle("Menú de la Guía de Estilos")</a>
    
    <div class="filterNormal explain">
        En el caso que su desarrollo utilize el archivo o funciones que se encuentran en framework.js como modales con vex,
        validateContainer y parsley, favor de ver la guia de legacy.
    </div>
    @Html.Partial("Partials/Menu")

    <div class="floatButtons">
        @Confluence.ButtonBlue(Localization.GetText("Legacy"), dataNavigation: Url.Action("Legacy", "View", new { area = "Styles" }))
    </div>

    @Html.Partial("Information/Information")
    @Html.Partial("Examples/Buttons")
    @Html.Partial("Examples/Labels")
    @Html.Partial("Examples/Tables")
    @Html.Partial("Examples/Inputs")
    @Html.Partial("Examples/Icons")
    @Html.Partial("Examples/Others")
</div>