
<div id="PageContent"
     data-parsley-validate="data-parsley-validate"
     data-parsley-excluded="[disabled]">
    @section CSS{
        <style type="text/css">
        </style>
    }


    @section JS{
        <script type="text/javascript">

            function edit() {
                enterEditMode(false, $(document), false, false, false);
            }

            function cancel() {
                exitEditMode(false, $(document), false, false, false);
            }
        </script>
    }

    <div data-id="headerButtons" class="text-right" data-idb-fieldname="btnEditBscDt">
        <div data-pagemode="read">
            @Confluence.ButtonBlue(Localization.GetText("OP.OD.Edit"), action: "edit")
        </div>

        <div data-pagemode="edit">
            @Confluence.ButtonLink(Localization.GetText("OP.OD.Cancel"), null, "cancel")
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    @Confluence.InputRichText("", "example")

    <br />
    <br />
    <br />
    <br />
    @Confluence.InputRichText("", "example", placeholder: "example placeholder")

    <br />
    <br />
    <br />
    <br />
    @Confluence.InputRichText("text <span>algo</span>", "example", placeholder: "example placeholder")

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    @functions {

    }
</div>