@using IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.PMRPublic;
@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.PMRPublic.PMRPublicReportModel
@{
    ViewBag.Title = "";
    Layout = null;

}


<table id="operationsResults" data-role="operationsResults" data-requestfilter="">
    <thead>
        <tr>
            <th class="btn_azul_oscuro_flecha" style="width:10%">@Localization.GetText("Country Department")</th>
            <th class="btn_azul_oscuro_flecha" style="width:7%">@Localization.GetText("Country")</th>
            <th class="btn_azul_oscuro_flecha" style="width:20%">@Localization.GetText("Sector department/ Division")</th>
            <th class="btn_azul_oscuro_flecha" style="width:6%">@Localization.GetText("Operation Number")</th>
            <th class="btn_azul_oscuro_flecha" style="width:5%">@Localization.GetText("Is PMR required")</th>
            <th class="btn_azul_oscuro_flecha" style="width:10%">@Localization.GetText("PMR Validation stage")</th>
            <th class="btn_azul_oscuro_flecha" style="width:16%">@Localization.GetText("Overall Stage")</th>
            <th class="btn_azul_oscuro dato04" style="width:7%">@Localization.GetText("Document Name")</th>
            <th class="btn_azul_oscuro_flecha" style="width:7%">@Localization.GetText("Uploaded to IDB Docs")</th>
            <th class="btn_azul_oscuro_flecha" style="width:7%">@Localization.GetText("Authorize to be published")</th>
            <th class="btn_azul_oscuro_flecha" style="width:5%">@Localization.GetText("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Table != null)
        {
            foreach (PMRPublicModel entry in Model.Table)
            {
                <tr>
                    <td class="tdResults">@entry.CountryDepartment</td>
                    <td class="tdResults">@entry.Country</td>
                    <td class="tdResults">@entry.Department / @entry.Division</td>
                    <td class="tdResults">@entry.OperationNumber</td>
                    <td class="tdResults">
                        <!-- This condition is not wrong; but the database ... :(-->
                        @if (@entry.PMRrequired)
                        {
                            <span>@Localization.GetText("No")</span>
                        }
                        else
                        {
                            <span>@Localization.GetText("Yes")</span>
                        }
                    </td>
                    <td class="tdResults">@entry.PMRValidationStage</td>
                    <td class="tdResults">@entry.OperationStage</td>
                    <td class="tdResults">
                        @if (@entry.DocNum != null)
                        {
                        var secureUrl = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(entry.DocNum);
                        <a href=@secureUrl target="_blank">@entry.DocNum</a>
                        }
                    </td>
                    <td class="tdResults" align="center">
                        @if (@entry.IsActive >= 1)
                        {
                            <input type="checkbox" class="uploadcheck checkboxStyle"
                                   data-operation="no_applicable" name=" isactive" checked disabled>
                        }
                        else
                        {
                            <input type="checkbox" class="uploadcheck checkboxStyle"
                                   data-operation="@entry.OperationId;@entry.OperationNumber"
                                   name="isactive">
                        }
                    </td>
                    <td class="tdResults" align="center">
                        @if (@entry.IsActive >= 1 && @entry.IsAuthorize == 1)
                        {
                            <input type="checkbox" class="authorizecheck checkboxStyle"
                                   data-document="no_applicable" name="isauthorize" checked disabled>
                        }
                        else if (@entry.IsActive >= 1)
                        {
                            <input type="checkbox" class="authorizecheck checkboxStyle"
                                   data-document="@entry.DocNum" name="isauthorize">
                        }
                    </td>
                    <td class="tdResults" align="left">
                        @if (@entry.IsActive >= 1 && @entry.IsAuthorize == 0)
                        {

                            <a href="javascript:void(0);">
                                <input type="button" class="operationButton removeIcon deleteDocument"
                                       data-documentnumber="@entry.DocNum"
                                       data-route="@Url.Action("DeleteDocument", "PMRPublic",
                                       new {area = "Administration"})"
                                       title="@Localization.GetText("Delete")" />
                            </a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

