@using IDB.MW.Domain.Values;

<div data-id="headerButtons" class="floatRight">
    @if (ViewBag.Permission != false ||
        ViewBag.InstitutionPermission != false &&
        ViewBag.EditablaInst == true)
    {
        <div data-pagemode="read">
            @if ((Model.ValidationStage == InstitutionStatusCode.VALIDATION_STAGE_ACTIVE &&
                    !Model.IsDraftReview &&
                    !Model.IsInactive) &&
                Model.HasOperationAssigned)
            {
                @Confluence.ButtonBlue(Localization.GetText("OP.IN.Edit"),
                   action: "edit",
                   disabled: true)
            }
            else
            {
                @Confluence.ButtonBlue(Localization.GetText("OP.IN.Edit"), action: "edit")
            }

            @if (Model.IsDraftReview)
            {
                @Confluence.ButtonOrange(Localization.GetText("OP.IN.RegisterLms"),
                    action: "registerInstitutionLms",
                    dataAttributes: new Dictionary<string, string> { { "with-save", "NO" } })
            }
        </div>
        <div data-pagemode="edit">
            @Confluence.ButtonLink(Localization.GetText("OP.IN.Cancel"),
                action: ViewBag.ID > 0 ? "cancel" : "cancelNew")

            @if (Model.IsDraftReview)
            {
                @Confluence.ButtonBlue(Localization.GetText("OP.IN.Delete"),
                    action: "deleteInstitution")
            }

            @Confluence.ButtonOrange(Localization.GetText("OP.IN.Save"), action: "saveInstitution")

            @if (Model.ValidationStage == InstitutionStatusCode.VALIDATION_STAGE_ACTIVE ||
                        Model.IsDraftReview ||
                        ViewBag.Mode == "NEW")
            {
                @Confluence.ButtonOrange(Localization.GetText("OP.IN.SaveAndRegisterLms"),
                    action: "registerInstitutionLms",
                    dataAttributes: new Dictionary<string, string> { { "with-save", "YES" } })
            }
        </div>
    }
</div>