@model IDB.MW.Application.OPUSModule.ViewModels.Institutions.WorflowIntitutionTable
        
<div class="tableNormal">
    <table class="tableNormal endSpacing">
        <thead>
            <tr role="row">
                <th class="sorting_disabled" rowspan="1" colspan="1"></th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("Operation")</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("Workflow")</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("Status")</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("Submiter")</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("Start date")</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("End date")</th>                             
            </tr>
        </thead>
        <tbody>
            <tr data-id="@Model.WorkflowId">
                <td>
                    <button class="buttonShowRow" onclick="CollapseRowTable(this); showTableInstitution(this)">
                        <span class="caret"></span>
                    </button>
                    <span>
                        <input type="hidden" name="InstitutionIdValue" value="@Model.Operation" />
                    </span>
                </td>
                <td>
                    <span>
                        @Model.Operation
                    </span>
                </td>
                <td>
                    <span>
                        @Model.Workflow
                    </span>
                </td>
                <td>
                    <span>
                        @Model.Status
                    </span>
                </td>
                <td>
                    <span>
                        @Model.Submiter
                    </span>
                </td>
                <td>
                    <span>
                        @Model.StartDate
                    </span>
                </td>
                <td>
                    <span>
                        @Model.EndDate
                    </span>
                </td>
            </tr>

            @if (Model.Tasks != null && Model.Tasks.Any())
            {
            <tr data-parent-id="@Model.WorkflowId" style="display:none">
                <td colspan="8">
                    @Html.Partial("~/Areas/AdministrationSecondPhase/Views/InstitutionView/Partial/InstitutionTaskTable.cshtml", Model.Tasks)
                </td>                
            </tr>
            }

        </tbody>
    </table>
</div>
