@model IDB.MW.Application.AdministrationModule.ViewModels.Institution.InstitutionEditViewModel

<input type="hidden" id="hidInstitutionEditViewModel" value="@ViewBag.SerializedViewModel" />

@Confluence.InputHidden(ViewBag.SerializedViewModel, "hidInstitutionEditViewModel")
@Confluence.InputHidden(ViewBag.InstitutionId, "InstitutionId")
@Confluence.InputHidden(ViewBag.Mode,"insModePag")

<div class="filterNormal mt20 mb20">
    <div class="col-md-12 mb10">
        @Confluence.LabelsGroup(Localization.GetText("OP.IN.EI.Name"), Confluence.Label(Model.Name), Confluence.InputText(Model.Name, "TxtName", 80, width: "100%"), true)
    </div>

    <div class="col-md-12 mb10">
        @Confluence.LabelsGroup(Localization.GetText("OP.IN.EI.Address"), Confluence.Label(Model.Address), Confluence.InputText(Model.Address, "TxtAddress", 40, width: "100%"), true)
    </div>

    <div class="row mb10">
        <div class="col-md-12">
            <div class="col-md-6">
                @Confluence.LabelsGroup(Localization.GetText("OP.IN.EI.City"), Confluence.Label(Model.City), Confluence.InputText(Model.City, "TxtCity", 40, width: "100%"), true)
            </div>
            <div class="col-md-6">
                    @Confluence.LabelsGroup(Localization.GetText("OP.IN.EI.State"), Confluence.Label(Model.State), Confluence.InputText(Model.State, "TxtState",15, width: "100%",required:false), false)
            </div>
        </div>
    </div>

        <div class="row mb10">
            <div class="col-md-12">
                <div class="col-md-6">
                    @Confluence.LabelsGroup(Localization.GetText("OP.IN.EI.ZipCode"), Confluence.Label(Model.ZipCode), Confluence.InputText(Model.ZipCode, "TxtZipCode",15, expReg: "^\\d+$", required: false, width: "100%"), false)
                </div>
                <div class="col-md-6">
                    @Confluence.LabelsGroup(Localization.GetText("OP.IN.EI.Country"), Confluence.Label(Model.Country),
                    Confluence.InputDropDown(Model.CountryId.ToString(), "InstitutionEditCountry", (List<SelectListItem>)ViewBag.CountryFilter, width: "100%", disabled: (ViewBag.ID > 0)), true)
            </div>
        </div>
    </div>


    <div class="row mb10">
        <div class="col-md-12">
            <div class="col-md-6">
                @Confluence.LabelsGroup(Localization.GetText("OP.IN.EI.TelNumber"), Confluence.Label(Model.TelNumber), Confluence.InputText(Model.TelNumber, "TxtTelNumber", 18, width: "100%"), true)
            </div>
            <div class="col-md-6">
                @Confluence.LabelsGroup(Localization.GetText("OP.IN.EI.FaxNumber"), Confluence.Label(Model.FaxNumber), Confluence.InputText(Model.FaxNumber, "TxtFaxNumber", 18, required: false, width: "100%"), false)
            </div>
        </div>
    </div>

    <div class="row mb10">
        <div class="col-md-12">
            <div class="col-md-6">
                @Confluence.LabelsGroup(Localization.GetText("OP.IN.EI.Website"), Confluence.Label(Model.Website), Confluence.InputText(Model.Website, "TxtWebsite", 128, required: false, width: "100%"), false)
            </div>
            <div class="col-md-6">
                @Confluence.LabelsGroup(Localization.GetText("OP.IN.EI.Type"), Confluence.Label(Model.Type), Confluence.InputDropDown(Model.TypeId.ToString(), "InstitutionEditTypeList", (List<SelectListItem>)ViewBag.TypeFilter, width: "100%"), true)
            </div>
        </div>
    </div>

    <div class="row mb10">
        <div class="col-md-12">
            <div class="col-md-6">
                @Confluence.LabelsGroup(
                    Localization.GetText("OP.IN.EI.Acronym"),
                    Confluence.Label(Model.Acronym),
                    Confluence.InputText(Model.Acronym,
                        "TxtAcronym", 
                        17,
                        required: false, 
                        width: "100%"), 
                    false)
            </div>
        </div>
    </div>
</div>
