@model IList<IDB.MW.Application.OPUSModule.ViewModels.Institutions.TaskModelTable>

<link href="~/Content/Modules/Institution/institutionTask.css" rel="stylesheet" />   
 
<div class="institutionTask">
    <ul class="tabs">        
        <li onclick="tabs(this); showTaskTable(this)" dd-tab="#"><b>@Localization.GetText("PCR.FollowUp.TaskList.Task")</b></li>               
    </ul>
    
    <table class="taskTable" >
        <thead>
            <tr role="row">                
                <th rowspan="1" colspan="1">@Localization.GetText("Role")</th>
                <th rowspan="1" colspan="1">@Localization.GetText("User")</th>
                <th rowspan="1" colspan="1">@Localization.GetText("UserId")</th>
                <th rowspan="1" colspan="1">@Localization.GetText("Creation Date")</th>
                <th rowspan="1" colspan="1">@Localization.GetText("Modification Date")</th>
                <th rowspan="1" colspan="1">@Localization.GetText("Action")</th>                               
            </tr>
        </thead>
        <tbody>
        @foreach (var task in Model)
        {
            <tr data-id="@task.TaskId">
                <td>
                    <span>
                       @task.Role     
                    </span>
                </td>
                <td>
                    <span>
                        @task.User
                    </span>
                </td>
                <td>
                    <span>
                        @task.UserId
                    </span>
                </td>
                <td>
                    <span>
                        @task.CreationDate
                    </span>
                </td>
                <td>
                    <span>
                        @task.ModifiedDate
                    </span>
                </td>
                <td>
                    <span>
                        @task.Action
                    </span>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
