@model List<IDB.MW.Application.AdministrationModule.ViewModels.Institution.TableInstitutionViewModel>
@using IDB.MW.Domain.Values;

@if(Model.Count > 0 || Model.Count  == 0)
{
    if (Model.Count == 0)
    {
        <div class="col-md-12 mb20">@Confluence.LabelBold("0 Results")</div>
    }
    else
    {
        <div class="col-md-12 mb20">@Confluence.LabelBold(Model.Count+" Result")</div>
    }
    <div id="InstitutionTableContent" class="tableNormal">
    <table id="InstitutionTable" class="tableNormal endSpacing">
        <thead>
            <tr role="row">
                <th class="sorting_disabled" rowspan="1" colspan="1"></th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("OP.IN.Table.Acronym")</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("OP.IN.Table.Name")</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("OP.IN.Table.Type")</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("OP.IN.Table.Status")</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("OP.IN.Table.OperationAssigned")</th>
                <th class="sorting_disabled" rowspan="1" colspan="1"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {
                <tr>
                    <td>
                        <span>
                            @Localization.GetText("No data availiable in table")
                        </span>
                    </td>
                </tr>
            }
        @foreach (var row in Model)
        {
            <tr data-id="@row.InstitutionId">
                <td>
                    @if (row.IsAdminPanel || row.WorkflowInstitution != null)
                    {
                        <button class="buttonShowRow" onclick="CollapseRowTable(this); showTableInstitution(this)">
                            <span class="caret"></span>
                        </button>
                    }
                    
                    <span>
                        <input type="hidden" name="InstitutionIdValue" value="@row.InstitutionId" />
                    </span>
                </td>
                <td>
                    <span>
                        <a href="@Url.Action(controllerName: "InstitutionView", actionName: "InstitutionEdit", routeValues: new {id = row.InstitutionId, isAssigned = row.OperationAssigned})">@row.Acronym</a>
                    </span>
                </td>
                <td>
                    <span>
                        @row.Name
                    </span>
                </td>
                <td>
                    <span>
                        @row.Type
                    </span>
                </td>
                <td>
                    <span id="InstitutionState">
                        @row.Status
                    </span>
                </td>
                <td>
                    <span>
                        @row.OperationAssigned
                    </span>
                </td>
                <td class="text-center">
                    @if (row.OperationAssigned == "NO")
                    {
                        if (row.Status == "DRAFT" || row.Status == "REVIEW")
                        {
                            <span>
                                @Confluence.ButtonTrash("", "btnDeleteInst", action: "deleteInstitution")
                            </span>
                        }
                        else if (row.Status == "INACTIVE" || row.Status == "DELETE")
                        {
                            <span></span>
                        }
                        else
                        {
                            <span>
                                @Confluence.ButtonBlue(Localization.GetText("OP.IN.Inactive"), "btnInactive", action: "inactiveInstitution")
                                @Confluence.InputHidden(null, "delete")
                            </span>
                        }
                    }
                    else
                    {
                        <span></span>
                    }
                </td>
            </tr>
            if (row.IsAdminPanel && row.StatusCode != InstitutionStatusCode.INST_REVIEW)
            {
                <tr style="display:none" data-parent-id="@row.InstitutionId" class="workflowSubTable">
                    <td colspan="8">
                        <span><b>@string.Format(
                            Localization.GetText(
                                "INS.Admin.Panel.Message.User.Created"),
                                row.CreatedBy, 
                                row.Created.ToString()) </b>
                        </span><br>

                        @if (row.StatusCode != InstitutionStatusCode.INST_DRAFT)
                        {
                            string message = row.StatusCode == InstitutionStatusCode.INST_ACTV ?
                                string.Format(
                                    Localization.GetText("INS.Admin.Panel.Message.User.Approved"),
                                        row.ModifiedBy ?? row.CreatedBy,
                                        row.Modified.HasValue ?
                                            row.Modified.ToString() :
                                            row.Created.ToString()) :
                                string.Format(
                                    Localization.GetText("INS.Admin.Panel.Message.User.Inactive"),
                                        row.ModifiedBy ?? row.CreatedBy,
                                        row.Modified.HasValue ?
                                            row.Modified.ToString() :
                                            row.Created.ToString());

                            <span><b>@message</b></span><br>
                        }
                        
                    </td>
                </tr>
            }

            if (row.WorkflowInstitution != null)
            {
                <tr style="display:none" data-parent-id="@row.InstitutionId" class="workflowSubTable">
                    <td colspan="8">
                        @Html.Partial("~/Areas/AdministrationSecondPhase/Views/InstitutionView/Partial/InstitutionWorkflowTable.cshtml", row.WorkflowInstitution)
                    </td>
                </tr>
            }            
        }
        </tbody>
    </table>
</div>
}