<div class="col-md-12 mb20">
    <div class="filterNormal mb20" name="searchInstitutionContent">
        <div class="col-md-12">
            <div class="col-md-4">
            @Localization.GetText("OP.IN.Name")
            </div>
            <div class="col-md-4">
                @Localization.GetText("OP.IN.Acronym")
            </div>
            <div class="col-md-4">
                @Localization.GetText("OP.IN.Country")
            </div>
        </div>

        <div class="col-md-12 mb20">
            <div class="col-md-4">
                @Confluence.InputDropDownAsync(null, "SearchInstitutionName", Url.Action("GetInstitutionName", "InstitutionView", new { area = "AdministrationSecondPhase" }), width: "100%", minCharacter: 3)
            </div>
            <div class="col-md-4">
                <div id="SearchInstitutionAcronymList" class="col-md-3" style="padding-left: 0; padding-right: 0;">
                    @Confluence.InputDropDown(null, "SearchInstitutionAcronymList", (List<SelectListItem>)ViewBag.CountryCodeList, placeholder: "(-)", width: "100%", required: false)
                </div>
                <div class="col-md-1" style="margin-left: 5px; padding-right: 0; margin-right: 10px; padding-left: 0;">
                    <hr style="float: right; width: 15px; color: #000; height: 1px; border-top: 1px #000 solid; margin-top: 20px;" />
                </div>
                <div class="col-md-7" style="padding-left: 0; padding-right: 0; margin-left: 3px;">
                    @Confluence.InputText("", "SearchInstitutionAcronymTextField", width: "100%", required: false)
                </div>
            </div>
            <div class="col-md-4">
                @Confluence.InputDropDown(null, "SearchInstitutionCountry", (List<SelectListItem>)ViewBag.CountryFilter, width: "100%", required: false)
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
                @Localization.GetText("OP.IN.Status")
            </div>
            <div class="col-md-4">
                @Localization.GetText("OP.IN.Type")
            </div>
            <div class="col-md-4">
            </div>
        </div>

        <div class="col-md-12 mb20">
            <div class="col-md-4">
                @Confluence.InputDropDown("", "SearchInstitutionStatusList", (List<SelectListItem>)ViewBag.StatusFilter, width: "100%", required: false)
            </div>
            <div class="col-md-4">
                @Confluence.InputDropDown("", "SearchInstitutionTypeList", (List<SelectListItem>)ViewBag.TypeFilter, width: "100%", required: false)
            </div>
            <div class="col-md-4 mt20">
                @Confluence.InputCheckbox(false, "SearchInstitutionOperationAssigned", "SearchInstitutionOperationAssigned", "Operation Assigned", labelBold: true)
            </div>
        </div>

        <div class="col-md-12">
            <div class="floatRight">
                @Confluence.ButtonBlue(@Localization.GetText("Common.ClearAll"), action: "cleanInstitutionButton")
                @Confluence.ButtonBlue(@Localization.GetText("OP.MS.Filter"), action: "searchInstitutionFilter")
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mb20">
    <div class="floatRight">
        @Confluence.ButtonBlue(Localization.GetText("OP.IN.NewInstitution"), action: "newInstitutions")
    </div>
</div>

<div class="col-md-12 mb20">
    <div id="tableInstitutionContent"></div>
</div>