@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Application.TCAbstractModule.ViewModels.TCAbstractService
@using IDB.MW.Application.TCAbstractModule.Enums;
@using IDB.MW.Infrastructure.Configuration

@model MeetingGeneralCommentsViewModel

@{
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;
}

<div class="row row-header row-header">
	<input type="hidden" name="meetingGeneralCommetsVM" value="@ViewBag.SerializedViewModel" />
	<div class="col-md-12">
		@{
			var commentSource = new Dictionary<MeetingTypeComment, string>
			{
				{MeetingTypeComment.FundCoordinator, Localization.GetText("TC.SingleWindowMeeting.GeneralComment.Fund")},
				{MeetingTypeComment.RegionalTeamLeader, Localization.GetText("TC.SingleWindowMeeting.GeneralComment.RegionalTL")},
				{MeetingTypeComment.SingleWindowCoordinator, Localization.GetText("TC.SingleWindowMeeting.GeneralComment.SWCoordinator")},
				{MeetingTypeComment.TeamLeader, Localization.GetText("TC.SingleWindowMeeting.GeneralComment.TeamLeader")}
			};
		}
		@foreach (var comment in Model.GeneralComments)
        {
            <div class="row row-header row-header-comment">
                <div class="col-md-12">
                    <span>@FormatHelper.Format(Convert.ToDateTime(comment.Date), formatDate).HtmlEncode()</span>
                    <span>@comment.User.HtmlEncode()</span>
                    <span>@commentSource[comment.TypeComment]</span>
                </div>
				</div>

            <div class="row repeater-item-comment">
                <div class="col-md-12">
                    <div class="font-comment">
                        @comment.Comment.HtmlEncode()
				</div>
				</div>
			</div>
    
        }
	</div>
</div>
