@using IDB.Presentation.MVC4.Helpers;
@using IDB.Architecture.Language;

@model IDB.MW.Application.AdministrationModule.ViewModels.Notification.NotificationSearchViewModel

<div id="viewNotification">
    <div class="row row-body-40" id="header-section">
        <div class="col-md-12">
            @Html.Partial("Partials/NotificationHeaderSearch")
        </div>
    </div>
    <div class="row row-body-40">
        <div class="col-md-12 text-right">
            @Confluence.ButtonBlue(text: Localization.GetText("OP.NOT.Notification.New"), action: "newNotification")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="resultSearchNotifications">
            @Html.Partial("Partials/NotificationTableSearch", Model)
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        $("#tablaPagNotification").paginationConfluense(5);
        $("#tablaPagNotification").sortableConfluense();
    });

    function newNotification(source) {
        var url = '@Url.Action("NotificationEdit", "NotificationView", new { area = "AdministrationSecondPhase" })' + '?isnew=' + true;
        window.open(url, "_self");
    }

    function actionButtonSearchNotification() {
        var searchSelected = $("[name=dropdownCompleteNotification]").GetText();
        var search = $("[name=dropdownCompleteNotification]").GetText() != null ? $("[name=dropdownCompleteNotification]").GetText().replace(/\s/g, "_") : '';

        $("#resultSearchNotifications").empty();
        $('#resultSearchNotifications').load('@Url.Action("SearchNotification", "NotificationView", new { area = "AdministrationSecondPhase"})' + '?filter=' + search);
        $("#tablaPagNotification").paginationConfluense(5);
        $("#tablaPagNotification").sortableConfluense();
    }

 </script>
}
