@using IDB.Presentation.MVC4.Helpers;
@using IDB.Architecture.Language;

@model IDB.MW.Application.AdministrationModule.ViewModels.Notification.NotificationEditViewModel

<div id="viewEditNotification">

    <div class="row row-body-40" id="header-section">
        <div class="col-md-12 ml10">
            @Confluence.LabelMainTitle(Localization.GetText("New Notification"))
            @*<h2 class="titlePrincipal">
               
            </h2>*@
        </div>
    </div>
    <div class="row row-body-40" id="buttonsSection">
        <div class="col-md-12">
            @Html.Partial("Partials/Controls/NotificationEditButtons")
        </div>
    </div>
    <div class="row row-body-40" id="notificationDataSection">
        <div class="col-md-12">           
            @Html.Partial("Partials/NotificationEditPartial")
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-12" id="resultSearchFilter">
            @Html.Partial("Partials/NotificationTableSearch", Model)
        </div>
    </div>*@
</div>

@section scripts
{
    <script type="text/javascript">

    function editNotification() {
        enterEditMode(false, $('#buttonsSection'), true);
        enterEditMode(false, $('#notificationDataSection'), true);
        enterEditMode(false, $('.page'), true);
    }


    $(document).ready(function () {
        @if ((bool)Model.NewNotification == true)
            {
                @:editNotification();

            }
            
        @if ((bool)Model.NewNotification == false)
            {
              @:exitEditMode(false, $('#buttonsSection'), false, false);
              @:exitEditMode(false, $('#notificationDataSection'), false, false);
              @:exitEditMode(false, $('.page'), false, false);
            }

    });

    function returnSearch(source) {

        @Model.NewNotification = false;
        window.location.href = '@Url.Action("Notification", "NotificationView", new { area = "AdministrationSecondPhase" })';
    }

    </script>
}
