@model IDB.MW.Application.TCM.ViewModels.ResultsMatrix.Outcomes.DeleteOutcomeStatementViewModel

<div>
    <span>
        <b>@Localization.GetText("TCM.DO.DeleteOutcomeStatement.TextIfUpdatedOther")</b>
    </span>
    <br/><br/>
    <span>@Localization.GetText("TCM.DO.DeleteOutcomeStatement.OutcomeStatement")</span>
    <br/>
    <b>{{DeleteOutcomeStatementParameters.CurrentOutcome.Statement}}</b>
    <br/><br/><br/>
    <span><b>@Localization.GetText("TCM.DO.DeleteOutcomeStatement.TextUnlessReassigned")</b></span>
    <br/><br/>
    <table class="tableNormal">
        <thead>
        <tr>
            <th width="50%">@Localization.GetText("TCM.DO.DeleteOutcomeStatement.OutcomeIndicator")</th>
            <th>@Localization.GetText("TCM.DO.DeleteOutcomeStatement.ReassignToOutcomeStatement")</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="indicatorToReassign in DeleteOutcomeStatementParameters.CurrentOutcomeIndicators">
            <td>
                <span>{{indicatorToReassign.Definition}}</span>
            </td>
            <td>
                <div class="dropdown" style="width: 100%">
                    <button class="btn btn-default dropdown-toggle " type="button" id="id-OutcomeIndicator_BaseLineYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="cargaDropDown(this)" onkeydown="dropdownNavigation(this, event)" dd-find="">
                        <span class="valueText ng-binding" ng-attr-class="valueText">{{DeleteOutcomeStatementParameters.SelectableOutcomes[0].Statement}}</span>
                        <span class="caret"></span>
                    </button>
                    <input ng-model="OutcomeIndicator.BaseLineYear" type="hidden" name="OutcomeIndicator_BaseLineYear" ng-required="true" class="ng-pristine ng-untouched ng-valid ng-valid-required" required="required">
                    <ul class="dropdown-menu " aria-labelledby="id-OutcomeIndicator_BaseLineYear" dd-value="{{indicatorToReassign.OutcomeIndicatorId}}">
                        <li ng-repeat="item in DeleteOutcomeStatementParameters.SelectableOutcomes" class="ng-scope">
                            <a dd-value="{{item.OutcomeId}}" onclick="addIndicatorToReassign(this)" class="ng-binding">{{item.Statement}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
