@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Impacts.ImpactModel
@{
    ViewBag.Title = Localization.GetText("TCM.New");
}

@using (Html.BeginForm("New", "Outcomes", FormMethod.Post, new { id = "outcomeEditForm"}))
{
    @Html.HiddenFor(model => model.ResultsMatrixId)
    <div class="mod_contenido_central impacts">
        <section>
            <h3 class="headingh2 tipo1"><a href="javascript:void(0)" title="@Localization.GetText("TCM.Outcome.ImpactsDetail")">@Localization.GetText("TCM.Outcomes")</a></h3>
            <div class="editingButtonsEdit">
                <label for="cancel1">
                    <a href="@(Url.Action("Index", "Outcomes", new {area = "ResultsMatrix", operationNumber = ViewData["operationNumber"]}))" class="cancel link12" title="@Localization.GetText("TCM.Cancel")">@Localization.GetText("TCM.Cancel")</a>
                </label>
                <label for="save1">
                    <input type="submit" class="btn-primary_2 save" value="@Localization.GetText("TCM.Save")" id="save_1">
                </label>
            </div>
        </section>
        <section>
            <h4 class="headingh3">@Localization.GetText("TCM.Outcome.NewOutcome")</h4>
            <div class="ftl w75 marginLeft4Con7">
                <fieldset>
                    <legend class="hide">@Localization.GetText("TCM.Outcome.VerificationAndObservations")</legend>
                    <div class="custom">
                        <label class="editLabel input marginBottom2Con8" for="means">
                            <span class="dataTitle inputTitle">@Localization.GetText("TCM.Outcome.Statement")</span>
                            @Html.TextBoxFor(model => model.Statement, new { @class = "input normal" })
                        </label>
                        <label class="editLabel input marginBottom2Con8" for="observations">
                            <span class="dataTitle inputTitle">@Localization.GetText("TCM.Outcome.Observations")</span>
                            @Html.TextBoxFor(model => model.Observations, new { @class = "input normal" })
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="hide">@Localization.GetText("TCM.Outcome.VerificationAndObservations")</legend>
                    <div class="custom">
                        <label class="editLabel input marginBottom2Con8" for="observations">
                            <span class="dataTitle inputTitle">@Localization.GetText("TCM.Outcome.OrderNumber")</span>
                            @Html.TextBoxFor(model => model.OrderNumber, new { @class = "input normal" })
                        </label>
                    </div>
                </fieldset>
            </div>
        </section>
        <section>
            <div class="editingButtonsEdit">
                <label for="cancel1">
                    <a href="@(Url.Action("Index", "Outcomes", new { area = "ResultsMatrix", operationNumber = ViewData["operationNumber"] }))" class="cancel link12" title="@Localization.GetText("TCM.Cancel")">@Localization.GetText("TCM.Cancel")</a>
                </label>
                <label for="save1">
                    <input type="submit" class="btn-primary_2 save" value="@Localization.GetText("TCM.Save")" id="save_2">
                </label>
            </div>

        </section>
    </div>
}
