@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums
@using System.Web.Script.Serialization
@using Newtonsoft.Json
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.Reports
@using IDB.MW.Infrastructure.ReportManager.Enums


@model ReportsDownloadsReportViewModel

@{
    var devMode = ConfigurationServiceFactory.Current.GetApplicationSettings().IsDevelopmentMode;
}

@Html.Partial("_MockReadWritePermissions", IDB.Presentation.MVC4.Models.Mock.MockReadWritePermissionsViewModel.Create(Permission.ESG_SPECIALIST_WRITE_PERMISSIONS))


<div class="row row-body-50">
    <div class="col-md-12">
        @Html.Partial("Partials/buttonsESG")
        @Confluence.LabelMainTitle(Localization.GetText("MrBlue.ESGDownloads.Title"))
    </div>
</div>
<div class="page">
    @if (ViewBag.ReadRole ?? false)
    {
        <div id="Data"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-url="@Url.Action("", "Save", new { area = "MrBlue" })">

            @Html.Partial("Partials/ESGDownloadsPartial", Model)
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("Partials/buttonsESG")
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $(".icoInformation").attr('style', 'margin-top: 5px !important;');
            $('[name="ColumnDelimiter"] > option[value=","]').prop("selected", true);
        });
        registerCallback(function () {
        });
        $(document).on("click", ".informationBox-close", function () {
            return false;
        });

    //Clear All
    function clearAll() {
        location.reload();
    }

    function download() {
        var formatType = $('input[name="Report"]');
        var formatViewModel = $('input[name="Format"]');
        var status = $("ul[aria-labelledby=id-Status] > li > a[dd-selected]").attr("dd-value");
        var reportId = $('input[name="reportId"]');
        var operationStatus = $('input[name="operationStatus"]');
        var reportValue = "";
        operationStatus.val(status);
        var reports = document.getElementsByName("Report");
        for (var i = 0; i < reports.length; i++) {
            if (reports[i].checked)
                reportValue = reports[i].value;
        }
        reportId.val(reportValue);

       
        $('form').submit(function () {
            showLoader();
            setTimeout(hideLoader, 5000);
        });

        $('form').submit();
    }

</script>
}