@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.SecurityService.Enums
@using System.Web.Script.Serialization
@using Newtonsoft.Json
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.Reports
@using IDB.MW.Infrastructure.ReportManager.Enums

@model  ReportsChangeTrackingReportViewModel
@{
    var devMode = ConfigurationServiceFactory.Current.GetApplicationSettings().IsDevelopmentMode;
}


<div class="row row-body-50">
    <div class="col-md-12">
        @Confluence.LabelMainTitle(Localization.GetText("MrBlue.ActionTracking.Title"))
        @Html.Partial("Partials/buttons")
    </div>
</div>
<div class="page">
    <div id="Data"
            data-parsley-validate="data-parsley-validate"
            data-parsley-excluded="[disabled]"
            data-url="@Url.Action("", "Save", new { area = "MrBlue" })">
        @Html.Partial("Partials/ChangeTrackingPartial",Model)
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("Partials/buttons")
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $(".icoInformation").attr('style', 'margin-top: 5px !important;');
            $('[name="ColumnDelimiter"] > option[value=","]').prop("selected", true);
        });
        registerCallback(function () {
        });
        $(document).on("click", ".informationBox-close", function () {
            return false;
        });
        //Clear All
        function clearAll() {
              location.reload();
        }

        function exportExcel() {
            $('[name="ColumnDelimiter"]').attr("data-parsley-required", "true");
            $('[name="ColumnDelimiter"]').attr("data-parsley-required", "true");
            if ($('[name="ESGTeamMember_text"]').val() !== "" && $('[name="ESGTeamMember"]').val() === "") {
                $('[name="ESGTeamMember_text"]').val("");
            } 
            var FechaFrom = $('[name="DateFrom"]').val();
            var FechaTo = $('[name="DateTo"]').val();
            var FechaVersionFrom = $('[name="VersionDateFrom"]').val();
            var FechaVersionTo = $('[name="VersionDateTo"]').val();
            if (converToDate(FechaTo) >= converToDate(FechaFrom)) {
                if (converToDate(FechaVersionTo) >= converToDate(FechaVersionFrom)) {
                    var format = $('[name="formatType"]');
                    format.val("@((int)OutputFormatEnum.Excel)");
                    $('form').submit(function () {
                        showLoader();
                        setTimeout(hideLoader, 5000);
                    });
                    $('form').submit();
                } else showMessage("From date must be earlier than or equal to To date in Version Date");
            }
            else showMessage("From date must be earlier than or equal to To date in Modified On");
        }

        function exportPDF() {
            $('[name="ColumnDelimiter"]').attr("data-parsley-required", "false");
            var FechaFrom = $('[name="DateFrom"]').val();
            var FechaTo = $('[name="DateTo"]').val();
            var FechaVersionFrom = $('[name="VersionDateFrom"]').val();
            var FechaVersionTo = $('[name="VersionDateTo"]').val();
            if (converToDate(FechaTo) >= converToDate(FechaFrom)) {
                if (converToDate(FechaVersionTo) >= converToDate(FechaVersionFrom)) {
                    var format = $('[name="formatType"]');
                    format.val("@((int)OutputFormatEnum.PDF)");

                    $('form').submit(function () {
                        showLoader();
                        setTimeout(hideLoader, 5000);
                    });

                    $('form').submit();
                } else showMessage("From date must be earlier than or equal to To date in Version Date");
            } else {
                showMessage("From date must be earlier than or equal to To date in Modified On");

            }
        }

    </script>
}