@using IDB.Presentation.MVC4.Areas.AdministrationSecondPhase.Helpers

<div class="filterNormal mb20" name="visuaslOutputsMappingContent">
    <div class="col-md-12 mb20">
        <div class="col-md-12">
            <div id="SearchInstitutionAcronymList" class="col-md-6" style="padding-left: 0; padding-right: 0;">
                @Confluence.InputText(value: "", name: "txtSearch", placeholder: Localization.GetText("OPUS.Search.OperationNameNumberApprovalNumber"), width: "100%", htmlClass: "js_txtFilter", required: false)
            </div>
        </div>
    </div>

    <div class="col-md-12 mb20">
        <div class="col-md-3">
            @Confluence.InputDropDown(
                        null,
                        "SearchVisualOutputsMappingCountry",
                        VisualOutputsMappingHelper.GetCountryList(),
                        width: "100%",
                        required: false,
                        placeholder: Localization.GetText("OPUS.Search.Placeholder.Country"))
        </div>

        <div class="col-md-3">
            @Confluence.InputDropDown(
                        null,
                        "SearchVisualOutputsDepartmentSector",
                        VisualOutputsMappingHelper.GetDepartmentSectorList(),
                        width: "100%",
                        required: false,
                        placeholder: Localization.GetText("OPUS.Search.Placeholder.DepartmentSector"))
        </div>
        <div class="col-md-3">
            @Confluence.InputDropDown(
                        null,
                        "SearchVisualOutputsMappingDivision",
                        VisualOutputsMappingHelper.GetDivisionsList(string.Empty),
                        width: "100%",
                        required: false,
                        placeholder: Localization.GetText("OPUS.Search.Placeholder.Division"),
                        groupName: true)
        </div>
    </div>

    <div class="col-md-12 mb20">
        <div class="col-md-3">
            @Confluence.InputDropDownMulti(
                        name: "SearchVisualOutputsMappingApprovalYear", 
                        elements: VisualOutputsMappingHelper.GetYearsList(), 
                        width: "100%", 
                        required: false, 
                        placeholder: Localization.GetText("Approval Year"))
        </div>
        <div class="col-md-3">
            @Confluence.InputDropDownMulti(
                        name: "SearchVisualOutputsMappingElegibilityYear", 
                        elements: VisualOutputsMappingHelper.GetYearsList(),
                        width: "100%", 
                        required: false, 
                        placeholder: Localization.GetText("OPUS.Search.ElegibilityYear"))
        </div>
        <div class="col-md-3">
            @Confluence.InputDropDown(
                        null,
                        "SearchVisualOutputsMappingOperationType",
                        VisualOutputsMappingHelper.GetOperationTypes(),
                        width: "100%",
                        required: false,
                        placeholder: Localization.GetText("OPUS.Search.Placeholder.OperationType"))
        </div>
    </div>

    <div class="col-md-8 mt10">
        @Confluence.InputCheckbox(
                    isChecked: false,
                    name: "showMyOperationsFilter",
                    label: Localization.GetText("OPUS.Search.MyOpertions"),
                    id: "ShowMyOperationsFilter",
                    htmlClass: "mr10",
                    labelBold: true)

        @Confluence.InputCheckbox(
                    isChecked: true,
                    name: "showActiveFilter",
                    label: Localization.GetText("OPUS.Search.ShowActive"),
                    id: "ShowActiveFilter",
                    htmlClass: "mr10",
                    labelBold: true)

        @Confluence.InputCheckbox(
                    isChecked: false,
                    name: "showInactiveFilter",
                    label: Localization.GetText("OPUS.Search.ShowInactive"),
                    id: "ShowInactiveFilter",
                    htmlClass: "mr10",
                    labelBold: true)

        @Confluence.InputCheckbox(
                    isChecked: false,
                    name: "showExitedFilter",
                    label: Localization.GetText("OPUS.Search.ShowExited"),
                    id: "ShowExitedFilter",
                    labelBold: true)
    </div>

    <div class="col-md-12">
        <div class="floatRight">
            @Confluence.ButtonBlue(@Localization.GetText("Search"), name: "downloadSectionApplyFilter")
            @Confluence.ButtonBlue(@Localization.GetText("PCR.MonitoringReport.ClearAll"), 
                                    name: "clearAppliedFilter")
        </div>
    </div>
</div>
