@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Areas.AdministrationSecondPhase.Helpers

@using System.Globalization;

@model IDB.MW.Application.AdministrationModule.ViewModels.VisualOutputsMapping.DownloadFilterResultsViewModel

@{
    var pageSize = ConfigurationServiceFactory.Current.GetApplicationSettings().SearchPageSize;
}

<div class="partialTable">
    <div class="row row-body-40">
        <div class="col-md-3 font-body">
            <span id="numElements">@(Model != null ? Model.FilterResultsViewModel.Count() : 0)
            </span> @Localization.GetText("OPUS.Search.Results").HtmlEncode()
            @Confluence.InputDropDown(
                pageSize.ToString((CultureInfo.InvariantCulture)),
                name: "resultPerPageFilter",
                elements: VisualOutputsMappingHelper.GetNumberOfResultsPerPage(),
                required: false,
                placeholder: Localization.GetText("OPUS.Search.Placeholder.ResultsPerPage"),
                showEmptyOption: false,
                orderAsc: false)
        </div>
        <div class="col-md-4 font-body">
            <div class="mt25">
                @Confluence.InputCheckbox(
                    false,
                    "selectUnselectVisualOutputs",
                    "selectUnselectVisualOutputs",
                    Localization.GetText("Unselect / Select all"),
                    labelBold: false)
            </div>
        </div>
        <div id="downloadSearchExcelUp" class="btn-excel col-md-5 text-right mt10">
            <div>
                @Confluence.ButtonBlue(Localization.GetText("COMMON.ChangesLog"), name: "downloadChangesLogButton")

                @if (Model.HasDownloadDataInLayersPermission)
                {
                    @Confluence.ButtonBlue(Localization.GetText("VOM.ExportMapLayers"), name: "InLayersButton", htmlClass: "InLayersButton")
                }
                @if (Model.HasDownloadDataInExcelPermission)
                {
                    @Confluence.ButtonBlue(Localization.GetText("VOM.ExportExcel"), name: "downloadExcelFile", htmlClass: "excelButton")
                }
            </div>
        </div>
    </div>

    <div class="row row-body-40">
        <div class="col-md-12">
            <table id="visualOutputDownloadFilterResultsTable" class="tableNormal visualOutputDownloadFilterResultsTable mb20">
                <thead>
                    <tr data-id="">
                        <th class="center">
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.OperationNumber")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.OperationName")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.ApprovalNumber")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.Placeholder.Country")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.Placeholder.DepartmentSector")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.Placeholder.Division")
                        </th>
                        <th class="text-right sort">
                            @Localization.GetText("OPUS.Search.ApprovalYear")
                        </th>
                        <th class="text-right sort">
                            @Localization.GetText("OPUS.Search.ElegibilityYear")
                        </th>
                        <th class="center sort">
                            @Localization.GetText("OPUS.Search.Placeholder.OperationType")
                        </th>
                        <th class="text-right sort col-md-1">
                            # @Localization.GetText("OPUS.Search.Outputs")
                        </th>
                        <th class="center col-md-1 sort">
                            @Localization.GetText("OPUS.Search.LastUpdate")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.FilterResultsViewModel != null && Model.FilterResultsViewModel.Any())
                    {
                        foreach (var filterResultRow in Model.FilterResultsViewModel)
                        {
                            <tr data-id="@filterResultRow.OperationId.ToString()">
                                <td>
                                    @Confluence.InputCheckbox(false, "selectedOperation", "selectedOperation", string.Empty, labelBold: false)
                                </td>
                                <td>
                                    @VisualOutputsMapping.OperationsLink(
                                        Url.Action(
                                            "VisualOutputsDetail",
                                            "VisualOutputsMapping",
                                            new
                                            {
                                                area = "AdministrationSecondPhase",
                                                operationNumber = filterResultRow.OperationNumber
                                            }),
                                            filterResultRow.OperationNumber.Replace(" ", string.Empty))
                                    @Confluence.InputHidden(
                                        filterResultRow.OperationNumber, 
                                        name: "operationNumber")
                                </td>
                                <td>@filterResultRow.OperationName</td>
                                <td>@filterResultRow.ApprovalNumber</td>
                                <td>@filterResultRow.Country</td>
                                <td>@filterResultRow.DepartmentSector</td>
                                <td>@filterResultRow.Division</td>
                                <td class="text-right">@filterResultRow.ApprovalYear</td>
                                <td class="text-right">@filterResultRow.ElegibilityYear</td>
                                <td>@filterResultRow.OperationType</td>
                                <td class="text-right">@filterResultRow.Outputs</td>
                                <td>@filterResultRow.LastUpdate</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="downloadLogModal" class="modal fade bd-logs-modal" tabindex="-1" role="dialog" aria-labelledby="validationsLogModal" aria-hidden="true">
        @Html.Partial("Partials/VisualOutputsDownloadDataFilter/VODownloadLogModal")
    </div>

    @Html.Partial("Partials/VisualOutputsDownloadDataFilter/VOExportMapLayerModal")

</div>
