<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">
                @Localization.GetText("VOM.DownloadChangesLog")
            </h4>
            @Confluence.ButtonClose(
                name: "cancelx",
                clase: "vex-close button-modal-content",
                dataAttributes: new Dictionary<string, string> { { "dismiss", "modal" } })
        </div>
        <div class="modal-body mb30">
            <div class="mb20">
                <p class="downloadModalText">
                    @Localization.GetText("VOM.SelectTheDates")
                </p>
            </div>
            <div class="col-md-12 mb30">
                <div class="col-md-6">
                    @Confluence.Label(Localization.GetText("VOM.FromDate"))
                    @Confluence.InputDatePicker(DateTime.Now, "fromDownloadDate")
                    <label style="color:#FF0000; font-size:15px;">*</label>
                </div>
                <div class="col-md-6">
                    @Confluence.Label(Localization.GetText("VOM.ToDate"))
                    @Confluence.InputDatePicker(DateTime.Now, "toDownloadDate")
                    <label style="color:#FF0000; font-size:15px;">*</label>
                </div>
                <div class="col-md-6">
                    <label name="validationDateNull" style="display: none; color:#FF0000; font-size:15px;">
                        *@Localization.GetText("OPUS.Search.ValidationDateNull") <br />
                    </label>
                    <label name="toDateMajorFromDate" style="display: none; color:#FF0000; font-size:15px;">
                        @Localization.GetText("OPUS.Search.StartDateGreater") <br />
                    </label>
                    <label name="toDateMajorCurrentDate" style="display: none; color:#FF0000; font-size:15px;">
                        @Localization.GetText("OPUS.Search.EndDateGreater")
                    </label>
                </div>
            </div>
            <div>
                <p class="downloadModalText">@Localization.GetText("VOM.OnlyOperationsSelected")</p>
            </div>
        </div>
        <div class="modal-footer">
            @Confluence.ButtonLink(
                Localization.GetText("OPUS.Search.Cancel"),
                name: "cancelDownloadValidationLogs",
                dataAttributes: new Dictionary<string, string> { { "dismiss", "modal" } })
            @Confluence.ButtonBlue(
                Localization.GetText("VOM.Download"),
                name: "downloadValidationLogs")
        </div>
    </div>
</div>
