<div id="exportMapLayers" class="modal fade bd-logs-modal" tabindex="-1" role="dialog" aria-labelledby="validationsLogModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 450px; left: 25%;">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    @Localization.GetText("VOM.ExportMapLayers")
                </h4>
                @Confluence.ButtonClose(
                name: "cancelx",
                clase: "vex-close button-modal-content",
                dataAttributes: new Dictionary<string, string> { { "dismiss", "modal" } })
            </div>
            <div class="modal-body mb30">
                <div class="mb5">
                    <p class="downloadModalText">
                        @Localization.GetText("VOM.SelectVisualOutputs")
                    </p>
                </div>
                <div class="col-md-12 mb30">
                    <div class="col-md-15">
                        @Confluence.InputCheckbox(false, name: "selectedVO", id: "VOExternalMap")
                        @Confluence.Label(Localization.GetText("VOM.VisualOutputsExternalMap"))
                    </div>
                    <div class="col-md-15">
                        @Confluence.InputCheckbox(false, name: "selectedVO", id: "VOInternalMap")
                        @Confluence.Label(Localization.GetText("VOM.VisualOutputsInternalMap"))
                    </div>
                    <div class="col-md-15">
                        @Confluence.InputCheckbox(false, name: "selectedVO", id: "VODraftStatus")
                        @Confluence.Label(Localization.GetText("VOM.VisualOutputsDraftStatus"))
                    </div>
                    <div class="col-md-15">
                        @Confluence.InputCheckbox(false, name: "selectAllVO", id: "AllVO")
                        @Confluence.Label(Localization.GetText("VOM.AllVisualOutputs"))
                    </div>
                </div>
                <br />
                <div class="mb5">
                    <p class="downloadModalText">
                        @Localization.GetText("VOM.SelectLayers")
                    </p>
                </div>
                <div class="col-md-12 mb30">
                    <div class="col-md-15">
                        @Confluence.InputRadioButton("VOLayer",
                            "selectedLayer",
                            true,
                            id: "VOLayer")
                        @Confluence.Label(Localization.GetText("VOM.VisualOutputLayer"))
                    </div>
                    <div class="col-md-15">
                        @Confluence.InputRadioButton("ServicesLayer",
                            "selectedLayer",
                            false,
                            id: "ServicesLayer")
                        @Confluence.Label(Localization.GetText("VOM.ServicesLayer"))
                    </div>
                    <div class="col-md-15">
                        @Confluence.InputRadioButton("MilestoneLayer",
                            "selectedLayer",
                            false,
                            id: "MilestoneLayer")
                        @Confluence.Label(Localization.GetText("VOM.MilestoneLayer"))
                    </div>
                </div>
                <br />
                <div>
                    <p class="downloadModalText">@Localization.GetText("VOM.OnlyOperationsSelected")</p>
                </div>
            </div>
            <div class="modal-footer">
                @Confluence.ButtonLink(
                    Localization.GetText("OPUS.Search.Cancel"),
                    name: "cancelExportMapLayers",
                    dataAttributes: new Dictionary<string, string> { { "dismiss", "modal" } })
                @Confluence.ButtonBlue(
                    Localization.GetText("VOM.Export"),
                    name: "exportMapLayers")
            </div>
        </div>
    </div>
</div>
