@using IDB.Presentation.MVC4.Areas.FinancialPlan.Models;
@using IDB.MW.Application.FinancialPlanModule.Enums;
@model IDB.MW.Application.FinancialPlanModule.ViewModels.FinancialPlanViewModel
@{
    var mode = Model.Mode;
    ViewBag.showLoader = true;
    ViewBag.fixLoad = true;
}
@Html.Partial("Partial/Header", Model)
@Html.Partial("Partial/FinancialInputValue", Model)
<div class="page tab-content">
    <div class="tab-pane active financial-information" id="contractlevel">
        @Html.Partial("Partial/FinancialPlanInformation", Model)
    </div>
    <div id="operationlevel" class="tab-pane @mode">
        @Html.Partial("Partial/FinancialPlanInformation", Model)
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        registerCallback(function () {
            $(document).ready(function () {
                var totalMonths = '@Model.MonthTotal';
                var fpMode = '@Model.Mode';
                FPPage.taskActive = '@TaskStatusConst.TaskActive';

                FPPage.SaveMessages = {
                    message: '@Localization.GetText("FP.SaveMessage")',
                    errorMessage: '@Localization.GetText("FP.GeneralErrorMessage")',
                    errorMessageNotEnoughDisbursements: '@Localization.GetText("FP.SaveValidation.NotEnoughDisbursements")',
                    errorMessageTooManyDisbursements: '@Localization.GetText("FP.SaveValidation.TooManyDisbursements")',
                    errorMessageRestOfYearTotalIDBBiggerThanTotalAvailableFunds: '@Localization.GetText("FP.SaveValidation.IDBRestOfYearBiggerThanTotalAvailableFunds")',
                    errorMessageProjectionFilterEmpty: '@Localization.GetText("FP.FILTER.ProjectionFilterEmpty")',
                    messageConfirmApplyFilter: '@Localization.GetText("FP.Confirm.ApplyFilter")',
                    OptionYes: '@Localization.GetText("COMMON.Yes")',
                    OptionNo: '@Localization.GetText("COMMON.No")'
                }

                FPPage.warningMessageSubmitted = '@Localization.GetText("FP.Warning.Message.Submitted")'
                FPPage.WarningMessages = {
                    clearTrashWarningMessage: '@Localization.GetText("FP.ClearTrashWarningMessage")'
                }

                FPPage.loadInitialDataAndFunctions(totalMonths, fpMode);
                FPPage.expandAllText = '@Localization.GetText("GLOBAL.CONTROL.EXPANDALL")';
                FPPage.collapseAllText = '@Localization.GetText("GLOBAL.CONTROL.COLLAPSEALL")';
            });
                });
    </script>
}