@using System.Web.Mvc

@using IDB.Architecture.Language
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MW.Application.SGPModule.Constants
@using IDB.MW.Infrastructure.SecurityService.Enums
@using IDB.MW.Application.SGPModule.ViewModels.ProcurementDetail
@using IDB.Architecture.DataTables.Common
@using IDB.Architecture.ApplicationParameter


@model ProcurementDetailViewModel

@{    
    var declareInegibility = Model.Header.DeclareIneligibility;
    var hasWfLaunched = string.Empty;

    if (declareInegibility != null)
    {
        hasWfLaunched = (Model.Header.DeclareIneligibility.HasWfLaunched.HasValue && Model.Header.DeclareIneligibility.HasWfLaunched.Value) ? "hide" : "";
    }
}

@if (Model.ParticipantTab != null)
{
    <div class="row">
        <div class="col-xs-3">
            @Confluence.LabelMainSubTitle(Localization.GetText("SGP.Label.BidderParticipants"), htmlClass: "subTitleSG mb10")
        </div>
        <div class="col-xs-9">
            <div class="@(hasWfLaunched)">
                @Html.Partial("ReadPartial/Participants/Buttons", Model)
            </div>
            <div style="padding-top: 30px;">
                @Confluence.LabelLinkBlank(Localization.GetText("SGP.Label.AccesSanctionList"),
                url: AppParameter.GetText("Template.Site.Url.SGP.Templates.Sanction.List"))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="float-right" style="margin-top: -10px !important;">
                @(Html.CollapseAll("collapseAllParticipantRead").CollapseSingleSelector("tr:not(.template) [data-name=\"collapseParticipantDetailsRead\"]"))
            </div>
            <div>
                @Confluence.LabelBold(Localization.GetText("SGP.Label.Note"))
                @Confluence.Label(Localization.GetText("SGP.Label.TechnicalScoreAndFinancial"))
                @Confluence.Label(Localization.GetText("SGP.Label.WeightedScores"), htmlClass: "fontCursive")
            </div>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-xs-12">
            @Html.Partial("ReadPartial/Participants/ParticipantsTablePartial", Model.ParticipantTab)
        </div>
    </div>
    <div class="row mb10">
        <div class="col-xs-12">
            <div class="@(hasWfLaunched)">
                @Html.Partial("ReadPartial/Participants/Buttons", Model)
            </div>
        </div>
    </div>

    @Html.ScriptBlock(
    @<script type="text/javascript">

        /* ---------------------- Events Bidder ---------------------- */
        registerCallback(function () {

            /* ---- Collapse Bidder ---- */
            $(document).on('click', 'td.columnActionOnlyCollapse', function (e) {
                var source = $(this);
                if (e.currentTarget == e.target) {
                    var collapse = source.find('[data-role="collapse-single"]');
                    var data = collapse.data('CollapseSingle');
                    data.SlideContent();
                    data.RedrawCollapseAll();
                }
            });

            $(document).on('click', '[name="view-bidder-details"]', function () {
                var source = $(this);
                var row = source.closest('tr');
                var modalBtn = $('[name="btn-open-popup-view-bidder-details"]');
                var modal = $('[data-name="modal-view-bidder-details"]');

                var bidderName = row.find('[name="bidder"]').html();
                var bidderNationality = row.find('[name="nationality-bidder"]').html();
                var bidderGender = row.find('[name="gender-bidder"]').val();
                var bidderEconomicSector = row.find('[name="economicSector-bidder"]').val();
                var bidderAddress = row.find('[name="address-bidder"]').val();
                var bidderCountry = row.find('[name="country-bidder"]').val();
                var bidderState = row.find('[name="state-bidder"]').val();
                var bidderDistrict = row.find('[name="district-bidder"]').val();
                var LocationOfBidder = $('[data-name="LocationOfBidder"]');
                var LocationOfParticipant = $('[data-name="LocationOfParticipant"]');

                modal.find('[data-name="name-bidder"]').html(bidderName);
                modal.find('[data-name="gender-bidder"]').html(bidderGender);
                modal.find('[data-name="nationality-bidder"]').html(bidderNationality);
                modal.find('[data-name="economicSector-bidder"]').html(bidderEconomicSector);
                modal.find('[data-name="address-bidder"]').html(bidderAddress);
                modal.find('[data-name="country-bidder"]').html(bidderCountry);
                modal.find('[data-name="state-bidder"]').html(bidderState);
                modal.find('[data-name="district-bidder"]').html(bidderDistrict);

                LocationOfBidder.removeClass('hide');
                LocationOfParticipant.addClass('hide');
                
                modalBtn.data('pressed-by', source);
                modalBtn.click();
            });
        });

        /* ---------------------- Events Participant ---------------------- */
        registerCallback(function () {
            $(document).on('click', '[name="view-participant-details"]', function () {
                var source = $(this);
                var row = source.closest('tr');
                var modalBtn = $('[name="btn-open-popup-view-bidder-details"]');
                var modal = $('[data-name="modal-view-bidder-details"]');

                var participantName = row.find('[name="participant"]').html();
                var participantNationality = row.find('[name="nationality-participant"]').html();
                var participantGender = row.find('[name="gender-participant"]').val();
                var participantEconomicSector = row.find('[name="economicSector-participant"]').val();
                var participantAddress = row.find('[name="address-participant"]').val();
                var participantCountry = row.find('[name="country-participant"]').val();
                var participantState = row.find('[name="state-participant"]').val();
                var participantDistrict = row.find('[name="district-participant"]').val();
                var LocationOfBidderLabel = $('[data-name="LocationOfBidder"]');
                var LocationOfParticipantLabel = $('[data-name="LocationOfParticipant"]');

                modal.find('[data-name="name-bidder"]').html(participantName);
                modal.find('[data-name="gender-bidder"]').html(participantGender);
                modal.find('[data-name="nationality-bidder"]').html(participantNationality);
                modal.find('[data-name="economicSector-bidder"]').html(participantEconomicSector);
                modal.find('[data-name="address-bidder"]').html(participantAddress);
                modal.find('[data-name="country-bidder"]').html(participantCountry);
                modal.find('[data-name="state-bidder"]').html(participantState);
                modal.find('[data-name="district-bidder"]').html(participantDistrict);
                
                LocationOfBidderLabel.addClass('hide');
                LocationOfParticipantLabel.removeClass('hide');

                modalBtn.data('pressed-by', source);
                modalBtn.click();
            });

        });

    </script>
      )
}

