@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using System.Globalization
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Application.MrBlueModule.ViewModels.SafeguardToolkit
@using IDB.Presentation.MVC4.Areas.MrBlue.Models
@using IDB.MW.Application.MrBlueModule.Enums

@model SafeguardToolkitStep3ViewModel

@{
    var devMode = ConfigurationServiceFactory.Current.GetApplicationSettings().IsDevelopmentMode;
    var buttonsViewModel = new SafeguardToolkitButtonsViewModel { VersionId = Model.SafeguardToolkitId, Step = SafeguardToolkitStepEnum.Step3, ShowCancel = true, ShowBack = true, ShowSave = true, ShowNext = true, isStep2 = false };
}


@if(Model != null)
{
    <div data-pagemode="edit">
        <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("Partials/buttons", buttonsViewModel)
                @Confluence.LabelsGroup(
            Localization.GetText("MrBlue.SafeguardToolkit.Step3.StepName"),
            contentAlways : Confluence.LabelBold(
            Localization.GetText("MrBlue.SafeguardToolkit.Step3.StepTitle")),
            asterisk : false)
            </div>
        </div>
        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.LabelTitleGroup(Localization.GetText("MrBlue.SafeguardToolkit.SafeguardToolkitStepsTitle"))
            </div>
        </div>

        <div class="row mb20">
            <div class="col-md-12">
                @Confluence.Paragraph("(Note: Climate change could affect impacts on Natural Habitats, " +
                        "Community Health & Safety, Water Resources, Transboundary Impacts, and Resilience to Natural Hazards." +
                        " Please take these into consideration when assessing the project’s impact).")
            </div>
        </div>


        @if(Model != null && Model.ImpactsChecklist != null)
        {
            <div id="safeguardToolkitDynamicQuestionnaire">
                @Html.Partial("DynamicQuestionnaire/_DynamicQuestionnaire", Model.ImpactsChecklist)
            </div>
        }

        <div class="row mb20">
            <div class="col-md-12">
                @Html.Partial("Partials/buttons", buttonsViewModel)
            </div>
        </div>
    </div>
}
