@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General

@model HeaderTabViewModel
@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
}

<input type="text" name="hiddenEstimateAmount" class="hide" value="@Model.OriginalEstimate" />
<input type="text" name="hiddenIsConfidential" class="hide" value="@Model.IsConfidential.ToString().ToLower()" />

<div class="hide" data-section="modals">
    @Display.AddModalButton(new ModalViewModel(
        contentSelector: "[data-name=\"summary-data-modal\"]",
        title: Localization.GetText("TCP.FirmProcurement.Button.SummaryData"),
        type: CssClass.ModalInformationNoIcon,
        moveOriginalContent: true,
        name: "btn-open-popup-summary-data",
        closeOnOverlay: false,
        allowClose: true,
        actionOnClose: "")
        .AddButton(name: "btn-summary-data-close",
                    text: Localization.GetText("Common.Close"),
                    type: CssClass.Button01,
                    callback: ""))
    
        @Html.Partial("ReadPartial/_summaryData", Model.SummaryData)
    

</div>
<div class="row mb30">
    <div class="col-xs-12">
        @Confluence.LabelMainTitle(Localization.GetText("TCP.FirmProcurement.MainTitle"))
    </div>
</div>
<div class="row mb30">
    <div class="col-xs-12">

        <div class="float-right">
            @Confluence.ButtonBlue(Localization.GetText("TCP.FirmProcurement.Button.SummaryData"), name: "summaryDataButton")
        </div>
        @Confluence.LabelMainTitle(string.Format("{0} {1}", Model.ProcurementoCode, Model.ProcurementName))
    </div>
</div>


<table class="model-table-row">
    <tr class="model-table-file-exe">
        <td>
            @Confluence.Label(Localization.GetText("TCP.FirmProcurement.Header.Title.ProcurementStatus"))
        </td>

        <td>
            @Confluence.Label(Localization.GetText("TCP.FirmProcurement.Header.Title.ProcurementStage"))
        </td>
        <td>
            @Confluence.Label(Localization.GetText("TCP.FirmProcurement.Header.Title.ProcurementProcessModality"))
        </td>
        <td>
            @Confluence.Label(Localization.GetText("TCP.FirmProcurement.Header.Title.Confidential"))
        </td>
        <td>
            @Confluence.Label(Localization.GetText("TCP.FirmProcurement.Header.Title.ProcessStartDate"))
        </td>
        <td>
            @Confluence.Label(Localization.GetText("TCP.FirmProcurement.Header.Title.ProcessEndDate"))
        </td>
    </tr>
    <tr class="model-table-file-exe">
        <td>
            @Confluence.LabelBold(Model.Status)
        </td>
        <td>
            @Confluence.LabelBold(Model.Stage)
        </td>
        <td>
            @Confluence.LabelBold(Model.Modality)
        </td>

        <td>
            @Confluence.LabelBold(Model.IsConfidential ? Localization.GetText("Common.Yes") : Localization.GetText("Common.No"))
        </td>
        <td>
            @Confluence.LabelBold(FormatHelper.Format(Model.StartDate, formatDate))
        </td>
        <td>
            @Confluence.LabelBold(FormatHelper.Format(Model.EndDate, formatDate))
        </td>
    </tr>
</table>

