@using System.Globalization;

@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.MW.Infrastructure.BaseClasses
@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Components
@using IDB.MW.Application.Core.ViewModels
@using IDB.MW.Application.BEOProcurementModule.Enums
@using IDB.Architecture.ApplicationParameter

@model ContractModificationViewModel

@{

    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
    var formatDecimal = appSettings.FormatDecimal;
    var formatInteger = appSettings.FormatInteger;

    var sectionClass = Model.ContractModificationsViewModels.HasModifications ? "" : "hide";
}

<div class="row mb20">
    <div class="col-xs-12 mb10">
        <div class="mb5 aligment">
            @Confluence.LabelMainSubTitle(Localization.GetText("TCP.FirmProcurement.TableTitle.ContractModifications"))
        </div>
        <div class="mb10">
            @Confluence.Label(Localization.GetText("TCP.FirmProcurement.CheckboxText.ContractModifications"))
        </div>

        <div class="mb10">
            @Confluence.InputRadioButton("True", "HasContractModifications-" + Model.ContractModificationsViewModels.OfferId,
            Model.ContractModificationsViewModels.HasModifications,
            label: Localization.GetText("Common.Yes"),
            isInLine: true,
            disabled: true)

            @Confluence.InputRadioButton("False", "HasContractModifications-" + Model.ContractModificationsViewModels.OfferId,
            !Model.ContractModificationsViewModels.HasModifications,
            label: Localization.GetText("Common.No"),
            isInLine: true,
            htmlClass: "radiobutton-default ml20",
            disabled: true)
        </div>

    </div>
    <div class="col-xs-12 @sectionClass">

        <div class="row mb5">
            <div class="col-xs-3">
                @Confluence.Label(Localization.GetText("TCP.FirmProcurement.OriginalStartDate"))
            </div>
            <div class="col-xs-3">
                @Confluence.Label(Localization.GetText("TCP.FirmProcurement.OriginalEndDate"))
            </div>
            <div class="col-xs-3">
                @Confluence.Label(Localization.GetText("COMMON.Currency"))
            </div>
            <div class="col-xs-3">
                @Confluence.Label(Localization.GetText("Original Contract Amount"))
            </div>
        </div>

        <div class="row mb10">
            <div class="col-xs-3">
                @Confluence.Label(FormatHelper.Format(Model.ContractModificationsViewModels.OriginalContractStartDate, formatDate), htmlClass: "bold")
            </div>
            <div class="col-xs-3">
                @Confluence.Label(FormatHelper.Format(Model.ContractModificationsViewModels.OriginalContractEndDate, formatDate), htmlClass: "bold")
            </div>
            <div class="col-xs-3">
                @Confluence.Label(Model.ContractModificationsViewModels.Currency, htmlClass: "bold")
            </div>
            <div class="col-xs-3">
                @Confluence.Label(text: FormatHelper.Format(Model.ContractModificationsViewModels.OriginalAmountContract, formatDecimal), htmlClass: "bold")
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("ReadPartial/DatatableModificationDocs", Model)
            </div>
        </div>

        <div class="row mb50">
            <div class="col-xs-12 textalign-right">
                @Confluence.ButtonPdf(
                    name: "btnContractModificationsPDFBottom",
                    dataAttributes: new Dictionary<string, string>() { { "offerId", Model.ContractModificationsViewModels.OfferId.ToString() } },
                    action: "")
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 mb50">
                @Html.Partial("ReadPartial/DataTableDocsFirm",
                new FirmDocViewModel
                {
                    HasLink = true,
                    LinkURL = AppParameter.GetText("Template.Site.Url.BEO.Templates"),
                    Prefix = string.Empty,
                    Rows = Model.ContractModificationsViewModels.Comunications,
                    SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.CommunicationsRelatedDocs.ContractModification"),
                    TableName = "ExComunications",
                    Title = Localization.GetText("TCP.FirmProcurement.TableTitle.CommunicationsRelatedDocs"),
                    IsHiddenFirm = true
                })
            </div>
        </div>

        <div class="row">
            <div class="col-xs-11">
                @Confluence.InputCheckbox(Model.ContractModificationsViewModels.IsCertified, name: "IsCertifyModifications", label: Localization.GetText("TCP.FirmProcurement.RadioButtonText.ContractModifications"), disabled: true)
            </div>
        </div>
    </div>
</div>