@using System.Globalization;
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers

@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.MW.Application.ProcurementModule.ViewModels.FirmProcurement
@using IDB.Architecture.ApplicationParameter
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Components
@using IDB.MW.Domain.EntityHelpers

@model List<DocumentPublishRowViewModel>

@{
    var tableName = "ContractDocs";
    var contractTable = Model.Select(d => new DocumentContractRecordModel
    {
        Author = d.User,
        CreationDate = d.Date,
        DocumentId = d.Id,
        DocumentName = d.Description,
        DocumentNumber = d.DocumentNumber,
        IsPublished = d.IsPublishIDB,
        Link = DownloadDocumentHelper.GetDocumentLink(d.DocumentNumber),
        DiscloseDate = d.PublicationDate,
        IsPublishIDBControl = Confluence.InputCheckbox(d.IsPublishIDB, "IsPublishIDB", disabled: true).ToHtmlString(),
        IsPublishUNDBControl = Confluence.InputCheckbox(d.IsPublishUNDB, "IsPublishUNDB", disabled: true).ToHtmlString(),
    })
    .ToList()
    .PopulateDataTable();
}

<table class="table-transparent mb10">
    <tbody>
        <tr>
            <td class="table-transparent-text">
                <div class="mb5 font-14">
                    @Confluence.LabelSubTitleGroup(Localization.GetText("TCP.FirmProcurement.TableTitle.NoticePublicationAward"))
                </div>

                <div class="mb5">
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.UploadDocpublished"))
                </div>

                @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.ContractDocument.SeconSubTitle"))

            </td>
            <td class="table-transparent-buttons">
                @Confluence.LabelLinkBlank(text: Localization.GetText("TCP.FirmProcurement.Link.ViewTemplates"),
                                name: "viewTemplatesLink",
                                url: AppParameter.GetText("Template.Site.Url.BEO.Templates"),
                                htmlClass: "bold")
            </td>
        </tr>
    </tbody>
</table>

<div class="row mb20">
    <div class="col-xs-12">
        @DocumentManagement.DynamicTable(tableName, tableName, contractTable, false, true)
    </div>
</div>