
<span class="italicStyle">
    @Confluence.LabelHelper(Localization.GetText("TCP.FirmProcurement.Legend.CommitFunds.TotalFundsCurrentlyAvailable"))
</span>

@Confluence.LabelHelper(Localization.GetText("TCP.FirmProcurement.Legend.CommitFundsSimple.IsObtained"))

<span class="italicStyle">
    @Confluence.LabelHelper(Localization.GetText("TCP.FirmProcurement.Legend.CommitFundsSimple.RevisedAmount"))
</span>

@Confluence.LabelHelper(Localization.GetText("TCP.FirmProcurement.Legend.CommitFundsSimple.WhenOtherwiseTaken"))

<span class="italicStyle">
    @Confluence.LabelHelper(Localization.GetText("TCP.FirmProcurement.Legend.CommitFundsSimple.AllocatedAmount"))
</span>
