@using System.Globalization;
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers

@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.MW.Application.ProcurementModule.ViewModels.FirmProcurement
@using IDB.Architecture.ApplicationParameter
@using IDB.Architecture.DataTables.Common
@using IDB.MW.Domain.EntityHelpers

@model List<DocumentPublishRowViewModel>

@{
    var tableName = "REOIs";
    var reoisTable = Model.Select(d => new DocumentReoiViewModel
    {
        Author = d.User,
        CreationDate = d.Date,
        DocumentId = d.Id,
        DocumentName = d.Description,
        DocumentNumber = d.DocumentNumber,
        IsPublished = d.IsPublishIDB,
        Link = DownloadDocumentHelper.GetDocumentLink(d.DocumentNumber),
        DiscloseDate = d.PublicationDate,
        DeadlineDateControl = FormatHelper.Format(d.DeadlineDate, IDB.MW.Domain.Values.FormatValues.DATE_FORMAT),
        IsPublishIDBControl = Confluence.InputCheckbox(isChecked: d.IsPublishIDB, name: "IsPublishIDB", disabled: true).ToHtmlString(),
        IsPublishUNDBControl = Confluence.InputCheckbox(isChecked: d.IsPublishUNDB, name: "IsPublishUNDB", disabled: true).ToHtmlString(),
    })
    .ToList()
    .PopulateDataTable();
}

<table class="table-transparent mb10">
    <tbody>
        <tr>
            <td class="table-transparent-text">
                <div class="mb5 aligment">
                    @Confluence.LabelMainSubTitle(Localization.GetText("TCP.FirmProcurement.TableTitle.REOI"))
                </div>
                <div class="mb5">
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI"))
                </div>
                <div class="pr5">
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.For"))
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.NonConfidential"), htmlClass: "italicBolderStyle")
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.MustSelect"))
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.PublishREOI"), htmlClass: "italicBolderStyle")
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.TheTotal"))
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.OriginalProcurementEstimate"), htmlClass: "italicBolderStyle")
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.GreaterOrEquals"))
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.USD"), htmlClass: "italicStyle bold")
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.RequirePublication"))
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.FullCompetitiveSelection"), htmlClass: "italicBolderStyle")
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.And"))
                    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.REOI.SeconSubTitle.Framework"), htmlClass: "italicBolderStyle")
                </div>
            </td>
            <td class="table-transparent-buttons">
                @Confluence.LabelLinkBlank(text: Localization.GetText("TCP.FirmProcurement.Link.ViewTemplates"),
                    url: AppParameter.GetText("Template.Site.Url.BEO.Templates"),
                    name: "viewTemplatesLink",
                    htmlClass: "bold")
            </td>
        </tr>
    </tbody>
</table>

<div class="row mb10">
    <div class="col-xs-12">
        @DocumentManagement.DynamicTable(tableName, tableName, reoisTable, false, true)
    </div>
</div>