@using System.Globalization;
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers

@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement

@using IDB.Presentation.MVC4.Areas.BEOProcurement.Controllers
@using IDB.MW.Infrastructure.BaseClasses
@using IDB.MW.Application.Core.ViewModels
@using IDB.MW.Application.BEOProcurementModule.Enums

@model ExecutionFRWViewModel

@{

    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDecimal = appSettings.FormatDecimal;
    var formatDate = appSettings.FormatDate;

    var config = Html.RenderDataTable(Model.AssociatedTasks)
        .Name("AssociatedTasks")
        .AddPrimaryKeyToName(false)
        .PrimaryKey(x => x.Id.ToString(CultureInfo.InvariantCulture))
        .UseDataTableNet(false)
        .UsePageMode(false)
        .Columns(columns =>
        {
            columns.Template(c =>ColumnTaskNumber(c))
                .Orderable(false)
                .CssClass("exeAssociateTaskProcurementId")
                .CssHeaderClass("exeAssociateTaskProcurementId")
                .Header(Localization.GetText("TCP.FirmProcurement.TableHeader.TaskProcurementId"))
                .Hidden(false);
            columns.Bound(c => c.TaskName)
                .Orderable(false)
                .CssClass("")
                .CssHeaderClass("")
                .Header(Localization.GetText("TCP.FirmProcurement.TableHeader.TaskProcurementName"))
                .Hidden(false);
            columns.Bound(c => c.OperationNumber)
                .Orderable(false)
                .CssClass("textalign-center exeAssociateTaskON")
                .CssHeaderClass("exeAssociateTaskON")
                .Header(Localization.GetText("COMMON.OperationNumber"))
                .Hidden(false);
            columns.Bound(c => c.ApprovalNumber)
                .Orderable(false)
                .CssClass("textalign-center exeAssociateTaskAN")
                .CssHeaderClass("exeAssociateTaskAN")
                .Header(Localization.GetText("COMMON.ApprovalNumber"))
                .Hidden(false);
            columns.Bound(c => c.Currency)
                .Orderable(false)
                .CssClass("textalign-center colCurrencyRead")
                .CssHeaderClass("colCurrencyRead")
                .Header(Localization.GetText("COMMON.Currency"))
                .Hidden(false);
            columns.Bound(c => c.FinalAmount)@*AmountFormat(c.FinalAmount)*@
                .Orderable(false)
                .CssClass("textalign-right exeAssociateTaskFinalAmount")
                .CssHeaderClass("exeAssociateTaskFinalAmount")
                .Header(Localization.GetText("TCP.FirmProcurement.TableHeader.FinalAmount"))
                .Hidden(false);
        })
        .RowTemplates(x =>
        {
            x.Create(RowTemplateType.LastRow, t => lastData(Model.TotalTasksAmount, "TCP.FirmProcurement.TableHeader.TotalTaskAmount"));
         })
    ;
    config.TableClass = "tableNormal";
}

<div class="row mb5">
    <div class="col-xs-11">
        <div class="mb5 aligment">
            @Confluence.LabelMainSubTitle(Localization.GetText("TCP.FirmProcurement.TableTitle.AssociatedTasks"))
        </div>
        <div>
            @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.AssociatedTasks"))
        </div>
    </div>
</div>

<div class="row mb20">
    <div class="col-xs-12">
        @Html.Partial("Controls/DataTable", config)
    </div>
</div>

@if (ViewBag.ReadMode)
{
    <div class="row">
        <div class="col-xs-12 textalign-right">
            @Confluence.ButtonPdf(
            name: "btnAssociatedTaskPDF",
            action: "")
        </div>
    </div>
}

@helper headerText(string text)
{
    <div class="textalign-right"> @Localization.GetText(text)</div>
}

@helper lastData(decimal amount, string title)
{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDecimal = appSettings.FormatDecimal;

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="w240 textalign-right">@Confluence.Label(Localization.GetText(title))</td>
        <td class="w200 textalign-right bold">$ @FormatHelper.Format(amount, formatDecimal)</td>
    </tr>
}



@helper ColumnTaskNumber(AssociatedTaskViewModel row)
{
    var tabName = FirmProcurementController.TAB_NAME_IDENTIFICATION;

    var masterCollection = (CustomEnumDictionary<MasterDataViewModel>)ViewBag.CMDCollection;
    if (CheckIdInConvergence(masterCollection, ProcurementStageEnum.Identification, row.TaskStageId))
    {
        tabName = FirmProcurementController.TAB_NAME_IDENTIFICATION;
    }
    else if (CheckIdInConvergence(masterCollection, ProcurementStageEnum.Preparation, row.TaskStageId))
    {
        tabName = FirmProcurementController.TAB_NAME_PREPARATION;
    }
    else if (CheckIdInConvergence(masterCollection, ProcurementStageEnum.Evaluation, row.TaskStageId))
    {
        tabName = FirmProcurementController.TAB_NAME_EVALUATION;
    }
    else if (CheckIdInConvergence(masterCollection, ProcurementStageEnum.Negotiation, row.TaskStageId))
    {
        tabName = FirmProcurementController.TAB_NAME_NEGOTIATION;
    }
    else if (CheckIdInConvergence(masterCollection, ProcurementStageEnum.Execution, row.TaskStageId))
    {
        tabName = FirmProcurementController.TAB_NAME_EXECUTION;
    }

    var url = Url.Action("Read", "FirmProcurement", new
    {
        area = "Procurement",
        operationNumber = row.TaskOperationNumber,
        procurementId = row.Id,
        tabName = tabName
    });

    @Confluence.LabelLink(row.TaskNumber, dataNavigation: url)
}


@functions{
    static bool CheckIdInConvergence(CustomEnumDictionary<MasterDataViewModel> convergence, Enum enumValue, int masterId)
    {
        if (!convergence.ContainsKey(enumValue))
        {
            return false;
        }

        return convergence[enumValue].MasterId == masterId;
    }
}