@using System.Globalization;
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers

@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Components
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Helper.ConstantHelper
@using IDB.Architecture.ApplicationParameter

@model EvaluationViewModel

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("ReadPartial/DatatableDocsFirm",
        new FirmDocViewModel
        {
            HasLink = false,
            LinkURL = string.Empty,
            Prefix = string.Empty,
            Rows = Model.Clarifications,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.Clarifications"),
            TableName = "Clarifications",
            Title = Localization.GetText("TCP.FirmProcurement.TableTitle.Clarifications"),
            IsWinner = false,
            FirmList = ViewBag.FirmListShortListedWithBankResponse,
            FirmColumnName = Localization.GetText("TCP.FirmProcurement.Table.Column.Name"),
        })
    </div>
</div>

<div class="row mb20">
    <div class="col-xs-12 mb40">
        @Confluence.InputCheckbox(Model.IsCertifyClarification, name: "IsCertifyClarification", label: Localization.GetText("TCP.FirmProcurement.CheckboxText.Clarifications"), disabled: true)
    </div>
</div>

<div name="contentCertifyCheckBox">
    <div class="row">
        <div class="col-xs-12 mb40">
            @Html.Partial("ReadPartial/DatatableDocsFirm",
        new FirmDocViewModel
        {
            HasLink = false,
            LinkURL = string.Empty,
            Prefix = string.Empty,
            Rows = Model.TechnicalProposalDocs,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.TechnicalProposalDocuments"),
            TableName = "TechnicalProposalDocs",
            Title = Localization.GetText("TCP.FirmProcurement.TableTitle.TechnicalProposalDocuments"),
            IsWinner = false
        })
        </div>
    </div>

    <div class="row mb70">
        <div class="col-xs-12">
            <div class="mb5 aligment">
                @Confluence.LabelMainSubTitle(Localization.GetText("TCP.FirmProcurement.TableTitle.BAFO"))
            </div>
            <div class="mb5">
                @Confluence.Label(Localization.GetText("TCP.FirmProcurement.RadioButtonText.BAFO"))
            </div>

            @Confluence.InputRadioButton("True", "IsBAFOResquested", Model.IsBAFOResquested, label: Localization.GetText("Common.Yes"), isInLine: true, disabled: true)
            @Confluence.InputRadioButton("False", "IsBAFOResquested", !Model.IsBAFOResquested, label: Localization.GetText("Common.No"), isInLine: true, htmlClass: "radiobutton-default ml20", disabled: true)

        </div>
    </div>

    <div class="row" name="BafoSection">
        <div class="col-xs-12 mb40">
            @Html.Partial("ReadPartial/DatatableDocsFirm",
        new FirmDocViewModel
        {
            HasLink = false,
            LinkURL = string.Empty,
            Prefix = string.Empty,
            Rows = Model.BAFODocs,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.BAFO"),
            TableName = "BAFODocs",
            Title = string.Empty,
            IsWinner = false
        })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mb40">
            @Html.Partial("ReadPartial/DatatableDocsFirm",
        new FirmDocViewModel
        {
            HasLink = false,
            LinkURL = string.Empty,
            Prefix = string.Empty,
            Rows = Model.FinancialProposalDocs,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.FinancialProposalDocuments"),
            TableName = "FinancialProposalDocs",
            Title = Localization.GetText("TCP.FirmProcurement.TableTitle.FinancialProposalDocuments"),
            IsWinner = false
        })
        </div>
    </div>

    @if (Model.Modality != Modality.SingleSourceSelection && Model.Modality != Modality.TaskSingleSourceSelection)
{
     <div class="row">
        <div class="col-xs-12 mb40">
        @Html.Partial("ReadPartial/DatatableDocsSimple",
         new SimpleDocViewModel
        {
            HasLink = false,
            LinkURL = string.Empty,
            Prefix = string.Empty,
            SimpleTable = Model.ScoringDocsTable,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.ScoringDocuments"),
            TableName = "ScoringDocs",
            Title = Localization.GetText("TCP.FirmProcurement.TableTitle.ScoringDocuments"),
            
        })
        </div>
    </div>       
        

    <div class="mb15 aligment">
       @Confluence.LabelMainSubTitle(Localization.GetText("TCP.FirmProcurement.TableTitle.FirmScoring"))
    </div>
    <div class="row">
            <div class="col-xs-3">
                @Confluence.LabelsGroup(title: Localization.GetText("TCP.FirmProcurement.Evaluation.FirmScoring.TechnicalScoreWeight"),
                         contentAlways: Confluence.LabelBold(Model.TechnicalWeight.ToString()))
            </div>
            <div class="col-xs-3">
                @Confluence.LabelsGroup(title: Localization.GetText("TCP.FirmProcurement.Evaluation.FirmScoring.FinancialScoreWeight"),
                         contentAlways: Confluence.LabelBold(Model.FinancialWeight.ToString()))
            </div>
            <div class="col-xs-3">
                @Confluence.LabelsGroup(title: Localization.GetText("TCP.FirmProcurement.Evaluation.FirmScoring.MinimalTechnicalScoreWeight"),
                         contentAlways: Confluence.LabelBold(Model.MinimalTechnicalWeight.ToString()))
            </div>
        <div class="col-xs-12 mt20">
            @Html.Partial("ReadPartial/DatatableFirmScoring", Model.FirmScoring)
        </div>
    </div>
    }

    <div class="row">
        <div class="col-xs-12 mb60">
            @Confluence.InputCheckbox(Model.IsCertifyScoring, name: "IsCertifyScoring", label: Localization.GetText("TCP.FirmProcurement.CheckboxText.FirmScoring"), disabled: true)
            @Confluence.LabelLinkBlank(text: Localization.GetText("TCP.FirmProcurement.Link.AccessSanctionsList"),
                name: "accessSanctionsListLink",
                url: AppParameter.GetText("Template.Site.Url.BEO.Templates.Sanction.List"),
                htmlClass: "ml20 fontSize13")
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 mb50">
            @Html.Partial("ReadPartial/DataTableDocsSimple",
        new SimpleDocViewModel
        {
            HasLink = true,
            LinkURL = AppParameter.GetText("Template.Site.Url.BEO.Templates"),
            Prefix = string.Empty,
            SimpleTable = Model.CommunicationsRelatedDocsTable,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.CommunicationsRelatedDocs"),
            TableName = "CommunicationsRelatedDocs",
            Title = Localization.GetText("TCP.FirmProcurement.TableTitle.CommunicationsRelatedDocs")
        })
        </div>
    </div>


    <div class="mb5 aligment">
        @Confluence.LabelMainSubTitle(Localization.GetText("TCP.FirmProcurement.TableTitle.EvaluationChecklist"))
    </div>

    <div class="mb10">
        @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.EvaluationChecklist"))
    </div>

    <div class="row mb40">
        <div class="col-xs-12">
            @(Html.Checklist("EvaChecklist")
                .Items(Model.Checklist)
                .HeaderItemName(Localization.GetText("TCP.FirmProcurement.TableHeader.ChecklistItem"))
                .HeaderMandatory(Localization.GetText("TCP.FirmProcurement.TableHeader.Mandatory"))
                .HeaderCompleted(Localization.GetText("TCP.FirmProcurement.TableHeader.Completed"))
                .HeaderDateCompleted(Localization.GetText("TCP.FirmProcurement.TableHeader.DateCompleted"))
                .HeaderUser(Localization.GetText("COMMON.User"))
                .ValidateOnLoad(false)
                .Editable(false)
            )
        </div>
    </div>
</div>

@Html.ScriptBlock(
    @<script type="text/javascript">
        registerCallback(function () {

            checkShowStatus("IsBAFOResquested", "BafoSection");
            checkShowStatus("IsCertifyClarification", "contentCertifyCheckBox");
        });

    </script>
                        )
