@using System.Globalization;

@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.MW.Infrastructure.Configuration
@using IDB.Architecture.ApplicationParameter
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Helper.ConstantHelper

@model ExecutionFRWViewModel

@{
    var appSettings = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSettings.FormatDate;
    var formatDecimal = appSettings.FormatDecimal;
    var formatInteger = appSettings.FormatInteger;
}

<div class="row">
    <div class="col-xs-12 mb40">
        @Html.Partial("ReadPartial/DatatableAssociatedTasks", Model)
    </div>
</div>

@foreach (var item in Model.ContractsModifications)
{
    <div class="row">
        <div class="col-xs-12 mb40">
            @Html.Partial("ReadPartial/ContractModification", new ContractModificationViewModel { Modality = Model.Modality, ContractModificationsViewModels = item })
        </div>
    </div>

}

<div class="row">
    <div class="col-xs-12 mb40">
        @Html.Partial("ReadPartial/DatatableSanctionsNonPerformance", Model)
    </div>
</div>

<div class="row">
    <div class="col-xs-12 mb40">
        @Html.Partial("ReadPartial/DatatableFirmPerformanceEvaluation", Model)
    </div>
</div>

<div class="row">
    <div class="col-xs-12 mb40">
        @Html.Partial("ReadPartial/DataTableDocsSimple",
        new SimpleDocViewModel
        {
            HasLink = true,
            LinkURL = AppParameter.GetText("Template.Site.Url.BEO.Templates"),
            Prefix = string.Empty,
            SimpleTable = Model.ExecutionDocsTable,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.CommunicationsRelatedDocs"),
            TableName = "ExecutionDocs",
            Title = Localization.GetText("TCP.FirmProcurement.TableTitle.CommunicationsOtherRelatedDocuments")
        })
    </div>
</div>

@Html.ScriptBlock(
    @<script type="text/javascript">
        registerCallback(function () {


            $(document).on('click', '[name="btnAssociatedTaskPDF"]', function () {
                var url = '@Url.Action("AssociatedTasksExportToPDF", "FirmProcurement", new { area = "Procurement", procurementId = Model.Id })';

                window.open(url, '_blank');
            });

            $(document).on('click', '[name="btnContractModificationsPDFBottom"]', function () {
                var offerId = $(this).attr('data-offerId');
                var url = '@Url.Action("ContractModificationsExportToPDF", "FirmProcurement", new { area = "Procurement", procurementId = Model.Id })';
                url = url + '&offerId=' + offerId;
                window.open(url, '_blank');
            });

        });
    </script>
)