@using System.Globalization;
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers

@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Components
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Helper.ConstantHelper
@using IDB.Presentation.MVC4.Helpers
@using IDB.Architecture.ApplicationParameter



@model IdentificationViewModel

@if (Model.Modality != Modality.Framework)
{
    <div class="row mb40">
        <div class="col-xs-12">
            @Html.Partial("ReadPartial/DatatableIdeCommitFunds", Model)
        </div>
        <div class="col-xs-12">
            @Html.Partial("ReadPartial/DatatableCommitFundsSimple",
        new CommitFundsViewModel
        {
            IsTotal = false,
            Prefix = string.Empty,
            Rows = Model.CommitFundsSecond,
            TableName = "IdeCommitFundsSecond"
        })
        </div>
        <div class="col-xs-12 font12  mb40">
            @Html.Partial("ReadPartial/DatatableCommitFundsSimpleLegend")
        </div>
    </div>
}

<div class="row mb10">
    <div class="col-xs-12 mb40">
        @Html.Partial("ReadPartial/DataTableDocsSimple",
        new SimpleDocViewModel
        {
            HasLink = true,
            LinkURL = AppParameter.GetText("Template.Site.Url.BEO.Templates"),
            Prefix = string.Empty,
            SimpleTable = Model.TermsReferenceTable,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.TermsOfReference"),
            TableName = "TermsReference",
            Title = Localization.GetText("TCP.FirmProcurement.TableTitle.TermsOfReference")
        })
    </div>
</div>

@if (Model.Modality != Modality.SingleSourceSelection && Model.Modality != Modality.TaskSimplifiedSelection && Model.Modality != Modality.TaskSingleSourceSelection)
{
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("ReadPartial/DatatableREOIs", Model.REOIs)
        </div>
    </div>
    <div class="row mb40">
        <div class="col-xs-12 mb40">
            @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableFootTitle.REOI"))
        </div>
    </div>
}
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("ReadPartial/DatatableParticipatingFirm", Model.ParticipatingFirm)
    </div>
</div>

<div class="row mb30">
    <div class="col-xs-12 mb50">
        @Confluence.InputCheckbox(
            isChecked: Model.ParticipatingFirm.IsCertify,
            name: "ParticipatingFirmIsCertify",
            label: Localization.GetText("TCP.FirmProcurement.CheckboxText.ParticipatingFirm"),
            disabled: true)
        @Confluence.LabelLinkBlank(text: Localization.GetText("TCP.FirmProcurement.Link.AccessSanctionsList"),
            name: "accessSanctionsListLink",
            url: AppParameter.GetText("Template.Site.Url.BEO.Templates.Sanction.List"),
            htmlClass: "ml20 fontSize13")
    </div>
</div>

@if ((Model.Modality != Modality.SingleSourceSelection && Model.Modality != Modality.TaskSingleSourceSelection) && Model.Modality != Modality.TaskSimplifiedSelection)
{
    <div class="row">
        <div class=" col-xs-12 mb30">
            @Html.Partial("ReadPartial/DataTableDocsSimple",
            new SimpleDocViewModel
            {
                HasLink = true,
                LinkURL = AppParameter.GetText("Template.Site.Url.BEO.Templates"),
                Prefix = string.Empty,
                SimpleTable = Model.EvaluationsCommitteeTable,
                SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.EvaluationComitee.Upload"),
                TableName = "EvaluationsCommittee",
                Title = Localization.GetText("TCP.FirmProcurement.TableTitle.EvaluationComitee")
            })
        </div>
    </div>
}

<div class="mb5 aligment">
    @Confluence.LabelMainSubTitle(Localization.GetText("TCP.FirmProcurement.TableTitle.IdentificationChecklist"))
</div>

<div class="mb10">
    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.IdentificationChecklist"))
</div>

<div class="row mb30">
    <div class="col-xs-12">
        @(Html.Checklist("IdeChecklist")
            .Items(Model.Checklist)
            .HeaderItemName(Localization.GetText("TCP.FirmProcurement.TableHeader.ChecklistItem"))
            .HeaderMandatory(Localization.GetText("TCP.FirmProcurement.TableHeader.Mandatory"))
            .HeaderCompleted(Localization.GetText("TCP.FirmProcurement.TableHeader.Completed"))
            .HeaderDateCompleted(Localization.GetText("TCP.FirmProcurement.TableHeader.DateCompleted"))
            .HeaderUser(Localization.GetText("COMMON.User"))
            .ValidateOnLoad(false)
            .Editable(false)
        )
    </div>
</div>