@using System.Globalization;
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MVCControls.DataTable.Models
@using IDB.MVCControls.General.Helpers

@using IDB.MW.Application.BEOProcurementModule.ViewModels.FirmProcurement
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Components
@using IDB.Presentation.MVC4.Areas.BEOProcurement.Helper.ConstantHelper
@using IDB.Architecture.ApplicationParameter


@model PreparationViewModel

<div class="row">
    <div class="col-xs-12 mb40">
        @Html.Partial("ReadPartial/DataTableDocsSimple",
        new SimpleDocViewModel
        {
            HasLink = true,
            LinkURL = AppParameter.GetText("Template.Site.Url.BEO.Templates"),
            Prefix = string.Empty,
            SimpleTable = Model.RequestTable,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.RequestProposals"),
            TableName = "RequestProposals",
            Title = Localization.GetText("TCP.FirmProcurement.TableTitle.RequestProposals")
        })
    </div>
</div>

<div class="row">
    <div class="col-xs-12 mb40">
        @Html.Partial("ReadPartial/DataTableDocsSimple",
        new SimpleDocViewModel
        {
            HasLink = true,
            LinkURL = AppParameter.GetText("Template.Site.Url.BEO.Templates"),
            Prefix = string.Empty,
            SimpleTable = Model.CommunicationsTable,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.CommunicationsOtherRelatedDocuments"),
            TableName = "PreCommunications",
            Title = Localization.GetText("TCP.FirmProcurement.TableTitle.CommunicationsOtherRelatedDocuments")
        })
    </div>
</div>

@if (Model.Modality == Modality.SingleSourceSelection || Model.Modality == Modality.TaskSingleSourceSelection)
{
    <div class="row">
        <div class="col-xs-12 mb40">
            @Html.Partial("ReadPartial/DataTableDocsSimple",
        new SimpleDocViewModel
        {
            HasLink = true,
            LinkURL = AppParameter.GetText("Template.Site.Url.BEO.Templates"),
            Prefix = string.Empty,
            SimpleTable = Model.JustificationsTable,
            SubTitle = Localization.GetText("TCP.FirmProcurement.TableSubTitle.SingleSourceJustification"),
            TableName = "Justifications",
            Title = Localization.GetText("TCP.FirmProcurement.TableTitle.SingleSourceJustification")
        })
        </div>
    </div>
}
    
<div class="mb5 aligment">
    @Confluence.LabelMainSubTitle(Localization.GetText("TCP.FirmProcurement.TableTitle.PreparationChecklist"))
</div>

<div class="mb10">
    @Confluence.Label(Localization.GetText("TCP.FirmProcurement.TableSubTitle.PreparationChecklist"))
</div>

<div class="row mb40">
    <div class="col-xs-12">
        @(Html.Checklist("PreChecklist")
            .Items(Model.Checklist)
            .HeaderItemName(Localization.GetText("TCP.FirmProcurement.TableHeader.ChecklistItem"))
            .HeaderMandatory(Localization.GetText("TCP.FirmProcurement.TableHeader.Mandatory"))
            .HeaderCompleted(Localization.GetText("TCP.FirmProcurement.TableHeader.Completed"))
            .HeaderDateCompleted(Localization.GetText("TCP.FirmProcurement.TableHeader.DateCompleted"))
            .HeaderUser(Localization.GetText("COMMON.User"))
            .ValidateOnLoad(false)
            .Editable(false)
        )
    </div>
</div>



