@using IDB.MW.Domain.Values;

@model IDB.MW.Application.PCRModule.ViewModels.FollowUpService.PCRFollowUpOldMethodologyViewModel
@{
    Layout = "../Shared/_NewLayout.cshtml";
}

@Styles.Render("~/Content/PCROldMethodology")

<div class="header header-margin-bottom">
    @using (Html.BeginForm("FollowUpOldMethodology", "Save", FormMethod.Post, new { area = "PCR", id = "formOldMethodology" }))
    {
        <div class="row mb16 mt35">
            <div class="col-md-12">
                <div class="floatLeft">
                    <h2 class="titlePrincipal">@Localization.GetText("PCR")</h2>
                </div>
                <div class="float-right" id="ButtonsContainer">
                    @if (Model.IsOldWritePermission)
                    {
                        <div data-button="save" class="hidden">
                            @Confluence.ButtonLink(
                                text: Localization.GetText("IM.Cancel"),
                                name: "cancelPCR",
                                action: "cancelOldMethodology",
                                dataAttributes: new Dictionary<string, string>
                                {
                                    { "route", Url.Action("PCRFollowUp", "View",
                                        new { area = "PCR", operationNumber = Model.OperationNumber }) }
                                })
                            @Confluence.ButtonOrange(Localization.GetText("IM.Save"), name: "saveOldMethodology")
                        </div>
                        <div data-button="edit">
                            @Confluence.ButtonBlue(
                                text: Localization.GetText("IM.Edit"),
                                name: "editPCR",
                                action: "editOldMethodology",
                                dataAttributes: new Dictionary<string, string>
                                {
                                    { "route", Url.Action("PCRFollowUpOldMethodology", "View") }
                                })
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row row-body-40 row-body-p">
            <div class="mb20 col-md-12">
                <div class="row-header font-header">
                    <h4 class="headingh3">
                        @Localization.GetText("EvaluationTracking.VerifyMethodology")
                    </h4>
                </div>
                <div class="font-body"><p>@Model.MethodologyType</p></div>
            </div>
            <div class="col-md-12">
                <div class="row-header font-header">
                    <h4 class="headingh3">@Localization.GetText("PCR.FollowUp.PCRStatus")</h4>
                </div>

                <div class="row-body-50 font-body">
                    <p class="titleStatus">@Model.OldStatus</p>
                </div>
            </div>

            <div id="ControlContainer">
                @Html.Partial("Partials/PCRFollowUpOldMethodologyControl")
            </div>

            <div class="col-md-8">
                <div class="row-body-10 font-body">
                    <div class="informationplace">
                        <div class="icoInformation"></div>
                        <div class="information-text">
                            <p>@Localization.GetText("PCR.OldMethodology.Milestones.Info.Message")</p>
                            <p>
                                <a href="@Url.Action("Index", "activityplan",
                                        new { area = "casemanager", Operation = Model.OperationNumber })">
                                    @Localization.GetText("Common.GoToLifeCycle.Text")
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="taskListGrid" data-role="grid" class="k-grid k-widget">
                    <table role="grid">
                        <thead class="k-grid-header" role="rowgroup">
                            <tr role="row">
                                <th class="k-header">@Localization.GetText("COMMON.Search.Related.Operarion.Col.Name")</th>
                                <th class="k-header">@Localization.GetText("COMMON.EndDate")</th>
                                <th class="k-header">@Localization.GetText("COMMON.Status")</th>
                                <th class="k-header">@Localization.GetText("PCR.Checklist.TabValidation.Documents")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var milestone in Model.Milestones)
                                {
                                    <tr>
                                        <td class="perw45">@milestone.NameAndCode</td>
                                        <td class="perw15 text-center">
                                            @String.Format("{0:dd MMM yyy}", milestone.EndDate)
                                        </td>
                                        <td class="perw10 text-center">
                                            <span class="task-status-icon @(milestone.Status)-status"></span>
                                        </td>
                                        <td class="perw30">
                                            @foreach (var doc in milestone.Documents)
                                            {
                                                <p>
                                                    <a href="@(Model.SecureURL + doc.IDBNumber)"
                                                       target="_blank">@doc.IDBNumber</a>
                                                </p>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                                }
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/PCR/oldMethodology.js")"></script>

<script type="text/javascript">
    Control._SetText('errorMessage',
        '@Localization.GetText("COMMON.ApplicationMappingException.Message")');
    Control._SetText('yesCode', '@Localization.GetText("YES")');
    Control._SetText('noCode', '@Localization.GetText("NO")');
    Control._SetText('notRequired', '@ViewBag.OldMethodologyStatusTranslations[PCRConstants.OLD_STATUS_NOT_REQUIRED]');
    Control._SetText('oldStatus', '@Model.OldStatus');
    Control._SetText('cancelled', '@ViewBag.OldMethodologyStatusTranslations[PCRConstants.OLD_STATUS_CANCELLED]');
</script>