@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language

@model List<IDB.MW.Domain.Models.Architecture.TCM.TCMValidationWorkFlow.RowValidationProcessModel>

<div>
    <div>
        <table id="tableValidationProcess" class="tableNormal">
            <thead>
                <tr>
                    <th class="sort" order-type="date">@Localization.GetText("TCM.VP.ValidationProcess.Date")</th>
                    <th class="sort">@Localization.GetText("TCM.VP.ValidationProcess.User")</th>
                    <th class="sort">@Localization.GetText("TCM.VP.ValidationProcess.Role")</th>
                    <th class="sort">@Localization.GetText("TCM.VP.ValidationProcess.Action")</th>
                    <th class="sort">@Localization.GetText("TCM.VP.ValidationProcess.Comment")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ToList())
                {
                    <tr data-id="@item.IdValidation">
                        <td width="9%">@Confluence.LabelGetDate(item.ValidationDate)</td>
                        <td width="16%">@item.ValidationUser</td>
                        <td width="18%">@item.ValidationRole</td>
                        <td width="10%">@item.ValidationAction</td>
                        <td width="47%">@Html.Raw(item.ValidationComment)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



