@model IDB.MW.Domain.Models.Architecture.TCM.TCMValidationWorkFlow.ValidationProcessModel
<div style="padding-left: 0;">
    <div class="col-md-12">
        <div>
            @Confluence.LabelTitleGroup(Localization.GetText("TCM.VP.ValidationProcess.ValidationProcessStatus"))
        </div>
    </div>
</div>
<div class="col-md-12 text-right">
    @if (Model.IsEditable)
    {
        <div data-id="headerButtons" id="headerButtons" class="text-right">
            <div data-pagemode="read">
                <div class="col-md-12 text-right">
                    @Confluence.ButtonBlue(Localization.GetText("OP.OD.Edit"),
                        action: "editValidationProcess",
                        disabled: !Model.IsEditable)
                    <br /><br />
                </div>
                <div class="col-md-12 text-right">
                    @Confluence.InputCheckbox(isChecked: Model.IsFinalReport.HasValue ? Model.IsFinalReport : false,
                        name: "ckIsFinalReportRead",
                        label: Localization.GetText("TCM.VP.ValidationProcess.IsFinalReport"),
                        disabled: true,
                        htmlClass: "mr20")
                    <br /><br />
                </div>
            </div>
            <div data-pagemode="edit">
                <div class="col-md-12 text-right">
                    @Confluence.ButtonLink(Localization.GetText("OP.OD.Cancel"), null, "cancelValidationProcess")
                    @Confluence.ButtonOrange(Localization.GetText("OP.OD.Save"), null, "saveValidationProcess")
                    <br /><br />
                </div>
                <div class="col-md-12 text-right">
                    @Confluence.InputCheckbox(
                        isChecked: Model.IsFinalReport ?? false,
                        name: "ckIsFinalReportEdit",
                        label: Localization.GetText("TCM.VP.ValidationProcess.IsFinalReport"),
                        disabled: false,
                        htmlClass: "mr20")

                    @if (!Model.IsOperationDaughter)
                    {
                        @Confluence.ButtonBlue(
                        text: Localization.GetText("TCM.VP.ValidationProcess.TlSubmit"),
                        name: "btTlSumit",
                        action: "warningMessageValidation",
                        htmlClass: Model.IsSubmit ? string.Empty : "hide",
                        disabled: !Model.IsSubmit)
                    }
                    <br /><br />
                </div>
            </div>
        </div>
    }
    else
    {
        @Confluence.InputCheckbox(
            isChecked: Model.IsFinalReport.HasValue ? Model.IsFinalReport : false,
            name: "ckIsFinalReportView",
            label: Localization.GetText("TCM.VP.ValidationProcess.IsFinalReport"),
            disabled: true,
            htmlClass: "mr20")
    }
    <br /><br />
</div>
