@model IDB.Presentation.MVC4.Areas.Administration.Models.PredefinedIndicators.DefaultSearchModel
@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/Modules/ResultsMatrix/Common/ui_rm_024.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/ResultsMatrix/Common/ui_rm_023.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/esmartGeneralScoped.css")" rel="stylesheet" />

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/ResultsMatrix/PredefinedIndicator/predefinedIndicator.js")"></script>

<style type="text/css">
    .k-pager-first {
        display: none;
    }

    .k-pager-last {
        display: none;
    }

    .k-label {
        display: none;
    }

    .k-pager-numbers li {
        float: left;
    }

    .k-pager-nav {
        display: none;
    }

    .k-link {
        margin-right: 6px;
        margin-left: 6px;
    }

    .k-pager-numbers .k-link:hover {
        /* padding: 0 7px; */
        border-style: none;
        /* border-width: 1px; */
        /* line-height: 22px; */
    }

    .k-pager-numbers .k-state-selected {
        border-style: solid;
        border-width: 1px;
        line-height: 22px;
        padding: 0 7px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        border-bottom-color: #3B73C3;
        border-bottom-width: 2px;
    }

        .k-pager-numbers .k-state-selected:hover {
            background-color: white;
        }

    .k-pager-numbers {
        float: right;
    }

    div.k-grid-pager {
        width: 96%;
        position: absolute;
    }
</style>

<script type="text/x-kendo-template" id="gridCell_rdBtnPredefinedIndicatorId">    
    <input type="radio" name='_predefinedToLink' value="#=PredefinedIndicatorId#" data-bind='' />              
</script>

<script type="text/x-kendo-template" id="gridCell_detailLink">    
    <a href='javascript:void(0)' onclick="showDetail(#=PredefinedIndicatorId#)">@Localization.GetText("Detail")</a>              
</script>

@Html.Hidden("hdnPredfIndicatorCurrentIndicator", Model.CurrentIndicatorid)
@Html.Hidden("hdnPredfIndicatorCurrentModule", Model.Module)
@Html.Hidden("hdnPredefIndicatorDetailPath", Url.Action("GetDetailedIndicator", "PredefinedIndicator", new { area = "ResultsMatrix" }))
@Html.Hidden("hdnPredefIndicatorLinkPath", Url.Action("LinkPredefinedIndicators", "PredefinedIndicator", new { area = "ResultsMatrix" }))


<div id="predifinedSearchWindow" class="scopepEsmart">
    <!-- Search filter and results -->
    <div id="searchAreaWrapper">
        <div id="ui_rm_023" style="padding: 1em">
            <!-- Filter container -->

            <div id="searchBoxContainerUIRM023" class="grayBackground font08em" style="padding: 1em">

                <table style="width: 100%">
                    <tr>
                        <td>
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 15%"><span>Type of Indicator</span></td>
                                    <td style="max-width: 6em">

                                        <fieldset>
                                            <legend class="hide">Dropdown con opciones</legend>
                                            <ul class="optionList">
                                                <li class="small">

                                                    <span class="k-widget k-dropdown k-header optionSelect optionSelectYearsPlan" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="" style="width: 40em; max-width: 40em;">
                                                        <span unselectable="on" class="k-dropdown-wrap k-state-default">
                                                            <span unselectable="on" class="k-input">All</span>
                                                            <span unselectable="on" class="k-select">
                                                                <span unselectable="on" class="k-icon k-i-arrow-s">select</span>
                                                            </span>
                                                        </span>
                                                        <select class="optionSelect optionSelectTypeIndicators" data-areas-path="@Url.Action("GetIndicatorAreas", "PredefinedIndicator", new { area = "ResultsMatrix" })" data-val="true" data-val-required="" id="typeIndicatorId" data-role="dropdownlist" onchange="loadPriorityAreas(this);" style="display: none;">

                                                            <option value='' selected='selected'>All</option>

                                                            @foreach (var indicatorType in Model.IndicatorTypes)
                                                            {
                                                                <option value="@indicatorType.Id">@indicatorType.NameEn</option>
                                                            }

                                                        </select>
                                                    </span>
                                                </li>
                                            </ul>
                                        </fieldset>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 15%"><span>Priority Area</span></td>
                                    <td style="max-width: 6em">

                                        <fieldset>
                                            <legend class="hide">Dropdown con opciones</legend>
                                            <ul class="optionList">
                                                <li class="small">

                                                    <span class="k-widget k-dropdown k-header optionSelect optionSelectYearsPlan" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="" style="width: 40em; max-width: 40em;">
                                                        <span unselectable="on" class="k-dropdown-wrap k-state-default">
                                                            <span unselectable="on" class="k-input">All</span>
                                                            <span unselectable="on" class="k-select">
                                                                <span unselectable="on" class="k-icon k-i-arrow-s">select</span>
                                                            </span>
                                                        </span>
                                                        <select class="optionSelect optionSelectPriorityAreas" data-areas-path="@Url.Action("GetIndicatorAreas", "PredefinedIndicator", new { area = "ResultsMatrix" })" data-val="true" data-val-required="" id="priorityArea" data-role="dropdownlist" style="display: none;">

                                                            <option value='' selected='selected'>All</option>

                                                        </select>
                                                    </span>
                                                </li>
                                            </ul>
                                        </fieldset>

                                    </td>
                                    <td style="height: 19px; min-height: 19px; width: 9em;">
                                        <div id="loadingAreasContainer" style="margin-left: 0.3em; display: none">
                                            <img style="vertical-align: middle" src="~/Images/Modulos/ResultsMatrix/ajax-loader.gif" />
                                            <span style="color: #2476CB">Loading</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 15%"><span>Indicator Number</span></td>
                                    <td>
                                        <input id="indicatorNumber" type="text" class="grayBorder" placeholder="Indicator number" data-bind="" /></td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 15%"><span>Indicator Name</span></td>
                                    <td>
                                        <input id="indicatorName" type="text" class="grayBorder w98" placeholder="Indicator name" data-bind="" /></td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 15%"><span>Unit of Measure</span></td>
                                    <td>
                                        <input id="unitOfMeasure" type="text" class="grayBorder w98" placeholder="Unit of measure" data-bind="" /></td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td style="">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        <div id="loadingSearchContainer" style="margin-left: 0.3em; display: none">
                                            <img style="vertical-align: middle" src="~/Images/Modulos/ResultsMatrix/ajax-loader.gif" />
                                            <span style="color: #2476CB">Searching</span>
                                        </div>
                                    </td>
                                    <td style="text-align: right">
                                        <input id="btnSearchIndicator" type="button" class="button blueButton" value="Filter" data-search-path="@Url.Action("Search", "PredefinedIndicator", new { area = "ResultsMatrix" })"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>





            <!-- End filter container -->
            <div class="verticalMargin20 rightAlign w100">
                <input type="button" class="button blueButton btnLinkToPredefinedIndicator" value="Link" data-bind="">
            </div>

            <!-- Result Table -->
            <div class="verticalMargin20">
                <div id="countResultsContainer" class="verticalMargin80-0-20" style="margin-top: 20px; display: none">
                    <h3 class="font1-5em"><span id="countResults"></span>@Localization.GetText("Results")</h3>
                </div>
                <table class="grid w100" id="main-results-grid">
                    <thead>
                        <tr>
                            <th>
                            <th>Indicator
                                <br />
                                Number</th>
                            <th>Indicator Name</th>
                            <th>Unit Of Measure</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="grdPredefinedIndicator" class="grayColor alignLeft" data-role="listview">
                    </tbody>
                </table>
            </div>

            <!-- End result Table -->
            <div class="verticalMargin20 rightAlign w100">
                <input type="button" class="button blueButton btnLinkToPredefinedIndicator" value="Link" data-bind="" style="margin-top: 20px">
            </div>
        </div>
    </div>
    <!-- END Search filter and results -->

    <!-- BEGIN Detail -->
    <div id="detailAreaWrapper" style="display: none">
    </div>
</div>

@* Render GridRows HandleBar Template *@
@Html.Partial("~/Areas/ResultsMatrix/Views/PredefinedIndicator/TemplatesJS/PredefinedIndicatorTemplate.cshtml")
