@using (Html.BeginForm("Search", "PredefinedIndicator", FormMethod.Post, new { id = "indicatorSearchForm" }))
{
       <div class="contentImpacts">
        <div class="dataContent1">
            <fieldset>
            <legend class="dataTitle">@Localization.GetText("Impact statement")</legend>
            <p class="dataText"></p>
                </fieldset>
        </div>                   
        <div class="dataContent1">
            <fieldset>
            <legend class="dataTitle">@Localization.GetText("Indicator name")</legend>
            <p class="dataText"></p>
        </fieldset>
        </div>                         
        <div class="dataContent1">
            <p class="dataTitle">@Localization.GetText("Reassign indicator to impact")</p>
        </div>                               
    </div>

    <div class="pie pieReassign">
        <div class="botones">
            <a title="@Localization.GetText("Cancel")" class="cancel" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
            <label for="save2">
               <input id="btnSave" type="button" value="@Localization.GetText("Save")" class="btn-primary" id="save2">
            </label>
        </div>
    </div>
 }