
@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.Visualization.VisualizationOperation.VisualizationOperationReportModel
@{
    ViewBag.Title = "Create";
}


<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/cl_ui_rt_001.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/VisualizationOperationCustom.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Reports/VisualizationOperationScript.js")"></script>

<body class="backgroundFFFFFF">
    <div id="ContainerVisualizationOperationReport">

        <div class="verticalMargin20 w100">
            <h3 class="font2em AlingTitles">@Localization.GetText("Operation Reports - Visualization")</h3>

        </div>
        <div class="relative h50px verticalMargin40">
            <h4 class="font1-5em absolute AlingTitles">@Localization.GetText("Visualization Progress Report")</h4>
            <input type="button" class="absolute absRight button blueButton buttonCustomSize alingFilterButtonRigth" id='showFilterButtonReportsRS001' value="@Localization.GetText("Filter")">
        </div>

        @using (@Html.BeginForm("Create", "VisualizationReport", FormMethod.Post, new { @id = "FormVisualizationOperationReport" }))
        {
            @Html.HiddenFor(x => x.OperationID); 
            @Html.HiddenFor(x => x.ExportType); 
            <div id="searchBoxContainerReportsRS001" class="padding20 grayBackground font08em hideNI" style="display: block">

                <div class="centerContent w96 relative h50px">

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="Year" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Year")</label>
                            @Html.ListBoxFor(x => x.Year, new MultiSelectList(ViewBag.ListYearForOperation, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                        </div>
                    </div>

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">
                            <label for="VODeliveryStatus" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Visual Output Delivery Status")</label>
                            @Html.ListBoxFor(x => x.VODeliveryStatus, new MultiSelectList(ViewBag.ListVisualOutputDeliveryStatus, "Value", "Text", ViewBag.Values), new { @class = "w100 MultiSelectCustom" })
                        </div>
                    </div>

                    <div class="inline-block inputContainer w33">
                        <div class="inline-block w96 verticalAlignMiddle">                            
                            <label for="Map" class=" inline-block verticalAlignMiddle noPadding labelCustom">@Localization.GetText("Map")</label>
                            @Html.DropDownListFor(x => x.Map, new SelectList(ViewBag.ListMap, "Value", "Text"), new { @class = "w100 kendoDropDown" })
                        </div>
                    </div>

                </div>

                <div class="centerContent w96 relative h50px box2">
                    <div class="inline-block inputContainer w30">
                        @Html.CheckBoxFor(x => x.ValidatedRMStatus, new { @class = "fancy-checkbox" })
                        @Html.LabelFor(x => x.ValidatedRMStatus,
                        new
                        {
                            @class = "fancy-label",
                            @id = "LabelFordeletedClausesOnly"
                        })
                    </div>
                </div>

                <div class="verticalMargin20 rightAlign w96 centerContent boxFilter">
                    <a id="LinkExportVisualizationOperationReport" class="noShow" data-route="@Url.Action("ExportVisualizationOperationReport", "VisualizationReport")"></a>
                    <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad AjaxExportRight" id="AjaxLoadForVisualizationOperationExport" />
                    <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad" id="AjaxLoadForVisualizationOperation" />
                    <input id="Btn_ExportPDFVisualizationOperationReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export PDF")">
                    <input id="Btn_ExportExcelVisualizationOperationReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export Excel")">
                    <input id="Btn_Clear" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Clear All")">
                    <input id="" type="submit" class="button yellowButton buttonCustomSize" value="@Localization.GetText("Submit")">
                </div>

            </div>

            <iframe id="frameReportVisualizationOperation" class="iframeReportsCustom"></iframe>

            <div id="ContentControlsExportVisualizationOperationReport">
                <div class="verticalMargin20 rightAlign w92-6">
                    
                </div>
            </div>
        }

    </div>
</body>