<div class='graph-content dash-@ViewBag.Id'></div>
<script type="text/javascript">
    dataGraph["dash-@ViewBag.Id"] = prepareData($('[box-id="@ViewBag.Id"]').attr('box-sql'));
    if (dataGraph["dash-@ViewBag.Id"].value != 0) {
        dataGraphExcel["dash-@ViewBag.Id"] = null;
        dashboard("dash-@ViewBag.Id", $('[box-id="@ViewBag.Id"]').attr('box-deep'));
        $('[box-id="@ViewBag.Id"]').find('.action').text('dashboard("dash-@ViewBag.Id", ' + $('[box-id="@ViewBag.Id"]').attr('box-deep') + ');');
    } else {
        $('.' + "dash-@ViewBag.Id").html("<h2>@Localization.GetText("Workspace.View.NoDataAvailable")</h2>");
        $('.' + "dash-@ViewBag.Id").parent().find('.buttonExcel').remove();
    }

</script>

<div class="hide action"></div>