@using IDB.MW.Domain.Models.Workspace
@model List<ExpiredClauseModel>

    @{
        const int maxLengthOperationNumber = 10;
        const int maxLengthContractNumber = 16;
        const int maxLengthClauseNumber = 16;
        const int maxLengthClauseDescription = 83;
        const int maxLengthTypeOfClause = 27;
    }

    @if (Model.Count > 0)
    {
        <table class="tableNormal" id="ExpiredClauses">
            <thead>
                <tr>
                    <th>@Localization.GetText("Operation Number")</th>
                    <th>@Localization.GetText("Contract Number")</th>
                    <th>@Localization.GetText("Clause Number")</th>
                    <th>@Localization.GetText("Clause Description")</th>
                    <th>@Localization.GetText("Type of Clause")</th>
                    <th>@Localization.GetText("Expiration Date")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
                {
                    <tr data-id="@data.OperationId" class="@(data.ClauseType.ToLower().Equals("financial") ? new MvcHtmlString("bold") : null)">
                        <td>
                            @if (data.ExpiredClauseType == 0)
                            {
                                @Confluence.CircleRed()
                            }
                            @if (data.ExpiredClauseType == 1)
                            {
                                @Confluence.CircleOrange()
                            }
                            @if (data.ExpiredClauseType == 2)
                            {
                                @Confluence.CircleYellow()
                            }

                            @if (data.OperationNumber.Length > maxLengthOperationNumber)
                            {
                                <span>@data.OperationNumber.Substring(0, maxLengthOperationNumber) ...</span>
                            }
                            else
                            {
                                <span>@data.OperationNumber</span>
                            }
                        </td>
                        <td>
                            @if (data.ContractNumber.Length > maxLengthContractNumber)
                            {
                                <span>@data.ContractNumber.Substring(0, maxLengthContractNumber) ...</span>
                            }
                            else
                            {
                                <span>@data.ContractNumber</span>
                            }
                        </td>
                        <td>
                            @{
                            var clauseNumber = string.Format("{0}{1}", data.ClauseNumber, (data.ClauseIndividualSuffix != null) ? '.' + data.ClauseIndividualSuffix : "");
                            var url = string.Format("{0}/{1}/Clauses/Clause/Details?operationId={2}&contractId={3}&clauseId={4}&clauseIndividualId={5}&mainOperationNumber={6}",
                                Globals.GetSetting("ParamForOptimaServer"), data.OperationNumber, data.OperationId, data.ContractId, data.ClauseId, data.ClauseIndividualId, data.OperationNumber);
                            }

                            <a href="@url">
                                @if (clauseNumber.Length > maxLengthClauseNumber)
                                {
                                    <span>@clauseNumber.Substring(0, maxLengthClauseNumber) ...</span>
                                }
                                else
                                {
                                    <span>@clauseNumber</span>
                                }
                            </a>
                        </td>
                        <td>
                            @if (data.ClauseDescription.Length > maxLengthClauseDescription)
                            {
                                <span>@data.ClauseDescription.Substring(0, maxLengthClauseDescription) ...</span>
                            }
                            else
                            {
                                <span>@data.ClauseDescription</span>
                            }
                        </td>
                        <td>
                            @if (data.ClauseType.Length > maxLengthTypeOfClause)
                            {
                                <span>@data.ClauseType.Substring(0, maxLengthTypeOfClause) ...</span>
                            }
                            else
                            {
                                <span>@data.ClauseType</span>
                            }
                        </td>
                        <td>@Confluence.LabelGetDate(data.ExpirationDate, (data.ClauseType.ToLower().Equals("financial")))</td>
                    </tr>
                }
            </tbody>
        </table>
    <div class="hide action">$('#ExpiredClauses').paginationConfluense(5);</div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#ExpiredClauses').paginationConfluense(5);
            });
        </script>
    }
    <div class="mt20">
        <div class="col-md-4">@Confluence.CircleRed() @Localization.GetText("Expired")</div>
        <div class="col-md-4">@Confluence.CircleOrange() @Localization.GetText("10 days to Expiration")</div>
        <div class="col-md-4">@Confluence.CircleYellow() @Localization.GetText("11 – 30 days to expiration")</div>
    </div>
