<div class='graph-content stack-@ViewBag.Id'></div>
<script type="text/javascript">
    dataGraph["stack-@ViewBag.Id"] = prepareData($('[box-id="@ViewBag.Id"]').attr('box-sql'));
    if (dataGraph["stack-@ViewBag.Id"].value != 0) {
        dataGraphExcel["dash-@ViewBag.Id"] = null;
        stackVertical("stack-@ViewBag.Id", $('[box-id="@ViewBag.Id"]').attr('box-deep'));
        $('[box-id="@ViewBag.Id"]').find('.action').text('stackVertical("stack-@ViewBag.Id", ' + $('[box-id="@ViewBag.Id"]').attr('box-deep') + ');');
    } else {
        $('.' + "stack-@ViewBag.Id").html("<h2>@Localization.GetText("Workspace.View.NoDataAvailable")</h2>");
        $('.' + "stack-@ViewBag.Id").parent().find('.buttonExcel').remove();
    }

</script>

<div class="hide action"></div>