@using IDB.MW.Infrastructure.Localization.Helpers

@model IDB.MW.Domain.Models.Clauses.PriorClauseIndividualMultipleViewModel

<div class="popup hide" id="AdditionalPriorClausesModal">
    <div class="popup-body">
        <div class="popup-filters">
            <form method="get" action="javascript:searchAdditionalPriorClausesModal()">
                <table>
                    <tr>
                        <th><label>@Localization.GetText("Clause Category")</label></th>
                        <td><label style="font-weight: bold">@Model.GetTranslateField("Name")</label></td>
                    </tr>
                    <tr>
                        <th><label>@Localization.GetText("Clause Number")</label></th>
                        <td><input name="prior-filter-number" type="text" style="border: solid 1px #333; padding: 2px;" /></td>
                    </tr>
                    <tr>
                        <th><label>@Localization.GetText("Clause Description")</label></th>
                        <td><input name="prior-filter-descript" type="text" style="border: solid 1px #333; padding: 2px;" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary button" name="prior-filter-search" type="submit">
                                @Localization.GetText("Search")
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
            <br />
        </div>
        <div class="popup-grid" style="height: 400px; overflow-y: auto; overflow-x: hidden; padding: 20px">
            <table class="grid" id="AdditionalPriorClausesTable" style="width: 100%;">
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td>@Localization.GetText("Clause Number")</td>
                        <td>@Localization.GetText("Clause Description")</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AdditionalPriorConditionClauses)
                    {
                        <tr data-search-number="@(new System.Text.RegularExpressions.Regex("\\W+").Replace(item.ClauseNumber, "").ToLower())"
                            data-search-description="@(new System.Text.RegularExpressions.Regex("\\W+").Replace(item.ClauseDescription, "").ToLower())">
                            <td><input type="checkbox" value="@item.ClauseIndividualId" onclick="checkAdditionalPriorClause(this);" /></td>
                            <td>@item.ClauseNumber</td>
                            <td>@item.ClauseDescription</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="text-align: right;padding: 0 20px 30px 20px;">
            <button class="btn btn-primary button" 
                    style="float:none" 
                    name="prior-filter-search" 
                    type="button" 
                    onclick="$('#AdditionalPriorClausesModal').data('kendoWindow').close()">
                @Localization.GetText("COMMON.Ok")
            </button>
        </div>
    </div>
</div>