@using IDB.MVCControls.DataTable.Helpers
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@model List<IDB.MW.Application.PCRModule.ViewModels.ChecklistService.PCREffectivenessSummaryRowViewModel>


@{
    var indentClass = new List<string>
    {
        "",
        "indent",
        "indent-double"
    };
    
    var config = Html.RenderDataTable(Model);
    config.Name("effSummaryTable")
        .Columns(columns =>
        {
            columns.Template(@<span class="@indentClass[item.RowLevel]">@item.Description</span>).Persistent().Header(Localization.GetText("PCR.Checklist.TabEffectiveness.Summary.ColDescription"));
            columns.Template(@<span class="@indentClass[item.RowLevel]">@FormatHelper.Format(item.Score, "#0.00")</span>).Persistent().Header(Localization.GetText("PCR.Checklist.TabEffectiveness.Summary.ColScore"));
        });
    config.TableClass = config.DefaultTableClass + "larger";
}

@Html.Partial("Controls/DataTable", config)