@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers

@model List<IDB.MW.Application.PCRModule.ViewModels.DocumentService.PCRDocumentViewModel>

<div id="followupDocumentsTable" document-container="doc">
    <div class="dataTables_wrapper no-footer">
        <table class="gridTable dataTable table table-striped no-footer" role="grid">
            <thead>
                <tr role="row">
                    <th>@Localization.GetText("PCR.Checklist.TabValidation.Documents.ColUser")</th>
                    <th>@Localization.GetText("PCR.Checklist.TabValidation.Documents.ColDate")</th>
                    <th>@Localization.GetText("PCR.Checklist.TabValidation.Documents.ColDocNumber")</th>
                    <th>@Localization.GetText("PCR.Checklist.TabValidation.Documents.ColDescription")</th>
                    <th>@Localization.GetText("PCR.Checklist.TabValidation.Documents.ColAction")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var listItem in Model)
                {
                    <tr role="row" data-id="@listItem.DocumentId">
                        <td>@listItem.User</td>
                        <td>@FormatHelper.Format(listItem.Date)</td>
                        <td>
                            @listItem.DocumentNumber
                        </td>
                        <td>
                            <span data-pagemode="read">@listItem.Description</span>
                            @if (ViewBag.UserName == @listItem.User)
                            {
                                <span data-pagemode="edit">@ControlTemplatesPCR.GridSelectDocumentDescription(listItem.Description, (List<SelectListItem>) ViewBag.Documents, "documentDescription")</span>
                            }
                            else
                            {
                                <span data-pagemode="edit">@listItem.Description</span>
                            }
                        </td>
                        <td>
                            @{
                                var secureUrl = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(listItem.DocumentNumber);
                            }                            
                              <button class="btn btn-sm download" onclick="window.open('@secureUrl')"; data-action="" data-id="@listItem.DocumentId"></button>
                         
                            @if (ViewBag.UserName == @listItem.User)
                            {
                                <span data-pagemode="edit"><button class="btn btn-sm delete pull-up pull-left" data-id="@listItem.DocumentId" deleteable="yes"></button></span>
                            }
                        </td>                        
                        <td data-pagemode="edit"><input type="hidden" name="deleteDocument" value="no" data-id="@listItem.DocumentId" /></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>



