@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.FindingRecomendationsReport.FindingRecomendationsReportModel
@{
    ViewBag.Title = "IndexReport";
}

<!-- CSS Files -->

<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/cl_ui_rt_001.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ClausesReportCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/FindingRecomendationReportCustom.css")" rel="stylesheet" />

<!-- JS Files -->

<script src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Reports/FindingAndRecomendationScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/CommonRuleReports.js")"></script>


<div class="verticalMargin20 w100">
    <h3 class="font2em AlingTitles">@Localization.GetText("Findings and Recommendations report")</h3>
</div>
<div class="relative h50px verticalMargin40">
    <h4 class="font1-5em absolute AlingTitles">@Localization.GetText("Overall Project Management")</h4>
    <input type="button" class="absolute absRight button blueButton alingFilterButtonRigth buttonCustomSize" id='showFilterButtonReportsCL001' value=" @Localization.GetText("Filter")">
</div>
@using (Html.BeginForm("CreateReportFAndR", "FindingRecomendationsReport", FormMethod.Post, new { @id = "FormFRAggregate" }))
{   
    @Html.HiddenFor(x => x.ExportType)    
    @Html.HiddenFor(x => x.OperationNumber)
    string class_ = "input normal";
    <div id="searchBoxContainerReportsCL001" class="padding20 grayBackground font08em hideNI" style="display: block; min-height: 650px;">
        <div class="centerContent w96 leftAlign h50px box1">
            <table>
                <tr>
                    <td>
                         <div class="inline-block inputContainer">
                            <div class="w80 verticalAlignMiddle">
                                <label for="ContractNumber" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("PMR Cycle")</label>
                                @Html.ListBoxFor(x => x.PMRCycleId, new SelectList(ViewBag.ListPMRCycle, "Value", "Text", ViewBag.Value), new { @class = "kendoDropDown" })
                            </div>
                        </div>           
                    </td>
                    <td>
                      <div class="inline-block inputContainer">
                            <div class="w80 verticalAlignMiddle">
                                <label for="sectorDepartmentFilterReports" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Sector Department")</label>
                                <a id="LinkListDivisionFilterFR" style="display:none" data-route="@Url.Action("FRAggregateFilterDivision", "FindingRecomendationsReport")"></a>
                                @Html.ListBoxFor(x => x.SectorDepartment, new MultiSelectList(ViewBag.ListSectorDepartment, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustomCR" })
                            </div>
                        </div> 
                    </td>
                    <td>
                         <div class="inline-block inputContainer w25">
                            <div class="w80 verticalAlignMiddle">
                                <label for="Division" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Division")</label>
                                @Html.ListBoxFor(x => x.Division, new MultiSelectList(ViewBag.ListDivision, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustomCR" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>                      	
						 <div class="inline-block inputContainer">
                            <div class="w80 verticalAlignMiddle">
                                <label for="countryDepartmentFilterReports" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Country Department")</label>
                                <a id="LinkListCountryFilterFR" style="display:none" data-route="@Url.Action("FRAggregateFilterCountrys", "FindingRecomendationsReport")"></a>
                                @Html.ListBoxFor(x => x.CountryDepartment, new MultiSelectList(ViewBag.ListContryDepartment, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustomCR" })
                            </div>
                        </div>
                    </td>
                    <td>
                          <div class="inline-block inputContainer w25">
                            <div class="w80 verticalAlignMiddle">
                                <label for="Country" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Country")</label>
                                @Html.ListBoxFor(x => x.Country, new MultiSelectList(ViewBag.ListContry, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustomCR" })
                            </div>
                        </div>
                    </td>
                    <td>
                 <div class="inline-block inputContainer">
                            <div class="w80 verticalAlignMiddle">
                                <label for="ContractNumber" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Operation")</label>
                                <div>
                                    <input id="txtOperationNumber" name="txtOperationNumber" type="text" class="grayBorder", maxlength = "15",placeholder="@Localization.GetText("Operation")">
                                    <a href="javascript:void(0)" title="trasladar" type="button" onclick="fillCombo();" id="btnUsers" class="exportdata trasladar"></a>
                                    <div class="error" id="operationnumbernotfound" style="display: none;">@Localization.GetText("Not matches found") </div>
                                    <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad AjaxLoadForFRReportExport"  />
                                </div>
                            </div>
                        </div>
                        <div class="custom operationData">
                            <div class=" editLabel input">
                                <select name="users" size="2" id="cmbusernames" class="@class_ hide combo MultiSelectCustomCR" style="width: 81%!important;"></select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>                
                    <td>
                        <div class="inline-block inputContainer w25">
                            <div class="w80 verticalAlignMiddle">
                                <label for="Stage" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Draft Classification")</label>
                                @Html.ListBoxFor(x => x.DraftClassification, new MultiSelectList(ViewBag.ListDraftClassification, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustomCR" })
                            </div>
                        </div>
                    </td>
                     <td>
                             <div class="inline-block inputContainer w25">
                            <div class="w80 verticalAlignMiddle">
                                <label for="Stage" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Validated Clasification")</label>
                                @Html.ListBoxFor(x => x.ValidatedClassification, new MultiSelectList(ViewBag.ListClassification, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustomCR" })
                            </div>
                        </div>
                    </td>
                       <td>
                           <div class="inline-block inputContainer w25">
                            <div class="w80 verticalAlignMiddle">
                                <label for="Stage" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Stage")</label>
                                @Html.ListBoxFor(x => x.Stage, new MultiSelectList(ViewBag.ListStage, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustomCR" })
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                         <div class="inline-block inputContainer w25">
                            <div class="w80 verticalAlignMiddle">
                                <label for="DelayType" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Dimension")</label>
                                <a id="LinkListDimensionFilterFR" style="display:none" data-route="@Url.Action("FRAggregateFilterCategory", "FindingRecomendationsReport")"></a>
                                @Html.ListBoxFor(x => x.Dimension, new MultiSelectList(ViewBag.ListDimesion, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustomCR" })
                            </div>
                        </div>
                    </td>                              
                    <td colspan="2">
                      <div class="inline-block inputContainer w96">
                            <div class="verticalAlignMiddle">
                                <label for="Categories" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Category")</label>
                                @Html.ListBoxFor(x => x.Categories, new MultiSelectList(ViewBag.ListCategories, "Value", "Text", ViewBag.Value), new { @class = "MultiSelectCustomCR w100" })
                            </div>
                        </div>
                    </td>
                    <td>
                </tr>
            </table>
            <div class="verticalMargin20 rightAlign w97-2">
                <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad AjaxLoadForFRReportExport"  />
                <input  id="Btn_Clear" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Clear All")">
                <input id="Btn_ExportExcelFRReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export Excel")">
                <input id="Btn_ExportdPDFFRRReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export PDF")">
                <a id="LinkExportFRReport" class="noShow" data-route="@Url.Action("ExportReportFAndR", "FindingRecomendationsReport")"></a>

                <input type="submit" class="button yellowButton buttonCustomSize" value="@Localization.GetText("Submit")">
            </div>
        </div>



    </div>

    <div class="warningError1 message-warning" id="message-warning-1" style="margin-left: 0px; width: 99%; visibility: hidden; height: 30px; background: url('../../../Images/Modulos/modal/cerrar_warning.png') #E19C23 no-repeat 99% 10px">
        <span>
            @Localization.GetText("Our apologies, it appears the search is taking a bit longer than it should, could you help us narrow the results by entering in additional key words?")
        </span>
    </div>
}
<div style="padding-left: 15px;" class="ReportContainer">
    <iframe id="frameFandRecomendations" class="iframeReportsCustom"></iframe>
</div>