@using IDB.MW.Application.AttributesModule.Mappers.AttributesService
@using IDB.MW.Application.Core.ViewModels.FormRendering
@using IDB.Presentation.MVC4.Helpers
@*@model IDB.MW.Application.Core.ViewModels.FormRendering.FormDataViewModel*@
@model IDB.MW.Application.AttributesModule.ViewModels.AttributesService.AttributeFormViewModel
@{
    Layout = null;

}


<div class="pull-right mb15">
    <div id="headerButtons" data-id="headerButtons" class="right-buttons">
        @if (ViewBag.Permission != false || ViewBag.AttributePermission != false)
        {
            <div data-pagemode="read">
                @Confluence.ButtonBlue(Localization.GetText("OP.AP.Edit"), action: "editForm")
            </div>

            <div data-pagemode="edit">
                @Confluence.ButtonLink(Localization.GetText("OP.AM.Cancel"), action: "cancelEditForm")
                @Confluence.ButtonOrange(Localization.GetText("OP.AM.Save"), action: "saveForm")
                @Confluence.ButtonOrange(Localization.GetText("OP.AM.DeleteAll"), action: "deleteAll")

                <input type="hidden" id="hidLayout" name="hidlayout" value="@Model.Layout" />
            </div>
        }
    </div>
</div>

<br /><br />

<input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />



<div class="container-fluid">
    <div class="row">
        <div id="trashAttribute" class="col-md-2 content mainContent">

            <div id="dragSection" class="col-md-12">
                <div class="section-main draggableSection">
                    @*<h4 class="section-label editable ">Section</h4>*@
                    @Confluence.LabelSubTitleGroup(Localization.GetText("TCM.MC.Filter.Section"))
                    <div class="col-md-12 section-bordered">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <h4>@Localization.GetText("OP.AM.AttributesLayout.Layout")</h4>
            </div>
            <div class="col-md-12">
                <div id="layoutList" class="col-md-12">
                    <div class="draggableLayout layoutRow" data-layouttype="columns3">
                        <div class="row ">
                            <div class="col-md-4 layout-bordered"></div>
                            <div class="col-md-4 layout-bordered"></div>
                            <div class="col-md-4 layout-bordered"></div>
                        </div>
                    </div>

                    <div class="draggableLayout layoutRow" data-layouttype="columns4">
                        <div class="row">
                            <div class="col-md-3 layout-bordered"></div>
                            <div class="col-md-3 layout-bordered"></div>
                            <div class="col-md-3 layout-bordered"></div>
                            <div class="col-md-3 layout-bordered"></div>
                        </div>
                    </div>

                    <div class="draggableLayout layoutRow" data-layouttype="columns3-12">
                        <div class="row">
                            <div class="col-md-3 layout-bordered"></div>
                            <div class="col-md-3 layout-bordered"></div>
                            <div class="col-md-3 layout-bordered"></div>
                        </div>
                    </div>

                    <div class="draggableLayout layoutRow " data-layouttype="columns2">
                        <div class="row">
                            <div class="col-md-6 layout-bordered"></div>
                            <div class="col-md-6 layout-bordered"></div>
                        </div>
                    </div>

                    <div class="draggableLayout layoutRow " data-layouttype="columns1">
                        <div class="row">
                            <div class="col-md-12 layout-bordered"></div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">

                </div>

            </div>

            <div id="groupLabelList" class="col-md-12 ">
                <div class="draggableLabel">
                    @Confluence.LabelSubTitleGroup(Localization.GetText("OP.AM.AttributeLayout.GroupLabel"))
                </div>
            </div>

            <div class="col-md-12">
                <h4>@Localization.GetText("OP.AM.AttributeLayout.AttributeList")</h4>
                <hr />
            </div>

            <div id="attributesList" class="">

                @foreach (var attr in Model.Attributes)
                {
                    attr.IsVisible = true; //securityItem == null || securityItem.IsVisible;
                    attr.HasReadPermission = true; //securityItem == null || (field.IsVisible);
                    attr.HasWritePermission = true; //securityItem != null && securityItem.IsReadOnly == false && field.IsVisible;

                    <div class="col-md-12">
                        <div class="draggableAttribute" data-attributecode="@attr.Name">
                            @Html.Partial("FormRendering/FieldRenderer", attr)
                        </div>
                    </div>
                }

            </div>
        </div>

        <div id="formContainer" class="col-md-10 content table-bordered droppableSection mainContent">
            <!-- Form body -->
            <div data-pagemode="read">
                @Html.Partial("FormRendering/FormRenderer2", Model, new ViewDataDictionary() { { "pageName", "UI-OPE-003Partial-TabClassificationData" } })
            </div>
        </div>

        <div class="pull-right mt15">
            <div id="headerButtons" data-id="headerButtons" class="right-buttons">
                @if (ViewBag.Permission != false || ViewBag.AttributePermission != false)
                {
                    <div data-pagemode="read">
                        @Confluence.ButtonBlue(Localization.GetText("OP.AP.Edit"), action: "editForm")
                    </div>

                    <div data-pagemode="edit">
                        @Confluence.ButtonLink(Localization.GetText("OP.AM.Cancel"), action: "cancelEditForm")
                        @Confluence.ButtonOrange(Localization.GetText("OP.AM.Save"), action: "saveForm")
                        @Confluence.ButtonOrange(Localization.GetText("OP.AM.DeleteAll"), action: "deleteAll")

                        <input type="hidden" id="hidLayout" name="hidlayout" value="@Model.Layout" />
                    </div>
                }
            </div>
        </div>



    </div>

    <div class="row">
        <div class="col-md-12" id="formObjectOutput">

        </div>
    </div>

</div>





