@using IDB.MVCControls.General.Helpers

<div class="col-md-12 filterNormal mb20" name="searchAttributeContent">
    <div class="row row-header">
        <div class="col-md-4">
            @Localization.GetText("OP.AM.Attributes.Attribute").HtmlEncode()
        </div>
    </div>
    <div class="row row-body-50">
        <div class="col-md-12">
            @Confluence.InputDropDownAsync(null, "SearchAttribute", Url.Action("GetAttributeName", "AttributeView", new { area = "AdministrationSecondPhase" }),placeholder: "Search by Code, Name",width: "90%",required:false)
        </div>
    </div>
    <div class="row row-header">
        <div class="col-md-4">
            @Localization.GetText("OP.CR.CreationForm.BD.OperationType").HtmlEncode()
        </div>
        <div class="col-md-4">
            @Localization.GetText("OP.CR.RelatedOperation.RelationshipType").HtmlEncode()
        </div>
        <div class="col-md-4">
            @Localization.GetText("TCM.MC.Filter.Section").HtmlEncode()
        </div>
        <div class="col-md-4">
            @Confluence.InputDropDownMulti("OperationType", ViewBag.OperationTypeFilter, width: "80%", required: false)
        </div>
        <div class="col-md-4">
            @Confluence.InputDropDownMulti("RelationshipType", ViewBag.RelationshipTypeFilter, width: "80%", required: false)
        </div>
        <div class="col-md-4">
            @Confluence.InputDropDown(null, "Section", ViewBag.SectionFilter, width: "80%",required:false)
        </div>
    </div>

    <div class="row row-header">
        <div class="col-md-1" style="width: 40px">
            @Confluence.InputCheckbox(false, "ExpiredCheckInclude", "ExpiredCheckInclude")
        </div>
        <div >@Localization.GetText("OP.AM.Attributes.CheckIncludeExpired").HtmlEncode()</div>
    </div>
    <div class="row row-footer-50">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="floatRight">
                @Confluence.ButtonBlue(Localization.GetText("OP.AM.Attributes.Filter"), action: "searchAttributeFilter")
                @Confluence.ButtonBlue(Localization.GetText("OP.DE.ClearAll"), action: "cleanAttributeButton")
            </div>
        </div>
    </div>
</div>

<div>
    <div class="col-md-12 mb20">
        <div class="floatRight">
            @Confluence.ButtonBlue(Localization.GetText("OP.AM.Attributes.New"), action: "newAttribute")
        </div>
    </div>

</div>