@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.AttributesModule.ViewModels.AttributesService.AttributeEditViewModel

<input type="hidden" id="hidAttributeEditViewModel" value="@ViewBag.SerializedViewModel" />
@Confluence.InputHidden(ViewBag.SerializedViewModel, "hidAttributeEditViewModel")
@Confluence.InputHidden(ViewBag.AttributeId, "AttributeId")
@Confluence.InputHidden(ViewBag.Mode, "insModePag")
<div data-pagemode="edit">
    @Confluence.InputHidden("0", "columnSize")
</div>


<div class="row row-header">
    <div class="col-md-12">
        @Confluence.LabelTitleGroup(Localization.GetText("OP.CR.CreationForm.BD.GeneralInformation"))
    </div>
</div>
<div class="row row-header">
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("MD.Management.Table.Code"),
            Confluence.Label(Model.Code, ViewBag.Code),
            Confluence.InputText(Model.Code, "code", ViewBag.Code),
            true)
    </div>
</div>
<div class="row row-header">
    <div class="col-md-12">
        @Confluence.LabelsGroup(Localization.GetText("OP.MD.MG.Table.EnglishName"),
            Confluence.Label(Model.EnglishName, ViewBag.EnglishName),
            Confluence.InputText(Model.EnglishName, "englishName", ViewBag.EnglishName, width: "80%"),
            true)
    </div>
</div>
<div class="row row-header">
    <div class="col-md-12">
        @Confluence.LabelsGroup(Localization.GetText("OP.MD.MG.Table.SpanishName"),
            Confluence.Label(Model.SpanishName, ViewBag.SpanishName),
            Confluence.InputText(Model.SpanishName, "spanishName", ViewBag.SpanishName, width: "80%"),
            true)
    </div>
</div>
<div class="row row-header">
    <div class="col-md-12">
        @Confluence.LabelsGroup(Localization.GetText("OP.MD.MG.Table.Portuguese"),
            Confluence.Label(Model.PortugueseName, ViewBag.PortugueseName),
            Confluence.InputText(Model.PortugueseName, "portugueseName", ViewBag.PortugueseName, width: "80%"),
            true)
    </div>
</div>
<div class="row row-header">
    <div class="col-md-12">
        @Confluence.LabelsGroup(Localization.GetText("OP.MD.MG.Table.FrenchName"),
            Confluence.Label(Model.FrenchName, ViewBag.FrenchName),
            Confluence.InputText(Model.FrenchName, "frenchName", ViewBag.FrenchName, width: "80%"),
            true)
    </div>
</div>
<div class="row row-header">
    <div class="col-md-12">
        @Confluence.LabelsGroup(Localization.GetText("PCR.Checklist.TabValidation.Documents.ColDescription"),
            Confluence.Label(Model.Description, ViewBag.Description),
            Confluence.InputTextArea(Model.Description, "description", ViewBag.Description, width: "80%", placeholder: "Enter the description information here."),
            true)
    </div>
</div>
<div class="row row-header">
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("TCM.MC.Filter.Section"),
                     Confluence.LabelBold(Model.SectionListName),
                     Confluence.InputDropDownMulti("section", (List<MultiSelectListItem>)ViewBag.SectionMulti, width: "191"),
            true)
    </div>
    <div class="hidden">
        @Confluence.LabelsGroup(Localization.GetText("OP.IN.SI.TableValidators.Order"),
            Confluence.LabelGetDropDown(Model.Order.ToString(), (List<SelectListItem>)ViewBag.Order, true),
            Confluence.InputHidden(0.ToString(), "order"))
    </div>
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("OP.CR.CreationForm.BD.OperationType"),
            Confluence.LabelBold(Model.OperationListName),
            Confluence.InputDropDownMulti("operationType", (List<MultiSelectListItem>)ViewBag.OperationTypeMulti, width: "191"),
            true)
    </div>
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("OP.CR.RelatedOperation.RelationshipType"),
            Confluence.LabelBold(Model.RelationListName),
            Confluence.InputDropDownMulti("relationshipType", (List<MultiSelectListItem>)ViewBag.RelationshipTypeMulti, required: false, width: "191"))
    </div>
</div>
<div class="row row-header">
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("OP.AM.NewAttributes.VisibilityBR"),
            Confluence.LabelGetDropDown(Model.VisibilityBr, (List<SelectListItem>)ViewBag.VisibilityBr, true),
            Confluence.InputDropDown(Model.VisibilityBr, "visibilityBR", ViewBag.VisibilityBr, required: false))
    </div>
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("MD.Management.Table.EffectiveDate"),
            Confluence.LabelGetDate(Model.AttributeId == 0 ? ViewBag.EffectiveDate : Model.EffectiveDate, true),
            Confluence.InputDatePicker(Model.AttributeId == 0 ? ViewBag.Now : Model.EffectiveDate, "effectiveDate", required: false))
    </div>
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("TC.FundInformation.BasicData.ExpirationDate"),
            Confluence.LabelGetDate(Model.ExpirationDate, true),
            Confluence.InputDatePicker(Model.ExpirationDate, "expirationDate", htmlClass: "datepickerGuide", required: false))
    </div>
</div>
<div class="row row-header">
    <div class="col-md-12">
        @Confluence.LabelTitleGroup(Localization.GetText("OP.AM.NewAttributes.Tittle.ControlType"))
    </div>
</div>
<div class="row row-header">
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("OP.AM.NewAttributes.Type"),
            Confluence.LabelGetDropDown(Model.Type.ToString(), ViewBag.Type, true),
            Confluence.InputDropDown(Model.Type.ToString(), "type", ViewBag.Type),
            true)
    </div>
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("OP.AM.NewAttributes.Reference"),
            Confluence.LabelGetDropDown(Model.ReferenceId.ToString(), ViewBag.ReferenceList),
            Confluence.InputDropDownAsync(Model.ReferenceId > 0 ? Model.ReferenceId.ToString() : null, "reference", Url.Action("GetReferenceList", "AttributeView", new { area = "AdministrationSecondPhase" }), textSelected: ControlTemplates.DropDownGetSelectedString(Model.ReferenceId.ToString(), ViewBag.ReferenceList), required: false))
    </div>
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("OP.AM.NewAttributes.Length"),
            Confluence.LabelGetDropDown(Model.Length.ToString(), ViewBag.Length, true),
            Confluence.InputDropDown(Model.Length.ToString(), "length", ViewBag.Length, orderAsc: false),
            true)
    </div>
</div>
<div class="row row-header">
    <div class="col-md-12">
        @Confluence.LabelTitleGroup(Localization.GetText("OP.AM.NewAttributes.Validation"))
    </div>
</div>
<div class="row row-header">
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("OP.AM.NewAttributes.Validation"),
            Confluence.LabelGetDropDown(Model.Validation.ToString(), ViewBag.Validation, true),
            Confluence.InputDropDown(Model.Validation.ToString(), "validation", ViewBag.Validation),
            true)
    </div>
    <div class="col-md-4">
        @Confluence.LabelsGroup(Localization.GetText("OP.AM.NewAttributes.ValidationBRName"),
            Confluence.LabelGetDropDown(Model.ValidationBrName, ViewBag.ValidationBrName, true),
            Confluence.InputDropDown(Model.ValidationBrName, "validationBRName", ViewBag.ValidationBrName, required:true),
            true)
    </div>
</div>
<div class="row row-header">
    <div class="col-md-4">
        @Confluence.LabelsGroup(null,
            Confluence.InputCheckbox(Model.NewValidationMessage, "", "",
                Localization.GetText("OP.AM.NewAttributes.CheckNewValidationMessage"), false, true),
            Confluence.InputCheckbox(Model.NewValidationMessage, "newValidationMessage", "newValidationMessage",
                Localization.GetText("OP.AM.NewAttributes.CheckNewValidationMessage"), false))
    </div>
    <div class="col-md-6">
        @Confluence.LabelsGroup(Localization.GetText("OP.AM.NewAttributes.ValidationMessage"),
            Confluence.LabelBold(Model.NewValidationMessage ? Model.ValidationMessage : string.Empty),
            Confluence.InputTextArea(Model.NewValidationMessage ? Model.ValidationMessage : "", "validationMessage", "validationMessage", width: "95%",
                required: Model.NewValidationMessage, disabled: Model.AttributeId > 0 && !Model.NewValidationMessage),
                Model.NewValidationMessage)
    </div>
</div>