@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.ClauseReport.ClauseSearchReport
@{
    ViewBag.Title = "Index";
}

<!-- CSS Files -->

<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/cl_ui_rt_001.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ClausesReportCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />

<!-- JS Files -->

<script src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script src="@Url.Content("~/Scripts/Modules/Reports/ClauseReportScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/CommonRuleReports.js")"></script>

<div class="verticalMargin20 w100">
    <h3 class="font2em AlingTitles">@Localization.GetText("Clauses reports")</h3>

</div>
<div class="relative h50px verticalMargin40">
    <h4 class="font1-5em absolute AlingTitles">@Localization.GetText("Clauses reports")</h4>
    <input type="button" class="absolute absRight button blueButton alingFilterButtonRigth buttonCustomSize" id='showFilterButtonReportsCL001' value=" @Localization.GetText("Filter") ">
</div>
<!-- Filter container -->
@using (Html.BeginForm("ClauseReportCreate", "ClauseReport", FormMethod.Post, new { @id = "FormClauseReportCreate" }))
    {
    @Html.HiddenFor(x => x.OperationID)
    @Html.HiddenFor(x => x.ExportType)

    <div id="searchBoxContainerReportsCL001" class="padding20 grayBackground font08em hideNI" style="display: block">

        <div class="centerContent w96 leftAlign h50px box1">

            <div class="inline-block inputContainer w25">
                <div class="w80 verticalAlignMiddle">
                    <label for="ContractNumber" class="inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Contract number")</label>
                    @Html.ListBoxFor(x => x.ContractNumber, new MultiSelectList(ViewBag.ListContractNumber, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomCR" })
                </div>
            </div>

            <div class="inline-block w69-5" id="DateClauseReportContainer">
                <div class="inline-block verticalAlignMiddle">
                    <label>@Localization.GetText("Current expiration date")</label>
                </div>
                <div class="inline-block verticalMargin20 w75 verticalAlignMiddle centerAlign">
                    <label for="dateFromFilterReports" class=" inline-block verticalAlignMiddle noPadding ">@Localization.GetText("Date From")</label>
                    <div class="inline-block verticalAlignMiddle w33">
                        @Html.TextBoxFor(x => x.CurrentExpirationDateFrom, new { @placeholder = "MM/DD/YYYY", @class = "kendoDatePicker" })
                    </div>
                    <label for="dateToFilterReports" class="rightAlign inline-block verticalAlignMiddle noPadding no_margin"><span class="spanMargin">@Localization.GetText("Date to")</span></label>
                    <div class="inline-block verticalAlignMiddle w33">
                        @Html.TextBoxFor(x => x.CurrentExpirationDateTo, new { @placeholder = "MM/DD/YYYY", @class = "kendoDatePicker" })
                    </div>
                </div>
            </div>

        </div>

        <div class="centerContent w96 leftAlign h50px box2">

            <div class="inline-block inputContainer w31-5 centralPanelContent">
                <div class="inline-block w96 verticalAlignMiddle noPadding">
                    <label for="ClauseStatus" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Clause Status")</label>
                    @Html.ListBoxFor(x => x.ClauseStatus, new MultiSelectList(ViewBag.ListClauseStatus, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomCR" })
                </div>
            </div>

            <div class="inline-block inputContainer w31-5 centralPanelContent">
                <div class="inline-block w96 verticalAlignMiddle noPadding">
                    <label for="ContractNumber" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Clause Category")</label>
                    @Html.ListBoxFor(x => x.ClauseCategory, new MultiSelectList(ViewBag.ClauseCategory, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomCR" })
                </div>
            </div>

            <div class="inline-block inputContainer w31-5 centralPanelContent">
                <div class="inline-block w96 verticalAlignMiddle noPadding">
                    <label for="ClauseType" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Clause type")</label>
                    @Html.ListBoxFor(x => x.ClauseType, new MultiSelectList(ViewBag.ClauseType, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomCR" })
                </div>
            </div>

        </div>

        <div class="centerContent w96 leftAlign  box3">
            <div class="inline-block inputContainer w25">
                <div class="inline-block w96 verticalAlignMiddle">
                    <label for="ClauseLocation" class=" inline-block verticalAlignMiddle noPadding largeLabel"> @Localization.GetText("Clause location")</label>
                    @Html.ListBoxFor(x => x.ClauseLocation, new MultiSelectList(ViewBag.ClauseLocation, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomCR" })
                </div>
            </div>

            <div class="inline-block inputContainer w25 marginLeft1 marginLeft2">
                <label for="ClauseNumber" class=" inline-block verticalAlignMiddle noPadding largeLabel">@Localization.GetText("Clause Number")</label>
                @Html.TextBoxFor(x => x.ClauseNumber, new { @class = "grayBorder", @placeholder = Localization.GetText("Clause Number"), @size = "28", @maxlength = "32" })
            </div>

            <div class="inline-block inputContainer w30 marginLeft5 box4 marginLeft2">
                @Html.CheckBoxFor(x => x.deletedClausesOnly, new { @class = "fancy-checkbox" })
                @Html.LabelFor(x => x.deletedClausesOnly,
                new
                {
                    @class = "fancy-label",
                    @id = "LabelFordeletedClausesOnly"
                })
            </div>

            <div class="verticalMargin20 rightAlign w97-2">
                <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad" id="AjaxLoadForClauseReport" />
                <span class="alingImageRigth">
                    <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad AjaxExportRight" id="AjaxLoadForClauseReportExport" />
                </span>
                <input id="Btn_Clear" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Clear All")">
                <input id="Btn_ExportExcelClauseReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export Excel")">
                <input id="Btn_ExportdPDFClauseReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export PDF")">
                <a id="LinkExportClauseReport" class="noShow" data-route="@Url.Action("ExportClauseReport", "ClauseReport")"></a>

                <input type="submit" class="button yellowButton buttonCustomSize" value="@Localization.GetText("Submit")">
            </div>

        </div>

    </div>
    <div style="padding-left: 15px;" class="ReportContainer">
        <iframe id="frameReportClauses" class="iframeReportsCustom"></iframe>
    </div>
    }


