@{
    var rand = new Random();
    var rowId = rand.Next(1000000, 3000000);
}
<tr data-id="@rowId" class="custom-even" role="row">
    <td class="hide" data-pagemode="edit">
        <input type="hidden" name="AchievementDelayId" value="@rowId">
    </td>

    <td class="hide">
        
    </td>
    <td data-pagemode="edit" class="col-md-1">
        @Confluence.InputDropDown(null, "delayType", ViewBag.ListDelaysType, width: "100%", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlTypeDelay" } })
    </td>
    <td data-pagemode="edit" class="col-md-7">
        @Confluence.InputDropDown(null, "nameDelay", ViewBag.ListItems, parentValue: true, width: "100%", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlNameDelay" } })
    </td>
    <td data-pagemode="edit" class="col-md-1">
        @Confluence.InputDropDown(null, "stateIsSolvedDelay", ViewBag.ListIsSolved, width: "100%", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlStateIsSolvedDelay" } })
    </td>
    <td data-pagemode="edit" class="col-md-1">
        @Confluence.Label(String.Format("{0:dd MMM yyyy}", DateTime.Today))
    </td>
   
    <td data-pagemode="edit" class="col-md-1">
        @Confluence.ButtonShowRow(true, htmlClass: "mr0")
        @Confluence.ButtonTrash(null, null, "removeRowDelay")
    </td>
</tr>
<tr class="template odd showChildRow linedown" name="rowIdiom" id="rowIdiom" data-persist="true" data-row-parent-id="@rowId">
    <td class="custom-detail-table-row" colspan="6">
        <div class="row row-header text-left">
            <div class="col-md-4">
                <p>@Localization.GetText("Explain both physical and financial delays")</p>
            </div>
            <div class="col-md-4">
                <p>@Localization.GetText("Findings: Effects or implications (negative or positive) of the delays")</p>
            </div>
            <div class="col-md-4">
                <p>@Localization.GetText("Recommendations: Actions or decisions recomend to replicate or to void")</p>
            </div>
        </div>
        <div class="row row-body-40 text-left">
            <div data-pagemode="read" class="hide">
                <div class="col-md-12">
                </div>
            </div>
            <div data-pagemode="edit">
                <div class="col-md-4">
                    @Confluence.InputTextArea(null, "delayDetailReason", null, required: false, width: "100%", height: "100px"
                                             , dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtDelayDetailReason" } })
                </div>

                <div class="col-md-4">
                    @Confluence.InputTextArea(null, "finding", null, required: false, width: "100%", height: "100px"
                                             , dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtFinding" } })
                </div>

                <div class="col-md-4">
                    @Confluence.InputTextArea(null, "recommendation", null, required: false, width: "100%", height: "100px"
                                             , dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtRecommendation" } })
                </div>
            </div>
        </div>
    </td>
</tr>