@{
    var rand = new Random();
    var rowId = rand.Next(1000000, 3000000);
}
<tr data-id="@rowId" class="custom-even" role="row">
    <td class="hide" data-pagemode="edit">
        <input type="hidden" name="OtherDelayId" value="0">
    </td>
    <td data-pagemode="edit" class="hide">
       
    </td>
    <td data-pagemode="edit" class="col-md-1">
        @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.OtherDelays"), dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlOtherTypeDelay" } })
    </td>

    <td data-pagemode="edit" class="col-md-7">
        @Confluence.InputText(null, "OtherDelayName", 500, width: "100%", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOtherDelayName" } })
    </td>
    <td data-pagemode="edit" class="col-md-1">
        @Confluence.InputDropDown(null, "OtherStateIsSolved", ViewBag.ListIsSolved, width: "100%", dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "ddlOtherStateIsSolved" } })
    </td>
    <td data-pagemode="edit" class="col-md-1">
        @Confluence.Label(String.Format("{0:dd MMM yyyy}", DateTime.Today))
    </td>

    <td data-pagemode="edit" class="col-md-1">
        @Confluence.ButtonShowRow(true, htmlClass: "mr0")
        @Confluence.ButtonTrash(null, null, "removeRowOtherDelay")
    </td>
</tr>
<tr class="template odd showChildRow linedown" role="row" data-is-expanded="true" data-last-detail="true" data-row-parent-id="@rowId">
    <td colspan="6">
        <div class="row row-header text-left">


            <div class="col-md-12">
                <p>@Localization.GetText("TCM.FR.FindingsAndRecommendations.Reason")</p>
            </div>
        </div>
        <div class="row row-body-40 text-left">
            <div data-pagemode="read" class="hide">

                <div class="col-md-12">
                </div>
            </div>
            <div data-pagemode="edit">

                <div class="col-md-12">
                    @Confluence.InputTextArea(null, "OtherDelayReason", null, required: true, width: "100%", height: "100px"
                                             , dataAttributes: new Dictionary<string, string>() { { "idb-fieldname", "txtOtherDelayReason" } })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </td>
</tr>