@using IDB.MW.Application.TCM.ViewModels.FindingAndRecommendation;
@model List<OutComeStatementModel>

<table class="tableNormal endSpacing" id="tableOutcome">
    <thead>
    <tr>
        <th>@Localization.GetText("TCM.FR.FindingsAndRecommendations.OutcomeStatement")</th>
        <th class="w965">@Localization.GetText("TCM.FR.FindingsAndRecommendations.AdvanceInTheAchievementOfOutcome")</th>
    </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var row in Model)
            {
                <tr data-id ="@row.OutcomeId">
                    <td>@row.OutcomeStatement</td>
                    <td>
                        <div data-pagemode="read">
                            @Confluence.InputRichText(row.AdvancesInTheAchievement, string.Empty, false, width: "100%", height: "97px", maxLength: 3500)
                        </div>
                        <div data-pagemode="edit">
                            @Confluence.InputRichText(row.AdvancesInTheAchievement, "AdvancesInTheAchievement", false, width: "100%", height: "97px", maxLength: 3500, placeholder: Localization.GetText("TCM.FR.FindingsAndRecommendations.PH_Progress"))
                        </div>
                    </td>
                    <td data-pagemode="edit" hidden="hidden">
                        @Confluence.InputHidden(row.CommentOutcomeId.ToString(), "commentOutcomeId")
                        @Confluence.InputHidden(row.OutcomeId.ToString(), "outcomeId")
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

@if (Model.Count == 0)
{
    @Localization.GetText("TCM.FR.FindingsAndRecommendations.OutcomeEmptyTable")
}
