@using IDB.MW.Application.TCM.ViewModels.FindingAndRecommendation;

@model List<OutPutDataTableModel>
<input type="hidden" id="hidProgressModel" value="@ViewBag.SerializedProgress" />
<div class="mb15">
    @Confluence.LabelMainSubTitle(Localization.GetText("TCM.FR.FindingsAndRecommendations.AdvancesInExecutionAndDissemination"))
</div>
    @Confluence.Label(Localization.GetText("TCM.FR.FindingsAndRecommendations.FieldDescribeTheOutput"))

<table class="tableNormal mt10 endSpacing" id="tableOutput">
    @if (Model != null)
    {
        <thead>
            <tr>
                <th class="w800">@Localization.GetText("TCM.FR.FindingsAndRecommendations.OutputIndicator")</th>
                <th class="outputPPaA"></th>
                @{
                    var outPutDataTableModel = Model.FirstOrDefault();
                }
                @if (outPutDataTableModel != null)
                {
                    foreach (var year in outPutDataTableModel.OutputYearPlan)
                    {
                        if (@year.YearIndicator < int.MaxValue)
                        {
                            <th class="w100 Years">@year.YearIndicator</th>
                        }

                    }
                            <th class="w100 EOP">
                        @Localization.GetText("TCM.FR.FindingsAndRecommendations.EOP") <br /> @outPutDataTableModel.OutputYearPlan[0].EndOfProyect
                    </th>
                }
                <th class="w1200">@Localization.GetText("TCM.FR.FindingsAndRecommendations.AdvancesInExecution")</th>
            </tr>
        </thead>
        <tbody id="trOutput">

            @{
                var outputGroup = 0;

                foreach (var row in Model)
                {
                    
                    if (row.OrderNumber == 1)
                    {
                        outputGroup++;
                    }

                    <tr data-id="rowOutput">
                        <td data-pagemode="edit" hidden="hidden">@Confluence.InputHidden(row.AdvancesCommentId.ToString(), "commenOutputId")</td>
                        <td data-pagemode="edit" hidden="hidden">@Confluence.InputHidden(row.OutputId.ToString(), "outputId")</td>
                        <td>@outputGroup.@row.OrderNumber. @Confluence.Label(row.OutputIndicatorName)</td>

                        <td class="nopadding">
                            @if (!string.IsNullOrEmpty(row.OutputIndicatorName))
                            {
                                <table class="noBorder outputPPaA">
                                    <tbody>
                                        <tr>
                                            <td class="original-value-row text-center paddingTopBottom">P</td>
                                        </tr>
                                        <tr>
                                            <td class="annual-value-row text-center paddingTopBottom">P(a)</td>
                                        </tr>
                                        <tr>
                                            <td class="actual-value-row text-center paddingTopBottom">A</td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </td>

                        @foreach (var yp in row.OutputYearPlan)
                        {
                            <td class="nopadding" id="colValue">
                                <table id="tablePa" class="noBorder wp100">
                                    <tbody>
                                        <tr>
                                            <td class="original-value-row text-right paddingTopBottom">@Confluence.LabelDecimal(yp.OriginalPlan)</td>
                                        </tr>
                                        <tr>
                                            <td data-attr="@yp.YearIndicator" class="annual-value-row pa text-right paddingTopBottom">@Confluence.LabelDecimal(yp.AnnualPlan)</td>
                                        </tr>
                                        <tr>
                                            <td class="actual-value-row text-right paddingTopBottom">@Confluence.LabelDecimal(yp.ActualPlan)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        }

                        <td>
                            <div id="oComment">
                                @Confluence.InputRichText(row.AdvancesInExecution, "AdvancesInExecution", false, width: "100%", height: "97px", maxLength: 3500)
                            </div>
                        </td>
                    </tr>
                    }
                    
                }
        </tbody>
    }
</table>

@if (Model.Count == 0)
{
    @Localization.GetText("TCM.FR.FindingsAndRecommendations.OutputEmptyTable")
}
