@using IDB.MW.Application.TCM.ViewModels.FindingAndRecommendation;

@model DocumentsTableModel

<tr data-id="0" class="custom-even odd" role="row">
    <td>
        <span data-pagemode="edit">
            @Confluence.Label(Model.User)
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.LabelGetDate(Model.Date)
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.Label(Model.IdbDocNumber)
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @Confluence.InputText(Model.Description, "Description", width: "100%")
        </span>
    </td>
    <td>
        <span data-pagemode="edit">
            @{
                var secureUrl = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(Model.IdbDocNumber);
            }
            <a href=@secureUrl target="_blank">
                @Confluence.ButtonDownload("")
            </a>
            @Confluence.ButtonTrash(null, null, "removeRow")
        </span>
    </td>
    <td class="hide">
        <span data-pagemode="edit">
            @Confluence.InputHidden("0", "DocumentId")
            @Confluence.InputHidden(Model.IdbDocNumber, "DocNumber")
        </span>
    </td>
</tr>
