@model IDB.MW.Domain.Models.Clauses.OperationRelatedModel

@{
    ViewBag.Title = "EditClauseToFulfilment";
}

<script>
    $(document).ready(function () {
        $("#CancelWarningDialog").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#actionConfirmed").click(function () {
            var route = $("#EditClauseToFulfilment").val();
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

            idbg.lockUi(null, true);
            redirectPage(route);
        });
    });
</script>

@Html.Hidden("EditClauseToFulfilment", Url.Action("EditClauseToFulfilment", "Clause", new { area = "Clauses", operationId = @Model.OperationId, contractId = @Model.Contracts[0].ContractId, clauseId = @Model.Contracts[0].Clauses[0].ClauseId, clauseIndividualId = @Model.Contracts[0].Clauses[0].ClauseIndividuals[0].ClauseIndividualId, mainOperationNumber = @Model.mainOperationNumber }))

<div style="padding: 20px;">
     @Localization.GetText("This action is cannot be undone, are you sure do you want to continue?")
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="Cancel" class="cancel" id="CancelWarningDialog" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
        <label for="save">
            <input type="button" value="@Localization.GetText("Save")" class="btn-primary" id="actionConfirmed">
        </label>
    </div>
</div>