
@model System.Collections.Generic.ICollection<IDB.MW.Domain.Models.Architecture.Clauses.ClauseTemplateModel>
@{
    ViewBag.Title = "Clausetemplate";
}
@Html.Hidden("operationId", (object)ViewBag.operationId)
@Html.Hidden("contractId", (object)ViewBag.contractId)
@Html.Hidden("mainOperationNumber", (object)ViewBag.mainOperationNumber)
@Html.Hidden("clauseTemplateId", (object)ViewBag.clauseTemplateId)
<script type="text/javascript">
    var lastElement = 0;
    $(document).ready(function () {
        if ($('#CountrySearch').val() > 0) {

            var Countrysearch = $('#CountrySearch').val();
            $('#dropDownCountry').val(Countrysearch);
        }

        $(".optionSelect1").kendoDropDownList();
        $('#btnLoad').click(function () {
            var auxiliarData = $(this).data("route") + '&clauseTemplateId=' + $('#clauseTemplateId').val() +
                '&includeFinancialStatements=' + '@Model.First().IncludeFinancialStatements';
            closeBtn();
            redirectPage(auxiliarData);
        });

        $('#btnCancel').click(function () {
            closeBtn();
        });

        $('#SearchByCountry').click(function () {
            var test = $("#dropDownCountry").val();
            var route = $(this).data("route") + '&filterByCountry=' + test;
            $.post(route,
                function (data) {
                    var dialog = $(".lineThreeClauseTemplate").data("kendoWindow");
                    dialog.content(data);
                })
        });

        function closeBtn() {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            $(".k-window-titlebar").remove();
        }

        var thumbnail = $(".thumbnail");
        if ($(thumbnail).length > 0) {
            $(thumbnail).click(function () {
                if ($(this).hasClass("active")) {
                    $('#' + lastElement).removeClass("active");
                    lastElement = 0;
                    $('#clauseTemplateId').val(lastElement);
                } else {
                    /* activate thumbnail */
                    if (lastElement == 0) {
                        lastElement = $(this).attr('id');
                    } else {
                        $('#' + lastElement).removeClass("active");
                        lastElement = $(this).attr('id');
                    }
                    $('#' + lastElement).addClass("active");
                    $('#clauseTemplateId').val(lastElement);
                }
            });
        }
    });
</script>

<p class="hide headerWindow">@Localization.GetText("Clause template")</p>
<form id="formData">
    @Html.Hidden("CountrySearch", (object)ViewBag.CountrySearch)
    <div class="navegationBar">
        <div class="clauseDropDown">
            <ul class="optionList">
                <li class="small">
                    @Html.DropDownListFor(x => x.ElementAt(0).LocationId, new SelectList(ViewBag.ListCountries, "Value", "Text", ViewBag.countryId), new Dictionary<string, Object> { { "id", "dropDownCountry" }, { "class", "optionSelect1" } })
                </li>
            </ul>
        </div>
        <div class="clauseSearch">
            <label for="ClauseSearch">
                <input type="button" id="SearchByCountry" class="btn-primary" name="Search" value="@Localization.GetText("Search")" data-route="@Url.Action("CreateClauseFromTemplate", "Clause", new { area = "Clauses", operationId = ViewBag.operationId, contractId = ViewBag.contractId, mainOperationNumber = ViewBag.mainOperationNumber })">
            </label>
        </div>
    </div>
    @if (Model != null && Model.Count > 0)
    {
        <div class="contenido mod_operationTeamMember addDocument clauseTemplate">
            <div class="docPreview" style="padding:1.35em 0.75% 0 3.78%;">
                @if (Model != null && Model.Count > 0)
                {
                    bool flagChange = true;

                    int nroIte = Model.Count / 4;

                    for (int i = 0; i < Model.Count; i++)
                    {
                        if (flagChange)
                        {
                            flagChange = false;
                    @Html.Raw("<ul>");

                        }
                    <li>
                        <div class="thumbnail allThumbnail @Model.ElementAt(i).LocationId" id="@Model.ElementAt(i).ClauseTemplateId">
                            <span class="ico_check_green">Check Green</span>
                            <p class="clauseNumber">@Model.ElementAt(i).ClauseNumber</p>
                            <p class="clauseDescription">@Model.ElementAt(i).DescriptionEn</p>
                            <p class="clauseType">@Model.ElementAt(i).Category.NameEn</p>
                            <p class="clauseType">@Model.ElementAt(i).ClauseType.NameEn</p>
                            <p class="clauseExpiration">@Model.ElementAt(i).ExpirationFrom</p>
                        </div>
                    </li>
                    
                        if ((i + 1) % 4 == 0)
                        {
                    @Html.Raw("</ul>");
                                      flagChange = true;

                        }
                    }
                    if (!flagChange)
                    {
                    @Html.Raw("</ul>");
                    }
                }
            </div>


            <div class="pie">
                <div class="botones">
                    <a title="@Localization.GetText("Cancel")" class="cancel" id="btnCancel">@Localization.GetText("Cancel")</a>
                    <input type="button" class="btn-primary" value=" @Localization.GetText("Load")" title="@Localization.GetText("Load")" id="btnLoad" data-route="@Url.Action("CreateNewClause", "Clause", new { area = "Clauses", operationId = ViewBag.operationId, contractId = ViewBag.contractId, mainOperationNumber = ViewBag.mainOperationNumber })">
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="pie">
        </div>
    }
</form>
