@{
    ViewBag.Title = "DeleteItem";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#CancelWarningDialog").click(function () {
            idbg.lockUi(null, false);

            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#actionConfirmed").click(function () {
            var route = '';
            var itemToDelete = $('#itemToDelete').val();
            switch (itemToDelete) {
                case 'Clause':
                    route = $("#DeleteClause").val();
                    break;
                case 'Document':
                    route = $("#DeleteDocument").val();
                    break;
                case 'Extension':
                    route = $("#DeleteExtension").val();
                    break;
            }
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();

            idbg.lockUi(null, true);

            if (route != '')
                redirectPage(route);
        });
    });
</script>

@Html.Hidden("itemToDelete", (object)ViewBag.itemToDelete)

@*ViewBag.operationId = operationId;
    ViewBag.contractId = contractId;
    ViewBag.clauseId = clauseId;
    ViewBag.clauseIndividualId = clauseIndividualId;
    ViewBag.extensionId = extensionId!=null?extensionId:0;
    ViewBag.documentId = documentId!=null?documentId:0;
    ViewBag.userCommentId = userCommentId!=null?userCommentId:0;
    ViewBag.itemtodelete = itemToDelete;
    ViewBag.MainOperationNumber = mainOperationNumber;*@


@Html.Hidden("DeleteClause", Url.Action("Delete", "Clause", new { area = "Clauses", mainOperationNumber = ViewBag.MainOperationNumber, clauseId = ViewBag.clauseId, clauseIndividualId = ViewBag.clauseIndividualId }))
@Html.Hidden("DeleteExtension", Url.Action("DeleteExtension", "Clause", new { area = "Clauses", operationId = ViewBag.operationId, contractId = ViewBag.contractId, clauseId = ViewBag.clauseId, clauseIndividualId = ViewBag.clauseIndividualId, clauseExtensionId = ViewBag.extensionId, mainOperationNumber = ViewBag.MainOperationNumber }))
@Html.Hidden("DeleteDocument", Url.Action("DeleteDocument", "Document", new { area = string.Empty, operationId = ViewBag.operationId, contractId = ViewBag.contractId, clauseId = ViewBag.clauseId, clauseIndividualId = ViewBag.clauseIndividualId, documentId = ViewBag.documentId, extensionId = ViewBag.extensionId, RevolvingFund = ViewBag.RevolvingFund, visualProjectId = ViewBag.visualProjectId, visualProjectVersionId = ViewBag.visualProjectVersionId, year = ViewBag.year, entityRelated = ViewBag.entityRelated, entityRegisterId = ViewBag.entityRegisterId, mainOperationNumber = ViewBag.MainOperationNumber }))

<div style="padding: 20px;">
     @Localization.GetText("This action cannot be undone, are you sure you wish to continue?")
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a class="cancel" id="CancelWarningDialog" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
        <label for="deleteItem">
            <input type="button" value=" @Localization.GetText("OK")" class="btn-primary" id="actionConfirmed">
        </label>
    </div>
</div>

