
@model List<IDB.MW.Domain.Models.Clauses.SearchDocumentModel>

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Clauses/Clause/modalDocument.js")"></script>

@Html.Hidden("operationId", (object)ViewBag.operationId)
@Html.Hidden("operationNumber", (object)ViewBag.mainOperationNumber)
@Html.Hidden("entityRegisterId", (object)ViewBag.entityRegisterId)
@Html.Hidden("parentEntityId", (object)ViewBag.parentEntityId)
@Html.Hidden("subParentEntityId", (object)ViewBag.subParentEntityId)
@Html.Hidden("IDBDocNumber", (object)ViewBag.IDBDocNumber)

<p class="hide headerWindow">Navegation document</p>
<div class="tabstrip k-widget k-header k-tabstrip" data-role="tabstrip" tabindex="0">
    <ul class="k-tabstrip-items k-reset">
        <li class="k-item k-state-default k-first">
            <a title="@Localization.GetText("Add")" href="#" class="k-link"> @Localization.GetText("Add")</a>
        </li>
        <li class="k-state-active k-item k-tab-on-top k-state-default k-last">
            <a title="@Localization.GetText("Search")" href="#" class="k-link">@Localization.GetText("Search")</a>
        </li>
    </ul>

    <div style="display: none;" class="tab1 k-content" id="undefined-1" role="tabpanel" aria-hidden="true" aria-expanded="false">
         <div class="contenido mod_operationTeamMember addDocument">   
                <div class="docBrowser">
                    <p class="preguntaDelete"> @Localization.GetText("Select files from your computer or drop files anywhere on this screen")</p>
                    <div class="botones">
                        <input type="file" name="file" id="file" multiple/>
                        @*<input type="submit" value="Upload1" name="Upload1"/>*@
                        @*<input type="button" title="Upload2" name="Upload2" class="btn-primary k-button" value="Add" id="UploadButton" data-route="@Url.Action("IndexDocumentRelationship", "Clause", new { area = "Clauses"})">*@
                    </div>
                </div>
            </div>
    </div>

    <div style="display: block;" class="tab2 k-content k-state-active" id="undefined-2" role="tabpanel" aria-expanded="true">
        <div class="navegationBar">
            <div class="filter">
                <div class="cajaGeneralFilter2">
                    <div class="contenidoCurrentSearchFilter2">
                        <div class="editCurrentFilter2">
                            <a id="clearAll" href="javascript:void(0)" data-route="@(Url.Action("IndexDocumentRelationship", "Clause", new { area = "Clauses", operationId = ViewBag.operationId, mainOperationNumber =ViewBag.mainOperationNumber, parentEntityId=ViewBag.parentEntityId, subParentEntityId=ViewBag.subParentEntityId, entityRelated="CLAUSE_INDIVIDUAL", entityRegisterId=ViewBag.entityRegisterId, isFirstTime=false }))" title="@Localization.GetText("Clear All")">@Localization.GetText("Clear All")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contenido mod_operationTeamMember addDocument">
            <div class="docPreview">
                @if (Model != null)
                {
                    bool flagChange = true;

                    int nroIte = Model.Count / 3;
                    for (int i = 0; i < Model.Count; i++)
                    {
                        if (flagChange)
                        {
                            flagChange = false;
                    @Html.Raw("<ul>");

                        }
                    <li>
                        <div class="thumbnail" data-docinfo='{ "docName": "@Model.ElementAt(i).DocName", "idbNumber":"@Model.ElementAt(i).DocNum", "date":"@Model.ElementAt(i).CreationDate","docId":"@Model.ElementAt(i).Abstract","docDesc":"@Model.ElementAt(i).Description","docAuthor":"@Model.ElementAt(i).FullName","opnum":"@Model.ElementAt(i).MultiLoans","contractNumber":"@Model.ElementAt(i).MultiLoans" }' data-route="@Url.Action("GetDocument", "Clause", new { area = "Clauses", docNum = @Model.ElementAt(i).DocNum })">
                            <span class="ico_check_green">@Localization.GetText("Check Green")</span>
                            <p class="date">@String.Format("{0:dd MMM yyy}",Model.ElementAt(i).CreationDate)</p>
                             <p class="idbNumber">@Localization.GetText("IDBDocs number: ") @Model.ElementAt(i).DocNum</p>
                            <p class="docName">@Model.ElementAt(i).DocName</p>                   
                        </div>
                    </li>
                    
                        if ((i + 1) % 3 == 0)
                        {
                    @Html.Raw("</ul>");
                                      flagChange = true;
                        }
                    }
                    if (!flagChange)
                    {
                    @Html.Raw("</ul>");
                    }
                }
            </div>
            <div class="docFiles" style="width: 30%;float: right;">
                <div class="docNameProperties">
                    <p class="docName" id="docName"></p>
                    <p class="date" id="date"></p>
                </div>
                <div class="docProperties">
                    <p class="docTitle idbNumber"> @Localization.GetText("IDBDocs")</p>
                    <p class="docText" id="idbNumber"></p>
                    <p class="docTitle"> @Localization.GetText("Document Content")</p>
                    <p class="docText" id="docDesc"></p>
                    <p class="docTitle"> @Localization.GetText("IDB Author Name")</p>
                    <p class="docText" id="docAuthor"></p>
                    <p class="docTitle"> @Localization.GetText("Operation Number")</p>
                    <p class="docText" id="opNum"></p>
                    <p class="docTitle"> @Localization.GetText("Contract Number")</p>
                    <p class="docText" id="contractNumber"></p>
                    @{
                        var secureUrl = IDB.MW.Domain.EntityHelpers.DownloadDocumentHelper.GetDocumentLink(ViewBag.IDBDocNumber);
                    }
                    <a class="btn-primary" title="Download" id="downloadBtn" href=@secureUrl target="_blank">@Localization.GetText("Download")</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pie">
    <div class="documentSelected">
        <p class="typo">@Model.Count() @Localization.GetText("documents") <span class="ffamilyBold">@*(2 selected)*@</span></p>

    </div>
    <div class="botones">
        <a class="link right" title="@Localization.GetText("Cancel")" href="javascript:void(0)">@Localization.GetText("Cancel")</a>
        <label for="add_addDoc">
            <input type="hidden"data-route="@Url.Action("Edit", "Clause", new { area = "Clauses", operationId = ViewBag.OperationId, contractId = ViewBag.parentEntityId, clauseId = ViewBag.subParentEntityId, clauseIndividualId = ViewBag.entityRegisterId, mainOperationNumber = ViewBag.mainOperationNumber })" id="docAdded" />
            <input type="button" title="@Localization.GetText("Add")" class="btn-primary" value="@Localization.GetText("Add")" id="AddDoc" data-route="@Url.Action("CreateDocumentRelationshipWithIDBDocs", "Clause", new { area = "Clauses", busssinesAreaCode = "BA_CLAUSES" })">
            @*<input type="button" title="Add" class="btn-primary" value="Add" id="SearchButton" data-route="@Url.Action("IndexDocumentRelationship", "Clause", new { area = "Clauses", operationId=ViewBag.operationId , contractId=ViewBag.contractId, mainOperationNumber=ViewBag.mainOperationNumber})">*@
            @*<input type="button" value="Add" class="btn-primary" id="add_addDoc">*@
        </label>
    </div>
</div>
