
@model IDB.MW.Domain.Models.Architecture.Reports.PMRExtraModels.Risk.RisksReportModel
@{
    ViewBag.Title = "Create Risk Report";
}

<!-- CSS Files -->
<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/esmartGeneral.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/rs_ui_rt_001.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/RiskReportCustom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Modules/Reports/ReportsGenericCustom.css")" rel="stylesheet" />

<!-- JS Files -->

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/main.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/RisksReportScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Reports/CommonRuleReports.js")"></script>



<div class="verticalMargin20 w100">
    <h3 class="font2em AlingTitles">@Localization.GetText("Risk report")</h3>
</div>

<div class="relative h50px verticalMargin40">
    <h4 class="font1-5em absolute AlingTitles">@Localization.GetText("Operation risks report")</h4>
    <input type="button" class="absolute absRight button blueButton alingFilterButtonRigth buttonCustomSize" id='showFilterButtonReportsRS001' value=" @Localization.GetText("Filter")">
</div>

@using (Html.BeginForm("Create", "RisksReport", FormMethod.Post, new { @id = "FormRiskReport" }))
{
    @Html.HiddenFor(x => x.ESGTracking);
    @Html.HiddenFor(x => x.ExportType);
    <div id="searchBoxContainerReportsRS001" class="padding20 grayBackground font08em hideNI" style="display: block">

        <div class="centerContent w96 relative h50px box1">
            <div class="inline-block inputContainer w33 absolute">
                <div class="inline-block w96 verticalAlignMiddle">
                    <a id="LinkFilterCountryRisk" style="display:none" data-route="@Url.Action("FilterCountrys", "RisksReport")"></a>
                    <a id="LinkAllDivisionsRisk" style="display:none" data-route="@Url.Action("GetAllDivisions", "RisksReport")"></a>
                    <a id="LinkAllCountrysRisk" style="display:none" data-route="@Url.Action("GetAllCountry", "RisksReport")"></a>

                    <label class="labelCustomClause" for="CountryDepartment">@Localization.GetText("Country department")</label>
                    @Html.ListBoxFor(x => x.CountryDepartment, new MultiSelectList(ViewBag.ListCountryDepartment, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomRiskReport w100" })
                </div>
            </div>
            <div class="inline-block inputContainer w33 absolute left34">
                <div class="inline-block w96 verticalAlignMiddle">
                    <a id="LinkFilterDepartmentRisk" style="display:none" data-route="@Url.Action("FilterDivision", "RisksReport")"></a>
                    <label class="labelCustomClause" for="Department" style="width: 26em;">@Localization.GetText("Department")</label>
                    @Html.ListBoxFor(x => x.Department, new MultiSelectList(ViewBag.ListDepartment, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomRiskReport w100 ", @style = "width:23em;" })
                </div>
            </div>
            <div class="inline-block inputContainer w33 absolute absRight rightAlign">
                <div class="inline-block w96 verticalAlignMiddle">
                    <label class="labelCustomClause" for="RiskLeven" style="width: 23em;">@Localization.GetText("Risk level")</label>
                    @Html.ListBoxFor(x => x.RiskLeven, new MultiSelectList(ViewBag.ListRiskLeven, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomRiskReport w100", @style = "width:22em;" })
                </div>
            </div>
        </div>

        <div class="centerContent w96 relative h50px box2">
            <div class="inline-block inputContainer w33 absolute">
                <div class="inline-block w96 verticalAlignMiddle">
                    <label class="labelCustomClause" for="Country">@Localization.GetText("Country")</label>
                    @Html.ListBoxFor(x => x.Country, new MultiSelectList(ViewBag.ListCountrys, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomRiskReport w100" })
                </div>
            </div>
            <div class="inline-block inputContainer w33 absolute left34">
                <div class="inline-block w96 verticalAlignMiddle">
                    <label class="labelCustomClause" for="Division" style="width: 26em;">@Localization.GetText("Division")</label>
                    @Html.ListBoxFor(x => x.Division, new MultiSelectList(ViewBag.ListDivisions, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomRiskReport w100", @style = "width:23em;" })
                </div>
            </div>
            <div class="inline-block inputContainer w33 absolute absRight rightAlign">
                <div class="inline-block w96 verticalAlignMiddle">
                    <label class="labelCustomClause" for="RiskStatus" style="width: 23em;">@Localization.GetText("Status")</label>
                    @Html.ListBoxFor(x => x.RiskStatus, new MultiSelectList(ViewBag.ListRiskStatus, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomRiskReport w100", @style = "width:22em;" })
                </div>
            </div>
        </div>

        <div class="centerContent w96 relative h50px box3">
            <div class="inline-block inputContainer w33 absolute">
                <div class="inline-block w96 verticalAlignMiddle">
                    <label class="labelSelectNormalCustomClause" for="RiskType" style="width: 24em;">@Localization.GetText("Risk type")</label>
                    @Html.ListBoxFor(x => x.RiskType, new MultiSelectList(ViewBag.ListRiskType, "Value", "Text", ViewBag.Values), new { @class = "MultiSelectCustomRiskReport w100", @style = "width:24em;" })
                </div>
            </div>
            <div class="inline-block inputContainer w33 absolute left34">
                <div class="inline-block w96 verticalAlignMiddle">
                    <label class="labelSelectNormalCustomClause" for="PMRCycle" style="width: 24em;">@Localization.GetText("As of")</label>
                    @Html.ListBoxFor(x => x.PMRCycle, new SelectList(ViewBag.ListAsOf, "Value", "Text", ViewBag.Values), new { @class = "kendoDropDown w100 SelectCustomRiskReport", @style = "width:24em;" })
                </div>
            </div>
            <div class="inline-block inputContainer w33 absolute absRight">
                <div class="inline-block w96 verticalAlignMiddle rigthExtraCustom">
                    <label class="labelSelectNormalCustomClause" for="ESGClassification" style="width: 23em;">@Localization.GetText("ESG Classification value")</label>
                    @Html.ListBoxFor(x => x.ESGClassification, new SelectList(ViewBag.ListESGClassifictionValue, "Value", "Text", ViewBag.Values), new { @class = "kendoDropDown w100 SelectCustomRiskReport", @style = "width:23em;" })
                </div>
            </div>
        </div>

        <div class="centerContent w96 relative h50px box4">
            <div class="inline-block inputContainer w33 absolute">
                <div class="inline-block w96 verticalAlignMiddle">
                    <label class="labelCustomClause" for="ESGTrackingFilterReports" style="width: 25em;"> @Localization.GetText("ESG tracking")</label>
                    <select id="ESGTrackingFilterReports" class="w100 kendoDropDown SelectCustomRiskReport" style="width: 25em;">
                        <option value="true"> @Localization.GetText("Yes")</option>
                        <option value="false" selected> @Localization.GetText("No")</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="verticalMargin20 rightAlign w96 centerContent">
            <img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad" id="AjaxLoadForRiskReport" />
            <span class="alingImageRigth"><img src="@Url.Content("~/Images/Modulos/icons/AjaxLoad.gif")" class="imageCustomAjaxLoad AjaxExportRight" id="AjaxLoadForRiskReportExport" /></span>
            <input  id="Btn_Clear" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Clear All")">
            <input id="Btn_ExportExcelRiskReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export Excel")">
            <input id="Btn_ExportPDFRiskReport" type="button" class="button blueButton buttonCustomSize" value="@Localization.GetText("Export PDF")">
            <a id="LinkExportRiskReport" class="noShow" data-route="@Url.Action("ExportRiskReport", "RisksReport")"></a>
            <input type="submit" class="button blueButton buttonCustomSize yellowButton" value="@Localization.GetText("Submit")">
        </div>

    </div>
    <div style="padding-left:15px;">
        <iframe id="frameReportRisk" class="iframeReportsCustom"></iframe>
    </div>
}
