@using IDB.MW.Application.SGPModule.ViewModels.ProcurementDetail
@using IDB.MW.Infrastructure.BaseClasses
@using IDB.MW.Application.Core.ViewModels
@using IDB.Presentation.MVC4.Areas.SGP.Mappers


@model ProcurementDetailViewModel

@{
    var ineligibilityReasonList = Model.ViewContainer.GetValue<CustomEnumDictionary<MasterDataViewModel>>("IneligibilityReasonType").ConvertToSelectListItems();
    int? ineligibilityReasonTypeId = null;
    string reason = string.Empty;
    
    if (Model.Header.DeclareIneligibility != null)
    {
        ineligibilityReasonTypeId = Model.Header.DeclareIneligibility.IneligibilityReasonTypeId;
        reason = Model.Header.DeclareIneligibility.Reason;
    }
}

<div class="row">
    <div class="col-xs-12">
        @Confluence.Label(Localization.GetText("SGP.Label.SelectReasonInelgibility"))
    </div>
</div>

<div class="row mb30">
    <div class="col-xs-3" >
        @Confluence.InputDropDown(ineligibilityReasonTypeId.ToString(), "reasonTypeId-inegbility", ineligibilityReasonList, orderAsc: false, htmlClass: "listUp")
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @Confluence.Label(Localization.GetText("SGP.Label.Reason"))
    </div>
    <div class="col-xs-12">
        @Confluence.LabelCursive(Localization.GetText("SGP.Label.PleaseBeSuccintPoint"))
    </div>
    <div class="col-xs-12">
        @Confluence.InputTextArea(reason, "reasonText-inegibility", width: "100%", maxLength: 1000, height: "100px")
    </div>
</div>