<table id="disclosureDocumentTable" class="tableNormal">
    <thead class="first">
        <tr>
            <th colspan="7">@Localization.GetText("ESG.Primary.Team.Member")</th>
            <th colspan="1" class="w5"></th>
            <th colspan="2" class="perw5">@Localization.GetText("OP.DE.Table.TeamLEader")</th>
            <th colspan="1" class="">@Localization.GetText("SP.OperationBudget.ESG")</th>
        </tr>
    </thead>
    <thead class="last">
        <tr>
            <th class="sort">@Localization.GetText("OP.DTG.TemplateGen.DocumentType")</th>
            <th class="sort">@Localization.GetText("GLOBAL.Text.UploadDate")</th>
            <th class="sort perw5">@Localization.GetText("VMR.MM.MeetingRoom.TabComments.UserName")</th>
            <th class="sort">@Localization.GetText("OP.OD.TabResponsibilityData.OperationTeam.UserId")</th>
            <th class="sort">@Localization.GetText("ezShare")</th>
            <th class="sort">@Localization.GetText("OP.AP.DocumentName")</th>
            <th class="sort perw5">@Localization.GetText("ESG.DD.Text.ReadyToDisclosure")</th>
            <th class="w5"></th>
            <th class="sort perw5">@Localization.GetText("ESG.DD.Text.SentToDisclosure")</th>
            <th class="sort perw5">@Localization.GetText("cm-lc-publish-date")</th>
            <th class="">@Localization.GetText("COMMON.Comments")</th>
        </tr>
    </thead>
    <tbody ng-hide="DocumentESGDisclosure.IsDelete" ng-repeat="DocumentESGDisclosure in ESGDisclosureDocument.DocumentESGDisclosure">
        <tr class="text-center" data-id="{{ $index }}">
            <td>{{ DocumentESGDisclosure.DisclosureActivityName }}</td>
            <td>{{ DocumentESGDisclosure.UploadDate }}</td>
            <td>{{ DocumentESGDisclosure.UserName }}</td>
            <td>{{ DocumentESGDisclosure.UserId }}</td>
            <td>
                <a href="{{ DocumentESGDisclosure.URLDocument }}" target="_blank">
                    {{ DocumentESGDisclosure.EzShare }}
                </a>
            </td>
            <td>{{ DocumentESGDisclosure.DocumentName }}</td>
            <td>
                <div ng-show="DocumentESGDisclosure.IsReadyToDisclosure || DocumentESGDisclosure.IsReadyNotificated"
                        class="successStatusIcon"></div>
            </td>
            <td></td>
            <td>
                <div ng-show="DocumentESGDisclosure.IsSendToDisclosure || DocumentESGDisclosure.IsSendNotificated"
                        class="successStatusIcon"></div>
            </td>
            <td>{{ DocumentESGDisclosure.DisclosureDate }}</td>
            <td>
                <button ng-class="DocumentESGDisclosure.Comments.length ? 'commentIcon' : 'noCommentIcon'"
                        type="button" onclick="CollapseRowTable(this)"></button>
            </td>
        </tr>
        <tr data-row-parent-id="{{ $index }}">
            <td colspan="11">
                @if (ViewBag.IsEdit ?? false)
                {
                    <div class="inputComment linedown pt20" ng-repeat="Comment in DocumentESGDisclosure.Comments" ng-show="!Comment.IsDelete">
                        <div class="labels">
                            <label>
                                <div class="LabelsGroup">
                                    <span class="lgCont">
                                        <label class="labelNormal">{{ Comment.CreatedBy }}</label>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div class="LabelsGroup">
                                    <span class="lgCont">
                                        <label class="labelNormal">{{ Comment.Created | date:'dd MMM yyyy' }}</label>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <span class="lgCont">
                                    <button class="buttonTrash" type="button"
                                            ng-disabled="!Comment.CanEditOrDelete || !ESGDisclosureDocument.CanWriteComments"
                                            ng-click="DeleteComment($event, DocumentESGDisclosure, Comment.CommentId, $index)">
                                        <span class="icon"></span>
                                        <span>@Localization.GetText("Common.Delete")</span>
                                    </button>
                                </span>
                            </label>
                        </div>
                        <textarea ng-readonly="!Comment.CanEditOrDelete || !ESGDisclosureDocument.CanWriteComments"
                                  ng-model="Comment.Comment" class="inputTextarea">
                            {{ Comment.Comment }}
                        </textarea>
                    </div>
                    <div class="text-center pt20" ng-show="ESGDisclosureDocument.CanWriteComments">
                        <button class="addNewRow" ng-click="NewComment($parent.$index, $index)">
                            <span>+</span>
                            <span>@Localization.GetText("VMR.MM.MeetingRoom.TabComments.AddNewComment")</span>
                            <span>+</span>
                        </button>
                    </div>
                }
                else
                {
                    <div class="inputComment linedown pt20" ng-repeat="Comment in DocumentESGDisclosure.Comments">
                        <div class="labels">
                            <label>
                                <div class="LabelsGroup">
                                    <span class="lgCont">
                                        <label class="labelNormal">{{ Comment.CreatedBy }}</label>
                                    </span>
                                </div>
                            </label>
                            <label>
                                <div class="LabelsGroup">
                                    <span class="lgCont">
                                        <label class="labelNormal">{{ Comment.Created }}</label>
                                    </span>
                                </div>
                            </label>
                        </div>
                        <textarea readonly class="inputTextarea">{{ Comment.Comment }}</textarea>
                    </div>
                }
            </td>
        </tr>
    </tbody>
</table>