@using IDB.Presentation.MVC4.Helpers
@using System.Configuration

@{
    MvcHelpers.ViewBag = ViewBag;
}
<!DOCTYPE html>
<html>
<head>

    @*@if (!Globals.GetSetting("SecurityMode", string.Empty).Equals("Local"))
        {

            <!-- Walkme -->
            <script type="text/javascript">
                (
                    function () {
                        var walkme = document.createElement('script');
                        walkme.type = 'text/javascript';
                        walkme.async = true;
                        walkme.src = '@Globals.GetSetting("WalkMeKey")';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(walkme, s);
                        window._walkmeConfig = { smartLoad: true };
                    })();
            </script>
            <!-- performance tracking end -->
        }*@

    <title>IDB</title>
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    @Styles.Render("~/Content/Confluence")
    @Styles.Render("~/Content/MrBlueOverride")
    @Styles.Render("~/Content/Tooltipster")
    @{Html.RenderPartial("~/Views/Shared/TrackingHeader.cshtml");}
</head>
<body ng-app="disclosure">

    @Confluence.Loader(showPermanent: ViewBag.showLoader)
    <section class="container-fluid">
        <div id="header-section">
            @RenderSection("Header", required : false)
        </div>
    </section>
    <section class="container-fluid">
        @RenderBody()
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/TooltipsterScripts")

    @RenderSection("scripts", false)
    @Html.WriteScriptBlocks()


    <script type="text/javascript">
        ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
        BIDConfig.CreateValidatorOnEdit = true;
    </script>

    @if(!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <script type="text/javascript">
            registerCallback(function () {
                showMessage("@ViewBag.ErrorMessage", false);
            });
        </script>
    }
    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")

</body>
</html>
