@using IDB.Architecture.Language
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers
@using IDB.MW.Application.CountryStrategyModule.ViewModels.UseCountry

@model UCSStrategicObjectiveViewModel

@{
    var attributes = new Dictionary<string, string>();
    if (Model.UCSStrategicObjectiveId == 0)
    {
        attributes.Add("id", "new-");
    }
    else
    {
        attributes.Add("id", Model.UCSStrategicObjectiveId.ToString());
    }
}

<div class="component-container" data-component-id="@Model.UCSStrategicObjectiveId">
    <span data-orderNumber class="component-order-number numberModified">@Model.OrderNumber</span>
    @Confluence.InputText(Model.OrderNumber.ToString(), "Component-OrderNumber", htmlClass: "hide", dataAttributes: attributes)

    @(Html.CollapseSingle("collapseComponent")
        .HtmlClass("component-collapse collpseMlmodified")
        .AsociatedCollapseAllSelector("[data-name=collapseAllComponent]")
        .TargetRegionSelector(string.Format("#Component-{0}", Model.UCSStrategicObjectiveId)))

    <div class="component-container-data componentModified" data-section-objective>
        <div class="float-right">
            @Confluence.ButtonX("", "removeObjective")
        </div>
        <div class="lblcontent mb10">
            <label class="labelNormal">@Localization.GetText("CS.UseCountrySystem.StrategicObjective")</label>
        </div>
        <div data-section-outcome>
            <div id="Component-@Model.UCSStrategicObjectiveId" class="component-outcome-container">
                <div class="lblvalue pr30 mb10">
                    @Confluence.InputDropDown(Model.StrategicObjectiveTypeId.ToString(), "strtegicObjective", ViewBag.StrategicObjectiveList, orderAsc: false, width: "346px", dataAttributes: attributes)
                    @Confluence.InputText(Model.OperationId.ToString(), name: "operationId", required: false, dataAttributes: attributes, htmlClass: "hide")
                </div>
                @Html.Partial("EditPartial/UCSOutcomes", Model.ExpectedOutcomeIndicators)
                <div class="text-center mt35">
                    @Confluence.ButtonAddNewRows(Localization.GetText("CS.UseCountrySystem.NewOutcome"), tableid: "resultMatrixDataTable",
                name: "resultMatrixDataTable-newRow")
                </div>
            </div>
        </div>
    </div>
</div>