@using IDB.Presentation.MVC4.Areas.SupervisionPlan.Models
@model GlobalIdentityTestModel
@{
    Layout = "~/Areas/SupervisionPlan/Views/Shared/_Layout.cshtml";
}

@Confluence.LabelMainTitle("UserIdentityManager Test Methods")
<div>
    @Confluence.Label("SearchFullNameByUserName")
    <div class="ml10 mt10">
        <table class="tableNormal">
            <thead>
            <tr>
                <th>SearchFullNameByUserName</th>
            </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.SearchFullNameByUserName.FullName</td>
                    </tr>
            </tbody>
        </table>
    </div>

    @Confluence.Label("SearchFullUserNamesByUser")
    <div class="ml10 mt10">
        <table class="tableNormal">
            <thead>
                <tr>
                    <th>FullName</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SearchFullUserNamesByUser != null && Model.SearchFullUserNamesByUser.FullNames != null)
                {
                    foreach (var item in Model.SearchFullUserNamesByUser.FullNames)
                    {
                        <tr>
                            <td>@item</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @Confluence.Label("SearchUserbyAd")
    <div class="ml10 mt10">
        <table class="tableNormal">
            <thead>
                <tr>
                    <th>Ad_Group</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var adgroup in Model.SearchUserbyAd.User.AdGroups)
                {
                    <tr>
                        <td>@adgroup</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    @Confluence.Label("SearchUserByAdGroup")
     <div class="ml10 mt10">
                    <table class="tableNormal">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>LoginName</th>
                                <th>Name</th>
                                <th>OrganizationalUnit</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                               @foreach (var item in @Model.SearchUserByAdGroup.UserInfo)
                               {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.LoginName</td>
                                        <td>@item.Name</td>
                                        <td>@item.OrganizationalUnit</td>
                                        <td>@item.Role</td>
                                    </tr>
                                }
                        </tbody>
                    </table>
   </div>

   |@Confluence.Label("SearchUsersByNameOrFullName")
       <div class="ml10 mt10">
                    <table class="tableNormal">
                        <thead>
                            <tr>
                                <th>FullName</th>
                                <th>UserName</th>
                                <th>Role</th>
                                <th>OrgUnitCode</th>
                            </tr>
                        </thead>
                        <tbody>
                               @foreach (var user in Model.SearchUsersByNameOrFullName.Users)
                               {
                                <tr>
                                    <td>@user.FullName</td>
                                    <td>@user.UserName</td>
                                    <td>@user.Role</td>
                                    <td>@user.OrganizationalUnit</td>
                                </tr>
                               }
                        </tbody>
                    </table>
                </div>

    @Confluence.Label("SearchUsersByGroups")
    <div class="ml10 mt10">
        <table class="tableNormal">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var user in Model.SearchUsersByGroups.Users)
                    {
                        <tr>
                            <td>@user.Key</td>
                            <td>@user.Value</td>
                       </tr>
                    }*@
            </tbody>
        </table>
    </div>



    @Confluence.Label("SearchUsersByFullNameOrName")
    <div class="ml10 mt10">
        <table class="tableNormal">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>UserName</th>
                    <th>Role</th>
                    <th>OrgUnitCode</th>
                </tr>
            </thead>
            <tbody>
                        @*@foreach (var user in Model.SearchUsersByFullNameOrName.Users)
                        {
                            <tr>
                                <td>@user.FullName</td>
                                <td>@user.UserName</td>
                                <td>@user.Role</td>
                                <td>@user.OrganizationalUnit</td>
                            </tr>
                        }*@
            </tbody>
        </table>
    </div>

    @Confluence.Label("UsersByRole")
    <div class="ml10 mt10">
        <table class="tableNormal">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>UserName</th>
                    <th>Role</th>
                    <th>OrgUnitCode</th>
                </tr>
            </thead>
            <tbody>
                        @*@foreach (var user in Model.UsersByRole.Users)
                        {
                            <tr>
                                <td>@user.FullName</td>
                                <td>@user.UserName</td>
                                <td>@user.Role</td>
                                <td>@user.OrganizationalUnit</td>
                            </tr>
                        }*@
            </tbody>
        </table>
    </div>

    @Confluence.Label("SearchUser")
    <div class="ml10 mt10">
        <table class="tableNormal">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>FullName</th>
                    <th>OrgUnitCode</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in Model.SearchUser.Users)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.FullName</td>
                            <td>@item.OrganizationalUnit</td>
                            <td>@item.Role</td>
                        </tr>
                    }*@
            </tbody>
        </table>
    </div>

    
</div>
