<a name="botones"><h1 class="secciones">Sección de Botones</h1></a>
<div class="bloqueSeccion mb30">

    <a name="btnAzul">
        <h1>Boton Azul</h1>
        <h6>Confluence.ButtonBlue</h6>
    </a>
    @Confluence.ButtonBlue("Boton azul", action: "butonActive", dataAttributes: ViewBag.Dictionary)

    <a name="btnNaranjo">
        <h1>Boton Naranjo</h1>
        <h6>Confluence.ButtonOrange</h6>
    </a>
    @Confluence.ButtonOrange("Boton naranjo", action: "butonActive")

    <a name="btnBlanco">
        <h1>Boton Blanco</h1>
        <h6>Confluence.ButtonWhite</h6>
    </a>
        @Confluence.ButtonWhite("boton blanco", action: "butonActive")

        <a name="btnLink">
            <h1>Boton Link</h1>
            <h6>Confluence.ButtonLink</h6>
        </a>
        @Confluence.ButtonLink("Boton link", action: "butonActive")

    <a name="btnReload">
        <h1>Boton Reload</h1>
        <h6>Confluence.ButtonReload</h6>
    </a>
    @Confluence.ButtonReload("butonActive")

    <a name="btnColapsar">
        <h1>Boton Colapsar</h1>
        <h6>Confluence.ButtonColapseAll - Confluence.ButtonColapse - Confluence.ButtonCollapseContainer</h6>
    </a>

    @Confluence.ButtonColapseAll(new List<string> { "ContenidoColapsable", "ContenidoColapsable2", "ContenidoColapsable3", "ContenidoColapsable4"})

    <br />
    <br />

    @Confluence.ButtonColapse("ContenidoColapsable")
    <div id="ContenidoColapsable" class="ContenidoColapsableTest">
        Soy un contenido
    </div>
    <br />

    @Confluence.ButtonColapse("ContenidoColapsable2")
    <div id="ContenidoColapsable2" class="ContenidoColapsableTest">
        Soy un contenido
    </div>
    <br />

    <div>
        @Confluence.ButtonCollapseContainer("ContenidoColapsable3")
        @Confluence.Label("texto")
    </div>
    <div id="ContenidoColapsable3" class="ContenidoColapsableTest">
        Soy un contenido 
    </div>

    <br />
    @Confluence.ButtonCollapseContainer("ContenidoColapsable4")
    <div id="ContenidoColapsable4" class="ContenidoColapsableTest">
        Soy un contenido
    </div>

    <a name="btnEliminar">
        <h1>Boton Eliminar</h1>
        <h6>Confluence.ButtonTrash</h6>
    </a>
    @Confluence.ButtonTrash("Eliminar", action: "butonActive")
    @Confluence.ButtonTrash(null, action: "butonActive")

    <a name="BtnErase">
        <h1>Boton Erase</h1>
        <h6>Confluence.ButtonErase</h6>
    </a>
    @Confluence.ButtonErase("Borrar", action: "butonActive")
    @Confluence.ButtonErase(null, action: "butonActive")

    <a name="btnDownload">
        <h1>Boton Download</h1>
        <h6>Confluence.ButtonDownload</h6>
    </a>
    @Confluence.ButtonDownload("Descargar", action: "butonActive")
    @Confluence.ButtonDownload(null, action: "butonActive")
    
    <a name="btnDownloadAction">
        <h1>Boton Download Action</h1>
        <h6>Confluence.ButtonDownloadAction</h6>
    </a>
    @Confluence.ButtonDownloadAction("#", "Descargar")
    @Confluence.ButtonDownloadAction("#")

    <a name="btnUpload">
        <h1>Boton Upload</h1>
        <h6>Confluence.ButtonUpload</h6>
    </a>
    @Confluence.ButtonUpload("Subir", action: "butonActive")
    @Confluence.ButtonUpload(null, action: "butonActive")

    <a name="btnMove">
        <h1>Boton Move</h1>
        <h6>Confluence.ButtonMove</h6>
    </a>
    @Confluence.ButtonMove("Mover", action: "butonActive")
    @Confluence.ButtonMove(null, action: "butonActive")

    <a name="btnBack">
        <h1>Boton Back</h1>
        <h6>Confluence.ButtonBack</h6>
    </a>
    @Confluence.ButtonBack("Volver", action: "butonActive")
    @Confluence.ButtonBack(null, action: "butonActive")

    <a name="btnBack">
        <h1>Boton Flag</h1>
        <h6>Confluence.ButtonFlag</h6>
    </a>
    @Confluence.ButtonFlag("Volver", action: "butonActive")
    @Confluence.ButtonFlag(null, action: "butonActive")

    <a name="btnChange">
        <h1>Boton Change</h1>
        <h6>Confluence.ButtonChange</h6>
    </a>
    @Confluence.ButtonChange("Cambiar", action: "butonActive")
    @Confluence.ButtonChange(null, action: "butonActive")

    <a name="btnVersion">
        <h1>Boton Version</h1>
        <h6>Confluence.ButtonVersion</h6>
    </a>
    @Confluence.ButtonVersion("Cambiar", action: "butonActive")
    @Confluence.ButtonVersion(null, action: "butonActive")

    <a name="btnNewMessage">
        <h1>Boton New Message</h1>
        <h6>Confluence.ButtonNewMessage</h6>
    </a>
    @Confluence.ButtonNewMessage(null, action: "butonActive", tooltip: "nada")
    @Confluence.ButtonNewMessage("text", action: "butonActive", tooltip: "texto")


    <a name="btnNuevaFila">
        <h1>Boton Nueva Fila</h1>
        <h6>Confluence.ButtonAddNewRows</h6>
    </a>

    <!-- Tabla de ejemplo -->
    <table id="tablaAddRow" class="tableNormal">
        <thead>
            <tr>
                <th>test</th>
                <th>test</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
    @Confluence.ButtonAddNewRows("Agregar Fila", "tablaAddRow", action: "newRow")
<script type="text/javascript">
    function newRow(element) {
        var idTabla = "#" + $(element).attr('dd-table');
        $(idTabla).find('tbody').append('<tr><td>1</td><td>2</td></tr>');
    }
</script>


    <a name="btnNuevaFila">
        <h1>Boton Nueva Fila Alert</h1>
        <h6>Confluence.ButtonAddNewRowsAlert</h6>
    </a>

    <!-- Tabla de ejemplo -->
    <table id="tablaAddRowAlert" class="tableNormal">
        <thead>
            <tr>
                <th>test</th>
                <th>test</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
    @Confluence.ButtonAddNewRowsAlert("Agregar Fila", "tablaAddRowAlert", action: "newRow")

<a name="btnShowFila">
        <h1>Boton Mostrar Fila</h1>
        <h6>Confluence.ButtonShowRow</h6>
    </a>
    @Confluence.ButtonColapse("tablaShowRow", false)
    <!-- Tabla de ejemplo -->
    <table id="tablaShowRow" class="tableNormal">
        <thead>
            <tr>
                <th>test</th>
                <th>test</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="1">
                <td>Fila1</td>
                <td>@Confluence.ButtonShowRow()</td>
            </tr>
            <tr data-row-parent-id="1">
                <td>Texto1 1</td>
                <td>Texto1 2</td>
            </tr>
            <tr data-id="2">
                <td>Fila2</td>
                <td>@Confluence.ButtonShowRow()</td>
            </tr>
            <tr data-row-parent-id="2">
                <td>Texto2 1</td>
                <td>Texto2 2</td>
            </tr>
        </tbody>
    </table>


    <a name="btnExcel">
        <h1>Boton Excel</h1>
        <h6>Confluence.ButtonExcel</h6>
    </a>
    @Confluence.ButtonExcel(action: "butonActive")

    <a name="btnWord">
        <h1>Boton Word</h1>
        <h6>Confluence.ButtonWord</h6>
    </a>
    @Confluence.ButtonWord(action: "butonActive")

    <a name="btnPDF">
        <h1>Boton Pdf</h1>
        <h6>Confluence.ButtonPdf</h6>
    </a>
    @Confluence.ButtonPdf(action: "butonActive")

    <a name="btnVSD">
        <h1>Boton Visio</h1>
        <h6>Confluence.ButtonVisio</h6>
    </a>
    @Confluence.ButtonVisio(action: "butonActive")

    <a name="btnPUB">
        <h1>Boton Publisher</h1>
        <h6>Confluence.ButtonPublisher</h6>
    </a>
    @Confluence.ButtonPublisher(action: "butonActive")

    <a name="btnWPD">
        <h1>Boton WordPerfect</h1>
        <h6>Confluence.ButtonWordPerfect</h6>
    </a>
    @Confluence.ButtonWordPerfect(action: "butonActive")

    <a name="btnPST">
        <h1>Boton Outlook</h1>
        <h6>Confluence.ButtonOutlook</h6>
    </a>
    @Confluence.ButtonOutlook(action: "butonActive")

    <a name="btnPPT">
        <h1>Boton PowerPoint</h1>
        <h6>Confluence.ButtonPowerPoint</h6>
    </a>
    @Confluence.ButtonPowerPoint(action: "butonActive")

    <a name="btnPMPP">
        <h1>Boton Project</h1>
        <h6>Confluence.ButtonProject</h6>
    </a>
    @Confluence.ButtonProject(action: "butonActive")

    <a name="btnGroup">
        <h1>Botones Graph Values</h1>
        <h6>Confluence.ButtonGraphValues</h6>
    </a>
    @Confluence.ButtonGraphValues("graphButton", "valuesButton")

    <div data-id="graphButton" class="hide ContenidoColapsableTest">Graph</div>

    <div data-id="valuesButton" class="ContenidoColapsableTest">Values</div>

    <a name="btnmail">
        <h1>Boton Email</h1>
        <h6>Confluence.ButtonMail</h6>
    </a>
        @Confluence.ButtonMail("Mail", action: "butonActive")
        @Confluence.ButtonMail("", action: "butonActive")


    <a name="btnmaillabel">
        <h1>Boton Email Label</h1>
        <h6>Confluence.LabelMail</h6>
    </a>
        @Confluence.LabelMail("Mail", action: "butonActive")
        @Confluence.LabelMail("", action: "butonActive")

    
    <a name="btnmailsend">
        <h1>Boton Email Send</h1>
        <h6>Confluence.ButtonMailSend</h6>
    </a>
        @Confluence.ButtonMailSend("Mail", action: "butonActive")
        @Confluence.ButtonMailSend("", action: "butonActive")

    <a name="btnreturnlabel">
        <h1>Boton Return Label</h1>
        <h6>Confluence.ButtonLabelReturn</h6>
    </a>
    @Confluence.ButtonLabelReturn("Text", action: "butonActive", tooltip: "tooltip")
    @Confluence.ButtonLabelReturn("", action: "butonActive")
    
    <script type="text/javascript">
        function butonActive() {
            showMessage("Se activo el boton");
        }
    </script>
</div>