
<a name="icons"><h1 class="secciones">Sección de Iconos</h1></a>
<div class="bloqueSeccion mb30">
    <a name="icoast">
        <h1>Asterisco</h1>
        <h6>Confluence.LabelAsterisk</h6>
    </a>
    @Confluence.LabelAsterisk()
    <br />

    <a name="icoCheck">
        <h1>Check a imagen</h1>
        <h6>Confluence.LabelGetCheck</h6>
    </a>
    @Confluence.LabelGetCheck(false)
    @Confluence.LabelGetCheck(true)

    <a name="icoFlagBlack">
        <h1>Flag Black</h1>
        <h6>Confluence.FlagBlack</h6>
    </a>

    @Confluence.FlagBlack("Bandera")

    <a name="icoFlagGreen">
        <h1>Flag Green</h1>
        <h6>Confluence.FlagGreen</h6>
    </a>
    @Confluence.FlagGreen("Bandera")

    <a name="icoFlagYellow">
        <h1>Flag Yellow</h1>
        <h6>Confluence.FlagYellow</h6>
    </a>
    @Confluence.FlagYellow("Bandera")

    <a name="icoFlagMagenta">
        <h1>Flag Magenta</h1>
        <h6>Confluence.FlagMagenta</h6>
    </a>
    @Confluence.FlagMagenta("Bandera")

    <a name="icoFlagGray">
        <h1>Flag Gray</h1>
        <h6>Confluence.FlagGray</h6>
    </a>
    @Confluence.FlagGray("Bandera")

    <a name="icoFlagRed">
        <h1>Flag Red</h1>
        <h6>Confluence.FlagRed</h6>
    </a>
    @Confluence.FlagRed("Bandera")

    <a name="icoFlagVmr">
        <h1>Flag VMR</h1>
        <h6>Confluence.FlagVmr</h6>
    </a>
    @Confluence.FlagVmr("Bandera")

    <a name="icoFlagVer">
        <h1>Flag Ver</h1>
        <h6>Confluence.FlagVer</h6>
    </a>
    @Confluence.FlagVer("Bandera")

    <a name="icoCircleRed">
        <h1>Circle Red</h1>
        <h6>Confluence.CircleRed</h6>
    </a>
    @Confluence.CircleRed()

    <a name="icoCircleOrange">
        <h1>Circle Orange</h1>
        <h6>Confluence.CircleOrange</h6>
    </a>
    @Confluence.CircleOrange()

    <a name="icoCircleYellow">
        <h1>Circle Yellow</h1>
        <h6>Confluence.CircleYellow</h6>
    </a>
    @Confluence.CircleYellow()

    <a name="icoCircleGreen">
        <h1>Circle Green</h1>
        <h6>Confluence.CircleGreen</h6>
    </a>
    @Confluence.CircleGreen()

    <a name="icoIcoSuccess">
        <h1>IcoSuccess</h1>
        <h6>Confluence.IcoSuccess</h6>
    </a>
    @Confluence.IcoSuccess()

    <a name="icoIcoWarning">
        <h1>IcoWarning</h1>
        <h6>Confluence.IcoWarning</h6>
    </a>
    @Confluence.IcoWarning()

    <a name="icoIcoError">
        <h1>IcoError</h1>
        <h6>Confluence.IcoError</h6>
    </a>
    @Confluence.IcoError()

    <a name="icoIcoVer">
        <h1>Ico VER</h1>
        <h6>Confluence.IcoVer</h6>
    </a>
    @Confluence.IcoVer()

    <a name="icoIcoVmr">
        <h1>Ico VMR</h1>
        <h6>Confluence.IcoVmr</h6>
    </a>
    @Confluence.IcoVmr()
</div>