<a name="labels"><h1 class="secciones">Sección de Labels</h1></a>
<div class="bloqueSeccion">

    <a name="txtTitulo">
        <h1>Titulo Principal</h1>
        <h6>Confluence.LabelMainTitle</h6>
    </a>
    @Confluence.LabelMainTitle("Titulo Principal")

    <a name="txtGroup">
        <h1>Titulo de Grupo</h1>
        <h6>Confluence.LabelTitleGroup</h6>
    </a>
    @Confluence.LabelTitleGroup("titulo grupo")

    <a name="txtSubGroup">
        <h1>Titulo de Sub Grupo</h1>
        <h6>Confluence.LabelSubTitleGroup</h6>
    </a>
    @Confluence.LabelSubTitleGroup("titulo sub grupo")

    <a name="txtNormal">
        <h1>Texto Normal</h1>
        <h6>Confluence.Label</h6>
    </a>
    @Confluence.Label("texto normal")

    <a name="txtNormalBold">
        <h1>Texto Normal Negrita</h1>
        <h6>Confluence.LabelBold</h6>
    </a>
    @Confluence.LabelBold("texto normal en negrita")

    <a name="txtInt">
        <h1>Numero Normal</h1>
        <h6>Confluence.LabelInteger</h6>
    </a>
    @Confluence.LabelInteger(12)

    <a name="txtIntBold">
        <h1>Numero Normal Negrita</h1>
        <h6>Confluence.LabelInteger</h6>
    </a>
    @Confluence.LabelInteger(12, true)

    <a name="txtIntPer">
        <h1>Numero Porcentaje Normal</h1>
        <h6>Confluence.LabelIntegerPercent</h6>
    </a>
    @Confluence.LabelIntegerPercent(12)

    <a name="txtIntPerBold">
        <h1>Numero Porcentaje Negrita</h1>
        <h6>Confluence.LabelIntegerPercent</h6>
    </a>
    @Confluence.LabelIntegerPercent(12, true)

    <a name="txtMoney">
        <h1>Money Normal</h1>
        <h6>Confluence.LabelMoney</h6>
    </a>
    @Confluence.LabelMoney(12.2m)

    <a name="txtMoneyBold">
        <h1>Money Normal Negrita</h1>
        <h6>Confluence.LabelMoney</h6>
    </a>
    @Confluence.LabelMoney(12.2m, true)

    <a name="txtDecimal">
        <h1>Decimal Normal</h1>
        <h6>Confluence.LabelDecimal</h6>
    </a>
    @Confluence.LabelDecimal(12.2m)

    <a name="txtDecimalBold">
        <h1>Decimal Normal Negrita</h1>
        <h6>Confluence.LabelDecimal</h6>
    </a>
    @Confluence.LabelDecimal(12.2m, true)

    <a name="txtDecimalPer">
        <h1>Decimal Porcentaje Normal</h1>
        <h6>Confluence.LabelDecimalPercent</h6>
    </a>
    @Confluence.LabelDecimalPercent(12.2m)

    <a name="txtDecimalPerBold">
        <h1>Decimal Porcentaje Negrita</h1>
        <h6>Confluence.LabelDecimalPercent</h6>
    </a>
    @Confluence.LabelDecimalPercent(12.2m, true)

    <a name="txtBool">
        <h1>Boleano a Texto</h1>
        <h6>Confluence.LabelGetBool</h6>
    </a>
    @Confluence.LabelGetBool(true)

    <a name="txtBoolBold">
        <h1>Boleano a Texto Negrita</h1>
        <h6>Confluence.LabelGetBool</h6>
    </a>
    @Confluence.LabelGetBool(false, true)

    <a name="txtDate">
        <h1>Date a Texto</h1>
        <h6>Confluence.LabelGetDate</h6>
    </a>
    @Confluence.LabelGetDate(DateTime.Now)

    <a name="txtDateBold">
        <h1>Date a Texto Negrita</h1>
        <h6>Confluence.LabelGetDate</h6>
    </a>
    @Confluence.LabelGetDate(DateTime.Now, true)

    <a name="txtDropDown">
        <h1>Dropdown a Texto</h1>
        <h6>Confluence.LabelGetDropDown</h6>
    </a>
    @Confluence.LabelGetDropDown("2", ViewBag.ListItem)

    <a name="txtDropDownBold">
        <h1>Dropdown a Texto Negrita</h1>
        <h6>Confluence.LabelGetDropDown</h6>
    </a>
    @Confluence.LabelGetDropDown("3", ViewBag.ListItem, true)

    <a name="txtDropDownMulti">
        <h1>MultiDropdown a Texto</h1>
        <h6>Confluence.LabelGetMultiDropDown</h6>
    </a>
    @Confluence.LabelGetMultiDropDown("3", ViewBag.MultiListItem, true)

    <a name="txtDropDownMultiBold">
        <h1>MultiDropdown a Texto Negrita</h1>
        <h6>Confluence.LabelGetMultiDropDown</h6>
    </a>
    @Confluence.LabelGetMultiDropDown("3", ViewBag.MultiListItem, true)
    @if (ViewBag.Legacy)
    {

        <a name="txtGroupLabel">
            <h1>Grupo Label (modo edit disponible)</h1>
            <h6>Confluence.LabelsGroup</h6>
        </a>
        @Confluence.LabelsGroup("Titulo", "Texto", false)
        <br />
        @Confluence.LabelsGroup("Titulo", Confluence.Label("Texto"), false)
        <br />
        @Confluence.LabelsGroup("Titulo", "texto 1", Confluence.LabelBold("texto 2"))
        <br />
        @Confluence.LabelsGroup("Titulo", "texto 1", new List<HelperResult>
                                {
                                    Confluence.LabelBold("texto 21"),
                                    Confluence.LabelBold("texto 22")
                                })
        <br />
        @Confluence.LabelsGroup("Titulo", Confluence.LabelBold("texto 1"), Confluence.LabelBold("texto 2"))
        <br />
        @Confluence.LabelsGroup("Titulo", Confluence.LabelBold("texto 1"), new List<HelperResult>
                                {
                                    Confluence.LabelBold("texto 21"),
                                    Confluence.LabelBold("texto 22")
                                })
        <br />
        @Confluence.LabelsGroup("Titulo", new List<HelperResult>
                                {
                                    Confluence.LabelBold("texto 11"),
                                    Confluence.LabelBold("texto 12")
                                }, new List<HelperResult>
                                {
                                    Confluence.LabelBold("texto 21"),
                                    Confluence.LabelBold("texto 22")
                                })
    }

    <a name="txtLink">
        <h1>Label Link</h1>
        <h6>Confluence.LabelLink</h6>
    </a>
    @Confluence.LabelLink("Label Link", action: "butonActive")

    <a name="txtNavigation">
        <h1>Texto con navegacion</h1>
        <h6>Confluence.Navigation</h6>
    </a>
    @* Url.Action(controllerName: "InstitutionView", actionName: "Institution")  *@
    @Confluence.Navigation(Confluence.LabelMainTitle("title"), "data")
    <br />
    @Confluence.Navigation(Confluence.LabelMainTitle("title"), null, "data")
    <br />
    @Confluence.Navigation(Confluence.LabelMainTitle("title"), "data", "data")

    <a name="txtClose">
        <h1>Texto con boton de cerrar</h1>
        <h6>Confluence.LabelClose</h6>
    </a>

    @Confluence.LabelClose("text", action: "butonActive")
</div>