<a name="tablas"><h1 class="secciones">Sección de Tablas</h1></a>
<div class="bloqueSeccion mb30">
    <!-- Prueba de colapsar -->
    @Confluence.ButtonColapseAll(new List<string> { "tabla01", "tabla01PagContent", "tablaTreeAnidada", "tablaTreeAnidada2", "tablaTreeAnidadaNumero", "tablaTreeAnidadaNumero2", "tablaTreeAnidadaHidenHeader", "tablaTree", "tableTreeRowTitle" })

    <!-- #region Tabla Normal-->
    <a name="tbNormal">
        <h1>Tabla Normal</h1>
        <h6>Class: tableNormal</h6>
    </a>
    <table id="tabla01" class="tableNormal">
        <thead>
            <tr>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="">
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
            <tr data-id="">
                <td>cell 21</td>
                <td>cell 22</td>
                <td>cell 23</td>
            </tr>
            <tr data-id="">
                <td>cell 31</td>
                <td>cell 32</td>
                <td>cell 33</td>
            </tr>
            <tr data-id="">
                <td>cell 41</td>
                <td>cell 42</td>
                <td>cell 43</td>
            </tr>
            <tr data-id="">
                <td>cell 51</td>
                <td>cell 52</td>
                <td>cell 53</td>
            </tr>
            <tr data-id="">
                <td>cell 61</td>
                <td>cell 62</td>
                <td>cell 63</td>
            </tr>
        </tbody>
    </table>

    <div class="filterNormal explain">
        Para que muestre este formato las tablas tienen que tener la clase tableNormal y las tr el atributo de data-id
    </div>
    <!-- #endregion -->

    <!-- #region Paginación -->
    <a name="tbNormalPag">
        <h1>Tabla Normal Paginación</h1>
        <h6>pluging: $("#tabla01Pag").paginationConfluence(1)</h6>
    </a>
    <div id="tabla01PagContent">
        <table id="tabla01Pag" class="tableNormal">
            <thead>
                <tr>
                    <th>head 1</th>
                    <th>head 2</th>
                    <th>head 3</th>
                </tr>
            </thead>
            <tbody>
                <tr data-id="">
                    <td>cell 11</td>
                    <td>cell 12</td>
                    <td>cell 13</td>
                </tr>
                <tr data-id="">
                    <td>cell 21</td>
                    <td>cell 22</td>
                    <td>cell 23</td>
                </tr>
                <tr data-id="">
                    <td>cell 31</td>
                    <td>cell 32</td>
                    <td>cell 33</td>
                </tr>
                <tr data-id="">
                    <td>cell 41</td>
                    <td>cell 42</td>
                    <td>cell 43</td>
                </tr>
                <tr data-id="">
                    <td>cell 51</td>
                    <td>cell 52</td>
                    <td>cell 53</td>
                </tr>
                <tr data-id="">
                    <td>cell 61</td>
                    <td>cell 62</td>
                    <td>cell 63</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        $("#tabla01Pag").paginationConfluence(1);
    </script>

    <div class="filterNormal explain">
        Para utilizar la paginacion la funcion a llamar es la siguiente: $( selector de la tabla ).paginationConfluence( numero de filas, si se requiere pre cargar una pagina, ancho del páginador );
        <br />
        <br />

        Existe un metodo <span class="bold"> $(selector de tabla).objectSortableConfluence();</span> que devuelve un objeto con informacion de la tabla
        cuya estructura es:<br />
        <ul>
            <li>order: booleano donde true es Ascendete y false es Desendente </li>
            <li>column: númerico que indica la columna donde se encuentra ordenado</li>
            <li>pagination: número que si es mayor que 0 indica en la página donde esta el páginador</li>
        </ul>
    </div>
    <!-- #endregion -->

    <!-- #region Tabla Tree-->
    <a name="tbtree">
        <h1>Tabla Tree</h1>
        <h6>Construcción especial</h6>
    </a>
    <table id="tablaTree" class="tableNormal">
        <thead>
            <tr>
                <th class="tree icon">@Confluence.ButtonExpandTable()</th>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="">
                <td class="tree"><span></span><span class="selected"></span></td>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
            <tr data-id="">
                <td class="tree"><span></span><span class="selected"></span></td>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
            <tr data-id="">
                <td class="tree"><span></span><span class="selected"></span></td>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
        </tbody>
    </table>
    <!-- #endregion -->

    <!-- #region Tabla Tree Row Title-->
    <a name="tbtreeTitle">
        <h1>Tabla Tree Row Titulo</h1>
        <h6>Construcción especial</h6>
    </a>
    <table id="tableTreeRowTitle" class="tableNormal">
        <thead>
            <tr>
                <th class="tree icon">@Confluence.ButtonExpandTable()</th>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
            <tr data-id="">
                <td class="tree"><span></span><span class=""></span></td>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="">
                <td class="tree"><span></span><span class="selected"></span></td>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
            <tr data-id="">
                <td class="tree"><span></span><span class="selected"></span></td>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
        </tbody>
    </table>
    <!-- #endregion -->

    <!-- #region Tabla Tree Anidada-->
    <a name="tbtreeAn">
        <h1>Tabla Tree Anidada</h1>
        <h6>Construcción especial</h6>
    </a>
    <table id="tablaTreeAnidada" class="tableNormal">
        <thead>
            <tr>
                <th class="tree icon">@Confluence.ButtonExpandTable()</th>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="">
                <td class="tree"><span></span><span class="selected"></span></td>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
            <tr>
                <td class="tree"><span></span></td>
                <td colspan="3" class="subnivel">
                    <div>
                        <table class="tableNormal">
                            <thead>
                                <tr>
                                    <th class="tree"></th>
                                    <th>head 1</th>
                                    <th>head 2</th>
                                    <th>head 3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-id="">
                                    <td class="tree son"><span></span><span class="selected"></span></td>
                                    <td>cell 21</td>
                                    <td>cell 22</td>
                                    <td>cell 33</td>
                                </tr>
                                <tr data-id="">
                                    <td class="tree son"><span></span><span class="selected"></span></td>
                                    <td>cell 21</td>
                                    <td>cell 22</td>
                                    <td>cell 33</td>
                                </tr>
                                <tr data-id="">
                                    <td class="tree son"><span></span><span class="selected"></span></td>
                                    <td>cell 21</td>
                                    <td>cell 22</td>
                                    <td>cell 33</td>
                                </tr>
                                <tr data-id="">
                                    <td class="tree son"><span></span><span class="selected"></span></td>
                                    <td>cell 21</td>
                                    <td>cell 22</td>
                                    <td>cell 33</td>
                                </tr>
                                <tr data-id="">
                                    <td class="tree son"><span></span><span class="selected"></span></td>
                                    <td>cell 21</td>
                                    <td>cell 22</td>
                                    <td>cell 33</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- #endregion -->

    <!-- #region Tabla Tree Anidada Tabla Tree -->
    <a name="tbtreeAntree">
        <h1>Tabla Tree Anidada Tabla Tree</h1>
        <h6>Construcción especial</h6>
    </a>
    <table id="tablaTreeAnidada2" class="tableNormal">
        <thead>
            <tr>
                <th class="tree icon">@Confluence.ButtonExpandTable()</th>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="">
                <td class="tree"><span></span><span class="selected"></span></td>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
            <tr data-id="">
                <td class="tree"><span></span></td>
                <td colspan="3" class="subnivel">
                    <div>
                        <table class="tableNormal">
                            <thead>
                                <tr>
                                    <th class="tree icon">@Confluence.ButtonExpandTable()</th>
                                    <th>head 1</th>
                                    <th>head 2</th>
                                    <th>head 3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-id="">
                                    <td class="tree"><span></span><span class="selected"></span></td>
                                    <td>cell 21</td>
                                    <td>cell 22</td>
                                    <td>cell 33</td>
                                </tr>
                                <tr>
                                    <td class="tree"><span></span><span class="selected"></span></td>
                                    <td colspan="3" class="subnivel">
                                        <div>
                                            <table class="tableNormal">
                                                <thead>
                                                    <tr>
                                                        <th class="tree icon">@Confluence.ButtonExpandTable()</th>
                                                        <th>head 1</th>
                                                        <th>head 2</th>
                                                        <th>head 3</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-id="">
                                                        <td class="tree"><span></span><span class="selected"></span></td>
                                                        <td>cell 21</td>
                                                        <td>cell 22</td>
                                                        <td>cell 33</td>
                                                    </tr>
                                                    <tr data-row-parent-id="">
                                                        <td class="tree"><span></span><span class="selected"></span></td>
                                                        <td>cell 21</td>
                                                        <td>cell 22</td>
                                                        <td>cell 33</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr data-id="">
                <td class="tree"><span></span><span class="selected"></span></td>
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
                                                </tbody>
                                            </table>

    <div class="filterNormal explain">
        En el caso que tenga muchos niveles puede que no se visualizen bien las lineas en los finales de elementos, para este caso utilizar el siguiente pluging: <strong>$(selector de tabla).FixLastRowLine();</strong>

                                        </div>
    <!-- #endregion -->

    <!-- #region Tabla Expandible con numero -->
    <a name="tbexpandNum">
        <h1>Expandible con numero</h1>
        <h6>Construcción especial</h6>
    </a>
    <table id="tablaTreeAnidadaNumero" class="tableNormal">
        <thead>
            <tr>
                <th class="tree icon">@Confluence.ButtonExpandTable("1.")</th>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
    </table>
    <br />
    <br />

    <table id="tablaTreeAnidadaNumero2" class="tableNormal">
        <thead>
            <tr>
                <td class="treeNumber">1</td>
                <th class="tree icon">
                    @Confluence.ButtonExpandTable("")
                    <div class="number">1</div>
                </th>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
    </table>
    <!-- #endregion -->

    <!-- #region Expandible oculta cabecera -->
    <a name="tbexpandNumHide">
        <h1>Expandible que oculta cabecera</h1>
        <h6>Construcción especial</h6>
    </a>
    <table id="tablaTreeAnidadaHidenHeader" class="tableNormal">
        <thead>
            <tr>
                <th class="tree icon">@Confluence.ButtonExpandTable("", true)</th>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
    </table>
    <br />
    <!-- #endregion -->

    <!-- #region Tabla Sub Secciones con Boton -->
    <a name="tbSubSeccionButton">
        <h1>Tabla Sub Secciones Boton</h1>
        <h6>Construcción especial</h6>
    </a>
    <table class="tableNormal">
        <thead>
            <tr>
                <td class="treeNumber">1</td>
                <th class="tree icon">@Confluence.ButtonExpandTable()</th>
                <th>head 1</th>
                <th>head 2</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="0">
                <td class="treeNumber">1.1</td>
                <td class="noBackground tree icon">@Confluence.ButtonShowRowExpand(false)</td>
                <td>cell 11</td>
                <td>cell 12</td>
            </tr>
            <tr data-row-parent-id="0">
                <td class="treeNumber">1.1.1</td>
                <td class="tree"><span></span><span class="selected"></span></td>
                <td>cell</td>
                <td>cell</td>
            </tr>
        </tbody>
    </table>
    <!-- #endregion -->

    <!-- #region Sub Secciones -->
    <a name="tbSubSeccion">
        <h1>Tabla Sub Secciones</h1>
        <h6>Construcción especial</h6>
    </a>
    <table id="tabla01Sub" class="tableNormal">
        <thead>
            <tr>
                <th>head 1</th>
                <th>head 2</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="0">
                <td>cell 11</td>
                <td>cell 12</td>
                <td>@Confluence.ButtonShowRow()</td>
            </tr>
            <tr data-row-parent-id="0">
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
            </tr>
            <tr data-id="1">
                <td>cell 21</td>
                <td>cell 22</td>
                <td>@Confluence.ButtonShowRow()</td>
            </tr>
            <tr data-row-parent-id="1">
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
            </tr>
            <tr data-id="2">
                <td>cell 31</td>
                <td>cell 32</td>
                <td>@Confluence.ButtonShowRow()</td>
            </tr>
            <tr data-row-parent-id="2">
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
            </tr>
            <tr data-id="3">
                <td>cell 41</td>
                <td>cell 42</td>
                <td>@Confluence.ButtonShowRow()</td>
            </tr>
            <tr data-row-parent-id="3">
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
            </tr>
        </tbody>
    </table>
    <!-- #endregion -->

    <!-- #region Piel Gris -->
    <a name="tbgris">
        <h1>Piel Gris</h1>
        <h6>Class: skinGray</h6>
    </a>
    <table class="tableNormal skinGray">
        <thead>
            <tr>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
    </table>
    <br />
    <!-- #endregion -->

    <!-- #region Piel Ligth Blue -->
    <a name="tbLigthBlue">
        <h1>Piel Azul Claro</h1>
        <h6>Class: skinLigthBlue</h6>
    </a>
    <table class="tableNormal skinLigthBlue">
        <thead>
            <tr>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
    </table>
    <br />
    <!-- #endregion -->

    <!-- #region Tabla Ordenable -->
    <a name="tbSort">
        <h1>Tabla Ordenable</h1>
        <h6>Pluging: $("#tabla01sort").sortableConfluence()</h6>
    </a>
    <table id="tabla01sort" class="tableNormal">
        <thead>
            <tr>
                <th>head 1</th>
                <th class="sort">head 2</th>
                <th class="sort">head 3</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="">
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
            <tr data-id="">
                <td>cell 21</td>
                <td>cell 22</td>
                <td>cell 23</td>
            </tr>
            <tr data-id="">
                <td>cell 31</td>
                <td>cell 32</td>
                <td>cell 33</td>
            </tr>
            <tr data-id="">
                <td>cell 41</td>
                <td>cell 42</td>
                <td>cell 43</td>
            </tr>
            <tr data-id="">
                <td>cell 51</td>
                <td>cell 52</td>
                <td>cell 53</td>
            </tr>
            <tr data-id="">
                <td>cell 61</td>
                <td>cell 62</td>
                <td>cell 63</td>
            </tr>
        </tbody>
    </table>

    <script>
        $("#tabla01sort").sortableConfluence();
    </script>

    <div class="filterNormal explain">
        La cabecera a ordenar debe tener la clase <span class="bold">sort</span> y la funcion es
        <span class="bold"> $(selector de tabla).sortableConfluence();</span>,
        por defecto toma todo modo texto para ordenar por tipo de contenido hay que agregar el
        atributo a la cabecera: <span class="bold">order-type</span> y admite los siquientes atributos:
        <ul>
            <li>numeric</li>
            <li>text</li>
            <li>date</li>
        </ul>
        Para ordenarlo a la inversa, hay que darle el parametro de entrada como false, ya que por defecto es true (de menos a mayor)<br />
        Existe un llamado tipo callback que se ejecuta luego del ordenado cuya estructura y parametros que reciben son: 
        <span class="bold">function afterOrder(table, header)</span>
        <br />
        <br />

        Ahora adicionalmente soporta la siguiente sobre carga: <span class="bold"> $(selector de tabla).sortableConfluence(order, index);</span>,
        donde el parametro order es <span class="bold">booleano donde true es Ascendete y false es Desendente</span> y index que es 
        <span class="bold">númerico y va el index de la cabecera, iniciando desde 0</span>
        <br />
        <br />

        Existe un metodo <span class="bold"> $(selector de tabla).objectSortableConfluence();</span> que devuelve un objeto con informacion de la tabla
        cuya estructura es:<br />
        <ul>
            <li>order: booleano donde true es Ascendete y false es Desendente </li>
            <li>column: númerico que indica la columna donde se encuentra ordenado</li>
            <li>pagination: número que si es mayor que 0 indica en la página donde esta el páginador</li>
        </ul>

    </div>
    <br />
    <!-- #endregion -->

    <!-- #region Tabla Seleccionable -->
    <a name="tbSelect">
        <h1>Tabla Seleccionable</h1>
        <h6>Pluging: $("#tabla01select").selectableConfluence()</h6>
    </a>
    <table id="tabla01select" class="tableNormal">
        <thead>
            <tr>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="">
                <td>cell 11</td>
                <td>cell 12</td>
                <td>cell 13</td>
            </tr>
            <tr data-id="">
                <td>cell 21</td>
                <td>cell 22</td>
                <td>cell 23</td>
            </tr>
            <tr data-id="">
                <td>cell 31</td>
                <td>cell 32</td>
                <td>cell 33</td>
            </tr>
            <tr data-id="">
                <td>cell 41</td>
                <td>cell 42</td>
                <td>cell 43</td>
            </tr>
            <tr data-id="">
                <td>cell 51</td>
                <td>cell 52</td>
                <td>cell 53</td>
            </tr>
            <tr data-id="">
                <td>cell 61</td>
                <td>cell 62</td>
                <td>cell 63</td>
            </tr>
        </tbody>
    </table>

    <script>
        $("#tabla01select").selectableConfluence();
    </script>

    <div class="filterNormal explain">
        El pluging acepta un parametro booleano, que habilita multiples selecciones<br />
        ejemplo: <span class="bold">$("#tabla01select").selectableConfluence(true)</span><br />
        si se desea poner una celda no seleccionable con el evento del mouse (por ejemplo en una columna de botones) añadir al td de cada row
        la clase <span class="bold">not-selectabled</span><br />
        Ejemplo<br />
        &lt;tr&gt;<br />
        &lt;td&gt;&lt;/td&gt;<br />
        &lt;td&gt;&lt;/td&gt;<br />
        &lt;td class="not-selectabled"&gt;&lt;/td&gt;<br />
        &lt;/tr&gt;<br />
        Existe un llamado tipo callback que se ejecuta luego del seleccionado cuya estructura y parametros que reciben son: <span class="bold">function afterSelect(row, cell)</span>
    </div>
    <!-- #endregion -->
</div>