@using IDB.MW.Domain.Values
<div class="row" id="filterParticipant" data-parsley-validate="data-parsley-validate" data-parsley-excluded="[disabled]">
    <div class="col-md-12">
        <div id="lblParticipantsType" class="col-md-5">
            @Localization.GetText("VER.Homepage.TabParticipants.ParticipantsType")
        </div>
        <div id="lblSearchBy" class="col-md-7">
            @Localization.GetText("VER.Homepage.TabParticipants.SearchBy")
        </div>
        <div id="ddlParticpantType" class="col-md-5">
            <span data-pagemode="edit">
                @Confluence.InputDropDown("", "participantTypePartial", (List<SelectListItem>)ViewBag.ParticipantsTypeList, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlParticipantType" } }, width: "100%")
            </span>
        </div>
        <div class="col-md-4 w180 pr0">
            <span data-pagemode="edit">
                @Confluence.InputRadioButton(ModuleAccessLevelCode.ROLE, "accessType", isChecked: false, label: Localization.GetText("VER.Homepage.TabParticipants.Role"), id: "accessType")
            </span>
        </div>
        <div class="col-md-2 pr0">
            <span data-pagemode="edit">
                @Confluence.InputRadioButton(ModuleAccessLevelCode.USER, "accessType", isChecked: true, label: Localization.GetText("VER.Homepage.TabParticipants.User"), id: "accessType")
            </span>
        </div>
    </div>
    <div class="col-md-12 hide mt20" data-type="formAccess" data-parent="@ModuleAccessLevelCode.ROLE">
        <div class="col-md-5">
            @Localization.GetText("VER.Homepage.TabParticipants.Role")
        </div>
        <div id="divOrganizationUnit" class="col-md-4">
            @Localization.GetText("VER.Homepage.TabParticipants.OrganizationUnit")
        </div>
        <div id="divUsernameExternal" class="col-md-3 hide">
            @Localization.GetText("VER.Homepage.TabParticipants.Name")
        </div>
        <div id="divEmail" class="col-md-4 hide">
            @Localization.GetText("VER.Homepage.TabParticipants.Email")
        </div>
        <div class="col-md-5">
            <span data-pagemode="edit">
                @Confluence.InputDropDown(null, "rolePartial", (List<SelectListItem>)ViewBag.RoleList, width:"100%")
            </span>
        </div>
        <div class="col-md-4" id="divOrganizationUnitInput">
            <span data-pagemode="edit">
                @Confluence.InputDropDown(null, "organizationUnitPartial", (List<SelectListItem>)ViewBag.OrganizationUnit, required: false)
            </span>
        </div>
        <div class="col-md-3 hide" id="divUsernameExternalInput">
            <span data-pagemode="edit">
                @Confluence.InputText(string.Empty, "userNameExternal", required: false, placeholder: Localization.GetText("VER.Homepage.TabParticipants.NamePlace"), width: "100%", maxLength: 255)

            </span>
        </div>
        <div class="col-md-4 hide" id="divEmailInput">
            <span data-pagemode="edit">
                @Confluence.InputText(string.Empty, "emailExternal", required: false, dataType: "email", type: "email", placeholder: Localization.GetText("VER.Homepage.TabParticipants.EmailPlace"), width: "100%", maxLength: 255)
            </span>
        </div>
    </div>
    <div class="col-md-12 mt20" data-type="formAccess" data-parent="@ModuleAccessLevelCode.USER">
        <div class="col-md-5">
            @Localization.GetText("VER.Homepage.TabParticipants.User")
        </div>
        <div class="col-md-4">
            @Localization.GetText("VER.Homepage.TabParticipants.OrganizationUnit")
        </div>
        <div class="col-md-5">
            @Confluence.InputDropDownAsync(null, "userName", Url.Action("GetUsersList", "VirtualEditingRoom", new { area = "VER" }), required: true, width: "100%")
        </div>
        <div class="col-md-4" id="orgUnit">
        </div>
        @Confluence.InputHidden("", "orgUnitId")
    </div>
</div>
<script>
    $(document).ready(function () {
        resetFilter();
    }
        );
</script>