@using IDB.MVCControls.General.Helpers

@model Tuple<string, string, bool, bool>

@{
    var buttonSectionName = Model.Item1 + "-ButtonSection";
    var commentSectionName = Model.Item1 + "-TextSection";
    var hideTextSection = string.IsNullOrEmpty(Model.Item2) ? "hide" : string.Empty;
    var hideButtonSection = string.IsNullOrEmpty(Model.Item2) ? string.Empty : "hide";

    var disableTextSection = string.IsNullOrEmpty(Model.Item2) ? true : false;

}

<div class="row mb30">
    @if (Model.Item3)
    {
        <div class="col-md-12 mb10 @hideButtonSection" name="@buttonSectionName">
            @Confluence.ButtonAddComment(
            text: "",
            name: Model.Item1 + "-AddComment")
        </div>
    }
    <div class="col-md-12 @hideTextSection" name="@commentSectionName">
        <div>
            <div class="mb15 labelNormal bold">
                @Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.PortfolioAlignment.Comment")
            </div>
            <div class="lblvalue">
                @if (Model.Item3)
                {
                    @Confluence.InputTextArea(
                        value: Model.Item2,
                        name: Model.Item1 + "-CommentArea",
                        width: "100%",
                        height: "100px",
                        maxLength: 1000,
                        htmlClass:"bold",
                        required: Model.Item4,
                        disabled: disableTextSection,
                        dataAttributes: new Dictionary<string, string>() { { "parsley-required-message", Localization.GetText("CPD.CSProgressToDate.ProgressToDateTab.CommentRequired") } })
                }
                else
                {
                    <label class="labelNormal bold">@Model.Item2.HtmlEncode()</label>
                }
            </div>
        </div>
        @if (Model.Item3)
        {
            <div>
                @Confluence.ButtonTrash(
                text: string.Empty,
                name: Model.Item1 + "-DeleteComment")
            </div>
        }
    </div>
</div>