@using IDB.MW.Domain.Values.Ver
@model IDB.Presentation.MVC4.Models.Documents.OperationLevelDocumentViewModel

@Styles.Render("~/Content/overrides/vervmrOverride.css")
<style>
    .w200 {
        width: 200px !important;
    }
</style>

<script type="text/javascript" src=@Url.Content("~/Scripts/Modules/VER/MyDocuments.js")></script>


<script>
            $(document).ready(function() {

                loadPagination();
                enableSortable();

                $('ul.dropdown-menu[aria-labelledby="id-@VerSecurityValues.MY_DOCUMENT_PAGINATOR"]').click(function() {
                    loadPagination();
                });
            });

            function loadPagination() {
                $('#VirtualEditingRoomTable')
                    .paginationConfluense($("input[name='@VerSecurityValues.MY_DOCUMENT_PAGINATOR']").val());
            }

            function enableSortable() {
                $('#VirtualEditingRoomTable').sortableConfluense();
            }

            function VirtualEditingRoomClearAll() {
                $('#id-@VerSecurityValues.MY_DOCUMENT_TYPE_INSTANCE').FirstorDefault();
                $('#id-@VerSecurityValues.MY_DOCUMENT_COUNTRY').FirstorDefault();
                $('input[name=@VerSecurityValues.MY_DOCUMENT_SEARCH_TEXT]').val('');

                VirtualEditingRoomSearch();
            }

            function goToVer(source) {
                var url = $(source).attr("data-url");
                window.top.location.href = url;
            }

            function goToVerInFrame(source) {
                var url = $(source).attr("data-url");
                window.open(url, '_self');
            }

            function goToSHP(source) {
                var url = $(source).attr("data-url");
                window.open(url, '_blank');
            }

            function VirtualEditingRoomSearch() {

                var searchText = $('input[name=@VerSecurityValues.MY_DOCUMENT_SEARCH_TEXT]').val() === undefined ? "" : $('input[name=@VerSecurityValues.MY_DOCUMENT_SEARCH_TEXT]').val();
                var countryFilter = parseInt($('input[name="@VerSecurityValues.MY_DOCUMENT_COUNTRY"]').val()) ? parseInt($('input[name="@VerSecurityValues.MY_DOCUMENT_COUNTRY"]').val()) : 0;
                var filterType = parseInt($('input[name="@VerSecurityValues.MY_DOCUMENT_TYPE_INSTANCE"]').val()) ? parseInt($('input[name="@VerSecurityValues.MY_DOCUMENT_TYPE_INSTANCE"]').val()) : 0;
                var pageSize = parseInt($('input[name="@VerSecurityValues.MY_DOCUMENT_PAGINATOR"]').val());

                $.ajax({
                    type: "GET",
                    async: false,
                    cache: false,
                    url: "@Url.Action("VirtualEditingRoomDocumentSearch", "MyDocuments", new {Area = "VER", operationNumber = Model.OperationNumber })",
                    data: { searchText: searchText, country: countryFilter, filterType: filterType }
                }).done(function(data) {
                    var resultSearchPanel = $('#tableVirtualEditingRoom');
                    resultSearchPanel.html(data);
                    bindHandlers(resultSearchPanel);
                    $('#VirtualEditingRoomTable').paginationConfluense(pageSize);
                    enableSortable();
                });
            }
</script>

<section class="container-fluid">
    @Html.Partial("~/Areas/VER/Views/MyDocuments/Partials/VirtualEditingRoomFilter.cshtml", Model.MyDocumentsVer.VirtualEditingRoomFilter)

    @Html.Partial("~/Areas/VER/Views/MyDocuments/Partials/DataTables/VirtualEditingRoomTable.cshtml", Model.MyDocumentsVer.VerTable)
</section>