@using IDB.Architecture.Language;

@model IDB.MW.Application.PMR.Models.CreatePortfolioViewModel

<div id="gridPortfolio">
    <table id="tblPortfolio" class="tableNormal beginSpacing" data-idb-fieldname="tblPortfolio">
        <thead>
            <tr>
                <th class="text-center sort">@Localization.GetText("OP.CR.CreationForm.BD.Operation")</th>
                <th class="text-center sort">@Localization.GetText("OP.OD.TabBasicData.OperationType")</th>
                <th class="text-center sort">@Localization.GetText("AP.PMR.Portfolio.Guarantee")</th>
                <th class="text-center sort">@Localization.GetText("R6.Proposal.AnnualAllocation.Modality")</th>
                <th class="text-center">@Localization.GetText("AP.PMR.Portfolio.PCRActive")</th>
                <th class="text-center">@Localization.GetText("OP.OD.TabClassificationData.Classifications.PMR")</th>
                <th class="text-center">@Localization.GetText("AP.PMR.Portfolio.MarchClassificationRequired")</th>
                <th class="text-center">@Localization.GetText("AP.PMR.Portfolio.PMRRelated")</th>
                <th class="text-center sort">@Localization.GetText("AP.PMR.Portfolio.PMRRoleRelation")</th>
                <th class="text-center sort">@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.Title")</th>
                <th class="text-center">@Localization.GetText("AP.PMR.Portfolio.Exception")</th>
                <th class="text-center">@Localization.GetText("AP.PMR.Portfolio.Observation")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CreatePortfolioEntryViewModels)
            {
                <tr data-id="@item.CreatePortfolioEntryId" class="rowContent">
                    <td class="text-center">
                        @Confluence.Label(
                            text: item.OperationNumber,
                            dataAttributes: new Dictionary<string, string>
                            {
                                { "name", "operationNumber" }
                            })
                    </td>
                    <td class="text-center">
                        @Confluence.Label(text: item.OperationType)
                    </td>
                    <td class="text-center">
                        @Confluence.Label(text: item.GuaranteedBy)
                    </td>
                    <td class="text-center">
                        @Confluence.Label(text: item.Modality)
                    </td>
                    <td class="text-center">
                        @Confluence.InputCheckbox(
                                 isChecked: item.IsPCRActive,
                                 name: "pcrActive",
                                 disabled: true)
                    </td>
                    <td class="text-center">
                        @Confluence.InputCheckbox(
                                 isChecked: item.IsPMRRequired,
                                 name: "pmrRequired",
                                 disabled: true)
                    </td>
                    <td class="text-center">
                        @Confluence.InputCheckbox(
                                 isChecked: item.IsMarchClassificationRequired,
                                 name: "marchClassificationRequired",
                                 disabled: true)
                    </td>
                    <td class="text-center">
                        @Confluence.InputCheckbox(
                                 isChecked: item.IsPMRRelated,
                                 name: "pmrRelated",
                                 disabled: true)
                    </td>
                    <td class="text-center">
                        @Confluence.Label(
                            text: item.RolePMRRelation,
                            dataAttributes: new Dictionary<string, string>
                            {
                                { "name", "rolePmrRelation" },
                                { "role-code", item.RolePMRRelationCode }
                            })
                    </td>
                    <td class="text-center">
                        @Confluence.Label(
                            text: item.OperationsRelated,
                            dataAttributes: new Dictionary<string, string>
                            {
                                { "name", "operationsRelated" }
                            })
                    </td>
                    <td class="text-center">
                        @Confluence.InputCheckbox(
                                 isChecked: item.IsException,
                                 name: "isException",
                                 disabled: !Model.IsDraftPortfolio)
                    </td>
                    <td class="text-center">
                        @{
                            bool isGeneralCommentIcon = string.IsNullOrEmpty(item.Observations);

                            <button class='commentIcon @(isGeneralCommentIcon ? "hide" : string.Empty)'>
                                <span class="generalCommentsContainer hide">
                                    @item.Observations
                                </span>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>
