@model IDB.MW.Domain.Models.Architecture.EvaluationTracking.EvaluationTrackingModel
@{
    ViewBag.Title = "New";
}
@section CSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/modulos.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/general.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Modules/EvaluationTracking/EvaluationTracking.css?v=01")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Modules/EvaluationTracking/VerifyContent.css")" />
}
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/EvaluationTracking/VerifyContent/main.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/modal/modal.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/botonActivo/botonActivo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/EvaluationTracking/main.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/EvaluationTracking/tableFold.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Document/addDocument.js")"></script>

<div class="mod_contenido_central">
    <h3 class="headingh2 w40">@Localization.GetText("Evaluation Tracking")</h3>
    <div class="editingButtons">
        <a href="@(Url.Action("Index", "EvaluationTracking",
            new { area = "EvaluationTracking", operationNumber = Model.OperationNumber}))"
           title="@Localization.GetText("Cancel")" class="btn btn-1 btn-secondary">
            <span>@Localization.GetText("Cancel")</span>
        </a>
        <input data-route="@Url.Action("Create", "EvaluationTracking")"
               type="button" class="bSave btn btn-1 btn-primary_2" value="@Localization.GetText("Save") ">
    </div>

    <div class="operationData dataDetails">
        <div class="data4">
            <p class="dataTitle">@Localization.GetText("PMR Cycle")</p>
            <p>@Model.ResultsMatrix.PmrCycle.NameEn</p>
        </div>
        <div class="data4">
            <p class="dataTitle">@Localization.GetText("Last Update")</p>
            <p>@String.Format("{0:dd MMM yyyy}", Model.ResultsMatrix.LastUpdateDate)</p>
        </div>
        <div class="data4">
            <p class="dataTitle">@Localization.GetText("PMR Validation stage")</p>
            <p>@Html.DisplayFor(x => Model.ResultsMatrix.ValidationStage.NameEn)</p>
        </div>
        <div class="data4">
            <p class="dataTitle">@Localization.GetText("Chief of Operations validation date")</p>
            <p>@String.Format("{0:dd MMM yyyy}", Model.ResultsMatrix.COValidationDate)</p>
        </div>
        <div class="data4">
            <p class="dataTitle">@Localization.GetText("Division Chief validation date")</p>
            <p>@String.Format("{0:dd MMM yyyy}", Model.ResultsMatrix.DCValidationDate)</p>
        </div>
        <div class="data4">
            <p class="dataTitle">@Localization.GetText("Country representative validation date")</p>
            <p>@String.Format("{0:dd MMM yyyy}", Model.ResultsMatrix.CRValidationDate)</p>
        </div>
    </div>

    <div class="editingButtonsEdit marginBottom2">
        <table>
            <tr>
                <td class="verticalAlignMiddle">
                    <div class="btn btn-action-group activo">
                        <label class="btn btn-action-fondo" for="btn-actionid">
                            <span class="btn btn-action-punto">@Localization.GetText("Punto Blanco")</span>
                        </label>
                        <input type="button" class="btn btn-action"
                               value="@Localization.GetText("Collapse All")" id="btn-actionid">
                    </div>
                </td>
                <td class="verticalAlignMiddle showTxt">@Localization.GetText("Show")</td>
                <td class="verticalAlignMiddle">
                    <div class="editingButtons leftMargin10">
                        <a href="javascript:void(0);" id="lnkShowDisaggregation"
                           class="btn btn-secondary btnEvaluations btnModMargin"
                           title="@Localization.GetText("EvaluationTracking.ActiveEvaluations")">
                            @Localization.GetText("EvaluationTracking.ActiveEvaluations")
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    @using (Html.BeginForm("Create", "EvaluationTracking", FormMethod.Post,
        new { @id = "FormEvaluationTracking" }))
    {
        <div id="dContentBlocks" class="container">
            <div id="dCloneBlock0" class="hideNI displayBlock evaluation-tracking-block">
                <div class="mod_tabla_impacts table_outputs milestone">

                    <div class="minimizeTable">
                        <div class="minimizeBar">
                            <div class="tableOperator">Minimize/Maximize</div>
                        </div>
                        <div class="operatorBar"></div>
                        @Html.HiddenFor(model => Model.ResultsMatrixId)
                        <div class="font08em inline-block w90 verticalMargin10">
                            @Html.TextBoxFor(model => Model.Name,
                            new
                            {
                                @class = "ReadValueTitle grayBorder textBoxCustom borderTitle modelItemName",
                                @placeholder = "Name of Evaluation 1"
                            })
                        </div>

                        <div class="tableGrid">
                            <div class="font08em inline-block inputContainer w24">
                                <div class="inline-block w90 verticalMargin10 MethodologyWidth">
                                    <label for="EvaluationDem"
                                           class="inline-block verticalAlignMiddle noPadding labelCustom w110p">
                                        @Localization.GetText("EvaluationTracking.Metodology.DEM")
                                    </label>
                                    <br />
                                    @Html.DropDownList("MethodologyPerDiemId",
                                    new SelectList(ViewBag.itemAprrovedOrNA, "Value", "Text"),
                                    new
                                    {
                                        @class = "w100 kendoDropDown selectCustom MarginBox",
                                        id = "MethodologyDem",
                                        disabled = "disabled"
                                    })
                                </div>
                            </div>

                            <div class="font08em inline-block inputContainer w24">
                                <div class="inline-block w90 verticalMargin10 marginLeft60p MethodologyWidth">
                                    <label for="" class="inline-block verticalAlignMiddle noPadding labelCustom w110p">
                                        @Localization.GetText("EvaluationTracking.Metodology.Current")
                                    </label>
                                    <br />
                                    <a id="MethodologyCurrentFilter" class="aStyle"
                                       data-route="@Url.Action("FilterStage", "EvaluationTracking")"></a>
                                    @Html.DropDownListFor(model => model.MethodologyCurrentId,
                                        new SelectList(Model.GetMethodologyCurrent, "ConvergenceMasterDataId", "Name"),
                                        new
                                        {
                                            @class = "w100 kendoDropDown selectCustom MarginBox",
                                            @id = "MethodologyCurrent"
                                        })
                                </div>
                            </div>
                            <div class="font08em inline-block inputContainer w24 marginRight80">
                                <div class="inline-block w90 verticalMargin10 marginLeft120p">
                                    <label for="countrysearch"
                                           class="inline-block verticalAlignMiddle noPadding labelCustom">
                                        @Localization.GetText("Stage")
                                    </label>
                                    <br />
                                    @Html.DropDownListFor(model => model.StageId,
                                        new SelectList(Model.GetStage, "ConvergenceMasterDataId", "Name"),
                                        new
                                        {
                                            @class = "w100 kendoDropDown selectCustom TextBoxEvaluation MarginBox StageId",
                                            @id = "Stage"
                                        })
                                </div>
                            </div>

                            @if (ViewBag.CodeNotChangedReason != "ETMETHB2009")
                            {
                                <div class="font08em verticalMargin10 changedTxt displayBlock"
                                     id="dChangedMethodology">
                                    <label for="ChangedMethodology" class="inline-block verticalAlignMiddle noPadding">
                                        @Localization.GetText("EvaluationTracking.Metodology.Change")
                                    </label>
                                    <br />
                                    @Html.TextAreaFor(model => model.ExplainChangeReasons,
                                    new
                                    {
                                        rows = 3,
                                        cols = 250,
                                        style = "width: 80%; height: 60px;",
                                        @class = "MarginBox ExplainChangeReasons"
                                    })
                                </div>
                            }

                            <div class="inline-block w24">
                                <div class="font08em inline-block w90 verticalMargin10">
                                    <label for="DataReport"
                                           class="inline-block verticalAlignMiddle noPadding labelCustom w110p">
                                        @Localization.GetText("EvaluationTracking.Expected.Data")
                                    </label>
                                    <br />
                                    <div class="dateSelect datadetails">
                                        <div class="dateSelect">
                                            <label for="datepicker0">
                                                @Html.TextBoxFor(model => model.ExpectedDateFinalReport,
                                                    new Dictionary<string, Object> {
                                                    { "id", "datePicker0" },
                                                    { "class", "datepicker MarginBox" },
                                                    { "name", "datePicker0" },
                                                    { "placeholder", "DD MMM YYYY" } })
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="font08em inline-block w90 verticalMargin10">
                                    <label for="MainIntervention"
                                           class="inline-block verticalAlignMiddle noPadding labelCustom">
                                        @Localization.GetText("EvaluationTracking.MainTopicOfTheIntervention")
                                    </label>
                                    <br />
                                    @Html.DropDownListFor(model => model.TopicModel.MainTopicInterventionId,
                                        new SelectList(Model.GetMainTopicIntervention, "ConvergenceMasterDataId", "Name"),
                                        new
                                        {
                                            @id ="boxIntervention",
                                            @class = "w100 kendoDropDown selectCustom MarginBox"
                                        })
                                </div>
                            </div>
                            <div class="inline-block w24">
                                <div class="font08em inline-block w90 verticalMargin10">
                                    <label for="Responsible"
                                           class="inline-block verticalAlignMiddle noPadding labelCustom">
                                        @Localization.GetText("EvaluationTracking.Responsible")
                                    </label>
                                    <br />
                                    @Html.DropDownListFor(model => model.ResponsibleId,
                                        new SelectList(Model.GetResponsible, "ConvergenceMasterDataId", "Name"),
                                        new
                                        {
                                            @class = "w100 kendoDropDown selectCustom MarginBox ResponsibleId"
                                        })
                                </div>

                                <div class="font08em inline-block w90 verticalMargin10">
                                    <label for="TopicIntervention"
                                           class="inline-block verticalAlignMiddle noPadding labelCustom">
                                        @Localization.GetText("EvaluationTracking.OtherTopicOfTheIntervention")
                                    </label>
                                    <br />
                                    @Html.ListBoxFor(model => Model.TopicModel.SelectedTopicInterventionId,
                                        new MultiSelectList(Model.GetTopicIntervention, "ConvergenceMasterDataId", "Name"),
                                        new
                                        {
                                            @class = "w100 MultiSelectCustom MarginBox h100px"
                                        })
                                </div>
                            </div>
                            <div class="font08em inline-block w24">
                                <div class="inline-block w90 verticalMargin10 responsableInfoBlock hidden">
                                    <label for="InformationResponsible"
                                           class="inline-block verticalAlignMiddle noPadding labelCustom">
                                        @Localization.GetText("EvaluationTracking.InformationOnResponsible")
                                    </label>
                                    <br />
                                    @Html.TextBoxFor(model => model.ResponsibleInfo,
                                        new
                                        {
                                            @class = "TextBoxEvaluation MarginBox ResponsibleInfo",
                                            @disabled = true
                                        })
                                </div>
                                <div class="inline-block w90 verticalMargin10">
                                    <label for="MainTopicEvaluation"
                                           class="inline-block verticalAlignMiddle noPadding labelCustom">
                                        @Localization.GetText("EvaluationTracking.MainTopicOfTheEvaluation")
                                    </label>
                                    <br />
                                    @Html.DropDownListFor(model => model.TopicModel.MainTopicEvaluationId,
                                        new SelectList(Model.GetTopicEvaluation, "ConvergenceMasterDataId", "Name"),
                                        new
                                        {
                                            @id = "boxEvaluation",
                                            @class = "w100 kendoDropDown selectCustom MarginBox"
                                        })
                                </div>
                            </div>
                            <div class="inline-block w24 VerticalButton">
                                <div class="font08em inline-block w90 verticalMargin10">
                                    <label for="OtherEvaluation"
                                           class="inline-block verticalAlignMiddle noPadding labelCustom">
                                        @Localization.GetText("EvaluationTracking.OtherTopicsOfTheEvaluation")
                                    </label>
                                    <br />
                                    @Html.ListBoxFor(model => model.TopicModel.SelectedTopicEvaluationId,
                                        new MultiSelectList(Model.GetTopicEvaluation, "ConvergenceMasterDataId", "Name"),
                                        new
                                        {
                                            @class = "w100 MultiSelectCustom MarginBox h100px"
                                        })
                                </div>
                            </div>

                            <h4 class="headingh2 width75p">@Localization.GetText("EvaluationTracking.Funding")</h4>
                            <div class="font08em editingButtonsEditFunding marginRight2Con5">
                                <input type="button" id="AddFunding" class="btn btn-primary lineHeight2em"
                                       value="@Localization.GetText("EvaluationTracking.AddFunding") ">
                            </div>

                            <div class="font08em leftPadding10 hideNI displayBlock">
                                <div class="inline-block w24">
                                    <div class="inline-block w90 leftMargin30">
                                        <label for="SourceOfFunding"
                                               class="inline-block verticalAlignMiddle noPadding labelCustom">
                                            @Localization.GetText("EvaluationTracking.SourceOfFunding")
                                        </label>
                                    </div>
                                </div>
                                <div class="leftPadding10 inline-block w24">
                                    <div class="inline-block w90 leftMargin10">
                                        <label for="Amount"
                                               class="inline-block verticalAlignMiddle noPadding labelCustom">
                                            @Localization.GetText("EvaluationTracking.AmountInUSDThousands")
                                        </label>
                                    </div>
                                </div>
                                <div class="inline-block w24">
                                    <div class="inline-block w90 leftMargin10">
                                        <label for="Code"
                                               class="inline-block verticalAlignMiddle noPadding labelCustom">
                                            @Localization.GetText("Code")
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div id="dvAllFundings" class="allFundings">
                                <div id="dvFunding" class="AlignTitles font08em hideNI displayNone displayBlock aStyle">
                                    <div class="inline-block w24">
                                        <div class="inline-block w90 leftMargin10">
                                            @Html.DropDownListFor(model => model.FundingModel.SourceId,
                                            new SelectList(Model.GetSourceOfFunding, "ConvergenceMasterDataId", "Name"),
                                            new
                                            {
                                                @class = "w100 kendoDropDown selectCustom MarginBox"
                                            })
                                        </div>
                                    </div>
                                    <div class="inline-block w24">
                                        <div class="inline-block w90 leftMargin10">
                                            @Html.TextBoxFor(model => model.FundingModel.Amount,
                                            new
                                            {
                                                @class = "TextBoxEvaluation MarginBox currencyCharacthers"
                                            })
                                        </div>
                                    </div>
                                    <div class="inline-block w24">
                                        <div class="inline-block w90 leftMargin10">
                                            @Html.TextBoxFor(model => model.FundingModel.Code,
                                            new
                                            {
                                                @class = "TextBoxEvaluation MarginBox"
                                            })
                                        </div>
                                    </div>
                                    <div class="inline-block w8 iconDeleteCreate">
                                        <input type="button" class="operationButton removeIcon deleteFunding"
                                               id="DeleteFunding" />
                                    </div>
                                </div>
                            </div>
                            <div class="AlignTitles font08em hideNI displayBlock">
                                <div class="inline-block inputContainer w24">
                                    <div class="inline-block w90 leftMargin10">
                                        <label for="TotalAmount"
                                               class="inline-block verticalAlignMiddle noPadding labelCustom">
                                            @Localization.GetText("EvaluationTracking.TotalAmountInUSD")
                                        </label>
                                        <br />
                                        @Html.TextBoxFor(model => model.TotalAmount,
                                        new
                                        {
                                            @class = "TextBoxEvaluation MarginBox currencyCharacthers"
                                        })
                                    </div>
                                </div>
                            </div>
                            <h4 class="headingh2">@Localization.GetText("Comments")</h4>
                            <div class="AlignTitles font08em hideNI displayBlock">
                                <div class="inline-block">
                                    <div class="inline-block verticalMargin10">
                                        @Html.TextAreaFor(model => model.Comment,
                                        new
                                        {
                                            rows = "5",
                                            cols = "350",
                                            style = "width: 80%; height: 150px;"
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="operationData"></div>
            </div>
        </div>
    }
    <div class="mod_style">
        <div class="k-toolbar">
            <a href="javascript:void(0)" id="bNewEvaluation" class="k-button newIndicator">
                <span class="k-button-">@Localization.GetText("New Evaluation")</span>
            </a>
        </div>
    </div>
    <div class="editingButtons">
        <a href="@(Url.Action("Index", "EvaluationTracking",
            new { area = "EvaluationTracking", operationNumber = Model.OperationNumber}))"
           title="@Localization.GetText("Cancel")" class="btn btn-1 btn-secondary">
            <span>@Localization.GetText("Cancel")</span>
        </a>
        <input data-route="@Url.Action("Create", "EvaluationTracking")"
               type="button" class="bSave btn btn-1 btn-primary_2" value="@Localization.GetText("Save") ">
    </div>
</div>
<script type="text/javascript">
    var ErrorsMessages = {};
    ErrorsMessages.NameError = "@Localization.GetText("Introduce the name of the evaluation")";
    ErrorsMessages.CancelJustificationError = "@Localization.GetText(
        "Introduce the justification for the change of the methodology")";
    ErrorsMessages.DateError = "@Localization.GetText("Introduce the date of the final evaluation")";
    ErrorsMessages.ResponsibleError = "@Localization.GetText(
        "Introduce the information on responsible for the evaluation")";
    ErrorsMessages.InterventionError = "@Localization.GetText("ET.Intervention.Validation.Error")";
    ErrorsMessages.EvaluationError = "@Localization.GetText("ET.Evaluation.Validation.Error")";
    ErrorsMessages.CancelError = "@Localization.GetText(
        "Introduce the justification for the cancellation of the evaluation")";
    ErrorsMessages.MetodologyCurrentError = "@Localization.GetText(
        "ET.MetodologyCurrent.Validation.Error")";
    ErrorsMessages.StageError = "@Localization.GetText("ET.Evaluation.Stage.Validation.Error")";

    var cancelledName = "@Localization.GetText("Cancelled")";
    var projectTeam = "@Localization.GetText("EvaluationTracking.Project.Team")";
    var fundingLoan = "@Localization.GetText("EvaluationTracking.Loan")";
    var fundingTC = "@Localization.GetText("EvaluationTracking.TC")";
    var fundingESW = "@Localization.GetText("EvaluationTracking.ESW")";

    $('select[name=StageId]').find('option').each(function () {
        if ($(this).text() == cancelledName) $(this).remove();
    });
</script>