@{
    Layout = "~/Views/Shared/_ClearLayout.cshtml";

}

@section CSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/modulos.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/general.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Modules/EvaluationTracking/EvaluationTracking.css?v=01")" />
}

@{string result = Request["documentId"];}

@if (result == null)
{
    <h3>
        There was an error trying to upload the document to IDBDOCS.<br>
        Please contact Convergence Help Desk.
    </h3>
    <br>
    <button title="@Localization.GetText("Close")" onclick="window.parent.callAddDocument();"
            class="btn btn-secondary floatRight">
        @Localization.GetText("Close") 
    </button>
}
else
{
    <script type="text/ecmascript">
        window.parent.callAddDocument();
    </script>
}
<br><br>
