@{
    ViewBag.Title = "Edit";
}
@section CSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
    <link rel="stylesheet" type="text/css"
          href="@Url.Content("~/Content/Modules/EvaluationTracking/EvaluationTracking.css?v=01")" />
}

<div class="mod_contenido_central">
    <h3 class="headingh2 w40">@Localization.GetText("Evaluation Tracking")</h3>
    <div class="editingButtons">
        <a href="@(Url.Action("Index", "EvaluationTracking",
          new { area = "EvaluationTracking", operationNumber = IDBContext.Current.Operation }))"
           title="@Localization.GetText("Cancel")" class="btn btn-1 btn-secondary">
            <span>@Localization.GetText("Cancel")</span>
        </a>
    </div>
    <div class="mod_style">
        <div class="k-toolbar">
            <a href="@(Url.Action("CreateNewEvaluation", "EvaluationTracking",
           new { area = "EvaluationTracking", operationNumber = IDBContext.Current.Operation }))"
               title="@Localization.GetText("New Evaluation")"
               class="k-button newIndicator">
                <span class="k-button-">
                    @Localization.GetText("New Evaluation")
                </span>
            </a>
        </div>
    </div>
</div>


