@using IDB.MW.Application.Core.ViewModels
@using IDB.Presentation.MVC4.Helpers
@model IList<ListItemViewModel>

@{ var disabled = ViewBag.DelegationAdminPermission != true;}
<div class="col-md-12 filterNormal">
    <div class="col-md-12">
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.DE.RE.UserType"),
                Confluence.InputDropDown(null, "TypeUser", new List<SelectListItem>(), width: "80%"),
                false)
        </div>
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.DE.RE.SearchUser"),
                Confluence.InputDropDownAsync(ViewBag.UserName, "User", Url.Action("SearchUser", "DelegationView", new { area = "AdministrationSecondPhase" }),textSelected:ViewBag.FullName, width: "80%",disabled:disabled),
                false)
        </div>
    </div>

    <div class="col-md-12 mt30">
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.MS.GenerationTOR.From"),
                         Confluence.InputDatePicker(null, "StartDateSearch", width: "80%"),
                false)
        </div>
        <div class="col-md-4">
            @Confluence.LabelsGroup(Localization.GetText("OP.NOT.Notification.To"),
                Confluence.InputDatePicker(null, "EndDateSearch", width: "80%"),
                false)
            
        </div>
        <div class="col-md-4" style="padding: 20px">
            @Confluence.InputCheckbox(false, "InactiveRegister",label:Localization.GetText("OP.DE.Inactive"))
        </div>
    </div>

    <div class="col-md-12">
        <div class="pull-right mr30">
            @Confluence.ButtonBlue(Localization.GetText("OP.DE.ClearAll"), action: "clear")
            @Confluence.ButtonBlue(Localization.GetText("OP.DE.Filter"), action: "filterMain")
        </div>
    </div>
</div>

<div class="col-md-12 mb30 mt30">
    <div class="pull-left">
        @Confluence.InputDropDown("5", "ddlDelegationTablePagination", Model != null ? Html.BuildSelectItemList(Model, m => m.Text, m => m.Value) : new List<SelectListItem>(), placeholder: null, showEmptyOption: false, orderAsc: false, required: false, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlPagination" } })
    </div>
    <div class="pull-right">
        @Confluence.ButtonExcel("xls", "downloadReport", false, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "btnXls" } }, clase: "floatRight")
    </div>
    <div class="pull-right mr10">
        @Confluence.ButtonBlue(Localization.GetText("OP.DE.RE.NewDelegation"), dataNavigation: Url.Action(controllerName: "DelegationView", actionName: "Delegation"))
    </div>
    <div class="pull-right  mr10">
        @Confluence.ButtonBlue(Localization.GetText("Delegation.Button.AuthorizeAll"), dataNavigation: Url.Action(controllerName: "DelegationView", actionName: "AuthorizeAll"))
    </div>    
</div>