@model IDB.Presentation.MVC4.Areas.TCM.Models.VerifyContentViewModel

<div>
    @if (Model.Verifications.Any())
    {
        <table class="tableNormal" id="verifyContentTable">
            <thead>
            <tr>
                <th>@Localization.GetText("TCM.VerifyContent.TableHeader.Verification")</th>
                <th class="w40">@Localization.GetText("TCM.VerifyContent.TableHeader.Compliance")</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var verificationItem in Model.Verifications)
            {
                <tr data-id>
                    <td>@verificationItem.Description</td>
                    <td class="text-center">
                        @switch (verificationItem.Compliance)
                        {
                            case IDB.MW.Domain.Models.Architecture.Enumerations.VerifyContentCodes.SuccesStatus:
                                @Confluence.IcoSuccess()
                                break;
                            case IDB.MW.Domain.Models.Architecture.Enumerations.VerifyContentCodes.WarningStatus:
                                @Confluence.IcoWarning()
                                break;
                            case IDB.MW.Domain.Models.Architecture.Enumerations.VerifyContentCodes.ErrorStatus:
                                @Confluence.IcoError()
                                break;
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <table class="tableNormal mt10">
            <tr>
                <td class="nopadding w50">
                    @Confluence.IcoSuccess()
                </td>
                <td class="nopadding">
                    <div>@Localization.GetText("TCM.VerifyContent.Status.Success")</div>
                </td>
            </tr>
            <tr>
                <td class="nopadding w50">
                    @Confluence.IcoWarning()
                </td>
                <td class="nopadding">
                    <div>@Localization.GetText("TCM.VerifyContent.Status.Warning")</div>
                </td>
            </tr>
            <tr>
                <td class="nopadding w50">
                    @Confluence.IcoError()
                </td>
                <td class="nopadding">
                    <div>@Localization.GetText("TCM.VerifyContent.Status.Critical")</div>
                </td>
            </tr>
        </table>
    }
    else
    {
        <div align="center">
            <h4>@Localization.GetText("TCM.VerifyContent.NoContents")</h4>
        </div>
    }
</div>