
@model IDB.Presentation.MVC4.Models.OutcomeIndicator.CustomDeleteOutcomeIndicatorModel
@{
    ViewBag.Title = "Delete Outcome Indicator";
}

<script>

    $(document).ready(function () {

        $("#btnSaveDeleteIndicator").click(function (e) {
            e.preventDefault();
            if ($("#hdnIntervalId").val() == 3 || ($("#AccessedByAdministrator").val() == "True" && $("#IsThirdInterval").val() == "True")) {
                hideDefaulDeleteIndicatorWarningContent();
            } else {
                updateRMIndicatorRelationsToSAClassifications();
                $("#outcomeIndicatorDeleteForm").submit();
                removeModalContent();
            }
        });

        $("#lnkCancelDeleteIndicator").click(function (e) {
            e.preventDefault();
            removeModalContent();
        });

        $("#btnSaveDeleteIndicatorThirdInterval").click(function (e) {
            e.preventDefault();
            idbg.lockUiRM(null, true);
            $("#outcomeIndicatorDeleteForm").submit();
            removeModalContent();
        });

        $("#lnkCancelDeleteIndicatorThirdInterval").click(function (e) {
            e.preventDefault();
            removeModalContent();
        });

    });

    function hideDefaulDeleteIndicatorWarningContent() {
        // Hide default controls
        $("#lnkCancelDeleteIndicator").hide();
        $("#btnSaveDeleteIndicator").hide();
        $("#defaultDeleteWarningContainer").hide();

        // Show third interval comtrols
        $("#thirdIntervalDeleteWarningContainer").show();
        $("#lnkCancelDeleteIndicatorThirdInterval").show();
        $("#btnSaveDeleteIndicatorThirdInterval").show();
    }

    function removeModalContent() {
        $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
        $(".ui-widget-overlay").remove();
        $(".k-window").remove();
    }

</script>

@using (Html.BeginForm("Delete", "OutcomeIndicator", FormMethod.Post, new { id = "outcomeIndicatorDeleteForm" }))
{
    <div class="contentImpacts">
        @Html.HiddenFor(di => di.AccessedByAdministrator)
        @Html.HiddenFor(di => di.IsThirdInterval)
        @Html.HiddenFor(di => di.ResultsMatrixId)
        @Html.HiddenFor(di => di.ImpactId)
        @Html.HiddenFor(di => di.IntervalId)

        <div id="thirdIntervalDeleteWarningContainer" style="display: none">
            @if (ViewData["thirdIntervalDeleteIndicatorMessage"] != null)
            {
                @ViewData["thirdIntervalDeleteIndicatorMessage"]
            }
        </div>
        @if (Model.IsValidated && !Model.AccessedByAdministrator)
        {
            <div class="dataText">
                @Localization.GetText("RM.OutcomeIndicator.Message.ImpactValidated")
            </div>
        }
        else
        {
            <div class="dataContent1" style="margin-bottom: 1.5em;">
                <p class="dataTitle">@Localization.GetText("RM.Outcome.Indicator.Name")</p>
                <p class="dataText">@Model.IndicatorName</p>
            </div>
            <div id="defaultDeleteWarningContainer" class="dataText">
                @ViewData["defaulDeleteIndicatorMessage"]
            </div>
            <P class="text-center alert alert-warning mt1em mb0 font15">
                @Localization.GetText("TCM.DOI.DeleteOutcomeIndicator.TextDeleteWarning")
            </P>
        }
    </div>
    <div class="pie pieReassign">
        <div class="botones">
            <a title="@Localization.GetText("Cancel")" class="cancel" id="lnkCancelDeleteIndicator"
               href="javascript:void(0)"> @Localization.GetText("Cancel")</a>
            <a title="@Localization.GetText("Cancel")" class="cancel" id="lnkCancelDeleteIndicatorThirdInterval"
               style="display: none" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>

            @if (!Model.IsValidated || Model.AccessedByAdministrator)
            {
                <label for="delete">
                    <input type="button" value="@Localization.GetText("Delete")"
                           class="btn btn-warning" id="btnSaveDeleteIndicator">
                </label>
            }

            <label for="delete">
                <input type="button" value="@Localization.GetText("Save")" class="btn btn-warning"
                       style="display:none" id="btnSaveDeleteIndicatorThirdInterval">
            </label>
        </div>
    </div>
}
