
@model IDB.Presentation.MVC4.Models.OutcomeIndicator.CustomReassignOutcomeIndicatorModel
@{
    ViewBag.Title = "Reassign Outcome Indicator";
}

<script>
   $(document).ready(function () {

      $("#btnSaveReassignIndicator").click(function (e) {
          e.preventDefault();
          // Update OutcomeId
          var optionSelected = $("#slctImmpacts").find("option:selected").val();
          $("#indicatorReassignForm > #ImpactId").attr("value", optionSelected);
          if (($("#hdnIntervalId").val() == 3) || ($("#AccessedByAdministrator").val() == "True" && $("#IsThirdInterval").val() == "True")) {
             hideDefaulDeleteIndicatorWarningContent();
         } else {
             // Update OutcomeId
             $("#indicatorReassignForm").submit();
         }
      });

      $("#btnSaveReassignIndicatorThirdInterval").click(function (e) {
          e.preventDefault();
          // Update OutcomeId
          var optionSelected = $("#slctImmpacts").find("option:selected").val();
          $("#indicatorReassignForm > #ImpactId").attr("value", optionSelected);

          // Update OutcomeId
          $("#indicatorReassignForm").submit();

         removeModalContent();
      });

      $("#lnkCancelReassignIndicator").click(function (e) {
         e.preventDefault();
         removeModalContent();
      });

      $("#lnkCancelReassignIndicatorThirdInterval").click(function (e) {
         e.preventDefault();
         removeModalContent();
      });

   });

   function hideDefaulDeleteIndicatorWarningContent() {

      // Hide default controls
      $("#lnkCancelReassignIndicator").hide();
      $("#btnSaveReassignIndicator").hide();
      $("#defaultReassignIndicatorContainer").hide();

      // Show third interval comtrols
      $("#thirdIntervalReassignIndicatorContainer").show();
      $("#lnkCancelReassignIndicatorThirdInterval").show();
      $("#btnSaveReassignIndicatorThirdInterval").show();
      
   }

   function removeModalContent() {
      $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
      $(".ui-widget-overlay").remove();
      $(".k-window").remove();
   }

   function setSelectedImpactId(select)
   {
       var x = $("#ImpactId").val();
       var y =  $(select).find("option:selected").val();
   }

</script>



@using (Html.BeginForm("ReassignIndicator", "OutcomeIndicator", FormMethod.Post, new { id = "indicatorReassignForm" }))
{
    @Html.HiddenFor(ri => ri.AccessedByAdministrator)
    @Html.HiddenFor(ri => ri.Definition)
    @Html.HiddenFor(ri => ri.ImpactId)
    @Html.HiddenFor(ri => ri.IntervalId)
    @Html.HiddenFor(ri => ri.IsThirdInterval)
    @Html.HiddenFor(ri => ri.OutcomeIndicatorId)
    @Html.HiddenFor(ri => ri.Outcomes)
    @Html.HiddenFor(ri => ri.ResultsMatrixId)
    @Html.HiddenFor(ri => ri.Statement)
    
   <div class="contentImpacts">

      <div id="defaultReassignIndicatorContainer">
         <div class="dataContent1">
            <fieldset>
               <legend class="dataTitle">@Localization.GetText("Outcome statement")</legend>
               <p class="dataText">@Model.Statement</p>
            </fieldset>
         </div>
         <div class="dataContent1">
            <fieldset>
               <legend class="dataTitle">@Localization.GetText("Indicator name")</legend>
               <p class="dataText">@Model.Definition</p>
            </fieldset>
         </div>
         <div class="dataContent1">
            <p class="dataTitle">@Localization.GetText("Reassign indicator to Outcome")</p>  
             @if (Model.Outcomes.Count() > 0)
             {
                <ul class="optionList">
                  <li class="small">
                     @{ int count = 0; }
                    <select class="optionSelect" id="slctImmpacts" name="Departament" data-role="dropdownlist" onchange="setSelectedImpactId(this);" style="width: 100%">

                        @foreach (var impact in Model.Outcomes)
                        {
                            if (count == 0)
                            {
                            <option value="@impact.OutcomeId" selected="selected">@impact.Statement</option>
                            }
                            else
                            {
                            <option value="@impact.OutcomeId">@impact.Statement</option>
                            }
                            count++;
                        }
                    </select>
                  </li>
               </ul>
             }else{
                <p class="dataText"> @Localization.GetText("There is not another outcome to reassign the indicator")</p>
             }
         </div>
      </div>

      <div id="thirdIntervalReassignIndicatorContainer" style="display: none">
          @Localization.GetText("TCM.RCMW.RegisterChangesMany.TextMessage")
      </div>

   </div>

   <div class="pie pieReassign">
      <div class="botones">
         <a title="@Localization.GetText("Cancel")" id="lnkCancelReassignIndicator" class="cancel" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>
         @if (Model.Outcomes.Count() > 0)
         {
            <label for="save2">
               <input id="btnSaveReassignIndicator" type="button" value=" @Localization.GetText("Save")" class="btn-primary">
            </label>
         }
         <a title="@Localization.GetText("Cancel")" id="lnkCancelReassignIndicatorThirdInterval" style="display: none" class="cancel" href="javascript:void(0)"> @Localization.GetText("Cancel")</a>

         <label for="save2">
            <input id="btnSaveReassignIndicatorThirdInterval" style="display: none" type="button" value=" @Localization.GetText("Save")" class="btn-primary">
         </label>
      </div>
   </div>
}