@model IDB.MW.Infrastructure.ApplicationBase.Messages.SingleModelResponse<IDB.MW.Application.AdministrationModule.ViewModels.UserAccess.UserAccessViewModel>

@{
    Layout = "~/Areas/AdministrationSecondPhase/Views/Shared/_Layout.cshtml";
}

@section CSS {
    @Styles.Render("~/Content/Modules/AdministrationSecondPhase/UserAccess/main.css")
}

@Scripts.Render("~/Scripts/Modules/AdministrationSecondPhase/UserAccess/main.js")

@{
    var dictionaryTabs = new Dictionary<string, string>()
        {
            {"tabGeneralInfo", Localization.GetText("UA.Message.GeneralInfo")},
            {"tabInfoByOperation", Localization.GetText("UA.Message.InfoByOperation")}
        };
}

<div class="col-md-12 mb40">
    @Confluence.LabelMainTitle(Localization.GetText("UA.Message.UserAccessInformation"))
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 mb20">
            @Confluence.LabelTitleGroup(Localization.GetText(Model.Model.UserName))
        </div>
        @Confluence.Tabs(dictionaryTabs)
    </div>
    <div class="tab-content">
        <div class="row tab-pane mb80 active" id="tabGeneralInfo">
            <div class="col-md-3">
                @Confluence.LabelBold(Localization.GetText("Workspace.Filter.Roles"))
                <ul class="mt20 itemsList">
                    @foreach (var item in Model.Model.Roles) {
                        <li>@item</li>
                    }
                </ul>
            </div>
            <div class="col-md-3 h-100">
                @Confluence.LabelBold(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.Permissions"))
                <ul class="mt20 itemsList">
                    @foreach (var item in Model.Model.Permissions)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="tabInfoByOperation">
            <div class="row">
                <div class="col-md-12">
                    @Confluence.LabelSubTitleGroup(Localization.GetText("UA.Message.SearchCurrent"), htmlClass: "mb20")
                </div>
                <div class="col-md-12">
                    @Confluence.InputText(null, "operation", htmlClass: "mr5")
                    @Confluence.ButtonSearch(null, "search", "searchRolesAndPermissions", dataAttributes: new Dictionary<string, string> {
                   { "url", Url.Action(actionName: "SearchRolesAndPermissions") }})
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="display:none" id="searchResultContainer">
                    <div class="row">
                        <div class="col-md-12 mt30 mb20" id="operationNumber">
                            @Confluence.LabelBold(Localization.GetText("UA.Message.ResultsForOperation"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Confluence.LabelBold(Localization.GetText("Workspace.Filter.Roles"))
                                <ul class="mt20 itemsList" id="rolesResult"></ul>
                            </div>
                            <div class="col-md-3">
                                @Confluence.LabelBold(Localization.GetText("OP.RP.CreateNewAndModifyRolePermission.Permissions"))
                                <ul class="mt20 itemsList" id="permissionsResult"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>