@using System.Web.Mvc
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General
@using IDB.Architecture.Language

<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"cancel-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-cancel-participant",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "okCancelParticipants",
                            closeAtEnd: true))
    <div data-name="cancel-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.CommonCancel")
    </div>
</div>
<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"remove-bidder-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-row-bidder-remove",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "removeRowBidderTrash",
                            closeAtEnd: true))
    <div data-name="remove-bidder-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.ConsortiumDeleted")
    </div>
</div>
<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"remove-participant-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-row-participant-remove",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "removeRowParticipantTrash",
                            closeAtEnd: true))
    <div data-name="remove-participant-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.AllDataDeleted")
    </div>
</div>
<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"check-consortium-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-row-check-consortium",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-cancel",
                            text: Localization.GetText("Common.Cancel"),
                            type: CssClass.ButtonLink,
                            callback: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "removeRowParticipantsBidderFromCheckbox",
                            closeAtEnd: true))
    <div data-name="check-consortium-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.ParticipantDeleted")
    </div>
</div>
<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"awarded-validation-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-awarded-validation",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "",
                            closeAtEnd: true))
    <div data-name="awarded-validation-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.FirmsCanonlyOneAwardedBidder")
    </div>
</div>
<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"awarded-validation-detail-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-awarded-validation-detail",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "",
                            closeAtEnd: true))
    <div data-name="awarded-validation-detail-modal" class="hide modalBody">
        <div class="row mb15">
            <div class="col-xs-12">
                @Localization.GetText("SGP.Message.AllDetailsEntered")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Localization.GetText("SGP.Message.ParticipantDetailsEntered")
            </div>
        </div>
    </div>
</div>
<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"details-complete-validation-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-details-complete-validation",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "",
                            closeAtEnd: true))
    <div data-name="details-complete-validation-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.DetailsCompleteValidation")
    </div>
</div>
<div class="hide">
    @Display.AddModalButton(new ModalViewModel(contentSelector: "[data-name=\"check-unique-awarded-modal\"]",
                title: Localization.GetText("Common.Warning"),
                type: CssClass.ModalWarningNoIcon,
                moveOriginalContent: true,
                name: "btn-open-popup-check-unique-awarded",
                closeOnOverlay: false,
                allowClose: true,
                actionOnClose: "")
                .AddButton(name: "btn-cancel-ok",
                            text: Localization.GetText("Common.Ok"),
                            type: CssClass.Button05,
                            callback: "",
                            closeAtEnd: true))
    <div data-name="check-unique-awarded-modal" class="hide modalBody">
        @Localization.GetText("SGP.Message.FirmsCanonlyOneAwardedBidder")
    </div>
</div>