@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using System.Globalization
@using IDB.MW.Infrastructure.Configuration
@using IDB.MVCControls.DataTable.Models
@using IDB.MW.Domain.Values
@model IDB.Presentation.MVC4.Areas.CPD.Models.CPDTableRelationHeaderModel

@{
    var formatDate = ConfigurationServiceFactory.Current.GetApplicationSettings().FormatDate;
    var operTypeCode = ViewData.ContainsKey("OperTypeCode") ?
        (string)ViewData["OperTypeCode"] : string.Empty;
}
<tr data-id="@Model.ModelRelatedOperation.RowId">
    <td class="tree"><span></span><span class="selected"></span></td>
    <td>@GetLinkNumberOperation(Model.ModelRelatedOperation.Number)</td>
    <td>@Confluence.Label(Model.ModelRelatedOperation.Name)</td>
    <td class="center">@Confluence.Label(Model.ModelRelatedOperation.OperationTypeCode)</td>
    <td hidden="hidden">@Confluence.Label(Model.ModelRelatedOperation.RelationshipNumber)</td>
    <td hidden="hidden">@Confluence.Label(Model.ModelRelatedOperation.RelationshipType)</td>
    <td>@Confluence.Label(Model.ModelRelatedOperation.Modality)</td>
    <td>@Confluence.Label(Model.ModelRelatedOperation.RelationshipRole)</td>
    <td>@Confluence.Label(Model.ModelRelatedOperation.OverallStage)</td>
    <td class="text-right">@Confluence.LabelDecimal(Model.ModelRelatedOperation.TotalAmount)</td>
    <td class="text-right">@Confluence.LabelDecimal(Model.ModelRelatedOperation.TotalCPDAmount)</td>
    <td class="text-center">
        @GetRelatedExpandedButton(
                     "relationsTable", Model.ModelRelatedOperation.RowId, "removeRelatedOperation", operTypeCode)
    </td>
    <td hidden="hidden">
        <div class="showDataEdit">
            @Confluence.ListHelpers(new List<HelperResult>()
            {
                Confluence.InputText(Model.ModelRelatedOperation.IsNew ? "0" : Model.ModelRelatedOperation.RowId.ToString(), "relatedOperationId"),
                 Confluence.InputText(Model.ModelRelatedOperation.OperationRelationshipId.ToString(), "relatedOperationRelationshipId", dataAttributes: new Dictionary<string,string> {{"persist-id", Model.ModelRelation.RelationshipId.ToString()},{"persist-code", "a"},{"persist-dynamic","id"}}),
                Confluence.InputText(Model.ModelRelatedOperation.OperationRelatedId.ToString(), "OperationRelatedId", dataAttributes: new Dictionary<string,string> {{"persist-id", Model.ModelRelation.RelationshipId.ToString()},{"persist-code", "a"},{"persist-dynamic","id"}}),
                Confluence.InputText(Model.ModelRelatedOperation.RelationshipRoleId.ToString(), "relatedRelationRoleId",dataAttributes: new Dictionary<string,string> {{"persist-id", Model.ModelRelation.RelationshipId.ToString()},{"persist-code", "a"},{"persist-dynamic","id"}}),
                Confluence.InputText(Model.ModelRelatedOperation.RelationshipTypeId.ToString(), "relatedRelationTypeId", dataAttributes: new Dictionary<string,string> {{"persist-id", Model.ModelRelation.RelationshipId.ToString()},{"persist-code", "a"},{"persist-dynamic","id"}}),
                Confluence.InputText(
                    Model.ModelRelatedOperation.RelationShipRoleThisOperationId.ToString(),"RelationShipRoleThisOperationId"),
                Confluence.InputDatePicker(
                    Convert.ToDateTime(Model.ModelRelatedOperation.StartDate), "relatedStartDate", formatDate),
                Confluence.InputText(
                    Model.ModelRelatedOperation.EndDate == DateTime.MinValue ? string.Empty : Model.ModelRelatedOperation.EndDate.ToString(),
                    "relatedEndDate",
                    required: false),
                Confluence.InputText(Model.ModelRelatedOperation.UserCommentId.ToString(), "relatedUserCommentId"),
                Confluence.InputText(Model.ModelRelatedOperation.OperationTypeCode, "operationTypeCode", required: false, dataAttributes: new Dictionary<string,string> {{"persist-id", Model.ModelRelation.RelationshipId.ToString()},{"persist-code", "a"},{"persist-dynamic","id"}}),
                Confluence.InputText(Model.ModelRelatedOperation.RelationTypeCode, "relationTypeCode", required: false)
            })
        </div>
    </td>
</tr>
@OperationDataBasicRowComment(@Model.ModelRelatedOperation)
@helper GetLinkNumberOperation(string numberOperation)
{
    string url = string.Empty;

    if (numberOperation.Substring(0, 2).Equals("DF"))
    {
        url = Globals.GetSetting("BasePath") + OPUSGlobalValues.DraftAddress + numberOperation;
    }
    else
    {
        url = Globals.GetSetting("BasePath") + "/Operation/" + numberOperation;
    }

    <a href=@url target="_parent" style="text-decoration: underline">@numberOperation</a>
}
@helper GetRelatedExpandedButton(string tableName, int rowId, string dataAction, string operType)
{
    @Confluence.ButtonShowRow(
        dataAttributes: new Dictionary<string, string>()
        {
            {
                "idb-fieldname", "btnShowRowRltdOpCpd"
            }
        })
}
@helper OperationDataBasicRowComment(
    IDB.MW.Application.OPUSModule.ViewModels.Common.RelatedOperationRowViewModel row)
{
    <tr data-persist="true" data-row-parent-id="@row.RowId" data-id="@row.RowId" data-second-file="true">
        <td class="tree"><span></span></td>
        <td colspan="9">
            <div class="row row-header">
                <div class="col-md-12">
                    <p>@Localization.GetText("OP.OD.TabBasicData.RelatedOperations.Comments").HtmlEncode()</p>
                </div>
            </div>
            <div class="row row-body-40">
                <div class="col-md-12">
                    @Confluence.InputTextArea(
                            row.Comments,
                            "relatedComments",
                            required: false,
                            width: "100%",
                            dataAttributes: new Dictionary<string, string>() {
                                {
                                    "idb-fieldname", "txaRltdCommentsCpd"
                                },
                                {"persist-id", Model.ModelRelation.RelationshipId.ToString()}
                                ,{"persist-code", "a"}
                                ,{"persist-dynamic","id"}})
                    <br />
                    @Confluence.ButtonTrash(null, null, "deleteComentOperationRelated",
                            dataAttributes: new Dictionary<string, string>() {
                                {
                                    "idb-fieldname", "btnRemoveRltdCommCpd"
                                } })
                </div>
            </div>
        </td>
    </tr>
}