@using System.Globalization
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.MVCControls.DataTable.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Models.Modal
@using IDB.Presentation.MVC4.General
@using IDB.MW.Application.CPDModule.ViewModels.ProductProfile

@model  BasicDataViewModel

@{
    var appSetting = ConfigurationServiceFactory.Current.GetApplicationSettings();
    var formatDate = appSetting.FormatDate;
}

@Confluence.InputHidden(ViewBag.SerializedModel, name: "hideViewModel")

<input type="hidden" id="isOperationClosed" name="isOperationClosed" value="@Model.IsOperationClosed.ToString()" disabled="disabled" required="false" />

@if (!Model.IsOperationClosed)
{
    <div class="grouping-section">
        <div class="col-md-6">
            <label class="lbltitle">@Localization.GetText("CS.ProductData.GeneralInformation")</label>
        </div>
    </div>
    <div class="grouping-section">
        <div class="col-md-2 lineGrayRight">
            <div data-idb-fieldname="ddlProductType">
                <div class="col-md-12 lblcontent">
                    @Localization.GetText("CS.ProductData.ProductType")
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.ProductType)
                </div>
            </div>
            <div data-idb-fieldname="ddlOperationYear">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("CS.ProductData.ProductYear"))
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.InputDropDown(
                 Model.ProductYear.ToString(),
                 "productYear",
                 ViewBag.Years)
                </div>
            </div>
            <div data-idb-fieldname="ddlCountry">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("CS.ProductData.Country"))
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.Country)
                </div>
            </div>
            <div data-idb-fieldname="ddlCountryDepartment">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("CS.ProductData.CountryDepartment"))
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.CountryDepartament)
                </div>
            </div>
        </div>
        <div class="col-md-9 ml16">
            <div data-idb-fieldname="ddlMBFCode">
                <div class="col-md-12 lblcontent">
                    @Localization.GetText("CS.ProductData.MBFCode")
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.MBFCode)
                </div>
            </div>
            <div data-idb-fieldname="ddlFinancingContainer">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("CPD.ProductData.FinancingContainer"))
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.FinancingContainer)
                </div>
            </div>
            <div data-idb-fieldname="ddlContainerModality">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("CPD.ProductData.ContainerModality"))
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.ContainerModality)
                </div>
            </div>
        </div>
    </div>
    <div class="mb20">
        <div class="row row-header">
            <div class="col-md-12 subtitleGroup">
                @Localization.GetText("CPD.ProductData.ProductNameTitle")
            </div>
        </div>
        @Confluence.InputMultiLanguageSimpleAreaEdit(new IDB.MVCControls.Confluence.Models.MultiLanguageBoxSimpleModel()
        {
            EnAreaName = "ProductNameEn",
            EnAreaValue = Model.OperationNameEn,
            EnRequired = true,
            EsAreaName = "ProductNameEs",
            EsAreaValue = Model.OperationNameEs,
            EsRequired = true,
            PtAreaName = "ProductNamePt",
            PtAreaValue = Model.OperationNamePt,
            FrAreaName = "ProductNameFr",
            FrAreaValue = Model.OperationNameFr,
        })
    </div>
}
else
{
    <div class="grouping-section">
        <div class="col-md-6">
            <label class="lbltitle">@Localization.GetText("CS.ProductData.GeneralInformation")</label>
        </div>
    </div>
    <div class="grouping-section">
        <div class="col-md-3 lineGrayRight">
            <div data-idb-fieldname="ddlProductType">
                <div class="col-md-12 lblcontent">
                    @Localization.GetText("CS.ProductData.ProductType")
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.ProductType)
                </div>
            </div>
            <div data-idb-fieldname="ddlOperationYear">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("CS.ProductData.ProductYear"))
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.ProductYear.ToString())
                </div>
            </div>
            <div data-idb-fieldname="ddlCountry">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("CS.ProductData.Country"))
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.Country)
                </div>
            </div>
            <div data-idb-fieldname="ddlCountryDepartment">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("CS.ProductData.CountryDepartment"))
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.CountryDepartament)
                </div>
            </div>
        </div>

        <div class="col-md-4 ml16">
            <div data-idb-fieldname="ddlMBFCode">
                <div class="col-md-12 lblcontent">
                    @Localization.GetText("CS.ProductData.MBFCode")
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.MBFCode)
                </div>
            </div>
            <div data-idb-fieldname="ddlFinancingContainer">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("CPD.ProductData.FinancingContainer"))
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.FinancingContainer)
                </div>
            </div>
            <div data-idb-fieldname="ddlContainerModality">
                <div class="col-md-12 lblcontent">
                    @Confluence.Label(Localization.GetText("CPD.ProductData.ContainerModality"))
                    @Confluence.LabelAsterisk()
                </div>
                <div class="col-md-12 lblvalue">
                    @Confluence.LabelBold(Model.ContainerModality)
                </div>
            </div>
        </div>
    </div>
    <div class="mb20">
        @Html.Partial("ReadPartial/OperationName", Model)
    </div>
}

<input type="hidden" id="poprAssociatedIsApproved" name="poprAssociatedIsApproved" value="@Model.POPRAssociatedIsApproved.ToString()" disabled="disabled" required="false"/>

@if (Model.ShowOperationRelated)
{
    if (Model.POPRAssociatedIsApproved)
    {
     <div id="OperationDataRelatedOperations" idb-fieldname="tbRelOperation">
        <div class="mb20">
            @Html.Partial("ReadPartial/_TableRelations", Model.BasicData)
        </div>
    </div>
    }
    else
    {
        if (Model.IsCPDRelatedCoordinated)
        {
            <div id="OperationDataRelatedOperations" idb-fieldname="tbRelOperation">
                <div class="mb20">
                    @Html.Partial("EditPartial/_TableRelations", Model.BasicData)
                </div>
            </div>
        }
        else
        {
            <div id="OperationDataRelatedOperations" idb-fieldname="tbRelOperation">
                <div class="mb20">
                    @Html.Partial("ReadPartial/_TableRelations", Model.BasicData)
                </div>
            </div>
        }
    }
}
else
{
    <div class="row row-header">
        <div class="col-md-12 subtitleGroup">
            @Localization.GetText("OP.OD.TabBasicData.RelatedOperations.Title")
        </div>
    </div>
}



