@model IDB.MW.Domain.Models.FindingRecomendations.DelaysEditModel


@section JavaScript {

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/ui_fi_004_edit.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/DelaysEditCustom.css")"/>

    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/Custom/Delay/DelaysInAchievementEditScript.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/concurrence.js"  + @System.Configuration.ConfigurationManager.AppSettings["cache"].ToString())"></script>

}

<div id="ui_fi_004_edit" class="padding20">
    <div class="lineHeight2em verticalMargin20">
        <div class="inline-block w75">
            <h3 class="font2em">@Localization.GetText("Findings and recommendations")</h3>
        </div>
    </div>
    <div class="tabsContainer verticalMargin20">
        @*<div class="inline-block tabItem w17 p10 active" id="Clauses" data-route="@Url.Action("Index", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Contractual Clauses")</div>
        <div class="inline-block tabItem w17 p10" id="Matrixchanges" data-route="@Url.Action("DetailsMatrixChanges", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Changes to the Matrix")</div>*@
        <div class="inline-block tabItem w17 p10 active" id="Delays" data-route="@Url.Action("DetailsDelays", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Delays in Achievement")</div>
        @*<div class="inline-block tabItem w17 p10" id="Risk" data-route="@Url.Action("DetailsRiskManagement", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Risk Management")</div>*@
        <div class="inline-block tabItem w20 p10" id="Additional" data-route="@Url.Action("DetailsFindingRecommendation", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Overall Project Management")</div>
    </div>

    <div class="verticalMargin20-0-20 relative h50px">
        <div class="inline-block w48 leftAlign absolute">
            <div class="collapseControl greenBackground right">
                <label for="collapseControlButton" class="whiteDotContainer inline-block cursorPointer">
                    <span class="colorBackground relative">
                        <span class="whiteDot absolute">@Localization.GetText("White dot")</span>
                    </span>
                </label>
                <input id="collapseControlButton" name="collapseControlButton" type="button" value="@Localization.GetText("Collapse All")" class="cursorPointer inline-block allExpanded">
            </div>
        </div>
    </div>

    @using (Html.BeginForm("DelaysEdit", "FindingRecommendation", FormMethod.Post, new { @id = "FormDelaysEdit" }))
    {
        @Html.Hidden("OutputSelected", Localization.GetText("Output delay")) 
        @Html.Hidden("OutcomeSelected", Localization.GetText("Outcome delay"))
        
        @Html.HiddenFor(x => x.OperationNumber)
        @Html.HiddenFor(x => x.ResultsMatrixId)
        <input type="hidden" id="messageDelete" value="@Localization.GetText("This action will delete the entire row with all information included. Would you like to proceed with the deletion?")"/>
       
       
       
        <input type="hidden" id="CancelText" value="@Localization.GetText("Cancel")"/>
        <input type="hidden" id="DeleteText" value=" @Localization.GetText("Delete")"/>
        
        
        <a id="LinkLoadOutputs" href="noShow" data-route="@Url.Action("LoadOutputsDelays", "FindingRecommendation")"></a>
        <a id="LinkLoadOutcomes" href="noShow" data-route="@Url.Action("LoadOutcomesDelays", "FindingRecommendation")"></a>
        <a id="LinkFirsDelayType" href="noShow" data-route="@Url.Action("LoadTypeDelays", "FindingRecommendation")"></a>
        <a id="DeleteAchivementPost" href="noShow" data-route="@Url.Action("DeleteAchivement", "FindingRecommendation")"></a>
        <a id="DeleteOtherPost" href="noShow" data-route="@Url.Action("DeleteOther", "FindingRecommendation")"></a>
        <div class="verticalMargin20">
            <div class="inline-block w80">
                <h3 class="font20px AlingTitles">@Localization.GetText("Delays in achievement of annual plans for Outputs and Outcomes")</h3>
            </div>
            <div class="inline-block rightAlign w19-4">
                <a class="horizontalPadding10 LinkCancel" href="@(Url.Action("DetailsDelays", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">@Localization.GetText("Cancel")</a>
                <input class="button yellowButton" type="submit" value=" @Localization.GetText("Save")">
            </div>
        </div>
    
        <div>

            <table id="tableSortUIFI004-1" class="grid w100 noInnerPadding fixedValues">
                <thead>
                    <tr>
                        <th style="width: 131px;">@Localization.GetText("Type of delay")</th>
                        <th style="width: 396px;">@Localization.GetText("Name")</th>
                        <th style="width: 184px;">@Localization.GetText("Is the issue solved?")</th>
                        <th style="width: 239px;">@Localization.GetText("Last update")</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.AchievementDelays.Count; i++)
                    {   
                        <tr data-indexComponentRowAchivement="@i" class="itemtrRowAchivement">
                            <td colspan="4">
                                <table class="w100 innerGrid">
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(x => x.AchievementDelays[i].AchievementDelayId, new { @class = "itemAchievementDelayId", @data_valueAchievementDelay = i })
                                            @Html.ListBoxFor(x => x.AchievementDelays[i].DelayTypeId, new SelectList(ViewBag.ListDelaysType, "Value", "Text", ViewBag.SelectedValueID = (Model.AchievementDelays[i].DelayTypeId)), new { @class = "kendoDropDown ListTypeDelay itemDelayTypeId", @style = "width: 140px;", @data_TypeIndex = i })
                                        </td>
                                        <td style="padding-left: 15px;">
                                            @Html.ListBoxFor(x => x.AchievementDelays[i].ResultElementName, new SelectList((Model.AchievementDelays[i].DelayType == "Output delay" ? ViewBag.ListOutputs : ViewBag.ListOutcomes), "Value", "Text", Model.AchievementDelays[i].ResultElementName), new { @class = "kendoDropDown itemResultElementName", @style = "width: 400px;", @data_NameIndex = i })
                                        </td>
                                        <td>
                                            @Html.ListBoxFor(x => x.AchievementDelays[i].IsSolved, new SelectList(ViewBag.ListIsSolved, "Value", "Text", ViewBag.SelectedValue = (Model.AchievementDelays[i].IsSolved == true ? true : false)), new { @class = "kendoDropDown itemIsSolved" })
                                        </td>
                                        <td>
                                            <div class="inline-block w82">
                                                @Html.HiddenFor(x => x.AchievementDelays[i].LastUpdate, new { @class = "itemLastUpdate" })
                                                @String.Format("{0:dd MMM yyyy}", Model.AchievementDelays[i].LastUpdate)
                                            </div>
                                        </td>
                                        <td>
                                            <input id="closeItem_" + @i + "" type="button" class="trClosest cursorPointer closeAchievementDelays originalItemClose" data-itemClose="@i" onclick="DeleteAchivement(this)" />
                                            <input type="button" class="noBorder operationButton arrow cursorPointer" />
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="5">
                                            <div class="inline-block w30 marginRight3">
                                                <h6 class="boldFont verticalMargin10 ">@Localization.GetText("Explain both physical and financial delays")</h6>
                                                <div class="verticalMargin20">
                                                    @Html.TextAreaFor(x => x.AchievementDelays[i].DelayReason, new Dictionary<string, Object> { { "class", "input normal w94 itemDelayReason" }, { "cols", "55" }, { "rows", "3" }, { "placeholder", Localization.GetText("Other Delay Reason") }})
                                                </div>
                                            </div>
                                            <div class="inline-block w30 marginRight3">
                                                <h6 class="boldFont verticalMargin10">@Localization.GetText("Findings: Effects or implications (negative or positive) of the delays")</h6>
                                                <div class="verticalMargin20">
                                                    @Html.TextAreaFor(x => x.AchievementDelays[i].Finding, new Dictionary<string, Object> { { "class", "input normal w94 itemFinding" }, { "cols", "55" }, { "rows", "3" }, { "placeholder", Localization.GetText("Delay Finding") }})
                                                </div>
                                            </div>
                                            <div class="inline-block w33">
                                                <h6 class="boldFont verticalMargin10">@Localization.GetText("Recommendations: Actions or decisions recomend to replicate or to void")</h6>
                                                <div class="verticalMargin20">
                                                    @Html.TextAreaFor(x => x.AchievementDelays[i].Recommendation, new Dictionary<string, Object> { { "class", "input normal w94 itemRecommendation" }, { "cols", "55" }, { "rows", "3" }, { "placeholder", Localization.GetText("Delay Recommendation") }})
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <div class="centerAlign addOneWrapper centerContent verticalMargin20">
                <div class="addOneContainer w100 h100">
                    <input id="button_ui_fi_004_1_edit" type="button" value="@Localization.GetText("New")" class="noBorder h100 addOne cursorPointer w100" />
                </div>
            </div>
            <div class="verticalMargin40">
                <div class="informationStatement leftPadding40 AlingTitles">@Localization.GetText("For outputs explain both physical and financial delays")</div>
            </div>
            <div class="verticalMargin40">
                <div class="inline-block w80">
                    <h3 class="font20px AlingTitles">@Localization.GetText("Other delays")</h3>
                </div>
            </div>

            <table id="tableSortUIFI004-2" class="grid w100 noInnerPadding fixedValues">
                <thead>
                    <tr>
                        <th>@Localization.GetText("Type of delay")</th>
                        <th>@Localization.GetText("Name")</th>
                        <th>@Localization.GetText("Is the issue solved?")</th>
                        <th>@Localization.GetText("Last update")</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.OtherDelays.Count; i++)
                    {  
                        <tr data-indexComponentRowAOther="@i" class="itemRowOther">
                            <td colspan="4">
                                <table class="w100 innerGrid">
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(x => x.OtherDelays[i].OtherDelayId, new { @class = "ItemOtherDelayId", @data_valueotherdelay = i })
                                            @Localization.GetText("Other Delay")
                                        </td>
                                        <td style="padding-left: 0px;">
                                        @Html.TextBoxFor(x => Model.OtherDelays[i].DelayName, new Dictionary<string, Object> { { "class", "grayBorder textboxCustom w97-2 centerAlign itemDelayNameOther" }, { "placeholder", Localization.GetText("Other Delay Name") }, { "data-valueotherdelay", i },{ "maxlength", "200" } })
                                        <td>

                                            @Html.ListBoxFor(x => x.OtherDelays[i].IsSolved, new SelectList(ViewBag.ListIsSolved, "Value", "Text", ViewBag.SelectedValue = (Model.OtherDelays[i].IsSolved == true ? true : false)), new { @class = "kendoDropDown itemIsSolvedOther" })

                                        </td>
                                        <td>
                                            <div class="inline-block w82">
                                                @Html.HiddenFor(x => x.OtherDelays[i].LastUpdate, new { @class = "itemLastUpdateOther" })
                                                @String.Format("{0:dd MMM yyyy}", Model.OtherDelays[i].LastUpdate)
                                            </div>
                                        </td>
                                        <td>
                                            <input id="OriginalOtherDelay_"@i"" class="trClosest cursorPointer closeOtherDelays originalOtherDelayclass" type="button" data-itemCloseOther="@i" onclick="DeleteOthers(this)" />
                                            <input type="button" class="noBorder operationButton arrow cursorPointer" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <h6 class="boldFont verticalMargin10">@Localization.GetText("Reason")</h6>
                                            <div class="verticalMargin20">
                                                @Html.TextAreaFor(x => x.OtherDelays[i].DelayReason, new Dictionary<string, Object> { { "class", "input normal w94 itemDelayReasonOther" }, { "cols", "55" }, { "rows", "5" }, { "placeholder", Localization.GetText("Other Delay Reason") }})
                                                @{Html.ValidateFor(x => x.OtherDelays[i].DelayReason);}                                                
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="centerAlign addOneWrapper centerContent verticalMargin20">
                <div class="addOneContainer w100 h100">
                    <input id="button_ui_fi_004_2_edit" type="button" value="@Localization.GetText("New")" class="noBorder h100 addOne cursorPointer w100" />
                </div>
            </div>
            <div class="verticalMargin20 rightAlign">
                <a class="button  LinkCancel" title="@Localization.GetText("Cancel")" data-route="@(Url.Action("DetailsDelays", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">@Localization.GetText("Cancel")</a>
                <input class="button yellowButton " type="submit" value=" @Localization.GetText("Save")">
            </div>
        </div>
    }
</div>




