@model IDB.MW.Domain.Models.FindingRecomendations.MatrixChangesEditModel

@section JavaScript {
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/ui_fi_002.css")"/>

    <!-- JS Files -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/main.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            


            $(".buttonLinkEditChanges").on("click", function () {
                var route = $(this).attr("data-route");
                //redirectPage(route);

                location.href = route;
            });

        });
    </script>
    <!-- End Files Scripts -->
}

<div id="ui_fi_002" class="padding20">
    <div class="lineHeight2em verticalMargin20">
        <div class="inline-block w75">
            <h3 class="font2em">@Localization.GetText("Findings and recommendations")</h3>
        </div>
    </div>
    <div class="tabsContainer verticalMargin20">
        @*<div class="inline-block tabItem w17 p10 active" id="Clauses" data-route="@Url.Action("Index", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Contractual Clauses")</div>
        <div class="inline-block tabItem w17 p10" id="Matrixchanges" data-route="@Url.Action("DetailsMatrixChanges", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Changes to the Matrix")</div>*@
        <div class="inline-block tabItem w17 p10" id="Delays" data-route="@Url.Action("DetailsDelays", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Delays in Achievement")</div>
        @*<div class="inline-block tabItem w17 p10" id="Risk" data-route="@Url.Action("DetailsRiskManagement", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Risk Management")</div>*@
        <div class="inline-block tabItem w20 p10" id="Additional" data-route="@Url.Action("DetailsFindingRecommendation", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Overall Project Management")</div>
    </div>
    <div class="verticalMargin80-0-20 relative h50px">
        <div class="inline-block w48 leftAlign absolute">
            <div class="collapseControl" onclick="resizeiframeCloudTimeOut()">
                <label for="collapseControlButton" class="whiteDotContainer inline-block cursorPointer">
                    <span class="colorBackground relative">
                        <span class="whiteDot absolute">@Localization.GetText("White dot")</span>
                    </span>
                </label>
                <input id="collapseControlButton" name="collapseControlButton" type="button" value="@Localization.GetText("Expand All")" class="cursorPointer inline-block">
            </div>
        </div>
        @if (Model.MatrixChanges.Count > 0)
        {
            <div class="inline-block w48 absRight rightAlign absolute">
                @if (Html.HasPermission("Findings Write"))
                {
                    <input type="submit" value=" @Localization.GetText("Edit")" class="button blueButton boldFont cursorPointer buttonLinkEditChanges" data-route="@(Url.Action("MatrixChangesEdit", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">
                }
            </div>    
        }
    </div>
    <div class="verticalMargin20">
        <table id="tableUIFI002" class="grid w100 noInnerPadding fixedValues sortable">
            <thead>
                <tr class="">
                    <th style="width: 50%;">@Localization.GetText("Name")</th>
                    <th style="width: 45%;">@Localization.GetText("Type of change")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ChangesMatrix in Model.MatrixChanges)
                {  
                    <tr>
                        <td colspan="8">
                            <table class="w100 innerGrid">
                                <tr>
                                    <td style="width: 50%; text-align: left;">@ChangesMatrix.ElementName</td>
                                    <td style="width: 45%; text-align: left;">@ChangesMatrix.ChangeType</td>
                                    <td>
                                        <input type="button" class="noBorder operationButton arrow cursorPointer" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8">
                                        <div class="padding10">
                                            <div class="verticalMargin10">
                                                <h6 class="boldFont verticalMargin10">@Localization.GetText("Reason")</h6>
                                                <p class="verticalMargin10">@ChangesMatrix.Reason</p>
                                            </div>
                                            <div class="verticalMargin10">
                                                <div class="inline-block w48 leftAlign">
                                                    <h6 class="boldFont verticalMargin10">@Localization.GetText("Findings")</h6>
                                                    <p class="verticalMargin10">@ChangesMatrix.Finding</p>
                                                </div>
                                                <div class="inline-block w48">
                                                    <h6 class="boldFont verticalMargin10">@Localization.GetText("Recommendations")</h6>
                                                    <p class="verticalMargin10">@ChangesMatrix.Recommendation</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (Model.MatrixChanges.Count > 0)
    {
        <div class="inline-block w100 rightAlign">
            @if (Html.HasPermission("Findings Write"))
            {
                <input type="submit" value=" @Localization.GetText("Edit")" class="button blueButton boldFont cursorPointer buttonLinkEditChanges" data-route="@(Url.Action("MatrixChangesEdit", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">
            }
        </div>        
    }
</div>
