@model IDB.MW.Domain.Models.FindingRecomendations.FindingRecommendationHeaderModel

@section JavaScript {

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/ui_fi_007.css")" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/main.js")"></script>


    <script type="text/javascript">

        $(document).on("ready", function () {

            /* V2.1: Remove Extra Modal Window After Save Changes */
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-overlay").remove();
            $(".k-window").remove();

            $(".buttoneditlink").on("click", function () {
                var route = $(this).attr("data-route");
                location.href = route;
            });

        });

    </script>

}
@*@Html.Hidden("hdnNotificationPath", Url.Action("Notification", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))*@

<input type="hidden" id="showtext" value="@Localization.GetText("Show Filter")" />
<input type="hidden" id="hidetext" value="@Localization.GetText("Hide Filter")" />
<a id="LinkRouteStage" style="display:none" data-route="@Url.Action("GetStages", "FindingRecommendation")"></a>
<a id="LinkRouteDimensions" style="display:none" data-route="@Url.Action("GetDimensions", "FindingRecommendation")"></a>
<a id="LinkRouteCategories" style="display:none" data-route="@Url.Action("GetCategories", "FindingRecommendation")"></a>
<input type="hidden" id="urlrute" value="@(Url.Action("DetailsFindingRecommendation", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber=@Model.OperationNumber,State=0}))">

@{
    string[,] CategoriesDimensions = (string[,])ViewBag.CategoriesDimensions;
    bool isLessTaskFive = ViewBag.isLessTaskFive ?? false;
}

@for (int i = 0; i < (CategoriesDimensions.Length / 2); i++)
{
    <input type="hidden" id="@string.Concat("CMB_",CategoriesDimensions[0,i])" value="@CategoriesDimensions[1,i]" />
}

<script>
    var showfilter1 = false;
    $(document).ready(function () {

        $(".k-widget").css("height", "40px ");
        $(".k-dropdown-wrap").css("height", "36px");
        $(".k-input").css("padding-top", "2px");
        $(".k-input").css("padding-bottom", "5px");
        $(".k-select").css("height", "36px ");
        $(".k-icon").css("height", "36px ");

        $("#buttonfilter1").click(function () {
            if (showfilter1) {
                showfilter1 = false;
                $("#filter1").addClass("hide");
                $("#buttonfilter1").val($("#showtext").val());
            } else {
                showfilter1 = true;
                $("#filter1").removeClass("hide");
                $("#buttonfilter1").val($("#hidetext").val());
            }
            
        });

        $(".btnClearFilters").click(function () {
            var dropdownlist = $("#Name").data("kendoDropDownList");
            dropdownlist.select(0);
            var dropdownlist = $("#Module").data("kendoDropDownList");
            dropdownlist.select(0);
            var dropdownlist = $("#Namespace").data("kendoDropDownList");
            dropdownlist.select(0);
            $("#Module").children().remove();
            $("#Module").append($("#CMB_0").val());
            $("#Module").kendoDropDownList();
        });

        $(".btnFilter").click(function () {
            document.location = ($("#urlrute").val() + '&Dimensions=' + $("#Name").val() + '&Categories=' + $("#Module").val() + '&Stages=' + $("#Namespace").val() + '&cycleIdList=' + $("#FullName").val());
        });

        $("#Name").change(function () {
            $("#Module").children().remove();
            var id = "#CMB_" + $("#Name").val();
            $("#Module").append($(id).val());
            $("#Module").kendoDropDownList();
        });

        $("#Module").children().remove();
        $("#Module").append($("#CMB_0").val());
        $("#Module").kendoDropDownList();

    });

    function showNotification(btnEdit) {
        var path = $(btnEdit).attr("data-route");

        $(window.parent.document).find('body').append('<div class="ui-widget-overlay ui-front"></div>');
        $("body").append('<div class="ui-widget-overlay ui-front"></div>');
        $("body").append('<div class="dinamicModal"><div class="loadingdatawarning"><br>Loading ...</div></div>');
        $(".k-overlay").remove();

        var title = "Warning";
        var dialog = $(".dinamicModal").kendoWindow({
            width: "800px",
            title: title,
            draggable: false,
            resizable: false,
            content: path,
            pinned: true,
            actions: [
                "Close"
            ],
            modal: true,
            visible: false,
            close: function () {
                $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
                $(".ui-widget-overlay").remove();
                $(".k-window").remove();
            }
        }).data("kendoWindow");

        $(".k-window-titlebar").addClass("warning");
        $(".k-window-title").addClass("ico_warning");
        dialog.open();
        $(".k-overlay").remove();
    }

    function redirectEdit(btnEdit) {
        var route = $(btnEdit).attr("data-route");
        location.href = route;
    }

</script>

<div id="ui_fi_007" class="padding20 ">
    <div class="lineHeight2em verticalMargin20">
        <div class="inline-block w75">
            <h3 class="font2em">@Localization.GetText("Findings and recommendations")</h3>
        </div>
    </div>
    <div class="tabsContainer verticalMargin20">
        @*<div class="inline-block tabItem w17 p10 active" id="Clauses" data-route="@Url.Action("Index", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Contractual Clauses")</div>
            <div class="inline-block tabItem w17 p10" id="Matrixchanges" data-route="@Url.Action("DetailsMatrixChanges", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Changes to the Matrix")</div>*@
        <div class="inline-block tabItem w17 p10" id="Delays" data-route="@Url.Action("DetailsDelays", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Delays in Achievement")</div>
        @*<div class="inline-block tabItem w17 p10" id="Risk" data-route="@Url.Action("DetailsRiskManagement", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Risk Management")</div>*@
        <div class="inline-block tabItem w20 p10 active" id="Additional" data-route="@Url.Action("DetailsFindingRecommendation", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Overall Project Management")</div>
    </div>

    <div class="verticalMargin80-0-20 relative h100px">
        <div class="inline-block w75 leftAlign font20px absolute">
            @Localization.GetText("Analyze factors or issues that affected the performance of the operation during programming, design, execution, technical supervision and/or evaluation; and propose a concrete, actionable recommendation based on a finding that, in similar circumstances, would facilitate problem solving, risk mitigation or the replication of success.")
            <br />
            <br />
        </div>
        <div class="inline-block w23 rightAlign absolute absRight">
            @if (ViewBag.RMAdministrator && Html.HasPermission("Findings Write") && Model.IsEditable)
            {
                if (ViewBag.IsCurrentCycleTable)
                {
                    <input type="button" value=" @Localization.GetText("Edit") " class="button blueButton boldFont cursorPointer buttoneditlink"
                           onclick="redirectEdit(this)" data-route="@(Url.Action("FindingRecommendationEdit", "FindingRecommendation",
                               new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">
                }
                else
                {
                    <input type="button" value=" @Localization.GetText("Edit") " class="button blueButton boldFont cursorPointer"
                           onclick="showNotification(this)" data-route="@(Url.Action("Notification", "FindingRecommendation",
                               new { area = "FindingRecomendations"}))">
                }
            }
            else if (isLessTaskFive && Html.HasPermission("Findings Write") && Model.IsEditable)
            {
                if (ViewBag.IsCurrentCycleTable)
                {
                    <input type="button" value=" @Localization.GetText("Edit") " class="button blueButton boldFont cursorPointer buttoneditlink"
                           onclick="redirectEdit(this)" data-route="@(Url.Action("FindingRecommendationEdit", "FindingRecommendation",
                           new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">
                }
                else
                {
                    <input type="button" value=" @Localization.GetText("Edit") " class="button blueButton boldFont cursorPointer"
                           onclick="showNotification(this)" data-route="@(Url.Action("Notification", "FindingRecommendation",
                           new { area = "FindingRecomendations"}))">
                }
            }
        </div>
    </div>

    <br />
    <br />
    <div class="verticalMargin20-0-20 relative h50px">
        <div class="inline-block w48 leftAlign absolute">
            <div class="collapseControl" onclick="resizeiframeCloudTimeOut()">
                <label for="collapseControlButton" class="whiteDotContainer inline-block cursorPointer">
                    <span class="colorBackground relative">
                        <span class="whiteDot absolute">@Localization.GetText("White dot")</span>
                    </span>
                </label>
                <input id="collapseControlButton" name="collapseControlButton" type="button" value="Expand All" class="cursorPointer inline-block">
            </div>
        </div>
        <div class="inline-block rightAlign w19-4" style="width:100%;">
            <input type="button" id="buttonfilter1" class="button blueButton alingFilterButtonRigth" value=" @Localization.GetText("Show Filter") " title=" @Localization.GetText("Show Filter") ">
        </div>
    </div>

    <div class="filter hide" style="padding-bottom:10px;height: 210px;" id="filter1">
        <div class="cajaGeneralFilter2" style="padding-bottom:10px;height: 160px;">
            <div class="contenidoFilter5">
                <legend class="hide">@Localization.GetText("Datos de Filtro")</legend>
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td>
                                <ul class="optionList">
                                    <li class="smallFilter2 dataTitle">
                                        @Html.ListBoxFor(x => x.GetType().Namespace, new SelectList(ViewBag.ListStages, "Value", "Text"), new { @class = "kendoDropDown itemIsSolved", @style = "width: 300px;height:40px;" })
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="optionList">
                                    <li class="smallFilter2 dataTitle">
                                        @Html.ListBoxFor(x => x.GetType().Name, new SelectList(ViewBag.ListDimensions, "Value", "Text"), new { @class = "kendoDropDown ListTypeDelay itemDelayTypeId", @style = "width: 300px;height:40px;" })
                                    </li>
                                </ul>
                                <span>&nbsp;</span>
                            </td>
                            <td>
                                <ul class="optionList">
                                    <li class="smallFilter2 dataTitle">
                                        @Html.ListBoxFor(x => x.GetType().Module, new SelectList(ViewBag.ListCategories, "Value", "Text"), new { @class = "kendoDropDown itemResultElementName", @style = "width: 300px;height:40px;" })
                                    </li>
                                </ul>
                                <span>&nbsp;</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="inline-block w65 verticalAlignMiddle">
                                    <label for="CyclesInFR" class="font08em inline-block w23 verticalAlignMiddle noPadding labelSelectNormalPMROperation">@Localization.GetText("PMR Cycle")</label>
                                    <br />
                                    @Html.ListBoxFor(x => x.GetType().FullName, new MultiSelectList(ViewBag.ListCycles, "Value", "Text"), new { style = "width: 300px; font-size: 16px; color: gray;", @class = "MultiSelectCustom" })
                                </div>
                            </td>
                            <td>
                                <div><span>&nbsp;</span></div>
                                <div class="editingButtonsEdit" style="padding-right: 0px;">
                                    <a href="javascript:void(0)" class="btn-primary filter-clauses btnClearFilters" style="min-height: 2em;" title="@Localization.GetText("Clear")" data-route="data">@Localization.GetText("Clear")</a>
                                    <a href="javascript:void(0)" class="btn-primary filter-clauses btnFilter" style="min-height: 2em;" title="@Localization.GetText("Filter")" style="margin-right: 2em;" data-route="data">@Localization.GetText("Filter")</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="verticalMargin20">
        <table id="tableUIFI007" class="grid w100 noInnerPadding fixedValues sortable">
            <thead>
                <tr class="">
                    <th style="width: 15%">@Localization.GetText("Cycle")</th>
                    <th style="width: 15%">@Localization.GetText("Stage")</th>
                    <th style="width: 27%">@Localization.GetText("Dimension")</th>
                    <th style="width: 27%">@Localization.GetText("Category")</th>
                    <th style="width: 13%">@Localization.GetText("Last update")</th>
                    <th style="width: 3%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Additional in Model.FindingRecommendations)
                {
                    <tr>
                        <td colspan="8">
                            <table class="w100 innerGrid">
                                <tr>
                                    <td style="width: 15%; padding-left: 10px;">@Additional.CycleName</td>
                                    <td style="width: 15%; padding-left: 10px;">@Additional.Stage</td>
                                    <td style="width: 27%; padding-left: 10px;">@Additional.Dimension</td>
                                    <td style="width: 27%; padding-left: 10px;">@Additional.Category</td>
                                    <td style="width: 13%; padding-left: 10px;">@(Additional.LastUpdate.HasValue ? Additional.LastUpdate.Value.ToString("dd MMM yyyy") : string.Empty)</td>
                                    <td style="width: 3%; padding-left: 5px;">
                                        <input type="button" class="noBorder operationButton arrow cursorPointer" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8">
                                        <div class="padding10">

                                            <div class="inline-block  leftAlign w48">
                                                <h6 class="boldFont verticalMargin10">@Localization.GetText("Findings")</h6>
                                                <p style="word-wrap: break-word; width:50%">@Additional.Finding</p>
                                            </div>
                                            <div class="inline-block w48">
                                                <h6 class="boldFont verticalMargin10">@Localization.GetText("Recommendations")</h6>
                                                <p style="word-wrap: break-word; width:50%">@Additional.Recommendation</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.FindingRecommendations.Count == 0)
        {
            <div>
                <br />
                <h2 style="margin-left: 0em">@Localization.GetText("No results can be found")</h2>
            </div>
        }
    </div>
    <div class="verticalMargin80-0-20 relative h100px">
        <div class="inline-block w23 rightAlign absolute absRight">
            @if (ViewBag.RMAdministrator && Html.HasPermission("Findings Write") && Model.IsEditable)
            { 
                    if (ViewBag.IsCurrentCycleTable)
                    {
                        <input type="button" value=" @Localization.GetText("Edit") " class="button blueButton boldFont cursorPointer buttoneditlink" 
                               onclick="redirectEdit(this)" data-route="@(Url.Action("FindingRecommendationEdit", "FindingRecommendation",
                               new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">
                    }
                    else
                    {
                        <input type="button" value=" @Localization.GetText("Edit") " class="button blueButton boldFont cursorPointer" 
                               onclick="showNotification(this)" data-route="@(Url.Action("Notification", "FindingRecommendation", 
                               new { area = "FindingRecomendations" }))">
                    }
                
            }
            else if (isLessTaskFive && Html.HasPermission("Findings Write") && Model.IsEditable)
            {
                if (ViewBag.IsCurrentCycleTable)
                {
                    <input type="button" value=" @Localization.GetText("Edit") " class="button blueButton boldFont cursorPointer buttoneditlink" 
                           onclick="redirectEdit(this)" data-route="@(Url.Action("FindingRecommendationEdit", "FindingRecommendation", 
                           new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">
                }
                else
                {
                    <input type="button" value=" @Localization.GetText("Edit") " class="button blueButton boldFont cursorPointer" 
                           onclick="showNotification(this)" data-route="@(Url.Action("Notification", "FindingRecommendation",
                           new { area = "FindingRecomendations" }))">
                }
            }
        </div>
    </div>
</div>
