@model IDB.MW.Domain.Models.FindingRecomendations.RiskManagementEditModel

@section JavaScript {
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/ui_fi_005.css")"/>


    <!-- JS Files -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/main.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tableSortUIFI005').find('.arrow').click();
            

            $("#btneditrisk").on("click", function () {
                var texto = $("#OriginalRiskText").attr("value");
                $("#ShowText").hide();
                $("#ModelRiskDescription_Description").attr("value", texto);
                $("#EditText").show();

                $("#linkcancelriskfedit").show();
                $("#btnsaverisk").show();
                $("#btneditrisk").hide();
            });

            $("#linkcancelriskfedit").on("click", function () {
                $("#linkcancelriskfedit").hide();
                $("#btnsaverisk").hide();
                $("#EditText").hide();
                $("#ShowText").show();
                $("#btneditrisk").show();
            });


        });
    </script> 
    <!-- End Files Scripts -->
}

<div id="ui_fi_005" class="padding20">
    <div class="lineHeight2em verticalMargin20">
        <div class="inline-block w75">
            <h3 class="font2em">@Localization.GetText("Findings and recommendations")</h3>
        </div>
    </div>
    <div class="tabsContainer verticalMargin20">
        @*<div class="inline-block tabItem w17 p10 active" id="Clauses" data-route="@Url.Action("Index", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Contractual Clauses")</div>
        <div class="inline-block tabItem w17 p10" id="Matrixchanges" data-route="@Url.Action("DetailsMatrixChanges", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Changes to the Matrix")</div>*@
        <div class="inline-block tabItem w17 p10" id="Delays" data-route="@Url.Action("DetailsDelays", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Delays in Achievement")</div>
        @*<div class="inline-block tabItem w17 p10" id="Risk" data-route="@Url.Action("DetailsRiskManagement", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Risk Management")</div>*@
        <div class="inline-block tabItem w20 p10" id="Additional" data-route="@Url.Action("DetailsFindingRecommendation", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Overall Project Management")</div>
    </div>

    <div class="verticalMargin40" style="margin-bottom: 170px;">
        <div class="inline-block w75 leftAlign font20px absolute" style="margin-bottom: 100px;">
             @Localization.GetText("Based on the experience of the management of the risk of the operation, what actions or decisions would you recommend be replicated in future operations? What actions or decisions should be avoided?")
        </div>
    </div>

    @using (@Html.BeginForm("RiskManagementEdit", "FindingRecommendation", FormMethod.Post, new { @id = "FormRiskDescription" }))
    {
        @Html.HiddenFor(x => x.OperationNumber)
        @Html.HiddenFor(x => x.ModelRiskDescription.ResultMatrixID)

        <input type="hidden" id="OriginalRiskText" value="@Model.ModelRiskDescription.Description"/>
        <div class="leftAlign" id="ShowText">
            <div style="font-size: small" class="noPadding w100 verticalMargin20 noResize">
                @Html.DisplayFor(x => x.ModelRiskDescription.Description)
            </div>
        </div>

        <div class="rightAlign" id="EditText" style="display: none">
            <div>@Html.TextAreaFor(x => x.ModelRiskDescription.Description, new { @class = "noPadding w100 verticalMargin20 noResize", @rows = "5", @maxlength="1000" })</div>
        </div>

        <div class="inline-block w48 leftAlign absolute">
            <div class="collapseControl" onclick="resizeiframeCloudTimeOut()">
                <label for="collapseControlButton" class="whiteDotContainer inline-block cursorPointer">
                    <span class="colorBackground relative">
                        <span class="whiteDot absolute">@Localization.GetText("White dot")</span>
                    </span>
                </label>
                <input id="collapseControlButton" name="collapseControlButton" type="button" value="@Localization.GetText("Expand All")" class="cursorPointer inline-block">
            </div>
        </div>


        <div class="verticalMargin20 rightAlign">

            <div class="inline-block w80 ">
                @if (Html.HasPermission("Findings Write"))
                {
                <input id="btneditrisk" type="button" value=" @Localization.GetText("Edit")" class="button blueButton boldFont cursorPointer botonEditar">
                }
                <a id="linkcancelriskfedit" style="display: none" class="horizontalPadding10 LinkCancel" href="javascript:void()">@Localization.GetText("Cancel")</a>
                <input id="btnsaverisk" type="submit" style="display:none" value=" @Localization.GetText("Save")" class="button blueButton boldFont cursorPointer botonGuardar">
            </div>

            <div class="verticalMargin40">
                <table id="tableSortUIFI005" class="grid w100 noInnerPadding fixedValues sortable">
                    <thead>
                        <tr>
                            <th>@Localization.GetText("Identifier")</th>
                            <th>@Localization.GetText("Description")</th>
                            <th>@Localization.GetText("Type")</th>
                            <th>@Localization.GetText("Probability")</th>
                            <th>@Localization.GetText("Impact")</th>
                            <th>@Localization.GetText("Risk level")</th>
                            <th>@Localization.GetText("Status")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var RiskManagement in Model.Risks)
                        {
                            <tr>
                                <td colspan="8">
                                    <table class="w100 innerGrid">
                                        <tr class="leftAlign">
                                            <td>
                                                <div class="leftAlign" style="margin-left: 10px;"><a href="@Url.Action("Details", "Risk", new { area = "Risks", operationNumber = Model.OperationNumber, riskId = RiskManagement.RiskId })">@RiskManagement.RiskCode</a></div>
                                            </td>
                                            <td>@RiskManagement.Description</td>
                                            <td>@RiskManagement.Type</td>
                                            <td>@RiskManagement.Probability</td>
                                            <td>@RiskManagement.Impact</td>
                                            <td>@RiskManagement.Level</td>
                                            <td>@RiskManagement.Status</td>
                                            <td>
                                                <input type="button" class="noBorder operationButton arrow cursorPointer" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">
                                                <h6 class="boldFont boldFont verticalMargin10">@Localization.GetText("Description")</h6>
                                                <p class="verticalMargin10">@RiskManagement.Description</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    }
</div>
