@model IDB.MW.Domain.Models.FindingRecomendations.FindingRecommendationHeaderModel


@section JavaScript {

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/ui_fi_007_edit.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/AdittionalEditCustom.css")"/>

    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/Custom/Adittional/AdittionalScript.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/concurrence.js"  + @System.Configuration.ConfigurationManager.AppSettings["cache"].ToString())"></script>


    <script>

        function deleteRow(elemento) {
            var IndexValue = $(elemento).attr("data-index");

            var ID_Deleted = $("input[data-indexMain|=" + IndexValue + "]").attr("value");

            var ActualRow = $("tr[data-indexComponentRowAdittional|=" + IndexValue + "]").attr("data-indexComponentRowAdittional");

            if ($(elemento).hasClass("originalrowadittional")) {
                $(window.parent.document).find('body').append('<div class="ui-widget-overlay ui-front"></div>');
                $("body").append('<div class="ui-widget-overlay ui-front"></div>');
                $("body").append('<div id="content" class="dinamicModal"><div style="padding-top: 25px;" >' + $("#messageDelete").attr("value") + '</<div><div style="padding-top: 25px;" ></<div><hr style="width:100%; Color:#406BB5"/><div class="inline-block rightAlign" style="padding: 5px; width:98%; border-radius:5px;"><a id="lnkCancelDeleteIndicator" title="Cancel" class="cancel" id="lnkCancelDeleteIndicator" style="margin:0px; padding-left: 612px; padding-top:10px;" href="javascript:void(0)">' + $("#CancelText").attr("value") + '</a><input id="btnSaveDeleteIndicator" type="submit" class="button blueButton" value=' + $("#DeleteText").attr("value") + '></<div></div>');

                
                var title = "Warning";
                var dialog = $(".dinamicModal").kendoWindow({
                    width: "800px",
                    title: title,
                    draggable: false,
                    resizable: false,
                    pinned: true,
                    actions: [
                        "Close"
                    ],
                    modal: true,
                    visible: false,
                    close: function () {
                        $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
                        $(".ui-widget-overlay").remove();
                        $(".k-window").remove();
                    }
                }).data("kendoWindow");
                $(".k-window-titlebar").addClass("warning");
                $(".k-window-title").addClass("ico_warning");
                dialog.center();
                dialog.open();

                $("#lnkCancelDeleteIndicator").click(function () {
                    $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
                    $(".ui-widget-overlay").remove();
                    $(document).find('body').find(".k-overlay").remove();
                    $(".k-window").remove();
                });

                $("#btnSaveDeleteIndicator").click(function () {

                    var state = false;

                    $.ajax({
                        url: $("#DeleteAdittionalPost").attr("data-route") + "?DeleteAdittionalID=" + ID_Deleted + "",
                        type: 'Post',
                        dataType: "json",
                        success: function (resp) {
                            if (resp == "ok") {
                                allOk(IndexValue);
                            }

                        },
                        error: function (e, err, erro) {
                            alert('Error: ' + e + ' - ' + err + ' - ' + erro);
                        }
                    });

                });
            }
            else {
                OnlyDelete(IndexValue);
            }


        }

        function allOk(IndexValue) {

            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(document).find('body').find(".k-overlay").remove();
            $(".k-window").remove();

            $("tr[data-indexComponentRowAdittional|=" + IndexValue + "]").remove();
            IndexComponents();

        }

        function OnlyDelete(IndexValue) {
            $("tr[data-indexComponentRowAdittional|=" + IndexValue + "]").remove();
            IndexComponents();
        }

    </script>


}

<div id="ui_fi_007_edit" class="padding20">

    <div class="lineHeight2em verticalMargin20">
        <div class="inline-block w75">
            <h3 class="font2em">@Localization.GetText("Findings and recommendations")</h3>
        </div>
    </div>
    
    <div class="tabsContainer verticalMargin20">
        @*<div class="inline-block tabItem w17 p10 active" id="Clauses" data-route="@Url.Action("Index", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Contractual Clauses")</div>
        <div class="inline-block tabItem w17 p10" id="Matrixchanges" data-route="@Url.Action("DetailsMatrixChanges", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Changes to the Matrix")</div>*@
        <div class="inline-block tabItem w17 p10" id="Delays" data-route="@Url.Action("DetailsDelays", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Delays in Achievement")</div>
        @*<div class="inline-block tabItem w17 p10" id="Risk" data-route="@Url.Action("DetailsRiskManagement", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Risk Management")</div>*@
        <div class="inline-block tabItem w20 p10 active" id="Additional" data-route="@Url.Action("DetailsFindingRecommendation", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Overall Project Management")</div>
    </div>
    <input type="hidden" value="@Localization.GetText("Recommendations")" id="Recommendationstext"/>

    @using (Html.BeginForm("FindingRecommendationEdit", "FindingRecommendation", FormMethod.Post, new { @id = "FormFindingAndRecommendations" }))
    {   
        @Html.HiddenFor(x => x.ResultsMatrixId)
        @Html.HiddenFor(x => x.OperationNumber)
        <input type="hidden" id="messageDelete" value=" @Localization.GetText("This action will delete the entire row with all information included. Would you like to proceed with the deletion?")"/>
        <input type="hidden" id="CancelText" value="@Localization.GetText("Cancel")"/>
        <input type="hidden" id="DeleteText" value=" @Localization.GetText("Delete")"/>
        
        <a id="LinkRouteCategoryFilter" style="display:none" data-route="@Url.Action("CategoryFilter", "FindingRecommendation")"></a>
        <a id="LinkRouteStage" style="display:none" data-route="@Url.Action("GetStages", "FindingRecommendation")"></a>
        <a id="LinkRouteDimensions" style="display:none" data-route="@Url.Action("GetDimensions", "FindingRecommendation")"></a>
        <a id="WarningMessageURL" style="display:none" data-route="@Url.Action("Delete", "FindingRecommendation")"></a>
        <a id="DeleteAdittionalPost" style="display:none" data-route="@Url.Action("DeleteAdittional", "FindingRecommendation")"></a>
        
        
        <div class="verticalMargin80-0-20 relative h100px">
            <div class="inline-block w75 leftAlign font20px absolute">
             @Localization.GetText("Analyze factors or issues that affected the performance of the operation during programming, design, execution, technical supervision and/or evaluation; and propose a concrete, actionable recommendation based on a finding that, in similar circumstances, would facilitate problem solving, risk mitigation or the replication of success.")
            <br />
            <br />
            </div>
            <div class="inline-block w23 rightAlign absolute absRight">
                <a class="button linkCancel" title="@Localization.GetText("Cancel")" href="@(Url.Action("DetailsFindingRecommendation", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">@Localization.GetText("Cancel")</a>
                <input type="submit" class="button yellowButton" value=" @Localization.GetText("Save")">
            </div>

        </div> 
        <br />
            <br />
        <div class="verticalMargin20-0-20 relative h50px">
            <div class="inline-block w48 leftAlign absolute">
                <div class="collapseControl greenBackground right">
                    <label for="collapseControlButton" class="whiteDotContainer inline-block cursorPointer">
                        <span class="colorBackground relative">
                            <span class="whiteDot absolute">@Localization.GetText("White dot")</span>
                        </span>
                    </label>
                    <input id="collapseControlButton" name="collapseControlButton" type="button" value="@Localization.GetText("Collapse All")" class="cursorPointer inline-block allExpanded">
                </div>
            </div>
        </div>
        
        <div class="verticalMargin20">

            <table id="tableUIFI007Edit" class="grid w100 noInnerPadding fixedValues sortable">
                <thead>
                    <tr class="">
                        <th style="width: 270px">@Localization.GetText("Stage")</th>
                        <th style="width: 270px">@Localization.GetText("Dimension")</th>
                        <th style="width: 270px">@Localization.GetText("Category")</th>
                        <th style="width: 190px">@Localization.GetText("Last update")</th>
                        <th style="width: 40px"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                                               for (int i = 0; i < @Model.FindingRecommendations.Count; i++)
                                               {
                        <tr data-indexComponentRowAdittional="@i" class="TrCloseItem">
                            <td colspan="8">
                                <table class="w100 innerGrid">
                                    <tr>
                                        <td style="width: 270px; padding-left: 5px;">@Html.ListBoxFor(x => x.FindingRecommendations[i].StageId, new SelectList(ViewBag.ListStages, "Value", "Text", ViewBag.SelectedValueID = (Model.FindingRecommendations[i].StageId)), new { @class = "kendoDropDown listBoxCustomWidth itemStage" })</td>
                                        <td style="width: 270px">@Html.ListBoxFor(x => x.FindingRecommendations[i].DimensionId, new SelectList(ViewBag.ListDimensions, "Value", "Text", ViewBag.SelectedValueID = (Model.FindingRecommendations[i].DimensionId)), new { @class = "kendoDropDown listBoxCustomWidth itemDimension", @data_indexDimension = i, @onchange = "LoadCategoriesFilter(this)" })</td>
                                        <td style="width: 270px">
                                            @if (Model.FindingRecommendations[i].DimensionCode == "TEC-SEC-DIM")
                                            {
                                                @Html.ListBoxFor(x => x.FindingRecommendations[i].CategoryID, new SelectList(ViewBag.ListCategoriesTecSecDim, "Value", "Text", ViewBag.SelectedValueID = (Model.FindingRecommendations[i].CategoryID)), new { @class = "kendoDropDown listBoxCustomWidth itemCategory", @data_indexCategory = i })                                                
                                            }
                                            else if (Model.FindingRecommendations[i].DimensionCode == "ORG-DIM")
                                            {
                                                @Html.ListBoxFor(x => x.FindingRecommendations[i].CategoryID, new SelectList(ViewBag.ListCategoriesOrgDim, "Value", "Text", ViewBag.SelectedValueID = (Model.FindingRecommendations[i].CategoryID)), new { @class = "kendoDropDown listBoxCustomWidth itemCategory", @data_indexCategory = i })
                                            }
                                            else if (Model.FindingRecommendations[i].DimensionCode == "FID-DIM")
                                            {
                                                @Html.ListBoxFor(x => x.FindingRecommendations[i].CategoryID, new SelectList(ViewBag.ListCategoriesFidDim, "Value", "Text", ViewBag.SelectedValueID = (Model.FindingRecommendations[i].CategoryID)), new { @class = "kendoDropDown listBoxCustomWidth itemCategory", @data_indexCategory = i })                                            
                                            }
                                            else if (Model.FindingRecommendations[i].DimensionCode == "DIM-PROC-ACT")
                                            {
                                                @Html.ListBoxFor(x => x.FindingRecommendations[i].CategoryID, new SelectList(ViewBag.ListCategoriesDimProcAct, "Value", "Text", ViewBag.SelectedValueID = (Model.FindingRecommendations[i].CategoryID)), new { @class = "kendoDropDown listBoxCustomWidth itemCategory", @data_indexCategory = i })                                            
                                            }
                                            else if (Model.FindingRecommendations[i].DimensionCode == "DIM-LEG-POL")
                                            {
                                                @Html.ListBoxFor(x => x.FindingRecommendations[i].CategoryID, new SelectList(ViewBag.ListCategoriesDimLegPol, "Value", "Text", ViewBag.SelectedValueID = (Model.FindingRecommendations[i].CategoryID)), new { @class = "kendoDropDown listBoxCustomWidth itemCategory", @data_indexCategory = i })                                            
                                            }
                                            else if (Model.FindingRecommendations[i].DimensionCode == "OTHER")
                                            {
                                                @Html.ListBoxFor(x => x.FindingRecommendations[i].CategoryID, new SelectList(ViewBag.ListCategoriesOther, "Value", "Text", ViewBag.SelectedValueID = (Model.FindingRecommendations[i].CategoryID)), new { @class = "kendoDropDown listBoxCustomWidth itemCategory", @data_indexCategory = i })                                            
                                            }
                                            else
                                            {

                                            }
                                        </td>
                                        <td style="width: 190px">@( Model.FindingRecommendations[i].LastUpdate.HasValue ? Model.FindingRecommendations[i].LastUpdate.Value.ToString("dd MMM yyyy") : string.Empty)
                                            @Html.HiddenFor(x => x.FindingRecommendations[i].LastUpdate, new { @class = "itemLastUpdate" })
                                            @Html.HiddenFor(x => x.FindingRecommendations[i].FindingRecommendationId, new { @data_indexMain = i, @class = "itemFindingID" })
                                        </td>
                                        <td style="width: 40px">
                                            <div class="inline-block">
                                                <input type="button" class="trClosest cursorPointer closeFinding itemCloseFinding originalrowadittional" data-index='@i' onclick="deleteRow(this)"/>
                                                <input type="button" class="noBorder operationButton arrow cursorPointer" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">

                                            <div class="padding10">
                                                <div class="inline-block w48 leftAlign">
                                                    <h6 class="boldFont verticalMargin10">@Localization.GetText("Findings")</h6>
                                                    @Html.TextAreaFor(x => x.FindingRecommendations[i].Finding, new { @rows = "3", @placeholder = Localization.GetText("Explain finding"), @class = "itemFinding", @maxlength = "2000" })
                                                </div>
                                                <div class="inline-block w48">
                                                    <h6 class="boldFont verticalMargin10">@Localization.GetText("Recommendations")</h6>
                                                    @Html.TextAreaFor(x => x.FindingRecommendations[i].Recommendation, new { @rows = "3", @placeholder = Localization.GetText("Propose recomendation"), @class = "itemRecommendation", @maxlength = "2000" })
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                                               }   
                    }
                </tbody>
            </table>
            <div id="newFANDR" class="centerAlign addOneWrapper centerContent verticalMargin20">
                <div class="addOneContainer w100 h100">
                    <input id="Btn_AgregateNewFinding" type="button" value="@Localization.GetText("New")" title="@Localization.GetText("New")" class="noBorder h100 addOne cursorPointer w100" />
                </div>
            </div>
            <div class="verticalMargin80-0-20 relative h100px">
                <div class="inline-block w23 rightAlign absolute absRight">
                    <a class="button" title="@Localization.GetText("Cancel")" href="@(Url.Action("DetailsFindingRecommendation", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">@Localization.GetText("Cancel")</a>
                    <input type="submit" class="button yellowButton" value=" @Localization.GetText("Save")">
                </div>
            </div>
        </div>
    }
</div>
