@model IDB.MW.Domain.Models.FindingRecomendations.MatrixChangesEditModel
@using IDB.Architecture.Language

@section JavaScript {
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo/kendo.common.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/FindingAndRecomendations/ui_fi_002_edit.css")"/>
    <!-- JS Files -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablesorter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.tablednd.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/FindingRecomendations/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/concurrence.js"  + @System.Configuration.ConfigurationManager.AppSettings["cache"].ToString())"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tableUIFI002Edit').find('.arrow').click();
            
        });
    </script>
    <!-- End Files Scripts -->
}

<div id="ui_fi_002_edit" class="padding20">
    @using (Html.BeginForm("MatrixChangesEdit", "FindingRecommendation", FormMethod.Post, new { id = "MatrixChangesEdit", area = "FindingRecomendations" }))
    { 
        @Html.HiddenFor(x=>x.OperationNumber)
        @Html.HiddenFor(x=>x.ResultsMatrixId)
        <div class="lineHeight2em verticalMargin20">
            <div class="inline-block w75">
                <h3 class="font2em">@Localization.GetText("Findings and recomendations")</h3>
            </div>
        </div>
    <div class="tabsContainer verticalMargin20">
        @*<div class="inline-block tabItem w17 p10 active" id="Clauses" data-route="@Url.Action("Index", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Contractual Clauses")</div>
        <div class="inline-block tabItem w17 p10" id="Matrixchanges" data-route="@Url.Action("DetailsMatrixChanges", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Changes to the Matrix")</div>*@
        <div class="inline-block tabItem w17 p10" id="Delays" data-route="@Url.Action("DetailsDelays", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Delays in Achievement")</div>
        @*<div class="inline-block tabItem w17 p10" id="Risk" data-route="@Url.Action("DetailsRiskManagement", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Risk Management")</div>*@
        <div class="inline-block tabItem w20 p10" id="Additional" data-route="@Url.Action("DetailsFindingRecommendation", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = @Model.OperationNumber })">@Localization.GetText("Overall Project Management")</div>
    </div>
        <div class="verticalMargin80-0-20 h50px relative">
            <div class="inline-block w48 leftAlign absolute">
                <div class="collapseControl greenBackground right">
                    <label for="collapseControlButton" class="whiteDotContainer inline-block cursorPointer">
                        <span class="colorBackground relative">
                            <span class="whiteDot absolute">@Localization.GetText("White dot")</span>
                        </span>
                    </label>
                    <input id="collapseControlButton" name="collapseControlButton" type="button" value="@Localization.GetText("Collapse All")" class="cursorPointer inline-block allExpanded">
                </div>
            </div>
            <div class="rightAlign inline-block w48 absolute absRight">
                <a class="button" title="@Localization.GetText("Cancel")" href="/FindingRecomendations/FindingRecommendation/DetailsMatrixChanges?operationNumber=UR-L1050">@Localization.GetText("Cancel")</a>
                <input type="submit" class="button yellowButton" value="@Localization.GetText("Save")" title="@Localization.GetText("Save")">
            </div>
        </div>
        
        <div class="verticalMargin20">
            <table id="tableUIFI002Edit" class="grid w100 noInnerPadding fixedValues sortable">
                <thead>
                    <tr>
                        <th style="width:50%;">@Localization.GetText("Name")</th>
                        <th style="width:45%;">@Localization.GetText("Type of change")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.MatrixChanges.Count; i++)
                    {  
                        <tr>
                            <td colspan="8">
                                <table class="w100 innerGrid">
                                    <tr>
                                        @Html.HiddenFor(x => x.MatrixChanges[i].ChangeType)
                                        @Html.HiddenFor(x => x.MatrixChanges[i].ElementName)
                                        @Html.HiddenFor(x => x.MatrixChanges[i].IsChanged)
                                        @Html.HiddenFor(x => x.MatrixChanges[i].MatrixChangeId)
                                        @Html.HiddenFor(x => x.MatrixChanges[i].Reason)

                                        <td style="width:50%; text-align:left;">@Model.MatrixChanges[i].ElementName</td>
                                        <td style="width:45%; text-align:left;">@Model.MatrixChanges[i].ChangeType</td>
                                        <td>
                                            <input type="button" class="noBorder operationButton arrow cursorPointer" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">
                                            <div class="padding10">
                                                <div class="verticalMargin10">
                                                    <h6 class="boldFont verticalMargin10">@Localization.GetText("Reason")</h6>
                                                    <p class="verticalMargin10">@Model.MatrixChanges[i].Reason</p>
                                                </div>
                                                <div class="verticalMargin10">
                                                    <div class="inline-block w48 leftAlign">
                                                        <h6 class="boldFont verticalMargin10">@Localization.GetText("Findings:")</h6>
                                                         @Html.TextAreaFor(x => x.MatrixChanges[i].Finding, new Dictionary<string, Object> { { "class", "input normal w94" }, { "name", "Finding" }, { "id", "Finding" }, { "cols", "55" }, { "rows", "3" }, { "placeholder", Localization.GetText("Describe Finding") },{ "maxlength", "500" } })
                                                    </div>
                                                    <div class="inline-block w48 rightAlign">
                                                        <h6 class="boldFont verticalMargin10">@Localization.GetText("Recommendations:")</h6>
                                                        @Html.TextAreaFor(x => x.MatrixChanges[i].Recommendation, new Dictionary<string, Object> { { "class", "input normal w94" }, { "name", "Recommendation" }, { "id", "Finding" }, { "cols", "55" }, { "rows", "3" }, { "placeholder", Localization.GetText("Proposed Recommendation") },{ "maxlength", "500" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="rightAlign inline-block w100">
            <a class="button" title="@Localization.GetText("Cancel")" href="@(Url.Action("DetailsMatrixChanges", "FindingRecommendation", new { area = "FindingRecomendations", operationNumber = Model.OperationNumber }))">@Localization.GetText("Cancel")</a>
            <input type="submit" class="button yellowButton" value="@Localization.GetText("Save")">
        </div>
    }
</div>
