@using Microsoft.Ajax.Utilities
@using IDB.Architecture.Language
@using IDB.MW.Domain.Models.Global
@using NewConfluence
@using IDB.Presentation.MVC4.Models.Documents

@model IDB.Presentation.MVC4.Models.Documents.OperationLevelDocumentViewModel
@{
    var selectDocuments = Model.Filter.PaginationOptions.Select(i => new SelectListItem
    {
        Selected = i == Model.Filter.Take,
        Text = string.Format("{0} {1}", i, Localization.GetText("Documents displayed")),
        Value = i.ToStringInvariant()
    });
}

<div id="ui_gl_004" class="row">

    @using (Ajax.BeginForm("ConvergenceDocumentFilter", "Document",
                                   new DocumentFilterViewModel
                                   {
                                       OperationNumber = Model.OperationNumber,
                                       TabId = Model.TabId
                                   },
                                   new AjaxOptions()
                                   {
                                       HttpMethod = "Post",
                                       UpdateTargetId = "documentSection",
                                       InsertionMode = InsertionMode.Replace,
                                       AllowCache = false,
                                       OnBegin = "filterBegin",
                                       OnFailure = "filterFail",
                                       OnSuccess = "filterSuccess",
                                       OnComplete = "filterComplete"
                                   },
                                   new { id = "contentForm" }))
    {

        @Html.HiddenFor(mbox => mbox.Filter.Skip)
        @Html.HiddenFor(mbox => mbox.Filter.CurrentPage)
        @Html.HiddenFor(mbox => mbox.Filter.OperationNumber)
        @Html.HiddenFor(mbox => mbox.Filter.TabId)
        @Html.HiddenFor(mbox => mbox.Filter.PaginationOptions)
        @Html.HiddenFor(mbox => mbox.Filter.Take)

        <div class="header mt1em mb1em">
            @Confluence.LabelMainTitle(Localization.GetText("DM.ConvergenceDocument.Title"))
            @Confluence.Label(Localization.GetText("DM.ConvergenceDocument.Subtitle"))
        </div>

        <div id="searchBoxContainerGlobal004" class="filterNormal small">
            <div class="row form-group">
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Filter.LocalDocument.DocumentReference, new { @class = "grayBorder form-control inputdefault", placeholder = Localization.GetText("Doc Number") })
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Filter.LocalDocument.Description, new { @class = "grayBorder form-control inputdefault", placeholder = Localization.GetText("cm-lc-document-name") })
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Filter.LocalDocument.User, new { @class = "grayBorder form-control inputdefault", placeholder = Localization.GetText("Author") })
                </div>
                <div class="col-md-3">
                    <input type="submit" class="button blueButton pull-right ml20" value='@Localization.GetText("COMMON.Search")'>
                    <input type="button" class="button buttonOrange clearAllFilters pull-right" value='@Localization.GetText("Common.ClearAll")' onclick="clearAllFilters()" />

                </div>
            </div>
        </div>

        <div class="row mt0">
            <div class="col-md-3">
                @Confluence.InputDropDown(Model.Filter.Take.ToString(), "Filter.Take", selectDocuments, showEmptyOption: false, required: true, width: "100%", orderAsc: false)
            </div>
            <div class="col-md-9"></div>
        </div>
    }
</div>

<div class="row mt20 mb10">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        @if (Model.DisplayUploadDocument)
        {
            <button type="button" id="btnShowDocumentModal" onclick="startNewModalDocuments()" class="buttonBlue pull-right">
                @Localization.GetText("DM.Add.Document")
            </button>
            @DocumentManagement.Modal(new IDB.Presentation.MVC4.Models.Documents.SearchDocumentModalViewModel
           {
               SearchModalId = "docTable",
               MultipleSelection = true,
               TargetFunction = "addDocument",
               BusinessAreaCode = "BA_GENERAL_DOCUMENTS",
               OperationNumber = Model.OperationNumber,
               LibraryList = Model.EzshareLibraryList
           })
        }

    </div>
</div>
<div class="row">
    @Html.Partial("~/Views/Document/ConvergenceDocumentFilter.cshtml", Model)
</div>