@model IDB.Presentation.MVC4.Areas.SupervisionPlan.Models.SPOperationBudgetViewModel
<div class="row col-md-12 mb20">
    @Confluence.LabelMainTitle(Localization.GetText("SP.OperationBudget.Title"))
</div>

<div class="row mb20">
    <div class="col-md-1">
        @Confluence.LabelsGroup(
            Localization.GetText("SP.OperationBudget.ExecutionTable.Year"),
            Confluence.Label(Model.SelectedYear),
            false)
    </div>
    <div class="col-md-9"></div>
    <div class="col-md-2">
        <div class="pull-right">
            @Confluence.LabelsGroup(
                Localization.GetText("SP.OperationBudget.ExecutionTable.FilterByYear"),
                Confluence.InputDropDown(
                    value: Model.SelectedYear,
                    name: "Years",
                    elements: Model.Years,
                    placeholder: null,
                    showEmptyOption: false,
                    orderAsc: false),
                false) 
        </div>
    </div>
</div>

<div class="row col-md-12 mt20 mb20">
    <div class="wp20">
        @Confluence.LabelsGroup(
            Localization.GetText("SP.OperationBudget.ExecutionTable.Original"),
            string.Empty,
            false)
    </div>
    <div class="wp20">
        @Confluence.LabelsGroup(
            Localization.GetText("SP.OperationBudget.ExecutionTable.Allocate"),
            Confluence.LabelMoney(Model.SpOperationBudgetDto.InternalAllocated),
            false)
    </div>
    <div class="wp20">
        @Confluence.LabelsGroup(
            Localization.GetText("SP.OperationBudget.ExecutionTable.OverOriginal"),
            Confluence.LabelMoney(Model.SpTotalValuesDto.PercentOverOriginal),
            false)
    </div>
    <div class="wp20">
        @Confluence.LabelsGroup(
            Localization.GetText("SP.OperationBudget.ExecutionTable.OverInternal"),
            string.Empty,
            false)
    </div>
    <div class="wp20">
        @Confluence.LabelsGroup(
            Localization.GetText("SP.OperationBudget.ExecutionTable.Balance"),
            Confluence.LabelDecimalPercent(Model.SpTotalValuesDto.BalanceInternal),
            false)
    </div>
</div>

<table class="tableNormal tableBudget">
    <thead>
        <tr>
            <th colspan="2" class="noBackground"></th>
            <th colspan="4">@Localization.GetText("SP.OperationBudget.ExecutionTable.Ammount")</th>
        </tr>
        <tr>
            <th class="perw15">@Localization.GetText("SP.OperationBudget.ExecutionTable.Source")</th>
            <th class="perw10">@Localization.GetText("SP.OperationBudget.ExecutionTable.TotalProjected")</th>
            <th class="skinGray">@Localization.GetText("SP.OperationBudget.ExecutionTable.Travel")</th>
            <th class="skinGray">@Localization.GetText("SP.OperationBudget.ExecutionTable.Consultant")</th>
            <th class="skinGray">@Localization.GetText("SP.OperationBudget.ExecutionTable.Other")</th>
            <th class="skinTotalColumn">@Localization.GetText("COMMON.Total")</th>
            <th>@Localization.GetText("SP.OperationBudget.ExecutionTable.Total")</th>
        </tr>
    </thead>
    <tbody>
        <tr data-id>
            <td class="bold">@Localization.GetText("SP.OperationBudget.VPS")</td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransVPS.TotalProjected,
                    htmlClass: "bold")
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransVPS.ActualCommitmentAmountTravel)
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransVPS.ActualCommitmentAmountConsultant)
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                   valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransVPS.ActualCommitmentAmountOther)
            </td>
            <td class="text-right skinTotalSource">
                @Confluence.LabelDecimal(
                    Model.SpOperationBudgetDto.BudgetSourceAmountsTransVPS.ActualCommitmentAmountTotal,
                    htmlClass: "bold")
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpTotalValuesDto.BudgetSourceAmountsTransVPSTotal,
                    htmlClass: "bold")
            </td>
        </tr>
        @if (Model.SpOperationBudgetDto.StageCode == IDB.MW.Domain.Values.SupervisionPlan.OperationBudgetValues.OPERATION_PHASE_EXECUTION)
        {
            <tr data-id>
                <td class="bold">@Localization.GetText("SP.OperationBudget.VPC")</td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                        valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransVPC.TotalProjected,
                        htmlClass: "bold")
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                        valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransVPC.ActualCommitmentAmountTravel)
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                        valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransVPC.ActualCommitmentAmountConsultant)
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                        valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransVPC.ActualCommitmentAmountOther)
                </td>
                <td class="text-right skinTotalSource">
                    @Confluence.LabelDecimal(
                        valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransVPC.ActualCommitmentAmountTotal,
                        htmlClass: "bold")
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                        valor: Model.SpTotalValuesDto.BudgetSourceAmountsTransVPCTotal,
                        htmlClass: "bold")
                </td>
            </tr>
        }
        <tr data-id>
            <td class="bold">@Localization.GetText("SP.OperationBudget.ESG")</td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransESG.TotalProjected,
                    htmlClass: "bold")
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransESG.ActualCommitmentAmountTravel)
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransESG.ActualCommitmentAmountConsultant)
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransESG.ActualCommitmentAmountOther)
            </td>
            <td class="text-right skinTotalSource">
                @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTransESG.ActualCommitmentAmountTotal,
                    htmlClass: "bold")
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpTotalValuesDto.BudgetSourceAmountsTransESGTotal,
                    htmlClass: "bold")
            </td>
        </tr>
        @if (Model.SpOperationBudgetDto.StageCode == IDB.MW.Domain.Values.SupervisionPlan.OperationBudgetValues.OPERATION_PHASE_EXECUTION)
        {
            <tr data-id>
                <td class="bold">@Localization.GetText("SP.OperationBudget.Fiduciary")</td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsFiduciary.TotalProjected,
                    htmlClass: "bold")
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsFiduciary.ActualCommitmentAmountTravel)
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsFiduciary.ActualCommitmentAmountConsultant)
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsFiduciary.ActualCommitmentAmountOther)
                </td>
                <td class="text-right skinTotalSource">
                    @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsFiduciary.ActualCommitmentAmountTotal,
                    htmlClass: "bold")
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                    valor: Model.SpTotalValuesDto.BudgetSourceAmountsFTotal,
                    htmlClass: "bold")
                </td>
            </tr>
            <tr data-id>
                <td class="bold">@Localization.GetText("SP.OperationBudget.TechnicalCooperation")</td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTCs.TotalProjected,
                    htmlClass: "bold")
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTCs.ActualCommitmentAmountTravel)
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTCs.ActualCommitmentAmountConsultant)
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTCs.ActualCommitmentAmountOther)
                </td>
                <td class="text-right skinTotalSource">
                    @Confluence.LabelDecimal(
                    valor: Model.SpOperationBudgetDto.BudgetSourceAmountsTCs.ActualCommitmentAmountTotal,
                    htmlClass: "bold")
                </td>
                <td class="text-right">
                    @Confluence.LabelDecimal(
                    valor: Model.SpTotalValuesDto.BudgetSourceAmountsTCTotal,
                    htmlClass: "bold")
                </td>
            </tr>
        }
        <tr class="bold blackColor">
            <td class="bold">@Localization.GetText("SP.OperationBudget.TotalFunding")</td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpTotalValuesDto.TotalPerFundingSourceTotalTotalProjected,
                    htmlClass: "bold")
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    Model.SpTotalValuesDto.TotalPerFundingSourceTotalTravel,
                    htmlClass: "bold")
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpTotalValuesDto.TotalPerFundingSourceTotalConsultant,
                    htmlClass: "bold")
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpTotalValuesDto.TotalPerFundingSourceTotalOther,
                    htmlClass: "bold")
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpTotalValuesDto.TotalActualCommitmentAmountTotal,
                    htmlClass: "bold")
            </td>
            <td class="text-right">
                @Confluence.LabelDecimal(
                    valor: Model.SpTotalValuesDto.TotalPerFundingSourceTotalTotal,
                    htmlClass: "bold")
            </td>
        </tr>
    </tbody>
</table>

@Html.Partial("~/Areas/SupervisionPlan/Views/OperationBudget/Partials/_buttonDownload.cshtml")
