@using IDB.MW.Application.DEMModule.ViewModels

@model DemViewModel

@if (Model != null)
{

    var tabsList = new Dictionary<string, string>
        {
            {"tabSummary",
                Localization.GetText("Development effectiveness summary - English Version")},
            {"tabResumen",
                Localization.GetText("Resumen de la matrix de efectividad en el desarrollo - Spanish Version")},
        };

    @Confluence.Tabs(tabsList)

    <div id="seccionSummary" class="tab-content">

        <div class="tab-pane" id="tabSummary"
             data-parsley-validate="data-parsley-validate" 
             data-parsley-excluded="[disabled]"
             data-ignore-nullable-values="false"
             data-url="@Url.Action("Summary", "Save", new { area = "DEM" })"
             data-loadurl="@Url.Action("SummaryPartialView", "View", new { area = "DEM", demOperationId = Model.DemOperationId, currentRole = Model.CurrentRole })">

            @if (Model.Summary != null)
            {
                Model.Summary.Required = Model.Required;
                Model.Summary.Justification = Model.Justification;
                Model.Summary.OperationNumber = Model.OperationNumber;
                Model.Summary.Language = Language.EN;
                @Html.Partial("Partials/Tabs/PSummaryDualVersion", Model.Summary)

            }
        </div>

        <div class="tab-pane" id="tabResumen"
             data-parsley-validate="data-parsley-validate"
             data-parsley-excluded="[disabled]"
             data-ignore-nullable-values="false"
             data-url="@Url.Action("Summary", "Save", new { area = "DEM" })"
             data-loadurl="@Url.Action("ResumenPartialView", "View", new { area = "DEM", demOperationId = Model.DemOperationId })">

            @if (Model.Resumen != null)
            {
                Model.Resumen.Required = Model.Required;
                Model.Resumen.Justification = Model.Justification;
                Model.Resumen.OperationNumber = Model.OperationNumber;
                Model.Resumen.Language = Language.ES;
                @Html.Partial("Partials/Tabs/PSummaryDualVersion", Model.Resumen)
            }
        </div>

   </div>
}