@using IDB.MW.Application.DEMModule.ViewModels
@using IDB.MW.Domain.Values.Dem

@model DemViewModel
<div id="ValidationProcess">
    <div class="header">
        <div class="col-md-6" style="padding-left:0px; margin-bottom:8px !important;"></div>
    </div>

    <div class="dataTables_wrapper no-footer">
        <table id="ValidationProcessTable" class="tableNormal " data-idb-fieldname="tblValidationProcess">
            <thead>
                <tr data-id="" role="row">
                    <th class="text-center col-md-1">@Localization.GetText("R6.DEM.ValidationProcess.Date")</th>
                    <th class="text-center col-md-1">@Localization.GetText("R6.DEM.ValidationProcess.User")</th>
                    <th class="text-center col-md-2">@Localization.GetText("R6.DEM.ValidationProcess.Role")</th>
                    <th class="text-center col-md-1">@Localization.GetText("R6.DEM.ValidationProcess.Stage")</th>
                    <th class="text-center col-md-2">@Localization.GetText("R6.DEM.ValidationProcess.Status")</th>
                    <th class="text-center col-md-1">@Localization.GetText("R6.DEM.ValidationProcess.Action")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var listItem in Model.ValidationProcessStatus)
                {
                    <tr data-id="" role="row" class="rowContent">
                        <td class="text-center">
                            <span>
                                @Confluence.Label(Convert.ToDateTime(listItem.Date).ToString("dd MMM yyyy"))
                            </span>
                        </td>
                        <td>
                            <span>
                                @Confluence.Label(listItem.User)
                            </span>
                        </td>
                        <td>
                            <span>
                                @Confluence.Label(listItem.Role)
                            </span>
                        </td>
                        <td class="text-center">
                            <span>
                                @Confluence.Label(listItem.Stage)
                            </span>
                        </td>
                        <td>
                            <span>
                                @Confluence.Label(listItem.Status)
                            </span>
                        </td>
                        <td class="text-center">
                            <div>
                                @if (Model.ValidationProcessStatus.IndexOf(listItem).Equals(0))
                                {
                                    <span class="sameLineIcons">
                                        @if (Model.CanDownloadChecklist)
                                        {
                                            @Confluence.ButtonExcel(
                                               "Excel Generator",
                                               "downloadDocument",
                                               false,
                                               dataAttributes: new Dictionary<string, string>
                                               {
                                                   { "idb-fieldname", "btnXls" },
                                                   { "DEMVersion", "Completed" }
                                               })
                                        }
                                    </span>
                                }
                                
                                @if (!Model.ValidationProcessStatus.IndexOf(listItem).Equals(0) &&
                                    listItem.Stage == DemGlobalValues.STAGE_QRR &&
                                    listItem.Status == DemGlobalValues.SPD_REVIEW_STATUS)
                                {
                                    <span class="sameLineIcons">
                                        @if (Model.CanDownloadChecklist && 
                                            (Model.CanDownloadSpecialist || Model.CanDownloadCoordinator) )
                                        {
                                            @Confluence.ButtonExcel(
                                               "Excel Generator",
                                               "downloadDocument",
                                               false,
                                               dataAttributes: new Dictionary<string, string>
                                               {
                                                   { "idb-fieldname", "btnXls" },
                                                   { "DEMVersion", "SPD-QRR" }
                                               })
                                        }
                                    </span>
                                }
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="footer">
        <div class="row grouping-section mt10 col-md-12">
            @if ((Model.CurrentRole == Role.SPD_SPECIALIST || 
                Model.CurrentRole == Role.SPD_DEM_COORDINATOR) && 
                Model.OfflineIsEnabled)
            {
                <div class="col-md-6">
                    <div class="mt40 w850">
                        @Confluence.LabelBold(
                            Localization.GetText("R6.DEM.ValidationProcessStatus.MessageMandatory.EmergencyInstructionsTitle"), 
                            htmlClass: "DemSubtitleGroup")

                        <br /><br />

                        <p class="mb5">@Confluence.LabelBold(
                            Localization.GetText("R6.DEM.VPS.InformationSection.OfflineInstructions.Subtitle"))</p>
                        
                        <p class="mb5">@DemGlobalValues.ONE @Confluence.Label(
                            Localization.GetText("R6.DEM.VPS.InformationSection.Line1"))</p>

                        <br />

                        <p class="mb5">@DemGlobalValues.TWO @Confluence.Label(
                            Localization.GetText("R6.DEM.VPS.InformationSection.Line2"))</p>

                        @Confluence.ButtonExcel(
                            "Excel Generator",
                            "downloadDocument",
                            false,
                            clase: "DemLeft",
                            dataAttributes: new Dictionary<string, string>
                            {
                                { "idb-fieldname", "btnXls" },
                                { "DEMVersion", "Draft" }
                            })

                        <br />

                        <p class="mb5">@DemGlobalValues.THREE @Confluence.Label(
                            Localization.GetText("R6.DEM.VPS.InformationSection.Line3"))</p>

                        <br />

                        <div class="row pl15 mb20">
                            <input type="file" accept=".xls,.xlsx" class="inputFile" name="file" style="display: none;">
                            @Confluence.ButtonBlue(
                                text: Localization.GetText("R6.DEM.ValidationProcess.Add"),
                                name: "documentsAdd",
                                action: "clickAddDocument",
                                dataAttributes: new Dictionary<string, string>
                                {
                                    { "id", "addDEMDocument" },
                                    { "idb-fieldname", "btnAddDocuments" }
                                })
                        </div>

                        <p class="mb5">@DemGlobalValues.FOUR @Confluence.Label(
                            Localization.GetText("R6.DEM.VPS.InformationSection.Line4"))</p>
                    </div>
                </div>
            }
        </div>
    </div>

</div>