@using IDB.Architecture.Language
@using IDB.MW.Application.OPUSModule.ViewModels.OperationDataService

@model StrategicAlignmentViewModel

<input type="hidden" id="hidSADataViewModel" value="@Model.SerializedViewModelSA" />
<div data-pagemode="edit">
    <input type="hidden" id="isERMCompleted" name="isERMCompleted" value="@Model.IsERMCompleted.ToString()" />
    <input type="hidden" id="isOperationApproved" name="isOperationApproved" value="@Model.IsOperationApproved.ToString()" />
    <input type="hidden" id="isOperationPCRStarted" name="isOperationPCRStarted" value="@Model.ISOperationPCRStarted.ToString()" />
    <input type="hidden" id="ResultMatrixId" name="ResultMatrixId" value="@Model.ResultMatrixId.ToString()" />
</div>
<div class="row mb40">
    <div class="grouping-section col-md-12">
        @Confluence.LabelSubTitleGroup(Localization.GetText("OP.OD.StrategicAlignment.Title"))
    </div>
    @if (Model.IsOperationTCType)
    {
        <div class="col-md-12 mt10">
            @Confluence.Label(Localization.GetText("R6.DEM.StrategicAlignment.Instructions"), htmlClass: "titleLabel")
        </div>
    }
    else if (Model.IsOperationSGType)
    {
        <div class="col-md-12 mt10">
            @Confluence.Label(Localization.GetText("R6.DEM.StrategicAlignment.Instructions"), htmlClass: "titleLabel")
        </div>
    }
</div>
@if (Model.ISOperationPCRStarted ||
    (Model.IsModuleDEM && Model.IsCompletedVersion) ||
    (Model.IsOperationApproved))
{
    <div>
        @Html.Partial(
            "~/Areas/DEM/Views/View/Partials/Tabs/StrategicAlignment/StrategicAlignmentIndicatorReadPartialDem.cshtml",
            Model.IndicatorDataList)
    </div>
}
else
{
    <div>
        @Html.Partial(
            "~/Areas/DEM/Views/View/Partials/Tabs/StrategicAlignment/StrategicAlignmentIndicatorEditPartialDem.cshtml",
            Model.IndicatorDataList)
    </div>
}
<div class="row mb10">
    <div class="col-md-12 grouping-section">
        @Confluence.LabelSubTitleGroup(Localization.GetText("OP.OD.CountryStrategyCountryProgramAlignment.Title"))
    </div>
</div>
@if (Model.IsCountryStrategyAlignmentIncluded)
{
    if (Model.IsOperationApproved || 
        (Model.IsModuleDEM && Model.IsCompletedVersion))
    {
        <div id="country-strategic" class="mb50 pl8">
            @Html.Partial(
           "~/Areas/DEM/Views/View/Partials/Tabs/StrategicAlignment/StrategicAlignmentCountryStrategyReadPartialDem.cshtml",
           Model.CountryStrategyData)
        </div>
    }
    else
    {
        <div  id="country-strategic" class="mb50 pl8">
            @Html.Partial(
                "~/Areas/DEM/Views/View/Partials/Tabs/StrategicAlignment/StrategicAlignmentCountryStrategyEditPartialDem.cshtml",
                Model.CountryStrategyData)
        </div>
    }
}
@if (Model.CountryProgramData != null)
{
    if (Model.IsOperationApproved ||
        (Model.IsModuleDEM && Model.IsCompletedVersion))
    {
        <div class="mb50 pl8">
            @Html.Partial(
                "~/Areas/DEM/Views/View/Partials/Tabs/StrategicAlignment/StrategicAlignmentCountryProgramReadPartialDem.cshtml",
                Model.CountryProgramData)
        </div>

    }
    else
    {
        <div class="mb50 pl8">
            @Html.Partial(
                "~/Areas/DEM/Views/View/Partials/Tabs/StrategicAlignment/StrategicAlignmentCountryProgramPartialDem.cshtml",
                Model.CountryProgramData)
        </div>
    }
}

