<div id="tablePagContentChangeHistory">
    <table id="tablePagChangeHistory" class="tableNormal">
        <thead>
            <tr>
                <th class="sort" order-type="text">
                    @Localization.GetText("COMMON.Action")
                </th>
                <th class="sort" order-type="text">
                    @Localization.GetText("COMMON.OperationNumber")
                </th>
                <th class="sort" order-type="text">
                    @Localization.GetText("OP.OD.TabBasicData.RelatedOperations.RelationshipType")
                </th>
                <th class="sort" order-type="text">
                    @Localization.GetText("OP.OD.TabBasicData.RelatedOperations.RelationshipRole")
                </th>
                <th class="sort" order-type="text">
                    @Localization.GetText("OP.RP.RolesAndPermission.ModifiedBy")
                </th>
                <th id="modifiedChangeHistory" class="sort" order-type="date">
                    @Localization.GetText("VER.Homepage.TabVersionHistory.Modified")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var relatedOperation in Model.RelatedOperations)
            {
                <tr data-id="@relatedOperation.RelatedOperationsHistoryId">
                    <td>@relatedOperation.Action</td>
                    <td>@relatedOperation.OperationNumber</td>
                    <td>@relatedOperation.RelationshipType</td>
                    <td>@relatedOperation.RelationshipRole</td>
                    <td>@relatedOperation.ModifiedBy</td>
                    <td>@relatedOperation.Modified</td>
                </tr>
            }
        </tbody>
    </table>
</div>