@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan;
@model CriticalModel
<div class="modalAddDetailed">
    <div class="pull-right">
        @Confluence.ButtonLink(Localization.GetText("SP.Summary.Cancel"), "CancelAddCrAct", action: "CancelAddCrAct", htmlClass: "btn btn-link")
        @Confluence.ButtonBlue(Localization.GetText("SP.Summary.Add"), "AddCrAct", action: "AddCrAct", htmlClass: "btn btn-primary")

    </div>
    <div class="col-md-12 pl0 pr0">
        <hr class="mb10 mt10"/>
    </div>
    <table class="tableNormal mb10 scroll">
        <thead>
            <tr>
                <th class="w540">@Localization.GetText("SP.Summary.ModalCriticalProduct.Description")</th>
                <th class="w70">@Localization.GetText("SP.Summary.ModalCriticalProduct.Quartier")</th>
                <th class="w100">@Localization.GetText("SP.Summary.ModalCriticalProduct.Compliance")</th>
                <th class="w100">@Localization.GetText("SP.Summary.ModalCriticalProduct.completionDate")</th>
                <th class="hide"></th>
                <th class="w50">@Localization.GetText("SP.Summary.ModalMilestone.Add")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var critical in Model.CriticalsProducts)
            {
                <tr data-id data-critical-id="@critical.CriticalProductId" data-new-row>
                    <td class="w540">@critical.Description</td>
                    <td class="text-center w70">
                        @if (critical.QuarterId != null)
                        {
                            @Model.LocalizedQuarterValue[critical.QuarterId.Value]
                        }
                    </td>
                    <td class="text-center w100">
                        @if (critical.DetailedComplianceId != null)
                        {
                            @Model.LocalizedComplianceValue[critical.DetailedComplianceId.Value]
                        }
                    </td>
                    <td class="text-center w100">@Confluence.LabelGetDate(critical.CompletionDate)</td>
                    <td class="hide text-center">@Confluence.ButtonTrash("", null, "DelCriticalActivityDetailed")</td>
                    <td class="checktd text-center w50">@Confluence.InputCheckbox(false, "selectOutput")</td>
                </tr>
            }
        </tbody>
    </table>
</div>