@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan;
@model List<OutputModel>
<div class="modalAddDetailed">
    <div class="pull-right">
        @Confluence.ButtonLink(Localization.GetText("SP.Summary.Cancel"), "CancelAddCrAct", action: "CancelAddCr", htmlClass: "btn btn-link")
        @Confluence.ButtonBlue(Localization.GetText("SP.Summary.Add"), "AddCrAct", action: "AddCr", htmlClass: "btn btn-primary")

    </div>
    <div class="col-md-12 pl0 pr0">
        <hr class="mb10 mt10" />
    </div>
    <table class="tableNormal mb10 scroll">
        <thead>
            <tr>
                <th class="w230">@Localization.GetText("SP.Summary.ModalMilestone.ComponentName")</th>
                <th class="w590">@Localization.GetText("SP.Summary.ModalMilestone.OutputName")</th>
                <th class="hide"></th>
                <th>@Localization.GetText("SP.Summary.ModalMilestone.Add")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var output in Model)
            {
                <tr data-id data-new-row data-output-id="@output.Id">
                    <td class="w230">@output.Component</td>
                    <td class="w590">@output.ProjectName</td>
                    <td class="hide text-center">@Confluence.ButtonTrash("", action: "deleteOutput")</td>
                    <td class="checktd w45">@Confluence.InputCheckbox(false, "selectOutput")</td>
                </tr>
                foreach (var milestone in output.Milestones)
                {
                    <tr data-id data-output-id="@output.Id" data-new-row data-milestone-id="@milestone.MilestoneId">
                        <td class="pl50" colspan="2">@Localization.GetText("Milestone"): @milestone.MilestonesName</td>
                        <td class="checktd">@Confluence.InputCheckbox(false, "selectOutput")</td>
                        <td class="hide text-center">@Confluence.ButtonTrash("", action: "deleteMilestones")</td>
                    </tr>

                }
            }
        </tbody>
    </table>

</div>