@using IDB.MW.Business.SupervisionPlan.ViewModels.SupervisionPlan;
@model List<RiskModel>
<div class="modalAddDetailed">
    <div class="pull-right">
        @Confluence.ButtonLink(Localization.GetText("SP.Summary.Cancel"), "CancelAddRisk", action: "CancelAddRisk", htmlClass: "btn btn-link")
        @Confluence.ButtonBlue(Localization.GetText("SP.Summary.Add"), "AddRisk", action: "AddcrRisk", htmlClass: "btn btn-primary")

    </div>
    <div class="col-md-12 pl0 pr0">
        <hr class="mb10 mt10" />
    </div>
    <table class="tableNormal mb10 scroll">
        <thead>
        <tr>
            <th class="w610">@Localization.GetText("SP.Summary.Risk.Description")</th>
            <th class="w125">@Localization.GetText("SP.Summary.Risk.Type")</th>
            <th class="w85">@Localization.GetText("SP.Summary.Risk.Probability")</th>
            <th class="hide"></th>
            <th>@Localization.GetText("Add")</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var risk in Model)
        {
            <tr data-id data-risk-id="@risk.Id" data-new-row>
                <td class="w610">@risk.Description</td>
                <td class="w135">@risk.Type</td>
                <td class="text-center w85">@risk.Probability</td>
                <td class="hide text-center">@Confluence.ButtonTrash("", action: "deleteRisk")</td>
                <td class="checktd">@Confluence.InputCheckbox(false, "selectOutput")</td>
            </tr>
        }
        </tbody>
    </table>
</div>