@using IDB.MW.Application.ESW_CIPModule.ViewModels;

@model List<ProposalListRowViewModel>
@{
    ViewBag.fixLoad = true;
}


<input hidden data-idb-pagename="pagename" />

<div id="pageContent" data-parsley-validate="data-parsley-validate"
     data-parsley-excluded="[disabled]"
     data-ignore-nullable-values="true"
     data-url="url_savecontainer">

    <input type="hidden" id="hiddenModel" value="model" />
  
    <div class="row" id="header-section">
        <div class="col-md-12">
            @Html.Partial("Partials/ProposalList/PLHeader")
        </div>
    </div>

    <div class="row" id="grid-section">
        <div class="col-md-12">
            @Html.Partial("Partials/ProposalList/PLGrid", Model)
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        function downloadProposalByYear(source) {

            var proposalId = source.closest('td').find('#hiddenProposalOperationId').val();
            var proposalType = source.closest('td').find('#hiddenProposalType').val();
            var proposalYear = source.closest('td').find('#hiddenProposalYear').val();
            var formatType = source.attr('name').toString();
            var url = '@Url.Action("DownloadProposalReport", "View", new { area = "ESW_CIP" })' + "?proposalOperationId=" + proposalId + "&proposalYear=" + proposalYear + "&proposalType=" + proposalType + "&formatType=" + formatType;
            window.open(url, '_blank');

        }

        function deleteDiscard(source) {

            var msg = '@Localization.GetText("OP.FD.Preparation.DeleteFund")';

            confirmAction(msg).done(function (pressOk) {
                if (pressOk) {
                    var url = '@Url.Action("DiscardAndDeleteProposal", "Save", new { area = "ESW_CIP" })';
                    var proposalId = source.closest('td').find('#hiddenProposalOperationId').val();

                    postUrlWithOptions(
                        url,
                        { async: true },
                        { proposalId: proposalId })
                        .done(function (response) {
                            if (response.IsValid) {
                                var reloadUrl = '@Url.Action("ProposalList", "View", new { area = "ESW_CIP" })';
                                showMessage(response.SuccessMsg, true, reloadUrl);
                            } else {
                                showMessage(response.ErrorMessage);
                            }
                        });
                }
            });
        }

    </script>
}






