@using IDB.Presentation.MVC4.Helpers
@using NewConfluence
@using IDB.MW.Domain.Values.Delegation

@model IDB.Presentation.MVC4.Areas.AdministrationSecondPhase.Models.AuthorizationAll.AuthorizationAllViewModel

@{
    ViewBag.fixLoad = true;
    ViewBag.NewDelegation = Model.DelegationId == 0;
}

@section CSS {
    @Styles.Render("~/Content/overrides/delegationOverride.css")
    @Styles.Render("~/Content/Modules/Delegation/Permission.css")
}

@section scripts{
    <script type="text/javascript">
        var globalVariables = {
            urlSearchDelegator: '@Url.Action("AuthorizeAllFilter", "DelegationView", new { area = "AdministrationSecondPhase" })',
            urlSave: '@Url.Action("AuthorizeAllSave", "DelegationSave", new { area = "AdministrationSecondPhase" })',
            currentUser: '@IDBContext.Current.UserLoginName',
            msgSelectDelegator: '@Localization.GetText("Delegation.All.SelectDelegator")',
            cancelMsg: '@Localization.GetText("OP.DE.Cancel.Warning.Message")',
            urlDownloadReport: '@Url.Action("DownloadDelegationDocumentsFileExport", "DelegationView", new { area = "AdministrationSecondPhase" })',
            delegationId: '@Model.DelegationId',
            cancelLiteral: '@Localization.GetText("Cancel")',
            continueLiteral: '@Localization.GetText("Continue")',
            msgDocumentAdmin: '@Localization.GetText("R6.DEL.Message.AddDocumentAdmin")',
            msgSameAuthorizer: '@Localization.GetText("R6.DEL.Message.DelegatorAsDelegate")',
            isAdminUser: '@Model.IsAdmin',
            newCommentUrl: '@Url.Action("GetRowCommentAuthorizeAll", "DelegationView", new { area = "AdministrationSecondPhase" })',
            actualDate: '@FunctionConfluence.DateToString(DateTime.Now)',
            msgDateError: '@Localization.GetText("Delegation.Message.ErrorDateAuthorization")',
            msgUserError: '@Localization.GetText("Delegation.Message.ErrorUserAuthorization")',
            urlLockRegister: '@Url.Action("LockRegister", "DelegationView", new {area = "AdministrationSecondPhase"})',
            urlDelegation: '@DelegationGlobalValues.URL_DELEGATION_AUTHORIZE_ALL',
            urlAllAuthorization: '@Url.Action(controllerName: "DelegationView", actionName: "AuthorizeAll")',
            urlCancelButton: '@Url.Action(controllerName: "DelegationView", actionName: "Search")',
            otherReasonId: '@Model.OtherReasonId',
            msgNoRole: '@Localization.GetText("Delegation.All.UserNotHasRoles")',
            otherReasonDocument: '@Localization.GetText("R6.DEL.Message.OtherAsReason")',
            validationUrl: '@Url.Action("ValidateDateAuthorizeAll", "DelegationView", new { area = "AdministrationSecondPhase" })'
        };
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Delegation/delegation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Delegation/authorizeAll.js")"></script>
}

<div class="col-md-12 authorizationTitle mb40 pl0">
    @Confluence.Navigation(Confluence.LabelMainTitle(Localization.GetText("Authorize All")), Url.Action(controllerName: "DelegationView", actionName: "Search"))
</div>

<div id="AuthorizeAllContent">
    @if (Model.IsEditable)
    {
        <div class="pull-right mb20">
            @Html.Partial("Partial/AuthorizeAll/Buttons")
        </div>
    }

    @if (Model.IsAdmin)
    {
        @Html.Partial("Partial/AuthorizeAll/AuthorizeAllFilterSearch", Model.Filter)
    }
    else
    {
        @Confluence.InputHidden(IDBContext.Current.UserLoginName, "User")
    }

    @Confluence.InputHidden(IDBContext.Current.UserLoginName, "SearchDelegatorName")

    <div class="mb40"></div>

    <div class="col-md-12 mt20 mb30">
        <div class="pull-left">
            @Confluence.InputDropDown("5", "ddlPagination", Model.AuthorizationAllView.DisplayOptions != null ? Html.BuildSelectItemList(Model.AuthorizationAllView.DisplayOptions, m => m.Text, m => m.Value) : new List<SelectListItem>(), placeholder: null, showEmptyOption: false, orderAsc: false, required: false, dataAttributes: new Dictionary<string, string> { { "idb-fieldname", "ddlPagination" } })
        </div>
    </div>

    <div id="tableAuthorizationContent">
        @Html.Partial("Partial/AuthorizeAll/Tables/TableFilterAuthorizationAll", Model.AuthorizationAllView)
    </div>

    <div class="mb40 hide" id="PageContent">

        <div id="UserToAssignContent">
            @Html.Partial("Partial/Delegation/UserAssign", Model.UserToAssign)
        </div>

        @Html.Partial("Partial/AuthorizeAll/CommentsAuthorizeAll", Model.CommentsDelegation)
        <div id="tableDocumentContent" class="mt30" data-loadurl="@Url.Action("AddNewDocument", "DelegationView")">
            @Html.Partial("Partial/Document/TableDocuments", Model.TableDocument, new ViewDataDictionary { { "DisplayOptions", Model.AuthorizationAllView.DisplayOptions } })
        </div>
    </div>

    @if (Model.IsEditable)
    {
        <div class="pull-right mb20">
            @Html.Partial("Partial/AuthorizeAll/Buttons")
        </div>
    }
</div>
