@Confluence.LabelMainTitle("Actual Role and Permissions", htmlClass: "mb30")

@Confluence.LabelTitleGroup("User: " + IDBContext.Current.UserName, htmlClass: "mb30")

@Confluence.LabelSubTitleGroup("Roles", htmlClass: "mb30")

@if (IDBContext.Current.Roles.Count == 0)
{
    @Confluence.Label("Without Roles")
}
else
{
    <ul>
        @foreach (var role in IDBContext.Current.Roles)
        {
            <li>@role</li>
        }
    </ul>
}


@Confluence.LabelSubTitleGroup("Permissions", htmlClass: "mt30 mb30")
@if (IDBContext.Current.Roles.Count == 0)
{
    @Confluence.Label("Without Permissions")
}
else
{
    <ul>
        @foreach (var permision in IDBContext.Current.Permissions)
        {
            <li>@permision</li>
        }
    </ul>
}