@{
    Layout = null;
}
@model IDB.MW.Application.Contacts.ViewModels.OperationContactsViewModel
<div class="col-md-12 pb10 pl0">
    @Confluence.ButtonBlue(Localization.GetText("CM.Button.Filter"), "contactFilter", htmlClass: "pull-right")
</div>
<div class="col-md-12 pl0">
    <div class="filterNormal" id="contactFilterContainer">
        <div class="row col-md-12">
            <div class="col-md-6 pl0">
                @Confluence.InputText(null, "contactName", placeholder: Localization.GetText("CM.Alt.FirstAndLastName"), htmlClass: "w100percent", required: false)
            </div>
            <div class="col-md-6 mt10">
                @if (Model.IsEnableAllContacts)
                {
                    @Confluence.InputCheckbox(true, "allContacts", label: Localization.GetText("CM.CheckBox.AllContacts"));
                }
            </div>
        </div>
        <div class="row col-md-12  marginAnnouncementMainSearch ">
            <div class="col-md-3 pl0">
                @Confluence.InputText(null, "contactTitle", placeholder: Localization.GetText("CM.Alt.Title"), htmlClass: "w100percent", required: false)
            </div>
            <div class="col-md-3">
                @Confluence.InputText(null, "contactUserName", placeholder: Localization.GetText("CM.Alt.UserName"), htmlClass: "w100percent", required: false)
            </div>
            <div class="col-md-3">
                @Confluence.InputDropDown(null, "eaRole", Model.EaRole.Select(o => new SelectListItem
                {
                    Text = o.Text,
                    Value = o.Value
                }) , orderAsc: false, required: false, placeholder: "External User Role")
            </div>
            <div class="col-md-3">                    
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-6 pl0 pr5">
                @Confluence.InputDropDownAsync(null, "contactsInstitution", Url.Action("GetInstitutionName", "Contacts", new { area = "Contacts", operationNumber = Model.OperationNumber }), width: "100%", placeholder: Localization.GetText("CM.Alt.Institution"), minCharacter: 3, required: false)
            </div>
            <div class="pull-right filter-buttons">
                @Confluence.ButtonBlue(Localization.GetText("CM.Button.Search"), "contactsSearch", action: "searchContactsFilter")
                @Confluence.ButtonBlue(Localization.GetText("CM.Button.ClearAll"), "contactsClearAll", "contactsClearAll")
            </div>
        </div>
    </div>
</div>
