@{
    Layout = null;
}

@model IDB.MW.Application.Contacts.ViewModels.OperationContactsViewModel
@using IDB.Architecture.Extensions

<div class="col-md-12 pl0">
    <div class="col-md-12 pl0 pr0">
        <div class="col-md-6 mt25 pl0">
            @Confluence.LabelBold(Model.OperationContactsRow.Count() + Localization.GetText(" Results"))
        </div>
        <div class="col-md-6 pr0">
            @if (Model.OperationContactsRow.HasAny())
            {
                @Confluence.ButtonExcel("xls", "ExportFileCM", clase: "pull-right mr0")
                @Confluence.ButtonPdf("pdf", "ExportFileCM", clase: "pull-right")
            }
        </div>
    </div>
    <div class="col-md-12 pr0 pl0 mb10">
        <table id="contactsTable" class="tableNormal mb20">
            <thead>
                <tr>
                    <th class="sort">@Localization.GetText("CM.GridHeader.Name")</th>
                    <th class="sort">@Localization.GetText("CM.GridHeader.Institution")</th>
                    <th class="sort">@Localization.GetText("CM.Label.EARole")</th>
                    <th class="sort">@Localization.GetText("CM.GridHeader.Title")</th>
                    <th class="sort">@Localization.GetText("CM.GridHeader.Telephone")</th>
                    <th class="sort">@Localization.GetText("CM.GridHeader.Email")</th>
                    <th class="sort">@Localization.GetText("CM.GridHeader.Operation")</th>
                    <th class="w60">@Localization.GetText("CM.GridHeader.Action")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model.OperationContactsRow)
                {
                    <tr data-id="@contact.ExecutorContactId" class="">
                        <td>
                            <div class="w100 text-break-points">
                                <a class="cursorPointer" onclick="reloadContact(this);"data-reload="@Url.Action("ReadContact", "Contacts", new {area = "Contacts", operationNumber = @Model.OperationNumber, executorContactId = @contact.ExecutorContactId, onlyRead = @Model.OnlyRead, userName = @contact.UserName})">@contact.Name</a>
                            </div>
                        </td>
                        <td>@contact.InstitutionAcronym</td>
                        <td>
                            <div class="w100 text-break-points" title="@contact.EaRole">
                                @contact.EaRole
                            </div>
                        </td>
                        <td>
                            <div class="w100 text-break-points" title="@contact.Title">
                                @contact.Title
                            </div>
                        </td>
                        <td>
                            <div class="w100 text-break-points" title="@contact.Telephone">
                                @contact.Telephone
                            </div>
                        </td>
                        <td>
                            <div class="w100 text-break-points" title="@contact.Email">
                                @contact.Email
                            </div>
                        </td>
                        <td>
                            <div class="w100 text-break-points" title="@contact.Operation">
                                @contact.Operation
                            </div>
                        </td>
                        <td>
                            @if (!Model.OnlyRead && contact.Operation.Contains(Model.OperationNumber))
                            {
                                @Confluence.ButtonTrash(null, "removeContact", "removeRow", required: false)
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="col-md-12 mt10">
            @if (Model.OperationContactsRow.HasAny())
            {
                @Confluence.ButtonExcel("xls", "ExportFileCM", clase: "pull-right mr0")
                @Confluence.ButtonPdf("pdf", "ExportFileCM", clase: "pull-right")
            }
        </div>
    </div>
        @if (!Model.OnlyRead)
        {
            @Confluence.ButtonAddNewRows(Localization.GetText("CM.Button.NewContact"), "contactsTable", "addNewContactRow", "addNewContact", htmlClass: "col-md-offset-4 col-md-4 mb10")
        }
</div>