<div class="row-body-50">
    <div>Dropdown normal</div>
    <div class="col-md-3">
        <span>Kendo:</span>
        @Input.DropDown(null, "dropdown-normal-kendo", ViewBag.DropdownExampleList, id: "dnk1", showEmptyOption: true, placeholder: "placeholder")
    </div>
    <div class="col-md-3">
        <span>Actual:</span>
        @Input.DropDown(string.Empty, "dropdown-normal-actual", (List<SelectListItem>)ViewBag.DropdownExampleList)
    </div>
</div>

<div class="row-body-50">
    <div class="col-md-4">
        <p>Dropdown Cascada Ajax Kendo:</p>
        <p>
            @Input.DropDown(
            null,
            "dropdown-cascada-padre1",
            ViewBag.DropDownExampleList,
            id: "padre-id",
            placeholder: "Choose")
        </p>
        <p>
            @Input.DropDownAjax(
            null,
            "dropdown-cascada-hijo1",
            Url.Action("GetChildDropdown",
            "View",
            new { area = "OPUS" }),
            id: "hijo-id",
            parentDropdownId: "padre-id",
            placeholder: "Choose")
        </p>
    </div>
    <div class="col-md-4">
        <p>Dropdown Cascada Cliente Kendo:</p>
        <p>
            @Input.DropDown(
            null,
            "dropdown-cascada-padre2",
            ViewBag.DropDownExampleList,
            id: "padre-client-id",
            placeholder: "Choose")
        </p>
        <p>
            @Input.DropDown(
            null,
            "dropdown-cascada-hijo2",
            ViewBag.DropdownExampleHijoList,
            id: "hijo-client-id",
            parentDropdownId: "padre-client-id",
            placeholder: "Choose")
        </p>
    </div>

</div>