@model IDB.Presentation.MVC4.Models.OutcomeIndicator.CustomDeleteOutcomeIndicatorModel
@{
    ViewBag.Title = Localization.GetText("TCM.DOI.DeleteOutcomeIndicator.Title");
}

<script>

    $(document).ready(function () {

        $("#btnSaveDeleteIndicator").click(function (e) {
            e.preventDefault();
            if ($("#hdnIntervalId").val() == 3 || ($("#AccessedByAdministrator").val() == "True" && $("#IsThirdInterval").val() == "True")) {
                hideDefaulDeleteIndicatorWarningContent();
            } else {
                $("#outcomeIndicatorDeleteForm").submit();
                removeModalContent();
            }
        });

        $("#lnkCancelDeleteIndicator").click(function (e) {
            e.preventDefault();
            removeModalContent();
        });

        $("#btnSaveDeleteIndicatorThirdInterval").click(function (e) {
            e.preventDefault();
            $("#outcomeIndicatorDeleteForm").submit();

            removeModalContent();
        });

        $("#lnkCancelDeleteIndicatorThirdInterval").click(function (e) {
            e.preventDefault();
            removeModalContent();
        });

    });

    function hideDefaulDeleteIndicatorWarningContent() {
        $("#lnkCancelDeleteIndicator").hide();
        $("#btnSaveDeleteIndicator").hide();
        $("#defaultDeleteWarningContainer").hide();
        $("#thirdIntervalDeleteWarningContainer").show();
        $("#lnkCancelDeleteIndicatorThirdInterval").show();
        $("#btnSaveDeleteIndicatorThirdInterval").show();
    }

    function removeModalContent() {
        $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
        $(".ui-widget-overlay").remove();
        $(".k-window").remove();
    }

</script>

@using (Html.BeginForm("Delete", "OutcomeIndicator", FormMethod.Post, new { id = "outcomeIndicatorDeleteForm" }))
{
    <div class="contentImpacts">
        @Html.HiddenFor(di => di.AccessedByAdministrator)
        @Html.HiddenFor(di => di.IsThirdInterval)
        @Html.HiddenFor(di => di.ResultsMatrixId)
        @Html.HiddenFor(di => di.ImpactId)
        @Html.HiddenFor(di => di.IntervalId)

        <div id="defaultDeleteWarningContainer">
            @ViewData["defaulDeleteIndicatorMessage"]
        </div>
        <div id="thirdIntervalDeleteWarningContainer" style="display: none">
            @if (ViewData["thirdIntervalDeleteIndicatorMessage"] != null)
            {
                @ViewData["thirdIntervalDeleteIndicatorMessage"]
            }
        </div>
        <div class="titlePendingChanges">
            @Localization.GetText("TCM.DOI.DeleteOutcomeIndicator.TextDeleteWarning")
        </div>
    </div>
    <div class="pie pieReassign">
        <div class="botones">

            <a title="@Localization.GetText("TCM.DOI.DeleteOutcomeIndicator.Cancel")" class="cancel" id="lnkCancelDeleteIndicator" href="javascript:void(0)"> @Localization.GetText("TCM.DOI.DeleteOutcomeIndicator.Cancel")</a>
            <a title="@Localization.GetText("TCM.DOI.DeleteOutcomeIndicator.Cancel")" class="cancel" id="lnkCancelDeleteIndicatorThirdInterval" style="display: none" href="javascript:void(0)"> @Localization.GetText("TCM.DOI.DeleteOutcomeIndicator.Cancel")</a>
            <label for="delete">
                <input type="button" value=" @Localization.GetText("TCM.DOI.DeleteOutcomeIndicator.Delete")" class="btn-primary" id="btnSaveDeleteIndicator">
            </label>
            <label for="delete">
                <input type="button" value=" @Localization.GetText("TCM.Save")" class="btn-primary" style="display:none" id="btnSaveDeleteIndicatorThirdInterval">
            </label>

        </div>
    </div>
}
