
<script>
    $(document).ready(function () {
        $("#lnkCancelDeleteIndicator").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
        });

        $("#btnSaveDeleteIndicator").click(function () {
            $(window.parent.document).find('body').find(".ui-widget-overlay").remove();
            $(".ui-widget-overlay").remove();
            $(".k-window").remove();
            var urlRoute = $("#hdnDeleteDisaggregationPost").val() + "?resultsMatrixId=@ViewData["resultsMatrixId"]&impactDisaggregationId=@ViewData["impactDisaggregationId"]";
            
            window.location.href = urlRoute;
        });
    });
</script>

@using (Html.BeginForm("DeleteDisaggregation", "ImpactIndicator", FormMethod.Post, new { id = "disaggregationDeleteForm" }))
{
<div class="contentImpacts">
     @Localization.GetText("TCM.DOD.DeleteOutomeDisaggregation.DeleteDisaggregationMessage")
    <div class="titlePendingChanges">
        @Localization.GetText("TCM.DOD.DeleteOutomeDisaggregation.DeleteDisaggregationWarning")
    </div>
</div>
<div class="pie pieReassign">
    <div class="botones">
        <a title="@Localization.GetText("TCM.DOD.DeleteOutomeDisaggregation.Cancel")" class="cancel" id="lnkCancelDeleteIndicator" href="javascript:void(0)"> @Localization.GetText("TCM.DOD.DeleteOutomeDisaggregation.Cancel")</a>
        <label for="delete">
            <input type="button" value="@Localization.GetText("TCM.Save")" class="btn-primary" id="btnSaveDeleteIndicator">
        </label>
    </div>
</div>
}
