@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers
@using NewConfluence

@model ObjectiveViewModel

<span class="component-objective-order-number">@Model.ComponentOrderNumber.@Model.OrderNumber</span>

<div class="row pb20">
    <div class="col-md-3">
        <div class="lblcontent mb5">
            <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.GovernmentPriority")</label>
        </div>
        <div class="lblvalue bold">
            @Model.GovernmentPriority.HtmlEncode()
        </div>
    </div>
    <div class="col-md-6">
        <div class="lblcontent mb5">
            <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.CountryStrategyObjective")</label>
        </div>
        <div class="lblvalue">
            @Html.Partial("ReadPartial/ApprovedTranslationName", Model)
        </div>
    </div>
    <div class="col-md-3">
        <div class="lblcontent mb5">
            <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.AssociatedExpiredCSObjective")</label>
        </div>
        <div class="lblvalue bold">
            @FunctionConfluence.GetSelectedText(Model.AssociatedExpiredCSObjective.ToString(), ViewBag.AssociatedObjectiveList)
        </div>
    </div>
</div>
<div class="row pb70">
    <div class="col-md-12">
        @Html.Partial("ReadPartial/Outcomes", Model.ExpectedOutcomeIndicators)
    </div>
</div>