@using IDB.MW.Application.CountryStrategyModule.ViewModels.ResultMatrix
@using IDB.MVCControls.General.Helpers
@using IDB.MW.Infrastructure.Configuration
@using IDB.Presentation.MVC4.Areas.CountryStrategy.HtmlHelpers

@model ComponentViewModel

<div class="component-container">
    <span class="component-order-number">@Model.OrderNumber</span>

    @(Html.CollapseSingle("collapseComponent")
        .HtmlClass("component-collapse")
        .AsociatedCollapseAllSelector("[data-name=collapseAllComponent]")
        .TargetRegionSelector(string.Format("#Component-{0}", Model.ComponentId))
    )

    <div class="component-container-data">
        <div class="">
            <div class="lblcontent mb5">
                <label class="labelNormal">@Localization.GetText("CS.ResultMatrix.CSPriorityArea")</label>
            </div>
            <div class="lblvalue bold">
                @Model.PriorityArea.HtmlEncode()
            </div>


            <div id="Component-@Model.ComponentId" class="component-objective-container">
                @foreach (var objective in Model.Objectives)
                {
                    @Html.Partial("ReadPartial/ApprovedObjective", objective)
                }
            </div>
        </div>
    </div>
</div>