@using IDB.Architecture.Language
@model IDB.MW.Application.ConvergenceValidationsModule.ViewModels.VerifyContentRowViewModel
<tr data-id="@Model.ValidationId">
    <td>
        @Localization.GetText(Model.ValidationMessage)
        @if (Model.HasAdditionalInfo)
        {
            @Confluence.ButtonShowRow(htmlClass: "btnExpan floatRight")
        }
    </td>
    <td class="text-center">
        @switch (Model.Result)
        {
            case true:
                @Confluence.IcoSuccess()
                break;
            case false:
                @Confluence.IcoError()
                break;
        }
    </td>
</tr>
@if (Model.HasAdditionalInfo)
{
    <tr class="template" name="additionalData" id="additionalData" data-persist="true" data-row-parent-id="@Model.ValidationId">
        <td class="custom-detail-table-row" colspan="8">
            @Html.Raw(Html.Encode(Model.AdditionalInfo).Replace("\n", "<br />"))
        </td>
    </tr>
}