@model IDB.MW.Domain.Models.Supervision.SupervisionPlan.SupervisionPlanModel
@{
    var isEditPlan = (Model.Year >= DateTime.Today.Year);
}

<script>
    $(document).ready(function () {
        var isApprovedPlan = "@Model.ActualVersionIsApproved";
        if (isApprovedPlan.toLowerCase() === "true") {
            $("#budgetInformationContainer").show();
        } else {
            $("#budgetInformationContainer").hide();
        }
    });
</script>

<div class="rightAlign absRight">
    <input id="hdn" hidden="" />
    @if (ViewBag.EditMode != null && ((bool)ViewBag.EditMode))
    {
        <a id="cancelPlanButton" href="#" class="buttonWhite ac-CancelEdit"
           data-route="@Url.Action("Summary", "SupervisionPlanLegacy")">@Localization.GetText("Cancel")</a>
        if (Html.HasPermission("Supervision Plan Write"))
        {
            <input type="button" id="savetest"
                   class="buttonOrange ac-SavePlan" value="@Localization.GetText("Save")" />
        }
        if (Model.ActualVersionIsInDraftOrModified)
        {
            if (Html.HasPermission("Supervision Plan Request"))
            {
                <input type="button" id="Requestest" class="buttonBlue ac-SaveRequestPlan"
                       value="@Localization.GetText("Save and Request")" />
            }
        }
    }
    else
    {
        if (Model.ActualVersionEditable && isEditPlan)
        {
            if (Html.HasPermission("Supervision Plan Write"))
            {
                <input type="button" id="btnEditPlan" class="buttonBlue ac-EditPlan"
                       value="@Localization.GetText("Edit")"
                       data-route="@Url.Action("SummaryEdit", "SupervisionPlanLegacy")" />
            }
        }
        if (Html.HasPermission("Supervision Plan Request") && isEditPlan)
        {
            if (Model.ActualVersion != null)
            {
                <input type="button" class="buttonBlue ac-RequestPlan" value="@Localization.GetText("Request")"
                       title="@Localization.GetText("Request")"
                       data-id-plan-version="@Model.ActualVersion.SupervisionPlanVersionId"
                       data-route="@Url.Action("DetailsPlanVersionApprovalRequest", "SupervisionPlanLegacy")" />
            }

        }
    }
</div>
@Html.Hidden("hdnIsApprovedPlan", Model.ActualVersionIsApproved)