@using IDB.Presentation.MVC4.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>IDB</title>
    <meta charset="utf-8" />
    <meta name="Author" content="BID" />
    <meta name="Description" content="BID" />
    @Styles.Render("~/Content/Confluence")
    <link href="~/Content/loading.css" rel="stylesheet" />
    <link href="~/Content/Modules/SupervisionPlan/overrides.css" rel="stylesheet" />
    <link href="~/Content/overrides/SupervisionPlanOverride.css" rel="stylesheet" />
    @RenderSection("CSS", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/scripts")
    <script src="~/Scripts/loadingLayout.js"></script>
    <script src="~/Scripts/tabstrip/tabstrip.js"></script>
    <script src="~/Scripts/Mainframe/fixIframe.js"></script>
    @RenderSection("JS", false)
    @Html.WriteScriptBlocks()
</head>
<body>
@Confluence.Loader(showPermanent: ViewBag.Loader, showPermanentOptional: ViewBag.LoaderOptional)


<section class="container-fluid">
    <div id="header-section">
        @RenderSection("Header", required: false)
    </div>
</section>
<section class="container-fluid">
    @RenderBody()
</section>

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <script type="text/javascript">
        ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
        registerCallback(function() {
            showMessage("@ViewBag.ErrorMessage", false);
        });
    </script>
}
else
{
    <script type="text/javascript">
        ShowMessageFunctions.CurrentFunction = ShowMessageFunctions.GenericFunction;
    </script>
}

@*<script type="text/javascript">
    $(document).ready(function () {
        initializeApp();
    });
</script>*@

    @Html.Partial("~/Views/Shared/Controls/ShowError.cshtml")
</body>
</html>