@using IDB.Architecture.Language

@{
    var years = new List<SelectListItem>();
    for (var year = DateTime.Today.Year; year >= 2004; year--)
    {
        years.Add(new SelectListItem()
        {
            Value = year.ToString(),
            Text = year.ToString()
        });
    }
}

<div data-id-selector="search-form" class="filter-region">
    <div class="row">
        <div class="col-md-6">
            @ControlTemplates.InputText(null, "txtOperationNumber", placeholder: Localization.GetText("Document.Filter.OperationNumber"), required: false)
        </div>
        <div class="col-md-6">
            @ControlTemplates.InputText(null, "txtContractNumber", placeholder: Localization.GetText("Document.Filter.ContractNumber"), required: false)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @ControlTemplates.InputText(null, "txtIDBDocsNumber", placeholder: Localization.GetText("Document.Filter.IDBDocNumber"), required: false)
        </div>
        <div class="col-md-6">
            @ControlTemplates.InputText(null, "txtDocumentName", placeholder: Localization.GetText("Document.Filter.DocumentName"), required: false)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @ControlTemplates.InputText(null, "txtDocumentId", placeholder: Localization.GetText("Document.Filter.DocumentId"), required: false)
        </div>
        <div class="col-md-6">
            @ControlTemplates.InputText(null, "txtIDBAuthorUserId", placeholder: Localization.GetText("Document.Filter.IDBAuthorId"), required: false)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @ControlTemplates.InputText(null, "txtDocumentContent", placeholder: Localization.GetText("Document.Filter.DocumentContent"), required: false)
        </div>
        <div class="col-md-6">

        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            @ControlTemplates.InputCheckbox(false, "chkInputCorrespondence", forceValidation: false,
                                label: Localization.GetText("Document.Filter.SiscorCorrespondence"))
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="row hide" data-id-selector="output-input-container">
        <div class="col-md-6">
            <div class="row sub-row hide" data-id-selector="input-correspondence-container">
                <div class="col-md-4">
                    @ControlTemplates.InputText(null, "txtDocumentNumberInput", placeholder: Localization.GetText("DM.Filter.Number"), required: false)
                </div>
                <div class="col-md-4">
                    @Confluence.InputDropDown("", "cboInputCorrespondenceYear", (List<SelectListItem>)years, width: "100%", htmlClass: " placeholder", required: false, placeholder: "Year")
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

        <div class="col-md-6">
        </div>
    </div>
</div>