@model IDB.MW.Application.OPUSModule.ViewModels.FinancialDataPreparationService.FinancialDataPreparationViewModel

@if (Model.Permissions.FinancialWritePermision || 
    Model.Permissions.LocalCounterpartPermission ||
    Model.Permissions.IncreaseWritePermission ||
    Model.Permissions.FinancialDataTLEAWritePermission ||
    Model.Permissions.FinancialDataORPAdminPermission)
{
    <div class="pull-right">
        <div id="headerButtons" data-id="headerButtons" class="right-buttons">
            <div data-pagemode="read">
                @Confluence.ButtonBlue(Localization.GetText("OP.FD.Edit"), 
                    null, 
                    "edit",
                    dataAttributes: new Dictionary<string, string>() 
                    { 
                        { "idb-fieldname", "btnEdit" } 
                    }
                )
            </div>

            <div data-pagemode="edit">
                @Confluence.ButtonLink(Localization.GetText("OP.FD.Cancel"), 
                    null, 
                    "cancel",
                    dataAttributes: new Dictionary<string, string>() 
                    { 
                        { "idb-fieldname", "btnCancel" } 
                    }
                )
                @Confluence.ButtonOrange(Localization.GetText("OP.FD.Save"), 
                    null, 
                    "businessValidations",
                    dataAttributes: new Dictionary<string, string>() 
                    { 
                        { "idb-fieldname", "btnSave" } 
                    }
                )
                @if (Model.HasIncreasePermission)
                {
                    if (Model.Permissions.IncreaseWritePermission && 
                        Model.HasRequestIncreasePermission)
                    {
                        @Confluence.ButtonBlue(Localization.GetText("OP.FD.RequestIncrease"), 
                            null,
                            "showRequestIncreaseModal",
                            dataAttributes: new Dictionary<string, string>() 
                            { 
                                { "idb-fieldname", "btnRequestIncrease" } 
                            }
                        )
                    }
                    else if (Model.Permissions.IncreaseWritePermission &&
                        Model.HasChangeIncreasePermission)
                    {
                        @Confluence.ButtonBlue(Localization.GetText("OP.FD.PopUp.ChangeIncrease"),
                            null,
                            "showChangeIncreaseModal",
                            dataAttributes: new Dictionary<string, string>()
                            {
                                { "idb-fieldname", "btnChangeIncrease" }
                            }
                        )
                    }
                }
            </div>
        </div>
    </div>
}