@{
    Layout = null;
}
<html>
<head>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/general.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/modulos.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/navegacion.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Messages/jquery_notification.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Index/IndexCustom.css")"/>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/correctBackground/correctBackground.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/MenuLateral.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/Index/Index.js")"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("a.pathlink").each(function () {
                $(this).click(function () {
                    //$("iframe").attr("height", "0px");
                    $("iframe").attr('src', $(this).data("url"));
                });
            });

        });

        $(document).ready(function () {
            // Contadores de usuarios
            idbUtil.loadUserCounter();
            // Contadores de operacion
            idbUtil.loadOperationCounter();
        });

    

        function closeNotification(duration) {
            var bodyElement = getParentBodyElement();
            var divHeight = $(bodyElement).find('div#info_message').height();
            setTimeout(function () {
                $(bodyElement).find('div#info_message').animate({
                    top: '-' + divHeight
                });
                // removing the notification from body
                setTimeout(function () {
                    $(bodyElement).find('div#info_message').remove();
                }, 200);
            }, parseInt(duration * 1000));
        }

        function getParentBodyElement() {
            var bodyElement;
            if (window.parent) {
                bodyElement = $(window.parent.document.body);
            }
            else {
                bodyElement = $(window.document.body);
            }
            return bodyElement;
        }


        (function (idbUtil, $, undefined) {
            var self = idbUtil;

            //URL base de MVC (Reemplazarla con los valores reales)
            var userCounterUrl = idbg.getPath('/api/counter/GetByUser');
            var operationCounterUrl = idbg.getPath('/Global/OperationHeader/GetData');

            /**
            * Load user counter
            **/
            self.loadUserCounter = function () {
                $.getJSON(userCounterUrl, function (data) {
                    $('[data-counter="user-task"]').text(data.TasksByUser);
                    $('[data-counter="user-notification"]').text(data.NotificationsByUser);
                });
            };

            /**
            * Load
            **/
            self.loadOperationCounter = function () {
                var operationNumber = self.getUrlVar("OperationNumber");
                $.getJSON(operationCounterUrl,
                    {
                        operationNumber: operationNumber
                    }, function (data) {
                        $('#opHeaderDesc').text(data.OperationDescription);
                        $('#opHeaderLoans').text(data.Loans);
                        $('#opHeaderStage').html(data.OverallStage.replace('\r\n', '<br />'));
                        $('#opHeaderRelated').text(data.RelatedOperations);
                        $('[data-counter="operation-workflow"]').text(data.WorkflowsByOperation);
                        $('[data-counter="operation-task"]').text(data.TasksByOperation);
                        $('[data-counter="operation-notification"]').text(data.NotificationsByOperation);
                        $('[data-counter="operation-documents"]').text(data.NotificationsByUser);
                    });
            };

            self.getUrlVar = function (key) {
                var result = new RegExp(key + "=([^&]*)", "i").exec(window.location.search);
                return result && unescape(result[1]) || "";
            };

        }(window.idbUtil = window.idbUtil || {}, jQuery));

    </script>

    <title>IDB</title>

</head>

<body>
    <!-- TITULO PRINCIPAL PAGINA -->
    <h1 class="hide">BID</h1>
    <!-- CONTENEDOR PRINCIPAL -->
    <div class="contenedor_general layoutDosColsIzda">
        <div class="wrapper">
            <h2 class="hide">Header</h2>
            <header class="cabecera">
                <div class="mod_cabecera">
                    <div class="mod_logoHeader">
                        <div class="logo">
                            <h3 class="hide">Logotipo BID - Banco Interamericano de Desarrollo</h3>
                            <a href="#" title="logobid">
                                <img alt="logobid" src="@Url.Content("~/Images/general/header/logobid.png")" /></a>
                        </div>
                        <!-- Menu de Ajustes -->
                        <ul class="navAjustes ico_ajuste">
                            <li class="botonDespliegueHover botonDespegable item_desp alertas_desp">
                                <a title="Menu de Idioma y tamaño de fuente" href="#">Menu de Idioma y tamaño de fuente</a>
                                <nav>
                                    <ul class="level2 listado_normal">
                                        <li>
                                            <a class="contenedorConImagen activo" href="#" title="English">English</a>
                                        </li>
                                        <li>
                                            <a class="contenedorConImagen" href="#" title="Español">Español</a>
                                        </li>
                                        <li>
                                            <a class="contenedorConImagen" href="#" title="Portugues">Português</a>
                                        </li>
                                        <li>
                                            <a class="contenedorConImagen" href="#" title="Francais">Français</a>
                                        </li>
                                        <li class="last">
                                            <a class="fontMenos" title="Minimizar Fuente" href="#">
                                                <span>A</span>
                                            </a>
                                            <a class="fontNormal" title="Ajustar Fuente" href="#">
                                                <span class="activo">A</span>
                                            </a>
                                            <a class="fontMas" title="Maximizar Fuente" href="#">
                                                <span>A</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </li>
                        </ul>
                        <!-- FIN Menu de Ajustes -->
                    </div>
                    <!-- Modulo del Usuario -->

                    <div class="mod_usuario">
                        <h3 class="hide">Usuario</h3>
                        <div class="nombre">
                            <a href="#" title="nombre">Patricia Maria Rojas</a>
                        </div>
                        <div class="alertas">
                            <a class="tick" href="#" title="tick">
                                <span class="numero" data-counter="user-task">20</span>
                            </a>
                            <a class="alarma" href="#" title="alarma">
                                <span class="numero" data-counter="user-notification">7</span>
                            </a>
                        </div>
                    </div>
                    <!-- FIN Modulo del Usuario -->
                    <!-- Modulo de Buscador -->

                    <div class="mod_buscar">
                        <h3 class="hide">Buscador</h3>
                        <form>
                            <fieldset>
                                <label for="buscarEmpleados" class="textoBuscar">
                                    <span class="hide">Texto para buscar</span>
                                    <input id="buscarEmpleados" class="texto_buscar" type="text" title="Texto buscar empleados" placeholder="Search within operations..." />
                                </label>
                                <label for="btnBuscar" class="botonBuscar">
                                    <span class="hide">Boton de buscar</span>
                                    <input id="btnBuscar" class="btn_azul_normal" type="button" title="Boton de buscar empleados" value="Search" />
                                </label>
                            </fieldset>
                        </form>
                    </div>
                    <!-- FIN Modulo de Buscador -->
                </div>
            </header>
        </div>
        <section class="wrapper">
            <!-- CABECERA -->
            <section>
                <!-- MENU PRINCIPAL-->
                <h3 class="hide">Menu principal</h3>
                <nav class="navMenuPrincipal ftl menu_listas_desplegables">
                    <ul class="level_1">
                        <li class="item_level_1">
                            <a href="#" title="WORKSPACE">WORKSPACE</a>
                            <ul class="level_2">
                                <li class="item_level_2 sel">
@*                                    <a href="@Url.Action(MVC.Global.Stats.Statistics())" title="Browse operations">My Operations</a>*@
                                </li>
                                <li class="item_level_2">
                                    <a href="#" title="My operations">My Workflows</a>
                                </li>
                                <li class="item_level_2">
                                    <a href="@Url.Action("Index", "MyTasks")" title="My operations">My Tasks</a>
                                </li>
                                <li class="item_level_2">
                                    <a href="#" title="My operations">My Stats</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item_level_1 sel">
                            <a class="negro" href="#" title="OPERATIONS">OPERATIONS</a>
                            <ul class="level_2">
                                <li class="item_level_2 sel">
                                    <a href="@Url.Action("Index", "Home")" title="Browse operations">Browse</a>
                                </li>
                                <li class="item_level_2">
                                    <a href="#" title="My operations">Reports</a>
                                </li>
                                <li class="item_level_2">
                                    <a href="#" title="My operations">Stats</a>
                                </li>
                                <li class="item_level_2">
                                    <a href="javascript:void(0)" title="Dashboards" id="DashboardsLinkContent">Dashboards</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item_level_1">
                            <a href="#" title="MAP">MAP</a>
                        </li>
                    </ul>
                    <div class="submenu">
                        <span class="hide">Espacio para Submenu</span>
                    </div>
                </nav>
                <!-- FIN MENU PRINCIPAL-->
                <!--  CONTENIDO HEADER -->
                <div class="mod_contenido_header" id="OperationContentInfoHeader">
                    <h3 class="hide">Datos de Operations</h3>
                    <ul class="ulPrincipalContenidoHeader">
                        <li class="tituloContenidoHeader">
                            <p>@ViewBag.OperationNUmber</p>
                        </li>
                        <li class="liUnoContenidoHeader">
                            <p id="opHeaderDesc">Loading...</p>
                        </li>
                        <li class="liDosContenidoHeader">
                            <span>Loan(s)</span>
                            <p id="opHeaderLoans"></p>
                        </li>
                        <li class="liDosContenidoHeader">
                            <span>Overall stage</span>
                            <p id="opHeaderStage"></p>
                        </li>
                        <li class="liDosContenidoHeader">
                            <span>Related operations</span>
                            <p id="opHeaderRelated"></p>
                        </li>
                    </ul>
                </div>
                <div class="menu_secundario" id="OperationMenuSecundario">
                    <h3 class="hide">Acciones de Operations</h3>
                    <ul class="level_1">
                        <li id="item_op_details" class="item_level_1 sel">
                            <a href="#" title="Operation details">Operation details</a>
                        </li>
                        <li class="item_level_1">
                            <span class="numero" data-counter="operation-workflow">0</span>
                            <a href="#" title="Workflows">Workflows</a>
                        </li>
                        <li class="item_level_1">
                            <span class="numero" data-counter="operation-task">0</span>
                            <a class="pathlink" href="javascript:void(0)" data-url="http://localhost/IDB/MyTasks/MyTasks/List" title="Tasks">Tasks</a>
                        </li>
                        <li class="item_level_1">
                            <span class="numero" data-counter="operation-notification">0</span>
                            <a href="#" title="Notifications">Notifications</a>
                        </li>
                        <li class="item_level_1">
                            <span class="numero" data-counter="operation-documents">0</span>
                            <a href="javascript:void(0)" class="pathlink" data-url="@Url.Action("Index", "Document", new { operationNumber = (string)ViewBag.OperationNumber, local = true })" title="Documents">Documents</a>
                        </li>
                    </ul>
                    <div class="menu_max"></div>
                </div>

                <!--  FIN CONTENIDO HEADER -->
            </section>
            <!-- FIN CABECERA -->
            <!-- CONTENIDO -->

            <section class="contenido" id="contenidoID">
                <!--SECCION IZQUIERDA-->
                <section class="izquierda">
                    <h2 class="hide">Menu lateral</h2>
                    <nav>
                        <!-- Menu Lateral Lista desplegable -->
                        <div class="ftl lista_desplegable_b">
                            <ul class="level1">
                                <li class="item_level1"><a class="item_level1 pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "Overview", new { area = "Overview", OperationNumber = ViewBag.OperationNUmber })" title="Overview"><span>Overview</span></a></li>
                                <li class="item_level1_desp">
                                    <a class="itemSlider" href="javascript:void(0)" title="Operation Profile"><span>Operation Profile</span></a>
                                    <ul class="level2">
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "BasicData", new { area = "OperationProfile", OperationNumber = ViewBag.OperationNUmber })" title="Basic Data"><span>Basic Data</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "EnvironmentalAndSocialImpactaData", new { area = "OperationProfile", OperationNumber = ViewBag.OperationNUmber })" title="Enviroments and social data"><span>Enviroments and social data</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "EventsData", new { area = "OperationProfile", OperationNumber = ViewBag.OperationNUmber })" title="Events data"><span>Events data</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "FinancingData", new { area = "OperationProfile", OperationNumber = ViewBag.OperationNUmber })" title="Financing data"><span>Financing data</span></a></li>
                                    </ul>
                                </li>
                                <li class="item_level1"><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "Contracts", new { area = "Clauses", OperationNumber = ViewBag.OperationNUmber })" title="Contract and Clauses"><span>Contract and Clauses</span></a></li>
                                <li class="item_level1_desp">
                                    <a class="itemSlider" href="javascript:void(0)" title="Results"><span>Results</span></a>
                                    <ul class="level2">
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "Impacts", new { area = "ResultsMatrix", OperationNumber = ViewBag.OperationNUmber })"><span>Impacts</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "Outcomes", new { area = "ResultsMatrix", OperationNumber = ViewBag.OperationNUmber })" title="Outcomes"><span>Outcomes</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("IndexPhysicalProgress", "Outputs", new { area = "ResultsMatrix", OperationNumber = ViewBag.OperationNUmber })" title="Outputs"><span>Outputs</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "ChangeMatrix", new { area = "ResultsMatrix", OperationNumber = ViewBag.OperationNUmber })" title="Changes to the matrix"><span>Changes to the matrix</span></a></li>
                                    </ul>
                                </li>
                                <li class="item_level1_desp">
                                    <a class="itemSlider" href="javascript:void(0)" title="Visualization"><span>Visualization</span></a>
                                    <ul class="level2">
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "VisualData", new { area = "Visualization", OperationNumber = ViewBag.OperationNUmber })" title="Visual Data"><span>Visual Data</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("IndexPictures", "MediaGallery", new { area = "Visualization", OperationNumber = ViewBag.OperationNUmber })" title="Media Gallery"><span>Media Gallery</span></a></li>
                                    </ul>
                                </li>
                                <li class="item_level1">
                                    <a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "DisbursementProjections", new { area = "Disbursement", OperationNumber = ViewBag.OperationNUmber })" title="Disbursement"><span>Disbursement</span></a>
                                </li>

                                <li class="item_level1_desp">
                                    <a class="itemSlider" href="javascript:void(0)" title="Supervision"><span>Supervision</span></a>
                                    <ul class="level2">
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "CloseOfPMRCycle", new { area = "Administration", OperationNumber = ViewBag.OperationNUmber })" title="Impacts"><span>Progress monitoring indicators</span></a></li>
                                    </ul>
                                </li>

                                <li class="item_level1"><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Details", "OperationRisk", new { area = "Risks", OperationNumber = ViewBag.OperationNUmber })" title="Risk"><span>Risk</span></a></li>
                                <li class="item_level1">
                                    @*<li class="item_level1_desp">*@
                                    <a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "FindingRecommendation", new { area = "FindingRecomendations", OperationNumber = ViewBag.OperationNUmber })" title="Findings and recommendations"><span>Findings and recommendations</span></a>
                                    @*<a class="itemSlider" href="javascript:void(0)" title="Findings and recommendations"><span>Findings and recommendations</span></a>*@
                                    @*<ul class="level2">
                                        <li><a href="javascript:void(0)" title="Impacts"><span>Impacts</span></a></li>
                                        <li><a href="javascript:void(0)" title="Outcomes"><span>Outcomes</span></a></li>
                                        <li><a href="javascript:void(0)" title="Outputs"><span>Outputs</span></a></li>
                                        <li><a href="javascript:void(0)" title="Changes to the matrix"><span>Changes to the matrix</span></a></li>
                                    </ul>*@
                                </li>


                                <li class="item_level1_desp">
                                    <a class="itemSlider" href="javascript:void(0)" title="Reports"><span>Reports</span></a>
                                    <ul class="level2">
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("PMROperationReportCreate", "PMROperationReport", new { area = "Reports", OperationNumber = ViewBag.OperationNumber })" title="PMR Operations"><span>PMR Operations</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("PMRAggregateReportCreate", "PMRAggregateReport", new { area = "Reports" })" title="PMR Aggregate"><span>PMR Aggregate</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "ClauseReport", new { area = "Reports", OperationNumber = ViewBag.OperationNumber })" title="Clause Report"><span>Clause Report</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "ClauseExtensionReport", new { area = "Reports", OperationNumber = ViewBag.OperationNumber })" title="Clause History Report"><span>Clause History Report</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Create", "RisksReport", new { area = "Reports", OperationNumber = ViewBag.OperationNumber })" title="Operation Risks Report"><span>Operation Risks Report</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Create", "SupervisionPlanReport", new { area = "Reports", OperationNumber = ViewBag.OperationNumber })" title="Supervision Plan Report"><span>Supervision Plan Report</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "PorfolioCountryStatus", new { area = "Reports" })" title="Porfolio Country Status"><span>Porfolio Country Status</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Create", "VisualizationReport", new { area = "Reports", OperationNumber = ViewBag.OperationNumber })" title="Visualization Operation Report"><span>Visualization Operation Report</span></a></li>
                                        <li><a class="pathlink" href="javascript:void(0)" data-url="@Url.Action("Create", "VisualizationPorfolioReport", new { area = "Reports", OperationNumber = ViewBag.OperationNumber })" title="Visualization Porfolio Report"><span>Visualization Porfolio Report</span></a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <!-- FIN Menu Lateral Lista desplegable -->
                    </nav>
                </section>
                <!--FIN SECCION IZQUIERDA-->
                <!--SECCION CENTRAL-->
                <h2 class="hide">Seccion central</h2>
                <section class="central">
                    <div style="display: block; position: relative; z-index: 300; background-color: white;">
                        <iframe style="width: 100%;"></iframe>
                    </div>

                </section>
                <!--FIN SECCION CENTRAL-->
            </section>

            @*<section class="contenido" id="ContentDashboard">


                 <section class="izquierda">
                    <h2 class="hide">Menu lateral</h2>
                    <nav>
                        <!-- Menu Lateral Lista desplegable -->
                        <div class="ftl lista_desplegable_b">
                            <ul class="level1">
                                <li class="item_level1"><a class="item_level1 pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "Overview", new { area = "Overview", OperationNumber = ViewBag.OperationNUmber })" title="Overview"><span>PMR</span></a></li>
                                <li class="item_level1"><a class="item_level1 pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "Overview", new { area = "Overview", OperationNumber = ViewBag.OperationNUmber })" title="Overview"><span>Disbursement</span></a></li>
                                <li class="item_level1"><a class="item_level1 pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "Overview", new { area = "Overview", OperationNumber = ViewBag.OperationNUmber })" title="Overview"><span>Supervicion Plan</span></a></li>
                                <li class="item_level1"><a class="item_level1 pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "Overview", new { area = "Overview", OperationNumber = ViewBag.OperationNUmber })" title="Overview"><span>Risk</span></a></li>
                                <li class="item_level1"><a class="item_level1 pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "Overview", new { area = "Overview", OperationNumber = ViewBag.OperationNUmber })" title="Overview"><span>Clauses</span></a></li>
                                <li class="item_level1"><a class="item_level1 pathlink" href="javascript:void(0)" data-url="@Url.Action("Index", "Overview", new { area = "Overview", OperationNumber = ViewBag.OperationNUmber })" title="Overview"><span>Visualization</span></a></li>
                            </ul>
                        </div>
                        <!-- FIN Menu Lateral Lista desplegable -->
                    </nav>
                </section>
                <!--FIN SECCION IZQUIERDA-->
                <!--SECCION CENTRAL-->
                <h2 class="hide">Seccion central</h2>
                <section class="central">
                    <div style="display: block; position: relative; z-index: 300; background-color: white;">
                        <iframe style="width: 100%;"></iframe>
                    </div>

                </section>
                <!--FIN SECCION CENTRAL-->

            </section>*@
            <!-- FIN CONTENIDO -->
            <!-- FOOTER -->
            <h2 class="hide">Footer</h2>
            <footer class="pie">
                <div class="footer">
                    @*<p>FOOTER</p>*@
                </div>
            </footer>
            <!--FIN FOOTER -->
        </section>
    </div>
    <!-- FIN CONTENEDOR PRINCIPAL -->
</body>
</html>
