@using IDB.Architecture.Language

@model bool
@{
    ViewBag.Title = "Index";
}
@section CSS
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/esmartGeneral.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/PMI/StageTwo/ui_pmi_002_graph.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Modules/Disbursement/disbursement.css")" />
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/PMI/StageThree/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/JQchartfx/jquery.jqChart.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modules/disbursement/disbursement.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/PMI/StageOne/load.js")"></script>
     <script type="text/javascript" src="@Url.Content("~/Scripts/modules/pmi/pmifunctions.js")"></script>

}
<header>
    <style type="text/css">
	    #verText
	    {
            background-color: white;
            position: absolute;
            top: 160px;
            left: 1px;
            transform: rotate(270deg);
            transform-origin: left top 0;
            width: 160px;
            text-align: center; 
            font-size: 11px;
	    }
	</style>
</header>
    <script type="text/javascript">
        $(document).ready(function () {
            var data ={};
            data = @Html.Raw(Json.Encode(ViewBag.FromApprovalToLegalEffectiveness));
            render_initiatl_Days_Approval_Graph(data);
            data = @Html.Raw(Json.Encode(ViewBag.FromApprovalToLegalEffectivenessToEligibility));
            render_initial_Days_Legal_Graph(data);
            data = @Html.Raw(Json.Encode(ViewBag.NormalClausesPriorToEligibility));
            render_initial_General_Conditions_Graph(data);
            data = @Html.Raw(Json.Encode(ViewBag.SpecialClausesPriorToEligibility));
            render_initial_Special_Conditions_Graph(data);
        });
    </script>

<div id="ui_pmi_001_graph" class="mod_contenido_central">

    @{
        Html.RenderAction("Header", "Stage", new
        {
            operationNumber = ViewBag.OperationNumber,
            stage = 1,
            calculateInMemory = true,
            isLive = Model
        });
    }

    <div class="editingButtonsEdit topMargin16px" style="margin-top: 60px;">
     <input type="button" id="graphBtn" value="@Localization.GetText("GRAPH")" data-route="@Url.Action(
        "Index",
        "StageOne",
        new
        {
            area = "PMI",
            operationNUmber = @ViewBag.OperationNUmber,
            calculateInMemory = true,
            isLive = Model
        })" class="tabButton active">
     <input type="button" id="tableBtn" value="@Localization.GetText("TABLE")" data-route="@Url.Action(
        "IndexSummaryTable",
        "StageOne",
        new
        {
            area = "PMI",
            operationNumber = @ViewBag.OperationNUmber,
            calculateInMemory = true,
            isLive = Model
        })" class="tabButton graphLink"></div>

    <div class="verticalMargin40">
        <div class="operationData">
            <div class="inline-block w48">
                <h4 id="daysElapsedId" class="verticalMargin10">@Localization.GetText("Days elapsed")<br />
                    @Localization.GetText("from") <b>@Localization.GetText("Approval")</b> @Localization.GetText("to Legal") <b>@Localization.GetText("Effectiveness")</b></h4>
                <div class="w30 inline-block centerAlign">
                    <span class="rounded classification satisfactory inline-block verticalAlignMiddle marginRight3"></span><span id="approvalSatifId" class="bold verticalAlignMiddle font08em">@Localization.GetText("SATISFACTORY")</span>
                </div>
                <div class="w20 inline-block centerAlign">
                    <span class="rounded classification alert inline-block verticalAlignMiddle marginSides3-1"></span><span id="approvalAlertId" class="bold verticalAlignMiddle font08em">@Localization.GetText("ALERT")</span>
                </div>
                <div class="w20 inline-block centerAlign">
                    <span class="rounded classification problem inline-block verticalAlignMiddle marginSides3-1"></span><span id="approvalProblemId" class="bold verticalAlignMiddle font08em">@Localization.GetText("PROBLEM")</span>
                </div>
                <div class="verticalMargin10">
                    <div class="topMargin16px" id="daysApprovalChart" style="width: 100%; height: 11em;"></div>
                </div>
            </div>



            <div class="inline-block w48 marginLeft3">
                <h4 id="timeElapsedId"class="verticalMargin10">@Localization.GetText("Time elapsed")<br />
                    @Localization.GetText("from") <b>@Localization.GetText("Legal Effectiveness")</b> @Localization.GetText("to") <b>@Localization.GetText("eligibility")</b></h4>
                <div class="w30 inline-block centerAlign">
                    <span class="rounded classification satisfactory inline-block verticalAlignMiddle marginRight3"></span><span id="legalSatifId" class="bold verticalAlignMiddle font08em">@Localization.GetText("SATISFACTORY")</span>
                </div>
                <div class="w20 inline-block centerAlign">
                    <span class="rounded classification alert inline-block verticalAlignMiddle marginSides3-1"></span><span id="legalAlertId" class="bold verticalAlignMiddle font08em">@Localization.GetText("ALERT")</span>
                </div>
                <div class="w20 inline-block centerAlign">
                    <span class="rounded classification problem inline-block verticalAlignMiddle marginSides3-1"></span><span id="legalProblemId" class="bold verticalAlignMiddle font08em">@Localization.GetText("PROBLEM")</span>
                </div>
                <div class="verticalMargin10">
                    <div class="topMargin16px" id="daysLegalChart" style="width: 100%; height: 11em;"></div>
                </div>
            </div>
        </div>



        <div class="operationData verticalMargin40 ">
            <div class="inline-block w48">
                <h4 id="gralCondPriorId" class="verticalMargin10"><b>%&nbsp;</b> @Localization.GetText("of") <b>@Localization.GetText("General Conditions Achieved Prior")</b></h4>
                <div class="verticalMargin10">
                    <div class="topMargin16px" id="GeneralCondChart" style="width: 100%; height: 11em;">
                        <div id = "verText" >Normal Clauses Prior <br/> to Eligibility</div>
                    </div>
                </div>
            </div>



            <div class="inline-block w48 marginLeft3">
                <h4 id="specialCondPriorId" class="verticalMargin10"><b>%&nbsp;</b> @Localization.GetText("of") <b>@Localization.GetText("Special Conditions Achieved Prior")</b></h4>
                <div class="verticalMargin10">
                    <div class="topMargin16px" id="SpecialCondChart" style="width: 100%; height: 11em;">
                        <div id = "verText" >Special Clauses Prior <br/> to Eligibility</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>