@if (ViewBag.Permission != false || ViewBag.AttributePermission != false)
{
    <div class="header">
        <div class="row">
            <div class="col-md-12">
                <h3 class="titlePrincipal">@Localization.GetText("OP.AM.Header.Tittle.AttributesFormLayouts")</h3>
            </div>
        </div>
    </div>
    <div id="PageContent"
         data-parsley-validate="data-parsley-validate"
         data-parsley-excluded="[disabled]">
        @Html.Partial("Partials/AttributeLayoutListFilterPartials")
        @*ATTRIBUTE TABLE*@
        <div id="tableAttributeMain">
        </div>
    </div>

    <div class="footer">

    </div>
    <div data-id="ModalRegion">
        <button data-id="buttonNewRole" class="hide"
                data-modal-allowclose="true"
                data-custom-modal="FormAddNewRule"
                data-custom-modal-style=""
                data-custom-modal-title="@Localization.GetText("OP.AM.Attributes.Layout.Title")"
                data-custom-modal-validate="false"
                data-custom-buttons='[]'
                data-custom-button-cancel-id="cancel"
                data-custom-button-cancel=""
                data-custom-button-cancel-style=""
                data-custom-button-cancel-callback=""
                data-custom-button-save-id="send"
                data-custom-button-save=""
                data-custom-button-save-style=""
                data-custom-button-save-callback=""
                data-custom-button-save-closeatend="true"
                data-custom-modal-onclose="addNewRelatedOperation"
                data-custom-modal-closeonoverlayclick="false">
            @Localization.GetText("OP.RP.ControlInformation.CreateRule")
        </button>
        <div id="FormAddNewRule" class="hide modalBody"> </div>
    </div>
}


@section scripts{

    <script type="text/javascript">

        function edit(source) {
            var success = enterEditMode(false, $("#attributeListFilterPartial"), false);
            if (success) {
                enterEditMode(false, $('[data-id=headerButtons]'), false);
            }
        }

        function cleanAttributeButton() {
            cleanfilter();
            $("#msgResult").remove();
            $("#AttributeTable_wrapper").remove();
        }

        function cleanfilter() {
            $("#id-SearchAttribute").FirstorDefault();
            $("#id-OperationType").FirstorDefault();
            $("#id-RelationshipType").FirstorDefault();
            $("#id-Section").FirstorDefault();
            $("[name='SearchAttribute_text']").val("");
            $("[name='SearchAttribute']").val("");
        }

        function searchAttributeFilter(source) {
            var content = $(source).closest('[name="searchAttributeContent"]');
            var searchAttributeId = parseInt(content.find('[name="SearchAttribute"]').val()) ? parseInt(content.find('[name="SearchAttribute"]').val()) : -1;
            var searchOperationType = parseInt(content.find('[name="OperationType"]').val()) ? parseInt(content.find("[name='OperationType']").val()) : -1;
            var searchRelationshipType = parseInt(content.find('[name="RelationshipType"]').val()) ? parseInt(content.find("[name='RelationshipType']").val()) : -1;
            var searchSection = parseInt(content.find('[name="Section"]').val()) ? parseInt(content.find('[name="Section"]').val()) : -1;

            $('#AttributeTable').remove();
            $('div.Pagination[dd-table=AttributeTable]').remove();

            postUrlWithOptions("@Url.Action("SearchAttributeLayoutFilter", "AttributeView")", { async: false }, { 'searchAttributeId': searchAttributeId, 'searchOperationType': searchOperationType, 'searchRelationshipType': searchRelationshipType, 'searchSection': searchSection })
                .done(function(data) {
                    var resultSearchPanel = $('#tableAttributeMain');
                    resultSearchPanel.html(data);
                    bindHandlers(resultSearchPanel);
                    $("#AttributeTable").paginationConfluense(10);
                });
            return false;
        }

        function ModalNewRule() {
            var url = '@Url.Action("NewAttributeLayoutModal", "AttributeView", new {area = "AdministrationSecondPhase"})';
            postUrlWithOptions(url, { async: false })
                .done(function(data) {
                    var resultPanel = $('#FormAddNewRule');
                    resultPanel.html(data);
                    $('[data-id="buttonNewRole"]').click();
                    allowMultiPopUp();
                    bindHandlers();
                });
        }

        function newAttribute(source) {
            if (validateContainer($("[data-id='PageContent']"))) {
                var content = $(source).closest('[name="newAttributeLayoutModalContent"]');
                var searchOperationType = parseInt(content.find('[name="OperationType"]').val()) ? parseInt(content.find("[name='OperationType']").val()) : -1;
                var searchRelationshipType = parseInt(content.find('[name="RelationshipType"]').val()) ? parseInt(content.find("[name='RelationshipType']").val()) : null;
                var searchSection = parseInt(content.find('[name="Section"]').val()) ? parseInt(content.find('[name="Section"]').val()) : -1;
                window.location.href = '@Url.Action("AttributeLayoutEditor", "AttributeView", new {area = "AdministrationSecondPhase"})' + "?operationTypeId=" + searchOperationType + "&relationshipId=" + searchRelationshipType + "&sectionId=" + searchSection;
            }
        }
    </script>
}