@model IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngConditionViewModel
<tr data-id="">
    <td class="hide">
        <span data-pagemode="edit">
            @Confluence.InputHidden(Model.ConditionId.ToString(), "conditionIdValue")
        </span>
    </td>
    <td>
        <span data-pagemode="read">
            @Model.GroupNumber.ToString()
        </span>
        <span data-pagemode="edit">
            @Confluence.InputText(Model.GroupNumber.ToString(), "RuleOrder", width: "100%", required: false)
        </span>
    </td>
    <td>
        <span>
            @Model.Element
        </span>
        <span data-pagemode="edit">
            @Confluence.InputHidden(Model.Element, "elementCondition")
        </span>
    </td>
    <td>
        <span>
            @Model.Description
        </span>
        <span data-pagemode="edit">
            @Confluence.InputHidden(Model.Description, "settingNameCondition")
            @Confluence.InputHidden(Model.DescriptionCode, "settingCondition")
        </span>
    </td>
    <td>
        <span data-pagemode="read">
            @Confluence.InputCheckbox(true, "activeRead", "activeRead", disabled: true)
        </span>
        <span data-pagemode="edit">
            @Confluence.InputCheckbox(true, "active", "active")
        </span>
    </td>
    <td>
        <span data-pagemode="read">
            @Model.GroupNumber.ToString(),
        </span>
        <span data-pagemode="edit">
            @Confluence.InputText(Model.GroupNumber.ToString(), "RuleGoupNumber", width: "100%", required: false)
        </span>
    </td>
    <td>
        <span data-pagemode="read">
            @Confluence.InputCheckbox(false, "IsNotRead", "IsNotRead", disabled: true)
        </span>
        <span data-pagemode="edit">
            @Confluence.InputCheckbox(false, "isNot", "isNot")
        </span>
    </td>
    <td>
        <div data-pagemode="edit">
            <span>
                @Confluence.ButtonTrash(null, action: "deleteRule")
            </span>
        </div>
    </td>
</tr>