@model IList<IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngConditionViewModel>
@if (Model.Count >= 0)
{
    <div class="col-md-12 mb20">@Confluence.LabelBold(Model.Count + " " + Localization.GetText("OPUS.Search.Results"))</div>

    <div id="Rule" class="tableNormal">
        <table id="RuleConditionTable" class="tableNormal endSpacing">
            <thead>
                <tr role="row">
                    <th class="hide sorting_disabled" rowspan="1" colspan="1"></th>
                    <th class="sort" rowspan="1" colspan="1">@Localization.GetText("OP.AM.NewAttributes.Order")</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("AD.RE.Element")</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("AD.RE.Setting")</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("COMMON.Active")</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("OP.AM.NewAttributes.Group")</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("AD.RE.Not")</th>
                    <th class="hide sorting_disabled" rowspan="1" colspan="1"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td>
                            <span>
                                @Localization.GetText("COMMON.Search.Related.Operation.RowsEmpty")
                            </span>
                        </td>
                    </tr>
                }
                @foreach (var row in Model)
                {
                    <tr data-id="">
                        <td class="hide">
                            <span data-pagemode="edit">
                                @Confluence.InputHidden(row.ConditionId.ToString(), "conditionIdValue")
                            </span>
                        </td>
                        <td>
                            <span data-pagemode="read">
                                @row.Order
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputText(row.Order.ToString(), "RuleOrder", width: "100%", required: false)
                            </span>
                        </td>
                        <td>
                            <span>
                                @row.RuleEngElement.Name
                            </span><span data-pagemode="edit">
                                @Confluence.InputHidden(row.RuleEngElement.Name, "elementCondition")
                            </span>
                        </td>
                        <td>
                            <span>
                                @row.Description
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputHidden(row.Description, "settingNameCondition")
                                @Confluence.InputHidden(row.DescriptionCode, "settingCondition")
                            </span>
                        </td>
                        <td>
                            <span data-pagemode="read">
                                @Confluence.InputCheckbox(row.IsActive, "activeRead", "activeRead", disabled: true)
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputCheckbox(row.IsActive, "active", "active")
                            </span>
                        </td>
                        <td>
                            <span data-pagemode="read">
                                @row.GroupNumber
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputText(@row.GroupNumber.ToString(), "RuleGoupNumber", width: "100%", required: false)
                            </span>
                        </td>
                        <td>
                            <span data-pagemode="read">
                                @Confluence.InputCheckbox(row.IsNot, "isNotRead", "IsNotRead", disabled: true)
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputCheckbox(row.IsNot, "isNot", "isNot")
                            </span>
                        </td>
                        <td>
                            <div data-pagemode="edit">
                                <span>
                                    @Confluence.ButtonTrash(null, action: "deleteRule")
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}