<div id="importRuleModalContent" data-parsley-validate="data-parsley-validate" data-parsley-excluded="[disabled]">
    <div class="row">
        <div class="col-md-3">
            @Confluence.LabelBold(Localization.GetText("MD.Management.Table.Code"))
        </div>
        <div class="col-md-9">
            @Confluence.LabelBold(Localization.GetText("OP.IN.Name"))
        </div>
    </div>

    <div class="row mb20">
        <div>
            <div class="col-md-3">
                @Confluence.InputDropDownAutoComplete(null, "RuleEngCode", (List<SelectListItem>)ViewBag.RuleEngCode, required: false)
            </div>
            <div id="ruleNameValue" class="col-md-9">
                @Confluence.Label(string.Empty)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            @Confluence.LabelBold(Localization.GetText("OP.AP.Documents.Description"))
        </div>
    </div>
    <div class="row mb20">
        <div>
            <div id="ruleDescriptionValue" class="col-md-9">
                @Confluence.Label(string.Empty)
            </div>
            <div class="col-md-3">
                @Confluence.InputCheckbox(false, "activeREAD", "activeREAD", Localization.GetText("COMMON.Active"), disabled: true)
            </div>
        </div>
    </div>

    <div id="tableImportRulesConditional">
    </div>
</div>