@model IList<IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngConditionViewModel>
@if (Model.Count >= 0)
{
    <div class="col-md-12 mb20">@Confluence.LabelBold(Model.Count + " " + Localization.GetText("OPUS.Search.Results"))</div>

    <div id="Rule" class="tableNormal">
        <table id="ImportRuleConditionTable" class="tableNormal endSpacing">
            <thead>
                <tr role="row">
                    <th class="hide sorting_disabled" rowspan="1" colspan="1"></th>
                    <th class="sort" rowspan="1" colspan="1">@Localization.GetText("OP.AM.NewAttributes.Order")</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("AD.RE.Element")</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("AD.RE.Setting")</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("COMMON.Active")</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("OP.AM.NewAttributes.Group")</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1">@Localization.GetText("AD.RE.Not")</th>
                    <th class="hide sorting_disabled" rowspan="1" colspan="1"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td>
                            @Localization.GetText("COMMON.Search.Related.Operation.RowsEmpty")
                        </td>
                    </tr>
                }
                @foreach (var row in Model)
                {
                    <tr data-id="">
                        <td class="hide">
                            <span data-pagemode="edit">
                                @Confluence.InputHidden(row.ConditionId.ToString(), "conditionIdValue")
                            </span>
                        </td>
                        <td>
                            @Confluence.Label(row.Order.ToString())
                        </td>
                        <td>
                            @Confluence.Label(row.RuleEngElement.Name)
                        </td>
                        <td>
                            @Confluence.Label(row.Description)
                            @Confluence.InputHidden(row.DescriptionCode, "settingCode")
                        </td>
                        <td>
                            @Confluence.InputCheckbox(row.IsActive, "activeRead", "activeRead", disabled: true)
                        </td>
                        <td>
                            @Confluence.Label(row.GroupNumber.ToString())
                        </td>
                        <td>
                            @Confluence.InputCheckbox(row.IsNot, "isNotRead", "IsNotRead", disabled: true)
                        </td>
                        <td>
                            @Confluence.InputCheckbox(false, "importRule", "importRule")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}