@model IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngViewModel
<div class="filterNormal mb20">
    <div id="Rule" class="tableNormal">
        <table id="RuleTable" class="tableNormal endSpacing">
            <thead>
                <tr role="row">
                    <th class="hide sorting_disabled"></th>
                    <th class="sorting_disabled">@Localization.GetText("AD.RE.Param")</th>
                    <th class="sorting_disabled">@Localization.GetText("AD.RE.Operator")</th>
                    <th class="sorting_disabled">@Localization.GetText("GLOBAL.CONTROL.VALUES")</th>
                    <th class="hide sorting_disabled"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-id="1" class="hidden">
                    <td class="hide">
                        <input type="hidden" name="InstitutionIdValue" value="@*@row.InstitutionId*@" />
                    </td>
                    <td>
                        @Confluence.InputDropDownAutoComplete(
                            null, 
                            "SearchRuleGroupFirstParameter", 
                            null, 
                            width: "100%", 
                            required: false,
                            buttonAction: "showAllParameters",
                            showButton: true)
                        <span id="IndividualParameterFirst">
                            @Confluence.Label(Localization.GetText(""))
                        </span>
                    </td>
                    <td>
                        @Confluence.InputDropDown(null, "SearchRuleGroupFirstOperator", null, width: "100%", required: false)
                    </td>
                    <td>
                        <span id="normalDrpValues">
                            @Confluence.InputDropDownAutoComplete(
                                null,
                                "SearchRuleGroupFirstValues",
                                null,
                                width: "100%",
                                required: false,
                                buttonAction: "showAllValues",
                                showButton: true)
                            @*@Confluence.InputDropDown(null, "SearchRuleGroupFirstValues", null, width: "100%", required: false)*@
                        </span>
                        <span id="txtValues">
                            @Confluence.InputDecimal(0,"textFirstValues", required: false)
                        </span>
                        <span id="txtValuesNormalText">
                            @Confluence.InputText(null, "textNormalFirstValues", required:false)
                        </span>
                    </td>
                </tr>
                <tr data-id="2" class="hidden">
                    <td class="hide">
                            <input type="hidden" name="InstitutionIdValue" value="@*@row.InstitutionId*@" />
                    </td>
                    <td>
                        @Confluence.InputDropDown(null, "SearchRuleGroupSecondParameter", null, width: "100%", required: false)
                        <span id="IndividualParameterSecond">
                            @Confluence.Label(Localization.GetText(""))
                        </span>
                    </td>
                    <td>
                        @Confluence.InputDropDown(null, "SearchRuleGroupSecondOperator", null, width: "100%", required: false)
                    </td>
                    <td>
                        <span id="normalDrpValuesSecond">
                            @Confluence.InputDropDown(null, "SearchRuleGroupSecondValues", null, width: "100%", required: false)
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div data-pagemode="edit" class="mb20">
        <div id="btnNewParameter" class="floatRight hidden">
            @Confluence.ButtonBlue(Localization.GetText("COMMON.Add"), action: "newParam")
        </div>
    </div>
</div>

