@model IList<IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngViewModel>

@if(Model.Count > 0 || Model.Count == 0)
{
    if (Model.Count == 0)
    {
        <div id="results" class="col-md-12 mb20">@Confluence.LabelBold("0 Results")</div>
    }
    else
    {
        <div id="results" class="col-md-12 mb20">@Confluence.LabelBold(Model.Count + " Result")</div>
    }
    <div id="RuleGroupTableContent" class="tableNormal">
    <table id="RuleGroupTable" class="tableNormal endSpacing">
        <thead>
            <tr role="row">
                <th class="hide sorting_disabled"></th>
                <th class="sort">@Localization.GetText("AD.RE.Module")</th>
                <th class="sort">@Localization.GetText("MD.Management.Table.Code")</th>
                <th class="sort">@Localization.GetText("AD.RE.RuleName")</th>
                <th class="sort">@Localization.GetText("COMMON.Active")</th>
                <th class="sort">@Localization.GetText("OP.AP.Documents.Description")</th>
                <th class="sorting_disabled"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {
                <tr>
                    <td>
                        <span>
                            @Localization.GetText("No data availiable in table")
                        </span>
                    </td>
                </tr>
            }
        @foreach (var row in Model)
        {
            <tr data-id="">
                <td class="hide">
                    <input type="hidden" name="RuleEngIdValue" value="@row.RuleEngId" />
                </td>
                <td>
                    @row.Module
                </td>
                <td>
                    @Confluence.ButtonLink(
                        row.Code, 
                        htmlClass: "text-left nopadding", 
                        dataNavigation: 
                            Url.Action(
                                controllerName: "RuleEngView", 
                                actionName: "RulesCreateAndEdit", 
                                routeValues: new { idRule = row.RuleEngId, module = row.Module}))
                </td>
                <td>
                    @row.Name
                </td>
                <td>
                    @Confluence.InputCheckbox(row.IsActive, "active", "active", disabled: true)
                </td>
                <td>
                    @row.Description
                </td>
                <td>
                    @Confluence.ButtonTrash(null,"btnDelRule", "deleteRule")
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

}