@model IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngGroupViewModel

<div id="results" class="col-md-12 mb20">
    @Confluence.LabelBold((Model.RuleEng != null ? Model.RuleEng.Count : 0) + " " + Localization.GetText("OPUS.Search.Results"))
</div>
<div id="Rule" class="tableNormal">
    <table id="RuleTable" class="tableNormal endSpacing">
        <thead>
            <tr role="row">
                <th class="hide sorting_disabled"></th>
                <th class="sort" rowspan="1" colspan="1">@Localization.GetText("OP.AM.NewAttributes.Order")</th>
                <th class="sort" rowspan="1" colspan="1">@Localization.GetText("MD.Management.Table.Code")</th>
                <th class="sort" rowspan="1" colspan="1">@Localization.GetText("OP.IN.Name")</th>
                <th class="sort" rowspan="1" colspan="1">@Localization.GetText("OP.AM.Message.Result")</th>
                <th class="sort" rowspan="1" colspan="1">@Localization.GetText("COMMON.Active")</th>
                <th class="sort" rowspan="1" colspan="1">@Localization.GetText("OP.IN.SI.Priority")</th>
                <th class="hide sorting_disabled" rowspan="1" colspan="1"></th>
            </tr>
        </thead>
        @if (Model.RuleEng != null)
        {
            <tbody>
                @foreach (var row in Model.RuleEng)
                {
                    <tr data-id="">
                        <td class="hide">
                            <span data-pagemode="edit">
                                <input type="hidden" name="ruleEngIdResultValue" value="@row.RuleEngResultId" />
                            </span>
                        </td>
                        <td>
                            <span data-pagemode="read">
                                @row.Order.ToString()
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputText(row.Order.ToString(), "RuleOrder", width: "100%", required: false)
                            </span>
                        </td>
                        <td>
                            <span>
                                @row.Code
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputHidden(row.Code, "codeER")
                                @Confluence.InputHidden(row.RuleEngId.ToString(), "ruleEngIdValue")
                            </span>
                        </td>
                        <td>
                            <span>
                                @row.Name
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputHidden(row.Name, "nameER")
                                @Confluence.InputHidden(row.Description, "descriptionER")
                            </span>
                        </td>
                        <td>
                            <span>
                                @row.Result
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputHidden(row.Result, "result")
                            </span>
                        </td>
                        <td>
                            <span data-pagemode="read">
                                @Confluence.InputCheckbox(row.IsActive, "activeRead", "activeRead", disabled: true)
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputCheckbox(row.IsActive, "active", "active")
                            </span>
                        </td>
                        <td>
                            <span data-pagemode="read">
                                @row.Priority.ToString()
                            </span>
                            <span data-pagemode="edit">
                                @Confluence.InputText(row.Priority.ToString(), "RulePriority", width: "100%", required: false)
                            </span>
                        </td>
                        <td>
                            <div>
                                <span data-pagemode="edit">
                                    @Confluence.ButtonTrash(null, action: "deleteRule")
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>