@using IDB.MW.Domain.Values;

@model IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngViewModel
@{
    Layout = "~/Areas/AdministrationSecondPhase/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 mb40">
    @Confluence.Navigation(Confluence.LabelMainTitle(Localization.GetText("AD.RE.Rule")), "data")
</div>

<div class="header">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("Partials/buttonsEdit")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Confluence.LabelBold(Localization.GetText("AD.RE.Module"))
    </div>
</div>

<div class="row mb20">
    <div data-pagemode="read">
        <div class="col-md-4">
            @Confluence.Label(Model.Module)
        </div>
    </div>
    <div data-pagemode="edit">
        <div class="col-md-4">
            @Confluence.InputDropDown(Model.ModuleId.ToString(), "SearchRuleModule", ViewBag.RuleGroupModule, width: "100%", required: false)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @Confluence.LabelBold(Localization.GetText("MD.Management.Table.Code"))
    </div>
    <div class="col-md-9">
        @Confluence.LabelBold(Localization.GetText("OP.IN.Name"))
    </div>
</div>

<div class="row mb20">
    <div data-pagemode="read">
        <div class="col-md-3">
            @Confluence.Label(Model.Code)
        </div>
        <div class="col-md-9">
            @Confluence.Label(Model.Name)
        </div>
    </div>
    <div data-pagemode="edit">
        <div class="col-md-3">
            @Confluence.InputText(Model.Code, "SearchRuleCode", width: "100%", required: false)
        </div>
        <div class="col-md-9">
            @Confluence.InputText(Model.Name, "SearchRuleName", width: "100%", required: false)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        @Confluence.LabelBold(Localization.GetText("OP.AP.Documents.Description"))
    </div>
</div>
<div class="row mb20">
    <div data-pagemode="read">
        <div class="col-md-9">
            @Confluence.Label(Model.Description)
        </div>
        <div class="col-md-3">
            @Confluence.InputCheckbox(Model.IsActive, "activeRE", "activeRE", Localization.GetText("COMMON.Active"), disabled: true)
        </div>
    </div>
    <div data-pagemode="edit">
        <div class="col-md-9">
            @Confluence.InputText(Model.Description, "SearchRuleDescription", width: "100%", required: false)
        </div>
        <div class="col-md-3">
            @Confluence.InputCheckbox(Model.IsActive, "active", "active", Localization.GetText("COMMON.Active"))
        </div>
    </div>
</div>

<div data-pagemode="edit">
    <div class="row">
        <div class="col-md-5">
            @Confluence.LabelBold(Localization.GetText("AD.RE.SourceInformation"))
            <div class="mb20">
                @Confluence.InputDropDown(null, "SelectSourceInformation", ViewBag.Source, width: "100%", required: false)
            </div>
            @Confluence.LabelBold(Localization.GetText("OP.CR.CreationForm.Attributes"))
            <div class="mb20">
                @Confluence.InputDropDown(null, "SelectAttributes", null, width: "100%", required: false, disabled: true)
            </div>
        </div>
        <div class="col-md-7">
            <br />
            <div data-idb-fieldname="tblParam">
                @Html.Partial("Partials/ParamTable")
            </div>
        </div>
    </div>
</div>

<div data-idb-fieldname="tblResponsibleUnits">
    @Html.Partial("Partials/ConditionsTable", Model.RuleEngCondition)
</div>

<div class="header">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("Partials/buttonsEdit")
        </div>
    </div>
</div>