@model IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngResultViewModel

@if (Model.IsAvailable)
{
    <tr data-id="">
        <td class="hide">
            <span data-pagemode="edit">
                <input type="hidden" name="ruleEngIdResultValue" value="@Model.RuleEngResultId" />
            </span>
        </td>
        <td>
            <span data-pagemode="read">
                1
            </span>
            <span data-pagemode="edit">
                @Confluence.InputText("1", "RuleOrder", width: "100%", required: false)
            </span>
        </td>
        <td>
            @Model.Code
            <span data-pagemode="edit">
                @Confluence.InputHidden(Model.Code, "codeER")
                @Confluence.InputHidden(Model.RuleEngId.ToString(), "ruleEngIdValue")
            </span>
        </td>
        <td>
            @Model.Name
            <span data-pagemode="edit">
                @Confluence.InputHidden(Model.Name, "nameER")
                @Confluence.InputHidden(Model.Description, "descriptionER")
            </span>
        </td>
        <td>
            @Model.Result
            <span data-pagemode="edit">
                @Confluence.InputHidden(Model.Result, "result")
            </span>
        </td>
        <td>
            <span data-pagemode="read">
                @Confluence.InputCheckbox(Model.IsActive, "activeRead", "activeRead", disabled: true)
            </span>
            <span data-pagemode="edit">
                @Confluence.InputCheckbox(Model.IsActive, "active", "active")
            </span>
        </td>
        <td>
            <span data-pagemode="read">
                @Model.Priority.ToString()
            </span>
            <span data-pagemode="edit">
                @Confluence.InputText(Model.Priority.ToString(), "RulePriority", width: "100%", required: false)
            </span>
        </td>
        <td>
            <span data-pagemode="edit">
                @Confluence.ButtonTrash(null, action: "deleteRule")
            </span>
        </td>
    </tr>
}