@using IDB.MW.Domain.Values
@using IDB.Presentation.MVC4.Helpers
@model IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngGroupViewModel
@{
    var dropdownGroupRole = Model.GroupRole != null ?
        Html.BuildSelectItemList(Model.GroupRole,
            o => o.Text,
            o => o.Value).ToList() :
        new List<SelectListItem>();
}

<div id="pageContainer" class="content-expandable"
     data-parsley-validate="data-parsley-validate"
     data-url="@Url.Action("RulesGroupCreateAndEditSave", "RuleEngSave", new {area = "AdministrationSecondPhase", idGroup = Model.RuleEngGroupId})"
     data-loadurl="@Url.Action("RulesGroupCreateAndEdit", "RuleEngView", new { area = "AdministrationSecondPhase" })">
    <input type="hidden" id="hidViewModel" value="@ViewBag.SerializedViewModel" />
    <input type="hidden" id="hidSearchRuleGroupModule" value="@Model.ModuleId" />
    <div data-pagemode="edit">
        <input type="hidden" id="hidDelete" name="hidDelete" value="" />
    </div>
    <div class="header">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("Partials/buttonsEdit", false)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @Confluence.LabelBold(Localization.GetText("AD.RE.Modulo"))
        </div>
        <div class="col-md-4">
            @Confluence.LabelBold(Localization.GetText("AD.RE.GroupRule"))
        </div>
        <div class="col-md-3">
            @Confluence.LabelBold(Localization.GetText("AD.RE.Classification"))
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-3">
            @Confluence.Label(Model.Module)
        </div>
        <div class="col-md-4">
            @Confluence.Label(Model.GroupRule)
        </div>
        <div class="col-md-3">
            @Confluence.Label(Model.Classification)
        </div>
        <div class="col-md-2">
            @Confluence.InputCheckbox(Model.BreakFirst, "breakFirstREAD", "breakFirstREAD", Localization.GetText("AD.RE.BreakFirst"), disabled: true)
        </div>
    </div>

    <br />
    <div class="filterNormal mb20" name="searchInstitutionContent" data-pagemode="edit">
        <div class="row">
            <div class="col-md-2">
                @Confluence.LabelBold(Localization.GetText("MD.Management.Table.Code"))
            </div>
            <div class="col-md-8">
                @Confluence.LabelBold(Localization.GetText("OP.IN.Name"))
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="row mb20">
            <div>
                <div class="col-md-2">
                    @Confluence.InputDropDownAutoComplete(null, "SearchRuleGroupRuleCode", (List<SelectListItem>)ViewBag.RuleEngCode, required: false)
                    @Confluence.InputHidden(null, "hdSearchRuleGroupRuleCode")
                </div>
                <div class="col-md-8">
                    @Confluence.InputText(null, "SearchRuleGroupRuleNameEdit", width: "100%", required: false, isReadOnly: true)
                </div>
                <div class="col-md-2">
                    @Confluence.InputCheckbox(true, "isActive", "isActive", Localization.GetText("COMMON.Active"), labelBold: true)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                @Confluence.LabelBold(Localization.GetText("OP.AP.Documents.Description"))
            </div>
            <div class="col-md-2">
                @Confluence.LabelBold(Localization.GetText("OP.IN.SI.Priority"))
            </div>
        </div>
        <div class="row mb20">
            <div>
                <div class="col-md-10">
                    @Confluence.InputText(null, "SearchRuleGroupRuleDescription", width: "100%", required: false, isReadOnly: true)
                </div>
                <div class="col-md-2">
                    @Confluence.InputText(null, "SearchRuleGroupRulePriority", width: "100%", required: false)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                @Confluence.LabelBold(Localization.GetText("OP.AM.Message.Result"))
            </div>
        </div>
        <div class="row mb20">
            <div>
                <div class="col-md-9">
                    @Confluence.InputText(null, "SearchRuleGroupRuleResult", width: "100%", required: false)
                </div>
                <div class="col-md-1">
                    @Confluence.ButtonOption(null, "SearchResult", "newResult")
                </div>
            </div>
        </div>
        <div class="floatRight">
            @Confluence.ButtonBlue(Localization.GetText("COMMON.Add"), action: "newRule")
        </div>
    </div>

    <div id="groupRulesEdit">
        <div data-idb-fieldname="tblRuleTable">
            @Html.Partial("Partials/RuleTable")
        </div>

        <div class="header">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("Partials/buttonsEdit", false)
                </div>
            </div>
        </div>
    </div>

    <button data-id="buttonModal" class="hide"
            data-modal-allowclose="true"
            data-custom-modal="ModalContent"
            data-custom-modal-title="@Localization.GetText("OP.MD.SE.Title")"
            data-custom-modal-validate="false"
            data-custom-buttons='["cancel", "save"]'
            data-custom-button-save-id="send"
            data-custom-button-save="@Localization.GetText("OP.OD.Save")"
            data-custom-button-save-style="buttonBlue"
            data-custom-button-save-callback="setResultCode"
            data-custom-button-save-closeatend="true"
            data-custom-button-cancel-id="cancel"
            data-custom-button-cancel="@Localization.GetText("OP.OD.Cancel")"
            data-custom-button-cancel-style="buttonLink"
            data-custom-modal-closeonoverlayclick="false"></button>

    <div id="ModalContent" class="hide modalBody">
        @Html.Partial("Partials/ModalResult", Model)
    </div>
</div>

<script>
    $(document).ready(function () {
        var code = $('[name="SearchRuleGroupRuleCode_text"]')
        var keyupEvent = code.attr('onkeyup');

        if (keyupEvent != undefined && keyupEvent.length > 0)
            code.attr('onkeyup', keyupEvent + ';setCode(event);');
    });
</script>