@model IDB.MW.Application.AdministrationModule.ViewModels.RuleEngService.RuleEngGroupViewModel
<div id="testRuleModalContent" data-parsley-validate="data-parsley-validate" data-parsley-excluded="[disabled]">
    <div class="row">
        <div class="col-md-3">
            @Confluence.LabelBold(Localization.GetText("MD.Management.Table.Code"))
        </div>
        <div class="col-md-9">
            @Confluence.LabelBold(Localization.GetText("OP.IN.Name"))
        </div>
    </div>

    <div class="row mb20">
        <div>
            <div class="col-md-3">
                @Confluence.InputText(Model.Code, "ruleCode", width: "100%", disabled: true)
            </div>
            <div id="ruleName" class="col-md-6">
                @Confluence.InputText(Model.Name, "ruleName", width: "100%", disabled: true)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @Confluence.LabelBold(Localization.GetText("OP.DE.RE.Table.OperationNumber"))
        </div>
        <div class="col-md-3">
            @Confluence.LabelBold(Localization.GetText("AD.RE.TestRule.NumberRegister"))
        </div>
    </div>
    <div class="row mb20">
        <div>
            <div id="ruleDescription" class="col-md-3">
                @Confluence.InputText(null, "operationNumber", width: "100%")
            </div>
            <div class="col-md-3">
                @Confluence.InputText("10", "numberRegister", width: "100%")
            </div>
            <div data-id="headerButtons" class="text-right" data-idb-fieldname="btnEditBscDt">
                @Confluence.ButtonLink(Localization.GetText("OP.OD.Cancel"), null, "cancelTestRules")
                @Confluence.ButtonOrange(Localization.GetText("AD.RE.Test"), null, "loadRules")
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Confluence.LabelBold(Localization.GetText("AD.RE.TestRule.SQLSentences"))
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-12">
            @Confluence.InputTextArea(null, "SqlSentences", width: "100%", height:"150px", isReadOnly: true)
        </div>
    </div>

    <div id="tableTestRulesConditional">
        <div id="TestRule" class="tableNormal">
            <table id="TestRuleTable" class="tableNormal endSpacing">
                <thead>
                    <tr role="row">
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                            @Localization.GetText("AD.RE.TestRule.OperationID")
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1">
                            @Localization.GetText("OP.DE.RE.Table.OperationNumber")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Localization.GetText("No data availiable in table")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>