@model IDB.MW.Domain.Models.Architecture.ResultMatrix.Impacts.ImpactModel
@{
    ViewBag.Title = "New";
}

@using (Html.BeginForm("New", "Impacts", FormMethod.Post, new { id = "impactEditForm"}))
{
    @Html.HiddenFor(model => model.ResultsMatrixId)
    <div class="mod_contenido_central impacts">
        <section>
            <!-- Section Header-->
            <h3 class="headingh2 tipo1"><a href="javascript:void(0)" title="Impacts detail">Impacts</a></h3>
            <div class="editingButtonsEdit">
                <label for="cancel1">
                    <a href="@(Url.Action("Index", "Impacts", new { area = "ResultsMatrix", operationNumber = ViewData["operationNumber"] }))" class="cancel link12" title="@Localization.GetText("Cancel")">@Localization.GetText("Cancel")</a>
                </label>
                <label for="save1">
                    <input type="submit" class="btn-primary_2 save" value="Save" id="save_1">
                </label>
            </div>

        </section>
        <!-- End Section Header-->
        <section>
            <!-- Section Main Content-->
            <h4 class="headingh3">New Impact</h4>
            <div class="ftl w75 marginLeft4Con7">
                <fieldset>
                    <legend class="hide">verification and observations</legend>
                    <div class="custom">
                        <label class="editLabel input marginBottom2Con8" for="means">
                            <span class="dataTitle inputTitle">Statement</span>
                            @Html.TextBoxFor(model => model.Statement, new { @class = "input normal" })
                        </label>
                        <label class="editLabel input marginBottom2Con8" for="observations">
                            <span class="dataTitle inputTitle">Observations</span>
                            @Html.TextBoxFor(model => model.Observations, new { @class = "input normal" })
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="hide">verification and observations</legend>
                    <div class="custom">
                        <label class="editLabel input marginBottom2Con8" for="observations">
                            <span class="dataTitle inputTitle">Order Number</span>
                            @Html.TextBoxFor(model => model.OrderNumber, new { @class = "input normal" })
                        </label>
                    </div>
                </fieldset>
            </div>
            <!--End Dropdawn-->
        </section>
        <section>
            <!-- Section Header-->
            <div class="editingButtonsEdit">
                <label for="cancel1">
                    <a href="@(Url.Action("Index", "Impacts", new { area = "ResultsMatrix", operationNumber = ViewData["operationNumber"] }))" class="cancel link12" title="@Localization.GetText("Cancel")">@Localization.GetText("Cancel")</a>
                </label>
                <label for="save1">
                    <input type="submit" class="btn-primary_2 save" value="Save" id="save_2">
                </label>
            </div>

        </section>
        <!-- End Section Main Content-->
    </div>
}
