@using IDB.MVCControls.DataTable.Helpers

@model IDB.Presentation.MVC4.Areas.AdministrationSecondPhase.Models.AuthorizationAll.AuthorizationAllTableViewModel

<div class="hide">
    @Confluence.InputHidden(string.Join("|", Model.UnavailableDates.Select(x => string.Format("{0:dd-MM-yyyy}", x))), "unavailableDates", required: false)
    @Confluence.InputHidden(Model.IsAuthorize.ToString(), "IsAuthorizeUser", required: false)
</div>

<div class="mt20" id="tableAuthorizationAllContent">

    <table id="AuthorizationTable" class="tableNormal mb10">
        <thead>
            <tr>
                <th class="text-center"></th>
                <th class="sort">@Localization.GetText("OP.DE.SE.RE.Table.FullName")</th>
                <th class="sort">@Localization.GetText("OP.DE.SE.RE.Table.UserName")</th>
                <th class="sort">@Localization.GetText("OP.DE.SE.RE.Table.OrganizationalUnit")</th>
                <th class="sort">@Localization.GetText("OP.DE.SE.RE.Table.Country")</th>
                <th class="sort">@Localization.GetText("OP.DE.SE.RE.Table.CountryDept")</th>
                <th class="sort">@Localization.GetText("OP.DE.SE.RE.Table.Dept")</th>
                <th class="sort">@Localization.GetText("OP.DE.SE.RE.Table.Division")</th>
                <th class="sort">@Localization.GetText("OP.DE.SE.RE.Table.Global")</th>
                <th class="sort">@Localization.GetText("OP.DE.SE.RE.Table.OperationNumber")</th>
                <th class="sort col-md-3">@Localization.GetText("OP.DE.SE.RE.Table.Role")</th>
            </tr>
        </thead>
        <tbody hidden>
            @foreach (var item in Model.AuthorizationTable)
            {

                <tr data-id class="rowContent">
                    <td>
                        @Confluence.InputCheckbox(item.Status, "", disabled: true)
                    </td>
                    <td>
                        @Confluence.Label(item.FullName)
                    </td>
                    <td>
                        @Confluence.Label(item.Username)
                    </td>
                    <td>
                        @Confluence.Label(item.OrganizationalUnit)
                    </td>
                    <td>
                        @Confluence.Label(item.Country)
                    </td>
                    <td>
                        @Confluence.Label(item.CountryDepartment)
                    </td>
                    <td>
                        @Confluence.Label(item.Department)
                    </td>
                    <td>
                        @Confluence.Label(item.Division)
                    </td>
                    <td>
                        @Confluence.Label(item.Global)
                    </td>
                    <td>
                        @Confluence.Label(item.OperationNumber)
                    </td>
                    <td>
                        @Confluence.Label(item.Role)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>

<div class="col-md-12 mt20 mb30">
    <div class="pull-right">
        @Confluence.ButtonExcel("xls", "downloadAuthorizeAllFileExport", false, new Dictionary<string, string> { { "idb-fieldname", "btnXls" } }, "floatRight")
    </div>
    <div class="pull-right">
        @Confluence.ButtonPdf("pdf", "downloadAuthorizeAllFileExport", false, new Dictionary<string, string> { { "idb-fieldname", "btnPdf" } }, "floatRight")
    </div>
</div>
<script>
    function downloadAuthorizeAllFileExport(source) {
        var formatType = source.attr('name');
        var searchDelegatorName = $("#authorizeAllFilter input[name='User']").length > 0
        ? $("#authorizeAllFilter input[name='User']").val()
        : globalVariables.currentUser;
        var url =
            '@Url.Action("DownloadAuthorizeAllFileExport", "DelegationView", new {area = "AdministrationSecondPhase"})?formatType=' +
                formatType +
                '&searchDelegatorName=' +
                searchDelegatorName;
        window.open(url, '_blank');
    }
</script>