@using IDB.MW.Application.VERModule.ViewModels
@using IDB.Presentation.MVC4.Helpers

@model PolicyWaiverRowViewModel

@if (Model != null)
{
    var rand = new Random();
    var rowId = rand.Next(1000000, 3000000);

    var categoryList = Model.PolicyWaiverCategory != null &&
                       Model.PolicyWaiverCategory.DropDownSource.Any() ?
        Html.BuildSelectItemList(Model.PolicyWaiverCategory.DropDownSource,
            o => o.Item2,
            o => o.Item1).ToList() :
        new List<SelectListItem>();

    var statusList = Model.PolicyWaiverStatus != null &&
                      Model.PolicyWaiverStatus.DropDownSource.Any() ?
       Html.BuildSelectItemList(Model.PolicyWaiverStatus.DropDownSource,
           o => o.Item2,
           o => o.Item1).ToList() :
       new List<SelectListItem>();

    <tr data-id="@rowId" class="custom-odd even" role="row">
        <td class="text-center"></td>
        <td class="text-center">
            @if (Model.PolicyWaiverCategory != null)
            {
                <span data-pagemode="edit">
                    @Confluence.InputDropDown(
                   "0", Model.PolicyWaiverCategory.FieldName, categoryList, orderAsc: false)
                </span>
            }
        </td>
        <td>
            <span data-pagemode="edit">
                @Confluence.InputTextArea(
                    "",
                    Model.PolicyWaiver.FieldName,
                    placeholder: Model.PolicyWaiver.Placeholder,
                    width: "100%",
                    height: "100px",
                    maxLength: 1000)
            </span>
        </td>
        <td class="text-center">
            <span data-pagemode="edit">
                @Confluence.InputTextArea(
                    "",
                    Model.PolicyWaiverJustification.FieldName,
                    placeholder: Model.PolicyWaiverJustification.Placeholder,
                    width: "100%",
                    height: "100px",
                    maxLength: 1000)
            </span>
        </td>
        <td class="text-center"></td>
        <td class="policyStatus">
            <span data-pagemode="edit">
                @if (Model.PolicyWaiverStatus != null && Model.PolicyWaiverStatus.IntValue.GetValueOrDefault() != 0)
                {
                    @Confluence.InputHidden(
                        Model.PolicyWaiverStatus.IntValue.GetValueOrDefault().ToString(),
                        Model.PolicyWaiverStatus.FieldName)
                    @Confluence.LabelGetDropDown(Model.PolicyWaiverStatus.IntValue.ToString(), statusList)
                }
            </span>
        </td>
        <td class="text-center"></td>
        <td class="text-center">
            @Confluence.ButtonTrash("", action: "removeRowPolicy")
        </td>
    </tr>
}