@using IDB.MW.Domain.Values.Ver
@{
    var rand = new Random();
    var rowId = rand.Next(1000000, 3000000);
}

<tr data-id="@rowId">
    <td class="text-center hide">
        <span data-pagemode="edit">
            @Confluence.InputHidden("0", "IdRowTask")
            @Confluence.InputHidden("0", "NewTaskParticipantId")
            @Confluence.InputHidden("0","hddStatus")
            @Confluence.InputHidden("False", "IsExternal")
        </span>
    </td>
    <td class="verticalAlignTop">
        <span data-pagemode="edit">
            @Confluence.InputDropDown("", "activityType", (List<SelectListItem>)ViewBag.ActivityTypeList, width: "100%", orderAsc: false, htmlClassElement: "mb7")
        </span>
    </td>
   
    <td class="verticalAlignTop">
        <span data-pagemode="edit" id="roleTaskIdVer">
            @Confluence.InputDropDown("", "roleTasks", (List<SelectListItem>)ViewBag.RoleListTask, width: "200px", htmlClassElement: "mb19")
            <ul class="parsley-errors-list filled hide" id="roleTaskIdVerUl">
                <li class="parsley-required ">
                    @Localization.GetText("VER.Homepage.TabTasks.Msg.NoUserAssignedRole")
                </li>
            </ul>
        </span>
    </td>
    <td class="CurrentRowParticipant verticalAlignTop "></td>
    <td class="verticalAlignTop">
        <span data-pagemode="edit">
            @Confluence.InputDatePicker(null, "dueDate", width: "100%", htmlClass: "mb1")
        </span>
    </td>
    <td class="verticalAlignTop">
        <span data-pagemode="edit">
            @Confluence.LabelGetDate(null)
        </span>
    </td>
    <td class="dataStatus">
        @Confluence.Label(string.Empty, new Dictionary<string, string> { { "label-status", VerGlobalValues.UNSENT_STATUS } })

    </td>
    <td class="verticalAlignTop">
        @Confluence.ListHelpers(new List<HelperResult>()
            {
                Confluence.ButtonMailSend(null, "taskSend", "sendTask"),
                Confluence.ButtonMail(null, "btnSendMail", action: "email", clase: "hide"),
                Confluence.ButtonTrash("", "trashTask", "removeRowTask")

            })
    </td>
    <td data-pagemode="edit" class="text-center verticalAlignTop rowShow">
        @Confluence.InputCheckbox(false, "chkNotify", htmlClass: "mt15")
        @Confluence.ButtonShowRow(true)
    </td>
</tr>
<tr data-row-parent-id="@rowId" id="rowNewInstruction" data-persist="true" class="template even showChildRow" name="rowNewInstruction">
    <td class="custom-detail-table-row" colspan="8">
        @Confluence.LabelsGroup(Localization.GetText("VER.GLOBAL.Instructions"),
            Confluence.Label(""),
            Confluence.InputTextArea("", "txtInstrunctions", "txtInfo", width: "100%", height: "100px", maxLength: 250)
            )
    </td>
</tr>
