@using IDB.MW.Application.VERModule.ViewModels

@model TaskTableViewModel
    @{
    foreach (var task in Model.Tasks)
    {
        <tr data-id=@task.TaskId>
            <td class="text-center hide">
                <span data-pagemode="edit">
                    @Confluence.InputHidden(task.TaskId.ToString(), "IdRowTask")
                </span>
            </td>
            <td>
                <span data-pagemode="edit">
                    @Confluence.InputDropDown("", "activityType", (List<SelectListItem>) ViewBag.ActivityTypeList, width: "100%", orderAsc: false)
                </span>
            </td>
            <td>
                <span data-pagemode="edit">
                    @Confluence.InputTextArea(task.Description, "description", width: "100%")
                </span>
            </td>
            <td>
                <span data-pagemode="edit">
                    @Confluence.InputDropDown(task.Role.ToString(), "roleTasks", (List<SelectListItem>) ViewBag.RoleListTask)
                </span>
            </td>
            <td class="CurrentRowParticipant"></td>
            <td>
                <span data-pagemode="edit">
                    @Confluence.InputDatePicker(task.DueDate, "dueDate")
                </span>
            </td>
        </tr>
    }
}

