@using System.Web.Mvc.Html
@using IDB.Architecture.Language
@using System.Configuration
@using IDB.Presentation.MVC4.Areas.PACI.Models
@model ReportViewModel

@{
    Layout = null;
}
<script type="text/javascript">
    var operationNumber = '@Model.OperationNumber';
    var basePath = '@ConfigurationManager.AppSettings.Get("BasePath")';
    var isAllEvaluated = @Model.IsAllEvaluated.ToString().ToLower();
</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/PACI/app.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Modules/PACI/report.js")"></script>

<link href="@Url.Content("~/Content/Modules/PACI/paci.css")" rel="stylesheet" />

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <script type="text/javascript">
            showError('@Model.ErrorMessage');
    </script>
}

<div class="padding20">
    <div class="col-md-12">
        <h2 class="titlePrincipal">@Localization.GetText("PACI.REPORT.TITLE")</h2>
    </div>

    <div id="main_section_paci_report" class="col-md-12 pl0">
        @if (Model.IsEdit)
        {
            Html.RenderPartial("~/Areas/PACI/Views/Partials/ReportEdit.cshtml", Model);
        }
        else
        {
            Html.RenderPartial("~/Areas/PACI/Views/Partials/ReportView.cshtml", Model);
        }

        
    </div>
</div>