@{
    Layout = "~/Areas/AdministrationSecondPhase/Views/Shared/_Layout.cshtml";
}
@(Html.Hidden(
    "url-eop-recalculation-async", 
    Url.Action("EOPRecalculation", "EOPRecalculation")))
@(Html.Hidden(
    "translation-eop-recalculation-wrn-popup",
    Localization.GetText("AdminPanel.PMRAdmin.EOPRECalculation.Popup.Warning")))
<div class="row">
    <div class="col-md-4">
        @Confluence.LabelMainTitle(Localization.GetText("AdminPanel.PMRAdmin.EOPRECalculation.Title"))
    </div>
</div>
<div class="row">
    <div class="col-md-6 subtitle-eop-recalculation">
        @(Confluence.LabelSubTitleGroup(
            Localization.GetText("AdminPanel.PMRAdmin.EOPRECalculation.Subtitle")))
    </div>
</div>
<div class="row">
    <div class="col-md-4 btn-eop-recalculate">
        @(Confluence.ButtonOrange(
            Localization.GetText("AdminPanel.PMRAdmin.EOPRECalculation.Recalculate.Btn"),
            "btn-recalculate-name"))
    </div>
</div>

