@using IDB.MW.Application.OverviewModule.ViewModels
@using IDB.Presentation.MVC4.Areas.Overview.Models
@model IDB.MW.Domain.Models.Architecture.Overview.ViewModel.OperationOverviewModel

<div class="groupColumn col-md-4">
    <div class="mb10">
        <a class="link" href="@Url.Action("Index", "activityplan", new {area = "casemanager", Operation = ViewBag.OperationNUmber})">@Confluence.LabelTitleGroup(Localization.GetText("Overview.EventsData"))</a>
    </div>

    @foreach (var data in (List<EventDataViewModels>)ViewBag.EventData)
    {
        <div class="col-md-12">
            <div class="col-md-6 lblcontent">
                @Localization.GetText(data.Name)
            </div>
            @if (data.Code.Equals(OverviewConstants.CUMULATIVE_EXTENSIONS))
            {
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelBold(data.Value)
                </div>
            }
            else
            {
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelGetDate(data.Date, true)
                </div>
            }
        </div>
    }
    
    <div class="mb20">&nbsp;</div>
        @Html.Partial("Partials/TimeAndLaborData", Model)
</div>
