@model IDB.MW.Domain.Models.Architecture.Overview.ViewModel.OperationOverviewModel

<div class="row">
    <div class="grouping-section">
        <div class="groupColumn col-md-12">
            <div class="col-md-12">
                <label class="lbltitle">@Localization.GetText("Overview.FinancialData")</label>
            </div>
        </div>

        <div class="groupColumn col-md-4">
            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Confluence.Label(Localization.GetText("Overview.OriginalIDB"), tooltip: Localization.GetText("Overview.OriginalIDB.OriginalApprovedAmount"))
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelDecimal(Model.BasicData.OriginalIDB, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("Overview.TotalCurrentIDB")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelDecimal(Model.BasicData.TotalCurrentIDB, true)
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 lblcontent">
                    @Localization.GetText("Overview.CoFinancing")
                </div>
                <div class="col-md-6 lblvalue">
                    @Confluence.LabelDecimal(Model.BasicData.Cofinancing, true) 
                </div>
            </div>
        </div>

        @if (ViewBag.IsAppr == true)
        {
            <div class="groupColumn col-md-4">
                <div class="col-md-12">
                    <div class="col-md-6 lblcontent">
                        @Localization.GetText("Overview.DisbursementAmountToDate")
                    </div>
                    <div class="col-md-6 lblvalue">
                        @Confluence.LabelDecimal(Model.BasicData.DisbursedToDate, true)
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6 lblcontent">
                        @Localization.GetText("Overview.PercentageDisbursed")
                    </div>
                    <div class="col-md-6 lblvalue">
                        @Confluence.LabelDecimalPercent(Model.BasicData.DistursedPercentage, true)

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6 lblcontent">
                        @Confluence.Label(Localization.GetText("Overview.UndisbursedBalance"), tooltip: Localization.GetText("Overview.UndisbursedBalance.AvailableBalance"))
                    </div>
                    <div class="col-md-6 lblvalue">
                        @Confluence.LabelDecimal(Model.BasicData.Balance, true)
                    </div>
                </div>
            </div>
        }
    </div>
</div>