@model IDB.MW.Domain.Models.Architecture.Overview.ViewModel.OperationOverviewModel
@using IDB.MW.Application.OverviewModule.ViewModels
@{
    var operations = (List<OverviewRelatedViewModels>)ViewBag.operationRelated;
}

<div class="row">
    <div class="grouping-section">
        <div class="groupColumn col-md-12">
            <div class="col-md-12">
                <label class="lbltitle">@Localization.GetText("Overview.GeneralInformation")</label>
            </div>
        </div>
        <div class="groupColumn col-md-4">
            <div class="col-md-12 lblcontent">
                @Localization.GetText("Overview.OperationType")
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.BasicData.OperationType)
            </div>

            @if (operations.Count > 0)
            {
                <div class="col-md-12 lblcontent">
                    @Localization.GetText("Overview.OperationsRelated")
                </div>
                <div class="col-md-12 lblvalue">
                    @foreach (var op in operations)
                    {
                        @Confluence.LabelBold(op.OperationNumber, tooltip: op.Rol + " - " + op.TypeRelated, htmlClass: "mr5")
                    }
                </div>
            }
        </div>
        <div class="groupColumn col-md-4">
            <div class="col-md-12 lblcontent">
                @Localization.GetText("Overview.Responsible")
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.BasicData.Responsible)
            </div>

            <div class="col-md-12 lblcontent">
                @Localization.GetText("Overview.Country")
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.BasicData.Country)
            </div>
        </div>
        <div class="groupColumn col-md-4">
            <div class="col-md-12 lblcontent">
                @Localization.GetText("Overview.Sector")
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.BasicData.Sector)
            </div>

            <div class="col-md-12 lblcontent">
                @Localization.GetText("Overview.ExecutingAgency")
            </div>
            <div class="col-md-12 lblvalue">
                @Confluence.LabelBold(Model.BasicData.ExcecutingAgency)
            </div>
        </div>
    </div>
</div>