@model IDB.MW.Domain.Models.Architecture.Overview.ViewModel.OperationOverviewModel

<div class="groupColumn col-md-7">
    <div class="mb10">
        @Confluence.LabelTitleGroup(Localization.GetText("Overview.OperationTeam"))
    </div>

    <div class="col-md-12">
        <div class="contentFloats">
            @if (Model.TeamMember.Count > 0)
            {
                int MaxBox = 6;
                for (int i = 0; i < Model.TeamMember.Count; i++)
                {
                    if (i < MaxBox)
                    {
                        @Confluence.BoxUserSimple(Model.TeamMember[i].Name, Model.TeamMember[i].Email, Localization.GetText(Model.TeamMember[i].Role))
                    }
                    else
                    {
                        break;
                    }
                }
            }
            else
            {
                @Confluence.BoxUserSimple(Localization.GetText("Overview.NoTeamMembers"), null)
            }
        </div>
        <p>
            <a data-action="operationTeam" class="allTeam pointer link">@Localization.GetText("View all team")</a>
            
            <div id="divVerifyContent" class="hide">
                <button data-id="buttonVerifyContent" class="hide"
                        data-action="operationTeam"
                        data-url="@(Url.Action("IndexTeamMembers", "Overview", new
                              {
                                  area = "Overview",
                                  OperationId = Model.OperationID
                              }))"
                        data-modal-allowclose="true"
                        data-custom-modal="verifyContentModal"
                        data-custom-modal-title="@Localization.GetText("Operation Team Members")"
                        data-custom-modal-validate="false"
                        data-custom-modal-closeonoverlayclick="false"></button>

                <div id="verifyContentModal" class="hide modalBody operationTeamModal"></div>
            </div>
        </p>
    </div>
</div>