@model IDB.MW.Domain.Models.Architecture.Overview.ViewModel.OperationOverviewModel

<div class="col-md-12">
    <div class="mb10">
        @Confluence.LabelTitleGroup(Localization.GetText("Overview.TimeLaborData"))
    </div>
    <p>@Localization.GetText("Dashboard Description")</p>
    <p class="pt15">
        <a class="linkdashboard link" href="@String.Concat(System.Configuration.ConfigurationManager.AppSettings["DashBoardServer"], "Product.aspx?a=", System.Configuration.ConfigurationManager.AppSettings["DashBoardParameterA"], "&oper=", IDBContext.Current.Operation)" title="@Localization.GetText("Dashboard Link")" target="_blank">
            @Localization.GetText("Dashboard Link")
        </a>
    </p>
</div>