@using IDB.MVCControls.General.Helpers
@using IDB.Presentation.MVC4.Helpers
<div class="filterNormal">
    <div class="row row-header">
        <div class="col-mod-6">
            @Localization.GetText("OP.RP.ControlInformation.Page").HtmlEncode()
            @Confluence.InputDropDown(null, "SearchCIPage", (List<SelectListItem>) ViewBag.getName, width: "50%")
        </div>
        <div class="col-mod-6">
            @Localization.GetText("OP.RP.ControlInformation.Country").HtmlEncode()
            @Confluence.InputDropDownMulti("SearchCICountry", (List<MultiSelectListItem>) ViewBag.Country, width: "40%")
        </div>
    </div>
    <div class="row row-header">
        <div class="col-mod-6">
            @Localization.GetText("OP.RP.ControlInformation.Division").HtmlEncode()
            @Confluence.InputDropDownMulti("SearchCIDivision", (List<MultiSelectListItem>) ViewBag.Division, width: "78%", required: false)
        </div>
        <div class="col-mod-6">
            @Localization.GetText("OP.RP.ControlInformation.OperationType").HtmlEncode()
            @Confluence.InputDropDownMulti("SearchCIOperationType", (List<MultiSelectListItem>) ViewBag.OperationType, width: "78%", required: false)
        </div>
    </div>
    <div class="row row-header">
        <div class="col-mod-6">
            @Localization.GetText("OP.RP.ControlInformation.Division").HtmlEncode()
            @Confluence.InputDropDownMulti("SearchCIDivision", (List<MultiSelectListItem>) ViewBag.Division, width: "78%", required: false)
        </div>
    </div>-
    <div class="row row-footer">
        <table id="tabla01" class="tableNormal">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Hidden</th>
                    <th>Read Only</th>
                    <th>Requied</th>
                </tr>
            </thead>
            <tbody>
                <tr data-id="">
                    <td>@Confluence.InputDropDown(null, "dropdown", (List<SelectListItem>)ViewBag.ListItem)</td>
                    <td>@Confluence.InputCheckbox(false, "soyuncheck", "check1", "texto", labelBold: true)</td>
                    <td>@Confluence.InputCheckbox(false, "soyuncheck", "check1", "texto", labelBold: true)</td>
                    <td>@Confluence.InputCheckbox(false, "soyuncheck", "check1", "texto", labelBold: true)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

