@using IDB.Architecture.Language

<div data-id-selector="add-form">
    <div class="row">
        <div class="col-md-12">
            <div class="modalContent" data-id="modalContent" data-parsley-validate="data-parsley-validate" data-parsley-excluded="[disabled]">
                <div class="row row-body-40">
                    <div class="col-md-12" style="padding-top:25px;">
                        <div class="col-md-4 contentImageData">
                            <div style="width:200px;height:200px;padding-left:25px;">
                                <img id="imgMediaFile" src="@Globals.GetSetting("BasePath")/Content/images/image-blank.png" class="imagePreview" /><br />
                            </div>
                            <div class="col-md-12 margintop5percent padding0">
                                <div class="col-md-6 colFormLabel">@Confluence.Label(Localization.GetText("MediaFile.Label.Date"))</div>
                                <div class="col-md-6 padding0">@Confluence.InputDatePicker(null, "Date", required: false, disabled: !ViewBag.WriteRole)</div>
                            </div>
                            <div class="col-md-12 padding0 margintop2percent">
                                <div class="col-md-6 colFormLabel">@Confluence.Label(Localization.GetText("MediaFile.Label.Lat"))</div>
                                <div class="col-md-6 padding0">@Confluence.InputDecimalNegative(null, name: "Latitud", minValue: "-90.00000000000000", maxValue: "90.00000000000000", disabled: !ViewBag.WriteRole, dataAttributes: new Dictionary<string, string> { { "input", "decimal" }, { "parsley-rangeValueGeography", "true" } }, required: false)</div>
                            </div>
                            <div class="col-md-12 padding0 margintop2percent">
                                <div class="col-md-6 colFormLabel">@Confluence.Label(Localization.GetText("MediaFile.Label.Lon"))</div>
                                <div class="col-md-6 padding0">@Confluence.InputDecimalNegative(null, name: "Longitud", minValue: "-90.00000000000000", maxValue: "90.00000000000000", disabled: !ViewBag.WriteRole, dataAttributes: new Dictionary<string, string> { { "input", "decimal" }, { "parsley-rangeValueGeography", "true" } }, required: false)</div>
                            </div>
                        </div>
                        <div class="col-md-8 contentFormData">
                            <div class="col-md-12">
                                <div class="LabelsGroup">
                                    <label class="lgTit">@Localization.GetText("MediaFile.Label.FileName")<span class="asteriskColor">*</span></label>
                                    @Confluence.InputFile("fileMedia", dataAttributes:
                                     new Dictionary<string, string> { { "parsley-formatdocumentmedia", "true" } },
                                     required: true, width: "480px", disabled: !ViewBag.WriteRole)
                                </div>

                            </div>
                            <div class="col-md-12">
                                @Confluence.LabelsGroup(Localization.GetText("MediaFile.Label.Caption"), contentAlways: Confluence.InputText(string.Empty, "Caption", width: "100%", required: true, disabled: !ViewBag.WriteRole), asterisk: true)
                            </div>
                            <div class="col-md-12 margintop1percent">
                                @Confluence.LabelsGroup(Localization.GetText("MediaFile.Label.Description"), contentAlways: Confluence.InputText(string.Empty, "Description", width: "100%", required: false, disabled: !ViewBag.WriteRole), asterisk: false)
                            </div>
                            <div class="col-md-12 margintop1percent">
                                @Confluence.LabelsGroup(Localization.GetText("MediaFile.Label.LocationDescription"), contentAlways: Confluence.InputText(string.Empty, "LocationDescription", width: "100%", required: false, disabled: !ViewBag.WriteRole), asterisk: false)
                            </div>
                            @Confluence.InputText(string.Empty, "MediaId", htmlClass: "hide", required: false)
                            @Confluence.InputText(string.Empty, "OperationNumberValue", htmlClass: "hide", required: false)
                        </div>
                    </div>
                </div>
                @if (ViewBag.WriteRole)
                {
                    <div class="contentFooter">
                        <div style="margin-right:20px;">
                            @Confluence.ButtonLink(Localization.GetText("MediaGallery.Button.Cancel"), dataAttributes: new Dictionary<string, string>() { { "data-id", "cancelButton" } }, name: "cancel", action: "cancelAttach")
                            @Confluence.ButtonBlue(Localization.GetText("MediaGallery.Button.Save"), dataAttributes: new Dictionary<string, string>() { { "data-id", "attachButton" } }, action: "submitAttachAddMediaFile", name: "Attach")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>