@using Newtonsoft.Json
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Application.MediaGalleryModule.ViewModels.MediaGallery
@using IDB.MW.Infrastructure.Configuration

@model ListMediaFileViewModel


@{
    var elementsForPage = int.Parse(ConfigurationServiceFactory.Current.GetApplicationSettings().NumberMaxPaginableMediaGallery);
    var maxPageNumberToShow = int.Parse(ConfigurationServiceFactory.Current.GetApplicationSettings().NumberMaxPaginableMediaGallery);
    var numberPages = Math.Ceiling(Model.TotalElements / (double) elementsForPage);
}



<div class="document-result-region" data-id-selector="search-form-results">
    <div data-id-selector="result-container-main" class="result-container-main">
        <div style="margin-bottom:20px;">
            @Confluence.LabelBold(Model.TotalElements.ToString() 
            +" "
            + @Localization.GetText("MediaGallery.Results"))
        </div>
        <div data-id-selector="documents-container" class="mediaGallery-container">
            @Html.Partial("Partials/ResultNavigationFilterMediaFPartial", Model)
        </div>
        @if(Model.TotalElements > 0)
        {
            <div class="row margintop5percent">
                <div class="col-md-12">
                    <div class="Pagination clickable" style="text-align:right;">

                        <div data-pagenumber="Prev" class="Pagination_Text Pagination_Prev NoActive">Prev</div>
                        @if(numberPages > maxPageNumberToShow)
                        {
                            <div data-pagenumber="First" class="Pagination_Text Pagination_Points hide">...</div>
                        }

                        @for(var i = 1; i <= numberPages; i++)
                        {
                            var cssClass = string.Empty;
                            if(i == 1)
                            {
                                cssClass = "Pagination_Active";
                            }
                            else if(i > maxPageNumberToShow)
                            {
                                cssClass = "hide";
                            }
                            <div data-pagenumber="@i" class="Pagination_Number @cssClass">@i</div>
                        }

                        @if(numberPages > maxPageNumberToShow)
                        {
                            <div data-pagenumber="Last" class="Pagination_Text Pagination_Points NoActive">...</div>
                        }

                        <div data-pagenumber="Next" class="Pagination_Text Pagination_Next">Next</div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
