@using Newtonsoft.Json
@using IDB.Presentation.MVC4.Helpers
@using IDB.MVCControls.General.Helpers
@using IDB.Architecture.Language
@using IDB.MW.Application.MediaGalleryModule.ViewModels.MediaGallery

@model ListMediaFileViewModel


<div data-page="@(Model.NumberPage+1)" >

    @foreach (var documentMedia in Model.MediaFileList)
    {
        <div class="documentMedia-box " data-id="selectableMediaDocument" data-id-selector="@documentMedia.MediaId" data-json="@JsonConvert.SerializeObject(documentMedia, Formatting.None)">
            <div name="editDocumentMedia" class="editCheck hide"></div>
            <div class="contentMediaImage"><img class="imgMediaDocument" src="@documentMedia.MediaUrl" /></div>
            <div class="documentMediaGalleryDescription">@documentMedia.OperationNumberValue - @documentMedia.Caption - @documentMedia.Description</div>
        </div>
    }
</div>
