@using IDB.MW.Application.VMRModule.ViewModels
@using IDB.Presentation.MVC4.Helpers

@model VmrNewCommentViewModel

@{ 
    var topicList = Model.NewComment != null ?
            Html.BuildSelectItemList(Model.NewComment.DropDownSource,
                o => o.Item1,
                o => o.Item2).ToList() :
            new List<SelectListItem>();
}

<div class="col-md-12 mb20 mt30" id="newCommentSection" data-parsley-validate="data-parsley-validate">
    <div class="mb15">
        <div class="col-md-12">
            <div class="row">
                @Confluence.LabelSubTitleGroup(Model.TitleSection)
            </div>
        </div>
    </div>
    <div class="mb15">
        @Confluence.InputDropDown(null, "ddlTopicList", topicList, width: "100%", showEmptyOption: false, orderAsc: false)
    </div>
    <div class="text-left">
        @Confluence.InputTextArea("",
            "txtComment",
            maxLength: Model.CommentText.MaxLength,
            required: true,
            width: "100%",
            rows: 4,
            placeholder: Model.CommentText.Placeholder,
             dataAttributes: new Dictionary<string, string> {
                 { "resize", "vertical"},
                 { "noComment", Model.IsNoComment.ToString().ToLower()},
                 { "msgSave", Model.MsgSaveComment}
             })
    </div>
    <div class="mb20 mt10">
        @Confluence.ButtonLink(Localization.GetText("VMR.MM.MeetingRoom.Cancel"), null, "resetNewComment")
        @Confluence.ButtonOrange(Localization.GetText("VMR.MM.MeetingRoom.Save"), null, "saveNewComment")
    </div>
</div>