@using IDB.MW.Application.VMRModule.ViewModels
@using IDB.Presentation.MVC4.Helpers
@model VmrFilterCommentsViewModel

    @{
        var topicList = Model.TopicFilterComment != null ?
            Html.BuildSelectItemList(Model.TopicFilterComment,
                o => o.Text,
                o => o.Value).ToList() :
            new List<SelectListItem>();
        var orgUnitList = Model.OrganizationalUnitComment != null ?
            Html.BuildSelectItemList(Model.OrganizationalUnitComment,
                o => o.Text,
                o => o.Value).ToList() :
            new List<SelectListItem>();
        var userNameList = Model.FullnameFilterComment != null ?
            Html.BuildSelectItemList(Model.FullnameFilterComment,
                o => o.Text,
                o => o.Value).ToList() :
            new List<SelectListItem>();
        var commTypeList = Model.CommentTypeFilterComment != null ?
                    Html.BuildSelectItemList(Model.CommentTypeFilterComment,
                        o => o.Text,
                o => o.Value).ToList() :
                    new List<SelectListItem>();
        var orderByList = Model.OrderByComment != null ?
                    Html.BuildSelectItemList(Model.OrderByComment,
                        o => o.Text,
                o => o.Value).ToList() :
                    new List<SelectListItem>();

        bool checkMyComment = Model.IsOnlyMycomment || Model.IsCheckMyComment;
    }

<div class="col-md-12 mb20 mt20">
    <div class="filterNormal mb20" name="searchComment">
        <div class="row mb10">
            <div class="col-md-3 mt25">
                @Confluence.InputCheckbox(
                    checkMyComment,
                    "chkMycomment",
                    disabled: Model.IsOnlyMycomment,
                    label: Localization.GetText("VMR.MM.MeetingRoom.TabComments.MyComment"),
                    dataAttributes: new Dictionary<string, string> {{"default-value", checkMyComment.ToString().ToLower()}})
            </div>
            <div class="col-md-3">
                @Confluence.LabelsGroup(Localization.GetText("VMR.MM.MeetingRoom.TabComments.Topic"),
                    Confluence.InputSelectDropDownAutoComplete(Model.TopicFilterSelected != null ? Model.TopicFilterSelected.Value : null, 
                    "txtTopicFilter", topicList, textSelected: Model.TopicFilterSelected != null ? Model.TopicFilterSelected.Text : string.Empty, 
                    width: "100%", required: false), false)
            </div>
            <div class="col-md-3">
                @Confluence.LabelsGroup(Localization.GetText("Organizational Unit"),
                    Confluence.InputSelectDropDownAutoComplete(Model.OrganizationalUnitSelected != null ? Model.OrganizationalUnitSelected.Value : null,
                    "txtOrgUnitFilter", orgUnitList, textSelected: Model.OrganizationalUnitSelected != null ? Model.OrganizationalUnitSelected.Text : string.Empty,
                    width: "100%", disabled: checkMyComment, required: false), false)
            </div>
            <div class="col-md-3">
                @Confluence.LabelsGroup(Localization.GetText("User Name"),
                    Confluence.InputSelectDropDownAutoComplete(Model.FullNameSelected != null ? Model.FullNameSelected.Value : null,
                    "txtUserNameFilter", userNameList, textSelected: Model.FullNameSelected != null ? Model.FullNameSelected.Text : string.Empty,
                    width: "100%", disabled: checkMyComment, required: false), false)
            </div>
        </div>
        <div class="row">
            @if (Model.IsVisibleCommentTypeFilter)
            {
                <div class="col-md-3">
                    @Confluence.LabelsGroup(Localization.GetText("VMR.MM.MeetingRoom.TabComments.CommentType"),
                        Confluence.InputDropDown(Model.CommentTypeSelected != null ? Model.CommentTypeSelected.Value : null,
                        "cmbCommentTypeFilter", commTypeList, width: "100%", required: false, placeholder: null, orderAsc: false), false)
                </div>
            }
            <div class="col-md-3">
                @Confluence.LabelsGroup(Localization.GetText("VMR.MM.MeetingRoom.TabComments.OrderBy"),
                    Confluence.InputDropDown("1", "cmbOrderByFilter", orderByList, width: "100%", required: false, placeholder: null, showEmptyOption: false), false)
            </div>
            <div class="col-md-3">
                <div class="col-md-6 pl0">
                    @Confluence.LabelsGroup(Localization.GetText("VMR.MM.MeetingRoom.TabComments.From"),
                        Confluence.InputDatePicker(
                            Model.DateFrom,
                            "dateFromFilter",
                            required: false,
                            expReg: null,
                            htmlClass: "own-datepicker calendar",
                            format: "dd/MM/yyyy",
                            disabled: false,
                            width: "100%",
                            placeholder: Localization.GetText("VMR.MM.MeetingRoom.TabComments.From")),
                            false)
                </div>
                <div class="col-md-6 pr0">
                    @Confluence.LabelsGroup(Localization.GetText("VMR.MM.MeetingRoom.TabComments.To"),
                        Confluence.InputDatePicker(
                            Model.DateTo,
                            "dateToFilter",
                            required: false,
                            expReg: null,
                            htmlClass: "own-datepicker calendar",
                            format: "dd/MM/yyyy",
                            disabled: false,
                            width: "100%",
                            placeholder: Localization.GetText("VMR.MM.MeetingRoom.TabComments.To"))
                            , false)
                </div>
            </div>
            <div class="col-md-3 pt15 pull-right">
                <div class="col-md-6 pl0 pr5">
                    @Confluence.ButtonBlue(Localization.GetText("Common.ClearAll"), action: "resetFilterComment", width: "100%")
                </div>
                <div class="col-md-6 pl5 pr0">
                    @Confluence.ButtonBlue(Localization.GetText("OP.IN.Filter"), action: "filterComment", width: "100%")
                </div>
            </div>
        </div>
    </div>
</div>